Repository ceph/ceph, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ceph/dashboard, @ceph/orchestrators, @ceph/rook, @ceph/ceph-volume, @ceph/crimson, @ceph/doc-writers, @ceph/core, @ceph/rbd, @ceph/rgw

common/SloppyCRCMap: use the erase() return value
  src/common/SloppyCRCMap.cc
Owners: none

msg/async/ProtocolV2: eliminate redundant std::map lookups
  src/msg/async/ProtocolV1.cc
  src/msg/async/ProtocolV2.cc
Owners: @ceph/core

msg/async/AsyncConnection: do not wrap writeCallback in `std::optional`
  src/msg/async/AsyncConnection.cc
  src/msg/async/AsyncConnection.h
  src/msg/async/ProtocolV1.cc
  src/msg/async/ProtocolV2.cc
Owners: @ceph/core

common/HeartbeatMap: pass name as rvalue reference
  src/common/HeartbeatMap.cc
  src/common/HeartbeatMap.h
Owners: none

mds/Beacon: set a thread name
  src/mds/Beacon.cc
Owners: none

doc/dev: add walkthrough for CephFS kernel development
  doc/dev/kclient.rst
Owners: @ceph/doc-writers

mgr/dashboard: Removing duplicate cephfs constant file & importing correct default_subvolumegroup.
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cephfs/cephfs-snapshotschedule-form/cephfs-snapshotschedule-form.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cephfs/cephfs-subvolume-list/cephfs-subvolume-list.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cephfs/cephfs-subvolume-snapshots-list/cephfs-subvolume-snapshots-list.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/constants/cephfs.ts
Owners: @ceph/dashboard

common/config: use emplace_back() instead of push_back()
  src/common/config.cc
Owners: none

common/ceph_context: use std::atomic<std::shared_ptr<T>>
  src/common/ceph_context.h
Owners: none

RGW|Bucket notification: fix for v2 topics rgw-admin list operation
  src/rgw/rgw_admin.cc
  src/rgw/rgw_pubsub.cc
  src/rgw/rgw_pubsub.h
  src/rgw/rgw_rest_pubsub.cc
  src/test/rgw/bucket_notification/test_bn.py
Owners: @ceph/rgw

msg/async/ProtocolV[12]: use `auto`
  src/msg/async/ProtocolV1.cc
Owners: @ceph/core

msg/async/ProtocolV[12]: use range-based `for`
  src/msg/async/ProtocolV1.cc
  src/msg/async/ProtocolV2.cc
Owners: @ceph/core

Add multi-cluster support (showMultiCluster=True) to alerts
  monitoring/ceph-mixin/prometheus_alerts.libsonnet
  monitoring/ceph-mixin/prometheus_alerts.yml
  monitoring/ceph-mixin/tests_alerts/test_alerts.yml
  monitoring/ceph-mixin/tox.ini
Owners: @ceph/dashboard

msg/async/frames_v2: use zero-initialization instead of memset()
  src/msg/async/frames_v2.cc
Owners: @ceph/core

msg/Message: use zero-initialization instead of memset()
  src/msg/Message.h
Owners: @ceph/core

common: disable `boost::intrusive::constant_time_size`
  src/common/LRUSet.h
  src/common/TrackedOp.h
  src/common/intrusive_lru.h
Owners: none

common/config_obs_mgr: use the erase() return value
  src/common/config_obs_mgr.h
Owners: none

common/io_exerciser: Add assertion on failure of IO validation
  src/common/io_exerciser/RadosIo.cc
Owners: none

qa/cephadm: wait a bit before checking rgw daemons upgraded w/ `ceph versions`
  qa/suites/orch/cephadm/upgrade/3-upgrade/staggered.yaml
Owners: @ceph/orchestrators

msg/async/ProtocolV1: use zero-initialization instead of memset()
  src/msg/async/ProtocolV1.cc
Owners: @ceph/core

test/osd: Add interactive mode to ceph_test_rados_io_sequence
  src/test/osd/ceph_test_rados_io_sequence.cc
  src/test/osd/ceph_test_rados_io_sequence.h
Owners: @ceph/core

msg/async/ProtocolV[12]: reverse the std::map sort order
  src/msg/async/ProtocolV1.cc
  src/msg/async/ProtocolV1.h
  src/msg/async/ProtocolV2.cc
  src/msg/async/ProtocolV2.h
Owners: @ceph/core

msg/async/AsyncConnection: move the writeCallback instead of copying it
  src/msg/async/AsyncConnection.cc
Owners: @ceph/core

msg/async/Event: use zero-initialization instead of memset()
  src/msg/async/Event.h
Owners: @ceph/core

common/config: use libfmt to build strings
  src/common/config.cc
Owners: none

common/options: pass name as rvalue reference
  src/common/options.h
  src/mon/ConfigMap.cc
  src/mon/MgrMonitor.cc
Owners: @ceph/core

mds/MDCache: pass iterator by value
  src/mds/MDCache.cc
  src/mds/MDCache.h
Owners: none

mds/CDir: use the erase() return value
  src/mds/CDir.cc
Owners: none

common/Finisher: call logger without holding the lock
  src/common/Finisher.h
Owners: none

mgr/ActivePyModule: build thread name with fmt
  src/mgr/ActivePyModule.h
Owners: @ceph/core

common/Finisher: add `const` to several fields
  src/common/Finisher.h
Owners: none

common/Finisher: use `std::lock_guard` instead of `std::unique_lock`
  src/common/Finisher.cc
  src/common/Finisher.h
Owners: none

mds/MDCache: use `auto`
  src/mds/MDCache.cc
Owners: none

common/Finisher: un-inline ctor and dtor
  src/common/Finisher.cc
  src/common/Finisher.h
Owners: none

common/Finisher: merge all queue() container methods into one template
  src/common/Finisher.h
Owners: none

common/Finisher: call notify_one() instead of notify_all()
  src/common/Finisher.cc
  src/common/Finisher.h
Owners: none

msg/async/ProtocolV2: pass `desc` as `std::string_view` to write()
  src/msg/async/ProtocolV2.cc
  src/msg/async/ProtocolV2.h
Owners: @ceph/core

common/Finisher: use fmt to build strings
  src/common/Finisher.cc
Owners: none

doc/cephadm: correct "ceph orch apply" command
  doc/cephadm/services/smb.rst
Owners: @ceph/doc-writers

kv/RocksDBStore: Add admin command to retrieve stats/performance
  src/kv/CMakeLists.txt
  src/kv/RocksDBStore.cc
  src/kv/RocksDBStore.h
  src/kv/RocksDBStore_stats.cc
Owners: @ceph/core

.github/CODEOWNERS:

# Dashboard team to review dashboard related code
/src/pybind/mgr/dashboard                       @ceph/dashboard
/qa/suites/rados/dashboard                      @ceph/dashboard
/qa/tasks/mgr/test_dashboard.py                 @ceph/dashboard
/qa/tasks/mgr/test_module_selftest.py           @ceph/dashboard
/qa/tasks/mgr/dashboard                         @ceph/dashboard
/monitoring                                     @ceph/dashboard
/doc/mgr/dashboard.rst                          @ceph/dashboard

# For Orchestrator related PRs
/src/cephadm                                    @ceph/orchestrators
/src/pybind/mgr/orchestrator                    @ceph/orchestrators
/src/pybind/mgr/rook                            @ceph/orchestrators
/src/pybind/mgr/cephadm                         @ceph/orchestrators
/src/pybind/mgr/test_orchestrator               @ceph/orchestrators
/src/python-common/ceph/deployment              @ceph/orchestrators
/qa/workunits/cephadm                           @ceph/orchestrators
/qa/tasks/cephadm.py                            @ceph/orchestrators
/qa/tasks/cephadm_cases                         @ceph/orchestrators
/qa/tasks/mgr/test_orchestrator_cli.py          @ceph/orchestrators
/qa/tasks/mgr/test_cephadm_orchestrator.py      @ceph/orchestrators
/qa/suites/orch                                 @ceph/orchestrators
/doc/mgr/orchestrator.rst                       @ceph/orchestrators
/doc/mgr/orchestrator_modules.rst               @ceph/orchestrators
/doc/cephadm                                    @ceph/orchestrators
/doc/dev/cephadm                                @ceph/orchestrators
/doc/man/8/cephadm.rst                          @ceph/orchestrators

/qa/suites/orch/rook                            @ceph/rook
/src/pybind/mgr/rook                            @ceph/rook
/doc/mgr/rook.rst                               @ceph/rook

#ceph-volume
/src/ceph-volume                                @ceph/ceph-volume
/doc/ceph-volume                                @ceph/ceph-volume

# crimson
/src/crimson                                    @ceph/crimson
/src/test/crimson                               @ceph/crimson

# doc-writers
AUTHORS                                         @ceph/doc-writers
CodingStyle                                     @ceph/doc-writers
COPYING*                                        @ceph/doc-writers
/doc/                                           @ceph/doc-writers
README*                                         @ceph/doc-writers
*.rst                                           @ceph/doc-writers

# core
/doc/man/8/ceph-authtool.rst                    @ceph/core @ceph/doc-writers
/doc/man/8/ceph-conf.rst                        @ceph/core @ceph/doc-writers
/doc/man/8/ceph-create-keys.rst                 @ceph/core @ceph/doc-writers
/doc/man/8/ceph-kvstore-tool.rst                @ceph/core @ceph/doc-writers
/doc/man/8/ceph-mon.rst                         @ceph/core @ceph/doc-writers
/doc/man/8/ceph-objectstore-tool.rst            @ceph/core @ceph/doc-writers
/doc/man/8/ceph-osd.rst                         @ceph/core @ceph/doc-writers
/doc/man/8/ceph.rst                             @ceph/core @ceph/doc-writers
/doc/man/8/crushtool.rst                        @ceph/core @ceph/doc-writers
/doc/man/8/monmaptool.rst                       @ceph/core @ceph/doc-writers
/doc/man/8/rados.rst                            @ceph/core @ceph/doc-writers
/doc/rados                                      @ceph/core @ceph/doc-writers
/examples/librados                              @ceph/core
/qa/standalone                                  @ceph/core
/qa/suites/rados                                @ceph/core
/qa/workunits/erasure-code                      @ceph/core
/qa/workunits/mgr                               @ceph/core
/qa/workunits/mon                               @ceph/core
/qa/workunits/objectstore                       @ceph/core
/qa/workunits/rados                             @ceph/core
/src/ceph.in                                    @ceph/core
/src/ceph_osd.cc                                @ceph/core
/src/ceph_mon.cc                                @ceph/core
/src/blk                                        @ceph/core
/src/crush                                      @ceph/core
/src/erasure-code                               @ceph/core
/src/kv                                         @ceph/core
/src/librados                                   @ceph/core
/src/mgr                                        @ceph/core
/src/mon                                        @ceph/core
/src/msg                                        @ceph/core
/src/os                                         @ceph/core
/src/osd                                        @ceph/core
/src/tools/rados                                @ceph/core
/src/test/osd                                   @ceph/core

# rbd
/doc/dev/rbd*                                   @ceph/rbd @ceph/doc-writers
/doc/man/8/ceph-rbdnamer.rst                    @ceph/rbd @ceph/doc-writers
/doc/man/8/rbd*                                 @ceph/rbd @ceph/doc-writers
/doc/rbd                                        @ceph/rbd @ceph/doc-writers
/doc/start/quick-rbd.rst                        @ceph/rbd @ceph/doc-writers
/examples/librbd                                @ceph/rbd
/examples/rbd-replay                            @ceph/rbd
/qa/rbd                                         @ceph/rbd
/qa/run_xfstests*                               @ceph/rbd
/qa/suites/krbd                                 @ceph/rbd
/qa/suites/rbd                                  @ceph/rbd
/qa/tasks/ceph_iscsi_client.py                  @ceph/rbd
/qa/tasks/metadata.yaml                         @ceph/rbd
/qa/tasks/qemu.py                               @ceph/rbd
/qa/tasks/rbd*                                  @ceph/rbd
/qa/tasks/userdata*                             @ceph/rbd
/qa/workunits/cls/test_cls_journal.sh           @ceph/rbd
/qa/workunits/cls/test_cls_lock.sh              @ceph/rbd
/qa/workunits/cls/test_cls_rbd.sh               @ceph/rbd
/qa/workunits/rbd                               @ceph/rbd
/qa/workunits/windows                           @ceph/rbd
/src/ceph-rbdnamer                              @ceph/rbd
/src/cls/journal                                @ceph/rbd
/src/cls/lock                                   @ceph/rbd @ceph/rgw
/src/cls/rbd                                    @ceph/rbd
/src/common/options/rbd*                        @ceph/rbd
/src/etc-rbdmap                                 @ceph/rbd
/src/include/krbd.h                             @ceph/rbd
/src/include/rbd*                               @ceph/rbd
/src/journal                                    @ceph/rbd
/src/krbd.cc                                    @ceph/rbd
/src/librbd                                     @ceph/rbd
/src/ocf                                        @ceph/rbd
/src/pybind/mgr/rbd_support                     @ceph/rbd
/src/pybind/rbd                                 @ceph/rbd
/src/rbd*                                       @ceph/rbd
/src/test/cli/rbd                               @ceph/rbd
/src/test/cli-integration/rbd                   @ceph/rbd
/src/test/cls_journal                           @ceph/rbd
/src/test/cls_lock                              @ceph/rbd @ceph/rgw
/src/test/cls_rbd                               @ceph/rbd
/src/test/journal                               @ceph/rbd
/src/test/librbd                                @ceph/rbd
/src/test/pybind/test_rbd.py                    @ceph/rbd
/src/test/rbd*                                  @ceph/rbd
/src/test/run-rbd*                              @ceph/rbd
/src/test/test_rbd*                             @ceph/rbd
/src/tools/rbd*                                 @ceph/rbd
/systemd/ceph-rbd-mirror*                       @ceph/rbd
/systemd/rbdmap.service.in                      @ceph/rbd
/udev/50-rbd.rules                              @ceph/rbd

# rgw
/doc/dev/radosgw                                @ceph/rgw @ceph/doc-writers
/doc/radosgw                                    @ceph/rgw @ceph/doc-writers
/examples/rgw                                   @ceph/rgw
/qa/rgw                                         @ceph/rgw
/qa/suites/rgw                                  @ceph/rgw
/qa/tasks/barbican.py                           @ceph/rgw
/qa/tasks/kafka.py                              @ceph/rgw
/qa/tasks/keycloak.py                           @ceph/rgw
/qa/tasks/keystone.py                           @ceph/rgw
/qa/tasks/pykmip.py                             @ceph/rgw
/qa/tasks/rabbitmq.py                           @ceph/rgw
/qa/tasks/rgw*                                  @ceph/rgw
/qa/tasks/s3*                                   @ceph/rgw
/qa/tasks/tempest.py                            @ceph/rgw
/qa/tasks/vault.py                              @ceph/rgw
/qa/workunits/rgw                               @ceph/rgw
/src/cls/2pc_queue                              @ceph/rgw
/src/cls/cmpomap                                @ceph/rgw
/src/cls/fifo                                   @ceph/rgw
/src/cls/log                                    @ceph/rgw
/src/cls/otp                                    @ceph/rgw
/src/cls/queue                                  @ceph/rgw
/src/cls/refcount                               @ceph/rgw
/src/cls/rgw                                    @ceph/rgw
/src/cls/rgw_gc                                 @ceph/rgw
/src/cls/user                                   @ceph/rgw
/src/cls/version                                @ceph/rgw
/src/mrgw.sh                                    @ceph/rgw
/src/mrun                                       @ceph/rgw
/src/mstart.sh                                  @ceph/rgw
/src/mstop.sh                                   @ceph/rgw
/src/rgw                                        @ceph/rgw
/src/s3select                                   @ceph/rgw
/src/spawn                                      @ceph/rgw
/src/test/cls_2pc_queue                         @ceph/rgw
/src/test/cls_cmpomap                           @ceph/rgw
/src/test/cls_otp                               @ceph/rgw
/src/test/cls_queue                             @ceph/rgw
/src/test/cls_refcount                          @ceph/rgw
/src/test/cls_rgw                               @ceph/rgw
/src/test/cls_rgw_gc                            @ceph/rgw
/src/test/cls_version                           @ceph/rgw
/src/test/rgw                                   @ceph/rgw
/src/test/test_rgw*                             @ceph/rgw
