Repository ceph/ceph, changes with the labels that .github/labeler.yml gives for each.
All labels: api-change, build/ops, libcephsqlite, mon, mgr, pybind, common, cephadm, orchestrator, rook, bluestore, core, crimson, dashboard, cephfs, CI, rbd, nvmeof, rgw, ceph-volume, tests, nfs, monitoring, telemetry, script

common/SloppyCRCMap: use the erase() return value
  src/common/SloppyCRCMap.cc
Labels: common

msg/async/ProtocolV2: eliminate redundant std::map lookups
  src/msg/async/ProtocolV1.cc
  src/msg/async/ProtocolV2.cc
Labels: core

msg/async/AsyncConnection: do not wrap writeCallback in `std::optional`
  src/msg/async/AsyncConnection.cc
  src/msg/async/AsyncConnection.h
  src/msg/async/ProtocolV1.cc
  src/msg/async/ProtocolV2.cc
Labels: core

common/HeartbeatMap: pass name as rvalue reference
  src/common/HeartbeatMap.cc
  src/common/HeartbeatMap.h
Labels: common

mds/Beacon: set a thread name
  src/mds/Beacon.cc
Labels: cephfs

doc/dev: add walkthrough for CephFS kernel development
  doc/dev/kclient.rst
Labels: none

mgr/dashboard: Removing duplicate cephfs constant file & importing correct default_subvolumegroup.
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cephfs/cephfs-snapshotschedule-form/cephfs-snapshotschedule-form.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cephfs/cephfs-subvolume-list/cephfs-subvolume-list.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cephfs/cephfs-subvolume-snapshots-list/cephfs-subvolume-snapshots-list.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/constants/cephfs.ts
Labels: pybind, dashboard

common/config: use emplace_back() instead of push_back()
  src/common/config.cc
Labels: common

common/ceph_context: use std::atomic<std::shared_ptr<T>>
  src/common/ceph_context.h
Labels: common

RGW|Bucket notification: fix for v2 topics rgw-admin list operation
  src/rgw/rgw_admin.cc
  src/rgw/rgw_pubsub.cc
  src/rgw/rgw_pubsub.h
  src/rgw/rgw_rest_pubsub.cc
  src/test/rgw/bucket_notification/test_bn.py
Labels: rgw, tests

msg/async/ProtocolV[12]: use `auto`
  src/msg/async/ProtocolV1.cc
Labels: core

msg/async/ProtocolV[12]: use range-based `for`
  src/msg/async/ProtocolV1.cc
  src/msg/async/ProtocolV2.cc
Labels: core

Add multi-cluster support (showMultiCluster=True) to alerts
  monitoring/ceph-mixin/prometheus_alerts.libsonnet
  monitoring/ceph-mixin/prometheus_alerts.yml
  monitoring/ceph-mixin/tests_alerts/test_alerts.yml
  monitoring/ceph-mixin/tox.ini
Labels: dashboard, monitoring

msg/async/frames_v2: use zero-initialization instead of memset()
  src/msg/async/frames_v2.cc
Labels: core

msg/Message: use zero-initialization instead of memset()
  src/msg/Message.h
Labels: core

common: disable `boost::intrusive::constant_time_size`
  src/common/LRUSet.h
  src/common/TrackedOp.h
  src/common/intrusive_lru.h
Labels: common

common/config_obs_mgr: use the erase() return value
  src/common/config_obs_mgr.h
Labels: common

common/io_exerciser: Add assertion on failure of IO validation
  src/common/io_exerciser/RadosIo.cc
Labels: common

qa/cephadm: wait a bit before checking rgw daemons upgraded w/ `ceph versions`
  qa/suites/orch/cephadm/upgrade/3-upgrade/staggered.yaml
Labels: cephadm, tests

msg/async/ProtocolV1: use zero-initialization instead of memset()
  src/msg/async/ProtocolV1.cc
Labels: core

test/osd: Add interactive mode to ceph_test_rados_io_sequence
  src/test/osd/ceph_test_rados_io_sequence.cc
  src/test/osd/ceph_test_rados_io_sequence.h
Labels: core, tests

msg/async/ProtocolV[12]: reverse the std::map sort order
  src/msg/async/ProtocolV1.cc
  src/msg/async/ProtocolV1.h
  src/msg/async/ProtocolV2.cc
  src/msg/async/ProtocolV2.h
Labels: core

msg/async/AsyncConnection: move the writeCallback instead of copying it
  src/msg/async/AsyncConnection.cc
Labels: core

msg/async/Event: use zero-initialization instead of memset()
  src/msg/async/Event.h
Labels: core

common/config: use libfmt to build strings
  src/common/config.cc
Labels: common

common/options: pass name as rvalue reference
  src/common/options.h
  src/mon/ConfigMap.cc
  src/mon/MgrMonitor.cc
Labels: mon, common, core

mds/MDCache: pass iterator by value
  src/mds/MDCache.cc
  src/mds/MDCache.h
Labels: cephfs

mds/CDir: use the erase() return value
  src/mds/CDir.cc
Labels: cephfs

common/Finisher: call logger without holding the lock
  src/common/Finisher.h
Labels: common

mgr/ActivePyModule: build thread name with fmt
  src/mgr/ActivePyModule.h
Labels: mgr, core

common/Finisher: add `const` to several fields
  src/common/Finisher.h
Labels: common

common/Finisher: use `std::lock_guard` instead of `std::unique_lock`
  src/common/Finisher.cc
  src/common/Finisher.h
Labels: common

mds/MDCache: use `auto`
  src/mds/MDCache.cc
Labels: cephfs

common/Finisher: un-inline ctor and dtor
  src/common/Finisher.cc
  src/common/Finisher.h
Labels: common

common/Finisher: merge all queue() container methods into one template
  src/common/Finisher.h
Labels: common

common/Finisher: call notify_one() instead of notify_all()
  src/common/Finisher.cc
  src/common/Finisher.h
Labels: common

msg/async/ProtocolV2: pass `desc` as `std::string_view` to write()
  src/msg/async/ProtocolV2.cc
  src/msg/async/ProtocolV2.h
Labels: core

common/Finisher: use fmt to build strings
  src/common/Finisher.cc
Labels: common

doc/cephadm: correct "ceph orch apply" command
  doc/cephadm/services/smb.rst
Labels: cephadm

kv/RocksDBStore: Add admin command to retrieve stats/performance
  src/kv/CMakeLists.txt
  src/kv/RocksDBStore.cc
  src/kv/RocksDBStore.h
  src/kv/RocksDBStore_stats.cc
Labels: build/ops, core

.github/labeler.yml:

api-change:
  - src/pybind/mgr/dashboard/openapi.yaml

build/ops:
  - "**/CMakeLists.txt"
  - admin/**
  - ceph.spec.in
  - cmake/**
  - debian/**
  - do_cmake.sh
  - do_freebsd.sh
  - install-deps.sh
  - keys/**
  - make-debs.sh
  - make-dist
  - make-srpm.sh
  - run-make-check.sh
  - win32_build.sh
  - win32_deps_build.sh

documentation:
  - AUTHORS
  - CONTRIBUTING.rst
  - COPYING*
  - CodingStyle
  - PendingReleaseNotes
  - README.*
  - SubmittingPatches*
  - doc/**
  - doc_deps.deb.txt
  - man/**
  - "**/*.+(rst|md)"

libcephsqlite:
  - doc/rados/api/libcephsqlite.rst
  - qa/suites/rados/basic/tasks/libcephsqlite.yaml
  - qa/workunits/rados/test_libcephsqlite.sh
  - src/SimpleRADOSStriper.*
  - src/include/libcephsqlite.h
  - src/libcephsqlite.cc
  - src/test/libcephsqlite/**

mon:
  - doc/man/8/ceph-mon.rst
  - doc/man/8/monmaptool.rst
  - doc/mon/**
  - qa/workunits/mon/**
  - src/mon/**
  - src/test/mon/**

mgr:
  - doc/mgr/**
  - src/mgr/**
  - src/pybind/mgr/ceph_module.pyi
  - src/pybind/mgr/mgr_module.py
  - src/pybind/mgr/mgr_util.py
  - src/pybind/mgr/object_format.py
  - src/pybind/mgr/requirements.txt
  - src/pybind/mgr/tox.ini
  - src/test/mgr/**

pybind:
  - src/pybind/cephfs/**
  - src/pybind/mgr/**
  - src/pybind/rados/**
  - src/pybind/rbd/**
  - src/pybind/rgw/**
  - src/pybind/**
  - src/python-common/**

common:
  - src/common/**
  - src/global/**
  - src/log/**

cephadm:
  - doc/cephadm/**
  - doc/dev/cephadm/**
  - doc/man/8/cephadm.rst
  - qa/suites/orch/cephadm/**
  - qa/tasks/cephadm.py
  - qa/tasks/cephadm_cases
  - qa/tasks/mgr/test_cephadm_orchestrator.py
  - qa/tasks/mgr/test_orchestrator_cli.py
  - qa/workunits/cephadm/**
  - src/cephadm/**
  - src/pybind/mgr/cephadm/**
  - src/python-common/**
    
orchestrator:
  - doc/mgr/orchestrator.rst
  - doc/mgr/orchestrator_modules.rst
  - src/pybind/mgr/orchestrator/**
  - src/pybind/mgr/rook/**
  - src/pybind/mgr/test_orchestrator/**
  - qa/tasks/mgr/test_orchestrator_cli.py

rook:
  - doc/mgr/rook.rst
  - src/pybind/mgr/rook/**
  - qa/tasks/rook.py
  - qa/suites/orch/rook/smoke/**

bluestore:
  - src/os/bluestore/**

core:
  - doc/man/8/ceph-authtool.rst
  - doc/man/8/ceph-conf.rst
  - doc/man/8/ceph-create-keys.rst
  - doc/man/8/ceph-kvstore-tool.rst
  - doc/man/8/ceph-mon.rst
  - doc/man/8/ceph-objectstore-tool.rst
  - doc/man/8/ceph-osd.rst
  - doc/man/8/ceph.rst
  - doc/man/8/crushtool.rst
  - doc/man/8/monmaptool.rst
  - doc/man/8/rados.rst
  - doc/rados/**
  - qa/standalone/**
  - qa/suites/rados/**
  - qa/workunits/erasure-code/**
  - qa/workunits/mgr/**
  - qa/workunits/mon/**
  - qa/workunits/objectstore/**
  - qa/workunits/rados/**
  - src/ceph.in
  - src/ceph_osd.cc
  - src/ceph_mon.cc
  - src/blk/**
  - src/crush/*
  - src/erasure-code/**
  - src/kv/**
  - src/librados/**
  - src/mgr/**
  - src/mon/**
  - src/msg/**
  - src/os/**
  - src/osd/**
  - src/tools/ceph_dedup_tool.cc
  - src/tools/ceph_kvstore_tool.cc
  - src/tools/ceph_monstore_tool.cc
  - src/tools/ceph_objectstore_tool.*
  - src/tools/crushtool.cc
  - src/tools/kvstore_tool.*
  - src/tools/monmaptool.cc
  - src/tools/osdmaptool.cc
  - src/tools/rados/**
  - src/test/librados/**
  - src/test/osd/**

crimson:
  - doc/dev/crimson/**
  - src/crimson/**
  - src/test/crimson/**
  - qa/suites/crimson-rados/**
  - src/seastar/**

dashboard:
  - src/pybind/mgr/dashboard/**
  - qa/suites/rados/dashboard/**
  - qa/tasks/mgr/test_dashboard.py
  - qa/tasks/mgr/dashboard/**
  - monitoring/**
  - doc/mgr/dashboard.rst
  - doc/dev/developer_guide/dash-devel.rst

cephfs:
  - doc/cephfs/**
  - doc/man/8/ceph-fuse.rst
  - doc/man/8/ceph-mds.rst
  - doc/man/8/ceph-syn.rst
  - doc/man/8/mount.ceph.rst
  - doc/man/8/mount.fuse.ceph.rst
  - qa/suites/fs/**
  - qa/suites/multimds/**
  - qa/tasks/ceph_fuse.py
  - qa/tasks/cephfs/**
  - qa/tasks/cephfs_test_runner.py
  - qa/tasks/fs.py
  - qa/tasks/kclient.py
  - qa/tasks/mds_creation_failure.py
  - qa/tasks/mds_thrash.py
  - src/ceph_fuse.cc
  - src/ceph_mds.cc
  - src/ceph_syn.cc
  - src/client/**
  - src/include/ceph_fs.h
  - src/include/ceph_fuse.h
  - src/include/cephfs/**
  - src/include/filepath.h
  - src/include/frag.h
  - src/include/fs_types.h
  - src/libcephfs.cc
  - src/mds/**
  - src/mon/MDSMonitor.*
  - src/mon/FSCommands.*
  - src/pybind/cephfs/**
  - src/pybind/mgr/mds_autoscaler/**
  - src/pybind/mgr/status/**
  - src/pybind/mgr/volumes/**
  - src/test/fs/**
  - src/test/libcephfs/**
  - src/tools/cephfs/**
  - src/tools/cephfs_mirror/**

CI:
  - .github/**

rbd:
  - doc/dev/rbd*
  - doc/man/8/ceph-rbdnamer.rst
  - doc/man/8/rbd*
  - doc/rbd/**
  - doc/start/quick-rbd.rst
  - examples/librbd/**
  - examples/rbd-replay/**
  - qa/rbd/**
  - qa/run_xfstests*
  - qa/suites/krbd/**
  - qa/suites/rbd/**
  - qa/tasks/ceph_iscsi_client.py
  - qa/tasks/metadata.yaml
  - qa/tasks/qemu.py
  - qa/tasks/rbd*
  - qa/tasks/userdata*
  - qa/workunits/cls/test_cls_journal.sh
  - qa/workunits/cls/test_cls_lock.sh
  - qa/workunits/cls/test_cls_rbd.sh
  - qa/workunits/rbd/**
  - qa/workunits/windows/**
  - src/ceph-rbdnamer
  - src/cls/journal/**
  - src/cls/lock/**
  - src/cls/rbd/**
  - src/common/options/rbd*
  - src/etc-rbdmap
  - src/include/krbd.h
  - src/include/rbd*
  - src/include/rbd/**
  - src/journal/**
  - src/krbd.cc
  - src/librbd/**
  - src/ocf/**
  - src/pybind/mgr/rbd_support/**
  - src/pybind/rbd/**
  - src/rbd*
  - src/rbd*/**
  - src/test/cli/rbd/**
  - src/test/cli-integration/rbd/**
  - src/test/cls_journal/**
  - src/test/cls_lock/**
  - src/test/cls_rbd/**
  - src/test/journal/**
  - src/test/librbd/**
  - src/test/pybind/test_rbd.py
  - src/test/rbd*
  - src/test/rbd*/**
  - src/test/run-rbd*
  - src/test/test_rbd*
  - src/tools/rbd*/**
  - systemd/ceph-rbd-mirror*
  - systemd/rbdmap.service.in
  - udev/50-rbd.rules

nvmeof:
  - qa/suites/nvmeof/**
  - qa/tasks/nvmeof.py
  - qa/workunits/nvmeof/**
  - src/ceph_nvmeof_monitor_client.cc
  - src/cephadm/cephadmlib/daemons/nvmeof.py
  - src/messages/MNVMeofGw*
  - src/mon/NVMeofGw*
  - src/nvmeof/**
  - src/pybind/mgr/cephadm/services/nvmeof.py
  - src/pybind/mgr/cephadm/templates/services/nvmeof/**
  - src/tools/ceph-dencoder/nvmeof*

rgw:
  - qa/suites/rgw/**
  - qa/tasks/rgw*
  - qa/tasks/s3*
  - src/cls/cmpomap/**
  - src/cls/fifo/**
  - src/cls/otp/**
  - src/cls/queue/**
  - src/cls/rgw/**
  - src/cls/rgw_gc/**
  - src/cls/timeindex/**
  - src/mrgw.sh
  - src/mrun
  - src/mstart.sh
  - src/mstop.sh
  - src/rgw/**
  - src/test/cls_rgw/**
  - src/test/librgw_*
  - src/test/rgw/**
  - src/test/test_rgw*

ceph-volume:
  - src/ceph-volume/**
  - doc/ceph-volume/**
  - src/python-common/ceph/deployment/drive_group.py
  - src/python-common/ceph/deployment/drive_selection/**

tests:
  - qa/**
  - src/test/**

nfs:
  - src/pybind/mgr/nfs/**
  - src/pybind/mgr/cephadm/services/nfs.py
  - src/pybind/mgr/cephadm/templates/services/nfs/ganesha.conf.j2
  - src/pybind/mgr/dashboard/controllers/nfs.py
  - src/pybind/mgr/dashboard/tests/test_nfs.py
  - qa/tasks/cephfs/test_nfs.py
  - doc/mgr/nfs.rst
  - doc/cephfs/nfs.rst
  - doc/cephadm/nfs.rst
  - doc/radosgw/nfs.rst
  - doc/dev/vstart-ganesha.rst

monitoring:
  - doc/cephadm/monitoring.rst
  - src/pybind/mgr/cephadm/services/monitoring.py
  - src/pybind/mgr/cephadm/templates/services/alertmanager/**
  - src/pybind/mgr/cephadm/templates/services/grafana/**
  - src/pybind/mgr/cephadm/templates/services/prometheus/**
  - src/pybind/mgr/dashboard/ci/check_grafana_dashboards.py
  - src/pybind/mgr/prometheus/**
  - monitoring/**  
 
telemetry:
  - doc/mgr/telemetry.rst
  - qa/suites/upgrade/telemetry-upgrade/**
  - qa/workunits/test_telemetry_pacific.sh
  - qa/workunits/test_telemetry_pacific_x.sh
  - qa/workunits/test_telemetry_quincy.sh
  - qa/workunits/test_telemetry_quincy_x.sh
  - src/pybind/mgr/telemetry/**
  - src/telemetry/**

script:
  - src/script/**
  - admin/**
  - doc/scripts/**
