Repository ceph/ceph, pull requests merged in 2018-02, with the labels that each got.

#20387 test/fio: fix build failure caused by sequencer replacement.
  src/test/fio/fio_ceph_objectstore.cc
  src/tools/ceph_objectstore_tool.cc
Labels: bluestore, build/ops, tests

#20376 librbd: auto-remove trash snapshots when image is deleted
  qa/workunits/rbd/cli_generic.sh
  src/librbd/image/RemoveRequest.cc
  src/librbd/image/RemoveRequest.h
  src/test/librbd/image/test_mock_RemoveRequest.cc
  src/tools/rbd/action/Remove.cc
Labels: feature, rbd, wip-mgolub-testing

#20227 os/bluestore: mark derivatives of AioContext as final.
  src/os/bluestore/BlueStore.h
Labels: bluestore, needs-qa, performance, wip-kefu-testing

#20371 test/admin_socket_output: add --vstart=path/to/asok option
  src/test/admin_socket_output.cc
  src/test/admin_socket_output.h
  src/test/test_admin_socket_output.cc
Labels: needs-qa, tests, wip-kefu-testing

#20275 mon/OSDMonitor: Comment out unused function
  src/mon/OSDMonitor.cc
  src/mon/OSDMonitor.h
  src/osd/OSDMapMapping.h
Labels: cleanup, core, mon, needs-qa, wip-kefu-testing

#20378 osd: check feature bits when encoding objectstore_perf_stat_t
  src/include/ceph_features.h
  src/messages/MPGStats.h
  src/mon/PGMap.cc
  src/osd/osd_types.cc
  src/osd/osd_types.h
  src/test/encoding/types.h
Labels: core, needs-qa, wip-kefu-testing

#20198 mgr/zabbix: Implement health checks
  qa/suites/rados/mgr/tasks/module_selftest.yaml
  src/pybind/mgr/zabbix/module.py
Labels: feature, mgr, needs-qa, wip-kefu-testing

#20320 common: introduce md_config_cacher_t
  src/common/config_cacher.h
  src/osd/OSD.cc
  src/osd/OSD.h
  src/osd/PrimaryLogPG.cc
Labels: bluestore, cleanup, common, needs-qa, performance, wip-kefu-testing

#20360 os/bluestore: cleanup around ExtentList, AllocExtent and bluestore_extent_t classes
  src/os/bluestore/Allocator.h
  src/os/bluestore/BitAllocator.cc
  src/os/bluestore/BitAllocator.h
  src/os/bluestore/BitMapAllocator.cc
  src/os/bluestore/BitMapAllocator.h
  src/os/bluestore/BlueFS.cc
  src/os/bluestore/BlueFS.h
  src/os/bluestore/BlueStore.cc
  src/os/bluestore/BlueStore.h
  src/os/bluestore/StupidAllocator.cc
  src/os/bluestore/StupidAllocator.h
  src/os/bluestore/bluefs_types.h
  src/os/bluestore/bluestore_types.cc
  src/os/bluestore/bluestore_types.h
  src/test/objectstore/Allocator_test.cc
  src/test/objectstore/BitAllocator_test.cc
  src/test/objectstore/test_bluestore_types.cc
Labels: bluestore, cleanup, needs-qa, wip-kefu-testing

#20379 test/librados: s/invoke_result_t/result_of_t/
  src/test/librados/lock.cc
Labels: needs-qa, tests, wip-kefu-testing

#20392 Clangtastic Voyage
  CMakeLists.txt
  librarytest.sh
  src/client/SyntheticClient.cc
  src/test/CMakeLists.txt
  src/test/fs/mds_types.cc
Labels: build/ops, cephfs, needs-qa, wip-kefu-testing

#20363 make rados get/put/append command help txt clear
  src/tools/rados/rados.cc
Labels: needs-qa, tools

#19939 mon,osd: do not use crush_device_class file to initalize class for new osds
  doc/install/manual-deployment.rst
  doc/man/8/ceph.rst
  qa/workunits/cephtool/test.sh
  src/crush/CrushWrapper.h
  src/mon/OSDMonitor.cc
  src/mon/OSDMonitor.h
Labels: build/ops, wip-sage4-testing

#20422 cmake: 'make check' builds radosgw and its cls dependencies
  src/test/CMakeLists.txt
Labels: build/ops, rgw

#20147 tools: rados: make -f be --format for consistency with ceph tool
  PendingReleaseNotes
  qa/workunits/rados/test_rados_tool.sh
  src/tools/rados/rados.cc
Labels: needs-review, tools

#19957 client: fixup parallel calls to ceph_ll_lookup_inode() in NFS FASL
  src/client/Client.cc
  src/client/Client.h
  src/libcephfs.cc
Labels: bug fix, cephfs, wip-pdonnell-testing

#20336 client: re-use free snap tag
  src/client/Client.cc
  src/client/Client.h
  src/client/fuse_ll.cc
Labels: bug fix, cephfs, wip-pdonnell-testing

#20407 luminous: qa/rgw: disable log trim in multisite suite
  qa/suites/rgw/multisite/overrides.yaml
Labels: backport, luminous-batch-1, rgw, tests

#20413 tests: client-upgrade-kraken: upgrade ceph-test along with other ceph packages
  qa/suites/upgrade/client-upgrade-kraken/kraken-client-x/basic/1-install/kraken-client-x.yaml
  qa/suites/upgrade/client-upgrade-kraken/kraken-client-x/basic/2-workload/rbd_api_tests.yaml
  qa/suites/upgrade/client-upgrade-kraken/kraken-client-x/rbd/1-install/kraken-client-x.yaml
Labels: bug fix, tests

#20427 ceph-volume use realpath when checking mounts
  src/ceph-volume/ceph_volume/tests/util/test_system.py
  src/ceph-volume/ceph_volume/util/system.py
Labels: ceph-volume

#20406 librbd: fix issues discovered in clone v2 during upgrade tests
  src/cls/rbd/cls_rbd.cc
  src/test/pybind/test_rbd.py
Labels: bug fix, rbd, tests, wip-mgolub-testing

#20265 ceph-volume: lvm zap will unmount osd paths used by zapped devices
  doc/ceph-volume/lvm/zap.rst
  src/ceph-volume/ceph_volume/devices/lvm/zap.py
  src/ceph-volume/ceph_volume/util/system.py
Labels: backport, ceph-volume

#20187 mgr/influx: Various fixes and improvements
  src/pybind/mgr/influx/module.py
Labels: feature, mgr

#20429 luminous ceph-volume use realpath when checking mounts
  src/ceph-volume/ceph_volume/tests/util/test_system.py
  src/ceph-volume/ceph_volume/util/system.py
Labels: backport, ceph-volume

#19859 rgw: silence not allow register storage class specifier warning
  src/rgw/CMakeLists.txt
Labels: build/ops, needs-qa

#20423 librbd: new tag should use on-disk committed position
  src/journal/JournalMetadata.cc
  src/journal/JournalMetadata.h
  src/librbd/Journal.cc
  src/test/librbd/test_mock_Journal.cc
Labels: bug fix, rbd

#20143 jewel: ObjectStore/StoreTest.FiemapHoles/3 fails with kstore
  src/test/objectstore/store_test.cc
Labels: bug fix, core, jewel-batch-1, tests

#20095 rgw: fix RGWCompletionManager get_next stuck after going down
  src/rgw/rgw_coroutine.cc
Labels: bug fix, needs-qa, rgw, wip-yuri2-testing

#20063 rgw: upldate the max-buckets when the quota is uploaded
  src/rgw/rgw_rest_user.cc
Labels: bug fix, needs-qa, rgw, wip-yuri2-testing

#20191 rgw: sync tracing fixes
  src/rgw/rgw_sync_trace.cc
Labels: bug fix, needs-qa, rgw, wip-yuri2-testing

#20024 rgw: fix a typo in rgw_perms[]
  src/rgw/rgw_json_enc.cc
  src/rgw/rgw_user.cc
Labels: bug fix, needs-qa, rgw, wip-yuri2-testing

#20023 rgw: Better ERANGE error message
  src/rgw/rgw_rados.cc
Labels: cleanup, needs-qa, rgw, wip-yuri2-testing

#20021 cls/rgw: fix bi_log_iterate_entries return wrong truncated
  src/cls/rgw/cls_rgw.cc
Labels: bug fix, needs-qa, rgw, wip-yuri2-testing

#20006 rgw: set priority on perf counters
  src/rgw/rgw_common.cc
Labels: mgr, needs-qa, rgw, wip-yuri3-testing

#19921 rgw: lifecycle omap entry was removed in abnormal situation
  src/rgw/rgw_lc.cc
  src/rgw/rgw_multi.cc
Labels: bug fix, needs-qa, rgw, wip-yuri3-testing

#19815 rgw: drop unused vector elements
  src/rgw/rgw_rados.cc
Labels: cleanup, needs-qa, rgw, wip-yuri3-testing

#19606 rgw: fix collect()'s return in coroutine
  src/rgw/rgw_coroutine.cc
Labels: needs-qa, rgw, wip-yuri3-testing

#19573 rgw: improve sync status
  src/rgw/rgw_admin.cc
  src/rgw/rgw_data_sync.cc
  src/rgw/rgw_data_sync.h
Labels: needs-qa, rgw, wip-yuri3-testing

#19322 rgw: add an option to clear all usage entries
  src/cls/rgw/cls_rgw.cc
  src/cls/rgw/cls_rgw_client.cc
  src/cls/rgw/cls_rgw_client.h
  src/cls/rgw/cls_rgw_const.h
  src/rgw/rgw_admin.cc
  src/rgw/rgw_rados.cc
  src/rgw/rgw_rados.h
  src/rgw/rgw_usage.cc
  src/rgw/rgw_usage.h
  src/test/cli/radosgw-admin/help.t
  src/test/cls_rgw/test_cls_rgw.cc
Labels: needs-qa, rgw, wip-yuri3-testing

#20410 osd: Fix assert when checking missing version
  src/osd/PGLog.h
Labels: core

#20430 os/bluestore: fix the demotion in StupidAllocator::init_rm_free
  src/include/interval_set.h
  src/os/bluestore/StupidAllocator.cc
Labels: bluestore, bug fix, needs-qa, wip-kefu-testing

#20362 mgr: fix py3 support
  qa/tasks/mgr/test_dashboard.py
  src/CMakeLists.txt
  src/init-ceph.in
  src/mgr/PyModule.cc
  src/mgr/PyModule.h
  src/mgr/PyModuleRegistry.cc
  src/pybind/mgr/balancer/__init__.py
  src/pybind/mgr/dashboard/__init__.py
  src/pybind/mgr/dashboard/cephfs_clients.py
  src/pybind/mgr/dashboard/module.py
  src/pybind/mgr/dashboard/rbd_iscsi.py
  src/pybind/mgr/dashboard/rbd_ls.py
  src/pybind/mgr/dashboard/rbd_mirroring.py
  src/pybind/mgr/dashboard/rgw.py
  src/pybind/mgr/influx/__init__.py
  src/pybind/mgr/localpool/__init__.py
  src/pybind/mgr/prometheus/__init__.py
  src/pybind/mgr/restful/__init__.py
  src/pybind/mgr/restful/api/__init__.py
  src/pybind/mgr/restful/api/config.py
  src/pybind/mgr/restful/api/crush.py
  src/pybind/mgr/restful/api/doc.py
  src/pybind/mgr/restful/api/mon.py
  src/pybind/mgr/restful/api/osd.py
  src/pybind/mgr/restful/api/pool.py
  src/pybind/mgr/restful/api/request.py
  src/pybind/mgr/restful/api/server.py
  src/pybind/mgr/restful/common.py
  src/pybind/mgr/restful/context.py
  src/pybind/mgr/restful/decorators.py
  src/pybind/mgr/restful/hooks.py
  src/pybind/mgr/restful/module.py
  src/pybind/mgr/selftest/__init__.py
  src/pybind/mgr/status/__init__.py
  src/pybind/mgr/zabbix/__init__.py
  src/vstart.sh
Labels: mgr, needs-qa, needs-review, wip-smithfarm-testing

#20158 rgw: fix the max-uploads parameter not work
  src/rgw/rgw_rest.cc
Labels: bug fix, rgw

#20408 ceph-volume consume mount/format options from ceph.conf
  src/ceph-volume/ceph_volume/configuration.py
  src/ceph-volume/ceph_volume/tests/conftest.py
  src/ceph-volume/ceph_volume/tests/util/test_prepare.py
  src/ceph-volume/ceph_volume/util/constants.py
  src/ceph-volume/ceph_volume/util/prepare.py
Labels: ceph-volume

#20437 common/admin_socket: validate command json before feeding it to hook
  src/common/admin_socket.cc
  src/common/admin_socket.h
  src/common/cmdparse.cc
  src/common/cmdparse.h
Labels: common, needs-qa, wip-kefu-testing

#20370 common/ConfUtils: check key before actually normalizing
  src/common/ConfUtils.cc
Labels: common, needs-qa, performance, wip-kefu-testing

#20409 test/admin_socket_output: better error reporting
  src/test/admin_socket_output.cc
Labels: cleanup, needs-qa, tests, wip-kefu-testing

#20426 mon/MgrStatMonitor: fix formatting of pending_digest
  src/mon/MgrStatMonitor.cc
Labels: bug fix, mgr, needs-qa, wip-kefu-testing

#18780 jewel: RHEL 7.3 Selinux denials at OSD start
  selinux/ceph.te
Labels: build/ops, jewel-batch-1

#20451 qa/tests: Applied PR 20053 to stress-split tests
  qa/suites/upgrade/kraken-x/stress-split/4-workload/rbd-cls.yaml
Labels: luminous-batch-1, tests

#20459 ceph-volume tests remove unused import
  src/ceph-volume/ceph_volume/tests/util/test_prepare.py
Labels: ceph-volume

#20452 luminous ceph-volume consume mount/format options from ceph.conf
  src/ceph-volume/ceph_volume/configuration.py
  src/ceph-volume/ceph_volume/tests/conftest.py
  src/ceph-volume/ceph_volume/tests/util/test_prepare.py
  src/ceph-volume/ceph_volume/util/constants.py
  src/ceph-volume/ceph_volume/util/prepare.py
Labels: backport, ceph-volume

#20396 rgw: fix index cancel op miss update header
  src/cls/rgw/cls_rgw.cc
Labels: bug fix, needs-qa, rgw, wip-yuri-testing

#20332 rgw: Correct permission evaluation to allow only admin users to work with Roles.
  src/rgw/rgw_common.cc
  src/rgw/rgw_rest_role.cc
  src/rgw/rgw_rest_role.h
Labels: needs-qa, rgw, wip-yuri-testing

#20226 rgw: can't download object with range when compression enabled
  src/rgw/rgw_compression.cc
Labels: bug fix, needs-qa, rgw, wip-yuri-testing

#17094 rgw: add support for tagging and other conditionals in policy
  doc/radosgw/bucketpolicy.rst
  src/rgw/rgw_iam_policy.h
  src/rgw/rgw_op.cc
  src/rgw/rgw_op.h
  src/rgw/rgw_rest_s3.cc
Labels: feature, needs-qa, rgw, wip-yuri-testing

#19065 rgw: fix RGWLibIO did not init RGWEnv
  src/rgw/rgw_lib.h
Labels: bug fix, needs-qa, rgw, wip-yuri3-testing

#12427 rgw: don't leak S3 LDAPHelper
  src/rgw/rgw_main.cc
  src/rgw/rgw_rest_s3.cc
  src/rgw/rgw_rest_s3.h
Labels: bug fix, needs-qa, rgw, wip-yuri3-testing

#16757 rgw: dump Last-Modified in Swift's responses for GET/HEAD on container.
  src/rgw/rgw_common.h
  src/rgw/rgw_op.cc
  src/rgw/rgw_rest_swift.cc
Labels: bug fix, feature, needs-qa, rgw, wip-yuri3-testing

#17020 qa: re enable LC tests
  qa/tasks/s3tests.py
Labels: needs-qa, rgw, tests, wip-yuri3-testing

#20274 common/admin_socket: various cleanups
  src/client/Client.cc
  src/client/Client.h
  src/common/Thread.cc
  src/common/Thread.h
  src/common/admin_socket.cc
  src/common/admin_socket.h
  src/common/admin_socket_client.cc
  src/common/ceph_context.cc
  src/common/ceph_context.h
  src/common/cmdparse.cc
  src/common/cmdparse.h
  src/common/common_init.cc
  src/include/buffer.h
  src/librbd/LibrbdAdminSocketHook.cc
  src/librbd/LibrbdAdminSocketHook.h
  src/mds/MDSDaemon.cc
  src/mds/MDSDaemon.h
  src/mds/MDSRank.cc
  src/mds/MDSRank.h
  src/mgr/DaemonServer.cc
  src/mgr/DaemonServer.h
  src/mon/AuthMonitor.cc
  src/mon/ConfigKeyService.cc
  src/mon/FSCommands.cc
  src/mon/FSCommands.h
  src/mon/LogMonitor.cc
  src/mon/MDSMonitor.cc
  src/mon/MDSMonitor.h
  src/mon/MgrMonitor.cc
  src/mon/Monitor.cc
  src/mon/Monitor.h
  src/mon/MonmapMonitor.cc
  src/mon/OSDMonitor.cc
  src/mon/OSDMonitor.h
  src/mon/PGMap.cc
  src/mon/PGMap.h
  src/osd/OSD.cc
  src/osd/OSD.h
  src/osdc/Objecter.cc
  src/rgw/rgw_coroutine.cc
  src/rgw/rgw_coroutine.h
  src/rgw/rgw_rados.cc
  src/rgw/rgw_rados.h
  src/rgw/rgw_sync_trace.cc
  src/rgw/rgw_sync_trace.h
  src/test/admin_socket.cc
  src/test/compressor/test_compression.cc
  src/tools/rbd_mirror/ImageDeleter.cc
  src/tools/rbd_mirror/ImageReplayer.cc
  src/tools/rbd_mirror/Mirror.cc
  src/tools/rbd_mirror/PoolReplayer.cc
Labels: bug fix, cleanup, core

#20424 qa: ignore io pause warnings in mds-full test
  qa/suites/fs/basic_functional/tasks/mds-full.yaml
  qa/suites/kcephfs/recovery/tasks/mds-full.yaml
Labels: cephfs, needs-review, tests, wip-pdonnell-testing

#20428 qa: ignore MON_DOWN while thrashing mons
  qa/suites/kcephfs/thrash/thrashers/mon.yaml
Labels: cephfs, needs-review, tests, wip-pdonnell-testing

#20470 qa: ignore full cluster warnings for mds-full
  qa/suites/fs/basic_functional/tasks/mds-full.yaml
  qa/suites/kcephfs/recovery/tasks/mds-full.yaml
Labels: cephfs, needs-review, tests, wip-pdonnell-testing

#20474 include: compat.h, fix the return result of pthread_set_name()
  src/include/compat.h
Labels: build/ops

#20492 cmake: disable DOWNLOAD_NO_PROGRESS if cmake ver is lower than 3.1
  cmake/modules/BuildBoost.cmake
Labels: bug fix, build/ops

#20450 Snapset inconsistency is detected with its own error
  doc/rados/command/list-inconsistent-obj.json
  qa/standalone/scrub/osd-scrub-repair.sh
  src/common/scrub_types.h
  src/include/rados/rados_types.hpp
  src/osd/PGBackend.cc
  src/tools/rados/rados.cc
Labels: bug fix, core

#20306 jewel: throttle: Minimal destructor fix for Luminous
  src/common/Throttle.cc
  src/common/Throttle.h
  src/test/common/Throttle.cc
Labels: bug fix, common, jewel-batch-1, needs-review, tests

#20146 jewel: repair_test fails due to race with osd start
  qa/tasks/ceph_manager.py
  qa/tasks/reg11184.py
Labels: bug fix, core, jewel-batch-1, tests

#20108 jewel: osd: update heartbeat peers when a new OSD is added
  src/osd/OSD.cc
Labels: bluestore, bug fix, core, jewel-batch-1

#19978 jewel: common: compute SimpleLRU's size with contents.size() instead of lru.…
  src/common/simple_cache.hpp
Labels: bug fix, common, core, jewel-batch-1

#19927 jewel: config: lower default omap entries recovered at once
  src/common/config_opts.h
Labels: bug fix, core, jewel-batch-1

#19330 jewel: tools/ceph-conf: dump parsed config in plain text or as json
  src/test/cli/ceph-conf/help.t
  src/tools/ceph_conf.cc
Labels: core, jewel-batch-1, tools

#18850 jewel: common/config: set rocksdb_cache_size to OPT_U64
  src/common/config_opts.h
Labels: core, jewel-batch-1

#18294 jewel: Ubuntu amd64 client can not discover the ubuntu arm64 ceph cluster
  src/arch/arm.c
Labels: bug fix, core, jewel-batch-1

#20331 jewel: snapset xattr corruption propagated from primary to other shards
  src/osd/PGBackend.cc
Labels: backport, core, jewel-batch-1

#19906 jewel: HashIndex: randomize split threshold by a configurable amount
  doc/rados/configuration/filestore-config-ref.rst
  src/ceph_osd.cc
  src/common/config_opts.h
  src/os/filestore/CollectionIndex.h
  src/os/filestore/HashIndex.cc
  src/os/filestore/HashIndex.h
  src/os/filestore/IndexManager.cc
Labels: core, jewel-batch-1, performance

#17883 jewel: core: global/signal_handler.cc: fix typo
  src/global/signal_handler.cc
Labels: cleanup, core, jewel-batch-1

#17707 jewel: osd: also check the exsistence of clone obc for "CEPH_SNAPDIR" requests
  src/osd/ReplicatedPG.cc
  src/test/librados/tier.cc
Labels: core, jewel-batch-1, needs-qa

#20486 test/librbd: utilize unique pool for cache tier testing
  src/test/librbd/test_librbd.cc
Labels: rbd, tests, wip-mgolub-testing

#20481 rbd: don't overwrite the error code from the remove action
  src/tools/rbd/action/Remove.cc
Labels: bug fix, rbd, wip-mgolub-testing

#20491 qa/workunits/rbd: fix issues within permissions test
  qa/workunits/rbd/permissions.sh
Labels: rbd, tests, wip-mgolub-testing

#20478 librbd: fix structure size check in rbd_mirror_image_get_info/status
  src/librbd/api/Mirror.cc
  src/librbd/api/Mirror.h
  src/librbd/librbd.cc
Labels: cleanup, needs-qa, rbd, wip-jason-testing

#20420 librbd: potential race in RewatchRequest when resetting watch_handle
  src/librbd/watcher/RewatchRequest.cc
Labels: bug fix, needs-qa, rbd, wip-jason-testing

#20395 librbd: validate if dst group snap name is the same with src
  src/librbd/api/Group.cc
  src/librbd/api/Group.h
  src/librbd/librbd.cc
  src/test/librbd/journal/test_Replay.cc
Labels: cleanup, needs-qa, rbd, wip-jason-testing

#20093 RGW-NFS: Use rados cluster_stat to report filesystem usage
  src/rgw/rgw_file.cc
  src/rgw/rgw_file.h
  src/rgw/rgw_op.cc
  src/rgw/rgw_op.h
Labels: rgw, wip-matt-testing

#20490 qa/workunits/rbd: remove sanity check in journal.sh test
  qa/workunits/rbd/journal.sh
Labels: rbd, tests

#20499 qa: additional krbd discard test cases
  qa/rbd/krbd_blkroset.t
  qa/workunits/rbd/krbd_fallocate.sh
Labels: rbd, tests

#20177 os,osd: initial work to drop onreadable/onapplied callbacks
  qa/suites/rados/objectstore/objectstore.yaml
  src/os/FuseStore.cc
  src/os/ObjectStore.cc
  src/os/ObjectStore.h
  src/os/bluestore/BlueStore.cc
  src/os/filestore/FileStore.cc
  src/os/filestore/FileStore.h
  src/osd/ECBackend.cc
  src/osd/ECBackend.h
  src/osd/OSD.cc
  src/osd/OSD.h
  src/osd/PG.cc
  src/osd/PG.h
  src/osd/PGBackend.h
  src/osd/PrimaryLogPG.cc
  src/osd/PrimaryLogPG.h
  src/osd/ReplicatedBackend.cc
  src/osd/ReplicatedBackend.h
  src/osd/osd_internal_types.h
  src/test/fio/fio_ceph_objectstore.cc
  src/test/objectstore/DeterministicOpSequence.cc
  src/test/objectstore/DeterministicOpSequence.h
  src/test/objectstore/TestObjectStoreState.cc
  src/test/objectstore/store_test.cc
  src/test/objectstore/test_idempotent.cc
  src/test/objectstore/test_idempotent_sequence.cc
  src/test/objectstore/test_memstore_clone.cc
  src/test/objectstore_bench.cc
  src/test/osd/TestPGLog.cc
  src/test/osd/types.cc
  src/test/test_trans.cc
  src/test/xattr_bench.cc
  src/tools/ceph_objectstore_tool.cc
  src/tools/ceph_objectstore_tool.h
Labels: cleanup, core

#20439 mon: dump percent_used PGMap field as float
  src/mon/PGMap.cc
Labels: cleanup, mon, needs-qa, wip-kefu-testing

#20443 common: make ceph_clock_now() inlineable.
  src/CMakeLists.txt
  src/common/Clock.cc
  src/common/Clock.h
  src/include/utime.h
Labels: common, needs-qa, performance, wip-kefu-testing

#20475 common/str_list: s/boost::string_view/std::string_view
  src/common/cmdparse.cc
  src/common/str_list.cc
  src/include/str_list.h
  src/kv/RocksDBStore.cc
Labels: cleanup, common, needs-review

#20374 msg/DispatchQueue: clear queue after wait()
  src/msg/DispatchQueue.cc
Labels: bug fix, core, wip-sage3-testing

#19342 osd: add 'ceph tell osd.id smart'
  src/common/options.cc
  src/osd/OSD.cc
  src/osd/OSD.h
  src/pybind/mgr/smart/__init__.py
  src/pybind/mgr/smart/module.py
Labels: core, feature, needs-qa, wip-sage-testing

#20465 os/bluestore: avoid frequent and massive allocator's dump on bluefs rebalance failure
  src/common/legacy_config_opts.h
  src/common/options.cc
  src/os/bluestore/BlueStore.cc
  src/os/bluestore/BlueStore.h
Labels: bluestore, needs-qa, wip-sage-testing

#20467 mon: mark manager beacons as no_reply
  src/mon/MgrMonitor.cc
Labels: bug fix, core, mgr, needs-qa, wip-sage-testing

#20487 os/bluestore: prevent statfs available from going negative
  src/os/bluestore/BlueStore.cc
Labels: bluestore, bug fix, needs-qa, wip-sage-testing

#20513 ceph-volume warn on mix of filestore and bluestore flags
  src/ceph-volume/ceph_volume/devices/lvm/common.py
  src/ceph-volume/ceph_volume/devices/lvm/create.py
  src/ceph-volume/ceph_volume/devices/lvm/prepare.py
  src/ceph-volume/ceph_volume/tests/devices/lvm/test_create.py
  src/ceph-volume/ceph_volume/tests/devices/lvm/test_prepare.py
  src/ceph-volume/ceph_volume/tests/util/test_arg_validators.py
  src/ceph-volume/ceph_volume/util/arg_validators.py
Labels: ceph-volume

#20520 test/CMakeLists: disable test-pidfile.sh
  src/test/CMakeLists.txt
Labels: jewel-batch-1, tests

#20400 ceph-disk: erase 110MB for nuking existing bluestore
  src/ceph-disk/ceph_disk/main.py
Labels: bug fix, needs-qa, tools

#20533 systemd: Wait 10 seconds before restarting ceph-mgr
  systemd/ceph-mgr@.service
Labels: mgr

#19611 jewel: include/fs_types: fix unsigned integer overflow
  src/include/fs_types.h
Labels: bug fix, cephfs, jewel-batch-1

#20284 jewel: ceph-objectstore-tool: "$OBJ get-omaphdr" and "$OBJ list-omap" scan all pgs instead of using specific pg
  src/tools/ceph_objectstore_tool.cc
Labels: backport, core, jewel-batch-1, tools

#20289 jewel: test_health_warnings.sh can fail
  src/osd/OSD.cc
Labels: bug fix, core, jewel-batch-1

#20446 jewel: Filestore rocksdb compaction readahead option not set by default
  src/common/config_opts.h
Labels: common, core, jewel-batch-1, performance

#20463 test: Adjust for Jewel quirk caused of differences with master
  qa/suites/rados/basic/tasks/repair_test.yaml
  qa/tasks/repair_test.py
Labels: jewel-batch-1, tests

#13644 rgw: changes to support ragweed
  qa/suites/rgw/multifs/tasks/rgw_ragweed.yaml
  qa/suites/rgw/upgrade/ragweed/%
  qa/suites/rgw/upgrade/ragweed/kraken-x/0-cluster/+
  qa/suites/rgw/upgrade/ragweed/kraken-x/0-cluster/openstack.yaml
  qa/suites/rgw/upgrade/ragweed/kraken-x/0-cluster/start.yaml
  qa/suites/rgw/upgrade/ragweed/kraken-x/1-install/basever.yaml
  qa/suites/rgw/upgrade/ragweed/kraken-x/2-workload/prepare.yaml
  qa/suites/rgw/upgrade/ragweed/kraken-x/3-upgrade/upgrade.yaml
  qa/suites/rgw/upgrade/ragweed/kraken-x/4-workload/check.yaml
  qa/suites/rgw/verify/tasks/rgw_ragweed.yaml
  qa/tasks/ragweed.py
Labels: feature, needs-qa, rgw, tests

#20344 jewel: mon/OSDMonitor: fix dividing by zero in OSDUtilizationDumper
  src/mon/OSDMonitor.cc
Labels: core, jewel-batch-1

#20425 rgw: parse old rgw_obj with namespace correctly
  src/rgw/rgw_common.h
Labels: bug fix, needs-qa, rgw

#20537 ceph-volume: adds support to zap encrypted devices
  src/ceph-volume/ceph_volume/api/lvm.py
  src/ceph-volume/ceph_volume/devices/lvm/zap.py
  src/ceph-volume/ceph_volume/tests/functional/lvm/centos7/bluestore/dmcrypt/test.yml
  src/ceph-volume/ceph_volume/tests/functional/lvm/centos7/filestore/dmcrypt/test.yml
  src/ceph-volume/ceph_volume/tests/functional/lvm/tox.ini
  src/ceph-volume/ceph_volume/tests/functional/lvm/xenial/bluestore/dmcrypt/test.yml
  src/ceph-volume/ceph_volume/tests/functional/lvm/xenial/filestore/dmcrypt/test.yml
Labels: ceph-volume

#20510 docs update ceph-deploy reference to reflect ceph-volume API
  doc/man/8/ceph-deploy.rst
  doc/rados/deployment/ceph-deploy-osd.rst
  doc/rados/troubleshooting/troubleshooting-pg.rst
  doc/start/quick-ceph-deploy.rst
Labels: documentation, needs-review

#20545 luminous: ceph-volume: adds support to zap encrypted devices
  src/ceph-volume/ceph_volume/api/lvm.py
  src/ceph-volume/ceph_volume/devices/lvm/zap.py
  src/ceph-volume/ceph_volume/tests/functional/lvm/centos7/bluestore/dmcrypt/test.yml
  src/ceph-volume/ceph_volume/tests/functional/lvm/centos7/filestore/dmcrypt/test.yml
  src/ceph-volume/ceph_volume/tests/functional/lvm/tox.ini
  src/ceph-volume/ceph_volume/tests/functional/lvm/xenial/bluestore/dmcrypt/test.yml
  src/ceph-volume/ceph_volume/tests/functional/lvm/xenial/filestore/dmcrypt/test.yml
Labels: ceph-volume

#20543 ceph-volume correctly normalize mount flags
  src/ceph-volume/ceph_volume/tests/util/test_prepare.py
  src/ceph-volume/ceph_volume/util/prepare.py
Labels: ceph-volume

#20504 doc: Add missing pg states from doc
  doc/rados/operations/pg-states.rst
Labels: documentation

#20557 test/CMakeLists: disable test_pidfile.sh
  src/test/Makefile.am
Labels: tests

#20559 luminous ceph-volume correctly normalize mount flags
  src/ceph-volume/ceph_volume/tests/util/test_prepare.py
  src/ceph-volume/ceph_volume/util/prepare.py
Labels: ceph-volume

#19104 luminous: rgw: Fix S3 compatibility bug when CORS is not found
  src/rgw/rgw_common.cc
  src/rgw/rgw_common.h
  src/rgw/rgw_rest_s3.cc
Labels: bug fix, needs-qa, rgw, wip-yuri2-testing

#20236 luminous: rgw: URL-decode S3 and Swift object-copy URLs
  src/rgw/rgw_op.cc
  src/rgw/rgw_op.h
  src/rgw/rgw_rest_s3.cc
  src/rgw/rgw_rest_swift.cc
Labels: bug fix, needs-qa, rgw, wip-yuri2-testing

#20266 luminous: rgw: return valid Location element, CompleteMultipartUpload
  src/rgw/rgw_rest.h
  src/rgw/rgw_rest_s3.cc
Labels: bug fix, needs-qa, rgw, wip-yuri2-testing

#20568 luminous: ceph-volume warn on mix of filestore and bluestore flags
  src/ceph-volume/ceph_volume/devices/lvm/common.py
  src/ceph-volume/ceph_volume/devices/lvm/create.py
  src/ceph-volume/ceph_volume/devices/lvm/prepare.py
  src/ceph-volume/ceph_volume/tests/devices/lvm/test_create.py
  src/ceph-volume/ceph_volume/tests/devices/lvm/test_prepare.py
  src/ceph-volume/ceph_volume/tests/util/test_arg_validators.py
  src/ceph-volume/ceph_volume/util/arg_validators.py
Labels: ceph-volume

#20353 luminous: Backport of cache manipulation: issues #22603 and #22604
  src/rgw/rgw_cache.cc
  src/rgw/rgw_cache.h
  src/rgw/rgw_rados.cc
  src/rgw/rgw_rados.h
Labels: feature, needs-qa, rgw, wip-yuri2-testing

#20488 rgw: make init env methods return an error
  src/rgw/rgw_asio_client.cc
  src/rgw/rgw_asio_client.h
  src/rgw/rgw_civetweb.cc
  src/rgw/rgw_civetweb.h
  src/rgw/rgw_client_io.cc
  src/rgw/rgw_client_io.h
  src/rgw/rgw_fcgi.cc
  src/rgw/rgw_fcgi.h
  src/rgw/rgw_lib.h
  src/rgw/rgw_loadgen.cc
  src/rgw/rgw_loadgen.h
  src/rgw/rgw_process.cc
Labels: bug fix, needs-qa, rgw

#20405 luminous: mon: accept crush device class to osd new
  doc/install/manual-deployment.rst
  doc/man/8/ceph.rst
  qa/workunits/cephtool/test.sh
  src/crush/CrushWrapper.h
  src/mon/OSDMonitor.cc
  src/mon/OSDMonitor.h
Labels: core, luminous-batch-1, wip-yuri3-testing

#14727 os/bluestore: add discard method for ssd's performance
  qa/objectstore/bluestore.yaml
  src/common/legacy_config_opts.h
  src/common/options.cc
  src/os/bluestore/BlockDevice.cc
  src/os/bluestore/BlockDevice.h
  src/os/bluestore/BlueFS.cc
  src/os/bluestore/BlueFS.h
  src/os/bluestore/BlueStore.cc
  src/os/bluestore/BlueStore.h
  src/os/bluestore/KernelDevice.cc
  src/os/bluestore/KernelDevice.h
Labels: bluestore, feature, needs-qa, performance, wip-kefu-testing

#19843 os/bluestore: implement BlueStore repair
  src/common/legacy_config_opts.h
  src/common/options.cc
  src/os/bluestore/BlueStore.cc
  src/os/bluestore/BlueStore.h
  src/os/bluestore/bluestore_types.h
  src/test/objectstore/store_test.cc
  src/test/objectstore/test_bluestore_types.cc
Labels: bluestore, feature, needs-qa, wip-kefu-testing

#20456 mgr/prometheus: Skip bogus entries
  src/pybind/mgr/prometheus/module.py
Labels: mgr, needs-qa, wip-kefu-testing

#20534 librados: make OPERATION_FULL_FORCE the default for rados_remove()
  src/librados/IoCtxImpl.cc
Labels: bug fix, core, needs-qa, wip-kefu-testing

#20574 common/lockdep: drop hash<pthread_t> specialization
  src/common/lockdep.cc
Labels: cleanup, common

#20548 luminous: last-stat-seq returns 0 because osd stats are cleared
  qa/standalone/ceph-helpers.sh
  src/mgr/ClusterState.cc
Labels: backport, mgr, tests

#20501 luminous: Snapset inconsistency is detected with its own error
  doc/rados/command/list-inconsistent-obj.json
  qa/standalone/scrub/osd-scrub-repair.sh
  src/common/scrub_types.h
  src/include/rados/rados_types.hpp
  src/osd/PGBackend.cc
  src/tools/rados/rados.cc
Labels: backport, bug fix, core

#20562 doc:Update ceph-fuse doc
  doc/man/8/ceph-fuse.rst
Labels: cephfs, documentation

#20549 common: fix typo in options.cc
  src/common/options.cc
Labels: cleanup, core, needs-qa, wip-kefu-testing

#20555 mon/OSDMonitor: fix min_size default for replicated pools
  qa/standalone/mon/misc.sh
  src/mon/OSDMonitor.cc
Labels: bug fix, core, needs-qa, wip-kefu-testing

#20552 osd/PG: decay scrub_chunk_max too if scrub is preempted
  src/osd/PG.cc
Labels: bug fix, core, needs-qa, wip-kefu-testing

#20515 luminous: cmake: check bootstrap.sh instead before downloading boost
  cmake/modules/BuildBoost.cmake
Labels: backport, bug fix, build/ops, luminous-batch-1, wip-yuri4-testing

#20563 luminous: tools: ceph-disk: v12.2.2 unable to create bluestore osd using ceph-disk
  src/ceph-disk/ceph_disk/main.py
Labels: bug fix, core, luminous-batch-1, wip-yuri4-testing

#20564 luminous: rgw: make init env methods return an error
  src/rgw/rgw_asio_client.cc
  src/rgw/rgw_asio_client.h
  src/rgw/rgw_civetweb.cc
  src/rgw/rgw_civetweb.h
  src/rgw/rgw_client_io.cc
  src/rgw/rgw_client_io.h
  src/rgw/rgw_fcgi.cc
  src/rgw/rgw_fcgi.h
  src/rgw/rgw_lib.h
  src/rgw/rgw_loadgen.cc
  src/rgw/rgw_loadgen.h
  src/rgw/rgw_process.cc
Labels: luminous-batch-1, rgw, wip-yuri4-testing

#20565 luminous: rgw: use explicit index pool placement
  src/rgw/rgw_rados.cc
Labels: luminous-batch-1, rgw, wip-yuri4-testing

#20566 luminous: rgw: parse old rgw_obj with namespace correctly
  src/rgw/rgw_common.h
Labels: luminous-batch-1, rgw, wip-yuri4-testing

#20576 test: put new BlueStore tests un ifdef WITH_BLUESTORE
  src/test/objectstore/store_test.cc
Labels: tests

#20152 mgr: add units to performance counters
  src/common/perf_counters.cc
  src/common/perf_counters.h
  src/librbd/ImageCtx.cc
  src/messages/MMgrReport.h
  src/mgr/ActivePyModules.cc
  src/mgr/MgrClient.cc
  src/mon/Monitor.cc
  src/mon/Paxos.cc
  src/msg/async/Stack.h
  src/msg/async/dpdk/DPDK.cc
  src/msg/async/rdma/RDMAStack.cc
  src/os/bluestore/BlueFS.cc
  src/os/bluestore/BlueStore.cc
  src/os/filestore/WBThrottle.cc
  src/osd/OSD.cc
  src/osdc/ObjectCacher.cc
  src/osdc/Objecter.cc
  src/pybind/mgr/dashboard/module.py
  src/pybind/mgr/mgr_module.py
  src/test/perf_counters.cc
Labels: feature, mgr

#20591 qa: krbd latest-osdmap-on-map test
  qa/suites/krbd/rbd-nomount/tasks/krbd_latest_osdmap_on_map.yaml
  qa/workunits/rbd/krbd_latest_osdmap_on_map.sh
Labels: rbd, tests

#20567 osd/osd_types: kill preferred field in pg_t
  src/mon/OSDMonitor.cc
  src/mon/PGMap.cc
  src/osd/OSD.cc
  src/osd/OSDMap.cc
  src/osd/osd_types.cc
  src/osd/osd_types.h
  src/test/mon/test_mon_workloadgen.cc
  src/test/osd/TestOSDMap.cc
  src/test/osd/types.cc
  src/test/test_snap_mapper.cc
  src/tools/osdmaptool.cc
Labels: core

#20560 librbd: minor cleanup of the IO pathway
  src/librbd/CMakeLists.txt
  src/librbd/LibrbdWriteback.cc
  src/librbd/cache/ImageWriteback.cc
  src/librbd/io/ImageDispatchSpec.cc
  src/librbd/io/ImageDispatchSpec.h
  src/librbd/io/ImageRequest.cc
  src/librbd/io/ImageRequest.h
  src/librbd/io/ImageRequestWQ.cc
  src/librbd/io/ImageRequestWQ.h
  src/librbd/io/ObjectRequest.cc
  src/librbd/io/ObjectRequest.h
  src/librbd/io/ReadResult.cc
  src/librbd/io/ReadResult.h
  src/librbd/io/Types.h
  src/librbd/io/Utils.cc
  src/librbd/io/Utils.h
  src/librbd/journal/Replay.cc
  src/librbd/operation/FlattenRequest.cc
  src/test/librbd/io/test_mock_ImageRequest.cc
  src/test/librbd/io/test_mock_ImageRequestWQ.cc
  src/test/librbd/io/test_mock_ObjectRequest.cc
  src/test/librbd/journal/test_mock_Replay.cc
Labels: cleanup, rbd

#20571 Fix asserts caused by DNE pgs left behind after lots of OSD restarts
  src/osd/OSD.cc
  src/osd/PG.h
Labels: bug fix, core

#20283 luminous: ceph-objectstore-tool: "$OBJ get-omaphdr" and "$OBJ list-omap" scan all pgs instead of using specific pg
  src/tools/ceph_objectstore_tool.cc
Labels: backport, tools

#20597 luminous: ceph-volume: log the current running command for easier debugging
  src/ceph-volume/ceph_volume/main.py
  src/ceph-volume/ceph_volume/tests/test_main.py
Labels: ceph-volume

#20596 luminous: ceph-volume: add ANSIBLE_SSH_RETRIES=5 to functional tests
  src/ceph-volume/ceph_volume/tests/functional/lvm/tox.ini
  src/ceph-volume/ceph_volume/tests/functional/simple/tox.ini
Labels: ceph-volume

#20572 doc: cleanup erasure coded pool doc on cephfs use
  doc/rados/operations/erasure-code.rst
Labels: cephfs, documentation, needs-review

#20600 msg/async/AsyncConnection: less noisy debug
  src/msg/async/AsyncConnection.cc
Labels: cleanup, common
