Repository ceph/ceph, pull requests merged in 2018-06, with the labels that each got.

#22056 mon: change monitor compact command to run asynchronously
  src/kv/KeyValueDB.h
  src/kv/LevelDBStore.cc
  src/kv/LevelDBStore.h
  src/kv/RocksDBStore.cc
  src/kv/RocksDBStore.h
  src/mon/Monitor.cc
  src/mon/MonitorDBStore.h
Labels: mon

#21920 librados: use ceph::async::Completion for asio bindings
  src/librados/librados_asio.h
Labels: cleanup, core, needs-qa, wip-kefu-testing

#21689 os/bluestore/BlueFS: reduce bufferlist rebuilds during WAL writes
  src/common/buffer.cc
  src/include/buffer.h
  src/os/bluestore/BlueFS.cc
  src/os/bluestore/bluefs_types.cc
  src/test/bufferlist.cc
Labels: bluestore, needs-qa, performance, wip-kefu-testing

#22335 os/bluestore: remove useless condtion.
  src/os/bluestore/BlueStore.cc
Labels: bluestore, cleanup, needs-qa, wip-kefu-testing

#22285 mgr/dashboard: Log frontend errors + @UiController
  src/pybind/mgr/dashboard/HACKING.rst
  src/pybind/mgr/dashboard/controllers/__init__.py
  src/pybind/mgr/dashboard/controllers/logging.py
  src/pybind/mgr/dashboard/frontend/proxy.conf.json.sample
  src/pybind/mgr/dashboard/frontend/src/app/app.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/api.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/logging.service.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/services/js-error-handler.service.ts
Labels: dashboard, feature, needs-qa, wip-kefu-testing

#22337 osd,mon: enable level_compaction_dynamic_level_bytes for rocksdb
  src/common/options.cc
Labels: bluestore, core, mon, needs-qa, performance, wip-kefu-testing

#21864 doc: fixed restful mgr module SSL configuration commands
  doc/mgr/restful.rst
  doc/rbd/iscsi-target-cli.rst
Labels: documentation

#22327 librbd: utilize the journal disabled policy when removing images
  src/librbd/image/RemoveRequest.cc
  src/test/librbd/image/test_mock_RemoveRequest.cc
Labels: bug fix, rbd, wip-mgolub-testing

#22364 doc: fix the links in releases/schedule.rst
  doc/dev/blkin.rst
  doc/dev/documenting.rst
  doc/dev/generatedocs.rst
  doc/dev/index.rst
  doc/releases/schedule.rst
Labels: bug fix, documentation, needs-backport

#22367 cmake: rgw_common should depend on tracing headers
  src/rgw/CMakeLists.txt
Labels: build/ops

#22299 mimic: cmake: enable RTTI for both debug and release RocksDB builds
  cmake/modules/BuildRocksDB.cmake
Labels: build/ops, needs-qa, wip-sage3-testing

#21812 ceph-volume: sort and align `lvm list` output
  src/ceph-volume/ceph_volume/devices/lvm/listing.py
  src/ceph-volume/ceph_volume/tests/devices/lvm/test_listing.py
Labels: ceph-volume, needs-review

#21687 luminous: ceph-fuse: getgroups failure causes exception
  src/client/Client.cc
  src/client/Client.h
  src/client/UserPerm.h
  src/client/fuse_ll.cc
Labels: cephfs

#21589 luminous: client: add client option descriptions
  src/common/options.cc
Labels: cephfs

#21899 luminous: mds: trim log during shutdown to clean metadata
  src/mds/MDCache.cc
Labels: cephfs

#21616 luminous: doc: Fix -d description in ceph-fuse
  doc/man/8/ceph-fuse.rst
Labels: cephfs, documentation

#21900 luminous: mds: crash when failover
  src/mds/Capability.h
  src/mds/MDCache.cc
  src/mds/MDCache.h
  src/mds/Migrator.cc
  src/mds/Migrator.h
  src/mds/Mutation.h
  src/mds/Server.cc
  src/mds/Server.h
  src/mds/SessionMap.h
Labels: cephfs

#21901 luminous: mds: kick rdlock if waiting for dirfragtreelock
  src/mds/MDCache.cc
Labels: cephfs

#21921 luminous: qa: fix blacklisted check for test_lifecycle
  qa/tasks/cephfs/test_volume_client.py
Labels: cephfs

#21922 luminous: mds: mark new root inode dirty
  src/mds/CInode.cc
  src/mds/CInode.h
  src/mds/MDCache.cc
  src/mds/Server.cc
  src/mds/journal.cc
Labels: cephfs

#21989 luminous: mds: handle imported session race
  qa/cephfs/clusters/3-mds.yaml
  qa/cephfs/clusters/9-mds.yaml
  qa/tasks/cephfs/filesystem.py
  qa/tasks/cephfs/test_exports.py
  src/common/options.cc
  src/mds/MDSDaemon.cc
  src/mds/MDSRank.cc
  src/mds/MDSRank.h
  src/mds/Migrator.cc
  src/mds/Migrator.h
  src/mds/SessionMap.h
Labels: cephfs

#21990 luminous: mds: don't discover inode/dirfrag when mds is in 'starting' state
  src/mds/MDCache.cc
  src/mds/MDCache.h
  src/mds/MDSRank.cc
Labels: cephfs

#22018 luminous: client: hangs on umount if it had an MDS session evicted
  qa/tasks/cephfs/fuse_mount.py
  qa/tasks/cephfs/test_client_recovery.py
  src/client/Client.cc
Labels: cephfs, luminous-batch-1

#22118 luminous: mds: include nfiles/nsubdirs of directory inode in MClientCaps
  src/client/Client.cc
  src/mds/CInode.cc
  src/messages/MClientCaps.h
Labels: cephfs

#22168 luminous: client: avoid freeing inode when it contains TX buffer head
  src/client/Client.cc
  src/osdc/ObjectCacher.cc
  src/osdc/ObjectCacher.h
Labels: bug fix, cephfs

#22171 luminous: mds: avoid calling rejoin_gather_finish() two times successively
  src/mds/MDCache.cc
Labels: bug fix, cephfs

#22208 luminous: kceph: umount on evicted client blocks forever
  qa/tasks/cephfs/kernel_mount.py
  src/mds/Server.cc
Labels: cephfs

#22221 luminous: client: fix issue of revoking non-auth caps
  src/client/Client.cc
Labels: cephfs

#22271 luminous: mds: broadcast quota to relevant clients when quota is explicitly set
  src/mds/MDCache.cc
  src/mds/MDCache.h
  src/mds/Server.cc
Labels: cephfs

#22310 luminous: mds: fix some memory leak
  src/mds/Beacon.cc
  src/mds/MDSCacheObject.h
  src/mds/Migrator.cc
  src/mds/Server.cc
Labels: bug fix, cephfs

#22176 luminous: mds: set could_consume to false when no purge queue item actually exe…
  src/mds/PurgeQueue.cc
Labels: cephfs, luminous-batch-1

#21495 luminous: ceph-fuse: return proper exit code
  src/ceph_fuse.cc
  src/client/Client.h
  src/common/Preforker.h
Labels: cephfs

#22348 rbd-mirror: ensure daemon can cleanly exit if pool is deleted
  qa/suites/rbd/mirror-thrash/rbd-mirror/four-per-cluster.yaml
  qa/tasks/rbd_mirror.py
  qa/tasks/rbd_mirror_thrash.py
  qa/workunits/rbd/rbd_mirror_helpers.sh
  src/librbd/ManagedLock.cc
  src/test/librbd/test_mock_ManagedLock.cc
  src/test/rbd_mirror/test_mock_LeaderWatcher.cc
  src/tools/rbd_mirror/LeaderWatcher.cc
  src/tools/rbd_mirror/LeaderWatcher.h
Labels: bug fix, rbd, tests

#22342 librbd: commit IO as safe when complete if writeback cache is disabled
  src/librbd/ImageCtx.cc
  src/librbd/ImageCtx.h
  src/librbd/journal/Replay.cc
  src/librbd/journal/Replay.h
  src/test/librbd/journal/test_mock_Replay.cc
  src/test/librbd/mock/MockImageCtx.h
  src/test/rbd_mirror/test_ImageReplayer.cc
Labels: cleanup, rbd

#22306 msg: addr -> addrvec (part 1)
  PendingReleaseNotes
  src/client/Client.cc
  src/client/Client.h
  src/client/MetaSession.cc
  src/client/MetaSession.h
  src/mds/MDBalancer.cc
  src/mds/MDSMap.h
  src/mds/MDSRank.cc
  src/messages/MMgrBeacon.h
  src/messages/MOSDFailure.h
  src/messages/MOSDMarkMeDown.h
  src/messages/MRoute.h
  src/mgr/DaemonServer.cc
  src/mgr/DaemonServer.h
  src/mgr/Mgr.cc
  src/mgr/Mgr.h
  src/mgr/MgrClient.cc
  src/mgr/MgrStandby.cc
  src/mon/MgrMap.h
  src/mon/MgrMonitor.cc
  src/mon/Monitor.cc
  src/mon/Monitor.h
  src/mon/OSDMonitor.cc
  src/mon/Session.h
  src/msg/Connection.h
  src/msg/Message.h
  src/msg/Messenger.h
  src/msg/async/AsyncConnection.cc
  src/msg/async/AsyncMessenger.cc
  src/msg/async/AsyncMessenger.h
  src/msg/msg_types.cc
  src/msg/msg_types.h
  src/msg/simple/Accepter.cc
  src/msg/simple/Pipe.cc
  src/msg/simple/SimpleMessenger.cc
  src/osd/OSD.cc
  src/osd/OSD.h
  src/osd/OSDMap.cc
  src/osd/OSDMap.h
  src/osdc/Objecter.cc
  src/test/direct_messenger/CMakeLists.txt
  src/test/mon/test-mon-msg.cc
  src/test/mon/test_mon_workloadgen.cc
  src/test/msgr/test_msgr.cc
  src/test/osd/TestOSDMap.cc
Labels: core, mgr, needs-qa, wip-kefu-testing

#22336 os/bluestore: firstly delete db then delete bluefs if open db met error.
  src/os/bluestore/BlueStore.cc
Labels: bluestore, needs-qa, wip-kefu-testing

#22196 osd: read object attrs failed at EC recovery
  qa/standalone/erasure-code/test-erasure-eio.sh
  src/osd/ECBackend.cc
Labels: bug fix, core, needs-qa, wip-kefu-testing

#21913 mgr/dashboard: Add Filesystems list component
  qa/tasks/mgr/dashboard/test_cephfs.py
  qa/tasks/mgr/dashboard/test_summary.py
  src/pybind/mgr/dashboard/controllers/cephfs.py
  src/pybind/mgr/dashboard/controllers/summary.py
  src/pybind/mgr/dashboard/frontend/src/app/app-routing.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cephfs/cephfs-clients/cephfs-clients.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cephfs/cephfs-clients/cephfs-clients.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cephfs/cephfs-clients/cephfs-clients.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cephfs/cephfs-clients/cephfs-clients.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cephfs/cephfs-detail/cephfs-detail.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cephfs/cephfs-detail/cephfs-detail.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cephfs/cephfs-detail/cephfs-detail.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cephfs/cephfs-detail/cephfs-detail.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cephfs/cephfs-list/cephfs-list.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cephfs/cephfs-list/cephfs-list.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cephfs/cephfs-list/cephfs-list.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cephfs/cephfs-list/cephfs-list.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cephfs/cephfs.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cephfs/cephfs/cephfs.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cephfs/cephfs/cephfs.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cephfs/clients/clients.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cephfs/clients/clients.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cephfs/clients/clients.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/core/navigation/navigation/navigation.component.html
  src/pybind/mgr/dashboard/frontend/src/app/core/navigation/navigation/navigation.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/cephfs.service.ts
Labels: dashboard, feature, needs-qa, wip-kefu-testing

#21718 common/admin_socket: add new api unregister_commands(AdminSocketHook …
  src/client/Client.cc
  src/common/admin_socket.cc
  src/common/admin_socket.h
  src/common/ceph_context.cc
  src/mds/MDSDaemon.cc
  src/mon/Monitor.cc
  src/osd/OSD.cc
  src/rgw/rgw_rados.cc
  src/rgw/rgw_sync_trace.cc
Labels: cleanup, common, needs-qa, wip-kefu-testing

#22274 mimic: mgr/dashboard: Fix some datatable CSS issues
  src/pybind/mgr/dashboard/frontend/src/app/shared/datatable/table/table.component.scss
Labels: bug fix, dashboard

#22328 mgr/dashboard: Add 'no-unused-variable' rule to tslint
  src/pybind/mgr/dashboard/frontend/src/app/app.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/mirroring/mirroring.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-snapshot-list/rbd-snapshot-list.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cephfs/cephfs-list/cephfs-list.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/dashboard/health-pie/health-pie.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/dashboard/mds-summary.pipe.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/pool/pool-list/pool-list.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-501/rgw-501.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-bucket-list/rgw-bucket-list.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-user-list/rgw-user-list.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/core/auth/login/login.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/configuration.service.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/dashboard.service.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/monitor.service.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/rbd-mirroring.service.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/deletion-modal/deletion-modal.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/modal/modal.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/usage-bar/usage-bar.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/models/chart-tooltip.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/services/task-manager.service.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/services/task-manager.service.ts
  src/pybind/mgr/dashboard/frontend/tslint.json
Labels: cleanup, dashboard

#22346 osd: Handle omap and data digests independently
  qa/standalone/scrub/osd-scrub-repair.sh
  src/common/legacy_config_opts.h
  src/common/options.cc
  src/osd/PGBackend.cc
Labels: bug fix, cleanup, core, tests

#22384 mds: add reference when setting Connection::priv to existing session
  src/mds/MDSDaemon.cc
  src/mds/MDSRank.cc
Labels: bug fix, cephfs, needs-qa

#22389 doc: cleanup
  doc/dev/blkin.rst
Labels: cleanup, documentation

#21247 rbd: add data pool support to trash purge
  src/tools/rbd/action/Trash.cc
Labels: feature, needs-qa, rbd, wip-jason-testing

#22359 osdc/objecter: remove unused method finish_op
  src/osdc/Objecter.cc
  src/osdc/Objecter.h
Labels: cleanup, core, needs-qa, wip-sage3-testing

#21278 luminous: client: dirty caps may never get the chance to flush
  src/client/Client.cc
  src/client/Client.h
  src/client/Inode.cc
  src/client/Inode.h
Labels: cephfs

#21187 luminous: mds: underwater dentry check in CDir::_omap_fetched is racy
  src/mds/CDir.cc
  src/mds/CDir.h
Labels: bug fix, cephfs

#22405 qa/tasks/cbt.py: changes to run on bionic
  qa/tasks/cbt.py
Labels: bug fix, performance

#22392 cmake: bump up the required boost version to 1.67
  CMakeLists.txt
Labels: build/ops, needs-backport, needs-qa, wip-kefu-testing

#22122 mgr/dashboard: Add scrub action to the OSDs table
  qa/tasks/mgr/dashboard/test_osd.py
  src/pybind/mgr/dashboard/controllers/osd.py
  src/pybind/mgr/dashboard/controllers/pool.py
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/cluster.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/osd/osd-list/osd-list.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/osd/osd-list/osd-list.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/osd/osd-scrub-modal/osd-scrub-modal.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/osd/osd-scrub-modal/osd-scrub-modal.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/osd/osd-scrub-modal/osd-scrub-modal.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/osd/osd-scrub-modal/osd-scrub-modal.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/osd.service.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/components.module.ts
  src/pybind/mgr/dashboard/tools.py
Labels: dashboard, feature

#21826 mgr/dashboard: Update RxJS to version 6
  src/pybind/mgr/dashboard/frontend/package.json
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/flatten-confirmation-modal/flatten-confimation-modal.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/mirroring/mirroring.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-form/rbd-form.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-list/rbd-list.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-snapshot-form/rbd-snapshot-form.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-snapshot-list/rbd-snapshot-list.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rollback-confirmation-modal/rollback-confimation-modal.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cephfs/cephfs-clients/cephfs-clients.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cephfs/cephfs-detail/cephfs-detail.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cephfs/cephfs-detail/cephfs-detail.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cephfs/cephfs-list/cephfs-list.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/configuration/configuration.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/dashboard/health/health.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-bucket-form/rgw-bucket-form.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-bucket-list/rgw-bucket-list.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-user-form/rgw-user-form.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-user-form/rgw-user-form.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-user-list/rgw-user-list.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/performance-counter.service.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/rgw-bucket.service.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/rgw-user.service.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/deletion-modal/deletion-modal.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/deletion-modal/deletion-modal.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/datatable/table/table.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/services/api-interceptor.service.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/services/module-status-guard.service.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/services/module-status-guard.service.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/services/notification.service.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/services/summary.service.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/services/summary.service.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/services/task-manager.service.spec.ts
  src/pybind/mgr/dashboard/frontend/src/setupJest.ts
  src/pybind/mgr/dashboard/frontend/tslint.json
Labels: dashboard

#22401 mgr/dashboard: Prettify package.json
  src/pybind/mgr/dashboard/frontend/package.json
Labels: cleanup, dashboard

#22399 ceph-volume tests do not include admin keyring in OSD nodes
  src/ceph-volume/ceph_volume/tests/functional/lvm/centos7/bluestore/create/group_vars/all
  src/ceph-volume/ceph_volume/tests/functional/lvm/centos7/bluestore/dmcrypt/group_vars/all
  src/ceph-volume/ceph_volume/tests/functional/lvm/centos7/filestore/create/group_vars/all
  src/ceph-volume/ceph_volume/tests/functional/lvm/centos7/filestore/dmcrypt/group_vars/all
  src/ceph-volume/ceph_volume/tests/functional/lvm/xenial/bluestore/create/group_vars/all
  src/ceph-volume/ceph_volume/tests/functional/lvm/xenial/bluestore/dmcrypt/group_vars/all
  src/ceph-volume/ceph_volume/tests/functional/lvm/xenial/filestore/create/group_vars/all
  src/ceph-volume/ceph_volume/tests/functional/lvm/xenial/filestore/dmcrypt/group_vars/all
  src/ceph-volume/ceph_volume/tests/functional/simple/centos7/bluestore/activate/group_vars/all
  src/ceph-volume/ceph_volume/tests/functional/simple/centos7/bluestore/dmcrypt-luks/group_vars/all
  src/ceph-volume/ceph_volume/tests/functional/simple/centos7/bluestore/dmcrypt-plain/group_vars/all
  src/ceph-volume/ceph_volume/tests/functional/simple/centos7/filestore/activate/group_vars/all
  src/ceph-volume/ceph_volume/tests/functional/simple/centos7/filestore/dmcrypt-luks/group_vars/all
  src/ceph-volume/ceph_volume/tests/functional/simple/centos7/filestore/dmcrypt-plain/group_vars/all
  src/ceph-volume/ceph_volume/tests/functional/simple/xenial/bluestore/activate/group_vars/all
  src/ceph-volume/ceph_volume/tests/functional/simple/xenial/bluestore/dmcrypt-luks/group_vars/all
  src/ceph-volume/ceph_volume/tests/functional/simple/xenial/bluestore/dmcrypt-plain/group_vars/all
  src/ceph-volume/ceph_volume/tests/functional/simple/xenial/filestore/activate/group_vars/all
  src/ceph-volume/ceph_volume/tests/functional/simple/xenial/filestore/dmcrypt-luks/group_vars/all
  src/ceph-volume/ceph_volume/tests/functional/simple/xenial/filestore/dmcrypt-plain/group_vars/all
Labels: ceph-volume

#22402 mgr/dashboard: Stacktrace is optional on 'js-error' endpoint
  src/pybind/mgr/dashboard/controllers/logging.py
Labels: bug fix, dashboard

#22417 mgr/dashboard: fix lint error
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cephfs/cephfs-detail/cephfs-detail.component.ts
Labels: bug fix, dashboard

#21775 librados: fix buffer overflow for aio_exec python binding
  src/librados/IoCtxImpl.cc
Labels: core, needs-qa, pybind, wip-kefu-testing

#22395 osd,mds: make 'config rm ...' idempotent
  qa/workunits/mon/config.sh
  src/common/ceph_context.cc
  src/common/config.cc
  src/mds/MDSDaemon.cc
  src/osd/OSD.cc
Labels: bug fix, core, wip-kefu-testing

#21999 osd, librados: add unset-manifest op
  src/include/rados.h
  src/include/rados/librados.hpp
  src/librados/librados.cc
  src/osd/PrimaryLogPG.cc
  src/osdc/Objecter.h
  src/test/librados/tier.cc
  src/tools/rados/rados.cc
Labels: core, feature, needs-qa, wip-kefu-testing

#22396 osd/PrimaryLogPG: fix on_local_recover crash on stray clone
  qa/standalone/scrub/osd-unexpected-clone.sh
  src/osd/PrimaryLogPG.cc
Labels: bug fix, core

#22420 mgr: expose avg data for long running avgs
  src/mgr/ActivePyModules.cc
Labels: mgr

#22374 mimic: Wip scrub omap
  qa/standalone/scrub/osd-scrub-repair.sh
  src/common/legacy_config_opts.h
  src/common/options.cc
  src/osd/PGBackend.cc
Labels: backport, bug fix, cleanup, core, tests

#22375 luminous : Wip scrub omap
  src/common/legacy_config_opts.h
  src/common/options.cc
  src/osd/PG.cc
  src/osd/PG.h
  src/osd/PGBackend.cc
  src/osd/PGBackend.h
  src/osd/PrimaryLogPG.cc
  src/osd/PrimaryLogPG.h
Labels: backport, bug fix, cleanup, core, tests

#22408 messages/MOSDPGScan: fix initialization of query_epoch
  src/messages/MOSDPGScan.h
Labels: bug fix, core, needs-qa

#22398 mimic ceph-volume lvm.activate Do not search for a MON configuration
  src/ceph-volume/ceph_volume/devices/lvm/activate.py
Labels: ceph-volume

#22329 os: Minor fixes in comments describing a transaction
  src/os/ObjectStore.h
Labels: cleanup

#22356 spdk: fix ceph-osd crash when activate SPDK
  src/os/bluestore/NVMEDevice.cc
Labels: bluestore, bug fix

#22365 doc: update the description for SPDK in bluestore-config-ref.rst
  doc/rados/configuration/bluestore-config-ref.rst
Labels: documentation

#22409 mgr/dashboard: Listen on port 8443 by default and not 8080
  doc/mgr/dashboard.rst
  src/pybind/mgr/dashboard/HACKING.rst
  src/pybind/mgr/dashboard/controllers/__init__.py
  src/pybind/mgr/dashboard/frontend/proxy.conf.json.sample
  src/pybind/mgr/dashboard/module.py
Labels: dashboard, mgr

#22404 mgr/dashboard: Do not fetch pool list on RBD edit
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-form/rbd-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-form/rbd-form.component.ts
Labels: cleanup, dashboard

#22386 mgr/dashboard: Changed default value of decimal point to 1
  src/pybind/mgr/dashboard/frontend/src/app/shared/services/formatter.service.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/services/formatter.service.ts
Labels: bug fix, dashboard

#21880 mgr/dashboard: Upgrade Swimlane's data-table
  src/pybind/mgr/dashboard/frontend/package.json
Labels: dashboard

#21644 mgr/dashboard: Grafana proxy backend
  doc/mgr/dashboard.rst
  src/pybind/mgr/dashboard/controllers/grafana.py
  src/pybind/mgr/dashboard/settings.py
  src/pybind/mgr/dashboard/tests/test_grafana.py
Labels: dashboard, feature

#21699 luminous: doc/mgr/balancer: document
  doc/mgr/balancer.rst
  doc/mgr/index.rst
Labels: backport, documentation

#21279 doc: erasure-code-jerasure: removed default section of crush-device-class
  doc/rados/operations/erasure-code-jerasure.rst
Labels: core, documentation, needs-review

#22387 mgr/dashboard: Print a blank space between value and unit
  src/pybind/mgr/dashboard/frontend/src/app/shared/pipes/dimless-binary.pipe.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/pipes/dimless.pipe.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/services/formatter.service.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/services/formatter.service.ts
Labels: bug fix, dashboard

#22282 mgr/dashboard: Swagger-UI based Dashboard REST API page
  src/pybind/mgr/dashboard/controllers/docs.py
Labels: dashboard, feature

#22451 install-deps.sh: support install gcc7 in xenial aarch64
  install-deps.sh
Labels: build/ops

#22370 luminous: librbd: commit IO as safe when complete if writeback cache is disabled
  src/librbd/ImageCtx.cc
  src/librbd/ImageCtx.h
  src/librbd/journal/Replay.cc
  src/librbd/journal/Replay.h
  src/test/librbd/journal/test_mock_Replay.cc
  src/test/librbd/mock/MockImageCtx.h
  src/test/rbd_mirror/test_ImageReplayer.cc
Labels: bug fix, luminous-batch-1, rbd, wip-yuri2-testing

#22180 luminous: [rbd-mirror] potential deadlock when running asok 'flush' command
  src/tools/rbd_mirror/ImageReplayer.cc
Labels: luminous-batch-1, rbd, wip-yuri2-testing

#21316 luminous: rbd: improve 'import-diff' corrupt input error messages
  doc/dev/rbd-export.rst
  qa/workunits/rbd/import_export.sh
  src/tools/rbd/Utils.h
  src/tools/rbd/action/Export.cc
  src/tools/rbd/action/Import.cc
Labels: luminous-batch-1, rbd, wip-yuri2-testing

#22445 doc: fix release notes on snapshot upgrades
  doc/releases/mimic.rst
Labels: cephfs, documentation

#22437 ceph-volume tests destroy osds on monitor hosts
  src/ceph-volume/ceph_volume/tests/functional/lvm/centos7/bluestore/dmcrypt/test.yml
  src/ceph-volume/ceph_volume/tests/functional/lvm/centos7/filestore/dmcrypt/test.yml
  src/ceph-volume/ceph_volume/tests/functional/lvm/playbooks/test_bluestore.yml
  src/ceph-volume/ceph_volume/tests/functional/lvm/playbooks/test_filestore.yml
  src/ceph-volume/ceph_volume/tests/functional/lvm/xenial/bluestore/dmcrypt/test.yml
  src/ceph-volume/ceph_volume/tests/functional/lvm/xenial/filestore/dmcrypt/test.yml
Labels: ceph-volume

#22403 mgr/dashboard: Login failure should return HTTP 400
  qa/tasks/mgr/dashboard/test_auth.py
  src/pybind/mgr/dashboard/controllers/auth.py
  src/pybind/mgr/dashboard/frontend/src/app/shared/enum/components.enum.ts
Labels: bug fix, dashboard

#22363 luminous: rgw: making implicit_tenants backwards compatible
  doc/radosgw/keystone.rst
  doc/radosgw/multitenancy.rst
  src/common/legacy_config_opts.h
  src/common/options.cc
  src/rgw/rgw_auth.cc
  src/rgw/rgw_auth.h
  src/rgw/rgw_auth_registry.h
  src/rgw/rgw_auth_s3.h
  src/rgw/rgw_frontend.h
  src/rgw/rgw_main.cc
  src/rgw/rgw_rest_s3.h
  src/rgw/rgw_swift_auth.h
Labels: bug fix, luminous-batch-1, needs-qa, rgw, wip-yuri3-testing

#22352 luminous: rgw: Do not modify email if argument is not set
  qa/tasks/radosgw_admin_rest.py
  src/rgw/rgw_rest_user.cc
Labels: luminous-batch-1, rgw, wip-yuri3-testing

#22302 luminous: rgw: add configurable AWS-compat invalid range get behavior
  src/common/legacy_config_opts.h
  src/common/options.cc
  src/rgw/rgw_op.cc
  src/rgw/rgw_op.h
Labels: bug fix, luminous-batch-1, rgw, wip-yuri3-testing

#22177 luminous: rgw: trim all spaces inside a metadata value
  src/rgw/rgw_auth_s3.cc
Labels: luminous-batch-1, rgw, wip-yuri3-testing

#21738 luminous: rgw: fix use of libcurl with empty header values
  src/rgw/rgw_http_client.cc
Labels: bug fix, luminous-batch-1, rgw, wip-yuri3-testing

#21724 luminous: rgw: rgw_statfs should report the correct stats
  src/rgw/rgw_file.cc
  src/rgw/rgw_file.h
  src/rgw/rgw_op.cc
  src/rgw/rgw_op.h
Labels: bug fix, luminous-batch-1, rgw, wip-yuri3-testing

#21437 luminous: rgw: radosgw-admin should not use metadata cache for readonly commands
  src/rgw/rgw_admin.cc
  src/rgw/rgw_main.cc
  src/rgw/rgw_rados.cc
  src/rgw/rgw_rados.h
  src/rgw/rgw_realm_reloader.cc
Labels: luminous-batch-1, rgw, wip-yuri3-testing

#22443 doc/rbd: corrected OpenStack Cinder permissions for Glance pool
  doc/rbd/rbd-openstack.rst
Labels: documentation, rbd

#22453 mgr/dashboard: Fix pool usage not displaying on filesystem page
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cephfs/cephfs-detail/cephfs-detail.component.html
Labels: bug fix, dashboard

#22430 cmake: find liboath using the correct name
  CMakeLists.txt
  cmake/modules/FindOATH.cmake
  cmake/modules/Findliboath.cmake
  src/cls/CMakeLists.txt
  src/rgw/CMakeLists.txt
Labels: bug fix, build/ops, needs-backport, needs-qa, wip-kefu-testing

#22449 mimic: mgr/dashboard: Listen on port 8443 by default and not 8080
  doc/mgr/dashboard.rst
  src/pybind/mgr/dashboard/HACKING.rst
  src/pybind/mgr/dashboard/controllers/__init__.py
  src/pybind/mgr/dashboard/frontend/proxy.conf.json.sample
  src/pybind/mgr/dashboard/module.py
Labels: backport, dashboard, mgr

#22439 cmake: fix find system rockdb
  cmake/modules/Findrocksdb.cmake
Labels: build/ops, needs-qa, wip-kefu-testing

#22360 luminous: mon: enable level_compaction_dynamic_level_bytes for rocksdb
  src/common/options.cc
Labels: core, luminous-batch-1, wip-yuri-testing

#22351 luminous: os/bluestore: simplify and fix SharedBlob::put()
  src/os/bluestore/BlueStore.cc
  src/os/bluestore/BlueStore.h
Labels: core, luminous-batch-1, wip-yuri-testing

#22331 luminous : mon/MgrMonitor: change 'unresponsive' message to info level
  qa/suites/rados/monthrash/ceph.yaml
  qa/suites/upgrade/jewel-x/parallel/1-jewel-install/jewel.yaml
  src/mon/MgrMonitor.cc
Labels: core, luminous-batch-1, wip-yuri-testing

#22253 luminous - osd/osd_types: fix object_stat_sum_t decode
  src/osd/osd_types.cc
Labels: bug fix, core, luminous-batch-1, wip-yuri-testing

#21968 luminous: mon: High MON cpu usage when cluster is changing
  src/crush/CrushWrapper.h
  src/messages/MOSDMap.h
  src/mon/OSDMonitor.cc
  src/mon/OSDMonitor.h
  src/osd/OSD.cc
  src/osd/OSDMap.cc
  src/osd/OSDMap.h
  src/osd/osd_types.cc
Labels: bug fix, core, luminous-batch-1, wip-yuri-testing

#22426 ceph-volume expand on the LVM API to create multiple LVs at different sizes
  src/ceph-volume/ceph_volume/api/lvm.py
  src/ceph-volume/ceph_volume/exceptions.py
  src/ceph-volume/ceph_volume/tests/api/test_lvm.py
Labels: ceph-volume

#22462 os/bluestore: don't store/use path_block.{db,wal} from meta
  src/ceph-volume/ceph_volume/devices/lvm/activate.py
  src/ceph-volume/ceph_volume/util/system.py
  src/os/bluestore/BlueStore.cc
Labels: bluestore, ceph-volume, cleanup, core

#22425 mimic: ceph-volume tests do not include admin keyring in OSD nodes
  src/ceph-volume/ceph_volume/tests/functional/lvm/centos7/bluestore/create/group_vars/all
  src/ceph-volume/ceph_volume/tests/functional/lvm/centos7/bluestore/dmcrypt/group_vars/all
  src/ceph-volume/ceph_volume/tests/functional/lvm/centos7/filestore/create/group_vars/all
  src/ceph-volume/ceph_volume/tests/functional/lvm/centos7/filestore/dmcrypt/group_vars/all
  src/ceph-volume/ceph_volume/tests/functional/lvm/xenial/bluestore/create/group_vars/all
  src/ceph-volume/ceph_volume/tests/functional/lvm/xenial/bluestore/dmcrypt/group_vars/all
  src/ceph-volume/ceph_volume/tests/functional/lvm/xenial/filestore/create/group_vars/all
  src/ceph-volume/ceph_volume/tests/functional/lvm/xenial/filestore/dmcrypt/group_vars/all
  src/ceph-volume/ceph_volume/tests/functional/simple/centos7/bluestore/activate/group_vars/all
  src/ceph-volume/ceph_volume/tests/functional/simple/centos7/bluestore/dmcrypt-luks/group_vars/all
  src/ceph-volume/ceph_volume/tests/functional/simple/centos7/bluestore/dmcrypt-plain/group_vars/all
  src/ceph-volume/ceph_volume/tests/functional/simple/centos7/filestore/activate/group_vars/all
  src/ceph-volume/ceph_volume/tests/functional/simple/centos7/filestore/dmcrypt-luks/group_vars/all
  src/ceph-volume/ceph_volume/tests/functional/simple/centos7/filestore/dmcrypt-plain/group_vars/all
  src/ceph-volume/ceph_volume/tests/functional/simple/xenial/bluestore/activate/group_vars/all
  src/ceph-volume/ceph_volume/tests/functional/simple/xenial/bluestore/dmcrypt-luks/group_vars/all
  src/ceph-volume/ceph_volume/tests/functional/simple/xenial/bluestore/dmcrypt-plain/group_vars/all
  src/ceph-volume/ceph_volume/tests/functional/simple/xenial/filestore/activate/group_vars/all
  src/ceph-volume/ceph_volume/tests/functional/simple/xenial/filestore/dmcrypt-luks/group_vars/all
  src/ceph-volume/ceph_volume/tests/functional/simple/xenial/filestore/dmcrypt-plain/group_vars/all
Labels: ceph-volume

#22428 test: Use a file that should be on all OSes
  qa/standalone/scrub/osd-unexpected-clone.sh
Labels: bug fix, tests, wip-kefu-testing

#22478 osd/PG: create new PGs from activate in last_peering_reset epoch
  src/messages/MOSDPGLog.h
  src/messages/MOSDPGScan.h
  src/osd/PG.cc
Labels: bug fix, core, wip-kefu-testing

#22471 debian: drop '-DUSE_CRYPTOPP=OFF' from cmake options
  debian/rules
Labels: build/ops, cleanup, needs-qa, wip-kefu-testing

#22463 ceph-dencoder: add bluefs types
  src/os/bluestore/bluefs_types.cc
  src/os/bluestore/bluefs_types.h
  src/test/encoding/types.h
Labels: bluestore, cleanup, core, needs-qa, wip-kefu-testing

#22429 mon: add 'osd destroy-new' command that only destroys NEW osd slots
  qa/workunits/cephtool/test.sh
  src/mon/MonCap.cc
  src/mon/MonCommands.h
  src/mon/OSDMonitor.cc
Labels: core, feature, mon, needs-qa, wip-kefu-testing

#22444 librbd: force 'invalid object map' flag on-disk update
  src/librbd/object_map/RefreshRequest.cc
  src/test/librbd/test_ObjectMap.cc
Labels: bug fix, needs-qa, rbd, wip-jason-testing

#22415 librbd: deep_copy: resize head object map if needed
  src/librbd/deep_copy/SnapshotCopyRequest.cc
  src/librbd/deep_copy/SnapshotCopyRequest.h
  src/test/librbd/mock/MockObjectMap.h
  src/test/librbd/test_DeepCopy.cc
Labels: bug fix, needs-qa, rbd, wip-jason-testing

#22488 install-deps.sh: fix installing gcc on ubuntu when no old compiler
  install-deps.sh
Labels: build/ops, wip-kefu-testing

#22483 osd: do not include Messenger.h if not necessary
  src/common/LogClient.cc
  src/librbd/io/ImageRequest.cc
  src/mds/JournalPointer.cc
  src/osd/OSD.cc
  src/osd/OSD.h
  src/osd/PrimaryLogPG.h
  src/osd/ReplicatedBackend.cc
  src/osd/ReplicatedBackend.h
  src/osd/Watch.h
  src/osdc/Objecter.h
  src/osdc/WritebackHandler.h
Labels: cleanup, core, rbd

#22487 osd: always set query_epoch explicitly for MOSDPGLog
  src/messages/MOSDPGLog.h
  src/osd/PG.cc
  src/osd/PrimaryLogPG.cc
Labels: cleanup, core, wip-kefu-testing

#22460 qa/suites/rados/upgrade: remove stray link
  qa/suites/rados/upgrade/supported-random-distro$
Labels: bug fix, tests, wip-sage3-testing

#22298 mgr/dashboard: Reset settings to their default values
  src/pybind/mgr/dashboard/settings.py
  src/pybind/mgr/dashboard/tests/test_settings.py
Labels: bug fix, dashboard, feature

#22494 cmake: oath lives in liboath
  cmake/modules/FindOATH.cmake
Labels: bug fix, build/ops, needs-qa, wip-kefu-testing

#22493 common: use include/types.h early on, otherwise Clang will error.
  src/common/buffer.cc
Labels: needs-qa, wip-kefu-testing

#22467 doc: document vstart options
  doc/dev/dev_cluster_deployement.rst
  src/mstop.sh
Labels: core, documentation

#22172 luminous: [rbd-mirror] potential races during PoolReplayer shut-down
  src/tools/rbd_mirror/ImageSync.cc
  src/tools/rbd_mirror/InstanceWatcher.cc
  src/tools/rbd_mirror/InstanceWatcher.h
  src/tools/rbd_mirror/PoolReplayer.cc
Labels: luminous-batch-1, rbd, wip-yuri2-testing

#22143 luminous: Deleting a pool with active notify linger ops can result in seg fault
  src/librados/IoCtxImpl.cc
  src/osdc/Objecter.cc
Labels: core, luminous-batch-1, rbd, wip-yuri-testing, wip-yuri2-testing

#21938 luminous: librbd: prevent watcher from unregistering with in-flight actions
  src/librbd/ImageWatcher.cc
  src/librbd/Watcher.cc
  src/librbd/Watcher.h
Labels: luminous-batch-1, rbd, wip-yuri2-testing

#22496 qa/workunits/mgr/test_localpool.sh: use new config syntax
  qa/workunits/mgr/test_localpool.sh
Labels: cleanup, core, wip-sage3-testing

#22499 os/bluestore: fix SharedBlobSet deregister race
  src/os/bluestore/BlueStore.cc
  src/os/bluestore/BlueStore.h
Labels: bluestore, bug fix, needs-qa, wip-sage3-testing

#22501 messages/MOSDPGLog: encode epoch for query_epoch for pre-nautilus OSDs
  src/messages/MOSDPGLog.h
Labels: bug fix, core, needs-qa, wip-sage3-testing

#22497 osd/Session: fix invalid iterator dereference in Session::have_backoff()
  src/osd/Session.h
Labels: bug fix, core, needs-review

#22504 mgr/dashboard: Add filtered rows number in table footer
  src/pybind/mgr/dashboard/frontend/src/app/shared/datatable/table/table.component.html
Labels: dashboard

#22082 mgr/dashboard: Update Angular to version 6
  src/pybind/mgr/dashboard/frontend/.angular-cli.json
  src/pybind/mgr/dashboard/frontend/angular.json
  src/pybind/mgr/dashboard/frontend/karma.conf.js
  src/pybind/mgr/dashboard/frontend/package.json
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/osd/osd-performance-histogram/osd-performance-histogram.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/api.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/auth.service.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/cephfs.service.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/configuration.service.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/dashboard.service.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/host.service.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/logging.service.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/monitor.service.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/osd.service.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/performance-counter.service.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/pool.service.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/rbd-mirroring.service.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/rbd.service.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/rgw-bucket.service.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/rgw-daemon.service.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/rgw-user.service.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/tcmu-iscsi.service.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/services/api-interceptor.service.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/services/auth-guard.service.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/services/auth-storage.service.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/services/formatter.service.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/services/module-status-guard.service.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/services/notification.service.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/services/services.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/services/summary.service.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/services/task-manager-message.service.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/services/task-manager.service.ts
  src/pybind/mgr/dashboard/frontend/src/tsconfig.spec.json
Labels: dashboard

#22527 Improving dencoder coverage
  src/test/encoding/types.h
Labels: tests, tools

#22535 mimic: ceph-volume tests.functional install new ceph-ansible dependencies
  src/ceph-volume/ceph_volume/tests/functional/lvm/tox.ini
  src/ceph-volume/ceph_volume/tests/functional/simple/tox.ini
Labels: ceph-volume

#22422 mgr/dashboard: Stringify object[] in KV-table
  src/pybind/mgr/dashboard/frontend/src/app/shared/datatable/table-key-value/table-key-value.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/datatable/table-key-value/table-key-value.component.ts
Labels: dashboard

#22477 mimic: os/bluestore: don't store/use path_block.{db,wal} from meta
  src/ceph-volume/ceph_volume/devices/lvm/activate.py
  src/ceph-volume/ceph_volume/util/system.py
  src/os/bluestore/BlueStore.cc
Labels: bluestore, ceph-volume, core

#22304 rbd-mirror: schedule rebalancer to level-load instances
  src/common/options.cc
  src/test/rbd_mirror/test_mock_ImageMap.cc
  src/tools/rbd_mirror/ImageMap.cc
  src/tools/rbd_mirror/ImageMap.h
  src/tools/rbd_mirror/image_map/Policy.cc
  src/tools/rbd_mirror/image_map/Policy.h
  src/tools/rbd_mirror/image_map/SimplePolicy.cc
  src/tools/rbd_mirror/image_map/SimplePolicy.h
  src/tools/rbd_mirror/image_map/StateTransition.cc
Labels: bug fix, needs-qa, rbd, wip-jason-testing

#21969 rbd: interlock object-map/fast-diff features together
  qa/workunits/rbd/qemu_dynamic_features.sh
  src/include/rbd/features.h
  src/librbd/Operations.cc
  src/librbd/image/CreateRequest.cc
  src/librbd/operation/DisableFeaturesRequest.cc
  src/librbd/operation/EnableFeaturesRequest.cc
  src/test/cli/rbd/help.t
  src/test/librbd/test_librbd.cc
Labels: cleanup, needs-qa, rbd, wip-jason-testing

#22500 osd: fix memory leak at EC read
  src/osd/ECBackend.cc
Labels: bug fix, core

#22414 luminous: backport various fixes to mgr/influx module
  doc/mgr/influx.rst
  src/pybind/mgr/influx/module.py
Labels: luminous-batch-1, mgr, wip-yuri-testing

#22308 luminous: Module 'balancer' has failed: could not find bucket -14
  src/crush/CrushCompiler.cc
  src/crush/CrushTreeDumper.h
  src/crush/CrushWrapper.cc
  src/crush/CrushWrapper.h
  src/crush/builder.c
  src/crush/crush.h
  src/crush/mapper.c
  src/test/cli/crushtool/choose-args.crush
  src/test/cli/crushtool/choose-args.t
  src/test/crush/CrushWrapper.cc
Labels: core, luminous-batch-1, wip-yuri-testing

#22290 luminous: common: partially revert 95fc248 to make get_process_name work
  src/common/code_environment.cc
Labels: common, core, luminous-batch-1, wip-yuri-testing

#22109 luminous: mon/LogMonitor: call no_reply() on ignored log message
  src/mon/LogMonitor.cc
Labels: core, luminous-batch-1, wip-yuri-testing

#22526 mgr/dashboard: Added new validators
  src/pybind/mgr/dashboard/frontend/src/app/shared/validators/cd-validators.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/validators/cd-validators.ts
Labels: dashboard

#22557 rbd-ggate: tag "level" with need_dynamic
  src/tools/rbd_ggate/debug.cc
Labels: bug fix, rbd

#21460 mgr/dashboard: Config options integration (read-only) depends on #22422
  qa/tasks/mgr/dashboard/test_cluster_configuration.py
  src/pybind/mgr/dashboard/HACKING.rst
  src/pybind/mgr/dashboard/controllers/cluster_configuration.py
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/configuration/configuration.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/configuration/configuration.component.ts
Labels: dashboard, feature, needs-review

#22303 mgr/dashboard: Add help menu entry
  qa/tasks/mgr/dashboard/test_summary.py
  src/pybind/mgr/dashboard/controllers/summary.py
  src/pybind/mgr/dashboard/frontend/src/app/core/navigation/dashboard-help/dashboard-help.component.html
  src/pybind/mgr/dashboard/frontend/src/app/core/navigation/dashboard-help/dashboard-help.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/core/navigation/dashboard-help/dashboard-help.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/core/navigation/dashboard-help/dashboard-help.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/core/navigation/navigation.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/core/navigation/navigation/navigation.component.html
  src/pybind/mgr/dashboard/frontend/src/app/core/navigation/navigation/navigation.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/pipes/ceph-release-name.pipe.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/pipes/ceph-release-name.pipe.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/pipes/pipes.module.ts
  src/pybind/mgr/dashboard/frontend/src/openattic-theme.scss
  src/pybind/mgr/dashboard/tests/test_rbd_mirroring.py
Labels: dashboard, feature

#22472 os/bluestore: misc cleanup
  src/os/bluestore/BlueStore.cc
Labels: bluestore, cleanup, needs-qa, wip-kefu-testing

#22524 osd/PG: unset history_les_bound if local-les is used
  src/osd/PG.cc
Labels: core, needs-qa, wip-kefu-testing

#22014 mgr/dashboard: Task wrapper service
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-form/rbd-form.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-form/rbd-form.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-list/rbd-list.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-list/rbd-list.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/core/navigation/task-manager/task-manager.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/core/navigation/task-manager/task-manager.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/models/task.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/services/task-manager-message.service.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/services/task-manager-message.service.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/services/task-wrapper.service.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/services/task-wrapper.service.ts
Labels: cleanup, dashboard

#22459 mgr/dashboard: Add token authentication to Grafana proxy
  doc/mgr/dashboard.rst
  src/pybind/mgr/dashboard/controllers/grafana.py
  src/pybind/mgr/dashboard/settings.py
  src/pybind/mgr/dashboard/tests/test_grafana.py
Labels: dashboard, feature, needs-review

#22468 mimic: mgr/dashboard: Fix bug when creating S3 keys
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-user-form/rgw-user-form.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-user-form/rgw-user-form.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/rgw-user.service.ts
Labels: bug fix, dashboard

#22390 rgw: Get the user metadata of the user used to sign the request
  src/rgw/rgw_rest_metadata.cc
  src/rgw/rgw_rest_metadata.h
Labels: rgw

#22234 mds: add magic to header of open file table
  src/mds/OpenFileTable.cc
  src/mds/OpenFileTable.h
Labels: cephfs, wip-pdonnell-testing
