Repository ceph/ceph, pull requests merged in 2018-04, with the labels that each got.

#21159 src: s/pip --use-wheel/pip/
  src/ceph-detect-init/CMakeLists.txt
  src/ceph-detect-init/tox.ini
  src/ceph-disk/CMakeLists.txt
  src/ceph-disk/tox.ini
  src/pybind/mgr/dashboard/CMakeLists.txt
  src/tools/setup-virtualenv.sh
Labels: backport, build/ops, wip-kefu-testing

#20298 osd: don't process ostream strings when not debugging.
  src/osd/ECBackend.cc
  src/osd/OSD.cc
  src/osd/OSD.h
  src/osd/PG.cc
  src/osd/PG.h
  src/osd/PGBackend.h
  src/osd/PrimaryLogPG.cc
  src/osd/PrimaryLogPG.h
  src/osd/ReplicatedBackend.cc
Labels: core, needs-qa, performance, wip-kefu-testing

#20820 mon: node ls improvement
  src/mon/MDSMonitor.cc
  src/mon/Monitor.cc
Labels: mon, needs-qa, wip-kefu-testing

#21136 bluestore: fix aio_t::rval type
  src/os/bluestore/KernelDevice.cc
  src/os/bluestore/aio.h
Labels: bluestore, bug fix, needs-qa, wip-kefu-testing

#21143 common: FreeBSD wants the correct struct selection for ipv6
  src/common/ipaddr.cc
Labels: bug fix, needs-qa, wip-kefu-testing

#21165 librbd: minor code cleanup
  src/include/rbd/librbd.h
  src/librbd/api/Group.cc
  src/pybind/rbd/rbd.pyx
Labels: cleanup, rbd

#21075 test:qa:infra - teuthology crontab items as of 3/27/18
  qa/crontab/teuthology-cronjobs
Labels: tests

#21183 qa/suites/perf-basic: add desc regarding test machines
  qa/suites/perf-basic/ceph.yaml
Labels: performance

#21178 jewel: src: s/--use-wheel//
  src/ceph-detect-init/CMakeLists.txt
  src/ceph-detect-init/Makefile.am
  src/ceph-detect-init/tox.ini
  src/ceph-disk/CMakeLists.txt
  src/ceph-disk/Makefile.am
  src/ceph-disk/tox.ini
  src/tools/setup-virtualenv.sh
Labels: build/ops

#21096 pybind/cephfs: added comments to cephfs.pyx
  src/pybind/cephfs/cephfs.pyx
Labels: cephfs, needs-review, pybind, wip-pdonnell-testing

#21177 luminous: src: s/--use-wheel//
  src/ceph-detect-init/CMakeLists.txt
  src/ceph-detect-init/tox.ini
  src/ceph-disk/CMakeLists.txt
  src/ceph-disk/tox.ini
  src/tools/setup-virtualenv.sh
Labels: build/ops

#20855 client: add the fuse parameter max_write
  doc/cephfs/client-config-ref.rst
  src/client/fuse_ll.cc
  src/common/options.cc
Labels: cephfs, feature, performance, wip-pdonnell-testing

#21157 journal: limit number of appends sent in one librados op
  src/journal/ObjectRecorder.cc
  src/journal/ObjectRecorder.h
Labels: bug fix, needs-qa, rbd, wip-jason-testing

#21142 rbd-nbd: fix ebusy when do map
  src/tools/rbd_nbd/rbd-nbd.cc
Labels: bug fix, needs-qa, rbd, wip-jason-testing

#21202 rbd-replay: remove boost dependency
  src/rbd_replay/Replayer.cc
  src/rbd_replay/Replayer.hpp
Labels: rbd, tools

#21180 vstart_runner: examine check_status before error
  qa/tasks/vstart_runner.py
Labels: bug fix, tests

#21218 test:qa:infra - Run update daily and use bash
  qa/crontab/teuthology-cronjobs
Labels: tests

#21050 doc: updated add primary storage documentation for latest CloudStack release (4.11)
  doc/rbd/rbd-cloudstack.rst
Labels: documentation

#21003 client: Fix Bug 23210
  src/client/Client.cc
Labels: bug fix, cephfs, wip-pdonnell-testing

#20915 [cephfs] add config doc for exporting CephFS over NFS
  doc/cephfs/index.rst
  doc/cephfs/nfs.rst
Labels: cephfs, documentation

#21045 mgr/dashboard: Remove unused code
  src/pybind/mgr/dashboard/controllers/rgw.py
Labels: cleanup, dashboard, mgr

#21060 mgr/dashboard: Support aditional info on 'cd-view-cache'
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/view-cache/view-cache.component.html
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/view-cache/view-cache.component.ts
Labels: dashboard

#21234 jewel: rocksdb: disable jemalloc explicitly
  src/kv/Makefile.am
Labels: build/ops, jewel-batch-1

#21244 os/bluestore: update description for bluestore_compression_[min|max|_blob_size options
  src/common/options.cc
Labels: bluestore

#21146 qa/suites/cephmetrics: Updates for new version
  qa/suites/cephmetrics/2-ceph/ceph_ansible.yaml
  qa/suites/cephmetrics/3-ceph-config/bluestore_with_dmcrypt.yaml
  qa/suites/cephmetrics/3-ceph-config/bluestore_without_dmcrypt.yaml
  qa/suites/cephmetrics/3-ceph-config/dmcrypt_off.yaml
  qa/suites/cephmetrics/3-ceph-config/dmcrypt_on.yaml
  qa/suites/cephmetrics/4-epel/no_epel.yaml
  qa/suites/cephmetrics/4-epel/use_epel.yaml
  qa/suites/cephmetrics/5-containers/containerized.yaml
  qa/suites/cephmetrics/5-containers/no_containers.yaml
  qa/suites/cephmetrics/6-tasks/cephmetrics.yaml
Labels: tests

#20763 jewel: ceph.in: bypass codec when writing raw binary data
  src/ceph.in
Labels: bug fix, core, jewel-batch-1

#20882 jewel: ceph-objectstore-tool command to trim the pg log
  src/common/config_opts.h
  src/test/ceph_objectstore_tool.py
  src/test/osd/repro_long_log.sh
  src/tools/ceph_objectstore_tool.cc
Labels: core, jewel-batch-1

#20999 jewel: legal: remove doc license ambiguity
  COPYING
  README.md
  ceph.spec.in
  debian/copyright
  doc/dev/index.rst
  man/conf.py
Labels: build/ops, jewel-batch-1

#21084 jewel: log: Fix AddressSanitizer: new-delete-type-mismatch
  src/log/Entry.h
  src/log/EntryQueue.h
  src/log/Log.cc
Labels: core, jewel-batch-1

#21101 scrub errors not cleared on replicas can cause inconsistent pg state when replica takes over primary
  qa/standalone/ceph-helpers.sh
  qa/standalone/scrub/osd-scrub-test.sh
  src/ceph_osd.cc
  src/osd/PG.cc
  src/osd/osd_types.h
Labels: bug fix, core, needs-review

#21252 qa/crontab: run the perf-basic suite every day
  qa/crontab/teuthology-cronjobs
Labels: performance

#21254 mds: bump mds_log_max_segments for trim buffer
  src/common/options.cc
Labels: bug fix, cephfs

#21148 tools: FreeBSD basic getopt does not use --options
  src/tools/setup-virtualenv.sh
Labels: bug fix, tools, wip-kefu-testing

#21175 jewel: mds: session reference leak
  src/mds/Locker.cc
  src/mds/MDSDaemon.cc
  src/mds/MDSRank.cc
  src/mds/MDSRank.h
  src/mds/Server.cc
  src/mds/Server.h
Labels: bug fix, cephfs, jewel-batch-1

#21134 luminous: tests: unittest_pglog timeout
  src/test/osd/TestPGLog.cc
Labels: bug fix, luminous-batch-1, tests, wip-yuri2-testing

#21118 luminous: snapmapper inconsistency, crash on luminous
  src/common/legacy_config_opts.h
  src/common/options.cc
  src/osd/PG.cc
  src/osd/SnapMapper.cc
Labels: bug fix, core, luminous-batch-1, wip-yuri2-testing

#21111 luminous: common/ipaddr: Do not select link-local IPv6 addresses
  src/common/ipaddr.cc
Labels: core, luminous-batch-1, wip-yuri2-testing

#21016 luminous: mon: ops get stuck in "resend forwarded message to leader"
  src/mon/MgrMonitor.cc
  src/mon/MgrStatMonitor.cc
  src/mon/OSDMonitor.cc
Labels: core, luminous-batch-1, wip-yuri2-testing

#20748 build/ops: deb: move python-jinja2 dependency to mgr
  ceph.spec.in
  debian/control
Labels: bug fix, build/ops, luminous-batch-1, wip-yuri2-testing

#20737 luminous: build/ops: run-make-check.sh: fix SUSE support
  run-make-check.sh
Labels: build/ops, luminous-batch-1, wip-yuri2-testing

#20992 dmclock: update mClockPriorityQueue with changes in subtree
  src/common/mClockPriorityQueue.h
  src/dmclock/COPYING
  src/dmclock/COPYING-LGPL2.1
  src/dmclock/sim/src/config.cc
  src/dmclock/sim/src/config.h
  src/dmclock/sim/src/sim_client.h
  src/dmclock/sim/src/sim_recs.h
  src/dmclock/sim/src/sim_server.h
  src/dmclock/sim/src/simulate.h
  src/dmclock/sim/src/ssched/ssched_client.h
  src/dmclock/sim/src/ssched/ssched_recs.h
  src/dmclock/sim/src/ssched/ssched_server.h
  src/dmclock/sim/src/str_list.h
  src/dmclock/sim/src/test_dmclock.cc
  src/dmclock/sim/src/test_dmclock.h
  src/dmclock/sim/src/test_dmclock_main.cc
  src/dmclock/sim/src/test_ssched.cc
  src/dmclock/sim/src/test_ssched.h
  src/dmclock/sim/src/test_ssched_main.cc
  src/dmclock/src/dmclock_client.h
  src/dmclock/src/dmclock_recs.h
  src/dmclock/src/dmclock_server.h
  src/dmclock/src/dmclock_util.cc
  src/dmclock/src/dmclock_util.h
  src/dmclock/support/src/debug.h
  src/dmclock/support/src/heap.h
  src/dmclock/support/src/indirect_intrusive_heap.h
  src/dmclock/support/src/intrusive_heap.h
  src/dmclock/support/src/profile.h
  src/dmclock/support/src/run_every.cc
  src/dmclock/support/src/run_every.h
  src/dmclock/support/test/test_ind_intru_heap.cc
  src/dmclock/support/test/test_indirect_intrusive_heap.cc
  src/dmclock/support/test/test_intrusive_heap.cc
  src/dmclock/test/dmcPrCtl.h
  src/dmclock/test/test_dmclock_client.cc
  src/dmclock/test/test_dmclock_server.cc
  src/dmclock/test/test_test_client.cc
Labels: common

#21172 jewel: qa: src/test/libcephfs/test.cc:376: Expected: (len) > (0), actual: -34 vs 0
  src/test/libcephfs/test.cc
Labels: bug fix, cephfs, jewel-batch-1

#21214 luminous: rgw: data sync of versioned objects, note updating bi marker
  src/cls/rgw/cls_rgw.cc
Labels: luminous-batch-1, rgw, wip-yuri-testing

#20722 luminous: fixes for openssl & libcurl
  CMakeLists.txt
  debian/control
  src/include/config-h.in.cmake
  src/rgw/CMakeLists.txt
  src/rgw/rgw_admin.cc
  src/rgw/rgw_common.h
  src/rgw/rgw_http_client.cc
  src/rgw/rgw_http_client_curl.cc
  src/rgw/rgw_http_client_curl.h
  src/rgw/rgw_main.cc
Labels: luminous-batch-1, rgw, wip-yuri-testing

#21204 mds: PendingReleaseNotes and dev doc for open file table
  PendingReleaseNotes
  doc/dev/mds_internals/data-structures.rst
Labels: cephfs, documentation

#21238 doc: fix typos and other minor errors in cephfs-nfs doc
  doc/cephfs/nfs.rst
Labels: cephfs, documentation, needs-review

#21156 jewel: mds: FAILED assert(get_version() < pv) in CDir::mark_dirty
  src/mds/CDir.cc
Labels: bug fix, cephfs, jewel-batch-1

#21184 jewel: osd: OSDMap cache assert on shutdown
  src/common/config_opts.h
  src/common/shared_cache.hpp
Labels: bug fix, core, jewel-batch-1

#21127 build/ops: make-dist: fall back to python3
  make-dist
Labels: build/ops

#21264 jewel: tests: rip out vestiges of btrfs from rgw suite
  qa/suites/rgw/multifs/fs/btrfs.yaml
  qa/suites/rgw/verify/fs/btrfs.yaml
  qa/suites/rgw/verify/objectstore
Labels: jewel-batch-1, rgw, tests

#21240 mgr/dashboard: TaskManager bug fixes
  src/pybind/mgr/dashboard/tests/test_task.py
  src/pybind/mgr/dashboard/tools.py
Labels: bug fix, dashboard

#21128 mgr/dashboard: Add usage bar component
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cephfs/cephfs/cephfs.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cephfs/cephfs/cephfs.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/osd/osd-list/osd-list.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/osd/osd-list/osd-list.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/osd/osd-list/osd-list.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/dashboard/health/health.component.html
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/components.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/usage-bar/usage-bar.component.html
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/usage-bar/usage-bar.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/usage-bar/usage-bar.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/usage-bar/usage-bar.component.ts
Labels: dashboard

#21073 jewel: rgw: tcmalloc
  src/rgw/Makefile.am
Labels: jewel-batch-1, rgw

#21100 jewel: rgw: s3website error handler uses original object name
  src/rgw/rgw_rest_s3.cc
  src/rgw/rgw_rest_s3website.h
  src/rgw/rgw_website.cc
  src/rgw/rgw_website.h
Labels: jewel-batch-1, rgw

#20464 rgw: add ssl support to beast frontend
  CMakeLists.txt
  doc/radosgw/frontends.rst
  qa/suites/rgw/verify/frontend
  qa/suites/rgw/verify/frontend/beast.yaml
  qa/suites/rgw/verify/frontend/civetweb.yaml
  qa/suites/rgw/verify/proto/http.yaml
  qa/suites/rgw/verify/proto/https.yaml
  src/include/config-h.in.cmake
  src/rgw/CMakeLists.txt
  src/rgw/rgw_asio_client.cc
  src/rgw/rgw_asio_client.h
  src/rgw/rgw_asio_frontend.cc
Labels: feature, rgw

#21239 mgr/dashboard: using RoutesDispatcher as HTTP request dispatcher
  ceph.spec.in
  src/pybind/mgr/dashboard/controllers/__init__.py
  src/pybind/mgr/dashboard/controllers/auth.py
  src/pybind/mgr/dashboard/controllers/cephfs.py
  src/pybind/mgr/dashboard/controllers/cluster_configuration.py
  src/pybind/mgr/dashboard/controllers/dashboard.py
  src/pybind/mgr/dashboard/controllers/host.py
  src/pybind/mgr/dashboard/controllers/monitor.py
  src/pybind/mgr/dashboard/controllers/osd.py
  src/pybind/mgr/dashboard/controllers/perf_counters.py
  src/pybind/mgr/dashboard/controllers/pool.py
  src/pybind/mgr/dashboard/controllers/rbd.py
  src/pybind/mgr/dashboard/controllers/rbd_mirroring.py
  src/pybind/mgr/dashboard/controllers/rgw.py
  src/pybind/mgr/dashboard/controllers/summary.py
  src/pybind/mgr/dashboard/controllers/task.py
  src/pybind/mgr/dashboard/controllers/tcmu_iscsi.py
  src/pybind/mgr/dashboard/module.py
  src/pybind/mgr/dashboard/requirements.txt
  src/pybind/mgr/dashboard/tests/helper.py
  src/pybind/mgr/dashboard/tests/test_rbd_mirroring.py
  src/pybind/mgr/dashboard/tests/test_tcmu_iscsi.py
  src/pybind/mgr/dashboard/tests/test_tools.py
  src/pybind/mgr/dashboard/tools.py
Labels: dashboard

#18304 jewel: rgw: file write error
  src/rgw/rgw_file.cc
Labels: bug fix, jewel-batch-1, rgw

#21079 luminous: add --add-bucket and --move options to crushtool
  src/crush/CrushWrapper.cc
  src/test/cli/crushtool/add-bucket.t
  src/test/cli/crushtool/help.t
  src/tools/crushtool.cc
Labels: core, luminous-batch-1, wip-yuri3-testing

#20766 luminous: Objecter: add ignore overlay flag if got redirect reply
  src/osdc/Objecter.cc
Labels: bug fix, core, luminous-batch-1, needs-qa, wip-yuri4-testing

#20710 luminous: common/dns_resolv.cc: Query for AAAA-record if ms_bind_ipv6 is True
  src/common/dns_resolve.cc
Labels: backport, core, luminous-batch-1, wip-yuri4-testing

#20668 luminous: osd: Remove partially created pg known as DNE
  src/osd/OSD.cc
  src/osd/PG.h
Labels: core, luminous-batch-1, wip-yuri4-testing

#20642 [luminous] Backport recent prometheus exporter changes
  src/pybind/mgr/prometheus/module.py
Labels: luminous-batch-1, mgr, wip-yuri4-testing

#21250 qa/suites/rados/singleton/all/recovery_preemption: whitelist SLOW_OPS
  qa/suites/rados/singleton/all/ec-lost-unfound.yaml
  qa/suites/rados/singleton/all/recovery-preemption.yaml
Labels: core, wip-sage2-testing

#19973 osd: fast dispatch of peering events and pg_map + osd sharded wq refactor
  PendingReleaseNotes
  qa/suites/powercycle/osd/tasks/rados_api_tests.yaml
  qa/suites/rados/basic/tasks/rados_api_tests.yaml
  qa/suites/rados/monthrash/workloads/rados_api_tests.yaml
  qa/suites/rados/singleton/all/mon-seesaw.yaml
  qa/suites/rados/singleton/all/recovery-preemption.yaml
  qa/suites/rados/thrash/workloads/rados_api_tests.yaml
  qa/suites/rados/verify/tasks/rados_api_tests.yaml
  qa/suites/smoke/basic/tasks/rados_api_tests.yaml
  src/CMakeLists.txt
  src/common/legacy_config_opts.h
  src/common/options.cc
  src/common/tracked_int_ptr.hpp
  src/messages/MBackfillReserve.h
  src/messages/MOSDForceRecovery.h
  src/messages/MOSDPGCreate2.h
  src/messages/MOSDPGLog.h
  src/messages/MOSDPGTrim.h
  src/messages/MOSDPeeringOp.h
  src/messages/MOSDScrub2.h
  src/messages/MRecoveryReserve.h
  src/mgr/DaemonServer.cc
  src/mon/OSDMonitor.cc
  src/mon/OSDMonitor.h
  src/mon/PGMap.cc
  src/msg/Message.cc
  src/msg/Message.h
  src/os/ObjectStore.h
  src/osd/ECBackend.cc
  src/osd/OSD.cc
  src/osd/OSD.h
  src/osd/OSDMap.h
  src/osd/OSDMapMapping.cc
  src/osd/OSDMapMapping.h
  src/osd/OpQueueItem.cc
  src/osd/OpQueueItem.h
  src/osd/PG.cc
  src/osd/PG.h
  src/osd/PGBackend.cc
  src/osd/PGBackend.h
  src/osd/PGPeeringEvent.cc
  src/osd/PGPeeringEvent.h
  src/osd/PrimaryLogPG.cc
  src/osd/PrimaryLogPG.h
  src/osd/ReplicatedBackend.cc
  src/osd/osd_types.h
Labels: cleanup, core, documentation, wip-sage2-testing

#21198 luminous: ceph_authtool: add mode option
  doc/man/8/ceph-authtool.rst
  src/test/cli/ceph-authtool/add-key-segv.t
  src/test/cli/ceph-authtool/add-key.t
  src/test/cli/ceph-authtool/cap-bin.t
  src/test/cli/ceph-authtool/cap-invalid.t
  src/test/cli/ceph-authtool/cap-overwrite.t
  src/test/cli/ceph-authtool/cap.t
  src/test/cli/ceph-authtool/create-gen-list-bin.t
  src/test/cli/ceph-authtool/create-gen-list.t
  src/test/cli/ceph-authtool/help.t
  src/test/cli/ceph-authtool/manpage.t
  src/test/cli/ceph-authtool/simple.t
  src/tools/ceph_authtool.cc
Labels: core, luminous-batch-1, wip-yuri3-testing

#20712 luminous: mgr: die on bind() failure
  src/mgr/Mgr.cc
Labels: core, luminous-batch-1, wip-yuri4-testing

#20676 luminous: os/bluestore: _dump_onode() don't prolongate Onode anymore.
  src/os/bluestore/BlueStore.cc
  src/os/bluestore/BlueStore.h
Labels: bluestore, luminous-batch-1, wip-yuri4-testing

#20675 luminous: os/bluestore: avoid unneeded BlobRefing in _do_read().
  src/os/bluestore/BlueStore.cc
Labels: bluestore, luminous-batch-1, wip-yuri4-testing

#21090 luminous: common: should not check for VERSION_ID
  src/common/util.cc
  src/test/common/test_util.cc
Labels: core, luminous-batch-1, wip-yuri3-testing

#21059 luminous: os/bluestore: trim cache every 50ms (instead of 200ms)
  src/common/options.cc
Labels: core, luminous-batch-1, wip-yuri3-testing

#21053 luminous: mgr: quieten logging on missing OSD stats
  src/mon/PGMap.cc
Labels: core, luminous-batch-1, wip-yuri3-testing

#20998 luminous: log: Fix AddressSanitizer: new-delete-type-mismatch
  src/log/Entry.h
  src/log/EntryQueue.h
  src/log/Log.cc
Labels: core, luminous-batch-1, wip-yuri3-testing

#20890 luminous: invalid JSON returned when querying pool parameters
  src/mon/OSDMonitor.cc
Labels: core, luminous-batch-1, wip-yuri3-testing

#20512 osd: osd_mon_report_interval_min -> osd_mon_report_interval, kill _max
  PendingReleaseNotes
  doc/rados/configuration/mon-osd-interaction.rst
  qa/suites/fs/basic_functional/tasks/mds-full.yaml
  qa/suites/kcephfs/recovery/tasks/mds-full.yaml
  qa/tasks/ceph_manager.py
  qa/tasks/cephfs/test_full.py
  qa/tasks/vstart_runner.py
  src/common/legacy_config_opts.h
  src/common/options.cc
  src/osd/OSD.cc
  src/test/test_lost.sh
Labels: cleanup, core, needs-qa, wip-sage3-testing

#21274 tools: Use --no-mon-config so ceph_objectstore_tool.py test doesn't hang
  qa/standalone/special/ceph_objectstore_tool.py
Labels: bug fix, tests

#21150 osd/PGBackend: fix large_omap_objects checking
  src/osd/PGBackend.cc
Labels: bug fix, core, needs-qa, wip-kefu-testing

#21151 osd/PGBackend: drop input "snapid_t" from objects_list_range()
  src/osd/PG.cc
  src/osd/PG.h
  src/osd/PGBackend.cc
  src/osd/PGBackend.h
Labels: cleanup, core, needs-qa, wip-kefu-testing

#21161 config: notify config observers on set_mon_vals()
  src/common/config.cc
Labels: common, needs-qa, wip-kefu-testing

#21217 common/hobject: preserve the order of hobject
  src/common/hobject.cc
  src/test/common/CMakeLists.txt
  src/test/common/test_hobject.cc
Labels: bug fix, common, wip-kefu-testing

#20866 mon/MonCommands: mgr metadata - improve parameter naming consistency
  src/mon/MgrMonitor.cc
  src/mon/MonCommands.h
Labels: cleanup, mgr, mon, needs-qa, wip-kefu-testing

#21245 os/bluestore: be more verbose when hitting unloaded shard in extent map
  src/os/bluestore/BlueStore.cc
Labels: bluestore

#17531 tests: cleanup: drop calamari tasks
  qa/tasks/calamari_nosetests.py
  qa/tasks/calamari_setup.py
Labels: cleanup, tests, wip-smithfarm-testing

#20627 jewel: rbd: TestLibRBD.RenameViaLockOwner may still fail with -ENOENT
  src/librbd/operation/RenameRequest.cc
  src/librbd/operation/RenameRequest.h
  src/test/librbd/test_librbd.cc
Labels: jewel-batch-1, rbd

#21125 jewel: tests: test_admin_socket.sh may fail on wait_for_clean
  qa/workunits/rbd/test_admin_socket.sh
Labels: jewel-batch-1, rbd, tests

#21205 jewel: rbd: rbd-mirror split brain test case can have a false-positive failure until teuthology
  qa/workunits/rbd/rbd_mirror.sh
Labels: jewel-batch-1, rbd

#21227 jewel: rbd: clean up warnings when mirror commands used on non-setup pool
  src/cls/rbd/cls_rbd.cc
  src/librbd/internal.cc
  src/tools/rbd/action/MirrorImage.cc
  src/tools/rbd/action/MirrorPool.cc
Labels: cleanup, jewel-batch-1, rbd

#21228 jewel: librbd: cannot clone all image-metas if we have more than 64 key/value pairs
  src/librbd/internal.cc
  src/test/librbd/test_librbd.cc
Labels: bug fix, jewel-batch-1, rbd

#21232 jewel: rbd-nbd: fix ebusy when do map
  src/tools/rbd_nbd/rbd-nbd.cc
Labels: jewel-batch-1, rbd

#21189 jewel: cephfs: client: prevent fallback to remount when dentry_invalidate_cb is true but root->dir is NULL
  src/client/Client.cc
Labels: bug fix, cephfs, jewel-batch-1

#21215 jewel: journal: Message too long error when appending journal
  src/journal/ObjectRecorder.cc
  src/journal/ObjectRecorder.h
Labels: bug fix, jewel-batch-1, rbd

#21048 luminous: qa/rgw: swift tests target ceph-luminous branch
  qa/tasks/swift.py
Labels: luminous-batch-1, rgw, tests, wip-yuri-testing

#20885 luminous: rgw: Admin API Support for bucket quota change
  doc/radosgw/adminops.rst
  src/rgw/rgw_bucket.cc
  src/rgw/rgw_bucket.h
  src/rgw/rgw_rest_bucket.cc
Labels: luminous-batch-1, rgw, wip-yuri-testing

#21098 jewel: rgw: inefficient buffer usage for PUTs
  src/rgw/rgw_civetweb.cc
  src/rgw/rgw_civetweb.h
Labels: bug fix, jewel-batch-1, rgw

#21203 jewel: librbd: cannot copy all image-metas if we have more than 64 key/value pairs
  src/librbd/internal.cc
  src/test/librbd/test_librbd.cc
Labels: jewel-batch-1, rbd

#21270 mgr/dashboard: Fix the data table action selector
  src/pybind/mgr/dashboard/frontend/src/app/shared/datatable/table/table.component.html
Labels: dashboard

#20758 ceph-volume doc updates
  doc/ceph-volume/lvm/activate.rst
  doc/ceph-volume/lvm/encryption.rst
  doc/ceph-volume/lvm/prepare.rst
  doc/ceph-volume/lvm/scan.rst
Labels: ceph-volume, documentation

#20943 mgr/dashboard: fix frontend e2e tests
  src/pybind/mgr/dashboard/HACKING.rst
  src/pybind/mgr/dashboard/frontend/e2e/app.e2e-spec.ts
  src/pybind/mgr/dashboard/frontend/e2e/app.po.ts
  src/pybind/mgr/dashboard/frontend/e2e/cluster/monitors.e2e-spec.ts
  src/pybind/mgr/dashboard/frontend/e2e/cluster/monitors.po.ts
  src/pybind/mgr/dashboard/frontend/e2e/cluster/osds.e2e-spec.ts
  src/pybind/mgr/dashboard/frontend/e2e/cluster/osds.po.ts
  src/pybind/mgr/dashboard/frontend/e2e/helper.po.ts
  src/pybind/mgr/dashboard/frontend/package.json
  src/pybind/mgr/dashboard/frontend/protractor.conf.js
  src/pybind/mgr/dashboard/frontend/src/app/shared/datatable/table/table.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/services/summary.service.ts
  src/pybind/mgr/dashboard/run-frontend-e2e-tests.sh
Labels: dashboard

#20807 mgr/dashboard: Improve table search
  src/pybind/mgr/dashboard/frontend/src/app/shared/datatable/table/table.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/datatable/table/table.component.ts
Labels: dashboard

#21282 osd/osd_types: fix pg_pool_t encoding for hammer
  src/osd/OSDMap.cc
  src/osd/osd_types.cc
Labels: backport, bug fix, core

#21256 luminous: mds: bump mds_log_max_segments for trim buffer
  src/common/options.cc
Labels: cephfs, luminous-batch-1, wip-yuri5-testing

#21266 luminous: mds: counter decay incorrect
  src/mds/MDBalancer.cc
Labels: cephfs, luminous-batch-1, wip-yuri5-testing

#21267 luminous: mds: make sure that MDBalancer uses heartbeat info from the same epoch
  src/mds/MDBalancer.cc
Labels: cephfs, luminous-batch-1, wip-yuri5-testing

#21176 luminous: mds: FAILED assert (p != active_requests.end()) in MDRequestRef MDCache::request_get(metareqid_t)
  src/mds/MDCache.cc
  src/mds/Server.cc
Labels: bug fix, cephfs, luminous-batch-1, wip-yuri5-testing

#21173 luminous: qa: src/test/libcephfs/test.cc:376: Expected: (len) > (0), actual: -34 vs 0
  src/test/libcephfs/test.cc
Labels: bug fix, cephfs, luminous-batch-1, wip-yuri5-testing

#20381 jewel: core: librados: Double free in rados_getxattrs_next
  src/librados/librados.cc
  src/test/pybind/test_rados.py
Labels: core, jewel-batch-1

#21197 jewel: ceph_authtool: add mode option
  doc/man/8/ceph-authtool.rst
  src/test/cli/ceph-authtool/add-key-segv.t
  src/test/cli/ceph-authtool/add-key.t
  src/test/cli/ceph-authtool/cap-bin.t
  src/test/cli/ceph-authtool/cap-invalid.t
  src/test/cli/ceph-authtool/cap-overwrite.t
  src/test/cli/ceph-authtool/cap.t
  src/test/cli/ceph-authtool/create-gen-list-bin.t
  src/test/cli/ceph-authtool/create-gen-list.t
  src/test/cli/ceph-authtool/help.t
  src/test/cli/ceph-authtool/manpage.t
  src/test/cli/ceph-authtool/simple.t
  src/tools/ceph_authtool.cc
Labels: core, jewel-batch-1

#21295 qa/suites/rados: Disable scrub backoff
  qa/suites/rados/singleton-nomsgr/all/large-omap-object-warnings.yaml
Labels: bug fix, needs-qa, tests

#21200 jewel: osd/PrimaryLogPG: dump snap_trimq size
  src/osd/ReplicatedPG.cc
Labels: core, jewel-batch-1

#21199 jewel: osd: replica read can trigger cache promotion
  src/osd/ReplicatedPG.cc
  src/osd/ReplicatedPG.h
Labels: core, jewel-batch-1

#21040 mds: mark damaged if sessions' preallocated inos don't match inotable
  src/mds/MDSRank.cc
Labels: bug fix, cephfs, wip-pdonnell-testing

#21144 mds: fix unhealth heartbeat during rejoin
  src/mds/MDCache.cc
Labels: bug fix, cephfs, wip-pdonnell-testing

#21191 client: fix request send_to_auth was never really used
  src/client/MetaRequest.h
Labels: bug fix, cephfs, wip-pdonnell-testing

#21313 qa/tasks: Add default timeout for wait for pg clean task
  qa/tasks/ceph_manager.py
Labels: tests

#21185 jewel: mds: underwater dentry check in CDir::_omap_fetched is racy
  src/mds/CDir.cc
  src/mds/CDir.h
Labels: cephfs, jewel-batch-1

#21235 osd/osd_types: fix ideal lower bound object-id of pg
  src/osd/osd_types.cc
Labels: bug fix, core, needs-qa, wip-kefu-testing

#21028 osd: avoid unnecessary ref-counting across PrimaryLogPG::get_rw_locks.
  src/osd/PrimaryLogPG.cc
  src/osd/osd_internal_types.h
Labels: core, needs-qa, performance, wip-kefu-testing

#21112 misc: fix various log messages
  src/client/Client.cc
  src/common/LogClient.cc
  src/kv/KineticStore.cc
  src/kv/RocksDBStore.cc
  src/librbd/operation/DisableFeaturesRequest.cc
  src/librbd/operation/EnableFeaturesRequest.cc
  src/librbd/operation/MetadataRemoveRequest.cc
  src/librbd/operation/MetadataSetRequest.cc
  src/librbd/operation/SnapshotLimitRequest.cc
  src/mds/MDCache.cc
  src/mds/ScrubStack.cc
  src/mgr/ActivePyModules.cc
  src/mgr/StandbyPyModules.cc
  src/mon/MonmapMonitor.cc
  src/msg/async/AsyncMessenger.cc
  src/msg/async/dpdk/DPDK.cc
  src/msg/async/rdma/Infiniband.cc
  src/msg/simple/Accepter.cc
  src/msg/xio/XioMessenger.cc
  src/os/bluestore/BlueStore.cc
  src/os/filestore/FileJournal.cc
  src/osd/PG.cc
  src/osd/PrimaryLogPG.cc
  src/osdc/Objecter.cc
  src/rgw/rgw_file.cc
  src/rgw/rgw_http_client_curl.cc
  src/rgw/rgw_op.cc
  src/rgw/rgw_rados.cc
  src/rgw/rgw_rest_s3.cc
Labels: cleanup, needs-qa, wip-kefu-testing

#21319 doc: remove unused config: "osd op threads"
  doc/rados/configuration/osd-config-ref.rst
  src/sample.ceph.conf
Labels: cleanup, documentation

#21126 mgr/dashboard: Add Api module
  src/pybind/mgr/dashboard/frontend/src/app/app.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/iscsi/iscsi.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/iscsi/iscsi.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/mirroring/mirroring.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/mirroring/mirroring.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/pool-detail/pool-detail.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cephfs/cephfs.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cephfs/cephfs/cephfs.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cephfs/cephfs/cephfs.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cephfs/clients/clients.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cephfs/clients/clients.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/cluster.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/configuration/configuration.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/configuration/configuration.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/hosts/hosts.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/monitor/monitor.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/osd/osd-details/osd-details.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/osd/osd-details/osd-details.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/osd/osd-list/osd-list.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/osd/osd-list/osd-list.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/dashboard/dashboard.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/dashboard/health/health.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/dashboard/health/health.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/performance-counter/performance-counter.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/performance-counter/performance-counter/performance-counter.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/performance-counter/table-performance-counter/table-performance-counter.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/performance-counter/table-performance-counter/table-performance-counter.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-daemon-details/rgw-daemon-details.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-daemon-details/rgw-daemon-details.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-daemon-list/rgw-daemon-list.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-daemon-list/rgw-daemon-list.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/core/auth/login/login.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/core/auth/logout/logout.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/api.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/auth.service.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/cephfs.service.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/cephfs.service.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/configuration.service.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/configuration.service.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/dashboard.service.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/dashboard.service.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/host.service.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/monitor.service.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/monitor.service.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/osd.service.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/osd.service.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/pool.service.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/rbd-mirroring.service.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/rbd-mirroring.service.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/rgw-daemon.service.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/rgw-daemon.service.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/table-performance-counter.service.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/table-performance-counter.service.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/tcmu-iscsi.service.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/services/services.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/shared.module.ts
Labels: dashboard

#21327 mgr/dashboard: Replace font-awesome with fork-awesome
  src/pybind/mgr/dashboard/frontend/.angular-cli.json
  src/pybind/mgr/dashboard/frontend/package.json
  src/pybind/mgr/dashboard/frontend/src/app/shared/datatable/table/table.component.scss
  src/pybind/mgr/dashboard/frontend/src/openattic-theme.scss
Labels: dashboard

#19283 rgw: mfa support
  CMakeLists.txt
  ceph.spec.in
  cmake/modules/Findliboath.cmake
  debian/control
  doc/radosgw/index.rst
  doc/radosgw/mfa.rst
  qa/tasks/s3tests.py
  src/cls/CMakeLists.txt
  src/cls/otp/cls_otp.cc
  src/cls/otp/cls_otp_client.cc
  src/cls/otp/cls_otp_client.h
  src/cls/otp/cls_otp_ops.h
  src/cls/otp/cls_otp_types.cc
  src/cls/otp/cls_otp_types.h
  src/common/options.cc
  src/rgw/CMakeLists.txt
  src/rgw/rgw_admin.cc
  src/rgw/rgw_common.cc
  src/rgw/rgw_common.h
  src/rgw/rgw_json_enc.cc
  src/rgw/rgw_main.cc
  src/rgw/rgw_metadata.cc
  src/rgw/rgw_metadata.h
  src/rgw/rgw_op.cc
  src/rgw/rgw_op.h
  src/rgw/rgw_otp.cc
  src/rgw/rgw_otp.h
  src/rgw/rgw_rados.cc
  src/rgw/rgw_rados.h
  src/rgw/rgw_rest_s3.cc
  src/rgw/rgw_user.cc
  src/rgw/rgw_user.h
Labels: rgw

#21302 qa/suites/rados/singleton/all/random-eio: whitelist eio error message
  qa/suites/rados/singleton/all/random-eio.yaml
Labels: bug fix, core, tests, wip-sage-testing

#21315 qa/tasks/mgr/test_failover: fix for id -> name rename in mgr metadata
  qa/tasks/mgr/test_failover.py
Labels: bug fix, core, mgr, tests, wip-sage-testing

#21272 rgw: beast frontend no longer experimental
  qa/rgw_frontend/beast.yaml
  src/rgw/rgw_main.cc
Labels: rgw

#21304 rbd: python bindings fixes and improvements
  src/pybind/rbd/rbd.pyx
Labels: bug fix, feature, needs-qa, rbd, wip-mgolub-testing

#21321 tools/cephfs: instantiate MDSUtility after global_init()
  src/tools/cephfs/DataScan.h
  src/tools/cephfs/JournalTool.h
  src/tools/cephfs/TableTool.h
  src/tools/cephfs/cephfs-data-scan.cc
  src/tools/cephfs/cephfs-journal-tool.cc
  src/tools/cephfs/cephfs-table-tool.cc
Labels: bug fix, cephfs, wip-pdonnell-testing

#21230 luminous: rbd-nbd: fix ebusy when do map
  src/tools/rbd_nbd/rbd-nbd.cc
Labels: luminous-batch-1, rbd, wip-yuri-testing

#21192 luminous: is_qemu_running in qemu_rebuild_object_map.sh and qemu_dynamic_features.sh may return false positive
  qa/suites/rbd/maintenance/qemu/xfstests.yaml
  qa/tasks/qemu.py
Labels: luminous-batch-1, rbd, tests, wip-yuri-testing

#21124 luminous: test_admin_socket.sh may fail on wait_for_clean
  qa/workunits/rbd/test_admin_socket.sh
Labels: luminous-batch-1, rbd, tests, wip-yuri-testing

#20947 Special scrub handling of hinfo_key errors
  PendingReleaseNotes
  doc/rados/command/list-inconsistent-obj.json
  doc/rados/command/list-inconsistent-snap.json
  doc/rados/troubleshooting/troubleshooting-pg.rst
  qa/standalone/scrub/osd-scrub-repair.sh
  qa/standalone/scrub/osd-scrub-snaps.sh
  src/common/scrub_types.cc
  src/common/scrub_types.h
  src/include/rados/rados_types.hpp
  src/osd/ECBackend.cc
  src/osd/ECUtil.cc
  src/osd/ECUtil.h
  src/osd/PGBackend.cc
  src/osd/PrimaryLogPG.cc
  src/osd/osd_types.cc
  src/osd/osd_types.h
  src/tools/CMakeLists.txt
  src/tools/rados/rados.cc
Labels: bug fix, feature, tools

#21310 osd: resend osd_pgtemp if it's not acked
  src/mds/OpenFileTable.cc
  src/osd/OSD.cc
  src/osd/OSD.h
  src/osd/PG.cc
Labels: bug fix, core, wip-kefu-testing

#21078 mgr/dashboard: Add notification service/component
  src/pybind/mgr/dashboard/frontend/src/app/core/auth/login/login.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/core/auth/login/login.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/core/navigation/navigation.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/core/navigation/navigation/navigation.component.html
  src/pybind/mgr/dashboard/frontend/src/app/core/navigation/navigation/navigation.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/core/navigation/notifications/notifications.component.html
  src/pybind/mgr/dashboard/frontend/src/app/core/navigation/notifications/notifications.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/core/navigation/notifications/notifications.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/core/navigation/notifications/notifications.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/enum/notification-type.enum.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/models/cd-notification.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/services/auth-interceptor.service.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/services/notification.service.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/services/notification.service.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/services/services.module.ts
  src/pybind/mgr/dashboard/frontend/src/styles/popover.scss
Labels: dashboard

#21041 mgr/dashboard: Add custom validators
  src/pybind/mgr/dashboard/frontend/src/app/shared/validators/cd-validators.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/validators/cd-validators.ts
Labels: dashboard, feature

#21086 mgr/dashboard: Fix table without fetchData
  src/pybind/mgr/dashboard/frontend/src/app/shared/datatable/table/table.component.html
  src/pybind/mgr/dashboard/frontend/src/app/shared/datatable/table/table.component.ts
Labels: dashboard

#21347 doc/mgr: Add limitations section to plugin guide
  doc/mgr/plugins.rst
Labels: documentation

#21258 mgr/dashboard: Implement a RGW proxy
  qa/tasks/mgr/dashboard/helper.py
  qa/tasks/mgr/dashboard/test_rgw.py
  src/pybind/mgr/dashboard/README.rst
  src/pybind/mgr/dashboard/awsauth.py
  src/pybind/mgr/dashboard/controllers/rgw.py
  src/pybind/mgr/dashboard/exceptions.py
  src/pybind/mgr/dashboard/rest_client.py
  src/pybind/mgr/dashboard/services/rgw_client.py
  src/pybind/mgr/dashboard/settings.py
  src/pybind/mgr/dashboard/tests/test_tools.py
  src/pybind/mgr/dashboard/tools.py
  src/pybind/mgr/dashboard/tox.ini
Labels: dashboard, feature

#21349 FreeBSD: add new required packages to be installed
  install-deps.sh
Labels: build/ops

#21334 qa: fix typo in test_full
  qa/tasks/cephfs/test_full.py
Labels: cephfs, needs-review, wip-pdonnell-testing

#20186 CodingStyle: add python and javascript/typescript
  CodingStyle
Labels: documentation

#21335 luminous: ceph-volume lvm.activate error if no bluestore OSDs are found
  src/ceph-volume/ceph_volume/devices/lvm/activate.py
Labels: ceph-volume

#21103 luminous: scrub errors not cleared on replicas can cause inconsistent pg state when replica takes over primary
  qa/standalone/ceph-helpers.sh
  qa/standalone/scrub/osd-scrub-test.sh
  src/osd/PG.cc
  src/osd/osd_types.h
Labels: bug fix, core, needs-review

#21259 common: hint the main branch of dout() accordingly to default verbosity.
  src/common/likely.h
  src/common/subsys_types.h
  src/log/SubsystemMap.h
Labels: cleanup, common, performance, wip-kefu-testing

#21275 osdc/Objecter: add ignore overlay flag if got redirect reply
  src/osdc/Objecter.cc
Labels: core, needs-qa, wip-kefu-testing

#21297 ceph: print output of "status" as string not as bytes
  src/ceph.in
Labels: core, needs-qa, wip-kefu-testing

#21281 common: retry_sys_call no need take address of a function pointer
  src/common/admin_socket.cc
Labels: cleanup, common, needs-qa, wip-kefu-testing

#21288 mgr/prometheus: fix PG state names
  src/osd/osd_types.cc
  src/pybind/mgr/prometheus/module.py
Labels: bug fix, mgr, needs-qa, wip-kefu-testing

#21306 os/bluestore: alter the allow_eio policy regarding kernel's error list.
  src/os/bluestore/KernelDevice.cc
Labels: bluestore, bug fix, cleanup, needs-qa, wip-kefu-testing

#21318 qa/standalone/mon/misc.sh: Add osdmap-prune tests
  qa/standalone/mon/misc.sh
Labels: bug fix, needs-qa, tests, wip-kefu-testing, wip-sage-testing

#21308 librbd: disable ENOENT tracking within the object cacher
  src/librbd/LibrbdWriteback.cc
  src/librbd/cache/ObjectCacherObjectDispatch.cc
  src/librbd/io/ImageRequest.cc
  src/librbd/io/ReadResult.cc
  src/librbd/io/ReadResult.h
Labels: bug fix, rbd, wip-mgolub-testing

#21314 msg/async/AsyncConnection: Fix FPE in process_connection
  src/msg/async/AsyncConnection.cc
Labels: bug fix, core, needs-qa, wip-kefu-testing
