Repository ceph/ceph, pull requests merged in 2018-07, with the labels that each got.

#22772 doc: s/doc/ref for dashboard urls
  doc/glossary.rst
  doc/mgr/dashboard.rst
  doc/releases/mimic.rst
  doc/start/intro.rst
Labels: cleanup, dashboard, documentation, mgr

#22760 mgr/dashboard: add supported flag information to config options documentation
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/configuration/configuration.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/configuration/configuration.component.ts
Labels: dashboard, feature

#22769 systemd/rbdmap.service: order us before remote-fs-pre.target
  systemd/rbdmap.service.in
Labels: needs-qa, rbd

#21772 rgw: test bi list
  src/cls/rgw/cls_rgw.cc
  src/test/cls_rgw/test_cls_rgw.cc
Labels: needs-qa, rgw, tests

#22775 mimic: qa/workunits/suites/blogbench.sh: use correct dir name
  qa/workunits/suites/blogbench.sh
Labels: core, mimic-batch-1, tests, wip-yuri-testing

#22621 mimic: osd: increase default hard pg limit
  src/common/options.cc
Labels: core, mimic-batch-1, needs-qa, wip-yuri-testing

#22545 mimic: osd: eternal stuck PG in 'unfound_recovery'
  src/osd/PG.cc
  src/osd/PG.h
Labels: bug fix, core, mimic-batch-1, needs-qa, wip-yuri-testing

#22311 mimic: common: partially revert 95fc248 to make get_process_name work
  src/common/code_environment.cc
Labels: common, core, mimic-batch-1, needs-qa, wip-yuri-testing

#22761 osd/filestore: Change default filestore_merge_threshold to -10
  doc/rados/configuration/filestore-config-ref.rst
  qa/standalone/mon/osd-pool-create.sh
  src/common/options.cc
  src/sample.ceph.conf
Labels: core, needs-backport, performance

#22802 doc: fix some it's -> its typos
  doc/dev/mon-bootstrap.rst
  doc/man/8/ceph-deploy.rst
  doc/rados/configuration/ceph-conf.rst
Labels: documentation

#22808 doc/dashboard: don't advise mgr_initial_modules
  doc/mgr/administrator.rst
  doc/mgr/dashboard.rst
Labels: dashboard, documentation, mgr

#22764 ceph-volume: refuse to zap mapper devices
  src/ceph-volume/ceph_volume/devices/lvm/zap.py
  src/ceph-volume/ceph_volume/tests/devices/test_zap.py
  src/ceph-volume/ceph_volume/util/disk.py
Labels: ceph-volume

#22837 test: test_get_timeout_delays() fix
  qa/standalone/ceph-helpers.sh
Labels: bug fix, tests

#22831 luminous: ceph-volume: provide a nice errror message when missing ceph.conf
  src/ceph-volume/ceph_volume/__init__.py
  src/ceph-volume/ceph_volume/main.py
Labels: ceph-volume

#22757 mgr/dashboard: Improve str_to_bool
  src/pybind/mgr/dashboard/tools.py
Labels: cleanup, dashboard

#22807 mimic: mgr/dashboard: Replace Pool with Pools
  src/pybind/mgr/dashboard/frontend/src/app/core/navigation/navigation/navigation.component.html
Labels: cleanup, dashboard

#22461 mgr/dashboard: Add UI for Cluster-wide OSD Flags configuration
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/cluster.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/osd/osd-flags-modal/osd-flags-modal.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/osd/osd-flags-modal/osd-flags-modal.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/osd/osd-flags-modal/osd-flags-modal.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/osd/osd-flags-modal/osd-flags-modal.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/osd/osd-list/osd-list.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/osd/osd-list/osd-list.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/osd.service.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/osd.service.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/components.module.ts
Labels: dashboard, feature

#22644 mgr/dashboard: CdFormGroup
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-form/rbd-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-form/rbd-form.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-snapshot-form/rbd-snapshot-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-snapshot-form/rbd-snapshot-form.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-bucket-form/rgw-bucket-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-bucket-form/rgw-bucket-form.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-user-capability-modal/rgw-user-capability-modal.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-user-capability-modal/rgw-user-capability-modal.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-user-form/rgw-user-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-user-form/rgw-user-form.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-user-s3-key-modal/rgw-user-s3-key-modal.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-user-s3-key-modal/rgw-user-s3-key-modal.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-user-subuser-modal/rgw-user-subuser-modal.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-user-subuser-modal/rgw-user-subuser-modal.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/deletion-modal/deletion-modal.component.html
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/deletion-modal/deletion-modal.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/deletion-modal/deletion-modal.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/forms/cd-form-builder.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/forms/cd-form-builder.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/forms/cd-form-group.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/forms/cd-form-group.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/forms/cd-validators.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/forms/cd-validators.ts
Labels: dashboard

#22830 mgr/dashboard: Fix RBD object size dropdown options
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-form/rbd-form.component.ts
Labels: bug fix, dashboard

#22803 mimic: doc: update experimental features - snapshots
  doc/cephfs/experimental-features.rst
Labels: cephfs, documentation

#22847 run-make-check.sh: Adding ccache tuning for the CI
  run-make-check.sh
Labels: build/ops

#20133 build/ops: deb: drop redundant ceph-common recommends
  debian/control
Labels: build/ops, cleanup, needs-review

#22762 mgr/dashboard: Remove top-right actions text and add "About" page
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-list/rbd-list.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/core/auth/logout/logout.component.html
  src/pybind/mgr/dashboard/frontend/src/app/core/navigation/about/about.component.html
  src/pybind/mgr/dashboard/frontend/src/app/core/navigation/about/about.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/core/navigation/about/about.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/core/navigation/about/about.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/core/navigation/dashboard-help/dashboard-help.component.html
  src/pybind/mgr/dashboard/frontend/src/app/core/navigation/dashboard-help/dashboard-help.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/core/navigation/navigation.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/core/navigation/navigation/navigation.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/core/navigation/notifications/notifications.component.html
  src/pybind/mgr/dashboard/frontend/src/app/core/navigation/task-manager/task-manager.component.html
  src/pybind/mgr/dashboard/frontend/src/app/core/navigation/task-manager/task-manager.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/services/summary.service.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/services/task-manager.service.ts
  src/pybind/mgr/dashboard/frontend/src/assets/Ceph_Logo_Stacked_RGB_120411_fa_348x348.png
  src/pybind/mgr/dashboard/frontend/src/openattic-theme.scss
Labels: dashboard, feature

#22829 mgr/dashboard: Fix regression on rbd form component
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-form/rbd-form.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-form/rbd-form.component.ts
  src/pybind/mgr/dashboard/frontend/src/testing/activated-route-stub.ts
  src/pybind/mgr/dashboard/frontend/src/tsconfig.app.json
  src/pybind/mgr/dashboard/frontend/src/tsconfig.spec.json
Labels: bug fix, dashboard

#22793 Add new OpenSUSE Leap id for install-deps.sh
  install-deps.sh
Labels: core, needs-review

#22855 [luminous] doc/cephfs: remove lingering "experimental" note about multimds
  doc/rados/deployment/ceph-deploy-mds.rst
Labels: cephfs, documentation

#22854 [mimic] doc/cephfs: remove lingering "experimental" note about multimds
  doc/rados/deployment/ceph-deploy-mds.rst
Labels: cephfs, documentation

#22617 rgw: set cr state if aio_read err return in RGWCloneMetaLogCoroutine
  src/rgw/rgw_sync.cc
Labels: bsp-beijing, bug fix, needs-qa, rgw, wip-cbodley-testing, wip-yuri-testing

#22878 doc: fixed minor typo in Debian packages section
  doc/install/get-packages.rst
Labels: documentation

#22881 jewel bp: fix ceph-deploy branch for jewel tests
  qa/config_options/cephdeploy_conf.yaml
Labels: needs-qa, tests

#22623 rgw: Limit the number of lifecycle rules on one bucket.
  src/common/legacy_config_opts.h
  src/common/options.cc
  src/rgw/rgw_lc_s3.cc
Labels: bsp-beijing, needs-qa, rgw, wip-yuri-testing

#22614 rgw: fix copy response header etag format not correct
  src/rgw/rgw_rest_s3.cc
Labels: bsp-beijing, bug fix, needs-qa, rgw, wip-yuri-testing

#22452 rgw: warn if zone doesn't contain all zg's placement targets
  src/rgw/rgw_rados.cc
Labels: needs-qa, rgw, wip-yuri-testing

#22145 rgw: reject invalid methods in validate_cors_rule_method
  src/rgw/rgw_op.cc
Labels: bug fix, needs-qa, rgw, wip-cbodley-testing, wip-yuri-testing

#22619 rgw: The delete markers generated by object expiration should have owner attribute.
  src/rgw/rgw_lc.cc
  src/rgw/rgw_lc.h
Labels: bsp-beijing, needs-qa, needs-test, rgw, wip-yuri-testing

#22896 deb,rpm,do_cmake: switch to cmake3
  ceph.spec.in
  debian/control
  do_cmake.sh
Labels: build/ops, needs-review

#22858 osd/PrimaryLogPG: rebuild attrs from clients
  src/osd/PGTransaction.h
Labels: bug fix, core, needs-qa, wip-sage3-testing

#22871 deb/rpm: add python-six as build-time and run-time dependency
  ceph.spec.in
  debian/control
Labels: build/ops, needs-qa, wip-sage3-testing

#22873 os/bluestore: fix incomplete faulty range marking when doing compression GC
  src/os/bluestore/BlueStore.cc
Labels: bluestore, bug fix, needs-backport, needs-qa, wip-sage3-testing

#22721 rgw: escape markers in RGWOp_Metadata_List::execute
  src/rgw/rgw_common.cc
  src/rgw/rgw_common.h
  src/rgw/rgw_rest_metadata.cc
Labels: bug fix, needs-qa, rgw, wip-yuri2-testing

#20779 rgw: radogw-admin reshard status command should print text for reshard status
  src/cls/rgw/cls_rgw_types.cc
Labels: needs-qa, rgw, wip-yuri2-testing

#22863 rgw: fix gc may cause a large number of read traffic
  src/cls/rgw/cls_rgw.cc
Labels: bug fix, needs-qa, rgw, wip-yuri2-testing

#22730 mimic: osd/Session: fix invalid iterator dereference in Sessoin::have_backoff()
  src/osd/Session.h
Labels: core, mimic-batch-1, wip-yuri3-testing

#22722 mimic: common/hobject: improved hash calculation
  src/common/hobject.h
Labels: core, mimic-batch-1, performance, wip-yuri3-testing

#22651 mimic: osd: fix getting osd maps on initial osd startup
  src/osd/OSD.cc
Labels: bug fix, core, mimic-batch-1, needs-qa, wip-yuri3-testing

#22559 mimic: PG: add custom_reaction Backfilled and release reservations after bac…
  src/osd/PG.cc
  src/osd/PG.h
Labels: core, mimic-batch-1, wip-yuri3-testing

#22552 mimic: tell ... config rm <foo> not idempotent
  qa/workunits/mon/config.sh
  src/common/ceph_context.cc
  src/common/config.cc
  src/mds/MDSDaemon.cc
  src/osd/OSD.cc
Labels: bug fix, common, mimic-batch-1, needs-review, wip-yuri3-testing, wip-yuri4-testing

#22525 mimic: os/bluestore: firstly delete db then delete bluefs if open db met error.
  src/os/bluestore/BlueStore.cc
Labels: core, mimic-batch-1, needs-qa, wip-yuri3-testing

#22406 mimic: common: fix typo in rados bench write JSON output
  src/common/obj_bencher.cc
Labels: common, mimic-batch-1, wip-yuri3-testing

#22394 mimic: osd: retry to read object attrs at EC recovery
  qa/standalone/erasure-code/test-erasure-eio.sh
  src/osd/ECBackend.cc
Labels: core, mimic-batch-1, wip-yuri3-testing

#22382 mimic: bluestore: flush_commit is racy
  src/os/bluestore/BlueStore.cc
  src/os/bluestore/BlueStore.h
Labels: core, mimic-batch-1, wip-yuri3-testing

#22361 mimic: mon: enable level_compaction_dynamic_level_bytes for rocksdb
  src/common/options.cc
Labels: core, mimic-batch-1, wip-yuri3-testing

#22333 mimic: mon/MgrMonitor: change 'unresponsive' message to info level
  qa/suites/rados/monthrash/ceph.yaml
  qa/suites/upgrade/jewel-x/parallel/1-jewel-install/jewel.yaml
  src/mon/MgrMonitor.cc
Labels: core, mimic-batch-1, wip-yuri3-testing

#22297 mimic: mon/OSDMonitor: no_reply on MOSDFailure messages
  src/mon/OSDMonitor.cc
Labels: core, mimic-batch-1, wip-yuri3-testing

#22912 cmake: remove workarounds for supporting cmake 2.x
  CMakeLists.txt
  cmake/modules/BuildBoost.cmake
  src/test/fio/CMakeLists.txt
Labels: build/ops, cleanup, needs-qa, wip-kefu-testing

#22922 tests: make test_ceph_argparse.py pass on py3-only systems
  src/test/pybind/test_ceph_argparse.py
Labels: tests

#22766 mds: refactor const ref return to avoid mem alloc
  src/mds/SessionMap.h
Labels: cephfs, cleanup, needs-review, wip-pdonnell-testing

#22836 qa: remove unused distro dir
  qa/suites/fs/upgrade/supported-random-distros$
Labels: cephfs, needs-review, wip-pdonnell-testing

#21962 osd: Additional fields for osd "bench" command
  src/osd/OSD.cc
Labels: core, needs-qa, wip-kefu-testing

#22893 mgr: Miscellaneous small mgr fixes
  src/mgr/ActivePyModule.cc
  src/mgr/ActivePyModules.cc
  src/mgr/DaemonServer.cc
  src/mgr/MgrStandby.cc
  src/mgr/PyModuleRunner.h
Labels: cleanup, mgr, needs-qa, wip-kefu-testing

#22898 os/bluestore: remove redundant fault_range.
  src/os/bluestore/BlueStore.cc
Labels: bluestore, cleanup, needs-qa, wip-kefu-testing

#22903 mgr/dashboard: Fix e2e script
  src/pybind/mgr/dashboard/frontend/angular.json
  src/pybind/mgr/dashboard/frontend/package.json
  src/pybind/mgr/dashboard/run-frontend-e2e-tests.sh
Labels: bug fix, dashboard

#22778 test/librbd: fix gmock warning in TestMockIoImageRequestWQ.AcquireLockError
  src/test/librbd/io/test_mock_ImageRequestWQ.cc
Labels: cleanup, rbd, tests

#22867 run-make-check.sh: ccache goodness for everyone
  run-make-check.sh
Labels: build/ops

#22913 jewel: CLI unit formatting tests are broken
  qa/workunits/rbd/import_export.sh
Labels: rbd, tests

#22911 luminous: qa/workunits/rbd: adapt import_export test to handle multiple units
  qa/workunits/rbd/import_export.sh
Labels: luminous-batch-1, rbd, tests

#22907 jewel: qa/suites/krbd: use 8 osds instead of 6
  qa/suites/krbd/rbd-nomount/clusters/fixed-3-more.yaml
  qa/suites/krbd/rbd-nomount/clusters/fixed-3.yaml
  qa/suites/krbd/rbd/clusters/fixed-3-more.yaml
  qa/suites/krbd/rbd/clusters/fixed-3.yaml
  qa/suites/krbd/thrash/clusters/fixed-3-more.yaml
  qa/suites/krbd/thrash/clusters/fixed-3.yaml
Labels: wip-sage-testing

#22916 jewel: Revert "rgw: fix index update in dir_suggest_changes"
  src/cls/rgw/cls_rgw.cc
Labels: core, jewel-batch-1, rgw, wip-sage-testing

#22920 jewel: Revert "Merge pull request #17893 from dzafman/wip-19140-19224"
  qa/tasks/ceph_manager.py
  qa/tasks/thrashosds.py
  src/osdc/Objecter.cc
  src/osdc/Objecter.h
Labels: wip-sage-testing

#22849 mimic: mgr/dashboard: Missing breadcrumb on monitor performance counters page
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-form/rbd-form.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cephfs/cephfs/cephfs.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cephfs/clients/clients.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/monitor/monitor.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/performance-counter/performance-counter/performance-counter.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/performance-counter/performance-counter/performance-counter.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-bucket-form/rgw-bucket-form.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-user-form/rgw-user-form.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/datatable/table/table.component.html
  src/pybind/mgr/dashboard/frontend/tslint.json
Labels: dashboard

#22711 doc: Mention PURGED_SNAPDIRS and RECOVERY_DELETES in Mimic release notes
  doc/releases/mimic.rst
Labels: core, documentation

#22900 mimic: ceph-volume lvm.common use destroy-new, doesn't need admin keyring
  src/ceph-volume/ceph_volume/devices/lvm/common.py
Labels: ceph-volume

#22700 mimic: qa/suites: Add supported-random-distro$ links.
  qa/suites/fs/32bits/supported-random-distros$
  qa/suites/fs/basic_functional/supported-random-distros$
  qa/suites/fs/basic_workload/supported-random-distros$
  qa/suites/fs/multifs/supported-random-distros$
  qa/suites/fs/permission/supported-random-distros$
  qa/suites/fs/snaps/supported-random-distros$
  qa/suites/fs/thrash/supported-random-distros$
  qa/suites/fs/traceless/supported-random-distros$
  qa/suites/kcephfs/cephfs/supported-random-distros$
  qa/suites/kcephfs/mixed-clients/supported-random-distros$
  qa/suites/kcephfs/recovery/supported-random-distros$
  qa/suites/kcephfs/thrash/supported-random-distros$
  qa/suites/multimds/basic/supported-random-distros$
  qa/suites/multimds/thrash/supported-random-distros$
Labels: cephfs, mimic-batch-1, needs-qa, tests, wip-yuri4-testing

#22944 doc: fixed grammar in restore rbd image section
  doc/rbd/rados-rbd-cmds.rst
Labels: cleanup, documentation, rbd

#22268 mimic: mon/OSDMonitor: Respect paxos_propose_interval
  src/mon/OSDMonitor.cc
  src/mon/OSDMonitor.h
  src/mon/Paxos.h
Labels: needs-review

#22931 cmake: find a python2 interpreter for gtest-parallel
  cmake/modules/AddCephTest.cmake
Labels: build/ops, tests, wip-kefu-testing

#22940 mon/OSDMonitor: add 'osd repeer <pgid>' command
  qa/workunits/cephtool/test.sh
  src/mon/MonCommands.h
  src/mon/Monitor.cc
  src/mon/OSDMonitor.cc
Labels: core, feature, needs-qa, wip-sage3-testing

#22949 cmake: cleanup FindCython.cmake
  cmake/modules/FindCython.cmake
Labels: build/ops, cleanup, needs-qa, wip-sage3-testing

#22954 global/global_init: fix stdout/stderr/stdin closing for daemonization
  src/global/global_init.cc
Labels: bug fix, common, needs-qa, wip-sage3-testing

#22770 mimic: mon: exception for dashboard in config-key warning
  src/mon/ConfigKeyService.cc
Labels: dashboard, mgr, mimic-batch-1, mon, needs-qa, wip-yuri-testing

#22768 mimic: librbd: deep_copy: resize head object map if needed
  src/librbd/deep_copy/SnapshotCopyRequest.cc
  src/librbd/deep_copy/SnapshotCopyRequest.h
  src/test/librbd/mock/MockObjectMap.h
  src/test/librbd/test_DeepCopy.cc
Labels: mimic-batch-1, rbd, wip-yuri-testing

#22549 mimic: [rbd-mirror] entries_behind_master will not be zero after mirror over
  src/librbd/ImageCtx.cc
  src/librbd/ImageCtx.h
  src/librbd/journal/Replay.cc
  src/librbd/journal/Replay.h
  src/test/librbd/journal/test_mock_Replay.cc
  src/test/librbd/mock/MockImageCtx.h
  src/test/rbd_mirror/test_ImageReplayer.cc
Labels: bug fix, mimic-batch-1, rbd, wip-yuri-testing

#22961 doc/cephfs: make scary DR bits less prominent
  doc/cephfs/disaster-recovery-experts.rst
  doc/cephfs/disaster-recovery.rst
  doc/cephfs/index.rst
Labels: cephfs, documentation

#22953 ceph-bluestore-tool: remove path_* support from prime-osd-dir
  src/os/bluestore/bluestore_tool.cc
Labels: cleanup, core, wip-sage3-testing

#22968 messages/MMDSMap: fix reencoding for older clients
  src/messages/MMDSMap.h
Labels: bug fix, cephfs, wip-sage3-testing

#22969 qa/mgr: delete devicehealth pool after selftest
  qa/tasks/mgr/test_module_selftest.py
Labels: cleanup, mgr, wip-sage3-testing

#22917 mimic: Python bindings use iteritems method which is not Python 3 compatible
  src/pybind/mgr/balancer/module.py
  src/pybind/mgr/influx/module.py
  src/pybind/mgr/mgr_module.py
  src/pybind/mgr/restful/module.py
  src/pybind/mgr/status/module.py
  src/pybind/mgr/telegraf/module.py
Labels: bug fix, mgr, mimic-batch-1, pybind, wip-yuri2-testing

#22861 mimic: osd: may get empty info at recovery
  src/osd/PG.cc
Labels: bug fix, core, mimic-batch-1, wip-yuri2-testing

#22859 mimic: set correctly shard for existed Collection
  src/os/bluestore/BlueStore.cc
  src/os/bluestore/BlueStore.h
Labels: bug fix, core, mimic-batch-1, wip-yuri2-testing

#22851 mimic: build/ops: Mimic build fails with -DWITH_RADOSGW=0
  CMakeLists.txt
  README.alpine.md
  alpine/APKBUILD.in
  ceph.spec.in
  cmake/modules/MergeStaticLibraries.cmake
  debian/rules
  do_freebsd.sh
  doc/dev/macos.rst
  src/CMakeLists.txt
  src/ceph_mds.cc
  src/ceph_mon.cc
  src/ceph_osd.cc
  src/cls/CMakeLists.txt
  src/compressor/CMakeLists.txt
  src/compressor/brotli/CMakeLists.txt
  src/compressor/brotli/CompressionPluginBrotli.cc
  src/compressor/lz4/CMakeLists.txt
  src/compressor/lz4/CompressionPluginLZ4.cc
  src/compressor/snappy/CMakeLists.txt
  src/compressor/snappy/CompressionPluginSnappy.cc
  src/compressor/zlib/CMakeLists.txt
  src/compressor/zlib/CompressionPluginZlib.cc
  src/compressor/zstd/CMakeLists.txt
  src/compressor/zstd/CompressionPluginZstd.cc
  src/erasure-code/CMakeLists.txt
  src/erasure-code/isa/CMakeLists.txt
  src/erasure-code/isa/ErasureCodePluginIsa.cc
  src/erasure-code/jerasure/CMakeLists.txt
  src/erasure-code/jerasure/ErasureCodePluginJerasure.cc
  src/erasure-code/lrc/CMakeLists.txt
  src/erasure-code/lrc/ErasureCodePluginLrc.cc
  src/erasure-code/shec/CMakeLists.txt
  src/erasure-code/shec/ErasureCodePluginShec.cc
  src/include/cephd/libcephd.h
  src/include/config-h.in.cmake
  src/include/rados/objclass.h
  src/key_value_store/CMakeLists.txt
  src/libcephd/CMakeLists.txt
  src/libcephd/libcephd.cc
  src/librados/CMakeLists.txt
  src/librbd/CMakeLists.txt
  src/rgw/CMakeLists.txt
  src/rgw/rgw_admin.cc
  src/rgw/rgw_main.cc
  src/test/CMakeLists.txt
  src/test/libcephd/CMakeLists.txt
  src/test/libcephd/misc.cc
  src/test/libcephd/test.cc
Labels: build/ops, mimic-batch-1, wip-yuri2-testing

#22826 mimic: Bring back diff -y for non-FreeBSD
  qa/run-standalone.sh
  qa/standalone/ceph-helpers.sh
  qa/standalone/osd/osd-backfill-stats.sh
  qa/standalone/osd/osd-recovery-stats.sh
  qa/standalone/osd/repro_long_log.sh
  qa/standalone/scrub/osd-scrub-repair.sh
  qa/standalone/scrub/osd-scrub-snaps.sh
  qa/standalone/scrub/osd-unexpected-clone.sh
  src/osd/PrimaryLogPG.cc
Labels: bug fix, core, mimic-batch-1, tests, wip-yuri2-testing

#22707 mimic: librados: fix buffer overflow for aio_exec python binding
  src/librados/IoCtxImpl.cc
Labels: core, mimic-batch-1, wip-yuri2-testing

#22265 mimic: mon/MDSMonitor: do not send redundant MDS health messages to cluster log
  src/mon/MDSMonitor.cc
Labels: bug fix, cephfs, core, mimic-batch-1, wip-yuri2-testing, wip-yuri3-testing

#22886 mimic: mgr/dashboard: Float numbers incorrectly formatted
  src/pybind/mgr/dashboard/frontend/src/app/shared/services/formatter.service.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/services/formatter.service.ts
Labels: bug fix, dashboard, mimic-batch-1, wip-yuri2-testing

#22989 doc: releases: release notes for v10.2.11 Jewel
  doc/releases/jewel.rst
Labels: documentation

#22960 mimic: osd/PrimaryLogPG: rebuild attrs from clients
  src/osd/PGTransaction.h
Labels: core, mimic-batch-1, wip-yuri4-testing

#22910 mimic: os/bluestore: fix incomplete faulty range marking when doing compression
  src/os/bluestore/BlueStore.cc
Labels: bluestore, bug fix, mimic-batch-1, wip-yuri4-testing

#22889 mimic: osd: choose_acting loop
  src/osd/PG.cc
Labels: bug fix, core, mimic-batch-1, wip-yuri4-testing

#22887 mimic: cosbench stuck at booting cosbench driver
  qa/tasks/cbt.py
Labels: bug fix, core, mimic-batch-1, wip-yuri4-testing

#22813 mimic: change default filestore_merge_threshold to -10
  doc/rados/configuration/filestore-config-ref.rst
  qa/standalone/mon/osd-pool-create.sh
  src/common/options.cc
  src/sample.ceph.conf
Labels: bug fix, core, mimic-batch-1, wip-yuri4-testing

#22805 mimic: ceph osd safe-to-destroy crashes the mgr
  src/mgr/DaemonServer.cc
Labels: bug fix, core, mimic-batch-1, wip-yuri4-testing

#22492 mimic: qa: wait longer for osd to flush pg stats
  qa/tasks/osd_max_pg_per_osd.py
Labels: mimic-batch-1, tests, wip-yuri4-testing

#22412 mimic: cmake: bump up the required boost version to 1.67
  CMakeLists.txt
Labels: mimic-batch-1, needs-qa, wip-yuri4-testing

#22291 mimic: ceph_test_rados_api_misc: fix LibRadosMiscPool.PoolCreationRace
  src/osdc/Objecter.cc
  src/test/librados/misc.cc
Labels: core, mimic-batch-1, tests, wip-yuri4-testing

#22877 common: fix races when visiting a TrackedOp.
  src/common/TrackedOp.cc
  src/common/TrackedOp.h
Labels: bug fix, common, needs-qa, wip-sage3-testing

#22946 os/bluestore: batch handle get_fragmentation.
  src/os/bluestore/BlueStore.cc
Labels: bluestore, needs-qa, performance, wip-kefu-testing, wip-sage3-testing

#22950 rpm: remove universal requires from distro-specific conditional blocks
  ceph.spec.in
Labels: build/ops, cleanup, needs-qa, wip-sage3-testing

#22972 os/bluestore: fix races on SharedBlob::coll in ~SharedBlob.
  src/os/bluestore/BlueStore.cc
Labels: bluestore, bug fix, needs-qa, wip-sage3-testing

#22952 cmake: should link against libatomic if libcxx/libstdc++ does not off…
  CMakeLists.txt
  cmake/modules/CheckCxxAtomic.cmake
Labels: build/ops, wip-kefu-testing

#22594 mgr: Centralize PG_STATES to MgrModule
  src/pybind/mgr/mgr_module.py
  src/pybind/mgr/prometheus/module.py
  src/pybind/mgr/telegraf/module.py
Labels: cleanup, mgr, needs-qa, wip-kefu-testing

#22938 cmake: do not depend on ${DPDK_LIBRARIES} if not using bundled dpdk
  src/CMakeLists.txt
Labels: bug fix, build/ops, needs-review

#22986 mimic: rgw: require --yes-i-really-mean-it to run radosgw-admin orphans find
  src/rgw/rgw_admin.cc
Labels: cleanup, mimic-batch-1, rgw, wip-yuri-testing

#22888 mimic: ValueError: too many values to unpack due to lack of subdir
  qa/suites/rados/objectstore/backends/alloc-hint.yaml
  qa/suites/rados/objectstore/backends/ceph_objectstore_tool.yaml
  qa/suites/rados/objectstore/backends/filejournal.yaml
  qa/suites/rados/objectstore/backends/filestore-idempotent-aio-journal.yaml
  qa/suites/rados/objectstore/backends/filestore-idempotent.yaml
  qa/suites/rados/objectstore/backends/fusestore.yaml
  qa/suites/rados/objectstore/backends/keyvaluedb.yaml
  qa/suites/rados/objectstore/backends/objectcacher-stress.yaml
  qa/suites/rados/objectstore/backends/objectstore.yaml
  qa/suites/rados/singleton-bluestore/all/cephtool.yaml
Labels: bug fix, core, mimic-batch-1, wip-yuri-testing

#22842 mimic: rgw: have a configurable authentication order
  src/common/legacy_config_opts.h
  src/common/options.cc
  src/rgw/rgw_auth_s3.h
Labels: mimic-batch-1, rgw, wip-yuri-testing

#22963 luminous: mon/AuthMonitor: improve error message
  src/mon/AuthMonitor.cc
Labels: cephfs, mon

#22872 luminous: doc: outline steps to take CephFS fs down
  doc/cephfs/administration.rst
Labels: documentation

#22995 qa: use root to find client admin socket
  qa/tasks/cephfs/fuse_mount.py
Labels: bug fix, cephfs, needs-review, wip-pdonnell-testing2

#22962 luminous: osd/PrimaryLogPG: rebuild attrs from clients
  src/osd/PGTransaction.h
Labels: core, wip-sage-testing

#23007 luminous: qa/suites/rados/singleton/all/osd-recovery*: whitelist REQUEST_SLOW
  qa/suites/rados/singleton/all/osd-recovery-incomplete.yaml
  qa/suites/rados/singleton/all/osd-recovery.yaml
Labels: wip-sage-testing

#22997 mimic: osd: do not blindly roll forward to log.head
  qa/standalone/osd/ec-error-rollforward.sh
  qa/standalone/osd/repro_long_log.sh
  src/osd/PG.cc
Labels: bug fix, core, mimic-batch-1, wip-yuri3-testing

#23020 common/config_values: friend md_config_impl<>
  src/common/config_values.h
  src/tools/rbd_ggate/main.cc
Labels: common

#22369 Wip luminous rgw cache time added
  src/rgw/rgw_cache.cc
  src/rgw/rgw_cache.h
Labels: DNM, bug fix, rgw

#23033 rgw: do not ignore EEXIST in RGWPutObj::execute
  src/rgw/rgw_op.cc
Labels: bug fix, rgw

#23028 luminous: osd/PrimaryLogPG: clear data digest on WRITEFULL if skip_data_digest
  src/osd/PrimaryLogPG.cc
Labels: wip-sage-testing

#23035 luminous: rpm,deb: chown bluestore block* links to ceph.ceph on install/upgrade
  ceph.spec.in
  debian/ceph-osd.postinst
Labels: wip-sage-testing

#23018 qa: use 4 mds cluster for multifs tests
  qa/cephfs/clusters/1a3s-mds-1c-client.yaml
  qa/cephfs/clusters/1a3s-mds-2c-client.yaml
  qa/suites/fs/multifs/clusters/1-mds-2-client-coloc.yaml
  qa/suites/fs/multifs/clusters/1a3s-mds-2c-client.yaml
Labels: bug fix, cephfs, needs-review, wip-pdonnell-testing2

#22964 install-deps.sh: import ubuntu-toolchain-r's key without keyserver
  install-deps.sh
Labels: build/ops

#23034 include: fix build with older clang
  src/common/convenience.h
  src/include/any.h
  src/include/denc.h
Labels: build/ops

#20112 librbd: handle aio failure in ManagedLock and PreReleaseRequest
  src/librbd/ManagedLock.cc
Labels: bug fix, needs-qa, rbd, wip-jason-testing

#22637 rbd: new size is equal to original size
  src/tools/rbd/action/Resize.cc
Labels: cleanup, needs-qa, rbd, wip-jason-testing

#22945 librbd:optionally support FUA (force unit access) on write requests
  src/include/rados/librados.h
  src/osdc/ObjectCacher.cc
  src/test/librbd/test_librbd.cc
Labels: feature, needs-qa, rbd, wip-jason-testing

#22211 cephfs-journal-tool: get and check layout info during dump/undump
  src/tools/cephfs/Dumper.cc
Labels: cephfs, tools, wip-pdonnell-testing

#22705 mds/Mantle: Fixed obsolete Lua C++ API
  src/mds/Mantle.cc
Labels: cephfs, wip-pdonnell-testing

#22801 client: add inst to asok status output
  src/client/Client.cc
Labels: cephfs, feature, needs-review, wip-pdonnell-testing

#22804 mds: remove useless dout_subsys macro
  src/mds/MDBalancer.cc
  src/mds/Mantle.cc
Labels: cephfs, cleanup, wip-pdonnell-testing

#23059 common/ceph_strings: add request_flush_mdlog op names to ceph_session_op_name()
  src/common/ceph_strings.cc
Labels: bug fix, cephfs

#22943 mimic: librbd: fix crash when opening nonexistent snapshot
  src/librbd/image/OpenRequest.cc
  src/test/librbd/test_internal.cc
Labels: mimic-batch-1, rbd, wip-yuri2-testing

#22894 mimic: rbd: yet another case when deep copying a clone may result in invalid object map
  src/librbd/DeepCopyRequest.cc
  src/librbd/deep_copy/ObjectCopyRequest.cc
  src/test/librbd/deep_copy/test_mock_SnapshotCopyRequest.cc
  src/test/librbd/test_DeepCopy.cc
Labels: bug fix, mimic-batch-1, rbd, wip-yuri2-testing

#22892 mimic: rbd: rbd-mirror simple image map policy doesn't always level-load instances
  src/common/options.cc
  src/test/rbd_mirror/test_mock_ImageMap.cc
  src/tools/rbd_mirror/ImageMap.cc
  src/tools/rbd_mirror/ImageMap.h
  src/tools/rbd_mirror/image_map/Policy.cc
  src/tools/rbd_mirror/image_map/Policy.h
  src/tools/rbd_mirror/image_map/SimplePolicy.cc
  src/tools/rbd_mirror/image_map/SimplePolicy.h
  src/tools/rbd_mirror/image_map/StateTransition.cc
Labels: bug fix, mimic-batch-1, rbd, wip-yuri2-testing

#22891 mimic: rbd: rbd trash purge --threshold should support data pool
  src/tools/rbd/action/Trash.cc
Labels: feature, mimic-batch-1, rbd, wip-yuri2-testing

#22843 mimic: build/ops: order rbdmap.service before remote-fs-pre.target
  systemd/rbdmap.service.in
Labels: build/ops, mimic-batch-1, rbd, wip-yuri2-testing

#22754 mimic: librbd: force 'invalid object map' flag on-disk update
  src/librbd/object_map/RefreshRequest.cc
  src/test/librbd/test_ObjectMap.cc
Labels: mimic-batch-1, rbd, wip-yuri2-testing

#22667 mimic: rbd: rbd-mirror daemon failed to stop on active/passive test case
  qa/suites/rbd/mirror-thrash/rbd-mirror/four-per-cluster.yaml
  qa/tasks/rbd_mirror.py
  qa/tasks/rbd_mirror_thrash.py
  qa/workunits/rbd/rbd_mirror_helpers.sh
  src/librbd/ManagedLock.cc
  src/test/librbd/test_mock_ManagedLock.cc
  src/test/rbd_mirror/test_mock_LeaderWatcher.cc
  src/tools/rbd_mirror/LeaderWatcher.cc
  src/tools/rbd_mirror/LeaderWatcher.h
Labels: mimic-batch-1, rbd, wip-yuri2-testing

#22662 mimic: librbd: utilize the journal disabled policy when removing images
  src/librbd/image/RemoveRequest.cc
  src/test/librbd/image/test_mock_RemoveRequest.cc
Labels: mimic-batch-1, rbd, wip-yuri2-testing

#22222 mimic: rbd: Prevent the use of internal feature bits from outside cls/rbd
  src/cls/rbd/cls_rbd.cc
  src/librbd/api/Image.cc
  src/librbd/image/CreateRequest.cc
  src/test/cls_rbd/test_cls_rbd.cc
  src/test/librbd/fsx.cc
  src/test/librbd/test_DeepCopy.cc
  src/test/rbd_mirror/test_ImageDeleter.cc
  src/test/rbd_mirror/test_fixture.cc
  src/tools/rbd_mirror/image_replayer/CreateImageRequest.cc
  src/tools/rbd_mirror/image_replayer/CreateImageRequest.h
Labels: bug fix, mimic-batch-1, rbd, wip-yuri2-testing

#22737 librbd: validate data pool for self-managed snapshot support
  qa/workunits/rbd/verify_pool.sh
  src/librbd/image/CreateRequest.cc
  src/librbd/image/CreateRequest.h
Labels: bug fix, needs-qa, rbd, wip-jason-testing

#23068 doc: fix some errors in the cephfs-journal-tool
  doc/cephfs/cephfs-journal-tool.rst
Labels: cephfs, documentation, needs-review

#23079 build/ops: install-deps.sh: set with_seastar
  install-deps.sh
Labels: build/ops

#22899 doc: cleanup: prune Argonaut-specific verbiage
  doc/install/upgrading-ceph.rst
  doc/rados/configuration/auth-config-ref.rst
  doc/rados/operations/add-or-rm-osds.rst
  doc/rados/operations/pools.rst
  doc/rados/troubleshooting/troubleshooting-osd.rst
  doc/start/hardware-recommendations.rst
Labels: cleanup, documentation

#22681 common: use pthread_getname_np only if available
  src/common/assert.cc
Labels: common, needs-qa, wip-sage3-testing
