Repository ceph/ceph, pull requests merged in 2018-10, with the labels that each got.

#24237 .gitignore: Ignore .idea directory
  .gitignore
  src/pybind/mgr/.gitignore
  src/pybind/mgr/dashboard/.gitignore
  src/pybind/mgr/dashboard/frontend/.gitignore
  src/test/python/.gitignore
Labels: common

#24343 mgr/dashboard: fix reference to oA
  src/pybind/mgr/dashboard/__init__.py
  src/pybind/mgr/dashboard/module.py
Labels: dashboard

#24073 doc: added some Civetweb configuration options
  doc/install/install-ceph-gateway.rst
  doc/radosgw/frontends.rst
Labels: documentation, rgw

#24308 luminous: osd/PrimaryLogPG: fix potential pg-log overtrimming
  src/osd/PrimaryLogPG.cc
Labels: bug fix, core, luminous-batch-1, needs-qa, wip-yuri4-testing

#24299 luminous: osd/PG: avoid choose_acting picking want with > pool size items
  src/osd/PG.cc
Labels: core, luminous-batch-1, needs-qa, wip-yuri4-testing

#24070 luminous: cls_rgw test is only run in rados suite: add it to rgw suite as well
  qa/suites/rgw/verify/tasks/+
  qa/suites/rgw/verify/tasks/0-install.yaml
  qa/suites/rgw/verify/tasks/cls_rgw.yaml
  qa/suites/rgw/verify/tasks/rgw_s3tests.yaml
  qa/suites/rgw/verify/tasks/s3tests.yaml
  qa/suites/rgw/verify/tasks/swift.yaml
Labels: luminous-batch-1, needs-qa, rgw, tests, wip-yuri4-testing

#24335 luminous ceph-volume: lsblk can fail to find PARTLABEL, must fallback to blkid
  src/ceph-volume/ceph_volume/devices/simple/scan.py
  src/ceph-volume/ceph_volume/tests/conftest.py
  src/ceph-volume/ceph_volume/tests/util/test_device.py
  src/ceph-volume/ceph_volume/tests/util/test_disk.py
  src/ceph-volume/ceph_volume/util/device.py
  src/ceph-volume/ceph_volume/util/disk.py
Labels: ceph-volume

#24334 mimic ceph-volume: lsblk can fail to find PARTLABEL, must fallback to blkid
  src/ceph-volume/ceph_volume/devices/simple/scan.py
  src/ceph-volume/ceph_volume/tests/conftest.py
  src/ceph-volume/ceph_volume/tests/util/test_device.py
  src/ceph-volume/ceph_volume/tests/util/test_disk.py
  src/ceph-volume/ceph_volume/util/device.py
  src/ceph-volume/ceph_volume/util/disk.py
Labels: ceph-volume

#23674 ceph-volume: zfs, the initial first submit.
  COPYING
  src/ceph-volume/CMakeLists.txt
  src/ceph-volume/plugin/zfs/CMakeLists.txt
  src/ceph-volume/plugin/zfs/LICENSE
  src/ceph-volume/plugin/zfs/MANIFEST.in
  src/ceph-volume/plugin/zfs/ceph_volume_zfs/__init__.py
  src/ceph-volume/plugin/zfs/ceph_volume_zfs/api/__init__.py
  src/ceph-volume/plugin/zfs/ceph_volume_zfs/devices/__init__.py
  src/ceph-volume/plugin/zfs/ceph_volume_zfs/devices/zfs/__init__.py
  src/ceph-volume/plugin/zfs/ceph_volume_zfs/devices/zfs/main.py
  src/ceph-volume/plugin/zfs/ceph_volume_zfs/main.py
  src/ceph-volume/plugin/zfs/ceph_volume_zfs/util/__init__.py
  src/ceph-volume/plugin/zfs/requirements_dev.txt
  src/ceph-volume/plugin/zfs/setup.py
  src/ceph-volume/plugin/zfs/tox.ini
Labels: FreeBSD, ceph-volume, documentation

#24044 qa: tolerate failed rank while waiting for state
  qa/tasks/cephfs/filesystem.py
Labels: bug fix, cephfs, needs-review, wip-pdonnell-testing

#24355 ceph-volume: activate option --auto-detect-objectstore respects --no-systemd
  src/ceph-volume/ceph_volume/devices/lvm/activate.py
  src/ceph-volume/ceph_volume/tests/devices/lvm/test_activate.py
Labels: ceph-volume

#24340 qa/workunits/mon/test_mon_config_key.py: bump up the size limit
  qa/workunits/mon/test_mon_config_key.py
Labels: bug fix, tests

#24346 doc: misc fixes cephfs-shell
  doc/cephfs/cephfs-shell.rst
Labels: cephfs, documentation

#24147 mgr/orchestrator: Improve debuggability
  src/pybind/mgr/orchestrator_cli/module.py
  src/pybind/mgr/rook/module.py
Labels: cleanup, mgr

#24310 luminous: mds: runs out of file descriptors after several respawns
  CMakeLists.txt
  src/CMakeLists.txt
  src/auth/Crypto.cc
  src/ceph_osd.cc
  src/client/fuse_ll.cc
  src/common/HeartbeatMap.cc
  src/common/OutputDataSocket.cc
  src/common/Preforker.h
  src/common/admin_socket.cc
  src/common/admin_socket_client.cc
  src/common/buffer.cc
  src/common/compat.cc
  src/common/config.cc
  src/common/pipe.c
  src/common/pipe.h
  src/global/global_init.cc
  src/global/pidfile.cc
  src/global/signal_handler.cc
  src/include/compat.h
  src/include/denc.h
  src/include/encoding.h
  src/include/sock_compat.h
  src/include/uuid.h
  src/kv/MemDB.cc
  src/log/Log.cc
  src/mds/MDCache.cc
  src/mon/LogMonitor.cc
  src/mon/Monitor.cc
  src/mon/MonitorDBStore.h
  src/msg/Message.cc
  src/msg/async/Event.cc
  src/msg/async/EventEpoll.cc
  src/msg/async/PosixStack.cc
  src/msg/async/net_handler.cc
  src/msg/async/net_handler.h
  src/msg/async/rdma/RDMAConnectedSocketImpl.cc
  src/msg/async/rdma/RDMAServerSocketImpl.cc
  src/msg/simple/Accepter.cc
  src/msg/simple/Pipe.cc
  src/os/bluestore/BlueStore.cc
  src/os/bluestore/KernelDevice.cc
  src/os/bluestore/NVMEDevice.cc
  src/os/bluestore/PMEMDevice.cc
  src/os/bluestore/bluestore_tool.cc
  src/os/filestore/BtrfsFileStoreBackend.cc
  src/os/filestore/FileJournal.cc
  src/os/filestore/FileStore.cc
  src/os/filestore/GenericFileStoreBackend.cc
  src/os/filestore/LFNIndex.cc
  src/os/kstore/KStore.cc
  src/rgw/rgw_http_client.cc
  src/test/objectstore/test_bluefs.cc
Labels: cephfs, common, core, luminous-batch-1, needs-qa, wip-yuri3-testing

#24089 luminous: mds: curate priority of perf counters sent to mgr
  src/common/options.cc
  src/mds/MDCache.cc
  src/mds/MDLog.cc
  src/mds/MDSDaemon.cc
  src/mds/MDSRank.cc
  src/mds/MDSRank.h
  src/mds/PurgeQueue.cc
  src/mds/Server.cc
  src/mds/Server.h
  src/mds/SessionMap.cc
  src/mds/SessionMap.h
Labels: cephfs, luminous-batch-1, needs-qa, wip-yuri3-testing

#24256 osd: Remove old bft= which has been superceded by backfill=
  src/osd/PG.cc
Labels: cleanup, core

#24291 erasure-code: add clay codes
  qa/erasure-code/ec-rados-plugin=clay-k=4-m=2.yaml
  qa/suites/rados/thrash-erasure-code/workloads/ec-rados-plugin=clay-k=4-m=2.yaml
  src/erasure-code/CMakeLists.txt
  src/erasure-code/ErasureCode.cc
  src/erasure-code/ErasureCode.h
  src/erasure-code/clay/CMakeLists.txt
  src/erasure-code/clay/ErasureCodeClay.cc
  src/erasure-code/clay/ErasureCodeClay.h
  src/erasure-code/clay/ErasureCodePluginClay.cc
  src/erasure-code/clay/ErasureCodePluginClay.h
  src/test/erasure-code/CMakeLists.txt
  src/test/erasure-code/TestErasureCodeClay.cc
  src/test/erasure-code/TestErasureCodePluginClay.cc
Labels: core, feature, needs-review

#24354 qa/suites/krbd: more fsx tests
  qa/suites/krbd/fsx/%
  qa/suites/krbd/fsx/.qa
  qa/suites/krbd/fsx/ceph/.qa
  qa/suites/krbd/fsx/ceph/ceph.yaml
  qa/suites/krbd/fsx/clusters/.qa
  qa/suites/krbd/fsx/clusters/3-node.yaml
  qa/suites/krbd/fsx/conf.yaml
  qa/suites/krbd/fsx/striping/.qa
  qa/suites/krbd/fsx/striping/default/%
  qa/suites/krbd/fsx/striping/default/.qa
  qa/suites/krbd/fsx/striping/default/msgr-failures/.qa
  qa/suites/krbd/fsx/striping/default/msgr-failures/few.yaml
  qa/suites/krbd/fsx/striping/default/msgr-failures/many.yaml
  qa/suites/krbd/fsx/striping/default/randomized-striping-off.yaml
  qa/suites/krbd/fsx/striping/fancy/%
  qa/suites/krbd/fsx/striping/fancy/.qa
  qa/suites/krbd/fsx/striping/fancy/msgr-failures/.qa
  qa/suites/krbd/fsx/striping/fancy/msgr-failures/few.yaml
  qa/suites/krbd/fsx/striping/fancy/randomized-striping-on.yaml
  qa/suites/krbd/fsx/tasks/.qa
  qa/suites/krbd/fsx/tasks/fsx-1-client.yaml
  qa/suites/krbd/fsx/tasks/fsx-3-client.yaml
  src/test/librbd/fsx.cc
Labels: rbd, tests

#24266 doc: release notes for 13.2.2 mimic
  doc/releases/mimic.rst
Labels: documentation

#24358 luminous ceph-volume: activate option --auto-detect-objectstore respects --no-systemd
  src/ceph-volume/ceph_volume/devices/lvm/activate.py
  src/ceph-volume/ceph_volume/tests/devices/lvm/test_activate.py
Labels: ceph-volume

#24357 mimic ceph-volume: activate option --auto-detect-objectstore respects --no-systemd
  src/ceph-volume/ceph_volume/devices/lvm/activate.py
  src/ceph-volume/ceph_volume/tests/devices/lvm/test_activate.py
Labels: ceph-volume

#24349 mgr/dashboard: Exception.message doesn't exist on Python 3
  src/pybind/mgr/dashboard/controllers/osd.py
Labels: bug fix, dashboard

#24242 luminous: rgw: incremental data sync uses truncated flag to detect end of listing
  src/rgw/rgw_data_sync.cc
Labels: luminous-batch-1, rgw, wip-yuri5-testing

#24180 mgr: update MMgrConfigure message to include optional OSD perf queries
  src/messages/MMgrConfigure.h
  src/mgr/DaemonServer.cc
  src/mgr/MgrClient.cc
  src/mgr/MgrClient.h
  src/mgr/OSDPerfMetricQuery.h
  src/osd/OSD.cc
  src/osd/OSD.h
Labels: feature, mgr, needs-qa, wip-jason-testing

#24342 luminous: osd/ECBackend: don't get result code of subchunk-read overwritten
  src/osd/ECBackend.cc
Labels: core, luminous-batch-1, needs-qa, wip-yuri5-testing

#24136 luminous: build/ops: rpm: selinux-policy fixes
  ceph.spec.in
Labels: bug fix, cleanup, common, luminous-batch-1, needs-qa, wip-yuri5-testing

#24372 ceph-volume: skip processing devices that don't exist when scanning system disks
  src/ceph-volume/ceph_volume/tests/util/test_disk.py
  src/ceph-volume/ceph_volume/util/disk.py
Labels: ceph-volume

#24329 luminous: mds: allows client to create .. and . dirents
  src/include/filepath.h
  src/mds/Server.cc
  src/test/libcephfs/test.cc
Labels: bug fix, cephfs, luminous-batch-1, needs-qa, wip-yuri-testing

#24323 luminous: client: update ctime when modifying file content
  src/client/Client.cc
  src/mds/Locker.cc
Labels: bug fix, cephfs, luminous-batch-1, needs-qa, wip-yuri-testing

#24311 luminous: mds: use monotonic clock for beacon message timekeeping
  src/mds/Beacon.cc
  src/mds/Beacon.h
  src/mds/MDCache.cc
  src/mds/MDCache.h
  src/mds/MDSRank.cc
  src/mds/MDSRank.h
  src/mds/Server.cc
  src/mds/Server.h
  src/mds/SessionMap.cc
  src/mds/SessionMap.h
Labels: cephfs, luminous-batch-1, needs-qa, wip-yuri-testing

#24304 mon/MonClient: use scoped_guard instead of goto
  src/mon/MonClient.cc
Labels: cleanup, core, needs-qa, wip-yuri2-testing

#24262 osd: add creating to pg_string_state
  src/osd/osd_types.cc
Labels: bug fix, core, needs-qa, wip-yuri2-testing

#24276 osdc/Objecter: possible race condition with connection reset
  src/osdc/Objecter.cc
Labels: bug fix, core, needs-qa, wip-yuri2-testing

#24362 doc: fix broken fstab url in cephfs/fuse
  doc/cephfs/fuse.rst
Labels: cephfs, documentation

#24367 doc: Fix typo error on cephfs/fuse/
  doc/cephfs/fuse.rst
Labels: cephfs, documentation

#24348 rbd-mirror: use pool level config overrides
  src/librbd/api/Config.cc
  src/test/rbd_mirror/image_replayer/test_mock_PrepareRemoteImageRequest.cc
  src/test/rbd_mirror/test_ImageReplayer.cc
  src/test/rbd_mirror/test_mock_ImageReplayer.cc
  src/test/rbd_mirror/test_mock_ImageSyncThrottler.cc
  src/test/rbd_mirror/test_mock_InstanceWatcher.cc
  src/test/rbd_mirror/test_mock_PoolReplayer.cc
  src/tools/rbd_mirror/ImageDeleter.cc
  src/tools/rbd_mirror/ImageReplayer.cc
  src/tools/rbd_mirror/ImageSyncThrottler.cc
  src/tools/rbd_mirror/ImageSyncThrottler.h
  src/tools/rbd_mirror/InstanceReplayer.cc
  src/tools/rbd_mirror/InstanceWatcher.cc
  src/tools/rbd_mirror/PoolReplayer.cc
  src/tools/rbd_mirror/image_replayer/PrepareRemoteImageRequest.cc
  src/tools/rbd_mirror/image_replayer/PrepareRemoteImageRequest.h
Labels: feature, needs-qa, rbd

#24394 ceph-volume lvm.prepare update help to indicate partitions are needed, not devices
  src/ceph-volume/ceph_volume/devices/lvm/prepare.py
Labels: ceph-volume

#24381 mimic ceph-volume: skip processing devices that don't exist when scanning system disks
  src/ceph-volume/ceph_volume/tests/util/test_disk.py
  src/ceph-volume/ceph_volume/util/disk.py
Labels: ceph-volume

#24380 qa/distros: add openSUSE Leap 42.3 and 15.0
  qa/distros/all/opensuse_15.0.yaml
  qa/distros/all/opensuse_42.3.yaml
Labels: tests

#24356 mimic: librbd: fixed assert when flattening clone with zero overlap
  src/librbd/Operations.cc
  src/librbd/operation/FlattenRequest.cc
  src/test/librbd/test_librbd.cc
Labels: bug fix, mimic-batch-1, needs-qa, rbd, wip-yuri2-testing

#24321 mimic: [rbd-mirror] failed assertion when updating mirror status
  src/tools/rbd_mirror/ImageReplayer.cc
Labels: bug fix, mimic-batch-1, rbd, wip-yuri2-testing

#24244 mimic: test/librbd: not valid to have different parents between image snapshots
  src/test/cls_rbd/test_cls_rbd.cc
Labels: mimic-batch-1, rbd, tests, wip-yuri2-testing

#24240 mimic: qa: install dependencies for rbd_workunit_kernel_untar_build
  qa/suites/krbd/rbd/tasks/rbd_workunit_kernel_untar_build.yaml
Labels: bug fix, mimic-batch-1, rbd, tests, wip-yuri2-testing

#24137 mimic: librbd: ensure exclusive lock acquired when removing sync point snaps…
  src/librbd/mirror/DisableRequest.cc
  src/test/librbd/mirror/test_mock_DisableRequest.cc
Labels: mimic-batch-1, rbd, wip-yuri2-testing

#24382 luminous ceph-volume: skip processing devices that don't exist when scanning system disks
  src/ceph-volume/ceph_volume/tests/util/test_disk.py
  src/ceph-volume/ceph_volume/util/disk.py
Labels: ceph-volume

#24378 luminous: mds: rctime may go back
  src/mds/Locker.cc
  src/mds/Server.cc
Labels: bug fix, cephfs, luminous-batch-1, needs-qa, wip-yuri-testing

#24376 luminous: client: statfs inode count odd
  src/client/Client.cc
Labels: bug fix, cephfs, luminous-batch-1, needs-qa, wip-yuri-testing

#24086 luminous: mds: configurable timeout for client eviction
  doc/cephfs/eviction.rst
  qa/suites/fs/multiclient/tasks/cephfs_misc_tests.yaml
  qa/tasks/cephfs/filesystem.py
  qa/tasks/cephfs/test_misc.py
  src/common/options.cc
  src/mds/Beacon.cc
  src/mds/Locker.cc
  src/mds/Locker.h
  src/mds/MDSDaemon.cc
  src/mds/MDSRank.cc
  src/mds/MDSRank.h
  src/mds/Server.cc
  src/mds/Server.h
Labels: cephfs, luminous-batch-1, needs-qa, wip-yuri-testing

#23877 luminous: qa: move mds/client config to qa from teuthology ceph.conf.template
  qa/cephfs/conf/+
  qa/cephfs/conf/client.yaml
  qa/cephfs/conf/mds.yaml
  qa/cephfs/conf/mon.yaml
  qa/cephfs/conf/osd.yaml
  qa/cephfs/overrides/whitelist_wrongly_marked_down.yaml
  qa/suites/fs/32bits/conf
  qa/suites/fs/32bits/overrides/debug.yaml
  qa/suites/fs/basic_functional/conf
  qa/suites/fs/basic_functional/overrides/debug.yaml
  qa/suites/fs/basic_workload/conf
  qa/suites/fs/basic_workload/overrides/debug.yaml
  qa/suites/fs/basic_workload/tasks/cfuse_workunit_suites_pjd.yaml
  qa/suites/fs/bugs/client_trim_caps/overrides/debug.yaml
  qa/suites/fs/bugs/conf
  qa/suites/fs/multiclient/conf
  qa/suites/fs/multiclient/overrides/debug.yaml
  qa/suites/fs/multifs/conf
  qa/suites/fs/multifs/overrides/debug.yaml
  qa/suites/fs/permission/conf
  qa/suites/fs/permission/overrides/debug.yaml
  qa/suites/fs/snaps/conf
  qa/suites/fs/snaps/overrides/debug.yaml
  qa/suites/fs/thrash/conf
  qa/suites/fs/thrash/overrides/debug.yaml
  qa/suites/fs/traceless/conf
  qa/suites/fs/traceless/overrides/debug.yaml
  qa/suites/fs/verify/conf
  qa/suites/fs/verify/overrides/debug.yaml
  qa/suites/kcephfs/cephfs/conf
  qa/suites/kcephfs/cephfs/overrides/debug.yaml
  qa/suites/kcephfs/cephfs/overrides/ms-die-on-skipped.yaml
  qa/suites/kcephfs/mixed-clients/conf
  qa/suites/kcephfs/mixed-clients/overrides/debug.yaml
  qa/suites/kcephfs/mixed-clients/overrides/ms-die-on-skipped.yaml
  qa/suites/kcephfs/recovery/conf
  qa/suites/kcephfs/recovery/debug/.qa
  qa/suites/kcephfs/recovery/debug/mds_client.yaml
  qa/suites/kcephfs/recovery/dirfrag/.qa
  qa/suites/kcephfs/recovery/dirfrag/frag_enable.yaml
  qa/suites/kcephfs/recovery/overrides/debug.yaml
  qa/suites/kcephfs/thrash/conf
  qa/suites/kcephfs/thrash/overrides/debug.yaml
  qa/suites/kcephfs/thrash/overrides/ms-die-on-skipped.yaml
  qa/suites/multimds/basic/conf
  qa/suites/multimds/basic/tasks/cfuse_workunit_suites_pjd.yaml
  qa/suites/multimds/thrash/conf
  qa/suites/multimds/verify/conf
Labels: cephfs, luminous-batch-1, needs-qa, tests, wip-yuri4-testing

#24213 mgr/dashboard: Display logged in user
  src/pybind/mgr/dashboard/frontend/src/app/core/auth/auth.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/core/auth/logout/logout.component.html
  src/pybind/mgr/dashboard/frontend/src/app/core/auth/logout/logout.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/core/navigation/identity/identity.component.html
  src/pybind/mgr/dashboard/frontend/src/app/core/navigation/identity/identity.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/core/navigation/identity/identity.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/core/navigation/identity/identity.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/core/navigation/navigation.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/core/navigation/navigation/navigation.component.html
Labels: dashboard, feature, needs-review

#24350 mgr/dashboard: Check content-type before decode json response
  qa/tasks/mgr/dashboard/helper.py
Labels: bug fix, dashboard, needs-review

#24420 mimic: doc: Typo error on cephfs/fuse/
  doc/cephfs/fuse.rst
Labels: cephfs, documentation

#24271 rgw/beast: drop privileges after binding ports
  src/rgw/rgw_asio_frontend.cc
  src/rgw/rgw_main.cc
Labels: bug fix, rgw, wip-cbodley-testing

#24370 mgr/dashboard: Add permission validation to the "Purge Trash" button
  src/pybind/mgr/dashboard/controllers/rbd.py
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-trash-list/rbd-trash-list.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-trash-list/rbd-trash-list.component.spec.ts
Labels: bug fix, dashboard

#24390 luminous: librbd: image create request should validate data pool for self-managed snapshot support
  qa/workunits/rbd/verify_pool.sh
  src/librbd/image/CreateRequest.cc
  src/librbd/image/CreateRequest.h
Labels: bug fix, luminous-batch-1, needs-qa, rbd, wip-yuri-testing

#24320 luminous: [rbd-mirror] failed assertion when updating mirror status
  src/tools/rbd_mirror/ImageReplayer.cc
Labels: bug fix, luminous-batch-1, needs-qa, rbd, wip-yuri5-testing

#24361 luminous: rgw: fix chunked-encoding for chunks >1MiB
  src/rgw/rgw_client_io_filters.h
Labels: luminous-batch-1, needs-qa, rgw, wip-yuri5-testing

#24318 luminous: multisite: data sync error repo processing does not back off on empty
  src/common/ceph_time.h
  src/include/utime.h
  src/rgw/rgw_data_sync.cc
Labels: bug fix, luminous-batch-1, needs-qa, rgw, wip-yuri5-testing

#24317 luminous: multisite: out of order updates to sync status markers
  src/rgw/rgw_data_sync.cc
  src/rgw/rgw_sync.cc
  src/rgw/rgw_sync.h
Labels: bug fix, luminous-batch-1, needs-qa, rgw, wip-yuri5-testing

#24316 luminous: multisite: intermittent failures in test_bucket_sync_disable_enable
  src/rgw/rgw_data_sync.cc
Labels: bug fix, luminous-batch-1, needs-qa, rgw, wip-yuri5-testing

#24389 luminous: rgw: abort_bucket_multiparts() ignores individual NoSuchUpload errors
  src/rgw/rgw_multi.cc
Labels: luminous-batch-1, needs-qa, rgw, wip-yuri-testing

#24387 luminous: msg/async: clean up local buffers on dispatch
  src/msg/async/AsyncConnection.cc
Labels: core, luminous-batch-1, needs-qa, wip-yuri-testing

#24391 luminous: cls/rgw: don't assert in decode_list_index_key()
  src/cls/rgw/cls_rgw.cc
Labels: luminous-batch-1, needs-qa, rgw, wip-yuri-testing

#24393 luminous: osd/EC: slow/hung ops in multimds suite test
  src/mon/MDSMonitor.cc
Labels: bug fix, core, luminous-batch-1, needs-qa, wip-yuri-testing

#24398 luminous: multisite: intermittent test_bucket_index_log_trim failures
  src/rgw/rgw_bucket.cc
  src/rgw/rgw_bucket.h
  src/rgw/rgw_data_sync.cc
  src/rgw/rgw_data_sync.h
  src/rgw/rgw_rados.cc
Labels: bug fix, luminous-batch-1, needs-qa, rgw, wip-yuri4-testing

#24397 luminous: rgw: multisite: update index segfault on shutdown/realm reload
  src/rgw/rgw_cr_rados.cc
  src/rgw/rgw_cr_rados.h
Labels: bug fix, luminous-batch-1, needs-qa, rgw, wip-yuri4-testing

#24395 luminous: mon: Automatically set expected_num_objects for new pools with >=100 PGs per OSD
  src/mon/OSDMonitor.cc
Labels: bug fix, core, luminous-batch-1, needs-qa, wip-yuri4-testing

#24327 luminous: read object attrs failed at EC recovery
  qa/standalone/erasure-code/test-erasure-eio.sh
  src/osd/ECBackend.cc
Labels: bug fix, core, luminous-batch-1, needs-qa, wip-yuri4-testing

#24168 cmake: detect armv8 crc and crypto feature using CHECK_C_COMPILER_FLAG
  cmake/modules/SIMDExt.cmake
Labels: bug fix, build/ops

#24144 bluestore/NVMe: use PCIe selector as the path name
  doc/rados/configuration/bluestore-config-ref.rst
  src/os/bluestore/BlueStore.cc
  src/os/bluestore/NVMEDevice.cc
  src/vstart.sh
Labels: bluestore

#24444 rgw: copy actual stats from the source shards during reshard
  src/cls/rgw/cls_rgw.cc
  src/cls/rgw/cls_rgw_types.cc
  src/rgw/rgw_reshard.cc
Labels: bug fix, rgw

#24437 PendingReleaseNotes: add note for mds drop cache
  PendingReleaseNotes
Labels: cephfs, needs-review

#24424 luminous: multi-site: object name should be urlencoded when we put it into ES
  src/rgw/rgw_sync_module_es.cc
Labels: luminous-batch-1, needs-qa, rgw, wip-yuri-testing

#24419 luminous: msg: ceph_abort() when there are enough accepter errors in msg server
  src/common/legacy_config_opts.h
  src/common/options.cc
  src/msg/async/AsyncMessenger.cc
  src/msg/simple/Accepter.cc
Labels: core, luminous-batch-1, needs-qa, wip-yuri-testing

#24415 luminous: librbd: object map improperly flagged as invalidated
  src/librbd/ImageCtx.cc
  src/librbd/ImageCtx.h
  src/librbd/ObjectMap.cc
  src/librbd/ObjectMap.h
  src/librbd/io/CopyupRequest.cc
  src/librbd/io/ObjectRequest.cc
  src/librbd/object_map/Request.cc
  src/librbd/object_map/SnapshotCreateRequest.cc
  src/librbd/object_map/SnapshotRemoveRequest.cc
  src/librbd/object_map/SnapshotRemoveRequest.h
  src/librbd/object_map/UpdateRequest.cc
  src/librbd/object_map/UpdateRequest.h
  src/librbd/operation/SnapshotCreateRequest.cc
  src/librbd/operation/TrimRequest.cc
  src/test/librbd/io/test_mock_ObjectRequest.cc
  src/test/librbd/mock/MockObjectMap.h
  src/test/librbd/object_map/test_mock_InvalidateRequest.cc
  src/test/librbd/object_map/test_mock_SnapshotRemoveRequest.cc
  src/test/librbd/object_map/test_mock_SnapshotRollbackRequest.cc
  src/test/librbd/object_map/test_mock_UpdateRequest.cc
  src/test/librbd/operation/test_mock_SnapshotCreateRequest.cc
  src/test/librbd/operation/test_mock_TrimRequest.cc
  src/test/librbd/test_ObjectMap.cc
  src/test/librbd/test_mock_ObjectMap.cc
  src/test/rbd_mirror/image_sync/test_mock_ObjectCopyRequest.cc
  src/test/rbd_mirror/test_ImageSync.cc
  src/tools/rbd_mirror/image_sync/ObjectCopyRequest.cc
Labels: bug fix, luminous-batch-1, needs-qa, rbd, wip-yuri-testing

#24405 luminous: librbd: blacklisted client might not notice it lost the lock
  src/librbd/ExclusiveLock.cc
  src/librbd/ExclusiveLock.h
  src/librbd/ImageWatcher.cc
  src/librbd/ManagedLock.cc
  src/librbd/ManagedLock.h
  src/librbd/Operations.cc
  src/librbd/Watcher.cc
  src/librbd/Watcher.h
  src/librbd/internal.cc
  src/librbd/io/ImageRequestWQ.cc
  src/librbd/mirror/DemoteRequest.cc
  src/librbd/operation/DisableFeaturesRequest.cc
  src/librbd/watcher/RewatchRequest.cc
  src/test/librbd/CMakeLists.txt
  src/test/librbd/io/test_mock_ImageRequestWQ.cc
  src/test/librbd/mock/MockExclusiveLock.h
  src/test/librbd/mock/MockImageWatcher.h
  src/test/librbd/test_mock_ManagedLock.cc
  src/test/librbd/test_mock_Watcher.cc
  src/test/librbd/watcher/test_mock_RewatchRequest.cc
  src/test/rbd_mirror/image_sync/test_mock_ObjectCopyRequest.cc
  src/test/rbd_mirror/image_sync/test_mock_SnapshotCopyRequest.cc
  src/test/rbd_mirror/image_sync/test_mock_SnapshotCreateRequest.cc
  src/test/rbd_mirror/test_mock_ImageSync.cc
  src/test/rbd_mirror/test_mock_LeaderWatcher.cc
  src/tools/rbd_mirror/ImageSync.cc
  src/tools/rbd_mirror/LeaderWatcher.cc
  src/tools/rbd_mirror/LeaderWatcher.h
  src/tools/rbd_mirror/image_sync/ObjectCopyRequest.cc
  src/tools/rbd_mirror/image_sync/ObjectCopyRequest.h
  src/tools/rbd_mirror/image_sync/SnapshotCopyRequest.cc
  src/tools/rbd_mirror/image_sync/SnapshotCopyRequest.h
  src/tools/rbd_mirror/image_sync/SnapshotCreateRequest.cc
  src/tools/rbd_mirror/image_sync/SnapshotCreateRequest.h
Labels: bug fix, luminous-batch-1, needs-qa, rbd, wip-yuri-testing

#23483 luminous: librados application's symbol could conflict with the libceph-common
  src/CMakeLists.txt
  src/test/common/test_mutex.cc
Labels: core, luminous-batch-1, needs-qa, tests, wip-yuri-testing

#24421 luminous: mds: track average session uptime
  src/mds/MDSRank.cc
  src/mds/SessionMap.cc
  src/mds/SessionMap.h
Labels: cephfs, luminous-batch-1, needs-qa, wip-yuri-testing

#24410 luminous: mds: internal op missing events time 'throttled', 'all_read', 'dispatched'
  src/mds/MDCache.cc
Labels: bug fix, cephfs, luminous-batch-1, needs-qa, wip-yuri-testing

#24386 mimic: msg/async: clean up local buffers on dispatch
  src/msg/async/AsyncConnection.cc
Labels: core, mimic-batch-1, needs-qa, wip-yuri2-testing

#24352 mimic: ceph-bluestore-tool: fix set label functionality for specific keys
  src/os/bluestore/bluestore_tool.cc
Labels: core, mimic-batch-1, needs-qa, wip-yuri2-testing

#24339 mimic: os/bluestore: fix bloom filter num entry miscalculation in repairer
  src/os/bluestore/BlueStore.h
  src/test/objectstore/test_bluestore_types.cc
Labels: bluestore, bug fix, mimic-batch-1, needs-qa, wip-yuri2-testing

#24233 mimic: mgr/DaemonServer: fix Session leak
  src/mgr/DaemonServer.cc
Labels: core, mimic-batch-1, needs-qa, wip-yuri2-testing

#24345 mimic: RADOS: probably missing clone location for async_recovery_targets
  src/osd/PrimaryLogPG.cc
Labels: core, mimic-batch-1, needs-qa, wip-yuri3-testing

#24344 mimic: osd/PG: avoid choose_acting picking want with > pool size items
  src/osd/PG.cc
Labels: core, mimic-batch-1, needs-qa, wip-yuri3-testing

#24309 mimic: osd/PrimaryLogPG: fix potential pg-log overtrimming
  src/osd/PrimaryLogPG.cc
Labels: bug fix, core, mimic-batch-1, needs-qa, wip-yuri3-testing

#24298 mimic: osd/ECBackend: don't get result code of subchunk-read overwritten
  src/osd/ECBackend.cc
Labels: core, mimic-batch-1, needs-qa, wip-yuri3-testing

#24241 mimic: kernel_untar_build.sh: bison: command not found
  qa/suites/powercycle/osd/powercycle/default.yaml
Labels: bug fix, core, mimic-batch-1, needs-qa, tests, wip-yuri3-testing

#24113 mimic: msg: challenging authorizer messages appear at debug_ms=0
  src/msg/async/AsyncConnection.cc
  src/msg/simple/Pipe.cc
Labels: bug fix, core, mimic-batch-1, wip-yuri3-testing

#24416 doc: install build-doc deps without git clone
  admin/doc-requirements.txt
Labels: documentation, needs-review

#24326 mgr/dashboard: New Landing Page: Milestone 2
  src/pybind/mgr/dashboard/frontend/src/app/app.component.html
  src/pybind/mgr/dashboard/frontend/src/app/app.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/app.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/dashboard/health/health.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/dashboard/health/health.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/ceph/dashboard/health/health.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/dashboard/info-card/info-card-popover.scss
  src/pybind/mgr/dashboard/frontend/src/app/ceph/dashboard/info-card/info-card.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/ceph/dashboard/info-card/info-card.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/dashboard/info-card/info-card.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/dashboard/info-group/info-group.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/dashboard/info-group/info-group.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/ceph/dashboard/info-group/info-group.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/dashboard/osd-summary.pipe.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/dashboard/osd-summary.pipe.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/select-badges/select-badges.component.scss
  src/pybind/mgr/dashboard/frontend/src/defaults.scss
  src/pybind/mgr/dashboard/frontend/src/styles.scss
Labels: cleanup, dashboard, feature

#24369 mgr/dashboard: Fix error when clicking on newly created OSD
  qa/tasks/mgr/dashboard/helper.py
  qa/tasks/mgr/dashboard/test_perf_counters.py
  src/pybind/mgr/dashboard/controllers/perf_counters.py
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/osd/osd-details/osd-details.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/osd/osd-details/osd-details.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/performance-counter/table-performance-counter/table-performance-counter.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/performance-counter/table-performance-counter/table-performance-counter.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/services/api-interceptor.service.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/services/api-interceptor.service.ts
Labels: bug fix, dashboard, needs-review

#24457 qa/workunits/rbd: fix cli generic namespace test
  qa/workunits/rbd/cli_generic.sh
Labels: bug fix, needs-qa, rbd, tests

#24479 qa/suites/rados/upgrade/jewel-x-singleton: exclude python3-rados, python3-cephfs
  qa/suites/rados/upgrade/jewel-x-singleton/1-jewel-install/jewel.yaml
Labels: core, tests

#23666 mgr/dashboard: Grafana graphs integration with dashboard
  doc/mgr/dashboard.rst
  src/pybind/mgr/dashboard/controllers/grafana.py
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cephfs/cephfs-detail/cephfs-detail.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cephfs/cephfs-detail/cephfs-detail.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/cluster.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/hosts/host-details/host-details.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/hosts/host-details/host-details.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/hosts/host-details/host-details.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/hosts/host-details/host-details.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/hosts/hosts.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/hosts/hosts.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/hosts/hosts.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/osd/osd-details/osd-details.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/osd/osd-list/osd-list.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/osd/osd-list/osd-list.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/pool/pool-list/pool-list.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/pool/pool-list/pool-list.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-daemon-details/rgw-daemon-details.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-daemon-list/rgw-daemon-list.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-daemon-list/rgw-daemon-list.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/settings.service.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/settings.service.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/components.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/grafana/grafana.component.html
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/grafana/grafana.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/grafana/grafana.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/grafana/grafana.component.ts
  src/pybind/mgr/dashboard/settings.py
  src/pybind/mgr/dashboard/tests/test_grafana.py
Labels: dashboard, feature

#24422 docs: add Clay code plugin documentation
  doc/rados/operations/erasure-code-clay.rst
  doc/rados/operations/erasure-code.rst
  src/erasure-code/ErasureCode.cc
  src/erasure-code/clay/ErasureCodeClay.cc
  src/erasure-code/clay/ErasureCodeClay.h
  src/erasure-code/clay/ErasureCodePluginClay.cc
  src/erasure-code/clay/ErasureCodePluginClay.h
  src/test/erasure-code/TestErasureCodeClay.cc
  src/test/erasure-code/TestErasureCodePluginClay.cc
Labels: cleanup, documentation

#24392 pybind/mgr: identify invalid fs
  src/pybind/mgr/status/module.py
Labels: bug fix, mgr, pybind

#24477 cmake: remove checking for GCC 5.1
  src/CMakeLists.txt
Labels: build/ops, cleanup, needs-qa

#23230 mgr/dashboard config options add
  qa/tasks/mgr/dashboard/test_cluster_configuration.py
  src/pybind/mgr/dashboard/controllers/cluster_configuration.py
  src/pybind/mgr/dashboard/frontend/e2e/cluster/monitors.e2e-spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/app-routing.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/cluster.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/configuration/configuration-details/configuration-details.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/configuration/configuration-details/configuration-details.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/configuration/configuration-details/configuration-details.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/configuration/configuration-details/configuration-details.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/configuration/configuration-form/configuration-form-create-request.model.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/configuration/configuration-form/configuration-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/configuration/configuration-form/configuration-form.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/configuration/configuration-form/configuration-form.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/configuration/configuration-form/configuration-form.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/configuration/configuration-form/configuration-form.model.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/configuration/configuration.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/configuration/configuration.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/configuration/configuration.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/core/navigation/navigation/navigation.component.html
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/configuration.service.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/configuration.service.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/datatable/table/table.component.html
  src/pybind/mgr/dashboard/frontend/src/app/shared/datatable/table/table.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/shared/forms/cd-validators.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/forms/cd-validators.ts
Labels: dashboard, feature, needs-review

#24491 PendingReleaseNotes: note newly added CLAY code
  PendingReleaseNotes
Labels: documentation

#24497 include/rados: clarify which flags go where for copy_from
  src/include/rados.h
Labels: cleanup, core

#21614 mgr/dashboard: Pool management
  qa/tasks/mgr/dashboard/test_pool.py
  src/pybind/mgr/dashboard/controllers/pool.py
  src/pybind/mgr/dashboard/frontend/src/app/app-routing.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/pool/pool-form/pool-form-data.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/pool/pool-form/pool-form-info.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/pool/pool-form/pool-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/pool/pool-form/pool-form.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/ceph/pool/pool-form/pool-form.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/pool/pool-form/pool-form.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/pool/pool-list/pool-list.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/pool/pool-list/pool-list.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/pool/pool-list/pool-list.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/pool/pool.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/pool/pool.ts
  src/pybind/mgr/dashboard/frontend/src/app/core/auth/user-form/user-form-role.model.ts
  src/pybind/mgr/dashboard/frontend/src/app/core/auth/user-form/user-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/core/auth/user-form/user-form.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/erasure-code-profile.service.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/erasure-code-profile.service.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/pool.service.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/pool.service.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/select-badges/select-badges-messages.model.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/select-badges/select-badges-option.model.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/select-badges/select-badges.component.html
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/select-badges/select-badges.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/select-badges/select-badges.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/select-badges/select-badges.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/models/crush-rule.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/models/crush-step.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/models/erasure-code-profile.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/services/formatter.service.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/services/task-message.service.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/services/task-message.service.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/services/task-wrapper.service.ts
Labels: dashboard, feature

#24281 mimic: mon/OSDMonitor: invalidate max_failed_since on cancel_report
  src/mon/OSDMonitor.h
Labels: core, mimic-batch-1, needs-qa, wip-yuri5-testing

#24176 mimic: mon: mgr options not parse propertly
  src/mon/ConfigMap.cc
  src/mon/ConfigMonitor.cc
Labels: core, mimic-batch-1, wip-yuri5-testing

#24368 cmake: use OpenSSL::Crypto instead of OPENSSL_LIBRARIES
  CMakeLists.txt
  README.md
  src/crimson/CMakeLists.txt
  src/rgw/CMakeLists.txt
Labels: build/ops, cleanup, documentation

#24509 doc/releases: Add Mimic release 13.2.2
  doc/releases/schedule.rst
Labels: cleanup, documentation, needs-review

#24487 cmake/modules/BuildDPDK.cmake: Build required DPDK libraries
  cmake/modules/BuildDPDK.cmake
Labels: bug fix, build/ops, needs-qa, wip-kefu-testing

#24239 mgr: Add ability to trigger a cluster/audit log message from Python
  qa/tasks/ceph_manager.py
  qa/tasks/ceph_test_case.py
  qa/tasks/mgr/test_module_selftest.py
  qa/tasks/vstart_runner.py
  src/mgr/ActivePyModules.cc
  src/mgr/ActivePyModules.h
  src/mgr/BaseMgrModule.cc
  src/mgr/Mgr.cc
  src/mgr/PyModuleRegistry.cc
  src/mgr/PyModuleRegistry.h
  src/pybind/mgr/mgr_module.py
  src/pybind/mgr/selftest/module.py
Labels: feature, mgr, needs-qa, needs-review

#23970 mgr: always on modules v2
  qa/tasks/mgr/mgr_test_case.py
  src/common/options.cc
  src/messages/MMgrBeacon.h
  src/mgr/Mgr.cc
  src/mgr/MgrStandby.cc
  src/mgr/PyModule.h
  src/mgr/PyModuleRegistry.cc
  src/mgr/PyModuleRegistry.h
  src/mgr/mgr_commands.cc
  src/mgr/mgr_commands.h
  src/mon/MgrMap.h
  src/mon/MgrMonitor.cc
  src/vstart.sh
Labels: mgr

#24448 mgr/dashboard: Performance counter progress bar keeps infinitely looping
  src/pybind/mgr/dashboard/frontend/src/app/ceph/performance-counter/table-performance-counter/table-performance-counter.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/performance-counter/table-performance-counter/table-performance-counter.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/performance-counter/table-performance-counter/table-performance-counter.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/services/api-interceptor.service.spec.ts
Labels: bug fix, dashboard

#23622 mgr: fixup pgs show in unknown state
  qa/standalone/ceph-helpers.sh
  qa/tasks/ceph_manager.py
  qa/workunits/rados/test_large_omap_detection.py
  src/ceph.in
  src/librados/librados.cc
  src/mgr/DaemonServer.cc
Labels: bug fix, mgr, needs-qa

#24515 cmake: do not use plain target_link_libraries(rgw_a ...)
  src/rgw/CMakeLists.txt
Labels: bug fix, build/ops

#24407 ceph-volume: allow to specify --cluster-fsid instead of reading from ceph.conf
  src/ceph-volume/ceph_volume/devices/lvm/common.py
  src/ceph-volume/ceph_volume/devices/lvm/prepare.py
  src/ceph-volume/ceph_volume/tests/devices/lvm/test_prepare.py
Labels: ceph-volume

#24512 qa/workunits/rbd: force v2 image format for namespace test
  qa/workunits/rbd/cli_generic.sh
Labels: rbd, tests

#24476 librbd: add new configuration option to always move deleted items to the trash
  qa/workunits/rbd/cli_generic.sh
  src/common/options.cc
  src/librbd/CMakeLists.txt
  src/librbd/api/Image.cc
  src/librbd/api/Image.h
  src/librbd/api/Migration.cc
  src/librbd/api/Trash.cc
  src/librbd/api/Trash.h
  src/librbd/internal.cc
  src/librbd/internal.h
  src/librbd/librbd.cc
  src/test/librbd/image/test_mock_RefreshRequest.cc
  src/test/librbd/test_internal.cc
  src/test/rbd_mirror/test_ImageDeleter.cc
Labels: feature, rbd, wip-mgolub-testing

#24396 luminous: osd: scrub livelock
  src/osd/OSD.cc
  src/osd/OSD.h
Labels: bug fix, core, luminous-batch-1, needs-qa, wip-yuri4-testing

#24425 rpm: Use hardened LDFLAGS
  ceph.spec.in
Labels: build/ops, needs-qa, wip-kefu-testing

#24404 ceph-volume: make `lvm batch` idempotent
  src/ceph-volume/ceph_volume/devices/lvm/batch.py
  src/ceph-volume/ceph_volume/devices/lvm/strategies/bluestore.py
  src/ceph-volume/ceph_volume/devices/lvm/strategies/filestore.py
  src/ceph-volume/ceph_volume/tests/conftest.py
  src/ceph-volume/ceph_volume/tests/devices/lvm/strategies/test_bluestore.py
  src/ceph-volume/ceph_volume/tests/devices/lvm/strategies/test_filestore.py
  src/ceph-volume/ceph_volume/tests/devices/lvm/test_batch.py
  src/ceph-volume/ceph_volume/tests/functional/batch/playbooks/test.yml
  src/ceph-volume/ceph_volume/tests/util/test_device.py
  src/ceph-volume/ceph_volume/util/device.py
  src/ceph-volume/ceph_volume/util/prepare.py
  src/ceph-volume/ceph_volume/util/templates.py
Labels: ceph-volume

#24305 msg/async: ProtocolV1: use continuations instead of direct function calls
  src/msg/async/AsyncConnection.cc
  src/msg/async/AsyncConnection.h
  src/msg/async/Protocol.cc
  src/msg/async/Protocol.h
Labels: bug fix, core, wip-pdonnell-testing

#24541 common/config.h: fix spelling error in this file
  src/common/config.h
Labels: cleanup

#24428 rbd: add 'config global' command to get/store overrides in mon config db
  doc/man/8/rbd.rst
  qa/workunits/rbd/cli_generic.sh
  src/test/cli/rbd/help.t
  src/tools/rbd/OptionPrinter.cc
  src/tools/rbd/OptionPrinter.h
  src/tools/rbd/Shell.cc
  src/tools/rbd/Utils.cc
  src/tools/rbd/Utils.h
  src/tools/rbd/action/Config.cc
Labels: feature, needs-qa, rbd, wip-jason-testing

#24409 rgw: thread DoutPrefixProvider into RGW::Auth_S3::authorize
  src/rgw/librgw.cc
  src/rgw/rgw_acl.cc
  src/rgw/rgw_acl.h
  src/rgw/rgw_auth.cc
  src/rgw/rgw_auth.h
  src/rgw/rgw_auth_filters.h
  src/rgw/rgw_auth_keystone.cc
  src/rgw/rgw_auth_keystone.h
  src/rgw/rgw_auth_s3.cc
  src/rgw/rgw_auth_s3.h
  src/rgw/rgw_common.cc
  src/rgw/rgw_common.h
  src/rgw/rgw_lib.h
  src/rgw/rgw_op.cc
  src/rgw/rgw_op.h
  src/rgw/rgw_rest_role.cc
  src/rgw/rgw_rest_s3.cc
  src/rgw/rgw_rest_s3.h
  src/rgw/rgw_rest_sts.h
  src/rgw/rgw_rest_swift.cc
  src/rgw/rgw_rest_swift.h
  src/rgw/rgw_rest_user_policy.cc
  src/rgw/rgw_swift_auth.cc
  src/rgw/rgw_swift_auth.h
  src/test/rgw/test_rgw_iam_policy.cc
Labels: cleanup, rgw

#24514 mgr/restful: do not print warning message at seeing unknown request
  src/pybind/mgr/restful/module.py
Labels: cleanup, mgr, needs-qa, pybind, wip-sage-testing

#24402 librgw: initialize curl and http client for multisite
  src/rgw/librgw.cc
Labels: bug fix, needs-qa, rgw

#24222 mgr/dashboard: The RGW backend doesn't handle IPv6 properly
  src/pybind/mgr/dashboard/services/rgw_client.py
Labels: bug fix, dashboard

#24513 mgr/dashboard: Landing Page: info visibility
  src/pybind/mgr/dashboard/frontend/src/app/ceph/dashboard/health/health.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/dashboard/health/health.component.spec.ts
Labels: dashboard, needs-review

#24511 mgr/dashboard: Improves documentation for Grafana Setting
  doc/mgr/dashboard.rst
Labels: dashboard

#24426 monitoring/grafana: Fix OSD Capacity Utlization Grafana graph
  monitoring/grafana/dashboards/ceph-cluster.json
Labels: dashboard, needs-review

#24517 mgr/selftest: fix disabled module selection
  src/pybind/mgr/selftest/module.py
Labels: mgr, needs-qa, tests, wip-sage-testing

#24550 qa/workunits: replace 'realpath' with 'readlink -f' in fsstress.sh
  qa/suites/rbd/maintenance/qemu/xfstests.yaml
  qa/suites/rbd/openstack/workloads/devstack-tempest-gate.yaml
  qa/suites/rbd/qemu/workloads/qemu_bonnie.yaml
  qa/suites/rbd/qemu/workloads/qemu_fsstress.yaml
  qa/suites/rbd/qemu/workloads/qemu_iozone.yaml.disabled
  qa/suites/rbd/qemu/workloads/qemu_xfstests.yaml
  qa/tasks/qemu.py
  qa/workunits/suites/fsstress.sh
Labels: rbd, tests

#24341 rgw: list bucket can not show the object uploaded by RGWPostObj when enable bucket versioning
  src/rgw/rgw_op.cc
Labels: bug fix, needs-qa, rgw

#24131 tests, bufferlist: introduce benchmarks for append() and advance()
  src/test/bufferlist.cc
Labels: needs-qa, tests, wip-sage-testing

#24520 install-deps.sh: dashboard frontend needs git
  install-deps.sh
Labels: build/ops, dashboard, needs-qa, wip-sage-testing

#24521 ceph.in: reinstate interactive mode output
  src/ceph.in
Labels: bug fix, core, needs-qa, wip-sage-testing

#24296 osd: fix hangs during shutdown
  src/osd/OSD.cc
Labels: bug fix, core, wip-sage-testing, wip-zafman-testing

#24204 qa/suites/rgw/tempest: valgrind on centos only
  qa/suites/rgw/tempest/tasks/rgw_tempest.yaml
Labels: rgw, tests

#24249 doc/rados/troubleshooting-mon: update mondb recovery script
  doc/rados/troubleshooting/troubleshooting-mon.rst
Labels: documentation, needs-review

#24564 osd: do not overestimate the size of the object for reads with trimtrunc
  src/osd/ECBackend.cc
  src/osd/PrimaryLogPG.cc
Labels: bug fix, core

#24563 test: move OpenStack devstack test to rocky release
  qa/tasks/util/workunit.py
  qa/workunits/rbd/run_devstack_tempest.sh
Labels: rbd, tests

#24495 kv: apply the move semantics in KeyValueDB::get().
  src/kv/KeyValueDB.h
Labels: common, needs-qa, performance, wip-sage-testing

#24535 mon: give AUTH_NONE clients a Monmap when allowed
  src/mon/AuthMonitor.cc
Labels: bug fix, common, core, needs-qa, needs-review, wip-sage-testing

#24146 mgr/orchestrator: Fix Python 3 issues
  src/pybind/mgr/orchestrator_cli/__init__.py
  src/pybind/mgr/orchestrator_cli/module.py
  src/pybind/mgr/progress/__init__.py
  src/pybind/mgr/rook/__init__.py
  src/pybind/mgr/rook/module.py
  src/pybind/mgr/rook/rook_cluster.py
  src/script/kubejacker/Dockerfile
Labels: bug fix, mgr, needs-qa, wip-sage-testing

#24494 ceph-kvstore-tool: rename repair -> destructive-repair
  PendingReleaseNotes
  doc/man/8/ceph-kvstore-tool.rst
  qa/workunits/cephtool/test_kvstore_tool.sh
  src/test/cli/ceph-kvstore-tool/help.t
  src/tools/ceph_kvstore_tool.cc
Labels: core, tools, wip-sage-testing

#24523 mgr/dashboard: config options table cleanup
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/configuration/configuration-details/configuration-details.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/configuration/configuration-details/configuration-details.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/configuration/configuration.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/configuration/configuration.component.ts
Labels: cleanup, dashboard, needs-review

#24527 luminous: rgw: resharding produces invalid values of bucket stats
  src/cls/rgw/cls_rgw.cc
  src/cls/rgw/cls_rgw_types.cc
  src/rgw/rgw_reshard.cc
Labels: luminous-batch-1, needs-qa, rgw

#24577 dashboard/mgr: Save button doesn't prevent saving an invalid form
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/configuration/configuration-form/configuration-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/configuration/configuration-form/configuration-form.component.ts
Labels: bug fix, dashboard

#24537 mimic: qa: add test that builds example librados programs
  qa/suites/rados/singleton-nomsgr/all/librados_hello_world.yaml
  qa/workunits/rados/test_librados_build.sh
Labels: core, mimic-batch-1, needs-qa, tests, wip-yuri-testing

#24536 mimic: multisite: data full sync does not limit concurrent bucket sync
  src/rgw/rgw_data_sync.cc
Labels: mimic-batch-1, needs-qa, rgw, wip-yuri-testing

#24526 mimic: rgw: resharding produces invalid values of bucket stats
  src/cls/rgw/cls_rgw.cc
  src/cls/rgw/cls_rgw_types.cc
  src/rgw/rgw_reshard.cc
Labels: mimic-batch-1, needs-qa, rgw, wip-yuri-testing
