Repository ceph/ceph, pull requests merged in 2019-03, with the labels that each got.

#26681 mon/ConfigMonitor: add 'config ls'
  src/mon/ConfigMonitor.cc
  src/mon/MgrMonitor.h
  src/mon/MonCommands.h
Labels: core, feature, wip-sage-testing

#26453 rpm: tweak lttng builds for SUSE
  ceph.spec.in
Labels: build/ops, needs-qa, wip-sage-testing

#26614 osd: Implement lazy omap usage statistics
  doc/dev/placement-group.rst
  src/mon/PGMap.cc
  src/osd/PG.cc
  src/osd/PG.h
  src/osd/PGBackend.cc
  src/osd/PGBackend.h
  src/osd/ReplicatedBackend.cc
  src/osd/osd_types.cc
  src/osd/osd_types.h
Labels: core, feature, needs-qa, wip-sage-testing, wip-sage2-testing

#26667 cmake: optionally link against rabbitmq
  src/rgw/CMakeLists.txt
Labels: build/ops, needs-qa, wip-sage-testing

#26605 osd/OSDMap: drop local pool filter in calc_pg_upmaps
  src/mon/OSDMonitor.cc
  src/osd/OSDMap.cc
Labels: cleanup, core, needs-qa

#26711 msg/async: fix include in frames_v2.h
  src/msg/async/frames_v2.h
Labels: core, messenger

#26626 doc: Updated Ceph Dashboard documentation
  doc/glossary.rst
  doc/mgr/dashboard.rst
  doc/mgr/dashboard_plugins/feature_toggles.inc.rst
  doc/mgr/index.rst
  doc/mgr/prometheus.rst
  src/pybind/mgr/dashboard/HACKING.rst
  src/pybind/mgr/dashboard/README.rst
Labels: dashboard, documentation, needs-review

#26714 msg/async: fix banner_v1 check in ProtocolV2
  src/msg/async/ProtocolV2.cc
Labels: bug fix, core, messenger

#26507 mgr/dashboard: Introduce pipe to convert bool to text
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/configuration/configuration-details/configuration-details.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/configuration/configuration-details/configuration-details.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-bucket-details/rgw-bucket-details.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-bucket-details/rgw-bucket-details.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-user-details/rgw-user-details.component.html
  src/pybind/mgr/dashboard/frontend/src/app/shared/pipes/boolean-text.pipe.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/pipes/boolean-text.pipe.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/pipes/pipes.module.ts
  src/pybind/mgr/dashboard/frontend/src/locale/messages.xlf
Labels: cleanup, dashboard

#26482 mgr/dashboard: Show success notification in RGW forms
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-bucket-form/rgw-bucket-form.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-bucket-form/rgw-bucket-form.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-user-form/rgw-user-form.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-user-form/rgw-user-form.component.ts
  src/pybind/mgr/dashboard/frontend/src/locale/messages.xlf
Labels: cleanup, dashboard

#26700 qa: bump fsstress timeout to 6h
  qa/cephfs/tasks/cfuse_workunit_suites_fsstress.yaml
Labels: bug fix, cephfs, needs-review, wip-pdonnell-testing

#26699 qa: unmount clients before deleting fs
  qa/tasks/cephfs/test_misc.py
Labels: bug fix, cephfs, needs-review, wip-pdonnell-testing

#26695 do_cmake.sh: SUSE builds need WITH_RADOSGW_AMQP_ENDPOINT=OFF
  do_cmake.sh
Labels: build/ops

#26659 qa: remove libcephfs-java tests
  doc/api/libcephfs-java.rst
  qa/packages/packages.yaml
  qa/suites/fs/basic_functional/tasks/libcephfs_java/.qa
  qa/suites/fs/basic_functional/tasks/libcephfs_java/libcephfs_java.yaml
  qa/suites/fs/basic_functional/tasks/libcephfs_java/ubuntu_latest.yaml
  qa/workunits/libcephfs-java/test.sh
Labels: bug fix, cephfs, needs-review, wip-pdonnell-testing

#26688 librbd: fix were_all_throttled() to avoid incorrect ret-value
  src/librbd/io/ImageDispatchSpec.h
Labels: bug fix, rbd

#26666 tools/ceph_kvstore_tool: Move summary output to print_summary
  src/tools/kvstore_tool.cc
  src/tools/kvstore_tool.h
Labels: bug fix, needs-qa, tools, wip-badone-testing

#26705 Improve docs osd_recovery_priority, osd_recovery_op_priority and related
  doc/rados/configuration/osd-config-ref.rst
  doc/rados/configuration/pool-pg-config-ref.rst
  doc/rados/operations/monitoring-osd-pg.rst
  doc/rados/operations/pools.rst
  src/common/options.cc
Labels: core, documentation

#26720 ceph-osd: infer objectstore type of 'type' file is missing
  src/ceph_osd.cc
Labels: bug fix, core, wip-sage2-testing

#26726 mds: Fix use of auto prototype, it is a non std extension
  src/mds/FSMap.h
Labels: Clang, bug fix

#26723 mgr/BaseMgrModule: drop GIL for ceph_send_command
  src/mgr/BaseMgrModule.cc
Labels: bug fix, core, needs-review, wip-sage2-testing

#26668 msg/async/Protocol*: send keep alive if existing wins
  src/msg/async/ProtocolV1.cc
  src/msg/async/ProtocolV2.cc
Labels: bug fix, messenger, needs-qa

#25538 rgw: change the "rgw admin status" 'num_shards' output to signed int
  src/rgw/rgw_admin.cc
Labels: bug fix, rgw

#26683 librbd: race condition possible when validating RBD pool
  src/librbd/CMakeLists.txt
  src/librbd/api/Pool.cc
  src/librbd/image/CloneRequest.cc
  src/librbd/image/CloneRequest.h
  src/librbd/image/CreateRequest.cc
  src/librbd/image/CreateRequest.h
  src/librbd/image/ValidatePoolRequest.cc
  src/librbd/image/ValidatePoolRequest.h
  src/test/librados_test_stub/MockTestMemIoCtxImpl.h
  src/test/librbd/CMakeLists.txt
  src/test/librbd/image/test_mock_ValidatePoolRequest.cc
Labels: bug fix, needs-qa, rbd, wip-mgolub-testing

#26680 mstop.sh allow kill -9 after failing to kill procs
  src/mstop.sh
Labels: needs-review, tools

#26682 Add rgw xml unit tests
  src/rgw/rgw_xml.cc
  src/rgw/rgw_xml.h
  src/test/rgw/CMakeLists.txt
  src/test/rgw/test_rgw_xml.cc
Labels: cleanup, rgw

#26734 doc: correct vstart.sh file location
  doc/dev/index.rst
Labels: documentation

#26739 ceph-volume: replace testinfra command with py.test
  src/ceph-volume/ceph_volume/tests/functional/batch/tox.ini
  src/ceph-volume/ceph_volume/tests/functional/lvm/tox.ini
  src/ceph-volume/ceph_volume/tests/functional/simple/tox.ini
Labels: ceph-volume

#26635 mgr/dashboard: fix for using '::' on hosts without ipv6
  src/pybind/mgr/dashboard/module.py
  src/pybind/mgr/prometheus/module.py
Labels: backport, dashboard

#26548 luminous: rgw: bug in versioning concurrent, list and get have consistency issue
  src/rgw/rgw_rados.cc
Labels: bug fix, luminous-batch-1, needs-qa, rgw, wip-yuri6-testing

#26546 luminous: rgw: fix cls_bucket_head result order consistency
  src/rgw/rgw_rados.cc
  src/rgw/rgw_rados.h
Labels: bug fix, luminous-batch-1, needs-qa, rgw, wip-yuri6-testing

#26741 test/rgw: fix race in test_rgw_reshard_wait
  src/test/rgw/test_rgw_reshard_wait.cc
Labels: rgw, tests

#26631 msg/async, v2: fix unused variable warning in ::discard_out_queue().
  src/msg/async/ProtocolV2.cc
Labels: cleanup, messenger, needs-qa, wip-sage-testing

#26694 rpm: drop use of $FIRST_ARG
  ceph.spec.in
Labels: build/ops, needs-qa, wip-sage-testing

#26686 luminous: qa/workunits/cephtool/test.sh: Use :- to handle TMPDIR=""
  qa/suites/rados/singleton/all/osd-recovery.yaml
  qa/suites/rados/singleton/all/thrash-eio.yaml
  qa/workunits/cephtool/test.sh
Labels: core, luminous-batch-1, tests

#26744 mds: fix encoded version of mds_info_t
  src/mds/MDSMap.cc
Labels: bug fix, cephfs, wip-sage3-testing

#26754 osdc: remove lderr() hexdump from handle_osd_op_reply
  src/osdc/Objecter.cc
Labels: cleanup, core

#26715 src/script: add run_mypy to run static type checking on Python code
  src/pybind/mgr/orchestrator.py
  src/script/run_mypy.sh
Labels: ceph-volume, dashboard, mgr, pybind

#26729 mon/OSDMonitor: add boundary check for pool recovery_priority
  qa/workunits/cephtool/test.sh
  src/mon/OSDMonitor.cc
Labels: bug fix, mon

#26460 client: parameter "cap" is not used
  src/client/Client.cc
  src/client/Client.h
Labels: cephfs, cleanup

#26742 osd/PG: do not touch this->cct after PG is destroyed
  src/osd/PG.cc
Labels: bug fix, core, needs-qa, wip-sage2-testing

#26567 os/bluestore: fix bluefs inability to reclaim space
  src/os/bluestore/BlueStore.cc
Labels: bluestore, bug fix, core, needs-qa, wip-sage2-testing

#25540 mgr/ServiceMap: show service's id on summary
  src/mgr/ServiceMap.h
Labels: feature, mgr, mon, needs-qa, rgw, wip-sage2-testing

#26719 rpm: re-add pyOpenSSL as ceph-mgr runtime dependency
  ceph.spec.in
Labels: build/ops, needs-qa, wip-sage2-testing

#26703 luminous: ceph-volume: use our own testinfra suite for functional testing
  src/ceph-volume/ceph_volume/tests/functional/batch/tox.ini
  src/ceph-volume/ceph_volume/tests/functional/lvm/tox.ini
  src/ceph-volume/ceph_volume/tests/functional/simple/tox.ini
  src/ceph-volume/ceph_volume/tests/functional/tests/__init__.py
  src/ceph-volume/ceph_volume/tests/functional/tests/conftest.py
  src/ceph-volume/ceph_volume/tests/functional/tests/osd/__init__.py
  src/ceph-volume/ceph_volume/tests/functional/tests/osd/test_osds.py
Labels: ceph-volume

#26767 Revert "msg/async/Protocol*: send keep alive if existing wins"
  src/msg/async/ProtocolV1.cc
  src/msg/async/ProtocolV2.cc
Labels: bug fix, messenger

#26740 rpm: advance spec file copyright date
  ceph.spec.in
Labels: build/ops, documentation

#26774 crimson/osd: correct the order of parameters passed to OSD::_preboot()
  src/crimson/osd/osd.cc
  src/crimson/osd/osd.h
Labels: crimson

#26749 common/util: report CONTAINER_IMAGE in daemon metadata
  src/common/util.cc
Labels: core, needs-qa, wip-sage-testing

#26783 test/crimson: add dummy_auth to test_async_echo
  src/test/crimson/test_async_echo.cc
Labels: crimson, tests

#26382 mgr/dashboard: iSCSI - Add support for disabling ACL authentication (backend)
  src/pybind/mgr/dashboard/controllers/iscsi.py
  src/pybind/mgr/dashboard/services/iscsi_client.py
  src/pybind/mgr/dashboard/tests/test_iscsi.py
Labels: dashboard, feature, needs-review

#26388 mgr/dashboard: Add UI for disabling ACL authentication
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/iscsi-target-form/iscsi-target-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/iscsi-target-form/iscsi-target-form.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/iscsi-target-form/iscsi-target-form.component.ts
  src/pybind/mgr/dashboard/frontend/src/locale/messages.xlf
Labels: dashboard, feature

#26748 ceph_test_rados_[a]io_pp: add test verifying read-into-bufferlist behavior
  src/test/librados/aio_cxx.cc
  src/test/librados/io_cxx.cc
Labels: core, wip-sage-testing

#26661 luminous: mds: message invalid access
  src/mds/Server.cc
Labels: cephfs, luminous-batch-1, needs-qa, wip-yuri-testing

#26232 luminous: mds: stopping MDS with a large cache (40+GB) causes it to miss heartbeats
  PendingReleaseNotes
  qa/suites/fs/bugs/client_trim_caps/tasks/trim-i22073.yaml
  qa/tasks/cephfs/test_client_limits.py
  src/common/legacy_config_opts.h
  src/common/options.cc
  src/mds/Beacon.cc
  src/mds/MDCache.cc
  src/mds/MDCache.h
  src/mds/MDSDaemon.cc
  src/mds/MDSRank.cc
  src/mds/Server.cc
  src/mds/Server.h
  src/mds/SessionMap.cc
  src/mds/SessionMap.h
  src/test/mds/TestSessionFilter.cc
Labels: cephfs, luminous-batch-1, needs-qa, wip-yuri-testing

#26633 mgr/orchestrator: Allow the orchestrator to scale the NFS server count
  qa/tasks/mgr/test_orchestrator_cli.py
  src/pybind/mgr/orchestrator.py
  src/pybind/mgr/orchestrator_cli/module.py
  src/pybind/mgr/rook/module.py
  src/pybind/mgr/rook/rook_cluster.py
  src/pybind/mgr/test_orchestrator/module.py
Labels: needs-qa, orchestrator, wip-swagner-testing

#26778 osd/PrimaryLogPG: fix last_peering_reset checking on manifest flushing
  src/osd/PrimaryLogPG.cc
  src/osd/PrimaryLogPG.h
Labels: bug fix, core, needs-qa

#26775 qa/suites/krbd/wac: bluestore snippet is placed incorrectly
  qa/suites/krbd/wac/sysfs/bluestore-bitmap.yaml
  qa/suites/krbd/wac/wac/bluestore-bitmap.yaml
Labels: rbd, tests

#26716 mgr/dashboard: nfs-ganesha: controller API documentation
  src/pybind/mgr/dashboard/controllers/nfsganesha.py
Labels: dashboard

#26718 rpm: put numpy and scipy deps in distro conditionals
  ceph.spec.in
Labels: build/ops, needs-qa, wip-sage2-testing

#26027 mds,osd,mon: support get|set tcmalloc release rate
  doc/man/8/ceph.rst
  src/mds/MDSDaemon.cc
  src/mon/Monitor.cc
  src/osd/OSD.cc
  src/perfglue/disabled_heap_profiler.cc
  src/perfglue/heap_profiler.cc
  src/perfglue/heap_profiler.h
Labels: cephfs, core, feature, mon, wip-sage2-testing

#26795 mon/MgrStatMonitor: fix typo
  src/mon/MgrStatMonitor.cc
Labels: cleanup, core, wip-sage-testing

#26797 ceph-mon: reset process name to 'ceph-mon' on startup
  src/ceph_mon.cc
Labels: bug fix, core, needs-qa, wip-pdonnell-testing, wip-sage-testing

#26743 mgr/dashboard: Cleanup Python code
  src/pybind/mgr/dashboard/controllers/__init__.py
  src/pybind/mgr/dashboard/controllers/iscsi.py
  src/pybind/mgr/dashboard/controllers/pool.py
  src/pybind/mgr/dashboard/controllers/settings.py
  src/pybind/mgr/dashboard/controllers/summary.py
  src/pybind/mgr/dashboard/plugins/lru_cache.py
  src/pybind/mgr/dashboard/plugins/ttl_cache.py
Labels: cleanup, dashboard

#26814 mimic: mgr/dashboard: Fix dashboard compile error
  src/pybind/mgr/dashboard/frontend/package.json
Labels: bug fix, dashboard

#26821 mds,mgr,mon: warn future respawn() copy-pasters to set thread name
  src/mds/MDSDaemon.cc
  src/mgr/MgrStandby.cc
  src/mon/Monitor.cc
Labels: cleanup

#26802 qa/suites/upgrade/mimic-x/parallel: run master rados/test.sh
  qa/suites/upgrade/mimic-x/parallel/5-final-workload/rados_mon_thrash.yaml
Labels: bug fix, core, tests, wip-sage-testing

#26773 mds: refactor subtree accessors
  src/mds/MDBalancer.cc
  src/mds/MDCache.cc
  src/mds/MDCache.h
Labels: cephfs, cleanup, needs-review, wip-pdonnell-testing

#26781 mds: avoid calling clientreplay_done() prematurely
  src/mds/MDSRank.cc
  src/mds/MDSRank.h
  src/mds/Server.cc
Labels: bug fix, cephfs, wip-pdonnell-testing

#26803 msg/async/ProtocolV1: fix locking around authorizer_buf
  src/msg/async/ProtocolV1.cc
Labels: bug fix, messenger, needs-review, wip-pdonnell-testing

#26504 osd: fixup OpTracker destruct assert, waiting_for_osdmap take ref with OpRequest
  src/osd/OSD.cc
Labels: bug fix, core, needs-qa, wip-sage-testing

#26832 msg/async/ProtocolV2: end scope of std::hex properly
  src/msg/async/ProtocolV2.cc
Labels: cleanup, messenger, needs-qa

#26827 Document mappings of S3 Operations to ACL grants
  doc/radosgw/s3/authentication.rst
  src/rgw/rgw_iam_policy.h
Labels: bug fix, documentation, rgw

#26796 common/options: osd_memory_target et al are TYPE_SIZE
  src/common/options.cc
  src/os/bluestore/BlueStore.cc
Labels: cleanup, core, needs-qa, wip-sage2-testing

#26815 doc/releases/nautilus: dashboard package notes
  doc/mgr/dashboard.rst
  doc/releases/nautilus.rst
Labels: dashboard, documentation

#26838 librbd: avoid aggregate-initializing IsWriteOpVisitor
  src/librbd/io/ImageDispatchSpec.cc
Labels: Clang, bug fix, rbd

#26789 mimic: rgw: resharding fixes
  src/cls/rgw/cls_rgw_client.cc
  src/cls/rgw/cls_rgw_client.h
  src/rgw/rgw_admin.cc
  src/rgw/rgw_bucket.cc
  src/rgw/rgw_bucket.h
  src/rgw/rgw_metadata.cc
  src/rgw/rgw_metadata.h
  src/rgw/rgw_rados.cc
  src/rgw/rgw_rados.h
  src/rgw/rgw_reshard.cc
  src/test/cli/radosgw-admin/help.t
  src/test/cls_rgw/test_cls_rgw.cc
Labels: bug fix, mimic-batch-1, needs-qa, rgw, wip-yuri3-testing

#26735 mimic: os/bluestore: Fix bluefs - block balance.
  src/os/bluestore/BlueStore.cc
Labels: bluestore, bug fix, mimic-batch-1, needs-qa, wip-yuri3-testing

#26660 include/intarith: enforce the same type for p2*() arguments
  src/auth/Crypto.cc
  src/include/intarith.h
  src/librbd/io/ImageRequest.cc
  src/msg/async/frames_v2.h
  src/os/bluestore/BlueStore.cc
  src/os/bluestore/StupidAllocator.cc
  src/os/bluestore/fastbmap_allocator_impl.cc
  src/os/bluestore/fastbmap_allocator_impl.h
Labels: bug fix, core, needs-qa, wip-sage2-testing

#26779 mgr/status: fix 'ceph fs status' AttributeError
  src/pybind/mgr/status/module.py
Labels: cephfs, mgr, wip-pdonnell-testing, wip-sage2-testing

#26828 src/tools/kvstore_tool.cc: Move bluestore start-up code
  src/tools/kvstore_tool.cc
  src/tools/kvstore_tool.h
Labels: bug fix, needs-qa, needs-review, tools, wip-sage3-testing

#26713 mds: wait for client to release shared cap when re-acquiring xlock
  src/mds/Locker.cc
  src/mds/SimpleLock.h
Labels: bug fix, cephfs, needs-review

#26849 msg/async/ProtocolV2: state machine validations
  src/msg/async/ProtocolV2.cc
  src/msg/async/ProtocolV2.h
Labels: messenger, needs-qa, wip-sage-testing

#26876 librbd: avoid aggregate-initializing any static_visitor
  src/test/librbd/operation/test_mock_TrimRequest.cc
Labels: Clang, bug fix, rbd

#26859 qa: ignore slow metadata io wrn during osd thrash
  qa/suites/powercycle/osd/whitelist_health.yaml
Labels: cephfs, needs-qa, tests, wip-pdonnell-testing

#26801 build: LLVM ld does not like the versioning scheme
  do_freebsd.sh
  install-deps.sh
Labels: FreeBSD, build/ops

#26867 doc/rados/configuration/msgr2: some documentation about msgr2
  doc/rados/configuration/index.rst
  doc/rados/configuration/msgr2.rst
Labels: core, documentation

#26825 librbd: don't do create+truncate for discards with copyup
  src/librbd/io/ObjectRequest.h
  src/test/librbd/io/test_mock_ObjectRequest.cc
Labels: cleanup, needs-qa, rbd, wip-jason-testing

#26877 mgr/MgrStandby: exit with 0 result code, as if we'd done an orderly shutdown
  src/mgr/MgrStandby.cc
Labels: bug fix, core, wip-sage-testing

#26799 build/rgw: unittest_rgw_dmclock_scheduler does not need Boost_LIBRARIES
  src/test/rgw/CMakeLists.txt
Labels: build/ops, rgw

#26721 librbd: improve object map performance under high IOPS workloads
  src/cls/rbd/cls_rbd.cc
  src/cls/rbd/cls_rbd_client.cc
  src/cls/rbd/cls_rbd_client.h
  src/common/bit_vector.hpp
  src/test/cls_rbd/test_cls_rbd.cc
  src/test/common/test_bit_vector.cc
  src/test/librbd/test_ObjectMap.cc
Labels: performance, rbd, wip-mgolub-testing

#26883 mgr/dashboard: Change 'Client Recovery' title
  src/pybind/mgr/dashboard/frontend/src/app/ceph/dashboard/health/health.component.html
  src/pybind/mgr/dashboard/frontend/src/locale/messages.xlf
Labels: dashboard

#26818 mds: qa/cephfs: relax min_caps_per_client check
  qa/tasks/cephfs/test_client_limits.py
Labels: cephfs, wip-pdonnell-testing

#26866 luminous: os/bluestore: Fix problem with bluefs's freespace not being balanced when kv_sync_thread is sleeping
  src/os/bluestore/BlueStore.cc
Labels: bluestore, bug fix

#26888 doc/releases/nautilus: add 'ceph-volume simple scan' to upgrade instructions
  doc/releases/nautilus.rst
Labels: documentation

#26878 librbd: bypass pool validation if "rbd_validate_pool" is false
  src/librbd/api/Pool.cc
Labels: cleanup, rbd

#26579 luminous: common: ceph_timer: stop timer's thread when it is suspended
  src/common/ceph_timer.h
Labels: common, luminous-batch-1, needs-qa, wip-yuri4-testing

#26540 luminous: os/bluestore: fix lack of onode ref during removal
  src/os/bluestore/BlueStore.cc
  src/os/bluestore/BlueStore.h
Labels: bluestore, bug fix, luminous-batch-1, needs-qa, wip-yuri4-testing

#26355 luminous: qa/tasks/radosbench: default to 64k writes
  qa/tasks/radosbench.py
Labels: luminous-batch-1, needs-qa, tests, wip-yuri4-testing

#26199 luminous: mgr/restful: fix py got exception when get osd info
  src/pybind/mgr/restful/api/crush.py
  src/pybind/mgr/restful/common.py
  src/pybind/mgr/restful/module.py
Labels: bug fix, luminous-batch-1, mgr, needs-qa, wip-yuri4-testing

#26127 luminous: osd: backport recent upmap fixes
  src/common/options.cc
  src/crush/CrushWrapper.cc
  src/crush/CrushWrapper.h
  src/osd/OSDMap.cc
  src/osd/OSDMap.h
  src/test/cli/osdmaptool/upmap-out.t
  src/test/cli/osdmaptool/upmap.t
  src/test/osd/TestOSDMap.cc
Labels: core, luminous-batch-1, needs-qa, wip-yuri4-testing

#25810 luminous: build/ops: rpm: require ceph-base instead of ceph-common
  ceph.spec.in
Labels: build/ops, luminous-batch-1, needs-qa, wip-yuri4-testing

#26885 doc/releases/nautilus: add msgr2 refs
  doc/dev/cephx.rst
  doc/dev/msgr2.rst
  doc/rados/configuration/msgr2.rst
  doc/releases/nautilus.rst
Labels: documentation

#26763 mgr/diskprediction_cloud: Fixed cannot use string.maketrans in the python 3
  src/pybind/mgr/diskprediction_cloud/module.py
Labels: bug fix, mgr, needs-qa, wip-sage3-testing, wip-swagner-testing

#26902 doc/rados/operations: add clay to erasure-code-profile
  doc/rados/operations/erasure-code-profile.rst
Labels: documentation

#26669 doc/rbd/iscsi-target-cli: Update disk separator
  doc/rbd/iscsi-target-cli.rst
Labels: documentation

#26851 mgr/dashboard: enable coverage for API tests
  src/pybind/mgr/dashboard/module.py
  src/pybind/mgr/dashboard/requirements.txt
  src/pybind/mgr/dashboard/run-backend-api-tests.sh
Labels: dashboard

#26904 mgr/deepsea: always use 'password' parameter for salt-api auth
  src/pybind/mgr/deepsea/module.py
Labels: mgr, orchestrator

#26906 Typo in Nautilus release notes: not -> now
  doc/releases/nautilus.rst
Labels: bug fix, documentation

#26854 mgr/dashboard: Fix iSCSI mutual password input type
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/iscsi-target-discovery-modal/iscsi-target-discovery-modal.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/iscsi-target-form/iscsi-target-form.component.html
Labels: dashboard

#26896 cls/rbd: fixed uninitialized variable compiler warning
  src/cls/rbd/cls_rbd.cc
Labels: cleanup, rbd

#26599 rgw: make beast the default for rgw_frontends
  doc/radosgw/config-ref.rst
  src/common/options.cc
Labels: rgw, wip-cbodley-testing

#26601 rgw: resolve bugs and clean up garbage collection code
  src/cls/rgw/cls_rgw.cc
  src/common/options.cc
  src/rgw/rgw_gc.cc
Labels: bug fix, needs-qa, rgw, wip-cbodley-testing

#26658 rgw: fix unordered bucket listing when object names are adorned
  src/cls/rgw/cls_rgw_types.h
  src/rgw/rgw_common.h
  src/rgw/rgw_multi.cc
  src/rgw/rgw_multi.h
  src/rgw/rgw_op.cc
  src/rgw/rgw_rados.cc
  src/rgw/rgw_rados.h
  src/rgw/rgw_rest_s3.cc
  src/rgw/services/svc_rados.h
Labels: bug fix, rgw

#26791 luminous: qa/rgw: reduce number of multisite log shards
  qa/suites/rgw/multisite/overrides.yaml
Labels: luminous-batch-1, needs-qa, rgw, tests, wip-yuri5-testing

#26677 luminous: rgw: rgw_file: only first subuser can be exported to nfs
  src/rgw/rgw_common.h
  src/rgw/rgw_file.h
Labels: bug fix, luminous-batch-1, needs-qa, rgw, wip-yuri5-testing

#26891 mgr/dashboard: iscsi: adds CLI command to enable/disable API SSL verification
  doc/mgr/dashboard.rst
  src/pybind/mgr/dashboard/services/iscsi_client.py
  src/pybind/mgr/dashboard/settings.py
  src/pybind/mgr/dashboard/tests/__init__.py
  src/pybind/mgr/dashboard/tests/helper.py
  src/pybind/mgr/dashboard/tests/test_access_control.py
  src/pybind/mgr/dashboard/tests/test_api_auditing.py
  src/pybind/mgr/dashboard/tests/test_controllers.py
  src/pybind/mgr/dashboard/tests/test_docs.py
  src/pybind/mgr/dashboard/tests/test_erasure_code_profile.py
  src/pybind/mgr/dashboard/tests/test_exceptions.py
  src/pybind/mgr/dashboard/tests/test_feature_toggles.py
  src/pybind/mgr/dashboard/tests/test_ganesha.py
  src/pybind/mgr/dashboard/tests/test_grafana.py
  src/pybind/mgr/dashboard/tests/test_iscsi.py
  src/pybind/mgr/dashboard/tests/test_prometheus.py
  src/pybind/mgr/dashboard/tests/test_rbd_mirroring.py
  src/pybind/mgr/dashboard/tests/test_rest_tasks.py
  src/pybind/mgr/dashboard/tests/test_rgw.py
  src/pybind/mgr/dashboard/tests/test_settings.py
  src/pybind/mgr/dashboard/tests/test_sso.py
  src/pybind/mgr/dashboard/tests/test_tcmu_iscsi.py
  src/pybind/mgr/dashboard/tests/test_tools.py
Labels: dashboard, feature

#26503 mgr/dashboard: iSCSI - Adds support for pool/image names with dots
  src/pybind/mgr/dashboard/controllers/iscsi.py
  src/pybind/mgr/dashboard/services/iscsi_client.py
  src/pybind/mgr/dashboard/tests/test_iscsi.py
Labels: dashboard

#26892 qa: stop testing simple messenger in CephFS suites
  qa/suites/fs/basic_functional/tasks/volume-client/task/test/test.yaml
  qa/suites/kcephfs/recovery/tasks/sessionmap.yaml
  qa/suites/kcephfs/recovery/tasks/volume-client.yaml
Labels: bug fix, cephfs, needs-review, wip-pdonnell-testing

#26893 qa: unmount clients prior to marking fs down
  qa/tasks/cephfs/test_failover.py
Labels: cephfs, needs-review, wip-pdonnell-testing

#26890 ceph.spec.in: add libstoragemgmt to mgr package
  ceph.spec.in
Labels: build/ops, needs-qa, orchestrator, wip-sage3-testing

#26899 Minor cleanups in tests and log output
  qa/standalone/erasure-code/test-erasure-code.sh
  qa/standalone/erasure-code/test-erasure-eio.sh
  qa/standalone/scrub/osd-scrub-repair.sh
  src/mon/MgrStatMonitor.cc
  src/osd/OSD.cc
Labels: bug fix, cleanup, core, needs-qa, tests

#26712 pybind/mgr/restful: Decode the output of b64decode
  src/pybind/mgr/restful/decorators.py
Labels: bug fix, mgr, needs-review

#26871 luminous: core: os/filestore: ceph_abort() on fsync(2) or fdatasync(2) failure
  src/os/filestore/FileStore.cc
  src/os/filestore/LFNIndex.cc
  src/os/filestore/WBThrottle.cc
Labels: bug fix, core, luminous-batch-1, needs-qa, wip-yuri6-testing

#26706 luminous: osd/PrimaryLogPG: handle object !exists in handle_watch_timeout
  src/osd/PrimaryLogPG.cc
Labels: core, luminous-batch-1, needs-qa, wip-yuri6-testing

#26427 luminous: mgr: deadlock: _check_auth_rotating possible clock skew, rotating keys expired way too early
  src/mgr/ActivePyModules.cc
Labels: bug fix, core, luminous-batch-1, mgr, needs-qa, wip-yuri6-testing

#26613 luminous: mgr: drop GIL in get_config
  src/mgr/ActivePyModules.cc
  src/mgr/BaseMgrModule.cc
Labels: bug fix, luminous-batch-1, mgr, needs-qa, wip-yuri6-testing

#26880 mgr/prometheus: Add recovery metrics
  src/pybind/mgr/prometheus/module.py
Labels: feature, mgr

#26574 luminous: test: Verify a log trim trims the dup_index
  src/test/osd/TestPGLog.cc
Labels: cleanup, core, luminous-batch-1, needs-qa, tests

#26788 doc/rbd/iscsi-target-cli: Update auth command
  doc/rbd/iscsi-target-cli.rst
Labels: documentation

#26886 crush/CrushWrapper: ensure crush_choose_arg_map.size == max_buckets
  qa/workunits/mon/crush_ops.sh
  src/crush/CrushWrapper.cc
Labels: bug fix, core, needs-qa, wip-sage3-testing

#26917 osd/osd_types: include omap and hit_set_archive bytes in pool usage
  src/osd/osd_types.h
Labels: bug fix, core, needs-qa, wip-sage3-testing, wip-sage4-testing

#26756 rpm: Install python2-Cython on f28
  ceph.spec.in
Labels: bug fix, build/ops, needs-review

#26800 rgw: bucket limit check misbehaves for > max-entries buckets (usually…
  src/rgw/rgw_bucket.cc
Labels: bug fix, needs-qa, rgw

#26766 mgr/dashboard: Search broken for entries with null values
  src/pybind/mgr/dashboard/frontend/src/app/shared/datatable/table/table.component.ts
Labels: bug fix, dashboard

#26765 mgr/dashboard: Fix search in `Source` column of RBD configuration list
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-configuration-list/rbd-configuration-list.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-configuration-list/rbd-configuration-list.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-configuration-list/rbd-configuration-list.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/datatable/table/table.component.html
  src/pybind/mgr/dashboard/frontend/src/app/shared/datatable/table/table.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/datatable/table/table.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/pipes/pipes.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/pipes/rbd-configuration-source.pipe.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/pipes/rbd-configuration-source.pipe.ts
  src/pybind/mgr/dashboard/frontend/src/locale/messages.xlf
Labels: bug fix, dashboard

#26790 mgr/dashboard: iSCSI - Support iSCSI passwords with '/'
  src/pybind/mgr/dashboard/controllers/iscsi.py
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/iscsi-target-discovery-modal/iscsi-target-discovery-modal.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/iscsi-target-discovery-modal/iscsi-target-discovery-modal.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/iscsi-target-form/iscsi-target-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/iscsi-target-form/iscsi-target-form.component.ts
  src/pybind/mgr/dashboard/frontend/src/locale/messages.xlf
  src/pybind/mgr/dashboard/services/iscsi_client.py
  src/pybind/mgr/dashboard/tests/test_iscsi.py
Labels: dashboard

#26835 mgr/dashboard: Validate `ceph-iscsi` config version
  src/pybind/mgr/dashboard/controllers/iscsi.py
Labels: dashboard

#26919 doc: add CephFS notes for nautilus
  doc/cephfs/standby.rst
  doc/releases/nautilus.rst
Labels: cephfs, needs-review

#24288 jewel: mon: handle bad snapshot removal reqs gracefully
  src/mon/OSDMonitor.cc
  src/osd/osd_types.cc
Labels: backport, core, needs-qa, wip-kefu-testing

#26916 qa: ignore MON_DOWN for volume-client testing
  qa/suites/fs/basic_functional/tasks/volume-client/task/test/test.yaml
  qa/suites/kcephfs/recovery/tasks/volume-client.yaml
Labels: cephfs, needs-qa, needs-review, wip-pdonnell-testing

#26935 qa: extend MDS heartbeat grace for valgrind
  qa/suites/fs/verify/validater/valgrind.yaml
Labels: cephfs, needs-review, wip-pdonnell-testing

#26951 nautilus: mgr/dashboard: Validate `ceph-iscsi` config version
  src/pybind/mgr/dashboard/controllers/iscsi.py
Labels: dashboard

#26921 mgr/telemetry: fix 'telemetry {on,off}'
  src/pybind/mgr/telemetry/module.py
Labels: bug fix, core, wip-sage4-testing

#26948 rbd-nbd: fix segfault for list-mapped command
  src/tools/rbd_nbd/rbd-nbd.cc
Labels: bug fix, rbd

#26918 rbd: wait for all io complete when bench is interrupted
  src/tools/rbd/action/Bench.cc
Labels: bug fix, rbd

#26911 rgw: ldap: fix LDAPAuthEngine::init() when uri !empty()
  src/rgw/rgw_rest_s3.cc
Labels: bug fix, rgw

#26908 rgw_sync: drop ENOENT error logs from mdlog
  src/rgw/rgw_sync.cc
Labels: cleanup, rgw, wip-abhi-testing

#26569 rgw: return ERR_NO_SUCH_BUCKET early while evaluating bucket policy
  src/rgw/rgw_op.cc
Labels: bug fix, needs-qa, rgw, wip-abhi-testing

#26798 luminous: qa: Add "slow request" where missing based on REQUEST_SLOW
  qa/suites/rados/monthrash/workloads/rados_api_tests.yaml
  qa/suites/rados/rest/rest_test.yaml
  qa/suites/rados/singleton/all/osd-recovery-incomplete.yaml
  qa/suites/rados/verify/tasks/rados_api_tests.yaml
  qa/suites/rbd/basic/tasks/rbd_python_api_tests_old_format.yaml
Labels: bug fix, core, luminous-batch-1, needs-qa, tests, wip-yuri-testing

#26905 mgr: Cleanup get_localized_module_option function
  src/mgr/ActivePyModules.h
  src/mgr/BaseMgrModule.cc
  src/mgr/BaseMgrStandbyModule.cc
  src/pybind/mgr/mgr_module.py
Labels: cleanup, mgr, needs-qa, wip-sage2-testing
