Repository ceph/ceph, pull requests merged in 2019-11, with the labels that each got.

#31225 mgr/telemetry: send device telemetry via per-host POST to device endpoint
  src/pybind/mgr/telemetry/module.py
Labels: core, needs-qa, wip-sage-testing

#31290 nautilus: qa/suites/krbd: run unmap subsuite with msgr1 only
  qa/suites/krbd/unmap/ceph/ceph.yaml
Labels: nautilus-batch-1, needs-qa, rbd, tests

#31196 mon/OSDMonitor: expand iec_options for 'osd pool set'
  qa/workunits/cephtool/test.sh
  src/mon/OSDMonitor.cc
Labels: cleanup, core, mon, needs-qa, wip-kefu-testing

#31244 doc: update with osd addition
  doc/ceph-volume/lvm/prepare.rst
  doc/rados/deployment/ceph-deploy-osd.rst
Labels: documentation

#30912 mgr: add 'rbd' profiles to support 'rbd_support' module commands
  doc/rados/operations/user-management.rst
  doc/rbd/rados-rbd-cmds.rst
  doc/rbd/rbd-kubernetes.rst
  doc/rbd/rbd-openstack.rst
  qa/workunits/rbd/permissions.sh
  src/mgr/ActivePyModule.cc
  src/mgr/ActivePyModule.h
  src/mgr/ActivePyModules.cc
  src/mgr/ActivePyModules.h
  src/mgr/BaseMgrModule.cc
  src/mgr/CMakeLists.txt
  src/mgr/DaemonServer.cc
  src/mgr/DaemonServer.h
  src/mgr/MgrCap.cc
  src/mgr/MgrCap.h
  src/mgr/MgrSession.h
  src/mgr/PyModuleRegistry.cc
  src/mgr/PyModuleRegistry.h
  src/mon/AuthMonitor.cc
  src/mon/CMakeLists.txt
  src/mon/MonCap.cc
  src/mon/MonCap.h
  src/mon/Monitor.cc
  src/mon/OSDMonitor.cc
  src/mon/Session.h
  src/pybind/mgr/mgr_module.py
  src/pybind/mgr/rbd_support/module.py
  src/test/mgr/CMakeLists.txt
  src/test/mgr/test_mgrcap.cc
  src/test/mon/moncap.cc
Labels: core, feature, mgr, needs-qa, rbd, wip-mgolub-testing

#31311 librbd: always initialize local variables
  src/librbd/io/ImageRequestWQ.cc
Labels: cleanup, rbd, wip-kefu-testing

#31045 librados,test,rgw: cleanups to deprecate safe_cb related functions
  examples/librados/hello_world_c.c
  src/cls/journal/cls_journal_client.cc
  src/cls/rgw/cls_rgw_client.cc
  src/cls/rgw/cls_rgw_client.h
  src/include/rados/librados.h
  src/include/rados/librados.hpp
  src/include/radosstriper/libradosstriper.hpp
  src/journal/JournalMetadata.cc
  src/journal/Journaler.cc
  src/key_value_store/kv_flat_btree_async.cc
  src/librados/librados_asio.h
  src/librados/librados_c.cc
  src/librados/librados_cxx.cc
  src/libradosstriper/RadosStriperImpl.cc
  src/librbd/Utils.h
  src/pybind/rados/rados.pyx
  src/rgw/rgw_aio.cc
  src/rgw/rgw_bucket.cc
  src/rgw/rgw_coroutine.cc
  src/rgw/rgw_gc.cc
  src/rgw/rgw_rados.cc
  src/rgw/rgw_reshard.cc
  src/rgw/services/svc_notify.cc
  src/test/cls_hello/test_cls_hello.cc
  src/test/librados/aio.cc
  src/test/librados/aio_cxx.cc
  src/test/librados/misc.cc
  src/test/librados/snapshots.cc
  src/test/librados/testcase_cxx.cc
  src/test/librados/tier_cxx.cc
  src/test/librados/watch_notify.cc
  src/test/librados_test_stub/LibradosTestStub.cc
  src/test/librados_test_stub/TestIoCtxImpl.cc
  src/test/librados_test_stub/TestRadosClient.cc
  src/test/libradosstriper/aio.cc
  src/test/osd/RadosModel.h
  src/test/pybind/test_rados.py
  src/tools/immutable_object_cache/Utils.h
  src/tools/rados/rados.cc
  src/tools/scratchtool.c
  src/tracing/librados.tp
Labels: cleanup, core, needs-qa, rgw, tests, wip-kefu-testing

#30807 nautilus: ceph-volume: VolumeGroups.filter shouldn't purge itself
  src/ceph-volume/ceph_volume/api/lvm.py
  src/ceph-volume/ceph_volume/tests/api/test_lvm.py
  src/ceph-volume/ceph_volume/tests/conftest.py
Labels: ceph-volume

#30805 nautilus: ceph-volume: PVolumes.filter shouldn't purge itself
  src/ceph-volume/ceph_volume/api/lvm.py
  src/ceph-volume/ceph_volume/tests/api/test_lvm.py
  src/ceph-volume/ceph_volume/tests/conftest.py
  src/ceph-volume/ceph_volume/tests/util/test_device.py
  src/ceph-volume/ceph_volume/util/device.py
Labels: ceph-volume

#31315 ceph-daemon: create ~/.ssh if not exist
  src/ceph-daemon
Labels: bug fix, wip-kefu-testing

#31314 mgr/orchestrator_cli: pass default value to "req=False" params
  src/pybind/mgr/orchestrator_cli/module.py
Labels: bug fix, mgr, wip-kefu-testing

#31320 ceph-daemon: fix os.mkdir call
  src/ceph-daemon
Labels: bug fix

#31078 mgr/dashboard: AttributeError: 'NoneType' object has no attrib…
  src/pybind/mgr/dashboard/controllers/osd.py
Labels: bug fix, dashboard

#31256 mgr/MgrClient: fix open condition
  src/mgr/MgrClient.cc
Labels: bug fix, core, needs-qa, wip-sage-testing

#25374 osd: add flag to prevent truncate_seq copy in copy-from operation
  src/include/rados.h
  src/osd/PrimaryLogPG.cc
Labels: core, needs-qa, wip-sage-testing

#29998 nautilus: core: osd/OSDCap: Check for empty namespace
  src/osd/OSDCap.cc
Labels: core, nautilus-batch-1, needs-qa, wip-yuri-testing

#29997 nautilus: core: mon: C_AckMarkedDown has not handled the Callback Arguments
  src/mon/OSDMonitor.cc
Labels: core, nautilus-batch-1, needs-qa, wip-yuri-testing

#29979 nautilus: tests: "CMake Error" in test_envlibrados_for_rocksdb.sh
  qa/workunits/ceph-helpers-root.sh
  qa/workunits/rados/test_envlibrados_for_rocksdb.sh
Labels: core, nautilus-batch-1, needs-qa, tests, wip-yuri-testing

#29988 nautilus: core: filestore pre-split may not split enough directories
  src/os/filestore/HashIndex.cc
Labels: core, nautilus-batch-1, needs-qa, wip-yuri-testing

#29991 nautilus: core: If the nodeep-scrub/noscrub flags are set in pools instead of global cluster. List the pool names in the ceph status
  qa/workunits/cephtool/test.sh
  src/osd/OSDMap.cc
Labels: core, nautilus-batch-1, needs-qa, wip-yuri-testing

#29992 nautilus: osd: Better error message when OSD count is less than osd_pool_default_size
  doc/rados/operations/health-checks.rst
  qa/standalone/ceph-helpers.sh
  qa/tasks/ceph.conf.template
  src/common/options.cc
  src/mon/PGMap.cc
Labels: core, nautilus-batch-1, needs-qa, wip-yuri-testing

#29994 nautilus: osd/PrimaryLogPG: Avoid accessing destroyed references in finish_degr…
  src/osd/PGBackend.h
  src/osd/PrimaryLogPG.cc
  src/osd/PrimaryLogPG.h
Labels: core, nautilus-batch-1, needs-qa, wip-yuri-testing

#31319 ceph-daemon: ExecStart=/bin/bash script
  src/ceph-daemon
Labels: needs-review, tools

#31137 msg/DispatchQueue: Set throttle stamp for local_delivery
  src/msg/DispatchQueue.cc
Labels: bug fix, core, needs-qa, wip-badone-testing, wip-pdonnell-testing, wip-pdonnell-testing2

#31207 qa/tasks: Better handling of thrasher names and __init__ calls
  qa/tasks/ceph_manager.py
  qa/tasks/daemonwatchdog.py
  qa/tasks/mds_thrash.py
  qa/tasks/mon_thrash.py
  qa/tasks/rbd_mirror_thrash.py
  qa/tasks/thrasher.py
Labels: bug fix, cephfs, needs-qa, wip-pdonnell-testing

#30990 mds: Reorganize class members in MDSDaemon header
  src/mds/MDSDaemon.cc
  src/mds/MDSDaemon.h
Labels: cephfs, cleanup, needs-qa, wip-pdonnell-testing

#30402 client: add warning when cap != in->auth_cap.
  src/client/Client.cc
Labels: cephfs, needs-qa, wip-pdonnell-testing

#28077 client: optimize rename operation under different quota root
  src/client/Client.cc
Labels: cephfs, needs-qa, wip-pdonnell-testing

#30938 mds: Reorganize class members in MDSCacheObject header
  src/mds/MDSCacheObject.cc
  src/mds/MDSCacheObject.h
Labels: cephfs, cleanup, wip-pdonnell-testing

#31152 mgr/restful: requests api adds support multiple commands
  src/pybind/mgr/restful/api/request.py
Labels: feature, mgr, needs-review

#31229 mimic: ceph-volume: api/lvm: check if list of LVs is empty
  src/ceph-volume/ceph_volume/api/lvm.py
Labels: ceph-volume

#31228 nautilus: ceph-volume: api/lvm: check if list of LVs is empty
  src/ceph-volume/ceph_volume/api/lvm.py
Labels: ceph-volume

#31294 luminous: tests/ceph-disk: drop ceph-detect-init test
  qa/suites/ceph-disk/basic/tasks/ceph-detect-init.yaml
Labels: luminous-batch-1, needs-qa, tests, wip-yuri-testing

#30749 doc: document mds journal event types
  doc/cephfs/mds-journaling.rst
Labels: cephfs, documentation, needs-review

#30751 doc: Document Export Process during Subtree Migrations
  doc/cephfs/dynamic-metadata-management.rst
Labels: cephfs, documentation

#31238 install-deps.sh: use sepia/lab-extra/8
  install-deps.sh
Labels: build/ops, needs-qa, wip-kefu-testing

#31313 debian/rules: run dh_python2 with ceph-daemon
  debian/rules
Labels: build/ops, wip-kefu-testing

#31306 test: only compile ceph_test_bmap_alloc_replay WITH_BLUESTORE
  src/test/objectstore/CMakeLists.txt
Labels: build/ops, needs-qa, wip-kefu-testing

#31184 crush/CrushWrapper.cc: Fix sign compare compiler warning
  src/crush/CrushWrapper.cc
Labels: cleanup, core, needs-qa, wip-kefu-testing

#31209 common: fix missing <stdio.h> include
  src/common/compat.cc
Labels: bug fix, common, needs-qa, wip-kefu-testing

#31312 qa: correct zap disk with ceph-deploy tool
  qa/tasks/ceph_deploy.py
Labels: bug fix, needs-qa, tests, wip-kefu-testing

#31335 test: move bluestore dependant code under WITH_BLUESTORE
  src/test/objectstore/store_test.cc
Labels: bug fix, tests

#31337 ceph-daemon: fix typo in the output_pub_ssh_key argument
  src/ceph-daemon
Labels: bug fix, needs-qa, tools, wip-kefu2-testing

#31015 mgr/orchestrator: Fix raise_if_exception for Python 3
  src/pybind/mgr/orchestrator.py
  src/pybind/mgr/orchestrator_cli/module.py
  src/pybind/mgr/selftest/module.py
Labels: needs-qa, orchestrator, wip-sage-testing

#31326 cmake: define mgr_cap_obj library when WITH_MGR=OFF
  src/CMakeLists.txt
  src/mgr/CMakeLists.txt
Labels: build/ops, needs-qa, wip-kefu2-testing

#31191 github: Add ceph-volume to list of jenkins commands
  .github/pull_request_template.md
Labels: ceph-volume

#30047 mgr/dashboard: CephFS directory component
  qa/tasks/mgr/dashboard/test_cephfs.py
  src/pybind/mgr/dashboard/controllers/cephfs.py
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/iscsi-target-details/iscsi-target-details.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cephfs/cephfs-directories/cephfs-directories.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cephfs/cephfs-directories/cephfs-directories.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cephfs/cephfs-directories/cephfs-directories.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cephfs/cephfs-directories/cephfs-directories.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cephfs/cephfs-list/cephfs-list.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cephfs/cephfs-tabs/cephfs-tabs.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cephfs/cephfs-tabs/cephfs-tabs.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cephfs/cephfs.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/crushmap/crushmap.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/cephfs.service.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/cephfs.service.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/models/cephfs-directory-models.ts
  src/pybind/mgr/dashboard/frontend/src/styles/ng2-tree.scss
  src/pybind/mgr/dashboard/services/cephfs.py
Labels: dashboard, feature, needs-review

#31266 mgr/dashboard: fix LazyUUID4 not serializable
  src/pybind/mgr/dashboard/cherrypy_backports.py
  src/pybind/mgr/dashboard/plugins/debug.py
  src/pybind/mgr/dashboard/tests/__init__.py
  src/pybind/mgr/dashboard/tests/test_plugin_debug.py
  src/pybind/mgr/dashboard/tests/test_rgw_client.py
  src/pybind/mgr/dashboard/tests/test_tools.py
Labels: dashboard

#31352 mgr/dashboard: Automatically use correct chromedriver version
  src/pybind/mgr/dashboard/frontend/package.json
Labels: bug fix, dashboard

#31328 ceph-daemon: raise RuntimeError when CephContainer.run() fails
  src/ceph-daemon
Labels: needs-rebase, needs-review, orchestrator

#31329 ceph-daemon: Fix `ls` cmd for legacy confs
  src/ceph-daemon
Labels: needs-review, tools

#31353 doc/orchestrator: Fix various issues in Orchestrator CLI documentation
  doc/mgr/orchestrator_cli.rst
Labels: bug fix, documentation, orchestrator

#31331 ceph-daemon: Use `shutil.move` to move log files
  src/ceph-daemon
Labels: bug fix, orchestrator

#31341 ceph-daemon: only set up /var/run/ceph/$fsid if it exists
  src/ceph-daemon
Labels: orchestrator, wip-sage-testing, wip-sage2-testing

#31192 script/run_mypy: Support mypy 0.740
  src/script/run_mypy.sh
Labels: tests

#31374 qa/rgw: use 'testing' kms backend for multisite tests
  qa/suites/rgw/multisite/overrides.yaml
Labels: rgw, tests

#31308 luminous: Various whitelists for tests to pass
  qa/suites/smoke/basic/tasks/mon_thrash.yaml
  qa/suites/smoke/basic/tasks/rados_api_tests.yaml
  qa/suites/smoke/basic/tasks/rados_bench.yaml
  qa/suites/smoke/basic/tasks/rados_cache_snaps.yaml
  qa/suites/smoke/basic/tasks/rados_cls_all.yaml
  qa/suites/smoke/basic/tasks/rados_ec_snaps.yaml
  qa/suites/smoke/basic/tasks/rados_python.yaml
  qa/suites/smoke/basic/tasks/rados_workunit_loadgen_mix.yaml
  qa/suites/smoke/basic/tasks/rbd_api_tests.yaml
  qa/suites/smoke/basic/tasks/rbd_fsx.yaml
Labels: luminous-batch-1, needs-qa, needs-review, tests, wip-yuri-testing

#31107 luminous: mgr/prometheus: Cast collect_timeout (scrape_interval) to float
  src/pybind/mgr/prometheus/module.py
Labels: luminous-batch-1, mgr, needs-qa, wip-yuri-testing

#31105 luminous: mgr/prometheus: replace whitespaces in metrics' names
  src/pybind/mgr/prometheus/module.py
Labels: luminous-batch-1, mgr, needs-qa, wip-yuri-testing

#31104 luminous: mgr/balancer: python3 compatibility issue
  src/pybind/mgr/balancer/module.py
Labels: luminous-batch-1, mgr, needs-qa, wip-yuri-testing

#31030 luminous: osd/PrimaryLogPG: skip obcs that don't exist during backfill scan_range
  src/osd/PrimaryLogPG.cc
Labels: core, luminous-batch-1, needs-qa, wip-yuri-testing

#30917 luminous: osd: merge replica log on primary need according to replica log's crt
  src/osd/PGLog.cc
  src/osd/PGLog.h
  src/test/osd/TestPGLog.cc
Labels: core, luminous-batch-1, needs-qa, wip-yuri-testing

#30896 luminous: osd/PeeringState: recover_got - add special handler for empty log
  src/osd/PrimaryLogPG.cc
Labels: core, luminous-batch-1, needs-qa, wip-yuri-testing

#30519 luminous: mon: ensure prepare_failure() marks no_reply on op
  src/mon/OSDMonitor.cc
Labels: core, luminous-batch-1, needs-qa, wip-yuri-testing

#30446 luminous: mgr/localpool: pg_num is an int arg to 'osd pool create'
  src/pybind/mgr/localpool/module.py
Labels: bug fix, core, luminous-batch-1, needs-qa, wip-yuri-testing

#31285 mimic: tests: install python3-cephfs for fs suite
  qa/cephfs/begin.yaml
  qa/packages/packages.yaml
Labels: cephfs, mimic-batch-1, needs-qa, tests, wip-yuri7-testing

#31273 mimic: restful: Query nodes_by_id for items
  src/pybind/mgr/restful/common.py
Labels: bug fix, mgr, mimic-batch-1, needs-qa, wip-yuri7-testing

#31108 mimic: mgr/prometheus: Cast collect_timeout (scrape_interval) to float
  src/pybind/mgr/prometheus/module.py
Labels: mgr, mimic-batch-1, needs-qa, wip-yuri7-testing

#31096 mimic: common/ceph_context: avoid unnecessary wait during service thread shutdown
  src/common/ceph_context.cc
Labels: common, mimic-batch-1, needs-qa, wip-yuri7-testing

#31035 mimic: core: osd: rollforward may need to mark pglog dirty
  src/osd/PGLog.h
Labels: core, mimic-batch-1, needs-qa, wip-yuri7-testing

#31029 mimic: osd/PrimaryLogPG: skip obcs that don't exist during backfill scan_range
  src/osd/PrimaryLogPG.cc
Labels: core, mimic-batch-1, needs-qa, wip-yuri7-testing

#31013 mimic: mgr/balancer: python3 compatibility issue
  src/pybind/mgr/balancer/module.py
Labels: core, mimic-batch-1, needs-qa, wip-yuri7-testing

#31293 luminous: core: osd: fix out of order caused by letting old msg from down osd be processed
  src/osd/OSD.h
  src/osd/PG.cc
Labels: core, luminous-batch-1, needs-qa, wip-yuri8-testing

#31278 luminous: tests: install python3-cephfs for fs suite
  qa/cephfs/begin.yaml
  qa/packages/packages.yaml
Labels: luminous-batch-1, needs-qa, tests, wip-yuri8-testing

#31272 luminous: restful: Query nodes_by_id for items
  src/pybind/mgr/restful/common.py
Labels: bug fix, luminous-batch-1, mgr, needs-qa, wip-yuri8-testing

#30945 luminous: tests: qa/workunits/rados/test_librados_build.sh: install build deps
  qa/workunits/ceph-helpers-root.sh
  qa/workunits/rados/test_envlibrados_for_rocksdb.sh
  qa/workunits/rados/test_librados_build.sh
Labels: luminous-batch-1, needs-qa, tests, wip-yuri8-testing

#30842 luminous: tests: do not take ceph.conf.template from ceph/teuthology.git
  qa/tasks/ceph.conf.template
  qa/tasks/ceph.py
Labels: luminous-batch-1, needs-qa, tests, wip-yuri8-testing

#30080 nautilus: tools: ceph-objectstore-tool can't remove head with bad snapset
  qa/standalone/special/ceph_objectstore_tool.py
  src/tools/ceph_objectstore_tool.cc
Labels: core, nautilus-batch-1, needs-qa, tools, wip-yuri5-testing

#30051 nautilus: core: osd: merge replica log on primary need according to replica log's crt
  src/osd/PGLog.cc
  src/osd/PGLog.h
  src/test/osd/TestPGLog.cc
Labels: core, nautilus-batch-1, needs-qa, wip-yuri5-testing

#30050 nautilus: core: osd: clear PG_STATE_CLEAN when repair object
  src/osd/PrimaryLogPG.cc
Labels: core, nautilus-batch-1, needs-qa, wip-yuri5-testing

#29999 nautilus: core: Improve health status for backfill_toofull and recovery_toofull and fix backfill_toofull seen on cluster where the most full OSD is at 1%
  doc/rados/operations/health-checks.rst
  doc/rados/operations/monitoring-osd-pg.rst
  doc/rados/operations/pg-states.rst
  qa/standalone/osd/osd-backfill-space.sh
  qa/standalone/osd/osd-recovery-space.sh
  src/messages/MBackfillReserve.h
  src/mon/PGMap.cc
  src/osd/PG.cc
  src/osd/PG.h
  src/osd/PGPeeringEvent.h
Labels: core, nautilus-batch-1, needs-qa, wip-yuri5-testing

#30000 nautilus: osd/PeeringState: do not complain about past_intervals constrained by oldest epoch
  src/osd/PG.cc
Labels: core, nautilus-batch-1, needs-qa, wip-yuri5-testing

#30007 nautilus: mgr/prometheus: Cast collect_timeout (scrape_interval) to float
  src/pybind/mgr/prometheus/module.py
Labels: core, nautilus-batch-1, needs-qa, wip-yuri5-testing

#30048 nautilus: bluestore: Don't forget sub kv_submitted_waiters
  src/os/bluestore/BlueStore.h
Labels: core, nautilus-batch-1, needs-qa, wip-yuri5-testing

#30697 nautilus: backport endian fixes
  src/auth/cephx/CephxProtocol.cc
  src/auth/cephx/CephxSessionHandler.cc
  src/cls/rgw/cls_rgw_types.cc
  src/cls/rgw/cls_rgw_types.h
  src/common/Checksummer.h
  src/crimson/os/Transaction.h
  src/include/byteorder.h
  src/include/ceph_fs.h
  src/include/denc.h
  src/include/msgr.h
  src/include/rados.h
  src/include/rbd_types.h
  src/include/types.h
  src/librbd/operation/ResizeRequest.cc
  src/mds/locks.c
  src/mds/mdstypes.h
  src/messages/MMonSubscribe.h
  src/msg/async/ProtocolV2.cc
  src/msg/async/frames_v2.h
  src/msg/msg_types.h
  src/msg/xio/XioMsg.h
  src/os/ObjectStore.h
  src/os/bluestore/BlueStore.cc
  src/os/bluestore/bluestore_types.h
  src/osd/OSDMap.h
  src/test/common/test_bloom_filter.cc
  src/test/common/test_time.cc
  src/test/librados/aio.cc
Labels: bluestore, core, messenger, nautilus-batch-1, needs-qa, rbd, rgw, wip-yuri3-testing, wip-yuri4-testing

#30120 nautilus: tools/rbd-ggate: close log before running postfork
  src/tools/rbd_ggate/main.cc
Labels: bug fix, nautilus-batch-1, needs-qa, rbd, wip-yuri4-testing

#30354 nautilus: test/cls_rbd/test_cls_rbd: update TestClsRbd.sparsify
  src/test/cls_rbd/test_cls_rbd.cc
Labels: nautilus-batch-1, needs-qa, rbd, tests, wip-yuri4-testing

#30423 nautilus: test/librbd: set nbd timeout due to newer kernels defaulting it on
  src/test/librbd/fsx.cc
Labels: nautilus-batch-1, needs-qa, rbd, tests, wip-yuri4-testing

#30464 nautilus: qa: avoid page cache for krbd discard round off tests
  qa/rbd/krbd_discard.t
  qa/rbd/krbd_discard_4M.t
Labels: nautilus-batch-1, needs-qa, rbd, wip-yuri4-testing

#30661 nautilus: common/config_proxy: hold lock while accessing mutable container
  src/common/config_proxy.h
Labels: common, nautilus-batch-1, needs-qa, rbd, wip-yuri4-testing

#30532 nautilus: rbd-nbd: add netlink support and nl resize
  CMakeLists.txt
  ceph.spec.in
  cmake/modules/Findgenl.cmake
  debian/control
  src/tools/rbd_nbd/CMakeLists.txt
  src/tools/rbd_nbd/nbd-netlink.h
  src/tools/rbd_nbd/rbd-nbd.cc
Labels: nautilus-batch-1, needs-qa, rbd, wip-yuri4-testing

#31275 mimic: core: osd: Fix for compatibility of encode/decode of osd_stat_t
  src/msg/msg_types.h
  src/osd/osd_types.cc
  src/osd/osd_types.h
Labels: bug fix, core, mimic-batch-1, needs-qa, needs-review, wip-yuri7-testing

#31277 luminous: core: osd: Fix for compatibility of encode/decode of osd_stat_t
  src/osd/osd_types.cc
  src/osd/osd_types.h
Labels: bug fix, core, luminous-batch-1, needs-qa, needs-review, wip-yuri5-testing, wip-yuri8-testing

#30745 mds: Reorganize class members in MDCache header
  src/mds/MDCache.h
Labels: cephfs, cleanup, needs-qa, wip-pdonnell-testing

#30915 mds: Reorganize class members in MDSAuthCaps header
  src/mds/MDSAuthCaps.h
Labels: cephfs, cleanup, needs-qa, wip-pdonnell-testing

#30835 mds: no assert on frozen dir when scrub path
  src/mds/CDir.cc
Labels: cephfs, needs-qa, wip-pdonnell-testing

#31362 More missing mimic backports
  src/ceph-volume/ceph_volume/api/lvm.py
  src/ceph-volume/ceph_volume/decorators.py
  src/ceph-volume/ceph_volume/devices/lvm/activate.py
  src/ceph-volume/ceph_volume/devices/simple/scan.py
  src/ceph-volume/ceph_volume/util/disk.py
  src/ceph-volume/ceph_volume/util/encryption.py
  src/ceph-volume/ceph_volume/util/prepare.py
Labels: ceph-volume

#31371 nautilus: mgr/dashboard: Automatically use correct chromedrive…
  src/pybind/mgr/dashboard/frontend/package.json
Labels: dashboard

#30499 mgr/dashboard: Fix OSD's safe_to_destroy method
  qa/tasks/mgr/dashboard/test_osd.py
  src/pybind/mgr/dashboard/controllers/osd.py
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/osd.service.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/osd.service.ts
Labels: bug fix, dashboard, needs-review

#30894 mgr/dashboard: Fix iSCSI Target's validation
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/iscsi-target-form/iscsi-target-form.component.html
Labels: bug fix, dashboard

#31366 ceph-backport.sh: implement interactive setup routine and new options
  src/script/ceph-backport.sh
Labels: feature, tools

#30382 nautilus: mgr/dashboard: Allow disabling redirection on standb…
  doc/mgr/dashboard.rst
  qa/tasks/mgr/test_dashboard.py
  src/pybind/mgr/dashboard/module.py
Labels: dashboard, nautilus-batch-1, needs-qa

#30376 nautilus: mgr/dashboard: Allow the decrease of pg's of an exis…
  qa/tasks/mgr/dashboard/test_pool.py
  src/pybind/mgr/dashboard/controllers/pool.py
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/iscsi-target-list/iscsi-target-list.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-list/rbd-list.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-snapshot-list/rbd-snapshot-list.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-trash-list/rbd-trash-list.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/nfs/nfs-list/nfs-list.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/pool/pool-form/pool-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/pool/pool-form/pool-form.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/pool/pool-form/pool-form.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/pool/pool-list/pool-list.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/pool/pool-list/pool-list.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/pool/pool.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/datatable/table/table.component.html
  src/pybind/mgr/dashboard/frontend/src/app/shared/services/task-list.service.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/services/task-list.service.ts
  src/pybind/mgr/dashboard/frontend/src/testing/unit-test-helper.ts
  src/pybind/mgr/dashboard/tests/__init__.py
  src/pybind/mgr/dashboard/tests/test_pool.py
Labels: dashboard, nautilus-batch-1, needs-qa

#30259 nautilus: mgr/dashboard: access_control: add grafana scope read access to *-manager roles
  src/pybind/mgr/dashboard/services/access_control.py
Labels: bug fix, dashboard, nautilus-batch-1, needs-qa

#31230 tools/rados: prevent 'put' operation from recreating object when --offset=0
  src/tools/rados/rados.cc
Labels: bug fix, core, needs-qa, wip-kefu-testing

#31291 mgr/ActivePyModules: behave if a module queries a devid that does not exist
  qa/workunits/cephtool/test.sh
  src/mgr/ActivePyModules.cc
Labels: bug fix, mgr, needs-qa, wip-kefu-testing

#30598 doc/releases: access main releases page from top-level TOC
  doc/dev/repo-access.rst
  doc/index.rst
  doc/install/get-packages.rst
  doc/releases/archived-index.rst
  doc/releases/general.rst
  doc/releases/index.rst
Labels: documentation, needs-review

#31342 qa/standalone/test_ceph_daemon: fix multi-version python test
  qa/standalone/test_ceph_daemon.sh
Labels: orchestrator, wip-sage2-testing

#31321 ceph-daemon: do not relabel system directories
  src/ceph-daemon
Labels: bug fix, orchestrator, wip-sage-testing, wip-sage2-testing

#31363 qa/rgw: remove whitelist for SLOW_OPS against ec pools
  qa/rgw_pool_type/ec-profile.yaml
  qa/rgw_pool_type/ec.yaml
Labels: rgw, tests

#31412 osd: send smart asok result to stdout, not stderr
  src/osd/OSD.cc
Labels: needs-qa

#31327 mon/ConfigMap: search nested sections
  PendingReleaseNotes
  qa/workunits/mon/config.sh
  src/mon/ConfigMap.cc
Labels: core, feature, wip-sage-testing

#30198 luminous: rgw: fix drain handles error when deleting bucket with bypass-gc option
  src/rgw/rgw_bucket.cc
Labels: luminous-batch-1, needs-qa, rgw, wip-yuri5-testing

#30254 luminous: rgw: fix cls_bucket_list_unordered() partial results
  src/rgw/rgw_rados.cc
Labels: luminous-batch-1, needs-qa, rgw, wip-yuri5-testing

#30674 luminous: rgw: housekeeping of reset stats operation in radosgw-admin and cls back-end
  src/cls/user/cls_user.cc
  src/rgw/rgw_admin.cc
Labels: luminous-batch-1, needs-qa, rgw, wip-yuri5-testing

#30329 luminous: rgw: RGWCoroutine::call(nullptr) sets retcode=0
  src/rgw/rgw_coroutine.cc
Labels: luminous-batch-1, needs-qa, rgw, wip-yuri5-testing

#31365 ceph-daemon: make rm-cluster handle failed unit cleanup
  src/ceph-daemon
Labels: bug fix, orchestrator

#31396 mgr/dashboard: disable pg_autoscale for new pools in e2e tests
  src/pybind/mgr/dashboard/run-frontend-e2e-tests.sh
Labels: bug fix, dashboard, tests

#30889 nautilus: rgw/amqp: fix race condition in AMQP unit test
  src/test/rgw/test_rgw_amqp.cc
Labels: bug fix, nautilus-batch-1, needs-qa, rgw, tests

#31234 luminous: crush: remove invalid upmap items
  src/crush/CrushWrapper.cc
  src/test/osd/TestOSDMap.cc
Labels: core, luminous-batch-1, needs-qa, wip-yuri5-testing

#31401 mds: clarify comment
  src/mds/MDSDaemon.cc
Labels: cephfs, needs-review

#31409 mds: Fix MDCache.h reorder compiler warnings
  src/mds/MDCache.cc
Labels: bug fix, cephfs, needs-review

#26768 mgr/orchestrator: device lights
  doc/mgr/orchestrator_cli.rst
  doc/mgr/orchestrator_modules.rst
  qa/suites/rados/mgr/tasks/orchestrator_cli.yaml
  qa/tasks/mgr/test_orchestrator_cli.py
  src/pybind/mgr/orchestrator.py
  src/pybind/mgr/orchestrator_cli/module.py
  src/pybind/mgr/test_orchestrator/module.py
Labels: feature, needs-qa, orchestrator, wip-swagner-testing

#31199 mgr/dashboard: Searchable objects for table
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-list/rbd-list.component.html
  src/pybind/mgr/dashboard/frontend/src/app/shared/datatable/table/table.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/datatable/table/table.component.ts
Labels: bug fix, dashboard

#30759 mgr/dashboard: Add support for device management
  qa/tasks/mgr/dashboard/test_host.py
  qa/tasks/mgr/dashboard/test_osd.py
  src/pybind/mgr/dashboard/controllers/host.py
  src/pybind/mgr/dashboard/controllers/osd.py
  src/pybind/mgr/dashboard/frontend/e2e/cluster/osds.e2e-spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/cluster.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/hosts/host-details/host-details.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/hosts/host-details/host-details.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/hosts/hosts.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/osd/osd-details/osd-details.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/osd/osd-details/osd-details.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/osd/osd-list/osd-list.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/shared/ceph-shared.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/shared/device-list/device-list.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/shared/device-list/device-list.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/ceph/shared/device-list/device-list.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/shared/device-list/device-list.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/host.service.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/host.service.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/osd.service.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/osd.service.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/models/devices.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/services/device.service.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/services/device.service.ts
Labels: dashboard, feature

#31424 mimic: tests: qa/tasks/ceph.py: pass cluster_name to get_mons
  qa/tasks/ceph.py
Labels: mimic-batch-1, needs-qa, tests, wip-smithfarm-testing

#31422 mgr/MgrClient: fix open condition fix
  src/mgr/MgrClient.cc
Labels: bug fix, core, wip-sage-testing

#31114 nautilus: mgr/dashboard: qa: whitelist client eviction warning
  qa/suites/rados/mgr/tasks/dashboard.yaml
Labels: dashboard, nautilus-batch-1, needs-qa, tests

#31198 mgr/dashboard: add missing test_orchestrator suite
  qa/suites/rados/dashboard/tasks/dashboard.yaml
  qa/tasks/mgr/dashboard/test_orchestrator.py
Labels: dashboard, tests

#31322 mimic: krbd: avoid udev netlink socket overrun and retry on transient errors from udev_enumerate_scan_devices()
  qa/suites/krbd/rbd-nomount/tasks/krbd_udev_enumerate.yaml
  qa/suites/krbd/rbd-nomount/tasks/krbd_udev_netlink_enobufs.yaml
  qa/workunits/rbd/krbd_udev_enumerate.sh
  qa/workunits/rbd/krbd_udev_netlink_enobufs.sh
  src/common/Thread.h
  src/krbd.cc
Labels: bug fix, krbd, mimic-batch-1, needs-qa, wip-yuri4-testing

#31440 qa/standalone/test_ceph_daemon: Fix ceph daemon standalone test
  qa/standalone/test_ceph_daemon.sh
Labels: orchestrator, tests

#31324 mimic: qa: krbd_msgr_segments.t: filter lvcreate output
  qa/rbd/krbd_msgr_segments.t
Labels: mimic-batch-1, needs-qa, rbd, tests, wip-yuri4-testing

#31437 ceph-daemon: Remove data dir during adopt
  src/ceph-daemon
Labels: orchestrator

#31111 nautilus: core: mon/MonCommands: "smart" only needs read permission
  src/mon/MonCommands.h
Labels: core, nautilus-batch-1, needs-qa, wip-yuri7-testing

#31039 nautilus: mgr: fix weird health-alert daemon key
  src/mgr/DaemonHealthMetricCollector.cc
Labels: core, nautilus-batch-1, needs-qa, wip-yuri7-testing

#31038 nautilus: core: mon/Monitor.cc: fix condition that checks for unrecognized auth mode
  src/mon/Monitor.cc
Labels: core, nautilus-batch-1, needs-qa, wip-yuri7-testing

#31037 nautilus: core: mon/MonClient: ENXIO when sending command to down mon
  qa/tasks/ceph.py
  src/common/legacy_config_opts.h
  src/common/options.cc
  src/mon/MonClient.cc
  src/mon/MonClient.h
Labels: core, nautilus-batch-1, needs-qa, wip-yuri7-testing

#31034 nautilus: core: osd: rollforward may need to mark pglog dirty
  src/osd/PGLog.h
Labels: core, nautilus-batch-1, needs-qa, wip-yuri7-testing

#31031 nautilus: core: kv/RocksDBStore: tell rocksdb to set mode to 0600, not 0644
  src/common/safe_io.c
  src/common/safe_io.h
  src/crimson/os/cyan_store.cc
  src/kv/RocksDBStore.cc
  src/mon/MonitorDBStore.h
  src/os/ObjectStore.cc
  src/os/filestore/FileStore.cc
Labels: core, nautilus-batch-1, needs-qa, wip-yuri7-testing

#31012 nautilus: mgr/balancer: python3 compatibility issue
  src/pybind/mgr/balancer/module.py
Labels: core, nautilus-batch-1, needs-qa, wip-yuri7-testing

#31208 test:add test_remove_snap2 interface to remove snap when it's protected
  src/test/pybind/test_rbd.py
Labels: needs-qa, rbd, tests, wip-jason-testing

#31350 cls/rbd: add snapshot limit UINT64_MAX test case
  src/test/cls_rbd/test_cls_rbd.cc
Labels: needs-qa, rbd, tests, wip-jason-testing

#31286 luminous: mds: cleanup truncating inodes when standby replay mds trim log segments
  src/mds/MDCache.cc
Labels: bug fix, cephfs, luminous-batch-1, needs-qa, wip-yuri5-testing

#31451 mgr/dashboard: fix e2e test failure for OSDs
  src/pybind/mgr/dashboard/frontend/e2e/cluster/osds.e2e-spec.ts
Labels: dashboard, tests

#31070 mgr/dashboard: Fix zsh support in run-backend-api-tests.sh
  src/pybind/mgr/dashboard/run-backend-api-tests.sh
Labels: bug fix, dashboard, orchestrator

#31056 mgr/dashboard: Set iSCSI disk WWN and LUN number from the UI
  src/pybind/mgr/dashboard/controllers/iscsi.py
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/iscsi-target-form/iscsi-target-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/iscsi-target-form/iscsi-target-form.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/iscsi-target-form/iscsi-target-form.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/iscsi-target-image-settings-modal/iscsi-target-image-settings-modal.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/iscsi-target-image-settings-modal/iscsi-target-image-settings-modal.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/iscsi-target-image-settings-modal/iscsi-target-image-settings-modal.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/iscsi-target-iqn-settings-modal/iscsi-target-iqn-settings-modal.component.ts
  src/pybind/mgr/dashboard/frontend/src/styles.scss
  src/pybind/mgr/dashboard/services/iscsi_client.py
  src/pybind/mgr/dashboard/tests/test_iscsi.py
Labels: dashboard

#30998 mgr/dashboard: Use htmllint
  src/pybind/mgr/dashboard/frontend/.htmllintrc
  src/pybind/mgr/dashboard/frontend/package-lock.json
  src/pybind/mgr/dashboard/frontend/package.json
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/iscsi-target-form/iscsi-target-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/mirroring/image-list/image-list.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-configuration-form/rbd-configuration-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-configuration-list/rbd-configuration-list.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-details/rbd-details.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cephfs/cephfs-directories/cephfs-directories.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/configuration/configuration.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/configuration/configuration.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/hosts/host-form/host-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/hosts/hosts.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/mgr-modules/mgr-module-details/mgr-module-details.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/monitor/monitor.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/osd/osd-list/osd-list.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/osd/osd-performance-histogram/osd-performance-histogram.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/osd/osd-performance-histogram/osd-performance-histogram.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/osd/osd-reweight-modal/osd-reweight-modal.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/osd/osd-smart-list/osd-smart-list.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/prometheus/alert-list/alert-list.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/prometheus/silence-form/silence-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/prometheus/silence-list/silence-list.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/nfs/nfs-501/nfs-501.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/nfs/nfs-form/nfs-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/performance-counter/table-performance-counter/table-performance-counter.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/pool/pool-list/pool-list.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-501/rgw-501.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-bucket-form/rgw-bucket-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-daemon-list/rgw-daemon-list.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-user-form/rgw-user-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/core/auth/role-details/role-details.component.html
  src/pybind/mgr/dashboard/frontend/src/app/core/auth/sso/sso-not-found/sso-not-found.component.html
  src/pybind/mgr/dashboard/frontend/src/app/core/auth/user-form/user-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/core/auth/user-password-form/user-password-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/alert-panel/alert-panel.component.html
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/language-selector/language-selector.component.html
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/select/select.component.html
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/sparkline/sparkline.component.html
  src/pybind/mgr/dashboard/frontend/src/app/shared/datatable/table-actions/table-actions.component.html
Labels: cleanup, dashboard, tests

#29485 nautilus: mgr/dashboard: change bucket owner between owners fr…
  qa/tasks/mgr/dashboard/test_rgw.py
  src/pybind/mgr/dashboard/controllers/rgw.py
  src/pybind/mgr/dashboard/tox.ini
Labels: bug fix, dashboard, nautilus-batch-1, needs-qa

#29510 nautilus: mgr/dashboard: Unify button/URL actions naming for i…
  src/pybind/mgr/dashboard/frontend/src/app/app-routing.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/block.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/iscsi-target-list/iscsi-target-list.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/iscsi-target-list/iscsi-target-list.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-list/rbd-list.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-snapshot-list/rbd-snapshot-actions.model.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-snapshot-list/rbd-snapshot-list.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-snapshot-list/rbd-snapshot-list.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-trash-list/rbd-trash-list.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/configuration/configuration.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/osd/osd-list/osd-list.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/nfs/nfs-form/nfs-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/nfs/nfs-form/nfs-form.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/nfs/nfs-list/nfs-list.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/nfs/nfs-list/nfs-list.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/constants/app.constants.ts
Labels: bug fix, dashboard, nautilus-batch-1, needs-qa

#31430 mgr/{dashboard,prometheus}: return FQDN instead of '0.0.0.0'
  src/pybind/mgr/dashboard/module.py
  src/pybind/mgr/prometheus/module.py
Labels: dashboard, mgr
