Repository ceph/ceph, pull requests merged in 2019-04, with the labels that each got.

#27264 fio_ceph_messenger: catch up v2 proto changes by using dummy auth
  src/test/fio/ceph-messenger.fio
  src/test/fio/fio_ceph_messenger.cc
Labels: messenger, tests

#27203 doc: removed OpenStack Kilo references in Keystone docs
  doc/radosgw/keystone.rst
Labels: cleanup, documentation

#27269 mgr/dashboard: update vstart to use new ssl port
  src/vstart.sh
Labels: dashboard, needs-backport, needs-review

#27164 mgr/dashboard: Back button component
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/iscsi-target-discovery-modal/iscsi-target-discovery-modal.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/iscsi-target-discovery-modal/iscsi-target-discovery-modal.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/iscsi-target-form/iscsi-target-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/iscsi-target-image-settings-modal/iscsi-target-image-settings-modal.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/iscsi-target-image-settings-modal/iscsi-target-image-settings-modal.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/iscsi-target-iqn-settings-modal/iscsi-target-iqn-settings-modal.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/iscsi-target-iqn-settings-modal/iscsi-target-iqn-settings-modal.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/mirroring/pool-edit-mode-modal/pool-edit-mode-modal.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/mirroring/pool-edit-peer-modal/pool-edit-peer-modal.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-form/rbd-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-snapshot-form/rbd-snapshot-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-trash-move-modal/rbd-trash-move-modal.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-trash-purge-modal/rbd-trash-purge-modal.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-trash-restore-modal/rbd-trash-restore-modal.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/configuration/configuration-form/configuration-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/osd/osd-flags-modal/osd-flags-modal.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/osd/osd-flags-modal/osd-flags-modal.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/osd/osd-recv-speed-modal/osd-recv-speed-modal.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/osd/osd-recv-speed-modal/osd-recv-speed-modal.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/osd/osd-reweight-modal/osd-reweight-modal.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/osd/osd-reweight-modal/osd-reweight-modal.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/osd/osd-scrub-modal/osd-scrub-modal.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/nfs/nfs-form/nfs-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/nfs/nfs-form/nfs-form.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/pool/erasure-code-profile-form/erasure-code-profile-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/pool/pool-form/pool-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-bucket-form/rgw-bucket-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-user-capability-modal/rgw-user-capability-modal.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-user-capability-modal/rgw-user-capability-modal.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-user-form/rgw-user-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-user-s3-key-modal/rgw-user-s3-key-modal.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-user-s3-key-modal/rgw-user-s3-key-modal.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-user-subuser-modal/rgw-user-subuser-modal.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-user-subuser-modal/rgw-user-subuser-modal.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/core/auth/role-form/role-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/core/auth/user-form/user-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/core/mgr-modules/telemetry/telemetry.component.html
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/back-button/back-button.component.html
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/back-button/back-button.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/back-button/back-button.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/back-button/back-button.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/components.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/confirmation-modal/confirmation-modal.component.html
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/confirmation-modal/confirmation-modal.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/confirmation-modal/confirmation-modal.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/critical-confirmation-modal/critical-confirmation-modal.component.html
  src/pybind/mgr/dashboard/frontend/src/locale/messages.xlf
Labels: dashboard, needs-backport

#27074 doc: Updated dashboard iSCSI configuration, added labels
  doc/mgr/dashboard.rst
  doc/rados/configuration/ceph-conf.rst
  doc/rbd/iscsi-overview.rst
  doc/rbd/iscsi-requirements.rst
  doc/releases/nautilus.rst
  doc/start/hardware-recommendations.rst
Labels: dashboard, documentation

#27206 osd: shutdown recovery_request_timer earlier
  src/osd/OSD.cc
Labels: bug fix, core, needs-qa, wip-sage-testing

#26983 mimic: os/bluestore: backport new bitmap allocator
  qa/cephfs/objectstore-ec/bluestore-bitmap.yaml
  qa/cephfs/objectstore-ec/bluestore.yaml
  qa/objectstore/bluestore-bitmap.yaml
  qa/objectstore/bluestore-stupid.yaml
  qa/objectstore_cephfs/bluestore-bitmap.yaml
  qa/objectstore_cephfs/bluestore.yaml
  qa/suites/ceph-deploy/basic/objectstore/bluestore-bitmap.yaml
  qa/suites/ceph-deploy/basic/objectstore/bluestore.yaml
  qa/suites/fs/basic_functional/objectstore/bluestore-bitmap.yaml
  qa/suites/fs/basic_functional/objectstore/bluestore.yaml
  qa/suites/fs/upgrade/featureful_client/old_client/bluestore-bitmap.yaml
  qa/suites/fs/upgrade/featureful_client/old_client/bluestore.yaml
  qa/suites/fs/upgrade/featureful_client/upgraded_client/bluestore-bitmap.yaml
  qa/suites/fs/upgrade/featureful_client/upgraded_client/bluestore.yaml
  qa/suites/rados/singleton-bluestore/objectstore/bluestore-bitmap.yaml
  qa/suites/rados/singleton-bluestore/objectstore/bluestore.yaml
  qa/suites/rados/thrash-erasure-code-overwrites/bluestore-bitmap.yaml
  qa/suites/rados/thrash-erasure-code-overwrites/bluestore.yaml
  qa/suites/rbd/singleton-bluestore/objectstore/bluestore-bitmap.yaml
  qa/suites/rbd/singleton-bluestore/objectstore/bluestore.yaml
  qa/suites/smoke/basic/objectstore/bluestore-bitmap.yaml
  qa/suites/smoke/basic/objectstore/bluestore.yaml
  qa/suites/upgrade/kraken-x/stress-split/objectstore/bluestore-bitmap.yaml
  qa/suites/upgrade/kraken-x/stress-split/objectstore/bluestore.yaml
  qa/suites/upgrade/luminous-x/stress-split/objectstore/bluestore-bitmap.yaml
  qa/suites/upgrade/luminous-x/stress-split/objectstore/bluestore.yaml
  qa/suites/upgrade/mimic-p2p/mimic-p2p-stress-split/objectstore/bluestore-bitmap.yaml
  qa/suites/upgrade/mimic-p2p/mimic-p2p-stress-split/objectstore/bluestore.yaml
  src/os/CMakeLists.txt
  src/os/bluestore/Allocator.cc
  src/os/bluestore/Allocator.h
  src/os/bluestore/BitAllocator.cc
  src/os/bluestore/BitAllocator.h
  src/os/bluestore/BitMapAllocator.cc
  src/os/bluestore/BitMapAllocator.h
  src/os/bluestore/BitmapAllocator.cc
  src/os/bluestore/BitmapAllocator.h
  src/os/bluestore/BlueFS.cc
  src/os/bluestore/BlueStore.cc
  src/os/bluestore/StupidAllocator.cc
  src/os/bluestore/StupidAllocator.h
  src/os/bluestore/fastbmap_allocator_impl.cc
  src/os/bluestore/fastbmap_allocator_impl.h
  src/test/objectstore/Allocator_bench.cc
  src/test/objectstore/Allocator_test.cc
  src/test/objectstore/BitAllocator_test.cc
  src/test/objectstore/CMakeLists.txt
  src/test/objectstore/fastbmap_allocator_test.cc
Labels: bluestore, core, mimic-batch-1, needs-qa, wip-yuri5-testing

#27024 luminous: mds: wait for client to release shared cap when re-acquiring xlock
  src/mds/Locker.cc
  src/mds/SimpleLock.h
Labels: cephfs, luminous-batch-1, needs-qa, wip-yuri4-testing

#26964 luminous: qa: extend MDS heartbeat grace for valgrind
  qa/suites/fs/verify/validater/valgrind.yaml
Labels: cephfs, luminous-batch-1, needs-qa, tests, wip-yuri4-testing

#26820 luminous: qa: Loading libcephfs-jni: Failure!
  doc/api/libcephfs-java.rst
  qa/packages/packages.yaml
  qa/suites/fs/basic_functional/tasks/libcephfs_java.yaml
  qa/workunits/libcephfs-java/test.sh
Labels: cephfs, luminous-batch-1, needs-qa, tests, wip-yuri4-testing

#26805 luminous: qa: unmount clients before deleting fs
  qa/tasks/cephfs/test_misc.py
Labels: cephfs, luminous-batch-1, needs-qa, tests, wip-yuri4-testing

#26776 luminous : qa: bump fsstress timeout to 6h
  qa/cephfs/tasks/cfuse_workunit_suites_fsstress.yaml
Labels: cephfs, luminous-batch-1, needs-qa, tests, wip-yuri4-testing

#26642 luminous: MDSMonitor: do not assign standby-replay when degraded
  src/mon/MDSMonitor.cc
Labels: cephfs, luminous-batch-1, mon, needs-qa, wip-yuri4-testing

#27130 rgw: decrypt filter does not cross multipart boundaries
  src/rgw/rgw_crypt.cc
  src/rgw/rgw_crypt.h
  src/rgw/rgw_rest_s3.cc
  src/test/rgw/test_rgw_crypto.cc
Labels: bug fix, rgw

#27253 qa/tests added mimic-x-singleton suite to rados as symlink
  qa/suites/rados/upgrade/mimic-x-singleton
  qa/suites/upgrade/mimic-x-singleton/%
  qa/suites/upgrade/mimic-x-singleton/.qa
  qa/suites/upgrade/mimic-x-singleton/0-cluster/+
  qa/suites/upgrade/mimic-x-singleton/0-cluster/.qa
  qa/suites/upgrade/mimic-x-singleton/0-cluster/openstack.yaml
  qa/suites/upgrade/mimic-x-singleton/0-cluster/start.yaml
  qa/suites/upgrade/mimic-x-singleton/1-install/.qa
  qa/suites/upgrade/mimic-x-singleton/1-install/mimic.yaml
  qa/suites/upgrade/mimic-x-singleton/2-partial-upgrade/.qa
  qa/suites/upgrade/mimic-x-singleton/2-partial-upgrade/firsthalf.yaml
  qa/suites/upgrade/mimic-x-singleton/3-thrash/.qa
  qa/suites/upgrade/mimic-x-singleton/3-thrash/default.yaml
  qa/suites/upgrade/mimic-x-singleton/4-workload/+
  qa/suites/upgrade/mimic-x-singleton/4-workload/.qa
  qa/suites/upgrade/mimic-x-singleton/4-workload/rbd-cls.yaml
  qa/suites/upgrade/mimic-x-singleton/4-workload/rbd-import-export.yaml
  qa/suites/upgrade/mimic-x-singleton/4-workload/readwrite.yaml
  qa/suites/upgrade/mimic-x-singleton/4-workload/snaps-few-objects.yaml
  qa/suites/upgrade/mimic-x-singleton/5-workload/+
  qa/suites/upgrade/mimic-x-singleton/5-workload/.qa
  qa/suites/upgrade/mimic-x-singleton/5-workload/radosbench.yaml
  qa/suites/upgrade/mimic-x-singleton/5-workload/rbd_api.yaml
  qa/suites/upgrade/mimic-x-singleton/6-finish-upgrade.yaml
  qa/suites/upgrade/mimic-x-singleton/7-nautilus.yaml
  qa/suites/upgrade/mimic-x-singleton/8-workload/+
  qa/suites/upgrade/mimic-x-singleton/8-workload/.qa
  qa/suites/upgrade/mimic-x-singleton/8-workload/rbd-python.yaml
  qa/suites/upgrade/mimic-x-singleton/8-workload/rgw-swift.yaml
  qa/suites/upgrade/mimic-x-singleton/8-workload/snaps-many-objects.yaml
  qa/suites/upgrade/mimic-x-singleton/supported-random-distro$
  qa/suites/upgrade/mimic-x-singleton/thrashosds-health.yaml
Labels: tests

#27244 mgr/dashboard: Fix deletion of NFS protocol properties
  src/pybind/mgr/dashboard/frontend/src/app/ceph/nfs/nfs-form/nfs-form.component.ts
Labels: bug fix, dashboard, needs-backport, needs-review

#27276 rgw multisite: data sync checks empty next_marker for datalog
  src/rgw/rgw_data_sync.cc
Labels: bug fix, rgw, wip-cbodley-testing

#25355 rgw: add optional_yield to http client interface
  src/rgw/rgw_auth_keystone.cc
  src/rgw/rgw_cr_rest.cc
  src/rgw/rgw_cr_rest.h
  src/rgw/rgw_crypt.cc
  src/rgw/rgw_data_sync.cc
  src/rgw/rgw_http_client.cc
  src/rgw/rgw_http_client.h
  src/rgw/rgw_keystone.cc
  src/rgw/rgw_opa.cc
  src/rgw/rgw_rest_client.cc
  src/rgw/rgw_rest_conn.h
  src/rgw/rgw_rest_sts.cc
  src/rgw/rgw_swift_auth.cc
  src/rgw/rgw_sync.cc
Labels: rgw, wip-cbodley-testing

#25353 rgw: add optional_yield to SysObj service interfaces
  src/librados/librados_asio.h
  src/rgw/rgw_bucket.cc
  src/rgw/rgw_cr_rados.cc
  src/rgw/rgw_metadata.cc
  src/rgw/rgw_multi.cc
  src/rgw/rgw_putobj_processor.cc
  src/rgw/rgw_tools.cc
  src/rgw/rgw_tools.h
  src/rgw/rgw_torrent.cc
  src/rgw/rgw_user.cc
  src/rgw/rgw_zone.cc
  src/rgw/services/svc_notify.cc
  src/rgw/services/svc_notify.h
  src/rgw/services/svc_rados.cc
  src/rgw/services/svc_rados.h
  src/rgw/services/svc_sys_obj.cc
  src/rgw/services/svc_sys_obj.h
  src/rgw/services/svc_sys_obj_cache.cc
  src/rgw/services/svc_sys_obj_cache.h
  src/rgw/services/svc_sys_obj_core.cc
  src/rgw/services/svc_sys_obj_core.h
  src/rgw/services/svc_zone.cc
Labels: rgw, wip-cbodley-testing

#26979 luminous: os/bluestore: backport new bitmap allocator
  qa/cephfs/objectstore-ec/bluestore-bitmap.yaml
  qa/cephfs/objectstore-ec/bluestore.yaml
  qa/objectstore/bluestore-bitmap.yaml
  qa/objectstore/bluestore-stupid.yaml
  qa/objectstore_cephfs/bluestore-bitmap.yaml
  qa/objectstore_cephfs/bluestore.yaml
  qa/suites/ceph-deploy/basic/objectstore/bluestore-bitmap.yaml
  qa/suites/ceph-deploy/basic/objectstore/bluestore.yaml
  qa/suites/fs/basic_functional/objectstore/bluestore-bitmap.yaml
  qa/suites/fs/basic_functional/objectstore/bluestore.yaml
  qa/suites/fs/bugs/client_trim_caps/objectstore/bluestore-bitmap.yaml
  qa/suites/fs/bugs/client_trim_caps/objectstore/bluestore.yaml
  qa/suites/rados/singleton-bluestore/objectstore/bluestore-bitmap.yaml
  qa/suites/rados/singleton-bluestore/objectstore/bluestore.yaml
  qa/suites/rados/thrash-erasure-code-overwrites/bluestore-bitmap.yaml
  qa/suites/rados/thrash-erasure-code-overwrites/bluestore.yaml
  qa/suites/rbd/singleton-bluestore/objectstore/bluestore-bitmap.yaml
  qa/suites/rbd/singleton-bluestore/objectstore/bluestore.yaml
  qa/suites/smoke/basic/objectstore/bluestore-bitmap.yaml
  qa/suites/smoke/basic/objectstore/bluestore.yaml
  qa/suites/upgrade/kraken-x/stress-split/objectstore/bluestore-bitmap.yaml
  qa/suites/upgrade/kraken-x/stress-split/objectstore/bluestore.yaml
  src/os/CMakeLists.txt
  src/os/bluestore/Allocator.cc
  src/os/bluestore/Allocator.h
  src/os/bluestore/BitAllocator.cc
  src/os/bluestore/BitAllocator.h
  src/os/bluestore/BitMapAllocator.cc
  src/os/bluestore/BitMapAllocator.h
  src/os/bluestore/BitmapAllocator.cc
  src/os/bluestore/BitmapAllocator.h
  src/os/bluestore/BlueFS.cc
  src/os/bluestore/BlueFS.h
  src/os/bluestore/BlueStore.cc
  src/os/bluestore/BlueStore.h
  src/os/bluestore/StupidAllocator.cc
  src/os/bluestore/StupidAllocator.h
  src/os/bluestore/bluefs_types.h
  src/os/bluestore/bluestore_types.cc
  src/os/bluestore/bluestore_types.h
  src/os/bluestore/fastbmap_allocator_impl.cc
  src/os/bluestore/fastbmap_allocator_impl.h
  src/test/objectstore/Allocator_bench.cc
  src/test/objectstore/Allocator_test.cc
  src/test/objectstore/BitAllocator_test.cc
  src/test/objectstore/CMakeLists.txt
  src/test/objectstore/fastbmap_allocator_test.cc
  src/test/objectstore/test_bluestore_types.cc
Labels: bluestore, core, luminous-batch-1, needs-qa, wip-yuri6-testing

#27260 nautilus: mgr/dashboard: fix sparkline component
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/sparkline/sparkline.component.ts
Labels: bug fix, dashboard, nautilus-batch-1, needs-qa, wip-yuri-testing

#27246 nautilus: ERROR: test_disable (tasks.mgr.dashboard.test_mgr_module.MgrModuleTelemetryTest)
  qa/tasks/mgr/dashboard/test_mgr_module.py
Labels: bug fix, dashboard, nautilus-batch-1, needs-qa, wip-yuri-testing

#27237 nautilus: mgr/dashboard/qa: Improve tasks.mgr.test_dashboard.TestDashboard.test_standby
  qa/tasks/mgr/mgr_test_case.py
  qa/tasks/mgr/test_dashboard.py
  src/pybind/mgr/dashboard/module.py
Labels: cleanup, dashboard, nautilus-batch-1, needs-qa, wip-yuri-testing

#26751 luminous: mgr/dashboard: fix for using '::' on hosts without ipv6
  src/pybind/mgr/dashboard/module.py
  src/pybind/mgr/prometheus/module.py
Labels: dashboard, luminous-batch-1, mgr, needs-qa, wip-yuri2-testing

#27294 mgr/dashboard: Fix NFS squash default value
  src/pybind/mgr/dashboard/frontend/src/app/ceph/nfs/nfs-form/nfs-form.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/nfs/nfs-form/nfs-form.component.ts
Labels: bug fix, dashboard, needs-backport, needs-review

#26616 luminous: qa/standalone/osd/osd-markdown: disable CLI command dups
  qa/standalone/osd/osd-markdown.sh
Labels: core, luminous-batch-1, needs-qa, tests, wip-yuri2-testing

#26535 luminous: mgr/prometheus: add interface and objectstore to osd metadata
  src/pybind/mgr/prometheus/module.py
Labels: luminous-batch-1, mgr, needs-qa, wip-yuri2-testing

#26387 luminous: osd/bluestore: deep fsck fails on inspecting very large onodes
  src/common/legacy_config_opts.h
  src/common/options.cc
  src/os/bluestore/BlueStore.cc
Labels: bluestore, bug fix, core, luminous-batch-1, needs-qa, wip-yuri2-testing

#27063 mds: there is an assertion when calling Beacon::shutdown()
  src/mds/Beacon.cc
Labels: bug fix, cephfs, wip-pdonnell-testing

#27087 mds: remove duplicated check on balance amount
  src/mds/MDBalancer.cc
Labels: cephfs, wip-pdonnell-testing

#26970 mds: initialize cap_revoke_eviction_timeout with conf
  src/mds/Server.cc
Labels: bug fix, cephfs, wip-pdonnell-testing

#26992 mount.ceph.c: do not pass nofail to the kernel
  src/mount/mount.ceph.c
Labels: bug fix, cephfs, wip-pdonnell-testing

#27240 nautilus: mgr: Diskprediction unable to transfer data into the cloud server
  src/pybind/mgr/diskprediction_cloud/agent/metrics/ceph_mon_osd.py
  src/pybind/mgr/diskprediction_cloud/module.py
Labels: bug fix, mgr, wip-sage4-testing

#27216 nautilus: msg/async v2: make v2 work on rdma.
  src/msg/async/PosixStack.cc
  src/msg/async/ProtocolV2.cc
  src/msg/async/Stack.h
  src/msg/async/dpdk/DPDKStack.h
  src/msg/async/rdma/RDMAStack.h
Labels: wip-sage4-testing

#27167 nautilus: mgr/diskprediction_cloud: Correct base64 encode translate table
  src/pybind/mgr/diskprediction_cloud/agent/metrics/ceph_mon_osd.py
  src/pybind/mgr/diskprediction_cloud/module.py
Labels: bug fix, wip-sage4-testing

#27301 qa: remove requirement on simple msgr
  qa/suites/fs/basic_functional/tasks/cephfs-shell/simple.yaml
  qa/suites/fs/basic_functional/tasks/sessionmap/simple.yaml
  qa/suites/fs/basic_functional/tasks/volume-client/task/test/simple.yaml
Labels: bug fix, cephfs, needs-review, wip-pdonnell-testing

#27308 init-ceph: wait longer before resending $signal
  src/init-ceph.in
Labels: core

#26966 mgr/deepsea: use ceph_volume output in get_inventory()
  src/pybind/mgr/deepsea/module.py
Labels: mgr, orchestrator

#27313 mon: quiet devname noise
  src/mon/Monitor.cc
Labels: cleanup, core, needs-backport

#27267 nautilus: mgr/dashboard: Add refresh interval to the dashboard landing page
  src/pybind/mgr/dashboard/frontend/src/app/ceph/dashboard/dashboard/dashboard.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/dashboard/health/health.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/dashboard/health/health.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/components.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/refresh-selector/refresh-selector.component.html
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/refresh-selector/refresh-selector.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/refresh-selector/refresh-selector.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/refresh-selector/refresh-selector.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/services/refresh-interval.service.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/services/refresh-interval.service.ts
  src/pybind/mgr/dashboard/frontend/src/locale/messages.xlf
Labels: dashboard, feature, nautilus-batch-1, needs-qa, needs-review, wip-yuri-testing

#27261 nautilus: mgr: Configure Py root logger for Mgr modules
  src/pybind/mgr/mgr_module.py
Labels: feature, mgr, nautilus-batch-1, needs-qa, wip-yuri-testing

#27180 luminous : rgw: nfs: skip empty (non-POSIX) path segments
  src/rgw/rgw_file.h
Labels: luminous-batch-1, needs-qa, rgw, wip-yuri3-testing

#27173 luminous: rgw: ldap: fix LDAPAuthEngine::init() when uri !empty()
  src/rgw/rgw_rest_s3.cc
Labels: luminous-batch-1, needs-qa, rgw, wip-yuri3-testing

#26064 luminous: core: Objecter::calc_op_budget: Fix invalid access to extent union member
  src/osdc/Objecter.cc
Labels: cephfs, core, luminous-batch-1, needs-qa, rbd, wip-yuri2-testing

#27299 luminous: rgw multisite: data sync checks empty next_marker for datalog
  src/rgw/rgw_data_sync.cc
Labels: bug fix, luminous-batch-1, needs-qa, rgw, wip-yuri4-testing

#27295 luminous: sse-c-fixes
  src/rgw/rgw_crypt.cc
  src/rgw/rgw_crypt.h
  src/rgw/rgw_rest_s3.cc
  src/test/rgw/test_rgw_crypto.cc
Labels: luminous-batch-1, rgw, wip-yuri4-testing

#26549 luminous: rgw: fix rgw_data_sync_info::json_decode()
  src/rgw/rgw_admin.cc
  src/rgw/rgw_data_sync.cc
  src/rgw/rgw_data_sync.h
  src/test/rgw/rgw_multi/tests.py
Labels: bug fix, luminous-batch-1, needs-qa, rgw, wip-yuri4-testing

#26191 luminous: rgw: fetch_remote_obj filters out olh attrs
  src/rgw/rgw_admin.cc
  src/rgw/rgw_rados.cc
  src/rgw/rgw_rados.h
  src/test/rgw/rgw_multi/tests.py
Labels: bug fix, luminous-batch-1, needs-qa, rgw, wip-yuri4-testing

#27223 rgw: race condition between resharding and ops waiting on resharding
  src/rgw/rgw_object_expirer_core.cc
  src/rgw/rgw_rados.cc
  src/rgw/rgw_rados.h
  src/rgw/rgw_reshard.cc
Labels: bug fix, needs-qa, rgw

#27316 doc/rados/operations: document BLUEFS_SPILLOVER
  doc/rados/operations/health-checks.rst
Labels: bluestore, core, documentation

#27307 crimson/osd: do not add whoami as hb peer and cleanups
  src/crimson/os/cyan_store.cc
  src/crimson/osd/heartbeat.cc
  src/crimson/osd/heartbeat.h
  src/crimson/osd/osd.cc
Labels: crimson

#27310 crimson/osd: cache object_info and snapset in PGBackend
  src/crimson/osd/pg.cc
  src/crimson/osd/pg_backend.cc
  src/crimson/osd/pg_backend.h
Labels: crimson

#27328 qa/tests: reduce number of jobs for `kcephfs`
  qa/crontab/teuthology-cronjobs
Labels: cephfs, tests

#27333 rpm: enable devtoolset-8 on aarch64 also
  ceph.spec.in
  install-deps.sh
Labels: build/ops

#27245 mgr/dashboard: Fix typo in NFS form
  src/pybind/mgr/dashboard/frontend/src/app/ceph/nfs/nfs-form/nfs-form.component.html
  src/pybind/mgr/dashboard/frontend/src/locale/messages.xlf
Labels: cleanup, dashboard

#27280 mgr: more GIL fixes
  src/mgr/ActivePyModules.cc
  src/mgr/BaseMgrModule.cc
Labels: bug fix, mgr, needs-qa, wip-kefu-testing

#27343 mon/LogMonitor: add mon_cluster_log_to_file bool option
  src/common/legacy_config_opts.h
  src/common/options.cc
  src/mon/LogMonitor.cc
Labels: core, feature, needs-backport, needs-qa

#27314 nautilus: mon: quiet devname log noise
  src/mon/Monitor.cc
Labels: cleanup, core

#26412 rgw: orphan fixes
  src/rgw/rgw_admin.cc
  src/rgw/rgw_orphan.cc
  src/rgw/rgw_orphan.h
  src/test/cli/radosgw-admin/help.t
Labels: needs-backport, performance, rgw, wip-eric-testing-1

#26183 rgw: Make rgw admin ops api get user info consistent with the command line
  qa/tasks/radosgw_admin_rest.py
  src/rgw/rgw_user.cc
Labels: needs-qa, rgw, wip-eric-testing-1

#26572 mgr/dashboard: unify button/URL actions naming
  src/pybind/mgr/dashboard/HACKING.rst
  src/pybind/mgr/dashboard/frontend/src/app/app-routing.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/block.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/iscsi-target-form/iscsi-target-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/iscsi-target-form/iscsi-target-form.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-form/rbd-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-form/rbd-form.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-list/rbd-list.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-list/rbd-list.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/ceph.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/pool/erasure-code-profile-form/erasure-code-profile-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/pool/erasure-code-profile-form/erasure-code-profile-form.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/pool/pool-details/pool-details.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/pool/pool-form/pool-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/pool/pool-form/pool-form.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/pool/pool-list/pool-list.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/pool/pool.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-bucket-form/rgw-bucket-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-bucket-form/rgw-bucket-form.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-bucket-list/rgw-bucket-list.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-bucket-list/rgw-bucket-list.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-user-capability-modal/rgw-user-capability-modal.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-user-capability-modal/rgw-user-capability-modal.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-user-form/rgw-user-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-user-form/rgw-user-form.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-user-list/rgw-user-list.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-user-list/rgw-user-list.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-user-s3-key-modal/rgw-user-s3-key-modal.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-user-s3-key-modal/rgw-user-s3-key-modal.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-user-subuser-modal/rgw-user-subuser-modal.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-user-subuser-modal/rgw-user-subuser-modal.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-user-swift-key-modal/rgw-user-swift-key-modal.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-user-swift-key-modal/rgw-user-swift-key-modal.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-user-swift-key-modal/rgw-user-swift-key-modal.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/core/auth/auth.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/core/auth/role-form/role-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/core/auth/role-form/role-form.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/core/auth/role-list/role-list.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/core/auth/role-list/role-list.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/core/auth/user-form/user-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/core/auth/user-form/user-form.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/core/auth/user-list/user-list.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/core/auth/user-list/user-list.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/core/core.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/back-button/back-button.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/constants/app.constants.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/services/url-builder.service.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/services/url-builder.service.ts
  src/pybind/mgr/dashboard/frontend/src/locale/messages.xlf
Labels: cleanup, dashboard, needs-backport

#27296 nautilus: sse c fixes
  src/rgw/rgw_crypt.cc
  src/rgw/rgw_crypt.h
  src/rgw/rgw_rest_s3.cc
  src/test/rgw/test_rgw_crypto.cc
Labels: nautilus-batch-1, rgw, wip-yuri-testing

#27191 nautilus: rgw: build async scheduler only when beast is built
  src/rgw/CMakeLists.txt
  src/test/rgw/CMakeLists.txt
  src/test/rgw/test_rgw_dmclock_scheduler.cc
Labels: build/ops, nautilus-batch-1, rgw, wip-yuri-testing

#27297 Mimic sse c fixes
  src/rgw/rgw_crypt.cc
  src/rgw/rgw_crypt.h
  src/rgw/rgw_rest_s3.cc
  src/test/rgw/test_rgw_crypto.cc
Labels: mimic-batch-1, rgw, wip-yuri5-testing

#27179 mimic: rgw: nfs: skip empty (non-POSIX) path segments
  src/rgw/rgw_file.h
Labels: mimic-batch-1, needs-qa, rgw, wip-yuri5-testing

#27174 mimic: rgw: ldap: fix LDAPAuthEngine::init() when uri !empty()
  src/rgw/rgw_rest_s3.cc
Labels: mimic-batch-1, needs-qa, rgw, wip-yuri5-testing

#27029 mimic: rgw: sync module: avoid printing attrs of objects in log
  src/rgw/rgw_sync_module.cc
  src/rgw/rgw_sync_module_es.cc
Labels: mimic-batch-1, needs-qa, rgw, wip-yuri5-testing

#26641 mimic: rgw: only update last_trim marker on ENODATA
  src/rgw/rgw_cr_rados.cc
Labels: mimic-batch-1, needs-qa, rgw, wip-yuri5-testing

#26529 mimic: rgw: check for non-existent bucket in RGWGetACLs
  src/rgw/rgw_op.cc
Labels: mimic-batch-1, needs-qa, rgw, wip-yuri5-testing

#27041 mimic: librbd: avoid aggregate-initializing any static_visitor
  src/test/librbd/operation/test_mock_TrimRequest.cc
Labels: mimic-batch-1, needs-qa, rbd, wip-yuri5-testing

#27039 mimic: librbd: avoid aggregate-initializing IsWriteOpVisitor
  src/librbd/io/ImageDispatchSpec.cc
Labels: mimic-batch-1, needs-qa, rbd, wip-yuri5-testing

#26439 rgw_file: save etag and acl info in setattr
  src/rgw/rgw_file.cc
  src/rgw/rgw_file.h
Labels: bug fix, needs-qa, rgw, wip-eric-testing-1

#26475 luminous: tests: run-standalone.sh set local library location so mgr can find li…
  qa/run-standalone.sh
Labels: core, luminous-batch-1, needs-qa, tests, wip-yuri2-testing

#27312 luminous: os/bluestore: bitmap allocator might fail to return contiguous chunk despite having enough space
  src/os/bluestore/BitmapAllocator.cc
  src/os/bluestore/BitmapAllocator.h
  src/os/bluestore/bluestore_types.h
  src/os/bluestore/fastbmap_allocator_impl.cc
  src/os/bluestore/fastbmap_allocator_impl.h
  src/test/objectstore/fastbmap_allocator_test.cc
Labels: bluestore, bug fix, luminous-batch-1, wip-yuri2-testing

#27293 mgr/dashboard: Fix NFS pseudo validation
  src/pybind/mgr/dashboard/frontend/src/app/ceph/nfs/nfs-form/nfs-form.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/nfs/nfs-form/nfs-form.component.ts
  src/pybind/mgr/dashboard/services/ganesha.py
Labels: bug fix, dashboard, needs-backport

#27351 mimic: mon/OSDMonitor: fix osd boot check
  src/mon/OSDMonitor.cc
Labels: bug fix, core

#27141 mon,osd: various octopus feature bits
  src/include/ceph_features.h
Labels: core, wip-sage2-testing

#27353 include/ceph_features: fix typo
  src/include/ceph_features.h
Labels: cleanup, core

#26016 doc: added section on creating RESTful API user
  doc/mgr/restful.rst
Labels: documentation, mgr, needs-review

#27326 test/librados_test_stub: ensure the log flusher thread is started
  src/test/librados_test_stub/LibradosTestStub.cc
Labels: rbd, tests

#27350 mgr/dashboard: Fix deletion of NFS transports properties
  src/pybind/mgr/dashboard/frontend/src/app/ceph/nfs/nfs-form/nfs-form.component.ts
Labels: bug fix, dashboard, needs-backport, needs-review

#27248 mgr/dashboard: Display the number of iSCSI active sessions
  src/pybind/mgr/dashboard/controllers/iscsi.py
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/iscsi-target-list/iscsi-target-list.component.ts
  src/pybind/mgr/dashboard/frontend/src/locale/messages.xlf
  src/pybind/mgr/dashboard/services/iscsi_client.py
  src/pybind/mgr/dashboard/tests/test_iscsi.py
Labels: DNM, dashboard

#27262 mgr/dashboard: Check if gateway is in use before deletion
  src/pybind/mgr/dashboard/services/iscsi_cli.py
  src/pybind/mgr/dashboard/services/iscsi_config.py
Labels: dashboard, needs-backport, needs-review

#27378 mgr/dashboard: Fix iSCSI disk diff calculation
  src/pybind/mgr/dashboard/controllers/iscsi.py
Labels: dashboard, needs-backport

#27338 crimson/osd: lower debug level on i/o path
  src/crimson/osd/pg.cc
Labels: crimson, performance

#27362 doc/rados/configuration: fix typo in mon-lookup-dns
  doc/rados/configuration/mon-lookup-dns.rst
Labels: documentation

#27358 rpm,cmake: use specified python3 version if any
  ceph.spec.in
  src/CMakeLists.txt
Labels: build/ops, needs-backport

#27238 mds: update projected_version when upgrading snaptable
  src/mds/SnapServer.h
Labels: bug fix, cephfs, wip-pdonnell-testing

#27287 nautilus: mgr/dashboard add polish language
  src/pybind/mgr/dashboard/frontend/src/app/locale.helper.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/language-selector/supported-languages.enum.ts
  src/pybind/mgr/dashboard/frontend/src/locale/messages.pl-PL.xlf
Labels: dashboard, nautilus-batch-1, needs-qa, wip-yuri-testing

#27258 nautilus: backport krbd discard qa fixes to nautilus
  qa/rbd/krbd_discard_512b.t
  qa/rbd/krbd_discard_granularity.t
  qa/suites/krbd/basic/tasks/krbd_discard.yaml
Labels: nautilus-batch-1, needs-qa, rbd, tests, wip-yuri-testing

#27373 doc: Add usage for shortcuts command in cephfs-shell
  doc/cephfs/cephfs-shell.rst
Labels: cephfs, needs-review

#27380 mgr/dashboard: Fix iSCSI target submission
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/iscsi-target-form/iscsi-target-form.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/iscsi-target-form/iscsi-target-form.component.ts
Labels: dashboard, needs-backport

#27266 cephfs-shell: Fix hidden files and directories list by ls command
  src/tools/cephfs/cephfs-shell
Labels: bug fix, cephfs, needs-review

#27383 cmake: should check for PYTHON3_VERSION_STRING
  ceph.spec.in
  src/CMakeLists.txt
Labels: bug fix, build/ops

#26710 crimson/net: lossy connection for ProtocolV2
  src/crimson/CMakeLists.txt
  src/crimson/auth/AuthClient.h
  src/crimson/auth/AuthServer.h
  src/crimson/auth/DummyAuth.h
  src/crimson/net/Connection.h
  src/crimson/net/Fwd.h
  src/crimson/net/Messenger.h
  src/crimson/net/Protocol.cc
  src/crimson/net/Protocol.h
  src/crimson/net/ProtocolV1.cc
  src/crimson/net/ProtocolV1.h
  src/crimson/net/ProtocolV2.cc
  src/crimson/net/ProtocolV2.h
  src/crimson/net/Socket.cc
  src/crimson/net/Socket.h
  src/crimson/net/SocketConnection.cc
  src/crimson/net/SocketConnection.h
  src/crimson/net/SocketMessenger.cc
  src/crimson/net/SocketMessenger.h
  src/include/utime.h
  src/test/crimson/CMakeLists.txt
  src/test/crimson/perf_async_msgr.cc
  src/test/crimson/perf_crimson_msgr.cc
  src/test/crimson/test_alien_echo.cc
  src/test/crimson/test_messenger.cc
Labels: crimson, needs-review

#26161 crimson/net: refactor writes according to connection state
  src/crimson/net/SocketConnection.cc
  src/crimson/net/SocketConnection.h
Labels: crimson, needs-review

#27379 doc : fixed capitalization
  doc/cephfs/client-auth.rst
  doc/cephfs/hadoop.rst
Labels: documentation

#27121 doc/orchestrator: Fix broken bullet points
  doc/mgr/orchestrator_cli.rst
Labels: bug fix, documentation, orchestrator

#27292 src/script/kubejacker: Fix and simplify
  src/script/kubejacker/Dockerfile
  src/script/kubejacker/kubejacker.sh
Labels: orchestrator

#27254 mgr/dashboad: Improve iSCSI overview page
  src/pybind/mgr/dashboard/controllers/health.py
  src/pybind/mgr/dashboard/controllers/iscsi.py
  src/pybind/mgr/dashboard/controllers/tcmu_iscsi.py
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/iscsi-target-details/iscsi-target-details.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/iscsi-target-form/iscsi-target-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/iscsi-target-image-settings-modal/iscsi-target-image-settings-modal.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/iscsi/iscsi.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/iscsi/iscsi.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/iscsi/iscsi.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/iscsi.service.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/tcmu-iscsi.service.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/tcmu-iscsi.service.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/pipes/iscsi-backstore.pipe.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/pipes/iscsi-backstore.pipe.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/pipes/pipes.module.ts
  src/pybind/mgr/dashboard/frontend/src/locale/messages.xlf
  src/pybind/mgr/dashboard/services/iscsi_client.py
  src/pybind/mgr/dashboard/services/tcmu_service.py
  src/pybind/mgr/dashboard/tests/test_tcmu_iscsi.py
Labels: dashboard, needs-backport, needs-review

#26874 osd: OSDMapRef access by multiple threads is unsafe
  src/osd/OSD.cc
  src/osd/PG.cc
Labels: core, needs-qa, wip-sage-testing

#27132 os/bluestore: new bluestore_debug_enforce_settings option.
  src/common/legacy_config_opts.h
  src/common/options.cc
  src/os/bluestore/BlueStore.cc
  src/os/bluestore/BlueStore.h
  src/test/objectstore/store_test.cc
Labels: bluestore, feature, needs-qa, wip-sage-testing

#27317 kv: make delete range optional on number of keys
  src/common/options.cc
  src/kv/RocksDBStore.cc
  src/kv/RocksDBStore.h
Labels: core, needs-qa, performance, wip-sage-testing

#27400 rgw: limit entries in remove_olh_pending_entries()
  src/rgw/rgw_rados.cc
Labels: bug fix, needs-qa, rgw

#27372 nautilus: mgr/dashboard: Error creating NFS export without UDP
  src/pybind/mgr/dashboard/frontend/src/app/ceph/nfs/nfs-form/nfs-form.component.ts
Labels: bug fix, dashboard, nautilus-batch-1, needs-qa, wip-yuri2-testing

#27371 nautilus: mgr/dashboard: NFS Squash field should be required
  src/pybind/mgr/dashboard/frontend/src/app/ceph/nfs/nfs-form/nfs-form.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/nfs/nfs-form/nfs-form.component.ts
Labels: bug fix, dashboard, nautilus-batch-1, needs-qa, wip-yuri2-testing

#27370 nautilus: mgr/dashboard: Cannot submit NFS export form when NFSv4 is not selected
  src/pybind/mgr/dashboard/frontend/src/app/ceph/nfs/nfs-form/nfs-form.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/nfs/nfs-form/nfs-form.component.ts
  src/pybind/mgr/dashboard/services/ganesha.py
Labels: bug fix, dashboard, nautilus-batch-1, needs-qa, wip-yuri2-testing

#27368 nautilus: dashboard: NFS: failed to disable NFSv3 in export create
  src/pybind/mgr/dashboard/frontend/src/app/ceph/nfs/nfs-form/nfs-form.component.ts
Labels: bug fix, dashboard, nautilus-batch-1, needs-qa, wip-yuri2-testing

#27363 nautilus: mgr/dashboard: Filter iSCSI target images based on required features
  src/pybind/mgr/dashboard/controllers/iscsi.py
  src/pybind/mgr/dashboard/controllers/rbd.py
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/iscsi-target-form/iscsi-target-form.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/iscsi-target-form/iscsi-target-form.component.ts
  src/pybind/mgr/dashboard/services/rbd.py
  src/pybind/mgr/dashboard/tests/test_iscsi.py
Labels: dashboard, feature, nautilus-batch-1, needs-qa, wip-yuri2-testing

#27361 nautilus: mgr/dashboard: Fix env vars of `run-tox.sh`
  src/pybind/mgr/dashboard/run-tox.sh
Labels: bug fix, dashboard, nautilus-batch-1, needs-qa, wip-yuri2-testing

#27396 doc: fixed typo in leadership names
  doc/governance.rst
Labels: documentation

#27397 doc: fixed caps
  doc/glossary.rst
Labels: documentation

#27347 nautilus: mon: ok-to-stop commands for mon and mds
  qa/standalone/ceph-helpers.sh
  qa/standalone/misc/ok-to-stop.sh
  src/mds/FSMap.h
  src/mon/MDSMonitor.cc
  src/mon/MonCommands.h
  src/mon/MonMap.h
  src/mon/Monitor.cc
Labels: core, nautilus-batch-1, needs-qa, wip-yuri4-testing

#27346 nautilus: mon: add cluster log to file option
  src/common/legacy_config_opts.h
  src/common/options.cc
  src/mon/LogMonitor.cc
Labels: mon, nautilus-batch-1, needs-qa, wip-yuri4-testing

#27319 nautilus: mgr/deepsea: use ceph_volume output in get_inventory()
  src/pybind/mgr/deepsea/module.py
Labels: bug fix, nautilus-batch-1, needs-qa, orchestrator, wip-yuri4-testing

#27302 nautilus: osd/PGLog.h: print olog_can_rollback_to before deciding to rollback
  src/osd/PGLog.h
Labels: core, nautilus-batch-1, needs-qa, wip-yuri4-testing

#27227 nautilus: mgr/balancer: Python 3 compatibility fix
  src/pybind/mgr/balancer/module.py
Labels: mgr, nautilus-batch-1, needs-qa, needs-review, wip-yuri4-testing

#27128 nautilus: ceph-mgr: ImportError: Interpreter change detected - this module can only be loaded into one interprer per process.
  cmake/modules/Distutils.cmake
Labels: mgr, nautilus-batch-1, needs-qa, wip-yuri4-testing

#27409 vstart: only add --debug-ms=1 in RGWDEBUG
  src/vstart.sh
Labels: rgw

#27257 mimic: crush: add root_bucket to identify underfull buckets
  src/crush/CrushWrapper.cc
  src/crush/CrushWrapper.h
Labels: core, mimic-batch-1, needs-qa, wip-yuri3-testing

#27082 mimic: crush/CrushWrapper: ensure crush_choose_arg_map.size == max_buckets
  qa/workunits/mon/crush_ops.sh
  src/crush/CrushWrapper.cc
Labels: core, mimic-batch-1, needs-qa, wip-yuri3-testing

#26750 mimic: mgr/dashboard: fix for using '::' on hosts without ipv6
  src/pybind/mgr/dashboard/module.py
  src/pybind/mgr/prometheus/module.py
Labels: dashboard, mgr, mimic-batch-1, needs-qa, wip-yuri3-testing

#26537 mimic: mgr/prometheus: add interface and objectstore to osd metadata
  src/pybind/mgr/prometheus/module.py
Labels: mgr, mimic-batch-1, needs-qa, wip-yuri3-testing

#26497 mimic: mgr/balancer: blame if upmap won't actually work
  qa/suites/rados/thrash/d-balancer/upmap.yaml
  src/pybind/mgr/balancer/module.py
Labels: mgr, mimic-batch-1, needs-qa, wip-yuri3-testing

#24639 mimic: mgr: crashdump feature backport
  ceph.spec.in
  debian/ceph-base.dirs
  debian/ceph-base.install
  doc/mgr/crash.rst
  doc/mgr/index.rst
  qa/suites/rados/mgr/tasks/crash.yaml
  qa/suites/rados/singleton/all/test-crash.yaml
  qa/tasks/ceph_manager.py
  qa/tasks/mgr/test_crash.py
  qa/tasks/mgr/test_module_selftest.py
  qa/tasks/vstart_runner.py
  qa/workunits/rados/test_crash.sh
  src/CMakeLists.txt
  src/ceph-crash.in
  src/common/BackTrace.cc
  src/common/BackTrace.h
  src/common/assert.cc
  src/common/ceph_context.cc
  src/common/legacy_config_opts.h
  src/common/options.cc
  src/global/global_context.cc
  src/global/global_context.h
  src/global/global_init.cc
  src/global/signal_handler.cc
  src/log/Log.cc
  src/mgr/ActivePyModule.cc
  src/mgr/ActivePyModule.h
  src/mgr/ActivePyModules.cc
  src/mgr/ActivePyModules.h
  src/mgr/DaemonServer.cc
  src/mgr/PyModuleRegistry.cc
  src/mgr/PyModuleRegistry.h
  src/pybind/mgr/balancer/module.py
  src/pybind/mgr/crash/__init__.py
  src/pybind/mgr/crash/module.py
  src/pybind/mgr/dashboard/module.py
  src/pybind/mgr/hello/module.py
  src/pybind/mgr/influx/module.py
  src/pybind/mgr/iostat/module.py
  src/pybind/mgr/mgr_module.py
  src/pybind/mgr/prometheus/module.py
  src/pybind/mgr/restful/module.py
  src/pybind/mgr/selftest/module.py
  src/pybind/mgr/smart/module.py
  src/pybind/mgr/status/module.py
  src/pybind/mgr/telegraf/module.py
  src/pybind/mgr/telemetry/module.py
  src/pybind/mgr/zabbix/module.py
  src/vstart.sh
  systemd/50-ceph.preset
  systemd/CMakeLists.txt
  systemd/ceph-crash.service.in
Labels: feature, mgr, mimic-batch-1, needs-qa, wip-yuri3-testing

#27403 doc: update documentation for the MANY_OBJECTS_PER_PG warning
  doc/rados/configuration/pool-pg-config-ref.rst
  doc/rados/operations/health-checks.rst
Labels: documentation

#27407 rpm: use python3.4 on RHEL7 by default
  ceph.spec.in
  src/CMakeLists.txt
Labels: build/ops

#27417 rpm: use python 3.6 as the default python3
  ceph.spec.in
Labels: build/ops

#26806 osd: automatically repair replicated replica on pulling error
  qa/standalone/osd/osd-rep-recov-eio.sh
  src/common/legacy_config_opts.h
  src/common/options.cc
  src/osd/PGBackend.h
  src/osd/PrimaryLogPG.cc
  src/osd/PrimaryLogPG.h
  src/osd/ReplicatedBackend.cc
Labels: bug fix, core, needs-qa, wip-kefu-testing

#27324 msg/async: use faster clear method to delete containers
  src/msg/async/AsyncMessenger.cc
Labels: messenger, needs-review, wip-kefu-testing

#27352 common: start logging for non-global_init users
  src/common/common_init.cc
  src/libcephfs.cc
  src/log/Log.h
Labels: bug fix, core, needs-backport, wip-kefu-testing, wip-sage-testing

#27340 ceph-monstore-tool: print out caps when rebuilding monstore
  src/tools/ceph_monstore_tool.cc
Labels: needs-qa, tools, wip-kefu-testing

#27341 msg/async/ProtocolV[12]: add ms_learn_addr_from_peer
  src/common/legacy_config_opts.h
  src/common/options.cc
  src/msg/async/ProtocolV1.cc
  src/msg/async/ProtocolV2.cc
Labels: core, feature, messenger, needs-backport, wip-kefu-testing

#27374 mgr/volume: ceph cephfs metadata pool pg_num_min and bias
  src/pybind/mgr/volumes/module.py
Labels: cephfs, mgr, needs-backport, needs-qa, wip-sage-testing

#27091 S3 compatible pubsub API
  doc/radosgw/pubsub-module.rst
  doc/radosgw/s3-notification-compatibility.rst
  doc/radosgw/s3.rst
  src/rgw/CMakeLists.txt
  src/rgw/rgw_admin.cc
  src/rgw/rgw_amqp.cc
  src/rgw/rgw_amqp.h
  src/rgw/rgw_arn.cc
  src/rgw/rgw_arn.h
  src/rgw/rgw_common.cc
  src/rgw/rgw_common.h
  src/rgw/rgw_iam_policy.cc
  src/rgw/rgw_iam_policy.h
  src/rgw/rgw_json_enc.cc
  src/rgw/rgw_main.cc
  src/rgw/rgw_op.cc
  src/rgw/rgw_pubsub.cc
  src/rgw/rgw_pubsub.h
  src/rgw/rgw_pubsub_push.cc
  src/rgw/rgw_pubsub_push.h
  src/rgw/rgw_rest.cc
  src/rgw/rgw_rest.h
  src/rgw/rgw_rest_role.cc
  src/rgw/rgw_rest_s3.cc
  src/rgw/rgw_rest_sts.cc
  src/rgw/rgw_rest_user_policy.cc
  src/rgw/rgw_sts.cc
  src/rgw/rgw_sts.h
  src/rgw/rgw_sync_module_pubsub.cc
  src/rgw/rgw_sync_module_pubsub.h
  src/rgw/rgw_sync_module_pubsub_rest.cc
  src/test/rgw/CMakeLists.txt
  src/test/rgw/rgw_multi/tests_ps.py
  src/test/rgw/rgw_multi/zone_ps.py
  src/test/rgw/test_rgw_amqp.cc
  src/test/rgw/test_rgw_arn.cc
  src/test/rgw/test_rgw_iam_policy.cc
Labels: needs-qa, rgw

#27437 vstart: add an alias for cephfs-shell to vstart_environment.sh
  src/vstart.sh
Labels: cephfs

#26782 vstart.sh: fix CEPH_PORT check and cleanups
  src/vstart.sh
Labels: cleanup, tools

#27395 nautilus: mgr/dashboard: Fixes tooltip behavior
  src/pybind/mgr/dashboard/frontend/src/app/app.component.ts
Labels: dashboard, nautilus-batch-1, needs-qa, wip-yuri-testing

#27393 nautilus: mgr/dashboard: Add separate option to config SSL port
  doc/mgr/dashboard.rst
  qa/tasks/mgr/dashboard/helper.py
  qa/tasks/mgr/test_dashboard.py
  qa/tasks/mgr/test_module_selftest.py
  src/pybind/mgr/dashboard/module.py
Labels: cleanup, dashboard, nautilus-batch-1, needs-qa, wip-yuri-testing

#27389 nautilus: mgr/dashboard: PreventDefault isn't working on 400 errors
  src/pybind/mgr/dashboard/frontend/src/app/shared/services/api-interceptor.service.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/services/api-interceptor.service.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/services/notification.service.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/services/notification.service.ts
Labels: dashboard, nautilus-batch-1, needs-qa, wip-yuri-testing

#27281 script/ceph-release-notes: alternate merge commit format
  src/script/ceph-release-notes
Labels: tools

#27283 nautilus: mgr/dashboard: Add date range and log search functionality
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/cluster.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/logs/logs.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/logs/logs.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/logs/logs.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/logs/logs.component.ts
  src/pybind/mgr/dashboard/frontend/src/locale/messages.xlf
Labels: dashboard, nautilus-batch-1, wip-yuri-testing

#27414 msg/async: resolve gcc warning
  src/msg/async/ProtocolV2.cc
Labels: bug fix, messenger, needs-qa

#27214 mds: check directory split after rename
  src/mds/Server.cc
Labels: cephfs, needs-review, wip-pdonnell-testing

#27256 mds/server:mds: drop reconnect message from non-existent session
  src/mds/Server.cc
Labels: cephfs, needs-review, wip-pdonnell-testing

#27369 doc: Add note to execute cephfs-shell
  doc/cephfs/cephfs-shell.rst
Labels: cephfs, needs-review

#27427 cephfs-shell: Use colorama module instead of colorize
  src/tools/cephfs/cephfs-shell
Labels: cephfs, needs-review

#27422 doc: fix parameter to set pg autoscale mode
  doc/rados/operations/placement-groups.rst
Labels: core

#27405 nautilus: mgr/dashboard: Back button component
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/iscsi-target-discovery-modal/iscsi-target-discovery-modal.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/iscsi-target-discovery-modal/iscsi-target-discovery-modal.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/iscsi-target-form/iscsi-target-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/iscsi-target-image-settings-modal/iscsi-target-image-settings-modal.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/iscsi-target-image-settings-modal/iscsi-target-image-settings-modal.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/iscsi-target-iqn-settings-modal/iscsi-target-iqn-settings-modal.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/iscsi-target-iqn-settings-modal/iscsi-target-iqn-settings-modal.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/mirroring/pool-edit-mode-modal/pool-edit-mode-modal.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/mirroring/pool-edit-peer-modal/pool-edit-peer-modal.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-form/rbd-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-snapshot-form/rbd-snapshot-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-trash-move-modal/rbd-trash-move-modal.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-trash-purge-modal/rbd-trash-purge-modal.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-trash-restore-modal/rbd-trash-restore-modal.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/configuration/configuration-form/configuration-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/osd/osd-flags-modal/osd-flags-modal.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/osd/osd-flags-modal/osd-flags-modal.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/osd/osd-recv-speed-modal/osd-recv-speed-modal.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/osd/osd-recv-speed-modal/osd-recv-speed-modal.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/osd/osd-reweight-modal/osd-reweight-modal.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/osd/osd-reweight-modal/osd-reweight-modal.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/osd/osd-scrub-modal/osd-scrub-modal.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/nfs/nfs-form/nfs-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/nfs/nfs-form/nfs-form.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/pool/erasure-code-profile-form/erasure-code-profile-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/pool/pool-form/pool-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-bucket-form/rgw-bucket-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-user-capability-modal/rgw-user-capability-modal.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-user-capability-modal/rgw-user-capability-modal.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-user-form/rgw-user-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-user-s3-key-modal/rgw-user-s3-key-modal.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-user-s3-key-modal/rgw-user-s3-key-modal.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-user-subuser-modal/rgw-user-subuser-modal.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-user-subuser-modal/rgw-user-subuser-modal.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/core/auth/role-form/role-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/core/auth/user-form/user-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/core/mgr-modules/telemetry/telemetry.component.html
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/back-button/back-button.component.html
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/back-button/back-button.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/back-button/back-button.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/back-button/back-button.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/components.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/confirmation-modal/confirmation-modal.component.html
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/confirmation-modal/confirmation-modal.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/confirmation-modal/confirmation-modal.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/critical-confirmation-modal/critical-confirmation-modal.component.html
  src/pybind/mgr/dashboard/frontend/src/locale/messages.xlf
Labels: dashboard, nautilus-batch-1, needs-qa, wip-yuri4-testing

#27398 nautilus: mgr/dashboard: FixtureHelper
  src/pybind/mgr/dashboard/frontend/src/app/ceph/pool/erasure-code-profile-form/erasure-code-profile-form.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/pool/pool-form/pool-form.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/testing/unit-test-helper.ts
Labels: dashboard, nautilus-batch-1, needs-qa, wip-yuri4-testing
