Repository ceph/ceph, pull requests merged in 2019-05, with the labels that each got.

#27845 Doc: Update bluestore config docs - fix typo (as -> has)
  doc/rados/configuration/bluestore-config-ref.rst
Labels: bluestore, documentation

#27900 nautilus: doc: add documentation for `fs set min_compat_client`
  doc/cephfs/administration.rst
Labels: cephfs, documentation

#27899 nautilus: doc: add LAZYIO
  doc/cephfs/experimental-features.rst
  doc/cephfs/index.rst
  doc/cephfs/lazyio.rst
Labels: cephfs, documentation

#27747 mimic: mgr/dashboard: Manager should complain about wrong dashboard certificate
  src/pybind/mgr/dashboard/.pylintrc
  src/pybind/mgr/dashboard/module.py
Labels: bug fix, dashboard, mgr, mimic-batch-1, needs-qa, wip-yuri-testing

#27745 mimic: osd/PG: discover missing objects when an OSD peers and PG is degraded
  src/osd/PG.cc
Labels: core, mimic-batch-1, needs-qa, wip-yuri-testing

#27738 mimic: os/bluestore: fix out-of-bound access in bmap allocator.
  src/os/bluestore/fastbmap_allocator_impl.cc
  src/os/bluestore/fastbmap_allocator_impl.h
Labels: bluestore, bug fix, mimic-batch-1, needs-qa, wip-yuri-testing

#27647 mimic: mon/OSDMonitor: further improve prepare_command_pool_set E2BIG error message
  src/mon/OSDMonitor.cc
Labels: cleanup, core, mimic-batch-1, needs-qa, wip-yuri-testing

#27635 mimic: ceph-objectstore-tool: rename dump-import to dump-export
  qa/standalone/special/ceph_objectstore_tool.py
  src/tools/ceph_objectstore_tool.cc
  src/tools/ceph_objectstore_tool.h
Labels: cleanup, core, mimic-batch-1, needs-qa, wip-yuri-testing

#27629 mimic: osd/PGLog: preserve original_crt to check rollbackability
  src/osd/PGLog.cc
  src/osd/PGLog.h
  src/test/osd/TestPGLog.cc
Labels: core, mimic-batch-1, needs-qa, wip-yuri-testing

#27570 mimic: os/bluestore: call fault_range properly prior to looking for blob to …
  src/os/bluestore/BlueStore.cc
Labels: bluestore, bug fix, mimic-batch-1, needs-qa, wip-yuri2-testing

#27366 mimic: os/bluestore: fix length overflow.
  src/os/bluestore/fastbmap_allocator_impl.h
Labels: bluestore, bug fix, mimic-batch-1, needs-qa, wip-yuri2-testing

#27587 mimic: osd: process_copy_chunk remove obc ref before pg unlock
  src/osd/PrimaryLogPG.cc
Labels: core, mimic-batch-1, needs-qa, wip-yuri2-testing

#27558 mimic: mgr/dashboard: Use human readable units on the OSD I/O graphs
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/iscsi/iscsi.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/osd/osd-list/osd-list.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/sparkline/sparkline.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/sparkline/sparkline.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/datatable/table/table.component.html
Labels: bug fix, dashboard, mimic-batch-1, needs-qa, wip-yuri2-testing

#27447 mimic: os/bluestore_tool: bluefs-bdev-expand: indicate bypassed for main dev
  src/os/bluestore/bluestore_tool.cc
Labels: bluestore, bug fix, mimic-batch-1, needs-qa, wip-yuri2-testing

#27763 common/PriorityCache: fix over-aggressive assert when mem limited
  src/common/PriorityCache.cc
Labels: bug fix, core, wip-pdonnell-testing

#27874 Extract peering logic into a module for use in crimson
  admin/build-doc
  doc/dev/osd_internals/map_message_handling.rst
  doc/dev/osd_internals/pg.rst
  qa/standalone/erasure-code/test-erasure-eio.sh
  qa/standalone/osd/osd-backfill-stats.sh
  qa/standalone/osd/osd-recovery-stats.sh
  src/crimson/common/.#log.cc
  src/crimson/osd/recovery_state.h
  src/mon/OSDMonitor.cc
  src/osd/CMakeLists.txt
  src/osd/ECBackend.cc
  src/osd/MissingLoc.cc
  src/osd/MissingLoc.h
  src/osd/OSD.cc
  src/osd/OSD.h
  src/osd/OSDMap.h
  src/osd/PG.cc
  src/osd/PG.h
  src/osd/PGBackend.h
  src/osd/PGLog.cc
  src/osd/PGLog.h
  src/osd/PGStateUtils.cc
  src/osd/PGStateUtils.h
  src/osd/PeeringState.cc
  src/osd/PeeringState.h
  src/osd/PrimaryLogPG.cc
  src/osd/PrimaryLogPG.h
  src/osd/ReplicatedBackend.cc
  src/osd/osd_types.cc
  src/osd/osd_types.h
  src/test/osd/types.cc
Labels: core, crimson

#27844 common: Clang requires a default constructor, but it can be empty
  src/common/bit_vector.hpp
Labels: Clang, common, needs-qa, rbd, wip-jason-testing, wip-kefu-testing

#27910 qa/tests: Excluded "'python34-cephfs','python34-rados'" for runs on nautilus
  qa/suites/upgrade/client-upgrade-luminous/luminous-client-x/basic/1-install/luminous-client-x.yaml
  qa/suites/upgrade/client-upgrade-luminous/luminous-client-x/rbd/1-install/luminous-client-x.yaml
Labels: tests

#27078 qa/tests: initial checkin for `client-upgrade-mimic` suite
  qa/suites/upgrade/client-upgrade-mimic/.qa
  qa/suites/upgrade/client-upgrade-mimic/mimic-client-x/.qa
  qa/suites/upgrade/client-upgrade-mimic/mimic-client-x/basic/%
  qa/suites/upgrade/client-upgrade-mimic/mimic-client-x/basic/.qa
  qa/suites/upgrade/client-upgrade-mimic/mimic-client-x/basic/0-cluster/+
  qa/suites/upgrade/client-upgrade-mimic/mimic-client-x/basic/0-cluster/.qa
  qa/suites/upgrade/client-upgrade-mimic/mimic-client-x/basic/0-cluster/openstack.yaml
  qa/suites/upgrade/client-upgrade-mimic/mimic-client-x/basic/0-cluster/start.yaml
  qa/suites/upgrade/client-upgrade-mimic/mimic-client-x/basic/1-install/.qa
  qa/suites/upgrade/client-upgrade-mimic/mimic-client-x/basic/1-install/mimic-client-x.yaml
  qa/suites/upgrade/client-upgrade-mimic/mimic-client-x/basic/2-workload/.qa
  qa/suites/upgrade/client-upgrade-mimic/mimic-client-x/basic/2-workload/devstack-tempest-gate.yaml
  qa/suites/upgrade/client-upgrade-mimic/mimic-client-x/basic/supported/.qa
  qa/suites/upgrade/client-upgrade-mimic/mimic-client-x/basic/supported/centos_7.4.yaml
  qa/suites/upgrade/client-upgrade-mimic/mimic-client-x/basic/supported/rhel_7.5.yaml
  qa/suites/upgrade/client-upgrade-mimic/mimic-client-x/basic/supported/ubuntu_16.04.yaml
  qa/suites/upgrade/client-upgrade-mimic/mimic-client-x/basic/supported/ubuntu_18.04.yaml
  qa/suites/upgrade/client-upgrade-mimic/mimic-client-x/rbd/%
  qa/suites/upgrade/client-upgrade-mimic/mimic-client-x/rbd/.qa
  qa/suites/upgrade/client-upgrade-mimic/mimic-client-x/rbd/0-cluster/+
  qa/suites/upgrade/client-upgrade-mimic/mimic-client-x/rbd/0-cluster/.qa
  qa/suites/upgrade/client-upgrade-mimic/mimic-client-x/rbd/0-cluster/openstack.yaml
  qa/suites/upgrade/client-upgrade-mimic/mimic-client-x/rbd/0-cluster/start.yaml
  qa/suites/upgrade/client-upgrade-mimic/mimic-client-x/rbd/1-install/.qa
  qa/suites/upgrade/client-upgrade-mimic/mimic-client-x/rbd/1-install/mimic-client-x.yaml
  qa/suites/upgrade/client-upgrade-mimic/mimic-client-x/rbd/2-features/.qa
  qa/suites/upgrade/client-upgrade-mimic/mimic-client-x/rbd/2-features/defaults.yaml
  qa/suites/upgrade/client-upgrade-mimic/mimic-client-x/rbd/2-features/layering.yaml
  qa/suites/upgrade/client-upgrade-mimic/mimic-client-x/rbd/3-workload/.qa
  qa/suites/upgrade/client-upgrade-mimic/mimic-client-x/rbd/3-workload/rbd_notification_tests.yaml
  qa/suites/upgrade/client-upgrade-mimic/mimic-client-x/rbd/supported/.qa
  qa/suites/upgrade/client-upgrade-mimic/mimic-client-x/rbd/supported/centos_7.4.yaml
  qa/suites/upgrade/client-upgrade-mimic/mimic-client-x/rbd/supported/rhel_7.5.yaml
  qa/suites/upgrade/client-upgrade-mimic/mimic-client-x/rbd/supported/ubuntu_16.04.yaml
  qa/suites/upgrade/client-upgrade-mimic/mimic-client-x/rbd/supported/ubuntu_18.04.yaml
Labels: tests

#27820 rgw: drop cloud sync module logs attrs from the log
  src/rgw/rgw_sync_module_aws.cc
Labels: needs-qa, rgw

#27897 rgw: add editor directive comments to rgw services source files
  src/rgw/services/svc_finisher.cc
  src/rgw/services/svc_finisher.h
  src/rgw/services/svc_notify.cc
  src/rgw/services/svc_notify.h
  src/rgw/services/svc_quota.cc
  src/rgw/services/svc_quota.h
  src/rgw/services/svc_rados.cc
  src/rgw/services/svc_rados.h
  src/rgw/services/svc_sync_modules.cc
  src/rgw/services/svc_sync_modules.h
  src/rgw/services/svc_sys_obj.cc
  src/rgw/services/svc_sys_obj.h
  src/rgw/services/svc_sys_obj_cache.cc
  src/rgw/services/svc_sys_obj_cache.h
  src/rgw/services/svc_sys_obj_core.cc
  src/rgw/services/svc_sys_obj_core.h
  src/rgw/services/svc_zone.cc
  src/rgw/services/svc_zone.h
  src/rgw/services/svc_zone_utils.cc
  src/rgw/services/svc_zone_utils.h
Labels: cleanup, rgw

#27687 nautilus: osd: Increase log level of messages which unnecessarily fill up logs
  src/osd/PrimaryLogPG.cc
Labels: cleanup, core, nautilus-batch-1

#27791 nautilus: ceph-volume: add utility functions
  src/ceph-volume/ceph_volume/api/lvm.py
  src/ceph-volume/ceph_volume/tests/api/test_lvm.py
  src/ceph-volume/ceph_volume/tests/util/test_disk.py
  src/ceph-volume/ceph_volume/util/disk.py
Labels: ceph-volume

#26862 mimic: osd: fixup OpTracker destruct assert, waiting_for_osdmap take ref with OpRequest
  src/osd/OSD.cc
Labels: core, mimic-batch-1, needs-qa, wip-yuri3-testing

#26833 mimic: mgr/BaseMgrModule: drop GIL for ceph_send_command
  src/mgr/BaseMgrModule.cc
Labels: mgr, mimic-batch-1, needs-qa, wip-yuri3-testing

#26810 mimic: common/str_map: fix trim() on empty string
  src/common/str_map.cc
  src/test/common/test_str_map.cc
Labels: common, mimic-batch-1, needs-qa, wip-yuri3-testing

#26760 mimic: CLI: ability to change file ownership
  doc/man/8/ceph.rst
  src/ceph.in
Labels: common, mimic-batch-1, needs-qa, wip-yuri4-testing

#26709 mimic: osd/PrimaryLogPG: handle object !exists in handle_watch_timeout
  src/osd/PrimaryLogPG.cc
Labels: core, mimic-batch-1, needs-qa, wip-yuri4-testing

#27860 mimic: msg: output peer address when detecting bad CRCs
  src/msg/Message.cc
Labels: core, mimic-batch-1, needs-qa, wip-yuri-testing

#26811 mimic: run-standalone.sh: Need double-quotes to handle | in core_pattern on all distributions
  qa/run-standalone.sh
Labels: mimic-batch-1, needs-qa, tests, wip-yuri-testing

#26777 mimic: mgr/PyModule: put mgr_module_path first in sys.path
  src/mgr/PyModule.cc
Labels: mgr, mimic-batch-1, needs-qa, wip-yuri-testing

#26495 mimic: test: run-standalone.sh set local library location so mgr can find li…
  qa/run-standalone.sh
Labels: common, mimic-batch-1, needs-qa, wip-yuri-testing

#16929 rgw: Initialize member variables in rgw_sync.h, rgw_rados.h
  src/rgw/rgw_rados.h
  src/rgw/rgw_sync.h
Labels: cleanup, rgw, stale

#27895 librbd: support zero-copy writes via the C API
  qa/valgrind.supp
  src/common/deleter.h
  src/librbd/ImageCtx.cc
  src/librbd/ImageCtx.h
  src/librbd/api/DiffIterate.cc
  src/librbd/api/Group.cc
  src/librbd/cache/ObjectCacherObjectDispatch.cc
  src/librbd/cache/WriteAroundObjectDispatch.cc
  src/librbd/image/CloseRequest.cc
  src/librbd/image/RefreshRequest.cc
  src/librbd/internal.cc
  src/librbd/io/AioCompletion.cc
  src/librbd/io/AioCompletion.h
  src/librbd/io/AsyncOperation.cc
  src/librbd/io/AsyncOperation.h
  src/librbd/io/ImageDispatchSpec.cc
  src/librbd/io/ImageDispatchSpec.h
  src/librbd/io/ImageRequest.cc
  src/librbd/io/ImageRequestWQ.cc
  src/librbd/io/ReadResult.cc
  src/librbd/librbd.cc
  src/librbd/operation/ResizeRequest.cc
  src/test/librbd/io/test_mock_CopyupRequest.cc
  src/test/librbd/io/test_mock_ImageRequest.cc
  src/test/librbd/io/test_mock_ImageRequestWQ.cc
  src/test/librbd/journal/test_Replay.cc
  src/test/librbd/mock/MockImageCtx.h
  src/test/librbd/operation/test_mock_ResizeRequest.cc
  src/test/rbd_mirror/test_ImageSync.cc
Labels: needs-qa, performance, rbd, wip-mgolub-testing

#27922 nautilus: doc: cleanup HTTP Frontends documentation
  doc/radosgw/frontends.rst
Labels: documentation

#27923 nautilus: rgw: update resharding documentation
  doc/radosgw/dynamicresharding.rst
Labels: documentation

#27887 script/backport-create-issue: handle long Redmine issue names
  src/script/backport-create-issue
Labels: bug fix, tools

#27448 mgr/dashboard: Support ceph-iscsi config v9
  src/pybind/mgr/dashboard/controllers/iscsi.py
Labels: bug fix, dashboard, needs-backport

#27838 rgw/pubsub: add multisite pubsub tests to teuthology
  qa/suites/rgw/multisite/realms/three-zone-plus-pubsub.yaml
  qa/tasks/rgw_multisite.py
  qa/tasks/rgw_multisite_tests.py
  src/test/rgw/rgw_multi/tests_ps.py
  src/test/rgw/rgw_multi/zone_ps.py
Labels: rgw, tests

#27638 mimic: mgr: enable inter-module calls
  qa/tasks/mgr/test_module_selftest.py
  src/mgr/ActivePyModule.cc
  src/mgr/ActivePyModule.h
  src/mgr/ActivePyModules.cc
  src/mgr/ActivePyModules.h
  src/mgr/BaseMgrModule.cc
  src/pybind/mgr/mgr_module.py
  src/pybind/mgr/selftest/module.py
Labels: bug fix, mgr, mimic-batch-1, needs-qa, wip-yuri5-testing

#26670 mimic: mgr/dashboard: Update npm packages
  make-dist
  src/pybind/mgr/dashboard/CMakeLists.txt
  src/pybind/mgr/dashboard/frontend/.angular-cli.json
  src/pybind/mgr/dashboard/frontend/.gitignore
  src/pybind/mgr/dashboard/frontend/angular.json
  src/pybind/mgr/dashboard/frontend/karma.conf.js
  src/pybind/mgr/dashboard/frontend/package-lock.json
  src/pybind/mgr/dashboard/frontend/package.json
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-list/rbd-list.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/directives/copy2clipboard-button.directive.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/directives/password-button.directive.ts
  src/pybind/mgr/dashboard/frontend/src/polyfills.ts
  src/pybind/mgr/dashboard/frontend/src/tsconfig.spec.json
  src/pybind/mgr/dashboard/frontend/tsconfig.json
  src/pybind/mgr/dashboard/frontend/tslint.json
  src/pybind/mgr/dashboard/run-frontend-e2e-tests.sh
Labels: dashboard, mimic-batch-1, needs-qa, wip-yuri5-testing

#27896 rgw: add some comments to rgw code to help explain functionality
  src/cls/rgw/cls_rgw.cc
  src/rgw/rgw_zone.h
Labels: documentation, rgw

#26792 mimic: qa/rgw: reduce number of multisite log shards
  qa/suites/rgw/multisite/overrides.yaml
Labels: mimic-batch-1, needs-qa, rgw, tests, wip-yuri2-testing

#27354 mimic: rgw: don't crash on missing /etc/mime.types
  src/rgw/rgw_tools.cc
Labels: mimic-batch-1, needs-qa, rgw, wip-yuri2-testing

#27335 mimic: rgw: fix bug of apply default quota, for this create new a user may core using beast
  src/rgw/rgw_auth.cc
  src/rgw/rgw_user.cc
Labels: mimic-batch-1, needs-qa, rgw, wip-yuri2-testing

#27304 mimic: rgw: fix read not exists null version return wrong
  src/rgw/rgw_rados.cc
Labels: mimic-batch-1, needs-qa, rgw, wip-yuri2-testing

#27122 mimic: rgw: GetBucketCORS API returns Not Found error code when CORS configuration does not exist
  src/common/legacy_config_opts.h
  src/common/options.cc
  src/rgw/rgw_common.cc
  src/rgw/rgw_common.h
  src/rgw/rgw_op.cc
  src/rgw/rgw_rest_s3.cc
Labels: mimic-batch-1, needs-qa, rgw, wip-yuri2-testing

#26615 mimic: multisite: rgw_data_sync_status json decode failure breaks automated datalog trimming
  src/rgw/rgw_admin.cc
  src/rgw/rgw_data_sync.cc
  src/rgw/rgw_data_sync.h
  src/test/rgw/rgw_multi/tests.py
Labels: mimic-batch-1, needs-qa, rgw, wip-yuri2-testing

#26553 mimic: rgw: when exclusive lock fails due existing lock, log add'l info
  src/cls/lock/cls_lock.cc
  src/test/cls_lock/test_cls_lock.cc
Labels: feature, mimic-batch-1, needs-qa, rgw, wip-yuri2-testing

#26194 mimic: multisite: bucket full sync does not handle delete markers
  src/rgw/rgw_data_sync.cc
  src/test/rgw/rgw_multi/tests.py
  src/test/rgw/rgw_multi/zone_rados.py
Labels: mimic-batch-1, needs-qa, rgw, tests, wip-yuri2-testing

#27891 mgr/DaemonServer: refactor pgp_num changes throttling
  src/mgr/DaemonServer.cc
Labels: cleanup, mgr, needs-qa, wip-kefu-testing

#27885 restful: Expose perf counters
  qa/workunits/rest/test_mgr_rest_api.py
  src/pybind/mgr/restful/api/__init__.py
  src/pybind/mgr/restful/api/perf.py
Labels: feature, mgr, needs-qa, wip-kefu-testing

#27538 init-radosgw: use ceph-conf to get cluster configuration value
  src/init-radosgw
Labels: needs-review, rgw

#27850 doc: fix small typo in dashboard documentation
  doc/mgr/dashboard.rst
Labels: dashboard, documentation, needs-review

#27970 rgw: eliminates duplicated tags_bl var
  src/rgw/rgw_rest_s3.h
Labels: cleanup, rgw

#27968 vstart.sh: correct ceph-run path
  src/vstart.sh
Labels: bug fix

#27977 doc/rgw: document CreateBucketConfiguration for s3 PUT Bucket api
  doc/radosgw/placement.rst
  doc/radosgw/s3/bucketops.rst
Labels: documentation, rgw

#26655 mimic: ceph-volume: add --all flag to simple activate
  src/ceph-volume/ceph_volume/devices/simple/activate.py
  src/ceph-volume/ceph_volume/tests/devices/simple/test_activate.py
  src/ceph-volume/ceph_volume/tests/functional/simple/centos7/filestore/activate/test.yml
Labels: ceph-volume, feature

#27785 mgr/dashboard: Allow the decrease of pg's of an existing pool
  qa/tasks/mgr/dashboard/test_pool.py
  src/pybind/mgr/dashboard/frontend/src/app/ceph/pool/pool-form/pool-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/pool/pool-form/pool-form.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/pool/pool-form/pool-form.component.ts
  src/pybind/mgr/dashboard/frontend/src/locale/messages.xlf
Labels: dashboard, needs-review

#27959 mimic: qa/workunits/rbd: use more recent qemu-iotests that support Bionic
  qa/workunits/rbd/qemu-iotests.sh
Labels: mimic-batch-1, needs-qa, rbd, tests, wip-yuri5-testing

#27958 mimic: qa/tasks/rbd_fio: fixed missing delimiter between 'cd' and 'configure'
  qa/tasks/rbd_fio.py
Labels: mimic-batch-1, needs-qa, rbd, tests, wip-yuri5-testing

#27588 mimic: rbd: krbd: return -ETIMEDOUT in polling
  src/krbd.cc
Labels: mimic-batch-1, needs-qa, rbd, wip-yuri5-testing

#27391 mimic: tests: krbd discard qa fixes
  qa/workunits/rbd/krbd_data_pool.sh
  qa/workunits/rbd/krbd_fallocate.sh
Labels: mimic-batch-1, needs-qa, rbd, tests, wip-yuri5-testing

#26140 mimic: rbd_mirror: don't report error if image replay canceled
  src/tools/rbd_mirror/ImageReplayer.cc
Labels: mimic-batch-1, needs-qa, rbd, wip-yuri5-testing

#27828 mimic: rgw: admin: handle delete_at attr in object stat output
  src/rgw/rgw_admin.cc
Labels: mimic-batch-1, needs-qa, rgw, wip-yuri-testing

#27796 mimic: rgw: resolve bugs and clean up garbage collection code
  src/cls/rgw/cls_rgw.cc
  src/common/options.cc
  src/rgw/rgw_gc.cc
Labels: bug fix, mimic-batch-1, needs-qa, rgw, wip-yuri-testing

#27666 mimic: rgw: failed to pass test_bucket_create_naming_bad_punctuation in s3test
  src/rgw/rgw_auth_s3.cc
  src/rgw/rgw_auth_s3.h
Labels: bug fix, mimic-batch-1, needs-qa, rgw, wip-yuri-testing

#27661 mimic: rgw: beast: set a default port for endpoints
  src/rgw/rgw_asio_frontend.cc
Labels: mimic-batch-1, needs-qa, rgw, wip-yuri-testing

#27603 mimic: rgw admin: add tenant argument to reshard cancel
  src/rgw/rgw_admin.cc
Labels: mimic-batch-1, needs-qa, rgw, wip-yuri-testing

#27421 mimic: rgw-admin: fix data sync report for master zone
  src/rgw/rgw_data_sync.cc
Labels: mimic-batch-1, needs-qa, rgw, wip-yuri-testing

#27367 mimic: rgw: Adding tcp_nodelay option to Beast
  doc/radosgw/frontends.rst
  src/rgw/rgw_asio_frontend.cc
Labels: mimic-batch-1, needs-qa, rgw, wip-yuri-testing

#27356 mimic: rgw: Fix S3 compatibility bug when CORS is not found
  src/rgw/rgw_common.cc
  src/rgw/rgw_common.h
  src/rgw/rgw_rest_s3.cc
Labels: mimic-batch-1, needs-qa, rgw, wip-yuri-testing

#27967 rgw/rgw_tools: fix 'osd pool set' json syntax
  src/rgw/rgw_tools.cc
Labels: bug fix, core

#26152 mgr/zabbix Added pools discovery and per-pool statistics
  doc/mgr/zabbix.rst
  src/pybind/mgr/zabbix/module.py
  src/pybind/mgr/zabbix/zabbix_template.xml
Labels: mgr, needs-qa, needs-review

#27932 osd: clean up osdmap sharing
  src/osd/OSD.cc
  src/osd/OSD.h
  src/osd/PG.cc
Labels: cleanup, core, wip-sage-testing

#27975 global/pidfile: pass string_view instead of ConfigProxy to pidfile_wr…
  src/global/global_init.cc
  src/global/pidfile.cc
  src/global/pidfile.h
Labels: cleanup, common, wip-kefu-testing

#27673 nautilus: mgr/dashboard: Localization for date picker module
  src/pybind/mgr/dashboard/HACKING.rst
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/language-selector/language-selector.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/language-selector/language-selector.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/language-selector/supported-languages.enum.ts
Labels: dashboard, feature, needs-review

#27886 nautilus: mgr/prometheus: replace whitespaces in metrics' names
  src/pybind/mgr/prometheus/module.py
Labels: mgr, nautilus-batch-1, needs-qa

#27672 nautilus: mgr/dashboard: Buggy data table search field
  src/pybind/mgr/dashboard/frontend/src/app/shared/datatable/table/table.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/datatable/table/table.component.ts
Labels: bug fix, dashboard, needs-review

#27931 rgw/pubsub: fix doc on updates. fix multi-notifications
  doc/radosgw/pubsub-module.rst
  src/rgw/rgw_pubsub.cc
  src/rgw/rgw_pubsub.h
  src/rgw/rgw_sync_module_pubsub_rest.cc
  src/rgw/services/svc_sys_obj_core.h
  src/test/rgw/rgw_multi/tests_ps.py
  src/test/rgw/rgw_multi/zone_ps.py
  src/test/rgw/test_multi.py
Labels: bug fix, rgw

#27889 nautilus: mgr/dashboard: Make all columns sortable
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/osd/osd-list/osd-list.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/osd/osd-list/osd-list.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/performance-counter/table-performance-counter/table-performance-counter.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/performance-counter/table-performance-counter/table-performance-counter.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/pool/pool-list/pool-list.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/pool/pool-list/pool-list.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/pool/pool-stat.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/pool/pool.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/models/cd-table-column.ts
Labels: dashboard, nautilus-batch-1, needs-qa

#27987 crimson/osd: shutdown services in the right order
  src/crimson/osd/main.cc
Labels: crimson

#27969 rgw: add tenant as parameter to User in multisite tests
  src/test/rgw/rgw_multi/multisite.py
  src/test/rgw/test_multi.py
Labels: rgw, tests

#27947 pybind/tox: pass additional command line arguments through to tox
  src/pybind/mgr/ansible/run-tox.sh
  src/pybind/mgr/dashboard/run-tox.sh
  src/pybind/mgr/insights/run-tox.sh
  src/pybind/mgr/orchestrator_cli/run-tox.sh
Labels: dashboard, needs-qa, orchestrator

#27865 mgr/dashboard/qa: Fix a few linting issues in dashboard backend tests
  qa/tasks/mgr/dashboard/test_pool.py
  qa/tasks/mgr/dashboard/test_rbd.py
  qa/tasks/mgr/dashboard/test_rbd_mirroring.py
  qa/tasks/mgr/dashboard/test_rgw.py
  qa/tasks/mgr/dashboard/test_settings.py
  qa/tasks/mgr/dashboard/test_summary.py
Labels: dashboard, tests

#27841 vstart.sh: enable creating multiple OSDs backed by spdk backend
  src/vstart.sh
Labels: common, tools

#27948 mimic: rgw: get or set realm zonegroup zone should check user's caps for security
  src/rgw/rgw_rest_config.h
  src/rgw/rgw_rest_realm.cc
  src/test/rgw/rgw_multi/tests.py
Labels: bug fix, mimic-batch-1, needs-qa, rgw, wip-yuri3-testing

#27830 osd: Don't include user changeable flag in snaptrim related assert
  src/osd/PrimaryLogPG.h
Labels: bug fix, core

#28000 mgr/dashboard: All RBD features are supported by 'tcmu:runner'
  src/pybind/mgr/dashboard/controllers/iscsi.py
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/iscsi-target-form/iscsi-target-form.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/iscsi-target-form/iscsi-target-form.component.ts
  src/pybind/mgr/dashboard/tests/test_iscsi.py
Labels: dashboard, needs-backport

#26488 mon: show no[deep-]scrub flags per pool in the status
  qa/workunits/cephtool/test.sh
  src/osd/OSDMap.cc
Labels: core, feature, mon

#27981 qa/workunits/rbd: wait for rbd-nbd unmap to complete
  qa/workunits/rbd/rbd-nbd.sh
Labels: needs-qa, rbd, tests, wip-mgolub-testing

#27972 mimic: rgw: when using nfs-ganesha to upload file, rgw es sync module get failed
  src/rgw/rgw_sync_module_es.cc
Labels: bug fix, mimic-batch-1, needs-qa, rgw, wip-yuri3-testing

#27941 doc: Describe recovery and backfill prioritizations
  doc/dev/osd_internals/backfill_reservation.rst
Labels: documentation

#28015 install-deps.sh: install libboost-test for seastar
  install-deps.sh
Labels: build/ops, crimson

#27665 osd: Improve dump_pgstate_history json output
  src/osd/OSD.cc
  src/osd/PG.h
  src/osd/PGStateUtils.cc
  src/test/admin_socket_output.cc
  src/test/admin_socket_output_tests.cc
Labels: cleanup, core

#27413 crimson/osd: support write pid_file when osd start
  src/crimson/CMakeLists.txt
  src/crimson/osd/main.cc
Labels: crimson, needs-review

#27873 crimson: add support for basic write path
  src/crimson/common/shared_lru.h
  src/crimson/common/simple_lru.h
  src/crimson/os/Transaction.h
  src/crimson/os/cyan_store.cc
  src/crimson/os/cyan_store.h
  src/crimson/osd/exceptions.h
  src/crimson/osd/pg.cc
  src/crimson/osd/pg.h
  src/crimson/osd/pg_backend.cc
  src/crimson/osd/pg_backend.h
  src/crimson/thread/Throttle.h
Labels: crimson, feature

#28001 nautilus: mgr/dashboard: Upgrade to ceph-iscsi config v9
  src/pybind/mgr/dashboard/controllers/iscsi.py
Labels: bug fix, dashboard, nautilus-batch-1

#27759 nautilus: mgr/dashboard: Adapt iSCSI discovery auth for read-only users
  src/pybind/mgr/dashboard/controllers/iscsi.py
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/iscsi-target-discovery-modal/iscsi-target-discovery-modal.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/iscsi-target-discovery-modal/iscsi-target-discovery-modal.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/iscsi-target-discovery-modal/iscsi-target-discovery-modal.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/iscsi-target-list/iscsi-target-list.component.html
  src/pybind/mgr/dashboard/frontend/src/locale/messages.xlf
Labels: dashboard, nautilus-batch-1, needs-qa

#27946 mgr/dashboard: Fix iSCSI form when using IPv6
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/iscsi-target-form/iscsi-target-form.component.ts
Labels: bug fix, dashboard

#28013 rgw: use explicit to_string() overload for boost::string_ref
  src/rgw/rgw_json_enc.cc
Labels: bug fix, rgw

#27716 cephfs-shell: fix string decoding for ls command
  src/tools/cephfs/cephfs-shell
Labels: bug fix, cephfs, needs-review

#27843 os/bluestore: fix missing discard in BlueStore::_kv_sync_thread
  src/os/bluestore/BlueStore.cc
Labels: bluestore, bug fix

#27943 mimic: core: ENOENT in collection_move_rename on EC backfill target
  src/osd/PG.cc
  src/osd/PGLog.h
Labels: bug fix, core, mimic-batch-1, needs-qa, wip-yuri-testing

#27907 mimic: tests: osd-markdown.sh can fail with CLI_DUP_COMMAND=1
  qa/standalone/osd/osd-markdown.sh
Labels: core, mimic-batch-1, needs-qa, tests, wip-yuri-testing

#27055 mimic: test/store_test: fix/workaround for BlobReuseOnOverwriteUT and garbageCollection
  src/test/objectstore/store_test.cc
Labels: bluestore, bug fix, mimic-batch-1, needs-qa, tests, wip-yuri-testing

#27940 mimic: osd: FAILED ceph_assert(attrs || !pg_log.get_missing().is_missing(soid) || (it_objects != pg_log.get_log().objects.end() && it_objects->second->op == pg_log_entry_t::LOST_REVERT)) in PrimaryLogPG::get_object_context()
  src/osd/PG.cc
  src/osd/PG.h
  src/osd/PrimaryLogPG.cc
Labels: core, mimic-batch-1, needs-qa, wip-yuri-testing

#27765 rgw: crypto: throw DigestException from Digest and HMAC
  src/common/ceph_crypto.h
  src/rgw/librgw.cc
  src/rgw/rgw_process.cc
Labels: bug fix, needs-qa, rgw, wip-abhi-testing

#27480 mds: check dir fragment to split dir if mkdir makes it oversized
  src/mds/Server.cc
Labels: cephfs, needs-review, wip-pdonnell-testing

#27761 qa: use skipTest method instead of exception
  qa/tasks/ceph_test_case.py
  qa/tasks/cephfs/cephfs_test_case.py
  qa/tasks/cephfs/test_cap_flush.py
  qa/tasks/cephfs/test_client_limits.py
  qa/tasks/cephfs/test_client_recovery.py
  qa/tasks/cephfs/test_config_commands.py
  qa/tasks/cephfs/test_failover.py
  qa/tasks/cephfs/test_misc.py
  qa/tasks/cephfs/test_sessionmap.py
  qa/tasks/cephfs/test_snapshots.py
  qa/tasks/mgr/mgr_test_case.py
  qa/tasks/mgr/test_progress.py
Labels: cephfs, mgr, needs-review, wip-pdonnell-testing

#27482 client: fix fuse client hang because its bad session PipeConnection to mds
  src/client/Client.cc
Labels: cephfs, needs-review, wip-pdonnell-testing

#27688 cephfs pybind: added lseek() function to cephfs pybind
  src/pybind/cephfs/cephfs.pyx
Labels: cephfs, feature, needs-review, wip-pdonnell-testing

#28036 doc/dev/osd_internals/async_recovery: update cost calculation
  doc/dev/osd_internals/async_recovery.rst
Labels: documentation, needs-backport

#27962 mgr/DaemonServer: safe-to-destroy - do not consider irrelevant pgs
  src/mgr/DaemonServer.cc
Labels: bug fix, mgr, needs-qa, wip-kefu-testing

#27925 mgr/restful: do not use filter() for list
  src/pybind/mgr/restful/api/mon.py
  src/pybind/mgr/restful/api/request.py
  src/pybind/mgr/restful/module.py
Labels: bug fix, cleanup, mgr, needs-qa, wip-kefu-testing

#27855 src/: define ceph_release_t and use it
  src/ceph_mon.cc
  src/ceph_osd.cc
  src/client/Client.cc
  src/cls/rbd/cls_rbd.cc
  src/common/CMakeLists.txt
  src/common/admin_socket.cc
  src/common/ceph_releases.cc
  src/common/ceph_releases.h
  src/common/ceph_strings.cc
  src/common/ceph_strings.h
  src/common/entity_name.cc
  src/common/version.cc
  src/common/version.h
  src/crimson/CMakeLists.txt
  src/include/rados.h
  src/librados/RadosClient.cc
  src/mds/MDSMap.cc
  src/mds/MDSMap.h
  src/mds/MDSRank.cc
  src/mds/Server.cc
  src/messages/MMonElection.h
  src/messages/MMonProbe.h
  src/mgr/DaemonServer.cc
  src/mon/Elector.cc
  src/mon/Elector.h
  src/mon/FSCommands.cc
  src/mon/MgrMap.h
  src/mon/MonMap.cc
  src/mon/MonMap.h
  src/mon/Monitor.cc
  src/mon/Monitor.h
  src/mon/MonmapMonitor.cc
  src/mon/MonmapMonitor.h
  src/mon/OSDMonitor.cc
  src/mon/PGMap.cc
  src/mon/mon_types.h
  src/objclass/class_api.cc
  src/objclass/objclass.h
  src/osd/ECBackend.cc
  src/osd/OSD.cc
  src/osd/OSD.h
  src/osd/OSDMap.cc
  src/osd/OSDMap.h
  src/osd/PG.cc
  src/osd/PeeringState.cc
  src/osd/PeeringState.h
  src/osd/PrimaryLogPG.cc
  src/osdc/Objecter.cc
  src/test/librados_test_stub/LibradosTestStub.cc
  src/test/test_features.cc
  src/tools/monmaptool.cc
Labels: cephfs, cleanup, core, needs-qa, wip-kefu-testing

#27942 nautilus: mgr/dashboard: Can't login with a bigger time difference between user and server or make auth token work with UTC times only
  src/pybind/mgr/dashboard/services/access_control.py
Labels: bug fix, dashboard, nautilus-batch-1, needs-qa

#26654 mgr/orchestrator: add progress events to all orchestrators
  doc/mgr/orchestrator_modules.rst
  qa/tasks/mgr/test_orchestrator_cli.py
  src/pybind/mgr/orchestrator.py
  src/pybind/mgr/progress/module.py
  src/pybind/mgr/rook/module.py
  src/pybind/mgr/ssh/module.py
  src/pybind/mgr/test_orchestrator/module.py
Labels: needs-qa, orchestrator, wip-swagner-testing

#28024 nautilus: mgr/dashboard: iSCSI GET requests should not be logged
  src/pybind/mgr/dashboard/services/iscsi_client.py
Labels: dashboard, nautilus-batch-1

#27976 doc: Update link to Red Hat documentation
  doc/radosgw/multisite.rst
Labels: documentation, rgw

#28020 mgr/dashboard: Remove messages.xlf
  .gitignore
  src/pybind/mgr/dashboard/HACKING.rst
  src/pybind/mgr/dashboard/frontend/src/locale/messages.xlf
  src/pybind/mgr/dashboard/run-frontend-unittests.sh
Labels: cleanup, dashboard

#28046 nautilus: doc/dev/osd_internals/async_recovery: update cost calculation
  doc/dev/osd_internals/async_recovery.rst
Labels: documentation

#27963 mimic: crush: backport recent upmap fixes
  src/common/options.cc
  src/crush/CrushWrapper.cc
  src/crush/CrushWrapper.h
  src/osd/OSDMap.cc
  src/osd/OSDMap.h
  src/test/cli/osdmaptool/upmap-out.t
  src/test/cli/osdmaptool/upmap.t
  src/test/osd/TestOSDMap.cc
Labels: core, mimic-batch-1, needs-qa, wip-yuri-testing

#27938 mimic: osd: shutdown recovery_request_timer earlier
  src/osd/OSD.cc
Labels: core, mimic-batch-1, needs-qa, wip-yuri-testing

#27936 nautilus: librbd: re-add support for nautilus clients talking to jewel clusters
  PendingReleaseNotes
  src/librbd/image/RefreshRequest.cc
  src/librbd/image/RefreshRequest.h
  src/test/librbd/image/test_mock_RefreshRequest.cc
Labels: bug fix, nautilus-batch-1, needs-qa, rbd, wip-yuri5-testing

#27680 rgw: rest client fixes for cloud sync XML outputs
  src/rgw/rgw_rest_conn.h
Labels: needs-qa, rgw, wip-abhi-testing

#28009 Add 'RBD_FEATURE_MIGRATING' to rbd.pyx
  src/pybind/rbd/rbd.pyx
Labels: cleanup, needs-qa, pybind, rbd, wip-jason-testing

#27717 mds: output lock state in format dump
  src/mds/SimpleLock.cc
Labels: cephfs, wip-pdonnell-testing

#27934 qa/tests: new suite to test `luminous` clients on `nautilus` cluster
  qa/suites/upgrade/clients-upgrades-luminous-2-nautilus/luminous-client-x/.qa
  qa/suites/upgrade/clients-upgrades-luminous-2-nautilus/luminous-client-x/basic/%
  qa/suites/upgrade/clients-upgrades-luminous-2-nautilus/luminous-client-x/basic/.qa
  qa/suites/upgrade/clients-upgrades-luminous-2-nautilus/luminous-client-x/basic/0-cluster/+
  qa/suites/upgrade/clients-upgrades-luminous-2-nautilus/luminous-client-x/basic/0-cluster/.qa
  qa/suites/upgrade/clients-upgrades-luminous-2-nautilus/luminous-client-x/basic/0-cluster/openstack.yaml
  qa/suites/upgrade/clients-upgrades-luminous-2-nautilus/luminous-client-x/basic/0-cluster/start.yaml
  qa/suites/upgrade/clients-upgrades-luminous-2-nautilus/luminous-client-x/basic/1-install/.qa
  qa/suites/upgrade/clients-upgrades-luminous-2-nautilus/luminous-client-x/basic/1-install/luminous-client-x.yaml
  qa/suites/upgrade/clients-upgrades-luminous-2-nautilus/luminous-client-x/basic/2-workload/.qa
  qa/suites/upgrade/clients-upgrades-luminous-2-nautilus/luminous-client-x/basic/2-workload/devstack-tempest-gate.yaml
  qa/suites/upgrade/clients-upgrades-luminous-2-nautilus/luminous-client-x/basic/supported/.qa
  qa/suites/upgrade/clients-upgrades-luminous-2-nautilus/luminous-client-x/basic/supported/centos_7.4.yaml
  qa/suites/upgrade/clients-upgrades-luminous-2-nautilus/luminous-client-x/basic/supported/rhel_7.5.yaml
  qa/suites/upgrade/clients-upgrades-luminous-2-nautilus/luminous-client-x/basic/supported/ubuntu_16.04.yaml
  qa/suites/upgrade/clients-upgrades-luminous-2-nautilus/luminous-client-x/basic/supported/ubuntu_18.04.yaml
  qa/suites/upgrade/clients-upgrades-luminous-2-nautilus/luminous-client-x/rbd/%
  qa/suites/upgrade/clients-upgrades-luminous-2-nautilus/luminous-client-x/rbd/.qa
  qa/suites/upgrade/clients-upgrades-luminous-2-nautilus/luminous-client-x/rbd/0-cluster/+
  qa/suites/upgrade/clients-upgrades-luminous-2-nautilus/luminous-client-x/rbd/0-cluster/.qa
  qa/suites/upgrade/clients-upgrades-luminous-2-nautilus/luminous-client-x/rbd/0-cluster/openstack.yaml
  qa/suites/upgrade/clients-upgrades-luminous-2-nautilus/luminous-client-x/rbd/0-cluster/start.yaml
  qa/suites/upgrade/clients-upgrades-luminous-2-nautilus/luminous-client-x/rbd/1-install/.qa
  qa/suites/upgrade/clients-upgrades-luminous-2-nautilus/luminous-client-x/rbd/1-install/luminous-client-x.yaml
  qa/suites/upgrade/clients-upgrades-luminous-2-nautilus/luminous-client-x/rbd/2-features/.qa
  qa/suites/upgrade/clients-upgrades-luminous-2-nautilus/luminous-client-x/rbd/2-features/defaults.yaml
  qa/suites/upgrade/clients-upgrades-luminous-2-nautilus/luminous-client-x/rbd/2-features/layering.yaml
  qa/suites/upgrade/clients-upgrades-luminous-2-nautilus/luminous-client-x/rbd/3-workload/.qa
  qa/suites/upgrade/clients-upgrades-luminous-2-nautilus/luminous-client-x/rbd/3-workload/rbd_notification_tests.yaml
  qa/suites/upgrade/clients-upgrades-luminous-2-nautilus/luminous-client-x/rbd/supported/.qa
  qa/suites/upgrade/clients-upgrades-luminous-2-nautilus/luminous-client-x/rbd/supported/centos_7.4.yaml
  qa/suites/upgrade/clients-upgrades-luminous-2-nautilus/luminous-client-x/rbd/supported/rhel_7.5.yaml
  qa/suites/upgrade/clients-upgrades-luminous-2-nautilus/luminous-client-x/rbd/supported/ubuntu_16.04.yaml
  qa/suites/upgrade/clients-upgrades-luminous-2-nautilus/luminous-client-x/rbd/supported/ubuntu_18.04.yaml
Labels: luminous-batch-1, tests

#28041 crimson/mon: fix the v1 auth
  src/crimson/mon/MonClient.cc
Labels: crimson

#28053 crimson/osd: can't ‘operator<’ ‘ceph_release_t’ and ‘int’
  src/crimson/osd/osd.cc
Labels: crimson

#28050 msg/async: reduce verbosity of connection timeout failures
  src/msg/async/AsyncConnection.cc
Labels: bug fix, messenger, rbd

#27811 common: make cluster_network work.
  src/common/pick_address.cc
Labels: common, messenger, needs-review

#28048 More PeeringState and related cleanups to ease use in crimson
  src/common/CMakeLists.txt
  src/common/HBHandle.h
  src/common/LogClient.cc
  src/common/LogClient.h
  src/common/LogEntry.h
  src/common/WorkQueue.h
  src/common/ostream_temp.cc
  src/common/ostream_temp.h
  src/crimson/os/CMakeLists.txt
  src/crimson/os/Transaction.cc
  src/crimson/os/cyan_store.cc
  src/crimson/osd/osd.cc
  src/crimson/osd/osd_meta.cc
  src/crimson/osd/pg.cc
  src/crimson/osd/pg.h
  src/crimson/osd/pg_backend.cc
  src/crimson/osd/pg_backend.h
  src/crimson/osd/pg_meta.cc
  src/include/encoding.h
  src/include/types.h
  src/messages/MOSDRepOp.h
  src/os/ObjectStore.cc
  src/os/ObjectStore.h
  src/os/Transaction.cc
  src/os/Transaction.h
  src/osd/CMakeLists.txt
  src/osd/ECBackend.cc
  src/osd/ECBackend.h
  src/osd/ECMsgTypes.h
  src/osd/ECTransaction.cc
  src/osd/ExtentCache.h
  src/osd/MissingLoc.cc
  src/osd/MissingLoc.h
  src/osd/OSD.cc
  src/osd/OSD.h
  src/osd/OpQueueItem.h
  src/osd/PG.cc
  src/osd/PG.h
  src/osd/PGBackend.cc
  src/osd/PGBackend.h
  src/osd/PGTransaction.h
  src/osd/PeeringState.cc
  src/osd/PeeringState.h
  src/osd/PrimaryLogPG.cc
  src/osd/PrimaryLogPG.h
  src/osd/ReplicatedBackend.cc
  src/osd/ReplicatedBackend.h
  src/osd/mClockOpClassSupport.cc
  src/osd/osd_perf_counters.cc
  src/osd/osd_perf_counters.h
  src/osd/osd_types.cc
  src/osd/osd_types.h
  src/tools/ceph_objectstore_tool.cc
Labels: cleanup, core

#28042 doc: improve ceph-backport.sh comment block
  src/script/ceph-backport.sh
Labels: documentation, tools

#27565 mgr/dashboard: Added Object Gateway menu tab tests
  src/pybind/mgr/dashboard/frontend/e2e/rgw/daemons.e2e-spec.ts
Labels: dashboard, needs-review, tests

#27795 rgw: beast frontend uses yield_context to read/write body
  src/rgw/rgw_asio_frontend.cc
Labels: needs-qa, rgw, wip-abhi-testing

#27642 nautilus: doc: Backported dashboard documentation changes
  doc/mgr/dashboard.rst
  doc/rados/configuration/ceph-conf.rst
  doc/rbd/iscsi-overview.rst
  doc/rbd/iscsi-requirements.rst
  doc/releases/nautilus.rst
  doc/start/hardware-recommendations.rst
Labels: dashboard, documentation

#27939 nautilus: mgr/ActivePyModules: handle_command - fix broken lock
  src/mgr/ActivePyModules.cc
Labels: mgr, nautilus-batch-1, needs-qa, wip-yuri6-testing

#27857 nautilus: msg: output peer address when detecting bad CRCs
  src/msg/Message.cc
Labels: core, nautilus-batch-1, needs-qa, wip-yuri6-testing

#27854 nautilus: core: Give recovery for inactive PGs a higher priority
  doc/rados/operations/pools.rst
  qa/standalone/mon/osd-pool-create.sh
  qa/standalone/osd/osd-backfill-prio.sh
  qa/standalone/osd/osd-recovery-prio.sh
  qa/standalone/scrub/osd-recovery-scrub.sh
  qa/workunits/cephtool/test.sh
  src/common/legacy_config_opts.h
  src/common/options.cc
  src/mgr/DaemonServer.cc
  src/mon/OSDMonitor.cc
  src/mon/OSDMonitor.h
  src/mon/PGMap.cc
  src/mon/PGMap.h
  src/osd/PG.cc
  src/osd/PG.h
  src/osd/osd_types.cc
  src/osd/osd_types.h
Labels: bug fix, core, nautilus-batch-1, needs-qa, wip-yuri6-testing

#27654 nautilus: osd/PG: skip rollforward when !transaction_applied during append_log()
  src/osd/PG.cc
  src/osd/PGLog.h
Labels: bug fix, core, nautilus-batch-1, needs-qa, wip-yuri6-testing

#27608 nautilus: mgr/progress: behave if pgs disappear (due to a racing pg merge)
  src/pybind/mgr/progress/module.py
Labels: bug fix, mgr, nautilus-batch-1, needs-qa, wip-yuri6-testing

#28014 mimic: rgw: use chunked encoding to get partial results out faster
  src/rgw/rgw_rest_s3.cc
Labels: bug fix, mimic-batch-1, needs-qa, rgw, wip-yuri4-testing

#21722 osd: partial recovery strategy based on PGLog
  doc/dev/osd_internals/partial_object_recovery.rst
  src/common/legacy_config_opts.h
  src/common/options.cc
  src/include/interval_set.h
  src/messages/MOSDPGLog.h
  src/osd/OSD.cc
  src/osd/PGBackend.h
  src/osd/PGLog.h
  src/osd/PrimaryLogPG.cc
  src/osd/PrimaryLogPG.h
  src/osd/ReplicatedBackend.cc
  src/osd/ReplicatedBackend.h
  src/osd/osd_types.cc
  src/osd/osd_types.h
  src/test/osd/types.cc
  src/tools/ceph-dencoder/types.h
Labels: core, feature

#27877 mon: paxos: empty pending_finishers before retrying any of committing…
  src/mon/Paxos.cc
  src/mon/Paxos.h
Labels: mon, needs-qa, wip-sage-testing

#27928 mon/OSDMonitor: allow pg_num to increase when require_osd_release < N
  src/mon/OSDMonitor.cc
Labels: bug fix, core, needs-qa, wip-sage-testing

#27961 osd: Output Base64 encoding of CRC header if binary data present
  src/common/util.cc
  src/include/util.h
  src/osd/ReplicatedBackend.cc
Labels: cleanup, core

#27914 osd: Include dups in copy_after() and copy_up_to()
  qa/standalone/osd/osd-backfill-recovery-log.sh
  src/osd/PGLog.cc
  src/osd/PeeringState.cc
  src/osd/osd_types.cc
  src/osd/osd_types.h
  src/test/osd/TestPGLog.cc
Labels: bug fix, core, needs-qa, wip-zafman-testing

#27926 pybind/mgr: convert str to int using "int()"
  src/pybind/mgr/insights/module.py
Labels: bug fix, mgr, needs-review
