Repository ceph/ceph, pull requests merged in 2019-08, with the labels that each got.

#29340 mgr/telemetry: specify license when opting in
  src/pybind/mgr/telemetry/module.py
Labels: mgr, wip-sage-testing

#29131 mgr/rook: Add caching for the Dashboard
  src/pybind/mgr/orchestrator.py
  src/pybind/mgr/orchestrator_cli/module.py
  src/pybind/mgr/rook/module.py
  src/pybind/mgr/rook/rook_cluster.py
Labels: orchestrator, performance

#29063 mgr/orchestrator: Split *_stateless_service and add get_feature_set
  doc/mgr/orchestrator_modules.rst
  src/pybind/mgr/ansible/module.py
  src/pybind/mgr/orchestrator.py
  src/pybind/mgr/orchestrator_cli/module.py
  src/pybind/mgr/orchestrator_cli/test_orchestrator.py
  src/pybind/mgr/rook/module.py
  src/pybind/mgr/rook/rook_cluster.py
  src/pybind/mgr/test_orchestrator/module.py
  src/pybind/mgr/volumes/fs/volume.py
Labels: orchestrator

#29364 doc: pg_num should always be a power of two
  doc/rados/operations/placement-groups.rst
Labels: documentation

#29297 ceph-objectstore-tool: set log date format
  qa/standalone/special/ceph_objectstore_tool.py
Labels: needs-review, tests, tools

#29423 doc: Show Jenkins commands
  .github/pull_request_template.md
Labels: documentation

#29446 cmake: add add_tox_test()
  cmake/modules/AddCephTest.cmake
  src/script/run_tox.sh
  src/test/CMakeLists.txt
Labels: bug fix, build/ops, cleanup, tests

#29445 doc: Fix rbd namespace documentation
  doc/man/8/rbd.rst
Labels: documentation, rbd

#29413 test/python: remove stale tests
  src/test/python/.gitignore
  src/test/python/brag-client/.gitignore
  src/test/python/brag-client/setup.py
  src/test/python/brag-client/tests/test_ceph_brag.py
  src/test/python/brag-client/tox.ini
  src/test/python/ceph/.gitignore
  src/test/python/ceph/setup.py
  src/test/python/ceph/tests/test_ceph.py
  src/test/python/ceph/tox.ini
Labels: cleanup, tests

#28331 rgw: permit rgw-admin to populate user info by access-key
  src/rgw/rgw_admin.cc
Labels: feature, rgw

#29309 nautilus: rgw_file: fix invalidation of top-level directories
  src/rgw/rgw_file.cc
  src/rgw/rgw_file.h
Labels: bug fix, nautilus-batch-1, needs-qa, rgw, wip-yuri6-testing

#29252 nautilus: tests: qa/standalone/scrub/osd-scrub-snaps.sh sometimes fails
  qa/standalone/scrub/osd-scrub-snaps.sh
Labels: nautilus-batch-1, needs-qa, tests, wip-yuri6-testing

#28810 nautilus: tools: ceph-kvstore-tool: print db stats
  src/os/bluestore/BlueFS.cc
  src/test/cli/ceph-kvstore-tool/help.t
  src/tools/ceph_kvstore_tool.cc
  src/tools/kvstore_tool.cc
  src/tools/kvstore_tool.h
Labels: feature, nautilus-batch-1, needs-qa, tools, wip-yuri6-testing

#28740 nautilus: common: Keyrings created by ceph auth get are not suitable for ceph auth import
  src/auth/KeyRing.cc
Labels: common, nautilus-batch-1, needs-qa, wip-yuri6-testing

#29240 rgw: Fix bucket versioning vs. swift metadata bug.
  src/rgw/rgw_op.cc
  src/rgw/rgw_rados.cc
  src/rgw/rgw_rados.h
Labels: bug fix, needs-qa, rgw, wip-eric-testing-1

#29179 rgw: mitigate bucket list with max-entries excessively high
  src/rgw/rgw_rados.cc
  src/rgw/rgw_rados.h
Labels: bug fix, needs-qa, performance, rgw, wip-eric-testing-1

#29178 rgw: add a small efficiency
  src/rgw/rgw_rados.cc
Labels: cleanup, needs-qa, performance, rgw, wip-eric-testing-1

#28789 rgw: fix drain handles error when deleting bucket with bypass-gc option
  src/rgw/rgw_bucket.cc
Labels: bug fix, needs-qa, rgw, wip-eric-testing-1

#28587 rgw: fix a bug that lifecycle expiraton generates delete marker continuously
  src/rgw/rgw_lc.cc
Labels: bug fix, needs-qa, rgw, wip-eric-testing-1

#29453 nautilus: qa/tasks/cbt.py: change port to work with client_endpoints
  qa/tasks/cbt.py
Labels: tests

#29181 rgw: add rgw_rados_pool_recovery_priority (default 5)
  src/common/options.cc
  src/rgw/rgw_tools.cc
Labels: needs-qa, rgw, wip-eric-testing-1

#29396 cmake: update FindBoost.cmake
  cmake/modules/FindBoost.cmake
Labels: build/ops, needs-qa, wip-kefu-testing

#29397 common: use of malloc.h is deprecated
  src/common/allocator.h
Labels: cleanup, common, needs-qa, wip-kefu-testing

#29349 rpm: put librgw lttng SOs in the librgw-devel package
  ceph.spec.in
Labels: build/ops, needs-qa, wip-kefu-testing

#28881 os/Transaction: dump alloc hint flags in op
  src/os/Transaction.cc
Labels: core, feature, needs-qa, wip-sage-testing

#29379 os/bluestore: s/align_down/p2align/
  src/common/align.h
  src/os/bluestore/KernelDevice.cc
  src/os/bluestore/NVMEDevice.cc
Labels: bluestore, cleanup, common, needs-qa, wip-sage-testing

#29088 mgr/dashboard: Allow disabling redirection on standby Dashboards
  doc/mgr/dashboard.rst
  qa/tasks/mgr/test_dashboard.py
  src/pybind/mgr/dashboard/module.py
Labels: dashboard, feature

#29046 mgr/dashboard: Provide user enable/disable capability
  doc/mgr/dashboard.rst
  qa/tasks/mgr/dashboard/test_user.py
  src/pybind/mgr/dashboard/controllers/user.py
  src/pybind/mgr/dashboard/frontend/src/app/core/auth/auth.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/core/auth/user-form/user-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/core/auth/user-form/user-form.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/core/auth/user-form/user-form.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/core/auth/user-form/user-form.model.ts
  src/pybind/mgr/dashboard/frontend/src/app/core/auth/user-list/user-list.component.html
  src/pybind/mgr/dashboard/frontend/src/app/core/auth/user-list/user-list.component.ts
  src/pybind/mgr/dashboard/services/access_control.py
  src/pybind/mgr/dashboard/tests/test_access_control.py
Labels: dashboard, feature

#29401 ceph-volume: detect ceph-disk osd if PARTLABEL is missing
  src/ceph-volume/ceph_volume/tests/conftest.py
  src/ceph-volume/ceph_volume/tests/util/test_device.py
  src/ceph-volume/ceph_volume/util/constants.py
  src/ceph-volume/ceph_volume/util/device.py
  src/ceph-volume/ceph_volume/util/disk.py
Labels: ceph-volume

#29464 nautilus: ceph-volume does not recognize wal/db partitions created by ceph-disk
  src/ceph-volume/ceph_volume/tests/conftest.py
  src/ceph-volume/ceph_volume/tests/util/test_device.py
  src/ceph-volume/ceph_volume/util/constants.py
  src/ceph-volume/ceph_volume/util/device.py
  src/ceph-volume/ceph_volume/util/disk.py
Labels: bug fix, ceph-volume

#25962 rgw: swift: bugfix: https://tracker.ceph.com/issues/37765
  src/rgw/rgw_op.cc
Labels: rgw, stale

#28637 rgw: s/std::map/boost::container::flat_map/ cls_bucket_list_ordered
  src/cls/rgw/cls_rgw.cc
  src/cls/rgw/cls_rgw_types.cc
  src/cls/rgw/cls_rgw_types.h
  src/rgw/rgw_admin.cc
  src/rgw/rgw_bucket.cc
  src/rgw/rgw_rados.cc
  src/rgw/rgw_rados.h
Labels: cleanup, rgw

#29408 common/options.cc: change default value of bluestore_fsck_on_mount_deep to false
  src/common/options.cc
Labels: bluestore

#29391 nautilus: osd/OSD: auto mark heartbeat sessions as stale and tear them down
  src/common/options.cc
  src/osd/OSD.cc
  src/osd/OSD.h
Labels: core, nautilus-batch-1, needs-qa, wip-yuri4-testing

#29204 nautilus: tests: make: *** [hello_world_cpp] Error 127 in rados
  qa/workunits/ceph-helpers-root.sh
  qa/workunits/rados/test_envlibrados_for_rocksdb.sh
  qa/workunits/rados/test_librados_build.sh
Labels: bug fix, nautilus-batch-1, needs-qa, tests, wip-yuri4-testing

#29162 nautilus: bluestore: Set concurrent max_background_compactions in rocksdb to 2
  src/common/options.cc
Labels: bluestore, nautilus-batch-1, needs-qa, performance, wip-yuri4-testing

#29102 nautilus: mgr/dashboard: Fix npm vulnerabilities
  src/pybind/mgr/dashboard/frontend/package-lock.json
  src/pybind/mgr/dashboard/frontend/package.json
Labels: bug fix, dashboard, nautilus-batch-1, needs-qa, wip-yuri4-testing

#29007 nautilus: build/ops: rpm: drop SuSEfirewall2
  ceph.spec.in
  etc/sysconfig/SuSEfirewall2.d/services/ceph-mon
  etc/sysconfig/SuSEfirewall2.d/services/ceph-osd-mds
Labels: build/ops, nautilus-batch-1, needs-qa, wip-yuri4-testing

#28573 nautilus: bluestore: 50-100% iops lost due to bluefs_preextend_wal_files = false
  src/os/bluestore/KernelDevice.cc
Labels: bluestore, bug fix, nautilus-batch-1, needs-qa, wip-yuri4-testing

#28187 nautilus: tests: osd-backfill-space.sh test failed in TEST_backfill_multi_partial()
  qa/standalone/osd/osd-backfill-space.sh
  qa/suites/rados/standalone/workloads/mon-seesaw.yaml
Labels: nautilus-batch-1, needs-qa, tests, wip-yuri4-testing

#29060 nautilus: mgr/orchestrator: Cache and DeepSea iSCSI + NFS
  src/pybind/mgr/deepsea/module.py
  src/pybind/mgr/mgr_module.py
  src/pybind/mgr/orchestrator.py
  src/pybind/mgr/orchestrator_cli/module.py
  src/pybind/mgr/rook/module.py
  src/pybind/mgr/selftest/module.py
  src/pybind/mgr/ssh/module.py
  src/pybind/mgr/test_orchestrator/module.py
Labels: nautilus-batch-1, needs-qa, orchestrator, wip-yuri4-testing

#29291 cmake: require CMake v3.10.2
  CMakeLists.txt
  alpine/APKBUILD.in
  ceph.spec.in
  cmake/modules/FindStdFilesystem.cmake
  install-deps.sh
  make-dist
  src/CMakeLists.txt
  src/include/config-h.in.cmake
  src/libcephfs.cc
Labels: build/ops, cleanup

#29322 objclass, osd: clean up the cls-host interface. Turn ClassHandler into singleton
  src/CMakeLists.txt
  src/objclass/class_api.cc
  src/osd/CMakeLists.txt
  src/osd/ClassHandler.cc
  src/osd/ClassHandler.h
  src/osd/OSD.cc
  src/osd/OSD.h
  src/osd/PrimaryLogPG.cc
Labels: cleanup, core, needs-qa, wip-kefu-testing

#29472 osdc: Fix a missing ':' for the correct namespace
  src/osdc/ObjectCacher.cc
Labels: Clang, bug fix, core

#29474 rbd-ggate: fix compile errors from ceph::mutex update
  src/tools/rbd_ggate/Server.cc
Labels: Clang, FreeBSD, bug fix, rbd

#29476 test/journal: always close object
  src/test/journal/test_ObjectRecorder.cc
Labels: needs-qa, rbd, tests

#29403 install-deps.sh: remove failing error catching
  install-deps.sh
Labels: bug fix

#29393 os/bluestore: remove unused _tune_cache_size() method declaration
  src/os/bluestore/BlueStore.h
Labels: bluestore, cleanup

#27675 ceph-volume: print most logging messages to stderr
  src/ceph-volume/ceph_volume/terminal.py
  src/ceph-volume/ceph_volume/tests/devices/lvm/test_activate.py
  src/ceph-volume/ceph_volume/tests/devices/lvm/test_create.py
  src/ceph-volume/ceph_volume/tests/devices/lvm/test_prepare.py
  src/ceph-volume/ceph_volume/tests/devices/simple/test_activate.py
  src/ceph-volume/ceph_volume/tests/devices/test_zap.py
  src/ceph-volume/ceph_volume/tests/test_configuration.py
  src/ceph-volume/ceph_volume/tests/test_process.py
  src/ceph-volume/ceph_volume/tests/util/test_arg_validators.py
  src/ceph-volume/ceph_volume/tests/util/test_system.py
  src/pybind/mgr/test_orchestrator/module.py
Labels: bug fix, ceph-volume, orchestrator

#29458 rgw: drop dead flush_read_list declaration
  src/rgw/rgw_rados.h
Labels: cleanup, needs-qa, rgw

#29415 luminous: simple: when 'type' file is not present activate fails
  src/ceph-volume/ceph_volume/devices/simple/activate.py
  src/ceph-volume/ceph_volume/tests/devices/simple/test_activate.py
Labels: bug fix, ceph-volume

#29344 nautilus: cephfs: mds: cleanup unneeded client_snap_caps when splitting snap inode
  src/mds/CInode.cc
  src/mds/CInode.h
  src/mds/MDCache.cc
Labels: cephfs, nautilus-batch-1, needs-qa, wip-yuri-testing

#29343 nautilus: cephfs: client: set snapdir's link count to 1
  src/client/Client.cc
Labels: cephfs, nautilus-batch-1, needs-qa, wip-yuri-testing

#29275 nautilus: mon: set recovery priority etc on cephfs metadata pool
  src/mon/FSCommands.cc
  src/mon/OSDMonitor.cc
  src/mon/OSDMonitor.h
  src/pybind/mgr/volumes/fs/volume.py
Labels: cephfs, core, nautilus-batch-1, needs-qa, wip-yuri-testing

#29233 nautilus: cephfs: mds: cannot switch mds state from standby-replay to active
  src/mds/MDCache.cc
Labels: bug fix, cephfs, nautilus-batch-1, needs-qa, wip-yuri-testing

#29231 nautilus: cephfs: getattr on snap inode stuck
  src/mds/Locker.cc
Labels: bug fix, cephfs, nautilus-batch-1, needs-qa, wip-yuri-testing

#29209 nautilus: tests: test_volume_client: print python version correctly
  qa/tasks/cephfs/test_volume_client.py
Labels: cephfs, nautilus-batch-1, needs-qa, tests, wip-yuri-testing

#29186 nautilus: cephfs: client: bump ll_ref from int32 to uint64_t
  src/client/Client.cc
  src/client/Client.h
  src/client/Inode.h
Labels: bug fix, cephfs, nautilus-batch-1, needs-qa, wip-yuri-testing

#29158 nautilus: cephfs-shell: name 'files' is not defined error in do_rm()
  src/tools/cephfs/cephfs-shell
Labels: bug fix, cephfs, nautilus-batch-1, needs-qa, wip-yuri-testing

#29157 nautilus: cephfs: ceph-fuse: mount does not support the fallocate()
  src/client/fuse_ll.cc
Labels: bug fix, cephfs, nautilus-batch-1, needs-qa, wip-yuri-testing

#29156 nautilus: cephfs-shell: TypeError in poutput
  src/tools/cephfs/cephfs-shell
Labels: bug fix, cephfs, nautilus-batch-1, needs-qa, wip-yuri-testing

#28609 nautilus: cephfs: ceph_volume_client: d_name needs to be converted to string before using
  src/pybind/ceph_volume_client.py
Labels: cephfs, nautilus-batch-1, needs-qa, wip-yuri-testing

#28583 nautilus: mds: change how mds revoke stale caps
  qa/tasks/cephfs/mount.py
  qa/tasks/cephfs/test_client_recovery.py
  qa/tasks/cephfs/test_misc.py
  src/common/options.cc
  src/mds/CInode.cc
  src/mds/Capability.cc
  src/mds/Capability.h
  src/mds/Locker.cc
  src/mds/Locker.h
  src/mds/MDSRank.h
  src/mds/Server.cc
  src/mds/SessionMap.h
Labels: cephfs, nautilus-batch-1, needs-qa, wip-yuri-testing

#29492 doc: Fix for new ceph-devel mailing list
  doc/dev/internals.rst
Labels: documentation

#29457 cmake: one run_tox.sh to rule them all
  cmake/modules/AddCephTest.cmake
  src/pybind/mgr/ansible/CMakeLists.txt
  src/pybind/mgr/ansible/run-tox.sh
  src/pybind/mgr/dashboard/CMakeLists.txt
  src/pybind/mgr/dashboard/run-tox.sh
  src/pybind/mgr/insights/CMakeLists.txt
  src/pybind/mgr/insights/run-tox.sh
  src/pybind/mgr/orchestrator_cli/CMakeLists.txt
  src/pybind/mgr/orchestrator_cli/run-tox.sh
  src/python-common/CMakeLists.txt
  src/script/run_tox.sh
  src/test/CMakeLists.txt
  src/tools/cephfs/CMakeLists.txt
  src/tools/cephfs/run-tox.sh
Labels: build/ops, cleanup, tests

#29463 mimic: ceph-volume does not recognize wal/db partitions created by ceph-disk
  src/ceph-volume/ceph_volume/tests/conftest.py
  src/ceph-volume/ceph_volume/tests/util/test_device.py
  src/ceph-volume/ceph_volume/util/constants.py
  src/ceph-volume/ceph_volume/util/device.py
  src/ceph-volume/ceph_volume/util/disk.py
Labels: bug fix, core

#29475 install-deps.sh: use chacra for cmake repo
  install-deps.sh
Labels: build/ops, needs-qa

#27859 doc: update bluestore cache settings and clarify data fraction
  doc/rados/configuration/bluestore-config-ref.rst
Labels: bluestore, documentation

#29462 luminous: ceph-volume does not recognize wal/db partitions created by ceph-disk
  src/ceph-volume/ceph_volume/tests/conftest.py
  src/ceph-volume/ceph_volume/tests/util/test_device.py
  src/ceph-volume/ceph_volume/util/constants.py
  src/ceph-volume/ceph_volume/util/device.py
  src/ceph-volume/ceph_volume/util/disk.py
Labels: bug fix, ceph-volume

#29416 nautilus: simple: when 'type' file is not present activate fails
  src/ceph-volume/ceph_volume/devices/simple/activate.py
  src/ceph-volume/ceph_volume/tests/devices/simple/test_activate.py
Labels: bug fix, ceph-volume

#29501 journal: always shutdown JournalRecoreder before destructing it
  src/test/journal/test_JournalRecorder.cc
Labels: bug fix, rbd, tests

#29509 doc: indicate imperative mood for commit titles
  SubmittingPatches.rst
Labels: documentation, needs-review

#29288 mimic: rgw: set null version object issues
  src/rgw/rgw_rados.cc
Labels: bug fix, mimic-batch-1, needs-qa, rgw, wip-yuri6-testing

#29285 mimic: rgw: provide admin-friendly reshard status output
  doc/radosgw/dynamicresharding.rst
  src/cls/rgw/cls_rgw_types.cc
  src/cls/rgw/cls_rgw_types.h
  src/rgw/rgw_reshard.cc
Labels: mimic-batch-1, needs-qa, rgw, wip-yuri6-testing

#29284 mimic: rgw: multisite: RGWListBucketIndexesCR for data full sync needs pagination
  src/rgw/rgw_data_sync.cc
Labels: bug fix, mimic-batch-1, needs-qa, rgw, wip-yuri6-testing

#29279 mimic: rgw/OutputDataSocket: append_output(buffer::list&) says it will (but does not) discard output at data_max_backlog
  src/common/OutputDataSocket.cc
  src/common/OutputDataSocket.h
Labels: bug fix, mimic-batch-1, needs-qa, rgw, wip-yuri6-testing

#29277 mimic: rgw_file: include tenant when hashing bucket names
  src/rgw/rgw_file.cc
  src/rgw/rgw_file.h
Labels: bug fix, mimic-batch-1, needs-qa, rgw, wip-yuri6-testing

#29273 mimic: rgw: Multisite sync corruption for large multipart obj
  src/rgw/rgw_http_client.cc
  src/rgw/rgw_rados.cc
  src/test/rgw/test_http_manager.cc
Labels: bug fix, mimic-batch-1, needs-qa, rgw, wip-yuri6-testing

#29270 mimic: rgw: multisite: 'radosgw-admin bucket sync status' should call syncs_from(source.name) instead of id
  src/rgw/rgw_admin.cc
  src/rgw/rgw_rados.h
Labels: bug fix, mimic-batch-1, needs-qa, rgw, wip-yuri6-testing

#29268 mimic: rgw: the Multi-Object Delete operation of S3 API wrongly handles the Code response element
  src/rgw/rgw_rest_s3.cc
Labels: bug fix, mimic-batch-1, needs-qa, rgw, wip-yuri6-testing

#29267 mimic: rgw: Swift interface: server side copy fails if object name contains '?'
  src/rgw/rgw_op.cc
  src/rgw/rgw_rest_s3.cc
  src/rgw/rgw_rest_swift.cc
Labels: bug fix, mimic-batch-1, needs-qa, rgw, wip-yuri6-testing

#29262 mimic: rgw: Add support for --bypass-gc flag of radosgw-admin bucket rm command in RGW Multi-site
  src/rgw/rgw_rados.cc
  src/rgw/rgw_rados.h
Labels: feature, mimic-batch-1, needs-qa, rgw, wip-yuri6-testing

#29256 mimic: rgw: multisite: period pusher gets 403 Forbidden against other zonegroups
  src/rgw/rgw_period_pusher.cc
Labels: bug fix, mimic-batch-1, needs-qa, rgw, wip-yuri6-testing

#29255 mimic: rgw: S3 policy evaluated incorrectly
  src/rgw/rgw_op.cc
Labels: mimic-batch-1, needs-qa, rgw, wip-yuri6-testing

#29498 qa/tasks/ceph_manager: remove race from all_active_or_peered()
  qa/tasks/ceph_manager.py
Labels: core, wip-kefu-testing, wip-sage2-testing, wip-sage3-testing

#29382 mgr/prometheus: Cast collect_timeout (scrape_interval) to float
  src/pybind/mgr/prometheus/module.py
Labels: mgr, needs-review

#29506 nautilus: ceph-volume prints errors to stdout with --format json
  src/ceph-volume/ceph_volume/terminal.py
  src/ceph-volume/ceph_volume/tests/devices/lvm/test_activate.py
  src/ceph-volume/ceph_volume/tests/devices/lvm/test_create.py
  src/ceph-volume/ceph_volume/tests/devices/lvm/test_prepare.py
  src/ceph-volume/ceph_volume/tests/devices/simple/test_activate.py
  src/ceph-volume/ceph_volume/tests/devices/test_zap.py
  src/ceph-volume/ceph_volume/tests/test_configuration.py
  src/ceph-volume/ceph_volume/tests/test_process.py
  src/ceph-volume/ceph_volume/tests/util/test_arg_validators.py
  src/ceph-volume/ceph_volume/tests/util/test_system.py
  src/pybind/mgr/test_orchestrator/module.py
Labels: bug fix, ceph-volume

#29508 luminous: ceph-volume prints errors to stdout with --format json
  src/ceph-volume/ceph_volume/terminal.py
  src/ceph-volume/ceph_volume/tests/devices/lvm/test_activate.py
  src/ceph-volume/ceph_volume/tests/devices/lvm/test_create.py
  src/ceph-volume/ceph_volume/tests/devices/lvm/test_prepare.py
  src/ceph-volume/ceph_volume/tests/devices/simple/test_activate.py
  src/ceph-volume/ceph_volume/tests/devices/test_zap.py
  src/ceph-volume/ceph_volume/tests/test_configuration.py
  src/ceph-volume/ceph_volume/tests/test_process.py
  src/ceph-volume/ceph_volume/tests/util/test_arg_validators.py
  src/ceph-volume/ceph_volume/tests/util/test_system.py
Labels: bug fix, ceph-volume

#29417 mimic: simple: when 'type' file is not present activate fails
  src/ceph-volume/ceph_volume/devices/simple/activate.py
  src/ceph-volume/ceph_volume/tests/devices/lvm/strategies/test_bluestore.py
  src/ceph-volume/ceph_volume/tests/devices/simple/test_activate.py
Labels: bug fix, ceph-volume

#29507 mimic: ceph-volume prints errors to stdout with --format json
  src/ceph-volume/ceph_volume/terminal.py
  src/ceph-volume/ceph_volume/tests/devices/lvm/test_activate.py
  src/ceph-volume/ceph_volume/tests/devices/lvm/test_create.py
  src/ceph-volume/ceph_volume/tests/devices/lvm/test_prepare.py
  src/ceph-volume/ceph_volume/tests/devices/simple/test_activate.py
  src/ceph-volume/ceph_volume/tests/devices/test_zap.py
  src/ceph-volume/ceph_volume/tests/test_configuration.py
  src/ceph-volume/ceph_volume/tests/test_process.py
  src/ceph-volume/ceph_volume/tests/util/test_arg_validators.py
  src/ceph-volume/ceph_volume/tests/util/test_system.py
Labels: bug fix, ceph-volume

#29461 qa/tasks/mgr/dashboard/test_mgr_module: sync w/ telemetry
  qa/tasks/mgr/dashboard/test_mgr_module.py
Labels: bug fix, dashboard, tests

#29521 mgr/dashboard: fix HACKING.rst is not rendered on github
  src/pybind/mgr/dashboard/HACKING.rst
Labels: bug fix, dashboard

#29451 github: Add CODEOWNERs for designated code-owner reviews
  .github/CODEOWNERS
Labels: dashboard, tools

#29525 mgr/dashboard: add python-common to $PYTHONPATH
  src/pybind/mgr/dashboard/run-backend-api-tests.sh
Labels: dashboard, tests

#29438 script/ceph-backport.sh: Use secure access for tracker.ceph.com
  src/script/ceph-backport.sh
Labels: tools

#29425 [bluestore][tools] Inspect allocations in bluestore
  doc/man/8/ceph-bluestore-tool.rst
  doc/rados/operations/health-checks.rst
  src/common/admin_socket.cc
  src/common/admin_socket.h
  src/os/bluestore/Allocator.cc
  src/os/bluestore/Allocator.h
  src/os/bluestore/BitmapAllocator.cc
  src/os/bluestore/BitmapAllocator.h
  src/os/bluestore/BlueFS.cc
  src/os/bluestore/BlueFS.h
  src/os/bluestore/BlueStore.cc
  src/os/bluestore/BlueStore.h
  src/os/bluestore/StupidAllocator.cc
  src/os/bluestore/StupidAllocator.h
  src/os/bluestore/bluestore_tool.cc
  src/os/bluestore/fastbmap_allocator_impl.cc
  src/os/bluestore/fastbmap_allocator_impl.h
  src/test/objectstore/Allocator_test.cc
Labels: bluestore

#28813 rgw : Bucket mv, bucket chown and user rename utilities
  doc/man/8/radosgw-admin.rst
  doc/radosgw/adminops.rst
  doc/radosgw/keystone.rst
  doc/radosgw/multitenancy.rst
  qa/tasks/radosgw_admin.py
  src/cls/version/cls_version_types.h
  src/common/legacy_config_opts.h
  src/common/options.cc
  src/rgw/rgw_acl.cc
  src/rgw/rgw_acl.h
  src/rgw/rgw_admin.cc
  src/rgw/rgw_auth.cc
  src/rgw/rgw_auth.h
  src/rgw/rgw_auth_registry.h
  src/rgw/rgw_auth_s3.h
  src/rgw/rgw_basic_types.h
  src/rgw/rgw_bucket.cc
  src/rgw/rgw_bucket.h
  src/rgw/rgw_common.h
  src/rgw/rgw_dencoder.cc
  src/rgw/rgw_frontend.h
  src/rgw/rgw_json_enc.cc
  src/rgw/rgw_main.cc
  src/rgw/rgw_op.cc
  src/rgw/rgw_op.h
  src/rgw/rgw_rest_bucket.cc
  src/rgw/rgw_rest_s3.h
  src/rgw/rgw_rest_sts.h
  src/rgw/rgw_swift_auth.h
  src/rgw/rgw_user.cc
  src/rgw/rgw_user.h
  src/test/cli/radosgw-admin/help.t
Labels: feature, needs-qa, rgw

#29494 test: Bump sleep time for slower machines
  qa/standalone/scrub/osd-scrub-test.sh
Labels: core, tests

#29407 mgr/dashboard: Verify manager modules have editing functionality
  src/pybind/mgr/dashboard/frontend/e2e/cluster/mgr-modules.e2e-spec.ts
  src/pybind/mgr/dashboard/frontend/e2e/cluster/mgr-modules.po.ts
  src/pybind/mgr/dashboard/frontend/e2e/page-helper.po.ts
Labels: dashboard, needs-review, tests

#29432 mgr/dashboard: E2E Dashboard Page Test Suite
  src/pybind/mgr/dashboard/frontend/e2e/dashboard.e2e-spec.ts
  src/pybind/mgr/dashboard/frontend/e2e/dashboard.po.ts
  src/pybind/mgr/dashboard/frontend/e2e/helper.po.ts
Labels: dashboard, needs-review, tests

#29450 mgr/dashboard: Verify fields on Monitors page
  src/pybind/mgr/dashboard/frontend/e2e/cluster/monitors.e2e-spec.ts
  src/pybind/mgr/dashboard/frontend/e2e/page-helper.po.ts
Labels: dashboard, needs-review, tests

#29452 mgr/dashboard: Verify fields on Crush map page
  src/pybind/mgr/dashboard/frontend/e2e/cluster/crush-map.e2e-spec.ts
  src/pybind/mgr/dashboard/frontend/e2e/cluster/crush-map.po.ts
Labels: dashboard, needs-review, tests

#29534 mgr/dashboard: fix RBD snapshot protected label
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-snapshot-list/rbd-snapshot-list.component.html
Labels: bug fix, dashboard, needs-review

#29317 mgr/dashboard: Prevent clone when layering not enabled on parent image
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-details/rbd-details.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-snapshot-list/rbd-snapshot-actions.model.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-snapshot-list/rbd-snapshot-list.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-snapshot-list/rbd-snapshot-list.component.ts
Labels: bug fix, dashboard

#29546 mgr/telemetry: clear the event after being awaken by it
  src/pybind/mgr/telemetry/module.py
Labels: bug fix, mgr, wip-kefu-testing

#29514 mgr/hello: some clean up and modernization
  src/pybind/mgr/hello/module.py
Labels: mgr

#29468 pybind/mgr/rbd_support: use image ids to detect duplicate tasks
  qa/workunits/rbd/test_rbd_tasks.sh
  src/pybind/mgr/rbd_support/module.py
Labels: bug fix, needs-qa, rbd, wip-mgolub-testing

#29538 rgw: fix unlock of shared lock in RGWDataChangesLog
  src/rgw/rgw_bucket.cc
Labels: bug fix, rgw

#29449 vstart: move common rgw config to [client.rgw]
  src/vstart.sh
Labels: rgw, tests

#29539 luminous: bluestore: Inspect allocations
  doc/man/8/ceph-bluestore-tool.rst
  doc/rados/operations/health-checks.rst
  src/common/admin_socket.cc
  src/common/admin_socket.h
  src/os/bluestore/Allocator.cc
  src/os/bluestore/Allocator.h
  src/os/bluestore/BitmapAllocator.cc
  src/os/bluestore/BitmapAllocator.h
  src/os/bluestore/BlueFS.cc
  src/os/bluestore/BlueFS.h
  src/os/bluestore/BlueStore.cc
  src/os/bluestore/BlueStore.h
  src/os/bluestore/StupidAllocator.cc
  src/os/bluestore/StupidAllocator.h
  src/os/bluestore/bluestore_tool.cc
  src/os/bluestore/fastbmap_allocator_impl.cc
  src/os/bluestore/fastbmap_allocator_impl.h
  src/test/objectstore/Allocator_test.cc
Labels: bluestore

#29559 rgw: Move upload_info declaration out of conditional
  src/rgw/rgw_op.cc
Labels: bug fix, rgw

#29517 osd: make PastIntervals a member of pg_notify_t
  src/crimson/osd/osd_operations/compound_peering_request.cc
  src/messages/MOSDPGInfo.h
  src/messages/MOSDPGNotify.h
  src/osd/OSD.cc
  src/osd/OSD.h
  src/osd/PGPeeringEvent.h
  src/osd/PeeringState.cc
  src/osd/PeeringState.h
  src/osd/osd_types.cc
  src/osd/osd_types.h
Labels: cleanup, core, needs-qa, wip-sage-testing

#27542 qa/tasks: Fix ambiguous store_thrash, thrash_store
  qa/suites/rados/monthrash/thrashers/force-sync-many.yaml
  qa/tasks/mon_thrash.py
Labels: bug fix, mon, needs-qa, tests, wip-sage-testing

#29541 qa/tests: added rbd task on ec
  qa/suites/upgrade/nautilus-x/stress-split-erasure-code/3.1-objectstore
  qa/suites/upgrade/nautilus-x/stress-split-erasure-code/4-ec-workload/%
  qa/suites/upgrade/nautilus-x/stress-split-erasure-code/4-ec-workload/rados-ec-workload.yaml
  qa/suites/upgrade/nautilus-x/stress-split-erasure-code/4-ec-workload/rbd-ec-workload.yaml
Labels: needs-review, rbd, tests

#29385 qa/tasks/mgr/test_progress.py: fix bug in 9b4dbf0
  qa/tasks/mgr/test_progress.py
  src/pybind/mgr/progress/module.py
Labels: bug fix, needs-qa, tests, wip-kefu-testing, wip-sage-testing

#29488 os/bluestore: no need protected by OpSequencer::qlock.
  src/os/bluestore/BlueStore.cc
Labels: bluestore, cleanup, needs-qa, wip-kefu-testing

#29465 os/bluestore: no need to add tail length (revert PR#29185)
  src/os/bluestore/BlueStore.cc
Labels: bluestore, bug fix, wip-kefu-testing

#29486 ceph.in: fix verbose print
  src/ceph.in
  src/pybind/ceph_argparse.py
Labels: needs-review, tools, wip-kefu-testing

#29477 osd: pg as a mutex
  src/osd/OSD.cc
  src/osd/PG.cc
  src/osd/PrimaryLogPG.cc
Labels: cleanup, core, needs-qa, wip-kefu-testing

#29495 common/Finisher: remove some lock acquisitions.
  src/common/Finisher.h
  src/osd/OSD.cc
Labels: common, needs-qa, performance, wip-kefu-testing

#29400 do_freebsd.sh: update build scripts to resemble Jenkins scripts
  do_freebsd.sh
  install-deps.sh
Labels: FreeBSD, build/ops

#29560 rgw_file: dont deadlock in advance_mtime()
  src/rgw/rgw_file.cc
  src/rgw/rgw_file.h
Labels: bug fix, rgw

#29528 admin/build-doc: use python3
  admin/build-doc
  admin/doc-requirements.txt
  doc_deps.deb.txt
Labels: bug fix, build/ops, documentation, python3

#29558 rgw: fix unlock of shared lock in RGWCache
  src/rgw/rgw_cache.cc
Labels: bug fix, rgw

#29540 rgw: followup for 'user rename'
  src/rgw/rgw_admin.cc
  src/rgw/rgw_bucket.cc
  src/rgw/rgw_bucket.h
  src/rgw/rgw_user.cc
  src/rgw/rgw_user.h
Labels: rgw

#28227 mon/OSDMonitor: Use generic priority cache tuner for mon caches
  doc/rados/configuration/mon-config-ref.rst
  qa/suites/rados/singleton/all/mon-memory-target-compliance.yaml.disabled
  src/common/legacy_config_opts.h
  src/common/options.cc
  src/common/simple_cache.hpp
  src/mon/MonitorDBStore.h
  src/mon/OSDMonitor.cc
  src/mon/OSDMonitor.h
  src/os/filestore/DBObjectMap.h
  src/test/mon/CMakeLists.txt
  src/test/mon/test_log_rss_usage.cc
  src/test/mon/test_mon_memory_target.cc
  src/test/mon/test_mon_rss_usage.cc
Labels: core, feature, mon, needs-qa, needs-test, wip-sseshasa2-testing

#27637 luminous: qa/suites/rados/verify/tasks/rados_api_tests: whitelist OBJECT_MISPLACED
  qa/suites/rados/verify/tasks/rados_api_tests.yaml
Labels: luminous-batch-1, needs-qa, tests

#28157 docs: improve rgw ldap auth options
  doc/radosgw/config-ref.rst
  doc/radosgw/ldap-auth.rst
Labels: documentation, rgw

#29378 crimson/net: lossless policy for v2 protocol
  src/crimson/net/Config.h
  src/crimson/net/Connection.h
  src/crimson/net/Errors.cc
  src/crimson/net/Errors.h
  src/crimson/net/Messenger.h
  src/crimson/net/Protocol.cc
  src/crimson/net/Protocol.h
  src/crimson/net/ProtocolV1.cc
  src/crimson/net/ProtocolV1.h
  src/crimson/net/ProtocolV2.cc
  src/crimson/net/ProtocolV2.h
  src/crimson/net/Socket.cc
  src/crimson/net/Socket.h
  src/crimson/net/SocketConnection.cc
  src/crimson/net/SocketConnection.h
  src/crimson/net/SocketMessenger.cc
  src/crimson/net/SocketMessenger.h
Labels: crimson

#29076 crimson/osd: implement replicated write
  src/crimson/osd/CMakeLists.txt
  src/crimson/osd/acked_peers.h
  src/crimson/osd/ec_backend.cc
  src/crimson/osd/ec_backend.h
  src/crimson/osd/osd.cc
  src/crimson/osd/osd.h
  src/crimson/osd/osd_connection_priv.h
  src/crimson/osd/osd_operation.h
  src/crimson/osd/osd_operations/replicated_request.cc
  src/crimson/osd/osd_operations/replicated_request.h
  src/crimson/osd/pg.cc
  src/crimson/osd/pg.h
  src/crimson/osd/pg_backend.cc
  src/crimson/osd/pg_backend.h
  src/crimson/osd/replicated_backend.cc
  src/crimson/osd/replicated_backend.h
  src/crimson/osd/shard_services.cc
Labels: crimson

#29547 ceph-volume: never log to stdout, use stderr instead
  src/ceph-volume/ceph_volume/terminal.py
  src/ceph-volume/ceph_volume/tests/test_main.py
  src/ceph-volume/ceph_volume/tests/test_process.py
  src/ceph-volume/ceph_volume/tests/test_terminal.py
  src/ceph-volume/ceph_volume/tests/util/test_system.py
Labels: bug fix, ceph-volume

#29553 rgw: http client drops lock before suspending coroutine
  src/rgw/rgw_http_client.cc
Labels: bug fix, needs-qa, rgw

#29605 common: remove unused _STR and STRINGIFY macro
  src/common/BackTrace.cc
  src/common/common_init.cc
Labels: cleanup

#29061 nautilus: mgr/dashboard: Optimize the calculation of portal IPs
  src/pybind/mgr/dashboard/controllers/iscsi.py
  src/pybind/mgr/dashboard/services/iscsi_client.py
  src/pybind/mgr/dashboard/tests/test_iscsi.py
Labels: bug fix, dashboard, nautilus-batch-1, needs-qa, tests, wip-yuri5-testing

#29045 nautilus: mgr/dashboard: Display logged in information for each iSCSI client
  src/pybind/mgr/dashboard/controllers/iscsi.py
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/iscsi-target-details/iscsi-target-details.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/iscsi-target-details/iscsi-target-details.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/iscsi-target-details/iscsi-target-details.component.ts
  src/pybind/mgr/dashboard/services/iscsi_client.py
  src/pybind/mgr/dashboard/tests/test_iscsi.py
Labels: dashboard, feature, nautilus-batch-1, needs-qa, wip-yuri5-testing

#29044 nautilus: mgr/dashboard: Changing rgw-api-host does not get effective without disable/enable dashboard mgr module
  src/pybind/mgr/dashboard/services/rgw_client.py
Labels: bug fix, dashboard, nautilus-batch-1, needs-qa, wip-yuri5-testing

#28992 nautilus: build/ops: Module 'dashboard' has failed: No module named routes
  debian/control
Labels: build/ops, dashboard, nautilus-batch-1, needs-qa, wip-yuri5-testing

#28974 nautilus: mgr/dashboard: Upgrade to ceph-iscsi config v10
  src/pybind/mgr/dashboard/controllers/iscsi.py
  src/pybind/mgr/dashboard/services/iscsi_config.py
Labels: bug fix, dashboard, nautilus-batch-1, needs-qa, wip-yuri5-testing

#28968 nautilus: mgr/dashboard: Silence Alertmanager alerts
  doc/mgr/dashboard.rst
  src/pybind/mgr/dashboard/controllers/prometheus.py
  src/pybind/mgr/dashboard/frontend/src/app/app-routing.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/cluster.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/prometheus/alert-list/alert-list.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/prometheus/alert-list/alert-list.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/prometheus/alert-list/alert-list.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/prometheus/alert-list/alert-list.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/prometheus/prometheus-list/prometheus-list.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/prometheus/prometheus-tabs/prometheus-tabs.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/prometheus/prometheus-tabs/prometheus-tabs.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/prometheus/prometheus-tabs/prometheus-tabs.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/prometheus/prometheus-tabs/prometheus-tabs.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/prometheus/silence-form/silence-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/prometheus/silence-form/silence-form.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/prometheus/silence-form/silence-form.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/prometheus/silence-form/silence-form.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/prometheus/silence-list/silence-list.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/prometheus/silence-list/silence-list.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/prometheus/silence-list/silence-list.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/prometheus/silence-list/silence-list.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/prometheus/silence-matcher-modal/silence-matcher-modal.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/prometheus/silence-matcher-modal/silence-matcher-modal.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/prometheus/silence-matcher-modal/silence-matcher-modal.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/prometheus/silence-matcher-modal/silence-matcher-modal.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/core/navigation/navigation/navigation.component.html
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/prometheus.service.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/prometheus.service.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/settings.service.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/settings.service.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/constants/app.constants.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/enum/icons.enum.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/models/alertmanager-silence.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/models/prometheus-alerts.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/services/prometheus-alert-formatter.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/services/prometheus-alert.service.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/services/prometheus-alert.service.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/services/prometheus-notification.service.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/services/prometheus-notification.service.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/services/prometheus-silence-matcher.service.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/services/prometheus-silence-matcher.service.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/services/time-diff.service.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/services/time-diff.service.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/services/url-builder.service.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/services/url-builder.service.ts
  src/pybind/mgr/dashboard/frontend/src/testing/unit-test-helper.ts
  src/pybind/mgr/dashboard/settings.py
  src/pybind/mgr/dashboard/tests/test_prometheus.py
Labels: dashboard, feature, nautilus-batch-1, needs-qa, wip-yuri5-testing

#28912 nautilus: mgr/dashboard: Dentries value of MDS daemon in Filesystems page is inconsistent with ceph fs status output
  src/pybind/mgr/dashboard/controllers/cephfs.py
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cephfs/cephfs-chart/cephfs-chart.component.ts
Labels: bug fix, dashboard, nautilus-batch-1, needs-qa, wip-yuri5-testing

#28889 nautilus: mgr/dashboard: cephfs multimds graphs stack together
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cephfs/cephfs-chart/cephfs-chart.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cephfs/cephfs-chart/cephfs-chart.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cephfs/cephfs-clients/cephfs-clients.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cephfs/cephfs-detail/cephfs-detail.component.html
Labels: bug fix, dashboard, nautilus-batch-1, needs-qa, wip-yuri5-testing

#28833 nautilus: mgr/dashboard: notify the user about unset 'mon_allow_pool_delete' flag beforehand
  qa/tasks/mgr/dashboard/test_cluster_configuration.py
  src/pybind/mgr/dashboard/frontend/src/app/ceph/pool/pool-list/pool-list.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/pool/pool-list/pool-list.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/datatable/table-actions/table-actions.component.html
  src/pybind/mgr/dashboard/frontend/src/app/shared/datatable/table-actions/table-actions.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/shared/datatable/table-actions/table-actions.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/datatable/table-actions/table-actions.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/models/cd-table-action.ts
Labels: bug fix, dashboard, nautilus-batch-1, needs-qa, wip-yuri5-testing

#29439 nautilus: rocksdb: rocksdb_rmrange related improvements
  src/common/options.cc
  src/kv/RocksDBStore.cc
  src/kv/RocksDBStore.h
Labels: core, nautilus-batch-1, needs-qa, wip-yuri3-testing

#29571 ceph-objectstore-tool: update-mon-db: do not fail if incmap is missing
  src/tools/rebuild_mondb.cc
Labels: bug fix, needs-qa, tools, wip-kefu-testing

#29418 OSD: modify n.cookie to op.notify.cookie
  src/osd/PrimaryLogPG.cc
Labels: cleanup, core, needs-qa, wip-kefu-testing

#29522 os/bluestore: deferred IO notify and locking optimization
  src/os/bluestore/BlueStore.cc
  src/os/bluestore/BlueStore.h
Labels: bluestore, needs-qa, performance, wip-kefu-testing

#29342 osd: support osd_scrub_extended_sleep
  qa/standalone/scrub/osd-scrub-test.sh
  src/common/legacy_config_opts.h
  src/common/options.cc
  src/osd/OSD.cc
  src/osd/OSD.h
  src/osd/PG.cc
Labels: core, feature, needs-qa, wip-kefu-testing

#29615 qa/tasks/mgr/dashboard/test_health: add missing field for test_full_h…
  qa/tasks/mgr/dashboard/test_health.py
Labels: bug fix, dashboard, tests

#29587 rgw: don't throw when accept errors are happening on frontend
  src/rgw/rgw_asio_frontend.cc
Labels: bug fix, needs-qa, rgw

#29603 luminous: ceph-volume prints log messages to stdout
  src/ceph-volume/ceph_volume/terminal.py
  src/ceph-volume/ceph_volume/tests/test_main.py
  src/ceph-volume/ceph_volume/tests/test_process.py
  src/ceph-volume/ceph_volume/tests/test_terminal.py
  src/ceph-volume/ceph_volume/tests/util/test_system.py
Labels: bug fix, ceph-volume
