Repository ceph/ceph, pull requests merged in 2019-12, with the labels that each got.

#31442 kv/RocksDBStore: Add minimum key limit before invoking DeleteRange.
  src/common/options.cc
  src/kv/RocksDBStore.cc
  src/kv/RocksDBStore.h
Labels: bug fix, core, needs-qa, performance, wip-sage4-testing

#31900 mgr: fix debug typo
  src/mgr/ActivePyModules.cc
Labels: mgr, needs-qa, wip-sage2-testing

#30631 BlueFS: prevent BlueFS::dirty_files from being leaked when syncing metadata
  src/os/bluestore/BlueFS.cc
Labels: bluestore, bug fix, needs-qa, wip-kefu-testing

#31840 msg/async/dpdk: fix compilation errors when WITH_DPDK=on
  src/msg/async/dpdk/DPDK.cc
  src/msg/async/dpdk/DPDKStack.h
  src/msg/async/dpdk/IP.cc
  src/msg/async/dpdk/IP.h
Labels: messenger, wip-kefu-testing

#31723 test/bench_log: add usage function
  src/test/bench_log.cc
Labels: needs-qa, tests, wip-kefu-testing

#31915 osd: remove useless ceph_assert.
  src/osd/PeeringState.cc
Labels: cleanup, core, needs-qa, wip-kefu-testing

#31841 cmake: Add dpdk numa support
  cmake/modules/BuildDPDK.cmake
  cmake/modules/FindNUMA.cmake
  cmake/modules/patch-dpdk-conf.sh
Labels: build/ops, wip-kefu-testing

#31317 cmake: update FindBoost.cmake for 1.71
  cmake/modules/FindBoost.cmake
Labels: build/ops, wip-kefu-testing

#31774 Balancer fixes without all of the calc_pg_upmaps() rewrites
  qa/standalone/mgr/balancer.sh
  src/common/options.cc
  src/crush/CrushWrapper.cc
  src/crush/CrushWrapper.h
  src/mgr/PyOSDMap.cc
  src/osd/OSDMap.cc
  src/osd/OSDMap.h
  src/pybind/mgr/balancer/module.py
  src/test/cli/osdmaptool/help.t
  src/test/cli/osdmaptool/upmap-out.t
  src/test/cli/osdmaptool/upmap.t
  src/test/crush/CrushWrapper.cc
  src/test/osd/TestOSDMap.cc
  src/tools/osdmaptool.cc
Labels: bug fix, core, mgr, performance, tools, wip-kefu-testing

#31903 os/bluestore: don't round_up_to in apply_for_bitset_range.
  src/os/bluestore/BlueFS.cc
Labels: bluestore, bug fix, needs-qa, wip-kefu-testing

#31764 mgr/dashboard: Eye candy updates to datatable pages
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/iscsi/iscsi.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/iscsi/iscsi.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-snapshot-list/rbd-snapshot-list.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-snapshot-list/rbd-snapshot-list.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/inventory/inventory-devices/inventory-devices.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/inventory/inventory-devices/inventory-devices.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/osd/osd-list/osd-list.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/osd/osd-list/osd-list.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/shared/device-list/device-list.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/shared/device-list/device-list.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/datatable/table-key-value/table-key-value.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/datatable/table/table.component.html
  src/pybind/mgr/dashboard/frontend/src/app/shared/datatable/table/table.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/datatable/table/table.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/enum/cell-template.enum.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/models/cd-table-column.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/pipes/array.pipe.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/pipes/array.pipe.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/pipes/boolean.pipe.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/pipes/boolean.pipe.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/pipes/pipes.module.ts
  src/pybind/mgr/dashboard/frontend/src/styles.scss
Labels: cleanup, dashboard, needs-review

#31888 mgr/dashboard: Trim IQN on iSCSI target form
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/iscsi-target-form/iscsi-target-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/shared/directives/directives.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/directives/trim.directive.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/directives/trim.directive.ts
Labels: dashboard, ready-to-merge

#31845 mgr/dashboard: Resolve some npm audit issues
  src/pybind/mgr/dashboard/frontend/angular.json
  src/pybind/mgr/dashboard/frontend/package-lock.json
  src/pybind/mgr/dashboard/frontend/package.json
  src/pybind/mgr/dashboard/frontend/tsconfig.spec.json
Labels: dashboard

#31369 mgr/dashboard: Display the aggregated number of request
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cephfs/cephfs-chart/cephfs-chart.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cephfs/cephfs-chart/cephfs-chart.component.ts
Labels: dashboard, ready-to-merge

#31279 rbd/cache: Replicated Write Log core codes part 1
  CMakeLists.txt
  src/CMakeLists.txt
  src/common/options.cc
  src/include/config-h.in.cmake
  src/librbd/CMakeLists.txt
  src/librbd/ImageCtx.h
  src/librbd/cache/ImageCache.h
  src/librbd/cache/ImageWriteback.cc
  src/librbd/cache/PassthroughImageCache.h
  src/librbd/cache/ReplicatedWriteLog.cc
  src/librbd/cache/ReplicatedWriteLog.h
  src/librbd/cache/Types.h
  src/librbd/cache/rwl/ImageCacheState.cc
  src/librbd/cache/rwl/ImageCacheState.h
  src/librbd/cache/rwl/LogEntry.cc
  src/librbd/cache/rwl/LogEntry.h
  src/librbd/cache/rwl/Types.cc
  src/librbd/cache/rwl/Types.h
  src/test/librbd/CMakeLists.txt
  src/test/librbd/cache/test_mock_ReplicatedWriteLog.cc
Labels: feature, needs-qa, performance, rbd, wip-jason-testing

#31361 rgw: extend SSE-KMS with Vault using transit secrets engine
  doc/radosgw/config-ref.rst
  doc/radosgw/vault.rst
  qa/suites/rgw/crypt/2-kms/vault_kv.yaml
  qa/suites/rgw/crypt/2-kms/vault_transit.yaml
  qa/suites/rgw/crypt/4-tests/s3tests.yaml
  qa/tasks/s3tests.py
  qa/tasks/vault.py
  src/common/legacy_config_opts.h
  src/common/options.cc
  src/rgw/rgw_kms.cc
  src/rgw/rgw_kms.h
  src/test/rgw/test_rgw_kms.cc
  src/vstart.sh
Labels: feature, rgw

#31669 os/bluestore: tiny tracepoints improvement
  src/os/bluestore/BlueStore.cc
  src/os/bluestore/BlueStore.h
Labels: bluestore, needs-qa, wip-kefu-testing, wip-sage2-testing

#31348 tools/rados: update advisory lock break usage with --lock-cookie required
  doc/man/8/rados.rst
  src/cls/lock/cls_lock.cc
  src/tools/rados/rados.cc
Labels: needs-qa, tools, wip-kefu-testing, wip-sage2-testing

#31274 osd/OSD: enhance osd numa affinity compatibility
  src/common/pick_address.cc
  src/common/pick_address.h
  src/osd/OSD.cc
Labels: core, feature, needs-qa, performance, wip-sage2-testing

#31933 mgr/ssh: `test_mon_update` needs to set a mon name
  src/pybind/mgr/orchestrator.py
  src/pybind/mgr/ssh/module.py
  src/pybind/mgr/ssh/tests/test_ssh.py
Labels: bug fix, orchestrator, wip-kefu-testing, wip-sage-testing

#31919 krbd: do away with explicit memory management and other cleanups
  src/krbd.cc
Labels: cleanup, krbd, needs-qa

#31913 ceph-daemon: Allow env var for setting the used image
  qa/standalone/test_ceph_daemon.sh
  src/ceph-daemon/ceph-daemon
  src/ceph-daemon/tests/test_ceph_daemon.py
  src/ceph-daemon/tox.ini
Labels: needs-qa, orchestrator, wip-deepika-testing

#31958 cmake: do not use CMP0074 unless it is supported
  cmake/modules/FindBoost.cmake
Labels: build/ops

#31947 doc: add Python 2 to Ubuntu 18.04 installations
  doc/start/quick-ceph-deploy.rst
Labels: documentation

#31962 vstart: fix error when getting CMake variables with the same prefix
  src/vstart.sh
Labels: bug fix, dashboard, tools

#31939 symlink to add beast.yaml to rgw singleton suite
  qa/suites/rgw/singleton/frontend/beast.yaml
Labels: tests

#30961 mgr: module logging infrastructure
  doc/mgr/modules.rst
  src/mgr/ActivePyModule.cc
  src/mgr/BaseMgrModule.cc
  src/mgr/BaseMgrStandbyModule.cc
  src/mgr/PyModule.cc
  src/mgr/PyModuleRunner.cc
  src/mgr/PyModuleRunner.h
  src/pybind/mgr/dashboard/HACKING.rst
  src/pybind/mgr/dashboard/__init__.py
  src/pybind/mgr/dashboard/conftest.py
  src/pybind/mgr/dashboard/controllers/__init__.py
  src/pybind/mgr/dashboard/controllers/auth.py
  src/pybind/mgr/dashboard/controllers/docs.py
  src/pybind/mgr/dashboard/controllers/frontend_logging.py
  src/pybind/mgr/dashboard/controllers/home.py
  src/pybind/mgr/dashboard/controllers/nfsganesha.py
  src/pybind/mgr/dashboard/controllers/osd.py
  src/pybind/mgr/dashboard/controllers/rbd_mirroring.py
  src/pybind/mgr/dashboard/controllers/rgw.py
  src/pybind/mgr/dashboard/grafana.py
  src/pybind/mgr/dashboard/module.py
  src/pybind/mgr/dashboard/plugins/feature_toggles.py
  src/pybind/mgr/dashboard/plugins/interfaces.py
  src/pybind/mgr/dashboard/plugins/plugin.py
  src/pybind/mgr/dashboard/rest_client.py
  src/pybind/mgr/dashboard/services/access_control.py
  src/pybind/mgr/dashboard/services/auth.py
  src/pybind/mgr/dashboard/services/ceph_service.py
  src/pybind/mgr/dashboard/services/cephfs.py
  src/pybind/mgr/dashboard/services/exception.py
  src/pybind/mgr/dashboard/services/ganesha.py
  src/pybind/mgr/dashboard/services/iscsi_client.py
  src/pybind/mgr/dashboard/services/orchestrator.py
  src/pybind/mgr/dashboard/services/progress.py
  src/pybind/mgr/dashboard/services/rgw_client.py
  src/pybind/mgr/dashboard/services/sso.py
  src/pybind/mgr/dashboard/tests/__init__.py
  src/pybind/mgr/dashboard/tools.py
  src/pybind/mgr/mgr_module.py
Labels: dashboard, feature, mgr, ready-to-merge

#31743 mgr/dashboard: Increase max-width of popovers
  src/pybind/mgr/dashboard/frontend/src/styles.scss
Labels: bug fix, dashboard, ready-to-merge

#31934 luminous: rpm: explicitly declare python-tox build dependency
  ceph.spec.in
Labels: build/ops, needs-qa, wip-smithfarm-testing

#31872 doc/releases: add mimic v13.2.7 to releases timeline
  doc/releases/general.rst
  doc/releases/mimic.rst
  doc/releases/releases.yml
Labels: documentation

#31960 cmake: do not use CMP0093 unless it is supported
  cmake/modules/FindBoost.cmake
Labels: build/ops, crimson

#31944 tools/osdmaptool.cc: do not use deprecated std::random_shuffle()
  cmake/modules/FindBoost.cmake
Labels: cleanup, tools, wip-kefu-testing

#31951 mgr/dashboard,grafana: remove shortcut menu
  monitoring/grafana/dashboards/host-details.json
  src/pybind/mgr/dashboard/ci/check_grafana_uids.py
Labels: bug fix, dashboard, monitoring, ready-to-merge

#31969 pybind/mgr: Make it easier to create a Module instance without the mgr
  src/pybind/mgr/mgr_module.py
  src/pybind/mgr/ssh/tests/fixtures.py
Labels: mgr

#31473 os/bluestore: simplify multithreaded shallow fsck.
  src/os/bluestore/BlueStore.cc
  src/os/bluestore/BlueStore.h
Labels: bluestore, cleanup, needs-qa

#31202 Add ephemeral ObjectContext state to crimson
  src/CMakeLists.txt
  src/common/intrusive_lru.h
  src/common/options.cc
  src/crimson/common/errorator.h
  src/crimson/os/cyanstore/cyan_store.cc
  src/crimson/os/cyanstore/cyan_store.h
  src/crimson/os/futurized_store.h
  src/crimson/osd/CMakeLists.txt
  src/crimson/osd/object_context.cc
  src/crimson/osd/object_context.h
  src/crimson/osd/ops_executer.cc
  src/crimson/osd/ops_executer.h
  src/crimson/osd/osd_operation.h
  src/crimson/osd/osd_operations/client_request.cc
  src/crimson/osd/osd_operations/client_request.h
  src/crimson/osd/pg.cc
  src/crimson/osd/pg.h
  src/crimson/osd/pg_backend.cc
  src/crimson/osd/pg_backend.h
  src/crimson/osd/shard_services.cc
  src/crimson/osd/shard_services.h
  src/osd/CMakeLists.txt
  src/osd/OSD.cc
  src/osd/OSD.h
  src/osd/OSDCap.cc
  src/osd/OSDCap.h
  src/osd/OpRequest.cc
  src/osd/OpRequest.h
  src/osd/PrimaryLogPG.cc
  src/osd/PrimaryLogPG.h
  src/osd/object_state.h
  src/osd/osd_internal_types.h
  src/osd/osd_op_util.cc
  src/osd/osd_op_util.h
  src/test/common/CMakeLists.txt
  src/test/common/test_intrusive_lru.cc
  src/vstart.sh
Labels: crimson, needs-review

#31952 mgr/ssh: fix service_action, remove_osds
  src/pybind/mgr/ssh/module.py
Labels: orchestrator, wip-sage-testing

#31890 mgr/orchestrator: name rgw by client.rgw.$realm.$zone[.$id]
  src/pybind/mgr/orchestrator.py
  src/pybind/mgr/orchestrator_cli/module.py
  src/pybind/mgr/ssh/module.py
Labels: orchestrator, rgw, wip-sage-testing

#31964 mgr/dashboard: grafana charts match time picker selection.
  monitoring/grafana/dashboards/ceph-cluster.json
  monitoring/grafana/dashboards/host-details.json
  monitoring/grafana/dashboards/osds-overview.json
Labels: bug fix, dashboard

#31973 mgr/crash: fix 'crash ls[-new]' sorting
  src/pybind/mgr/crash/module.py
Labels: bug fix, mgr, wip-sage-testing

#31894 nautilus: doc: mention --namespace option in rados manpage
  doc/man/8/rados.rst
Labels: documentation

#31983 mgr/ssh/tests: fix RGWSpec test
  src/pybind/mgr/ssh/tests/test_ssh.py
Labels: bug fix, orchestrator

#31974 nautilus: mgr/crash: fix 'crash ls[-new]' sorting
  src/pybind/mgr/crash/module.py
Labels: bug fix

#31968 qa: update krbd tests for python3
  qa/rbd/krbd_huge_image.t
  qa/rbd/krbd_msgr_segments.t
  qa/rbd/krbd_whole_object_zeroout.t
  qa/workunits/rbd/krbd_data_pool.sh
  qa/workunits/rbd/krbd_exclusive_option.sh
  qa/workunits/rbd/krbd_fallocate.sh
  qa/workunits/rbd/krbd_namespaces.sh
Labels: krbd, tests

#31930 mgr/orchestrator: add optional "format" param for "orchestrator host ls"
  qa/tasks/mgr/test_orchestrator_cli.py
  src/pybind/mgr/orchestrator_cli/module.py
Labels: bug fix, orchestrator, wip-kefu-testing, wip-sage-testing

#31990 tools/osdmaptool.cc: do not use deprecated std::random_shuffle()
  src/tools/osdmaptool.cc
Labels: cleanup, needs-review, tools

#31940 mgr/ssh: Port raising exceptions from completion handlers to Py2
  src/pybind/mgr/ssh/module.py
  src/pybind/mgr/ssh/tests/test_completion.py
Labels: bug fix, orchestrator, wip-sage-testing

#31908 ceph-daemon: consolidate NamedTemporaryFile logic
  src/ceph-daemon/ceph-daemon
Labels: orchestrator, wip-sage-testing

#31950 rbd-mirror: peer_ping should send the local fsid to the remote
  src/test/rbd_mirror/test_ImageReplayer.cc
  src/test/rbd_mirror/test_mock_MirrorStatusUpdater.cc
  src/test/rbd_mirror/test_mock_NamespaceReplayer.cc
  src/tools/rbd_mirror/MirrorStatusUpdater.cc
  src/tools/rbd_mirror/MirrorStatusUpdater.h
  src/tools/rbd_mirror/NamespaceReplayer.cc
Labels: bug fix, rbd

#31906 mgr/dashboard: fix tests in order to match pg num conventions
  qa/tasks/mgr/dashboard/test_ganesha.py
  qa/tasks/mgr/dashboard/test_rbd_mirroring.py
Labels: dashboard, needs-review, ready-to-merge, tests

#31972 doc: rgw: Fixed bug on wrong name for user_id for OPA
  doc/radosgw/opa.rst
Labels: documentation, rgw

#31967 mgr/ssh: HACKING.rst: Add Understanding `AsyncCompletion`
  src/pybind/mgr/ssh/HACKING.rst
  src/pybind/mgr/ssh/module.py
Labels: documentation, orchestrator

#31948 doc: add "chrony" to preflight checklist for Ubuntu 18.04
  doc/start/quick-start-preflight.rst
Labels: documentation

#31902 doc: add description for fuse_disable_pagecache
  doc/cephfs/client-config-ref.rst
Labels: cephfs, documentation

#31893 doc: RBD exclusive locks
  doc/rbd/rbd-exclusive-locks.rst
  doc/rbd/rbd-openstack.rst
  doc/rbd/rbd-operations.rst
Labels: documentation, rbd

#31955 doc/foundation: add ceph foundation info here
  doc/conf.py
  doc/foundation.rst
  doc/governance.rst
  doc/index.rst
Labels: documentation

#31975 doc/install/containers: note vX.Y.Z[-YYYYMMDD] tags
  doc/install/containers.rst
Labels: documentation

#31998 rgw/pubsub: prevent kafka thread from spinning when there are no messages
  src/rgw/rgw_kafka.cc
  src/test/rgw/rgw_multi/tests_ps.py
Labels: bug fix, rgw

#31712 ceph-mds: set ceph_mds cpu affinity
  src/ceph_mds.cc
  src/common/options.cc
Labels: cephfs, needs-qa, performance, wip-pdonnell-testing

#31680 tools/cephfs: make 'cephfs-data-scan scan_links' fix dentry's first
  src/tools/cephfs/DataScan.cc
  src/tools/cephfs/DataScan.h
Labels: cephfs, needs-qa, wip-pdonnell-testing

#31455 mds: tolerate no snaprealm encoded in on-disk root inode
  src/mds/CInode.cc
Labels: cephfs, needs-qa, wip-pdonnell-testing

#31898 mds: remove unnecessary debug warning
  src/mds/MDSRank.cc
Labels: bug fix, cephfs, needs-review, wip-pdonnell-testing

#31715 mds: initialize the monc later in init()
  src/mds/MDSDaemon.cc
Labels: cephfs, needs-qa, wip-pdonnell-testing

#31932 os/bluestore: print error if spdk_nvme_ns_cmd_writev() fails
  src/os/bluestore/NVMEDevice.cc
Labels: bluestore, needs-qa, wip-kefu-testing

#31876 msg/async/dpdk: fix SEGV caused by zero length packet
  src/msg/async/dpdk/DPDKStack.h
Labels: messenger, needs-qa, wip-kefu-testing

#31765 ceph-mon: keep v1 address type when explicitly set
  src/ceph_mon.cc
Labels: bug fix, needs-qa, wip-kefu-testing

#31732 vstart: Now all OSDs are starting in parallel. Use --no-parallel to revert to sequential.
  src/vstart.sh
Labels: build/ops, needs-qa, tools, wip-kefu-testing

#31916 mgr/dashboard: Check password complexity in Dashboard CLI comm…
  doc/mgr/dashboard.rst
  qa/tasks/mgr/dashboard/helper.py
  qa/tasks/mgr/dashboard/test_auth.py
  qa/tasks/mgr/dashboard/test_user.py
  src/pybind/mgr/dashboard/controllers/user.py
  src/pybind/mgr/dashboard/exceptions.py
  src/pybind/mgr/dashboard/services/access_control.py
  src/pybind/mgr/dashboard/tests/test_access_control.py
  src/vstart.sh
Labels: dashboard, feature, ready-to-merge

#31937 mgr/dashboard: list configured prometheus alerts
  doc/mgr/dashboard.rst
  src/pybind/mgr/dashboard/controllers/prometheus.py
  src/pybind/mgr/dashboard/frontend/e2e/cluster/alerts.e2e-spec.ts
  src/pybind/mgr/dashboard/frontend/e2e/cluster/alerts.po.ts
  src/pybind/mgr/dashboard/frontend/src/app/app-routing.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/cluster.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/prometheus/active-alert-list/active-alert-list.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/prometheus/active-alert-list/active-alert-list.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/prometheus/active-alert-list/active-alert-list.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/prometheus/active-alert-list/active-alert-list.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/prometheus/monitoring-list/monitoring-list.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/prometheus/monitoring-list/monitoring-list.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/prometheus/monitoring-list/monitoring-list.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/prometheus/monitoring-list/monitoring-list.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/prometheus/prometheus-tabs/prometheus-tabs.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/prometheus/prometheus-tabs/prometheus-tabs.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/prometheus/prometheus-tabs/prometheus-tabs.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/prometheus/rules-list/rules-list.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/prometheus/rules-list/rules-list.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/prometheus/rules-list/rules-list.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/prometheus/rules-list/rules-list.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/prometheus/silence-form/silence-form.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/prometheus/silence-form/silence-form.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/prometheus/silence-list/silence-list.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/prometheus/silence-list/silence-list.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/prometheus/silence-list/silence-list.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/core/navigation/breadcrumbs/breadcrumbs.component.html
  src/pybind/mgr/dashboard/frontend/src/app/core/navigation/navigation/navigation.component.html
  src/pybind/mgr/dashboard/frontend/src/app/core/navigation/navigation/navigation.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/prometheus.service.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/prometheus.service.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/datatable/table-actions/table-actions.component.html
  src/pybind/mgr/dashboard/frontend/src/app/shared/datatable/table-key-value/table-key-value.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/datatable/table-key-value/table-key-value.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/models/cd-table-action.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/models/prometheus-alerts.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/services/prometheus-alert.service.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/services/prometheus-alert.service.ts
Labels: dashboard, feature, ready-to-merge

#31988 common/config: less noise about configs from mon we can't apply
  src/common/config.cc
Labels: core, needs-qa, wip-sage-testing

#30498 mon: allow running without a config file
  doc/man/8/ceph-mon.rst
  src/common/ceph_argparse.cc
  src/common/ceph_argparse.h
  src/common/common_init.cc
  src/common/options.cc
  src/global/global_init.cc
Labels: feature, mon, wip-kefu-testing

#32004 mgr/restful: allow shutdown before we've fully started up
  src/pybind/mgr/restful/module.py
Labels: mgr, wip-sage-testing

#31966 luminous: ceph-detect-init: run tox tests on Python 2 only
  src/ceph-detect-init/tox.ini
Labels: tests

#31989 mgr/MgrClient: fix 'tell mgr.x ...'
  src/mgr/MgrClient.cc
Labels: bug fix, core, wip-sage-testing

#31483 rgw: fix a bug that bucket instance obj can't be removed after resharding completed
  src/rgw/rgw_reshard.cc
Labels: bug fix, needs-qa, needs-review, rgw, wip-mkogan-testing

#31830 rgw: fix rgw crash when token is not base64 encode
  src/rgw/rgw_rest_s3.cc
Labels: bug fix, needs-qa, rgw

#32036 doc: s/achieve/achieves (Fixed a verb disagreement)
  doc/rados/troubleshooting/troubleshooting-pg.rst
Labels: documentation

#32018 nautilus: Revert "crush: remove invalid upmap items"
  src/crush/CrushWrapper.cc
  src/test/osd/TestOSDMap.cc
Labels: bug fix, core, nautilus-batch-1, needs-qa

#31926 rgw/pubsub: fix records/event json format to match documentation
  PendingReleaseNotes
  doc/radosgw/notifications.rst
  doc/radosgw/pubsub-module.rst
  src/rgw/rgw_notify.cc
  src/rgw/rgw_pubsub.cc
  src/rgw/rgw_pubsub.h
  src/rgw/rgw_pubsub_push.cc
  src/rgw/rgw_sync_module_pubsub.cc
  src/test/rgw/rgw_multi/tests_ps.py
Labels: bug fix, needs-qa, rgw

#32000 mimic: osd: fix sending incremental map messages (more)
  src/osd/OSD.cc
Labels: core, mimic-batch-1, needs-qa, wip-yuri2-testing

#32033 qa/rgw: add missing force-branch: ceph-mimic for swift tasks
  qa/suites/rados/upgrade/luminous-x-singleton/8-workload/rgw-swift.yaml
  qa/suites/rgw/verify/tasks/swift.yaml
  qa/suites/smoke/basic/tasks/rgw_swift.yaml
  qa/suites/upgrade/jewel-x/parallel/5-final-workload/rgw_swift.yaml
  qa/suites/upgrade/jewel-x/stress-split/7-final-workload/rgw-swift.yaml
  qa/suites/upgrade/kraken-x/parallel/5-final-workload/rgw_swift.yaml
  qa/suites/upgrade/kraken-x/stress-split/7-final-workload/rgw-swift.yaml
  qa/suites/upgrade/luminous-x/stress-split/7-final-workload/rgw-swift.yaml
  qa/suites/upgrade/mimic-p2p/mimic-p2p-stress-split/7-final-workload/rgw-swift.yaml
Labels: mimic-batch-1, needs-qa, rgw, tests, wip-yuri2-testing

#31403 vstart.sh: highlight presence of stray conf
  src/vstart.sh
Labels: cephfs, tools

#31897 doc: obsolete entries for allow_standby_replay
  doc/cephfs/mds-config-ref.rst
Labels: cephfs, documentation

#31949 rbd: incorporate rbd-mirror daemon status in mirror pool status
  qa/workunits/rbd/rbd_mirror_stress.sh
  src/tools/rbd/MirrorDaemonServiceInfo.cc
  src/tools/rbd/MirrorDaemonServiceInfo.h
  src/tools/rbd/action/MirrorImage.cc
  src/tools/rbd/action/MirrorPool.cc
Labels: feature, rbd, wip-mgolub-testing

#32031 mgr/dashboard: Cleanup code
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/select-badges/select-badges.component.ts
Labels: cleanup, dashboard

#31062 mgr/dashboard: support RBD mirroring bootstrap create/import
  qa/suites/rados/dashboard/tasks/dashboard.yaml
  qa/tasks/mgr/dashboard/test_rbd_mirroring.py
  src/pybind/mgr/dashboard/controllers/rbd_mirroring.py
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/mirroring/bootstrap-create-modal/bootstrap-create-modal.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/mirroring/bootstrap-create-modal/bootstrap-create-modal.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/mirroring/bootstrap-create-modal/bootstrap-create-modal.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/mirroring/bootstrap-create-modal/bootstrap-create-modal.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/mirroring/bootstrap-import-modal/bootstrap-import-modal.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/mirroring/bootstrap-import-modal/bootstrap-import-modal.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/mirroring/bootstrap-import-modal/bootstrap-import-modal.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/mirroring/bootstrap-import-modal/bootstrap-import-modal.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/mirroring/edit-site-name-modal/edit-site-name-modal.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/mirroring/edit-site-name-modal/edit-site-name-modal.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/mirroring/edit-site-name-modal/edit-site-name-modal.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/mirroring/edit-site-name-modal/edit-site-name-modal.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/mirroring/mirroring.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/mirroring/overview/overview.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/mirroring/overview/overview.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/rbd-mirroring.service.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/rbd-mirroring.service.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/enum/icons.enum.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/services/task-message.service.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/services/task-message.service.ts
  src/pybind/mgr/dashboard/tests/test_rbd_mirroring.py
Labels: dashboard, feature, rbd

#31928 mgr/dashboard: adapt to create_osds parameters change
  qa/tasks/mgr/dashboard/test_orchestrator.py
  src/pybind/mgr/dashboard/controllers/orchestrator.py
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/osd/osd-creation-preview-modal/osd-creation-preview-modal.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/osd/osd-form/osd-form.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/orchestrator.service.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/orchestrator.service.ts
  src/pybind/mgr/dashboard/services/orchestrator.py
Labels: bug fix, dashboard, orchestrator, ready-to-merge

#31767 rgw: adding mfa code validation when bucket versioning status is chan…
  src/rgw/rgw_op.cc
Labels: needs-qa, rgw

#31589 librbd:move all snapshot API functions in internal.cc over to api/Snapshot.cc
  src/librbd/api/Image.cc
  src/librbd/api/Image.h
  src/librbd/api/Migration.cc
  src/librbd/api/Snapshot.cc
  src/librbd/api/Snapshot.h
  src/librbd/internal.cc
  src/librbd/internal.h
  src/librbd/librbd.cc
  src/test/librbd/journal/test_Replay.cc
  src/test/librbd/test_DeepCopy.cc
  src/test/librbd/test_Migration.cc
  src/test/librbd/test_internal.cc
Labels: cleanup, needs-qa, rbd, wip-jason-testing

#32017 Revert "crush: remove invalid upmap items"
  src/crush/CrushWrapper.cc
  src/test/osd/TestOSDMap.cc
Labels: bug fix, core

#32019 luminous: Revert "crush: remove invalid upmap items"
  src/crush/CrushWrapper.cc
  src/test/osd/TestOSDMap.cc
Labels: bug fix, core

#32021 doc: fixed broken reference link for Graphviz
  doc/dev/documenting.rst
Labels: documentation

#32051 mgr: simply exit on SIGINT or SIGTERM
  src/mgr/Mgr.cc
Labels: bug fix, mgr, wip-sage-testing

#32097 ceph-daemon: fix bootstrap ownership of tmp monmap file
  src/ceph-daemon/ceph-daemon
Labels: orchestrator, wip-sage-testing

#32096 ceph-daemon: fix firewalld error case
  src/ceph-daemon/ceph-daemon
Labels: orchestrator, wip-sage-testing

#32023 qa/orchestrator: do not test "mon update 3 host1"
  qa/tasks/mgr/test_orchestrator_cli.py
Labels: bug fix, needs-qa, orchestrator, tests, wip-sage-testing

#32048 mon/PGMap: use NONE for 'pg ls[-*]' output too
  src/mon/PGMap.cc
Labels: cleanup, core, wip-sage2-testing

#32044 mon/OSDMonitor: make memory autotune disable itself if no rocksdb
  src/mon/OSDMonitor.cc
Labels: bug fix, core, wip-sage2-testing

#32043 os/bluestore: default bluestore_block_size 1T -> 100G
  src/common/options.cc
Labels: wip-sage2-testing

#32101 qa/tasks/mgr/test_orchestrator_cli: fix rgw add test
  qa/tasks/mgr/test_orchestrator_cli.py
  src/pybind/mgr/orchestrator_cli/module.py
Labels: orchestrator, wip-sage-testing

#31995 msg/async: No need lock for func _filter_addrs
  src/msg/async/AsyncMessenger.cc
Labels: messenger, needs-qa, wip-sage-testing

#31959 os/bluestore/BlueStore.cc: set priorities for compression stats
  src/os/bluestore/BlueStore.cc
Labels: bluestore, needs-qa, wip-sage-testing

#32108 ceph-daemon: remove prepare-host
  qa/standalone/test_ceph_daemon.sh
  src/ceph-daemon/ceph-daemon
Labels: needs-review, orchestrator

#30594 mgr/dashboard: add smartctl data as a details tab of a host
  src/pybind/mgr/dashboard/controllers/host.py
  src/pybind/mgr/dashboard/controllers/osd.py
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/iscsi-target-details/iscsi-target-details.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-snapshot-list/rbd-snapshot-list.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-trash-list/rbd-trash-list.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cephfs/cephfs-tabs/cephfs-tabs.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/cluster.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/hosts/host-details/host-details.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/hosts/host-details/host-details.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/hosts/host-details/host-details.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/hosts/hosts.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/mgr-modules/mgr-module-list/mgr-module-list.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/osd/osd-details/osd-details.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/osd/osd-details/osd-details.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/osd/osd-list/osd-list.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/osd/osd-smart-list/osd-smart-list.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/prometheus/silence-list/silence-list.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/nfs/nfs-details/nfs-details.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/pool/pool-details/pool-details.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/pool/pool-list/pool-list.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/shared/ceph-shared.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/shared/smart-list/fixtures/smart_data_version_1_0_response.json
  src/pybind/mgr/dashboard/frontend/src/app/ceph/shared/smart-list/smart-list.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/shared/smart-list/smart-list.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/ceph/shared/smart-list/smart-list.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/shared/smart-list/smart-list.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/core/auth/role-details/role-details.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/host.service.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/osd.service.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/datatable/table/table.component.html
  src/pybind/mgr/dashboard/frontend/src/app/shared/datatable/table/table.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/models/cd-table-selection.ts
  src/pybind/mgr/dashboard/frontend/src/testing/unit-test-helper.ts
  src/pybind/mgr/dashboard/services/ceph_service.py
Labels: dashboard, feature, ready-to-merge

#32106 ceph-volume: fix the integer overflow
  src/ceph-volume/ceph_volume/systemd/main.py
Labels: bug fix, ceph-volume

#31800 doc: Update commands in bootstrap.rst
  doc/bootstrap.rst
Labels: documentation, orchestrator

#32009 doc: removes kube-helm installation instructions
  doc/index.rst
  doc/start/kube-helm.rst
Labels: documentation

#32026 mgr/dashboard: Improve badge column template.
  src/pybind/mgr/dashboard/frontend/src/app/shared/datatable/table/table.component.html
Labels: cleanup, dashboard, needs-review

#32084 mgr/dashboard: Use Observable in auth.service
  src/pybind/mgr/dashboard/frontend/src/app/core/auth/login/login.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/auth.service.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/auth.service.ts
Labels: cleanup, dashboard, needs-review

#31927 mgr/dashboard: hide in-use devices when creating OSDs
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/osd/osd-form/osd-form.component.ts
Labels: bug fix, dashboard

#32053 mgr/dashboard: Left align badge datatable columns
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/iscsi/iscsi.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-snapshot-list/rbd-snapshot-list.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/inventory/inventory-devices/inventory-devices.component.ts
Labels: cleanup, dashboard, needs-review

#32109 rgw: list buckets: don't return buckets if limit=0
  src/rgw/rgw_op.cc
Labels: bug fix, rgw

#32105 librbd: fix rbd_open_by_id, rbd_open_by_id_read_only
  src/librbd/librbd.cc
Labels: bug fix, needs-qa, rbd

#31794 librbd: disable zero-copy writes by default
  src/common/options.cc
  src/librbd/ImageCtx.cc
Labels: bug fix, needs-qa, rbd

#32102 mgr/diskprediction_local: import scipy early to fix self-test deadlock
  src/pybind/mgr/diskprediction_local/module.py
Labels: bug fix, core, wip-sage-testing

#29214 mgr: templatize metrics collection interface
  src/messages/MMgrConfigure.h
  src/messages/MMgrReport.h
  src/mgr/ActivePyModules.cc
  src/mgr/ActivePyModules.h
  src/mgr/BaseMgrModule.cc
  src/mgr/CMakeLists.txt
  src/mgr/DaemonServer.cc
  src/mgr/DaemonServer.h
  src/mgr/MetricCollector.cc
  src/mgr/MetricCollector.h
  src/mgr/MetricTypes.h
  src/mgr/MgrClient.cc
  src/mgr/MgrClient.h
  src/mgr/OSDPerfMetricCollector.cc
  src/mgr/OSDPerfMetricCollector.h
  src/mgr/OSDPerfMetricTypes.h
  src/mgr/Types.h
  src/osd/OSD.cc
  src/osd/OSD.h
Labels: cephfs, mgr, needs-qa, needs-review, wip-sage-testing

#31489 pybind: add writesame API
  src/pybind/rados/rados.pyx
  src/test/pybind/test_rados.py
Labels: core, needs-qa, pybind, wip-sage-testing

#32046 mgr/DaemonServer: fix 'osd ok-to-stop' for EC pools
  qa/standalone/misc/ok-to-stop.sh
  src/mgr/DaemonServer.cc
Labels: bug fix, core, wip-sage2-testing

#32088 qa: krbd_exclusive_option.sh: update for recent kernel changes
  qa/workunits/rbd/kernel.sh
  qa/workunits/rbd/krbd_exclusive_option.sh
Labels: krbd, tests

#32037 build/ops: make-dist: default to no dashboard frontend build parallelism
  make-dist
Labels: build/ops, dashboard

#32098 ceph-daemon: py2: tolerate whitespace before config key name
  qa/standalone/test_ceph_daemon.sh
  src/ceph-daemon/ceph-daemon
  test_ceph_daemon.sh
Labels: needs-review, orchestrator

#32038 doc: reorganize CephFS landing page and ToC
  doc/cephfs/index.rst
Labels: cephfs, documentation, needs-review

#32131 codeowners: Add ceph2.py to @ceph/orchestrators
  .github/CODEOWNERS
Labels: orchestrator

#32124 doc/cephfs/disaster-recovery-experts: Add link for scrub and note for scrub_path
  doc/cephfs/disaster-recovery-experts.rst
Labels: cephfs, documentation, needs-review

#31961 mgr/volumes: check for string values in uid/gid
  src/pybind/mgr/volumes/fs/subvolume.py
Labels: bug fix, cephfs, wip-jcollin-testing

#32100 qa: radosgw-admin: remove dependency on bunch package
  qa/tasks/radosgw_admin.py
Labels: bug fix, rgw, tests

#32052 ceph-daemon: clean-up tempfiles on EXIT
  qa/standalone/test_ceph_daemon.sh
Labels: needs-qa, orchestrator, wip-kefu-testing, wip-sage-testing

#31931 os/bluestore: fix wakeup bug
  src/os/bluestore/BlueStore.cc
Labels: bluestore, bug fix, needs-qa, wip-kefu-testing

#32007 osd: use unique_ptr for managing life cycles
  src/osd/OSD.cc
  src/osd/OSD.h
  src/osd/PrimaryLogPG.cc
  src/osd/PrimaryLogPG.h
Labels: cleanup, core, wip-kefu-testing

#32122 qa/tasks/mgr/dashboard/test_health: update schema
  qa/tasks/mgr/dashboard/test_health.py
Labels: bug fix, dashboard, needs-qa, tests, wip-tdehler-testing

#31979 ceph-volume/test: patch VolumeGroups
  src/ceph-volume/ceph_volume/tests/devices/lvm/strategies/test_bluestore.py
Labels: bug fix, ceph-volume

#27392 os/bluestore: introduce new io_uring IO engine
  CMakeLists.txt
  src/common/options.cc
  src/include/config-h.in.cmake
  src/os/CMakeLists.txt
  src/os/bluestore/KernelDevice.cc
  src/os/bluestore/KernelDevice.h
  src/os/bluestore/ceph_aio.h
  src/os/bluestore/ceph_io_uring.h
  src/os/bluestore/io_uring.cc
Labels: bluestore, needs-qa, needs-review, performance, wip-kefu-testing

#31965 osd/osd: Refactor get_iface_numa_node
  src/common/pick_address.cc
  src/common/pick_address.h
Labels: cleanup, core, needs-qa, wip-deepika-testing

#32141 doc: use console lexer for rendering command line sessions
  doc/bootstrap.rst
Labels: documentation

#31954 osd: Use physical ratio for nearfull (doesn't include backfill resserve)
  src/osd/OSD.cc
Labels: bug fix, core, wip-kefu-testing

#32140 cmake: silence messages when cppcheck/IWYU is not found
  cmake/modules/FindCppCheck.cmake
  cmake/modules/FindIWYU.cmake
Labels: build/ops, cleanup, needs-qa, wip-kefu-testing

#32147 Changes to remove references to os_type "ubuntu" and "centos" hardcode
  qa/suites/rgw/multifs/tasks/rgw_bucket_quota.yaml
  qa/suites/rgw/multifs/tasks/rgw_multipart_upload.yaml
  qa/suites/rgw/multifs/tasks/rgw_user_quota.yaml
  qa/suites/rgw/multisite/tasks/test_multi.yaml
  qa/suites/rgw/multisite/valgrind.yaml
  qa/suites/rgw/tempest/distro/valgrind.yaml
  qa/suites/rgw/thrash/workload/rgw_bucket_quota.yaml
  qa/suites/rgw/thrash/workload/rgw_multipart_upload.yaml
  qa/suites/rgw/thrash/workload/rgw_user_quota.yaml
  qa/suites/rgw/verify/tasks/0-install.yaml
  qa/suites/rgw/verify/validater/valgrind.yaml
Labels: rh-qe-downstream-change

#32145 doc: show how to count jobs before triggering them
  doc/dev/developer_guide/index.rst
Labels: documentation, needs-review

#32137 ceph-daemon: don't deref symlinks during chown
  src/ceph-daemon/ceph-daemon
Labels: needs-qa, orchestrator, wip-kefu-testing, wip-sage-testing

#32138 ceph-daemon: combine SUDO and ARGS into a single var
  qa/standalone/test_ceph_daemon.sh
Labels: needs-qa, orchestrator, wip-kefu-testing, wip-sage-testing

#32127 mgr/rook: Added Mypy static type checking
  src/pybind/mgr/orchestrator.py
  src/pybind/mgr/requirements.txt
  src/pybind/mgr/rook/module.py
  src/pybind/mgr/rook/rook_cluster.py
  src/pybind/mgr/tox.ini
Labels: orchestrator, wip-sage-testing

#32041 release note: Add pending release notes for already merged code
  PendingReleaseNotes
Labels: cleanup, documentation

#32148 doc/releases/nautilus: fix release notes (crash->device)
  PendingReleaseNotes
  doc/releases/nautilus.rst
Labels: documentation

#31596 mds: Reorganize class members in PurgeQueue header
  src/mds/PurgeQueue.cc
  src/mds/PurgeQueue.h
Labels: cephfs, cleanup, needs-qa, wip-pdonnell-testing, wip-pdonnell-testing2

#32156 qa: fix suite config for cephfs/bugs
  qa/suites/fs/bugs/client_trim_caps/conf
Labels: rh-qe-downstream-change, verified-in-octo-lab

#31253 mds: Reorganize class members in Migrator header
  src/mds/Migrator.h
Labels: cephfs, cleanup, needs-qa, wip-pdonnell-testing, wip-pdonnell-testing2

#31122 mds: Reorganize class members in MDSTable header
  src/mds/MDSTable.h
Labels: cephfs, cleanup, needs-qa, wip-pdonnell-testing, wip-pdonnell-testing2

#31839 qa: update s3-test download code for s3-test tasks
  qa/machine_types/vps.yaml
  qa/rgw_pool_type/ec-profile.yaml
  qa/rgw_pool_type/ec.yaml
  qa/suites/smoke/basic/tasks/rgw_ec_s3tests.yaml
  qa/suites/smoke/basic/tasks/rgw_s3tests.yaml
  qa/suites/teuthology/rgw/tasks/s3tests-civetweb.yaml
  qa/suites/teuthology/rgw/tasks/s3tests-fastcgi.yaml
  qa/suites/teuthology/rgw/tasks/s3tests-fcgi.yaml
  qa/tasks/s3readwrite.py
  qa/tasks/s3roundtrip.py
  qa/tasks/s3tests.py
Labels: needs-qa, rgw, wip-kefu-testing

#32091 common/config: update values when they are removed via mon
  src/common/config.cc
Labels: bug fix, core, needs-review

#32025 common/pick_address.cc: silence GCC warning
  src/CMakeLists.txt
  src/common/pick_address.cc
Labels: cleanup, common, needs-rebase
