Repository ceph/ceph, pull requests merged in 2019-02, with the labels that each got.

#26228 doc: add release notes for 12.2.11 luminous
  doc/releases/luminous.rst
Labels: documentation

#25929 doc: updated rgw multitenancy link
  doc/radosgw/adminops.rst
  doc/radosgw/multitenancy.rst
Labels: documentation, needs-review, rgw

#26231 rgw: `radosgw-admin bucket rm ... --purge-objects` can hang...
  src/rgw/rgw_bucket.cc
Labels: bug fix, needs-qa, performance, rgw

#26151 mgr/dashboard: Added additional breadcrumb and tab tests to Cluster menu
  src/pybind/mgr/dashboard/frontend/e2e/cluster/crush-map.e2e-spec.ts
  src/pybind/mgr/dashboard/frontend/e2e/cluster/crush-map.po.ts
  src/pybind/mgr/dashboard/frontend/e2e/cluster/hosts.e2e-spec.ts
  src/pybind/mgr/dashboard/frontend/e2e/cluster/logs.e2e-spec.ts
  src/pybind/mgr/dashboard/frontend/e2e/cluster/logs.po.ts
  src/pybind/mgr/dashboard/frontend/e2e/cluster/osds.e2e-spec.ts
Labels: dashboard, tests

#26171 mgr/orchestrator: Unify `osd create` and `osd add`
  qa/tasks/mgr/test_orchestrator_cli.py
  src/pybind/mgr/ansible/module.py
  src/pybind/mgr/mgr_module.py
  src/pybind/mgr/orchestrator.py
  src/pybind/mgr/orchestrator_cli/module.py
  src/pybind/mgr/orchestrator_cli/test_orchestrator.py
  src/pybind/mgr/test_orchestrator/module.py
Labels: orchestrator

#26224 common: drop the unused methods from SharedLRU.
  src/common/shared_cache.hpp
Labels: cleanup, common, needs-qa, wip-kefu2-testing

#26067 pybind/rados: fix application metadata list
  src/pybind/rados/rados.pyx
Labels: core, needs-qa, pybind, wip-sage2-testing

#26112 mgr: load modules in finisher to avoid potential lock cycles
  src/mgr/ActivePyModules.cc
  src/mgr/ActivePyModules.h
  src/mgr/MgrStandby.cc
  src/mgr/MgrStandby.h
  src/mgr/PyModuleRegistry.cc
  src/mgr/PyModuleRegistry.h
  src/mgr/StandbyPyModules.cc
  src/mgr/StandbyPyModules.h
Labels: bug fix, mgr, needs-qa, wip-sage2-testing

#26164 mon/LogMonitor: lower logging level for check_sub
  src/mon/LogMonitor.cc
Labels: cleanup, mon, needs-qa, wip-sage2-testing

#25773 common: Use OpenSSL for cryptographic hashing
  src/common/ceph_crypto.cc
  src/common/ceph_crypto.h
Labels: common, needs-qa, performance, wip-sage2-testing

#26222 crimson/osd: add heartbeat support
  src/CMakeLists.txt
  src/common/pick_address.cc
  src/common/pick_address.h
  src/crimson/CMakeLists.txt
  src/crimson/mon/MonClient.h
  src/crimson/net/Messenger.h
  src/crimson/net/SocketMessenger.cc
  src/crimson/net/SocketMessenger.h
  src/crimson/osd/CMakeLists.txt
  src/crimson/osd/heartbeat.cc
  src/crimson/osd/heartbeat.h
  src/crimson/osd/osd.cc
  src/crimson/osd/osd.h
  src/crimson/osd/osdmap_service.h
Labels: crimson

#26245 os/bluestore/KernelDevice: use flock(2) for block device lock
  src/os/bluestore/BlockDevice.h
  src/os/bluestore/BlueFS.cc
  src/os/bluestore/BlueFS.h
  src/os/bluestore/BlueStore.cc
  src/os/bluestore/KernelDevice.cc
Labels: bluestore, bug fix, wip-kefu2-testing

#26240 mgr: Use Py_BuildValue to create the argument tuple
  src/mgr/BaseMgrModule.cc
Labels: cleanup, mgr, needs-qa, wip-kefu2-testing

#26256 msg/async/ProtocolV2: respect policy.resetcheck on cookie==0
  src/msg/async/ProtocolV2.cc
Labels: bug fix, core, needs-qa, wip-sage2-testing

#25309 mgr/dashboard: Prometheus integration
  doc/mgr/dashboard.rst
  src/pybind/mgr/dashboard/controllers/prometheus.py
  src/pybind/mgr/dashboard/frontend/src/app/app-routing.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/cluster.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/prometheus/prometheus-list/prometheus-list.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/prometheus/prometheus-list/prometheus-list.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/prometheus/prometheus-list/prometheus-list.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/prometheus/prometheus-list/prometheus-list.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/core/navigation/navigation/navigation.component.html
  src/pybind/mgr/dashboard/frontend/src/app/core/navigation/navigation/navigation.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/core/navigation/notifications/notifications.component.html
  src/pybind/mgr/dashboard/frontend/src/app/core/navigation/notifications/notifications.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/core/navigation/notifications/notifications.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/prometheus.service.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/prometheus.service.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/datatable/table-key-value/table-key-value.component.html
  src/pybind/mgr/dashboard/frontend/src/app/shared/datatable/table-key-value/table-key-value.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/datatable/table-key-value/table-key-value.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/datatable/table/table.component.html
  src/pybind/mgr/dashboard/frontend/src/app/shared/datatable/table/table.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/datatable/table/table.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/enum/cell-template.enum.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/models/cd-notification.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/models/cd-notification.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/models/permission.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/models/permissions.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/models/prometheus-alerts.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/services/api-interceptor.service.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/services/api-interceptor.service.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/services/notification.service.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/services/notification.service.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/services/prometheus-alert-formatter.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/services/prometheus-alert-formatter.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/services/prometheus-alert.service.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/services/prometheus-alert.service.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/services/prometheus-notification.service.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/services/prometheus-notification.service.ts
  src/pybind/mgr/dashboard/frontend/src/assets/Ceph_Logo_Stacked_RGB_120411_fa_228x228.png
  src/pybind/mgr/dashboard/frontend/src/assets/prometheus_logo.png
  src/pybind/mgr/dashboard/frontend/src/locale/messages.xlf
  src/pybind/mgr/dashboard/frontend/src/styles.scss
  src/pybind/mgr/dashboard/frontend/src/testing/unit-test-helper.ts
  src/pybind/mgr/dashboard/security.py
  src/pybind/mgr/dashboard/settings.py
  src/pybind/mgr/dashboard/tests/test_prometheus.py
Labels: dashboard, feature

#26244 krbd: alloc_size map option and tests
  doc/man/8/rbd.rst
  qa/rbd/krbd_discard.t
  qa/rbd/krbd_discard_1b.t
  qa/rbd/krbd_discard_4M.t
  qa/rbd/krbd_whole_object_zeroout.t
  qa/rbd/krbd_zeroout.t
  qa/suites/krbd/basic/tasks/krbd_discard.yaml
  qa/suites/krbd/basic/tasks/krbd_whole_object_zeroout.yaml
  src/test/librbd/fsx.cc
  src/tools/rbd/action/Kernel.cc
Labels: needs-qa, rbd, tests

#26186 luminous: build/ops: Allow multi instances of "make tests" on the same machine
  qa/standalone/ceph-helpers.sh
  src/CMakeLists.txt
  src/ceph-disk/run-tox.sh
  src/log/test.cc
  src/test/smoke.sh
Labels: build/ops

#26207 luminous: mgr/DaemonServer: log pgmap usage to cluster log
  src/common/options.cc
  src/mgr/DaemonServer.cc
Labels: core

#25278 rgw: fix obj can still be deleted even if deleteobject policy is set
  src/rgw/rgw_op.cc
Labels: bug fix, rgw

#26208 mimic: mgr/DaemonServer: log pgmap usage to cluster log
  src/common/options.cc
  src/mgr/DaemonServer.cc
Labels: core, mimic-batch-1, needs-qa, wip-yuri4-testing

#26009 mimic: mgr/dashboard: Set mirror_mode to None
  src/pybind/mgr/dashboard/controllers/rbd_mirroring.py
Labels: backport, bug fix, dashboard, mimic-batch-1, needs-qa, wip-yuri4-testing

#26223 osd: remove unused function.
  src/osd/PGBackend.h
  src/osd/PrimaryLogPG.h
Labels: cleanup, core, needs-qa, wip-yuri6-testing

#26170 os/bluestore: deep fsck fails on inspecting very large onodes
  src/common/legacy_config_opts.h
  src/common/options.cc
  src/os/bluestore/BlueStore.cc
Labels: bluestore, bug fix, needs-qa, wip-yuri6-testing

#26023 mgr/ansible: Replace Ansible playbook used to retrieve storage devices data
  src/pybind/mgr/ansible/module.py
  src/pybind/mgr/orchestrator.py
  src/pybind/mgr/orchestrator_cli/module.py
Labels: ceph-volume, needs-qa, orchestrator, wip-swagner-testing

#26123 mds: refactor MDSContext inheritance
  src/mds/CDentry.cc
  src/mds/CDentry.h
  src/mds/CDir.cc
  src/mds/CDir.h
  src/mds/CInode.cc
  src/mds/CInode.h
  src/mds/Locker.cc
  src/mds/Locker.h
  src/mds/LogSegment.h
  src/mds/MDCache.cc
  src/mds/MDCache.h
  src/mds/MDLog.cc
  src/mds/MDLog.h
  src/mds/MDSCacheObject.cc
  src/mds/MDSCacheObject.h
  src/mds/MDSContext.cc
  src/mds/MDSContext.h
  src/mds/MDSContinuation.h
  src/mds/MDSRank.cc
  src/mds/MDSRank.h
  src/mds/MDSTable.cc
  src/mds/MDSTable.h
  src/mds/MDSTableClient.cc
  src/mds/MDSTableClient.h
  src/mds/MDSTableServer.cc
  src/mds/MDSTableServer.h
  src/mds/Migrator.cc
  src/mds/Migrator.h
  src/mds/Mutation.h
  src/mds/OpenFileTable.cc
  src/mds/OpenFileTable.h
  src/mds/ScatterLock.h
  src/mds/ScrubStack.cc
  src/mds/ScrubStack.h
  src/mds/Server.cc
  src/mds/Server.h
  src/mds/SessionMap.cc
  src/mds/SessionMap.h
  src/mds/SimpleLock.h
  src/mds/SnapClient.cc
  src/mds/SnapClient.h
  src/mds/SnapRealm.cc
  src/mds/SnapRealm.h
  src/mds/StrayManager.cc
  src/mds/journal.cc
Labels: cephfs, cleanup, needs-review, wip-pdonnell-testing

#26111 mds: broadcast quota message to client when disable quota
  src/mds/MDCache.cc
  src/mds/MDCache.h
  src/mds/Server.cc
Labels: cephfs, needs-review, wip-pdonnell-testing

#26106 rgw: multiple es related fixes and improvements
  src/rgw/rgw_cr_rest.h
  src/rgw/rgw_es_query.cc
  src/rgw/rgw_http_client.cc
  src/rgw/rgw_http_client.h
  src/rgw/rgw_rest_client.cc
  src/rgw/rgw_rest_client.h
  src/rgw/rgw_rest_conn.h
  src/rgw/rgw_sync_module_es.cc
  src/rgw/rgw_sync_module_es.h
  src/rgw/rgw_sync_module_es_rest.cc
Labels: bug fix, rgw

#26202 rpm: package crypto libraries for all archs
  ceph.spec.in
Labels: build/ops

#25995 mgr/dashboard: iSCSI management UI
  src/pybind/mgr/dashboard/frontend/e2e/block/iscsi.e2e-spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/app-routing.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/block.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/iscsi-tabs/iscsi-tabs.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/iscsi-tabs/iscsi-tabs.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/iscsi-tabs/iscsi-tabs.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/iscsi-tabs/iscsi-tabs.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/iscsi-target-details/iscsi-target-details.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/iscsi-target-details/iscsi-target-details.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/iscsi-target-details/iscsi-target-details.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/iscsi-target-details/iscsi-target-details.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/iscsi-target-form/iscsi-target-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/iscsi-target-form/iscsi-target-form.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/iscsi-target-form/iscsi-target-form.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/iscsi-target-form/iscsi-target-form.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/iscsi-target-image-settings-modal/iscsi-target-image-settings-modal.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/iscsi-target-image-settings-modal/iscsi-target-image-settings-modal.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/iscsi-target-image-settings-modal/iscsi-target-image-settings-modal.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/iscsi-target-image-settings-modal/iscsi-target-image-settings-modal.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/iscsi-target-iqn-settings-modal/iscsi-target-iqn-settings-modal.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/iscsi-target-iqn-settings-modal/iscsi-target-iqn-settings-modal.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/iscsi-target-iqn-settings-modal/iscsi-target-iqn-settings-modal.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/iscsi-target-iqn-settings-modal/iscsi-target-iqn-settings-modal.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/iscsi-target-list/iscsi-target-list.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/iscsi-target-list/iscsi-target-list.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/iscsi-target-list/iscsi-target-list.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/iscsi-target-list/iscsi-target-list.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/iscsi/iscsi.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/pool/pool-form/pool-form-data.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/pool/pool-form/pool-form.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/core/auth/user-form/user-form-role.model.ts
  src/pybind/mgr/dashboard/frontend/src/app/core/auth/user-form/user-form.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/iscsi.service.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/iscsi.service.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/components.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/modal/modal.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/select-badges/select-badges.component.html
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/select-badges/select-badges.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/select-badges/select-badges.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/select-badges/select-badges.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/select/select-messages.model.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/select/select-option.model.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/select/select.component.html
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/select/select.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/select/select.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/select/select.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/datatable/table/table.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/forms/cd-validators.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/forms/cd-validators.ts
  src/pybind/mgr/dashboard/frontend/src/locale/messages.xlf
Labels: dashboard, feature, needs-review

#26214 mimic: mds: trim cache after journal flush
  src/mds/MDSRank.cc
Labels: cephfs, mimic-batch-1, needs-qa, wip-yuri3-testing

#26010 mimic: mds: create separate config for heartbeat timeout
  src/common/options.cc
  src/mds/MDSRank.cc
Labels: bug fix, cephfs, mimic-batch-1, needs-qa, wip-yuri3-testing

#25857 mimic: mds: log evicted clients to clog/dbg
  src/mds/MDSRank.cc
Labels: cephfs, mimic-batch-1, needs-qa, wip-yuri3-testing

#26279 qa: objectstore snippets for krbd
  qa/suites/krbd/basic/bluestore-bitmap.yaml
  qa/suites/krbd/fsx/objectstore/.qa
  qa/suites/krbd/fsx/objectstore/bluestore-bitmap.yaml
  qa/suites/krbd/fsx/objectstore/filestore-xfs.yaml
  qa/suites/krbd/rbd-nomount/bluestore-bitmap.yaml
  qa/suites/krbd/rbd-nomount/tasks/krbd_data_pool.yaml
  qa/suites/krbd/rbd/bluestore-bitmap.yaml
  qa/suites/krbd/singleton/bluestore-bitmap.yaml
  qa/suites/krbd/thrash/bluestore-bitmap.yaml
  qa/suites/krbd/wac/bluestore-bitmap.yaml
Labels: rbd, tests

#25531 mimic: ceph-create-keys: fix octal notation for Python 3 without losing compatibility with Python 2
  src/ceph-create-keys
Labels: bug fix, build/ops, mimic-batch-1, needs-qa, wip-yuri2-testing

#25525 mimic: cmake: do not pass -B{symbolic,symbolic-functions} to linker on FreeBSD
  src/CMakeLists.txt
Labels: bug fix, build/ops, mimic-batch-1, needs-qa, wip-yuri2-testing

#25348 mimic: core: os/bluestore_tool: fix bluefs expand
  src/os/bluestore/BlueFS.cc
  src/os/bluestore/BlueFS.h
  src/os/bluestore/bluestore_tool.cc
Labels: bluestore, bug fix, mimic-batch-1, needs-qa, wip-yuri2-testing

#26273 vstart.sh: fix params generation for monmaptool
  src/vstart.sh
Labels: bug fix

#26178 mon: A PG with PG_STATE_REPAIR doesn't mean damaged data, PG_STATE_IN…
  src/mon/PGMap.cc
Labels: bug fix, core, mon

#26206 mimic: osd/mon: fix upgrades for pg log hard limit
  PendingReleaseNotes
  qa/suites/upgrade/luminous-x/parallel/1.1-pg-log-overrides/normal_pg_log.yaml
  qa/suites/upgrade/luminous-x/parallel/1.1-pg-log-overrides/short_pg_log.yaml
  qa/suites/upgrade/luminous-x/stress-split-erasure-code/1.1-pg-log-overrides/normal_pg_log.yaml
  qa/suites/upgrade/luminous-x/stress-split-erasure-code/1.1-pg-log-overrides/short_pg_log.yaml
  qa/suites/upgrade/luminous-x/stress-split/1-ceph-install/luminous.yaml
  qa/suites/upgrade/luminous-x/stress-split/1.1-pg-log-overrides/normal_pg_log.yaml
  qa/suites/upgrade/luminous-x/stress-split/1.1-pg-log-overrides/short_pg_log.yaml
  qa/suites/upgrade/mimic-p2p/mimic-p2p-parallel/%
  qa/suites/upgrade/mimic-p2p/mimic-p2p-parallel/point-to-point-upgrade.yaml
  qa/suites/upgrade/mimic-p2p/mimic-p2p-parallel/supported-all-distro
  qa/suites/upgrade/mimic-p2p/mimic-p2p-stress-split/%
  qa/suites/upgrade/mimic-p2p/mimic-p2p-stress-split/0-cluster/+
  qa/suites/upgrade/mimic-p2p/mimic-p2p-stress-split/0-cluster/.qa
  qa/suites/upgrade/mimic-p2p/mimic-p2p-stress-split/0-cluster/openstack.yaml
  qa/suites/upgrade/mimic-p2p/mimic-p2p-stress-split/0-cluster/start.yaml
  qa/suites/upgrade/mimic-p2p/mimic-p2p-stress-split/1-ceph-install/.qa
  qa/suites/upgrade/mimic-p2p/mimic-p2p-stress-split/1-ceph-install/mimic.yaml
  qa/suites/upgrade/mimic-p2p/mimic-p2p-stress-split/1.1-pg-log-overrides
  qa/suites/upgrade/mimic-p2p/mimic-p2p-stress-split/2-partial-upgrade/.qa
  qa/suites/upgrade/mimic-p2p/mimic-p2p-stress-split/2-partial-upgrade/firsthalf.yaml
  qa/suites/upgrade/mimic-p2p/mimic-p2p-stress-split/3-thrash/.qa
  qa/suites/upgrade/mimic-p2p/mimic-p2p-stress-split/3-thrash/default.yaml
  qa/suites/upgrade/mimic-p2p/mimic-p2p-stress-split/4-workload/+
  qa/suites/upgrade/mimic-p2p/mimic-p2p-stress-split/4-workload/.qa
  qa/suites/upgrade/mimic-p2p/mimic-p2p-stress-split/4-workload/radosbench.yaml
  qa/suites/upgrade/mimic-p2p/mimic-p2p-stress-split/4-workload/rbd-cls.yaml
  qa/suites/upgrade/mimic-p2p/mimic-p2p-stress-split/4-workload/rbd-import-export.yaml
  qa/suites/upgrade/mimic-p2p/mimic-p2p-stress-split/4-workload/rbd_api.yaml
  qa/suites/upgrade/mimic-p2p/mimic-p2p-stress-split/4-workload/readwrite.yaml
  qa/suites/upgrade/mimic-p2p/mimic-p2p-stress-split/4-workload/snaps-few-objects.yaml
  qa/suites/upgrade/mimic-p2p/mimic-p2p-stress-split/5-finish-upgrade.yaml
  qa/suites/upgrade/mimic-p2p/mimic-p2p-stress-split/7-final-workload/+
  qa/suites/upgrade/mimic-p2p/mimic-p2p-stress-split/7-final-workload/.qa
  qa/suites/upgrade/mimic-p2p/mimic-p2p-stress-split/7-final-workload/rbd-python.yaml
  qa/suites/upgrade/mimic-p2p/mimic-p2p-stress-split/7-final-workload/rgw-swift.yaml
  qa/suites/upgrade/mimic-p2p/mimic-p2p-stress-split/7-final-workload/snaps-many-objects.yaml
  qa/suites/upgrade/mimic-p2p/mimic-p2p-stress-split/objectstore/.qa
  qa/suites/upgrade/mimic-p2p/mimic-p2p-stress-split/objectstore/bluestore.yaml
  qa/suites/upgrade/mimic-p2p/mimic-p2p-stress-split/objectstore/filestore-xfs.yaml
  qa/suites/upgrade/mimic-p2p/mimic-p2p-stress-split/supported-all-distro
  qa/suites/upgrade/mimic-p2p/mimic-p2p-stress-split/thrashosds-health.yaml
  qa/suites/upgrade/mimic-p2p/supported-all-distro
  src/include/ceph_features.h
  src/include/rados.h
  src/mon/MonCommands.h
  src/mon/OSDMonitor.cc
  src/osd/OSDMap.cc
  src/osd/PG.h
  src/osd/PrimaryLogPG.cc
  src/osd/PrimaryLogPG.h
Labels: bug fix, core, mimic-batch-1, wip-yuri-testing

#26201 mimic: tests: Command failed on smithi191 with status 1: 'sudo yum -y install ceph-radosgw'
  qa/suites/rados/thrash-old-clients/1-install/hammer.yaml
Labels: core, mimic-batch-1, needs-qa, tests, wip-yuri-testing

#25385 mimic: osd/OSD: OSD::mkfs asserts when reusing disk with existing superblock.
  src/osd/OSD.cc
Labels: bluestore, bug fix, mimic-batch-1, needs-qa, wip-yuri-testing

#26094 mgr/orchestrator: make use of @CLICommand
  doc/mgr/orchestrator_modules.rst
  qa/tasks/mgr/test_orchestrator_cli.py
  src/pybind/mgr/ansible/module.py
  src/pybind/mgr/orchestrator.py
  src/pybind/mgr/orchestrator_cli/module.py
  src/pybind/mgr/test_orchestrator/module.py
Labels: orchestrator

#26259 common: make CEPH_BUFFER_ALLOC_UNIT known at compile-time.
  src/common/buffer.cc
Labels: common, needs-qa, performance, wip-kefu2-testing

#26258 build: disable kerberos for nautilus
  CMakeLists.txt
  ceph.spec.in
  debian/control
Labels: core, needs-qa, wip-kefu2-testing

#26181 pybind/mgr: PEP 8 code clean and fix typo
  src/pybind/mgr/hello/module.py
  src/pybind/mgr/mgr_module.py
  src/pybind/mgr/mgr_util.py
  src/pybind/mgr/prometheus/module.py
Labels: cleanup, mgr, needs-qa, wip-kefu2-testing

#26177 osd: refuse to start if we're > N+2 from recorded require_osd_release
  src/ceph_osd.cc
  src/osd/OSD.cc
  src/osd/OSD.h
Labels: core, needs-qa, wip-kefu2-testing

#25918 mgr/dashboard: NFS Ganesha management REST API
  doc/mgr/dashboard.rst
  qa/tasks/mgr/dashboard/helper.py
  qa/tasks/mgr/dashboard/test_ganesha.py
  src/pybind/mgr/dashboard/.pylintrc
  src/pybind/mgr/dashboard/controllers/__init__.py
  src/pybind/mgr/dashboard/controllers/auth.py
  src/pybind/mgr/dashboard/controllers/nfsganesha.py
  src/pybind/mgr/dashboard/controllers/role.py
  src/pybind/mgr/dashboard/controllers/saml2.py
  src/pybind/mgr/dashboard/controllers/user.py
  src/pybind/mgr/dashboard/module.py
  src/pybind/mgr/dashboard/security.py
  src/pybind/mgr/dashboard/services/access_control.py
  src/pybind/mgr/dashboard/services/cephfs.py
  src/pybind/mgr/dashboard/services/cephx.py
  src/pybind/mgr/dashboard/services/ganesha.py
  src/pybind/mgr/dashboard/services/orchestrator.py
  src/pybind/mgr/dashboard/services/rgw_client.py
  src/pybind/mgr/dashboard/services/sso.py
  src/pybind/mgr/dashboard/settings.py
  src/pybind/mgr/dashboard/tests/test_access_control.py
  src/pybind/mgr/dashboard/tests/test_ganesha.py
  src/pybind/rados/rados.pyx
Labels: cephfs, dashboard, feature, orchestrator

#25987 mimic: common: fix for broken rbdmap parameter parsing
  doc/man/8/rbdmap.rst
  src/rbdmap
Labels: common, mimic-batch-1, needs-qa, rbd, wip-yuri5-testing

#25957 mimic: [journal] max journal order is incorrectly set at 64
  src/common/options.cc
  src/journal/Journaler.cc
  src/test/cli/rbd/help.t
  src/tools/rbd/ArgumentTypes.cc
Labels: mimic-batch-1, needs-qa, rbd, wip-yuri5-testing

#26058 mgr/dashboard: SSO - UserDoesNotExist page
  src/pybind/mgr/dashboard/controllers/saml2.py
  src/pybind/mgr/dashboard/frontend/src/app/app-routing.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/core/auth/auth.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/core/auth/sso/sso-not-found/sso-not-found.component.html
  src/pybind/mgr/dashboard/frontend/src/app/core/auth/sso/sso-not-found/sso-not-found.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/core/auth/sso/sso-not-found/sso-not-found.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/core/auth/sso/sso-not-found/sso-not-found.component.ts
  src/pybind/mgr/dashboard/frontend/src/locale/messages.xlf
Labels: dashboard, needs-review

#26296 Fix iSCSI docs URL
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/iscsi-target-list/iscsi-target-list.component.ts
Labels: cleanup, dashboard

#26189 mgr/dashboard: Group buttons together into one menu on OSD page
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/osd/osd-list/osd-list.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/osd/osd-list/osd-list.component.scss
  src/pybind/mgr/dashboard/frontend/src/locale/messages.xlf
  src/pybind/mgr/dashboard/frontend/src/styles.scss
Labels: dashboard, feature, needs-review

#26074 mimic: mgr: add get_latest_counter() to C++ -> Python interface.
  src/mgr/ActivePyModules.cc
  src/mgr/ActivePyModules.h
  src/mgr/BaseMgrModule.cc
  src/mgr/DaemonState.h
  src/pybind/mgr/mgr_module.py
Labels: mgr, mimic-batch-1, needs-qa, wip-yuri4-testing

#25856 mimic: qa/rados/upgrade: align thrashing with upgrade suite, don't import/export pgs
  qa/suites/rados/upgrade/luminous-x-singleton/3-thrash/default.yaml
Labels: core, mimic-batch-1, needs-qa, tests, wip-yuri4-testing

#25575 doc: Add mention of ceph osd pool stats
  doc/rados/operations/pools.rst
Labels: core, documentation

#26253 common/random_cache: remove unused RandomCache
  src/common/random_cache.hpp
Labels: cleanup, common

#25346 mgr/dashboard: Fix modified files only (frontend)
  src/pybind/mgr/dashboard/frontend/package.json
Labels: dashboard, needs-review

#26198 mgr/dashboard: Add description to menu items on mobile navigation
  src/pybind/mgr/dashboard/frontend/src/app/ceph/dashboard/health/health.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/ceph/dashboard/info-card/info-card-popover.scss
  src/pybind/mgr/dashboard/frontend/src/app/ceph/dashboard/info-card/info-card.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/core/navigation/administration/administration.component.html
  src/pybind/mgr/dashboard/frontend/src/app/core/navigation/dashboard-help/dashboard-help.component.html
  src/pybind/mgr/dashboard/frontend/src/app/core/navigation/identity/identity.component.html
  src/pybind/mgr/dashboard/frontend/src/app/core/navigation/navigation/navigation.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/core/navigation/notifications/notifications.component.html
  src/pybind/mgr/dashboard/frontend/src/app/core/navigation/task-manager/task-manager.component.html
  src/pybind/mgr/dashboard/frontend/src/defaults.scss
  src/pybind/mgr/dashboard/frontend/src/locale/messages.xlf
Labels: cleanup, dashboard, needs-review

#24818 [DNM] rgw: Controlling STS authentication via a Policy
  doc/radosgw/STSLite.rst
  src/rgw/rgw_iam_policy.cc
  src/rgw/rgw_iam_policy.h
  src/rgw/rgw_iam_policy_keywords.gperf
  src/rgw/rgw_op.cc
  src/rgw/rgw_rest_sts.cc
Labels: rgw

#26098 rgw: Correcting logic for signature calculation for non s3 ops.
  doc/radosgw/STSLite.rst
  src/rgw/rgw_auth_s3.h
  src/rgw/rgw_rest_s3.cc
  src/rgw/rgw_rest_sts.cc
  src/rgw/rgw_rest_sts.h
Labels: rgw

#26312 doc: mention CVEs in luminous v12.2.11 release notes
  doc/releases/luminous.rst
Labels: documentation

#26008 rgw: scheduler
  src/common/options.cc
  src/rgw/CMakeLists.txt
  src/rgw/rgw_asio_frontend.cc
  src/rgw/rgw_asio_frontend.h
  src/rgw/rgw_civetweb_frontend.cc
  src/rgw/rgw_common.cc
  src/rgw/rgw_common.h
  src/rgw/rgw_dmclock.h
  src/rgw/rgw_dmclock_async_scheduler.cc
  src/rgw/rgw_dmclock_async_scheduler.h
  src/rgw/rgw_dmclock_scheduler.h
  src/rgw/rgw_dmclock_scheduler_ctx.cc
  src/rgw/rgw_dmclock_scheduler_ctx.h
  src/rgw/rgw_dmclock_sync_scheduler.cc
  src/rgw/rgw_dmclock_sync_scheduler.h
  src/rgw/rgw_fcgi_process.cc
  src/rgw/rgw_frontend.h
  src/rgw/rgw_http_errors.h
  src/rgw/rgw_loadgen_process.cc
  src/rgw/rgw_main.cc
  src/rgw/rgw_op.h
  src/rgw/rgw_process.cc
  src/rgw/rgw_process.h
  src/rgw/rgw_rest.cc
  src/rgw/rgw_rest.h
  src/rgw/rgw_swift_auth.h
  src/test/osd/TestMClockOpClassQueue.cc
  src/test/rgw/CMakeLists.txt
  src/test/rgw/test_rgw_dmclock_scheduler.cc
Labels: feature, rgw

#26295 [luminous] ceph-volume: revert partition as disk
  src/ceph-volume/ceph_volume/tests/functional/lvm/centos7/bluestore/dmcrypt/test.yml
  src/ceph-volume/ceph_volume/tests/functional/lvm/centos7/filestore/dmcrypt/test.yml
  src/ceph-volume/ceph_volume/tests/functional/lvm/playbooks/test_bluestore.yml
  src/ceph-volume/ceph_volume/tests/functional/lvm/playbooks/test_filestore.yml
  src/ceph-volume/ceph_volume/tests/functional/lvm/xenial/bluestore/dmcrypt/test.yml
  src/ceph-volume/ceph_volume/tests/functional/lvm/xenial/filestore/dmcrypt/test.yml
  src/ceph-volume/ceph_volume/tests/util/test_disk.py
  src/ceph-volume/ceph_volume/util/device.py
  src/ceph-volume/ceph_volume/util/disk.py
Labels: ceph-volume

#26294 [mimic] ceph-volume: revert partition as disk
  src/ceph-volume/ceph_volume/tests/functional/lvm/centos7/bluestore/dmcrypt/test.yml
  src/ceph-volume/ceph_volume/tests/functional/lvm/centos7/filestore/dmcrypt/test.yml
  src/ceph-volume/ceph_volume/tests/functional/lvm/playbooks/test_bluestore.yml
  src/ceph-volume/ceph_volume/tests/functional/lvm/playbooks/test_filestore.yml
  src/ceph-volume/ceph_volume/tests/functional/lvm/xenial/bluestore/dmcrypt/test.yml
  src/ceph-volume/ceph_volume/tests/functional/lvm/xenial/filestore/dmcrypt/test.yml
  src/ceph-volume/ceph_volume/tests/util/test_disk.py
  src/ceph-volume/ceph_volume/util/device.py
  src/ceph-volume/ceph_volume/util/disk.py
Labels: ceph-volume

#26213 osd: Fix recovery and backfill priority handling
  qa/standalone/ceph-helpers.sh
  qa/standalone/osd/osd-backfill-prio.sh
  qa/standalone/osd/osd-recovery-prio.sh
  src/common/AsyncReserver.h
  src/osd/PG.cc
  src/osd/PG.h
  src/osd/osd_types.h
Labels: bug fix, core

#26313 mgr/ansible: add install tox==2.9.1
  src/pybind/mgr/ansible/requirements.txt
  src/pybind/mgr/orchestrator_cli/requirements.txt
Labels: orchestrator, tests

#26311 tests: update Dockerfile to support fc-29
  src/test/fedora-29/Dockerfile.in
  src/test/fedora-29/ceph.spec.in
  src/test/fedora-29/install-deps.sh
Labels: needs-qa, tests

#26331 mgr/orchestrator: reformat the docstring
  doc/mgr/orchestrator_modules.rst
  src/pybind/mgr/orchestrator.py
Labels: documentation, orchestrator

#26317 mgr/orchestrator: Fix up rook osd create dispatcher
  src/pybind/mgr/rook/module.py
  src/pybind/mgr/rook/rook_cluster.py
Labels: orchestrator

#26326 luminous: doc: pin the version for "breathe" to 4.1.11
  admin/doc-requirements.txt
Labels: build/ops, documentation

#26333 mimic: doc: pin the version for "breathe" to 4.1.11
  admin/doc-requirements.txt
Labels: build/ops, documentation

#26330 test: osd-backfill-stats.sh Fix check of multi backfill OSDs, skip re…
  qa/standalone/osd/osd-backfill-stats.sh
Labels: tests, wip-sage-testing

#26329 mimic: osd-backfill-stats.sh fails in rados/standalone/osd.yaml
  qa/standalone/osd/osd-backfill-stats.sh
Labels: tests

#26335 ceph-osd: fix warning
  src/ceph_osd.cc
Labels: cleanup, core

#26248 systemd: lock down privileges more
  systemd/ceph-fuse@.service.in
  systemd/ceph-mds@.service.in
  systemd/ceph-mgr@.service.in
  systemd/ceph-mon@.service.in
  systemd/ceph-osd@.service.in
  systemd/ceph-radosgw@.service.in
  systemd/ceph-rbd-mirror@.service.in
Labels: cephfs, core, mgr, needs-qa, rbd, rgw, wip-sage-testing

#26287 doc: update doc on new recall config
  doc/cephfs/health-messages.rst
Labels: cephfs, documentation, needs-review

#25082 common: optimize reference counting in bufferlist
  src/common/buffer.cc
  src/common/buffer_seastar.cc
  src/include/buffer.h
  src/include/buffer_raw.h
  src/kv/MemDB.cc
  src/librbd/librbd.cc
  src/test/bufferlist.cc
Labels: common, needs-qa, performance, wip-kefu2-testing

#26314 mgr/orchestrator: Add host mon mgr management to interface
  doc/mgr/orchestrator_cli.rst
  qa/tasks/mgr/test_orchestrator_cli.py
  src/pybind/mgr/orchestrator.py
  src/pybind/mgr/orchestrator_cli/module.py
  src/pybind/mgr/test_orchestrator/module.py
Labels: orchestrator

#26115 mgr/dashboard: iSCSI discovery authentication API
  src/pybind/mgr/dashboard/controllers/iscsi.py
  src/pybind/mgr/dashboard/services/iscsi_client.py
  src/pybind/mgr/dashboard/tests/test_iscsi.py
Labels: dashboard, feature, needs-review

#26268 rpm: do not exclude s390x build on openSUSE
  ceph.spec.in
Labels: build/ops

#26360 doc: mgr/orch: Fix remote_host doc reference
  doc/mgr/orchestrator_modules.rst
Labels: documentation, orchestrator

#26102 mgr/dashboard: add Feature Toggles
  doc/conf.py
  doc/mgr/dashboard.rst
  doc/mgr/dashboard_plugins/feature_toggles.inc.rst
  src/pybind/mgr/dashboard/HACKING.rst
  src/pybind/mgr/dashboard/controllers/__init__.py
  src/pybind/mgr/dashboard/frontend/src/app/app-routing.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/dashboard/health/health.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/dashboard/health/health.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/dashboard/health/health.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/core/navigation/navigation/navigation.component.html
  src/pybind/mgr/dashboard/frontend/src/app/core/navigation/navigation/navigation.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/services/feature-toggles-guard.service.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/services/feature-toggles-guard.service.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/services/feature-toggles.service.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/services/feature-toggles.service.ts
  src/pybind/mgr/dashboard/frontend/src/locale/messages.xlf
  src/pybind/mgr/dashboard/module.py
  src/pybind/mgr/dashboard/plugins/__init__.py
  src/pybind/mgr/dashboard/plugins/feature_toggles.py
  src/pybind/mgr/dashboard/plugins/interfaces.py
  src/pybind/mgr/dashboard/plugins/lru_cache.py
  src/pybind/mgr/dashboard/plugins/pluggy.py
  src/pybind/mgr/dashboard/plugins/ttl_cache.py
  src/pybind/mgr/dashboard/tests/test_feature_toggles.py
  src/pybind/mgr/mgr_module.py
Labels: dashboard, feature

#26339 qa: krbd namespaces test
  qa/suites/krbd/rbd-nomount/tasks/krbd_namespaces.yaml
  qa/workunits/rbd/krbd_namespaces.sh
Labels: needs-qa, rbd, tests

#26318 test: switch to GNU sed
  src/test/crush/crush_weights.sh
Labels: FreeBSD, tests

#26322 test/librbd: fix 'Uninteresting mock function call' warning
  src/test/librbd/exclusive_lock/test_mock_PostAcquireRequest.cc
Labels: cleanup, needs-qa, rbd, tests, wip-jason-testing

#26324 mimic: osd: force-backfill sets forced_recovery instead of forced_backfill in 13.2.1
  src/osd/PG.cc
Labels: bug fix, core, mimic-batch-1, needs-qa, wip-yuri-testing

#26291 mimic: deep fsck fails on inspecting very large onodes
  src/common/legacy_config_opts.h
  src/common/options.cc
  src/os/bluestore/BlueStore.cc
Labels: core, mimic-batch-1, needs-qa, wip-yuri-testing

#26288 mimic: qa/tasks/thrashosds-health.yaml: whitelist "slow request"
  qa/tasks/thrashosds-health.yaml
Labels: mimic-batch-1, needs-qa, tests, wip-yuri-testing

#26260 mimic: os/bluestore: fixup access a destroy cond cause deadlock or undefine
  src/os/bluestore/BlockDevice.h
Labels: bluestore, core, mimic-batch-1, needs-qa, wip-yuri3-testing

#26239 mimic: osd/PG.cc: account for missing set irrespective of last_complete
  src/osd/PG.cc
Labels: core, mimic-batch-1, needs-qa, wip-yuri3-testing

#26235 mimic: mgr will refuse connection from the monitor who starts behind it
  src/mgr/DaemonServer.cc
  src/mgr/Mgr.cc
  src/mgr/Mgr.h
  src/mgr/MgrStandby.cc
Labels: mgr, mimic-batch-1, needs-qa, wip-yuri3-testing

#26077 mimic: osd: keep using cache even if op will invalid cache
  src/osd/ECBackend.cc
Labels: core, mimic-batch-1, needs-qa, wip-yuri3-testing

#25721 mimic: ceph-objectstore-tool: Dump hashinfo
  qa/standalone/scrub/osd-scrub-repair.sh
  src/tools/ceph_objectstore_tool.cc
Labels: core, mimic-batch-1, needs-qa, tools, wip-yuri3-testing

#26255 crimson/osd: add more heartbeat peers
  src/crimson/osd/heartbeat.cc
  src/crimson/osd/heartbeat.h
  src/crimson/osd/osd.cc
Labels: crimson

#26319 mgr/dashboard: Fix iSCSI service unit tests
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/iscsi.service.spec.ts
Labels: bug fix, dashboard

#26364 test/rgw: silence -Wsign-compare warnings
  src/test/rgw/test_rgw_dmclock_scheduler.cc
Labels: cleanup, rgw, tests

#26243 mgr/dashboard: Added tab tests to Block menu items
  src/pybind/mgr/dashboard/frontend/e2e/block/images.e2e-spec.ts
  src/pybind/mgr/dashboard/frontend/e2e/block/mirroring.e2e-spec.ts
Labels: dashboard, tests

#26221 crimson/net: misc fixes and features for crimson-messenger tests
  src/crimson/CMakeLists.txt
  src/crimson/mon/MonClient.cc
  src/crimson/net/Connection.h
  src/crimson/net/Dispatcher.h
  src/crimson/net/Fwd.h
  src/crimson/net/Messenger.cc
  src/crimson/net/Messenger.h
  src/crimson/net/Socket.h
  src/crimson/net/SocketConnection.cc
  src/crimson/net/SocketConnection.h
  src/crimson/net/SocketMessenger.cc
  src/crimson/net/SocketMessenger.h
  src/crimson/osd/heartbeat.cc
  src/crimson/osd/heartbeat.h
  src/crimson/osd/osd.cc
  src/crimson/osd/osd.h
  src/test/crimson/CMakeLists.txt
  src/test/crimson/perf_crimson_msgr.cc
  src/test/crimson/test_alien_echo.cc
  src/test/crimson/test_messenger.cc
  src/test/crimson/test_monc.cc
Labels: crimson

#26320 mgr/dashboard: Add iSCSI discovery authentication UI
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/block.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/iscsi-target-discovery-modal/iscsi-target-discovery-modal.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/iscsi-target-discovery-modal/iscsi-target-discovery-modal.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/iscsi-target-discovery-modal/iscsi-target-discovery-modal.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/iscsi-target-discovery-modal/iscsi-target-discovery-modal.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/iscsi-target-list/iscsi-target-list.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/iscsi-target-list/iscsi-target-list.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/iscsi.service.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/iscsi.service.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/datatable/table/table.component.scss
  src/pybind/mgr/dashboard/frontend/src/locale/messages.xlf
  src/pybind/mgr/dashboard/frontend/src/styles.scss
Labels: dashboard, feature

#26323 mgr/dashboard: Fix typo in pools management
  src/pybind/mgr/dashboard/frontend/src/app/ceph/pool/pool-form/pool-form.component.html
  src/pybind/mgr/dashboard/frontend/src/locale/messages.de-DE.xlf
  src/pybind/mgr/dashboard/frontend/src/locale/messages.pt-PT.xlf
  src/pybind/mgr/dashboard/frontend/src/locale/messages.xlf
Labels: cleanup, dashboard

#26373 mimic: doc: rados/configuration: refresh osdmap section
  doc/rados/configuration/osd-config-ref.rst
Labels: documentation

#26363 ceph.spec.in: python-kubernetes broken on rhel
  ceph.spec.in
Labels: core, wip-sage-testing

#26365 msg/async/ProtocolV2: refuse incoming connections intended for other daemons
  doc/dev/msgr2.rst
  src/msg/async/ProtocolV2.cc
Labels: bug fix, core, messenger, wip-sage-testing, wip-sage2-testing

#26376 mimic: tests: Allow multi instances of "make tests" on the same machine
  qa/standalone/ceph-helpers.sh
  src/log/test.cc
  src/test/osd/safe-to-destroy.sh
  src/test/smoke.sh
Labels: tests

#25944 mimic: mgr/zabbix: Send more PG information to Zabbix
  src/pybind/mgr/zabbix/module.py
  src/pybind/mgr/zabbix/zabbix_template.xml
Labels: mgr, mimic-batch-1, needs-qa, wip-yuri3-testing

#26344 mimic: qa: don't use notcmalloc flavor unless we need it
  qa/suites/rgw/tempest/tasks/rgw_tempest.yaml
  qa/tasks/keystone.py
Labels: mimic-batch-1, needs-qa, rgw, tests

#26337 librbd: get_parent API method should properly handle migrating image
  src/librbd/Features.cc
  src/librbd/api/Image.cc
  src/test/librbd/test_Migration.cc
  src/tools/rbd/ArgumentTypes.cc
  src/tools/rbd/action/Info.cc
Labels: bug fix, rbd

#26246 ceph-volume: add space between words
  src/ceph-volume/ceph_volume/devices/lvm/batch.py
Labels: ceph-volume

#26278 luminous: mds: optimize revoking stale caps
  src/client/Client.cc
  src/client/Client.h
  src/mds/CInode.cc
  src/mds/Capability.cc
  src/mds/Capability.h
  src/mds/Locker.cc
  src/mds/Locker.h
  src/mds/MDCache.cc
  src/mds/MDCache.h
  src/mds/Migrator.cc
  src/mds/Server.cc
  src/mds/SessionMap.h
Labels: cephfs, luminous-batch-1, needs-qa, wip-yuri6-testing

#26271 luminous: client: session flush does not cause cap release message flush
  src/client/Client.cc
Labels: cephfs, luminous-batch-1, needs-qa, wip-yuri6-testing

#26257 luminous: mds: log new client sessions with various metadata
  src/mds/MDBalancer.cc
  src/mds/MDCache.cc
  src/mds/MDSRank.cc
  src/mds/Server.cc
  src/mds/SessionMap.cc
  src/mds/SessionMap.h
  src/test/mds/TestSessionFilter.cc
Labels: cephfs, luminous-batch-1, needs-qa, wip-yuri6-testing

#26005 luminous: mds: handle state change race
  src/mds/Locker.cc
  src/mds/MDCache.cc
  src/mds/MDSRank.cc
  src/mds/MDSRank.h
Labels: cephfs, luminous-batch-1, needs-qa, wip-yuri6-testing

#25990 luminous: mds: handle fragment notify race
  src/mds/Locker.cc
  src/mds/Locker.h
  src/mds/MDCache.cc
  src/mds/MDCache.h
  src/mds/MDSDaemon.h
  src/messages/MMDSFragmentNotify.h
  src/messages/MMDSFragmentNotifyAck.h
  src/msg/Message.cc
  src/msg/Message.h
Labels: cephfs, luminous-batch-1, needs-qa, wip-yuri6-testing

#26377 debian/control: change Architecture python plugins to "all"
  debian/control
Labels: build/ops, cleanup

#26385 mon: mons also connect to mgrs
  src/mon/Monitor.cc
Labels: bug fix, mon, needs-qa, wip-sage-testing

#26379 rpm,deb: remove python-jinja2 dependency
  ceph.spec.in
  debian/control
Labels: build/ops, cleanup

#26384 mgr/dashboard: Add implicit wait in e2e tests
  src/pybind/mgr/dashboard/frontend/protractor.conf.js
Labels: bug fix, dashboard

#26357 mgr/orchestrator: fix device pretty print with None attributes
  src/pybind/mgr/orchestrator.py
  src/pybind/mgr/orchestrator_cli/test_orchestrator.py
Labels: bug fix, needs-qa, orchestrator, wip-swagner-testing

#26346 mgr/orch: refresh option for inventory query
  qa/tasks/mgr/test_orchestrator_cli.py
  src/pybind/mgr/ansible/module.py
  src/pybind/mgr/deepsea/module.py
  src/pybind/mgr/orchestrator.py
  src/pybind/mgr/orchestrator_cli/module.py
  src/pybind/mgr/rook/module.py
  src/pybind/mgr/test_orchestrator/module.py
Labels: needs-qa, orchestrator, wip-swagner-testing

#26367 mgr/dashboard: Add iSCSI Target Edit UI
  src/pybind/mgr/dashboard/frontend/src/app/app-routing.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/iscsi-target-form/iscsi-target-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/iscsi-target-form/iscsi-target-form.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/iscsi-target-form/iscsi-target-form.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/iscsi-target-list/iscsi-target-list.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/iscsi-target-list/iscsi-target-list.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/iscsi.service.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/iscsi.service.ts
  src/pybind/mgr/dashboard/frontend/src/locale/messages.xlf
Labels: dashboard, feature

#26369 ceph-mon: slightly more helpful output during mkfs
  src/ceph_mon.cc
Labels: core, mon, needs-review, wip-sage2-testing

#26391 buffer: disable hypercombining in bufferlist.
  src/common/buffer.cc
Labels: bug fix, common, wip-sage2-testing

#26392 messages/MMonMgrReport: fix compat decoding
  src/messages/MMonMgrReport.h
Labels: bug fix, core, wip-sage2-testing

#26265 qa/suites/rados/upgrade: whitelist 'slow requests'
  qa/suites/rados/upgrade/luminous-x-singleton/1-install/luminous.yaml
Labels: core, needs-qa, tests, wip-sage2-testing

#26366 os/filestore: ceph_abort() on fsync(2) or fdatasync(2) failure
  src/os/filestore/FileStore.cc
  src/os/filestore/LFNIndex.cc
  src/os/filestore/WBThrottle.cc
Labels: bug fix, core, wip-sage2-testing

#26390 doc: add Ceph Manager Dashboard to top-level TOC
  doc/index.rst
Labels: documentation

#26325 mgr/dashboard: use the orchestrator_cli backend setting
  doc/mgr/ansible.rst
  doc/mgr/orchestrator_cli.rst
  src/mon/MgrMonitor.cc
  src/pybind/mgr/dashboard/services/orchestrator.py
  src/pybind/mgr/dashboard/settings.py
  src/pybind/mgr/orchestrator.py
  src/pybind/mgr/orchestrator_cli/module.py
  src/pybind/mgr/volumes/module.py
Labels: dashboard, mgr, orchestrator

#26406 doc: typo fixes, s/Requered/Required/
  doc/rados/configuration/bluestore-config-ref.rst
Labels: documentation

#26397 ceph-volume: update testing playbook 'deploy.yml'
  src/ceph-volume/ceph_volume/tests/functional/playbooks/deploy.yml
Labels: ceph-volume

#26411 mgr/smart: remove obsolete smart module
  ceph.spec.in
  debian/ceph-mgr.install
  src/pybind/mgr/smart/__init__.py
  src/pybind/mgr/smart/module.py
Labels: cleanup, core, wip-sage-testing

#26393 install-deps.sh: Fixes for RHEL 7
  install-deps.sh
Labels: bug fix, needs-qa, wip-kefu2-testing

#26398 ceph.spec.in: Don't use noarch for mgr module subpackages, fix /usr/lib64/ceph/mgr dir ownership
  ceph.spec.in
Labels: build/ops, wip-kefu2-testing

#25989 mgr/dashboard: Add UI to configure the telemetry mgr plugin
  qa/suites/rados/mgr/tasks/dashboard.yaml
  qa/tasks/ceph_test_case.py
  qa/tasks/mgr/dashboard/helper.py
  qa/tasks/mgr/dashboard/test_mgr_module.py
  qa/tasks/mgr/dashboard/test_rgw.py
  src/pybind/mgr/dashboard/controllers/mgr_modules.py
  src/pybind/mgr/dashboard/frontend/package-lock.json
  src/pybind/mgr/dashboard/frontend/package.json
  src/pybind/mgr/dashboard/frontend/src/app/app-routing.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/app.component.html
  src/pybind/mgr/dashboard/frontend/src/app/app.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/core/core.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/core/mgr-modules/mgr-modules-list/mgr-modules-list.component.html
  src/pybind/mgr/dashboard/frontend/src/app/core/mgr-modules/mgr-modules-list/mgr-modules-list.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/core/mgr-modules/mgr-modules-list/mgr-modules-list.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/core/mgr-modules/mgr-modules-list/mgr-modules-list.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/core/mgr-modules/mgr-modules.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/core/mgr-modules/telemetry/telemetry.component.html
  src/pybind/mgr/dashboard/frontend/src/app/core/mgr-modules/telemetry/telemetry.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/core/mgr-modules/telemetry/telemetry.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/core/mgr-modules/telemetry/telemetry.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/core/navigation/navigation/navigation.component.html
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/mgr-module.service.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/mgr-module.service.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/services/notification.service.ts
  src/pybind/mgr/dashboard/frontend/src/locale/messages.xlf
  src/pybind/mgr/dashboard/frontend/src/styles.scss
  src/pybind/mgr/dashboard/tools.py
Labels: dashboard, feature

#26380 deb,rpm,qa: split dashboard package
  ceph.spec.in
  debian/ceph-mgr-dashboard.install
  debian/ceph-mgr-dashboard.postinst
  debian/ceph-mgr-dashboard.prerm
  debian/ceph-mgr.install
  debian/control
  qa/packages/packages.yaml
  qa/suites/fs/upgrade/featureful_client/old_client/tasks/0-luminous.yaml
  qa/suites/fs/upgrade/featureful_client/upgraded_client/tasks/0-luminous.yaml
  qa/suites/fs/upgrade/snaps/tasks/0-luminous.yaml
  qa/suites/rados/thrash-old-clients/1-install/hammer.yaml
  qa/suites/rados/thrash-old-clients/1-install/jewel.yaml
  qa/suites/rados/thrash-old-clients/1-install/luminous.yaml
  qa/suites/rados/upgrade/luminous-x-singleton/1-install/luminous.yaml
  qa/suites/upgrade/luminous-x/parallel/1-ceph-install/luminous.yaml
  qa/suites/upgrade/luminous-x/stress-split/1-ceph-install/luminous.yaml
  qa/suites/upgrade/mimic-x/parallel/1-ceph-install/mimic.yaml
  qa/suites/upgrade/mimic-x/stress-split/1-ceph-install/mimic.yaml
Labels: build/ops, needs-qa, tests, wip-kefu2-testing

#26315 msg/msg_types.h: do not cast `ceph_entity_name` to `entity_name_t` for printing
  src/msg/msg_types.h
Labels: cleanup, common, needs-qa, wip-kefu2-testing

#26210 mgr/restful: updated string formatting to str.format()
  src/pybind/mgr/restful/api/config.py
  src/pybind/mgr/restful/api/mon.py
  src/pybind/mgr/restful/api/osd.py
  src/pybind/mgr/restful/api/pool.py
  src/pybind/mgr/restful/api/request.py
Labels: mgr, needs-qa, wip-kefu2-testing

#26409 mgr/dashboard: fix: tox not detecting deps changes
  src/pybind/mgr/dashboard/tox.ini
Labels: bug fix, dashboard

#26410 mgr/dashboard: Update bootstrap to v3.4.1
  src/pybind/mgr/dashboard/frontend/package-lock.json
  src/pybind/mgr/dashboard/frontend/package.json
Labels: dashboard

#26421 restful: Fix regression when traversing leaf nodes
  src/pybind/mgr/restful/common.py
Labels: bug fix, mgr

#25963 rpm: make Python dependencies somewhat less confusing
  ceph.spec.in
Labels: build/ops, cleanup, needs-qa

#26407 mgr/dashboard: Sync column style with the rest of the UI
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-user-list/rgw-user-list.component.ts
Labels: cleanup, dashboard

#26149 mgr: Improve ActivePyModules::get_typed_config implementation
  src/mgr/ActivePyModules.cc
  src/mgr/DaemonServer.cc
  src/mgr/PyModuleRegistry.h
Labels: cleanup, mgr, needs-qa, wip-kefu2-testing

#26085 mgr/dashboard: NFS management UI
  src/pybind/mgr/dashboard/frontend/src/app/app-routing.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/ceph.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/nfs/nfs-details/nfs-details.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/nfs/nfs-details/nfs-details.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/ceph/nfs/nfs-details/nfs-details.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/nfs/nfs-details/nfs-details.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/nfs/nfs-form-client/nfs-form-client.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/nfs/nfs-form-client/nfs-form-client.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/ceph/nfs/nfs-form-client/nfs-form-client.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/nfs/nfs-form-client/nfs-form-client.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/nfs/nfs-form/nfs-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/nfs/nfs-form/nfs-form.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/ceph/nfs/nfs-form/nfs-form.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/nfs/nfs-form/nfs-form.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/nfs/nfs-list/nfs-list.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/nfs/nfs-list/nfs-list.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/ceph/nfs/nfs-list/nfs-list.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/nfs/nfs-list/nfs-list.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/nfs/nfs.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/core/navigation/navigation/navigation.component.html
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/nfs.service.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/nfs.service.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/models/permission.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/models/permissions.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/pipes/ordinal.pipe.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/pipes/ordinal.pipe.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/pipes/pipes.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/services/task-message.service.ts
  src/pybind/mgr/dashboard/frontend/src/locale/messages.xlf
Labels: dashboard, feature, needs-review

#26420 mon/PGMap: add more #include
  src/mon/PGMap.cc
Labels: cleanup, mon

#26413 osd: fix build_incremental_map_msg
  src/osd/OSD.cc
Labels: bug fix, core

#26316 cmake: test for finding Filesystem with more serious functions
  cmake/modules/FindStdFilesystem_test.cc
Labels: FreeBSD, bug fix, build/ops

#26297 mgr/dashboard: disallow editing read-only config options
  src/pybind/mgr/dashboard/controllers/cluster_configuration.py
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/configuration/configuration-details/configuration-details.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/configuration/configuration.component.ts
  src/pybind/mgr/dashboard/frontend/src/locale/messages.xlf
Labels: bug fix, dashboard, needs-review

#26371 test: run-standalone.sh: point LD_LIBRARY_PATH to $(pwd)/lib
  qa/run-standalone.sh
Labels: tests

#26374 mds: fix potential re-evaluate stray dentry in _unlink_local_finish
  src/mds/MDCache.h
Labels: bug fix, cephfs, wip-pdonnell-testing

#26238 mds: resolve memory leak of recall gather
  src/mds/MDSRank.cc
Labels: bug fix, cephfs, needs-review, wip-pdonnell-testing
