Repository ceph/ceph, pull requests merged in 2019-09, with the labels that each got.

#30034 mgr: install tox deps from wheelhouse
  src/pybind/mgr/ansible/requirements.txt
  src/pybind/mgr/ansible/tox.ini
  src/script/run_tox.sh
Labels: build/ops, cleanup, mgr

#29923 osd/osd_types: bump up some encoding versions
  src/osd/osd_types.cc
Labels: cleanup, core, needs-qa, wip-kefu2-testing

#30010 tools/rbd-ggate: close log before running postfork
  src/tools/rbd_ggate/main.cc
Labels: FreeBSD, bug fix, rbd, tools

#30086 msg/async/dpdk: fix complie errors from fix FTBFS
  src/msg/async/dpdk/DPDKStack.cc
  src/msg/async/dpdk/TCP-Stack.h
Labels: messenger

#29665 ceph-volume: minor optimizations related to class Volumes's use
  src/ceph-volume/ceph_volume/api/lvm.py
  src/ceph-volume/ceph_volume/devices/lvm/listing.py
  src/ceph-volume/ceph_volume/tests/devices/lvm/test_listing.py
Labels: ceph-volume, needs-review

#29957 script/ceph-backport.sh: wholesale refactor
  src/script/ceph-backport.sh
Labels: feature, tools

#30060 rgw: fixed "unrecognized arg" error when using "radosgw-admin zone rm".
  doc/radosgw/multisite.rst
  src/rgw/rgw_admin.cc
Labels: rgw

#30065 test: do not include unnecessary includes
  src/test/librgw_file_aw.cc
  src/test/librgw_file_cd.cc
  src/test/librgw_file_gp.cc
  src/test/librgw_file_nfsns.cc
  src/test/rgw/test_rgw_obj.cc
  src/test/test_rgw_ldap.cc
  src/test/test_rgw_token.cc
Labels: cleanup, tests

#30063 rgw/services: silence -Wunused-variable warning
  src/rgw/services/svc_user_rados.cc
Labels: cleanup, rgw

#30097 ceph-backport.sh: cherry-pick individual commits
  src/script/ceph-backport.sh
Labels: tools

#29613 librbd: behave more gracefully when data pool removed
  qa/workunits/rbd/rbd_mirror.sh
  src/include/rados/librados.hpp
  src/librados/librados_cxx.cc
  src/librbd/DeepCopyRequest.cc
  src/librbd/ImageCtx.cc
  src/librbd/ImageCtx.h
  src/librbd/api/DiffIterate.cc
  src/librbd/api/Image.cc
  src/librbd/api/Image.h
  src/librbd/api/Snapshot.cc
  src/librbd/cache/ObjectCacherObjectDispatch.cc
  src/librbd/cache/ParentCacheObjectDispatch.cc
  src/librbd/deep_copy/ObjectCopyRequest.cc
  src/librbd/image/OpenRequest.cc
  src/librbd/image/RefreshRequest.cc
  src/librbd/image/RemoveRequest.cc
  src/librbd/image/RemoveRequest.h
  src/librbd/io/CopyupRequest.cc
  src/librbd/io/ImageRequestWQ.cc
  src/librbd/io/ObjectRequest.cc
  src/librbd/librbd.cc
  src/librbd/operation/ObjectMapIterate.cc
  src/librbd/operation/SnapshotCreateRequest.cc
  src/librbd/operation/SnapshotRemoveRequest.cc
  src/librbd/operation/SparsifyRequest.cc
  src/librbd/operation/TrimRequest.cc
  src/test/librbd/image/test_mock_RefreshRequest.cc
  src/test/librbd/mock/MockImageCtx.h
  src/test/librbd/test_internal.cc
Labels: bug fix, core, needs-qa, rbd, wip-jason-testing

#29835 osd/PeeringState: fix wrong history of merge target
  src/osd/PeeringState.cc
Labels: bug fix, core

#30093 nautilus: ceph-volume: lvm list is O(n^2)
  src/ceph-volume/ceph_volume/api/lvm.py
  src/ceph-volume/ceph_volume/devices/lvm/listing.py
  src/ceph-volume/ceph_volume/tests/devices/lvm/test_listing.py
Labels: ceph-volume

#30094 luminous: ceph-volume: lvm list is O(n^2)
  src/ceph-volume/ceph_volume/api/lvm.py
  src/ceph-volume/ceph_volume/devices/lvm/listing.py
  src/ceph-volume/ceph_volume/tests/devices/lvm/test_listing.py
Labels: bug fix, ceph-volume

#29654 librbd: skip stale child with non-existent pool for list descendants
  src/librbd/Utils.cc
  src/librbd/api/Image.cc
  src/librbd/operation/SnapshotRemoveRequest.cc
  src/librbd/operation/SnapshotRemoveRequest.h
  src/test/librbd/operation/test_mock_SnapshotRemoveRequest.cc
  src/test/librbd/test_librbd.cc
  src/tools/rbd/action/Children.cc
Labels: bug fix, needs-qa, rbd

#29943 rgw/rgw_op: Remove get_val from hotpath via legacy options
  src/common/legacy_config_opts.h
  src/rgw/rgw_op.h
Labels: needs-qa, performance, rgw, wip-cbodley-testing

#29628 RGW: add bucket permission verify when copy obj
  src/rgw/rgw_op.cc
Labels: bug fix, needs-qa, rgw, wip-cbodley-testing

#29199 rgw: gc remove tag after all sub io finish
  src/rgw/rgw_gc.cc
Labels: bug fix, needs-qa, rgw, wip-cbodley-testing

#30088 ceph.spec.in: use g++ >= 8.3.1-3.1
  ceph.spec.in
Labels: bug fix, build/ops, needs-review

#29894 rgw/rgw_reshard: Don't dump RGWBucketReshard JSON in process_single_logshard
  src/rgw/rgw_reshard.cc
Labels: needs-qa, performance, rgw, wip-cbodley-testing

#29856 rgw: RGWCoroutine::call(nullptr) sets retcode=0
  src/rgw/rgw_coroutine.cc
Labels: bug fix, needs-qa, rgw, wip-cbodley-testing

#29852 rgw: move bucket reshard checks out of write path
  src/common/options.cc
  src/rgw/rgw_bucket.cc
  src/rgw/rgw_bucket.h
  src/rgw/rgw_file.cc
  src/rgw/rgw_op.cc
  src/rgw/rgw_quota.cc
  src/rgw/rgw_quota.h
  src/rgw/rgw_rados.cc
  src/rgw/rgw_rados.h
  src/rgw/rgw_user.cc
Labels: needs-qa, performance, rgw, wip-cbodley-testing

#29776 rgw: increase beast parse buffer size to 64k
  src/rgw/rgw_asio_frontend.cc
Labels: needs-qa, performance, rgw, wip-cbodley-testing

#29639 rgw: get barbican secret key request maybe return error code
  src/rgw/rgw_http_client.cc
  src/rgw/rgw_http_client.h
Labels: bug fix, needs-qa, rgw, wip-cbodley-testing

#29990 doc/ceph-kvstore-tool: add description for 'stats' command
  doc/man/8/ceph-kvstore-tool.rst
Labels: documentation

#30018 osd: prime splits/merges for any potential fabricated split/merge participant
  src/osd/OSD.cc
Labels: bug fix, core, needs-qa, wip-kefu-testing

#30072 test/librbd: allow parallel runs of run-rbd-unit-tests
  src/test/CMakeLists.txt
  src/test/run-rbd-unit-tests.sh
Labels: rbd, tests

#30119 osd/MissingLoc, PeeringState: remove osd from missing loc in purge_strays()
  src/osd/MissingLoc.cc
  src/osd/MissingLoc.h
  src/osd/PeeringState.cc
Labels: core

#30122 install-deps: revert 47d4351d
  install-deps.sh
Labels: bug fix, build/ops

#29996 mgr/prometheus: export standby mds metadata
  src/pybind/mgr/prometheus/module.py
Labels: cephfs, mgr, pybind

#29557 mgr/dashboard: Fix CephFS chart
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cephfs/cephfs-chart/cephfs-chart.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cephfs/cephfs-chart/cephfs-chart.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cephfs/cephfs-chart/cephfs-chart.component.ts
Labels: bug fix, dashboard

#29929 mgr/dashboard: Prevent angular of getting stuck during installation
  src/pybind/mgr/dashboard/CMakeLists.txt
Labels: bug fix, build/ops, dashboard

#30075 mgr/dashboard: change warn_explicit to warn
  src/pybind/mgr/dashboard/services/sso.py
Labels: dashboard

#29882 crimson/net: bug fixes from v2 failover tests
  src/crimson/net/Connection.h
  src/crimson/net/Protocol.cc
  src/crimson/net/Protocol.h
  src/crimson/net/ProtocolV2.cc
  src/crimson/net/ProtocolV2.h
  src/crimson/net/SocketConnection.cc
  src/crimson/net/SocketConnection.h
Labels: crimson

#29973 doc: release notes for v14.2.3 nautilus
  doc/releases/nautilus.rst
Labels: documentation

#29692 rgw: fix cls_bucket_list_unordered() partial results
  src/rgw/rgw_rados.cc
Labels: bug fix, needs-qa, rgw

#26755 rgw multisite: avoid writing bilog entries on PREPARE and CANCEL
  src/cls/rgw/cls_rgw.cc
Labels: cleanup, rgw

#30136 build-doc: allow building docs on fedora 30
  admin/build-doc
Labels: build/ops

#29847 doc: set ceph_perf_msgr_server arguments
  doc/dev/messenger.rst
Labels: documentation, messenger, needs-review

#29981 ceph-conf: added --show-config-value to usage
  src/test/cli/ceph-conf/help.t
  src/tools/ceph_conf.cc
Labels: tools

#30103 mgr/dashboard: Empty datatable rendered before data has been f…
  src/pybind/mgr/dashboard/frontend/src/app/shared/datatable/table/table.component.ts
Labels: bug fix, dashboard

#30145 doc: releases: 14.2.3 dashboard note
  doc/releases/nautilus.rst
Labels: documentation

#30064 mgr/dashboard: fix cdEncode decorator is not working on class
  src/pybind/mgr/dashboard/frontend/src/app/shared/decorators/cd-encode.ts
Labels: bug fix, dashboard

#29402 mgr/dashboard: Use onCancel on any modal event
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/confirmation-modal/confirmation-modal.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/confirmation-modal/confirmation-modal.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/critical-confirmation-modal/critical-confirmation-modal.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/testing/unit-test-helper.ts
Labels: bug fix, dashboard, needs-review

#30128 mimic: build/ops: install-deps.sh: Remove CR repo
  install-deps.sh
Labels: build/ops

#28755 feature: Health warnings on long network ping times, add "dump_osd_network" to get a report
  PendingReleaseNotes
  doc/rados/configuration/mon-config-ref.rst
  doc/rados/configuration/mon-osd-interaction.rst
  doc/rados/operations/monitoring.rst
  qa/standalone/misc/network-ping.sh
  src/common/Formatter.cc
  src/common/Formatter.h
  src/common/options.cc
  src/mgr/ClusterState.cc
  src/mgr/ClusterState.h
  src/mgr/DaemonServer.cc
  src/mgr/Mgr.cc
  src/mon/PGMap.cc
  src/osd/OSD.cc
  src/osd/OSD.h
  src/osd/osd_types.cc
  src/osd/osd_types.h
Labels: core, feature

#29673 mgr/dashboard: RBD Image Purge Trash, Move to Trash and Restore
  src/pybind/mgr/dashboard/frontend/e2e/block/images.e2e-spec.ts
  src/pybind/mgr/dashboard/frontend/e2e/block/images.po.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-trash-purge-modal/rbd-trash-purge-modal.component.html
Labels: dashboard, needs-review, tests

#30062 test: remove useless ASSERT_XXX macros for rgw test
  src/test/rgw/test_rgw_manifest.cc
  src/test/rgw/test_rgw_obj.cc
  src/test/test_cors.cc
  src/test/test_rgw_admin_log.cc
  src/test/test_rgw_admin_meta.cc
Labels: cleanup, tests

#30013 rgw: fix refcount tags to match and update object's idtag
  src/rgw/rgw_rados.cc
Labels: bug fix, needs-review, rgw

#29842 kv/KeyValueDB: fix estimate_prefix_size()
  src/kv/RocksDBStore.cc
  src/test/objectstore/test_kv.cc
Labels: bug fix, core, needs-qa, wip-sage-testing

#30085 osd/PrimaryLogPG: update oi.size on write op implicitly truncating object up
  src/osd/PrimaryLogPG.cc
Labels: bug fix, core, needs-qa

#30184 run-make-check.sh: extract run-make.sh
  run-make-check.sh
  src/script/run-make.sh
Labels: build/ops

#29985 osd/PrimaryLogPG: cancel in-flight manifest ops on interval changing; fix race with scrub
  src/osd/PrimaryLogPG.cc
  src/osd/PrimaryLogPG.h
Labels: bug fix, core

#29786 do_cmake.sh: optionally specify build dir with $BUILD_DIR env var
  do_cmake.sh
  do_freebsd.sh
  examples/rbd-replay/trace
  qa/workunits/rados/test_envlibrados_for_rocksdb.sh
  qa/workunits/rgw/run-s3tests.sh
  src/init-ceph.in
  src/mrgw.sh
  src/mrun
  src/mstart.sh
  src/mstop.sh
  src/pybind/mgr/dashboard/run-backend-api-request.sh
  src/pybind/mgr/dashboard/run-backend-api-tests.sh
  src/pybind/mgr/dashboard/run-frontend-e2e-tests.sh
  src/pybind/mgr/dashboard/run-frontend-unittests.sh
  src/script/gen-corpus.sh
Labels: build/ops

#29520 mgr/k8sevents: Add mgr module for kubernetes event integration
  ceph.spec.in
  debian/control
  src/pybind/mgr/k8sevents/__init__.py
  src/pybind/mgr/k8sevents/module.py
Labels: mgr, needs-qa, orchestrator, wip-swagner-testing

#30023 mon,osd: use get_req<> instead of static_cast<>(get_req())
  src/mon/AuthMonitor.cc
  src/mon/ConfigMonitor.cc
  src/mon/Elector.cc
  src/mon/HealthMonitor.cc
  src/mon/LogMonitor.cc
  src/mon/MDSMonitor.cc
  src/mon/MgrMonitor.cc
  src/mon/MgrStatMonitor.cc
  src/mon/Monitor.cc
  src/mon/Monitor.h
  src/mon/MonmapMonitor.cc
  src/mon/OSDMonitor.cc
  src/mon/Paxos.cc
  src/mon/PaxosService.cc
  src/osd/DynamicPerfStats.h
  src/osd/ECBackend.cc
  src/osd/OSD.cc
  src/osd/OpRequest.h
  src/osd/PG.cc
  src/osd/PGBackend.cc
  src/osd/PrimaryLogPG.cc
  src/osd/ReplicatedBackend.cc
Labels: cleanup, core, mon, needs-qa, wip-kefu-testing

#30149 luminous: common/options: Set concurrent bluestore rocksdb compactions to 2
  src/common/options.cc
Labels: bluestore

#30015 mon/Monitor.cc: fix condition that checks for unrecognized auth mode
  src/mon/Monitor.cc
Labels: bug fix, core, mon, needs-qa, wip-kefu-testing, wip-sage-testing

#30028 cmake: selectively rewrite install rpath
  src/CMakeLists.txt
  src/test/mon/CMakeLists.txt
Labels: bug fix, build/ops, wip-kefu-testing

#22574 bluestore/allocator: Ageing test for bluestore allocators.
  src/test/objectstore/Allocator_aging_fragmentation.cc
  src/test/objectstore/CMakeLists.txt
Labels: bluestore, needs-qa, needs-review, wip-kefu-testing

#30190 install-deps.sh: install `python*-devel` for python*rpm-macros
  install-deps.sh
Labels: bug fix, build/ops

#30059 osd/PG: fix _finish_recovery vs repair race
  src/osd/PG.cc
Labels: bug fix, core

#30061 os, osd: readv
  src/common/legacy_config_opts.h
  src/common/options.cc
  src/os/ObjectStore.h
  src/os/bluestore/BlueStore.cc
  src/os/bluestore/BlueStore.h
  src/osd/PGBackend.h
  src/osd/PrimaryLogPG.cc
  src/osd/ReplicatedBackend.cc
  src/osd/ReplicatedBackend.h
Labels: core, needs-qa, performance, wip-kefu-testing

#29175 luminous: common/options.cc: Lower the default value of osd_deep_scrub_large_omap_object_key_threshold
  src/common/options.cc
Labels: common, core, luminous-batch-1, needs-qa

#29986 mgr/pg_autoscaler: fix pool_logical_used
  src/pybind/mgr/pg_autoscaler/module.py
Labels: bug fix, mgr, needs-qa, wip-sage-testing

#30139 mgr/DaemonServer: skip adjusting pgp_num when merging is in-progress
  src/mgr/DaemonServer.cc
Labels: bug fix, mgr, needs-qa, wip-kefu-testing, wip-sage-testing

#30244 mimic: build/ops: install-deps.sh: install `python*-devel` for python*rpm-macros
  install-deps.sh
Labels: build/ops

#30227 mimic: doc: default values for mon_health_to_clog_* were flipped
  doc/rados/configuration/mon-config-ref.rst
Labels: core, documentation

#30199 build/ops: fix build fail related to PYTHON_EXECUTABLE variable
  src/include/config-h.in.cmake
  src/mgr/PyModuleRegistry.cc
Labels: bug fix, build/ops, mgr, needs-qa, wip-kefu-testing

#30197 mgr/orchestrator: fix refs property of progresses
  src/pybind/mgr/orchestrator.py
Labels: bug fix, needs-qa, orchestrator, wip-kefu-testing

#30109 os/bluestore: verify disk layout of BlueFS
  src/os/bluestore/BlueFS.cc
  src/os/bluestore/BlueFS.h
  src/os/bluestore/BlueStore.cc
  src/os/bluestore/BlueStore.h
  src/os/bluestore/bluefs_types.cc
  src/os/bluestore/bluefs_types.h
  src/test/objectstore/test_bluefs.cc
Labels: bluestore, bug fix, needs-qa, wip-kefu-testing

#30125 msg/async/ProtocolV1: avoid unnecessary bufferlist::swap.
  src/msg/async/ProtocolV1.cc
Labels: messenger, needs-qa, performance, wip-kefu-testing

#29892 osd: fix the missing default value m=2 of reed_sol_r6_op in profile
  PendingReleaseNotes
  src/erasure-code/jerasure/ErasureCodeJerasure.cc
  src/erasure-code/jerasure/ErasureCodeJerasure.h
Labels: bug fix, core

#30087 test/erasure-code: add exception handling to k & m
  src/test/erasure-code/ceph_erasure_code_benchmark.cc
Labels: cleanup, needs-qa, tests, wip-kefu-testing

#30079 Fix big-endian handling
  src/auth/cephx/CephxProtocol.cc
  src/auth/cephx/CephxSessionHandler.cc
  src/cls/rgw/cls_rgw_types.cc
  src/cls/rgw/cls_rgw_types.h
  src/common/Checksummer.h
  src/crimson/net/ProtocolV2.cc
  src/include/byteorder.h
  src/include/ceph_fs.h
  src/include/denc.h
  src/include/msgr.h
  src/include/rados.h
  src/include/rbd_types.h
  src/include/types.h
  src/librbd/operation/ResizeRequest.cc
  src/mds/locks.c
  src/mds/mdstypes.h
  src/messages/MMonSubscribe.h
  src/msg/async/ProtocolV2.cc
  src/msg/async/frames_v2.h
  src/msg/msg_types.h
  src/os/Transaction.h
  src/os/bluestore/BlueStore.cc
  src/os/bluestore/bluestore_types.h
  src/osd/OSDMap.h
  src/rgw/rgw_dencoder.cc
  src/test/common/test_time.cc
  src/test/librados/aio.cc
  src/tools/immutable_object_cache/Types.h
Labels: build/ops, cephfs, common, core, needs-qa, rbd, wip-kefu-testing

#30142 mgr/dashboard: Handle always-on Ceph Manager modules correctly
  src/mgr/BaseMgrModule.cc
  src/pybind/mgr/dashboard/controllers/mgr_modules.py
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/mgr-modules/mgr-module-list/mgr-module-list.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/mgr-modules/mgr-module-list/mgr-module-list.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/core/mgr-modules/telemetry/telemetry.component.html
  src/pybind/mgr/mgr_module.py
Labels: bug fix, dashboard, mgr, needs-review

#30115 ceph-volume: pre-install python-apt and its variants before test runs
  src/ceph-volume/ceph_volume/tests/functional/playbooks/deploy.yml
Labels: ceph-volume

#29127 mgr/dashboard: orchestrator integration initial works
  qa/tasks/mgr/dashboard/test_host.py
  qa/tasks/mgr/dashboard/test_orchestrator.py
  src/pybind/mgr/dashboard/controllers/health.py
  src/pybind/mgr/dashboard/controllers/host.py
  src/pybind/mgr/dashboard/controllers/orchestrator.py
  src/pybind/mgr/dashboard/frontend/src/app/app-routing.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/cluster.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/hosts/host-details/host-details.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/hosts/host-details/host-details.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/hosts/host-details/host-details.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/hosts/host-form/host-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/hosts/host-form/host-form.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/hosts/host-form/host-form.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/hosts/host-form/host-form.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/hosts/hosts.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/hosts/hosts.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/hosts/hosts.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/inventory/inventory.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/inventory/inventory.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/inventory/inventory.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/inventory/inventory.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/inventory/inventory.model.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/services/services.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/services/services.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/services/services.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/services/services.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/services/services.model.ts
  src/pybind/mgr/dashboard/frontend/src/app/core/navigation/navigation/navigation.component.html
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/host.service.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/host.service.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/orchestrator.service.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/orchestrator.service.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/services/task-message.service.ts
  src/pybind/mgr/dashboard/services/exception.py
  src/pybind/mgr/dashboard/services/ganesha.py
  src/pybind/mgr/dashboard/services/iscsi_config.py
  src/pybind/mgr/dashboard/services/orchestrator.py
  src/pybind/mgr/dashboard/tests/test_host.py
  src/pybind/mgr/dashboard/tests/test_iscsi.py
  src/pybind/mgr/dashboard/tests/test_orchestrator.py
Labels: dashboard, feature, needs-review, orchestrator

#30220 test: Allow fractional milliseconds to make test possible
  qa/standalone/misc/network-ping.sh
  src/common/options.cc
  src/mgr/ClusterState.cc
  src/mon/PGMap.cc
  src/osd/OSD.cc
Labels: needs-qa, tests, wip-sage-testing

#30268 cls/rgw: fix bilog trim tests in ceph_test_cls_rgw
  src/test/cls_rgw/test_cls_rgw.cc
Labels: bug fix, rgw

#30196 qa/tasks/ceph: restart: stop osd, mark down, then start
  qa/tasks/ceph.py
Labels: core, tests, wip-sage-testing

#30226 osd/MissingLoc.cc: do not rely on missing_loc_sources only
  src/osd/MissingLoc.cc
Labels: core

#29190 luminous: core: lazy omap stat collection
  doc/dev/placement-group.rst
  qa/suites/rados/singleton-nomsgr/all/lazy_omap_stats_output.yaml
  src/mon/PGMap.cc
  src/osd/PG.cc
  src/osd/PG.h
  src/osd/PGBackend.cc
  src/osd/PGBackend.h
  src/osd/ReplicatedBackend.cc
  src/osd/osd_types.cc
  src/osd/osd_types.h
  src/test/CMakeLists.txt
  src/test/lazy-omap-stats/CMakeLists.txt
  src/test/lazy-omap-stats/lazy_omap_stats_test.cc
  src/test/lazy-omap-stats/lazy_omap_stats_test.h
  src/test/lazy-omap-stats/main.cc
Labels: core, feature, luminous-batch-1, needs-qa

#30187 script/backport-resolve-issue: better error message
  src/script/backport-resolve-issue
Labels: needs-review, tools

#29910 luminous: os/bluestore: apply shared_alloc_size to shared device with log level change
  src/common/legacy_config_opts.h
  src/common/options.cc
  src/os/bluestore/BlueFS.cc
  src/os/bluestore/BlueFS.h
  src/os/bluestore/BlueStore.cc
Labels: bluestore, luminous-batch-1, needs-qa

#30129 luminous: install-deps.sh: Remove CR repo
  install-deps.sh
Labels: build/ops

#30188 mimic: build/ops: rpm: always build ceph-test package
  ceph.spec.in
Labels: build/ops

#30273 doc/start/documenting-ceph.rst: make better doc recommendations
  doc/start/documenting-ceph.rst
Labels: documentation

#30258 test/cls_rbd/test_cls_rbd: update TestClsRbd.sparsify
  src/test/cls_rbd/test_cls_rbd.cc
Labels: bug fix, needs-qa, rbd, tests, wip-kefu-testing

#30126 ceph.spec.in: reserve more memory per build job
  ceph.spec.in
Labels: build/ops, wip-kefu-testing

#30078 mgr/dashboard: disable pylint's --py3k flag
  src/pybind/mgr/dashboard/services/sso.py
  src/pybind/mgr/dashboard/tox.ini
Labels: dashboard, tests

#30095 qa/mgr/progress: fix timeout error when waiting for osd in event
  qa/tasks/mgr/test_progress.py
Labels: bug fix, mgr

#29424 mgr/dashboard: progress: support rbd_support module async tasks
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-list/rbd-list.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/pool/pool-list/pool-list.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/services/task-list.service.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/services/task-list.service.ts
  src/pybind/mgr/dashboard/services/progress.py
Labels: dashboard, feature

#30111 mgr/dashboard: Set RO as the default access_type for RGW NFS exports
  src/pybind/mgr/dashboard/frontend/src/app/ceph/nfs/nfs-form/nfs-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/nfs/nfs-form/nfs-form.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/nfs/nfs-form/nfs-form.component.ts
Labels: dashboard

#30162 crimson/test: v2 failover tests with crimson FailoverTestPeer
  src/crimson/net/Connection.h
  src/crimson/net/Interceptor.h
  src/crimson/net/Messenger.h
  src/crimson/net/Protocol.cc
  src/crimson/net/ProtocolV2.cc
  src/crimson/net/SocketConnection.cc
  src/test/crimson/perf_crimson_msgr.cc
  src/test/crimson/test_messenger.cc
Labels: crimson, tests

#30289 dashboard/services: fix lint error
  src/pybind/mgr/dashboard/services/progress.py
Labels: cleanup, dashboard

#30290 doc/dev/crimson.rst: document CBT testing
  doc/dev/crimson.rst
Labels: crimson, documentation

#30287 script/run-cbt.sh: check option correctly
  src/script/run-cbt.sh
Labels: tests

#30274 ceph-volume: fix stderr failure to decode/encode when redirected
  src/ceph-volume/ceph_volume/log.py
  src/ceph-volume/ceph_volume/main.py
  src/ceph-volume/ceph_volume/terminal.py
  src/ceph-volume/ceph_volume/tests/functional/scripts/output.py
  src/ceph-volume/ceph_volume/tests/functional/scripts/test_unicode.sh
  src/ceph-volume/ceph_volume/tests/test_terminal.py
  src/ceph-volume/shell_tox.ini
Labels: ceph-volume

#30269 doc: Update ceph-deploy docs from dumpling to nautilus
  doc/rados/deployment/preflight-checklist.rst
Labels: documentation, needs-review

#30308 doc/dev: add teuthology priority recommendations
  doc/dev/developer_guide/index.rst
Labels: documentation, needs-review, tests

#30255 os/bluestore: fix space balancing overflow
  src/os/bluestore/BlueStore.cc
Labels: bluestore, bug fix, needs-qa

#30309 qa/suites/rados/perf/objectstore: do not symlink to qa/objectstore
  qa/suites/rados/perf/objectstore
  qa/suites/rados/perf/objectstore/bluestore-bitmap.yaml
  qa/suites/rados/perf/objectstore/bluestore-comp.yaml
  qa/suites/rados/perf/objectstore/bluestore-low-osd-mem-target.yaml
  qa/suites/rados/perf/objectstore/bluestore-stupid.yaml
Labels: performance, tests

#30124 crimson/osd: Message has non-null ref to SocketConnection now.
  src/crimson/net/Connection.h
  src/crimson/net/Fwd.h
  src/crimson/net/Messenger.h
  src/crimson/net/Protocol.cc
  src/crimson/net/ProtocolV1.cc
  src/crimson/net/ProtocolV2.cc
  src/crimson/net/SocketConnection.h
  src/crimson/osd/chained_dispatchers.cc
  src/mon/MonMap.cc
  src/msg/Message.cc
  src/msg/Message.h
Labels: common, crimson

#29809 common/config_proxy: hold lock while accessing mutable container
  src/common/config_proxy.h
Labels: bug fix, cephfs, common, needs-qa, rbd, wip-pdonnell-testing

#30315 test/crimson: add acceptable section to tests
  src/test/crimson/cbt/radosbench_4K_read.yaml
  src/test/crimson/cbt/radosbench_4K_write.yaml
Labels: crimson, tests

#30231 os/bluestore: add bluestore_bluefs_max_free; smooth space balancing a bit
  src/common/options.cc
  src/os/bluestore/BlueStore.cc
Labels: bluestore, needs-qa, performance

#30281 doc/orchestrator: Sync status with reality
  doc/mgr/orchestrator_cli.rst
Labels: documentation, orchestrator

#30292 doc: Fixes typo for ceph dashboard command.
  doc/mgr/dashboard.rst
Labels: bug fix, dashboard, documentation

#30318 script/run-make.sh: do not pass cmake options twice
  src/script/run-make.sh
Labels: build/ops, cleanup

#30209 mgr/dashboard: Rendering datatable causes Angular runtime error
  src/pybind/mgr/dashboard/frontend/src/app/shared/datatable/table/table.component.ts
Labels: bug fix, dashboard

#30267 mgr/dashboard: Wait for breadcrumb text is present in e2e tests
  src/pybind/mgr/dashboard/frontend/e2e/block/images.e2e-spec.ts
  src/pybind/mgr/dashboard/frontend/e2e/block/iscsi.e2e-spec.ts
  src/pybind/mgr/dashboard/frontend/e2e/block/mirroring.e2e-spec.ts
  src/pybind/mgr/dashboard/frontend/e2e/cluster/alerts.e2e-spec.ts
  src/pybind/mgr/dashboard/frontend/e2e/cluster/configuration.e2e-spec.ts
  src/pybind/mgr/dashboard/frontend/e2e/cluster/configuration.po.ts
  src/pybind/mgr/dashboard/frontend/e2e/cluster/crush-map.e2e-spec.ts
  src/pybind/mgr/dashboard/frontend/e2e/cluster/hosts.e2e-spec.ts
  src/pybind/mgr/dashboard/frontend/e2e/cluster/hosts.po.ts
  src/pybind/mgr/dashboard/frontend/e2e/cluster/logs.e2e-spec.ts
  src/pybind/mgr/dashboard/frontend/e2e/cluster/mgr-modules.e2e-spec.ts
  src/pybind/mgr/dashboard/frontend/e2e/cluster/monitors.e2e-spec.ts
  src/pybind/mgr/dashboard/frontend/e2e/cluster/osds.e2e-spec.ts
  src/pybind/mgr/dashboard/frontend/e2e/dashboard.e2e-spec.ts
  src/pybind/mgr/dashboard/frontend/e2e/filesystems/filesystems.e2e-spec.ts
  src/pybind/mgr/dashboard/frontend/e2e/nfs/nfs.e2e-spec.ts
  src/pybind/mgr/dashboard/frontend/e2e/page-helper.po.ts
  src/pybind/mgr/dashboard/frontend/e2e/pools/pools.e2e-spec.ts
  src/pybind/mgr/dashboard/frontend/e2e/pools/pools.po.ts
  src/pybind/mgr/dashboard/frontend/e2e/rgw/buckets.po.ts
  src/pybind/mgr/dashboard/frontend/e2e/rgw/daemons.e2e-spec.ts
  src/pybind/mgr/dashboard/frontend/e2e/rgw/users.e2e-spec.ts
  src/pybind/mgr/dashboard/frontend/e2e/rgw/users.po.ts
  src/pybind/mgr/dashboard/frontend/e2e/user-mgmt.e2e-spec.ts
Labels: bug fix, dashboard

#30212 mgr/dashboard: Improve images e2e test
  src/pybind/mgr/dashboard/frontend/e2e/block/images.po.ts
Labels: bug fix, dashboard, tests

#30300 nautilus: ceph-volume: fix stderr failure to decode/encode when redirected
  src/ceph-volume/ceph_volume/log.py
  src/ceph-volume/ceph_volume/main.py
  src/ceph-volume/ceph_volume/terminal.py
  src/ceph-volume/ceph_volume/tests/functional/scripts/output.py
  src/ceph-volume/ceph_volume/tests/functional/scripts/test_unicode.sh
  src/ceph-volume/ceph_volume/tests/test_terminal.py
  src/ceph-volume/shell_tox.ini
Labels: ceph-volume

#30331 luminou: ceph-volume: set a lvm_size property on the fakedevice fixture
  src/ceph-volume/ceph_volume/tests/conftest.py
Labels: ceph-volume

#29793 mgr/ansible: Change default realm and zonegroup
  src/pybind/mgr/ansible/module.py
Labels: needs-qa, orchestrator, rgw, wip-swagner-testing

#30302 luminous ceph-volume lvm.zap fix cleanup for db partitions
  src/ceph-volume/ceph_volume/devices/lvm/zap.py
Labels: ceph-volume

#29606 os/bluestore: Add config observer for osd memory specific options.
  src/common/options.cc
  src/os/bluestore/BlueStore.cc
  src/os/bluestore/BlueStore.h
Labels: core, needs-qa, wip-sseshasa-testing

#30017 mgr/dashboard: E2E enhancements
  src/pybind/mgr/dashboard/frontend/.gitignore
  src/pybind/mgr/dashboard/frontend/e2e/block/images.e2e-spec.ts
  src/pybind/mgr/dashboard/frontend/e2e/block/images.po.ts
  src/pybind/mgr/dashboard/frontend/e2e/block/iscsi.e2e-spec.ts
  src/pybind/mgr/dashboard/frontend/e2e/block/mirroring.e2e-spec.ts
  src/pybind/mgr/dashboard/frontend/e2e/block/mirroring.po.ts
  src/pybind/mgr/dashboard/frontend/e2e/cluster/alerts.e2e-spec.ts
  src/pybind/mgr/dashboard/frontend/e2e/cluster/configuration.e2e-spec.ts
  src/pybind/mgr/dashboard/frontend/e2e/cluster/configuration.po.ts
  src/pybind/mgr/dashboard/frontend/e2e/cluster/crush-map.e2e-spec.ts
  src/pybind/mgr/dashboard/frontend/e2e/cluster/hosts.e2e-spec.ts
  src/pybind/mgr/dashboard/frontend/e2e/cluster/logs.e2e-spec.ts
  src/pybind/mgr/dashboard/frontend/e2e/cluster/logs.po.ts
  src/pybind/mgr/dashboard/frontend/e2e/cluster/mgr-modules.e2e-spec.ts
  src/pybind/mgr/dashboard/frontend/e2e/cluster/mgr-modules.po.ts
  src/pybind/mgr/dashboard/frontend/e2e/cluster/monitors.e2e-spec.ts
  src/pybind/mgr/dashboard/frontend/e2e/cluster/osds.e2e-spec.ts
  src/pybind/mgr/dashboard/frontend/e2e/filesystems/filesystems.e2e-spec.ts
  src/pybind/mgr/dashboard/frontend/e2e/helper.po.ts
  src/pybind/mgr/dashboard/frontend/e2e/nfs/nfs.e2e-spec.ts
  src/pybind/mgr/dashboard/frontend/e2e/page-helper.po.ts
  src/pybind/mgr/dashboard/frontend/e2e/pools/pools.e2e-spec.ts
  src/pybind/mgr/dashboard/frontend/e2e/pools/pools.po.ts
  src/pybind/mgr/dashboard/frontend/e2e/rgw/buckets.e2e-spec.ts
  src/pybind/mgr/dashboard/frontend/e2e/rgw/buckets.po.ts
  src/pybind/mgr/dashboard/frontend/e2e/rgw/daemons.e2e-spec.ts
  src/pybind/mgr/dashboard/frontend/e2e/rgw/users.e2e-spec.ts
  src/pybind/mgr/dashboard/frontend/e2e/rgw/users.po.ts
  src/pybind/mgr/dashboard/frontend/e2e/ui/dashboard.e2e-spec.ts
  src/pybind/mgr/dashboard/frontend/e2e/ui/dashboard.po.ts
  src/pybind/mgr/dashboard/frontend/e2e/ui/role-mgmt.e2e-spec.ts
  src/pybind/mgr/dashboard/frontend/e2e/ui/role-mgmt.po.ts
  src/pybind/mgr/dashboard/frontend/e2e/ui/user-mgmt.e2e-spec.ts
  src/pybind/mgr/dashboard/frontend/e2e/ui/user-mgmt.po.ts
  src/pybind/mgr/dashboard/frontend/e2e/user-mgmt.e2e-spec.ts
  src/pybind/mgr/dashboard/frontend/e2e/user-mgmt.po.ts
  src/pybind/mgr/dashboard/frontend/package-lock.json
  src/pybind/mgr/dashboard/frontend/package.json
  src/pybind/mgr/dashboard/frontend/protractor.conf.js
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/logs/logs.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/pool/pool-list/pool-list.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/services/refresh-interval.service.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/services/refresh-interval.service.ts
Labels: dashboard, tests

#30310 crimson/osd: extend OpsExecuter to carry about op effects.
  src/crimson/osd/ops_executer.h
Labels: crimson

#30221 rgw: fix dns name comparison for virtual hosting
  src/rgw/rgw_rest.cc
Labels: bug fix, rgw, wip-cbodley-testing

#30299 luminous ceph-volume: fix stderr failure to decode/encode when redirected
  src/ceph-volume/ceph_volume/log.py
  src/ceph-volume/ceph_volume/main.py
  src/ceph-volume/ceph_volume/terminal.py
  src/ceph-volume/ceph_volume/tests/functional/scripts/output.py
  src/ceph-volume/ceph_volume/tests/functional/scripts/test_unicode.sh
  src/ceph-volume/ceph_volume/tests/test_terminal.py
  src/ceph-volume/shell_tox.ini
Labels: ceph-volume

#30319 rgw: fix incorrect "radosgw-admin zonegroup rm" info.
  src/rgw/rgw_admin.cc
  src/test/cli/radosgw-admin/help.t
Labels: rgw

#30347 qa/suites/rados/perf: test min recommended osd_memory_target
  qa/suites/rados/perf/objectstore/bluestore-basic-min-osd-mem-target.yaml
Labels: performance, tests

#30192 Make dumping of reservation info congruent between scrub and recovery
  PendingReleaseNotes
  doc/dev/osd_internals/recovery_reservation.rst
  doc/dev/osd_internals/scrub.rst
  qa/standalone/osd/osd-backfill-prio.sh
  qa/standalone/osd/osd-recovery-prio.sh
  qa/standalone/scrub/osd-scrub-dump.sh
  src/osd/OSD.cc
  src/osd/OSD.h
  src/osd/PG.cc
  src/osd/PG.h
Labels: cleanup, core, feature

#28939 rbd-mirror: add namespace support
  qa/workunits/rbd/rbd_mirror.sh
  qa/workunits/rbd/rbd_mirror_helpers.sh
  src/librbd/api/Mirror.cc
  src/librbd/api/Namespace.cc
  src/test/cli/rbd/help.t
  src/test/rbd_mirror/CMakeLists.txt
  src/test/rbd_mirror/test_ImageDeleter.cc
  src/test/rbd_mirror/test_ImageReplayer.cc
  src/test/rbd_mirror/test_ImageSync.cc
  src/test/rbd_mirror/test_InstanceWatcher.cc
  src/test/rbd_mirror/test_mock_ImageReplayer.cc
  src/test/rbd_mirror/test_mock_ImageSyncThrottler.cc
  src/test/rbd_mirror/test_mock_InstanceReplayer.cc
  src/test/rbd_mirror/test_mock_InstanceWatcher.cc
  src/test/rbd_mirror/test_mock_LeaderWatcher.cc
  src/test/rbd_mirror/test_mock_NamespaceReplayer.cc
  src/test/rbd_mirror/test_mock_PoolReplayer.cc
  src/test/rbd_mirror/test_mock_Throttler.cc
  src/tools/rbd/action/MirrorImage.cc
  src/tools/rbd/action/MirrorPool.cc
  src/tools/rbd_mirror/CMakeLists.txt
  src/tools/rbd_mirror/ImageDeleter.cc
  src/tools/rbd_mirror/ImageDeleter.h
  src/tools/rbd_mirror/ImageReplayer.cc
  src/tools/rbd_mirror/ImageReplayer.h
  src/tools/rbd_mirror/ImageSyncThrottler.h
  src/tools/rbd_mirror/InstanceReplayer.cc
  src/tools/rbd_mirror/InstanceReplayer.h
  src/tools/rbd_mirror/InstanceWatcher.cc
  src/tools/rbd_mirror/InstanceWatcher.h
  src/tools/rbd_mirror/LeaderWatcher.cc
  src/tools/rbd_mirror/LeaderWatcher.h
  src/tools/rbd_mirror/NamespaceReplayer.cc
  src/tools/rbd_mirror/NamespaceReplayer.h
  src/tools/rbd_mirror/PoolReplayer.cc
  src/tools/rbd_mirror/PoolReplayer.h
  src/tools/rbd_mirror/Throttler.cc
  src/tools/rbd_mirror/Throttler.h
Labels: feature, rbd

#28936 cmake: check for unaligned access
  CMakeLists.txt
  cmake/modules/CephChecks.cmake
Labels: build/ops, cleanup, crimson

#30285 mgr: fix the problem that slow op warning does not display correctly
  src/mgr/DaemonHealthMetricCollector.h
Labels: bug fix, mgr, needs-qa, wip-kefu-testing

#30343 mgr/dashboard: Fix calculation of PG Status percentage
  src/pybind/mgr/dashboard/frontend/src/app/ceph/dashboard/health/health.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/dashboard/health/health.component.ts
Labels: bug fix, dashboard

#29761 test/venv: Fix the python version of the venv test environment
  cmake/modules/AddCephTest.cmake
Labels: bug fix, python3, tests

#30359 mgr/dashboard: Increase the global value of jasmine timeout
  src/pybind/mgr/dashboard/frontend/e2e/cluster/logs.e2e-spec.ts
  src/pybind/mgr/dashboard/frontend/e2e/rgw/users.e2e-spec.ts
  src/pybind/mgr/dashboard/frontend/e2e/ui/dashboard.e2e-spec.ts
  src/pybind/mgr/dashboard/frontend/protractor.conf.js
Labels: bug fix, dashboard, tests

#30284 tests: add missing header cmath to test/mon/test_mon_memory_target.cc
  src/test/mon/test_mon_memory_target.cc
Labels: needs-qa, tests, wip-kefu-testing

#30352 mon: disable min pg per osd warning
  src/common/options.cc
Labels: core, wip-sage-testing

#29081 Documentation: Add missing ceph-volume lvm batch argument to ceph-volume.rst
  doc/man/8/ceph-volume.rst
Labels: ceph-volume, documentation, needs-review

#30357 rgw: add missing bilog status to help info.
  src/rgw/rgw_admin.cc
  src/test/cli/radosgw-admin/help.t
Labels: needs-review, rgw

#30361 qa/tasks/mon_thrash: sync force requires some force flags
  qa/tasks/mon_thrash.py
Labels: bug fix, core, needs-review, tests, wip-sage-testing

#29752 mds: make MDSIOContextBase delete itself when shutting down
  src/mds/MDSContext.cc
Labels: cephfs, needs-qa, wip-pdonnell-testing

#29594 mds: reject sessionless messages
  src/mds/Server.cc
Labels: cephfs, needs-qa, wip-pdonnell-testing

#29005 client: nfs-ganesha with cephfs client, removing dir reports not empty
  src/client/Client.cc
Labels: cephfs, needs-qa, wip-pdonnell-testing

#30342 mon/pgmap: fix bluestore alerts output.
  src/mon/PGMap.cc
Labels: bug fix, wip-kefu-testing

#29623 os/bluestore: Merge deferred_finisher and finisher.
  src/os/bluestore/BlueStore.cc
  src/os/bluestore/BlueStore.h
Labels: bluestore, needs-qa, wip-kefu-testing

#29037 rgw: shard number must be non-negative when resharding the bucket
  src/rgw/rgw_admin.cc
Labels: rgw

#30185 mgr/volumes: drop unused size
  src/pybind/mgr/volumes/fs/volume.py
  src/pybind/mgr/volumes/module.py
Labels: cephfs, cleanup, needs-qa, wip-jcollin-testing

#29907 doc: add a doc for vstart_runner.py
  doc/dev/developer_guide/index.rst
Labels: cephfs, documentation, needs-review

#30363 qa: add script to test how libceph handles huge osdmaps
  qa/suites/krbd/rbd-nomount/tasks/krbd_huge_osdmap.yaml
  qa/workunits/rbd/krbd_huge_osdmap.sh
Labels: rbd, tests

#30339 crimson: serve basic RBD traffic coming from fio
  src/crimson/os/cyan_store.cc
  src/crimson/os/futurized_store.h
  src/crimson/osd/exceptions.h
  src/crimson/osd/objclass.cc
  src/crimson/osd/ops_executer.cc
  src/crimson/osd/ops_executer.h
  src/crimson/osd/pg.cc
  src/crimson/osd/pg_backend.cc
  src/crimson/osd/pg_backend.h
  src/osd/osd_types.h
Labels: crimson, feature

#30380 crimson/os: Object::read() returns bufferlist instead of never used errcode
  src/crimson/os/cyan_object.cc
  src/crimson/os/cyan_object.h
  src/crimson/os/cyan_store.cc
Labels: cleanup, crimson

#30366 crimson/mon:use shared_future for waiting MauthReply
  src/crimson/mon/MonClient.cc
Labels: crimson, needs-review

#30374 cmake: s/bortli_libs/brotli_libs/
  src/compressor/brotli/CMakeLists.txt
Labels: build/ops, cleanup, wip-kefu-testing

#30362 cmake: Fix unaligned check on big-endian systems
  cmake/modules/CephChecks.cmake
Labels: build/ops, wip-kefu-testing
