Repository ceph/ceph, pull requests merged in 2020-03, with the labels that each got.

#33591 install-deps.sh: Actually set gpgcheck to false
  install-deps.sh
Labels: bug fix, build/ops, needs-qa, wip-kefu-testing

#31109 msg/async/rdma: fix bug event center is blocked by rdma construct connection for transport ib sync msg
  src/msg/async/rdma/RDMAConnectedSocketImpl.cc
  src/msg/async/rdma/RDMAStack.h
Labels: bug fix, messenger, rdma

#33639 pybind/mgr/mgr_module: fix standby module logging options
  src/pybind/mgr/mgr_module.py
Labels: bug fix, core, wip-kefu-testing, wip-sage-testing, wip-sage2-testing, wip-sage3-testing

#33553 mgr/cephadm: leverage service specs
  src/pybind/mgr/cephadm/module.py
  src/pybind/mgr/cephadm/tests/test_cephadm.py
  src/pybind/mgr/mgr_module.py
  src/pybind/mgr/orchestrator/_interface.py
  src/pybind/mgr/orchestrator/module.py
  src/pybind/mgr/rook/module.py
  src/pybind/mgr/rook/rook_cluster.py
  src/pybind/mgr/tests/test_orchestrator.py
Labels: cephadm, needs-qa, orchestrator, wip-sage-testing

#33627 doc/cephadm/administration: clarify log gathering
  doc/cephadm/administration.rst
Labels: cephadm, documentation

#33541 mgr/test_orchestrator: fix tests
  qa/tasks/mgr/test_orchestrator_cli.py
  src/pybind/mgr/test_orchestrator/module.py
Labels: cephadm, dashboard, orchestrator, wip-kefu-testing, wip-sage3-testing

#33644 qa/suites/rados/verify/tasks/mon_recovery: whitelist SLOW_OPS
  qa/suites/rados/verify/tasks/mon_recovery.yaml
Labels: core, tests, wip-kefu-testing, wip-sage2-testing

#33575 mgr/telemetry: fix and document proxy usage
  doc/mgr/telemetry.rst
  src/pybind/mgr/telemetry/module.py
Labels: mgr, needs-qa, needs-review, telemetry, wip-sage2-testing

#33512 os/bluestore/BlueFS: less verbose about alloc adjustments
  src/os/bluestore/BlueFS.cc
Labels: bluestore, needs-review, wip-sage2-testing

#33650 test: silence warning unused variable nvme
  src/test/test_get_blkdev_props.cc
Labels: cleanup, tests

#33597 NVMEDevice: Remove the unnecessary aio_wait in sync read
  src/os/bluestore/NVMEDevice.cc
Labels: wip-kefu-testing

#33595 crimson/osd: misc fixes for OSD reboot-ability
  src/crimson/osd/osd.cc
  src/crimson/osd/pg.cc
  src/crimson/osd/pg.h
Labels: bug fix, cleanup, crimson

#33572 mgr/dashboard: fix stray requests/error in Grafana unit test
  src/pybind/mgr/dashboard/tests/test_grafana.py
Labels: bug fix, dashboard, ready-to-merge, tests

#33373 common, include: bump the version of ceph::buffer's C++ API.
  src/common/buffer_seastar.cc
  src/include/buffer.h
  src/include/buffer_fwd.h
  src/include/buffer_raw.h
  src/librados/librados.map
Labels: build/ops, common, core, wip-kefu-testing

#33593 test: Fix failing ceph_objectstore_tool.py test
  qa/standalone/special/ceph_objectstore_tool.py
  src/tools/ceph_objectstore_tool.cc
Labels: tests, wip-kefu-testing

#33583 osd: tiny clean-ups around the backfill
  src/osd/PrimaryLogPG.cc
  src/osd/PrimaryLogPG.h
Labels: cleanup, core, needs-qa, wip-kefu-testing

#33536 librados: allow passing flags to operate sync APIs
  src/include/rados/librados.hpp
  src/librados/librados_cxx.cc
  src/test/cls_hello/test_cls_hello.cc
Labels: core, needs-qa, wip-kefu-testing

#33645 qa/suites/rados/singleton-bluestore/cephtool: whitelist MON_DOWN
  qa/suites/rados/singleton-bluestore/all/cephtool.yaml
Labels: core, tests, wip-kefu-testing

#33638 include/cpp-btree: use the same type when allocate/deallocate
  src/include/cpp-btree/btree.h
Labels: bug fix, common, core, needs-qa, wip-kefu-testing, wip-sage2-testing

#33178 mgr/dashboard: do not show RGW API keys if only read-only privileges
  src/pybind/mgr/dashboard/controllers/rgw.py
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-user-details/rgw-user-details.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-user-details/rgw-user-details.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-user-details/rgw-user-details.component.ts
  src/pybind/mgr/dashboard/tests/test_rgw.py
Labels: bug fix, dashboard

#31922 mgr/dashboard: enable/disable MFA Delete on RGW bucket
  qa/tasks/mgr/dashboard/test_rgw.py
  src/pybind/mgr/dashboard/controllers/rgw.py
  src/pybind/mgr/dashboard/frontend/e2e/rgw/buckets.po.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/models/rgw-bucket-mfa-delete.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/models/rgw-bucket-versioning.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-bucket-details/rgw-bucket-details.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-bucket-form/rgw-bucket-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-bucket-form/rgw-bucket-form.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-bucket-form/rgw-bucket-form.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/rgw-bucket.service.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/rgw-bucket.service.ts
  src/pybind/mgr/dashboard/rest_client.py
  src/pybind/mgr/dashboard/services/rgw_client.py
Labels: dashboard, feature, needs-review, rgw

#33628 rgw: fix sharded bucket listing with prefix/delimiter
  src/rgw/rgw_rados.cc
Labels: bug fix, rgw, wip-cbodley-testing

#32660 rgw: Increase the default number of RGW bucket shards
  PendingReleaseNotes
  doc/man/8/radosgw-admin.rst
  qa/rgw_bucket_sharding/default.yaml
  qa/rgw_bucket_sharding/many.yaml
  qa/rgw_bucket_sharding/single.yaml
  qa/suites/rgw/verify/sharding$
  src/common/options.cc
  src/rgw/rgw_admin.cc
  src/rgw/rgw_zone.cc
  src/rgw/rgw_zone.h
  src/test/cli/radosgw-admin/help.t
Labels: performance, rgw, wip-cbodley-testing

#33523 mgr/cephadm: revamp scheduling
  src/pybind/mgr/cephadm/module.py
  src/pybind/mgr/cephadm/tests/test_scheduling.py
  src/pybind/mgr/orchestrator/_interface.py
  src/pybind/mgr/orchestrator/module.py
  src/pybind/mgr/rook/module.py
  src/pybind/mgr/rook/rook_cluster.py
Labels: cephadm, needs-review, wip-kefu-testing, wip-sage3-testing

#33642 test/run-rbd-tests: properly initialize newly created rbd pool
  src/test/run-rbd-tests
Labels: rbd, tests

#33633 msg/Policy: make stateless_server default to anon (again)
  src/ceph_mds.cc
  src/ceph_mon.cc
  src/ceph_osd.cc
  src/crimson/osd/main.cc
  src/mgr/DaemonServer.cc
  src/mgr/MgrStandby.cc
  src/msg/Messenger.cc
  src/msg/Messenger.h
  src/msg/Policy.h
Labels: core, crimson, wip-kefu-testing, wip-sage-testing, wip-sage2-testing, wip-sage3-testing

#32955 luminous: librbd: don't call refresh from mirror::GetInfoRequest state machine
  src/librbd/api/Mirror.cc
  src/librbd/mirror/GetInfoRequest.cc
  src/librbd/mirror/GetInfoRequest.h
Labels: luminous-batch-1, needs-qa, rbd, wip-yuri-testing

#32718 luminous: rbd-mirror: fix 'rbd mirror status' asok command output
  src/tools/rbd_mirror/Mirror.cc
Labels: luminous-batch-1, needs-qa, rbd, wip-yuri-testing

#33658 cephadm: use spec to deploy crash on every host
  src/cephadm/cephadm
  src/pybind/mgr/cephadm/module.py
  src/pybind/mgr/orchestrator/_interface.py
  src/pybind/mgr/orchestrator/module.py
  src/vstart.sh
Labels: cephadm, wip-sage-testing

#33648 qa/suites/cephadm: move orchestrator_cli test into rados/cephadm
  qa/suites/rados/cephadm/orchestrator_cli/%
  qa/suites/rados/cephadm/orchestrator_cli/.qa
  qa/suites/rados/cephadm/orchestrator_cli/2-node-mgr.yaml
  qa/suites/rados/cephadm/orchestrator_cli/orchestrator_cli.yaml
  qa/suites/rados/cephadm/orchestrator_cli/supported-random-distro$
Labels: cephadm, orchestrator, wip-sage-testing, wip-sage2-testing, wip-sage3-testing

#33647 vstart.sh: fix install of cephadm ssh keys from ~/.ssh
  src/vstart.sh
Labels: cephadm, wip-sage-testing

#33601 qa/tasks/thrashosds-health: disable osd_max_markdown behavior
  qa/tasks/thrashosds-health.yaml
  src/osd/OSD.cc
Labels: core, tests, wip-sage2-testing

#33307 luminous: rgw: change the "rgw admin status" 'num_shards' output to signed int
  src/rgw/rgw_admin.cc
Labels: luminous-batch-1, needs-qa, rgw, wip-yuri-testing

#33273 nautilus: rgw: fix rgw crash when duration is invalid in sts request
  src/rgw/rgw_rest_sts.cc
  src/rgw/rgw_sts.cc
  src/rgw/rgw_sts.h
Labels: nautilus-batch-1, needs-qa, rgw, wip-yuri8-testing

#33268 nautilus: rgw: when you abort a multipart upload request, the quota may be not updated
  src/rgw/rgw_multi.cc
  src/rgw/rgw_rados.cc
  src/rgw/rgw_rados.h
Labels: nautilus-batch-1, needs-qa, rgw, wip-yuri8-testing

#33538 mds: just delete MDSIOContextBase during shutdown
  src/mds/MDSContext.cc
Labels: bug fix, cephfs, needs-review, wip-pdonnell-testing

#33506 client: add client_fs mount option support
  doc/cephfs/mount-using-fuse.rst
  doc/start/quick-cephfs.rst
  qa/tasks/cephfs/fuse_mount.py
  qa/tasks/vstart_runner.py
  src/client/Client.cc
  src/common/options.cc
  src/include/cephfs/libcephfs.h
Labels: cephfs, needs-qa, wip-pdonnell-testing

#33491 mount.ceph: new mount option alias -- translate "fs=" option to "mds_namespace="
  doc/cephfs/mount-using-kernel-driver.rst
  doc/man/8/mount.ceph.rst
  doc/start/quick-cephfs.rst
  src/mount/mount.ceph.c
Labels: cephfs, kcephfs, needs-qa, wip-pdonnell-testing

#33363 mds: add perf counters for openfiletable
  qa/tasks/cephfs/test_openfiletable.py
  src/mds/OpenFileTable.cc
  src/mds/OpenFileTable.h
Labels: cephfs, needs-qa, wip-pdonnell-testing

#33621 test/test_mempool: test accounting for btree_map
  src/test/test_mempool.cc
Labels: common, tests

#33661 doc: update Zabbix template reference
  doc/mgr/zabbix.rst
Labels: documentation

#31910 test/msgr: fix ComplexTest fail when using DPDK protocal stack
  src/test/msgr/test_async_networkstack.cc
Labels: messenger, needs-review, tests

#33680 crimson: clang related cleanups
  src/crimson/CMakeLists.txt
  src/crimson/osd/osdmap_gate.cc
Labels: Clang, build/ops, cleanup, crimson

#33564 Adding image feature layering
  qa/workunits/rbd/image_read.sh
Labels: rbd, rh-qe-downstream-change, tests, verified-in-octo-lab

#33589 rbd_map_unmap, added the image-feature layering
  qa/workunits/rbd/map-unmap.sh
Labels: rh-qe-downstream-change, tests, verified-in-octo-lab

#33567 rbd_huge_tickets added the image-feature layering
  qa/workunits/rbd/huge-tickets.sh
Labels: rh-qe-downstream-change, verified-in-octo-lab

#32423 mgr/dashboard: allow refreshing inventory page
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/inventory/inventory-devices/inventory-devices.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/inventory/inventory.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/inventory/inventory.component.ts
Labels: bug fix, dashboard, ready-to-merge

#33120 mgr/volumes: sync inode attributes for cloned subvolumes
  doc/cephfs/fs-volumes.rst
  qa/tasks/cephfs/test_volumes.py
  src/pybind/cephfs/cephfs.pyx
  src/pybind/mgr/volumes/fs/async_cloner.py
  src/pybind/mgr/volumes/fs/fs_util.py
  src/test/pybind/test_cephfs.py
Labels: cephfs, wip-ajarr-testing

#33679 cephadm: fix failure when getting keyring for deploying daemons
  src/cephadm/cephadm
  src/pybind/mgr/cephadm/module.py
Labels: bug fix, cephadm, orchestrator, wip-sage3-testing

#33694 cephadm: fix `alertmanager not implemented yet`
  src/cephadm/cephadm
Labels: bug fix, cephadm, needs-qa, wip-sage3-testing

#33636 qa: add upgrade test for volume upgrade from legacy
  qa/cephfs/clusters/1-mds-1-client-micro.yaml
  qa/suites/fs/upgrade/volumes/.qa
  qa/suites/fs/upgrade/volumes/import-legacy/%
  qa/suites/fs/upgrade/volumes/import-legacy/.qa
  qa/suites/fs/upgrade/volumes/import-legacy/bluestore-bitmap.yaml
  qa/suites/fs/upgrade/volumes/import-legacy/clusters/.qa
  qa/suites/fs/upgrade/volumes/import-legacy/clusters/1-mds-2-client-micro.yaml
  qa/suites/fs/upgrade/volumes/import-legacy/conf
  qa/suites/fs/upgrade/volumes/import-legacy/overrides/+
  qa/suites/fs/upgrade/volumes/import-legacy/overrides/.qa
  qa/suites/fs/upgrade/volumes/import-legacy/overrides/frag_enable.yaml
  qa/suites/fs/upgrade/volumes/import-legacy/overrides/pg-warn.yaml
  qa/suites/fs/upgrade/volumes/import-legacy/overrides/whitelist_health.yaml
  qa/suites/fs/upgrade/volumes/import-legacy/overrides/whitelist_wrongly_marked_down.yaml
  qa/suites/fs/upgrade/volumes/import-legacy/tasks/%
  qa/suites/fs/upgrade/volumes/import-legacy/tasks/.qa
  qa/suites/fs/upgrade/volumes/import-legacy/tasks/0-mimic.yaml
  qa/suites/fs/upgrade/volumes/import-legacy/tasks/1-client.yaml
  qa/suites/fs/upgrade/volumes/import-legacy/tasks/2-upgrade.yaml
  qa/suites/fs/upgrade/volumes/import-legacy/tasks/3-verify.yaml
  qa/suites/fs/upgrade/volumes/import-legacy/ubuntu_18.04.yaml
  qa/tasks/ceph_fuse.py
  qa/tasks/cephfs/fuse_mount.py
  qa/workunits/fs/upgrade/volume_client
Labels: cephfs, needs-review, wip-pdonnell-testing

#33655 monitoring: restore lost fix for `pool full` alert
  monitoring/prometheus/alerts/ceph_default_alerts.yml
Labels: bug fix, dashboard, monitoring, ready-to-merge

#33664 doc: change case from `apis` to `APIs`
  PendingReleaseNotes
  doc/radosgw/elastic-sync-module.rst
Labels: documentation

#33270 nautilus: rgw multisite: enforce spawn window for incremental data sync
  src/rgw/rgw_data_sync.cc
Labels: nautilus-batch-1, needs-qa, rgw, wip-yuri8-testing

#33265 nautilus: rgw: Fix upload part copy range able to get almost any string
  src/rgw/rgw_rest_s3.cc
Labels: nautilus-batch-1, needs-qa, rgw, wip-yuri8-testing

#33266 nautilus: rgw: Fix dynamic resharding not working for empty zonegroup in period
  src/rgw/rgw_zone.h
Labels: nautilus-batch-1, needs-qa, rgw, wip-yuri8-testing

#33267 nautilus: rgw: fix SignatureDoesNotMatch when use ipv6 address in s3 client
  src/rgw/rgw_rest.cc
  src/rgw/rgw_rest_s3.h
Labels: nautilus-batch-1, needs-qa, rgw, wip-yuri8-testing

#33271 nautilus: rgw: MultipartObjectProcessor supports stripe size > chunk size
  qa/suites/rgw/verify/striping$/stripe-equals-chunk.yaml
  qa/suites/rgw/verify/striping$/stripe-greater-than-chunk.yaml
  src/rgw/rgw_putobj_processor.cc
Labels: nautilus-batch-1, needs-qa, rgw, wip-yuri8-testing

#33274 nautilus: test: Fix race with osd restart and doing a scrub
  qa/run-standalone.sh
  qa/standalone/erasure-code/test-erasure-eio.sh
  qa/standalone/osd/ec-error-rollforward.sh
  qa/standalone/osd/osd-backfill-space.sh
  qa/standalone/osd/osd-bluefs-volume-ops.sh
  qa/standalone/osd/osd-dup.sh
  qa/standalone/osd/osd-recovery-stats.sh
  qa/standalone/osd/osd-rep-recov-eio.sh
  qa/standalone/osd/repro_long_log.sh
  qa/standalone/scrub/osd-scrub-repair.sh
  qa/standalone/scrub/osd-scrub-snaps.sh
Labels: core, nautilus-batch-1, needs-qa, wip-yuri4-testing

#33340 nautilus: rgw: make max_connections configurable in beast
  doc/radosgw/frontends.rst
  src/rgw/rgw_asio_frontend.cc
Labels: nautilus-batch-1, needs-qa, rgw, wip-yuri4-testing

#33672 cephadm: Refactor, prepare for other adoptions
  src/cephadm/cephadm
Labels: cephadm, wip-sage3-testing

#33695 mgr/orch: add missing CLI commands for grafana, alertmanager
  src/pybind/mgr/orchestrator/module.py
Labels: cephadm, wip-sage3-testing

#33671 mgr/cephadm: refresh configs when dependencies change
  src/pybind/mgr/cephadm/module.py
Labels: cephadm, wip-sage3-testing

#33678 mgr/cephadm: fix upgrade when daemon is stopped
  src/pybind/mgr/cephadm/module.py
Labels: cephadm, wip-kefu-testing, wip-sage-testing

#33669 mgr/cephadm: make NodeAssignment return a simple host list
  src/pybind/mgr/cephadm/module.py
  src/pybind/mgr/cephadm/tests/test_scheduling.py
Labels: cephadm, needs-review, wip-kefu-testing, wip-sage-testing

#33667 mgr/orch: include spec ref in ServiceDescription
  src/pybind/mgr/cephadm/module.py
  src/pybind/mgr/orchestrator/_interface.py
  src/pybind/mgr/orchestrator/module.py
  src/pybind/mgr/tests/test_orchestrator.py
Labels: cephadm, orchestrator, wip-kefu-testing, wip-sage-testing

#33689 doc/rbd: fix small typos
  doc/rbd/rbd-mirroring.rst
  doc/rbd/rbd-persistent-cache.rst
Labels: documentation

#33673 denc: support enums wider than 8 bits
  src/include/denc.h
  src/test/test_denc.cc
Labels: common, wip-kefu-testing

#33660 osd: drop unnecessary includes of messages/MOSDPGTrim.h.
  src/osd/OSD.cc
  src/osd/PG.cc
Labels: cleanup, core, wip-kefu-testing

#33659 osd: peering updates peer_last_complete_ondisk via setter.
  src/osd/PeeringState.cc
Labels: cleanup, core, needs-qa, wip-kefu-testing

#32444 osd/PrimaryLogPG: simple debug message.
  src/osd/PrimaryLogPG.cc
Labels: cleanup, core, needs-qa, wip-kefu-testing

#33584 compressor/lz4: work around bug in liblz4 versions <1.8.2
  qa/objectstore/bluestore-comp-lz4.yaml
  qa/objectstore/bluestore-comp-snappy.yaml
  qa/objectstore/bluestore-comp-zlib.yaml
  qa/objectstore/bluestore-comp-zstd.yaml
  qa/suites/rados/singleton-bluestore/objectstore/bluestore-comp-lz4.yaml
  qa/suites/rados/singleton-bluestore/objectstore/bluestore-comp-snappy.yaml
  qa/suites/rados/singleton-bluestore/objectstore/bluestore-comp.yaml
  qa/suites/rbd/singleton-bluestore/objectstore/bluestore-comp-snappy.yaml
  qa/suites/rbd/singleton-bluestore/objectstore/bluestore-comp.yaml
  src/compressor/lz4/LZ4Compressor.h
  src/test/compressor/osdmaps/osdmap.2982809
  src/test/compressor/osdmaps/osdmap.2982809.h
  src/test/compressor/test_compression.cc
Labels: bug fix, core, needs-qa, wip-kefu-testing, wip-sage2-testing

#33482 test/test_socket: fix dispatch_sockets() unexpected exception
  src/test/crimson/test_socket.cc
Labels: bug fix, crimson, tests

#33703 doc: adjust for mon_status changes in octopus
  doc/man/8/ceph.rst
  doc/rados/operations/control.rst
  doc/rados/operations/monitoring.rst
  doc/rados/troubleshooting/troubleshooting-mon.rst
Labels: cleanup, documentation

#33682 mon: Get session_map_lock before remove_session
  src/mon/Monitor.cc
Labels: bug fix, mon, wip-kefu-testing

#33701 mgr/orch: try harder when pickle fails to marshal an exception
  qa/tasks/mgr/test_orchestrator_cli.py
  src/pybind/mgr/orchestrator/_interface.py
Labels: bug fix, needs-qa, tests, wip-kefu-testing

#33699 common/ceph_time: tolerate mono time going backwards
  src/common/ceph_time.h
Labels: bug fix, common, needs-qa, wip-kefu-testing

#33690 mgr/dashboard: remove 'config-opt: read' perm. from system roles.
  qa/tasks/mgr/dashboard/test_pool.py
  src/pybind/mgr/dashboard/controllers/pool.py
  src/pybind/mgr/dashboard/frontend/src/app/ceph/pool/pool-form/pool-form.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/pool/pool-form/pool-form.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/models/pool-form-info.ts
  src/pybind/mgr/dashboard/services/access_control.py
Labels: bug fix, dashboard

#33709 qa/tasks: py3 compat (tasks exercised by rados suites)
  qa/tasks/admin_socket.py
  qa/tasks/ceph.py
  qa/tasks/ceph_deploy.py
  qa/tasks/ceph_manager.py
  qa/tasks/ceph_objectstore_tool.py
  qa/tasks/cephadm.py
  qa/tasks/cephfs/filesystem.py
  qa/tasks/daemonwatchdog.py
  qa/tasks/divergent_priors2.py
  qa/tasks/manypools.py
  qa/tasks/mgr/test_crash.py
  qa/tasks/mon_thrash.py
  qa/tasks/netem.py
  qa/tasks/omapbench.py
  qa/tasks/osd_failsafe_enospc.py
  qa/tasks/osd_max_pg_per_osd.py
  qa/tasks/rados.py
  qa/tasks/radosbench.py
  qa/tasks/radosbenchsweep.py
  qa/tasks/reg11184.py
  qa/tasks/scrub.py
  qa/tasks/scrub_test.py
  qa/tasks/systemd.py
  qa/tasks/thrashosds.py
  qa/tasks/vstart_runner.py
  qa/tasks/watch_notify_same_primary.py
  qa/tasks/watch_notify_stress.py
  qa/tasks/workunit.py
Labels: python3, tests

#33670 doc: releases: v14.2.8 release notes
  doc/releases/nautilus.rst
Labels: documentation

#33428 nautilus: ceph-volume: silence 'ceph-bluestore-tool' failures
  src/ceph-volume/ceph_volume/devices/raw/list.py
Labels: bug fix, ceph-volume

#33619 luminous: ceph-volume: strip _dmcrypt suffix in simple scan json output
  src/ceph-volume/ceph_volume/devices/simple/scan.py
Labels: ceph-volume

#33723 run-make-check.sh: WITH_SEASTAR on demand
  run-make-check.sh
  src/script/run-make.sh
Labels: build/ops

#33705 qa/suites/upgrade/nautilus-x/parallel: restart mgr.x before mons
  qa/suites/upgrade/nautilus-x/parallel/3-upgrade-sequence/upgrade-mon-osd-mds.yaml
Labels: bug fix, tests

#33721 doc/releases: add 14.2.8 to release timeline
  doc/releases/general.rst
  doc/releases/releases.yml
Labels: documentation

#33287 rgw: beast ssl certs config through config-key
  doc/radosgw/frontends.rst
  src/common/options.cc
  src/rgw/CMakeLists.txt
  src/rgw/rgw_asio_frontend.cc
  src/rgw/rgw_frontend.cc
  src/rgw/rgw_frontend.h
  src/rgw/rgw_main.cc
  src/rgw/rgw_service.cc
  src/rgw/rgw_service.h
  src/rgw/services/svc_config_key.h
  src/rgw/services/svc_config_key_rados.cc
  src/rgw/services/svc_config_key_rados.h
  src/rgw/services/svc_rados.cc
  src/rgw/services/svc_rados.h
Labels: feature, rgw, wip-sage4-testing

#33698 vstart.sh: set prometheus port for each mgr.
  src/vstart.sh
Labels: common, dashboard, mgr

#33539 doc/rgw: add design doc for multisite resharding
  src/doc/rgw/multisite-reshard.md
Labels: documentation, rgw

#33565 os/bluestore: log allocation stats on a daily basis.
  src/common/legacy_config_opts.h
  src/common/options.cc
  src/os/bluestore/BlueStore.cc
  src/os/bluestore/BlueStore.h
Labels: bluestore, feature, performance

#33663 mgr/cephadm: reduce boilerplate for unittests
  src/pybind/mgr/cephadm/tests/fixtures.py
  src/pybind/mgr/cephadm/tests/test_cephadm.py
Labels: cephadm, needs-qa, wip-sage3-testing

#33533 nautilus: rbd-mirror: improve detection of blacklisted state
  src/test/rbd_mirror/test_mock_PoolReplayer.cc
  src/tools/rbd_mirror/InstanceReplayer.cc
  src/tools/rbd_mirror/InstanceReplayer.h
  src/tools/rbd_mirror/LeaderWatcher.cc
  src/tools/rbd_mirror/LeaderWatcher.h
  src/tools/rbd_mirror/PoolReplayer.cc
Labels: bug fix, nautilus-batch-1, needs-qa, rbd, wip-yuri4-testing

#33731 src/test/compressor: Add missing gtest
  src/test/compressor/CMakeLists.txt
Labels: bug fix, tests

#33730 mgr/cephadm: misc fixes + smoke test
  src/cephadm/vstart-cleanup.sh
  src/cephadm/vstart-smoke.sh
  src/pybind/mgr/cephadm/module.py
  src/pybind/mgr/orchestrator/module.py
Labels: cephadm, needs-review, wip-sage4-testing

#33707 doc: update erasure-code-profile.rst
  doc/rados/operations/erasure-code-profile.rst
Labels: documentation

#33662 mds: handle ceph_assert on blacklisting
  src/osdc/Journaler.cc
Labels: cephfs, needs-qa, wip-pdonnell-testing

#33657 client,common,mgr,rbd: clang related cleanups
  src/client/Inode.cc
  src/common/blkdev.cc
  src/common/blkdev.h
  src/librbd/deep_copy/Utils.h
  src/librbd/image/GetMetadataRequest.h
  src/librbd/image/RefreshRequest.cc
  src/librbd/mirror/GetInfoRequest.h
  src/librbd/mirror/snapshot/SetImageStateRequest.cc
  src/mgr/MgrCap.h
  src/test/librbd/test_librbd.cc
  src/test/rbd_mirror/image_replayer/test_mock_BootstrapRequest.cc
  src/test/rbd_mirror/test_ImageReplayer.cc
  src/test/rbd_mirror/test_mock_ImageReplayer.cc
  src/tools/rbd_mirror/PoolMetaCache.h
Labels: Clang, FreeBSD, cleanup, needs-qa, rbd

#32495 qa: Add basic mypy support for the qa directory
  qa/mypy.ini
  qa/tasks/ceph_manager.py
  qa/tasks/cephfs/cephfs_test_case.py
  qa/tasks/cephfs/filesystem.py
  qa/tasks/cephfs/test_full.py
  qa/tasks/cephfs/test_scrub_checks.py
  qa/tasks/cephfs/test_snapshots.py
  qa/tasks/mds_thrash.py
  qa/tasks/mgr/test_insights.py
  qa/tasks/rbd.py
  qa/tasks/restart.py
  qa/tasks/rgw.py
  qa/tasks/util/rgw.py
  qa/tasks/vstart_runner.py
  qa/tasks/workunit.py
  qa/tox.ini
  src/test/rgw/rgw_multi/tests.py
  src/test/rgw/rgw_multi/tests_ps.py
  src/test/rgw/rgw_multi/zone_cloud.py
  src/test/rgw/rgw_multi/zone_es.py
  src/test/rgw/rgw_multi/zone_ps.py
  src/test/rgw/rgw_multi/zone_rados.py
Labels: tests

#33688 nautilus: mgr/run-tox-tests: Fix issue with PYTHONPATH
  src/pybind/mgr/ansible/tox.ini
  src/pybind/mgr/dashboard/tox.ini
  src/pybind/mgr/insights/tox.ini
  src/pybind/mgr/orchestrator_cli/tox.ini
Labels: bug fix, tests

#30224 common: random: added a deduction guide to make using the function ob…
  src/include/random.h
  src/test/common/test_random.cc
Labels: common, needs-review

#33549 mgr/dashboard: ability to provide custom credentials for E2E tests.
  src/pybind/mgr/dashboard/HACKING.rst
  src/pybind/mgr/dashboard/frontend/protractor.conf.js
  src/pybind/mgr/dashboard/run-frontend-e2e-tests.sh
Labels: dashboard, needs-review, tests

#33697 nautilus: mgr/dashboard: Fixes rbd image 'purge trash' button & modal text
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-list/rbd-list.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-trash-list/rbd-trash-list.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-trash-list/rbd-trash-list.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-trash-list/rbd-trash-list.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-trash-purge-modal/rbd-trash-purge-modal.component.html
Labels: bug fix, dashboard

#33736 mgr/cephadm: two minor fixes
  src/pybind/mgr/cephadm/module.py
Labels: cephadm, wip-sage3-testing

#33734 mgr/cephadm: do not refresh daemon and device inventory as often
  src/pybind/mgr/cephadm/module.py
Labels: cephadm, wip-sage4-testing

#33733 mgr/cephadm: if we had no record of deps, and deps are [], do not reconfig
  src/pybind/mgr/cephadm/module.py
Labels: bug fix, cephadm, wip-sage4-testing

#33729 doc/releases: Octopus is not stable yet
  doc/releases/releases.yml
Labels: cleanup, documentation

#33708 ceph_test_cls_hello: set RETURNVEC on the expected EINVAL request
  src/test/cls_hello/test_cls_hello.cc
Labels: bug fix, core, needs-qa, tests, wip-sage2-testing

#33728 mgr/orch,cephadm: add timestamps to daemons and services
  src/cephadm/cephadm
  src/pybind/mgr/cephadm/module.py
  src/pybind/mgr/orchestrator/_interface.py
  src/pybind/mgr/orchestrator/module.py
Labels: cephadm, needs-review

#33687 mgr/volume: adapt arg passing to ServiceSpec
  src/pybind/mgr/volumes/fs/fs_util.py
Labels: cephadm, cephfs, needs-qa, wip-pdonnell-testing

#33398 rgw: Fix bug on subuser policy identity checker
  src/rgw/rgw_auth.cc
Labels: bug fix, needs-qa, rgw, wip-eric-testing-1

#33693 rgw: clear ent_list for each loop of bucket list
  src/rgw/rgw_rados.cc
Labels: bug fix, needs-qa, rgw, wip-eric-testing-1

#33195 luminous: tool: introduce repair command to ceph-kvstore-tool
  doc/man/8/ceph-kvstore-tool.rst
  src/kv/KeyValueDB.h
  src/kv/LevelDBStore.cc
  src/kv/LevelDBStore.h
  src/kv/RocksDBStore.cc
  src/kv/RocksDBStore.h
  src/os/bluestore/BlueStore.cc
  src/os/bluestore/BlueStore.h
  src/test/CMakeLists.txt
  src/test/cli/ceph-kvstore-tool/help.t
  src/tools/CMakeLists.txt
  src/tools/ceph_kvstore_tool.cc
Labels: core, luminous-batch-1, needs-qa, wip-yuri-testing

#33019 luminous: tests: pybind/test_volume_client: print python version correctly
  qa/tasks/cephfs/test_volume_client.py
Labels: luminous-batch-1, needs-qa, tests, wip-yuri-testing

#33702 rgw: cls_bucket_list_(un)ordered should clear results collection
  src/rgw/rgw_admin.cc
  src/rgw/rgw_rados.cc
Labels: bug fix, rgw, wip-eric-testing-1

#33745 mgr/cephadm: upgrade: fix daemons missing image_id
  src/pybind/mgr/cephadm/module.py
Labels: bug fix, cephadm, wip-sage-testing

#33718 mgr/dashboard: fix tasks.mgr.dashboard.test_rgw suite
  qa/tasks/mgr/dashboard/test_rgw.py
Labels: bug fix, dashboard, needs-qa, wip-sage2-testing

#33531 mgr/dashboard: list services and daemons
  qa/tasks/mgr/dashboard/test_orchestrator.py
  qa/tasks/mgr/test_orchestrator_cli.py
  src/pybind/mgr/dashboard/controllers/host.py
  src/pybind/mgr/dashboard/controllers/orchestrator.py
  src/pybind/mgr/dashboard/controllers/service.py
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/cluster.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/hosts/host-details/host-details.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/hosts/host-details/host-details.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/services/service-daemon-list/service-daemon-list.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/services/service-daemon-list/service-daemon-list.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/services/service-daemon-list/service-daemon-list.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/services/service-daemon-list/service-daemon-list.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/services/service-details/service-details.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/services/service-details/service-details.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/services/service-details/service-details.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/services/service-details/service-details.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/services/services.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/services/services.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/services/services.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/services/services.model.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/ceph-service.service.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/host.service.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/orchestrator.service.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/orchestrator.service.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/models/daemon.interface.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/models/service.interface.ts
  src/pybind/mgr/dashboard/services/orchestrator.py
  src/pybind/mgr/dashboard/tests/test_orchestrator.py
  src/pybind/mgr/test_orchestrator/dummy_data.json
  src/pybind/mgr/test_orchestrator/module.py
Labels: bug fix, dashboard, needs-review, orchestrator, wip-sage2-testing

#30110 mimic: cephfs: test_volume_client: declare only one default for python version
  qa/tasks/cephfs/test_volume_client.py
Labels: cephfs, mimic-batch-1, needs-qa, wip-yuri2-testing

#31380 mimic: client: remove Inode.dir_contacts field and handle bad whence value to llseek gracefully
  src/client/Client.cc
  src/client/Inode.cc
  src/client/Inode.h
Labels: cephfs, mimic-batch-1, needs-qa, wip-yuri2-testing

#32757 mimic: mds: fix assert(omap_num_objs <= MAX_OBJECTS) of OpenFileTable
  src/mds/OpenFileTable.cc
Labels: cephfs, mimic-batch-1, needs-qa, wip-yuri2-testing

#31381 mimic: mds: mds returns -5(EIO) error when the deleted file does not exist
  src/mds/MDCache.cc
Labels: cephfs, mimic-batch-1, needs-qa, wip-yuri2-testing

#33766 mgr/cephadm: fix placement when existing + specified don't overlap
  src/pybind/mgr/cephadm/module.py
  src/pybind/mgr/cephadm/tests/test_scheduling.py
Labels: cephadm, wip-sage3-testing

#33674 mgr/volumes: add `mypy` support
  src/pybind/mgr/tox.ini
  src/pybind/mgr/volumes/fs/async_cloner.py
  src/pybind/mgr/volumes/fs/async_job.py
  src/pybind/mgr/volumes/fs/fs_util.py
  src/pybind/mgr/volumes/fs/operations/clone_index.py
  src/pybind/mgr/volumes/fs/operations/group.py
  src/pybind/mgr/volumes/fs/operations/index.py
  src/pybind/mgr/volumes/fs/operations/lock.py
  src/pybind/mgr/volumes/fs/operations/op_sm.py
  src/pybind/mgr/volumes/fs/operations/template.py
  src/pybind/mgr/volumes/fs/operations/versions/__init__.py
  src/pybind/mgr/volumes/fs/operations/versions/metadata_manager.py
  src/pybind/mgr/volumes/fs/operations/versions/subvolume_base.py
  src/pybind/mgr/volumes/fs/operations/volume.py
  src/pybind/mgr/volumes/fs/purge_queue.py
  src/pybind/mgr/volumes/fs/volume.py
Labels: bug fix, cephfs, wip-pdonnell-testing2

#33775 qa/tasks/ceph.py: quote "<kind>" in command line
  qa/tasks/ceph.py
Labels: bug fix, needs-qa, python3, tests, wip-kefu-testing

#33081 mgr/dashboard: improve device selection modal for creating OSDs
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/osd/osd-devices-selection-groups/osd-devices-selection-groups.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/osd/osd-devices-selection-groups/osd-devices-selection-groups.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/osd/osd-devices-selection-modal/osd-devices-selection-modal.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/osd/osd-devices-selection-modal/osd-devices-selection-modal.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/alert-panel/alert-panel.component.html
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/alert-panel/alert-panel.component.ts
Labels: bug fix, dashboard, ready-to-merge

#33755 mgr/cephadm: make osd create on an existing LV idempotent
  src/pybind/mgr/cephadm/module.py
  src/pybind/mgr/cephadm/tests/test_cephadm.py
Labels: ceph-volume, cephadm, wip-sage-testing

#33757 qa/valgrind.supp: abstract from ceph::buffer's symbol versioning.
  qa/valgrind.supp
Labels: bug fix, needs-qa, wip-sage2-testing

#31281 mimic: tools/cephfs: make 'cephfs-data-scan scan_links' reconstruct snaptable
  PendingReleaseNotes
  qa/tasks/cephfs/test_data_scan.py
  src/mds/InoTable.cc
  src/mds/InoTable.h
  src/mds/MDSTable.cc
  src/mds/MDSTable.h
  src/mds/MDSTableServer.h
  src/mds/SnapServer.cc
  src/mds/SnapServer.h
  src/mds/snap.h
  src/tools/cephfs/DataScan.cc
  src/tools/cephfs/DataScan.h
Labels: bug fix, cephfs, mimic-batch-1, needs-qa, wip-yuri2-testing

#31282 mimic: mds: avoid calling clientreplay_done() prematurely
  src/mds/MDSRank.cc
  src/mds/MDSRank.h
  src/mds/Server.cc
Labels: bug fix, cephfs, mimic-batch-1, needs-qa, wip-yuri2-testing

#31283 mimic: client: more precise CEPH_CLIENT_CAPS_PENDING_CAPSNAP
  src/client/Client.cc
  src/client/Client.h
  src/client/Inode.h
  src/client/MetaSession.h
Labels: bug fix, cephfs, mimic-batch-1, needs-qa, wip-yuri2-testing

#31284 mimic: mds: fix infinite loop in Locker::file_update_finish
  src/mds/CInode.h
  src/mds/Locker.cc
  src/mds/MDCache.cc
Labels: bug fix, cephfs, mimic-batch-1, needs-qa, wip-yuri2-testing

#31379 mimic: mds: split the dir if the op makes it oversized, because some ops maybe in flight
  src/mds/Server.cc
Labels: cephfs, mimic-batch-1, needs-qa, wip-yuri2-testing

#31384 mimic: cephfs: osdc/objecter: Fix last_sent in scientific format and add age to ops
  src/client/MetaRequest.cc
  src/common/ceph_time.cc
  src/osdc/Objecter.cc
Labels: cephfs, mimic-batch-1, needs-qa, wip-yuri2-testing

#33784 mgr/cephadm: update type annotation
  src/pybind/mgr/cephadm/module.py
Labels: bug fix, cephadm, needs-qa

#33754 rgw: fix string_view formatting in RGWFormatter_Plain
  src/rgw/rgw_formats.cc
Labels: bug fix, needs-qa, rgw, wip-cbodley-testing

#33696 common: add iterator-based string splitter
  src/common/split.h
  src/test/common/CMakeLists.txt
  src/test/common/test_split.cc
Labels: common

#33779 mgr/orch: fix ServiceSpec deserialization error
  src/pybind/mgr/orchestrator/_interface.py
Labels: bug fix, cephadm, needs-qa, orchestrator, wip-sage-testing

#33614 mgr/cephadm: custom certificates for Grafana deployment
  src/pybind/mgr/cephadm/module.py
  src/pybind/mgr/mgr_util.py
Labels: cephadm, mgr, needs-qa, wip-kefu-testing, wip-sage-testing

#33772 mgr/cephadm: fix orch rm and upgrade
  src/pybind/mgr/cephadm/module.py
  src/pybind/mgr/orchestrator/_interface.py
Labels: bug fix, cephadm, wip-kefu-testing, wip-sage3-testing

#33602 mgr/cephadm: Add unittest for osd removal
  src/pybind/mgr/cephadm/_utils.py
  src/pybind/mgr/cephadm/module.py
  src/pybind/mgr/cephadm/osd.py
  src/pybind/mgr/cephadm/tests/test_cephadm.py
  src/pybind/mgr/tox.ini
Labels: cephadm, needs-qa, wip-sage3-testing

#33785 qa/suites/rados/cephadm: deploy all monitoring components
  qa/suites/rados/cephadm/smoke/fixed-2.yaml
  qa/suites/rados/cephadm/with-work/fixed-2.yaml
  qa/tasks/cephadm.py
Labels: cephadm, needs-qa, tests, wip-sage-testing

#33700 mgr/cephadm: point dashboard at cephadm's grafana automatically
  doc/cephadm/index.rst
  doc/cephadm/monitoring.rst
  doc/mgr/dashboard.rst
  src/pybind/mgr/cephadm/module.py
Labels: cephadm, needs-qa, wip-sage-testing

#33780 crimson: solve the problem that crimson-osd's created pgs stuck in "unknown" state
  src/crimson/CMakeLists.txt
  src/crimson/mgr/client.cc
  src/crimson/mgr/client.h
  src/crimson/osd/osd.cc
Labels: crimson

#33747 mgr/telemetry: force --license when sending while opted-out
  doc/mgr/telemetry.rst
  src/pybind/mgr/telemetry/module.py
Labels: documentation, mgr, needs-qa, telemetry, wip-sage2-testing

#33752 mgr: update "hostname" when we already have the daemon state from the same entity
  src/mgr/Mgr.cc
Labels: bug fix, mgr, needs-qa, wip-kefu-testing, wip-sage2-testing

#33794 pybind/mgr/mgr_util: fix pretty time delta
  src/pybind/mgr/mgr_util.py
Labels: bug fix, core

#33625 python-common: Make Drive Group filter by AND, instead of OR
  src/python-common/ceph/deployment/drive_selection/__init__.py
  src/python-common/ceph/deployment/drive_selection/filter.py
  src/python-common/ceph/deployment/drive_selection/selector.py
  src/python-common/ceph/deployment/translate.py
  src/python-common/ceph/tests/test_disk_selector.py
  src/python-common/ceph/tests/test_drive_group.py
  src/python-common/tox.ini
Labels: bug fix, cephadm, common, needs-qa, wip-kefu-testing

#33706 mgr/orch: take a single placement argument
  qa/suites/rados/cephadm/upgrade/1-start.yaml
  qa/tasks/cephadm.py
  qa/tasks/mgr/test_orchestrator_cli.py
  src/pybind/mgr/cephadm/tests/test_scheduling.py
  src/pybind/mgr/orchestrator/_interface.py
  src/pybind/mgr/orchestrator/module.py
  src/pybind/mgr/tests/test_orchestrator.py
  src/pybind/mgr/volumes/fs/fs_util.py
Labels: cephadm, needs-review, wip-kefu-testing, wip-sage-testing

#33742 msg/async: perform recv reset immediately if called inside EC.
  src/msg/async/Event.h
  src/msg/async/ProtocolV1.cc
  src/msg/async/ProtocolV1.h
  src/msg/async/ProtocolV2.cc
  src/msg/async/ProtocolV2.h
Labels: bug fix, messenger, needs-qa, wip-sage4-testing

#33686 cls/queue: fix data corruption in urgent data
  src/cls/queue/cls_queue_src.cc
Labels: bug fix, needs-qa

#33788 test_volumes: fix _verify_clone_attrs call
  qa/tasks/cephfs/test_volumes.py
Labels: cephfs, wip-ajarr-testing
