Repository ceph/ceph, pull requests merged in 2020-09, with the labels that each got.

#36907 cmake: make crimson libraries static to prevent cmake error
  src/crimson/os/CMakeLists.txt
  src/crimson/os/cyanstore/CMakeLists.txt
  src/crimson/os/seastore/CMakeLists.txt
  src/test/crimson/seastore/CMakeLists.txt
  src/test/crimson/seastore/onode_tree/CMakeLists.txt
Labels: bug fix, build/ops, crimson

#36897 cmake: expose Sanitizers_COMPILE_OPTIONS as a list
  CMakeLists.txt
  cmake/modules/FindSanitizers.cmake
Labels: build/ops

#36879 doc: bump up sphinx to 3.2.1 and define "stable-release" global substitution
  admin/doc-requirements.txt
  doc/conf.py
  doc/install/ceph-deploy/install-ceph-gateway.rst
  doc/install/ceph-deploy/quick-ceph-deploy.rst
  doc/install/ceph-deploy/quick-start-preflight.rst
  doc/install/get-packages.rst
  doc/rados/api/librados-intro.rst
  doc/rados/configuration/mon-config-ref.rst
  doc/rados/operations/cache-tiering.rst
  doc/rados/operations/crush-map-edits.rst
  doc/rados/operations/erasure-code-clay.rst
  doc/rados/operations/erasure-code-shec.rst
  doc/rados/operations/placement-groups.rst
  doc/rados/troubleshooting/troubleshooting-mon.rst
  doc/radosgw/cloud-sync-module.rst
  doc/radosgw/pubsub-module.rst
  doc/radosgw/sync-modules.rst
  doc/scripts/gen_state_diagram.py
  doc/start/hardware-recommendations.rst
  doc/start/quick-rbd.rst
  src/include/rados/librados.h
Labels: cleanup, documentation, needs-review

#36800 cephadm: Change service type to forking via systemd
  src/cephadm/cephadm
Labels: cephadm, wip-swagner-testing

#36917 doc/rados: s/initial members/mon host
  doc/rados/api/python.rst
Labels: documentation

#36241 ceph-volume: support for mpath devices
  doc/ceph-volume/lvm/prepare.rst
  src/ceph-volume/ceph_volume/util/disk.py
Labels: ceph-volume, feature

#36889 msg/async/ProtocolV2: allow rxbuf/txbuf get bigger in testing
  src/msg/async/ProtocolV2.cc
Labels: cleanup, core, messenger

#36700 ceph-volume: retry when acquiring lock fails
  src/ceph-volume/ceph_volume/util/prepare.py
Labels: ceph-volume, needs-qa

#36610 nautilus: ceph-volume: remove container classes from api/lvm.py
  src/ceph-volume/ceph_volume/api/lvm.py
  src/ceph-volume/ceph_volume/devices/lvm/activate.py
  src/ceph-volume/ceph_volume/exceptions.py
  src/ceph-volume/ceph_volume/tests/api/test_lvm.py
  src/ceph-volume/ceph_volume/tests/conftest.py
  src/ceph-volume/ceph_volume/tests/devices/lvm/strategies/test_bluestore.py
  src/ceph-volume/ceph_volume/tests/devices/lvm/strategies/test_filestore.py
  src/ceph-volume/ceph_volume/tests/devices/lvm/test_activate.py
  src/ceph-volume/ceph_volume/tests/devices/lvm/test_listing.py
  src/ceph-volume/ceph_volume/tests/devices/lvm/test_zap.py
  src/ceph-volume/ceph_volume/tests/util/test_device.py
Labels: ceph-volume, needs-review

#36615 nautilus: ceph-volume: add tests for new functions that run LVM commands
  src/ceph-volume/ceph_volume/tests/api/test_lvm.py
Labels: ceph-volume, needs-review

#36915 qa/tests: use bionic only for old clients in rados/thrash-old-clients
  qa/suites/rados/thrash-old-clients/distro$/centos_7.6.yaml
  qa/suites/rados/thrash-old-clients/distro$/ubuntu_18.04.yaml
Labels: cephadm, tests

#35899 osd, test: refactoring manfiest-tier
  qa/suites/rados/thrash/workloads/dedup_tier.yaml
  qa/suites/rados/thrash/workloads/set-chunk-promote-flush.yaml
  qa/workunits/rados/test_dedup_tool.sh
  src/include/rados.h
  src/include/rados/librados.hpp
  src/librados/librados_cxx.cc
  src/osd/PrimaryLogPG.cc
  src/osd/PrimaryLogPG.h
  src/osd/osd_types.cc
  src/osd/osd_types.h
  src/test/librados/tier_cxx.cc
  src/test/osd/RadosModel.h
  src/test/osd/TestRados.cc
  src/test/osd/types.cc
  src/tools/rados/rados.cc
Labels: core

#35697 cephfs-mirror: bootstrap cephfs mirror daemon
  doc/dev/cephfs-mirroring.rst
  src/common/options.cc
  src/common/subsys.h
  src/include/rados/librados.hpp
  src/librados/librados_cxx.cc
  src/tools/CMakeLists.txt
  src/tools/cephfs_mirror/CMakeLists.txt
  src/tools/cephfs_mirror/ClusterWatcher.cc
  src/tools/cephfs_mirror/ClusterWatcher.h
  src/tools/cephfs_mirror/FSMirror.cc
  src/tools/cephfs_mirror/FSMirror.h
  src/tools/cephfs_mirror/InstanceWatcher.cc
  src/tools/cephfs_mirror/InstanceWatcher.h
  src/tools/cephfs_mirror/Mirror.cc
  src/tools/cephfs_mirror/Mirror.h
  src/tools/cephfs_mirror/MirrorWatcher.cc
  src/tools/cephfs_mirror/MirrorWatcher.h
  src/tools/cephfs_mirror/Types.cc
  src/tools/cephfs_mirror/Types.h
  src/tools/cephfs_mirror/Watcher.cc
  src/tools/cephfs_mirror/Watcher.h
  src/tools/cephfs_mirror/aio_utils.h
  src/tools/cephfs_mirror/main.cc
  src/tools/cephfs_mirror/watcher/RewatchRequest.cc
  src/tools/cephfs_mirror/watcher/RewatchRequest.h
Labels: cephfs

#36869 mon/Monitor: do not handle MMonMetadata
  src/messages/MMonMetadata.h
  src/mon/Monitor.cc
  src/mon/Monitor.h
  src/msg/Message.cc
  src/tools/ceph-dencoder/common_types.h
Labels: cleanup, mon, needs-review

#34644 mgr/dashboard: Remove Histogram Component
  qa/tasks/mgr/dashboard/test_osd.py
  src/pybind/mgr/dashboard/controllers/osd.py
  src/pybind/mgr/dashboard/frontend/cypress/integration/cluster/osds.e2e-spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/cluster.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/osd/osd-details/osd-details.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/osd/osd-details/osd-details.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/osd/osd-details/osd-details.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/osd/osd-performance-histogram/osd-performance-histogram.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/osd/osd-performance-histogram/osd-performance-histogram.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/osd/osd-performance-histogram/osd-performance-histogram.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/osd/osd-performance-histogram/osd-performance-histogram.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/osd.service.ts
Labels: TESTED, cleanup, dashboard, ready-to-merge

#36222 doc: Create new chapter about the Dashboard's landing page
  doc/mgr/dashboard.rst
Labels: dashboard, documentation, needs-review

#36923 mgr/dashboard/api: print logs when vstart fails
  src/pybind/mgr/dashboard/run-backend-api-tests.sh
Labels: api, dashboard

#36873 cephadm: properly remove `osd-activate` container
  src/cephadm/cephadm
Labels: cephadm

#35802 mgr/dashboard: Address API inconsistencies in Cephfs endpoint
  qa/tasks/mgr/dashboard/test_cephfs.py
  src/pybind/mgr/dashboard/controllers/cephfs.py
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cephfs/cephfs-directories/cephfs-directories.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cephfs/cephfs-directories/cephfs-directories.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/cephfs.service.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/cephfs.service.ts
Labels: TESTED, api, dashboard, needs-review

#36612 mimic: ceph-volume: remove container classes from api/lvm.py
  src/ceph-volume/ceph_volume/api/lvm.py
  src/ceph-volume/ceph_volume/devices/lvm/activate.py
  src/ceph-volume/ceph_volume/exceptions.py
  src/ceph-volume/ceph_volume/tests/api/test_lvm.py
  src/ceph-volume/ceph_volume/tests/conftest.py
  src/ceph-volume/ceph_volume/tests/devices/lvm/strategies/test_bluestore.py
  src/ceph-volume/ceph_volume/tests/devices/lvm/strategies/test_filestore.py
  src/ceph-volume/ceph_volume/tests/devices/lvm/test_activate.py
  src/ceph-volume/ceph_volume/tests/devices/lvm/test_listing.py
  src/ceph-volume/ceph_volume/tests/devices/lvm/test_zap.py
  src/ceph-volume/ceph_volume/tests/util/test_device.py
Labels: ceph-volume, needs-review

#36616 mimic: ceph-volume: add tests for new functions that run LVM commands
  src/ceph-volume/ceph_volume/tests/api/test_lvm.py
Labels: ceph-volume, needs-review

#36743 rgw: RGWBucket uses creation_time from RGWBucketInfo
  src/rgw/rgw_sal.cc
  src/rgw/rgw_sal.h
Labels: bug fix, rgw, wip-cbodley-testing

#36545 crimson/admin: Add a hook for Seastar metrics
  src/crimson/admin/osd_admin.cc
  src/crimson/admin/osd_admin.h
  src/crimson/osd/osd.cc
Labels: crimson, feature

#36847 ceph-volume: fix journal size argument not work
  src/ceph-volume/ceph_volume/devices/lvm/strategies/filestore.py
  src/ceph-volume/ceph_volume/tests/util/test_arg_validators.py
Labels: ceph-volume, needs-review

#34293 rgw/notifications: add persistent delivery to notifications
  doc/radosgw/notifications.rst
  src/cls/2pc_queue/cls_2pc_queue.cc
  src/cls/2pc_queue/cls_2pc_queue_client.cc
  src/cls/2pc_queue/cls_2pc_queue_client.h
  src/cls/2pc_queue/cls_2pc_queue_const.h
  src/cls/2pc_queue/cls_2pc_queue_ops.h
  src/cls/2pc_queue/cls_2pc_queue_types.h
  src/rgw/CMakeLists.txt
  src/rgw/rgw_json_enc.cc
  src/rgw/rgw_notify.cc
  src/rgw/rgw_notify.h
  src/rgw/rgw_op.cc
  src/rgw/rgw_pubsub.cc
  src/rgw/rgw_pubsub.h
  src/rgw/rgw_rados.cc
  src/rgw/rgw_rados.h
  src/rgw/rgw_rest_pubsub.cc
  src/rgw/rgw_zone.cc
  src/rgw/rgw_zone.h
  src/test/cls_2pc_queue/test_cls_2pc_queue.cc
  src/test/rgw/rgw_multi/multisite.py
  src/test/rgw/rgw_multi/tests_ps.py
  src/test/rgw/test_multi.py
Labels: feature, needs-qa, rgw, wip-kefu2-testing

#36594 prometheus: Properly split the port off IPv6 addresses
  src/pybind/mgr/prometheus/module.py
Labels: mgr

#36940 mgr/dashboard: Improving notification sidebar card spacing
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/notifications-sidebar/notifications-sidebar.component.html
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/notifications-sidebar/notifications-sidebar.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/shared/enum/icons.enum.ts
Labels: cleanup, dashboard, needs-review, skip-teuthology

#36939 ceph.spec, debian: changes for cephfs-mirror daemon
  ceph.spec.in
  debian/cephfs-mirror.install
  debian/control
  debian/rules
Labels: cephfs

#36883 doc: document tuning of radosgw lifecycle
  doc/radosgw/config-ref.rst
Labels: documentation, rgw

#36578 nautilus: mgr/diskprediction_local: Fix array size error
  src/pybind/mgr/diskprediction_local/module.py
Labels: mgr, nautilus-batch-1, needs-qa, needs-review, wip-yuri2-testing

#36784 nautilus: mgr/dashboard: wait longer for health status to be cleared
  qa/tasks/mgr/dashboard/test_pool.py
Labels: api, bug fix, dashboard, nautilus-batch-1, needs-qa, needs-review, wip-yuri2-testing

#36853 nautilus: librados: add LIBRADOS_SUPPORTS_GETADDRS support
  src/common/PluginRegistry.h
  src/common/bit_str.h
  src/include/rados/librados.h
  src/librados/RadosClient.cc
  src/librados/RadosClient.h
  src/librados/librados_c.cc
  src/librbd/api/PoolMetadata.h
  src/pybind/rados/rados.pyx
Labels: cleanup, common, core, feature, nautilus-batch-1, needs-qa, rbd, wip-yuri2-testing

#36785 nautilus: mgr: Add missing states to PG_STATES in mgr_module.py.
  src/pybind/mgr/mgr_module.py
Labels: mgr, nautilus-batch-1, needs-qa, needs-review, wip-yuri2-testing

#36837 qa/tests: run 'rados' tests every day
  qa/crontab/teuthology-cronjobs
  qa/machine_types/schedule_subset.sh
Labels: pending-discussion, tests

#36960 crimson/admin: use tell_result_t(unique_ptr<Formatter>)
  src/crimson/admin/admin_socket.cc
  src/crimson/admin/admin_socket.h
  src/crimson/admin/osd_admin.cc
Labels: cleanup, crimson

#36919 crimson/osd: check if req should be server with obc lock
  src/crimson/osd/osd_operations/client_request.cc
Labels: bug fix, crimson

#32779 Windows support [part 6]
  README.windows.rst
  src/CMakeLists.txt
  src/common/CMakeLists.txt
  src/common/SubProcess.cc
  src/common/SubProcess.h
  src/common/SubProcess_win32.cc
  src/common/dns_resolve.h
  src/common/ifaddrs_win32.cc
  src/common/run_cmd.cc
  src/compressor/lz4/CMakeLists.txt
  src/compressor/snappy/CMakeLists.txt
  src/compressor/zlib/CMakeLists.txt
  src/compressor/zstd/CMakeLists.txt
  src/crypto/openssl/CMakeLists.txt
  src/erasure-code/CMakeLists.txt
  src/include/win32/ifaddrs.h
  src/librbd/CMakeLists.txt
  win32_build.sh
Labels: win32, wip-jan-testing

#36949 Revert "mgr/osd_support: remove module and all traces"
  ceph.spec.in
  debian/ceph-mgr-modules-core.install
  src/pybind/mgr/osd_support/__init__.py
  src/pybind/mgr/osd_support/module.py
Labels: cephadm, wip-swagner-testing, wip-swagner3-testing

#36943 mgr/cephadm: Add comments to secondary contaieners
  src/cephadm/cephadm
Labels: cephadm, wip-swagner-testing

#36911 mgr/cephadm: customize blink_device_light cmd via j2
  src/pybind/mgr/cephadm/module.py
  src/pybind/mgr/cephadm/template.py
  src/pybind/mgr/cephadm/templates/lsmcli_blink_lights_cmd.j2
  src/pybind/mgr/cephadm/tests/test_cephadm.py
Labels: cephadm, wip-swagner-testing

#36894 orchestrator: intergrate LSM information with device ls
  qa/tasks/cephadm_cases/test_cli.py
  src/pybind/mgr/orchestrator/module.py
  src/python-common/ceph/deployment/inventory.py
Labels: orchestrator, wip-swagner-testing

#36908 msg/async/rdma: use wr_id address to check valid chunk
  src/msg/async/rdma/Infiniband.h
  src/msg/async/rdma/RDMAStack.cc
Labels: messenger, needs-review

#36951 cls/rgw: unlink_instance writes updated olh log on early return
  src/cls/rgw/cls_rgw.cc
  src/rgw/rgw_op.cc
Labels: bug fix, rgw, wip-cbodley-testing

#36542 rgw: fix user stats iterative increment
  src/rgw/rgw_sal.cc
Labels: bug fix, needs-qa, needs-review, rgw

#36218 rgw: add PUT and POST req support to data cache
  doc/radosgw/rgw-cache.rst
  examples/rgw-cache/nginx-default.conf
  examples/rgw-cache/nginx-lua-file.lua
  examples/rgw-cache/nginx-noprefetch.conf
  examples/rgw-cache/nginx-slicing.conf
  examples/rgw-cache/nginx.conf
  src/rgw/rgw_auth_s3.cc
Labels: feature, rgw

#36971 doc: fix typo and correct the affiliation
  .mailmap
  .organizationmap
  .peoplemap
Labels: documentation

#36502 rgw: RGWObjVersionTracker tracks version over increments
  src/rgw/rgw_common.h
  src/rgw/rgw_rados.cc
  src/rgw/services/svc_sys_obj_cache.cc
Labels: bug fix, needs-qa, rgw, wip-cbodley-testing, wip-eric-testing-1

#35984 rgw: Swift API anonymous access should 401
  src/rgw/rgw_auth.h
  src/rgw/rgw_auth_filters.h
  src/rgw/rgw_swift_auth.h
Labels: needs-qa, rgw, wip-eric-testing-1

#35551 rgw: replace '+' with "%20" in canonical query string for s3 v4 auth.
  src/rgw/rgw_auth_s3.cc
Labels: bug fix, needs-qa, rgw, wip-eric-testing-1

#35123 rgw: urlencode bucket name when forwarding request
  src/rgw/rgw_rest_client.cc
Labels: bug fix, needs-qa, rgw, wip-eric-testing-1

#35122 rgw: URL encode bucket name in metadata sync
  src/rgw/rgw_sync.cc
Labels: bug fix, needs-qa, rgw, wip-eric-testing-1

#36546 vstart_runner: log commands in a more usable form
  qa/tasks/vstart_runner.py
Labels: needs-review, vstart_runner

#33942 rgw: Updating STS document with references to new keycloak
  doc/radosgw/keycloak.rst
Labels: rgw

#31663 rgw: do initialization in init_processing() for range copy
  src/rgw/rgw_op.cc
  src/rgw/rgw_op.h
  src/rgw/rgw_rest_s3.cc
Labels: needs-qa, rgw, wip-eric-testing-2

#31354 rgw: The rgw_bucket overload <operator, need to consider bucket_id
  src/rgw/rgw_basic_types.h
Labels: needs-qa, rgw, wip-eric-testing-2

#31058 cls/rgw: avoid read_bucket_header() when bi logging is disabled
  src/cls/rgw/cls_rgw.cc
Labels: needs-qa, performance, rgw, wip-eric-testing-2

#30584 rgw: filter prefix should be used when generating expiration header
  src/rgw/rgw_lc.cc
Labels: needs-qa, rgw, wip-eric-testing-2

#28489 rgw: fix bucket limit check fill_status warnings
  src/rgw/rgw_bucket.cc
Labels: needs-qa, rgw, wip-eric-testing-2

#36913 radosgw-admin: period pull command is not always a raw_storage_op
  src/rgw/rgw_admin.cc
Labels: bug fix, needs-qa, rgw, wip-cbodley-testing

#36758 rgw: rgw_user_sync_all_stats() uses is_truncated()
  src/rgw/rgw_user.cc
Labels: bug fix, needs-qa, rgw, wip-cbodley-testing

#35575 test/rgw: test_datalog_autotrim filters out new entries
  src/test/rgw/rgw_multi/tests.py
Labels: bug fix, rgw, tests, wip-cbodley-testing

#36933 cephfs_mirror: Fix Clang compile errors
  src/tools/cephfs_mirror/ClusterWatcher.h
  src/tools/cephfs_mirror/FSMirror.h
  src/tools/cephfs_mirror/Mirror.cc
  src/tools/cephfs_mirror/Mirror.h
Labels: cephfs, needs-qa, wip-pdonnell-testing

#36902 mds: fix incorrect check for if dirfrag is being fragmented
  src/mds/CDir.cc
  src/mds/MDCache.cc
Labels: bug fix, cephfs, needs-qa, wip-pdonnell-testing

#36954 doc: remove references to ceph-deploy
  doc/dev/release-process.rst
  doc/install/ceph-deploy/index.rst
  doc/install/ceph-deploy/install-ceph-gateway.rst
  doc/install/ceph-deploy/quick-ceph-deploy.rst
  doc/install/ceph-deploy/quick-cephfs.rst
  doc/install/ceph-deploy/quick-common.rst
  doc/install/ceph-deploy/quick-rgw-old.rst
  doc/install/ceph-deploy/quick-rgw.rst
  doc/install/ceph-deploy/quick-start-preflight.rst
  doc/install/ceph-deploy/upgrading-ceph.rst
  doc/install/index.rst
  doc/install/index_manual.rst
  doc/install/install-ceph-deploy.rst
  doc/install/install-storage-cluster.rst
  doc/install/manual-deployment.rst
  doc/install/manual-freebsd-deployment.rst
  doc/man_index.rst
  doc/mgr/index.rst
  doc/rados/api/python.rst
  doc/rados/configuration/auth-config-ref.rst
  doc/rados/configuration/common.rst
  doc/rados/configuration/mon-config-ref.rst
  doc/rados/configuration/network-config-ref.rst
  doc/rados/deployment/ceph-deploy-admin.rst
  doc/rados/deployment/ceph-deploy-install.rst
  doc/rados/deployment/ceph-deploy-keys.rst
  doc/rados/deployment/ceph-deploy-mds.rst
  doc/rados/deployment/ceph-deploy-mon.rst
  doc/rados/deployment/ceph-deploy-new.rst
  doc/rados/deployment/ceph-deploy-osd.rst
  doc/rados/deployment/ceph-deploy-purge.rst
  doc/rados/deployment/index.rst
  doc/rados/deployment/preflight-checklist.rst
  doc/rados/index.rst
  doc/rados/man/index.rst
  doc/rados/operations/user-management.rst
  doc/rados/troubleshooting/troubleshooting-pg.rst
  doc/radosgw/index.rst
  doc/rbd/iscsi-target-cli.rst
  doc/start/quick-rbd.rst
Labels: documentation

#36973 octopus: Revert "mgr/osd_support: remove module and all traces"
  ceph.spec.in
  debian/ceph-mgr-modules-core.install
  src/pybind/mgr/osd_support/__init__.py
  src/pybind/mgr/osd_support/module.py
Labels: build/ops, cephadm, octopus-batch-1, wip-yuri2-testing

#36977 mon/OSDMonitor: only take in osd into consideration when trimming osd…
  src/mon/OSDMonitor.cc
Labels: bug fix, mon, needs-qa

#36489 doc/dev: add proper merge commit format
  doc/dev/developer_guide/basic-workflow.rst
  doc/dev/developer_guide/merging.rst
Labels: documentation

#36865 mgr/dashboard: fix style being applied globally
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cephfs/cephfs-directories/cephfs-directories.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/configuration/configuration.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/crushmap/crushmap.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/logs/logs.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/ceph/dashboard/health/health.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/ceph/pool/pool-list/pool-list.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/core/layouts/blank-layout/blank-layout.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/core/layouts/login-layout/login-layout.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/core/layouts/workbench-layout/workbench-layout.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/core/navigation/navigation/navigation.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/modal/modal.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/pwd-expiration-notification/pwd-expiration-notification.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/telemetry-notification/telemetry-notification.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/shared/datatable/table/table.component.html
  src/pybind/mgr/dashboard/frontend/src/app/shared/datatable/table/table.component.scss
  src/pybind/mgr/dashboard/frontend/src/styles/ceph-custom/_toast.scss
Labels: bug fix, dashboard, ready-to-merge, skip-teuthology

#36059 crimson/seastore: add extent map tree
  src/crimson/os/seastore/CMakeLists.txt
  src/crimson/os/seastore/cache.cc
  src/crimson/os/seastore/extentmap_manager.cc
  src/crimson/os/seastore/extentmap_manager.h
  src/crimson/os/seastore/extentmap_manager/btree/btree_extentmap_manager.cc
  src/crimson/os/seastore/extentmap_manager/btree/btree_extentmap_manager.h
  src/crimson/os/seastore/extentmap_manager/btree/extentmap_btree_node.h
  src/crimson/os/seastore/extentmap_manager/btree/extentmap_btree_node_impl.cc
  src/crimson/os/seastore/extentmap_manager/btree/extentmap_btree_node_impl.h
  src/crimson/os/seastore/lba_manager/btree/lba_btree_node_impl.h
  src/crimson/os/seastore/seastore_types.cc
  src/crimson/os/seastore/seastore_types.h
  src/test/crimson/seastore/CMakeLists.txt
  src/test/crimson/seastore/test_extmap_manager.cc
Labels: crimson

#34831 mgr/dashboard: REST API returns 500 when no Content-Type is specified
  src/pybind/mgr/dashboard/controllers/__init__.py
  src/pybind/mgr/dashboard/controllers/auth.py
  src/pybind/mgr/dashboard/controllers/cephfs.py
  src/pybind/mgr/dashboard/controllers/docs.py
  src/pybind/mgr/dashboard/controllers/host.py
  src/pybind/mgr/dashboard/controllers/mgr_modules.py
  src/pybind/mgr/dashboard/controllers/osd.py
  src/pybind/mgr/dashboard/controllers/rbd.py
  src/pybind/mgr/dashboard/controllers/rbd_mirroring.py
  src/pybind/mgr/dashboard/controllers/rgw.py
  src/pybind/mgr/dashboard/controllers/user.py
  src/pybind/mgr/dashboard/module.py
Labels: bug fix, dashboard, needs-qa, needs-review, wip-laura-testing

#36824 mgr/dashboard: Exchange PNGs for SVGs
  src/pybind/mgr/dashboard/frontend/src/app/core/layouts/login-layout/login-layout.component.html
  src/pybind/mgr/dashboard/frontend/src/app/core/navigation/about/about.component.html
  src/pybind/mgr/dashboard/frontend/src/app/core/navigation/about/about.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/core/navigation/navigation/navigation.component.html
  src/pybind/mgr/dashboard/frontend/src/assets/Ceph_Ceph_Logo_with_text_red_white.svg
  src/pybind/mgr/dashboard/frontend/src/assets/Ceph_Ceph_Logo_with_text_white.svg
  src/pybind/mgr/dashboard/frontend/src/assets/Ceph_Logo.svg
  src/pybind/mgr/dashboard/frontend/src/assets/Ceph_Logo_Stacked_RGB_120411_fa_228x228.png
  src/pybind/mgr/dashboard/frontend/src/assets/Ceph_Logo_Stacked_RGB_120411_fa_348x348.png
  src/pybind/mgr/dashboard/frontend/src/assets/Ceph_Logo_Stacked_RGB_White_120411_fa_256x256.png
  src/pybind/mgr/dashboard/frontend/src/assets/Ceph_Logo_Standard_RGB_Reversed_120411_fa.png
  src/pybind/mgr/dashboard/frontend/src/assets/Ceph_Logo_Standard_RGB_White_120411_fa.png
  src/pybind/mgr/dashboard/frontend/src/assets/notification-icons.png
  src/pybind/mgr/dashboard/frontend/src/styles/ceph-custom/_icons.scss
Labels: dashboard, needs-review

#36464 client: get rstat from auth mds to reduce forwarding requests
  src/client/MetaRequest.h
Labels: cephfs, needs-qa, wip-pdonnell-testing

#36850 mds: add performance counter for cap messages
  src/mds/Locker.cc
  src/mds/MDSRank.cc
  src/mds/MDSRank.h
Labels: cephfs, needs-qa, wip-pdonnell-testing

#36580 client: defer putting the Inodes
  src/client/Client.cc
  src/client/Client.h
Labels: bug fix, cephfs, client_lock, needs-qa, wip-pdonnell-testing

#36983 client: make the osdmap wait under the mount_state reader check
  src/client/Client.cc
Labels: bug fix, cephfs, needs-qa, wip-pdonnell-testing

#36981 octopus: mon/OSDMonitor: only take in osd into consideration when trimming osd…
  src/mon/OSDMonitor.cc
Labels: core, needs-qa, octopus-batch-1, wip-yuri2-testing

#36990 doc/dev: use prompt directive when appropriate
  doc/dev/developer_guide/basic-workflow.rst
  doc/dev/developer_guide/essentials.rst
  doc/dev/developer_guide/issue-tracker.rst
  doc/dev/developer_guide/running-tests-in-cloud.rst
  doc/dev/developer_guide/tests-integration-tests.rst
  doc/dev/developer_guide/tests-unit-tests.rst
  doc/dev/internals.rst
  doc/dev/quick_guide.rst
  doc/rados/configuration/auth-config-ref.rst
  doc/rados/configuration/common.rst
Labels: documentation

#37007 crimson/osd: accurately judge whether to do drop_recovery_read on recovering objs
  src/crimson/osd/recovery_backend.cc
  src/crimson/osd/recovery_backend.h
  src/crimson/osd/replicated_recovery_backend.cc
Labels: bug fix, crimson

#36929 python-common: s/unicode/str/
  src/python-common/ceph/deployment/utils.py
Labels: cephadm, cleanup, needs-qa, python3, wip-kefu-testing

#36924 cmake: detect and use sigdescr_np() if available
  cmake/modules/CephChecks.cmake
  src/global/signal_handler.h
  src/include/config-h.in.cmake
Labels: needs-qa, wip-kefu-testing

#36600 mds: make caps dump more readable
  src/mds/Capability.cc
Labels: cephfs, needs-qa, wip-pdonnell-testing

#37001 qa/suites: add crimson-rados/basic tests
  qa/suites/crimson-rados/basic/%
  qa/suites/crimson-rados/basic/.qa
  qa/suites/crimson-rados/basic/centos_latest.yaml
  qa/suites/crimson-rados/basic/ceph.yaml
  qa/suites/crimson-rados/basic/clusters/.qa
  qa/suites/crimson-rados/basic/clusters/fixed-2.yaml
  qa/suites/crimson-rados/basic/tasks/rados_api_tests.yaml
  qa/suites/crimson-rados/basic/tasks/rados_python.yaml
  qa/suites/crimson-rados/basic/tasks/readwrite.yaml
Labels: crimson, tests

#37010 crimson/net: move implementation into .cc file
  src/crimson/net/Socket.cc
  src/crimson/net/Socket.h
Labels: cleanup, crimson

#37008 crimson/osd: add "ceph tell <pgid> <command>" support
  src/crimson/CMakeLists.txt
  src/crimson/admin/pg_commands.cc
  src/crimson/admin/pg_commands.h
  src/crimson/os/alienstore/alien_store.cc
  src/crimson/osd/osd.cc
  src/crimson/osd/osd.h
  src/crimson/osd/pg.cc
  src/crimson/osd/pg.h
  src/crimson/osd/pg_map.cc
  src/crimson/osd/pg_map.h
  src/osd/PGStateUtils.h
  src/osd/PeeringState.cc
  src/osd/PrimaryLogPG.cc
Labels: cleanup, core, crimson, needs-qa, wip-kefu-testing

#36999 qa/*/mon/mon-last-epoch-clean.sh: mark osd out instead of down
  qa/standalone/mon/mon-last-epoch-clean.sh
Labels: mon, tests, wip-kefu-testing

#36937 mgr: use range-based loop and cleanups
  src/mgr/ActivePyModules.cc
  src/mgr/DaemonState.cc
  src/mgr/Mgr.cc
Labels: cleanup, mgr, needs-qa, wip-kefu-testing

#36972 rpm,deb: drop /etc/sudoers.d/cephadm
  ceph.spec.in
  debian/cephadm.install
  debian/rules
  sudoers.d/cephadm
Labels: build/ops, cephadm, needs-qa, wip-kefu-testing

#36947 mgr/mgr_module : Fix keyerror for op if rule steps first element is opcode
  src/pybind/mgr/mgr_module.py
Labels: mgr, needs-qa, needs-review, wip-kefu-testing

#36829 refine crushmap comment and implementation
  src/crush/CrushWrapper.cc
  src/crush/CrushWrapper.h
  src/crush/crush.h
  src/osd/OSDMap.cc
Labels: cleanup, core, wip-kefu-testing

#36992 include/encoding: Fix encode/decode of float types on big-endian systems
  src/include/encoding.h
Labels: common, core, needs-qa, wip-kefu-testing

#36995 rpm: on SUSE, podman is required for cephadm to work
  ceph.spec.in
Labels: build/ops, cephadm, needs-qa

#36946 doc/cephadm: Document mgr/cephadm/manage_etc_ceph_ceph_conf
  doc/cephadm/operations.rst
  doc/rados/configuration/ceph-conf.rst
Labels: cephadm, documentation

#37015 common/buffer_seastar: reserve the packet slots in ctor
  src/common/buffer_seastar.cc
Labels: crimson, performance

#36432 mgr/cephadm: convert tags to repo_digest
  qa/suites/rados/cephadm/upgrade/2-repo_digest/defaut.yaml
  qa/suites/rados/cephadm/upgrade/2-repo_digest/repo_digest.yaml
  qa/suites/rados/cephadm/upgrade/3-start-upgrade.yaml
  qa/suites/rados/cephadm/upgrade/4-wait.yaml
  src/cephadm/cephadm
  src/cephadm/tests/test_cephadm.py
  src/pybind/mgr/cephadm/module.py
  src/pybind/mgr/cephadm/tests/fixtures.py
  src/pybind/mgr/cephadm/tests/test_cephadm.py
  src/pybind/mgr/cephadm/tests/test_upgrade.py
  src/pybind/mgr/cephadm/upgrade.py
  src/pybind/mgr/cephadm/utils.py
  src/pybind/mgr/tests/__init__.py
Labels: cephadm, needs-review

#36994 rpm: enable WITH_BOOST_CONTEXT for s390x
  ceph.spec.in
Labels: build/ops

#36903 python-common: Make HostPlacementSpec.to_json() more friendly
  src/pybind/mgr/cephadm/tests/test_cephadm.py
  src/pybind/mgr/cephadm/tests/test_spec.py
  src/python-common/ceph/deployment/service_spec.py
  src/python-common/ceph/tests/test_service_spec.py
Labels: cephadm, needs-review, wip-swagner-testing

#36974 snap-schedule: don't prune all on empty retention
  src/pybind/mgr/snap_schedule/fs/schedule_client.py
  src/pybind/mgr/snap_schedule/tests/fs/test_schedule_client.py
Labels: bug fix, cephfs, wip-vshankar-testing

#37003 crimson/osd: drop repop if osdmap has increased
  src/crimson/osd/osd_operations/client_request.cc
  src/crimson/osd/pg.cc
  src/crimson/osd/pg.h
Labels: bug fix, crimson

#36976 mgr/dashboard: fix duplicate logs
  src/pybind/mgr/dashboard/run-backend-api-tests.sh
Labels: api, bug fix, dashboard, ready-to-merge

#36950 ceph-volume: simple scan should ignore tmpfs
  src/ceph-volume/ceph_volume/devices/simple/scan.py
Labels: ceph-volume

#36955 os/bluestore: Switch from libzbc library to libzbd library
  CMakeLists.txt
  cmake/modules/Findzbc.cmake
  cmake/modules/Findzbd.cmake
  src/blk/BlockDevice.cc
  src/blk/BlockDevice.h
  src/blk/CMakeLists.txt
  src/blk/zoned/HMSMRDevice.cc
  src/include/config-h.in.cmake
  src/os/CMakeLists.txt
  src/os/bluestore/Allocator.cc
  src/os/bluestore/FreelistManager.cc
Labels: bluestore, needs-qa, wip-kefu-testing

#36230 os/bluestore: fix collection_list ordering
  src/include/ceph_features.h
  src/os/ObjectStore.h
  src/os/bluestore/BlueStore.cc
  src/os/bluestore/BlueStore.h
  src/os/kstore/KStore.cc
  src/osd/PGBackend.cc
  src/osd/PGBackend.h
  src/osd/PrimaryLogPG.h
  src/test/objectstore/store_test.cc
Labels: bluestore, bug fix, core, needs-qa

#36930 nautilus: Rescue procedure for extremely large bluefs log
  doc/man/8/ceph-bluestore-tool.rst
  src/common/legacy_config_opts.h
  src/common/options.cc
  src/os/bluestore/BlueFS.cc
  src/os/bluestore/BlueFS.h
Labels: bluestore, nautilus-batch-1, needs-qa, wip-yuri-testing

#37042 crimson/osd: avoid accessing WaitForObjectRecovery::pi when no pulling occurred
  src/crimson/osd/recovery_backend.h
  src/crimson/osd/replicated_recovery_backend.cc
Labels: bug fix, crimson

#34777 mgr/dashboard: increase Grafana iframe height to avoid scroll bar
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/hosts/host-details/host-details.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/osd/osd-details/osd-details.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/osd/osd-list/osd-list.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/pool/pool-details/pool-details.component.html
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/grafana/grafana.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/grafana/grafana.component.ts
Labels: bug fix, dashboard, ready-to-merge

#36964 mgr: don't update pending service map epoch on receiving map from mon
  src/mgr/DaemonServer.cc
Labels: bug fix, mgr, needs-qa, rbd

#37054 rgw: ObjectCache::put() clears stale objv
  src/rgw/rgw_cache.cc
Labels: bug fix, needs-qa, rgw, wip-cbodley-testing

#36962 qa: py3 cleanups
  qa/standalone/special/ceph_objectstore_tool.py
  qa/tasks/ceph_manager.py
Labels: cleanup, needs-review, python3, tests

#36961 mon/AuthMonitor: speed up caps updates
  src/common/options.cc
  src/mon/AuthMonitor.cc
  src/test/mon/bench_auth.py
Labels: mon, needs-review, performance, wip-pdonnell-testing

#37073 test/crimson: fix racing in testing
  src/test/crimson/CMakeLists.txt
  src/test/crimson/test_config.cc
Labels: bug fix, crimson, tests

#37050 rbd: include RADOS namespace in krbd symlinks
  qa/suites/krbd/rbd-nomount/tasks/krbd_udev_symlinks.yaml
  qa/workunits/rbd/krbd_udev_symlinks.sh
  src/ceph-rbdnamer
  udev/50-rbd.rules
Labels: bug fix, needs-qa, rbd

#37005 common/buffer: check for null before deref
  src/common/buffer.cc
  src/include/buffer.h
Labels: cleanup, common, needs-qa, wip-kefu-testing

#36855 mgr/telemetry: fix device id splitting when anonymizing serial
  src/pybind/mgr/telemetry/module.py
Labels: bug fix, mgr, needs-qa, telemetry, wip-kefu-testing

#37039 ceph-volume: avoid format strings for now
  src/ceph-volume/ceph_volume/drive_group/main.py
Labels: bug fix, ceph-volume

#36798 Wip dang zipper 8
  src/rgw/CMakeLists.txt
  src/rgw/librgw.cc
  src/rgw/rgw_admin.cc
  src/rgw/rgw_bucket.cc
  src/rgw/rgw_common.cc
  src/rgw/rgw_common.h
  src/rgw/rgw_cr_rados.h
  src/rgw/rgw_dencoder.cc
  src/rgw/rgw_file.cc
  src/rgw/rgw_file.h
  src/rgw/rgw_frontend.h
  src/rgw/rgw_gc.h
  src/rgw/rgw_lc.cc
  src/rgw/rgw_lc.h
  src/rgw/rgw_lib.h
  src/rgw/rgw_multi.cc
  src/rgw/rgw_notify.cc
  src/rgw/rgw_object_expirer_core.cc
  src/rgw/rgw_object_expirer_core.h
  src/rgw/rgw_op.cc
  src/rgw/rgw_op.h
  src/rgw/rgw_orphan.cc
  src/rgw/rgw_period_pusher.cc
  src/rgw/rgw_process.cc
  src/rgw/rgw_pubsub.cc
  src/rgw/rgw_putobj_processor.cc
  src/rgw/rgw_quota.cc
  src/rgw/rgw_rados.h
  src/rgw/rgw_realm_reloader.cc
  src/rgw/rgw_reshard.cc
  src/rgw/rgw_rest.cc
  src/rgw/rgw_rest_bucket.cc
  src/rgw/rgw_rest_config.cc
  src/rgw/rgw_rest_conn.cc
  src/rgw/rgw_rest_metadata.cc
  src/rgw/rgw_rest_oidc_provider.cc
  src/rgw/rgw_rest_pubsub.cc
  src/rgw/rgw_rest_pubsub_common.cc
  src/rgw/rgw_rest_realm.cc
  src/rgw/rgw_rest_role.cc
  src/rgw/rgw_rest_s3.cc
  src/rgw/rgw_rest_swift.cc
  src/rgw/rgw_rest_usage.cc
  src/rgw/rgw_rest_user.cc
  src/rgw/rgw_rest_user_policy.cc
  src/rgw/rgw_sal.cc
  src/rgw/rgw_sal.h
  src/rgw/rgw_sal_rados.cc
  src/rgw/rgw_sal_rados.h
  src/rgw/rgw_sts.cc
  src/rgw/rgw_swift_auth.cc
  src/rgw/rgw_sync.h
  src/rgw/rgw_sync_module_es_rest.cc
  src/rgw/rgw_sync_module_pubsub_rest.cc
  src/rgw/rgw_tools.cc
  src/rgw/rgw_torrent.cc
  src/rgw/rgw_user.cc
  src/test/librgw_file_nfsns.cc
  src/test/rgw/test_rgw_iam_policy.cc
Labels: rgw

#36766 cephadm: log to file
  src/cephadm/cephadm
  src/cephadm/tests/test_cephadm.py
Labels: cephadm, wip-swagner-testing, wip-swagner3-testing, wip-swagner4-testing

#37046 cephadm: unit.run: create /var/run/ceph/$FSID before doing anything else
  src/cephadm/cephadm
Labels: bug fix, cephadm, wip-swagner4-testing

#37071 cephadm: Remove assignment to member variable in ServiceSpecs
  src/python-common/ceph/deployment/service_spec.py
Labels: cephadm, cleanup, wip-swagner4-testing

#37075 doc/dev: fix broken link and fix the codeblocks' formatting
  doc/dev/developer_guide/tests-integration-tests.rst
Labels: documentation

#36313 rgw: fix vector index warning
  src/rgw/rgw_etag_verifier.h
Labels: cleanup, needs-qa, rgw

#36747 doc/developer_guide: Update about '--force-priority' flag
  doc/dev/developer_guide/tests-integration-tests.rst
Labels: documentation, ready-to-merge, tests

#36980 cephadm: fix iSCSI unit.run file
  src/cephadm/cephadm
Labels: cephadm, needs-review, wip-swagner-testing, wip-swagner3-testing

#37089 cmake: add cls_fifo as a dependency of osd
  src/osd/CMakeLists.txt
Labels: build/ops, rgw

#37070 doc/dev: add HACKING.rst to Dev Guide
  doc/dev/developer_guide/dash-devel.rst
  doc/dev/developer_guide/index.rst
  src/pybind/mgr/dashboard/README.rst
Labels: documentation

#36935 mgr/cephadm: introduce `CephService` class
  src/pybind/mgr/cephadm/module.py
  src/pybind/mgr/cephadm/services/cephadmservice.py
  src/pybind/mgr/cephadm/services/iscsi.py
  src/pybind/mgr/cephadm/services/nfs.py
  src/pybind/mgr/cephadm/services/osd.py
  src/pybind/mgr/cephadm/tests/test_services.py
  src/pybind/mgr/cephadm/tests/test_utils.py
  src/pybind/mgr/cephadm/utils.py
Labels: cephadm, cleanup, wip-swagner-testing

#37036 common: remove data_dir_option in func global_init
  src/ceph_mds.cc
  src/ceph_mgr.cc
  src/ceph_mon.cc
  src/ceph_osd.cc
  src/global/global_init.cc
  src/global/global_init.h
  src/rgw/rgw_main.cc
  src/rgw/rgw_object_expirer.cc
Labels: cleanup, common, needs-qa, wip-kefu-testing

#32169 pybind: add aio_cmpext()
  src/pybind/rados/rados.pyx
  src/test/pybind/test_rados.py
Labels: needs-qa, pybind, wip-kefu-testing

#37029 test/pybind: split aio_test into smaller pieces
  qa/suites/crimson-rados/basic/tasks/rados_python.yaml
  src/test/pybind/test_rados.py
Labels: cleanup, needs-qa, tests, wip-kefu-testing

#36211 use remote write file
  qa/tasks/autotest.py
  qa/tasks/cbt.py
  qa/tasks/ceph.py
  qa/tasks/ceph_deploy.py
  qa/tasks/ceph_objectstore_tool.py
  qa/tasks/cephadm.py
  qa/tasks/cephfs/test_cephfs_shell.py
  qa/tasks/cephfs/test_sessionmap.py
  qa/tasks/cephfs/test_volume_client.py
  qa/tasks/cephfs/test_volumes.py
  qa/tasks/cephfs/xfstests_dev.py
  qa/tasks/devstack.py
  qa/tasks/dnsmasq.py
  qa/tasks/qemu.py
  qa/tasks/ragweed.py
  qa/tasks/rbd_fio.py
  qa/tasks/restart.py
  qa/tasks/s3a_hadoop.py
  qa/tasks/s3tests.py
  qa/tasks/s3tests_java.py
  qa/tasks/samba.py
  qa/tasks/workunit.py
Labels: cephfs, core, needs-qa, rbd, rgw, tests, wip-kefu-testing, wip-pdonnell-testing

#36822 cephadm: Add --container-init
  doc/man/8/cephadm.rst
  src/cephadm/cephadm
  src/pybind/mgr/cephadm/module.py
Labels: cephadm, needs-review

#36745 os/bluestore: get rid of obsolete stuff in bluefs.
  src/kv/RocksDBStore.cc
  src/os/bluestore/BlueFS.cc
  src/os/bluestore/BlueFS.h
  src/os/bluestore/BlueStore.cc
  src/os/bluestore/BlueStore.h
  src/os/bluestore/bluefs_types.cc
  src/os/bluestore/bluefs_types.h
  src/os/bluestore/bluestore_tool.cc
  src/test/objectstore/test_bluefs.cc
  src/tools/ceph_kvstore_tool.cc
  src/tools/kvstore_tool.cc
Labels: bluestore, bug fix, cleanup, needs-qa, wip-kefu-testing, wip-pdonnell-testing

#37031 osd: Introduce new PGOpQueueable class for recovery push/reply messages.
  src/osd/OSD.cc
  src/osd/OSD.h
  src/osd/scheduler/OpSchedulerItem.cc
  src/osd/scheduler/OpSchedulerItem.h
Labels: core, needs-qa, wip-sseshasa-testing

#37099 crimson/osd: pass the the cause by string_view
  src/crimson/osd/recovery_backend.cc
  src/crimson/osd/recovery_backend.h
Labels: cleanup, crimson

#37084 crimson/osd: fix fmt::format() errors and cleanups
  src/common/config_proxy.h
  src/common/dout.h
  src/crimson/osd/object_context.h
  src/crimson/osd/osd_operations/compound_peering_request.cc
Labels: cleanup, crimson

#37094 cephadm: remove z option from iSCSI dev and configfs mount
  src/cephadm/cephadm
Labels: cephadm, wip-swagner3-testing

#36825 librbd: task finisher should distinguish quiesce tasks with different ID
  src/include/rbd/librbd.h
  src/include/rbd/librbd.hpp
  src/librbd/ImageState.cc
  src/librbd/ImageState.h
  src/librbd/ImageWatcher.cc
  src/librbd/ImageWatcher.h
  src/librbd/librbd.cc
  src/test/librbd/test_librbd.cc
  src/tools/rbd_nbd/rbd-nbd.cc
Labels: bug fix, needs-qa, rbd, wip-jason-testing

#37052 rgw: RGWRESTOp no longer tracks separate error code
  src/rgw/rgw_rest.cc
  src/rgw/rgw_rest.h
  src/rgw/rgw_rest_bucket.cc
  src/rgw/rgw_rest_config.cc
  src/rgw/rgw_rest_log.cc
  src/rgw/rgw_rest_metadata.cc
  src/rgw/rgw_rest_realm.cc
  src/rgw/rgw_rest_usage.cc
  src/rgw/rgw_rest_user.cc
Labels: bug fix, needs-qa, rgw, wip-cbodley-testing

#37002 alpine: remove .editorconfig
  alpine/.editorconfig
Labels: cleanup

#36188 nautilus: rgw: fail when get/set-bucket-versioning attempted on a non-existent …
  src/rgw/rgw_op.cc
  src/rgw/rgw_rest_s3.cc
Labels: nautilus-batch-1, rgw, wip-yuri2-testing

#37011 rgw: set command desc for "cache list"
  src/rgw/services/svc_sys_obj_cache.cc
Labels: needs-qa, rgw

#37021 osd: pass pg_log_t by lvalue reference
  src/osd/OSDMap.cc
  src/osd/PGLog.cc
  src/osd/PGLog.h
  src/osd/PeeringState.cc
  src/osd/PeeringState.h
  src/osd/osd_types.h
  src/test/osd/TestPGLog.cc
  src/test/osd/types.cc
Labels: cleanup, core, needs-review

#32581 mon, cephfs: Add auth caps for CephFS fsids
  PendingReleaseNotes
  doc/cephfs/client-auth.rst
  qa/suites/fs/multifs/tasks/multifs-auth.yaml
  qa/suites/kcephfs/multifs/%
  qa/suites/kcephfs/multifs/.qa
  qa/suites/kcephfs/multifs/begin.yaml
  qa/suites/kcephfs/multifs/clusters/2-mds-2-client.yaml
  qa/suites/kcephfs/multifs/conf
  qa/suites/kcephfs/multifs/kclient
  qa/suites/kcephfs/multifs/objectstore-ec
  qa/suites/kcephfs/multifs/overrides/+
  qa/suites/kcephfs/multifs/overrides/.qa
  qa/suites/kcephfs/multifs/overrides/frag_enable.yaml
  qa/suites/kcephfs/multifs/overrides/log-config.yaml
  qa/suites/kcephfs/multifs/overrides/osd-asserts.yaml
  qa/suites/kcephfs/multifs/overrides/whitelist_health.yaml
  qa/suites/kcephfs/multifs/overrides/whitelist_wrongly_marked_down.yaml
  qa/suites/kcephfs/multifs/tasks/multifs-auth.yaml
  qa/tasks/ceph_fuse.py
  qa/tasks/cephfs/caps_helper.py
  qa/tasks/cephfs/cephfs_test_case.py
  qa/tasks/cephfs/filesystem.py
  qa/tasks/cephfs/fuse_mount.py
  qa/tasks/cephfs/kernel_mount.py
  qa/tasks/cephfs/mount.py
  qa/tasks/cephfs/test_admin.py
  qa/tasks/cephfs/test_client_recovery.py
  qa/tasks/cephfs/test_failover.py
  qa/tasks/cephfs/test_multifs_auth.py
  qa/tasks/cephfs/test_quota.py
  qa/tasks/cephfs/test_recovery_pool.py
  qa/tasks/cephfs/test_sessionmap.py
  qa/tasks/cephfs/test_strays.py
  qa/tasks/cephfs/test_volume_client.py
  qa/tasks/kclient.py
  qa/tasks/mgr/dashboard/helper.py
  qa/tasks/vstart_runner.py
  src/mds/FSMap.cc
  src/mds/FSMap.h
  src/mds/MDSAuthCaps.cc
  src/mds/MDSAuthCaps.h
  src/mds/MDSDaemon.cc
  src/mds/MDSRank.cc
  src/mds/MDSRank.h
  src/mds/Server.cc
  src/mds/SessionMap.h
  src/mds/mdstypes.h
  src/messages/MMDSMap.h
  src/mon/AuthMonitor.cc
  src/mon/FSCommands.cc
  src/mon/FSCommands.h
  src/mon/MDSMonitor.cc
  src/mon/MDSMonitor.h
  src/mon/MonCap.cc
  src/mon/MonCap.h
  src/mon/Monitor.cc
  src/mon/Monitor.h
  src/mon/Session.h
Labels: cephfs, feature, mon, needs-review, wip-rishabh-testing

#36936 mgr/cephadm: remove keyring during daemon post-remove
  src/pybind/mgr/cephadm/module.py
  src/pybind/mgr/cephadm/services/cephadmservice.py
  src/pybind/mgr/cephadm/services/nfs.py
Labels: cephadm, wip-swagner-testing

#35543 qa/cephadm: Add iSCSI
  qa/suites/rados/cephadm/smoke/fixed-2.yaml
  qa/tasks/cephadm.py
  src/pybind/mgr/cephadm/tests/test_spec.py
  src/pybind/mgr/orchestrator/_interface.py
Labels: cephadm, needs-review, ready-to-merge, tests

#37114 qa/tests: running rados with -p 80 to produce better test results on …
  qa/machine_types/schedule_subset.sh
Labels: tests

#37012 librbd: track complete async operation requests
  src/librbd/ImageWatcher.cc
  src/librbd/ImageWatcher.h
Labels: bug fix, needs-qa, rbd, wip-jason-testing

#37105 mgr/zabbix: indent the output of "zabbix config-show"
  src/pybind/mgr/zabbix/module.py
Labels: bug fix, mgr

#36918 pybind/rados: use PEP484 style type annotations
  src/ceph.in
  src/pybind/ceph_argparse.py
  src/pybind/cephfs/cephfs.pyx
  src/pybind/rados/rados.pyx
  src/pybind/rados/setup.py
  src/pybind/rbd/rbd.pyx
  src/pybind/rgw/rgw.pyx
  src/test/pybind/test_rados.py
Labels: cleanup, needs-review, pybind, wip-kefu-testing

#37096 osd/PG: remove unused function.
  src/osd/PG.h
Labels: cleanup, core, needs-qa, wip-kefu-testing

#37097 common/buffer: use homebrew BUF_OFFSETOF to replace offsetof()
  src/common/buffer.cc
Labels: cleanup, common, needs-qa, wip-kefu-testing
