Repository ceph/ceph, pull requests merged in 2020-02, with the labels that each got.

#32973 mgr/insights: fix prune-health-history
  src/pybind/mgr/insights/module.py
Labels: bug fix, mgr, wip-sage-testing

#33014 mgr/dashboard: pass a list of drive_group to create_osds
  src/pybind/mgr/dashboard/services/orchestrator.py
  src/pybind/mgr/orchestrator.py
Labels: bug fix, dashboard, needs-qa, orchestrator, wip-sage-testing

#32030 mgr/volumes: clone from snapshot
  doc/cephfs/fs-volumes.rst
  qa/suites/fs/basic_functional/tasks/volumes.yaml
  qa/tasks/cephfs/test_volumes.py
  src/pybind/mgr/volumes/fs/async_cloner.py
  src/pybind/mgr/volumes/fs/async_job.py
  src/pybind/mgr/volumes/fs/exception.py
  src/pybind/mgr/volumes/fs/fs_util.py
  src/pybind/mgr/volumes/fs/operations/clone_index.py
  src/pybind/mgr/volumes/fs/operations/group.py
  src/pybind/mgr/volumes/fs/operations/index.py
  src/pybind/mgr/volumes/fs/operations/op_sm.py
  src/pybind/mgr/volumes/fs/operations/resolver.py
  src/pybind/mgr/volumes/fs/operations/subvolume.py
  src/pybind/mgr/volumes/fs/operations/template.py
  src/pybind/mgr/volumes/fs/operations/versions/__init__.py
  src/pybind/mgr/volumes/fs/operations/versions/metadata_manager.py
  src/pybind/mgr/volumes/fs/operations/versions/subvolume_base.py
  src/pybind/mgr/volumes/fs/operations/versions/subvolume_v1.py
  src/pybind/mgr/volumes/fs/purge_queue.py
  src/pybind/mgr/volumes/fs/volume.py
  src/pybind/mgr/volumes/module.py
Labels: cephfs, needs-review

#32986 qa/tasks/ceph_manager: fix movement of cot exports with cephadm
  qa/tasks/ceph_manager.py
Labels: cephadm, wip-sage-testing, wip-sage2-testing

#33016 do_cmake.sh: bail out if something goes wrong
  do_cmake.sh
Labels: build/ops, wip-kefu-testing

#32933 ceph.spec.in: Use pkgconfig() style BuildRequires for udev/libudev-devel
  ceph.spec.in
Labels: build/ops

#33038 librados: prefer reinterpret_cast over c-style cast
  src/librados/librados_c.cc
Labels: cleanup

#33031 doc: release notes for Nautilus 14.2.7
  doc/releases/general.rst
  doc/releases/nautilus.rst
  doc/releases/releases.yml
Labels: documentation

#33030 doc: release notes for Luminous v12.2.13
  doc/releases/general.rst
  doc/releases/luminous.rst
  doc/releases/releases.yml
Labels: documentation, needs-review

#32859 mgr/cephadm: refresh service state in the background
  doc/mgr/cephadm.rst
  src/pybind/mgr/cephadm/module.py
  src/pybind/mgr/cephadm/tests/fixtures.py
  src/pybind/mgr/cephadm/tests/test_cephadm.py
Labels: cephadm, needs-review, wip-sage2-testing

#32155 rgw/pubsub: send notifications from multi-delete op
  src/rgw/rgw_notify.cc
  src/rgw/rgw_notify.h
  src/rgw/rgw_op.cc
  src/test/rgw/rgw_multi/tests_ps.py
  src/test/rgw/rgw_multi/zone_ps.py
Labels: bug fix, rgw

#32531 doc: Added the crisp getting started guide to index.rst
  doc/index.rst
Labels: documentation, needs-review

#33020 osdc/Objecter: only pause if respects_full()
  src/osdc/Objecter.cc
  src/osdc/Objecter.h
Labels: bug fix, core, wip-sage-testing

#33048 cephadm: fix error handing in `command_check_host()`
  src/cephadm/cephadm
Labels: cephadm, needs-qa, wip-sage-testing

#30684 qa: radosgw_admin: validate a simple user stats output
  qa/tasks/radosgw_admin.py
Labels: rgw, tests, wip-abhi-testing

#31987 rgw: s3: don't require a body in S3 put-object-acl
  src/rgw/rgw_rest_s3.cc
Labels: bug fix, needs-qa, rgw, wip-abhi-testing

#32119 rgw: fix rgw crash when duration is invalid in sts request
  src/rgw/rgw_rest_sts.cc
  src/rgw/rgw_sts.cc
  src/rgw/rgw_sts.h
Labels: bug fix, rgw, wip-abhi-testing

#33049 qa/rgw/pubsub: fix tests to sync from master
  src/test/rgw/rgw_multi/tests.py
  src/test/rgw/rgw_multi/tests_ps.py
Labels: rgw, tests

#30033 rgw: add PublicAccessBlock set of APIs on buckets
  PendingReleaseNotes
  src/rgw/CMakeLists.txt
  src/rgw/rgw_acl.cc
  src/rgw/rgw_acl.h
  src/rgw/rgw_auth_s3.cc
  src/rgw/rgw_common.cc
  src/rgw/rgw_common.h
  src/rgw/rgw_iam_policy.cc
  src/rgw/rgw_iam_policy.h
  src/rgw/rgw_op.cc
  src/rgw/rgw_op.h
  src/rgw/rgw_public_access.cc
  src/rgw/rgw_public_access.h
  src/rgw/rgw_rest_s3.cc
  src/rgw/rgw_rest_s3.h
  src/test/rgw/test_rgw_iam_policy.cc
Labels: feature, needs-release-note, rgw, wip-abhi-testing

#33066 rpm: fix up a specfile syntax error
  ceph.spec.in
Labels: bug fix, build/ops

#33057 rbd-ggate: fix fallout from bufferlist.copy() change
  src/tools/rbd_ggate/Driver.cc
Labels: FreeBSD, bug fix

#33076 crimson: fix crimson pg coll usage error
  src/crimson/osd/pg.cc
  src/crimson/osd/pg.h
Labels: crimson

#33034 include: switch mempool.h to ceph::atomic.
  src/include/mempool.h
  src/osd/PeeringState.h
Labels: common, crimson, needs-qa, performance, wip-kefu-testing

#33003 include/buffer: add operator+=() for list::iterator
  src/common/buffer.cc
  src/compressor/snappy/SnappyCompressor.h
  src/include/buffer.h
  src/include/denc.h
  src/include/encoding.h
  src/journal/Entry.cc
  src/mds/journal.cc
  src/messages/MOSDPing.h
  src/msg/async/ProtocolV1.cc
  src/os/Transaction.cc
  src/os/bluestore/bluestore_types.cc
  src/os/filestore/FileJournal.h
  src/osd/OSDMap.h
  src/osd/PrimaryLogPG.cc
  src/osd/osd_types.cc
  src/osd/osd_types.h
  src/rgw/services/svc_notify.cc
  src/test/bufferlist.cc
  src/test/compressor/test_compression.cc
  src/test/journal/test_Entry.cc
  src/test/test_denc.cc
Labels: cleanup, common, wip-kefu-testing

#33029 mgr/telemetry: anonymizing smartctl report itself
  src/pybind/mgr/telemetry/module.py
Labels: bug fix, needs-qa, wip-kefu-testing

#33015 msg/async: open() should be called with connection locked
  src/msg/async/ProtocolV1.cc
Labels: bug fix, needs-qa, wip-kefu-testing

#33074 ceph-volume: fix has_bluestore_label() function
  src/ceph-volume/ceph_volume/util/device.py
Labels: ceph-volume

#33004 ceph_argparse: increment matchcnt on kwargs
  src/pybind/ceph_argparse.py
  src/test/pybind/test_ceph_argparse.py
Labels: bug fix, needs-qa, wip-kefu-testing

#33077 ceph-volume: fix lvm list
  src/ceph-volume/ceph_volume/devices/lvm/listing.py
Labels: ceph-volume

#33025 mon/MgrMonitor.cc: warn about missing mgr in a cluster with osds
  src/mon/MgrMonitor.cc
Labels: mgr, mon, needs-qa, wip-kefu-testing

#32982 cephadm: Read ceph version from io.ceph.version label if set
  src/cephadm/cephadm
  src/pybind/mgr/cephadm/module.py
Labels: cephadm, needs-qa, wip-kefu-testing

#33018 qa/workunits/cephadm/test_cephadm.sh: skip docker when service is disabled
  qa/workunits/cephadm/test_cephadm.sh
Labels: cephadm, needs-qa, wip-kefu-testing

#33051 mgr/telemetry: check get_metadata return val
  src/pybind/mgr/telemetry/module.py
Labels: bug fix, mgr, needs-qa, wip-sage2-testing

#32811 test/rgw: fix test_rgw_reshard_wait with -DHAVE_BOOST_CONTEXT=OFF
  src/test/rgw/test_rgw_reshard_wait.cc
Labels: rgw

#32996 rgw: MultipartObjectProcessor supports stripe size > chunk size
  qa/suites/rgw/verify/striping$/stripe-equals-chunk.yaml
  qa/suites/rgw/verify/striping$/stripe-greater-than-chunk.yaml
  src/rgw/rgw_putobj_processor.cc
Labels: bug fix, needs-qa, rgw, wip-cbodley-testing

#33026 qa/distros: add rhel/centos 8.1
  qa/distros/all/centos_8.1.yaml
  qa/distros/all/centos_8.yaml
  qa/distros/all/rhel_8.1.yaml
  qa/distros/all/rhel_8.yaml
Labels: core, needs-qa, wip-kefu-testing, wip-sage2-testing

#33085 client: fix FTBFS due to bl::iterator::advance().
  src/client/Client.cc
Labels: core, wip-sage-testing

#33039 osd/OSD: prevent down osds from immediately rejoining the culster
  src/osd/OSD.cc
Labels: bug fix, core, needs-qa, wip-sage2-testing

#33069 cephadm: use appropriate default image for non-ceph components
  src/cephadm/cephadm
  src/cephadm/tests/test_cephadm.py
Labels: cephadm, needs-qa, wip-sage-testing

#33056 common: fix clang compile errors from cython_modules
  src/pybind/cephfs/setup.py
  src/pybind/rados/setup.py
  src/pybind/rbd/setup.py
  src/pybind/rgw/setup.py
Labels: Clang, common, needs-qa, wip-sage-testing

#33055 qa/tasks/mgr/test_orchestrator_cli: support multiple DriveGroups
  qa/tasks/mgr/test_orchestrator_cli.py
Labels: bug fix, cephadm, needs-qa, orchestrator, wip-sage-testing

#32881 mgr/orchestrator: use deepcopy for copying exceptions
  qa/suites/rados/singleton-flat/cephadm_orchestrator/+
  qa/suites/rados/singleton-flat/cephadm_orchestrator/.qa
  qa/suites/rados/singleton-flat/cephadm_orchestrator/2-node-mgr.yaml
  qa/suites/rados/singleton-flat/cephadm_orchestrator/centos_latest.yaml
  qa/suites/rados/singleton-flat/cephadm_orchestrator/cephadm_orchestrator.yaml
  qa/suites/rados/singleton-flat/cephadm_orchestrator/mgr.yaml
  qa/tasks/cephadm.py
  qa/tasks/mgr/test_cephadm_orchestrator.py
  src/pybind/mgr/orchestrator.py
Labels: bug fix, needs-review, orchestrator

#33102 deleting distros
  qa/cephfs/mount/kclient/overrides/distro/.qa
  qa/cephfs/mount/kclient/overrides/distro/random/%
  qa/cephfs/mount/kclient/overrides/distro/random/.qa
  qa/cephfs/mount/kclient/overrides/distro/random/k-testing.yaml
  qa/cephfs/mount/kclient/overrides/distro/random/supported$
  qa/cephfs/mount/kclient/overrides/distro/rhel/%
  qa/cephfs/mount/kclient/overrides/distro/rhel/.qa
  qa/cephfs/mount/kclient/overrides/distro/rhel/k-distro.yaml
  qa/cephfs/mount/kclient/overrides/distro/rhel/rhel_latest.yaml
Labels: rh-qe-downstream-change, verified-in-octo-lab

#32546 mgr/dashboard: Make password policy check configurable
  doc/mgr/dashboard.rst
  qa/tasks/mgr/dashboard/test_user.py
  src/pybind/mgr/dashboard/controllers/settings.py
  src/pybind/mgr/dashboard/frontend/src/app/core/auth/user-form/user-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/core/auth/user-form/user-form.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/core/auth/user-form/user-form.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/core/auth/user-password-form/user-password-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/core/auth/user-password-form/user-password-form.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/settings.service.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/settings.service.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/services/password-policy.service.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/services/password-policy.service.ts
  src/pybind/mgr/dashboard/services/access_control.py
  src/pybind/mgr/dashboard/settings.py
  src/pybind/mgr/dashboard/tests/test_access_control.py
  src/pybind/mgr/dashboard/tests/test_settings.py
Labels: dashboard, feature, needs-review, ready-to-merge

#32888 nautilus: mgr/dashboard: Using wrong identifiers in RGW user/bucket datatables
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-bucket-list/rgw-bucket-list.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-user-list/rgw-user-list.component.html
Labels: bug fix, dashboard, nautilus-batch-1

#32304 nautilus: mgr/dashboard: iSCSI targets not available if any gateway is down (and more...)
  src/pybind/mgr/dashboard/controllers/iscsi.py
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/iscsi-target-discovery-modal/iscsi-target-discovery-modal.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/iscsi-target-list/iscsi-target-list.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/pipes/not-available.pipe.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/pipes/not-available.pipe.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/pipes/pipes.module.ts
  src/pybind/mgr/dashboard/services/iscsi_cli.py
  src/pybind/mgr/dashboard/services/iscsi_config.py
  src/pybind/mgr/dashboard/services/tcmu_service.py
  src/pybind/mgr/dashboard/tests/test_iscsi.py
Labels: dashboard, nautilus-batch-1

#31190 nautilus: mgr/dashboard: add debug mode, and accept expected exception when SSL handshaking
  qa/tasks/mgr/dashboard/test_perf_counters.py
  src/pybind/mgr/dashboard/HACKING.rst
  src/pybind/mgr/dashboard/cherrypy_backports.py
  src/pybind/mgr/dashboard/module.py
  src/pybind/mgr/dashboard/plugins/__init__.py
  src/pybind/mgr/dashboard/plugins/debug.py
  src/pybind/mgr/dashboard/plugins/interfaces.py
  src/pybind/mgr/dashboard/plugins/plugin.py
  src/pybind/mgr/dashboard/tests/__init__.py
  src/pybind/mgr/dashboard/tests/test_plugin_debug.py
  src/pybind/mgr/dashboard/tests/test_rgw_client.py
  src/pybind/mgr/dashboard/tests/test_tools.py
  src/pybind/mgr/mgr_module.py
Labels: dashboard, nautilus-batch-1, needs-qa, wip-laura-testing

#31792 nautilus: mgr/dashboard: Dashboard can't handle self-signed cert on Grafana API
  doc/mgr/dashboard.rst
  src/pybind/mgr/dashboard/grafana.py
  src/pybind/mgr/dashboard/settings.py
  src/pybind/mgr/dashboard/tests/test_grafana.py
Labels: bug fix, dashboard, nautilus-batch-1

#31808 nautilus: mgr/dashboard: check embedded Grafana dashboard references
  src/pybind/mgr/dashboard/ci/check_grafana_uids.py
  src/pybind/mgr/dashboard/run-tox.sh
  src/pybind/mgr/dashboard/tox.ini
Labels: dashboard, nautilus-batch-1

#32827 nautilus: mgr/dashboard: check if user has config-opt permissions
  src/pybind/mgr/dashboard/frontend/src/app/core/navigation/navigation/navigation.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/core/navigation/navigation/navigation.component.ts
Labels: dashboard, nautilus-batch-1

#32930 nautilus: mgr/dashboard: disable 'Add Capability' button in rgw user edi…
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/models/rgw-user-capabilities.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-user-capability-modal/rgw-user-capability-modal.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-user-form/rgw-user-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-user-form/rgw-user-form.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-user-form/rgw-user-form.component.ts
Labels: bug fix, dashboard, nautilus-batch-1, needs-qa, wip-laura-testing

#33059 make-dist: Bump Node.js to v10.18.1
  make-dist
  src/pybind/mgr/dashboard/frontend/package-lock.json
  src/pybind/mgr/dashboard/frontend/package.json
Labels: build/ops, dashboard

#33071 mgr/cephadm: remove item from cache when removing
  src/pybind/mgr/cephadm/module.py
Labels: cephadm, wip-sage-testing

#33093 build-integration-branch: don't fail on existing branch
  src/script/build-integration-branch
Labels: tools

#33110 qa/distros: rhel and centos: whitelist cephadm logrotate selinux denial
  qa/distros/all/centos_7.6.yaml
  qa/distros/all/centos_8.0.yaml
  qa/distros/all/centos_8.1.yaml
  qa/distros/all/rhel_7.6.yaml
  qa/distros/all/rhel_7.7.yaml
  qa/distros/all/rhel_8.0.yaml
  qa/distros/all/rhel_8.1.yaml
Labels: cephadm, wip-sage4-testing

#33089 cephadm: re-introduce the `podman logs` command
  src/cephadm/cephadm
Labels: cephadm, needs-review, wip-sage4-testing

#33109 cephadm: fix inspect-image
  src/cephadm/cephadm
Labels: cephadm, wip-sage4-testing

#33114 cephadm: fix name argument parsing during image check for non-ceph components
  src/cephadm/cephadm
Labels: cephadm, needs-qa

#32432 mds: Reorganize structure members in snap header
  src/mds/snap.h
Labels: cephfs, cleanup, needs-qa, wip-pdonnell-testing

#32985 mgr/progress: Add integration to pybind/mgr/tox.ini
  src/pybind/mgr/progress/__init__.py
  src/pybind/mgr/progress/module.py
  src/pybind/mgr/progress/test_progress.py
  src/pybind/mgr/tox.ini
Labels: mgr

#33112 ceph-volume: fix regression and improve output in lvm list
  src/ceph-volume/ceph_volume/api/lvm.py
  src/ceph-volume/ceph_volume/devices/lvm/listing.py
  src/ceph-volume/ceph_volume/tests/devices/lvm/test_listing.py
Labels: bug fix, ceph-volume

#33075 examples/librados: fix bufferlist::copy() in hello_world.cc.
  examples/librados/hello_world.cc
Labels: core, needs-qa, wip-sage2-testing

#31978 ceph-volume/batch: fail on filtered devices when non-interactive
  src/ceph-volume/ceph_volume/devices/lvm/batch.py
  src/ceph-volume/ceph_volume/tests/devices/lvm/test_batch.py
Labels: bug fix, ceph-volume

#32634 ceph-volume: finer grained availability notion in inventory.
  src/ceph-volume/ceph_volume/tests/conftest.py
  src/ceph-volume/ceph_volume/tests/util/test_device.py
  src/ceph-volume/ceph_volume/util/device.py
Labels: ceph-volume, feature

#32559 mimic: ceph-volume/test: patch VolumeGroups
  src/ceph-volume/ceph_volume/tests/devices/lvm/strategies/test_bluestore.py
Labels: ceph-volume

#32557 mimic: ceph-volume: minor clean-up of "simple scan" subcommand help
  src/ceph-volume/ceph_volume/devices/simple/scan.py
Labels: ceph-volume

#33042 cephadm: bootstrap: warn on fqdn hostname
  src/cephadm/cephadm
Labels: cephadm

#32528 mimic: ceph-volume: reject disks smaller then 5GB in inventory
  src/ceph-volume/ceph_volume/tests/util/test_device.py
  src/ceph-volume/ceph_volume/util/device.py
Labels: ceph-volume

#33128 coding-style: update a link and fix typos
  CodingStyle
Labels: documentation

#33111 qa/suites/rados/cephadm[-smoke]: test podman on ubuntu 18.04
  qa/suites/rados/cephadm-smoke/distro/ubuntu_18.04_podman.yaml
  qa/suites/rados/cephadm/distro/ubuntu_18.04_podman.yaml
Labels: cephadm, wip-sage4-testing

#33086 ceph-volume: skip osd creation when already done
  src/ceph-volume/ceph_volume/devices/lvm/prepare.py
  src/ceph-volume/ceph_volume/tests/devices/lvm/test_prepare.py
Labels: ceph-volume

#33124 mimic: ceph-volume: make get_devices fs location independent
  src/ceph-volume/ceph_volume/tests/conftest.py
  src/ceph-volume/ceph_volume/tests/functional/batch/tox.ini
  src/ceph-volume/ceph_volume/tests/functional/lvm/tox.ini
  src/ceph-volume/ceph_volume/tests/functional/simple/tox.ini
  src/ceph-volume/ceph_volume/tests/util/test_disk.py
  src/ceph-volume/ceph_volume/util/disk.py
  src/ceph-volume/tox.ini
Labels: ceph-volume

#33119 mgr/cephadm: misc fixes
  src/pybind/mgr/cephadm/module.py
Labels: cephadm, needs-qa, wip-sage-testing

#33070 mgr/telemetry: catch exception during requests.put
  src/pybind/mgr/telemetry/module.py
Labels: bug fix, core, mgr, needs-qa, wip-sage2-testing, wip-sage4-testing

#33080 qa: specify random distros in multimds
  qa/suites/fs/verify/validater/valgrind.yaml
  qa/suites/multimds/basic/0-supported-random-distro$
  qa/suites/multimds/thrash/0-supported-random-distro$
  qa/suites/multimds/verify/centos_latest.yaml
Labels: cephfs, needs-review, wip-pdonnell-testing

#32716 nautilus: osd: Diagnostic logging for upmap cleaning
  src/osd/OSDMap.cc
Labels: core, nautilus-batch-1, needs-qa, wip-yuri-testing

#32773 nautilus: osd: Use physical ratio for nearfull (doesn't include backfill resserve)
  src/osd/OSD.cc
Labels: core, nautilus-batch-1, needs-qa, wip-yuri2-testing

#30689 nautilus: core: osd/OSDMap: health alert for non-power-of-two pg_num
  PendingReleaseNotes
  doc/rados/operations/health-checks.rst
  qa/tasks/ceph.conf.template
  src/common/options.cc
  src/mon/OSDMonitor.cc
  src/osd/OSDMap.cc
  src/osd/OSDMap.h
  src/tools/osdmaptool.cc
Labels: core, nautilus-batch-1, needs-qa, wip-yuri-testing

#33061 pybind: refactor monkey_with_compiler()
  src/pybind/cephfs/setup.py
  src/pybind/rados/setup.py
  src/pybind/rbd/setup.py
  src/pybind/rgw/setup.py
Labels: cleanup, needs-qa, wip-kefu-testing

#33037 osd/OSD: choose more heartbeat peers from different subtrees
  src/osd/OSD.cc
Labels: bug fix, core, needs-qa, wip-sage2-testing

#33094 mgr/telemetry: split entity_name only once (handle ids with dots)
  src/pybind/mgr/telemetry/module.py
Labels: bug fix, core, needs-qa, wip-sage2-testing

#33068 qa/rgw/pubsub: verify incremental sync is used in pubsub
  src/test/rgw/rgw_multi/tests_ps.py
Labels: rgw, tests

#33101 pybind/ceph_argparse: avoid int overflow
  src/pybind/ceph_argparse.py
Labels: core, needs-qa, pybind, wip-kefu-testing

#33099 ceph.in: print decoded output in interactive mode
  src/ceph.in
Labels: bug fix, needs-qa, python3, wip-kefu-testing

#32934 include, common: make ceph::bufferlist 32 bytes long on x86
  src/common/buffer.cc
  src/common/buffer_seastar.cc
  src/include/buffer.h
  src/include/buffer_raw.h
  src/kv/RocksDBStore.cc
  src/msg/Message.h
  src/msg/async/PosixStack.cc
  src/msg/async/ProtocolV1.cc
  src/msg/async/rdma/RDMAConnectedSocketImpl.cc
  src/os/filestore/FileJournal.cc
  src/os/filestore/FileJournal.h
  src/test/bufferlist.cc
Labels: cleanup, common, needs-qa, performance, wip-kefu-testing

#32928 rados bench: fix the delayed checking of completed ops
  src/common/obj_bencher.cc
  src/tools/rados/rados.cc
Labels: bug fix, core, needs-qa, wip-kefu-testing

#33134 qa/workunits/cephadm/test_repos: don't try to use the refspec
  qa/workunits/cephadm/test_repos.sh
Labels: cephadm, wip-sage-testing

#33136 cephadm: fix ceph version probe
  qa/workunits/cephadm/test_cephadm.sh
  src/cephadm/cephadm
Labels: bug fix, cephadm, wip-sage-testing

#32867 mimic: ceph-volume: check if we run in an selinux environment, now also in py2
  src/ceph-volume/ceph_volume/tests/util/test_system.py
  src/ceph-volume/ceph_volume/util/system.py
Labels: bug fix, ceph-volume, mimic-batch-1, needs-qa

#32866 mimic: ceph-volume: check if we run in an selinux environment
  src/ceph-volume/ceph_volume/tests/util/test_system.py
  src/ceph-volume/ceph_volume/util/system.py
Labels: bug fix, ceph-volume, mimic-batch-1, needs-qa

#33035 mgr/pg_autoscaler: treat target ratios as weights
  PendingReleaseNotes
  doc/rados/operations/health-checks.rst
  doc/rados/operations/placement-groups.rst
  qa/workunits/mon/pg_autoscaler.sh
  src/pybind/mgr/pg_autoscaler/__init__.py
  src/pybind/mgr/pg_autoscaler/module.py
  src/pybind/mgr/pg_autoscaler/tests/test_autoscaler.py
  src/pybind/mgr/requirements.txt
  src/pybind/mgr/tox.ini
Labels: mgr

#33137 mon/PGMap: fix summary display of >32bit pg states
  src/mon/PGMap.cc
Labels: bug fix, core, needs-qa, wip-sage2-testing

#33185 pybind/mgr: bump six to 1.14
  src/pybind/mgr/dashboard/constraints.txt
  src/pybind/mgr/dashboard/tox.ini
Labels: bug fix, dashboard

#33162 cephadm: KillMode=none in unit file
  src/cephadm/cephadm
Labels: bug fix, cephadm, wip-sage-testing

#33131 mgr/orch: 'ceph orchestrator ...' -> 'ceph orch ...'
  doc/bootstrap.rst
  doc/cephfs/nfs.rst
  doc/index.rst
  doc/mgr/cephadm.rst
  doc/mgr/orchestrator_cli.rst
  qa/tasks/cephadm.py
  qa/tasks/mgr/dashboard/test_host.py
  qa/tasks/mgr/dashboard/test_orchestrator.py
  qa/tasks/mgr/test_orchestrator_cli.py
  qa/workunits/cephadm/test_cephadm.sh
  src/cephadm/cephadm
  src/pybind/mgr/cephadm/HACKING.rst
  src/pybind/mgr/orchestrator.py
  src/pybind/mgr/orchestrator_cli/module.py
  src/pybind/mgr/rook/module.py
  src/pybind/mgr/test_orchestrator/README.md
  src/pybind/mgr/test_orchestrator/module.py
  test_cephadm.sh
Labels: orchestrator, wip-sage-testing

#33181 qa/workunits/cephadm/test_cephadm: fix typo
  qa/workunits/cephadm/test_cephadm.sh
Labels: cephadm, wip-sage-testing

#32774 nautilus: test: Fix wait_for_state() to wait for a PG to get into a state
  qa/standalone/osd/osd-backfill-space.sh
  qa/standalone/osd/osd-recovery-space.sh
Labels: nautilus-batch-1, needs-qa, tests, wip-yuri2-testing

#32965 doc: quick-rbd.rst de-duplicate
  doc/start/quick-rbd.rst
Labels: documentation, rbd

#32901 nautilus: common/util: use ifstream to read from /proc files
  src/common/util.cc
  src/tools/cephfs/Dumper.cc
Labels: common, nautilus-batch-1, needs-qa, wip-yuri2-testing

#32997 nautilus: mon/MgrMonitor.cc: add always_on_modules to the output of "ceph mgr module ls"
  src/mon/MgrMonitor.cc
Labels: mgr, nautilus-batch-1, needs-qa, wip-yuri2-testing

#33043 doc/releases: octopus draft notes
  doc/bootstrap.rst
  doc/mgr/cephadm.rst
  doc/releases/general.rst
  doc/releases/index.rst
  doc/releases/octopus.rst
  doc/releases/releases.yml
Labels: documentation

#32998 nautilus: common/options: bluestore 4k min_alloc_size for SSD
  src/common/options.cc
Labels: bluestore, nautilus-batch-1, needs-qa, wip-yuri2-testing

#33184 qa/suites/rados/multimon/tasks/mon_clock_with_skews: disable ntpd etc
  qa/suites/rados/multimon/tasks/mon_clock_with_skews.yaml
Labels: core, wip-sage2-testing

#33179 mgr/orchestrator: Use `pickle` to pass exceptions across sub-interpreters
  src/pybind/mgr/orchestrator.py
Labels: needs-qa, orchestrator, wip-sage2-testing

#33186 qa/tests: removed all runs for luminous - EOL
  qa/crontab/teuthology-cronjobs
Labels: tests

#33190 cephadm: report image name for stopped daemons
  src/cephadm/cephadm
Labels: cephadm, wip-sage-testing

#33177 pybind: customize compiler before checking cflags
  src/pybind/cephfs/setup.py
  src/pybind/rados/setup.py
  src/pybind/rbd/setup.py
  src/pybind/rgw/setup.py
Labels: Clang, build/ops, needs-qa, wip-kefu-testing

#33172 ceph-monstore-tool: correct the key for storing mgr_command_descs
  doc/rados/troubleshooting/troubleshooting-mon.rst
  src/tools/ceph_monstore_tool.cc
Labels: bug fix, documentation, needs-qa, tools, wip-kefu-testing

#32556 nautilus: ceph-volume: minor clean-up of "simple scan" subcommand help
  src/ceph-volume/ceph_volume/devices/simple/scan.py
Labels: ceph-volume

#32558 nautilus: ceph-volume/test: patch VolumeGroups
  src/ceph-volume/ceph_volume/tests/devices/lvm/strategies/test_bluestore.py
Labels: ceph-volume

#32861 mimic: ceph-volume: util: look for executable in $PATH
  src/ceph-volume/ceph_volume/tests/util/test_system.py
  src/ceph-volume/ceph_volume/util/system.py
Labels: bug fix, ceph-volume

#32875 mimic: ceph-volume: use correct extents if using db-devices and >1 osds_per_device
  src/ceph-volume/ceph_volume/devices/lvm/strategies/bluestore.py
Labels: bug fix, ceph-volume

#31616 nautilus: ceph-volume: assume msgrV1 for all branches containing mimic
  src/ceph-volume/ceph_volume/tests/functional/tests/conftest.py
Labels: bug fix, ceph-volume

#32860 nautilus: ceph-volume: util: look for executable in $PATH
  src/ceph-volume/ceph_volume/tests/util/test_system.py
  src/ceph-volume/ceph_volume/util/system.py
Labels: ceph-volume

#32864 nautilus: ceph-volume/lvm/activate.py: clarify error message: fsid refers to osd_fsid
  src/ceph-volume/ceph_volume/devices/lvm/activate.py
Labels: ceph-volume

#32874 nautilus: ceph-volume: use correct extents if using db-devices and >1 osds_per_device
  src/ceph-volume/ceph_volume/devices/lvm/strategies/bluestore.py
Labels: ceph-volume

#32873 nautilus: ceph-volume: fix the integer overflow
  src/ceph-volume/ceph_volume/systemd/main.py
Labels: ceph-volume

#32877 nautilus: ceph-volume: Dereference symlink in lvm list
  src/ceph-volume/ceph_volume/devices/lvm/listing.py
Labels: ceph-volume

#32870 nautilus: ceph-volume: import mock.mock instead of unittest.mock (py2)
  src/ceph-volume/ceph_volume/tests/api/test_lvm.py
Labels: ceph-volume

#33199 crimson/common: more friendly to seastar::do_with()
  src/crimson/common/errorator.h
Labels: crimson

#33200 nautilus: ceph-volume: make get_devices fs location independent
  src/ceph-volume/ceph_volume/tests/conftest.py
  src/ceph-volume/ceph_volume/tests/functional/batch/tox.ini
  src/ceph-volume/ceph_volume/tests/functional/lvm/tox.ini
  src/ceph-volume/ceph_volume/tests/functional/simple/tox.ini
  src/ceph-volume/ceph_volume/tests/util/test_disk.py
  src/ceph-volume/ceph_volume/util/disk.py
Labels: ceph-volume

#33202 nautilus: ceph-volume/batch: fail on filtered devices when non-interactive
  src/ceph-volume/ceph_volume/devices/lvm/batch.py
  src/ceph-volume/ceph_volume/tests/devices/lvm/test_batch.py
Labels: ceph-volume

#32865 mimic: ceph-volume/lvm/activate.py: clarify error message: fsid refers to osd_fsid
  src/ceph-volume/ceph_volume/devices/lvm/activate.py
Labels: bug fix, ceph-volume

#33054 rgw: use new Stopped state for special handling of 'bucket sync disable'
  src/rgw/rgw_bucket.cc
  src/rgw/rgw_data_sync.cc
  src/rgw/rgw_data_sync.h
  src/rgw/rgw_json_enc.cc
Labels: bug fix, rgw

#32868 nautilus: ceph-volume: allow raw block devices everywhere
  doc/ceph-volume/lvm/prepare.rst
  src/ceph-volume/ceph_volume/api/lvm.py
  src/ceph-volume/ceph_volume/devices/lvm/activate.py
  src/ceph-volume/ceph_volume/devices/lvm/create.py
  src/ceph-volume/ceph_volume/devices/lvm/prepare.py
  src/ceph-volume/ceph_volume/devices/lvm/strategies/bluestore.py
  src/ceph-volume/ceph_volume/devices/lvm/strategies/filestore.py
  src/ceph-volume/ceph_volume/tests/api/test_lvm.py
  src/ceph-volume/ceph_volume/tests/devices/lvm/test_prepare.py
Labels: ceph-volume

#33187 qa/workunits/rbd: override CEPH_ARGS when initializing the site name
  qa/workunits/rbd/rbd_mirror_helpers.sh
Labels: rbd, tests

#33188 qa/workunits/cephtool/test.sh: delete test_erasure pool
  qa/workunits/cephtool/test.sh
Labels: bug fix, core, tests, wip-sage2-testing

#32871 mimic: ceph-volume: import mock.mock instead of unittest.mock (py2)
  src/ceph-volume/ceph_volume/tests/api/test_lvm.py
Labels: bug fix, ceph-volume

#30843 nautilus: mds: reject sessionless messages
  src/common/options.cc
  src/mds/Locker.cc
  src/mds/MDSRank.cc
  src/mds/Server.cc
  src/mds/Server.h
Labels: cephfs, nautilus-batch-1, needs-qa, wip-yuri3-testing

#32600 nautilus: MDSMonitor: warn if a new file system is being created with an EC default data pool
  qa/suites/fs/basic_functional/tasks/admin.yaml
  qa/suites/kcephfs/recovery/tasks/config-commands.yaml
  qa/tasks/cephfs/filesystem.py
  qa/tasks/cephfs/test_admin.py
  qa/tasks/cephfs/test_config_commands.py
  src/mon/FSCommands.cc
  src/mon/FSCommands.h
Labels: cephfs, nautilus-batch-1, needs-qa, wip-yuri3-testing

#32602 nautilus: mds: reject forward scrubs when cluster has multiple active MDS (more than one rank)
  src/mds/MDSRank.cc
  src/mds/ScrubStack.h
Labels: cephfs, nautilus-batch-1, needs-qa, wip-yuri3-testing

#32909 nautilus: mds: fix revoking caps after after stale->resume circle
  src/client/Client.cc
  src/mds/Locker.cc
Labels: cephfs, nautilus-batch-1, needs-qa, wip-yuri3-testing

#32913 nautilus: cephfs-journal-tool: fix crash and usage
  src/tools/cephfs/JournalTool.cc
Labels: cephfs, nautilus-batch-1, needs-qa, wip-yuri3-testing

#32914 nautilus: mds: note client features when rejecting client
  src/mds/Server.cc
  src/mds/mdstypes.cc
Labels: cephfs, nautilus-batch-1, needs-qa, wip-yuri3-testing

#32915 nautilus: client: disallow changing fuse_default_permissions option at runtime
  src/client/Client.cc
  src/client/Client.h
  src/client/fuse_ll.cc
  src/common/options.cc
Labels: cephfs, nautilus-batch-1, needs-qa, wip-yuri3-testing

#33209 nautilus: ceph-volume: lvm deactivate command
  src/ceph-volume/ceph_volume/api/lvm.py
  src/ceph-volume/ceph_volume/devices/lvm/deactivate.py
  src/ceph-volume/ceph_volume/devices/lvm/main.py
  src/ceph-volume/ceph_volume/util/system.py
Labels: ceph-volume, feature

#32912 nautilus: mon: print FSMap regardless of file system count
  qa/tasks/cephfs/cephfs_test_case.py
  src/mon/MDSMonitor.h
  src/mon/Monitor.cc
Labels: cephfs, nautilus-batch-1, needs-qa, wip-yuri3-testing

#33139 mgr/cephadm: catch excpetions in serve() thread
  src/pybind/mgr/cephadm/module.py
Labels: cephadm, wip-sage-testing

#33217 nautilus: ceph-volume: add methods to pass filters to pvs, vgs and lvs commands
  src/ceph-volume/ceph_volume/api/lvm.py
Labels: ceph-volume

#32863 nautilus: ceph-volume: lvm/deactivate: add unit tests, remove --all
  src/ceph-volume/ceph_volume/devices/lvm/deactivate.py
  src/ceph-volume/ceph_volume/tests/devices/lvm/test_deactivate.py
Labels: ceph-volume

#33220 qa/tests: added client-upgrade-nautilus suite to be used on octopus …
  qa/suites/upgrade/client-upgrade-nautilus/.qa
  qa/suites/upgrade/client-upgrade-nautilus/nautilus-client-x/.qa
  qa/suites/upgrade/client-upgrade-nautilus/nautilus-client-x/basic/%
  qa/suites/upgrade/client-upgrade-nautilus/nautilus-client-x/basic/.qa
  qa/suites/upgrade/client-upgrade-nautilus/nautilus-client-x/basic/0-cluster/+
  qa/suites/upgrade/client-upgrade-nautilus/nautilus-client-x/basic/0-cluster/.qa
  qa/suites/upgrade/client-upgrade-nautilus/nautilus-client-x/basic/0-cluster/openstack.yaml
  qa/suites/upgrade/client-upgrade-nautilus/nautilus-client-x/basic/0-cluster/start.yaml
  qa/suites/upgrade/client-upgrade-nautilus/nautilus-client-x/basic/1-install/.qa
  qa/suites/upgrade/client-upgrade-nautilus/nautilus-client-x/basic/1-install/nautilus-client-x.yaml
  qa/suites/upgrade/client-upgrade-nautilus/nautilus-client-x/basic/2-workload/.qa
  qa/suites/upgrade/client-upgrade-nautilus/nautilus-client-x/basic/2-workload/devstack-tempest-gate.yaml
  qa/suites/upgrade/client-upgrade-nautilus/nautilus-client-x/basic/supported/.qa
  qa/suites/upgrade/client-upgrade-nautilus/nautilus-client-x/basic/supported/centos_7.6.yaml
  qa/suites/upgrade/client-upgrade-nautilus/nautilus-client-x/basic/supported/rhel_7.6.yaml
  qa/suites/upgrade/client-upgrade-nautilus/nautilus-client-x/basic/supported/ubuntu_16.04.yaml
  qa/suites/upgrade/client-upgrade-nautilus/nautilus-client-x/basic/supported/ubuntu_18.04.yaml
  qa/suites/upgrade/client-upgrade-nautilus/nautilus-client-x/rbd/%
  qa/suites/upgrade/client-upgrade-nautilus/nautilus-client-x/rbd/.qa
  qa/suites/upgrade/client-upgrade-nautilus/nautilus-client-x/rbd/0-cluster/+
  qa/suites/upgrade/client-upgrade-nautilus/nautilus-client-x/rbd/0-cluster/.qa
  qa/suites/upgrade/client-upgrade-nautilus/nautilus-client-x/rbd/0-cluster/openstack.yaml
  qa/suites/upgrade/client-upgrade-nautilus/nautilus-client-x/rbd/0-cluster/start.yaml
  qa/suites/upgrade/client-upgrade-nautilus/nautilus-client-x/rbd/1-install/.qa
  qa/suites/upgrade/client-upgrade-nautilus/nautilus-client-x/rbd/1-install/nautilus-client-x.yaml
  qa/suites/upgrade/client-upgrade-nautilus/nautilus-client-x/rbd/2-features/.qa
  qa/suites/upgrade/client-upgrade-nautilus/nautilus-client-x/rbd/2-features/defaults.yaml
  qa/suites/upgrade/client-upgrade-nautilus/nautilus-client-x/rbd/2-features/layering.yaml
  qa/suites/upgrade/client-upgrade-nautilus/nautilus-client-x/rbd/3-workload/.qa
  qa/suites/upgrade/client-upgrade-nautilus/nautilus-client-x/rbd/3-workload/rbd_notification_tests.yaml
  qa/suites/upgrade/client-upgrade-nautilus/nautilus-client-x/rbd/supported/.qa
  qa/suites/upgrade/client-upgrade-nautilus/nautilus-client-x/rbd/supported/centos_7.6.yaml
  qa/suites/upgrade/client-upgrade-nautilus/nautilus-client-x/rbd/supported/rhel_7.6.yaml
  qa/suites/upgrade/client-upgrade-nautilus/nautilus-client-x/rbd/supported/ubuntu_16.04.yaml
  qa/suites/upgrade/client-upgrade-nautilus/nautilus-client-x/rbd/supported/ubuntu_18.04.yaml
Labels: needs-qa, tests

#33191 cephadm: shell: allow -e
  qa/workunits/cephadm/test_cephadm.sh
  src/cephadm/cephadm
Labels: cephadm, wip-sage-testing

#33211 qa/tasks/mgr/dashboard/test_orchestrator: support addr attribute in inventory
  qa/tasks/mgr/dashboard/test_orchestrator.py
Labels: bug fix, needs-qa, orchestrator, wip-sage-testing

#33203 msg/async/dpdk: Fix build when DPDK enabled
  src/msg/async/dpdk/DPDKStack.h
Labels: messenger

#33224 src: polish the wording
  src/msg/async/dpdk/DPDK.cc
  src/test/cls_lua/test_cls_lua.cc
Labels: cleanup

#33221 ceph.spec: Recommend (but do not require) podman
  ceph.spec.in
  debian/control
Labels: build/ops, cephadm, needs-qa, wip-kefu-testing, wip-sage-testing

#33233 crimson: fix build with GCC-10
  src/crimson/CMakeLists.txt
  src/crimson/common/config_proxy.h
Labels: crimson

#33116 nautilus: pybind/mgr/volumes: idle connection drop is not working
  qa/tasks/cephfs/cephfs_test_case.py
  qa/tasks/cephfs/test_volumes.py
  src/pybind/mgr/volumes/fs/volume.py
Labels: cephfs, nautilus-batch-1, needs-qa

#33231 nautilus: ceph-volume: add sizing arguments to prepare
  src/ceph-volume/ceph_volume/api/lvm.py
  src/ceph-volume/ceph_volume/devices/lvm/common.py
  src/ceph-volume/ceph_volume/devices/lvm/prepare.py
  src/ceph-volume/ceph_volume/devices/lvm/strategies/bluestore.py
  src/ceph-volume/ceph_volume/devices/lvm/strategies/filestore.py
  src/ceph-volume/ceph_volume/tests/api/test_lvm.py
  src/ceph-volume/ceph_volume/tests/devices/lvm/strategies/test_bluestore.py
  src/ceph-volume/ceph_volume/tests/devices/lvm/strategies/test_filestore.py
  src/ceph-volume/ceph_volume/tests/devices/lvm/test_prepare.py
  src/ceph-volume/ceph_volume/tests/util/test_disk.py
  src/ceph-volume/ceph_volume/util/disk.py
Labels: ceph-volume

#33232 nautilus: ceph-volume: batch bluestore fix create_lvs call
  src/ceph-volume/ceph_volume/api/lvm.py
Labels: ceph-volume
