Repository ceph/ceph, pull requests merged in 2020-06, with the labels that each got.

#35332 librbd: make rbd_read_from_replica_policy actually work
  src/librbd/ImageCtx.cc
  src/librbd/ImageCtx.h
Labels: bug fix, rbd

#35336 pybind/*/setup.py: fix clang detection with ccache
  src/pybind/cephfs/setup.py
  src/pybind/rados/setup.py
  src/pybind/rbd/setup.py
  src/pybind/rgw/setup.py
Labels: Clang, build/ops, crimson, needs-qa

#35334 librbd/rwl: remove extra ';' after defining function
  src/librbd/cache/rwl/LogEntry.cc
  src/librbd/cache/rwl/LogMap.cc
  src/librbd/cache/rwl/LogOperation.cc
  src/librbd/cache/rwl/Request.cc
  src/librbd/cache/rwl/Types.cc
Labels: cleanup, needs-qa, rbd

#34672 mgr/volumes: Integrate cephadm with volume nfs interface
  doc/cephfs/fs-nfs-exports.rst
  qa/suites/rados/cephadm/workunits/task/test_orch_cli.yaml
  qa/tasks/cephfs/test_nfs.py
  src/pybind/mgr/volumes/fs/nfs.py
  src/pybind/mgr/volumes/module.py
  src/vstart.sh
Labels: cephadm, cephfs, needs-review, wip-swagner-testing

#35117 nautilus: bash_completion: Do not auto complete obsolete and hidden cmds
  src/bash_completion/ceph
  src/ceph.in
Labels: cephfs, nautilus-batch-1, needs-qa, wip-yuri3-testing

#35118 nautilus: client: only set MClientCaps::FLAG_SYNC when flushing dirty auth caps
  src/client/Client.cc
Labels: cephfs, nautilus-batch-1, needs-qa, wip-yuri3-testing

#35149 nautilus: mds: Handle blacklisted error in purge queue
  src/mds/PurgeQueue.cc
  src/osdc/Filer.cc
  src/osdc/Filer.h
Labels: cephfs, nautilus-batch-1, needs-qa, wip-yuri3-testing

#35163 nautilus: qa/suites/fs/upgrade: disable mon_pg_warn_min_per_osd
  qa/suites/fs/upgrade/featureful_client/old_client/tasks/2-upgrade.yaml
  qa/suites/fs/upgrade/featureful_client/upgraded_client/tasks/2-upgrade.yaml
  qa/suites/fs/upgrade/snaps/tasks/2-upgrade.yaml
Labels: cephfs, nautilus-batch-1, needs-qa, tests, wip-yuri3-testing

#35185 nautilus: cephfs/tools: add accounted_rstat/rstat when building file dentry
  qa/tasks/cephfs/test_data_scan.py
  src/mds/MDCache.cc
Labels: cephfs, nautilus-batch-1, needs-qa, tools, wip-yuri3-testing

#35199 nautilus: mds: don't shallow copy when decoding xattr map
  src/mds/CInode.cc
  src/mds/CInode.h
  src/mds/Locker.cc
  src/mds/Server.cc
  src/mds/journal.cc
  src/mds/mdstypes.h
Labels: cephfs, nautilus-batch-1, needs-qa, wip-yuri3-testing

#35250 octopus: qa: use py3 compat list from range
  qa/tasks/mds_thrash.py
Labels: cephfs, needs-qa, octopus-batch-1, tests, wip-yuri6-testing

#35251 octopus: cephfs: allow pool names with hyphen and period
  doc/cephfs/administration.rst
  doc/cephfs/createfs.rst
  doc/cephfs/file-layouts.rst
  qa/tasks/cephfs/test_admin.py
  src/mds/mdstypes.h
Labels: cephfs, needs-qa, octopus-batch-1, wip-yuri6-testing

#35252 octopus: mds: take xlock in the order requests start locking
  src/mds/Locker.cc
Labels: cephfs, needs-qa, octopus-batch-1, wip-yuri6-testing

#35253 octopus: mds: preserve ESlaveUpdate logevent until receiving OP_FINISH
  src/mds/LogSegment.h
  src/mds/MDCache.cc
  src/mds/MDCache.h
  src/mds/Mutation.h
  src/mds/Server.cc
  src/mds/journal.cc
Labels: cephfs, needs-qa, octopus-batch-1, wip-yuri6-testing

#34538 octopus: build/ops: address SElinux denials observed in rgw/multisite test run
  selinux/ceph.te
Labels: build/ops, needs-qa, octopus-batch-1, wip-yuri8-testing

#34991 octopus: rgw: add "rgw-orphan-list" tool and "radosgw-admin bucket radoslist ..."
  PendingReleaseNotes
  ceph.spec.in
  debian/radosgw.install
  doc/man/8/CMakeLists.txt
  doc/man/8/ceph-diff-sorted.rst
  doc/man/8/radosgw-admin.rst
  doc/man/8/rgw-orphan-list.rst
  doc/man_index.rst
  doc/radosgw/index.rst
  doc/radosgw/orphans.rst
  qa/suites/rgw/tools/+
  qa/suites/rgw/tools/.qa
  qa/suites/rgw/tools/centos_latest.yaml
  qa/suites/rgw/tools/cluster.yaml
  qa/suites/rgw/tools/tasks.yaml
  qa/tasks/rgw.py
  qa/workunits/rgw/test_rgw_orphan_list.sh
  src/rgw/CMakeLists.txt
  src/rgw/rgw-orphan-list
  src/rgw/rgw_admin.cc
  src/rgw/rgw_obj_manifest.h
  src/rgw/rgw_op.h
  src/rgw/rgw_orphan.cc
  src/rgw/rgw_orphan.h
  src/rgw/rgw_rados.cc
  src/rgw/services/svc_tier_rados.h
  src/test/cli/radosgw-admin/help.t
  src/test/rgw/CMakeLists.txt
  src/test/rgw/test-ceph-diff-sorted.sh
  src/tools/CMakeLists.txt
  src/tools/ceph-diff-sorted.cc
Labels: feature, needs-qa, octopus-batch-1, rgw, wip-yuri8-testing

#35254 octopus: rgw/notifications: version id was not sent in versioned buckets
  src/rgw/rgw_op.cc
  src/test/rgw/rgw_multi/tests_ps.py
Labels: needs-qa, octopus-batch-1, rgw, wip-yuri8-testing

#35255 octopus: librbd: copy API should not inherit v1 image format by default
  src/librbd/internal.cc
Labels: needs-qa, octopus-batch-1, rbd, wip-yuri8-testing

#35319 nautilus: qa/suites/upgrade/nautilus-p2: disable more min pg per osd warnings
  qa/suites/upgrade/nautilus-p2p/nautilus-p2p-parallel/point-to-point-upgrade.yaml
  qa/suites/upgrade/nautilus-p2p/nautilus-p2p-stress-split/0-cluster/start.yaml
Labels: bug fix, needs-qa, tests

#35162 nautilus: qa/keystone: use bindep to discover keystone's dependencies
  qa/tasks/keystone.py
Labels: bug fix, nautilus-batch-1, rgw, tests, wip-yuri5-testing

#35181 nautilus: rgw/notifications: version id was not sent in versioned buckets
  src/rgw/rgw_op.cc
  src/test/rgw/rgw_multi/tests_ps.py
Labels: nautilus-batch-1, rgw, wip-yuri5-testing

#35305 nautilus: qa/rgw: s3a-hadoop task defaults to maven-version 3.6.3
  qa/tasks/s3a_hadoop.py
Labels: nautilus-batch-1, needs-qa, rgw, tests, wip-yuri5-testing

#35341 scripts/run-cbt.sh: correct script option usage
  src/script/run-cbt.sh
Labels: build/ops

#35244 librados: minor improvment to rados_t comment
  src/include/rados/librados.h
Labels: cleanup

#34714 doc/rados: fix a typo in troubleshooting-mon.rst
  doc/rados/troubleshooting/troubleshooting-mon.rst
Labels: documentation

#35296 mgr/dashboard: Remove Accordion imports
  src/pybind/mgr/dashboard/frontend/src/app/app.module.ts
  src/pybind/mgr/dashboard/frontend/src/styles.scss
Labels: cleanup, dashboard

#35226 qa/tasks/tox: use python3 for tox tests
  qa/suites/rgw/crypt/2-kms/barbican.yaml
  qa/suites/rgw/tempest/tasks/rgw_tempest.yaml
  qa/tasks/barbican.py
  qa/tasks/keystone.py
  qa/tasks/tempest.py
  qa/tasks/tox.py
Labels: bug fix, needs-review, python3, rgw, tests

#35330 msg/Message.cc: fix build error when WITH_BLKIN is on
  src/msg/Message.cc
  src/test/rgw/CMakeLists.txt
Labels: bug fix, build/ops, messenger, wip-kefu-testing

#35124 doc: New section in device management
  doc/rados/operations/devices.rst
Labels: documentation, orchestrator

#34879 mgr/cephadm: cephadm bootstrap add --apply-spec <cluster.yaml>
  doc/man/8/cephadm.rst
  doc/mgr/orchestrator.rst
  src/cephadm/cephadm
  src/pybind/mgr/cephadm/module.py
  src/pybind/mgr/orchestrator/_interface.py
  src/pybind/mgr/orchestrator/module.py
Labels: cephadm, wip-swagner-testing

#35281 cephadm: Detect stale and then recreate connections
  src/pybind/mgr/cephadm/module.py
  src/pybind/mgr/cephadm/tests/test_cephadm.py
Labels: cephadm, needs-qa, orchestrator, wip-swagner-testing

#35313 qa/cephadm: FileNotFoundError doesn't exist in py2
  qa/tasks/cephadm.py
Labels: cephadm, needs-review, python3, wip-swagner-testing

#35188 octopus: Batch backport May (2)
  debian/cephadm.postinst
  doc/cephadm/install.rst
  doc/cephadm/operations.rst
  doc/cephadm/troubleshooting.rst
  doc/dev/cephadm.rst
  doc/man/8/cephadm.rst
  doc/man_index.rst
  doc/mgr/orchestrator.rst
  doc/rados/operations/monitoring.rst
  qa/suites/rados/cephadm/with-work/distro/ubuntu_latest.yaml
  qa/suites/rados/cephadm/workunits/distro/ubuntu_latest.yaml
  qa/tasks/cephadm.py
  qa/workunits/cephadm/test_adoption.sh
  qa/workunits/cephadm/test_cephadm.sh
  src/cephadm/cephadm
  src/pybind/mgr/cephadm/inventory.py
  src/pybind/mgr/cephadm/module.py
  src/pybind/mgr/cephadm/osd.py
  src/pybind/mgr/cephadm/schedule.py
  src/pybind/mgr/cephadm/services/__init__.py
  src/pybind/mgr/cephadm/services/cephadmservice.py
  src/pybind/mgr/cephadm/services/iscsi.py
  src/pybind/mgr/cephadm/services/monitoring.py
  src/pybind/mgr/cephadm/services/nfs.py
  src/pybind/mgr/cephadm/services/osd.py
  src/pybind/mgr/cephadm/tests/fixtures.py
  src/pybind/mgr/cephadm/tests/test_cephadm.py
  src/pybind/mgr/cephadm/tests/test_completion.py
  src/pybind/mgr/cephadm/tests/test_spec.py
  src/pybind/mgr/cephadm/upgrade.py
  src/pybind/mgr/cephadm/utils.py
  src/pybind/mgr/dashboard/services/iscsi_cli.py
  src/pybind/mgr/dashboard/services/iscsi_config.py
  src/pybind/mgr/orchestrator/_interface.py
  src/pybind/mgr/orchestrator/module.py
  src/pybind/mgr/tests/__init__.py
  src/python-common/ceph/deployment/service_spec.py
Labels: cephadm, documentation, mgr, orchestrator, wip-swagner2-testing

#35343 octopus: qa/cephadm: FileNotFoundError doesn't exist in py2
  qa/tasks/cephadm.py
Labels: cephadm, tests, wip-swagner2-testing

#35276 mgr/dashboard: Fix dashboard languages make configuration
  src/pybind/mgr/dashboard/CMakeLists.txt
Labels: bug fix, build/ops, dashboard

#35249 mgr/dashboard: add API team to CODEOWNERS
  .github/CODEOWNERS
Labels: api, dashboard

#35264 cls/rgw_gc: Clearing off urgent data in bufferlist, before
  src/cls/queue/cls_queue_src.cc
  src/cls/rgw_gc/cls_rgw_gc.cc
Labels: needs-qa, rgw

#34782 qa/tasks/vstart_runner.py: add def mountpoint parameter
  qa/tasks/cephfs/mount.py
  qa/tasks/vstart_runner.py
Labels: bug fix, cephfs, kcephfs, vstart_runner

#35321 rgw/reshard: use defined variable
  src/rgw/rgw_reshard.cc
Labels: cleanup, rgw

#34838 qa/cephfs: run nsenter commands with superuser privileges
  qa/tasks/cephfs/fuse_mount.py
  qa/tasks/vstart_runner.py
Labels: bug fix, cephfs, needs-review, vstart_runner

#35351 qa/suites/rgw/multisite, qa/suites/rgw/crypt: whitelist PG_AVAILABILITY
  qa/suites/rgw/crypt/1-ceph-install/install.yaml
  qa/suites/rgw/multisite/overrides.yaml
Labels: rgw, tests

#26004 mds: record and forward client side metrics to manager
  alpine/APKBUILD.in
  ceph.spec.in
  debian/libcephfs-dev.install
  src/common/options.cc
  src/include/ceph_fs.h
  src/include/cephfs/metrics/Types.h
  src/mds/CMakeLists.txt
  src/mds/MDSPerfMetricTypes.h
  src/mds/MDSPinger.cc
  src/mds/MDSPinger.h
  src/mds/MDSRank.cc
  src/mds/MDSRank.h
  src/mds/MetricAggregator.cc
  src/mds/MetricAggregator.h
  src/mds/MetricsHandler.cc
  src/mds/MetricsHandler.h
  src/mds/Server.cc
  src/mds/Server.h
  src/messages/MClientMetrics.h
  src/messages/MMDSMetrics.h
  src/messages/MMDSPing.h
  src/mgr/CMakeLists.txt
  src/mgr/DaemonServer.cc
  src/mgr/DaemonServer.h
  src/mgr/MDSPerfMetricCollector.cc
  src/mgr/MDSPerfMetricCollector.h
  src/mgr/MDSPerfMetricTypes.cc
  src/mgr/MDSPerfMetricTypes.h
  src/mgr/MetricCollector.cc
  src/mgr/MetricTypes.h
  src/mgr/MgrClient.h
  src/msg/Message.cc
  src/msg/Message.h
Labels: cephfs, needs-review

#35234 mds: cleanup uncommitted fragments before mds goes to active
  src/mds/MDCache.cc
  src/mds/MDCache.h
  src/mds/MDSRank.cc
Labels: bug fix, cephfs, needs-qa, wip-pdonnell-testing

#35193 qa/tasks/mds_thrash: s/random.sample/random.choice/
  qa/tasks/mds_thrash.py
Labels: cephfs, needs-qa, tests, wip-pdonnell-testing

#35057 pybind/ceph_volume_client: logger.warn() -> logger.warning()
  src/pybind/ceph_volume_client.py
Labels: cephfs, cleanup, needs-qa, python3, wip-pdonnell-testing

#35034 ceph_fuse: add the '-d' option back for libfuse
  src/common/config.cc
  src/common/options.cc
Labels: bug fix, cephfs, needs-qa, wip-pdonnell-testing

#34942 tools/cephfs: don't bind to public_addr
  src/ceph_syn.cc
  src/tools/cephfs/MDSUtility.cc
Labels: bug fix, cephfs, needs-qa, wip-pdonnell-testing

#34839 qa/cephfs: run modprobe beforehand so that /sys/fs/fuse/connections is never absent
  qa/tasks/cephfs/fuse_mount.py
Labels: bug fix, cephfs, needs-qa, wip-pdonnell-testing

#34776 mgr/volumes: Create subvolume with isolated rados namespace
  doc/cephfs/fs-volumes.rst
  qa/tasks/cephfs/test_volumes.py
  src/pybind/mgr/volumes/fs/operations/versions/subvolume_base.py
  src/pybind/mgr/volumes/fs/volume.py
  src/pybind/mgr/volumes/module.py
Labels: cephfs, needs-qa, wip-pdonnell-testing

#34719 src/client/fuse_ll: compatible with libfuse3.5 or higher
  cmake/modules/FindFUSE.cmake
  src/ceph_fuse.cc
  src/client/fuse_ll.cc
  src/include/ceph_fuse.h
  src/include/config-h.in.cmake
Labels: bug fix, cephfs, libfuse3.x, needs-qa, wip-pdonnell-testing

#35257 TransactionManager and BtreeLBAManager initial implementations
  doc/dev/seastore.rst
  src/crimson/common/fixed_kv_node_layout.h
  src/crimson/common/layout.h
  src/crimson/os/seastore/CMakeLists.txt
  src/crimson/os/seastore/cache.cc
  src/crimson/os/seastore/cache.h
  src/crimson/os/seastore/cached_extent.h
  src/crimson/os/seastore/journal.cc
  src/crimson/os/seastore/journal.h
  src/crimson/os/seastore/lba_manager.cc
  src/crimson/os/seastore/lba_manager.h
  src/crimson/os/seastore/lba_manager/btree/btree_lba_manager.cc
  src/crimson/os/seastore/lba_manager/btree/btree_lba_manager.h
  src/crimson/os/seastore/lba_manager/btree/lba_btree_node.h
  src/crimson/os/seastore/lba_manager/btree/lba_btree_node_impl.cc
  src/crimson/os/seastore/lba_manager/btree/lba_btree_node_impl.h
  src/crimson/os/seastore/root_block.cc
  src/crimson/os/seastore/root_block.h
  src/crimson/os/seastore/seastore_types.cc
  src/crimson/os/seastore/seastore_types.h
  src/crimson/os/seastore/transaction_manager.cc
  src/crimson/os/seastore/transaction_manager.h
  src/include/byteorder.h
  src/test/crimson/CMakeLists.txt
  src/test/crimson/seastore/CMakeLists.txt
  src/test/crimson/seastore/test_btree_lba_manager.cc
  src/test/crimson/seastore/test_seastore_cache.cc
  src/test/crimson/seastore/test_seastore_journal.cc
  src/test/crimson/seastore/test_transaction_manager.cc
  src/test/crimson/test_fixed_kv_node_layout.cc
Labels: crimson

#34288 mds: flag backtrace scrub failures for new files as okay
  qa/tasks/cephfs/cephfs_test_case.py
  qa/tasks/cephfs/test_scrub.py
  src/mds/CInode.cc
Labels: cephfs, needs-qa, wip-pdonnell-testing

#34860 python-common: only validate host_pattern if present
  src/pybind/mgr/cephadm/inventory.py
  src/pybind/mgr/cephadm/module.py
  src/pybind/mgr/cephadm/schedule.py
  src/pybind/mgr/cephadm/services/osd.py
  src/pybind/mgr/cephadm/tests/test_scheduling.py
  src/pybind/mgr/rook/module.py
  src/pybind/mgr/rook/rook_cluster.py
  src/pybind/mgr/test_orchestrator/module.py
  src/python-common/ceph/deployment/drive_group.py
  src/python-common/ceph/deployment/service_spec.py
  src/python-common/ceph/tests/test_drive_group.py
Labels: bug fix, cephadm, wip-swagner3-testing

#35069 qa/cephadm: Add RGW
  qa/suites/rados/cephadm/smoke/fixed-2.yaml
  qa/tasks/cephadm.py
Labels: cephadm, needs-review, tests

#35262 cephadm: Make easy manager modules development
  src/cephadm/cephadm
Labels: cephadm, wip-swagner3-testing

#35320 cephadm: Add a bunch of type annotations
  src/cephadm/cephadm
  src/cephadm/mypy.ini
  src/cephadm/tests/test_cephadm.py
Labels: cephadm, wip-swagner3-testing

#35282 monitoring: fixing some issues in RBD detail dashboard
  monitoring/grafana/dashboards/rbd-details.json
Labels: bug fix, dashboard, monitoring, ready-to-merge

#35031 mgr/dashboard: Improve Summary's subscribe methods
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/iscsi-target-list/iscsi-target-list.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/mirroring/bootstrap-create-modal/bootstrap-create-modal.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/mirroring/bootstrap-import-modal/bootstrap-import-modal.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/mirroring/daemon-list/daemon-list.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/mirroring/image-list/image-list.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/mirroring/overview/overview.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/mirroring/pool-edit-mode-modal/pool-edit-mode-modal.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/mirroring/pool-list/pool-list.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-trash-list/rbd-trash-list.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/prometheus/monitoring-list/monitoring-list.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/services/service-details/service-details.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/nfs/nfs-501/nfs-501.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/nfs/nfs-form/nfs-form.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/nfs/nfs-form/nfs-form.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/nfs/nfs-list/nfs-list.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/pool/pool-list/pool-list.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-501/rgw-501.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/core/navigation/about/about.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/core/navigation/dashboard-help/dashboard-help.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/core/navigation/navigation/navigation.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/core/navigation/notifications/notifications.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/rbd-mirroring.service.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/rbd-mirroring.service.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/grafana/grafana.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/notifications-sidebar/notifications-sidebar.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/orchestrator-doc-panel/orchestrator-doc-panel.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/models/finished-task.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/models/mirroring-summary.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/models/summary.model.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/services/summary.service.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/services/summary.service.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/services/task-list.service.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/services/task-manager.service.ts
Labels: dashboard, ready-to-merge

#35300 mgr/dashboard: Use ng-bootstrap for Typeahead
  src/pybind/mgr/dashboard/frontend/package-lock.json
  src/pybind/mgr/dashboard/frontend/package.json
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/cluster.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/prometheus/silence-matcher-modal/silence-matcher-modal.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/prometheus/silence-matcher-modal/silence-matcher-modal.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/prometheus/silence-matcher-modal/silence-matcher-modal.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/nfs/nfs-form/nfs-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/nfs/nfs-form/nfs-form.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/nfs/nfs-form/nfs-form.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/nfs/nfs.module.ts
  src/pybind/mgr/dashboard/frontend/tslint.json
Labels: dashboard, ready-to-merge

#35352 qa/tasks/vstart_runner: do not teardown test_path if "create-cluster-…
  qa/tasks/vstart_runner.py
Labels: bug fix, tests

#35360 ceph.spec.in: claim ownership of include/cephfs/metrics
  ceph.spec.in
Labels: build/ops

#35051 mgr/dashboard: Use right size in pool form
  qa/tasks/mgr/dashboard/test_pool.py
  src/pybind/mgr/dashboard/controllers/pool.py
  src/pybind/mgr/dashboard/frontend/src/app/ceph/pool/crush-rule-form-modal/crush-rule-form-modal.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/pool/erasure-code-profile-form/erasure-code-profile-form-modal.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/pool/pool-form/pool-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/pool/pool-form/pool-form.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/pool/pool-form/pool-form.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/classes/crush.node.selection.class.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/classes/crush.node.selection.class.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/models/crush-rule.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/models/pool-form-info.ts
  src/pybind/mgr/dashboard/frontend/src/testing/unit-test-helper.ts
Labels: TESTED, dashboard, ready-to-merge

#35337 global, osd/crimson: improve handling of the crimson-osd instance duplication
  src/crimson/osd/main.cc
  src/global/pidfile.cc
  src/global/pidfile.h
Labels: crimson, needs-qa, wip-kefu-testing

#35288 ceph.in: add the missing right parenthesis in the help message
  src/ceph.in
Labels: core, needs-qa, wip-kefu-testing

#35322 mgr/cephadm: drop py2 compatible bits
  src/pybind/mgr/cephadm/module.py
Labels: cephadm, cleanup, mgr, needs-qa, python3, wip-kefu-testing

#35328 qa/tasks/cephfs/test_scrub.py: use umount_wait to avoid possible ceph-fuse daemon stuck
  qa/tasks/cephfs/test_scrub.py
Labels: cephfs, needs-qa, wip-pdonnell-testing

#35342 cephadm: fix package is not running when enabler is not none
  src/cephadm/cephadm
Labels: bug fix, cephadm, wip-kefu-testing

#35202 qa: return a string via getfattr
  qa/tasks/cephfs/mount.py
  qa/tasks/cephfs/test_exports.py
Labels: cephfs, needs-qa, needs-review, python3, wip-pdonnell-testing

#35326 Objecter: don't attempt to read from non-primary on EC pools
  src/osdc/Objecter.cc
Labels: bug fix, core, wip-kefu-testing

#35132 nautilus: ceph-volume: add ceph.osdspec_affinity tag
  src/ceph-volume/ceph_volume/api/lvm.py
  src/ceph-volume/ceph_volume/devices/lvm/prepare.py
  src/ceph-volume/ceph_volume/util/prepare.py
Labels: ceph-volume

#35134 octopus: ceph-volume: add ceph.osdspec_affinity tag
  src/ceph-volume/ceph_volume/api/lvm.py
  src/ceph-volume/ceph_volume/devices/lvm/prepare.py
  src/ceph-volume/ceph_volume/util/prepare.py
Labels: ceph-volume

#35363 qa/tests: do not pass "-t 2" to teuthology-suite when testing nautilus
  qa/crontab/teuthology-cronjobs
  qa/machine_types/schedule_subset.sh
Labels: tests

#35279 qa/*/osd-scrub-repair.sh: Convert to python3 print syntax
  qa/standalone/scrub/osd-scrub-repair.sh
Labels: bug fix, core, needs-qa, python3, tests, wip-yuri2-testing

#34881 octopus: rados: prevent ShardedOpWQ suicide_grace drop when waiting for work.
  src/osd/OSD.cc
Labels: core, needs-qa, octopus-batch-1, wip-yuri7-testing

#35369 nautilus: qa: add .teuthology_branch with `master` contents
  qa/.teuthology_branch
Labels: needs-qa, tests

#35359 doc/cephadm: align to all-available-devices flag
  doc/mgr/orchestrator.rst
Labels: cephadm, documentation

#35339 rbd-mirror: don't hold (stale) copy of local image journal pointer
  src/test/rbd_mirror/image_replayer/journal/test_mock_Replayer.cc
  src/tools/rbd_mirror/image_replayer/journal/Replayer.cc
  src/tools/rbd_mirror/image_replayer/journal/Replayer.h
Labels: bug fix, needs-qa, rbd, wip-mgolub-testing

#35348 rbd-mirror: stop local journal replayer first during shut down
  src/tools/rbd_mirror/image_replayer/journal/Replayer.cc
  src/tools/rbd_mirror/image_replayer/journal/Replayer.h
Labels: bug fix, rbd

#35299 mgr/dashboard: Use ng-bootstrap for Popover
  src/pybind/mgr/dashboard/frontend/cypress/integration/pools/pools.po.ts
  src/pybind/mgr/dashboard/frontend/src/app/app.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-configuration-list/rbd-configuration-list.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/dashboard/dashboard.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/dashboard/health/health.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/dashboard/health/health.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/pool/pool.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/core/auth/auth.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/core/navigation/navigation.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/components.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/config-option/config-option.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/helper/helper.component.html
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/helper/helper.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/notifications-sidebar/notifications-sidebar.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/select-badges/select-badges.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/select/select.component.html
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/select/select.component.spec.ts
Labels: dashboard, ready-to-merge

#35347 octopus: cephadm batch backport June (1)
  doc/cephadm/install.rst
  doc/cephadm/monitoring.rst
  doc/install/containers.rst
  doc/man/8/cephadm.rst
  doc/mgr/dashboard.rst
  doc/rados/operations/devices.rst
  qa/tasks/cephadm.py
  qa/tasks/mgr/mgr_test_case.py
  src/cephadm/cephadm
  src/pybind/mgr/cephadm/__init__.py
  src/pybind/mgr/cephadm/module.py
  src/pybind/mgr/cephadm/services/cephadmservice.py
  src/pybind/mgr/cephadm/services/iscsi.py
  src/pybind/mgr/cephadm/services/monitoring.py
  src/pybind/mgr/cephadm/services/nfs.py
  src/pybind/mgr/cephadm/services/osd.py
  src/pybind/mgr/cephadm/tests/test_cephadm.py
  src/pybind/mgr/cephadm/tests/test_services.py
  src/pybind/mgr/cephadm/tests/test_spec.py
  src/pybind/mgr/dashboard/__init__.py
  src/pybind/mgr/dashboard/conftest.py
  src/pybind/mgr/mgr_module.py
  src/pybind/mgr/orchestrator/_interface.py
  src/pybind/mgr/orchestrator/module.py
  src/pybind/mgr/tests/__init__.py
  src/python-common/ceph/deployment/service_spec.py
Labels: cephadm, documentation, orchestrator, wip-swagner2-testing

#35018 cephadm: Manually remove containers
  src/cephadm/cephadm
Labels: cephadm, needs-review, wip-swagner-testing, wip-swagner3-testing

#35271 mgr/cephadm: use jinja2 to render templates
  ceph.spec.in
  debian/control
  src/pybind/mgr/cephadm/module.py
  src/pybind/mgr/cephadm/services/iscsi.py
  src/pybind/mgr/cephadm/services/monitoring.py
  src/pybind/mgr/cephadm/services/nfs.py
  src/pybind/mgr/cephadm/template.py
  src/pybind/mgr/cephadm/templates/services/alertmanager/alertmanager.yml.j2
  src/pybind/mgr/cephadm/templates/services/grafana/ceph-dashboard.yml.j2
  src/pybind/mgr/cephadm/templates/services/grafana/grafana.ini.j2
  src/pybind/mgr/cephadm/templates/services/iscsi/iscsi-gateway.cfg.j2
  src/pybind/mgr/cephadm/templates/services/nfs/ganesha.conf.j2
  src/pybind/mgr/cephadm/templates/services/prometheus/prometheus.yml.j2
  src/pybind/mgr/cephadm/tests/test_template.py
  src/pybind/mgr/requirements.txt
Labels: cephadm, needs-qa, wip-swagner-testing

#35263 test_cephfs_shell: use StringIO instead of BytesIO
  qa/tasks/cephfs/test_cephfs_shell.py
Labels: cephfs, tests

#35231 octopus: mgr/dashboard: replace hard coded telemetry URLs
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/telemetry/telemetry.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/telemetry/telemetry.component.ts
Labels: dashboard, feature, needs-qa, octopus-batch-1, wip-yuri3-testing

#35247 octopus: mgr/dashboard/grafana: Add rbd-image details dashboard
  doc/cephadm/monitoring.rst
  doc/mgr/prometheus.rst
  monitoring/grafana/dashboards/rbd-details.json
  src/pybind/mgr/prometheus/module.py
Labels: bug fix, dashboard, feature, monitoring, needs-qa, octopus-batch-1, wip-yuri3-testing

#35375 doc/cephadm: Add alternative error for missing CIDR network
  doc/cephadm/troubleshooting.rst
Labels: cephadm, documentation

#35297 mgr/dashboard: Use ng-bootstrap for Alert
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/mirroring/mirroring.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-configuration-list/rbd-configuration-list.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-list/rbd-list.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/cluster.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/alert-panel/alert-panel.component.html
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/alert-panel/alert-panel.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/components.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/grafana/grafana.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/loading-panel/loading-panel.component.html
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/loading-panel/loading-panel.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/pwd-expiration-notification/pwd-expiration-notification.component.html
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/pwd-expiration-notification/pwd-expiration-notification.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/view-cache/view-cache.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/directives/form-loading.directive.spec.ts
Labels: dashboard, ready-to-merge

#35311 mgr/dashboard: Use ng-bootstrap for Tooltip
  src/pybind/mgr/dashboard/frontend/src/app/app.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/block.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/mirroring/mirroring.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-configuration-form/rbd-configuration-form.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-details/rbd-details.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-details/rbd-details.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-form/rbd-form.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-list/rbd-list.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/cluster.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/prometheus/silence-form/silence-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/prometheus/silence-form/silence-form.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/nfs/nfs-form-client/nfs-form-client.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/nfs/nfs.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/pool/pool-form/pool-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/pool/pool-form/pool-form.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/pool/pool-form/pool-form.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/pool/pool.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-user-form/rgw-user-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-user-form/rgw-user-form.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/core/layouts/workbench-layout/workbench-layout.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/core/navigation/navigation.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/components.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/select-badges/select-badges.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/select/select.component.html
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/select/select.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/usage-bar/usage-bar.component.html
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/usage-bar/usage-bar.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/styles.scss
Labels: dashboard, ready-to-merge

#35365 doc/mgr: add docs for unmanaged=True
  doc/mgr/orchestrator.rst
Labels: cephadm, documentation

#35413 doc/cephadm: Adopt single-site RGW
  doc/cephadm/adoption.rst
  doc/radosgw/multisite.rst
Labels: cephadm, documentation, rgw

#35340 mgr/orch: allow '.' char in hostname
  src/pybind/mgr/cephadm/services/nfs.py
  src/pybind/mgr/cephadm/tests/test_spec.py
  src/pybind/mgr/orchestrator/_interface.py
Labels: cephadm, orchestrator, ready-to-merge

#34737 mimic: qa/workunits/rbd: wait for nbd map to close after unmap
  qa/workunits/rbd/rbd-nbd.sh
Labels: mimic-batch-1, needs-qa, rbd, tests, wip-yuri6-testing

#34356 nautilus: mgr: Improve internal python to c++ interface
  qa/tasks/mgr/test_module_selftest.py
  src/mgr/ActivePyModules.cc
  src/mgr/DaemonServer.cc
  src/mgr/DaemonServer.h
  src/mon/PGMap.cc
  src/mon/PGMap.h
  src/osd/osd_types.cc
  src/osd/osd_types.h
  src/pybind/mgr/balancer/module.py
  src/pybind/mgr/diskprediction_cloud/agent/metrics/ceph_cluster.py
  src/pybind/mgr/mgr_module.py
  src/pybind/mgr/progress/module.py
  src/pybind/mgr/selftest/module.py
Labels: bug fix, feature, mgr, nautilus-batch-1, needs-qa, wip-yuri5-testing

#35184 nautilus: tests: specify random distros in multimds
  qa/suites/fs/verify/centos_latest.yaml
  qa/suites/fs/verify/validater/valgrind.yaml
  qa/suites/multimds/basic/0-supported-random-distro$
  qa/suites/multimds/thrash/0-supported-random-distro$
  qa/suites/multimds/verify/centos_latest.yaml
Labels: cephfs, nautilus-batch-1, needs-qa, tests, wip-yuri5-testing

#34995 octopus: mgr: synchronize ClusterState's health and mon_status.
  src/mgr/ActivePyModules.cc
  src/mgr/ClusterState.cc
  src/mgr/ClusterState.h
Labels: mgr, needs-qa, octopus-batch-1, wip-yuri8-testing

#34275 rgw: adds code for creating and managing oidc provider entities in rgw and for offline validation of OpenID Connect Access and ID Token.
  doc/radosgw/STS.rst
  doc/radosgw/STSLite.rst
  doc/radosgw/index.rst
  doc/radosgw/oidc.rst
  src/rgw/CMakeLists.txt
  src/rgw/jwt-cpp/base.h
  src/rgw/jwt-cpp/jwt.h
  src/rgw/picojson/picojson.h
  src/rgw/rgw_auth.cc
  src/rgw/rgw_auth.h
  src/rgw/rgw_auth_s3.h
  src/rgw/rgw_basic_types.h
  src/rgw/rgw_common.cc
  src/rgw/rgw_common.h
  src/rgw/rgw_iam_policy.cc
  src/rgw/rgw_iam_policy.h
  src/rgw/rgw_oidc_provider.cc
  src/rgw/rgw_oidc_provider.h
  src/rgw/rgw_rest_iam.cc
  src/rgw/rgw_rest_oidc_provider.cc
  src/rgw/rgw_rest_oidc_provider.h
  src/rgw/rgw_rest_s3.cc
  src/rgw/rgw_rest_sts.cc
  src/rgw/rgw_rest_sts.h
  src/rgw/rgw_role.h
  src/rgw/rgw_sts.cc
  src/rgw/rgw_sts.h
  src/rgw/rgw_web_idp.h
  src/rgw/rgw_zone.cc
  src/rgw/rgw_zone.h
  src/test/CMakeLists.txt
Labels: needs-qa, rgw

#35372 python-common: add ServiceSpec type checking
  src/pybind/mgr/cephadm/services/cephadmservice.py
  src/pybind/mgr/cephadm/tests/test_cephadm.py
  src/pybind/mgr/orchestrator/module.py
  src/python-common/ceph/deployment/service_spec.py
Labels: cephadm, cleanup, needs-qa, orchestrator, wip-mgfritch-testing, wip-swagner-testing

#35411 qa/cephadm: update adopt corpus
  qa/workunits/cephadm/test_adoption.sh
Labels: cephadm, needs-qa, tests, wip-mgfritch-testing

#35380 cephadm: More robust way to deduce the systemd unit
  src/cephadm/cephadm
Labels: cephadm, needs-qa, wip-mgfritch-testing, wip-swagner-testing

#34041 rgw: fix loop problem with swift stat on account.
  src/rgw/rgw_op.cc
Labels: bug fix, needs-qa, rgw, wip-eric-testing-1

#35073 rgw: add quota enforcement to CopyObj
  src/rgw/rgw_op.cc
Labels: bug fix, needs-qa, rgw, wip-eric-testing-1

#35203 rgwlc: add lifecycle perf counters
  src/rgw/rgw_lc.cc
  src/rgw/rgw_lc.h
  src/rgw/rgw_perf_counters.cc
  src/rgw/rgw_perf_counters.h
Labels: monitoring, needs-qa, rgw, wip-eric-testing-1

#32393 rgw: Add subuser to OPA request
  doc/radosgw/opa.rst
  src/rgw/rgw_auth.cc
  src/rgw/rgw_auth.h
  src/rgw/rgw_auth_filters.h
  src/rgw/rgw_opa.cc
  src/test/rgw/test_rgw_iam_policy.cc
Labels: needs-qa, rgw, wip-eric-testing-2

#33762 rgw: Add support wildcard subuser for bucket policy
  src/rgw/rgw_auth.cc
Labels: needs-qa, rgw, wip-eric-testing-2

#35405 rgw: bucket list/stats truncates for user w/ >1000 buckets
  src/common/options.cc
  src/rgw/rgw_auth.cc
  src/rgw/rgw_bucket.cc
  src/rgw/rgw_cr_tools.cc
  src/rgw/rgw_rest_user.cc
  src/rgw/rgw_sal.h
  src/rgw/rgw_user.cc
Labels: bug fix, rgw, wip-eric-testing-2

#35373 mgr/dashboard: remove space after service name in the Hosts List table
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/hosts/hosts.component.html
Labels: bug fix, dashboard

#35381 mgr/dashboard: Fix CephFS's Directories not showing
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cephfs/cephfs-tabs/cephfs-tabs.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cephfs/cephfs-tabs/cephfs-tabs.component.ts
Labels: bug fix, dashboard

#35379 mgr/dashboard: Show labels in hosts page
  src/pybind/mgr/dashboard/controllers/host.py
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/hosts/hosts.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/hosts/hosts.component.ts
Labels: TESTED, dashboard, feature, ready-to-merge

#33083 rgw: add access log to the beast frontend
  src/rgw/rgw_asio_frontend.cc
Labels: needs-qa, rgw, wip-eric-testing-1

#35298 mgr/dashboard: Use ng-bootstrap for Progressbar
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/block.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/mirroring/daemon-list/daemon-list.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/mirroring/image-list/image-list.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/mirroring/image-list/image-list.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/mirroring/mirroring.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/mirroring/overview/overview.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/mirroring/pool-list/pool-list.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cephfs/cephfs.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/components.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/notifications-sidebar/notifications-sidebar.component.html
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/notifications-sidebar/notifications-sidebar.component.spec.ts
Labels: dashboard

#35344 vstart: Support deployment of ganesha daemon by cephadm with NFS option
  src/pybind/mgr/test_orchestrator/dummy_data.json
  src/pybind/mgr/test_orchestrator/module.py
  src/vstart.sh
Labels: cephadm, cephfs, needs-qa

#35470 mds: fix compile error with CephContext declaration
  src/mds/MetricAggregator.h
  src/mds/MetricsHandler.h
Labels: bug fix, cephfs

#35105 octopus: doc: drop obsolete cache tier options
  doc/man/8/ceph.rst
  qa/workunits/cephtool/test.sh
  src/mon/MonCommands.h
  src/mon/OSDMonitor.cc
Labels: core, documentation, needs-qa, octopus-batch-1, wip-yuri3-testing

#35241 octopus: cls/queue: fix empty markers when listing entries
  src/cls/queue/cls_queue_src.cc
  src/test/cls_queue/test_cls_queue.cc
Labels: core, needs-qa, octopus-batch-1, wip-yuri3-testing

#33492 RGW:Multisite: Verify if the synced object is identical to source
  qa/suites/rgw/multisite/overrides.yaml
  src/common/legacy_config_opts.h
  src/common/options.cc
  src/rgw/CMakeLists.txt
  src/rgw/rgw_etag_verifier.cc
  src/rgw/rgw_etag_verifier.h
  src/rgw/rgw_obj_manifest.h
  src/rgw/rgw_rados.cc
Labels: feature, needs-qa, rgw, wip-eric-testing-1

#33511 rgw: append obj: prevent tail from being GC'ed
  src/rgw/rgw_putobj_processor.cc
Labels: needs-qa, rgw, wip-eric-testing-1

#33521 rgw: fail when get/set-bucket-versioning attempted on a non-existent …
  src/rgw/rgw_op.cc
  src/rgw/rgw_rest_s3.cc
Labels: bug fix, needs-qa, rgw, wip-eric-testing-1

#33878 rgw: append user policies to existing policies
  src/rgw/rgw_op.cc
  src/rgw/rgw_rest.cc
Labels: cleanup, needs-qa, rgw, wip-eric-testing-1

#35095 crimson/os: add onode node implementation
  src/crimson/os/seastore/CMakeLists.txt
  src/crimson/os/seastore/onode.cc
  src/crimson/os/seastore/onode.h
  src/crimson/os/seastore/onode_manager.h
  src/crimson/os/seastore/onode_manager/simple-fltree/onode_block.cc
  src/crimson/os/seastore/onode_manager/simple-fltree/onode_block.h
  src/crimson/os/seastore/onode_manager/simple-fltree/onode_delta.cc
  src/crimson/os/seastore/onode_manager/simple-fltree/onode_delta.h
  src/crimson/os/seastore/onode_manager/simple-fltree/onode_node.cc
  src/crimson/os/seastore/onode_manager/simple-fltree/onode_node.h
  src/crimson/os/seastore/seastore.cc
  src/crimson/os/seastore/seastore.h
  src/crimson/os/seastore/seastore_types.h
  src/os/Transaction.h
  src/test/crimson/CMakeLists.txt
  src/test/crimson/seastore/CMakeLists.txt
  src/test/crimson/seastore/onode_tree/CMakeLists.txt
  src/test/crimson/seastore/onode_tree/test_node.cc
Labels: crimson, seastore

#35460 blk: Add missing PUBLIC keyword to target_link_libraries command.
  src/blk/BlockDevice.cc
  src/blk/CMakeLists.txt
  src/blk/zoned/HMSMRDevice.cc
  src/blk/zoned/HMSMRDevice.h
Labels: bluestore, build/ops, cleanup, needs-qa, wip-kefu2-testing

#34633 mgr/cephadm: make scheduling make sense
  doc/cephadm/concepts.rst
  doc/cephadm/index.rst
  src/pybind/mgr/cephadm/inventory.py
  src/pybind/mgr/cephadm/migrations.py
  src/pybind/mgr/cephadm/module.py
  src/pybind/mgr/cephadm/schedule.py
  src/pybind/mgr/cephadm/tests/fixtures.py
  src/pybind/mgr/cephadm/tests/test_cephadm.py
  src/pybind/mgr/cephadm/tests/test_migration.py
  src/pybind/mgr/cephadm/tests/test_scheduling.py
  src/pybind/mgr/orchestrator/_interface.py
  src/pybind/mgr/tox.ini
  src/python-common/ceph/deployment/service_spec.py
Labels: cephadm, pending-discussion, wip-swagner-testing

#35085 octopus: mgr/dashboard: Fix HomeTest setup
  src/pybind/mgr/dashboard/tests/test_home.py
Labels: bug fix, dashboard, needs-qa, octopus-batch-1, wip-yuri-testing

#34979 octopus: mgr/test_orchestrator: fix _get_ceph_daemons()
  src/pybind/mgr/test_orchestrator/module.py
Labels: dashboard, needs-qa, octopus-batch-1, orchestrator, wip-yuri-testing

#35186 cls_cas: misc cleanup, and dynamic chunk_refs_t
  qa/workunits/cls/test_cls_cas.sh
  qa/workunits/rados/test_dedup_tool.sh
  src/cls/CMakeLists.txt
  src/cls/cas/cls_cas.cc
  src/cls/cas/cls_cas_client.cc
  src/cls/cas/cls_cas_client.h
  src/cls/cas/cls_cas_internal.cc
  src/cls/cas/cls_cas_internal.h
  src/cls/cas/cls_cas_ops.h
  src/osd/PrimaryLogPG.cc
  src/test/CMakeLists.txt
  src/test/cls_cas/CMakeLists.txt
  src/test/cls_cas/test_cls_cas.cc
  src/test/librados/CMakeLists.txt
  src/test/librados/tier_cxx.cc
  src/tools/CMakeLists.txt
  src/tools/ceph-dencoder/CMakeLists.txt
  src/tools/ceph-dencoder/common_types.h
  src/tools/ceph_dedup_tool.cc
Labels: cleanup, core, feature, needs-qa, wip-kefu-testing

#34667 Resharding tool for sharded rocksdb
  doc/man/8/ceph-bluestore-tool.rst
  src/kv/RocksDBStore.cc
  src/kv/RocksDBStore.h
  src/os/bluestore/BlueStore.cc
  src/os/bluestore/BlueStore.h
  src/os/bluestore/bluestore_tool.cc
  src/test/objectstore/test_kv.cc
Labels: bluestore, core, needs-qa, wip-kefu-testing

#33720 log: fix timestap precision of log can't set to millisecond.
  src/log/Entry.h
  src/log/Log.cc
  src/log/Log.h
Labels: common, needs-qa, wip-kefu-testing

#35422 osdc: Fix crash on OSD failure
  src/osdc/Objecter.cc
  src/osdc/Objecter.h
Labels: bug fix, core, needs-qa, needs-review, wip-kefu-testing

#32705 Windows support [part 3]
  CMakeLists.txt
  src/CMakeLists.txt
  src/common/CMakeLists.txt
  src/common/SubProcess.cc
  src/common/SubProcess.h
  src/common/Thread.cc
  src/common/admin_socket_client.cc
  src/common/blkdev_win32.cc
  src/common/ceph_context.h
  src/common/compat.cc
  src/common/dns_resolve.h
  src/common/dns_resolve_win32.cc
  src/common/fd.cc
  src/common/fork_function.h
  src/common/hostname.cc
  src/common/ipaddr.cc
  src/common/module.c
  src/common/numa.cc
  src/common/signal.cc
  src/crush/CrushCompiler.cc
  src/include/buffer.h
  src/include/ceph_assert.h
  src/include/compat.h
  src/include/statlite.h
  src/include/win32/arpa/inet.h
  src/include/win32/netdb.h
  src/include/win32/netinet/in.h
  src/include/win32/netinet/ip.h
  src/include/win32/netinet/tcp.h
  src/include/win32/poll.h
  src/include/win32/sys/errno.h
  src/include/win32/sys/select.h
  src/include/win32/sys/socket.h
  src/include/win32/sys/statvfs.h
  src/include/win32/sys/un.h
  src/include/win32/syslog.h
  src/include/win32/winsock_compat.h
  src/include/win32/winsock_wrapper.h
  src/log/LogClock.h
  src/os/ObjectStore.h
  src/tools/CMakeLists.txt
  src/tools/rbd/action/Nbd.cc
Labels: needs-qa, needs-review, win32, wip-kefu-testing

#35187 doc: Introduce the concept of a pool before talking about it.
  doc/rados/operations/pools.rst
Labels: documentation

#35387 nautilus: qa/workunits/rados/test_envlibrados_rocksdb: Build correct rocksdb
  qa/workunits/rados/test_envlibrados_for_rocksdb.sh
Labels: core, nautilus-batch-1, needs-qa, tests, wip-yuri2-testing

#35461 nautilus: install-deps.sh: Use dnf for rhel/centos 8
  install-deps.sh
Labels: bug fix, build/ops, nautilus-batch-1, needs-qa, wip-yuri2-testing

#34492 crimson/net: fix system shutdown problems
  src/crimson/CMakeLists.txt
  src/crimson/common/exception.h
  src/crimson/common/gated.h
  src/crimson/mgr/client.cc
  src/crimson/mgr/client.h
  src/crimson/mon/MonClient.cc
  src/crimson/mon/MonClient.h
  src/crimson/net/Dispatcher.h
  src/crimson/net/Messenger.h
  src/crimson/net/Protocol.cc
  src/crimson/net/Protocol.h
  src/crimson/net/ProtocolV1.cc
  src/crimson/net/ProtocolV1.h
  src/crimson/net/ProtocolV2.cc
  src/crimson/net/ProtocolV2.h
  src/crimson/net/SocketConnection.cc
  src/crimson/net/SocketConnection.h
  src/crimson/net/SocketMessenger.cc
  src/crimson/net/SocketMessenger.h
  src/crimson/net/chained_dispatchers.cc
  src/crimson/net/chained_dispatchers.h
  src/crimson/os/alienstore/alien_store.cc
  src/crimson/os/cyanstore/cyan_store.h
  src/crimson/osd/CMakeLists.txt
  src/crimson/osd/chained_dispatchers.cc
  src/crimson/osd/chained_dispatchers.h
  src/crimson/osd/ec_backend.h
  src/crimson/osd/heartbeat.cc
  src/crimson/osd/heartbeat.h
  src/crimson/osd/osd.cc
  src/crimson/osd/osd.h
  src/crimson/osd/osd_operation.h
  src/crimson/osd/osd_operations/client_request.cc
  src/crimson/osd/osd_operations/compound_peering_request.cc
  src/crimson/osd/osdmap_gate.cc
  src/crimson/osd/osdmap_gate.h
  src/crimson/osd/pg.cc
  src/crimson/osd/pg.h
  src/crimson/osd/pg_backend.cc
  src/crimson/osd/pg_backend.h
  src/crimson/osd/pg_recovery.cc
  src/crimson/osd/pg_recovery.h
  src/crimson/osd/pg_recovery_listener.h
  src/crimson/osd/recovery_backend.cc
  src/crimson/osd/recovery_backend.h
  src/crimson/osd/replicated_backend.cc
  src/crimson/osd/replicated_backend.h
  src/crimson/osd/replicated_recovery_backend.h
  src/crimson/osd/shard_services.h
  src/test/crimson/test_alien_echo.cc
  src/test/crimson/test_messenger.cc
  src/test/crimson/test_monc.cc
  src/tools/crimson/perf_crimson_msgr.cc
Labels: crimson

#35506 crimson/thread: fix comment phrasing in ThreadPool.h.
  src/crimson/thread/ThreadPool.h
Labels: cleanup, crimson

#35453 nautilus: ceph-volume: add and delete lvm tags in a single lvchange call.
  src/ceph-volume/ceph_volume/api/lvm.py
  src/ceph-volume/ceph_volume/tests/api/test_lvm.py
Labels: bug fix, ceph-volume, needs-qa, wip-yuri2-testing

#35099 doc/orch: How to update an existing specification
  doc/mgr/orchestrator.rst
Labels: cephadm, documentation, needs-review, orchestrator

#35489 mimic: qa/tasks/radosbench: use long form of option for compatibility
  qa/tasks/radosbench.py
Labels: core, mimic-batch-1, needs-qa, tests, wip-yuri8-testing

#35425 test: osd-backfill-stats.sh use nobackfill to avoid races in remainin…
  qa/standalone/osd/osd-backfill-stats.sh
Labels: core, tests

#35357 rbd/cache: fix deadlock on RWL unit test
  src/librbd/cache/ReplicatedWriteLog.cc
Labels: bug fix, needs-qa, rbd, tests, wip-jason-testing

#35455 rpm, deb: Use /usr/libexec for libexecdir whenever possible
  ceph.spec.in
  debian/ceph-base.install
  debian/ceph-osd.install
  debian/control
  debian/rules
Labels: build/ops

#35482 nautilus: mgr/volumes: minor fixes
  doc/cephfs/fs-volumes.rst
  qa/tasks/cephfs/test_volumes.py
  src/pybind/mgr/volumes/fs/operations/versions/subvolume_base.py
  src/pybind/mgr/volumes/fs/operations/versions/subvolume_v1.py
  src/pybind/mgr/volumes/fs/volume.py
  src/pybind/mgr/volumes/module.py
Labels: cephfs, nautilus-batch-1

#35007 mgr/dashboard: work with v1 RBD images
  qa/tasks/mgr/dashboard/test_rbd.py
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-details/rbd-details.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-form/rbd-form.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-list/rbd-list.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-list/rbd-list.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-list/rbd-model.ts
  src/pybind/mgr/dashboard/services/ceph_service.py
  src/pybind/mgr/dashboard/services/rbd.py
  src/pybind/mgr/dashboard/tests/test_ceph_service.py
Labels: TESTED, bug fix, dashboard, rbd

#35478 osd/PrimaryLogPG: don't populate watchers if replica
  src/osd/PrimaryLogPG.cc
Labels: bug fix, core, needs-qa, wip-kefu-testing

#35258 os/bluestore/BlueFS: force flush when call flush().
  src/os/bluestore/BlueFS.h
  src/os/bluestore/BlueRocksEnv.cc
Labels: bluestore, bug fix, needs-qa, wip-kefu-testing

#35486 qa/tasks/radosbench: use long form of option for compatibility
  qa/tasks/radosbench.py
Labels: core, needs-qa, tests, wip-kefu-testing

#35502 cls: fix missing __le32 definition
  src/cls/cas/cls_cas_internal.h
Labels: bug fix, needs-qa, wip-kefu-testing

#35318 test/objectstore/store_test: kill ExcessiveFragmentation test case.
  src/test/objectstore/store_test.cc
Labels: bug fix, needs-qa, tests, wip-kefu-testing

#35521 mgr/dashboard: fix None value for ints and floats
  qa/tasks/mgr/dashboard/test_mgr_module.py
  src/pybind/mgr/dashboard/controllers/mgr_modules.py
Labels: bug fix, cephadm, dashboard, needs-qa, wip-kefu-testing

#35526 qa/suites/krbd: whitelist MON_DOWN health warning
  qa/suites/krbd/thrash/thrashers/mon-thrasher.yaml
Labels: krbd, tests

#35504 doc/cephadm: Importing existing ssh keys
  doc/cephadm/adoption.rst
  doc/cephadm/troubleshooting.rst
Labels: cephadm, documentation

#34380 doc/man: Update mount.ceph.rst for clarity
  doc/man/8/mount.ceph.rst
Labels: cephfs, documentation
