Repository ceph/ceph, pull requests merged in 2020-01, with the labels that each got.

#31295 nautilus: ceph-volume/zfs: add the inventory command
  src/ceph-volume/plugin/zfs/ceph_volume_zfs/__init__.py
  src/ceph-volume/plugin/zfs/ceph_volume_zfs/devices/zfs/__init__.py
  src/ceph-volume/plugin/zfs/ceph_volume_zfs/devices/zfs/inventory.py
  src/ceph-volume/plugin/zfs/ceph_volume_zfs/devices/zfs/main.py
  src/ceph-volume/plugin/zfs/ceph_volume_zfs/devices/zfs/prepare.py
  src/ceph-volume/plugin/zfs/ceph_volume_zfs/devices/zfs/zap.py
  src/ceph-volume/plugin/zfs/ceph_volume_zfs/util/disk.py
  src/ceph-volume/plugin/zfs/ceph_volume_zfs/zfs.py
  src/ceph-volume/plugin/zfs/setup.py
Labels: ceph-volume

#27792 make-dist: drop Python 2/3 autoselect
  make-dist
Labels: build/ops, needs-review

#32351 ceph-volume/lvm/activate.py: clarify error message: fsid refers to osd_fsid
  src/ceph-volume/ceph_volume/devices/lvm/activate.py
Labels: ceph-volume

#32194 luminous: rgw: lc: continue past get_obj_state() failure
  src/rgw/rgw_lc.cc
Labels: luminous-batch-1, rgw

#31345 rgw:cleanup:remove un-used create_new_bucket_instance in rgw_admin.cc
  src/rgw/rgw_admin.cc
Labels: needs-review, rgw

#31404 rgw:cleanup:remove un-used class member in RGWDeleteLC
  src/rgw/rgw_op.h
Labels: needs-review, rgw

#31429 rgw: correct some error log about reshard in cls_rgw.cc.
  src/cls/rgw/cls_rgw.cc
Labels: needs-review, rgw

#31432 rgw:cleanup the "magic string" usage in cls_rgw_client.cc
  src/cls/rgw/cls_rgw_client.cc
Labels: needs-review, rgw

#31309 doc: Add a RGW swift auth note
  doc/radosgw/swift/auth.rst
Labels: documentation, rgw

#32457 doc: fix Getting Started with CephFS
  doc/cephfs/index.rst
Labels: bug fix, cephfs, documentation

#31852 nautilus: os/bluestore: Add config observer for osd memory specific options.
  PendingReleaseNotes
  src/common/options.cc
  src/os/bluestore/BlueStore.cc
  src/os/bluestore/BlueStore.h
Labels: bluestore, nautilus-batch-1, needs-qa, wip-yuri-testing

#31028 nautilus: osd/PrimaryLogPG: skip obcs that don't exist during backfill scan_range
  src/osd/PrimaryLogPG.cc
Labels: core, nautilus-batch-1, needs-qa, wip-yuri-testing, wip-yuri2-testing

#31844 nautilus: mon: remove the restriction of address type in init_with_hosts
  src/mon/MonMap.cc
Labels: core, nautilus-batch-1, needs-qa, wip-yuri-testing

#32442 doc/developer: fix dev mailing list address
  doc/dev/developer_guide/index.rst
Labels: documentation

#32451 doc/rados/operations/crush-map-edits: recompile and set instructions
  doc/rados/operations/crush-map-edits.rst
Labels: core, documentation, needs-review

#32481 admin/build-doc: always install python3-* for build deps
  admin/build-doc
Labels: build/ops, documentation

#32474 do_cmake.sh: fedora-32 (rawhide) build with python-3.8
  do_cmake.sh
Labels: bug fix

#32490 crimson: add missing include in common/errorator.h
  src/crimson/common/errorator.h
Labels: cleanup, crimson

#32488 crimson: CLANG-related fixes to errorator.h
  src/crimson/common/errorator.h
Labels: cleanup, crimson

#31728 osd: add a 'copy-from2' operation that includes truncate_{seq,size} parameters
  src/include/rados.h
  src/include/rados/librados.hpp
  src/librados/librados_cxx.cc
  src/osd/PrimaryLogPG.cc
  src/osd/osd_op_util.cc
  src/osdc/Objecter.h
Labels: cephfs, core, needs-qa

#32485 common,crimson: fixes to compile with clang and libc++
  src/common/PluginRegistry.h
  src/common/bit_str.h
  src/crimson/mon/MonClient.cc
  src/crimson/net/Interceptor.h
  src/crimson/net/Socket.cc
Labels: cleanup, common, crimson, needs-qa, wip-kefu-testing

#32242 ceph-volume: add methods to pass filters to pvs, vgs and lvs commands
  src/ceph-volume/ceph_volume/api/lvm.py
Labels: ceph-volume, needs-review

#32426 qa: enable CRB repo for RHEL8
  qa/workunits/ceph-helpers-root.sh
  qa/workunits/rados/test_envlibrados_for_rocksdb.sh
Labels: bug fix, needs-review, tests

#32164 mount.ceph: give a hint message when no mds is up or cluster is laggy
  src/mount/mount.ceph.c
Labels: cephfs, needs-qa, wip-pdonnell-testing

#32050 nautilus: rgw: fix rgw crash when token is not base64 encode
  src/rgw/rgw_rest_s3.cc
Labels: nautilus-batch-1, needs-qa, rgw, wip-yuri6-testing

#31182 nautilus: rgw: add num_shards to radosgw-admin bucket stats
  src/rgw/rgw_bucket.cc
Labels: nautilus-batch-1, needs-qa, rgw, wip-yuri6-testing

#31289 nautilus: rgw: fix compile errors with boost 1.70
  src/rgw/rgw_asio_frontend.cc
  src/rgw/rgw_dmclock_async_scheduler.h
  src/rgw/rgw_reshard.h
Labels: nautilus-batch-1, needs-qa, rgw, wip-yuri6-testing

#31298 nautilus: rgw: prevent bucket reshard scheduling if bucket is resharding
  src/rgw/rgw_admin.cc
Labels: nautilus-batch-1, needs-qa, rgw, wip-yuri6-testing

#31684 nautilus: rgw: fix an endless loop error when to show usage
  src/cls/rgw/cls_rgw.cc
Labels: nautilus-batch-1, needs-qa, rgw, wip-yuri6-testing

#32467 qa: fix various py3 cephfs qa bugs
  qa/tasks/cephfs/mount.py
  qa/tasks/cephfs/test_cap_flush.py
  qa/tasks/cephfs/test_journal_migration.py
  qa/tasks/cephfs/test_pool_perm.py
  qa/tasks/cephfs/test_strays.py
Labels: bug fix, cephfs, wip-pdonnell-testing

#31862 nautilus: rgw: crypt: permit RGW-AUTO/default with SSE-S3 headers
  src/rgw/rgw_crypt.cc
Labels: nautilus-batch-1, needs-qa, rgw, wip-yuri6-testing

#32308 mon/MDSMonitor: cleanup check_subs
  src/mon/MDSMonitor.cc
Labels: cephfs, mon, needs-qa, wip-pdonnell-testing

#32307 mon: print FSMap regardless of file system count
  src/mon/MDSMonitor.h
  src/mon/Monitor.cc
Labels: cephfs, needs-qa, wip-pdonnell-testing

#29995 mds: add config to require forward to auth MDS
  src/common/options.cc
  src/mds/MDCache.cc
  src/mds/MDCache.h
  src/mds/MDSRank.cc
  src/mds/Server.cc
Labels: cephfs, needs-qa, wip-pdonnell-testing

#32480 qa: use -D_GNU_SOURCE when compiling fsync-tester.c
  qa/workunits/suites/fsync-tester.sh
Labels: bug fix, cephfs, wip-pdonnell-testing

#32498 doc: mounting CephFS subdirectory and Persistent Mounts cleanup
  doc/cephfs/fuse.rst
  doc/rados/configuration/ceph-conf.rst
Labels: cephfs, documentation

#32358 qa: krbd_exclusive_option.sh: fixup for json.tool ordering change
  qa/workunits/rbd/krbd_exclusive_option.sh
Labels: krbd, tests

#32067 nautilus: mgr/pg_autoscaler: only generate target_* health warnings if targets set
  src/pybind/mgr/pg_autoscaler/module.py
Labels: core, nautilus-batch-1, needs-qa, wip-yuri5-testing

#31736 nautilus: msg: async/net_handler.cc: Fix compilation
  src/msg/async/net_handler.cc
Labels: core, messenger, nautilus-batch-1, needs-qa, wip-yuri5-testing

#31740 nautilus: core: mon/OSDMonitor: Fix pool set target_size_bytes (etc) with unit suffix
  src/mon/OSDMonitor.cc
Labels: core, nautilus-batch-1, needs-qa, wip-yuri5-testing

#32062 nautilus: mon/OSDMonitor: fix format error ceph osd stat --format json
  src/mon/OSDMonitor.cc
Labels: core, nautilus-batch-1, needs-qa, wip-yuri5-testing

#32064 nautilus: osd/PeeringState: do not exclude up from acting_recovery_backfill
  src/osd/PG.cc
Labels: core, nautilus-batch-1, needs-qa, wip-yuri5-testing

#32466 nautilus: mon/PGMap.h: disable network stats in dump_osd_stats
  src/mgr/ActivePyModules.cc
  src/mon/PGMap.cc
  src/mon/PGMap.h
  src/osd/osd_types.cc
  src/osd/osd_types.h
Labels: core, nautilus-batch-1, needs-qa, wip-yuri8-testing

#31855 luminous: osd/ReplicatedBackend.cc: 1349: FAILED ceph_assert(peer_missing.count(fromshard))
  src/osd/PG.cc
  src/osd/PG.h
Labels: core, luminous-batch-1, needs-qa, wip-yuri3-testing

#32349 luminous: common/util: handle long lines in /proc/cpuinfo
  src/common/util.cc
Labels: common, luminous-batch-1, needs-qa, wip-yuri3-testing

#31929 msg/async: update refcount and perf counter properly
  src/msg/async/AsyncMessenger.cc
  src/msg/async/AsyncMessenger.h
Labels: bug fix, messenger, needs-qa, wip-kefu-testing

#32428 qa/tasks/mgr/test_orchestrator_cli: fix "mon update" test
  qa/tasks/mgr/test_orchestrator_cli.py
  src/pybind/mgr/orchestrator_cli/module.py
Labels: bug fix, needs-qa, tests, wip-kefu-testing

#32112 test/librados: don't release handler if set_pg_num failed
  src/test/librados/test_common.cc
Labels: core, needs-qa, tests, wip-kefu-testing

#28921 msg/async: drop zero_copy_read() & co from ConnectedSocket.
  src/msg/async/PosixStack.cc
  src/msg/async/Stack.h
  src/msg/async/dpdk/DPDKStack.h
  src/msg/async/rdma/RDMAConnectedSocketImpl.cc
  src/msg/async/rdma/RDMAStack.h
  src/test/msgr/test_async_networkstack.cc
Labels: cleanup, messenger, needs-qa, wip-kefu-testing

#32473 mon/OSDMonitor: Don't update mon cache settings if rocksdb is not used
  src/mon/OSDMonitor.cc
Labels: core, needs-qa, wip-kefu-testing

#32484 os/bluestore/Blue(FS|Store): uint64_t alloc_size
  src/os/bluestore/BlueFS.h
  src/os/bluestore/BlueStore.cc
  src/os/bluestore/BlueStore.h
Labels: bluestore, needs-qa, wip-kefu-testing

#32496 osd/OSD: remove unused func enqueue_peering_evt_front
  src/osd/OSD.cc
  src/osd/OSD.h
Labels: cleanup, core, needs-qa, wip-kefu-testing

#31406 mimic: ceph-volume: mokeypatch calls to lvm related binaries
  src/ceph-volume/ceph_volume/tests/api/test_lvm.py
  src/ceph-volume/ceph_volume/tests/devices/lvm/strategies/test_bluestore.py
Labels: ceph-volume

#31407 mimic: ceph-volume: rearrange api/lvm.py
  src/ceph-volume/ceph_volume/api/lvm.py
Labels: ceph-volume

#32518 qa/tasks/mgr/test_orchestrator_cli: fix service action tests
  qa/tasks/mgr/test_orchestrator_cli.py
Labels: bug fix, needs-qa, orchestrator, tests

#32376 qa/suites/krbd: fsx with object-map and fast-diff
  qa/suites/krbd/fsx/conf.yaml
  qa/suites/krbd/fsx/features/no-object-map.yaml
  qa/suites/krbd/fsx/features/object-map.yaml
  src/test/librbd/fsx.cc
Labels: krbd, tests

#32499 mgr/orchestrator_cli: _update_mons require host spec only
  src/pybind/mgr/cephadm/module.py
  src/pybind/mgr/orchestrator_cli/module.py
  src/pybind/mgr/rook/module.py
  src/pybind/mgr/rook/rook_cluster.py
Labels: cephadm, orchestrator

#32494 crimson: fix lambda captures of non-variables
  src/crimson/osd/main.cc
  src/crimson/osd/pg.cc
  src/crimson/osd/pg.h
  src/crimson/osd/shard_services.cc
Labels: cleanup, crimson

#32404 rgw: build radosgw daemon as a shared lib + small executable
  ceph.spec.in
  debian/radosgw.install
  src/rgw/CMakeLists.txt
  src/rgw/radosgw.cc
  src/rgw/rgw_main.cc
Labels: rgw

#32456 rbd-mirror: make logrotate work
  src/cephadm/cephadm
  src/logrotate.conf
  src/tools/rbd_mirror/Mirror.cc
  src/tools/rbd_mirror/PoolReplayer.cc
  src/tools/rbd_mirror/PoolReplayer.h
  src/tools/rbd_mirror/main.cc
Labels: bug fix, needs-qa, rbd, wip-jason-testing

#32463 librbd: when unlinking peer from mirror snaps do it in all namespaces
  src/librbd/api/Mirror.cc
  src/test/librbd/test_mirroring.cc
Labels: cleanup, needs-qa, rbd, wip-jason-testing

#32483 rbd-mirror: fix "pool replayer status" for case when init failed
  src/tools/rbd_mirror/PoolReplayer.cc
Labels: cleanup, needs-qa, rbd, wip-jason-testing

#32412 ceph.spec.in: re-enable "make check" deps for el8
  ceph.spec.in
  install-deps.sh
Labels: build/ops, needs-review

#31552 mimic: ceph-volume: use fsync for dd command
  src/ceph-volume/ceph_volume/devices/lvm/zap.py
Labels: ceph-volume

#32247 Remove use of rules batching for upmap balancer and default for upmap_max_deviation to 5
  doc/man/8/osdmaptool.rst
  doc/rados/operations/upmap.rst
  qa/standalone/mgr/balancer.sh
  src/pybind/mgr/balancer/module.py
  src/test/cli/osdmaptool/help.t
  src/test/cli/osdmaptool/upmap-out.t
  src/test/cli/osdmaptool/upmap.t
  src/tools/osdmaptool.cc
Labels: mgr, tools

#32510 mon: use non-obsolete mon scrub cmd
  qa/tasks/mon_thrash.py
Labels: bug fix, mon, needs-review, wip-kefu-testing, wip-pdonnell-testing

#32452 cephfs-journal-tool: fix crash and usage
  src/tools/cephfs/JournalTool.cc
Labels: cephfs, needs-qa, tools, wip-pdonnell-testing

#31481 mds: Reorganize struct members in Mutation header
  src/mds/Mutation.h
Labels: cephfs, cleanup, needs-qa, wip-pdonnell-testing

#31250 mds: Reorganize class members in MDSTableServer header
  src/mds/MDSTableServer.h
Labels: cephfs, cleanup, needs-qa, wip-pdonnell-testing

#32318 mds: don't add metadata to session close message
  src/mds/Server.cc
Labels: bug fix, cephfs, needs-qa, wip-pdonnell-testing

#32347 cephfs-shell: changes related to read_ceph_conf()
  src/tools/cephfs/cephfs-shell
Labels: bug fix, cephfs, cleanup, needs-qa, wip-pdonnell-testing

#32537 Switch spelling of utilization
  monitoring/grafana/dashboards/host-details.json
  src/mon/PGMap.cc
Labels: documentation

#32461 mgr/dashboard: fix failing user test
  qa/tasks/mgr/dashboard/test_user.py
Labels: bug fix, dashboard, needs-qa, wip-kefu-testing

#32529 mimic: ceph-volume: add proper size attribute to partitions
  src/ceph-volume/ceph_volume/util/disk.py
Labels: ceph-volume

#32530 mimic: ceph-volume: allow to skip restorecon calls
  src/ceph-volume/ceph_volume/tests/util/test_system.py
  src/ceph-volume/ceph_volume/util/system.py
Labels: ceph-volume

#32331 rpm: drop vim-specific header
  ceph.spec.in
Labels: build/ops

#32539 debian/radosgw.install: correct path to libradosgw.so*
  debian/radosgw.install
Labels: bug fix, build/ops, wip-kefu-testing

#32517 mon: should not take non-tell commands as tell ones
  src/mon/MonCommand.h
Labels: bug fix, mon, needs-qa, wip-kefu-testing

#32535 qa: define centos version for fs:verify
  qa/suites/fs/verify/centos_latest.yaml
Labels: bug fix, cephfs, needs-review, wip-pdonnell-testing

#32508 doc: remove reference to obsolete scrub command
  doc/man/8/ceph.rst
Labels: bug fix, documentation, mon

#32564 cmake: let vstart depend on radosgwd
  src/CMakeLists.txt
  src/test/CMakeLists.txt
Labels: bug fix, build/ops, tests

#32234 mgr/dashboard: Throw a more meaningful exception
  qa/tasks/mgr/dashboard/test_host.py
  src/pybind/mgr/dashboard/controllers/host.py
  src/pybind/mgr/dashboard/controllers/orchestrator.py
Labels: cleanup, dashboard

#32572 admin/build-doc: Fix doxygen typo
  admin/build-doc
Labels: build/ops, documentation, needs-review

#32575 qa/tasks/mgr/dashboard: set pg_num to 16
  qa/tasks/mgr/dashboard/test_pool.py
Labels: bug fix, dashboard, tests

#31346 rgw: build_linked_oids_for_bucket and build_buckets_instance_index should return negative value if it fails
  src/rgw/rgw_orphan.cc
Labels: rgw

#32058 nautilus: rgw: url encode common prefixes for List Objects response
  src/rgw/rgw_rest_s3.cc
  src/rgw/rgw_rest_s3.h
Labels: nautilus-batch-1, needs-qa, rgw, wip-yuri7-testing

#31683 nautilus: rgw: when resharding store progress json
  src/rgw/rgw_reshard.cc
Labels: nautilus-batch-1, needs-qa, rgw, wip-yuri7-testing

#32055 nautilus: rgw: auto-clean reshard queue entries for non-existent buckets
  src/rgw/rgw_reshard.cc
Labels: nautilus-batch-1, needs-qa, rgw, wip-yuri7-testing

#32056 nautilus: rgw: allow reshard log entries for non-existent buckets to be cancelled
  src/rgw/rgw_admin.cc
Labels: nautilus-batch-1, needs-qa, rgw, wip-yuri7-testing

#30257 rgw:[bug] fix data consistency error casued by rgw sent timeout
  src/rgw/rgw_civetweb.cc
Labels: bug fix, needs-qa, rgw

#32507 qa: detect RHEL8 for yum package installation
  qa/tasks/cephfs/xfstests_dev.py
Labels: cephfs, needs-qa, wip-pdonnell-testing

#32533 qa: fix various py3 cephfs qa bugs x2
  qa/tasks/cephfs/test_cap_flush.py
Labels: bug fix, cephfs, needs-review, wip-pdonnell-testing

#32462 qa: remove force-branch from overrides of s3-tests
  qa/machine_types/vps.yaml
  qa/rgw_pool_type/ec-profile.yaml
  qa/rgw_pool_type/ec.yaml
Labels: rgw

#31834 rgw/kafka: add ssl+sasl security to kafka
  doc/radosgw/notifications.rst
  doc/radosgw/pubsub-module.rst
  src/mrgw.sh
  src/rgw/CMakeLists.txt
  src/rgw/rgw_kafka.cc
  src/rgw/rgw_kafka.h
  src/rgw/rgw_pubsub.h
  src/rgw/rgw_pubsub_push.cc
  src/rgw/rgw_rest_pubsub.cc
  src/rgw/rgw_rest_pubsub_common.cc
  src/rgw/rgw_rest_pubsub_common.h
  src/rgw/rgw_sync_module_pubsub_rest.cc
  src/rgw/rgw_url.cc
  src/rgw/rgw_url.h
  src/test/rgw/CMakeLists.txt
  src/test/rgw/rgw_multi/conn.py
  src/test/rgw/rgw_multi/multisite.py
  src/test/rgw/rgw_multi/tests.py
  src/test/rgw/rgw_multi/tests_ps.py
  src/test/rgw/rgw_multi/zone_ps.py
  src/test/rgw/test_multi.py
  src/test/rgw/test_rgw_url.cc
Labels: feature, needs-qa, needs-review, rgw

#32532 qa: only restart MDS between tests
  qa/tasks/cephfs/cephfs_test_case.py
Labels: bug fix, cephfs, needs-review, wip-pdonnell-testing

#32571 qa/tasks/cephfs_test_runner: setattr to class not instance
  qa/tasks/cephfs_test_runner.py
Labels: tests, wip-kefu-testing

#32525 ceph-volume: Dereference symlink in lvm list
  src/ceph-volume/ceph_volume/devices/lvm/listing.py
Labels: ceph-volume

#32500 pybind/mgr: Add test_orchestrator to mypy
  src/pybind/mgr/test_orchestrator/module.py
  src/pybind/mgr/tox.ini
Labels: needs-qa, orchestrator, wip-kefu-testing

#32512 Revert "qa/tasks/cbt: include py2 deps on ubuntu for now"
  qa/tasks/cbt.py
Labels: cleanup, needs-qa, tests, wip-kefu-testing

#32549 qa: whitelist FS_DEGRADED
  qa/suites/rados/singleton-nomsgr/all/admin_socket_output.yaml
Labels: bug fix, needs-qa, tests, wip-kefu-testing

#32519 qa/tasks/ceph_manager: do not pick a pool is there is no pools
  qa/tasks/ceph_manager.py
Labels: bug fix, needs-qa, tests, wip-kefu-testing

#32547 common/admin_socket: Add doxygen for call and call_async
  src/common/admin_socket.h
Labels: common, documentation, needs-review

#32563 os/bluestore/BlueFS: replace flush_log with sync_metadata.
  src/os/bluestore/BlueFS.cc
  src/os/bluestore/BlueFS.h
  src/test/objectstore/test_bluefs.cc
Labels: bluestore, needs-qa, wip-kefu-testing

#32538 os/kstore: do not cache in-fight stripes on read ops to avoid memory …
  src/os/kstore/KStore.cc
  src/os/kstore/KStore.h
Labels: wip-kefu-testing

#32590 doc/man: improve bluefs-bdev-expand option
  doc/man/8/ceph-bluestore-tool.rst
Labels: documentation

#32588 qa/tasks/mgr: set mgr module option with --force
  qa/tasks/mgr/mgr_test_case.py
Labels: bug fix, dashboard, needs-qa, tests

#32514 osd/OSD: remove unused parameter osdmap_lock_name.
  src/osd/OSD.cc
  src/osd/OSD.h
Labels: cleanup, core, needs-qa, wip-kefu-testing

#32133 nautilus: mgr/dashboard: block mirroring page results in internal server error
  src/mgr/DaemonServer.cc
  src/mgr/DaemonState.cc
  src/mgr/DaemonState.h
  src/pybind/mgr/dashboard/controllers/rbd_mirroring.py
Labels: bug fix, dashboard, mgr, nautilus-batch-1, needs-qa, rbd, wip-yuri5-testing

#31518 nautilus: rbd-mirror: clone v2 mirroring improvements
  qa/workunits/rbd/rbd_mirror.sh
  qa/workunits/rbd/rbd_mirror_helpers.sh
  src/include/rbd/librbd.h
  src/librbd/ExclusiveLock.cc
  src/librbd/ExclusiveLock.h
  src/librbd/ImageWatcher.cc
  src/librbd/Operations.cc
  src/librbd/Operations.h
  src/librbd/api/Migration.cc
  src/librbd/api/Trash.cc
  src/librbd/exclusive_lock/Policy.h
  src/librbd/image/CloneRequest.cc
  src/librbd/image/CloneRequest.h
  src/librbd/image/DetachChildRequest.cc
  src/librbd/internal.cc
  src/test/librbd/image/test_mock_DetachChildRequest.cc
  src/test/librbd/mock/MockExclusiveLock.h
  src/test/librbd/mock/exclusive_lock/MockPolicy.h
  src/test/librbd/test_mock_ExclusiveLock.cc
  src/test/rbd_mirror/image_replayer/test_mock_CreateImageRequest.cc
  src/tools/rbd_mirror/image_replayer/CreateImageRequest.cc
  src/tools/rbd_mirror/image_replayer/OpenLocalImageRequest.cc
Labels: bug fix, nautilus-batch-1, needs-qa, rbd, wip-yuri5-testing

#32591 Documentation: Centos ceph-deploy's python dependencies
  doc/start/quick-start-preflight.rst
Labels: documentation

#30761 nautilus: mds: "apply configuration changes through MDSRank" and "recall caps from quiescent sessions" and "drive cap recall while dropping cache"
  qa/tasks/cephfs/test_journal_repair.py
  qa/tasks/cephfs/test_sessionmap.py
  src/client/Client.cc
  src/common/DecayCounter.cc
  src/common/DecayCounter.h
  src/common/TrackedOp.cc
  src/common/TrackedOp.h
  src/common/options.cc
  src/include/rados.h
  src/mds/Locker.cc
  src/mds/MDBalancer.cc
  src/mds/MDBalancer.h
  src/mds/MDCache.cc
  src/mds/MDCache.h
  src/mds/MDSDaemon.cc
  src/mds/MDSDaemon.h
  src/mds/MDSRank.cc
  src/mds/MDSRank.h
  src/mds/Migrator.cc
  src/mds/Migrator.h
  src/mds/Mutation.h
  src/mds/PurgeQueue.cc
  src/mds/PurgeQueue.h
  src/mds/Server.cc
  src/mds/Server.h
  src/mds/SessionMap.cc
  src/mds/SessionMap.h
  src/mds/locks.c
  src/mds/locks.h
  src/mds/mdstypes.cc
Labels: cephfs, nautilus-batch-1, needs-qa, wip-yuri-testing

#30762 nautilus: cephfs: client: EINVAL may be returned when offset is 0
  src/client/Client.cc
Labels: cephfs, nautilus-batch-1, needs-qa, wip-yuri-testing

#30763 nautilus: cephfs: client: _readdir_cache_cb() may use the readdir_cache already clear
  src/client/Client.cc
Labels: cephfs, nautilus-batch-1, needs-qa, wip-yuri-testing

#30764 nautilus: cephfs: client: add procession of SEEK_HOLE and SEEK_DATA in lseek
  src/client/Client.cc
Labels: cephfs, nautilus-batch-1, needs-qa, wip-yuri-testing

#30766 nautilus: cephfs: client: remove Inode.dir_contacts field and handle bad whence value to llseek gracefully
  src/client/Client.cc
  src/client/Inode.cc
  src/client/Inode.h
Labels: cephfs, nautilus-batch-1, needs-qa, wip-yuri-testing

#30767 nautilus: cephfs: mds returns -5(EIO) error when the deleted file does not exist
  src/mds/MDCache.cc
Labels: cephfs, nautilus-batch-1, needs-qa, wip-yuri-testing

#30769 nautilus: cephfs: "client: fix lazyio_synchronize() to update file size" and "libcephfs: Add Tests for LazyIO"
  qa/workunits/libcephfs/test.sh
  src/client/Client.cc
  src/client/Client.h
  src/include/cephfs/libcephfs.h
  src/libcephfs.cc
  src/test/libcephfs/CMakeLists.txt
  src/test/libcephfs/lazyio.cc
Labels: cephfs, nautilus-batch-1, needs-qa, wip-yuri-testing

#32506 osd: Again remove deprecated full/nearfull from osdmap
  src/osd/OSDMap.cc
Labels: bug fix, core

#32320 mds: Reorganize class members in SessionMap header
  src/mds/SessionMap.h
Labels: cephfs, cleanup, needs-qa, wip-pdonnell-testing

#32201 mds: maintain client provided metric flags in client metadata
  src/mds/Server.cc
  src/mds/mdstypes.cc
  src/mds/mdstypes.h
  src/messages/MClientSession.h
Labels: cephfs, needs-qa, wip-pdonnell-testing

#32577 doc/releases/nautilus.rst: remove a redundant '*'
  doc/releases/nautilus.rst
Labels: documentation

#32604 crimson: remove some attributes from lambda
  src/crimson/common/errorator.h
Labels: aarch64, crimson

#32586 luminous: Change default upmap_max_deviation to 5
  doc/man/8/osdmaptool.rst
  doc/rados/operations/upmap.rst
  qa/standalone/mgr/balancer.sh
  src/pybind/mgr/balancer/module.py
  src/test/cli/osdmaptool/help.t
  src/test/cli/osdmaptool/missing-argument.t
  src/test/cli/osdmaptool/upmap-out.t
  src/test/cli/osdmaptool/upmap.t
  src/tools/osdmaptool.cc
Labels: luminous-batch-1, mgr, needs-qa, needs-review, performance, tools, wip-yuri5-testing

#32210 mgr/dashboard: "Promote" CRUSH options in pool form
  src/pybind/mgr/dashboard/frontend/src/app/ceph/pool/pool-form/pool-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/pool/pool-form/pool-form.component.ts
Labels: dashboard, ready-to-merge

#32454 mgr/dashboard: fix badges of SSD devices in inventory page
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/inventory/inventory-devices/inventory-devices.component.ts
Labels: bug fix, dashboard, ready-to-merge

#32597 pyind/mgr: add mgr_module.py and mgr_util.py to mypy
  src/pybind/mgr/mgr_util.py
  src/pybind/mgr/tox.ini
Labels: mgr

#32614 librbd: #include <string> is necessary to compile with gcc10
  src/librbd/api/PoolMetadata.h
Labels: cleanup, needs-qa, rbd

#31081 nautilus: cephfs: osdc/objecter: Fix last_sent in scientific format and add age to ops
  src/client/MetaRequest.cc
  src/common/ceph_time.cc
  src/osdc/Objecter.cc
Labels: cephfs, common, nautilus-batch-1, needs-qa, wip-yuri2-testing

#31083 nautilus: tests/cephfs.py: allow client mount to reset fully
  qa/tasks/cephfs/test_client_recovery.py
Labels: cephfs, nautilus-batch-1, needs-qa, tests, wip-yuri2-testing

#31084 nautilus: tests: whitelist "Error recovering journal" for cephfs-data-scan
  qa/suites/fs/basic_functional/tasks/data-scan.yaml
  qa/suites/kcephfs/recovery/tasks/data-scan.yaml
Labels: cephfs, nautilus-batch-1, needs-qa, tests, wip-yuri2-testing

#31302 nautilus: mds: split the dir if the op makes it oversized, because some ops maybe in flight
  src/mds/Server.cc
Labels: cephfs, nautilus-batch-1, needs-qa, wip-yuri2-testing

#31332 nautilus: mgr/volumes: fs subvolume resize command
  doc/cephfs/fs-volumes.rst
  qa/tasks/cephfs/test_volumes.py
  src/pybind/mgr/volumes/fs/subvolume.py
  src/pybind/mgr/volumes/fs/volume.py
  src/pybind/mgr/volumes/module.py
Labels: cephfs, feature, nautilus-batch-1, needs-qa, wip-yuri2-testing

#32578 rbd-mirror: remove journal-specific logic from image replay and bootstrap state machines
  src/test/rbd_mirror/image_replayer/journal/test_mock_CreateLocalImageRequest.cc
  src/test/rbd_mirror/image_replayer/journal/test_mock_PrepareReplayRequest.cc
  src/test/rbd_mirror/image_replayer/journal/test_mock_Replayer.cc
  src/test/rbd_mirror/image_replayer/test_mock_BootstrapRequest.cc
  src/test/rbd_mirror/image_replayer/test_mock_PrepareLocalImageRequest.cc
  src/test/rbd_mirror/image_replayer/test_mock_PrepareRemoteImageRequest.cc
  src/test/rbd_mirror/image_sync/test_mock_SyncPointCreateRequest.cc
  src/test/rbd_mirror/image_sync/test_mock_SyncPointPruneRequest.cc
  src/test/rbd_mirror/mock/MockBaseRequest.h
  src/test/rbd_mirror/mock/image_sync/MockSyncPointHandler.h
  src/test/rbd_mirror/test_ImageSync.cc
  src/test/rbd_mirror/test_mock_ImageReplayer.cc
  src/test/rbd_mirror/test_mock_ImageSync.cc
  src/tools/rbd_mirror/BaseRequest.h
  src/tools/rbd_mirror/CMakeLists.txt
  src/tools/rbd_mirror/CancelableRequest.h
  src/tools/rbd_mirror/ImageReplayer.cc
  src/tools/rbd_mirror/ImageReplayer.h
  src/tools/rbd_mirror/ImageSync.cc
  src/tools/rbd_mirror/ImageSync.h
  src/tools/rbd_mirror/InstanceReplayer.cc
  src/tools/rbd_mirror/image_replayer/BootstrapRequest.cc
  src/tools/rbd_mirror/image_replayer/BootstrapRequest.h
  src/tools/rbd_mirror/image_replayer/PrepareLocalImageRequest.cc
  src/tools/rbd_mirror/image_replayer/PrepareLocalImageRequest.h
  src/tools/rbd_mirror/image_replayer/PrepareRemoteImageRequest.cc
  src/tools/rbd_mirror/image_replayer/PrepareRemoteImageRequest.h
  src/tools/rbd_mirror/image_replayer/StateBuilder.cc
  src/tools/rbd_mirror/image_replayer/StateBuilder.h
  src/tools/rbd_mirror/image_replayer/journal/CreateLocalImageRequest.cc
  src/tools/rbd_mirror/image_replayer/journal/CreateLocalImageRequest.h
  src/tools/rbd_mirror/image_replayer/journal/PrepareReplayRequest.cc
  src/tools/rbd_mirror/image_replayer/journal/PrepareReplayRequest.h
  src/tools/rbd_mirror/image_replayer/journal/Replayer.cc
  src/tools/rbd_mirror/image_replayer/journal/Replayer.h
  src/tools/rbd_mirror/image_replayer/journal/StateBuilder.cc
  src/tools/rbd_mirror/image_replayer/journal/StateBuilder.h
  src/tools/rbd_mirror/image_replayer/journal/SyncPointHandler.cc
  src/tools/rbd_mirror/image_replayer/journal/SyncPointHandler.h
  src/tools/rbd_mirror/image_sync/SyncPointCreateRequest.cc
  src/tools/rbd_mirror/image_sync/SyncPointCreateRequest.h
  src/tools/rbd_mirror/image_sync/SyncPointPruneRequest.cc
  src/tools/rbd_mirror/image_sync/SyncPointPruneRequest.h
  src/tools/rbd_mirror/image_sync/Types.h
Labels: feature, rbd

#32167 nautilus: common: FIPS: audit and switch some memset & bzero users
  src/auth/Crypto.cc
  src/common/OutputDataSocket.cc
  src/common/addr_parsing.c
  src/common/address_helper.cc
  src/common/admin_socket.cc
  src/common/admin_socket_client.cc
  src/common/buffer.cc
  src/common/ceph_context.cc
  src/common/ceph_crypto.cc
  src/common/ceph_crypto.h
  src/common/code_environment.cc
  src/common/cohort_lru.h
  src/common/compat.cc
  src/common/dns_resolve.cc
  src/common/lockdep.cc
  src/common/obj_bencher.cc
  src/common/snap_types.h
  src/librados/librados_c.cc
  src/librbd/ImageCtx.cc
  src/librbd/internal.cc
  src/librbd/librbd.cc
  src/mds/MDCache.cc
  src/mds/Server.cc
  src/mds/mdstypes.h
  src/msg/async/Event.h
  src/msg/async/PosixStack.cc
  src/msg/async/ProtocolV1.cc
  src/msg/async/crypto_onwire.cc
  src/msg/async/frames_v2.h
  src/msg/async/rdma/Infiniband.cc
  src/msg/async/rdma/RDMAConnectedSocketImpl.cc
  src/msg/async/rdma/RDMAIWARPConnectedSocketImpl.cc
  src/msg/async/rdma/RDMAIWARPServerSocketImpl.cc
  src/osd/osd_types.h
  src/osdc/Striper.cc
  src/rgw/rgw_civetweb_frontend.cc
  src/rgw/rgw_common.cc
  src/rgw/rgw_crypt.cc
  src/rgw/rgw_file.h
  src/rgw/rgw_http_client.cc
  src/rgw/rgw_ldap.cc
  src/rgw/rgw_swift_auth.cc
  src/rgw/rgw_torrent.cc
Labels: common, nautilus-batch-1, needs-qa, rgw, wip-yuri8-testing

#32550 qa/rgw: remove failing radosgw_admin_rest from multisite suite
  qa/suites/rgw/multisite/tasks/test_multi.yaml
Labels: rgw, tests, wip-cbodley-testing

#32534 rgw multisite: enforce spawn window for incremental data sync
  src/rgw/rgw_data_sync.cc
Labels: bug fix, needs-qa, rgw, wip-cbodley-testing

#32188 qa/rgw: add rgw_obj and throttle tests to rgw verify suite
  qa/suites/rgw/verify/tasks/cls.yaml
  qa/workunits/rgw/test_rgw_obj.sh
  qa/workunits/rgw/test_rgw_throttle.sh
  src/test/rgw/CMakeLists.txt
Labels: needs-qa, rgw, tests, wip-cbodley-testing

#31976 rgw: apply_olh_log ignores RGW_ATTR_OLH_VER decode error
  src/rgw/rgw_rados.cc
Labels: bug fix, needs-qa, rgw, wip-cbodley-testing, wip-eric-testing-1

#32425 cephadm: shell: do not bind ceph.conf twice
  src/cephadm/cephadm
Labels: cephadm, needs-review, orchestrator, wip-sage-testing

#31873 rgw: find oldest period and update RGWMetadataLogHistory()
  src/rgw/services/svc_mdlog.cc
Labels: bug fix, needs-qa, rgw

#31917 vstart: Remove duplicate option -N
  src/vstart.sh
Labels: build/ops, needs-review

#32086 nautilus: mgr: add 'rbd' profiles to support 'rbd_support' module commands
  PendingReleaseNotes
  doc/rados/operations/user-management.rst
  doc/rbd/rados-rbd-cmds.rst
  doc/rbd/rbd-openstack.rst
  qa/workunits/rbd/permissions.sh
  src/mgr/ActivePyModule.cc
  src/mgr/ActivePyModule.h
  src/mgr/ActivePyModules.cc
  src/mgr/ActivePyModules.h
  src/mgr/BaseMgrModule.cc
  src/mgr/CMakeLists.txt
  src/mgr/DaemonServer.cc
  src/mgr/DaemonServer.h
  src/mgr/MgrCap.cc
  src/mgr/MgrCap.h
  src/mgr/MgrSession.h
  src/mgr/PyModuleRegistry.cc
  src/mgr/PyModuleRegistry.h
  src/mon/AuthMonitor.cc
  src/mon/CMakeLists.txt
  src/mon/MonCap.cc
  src/mon/MonCap.h
  src/mon/Monitor.cc
  src/mon/OSDMonitor.cc
  src/mon/Session.h
  src/pybind/mgr/mgr_module.py
  src/pybind/mgr/rbd_support/module.py
  src/test/mgr/CMakeLists.txt
  src/test/mgr/test_mgrcap.cc
  src/test/mon/moncap.cc
Labels: core, feature, mgr, nautilus-batch-1, needs-qa, rbd, wip-yuri-testing

#32447 nautilus: rbd-mirror: fix 'rbd mirror status' asok command output
  src/tools/rbd_mirror/Mirror.cc
Labels: bug fix, nautilus-batch-1, needs-qa, rbd, wip-yuri-testing

#32593 nautilus: rbd-mirror: make logrotate work
  src/logrotate.conf
  src/tools/rbd_mirror/Mirror.cc
  src/tools/rbd_mirror/PoolReplayer.cc
  src/tools/rbd_mirror/PoolReplayer.h
  src/tools/rbd_mirror/main.cc
Labels: bug fix, nautilus-batch-1, needs-qa, rbd, wip-yuri-testing

#32599 luminous: rbd-mirror: make logrotate work
  src/logrotate.conf
  src/tools/rbd_mirror/Mirror.cc
  src/tools/rbd_mirror/PoolReplayer.cc
  src/tools/rbd_mirror/PoolReplayer.h
  src/tools/rbd_mirror/main.cc
Labels: bug fix, luminous-batch-1, needs-qa, rbd, wip-yuri5-testing

#32607 cmake: do not include global_context.cc multiple times
  src/CMakeLists.txt
  src/crimson/CMakeLists.txt
  src/global/CMakeLists.txt
  src/global/global_context.cc
  src/osd/CMakeLists.txt
Labels: build/ops, crimson, wip-kefu-testing

#32595 doc/install/upgrading-ceph: systemctl in Ubuntu instructions
  doc/install/upgrading-ceph.rst
Labels: build/ops, documentation

#29669 osd/PeeringState.h: Fix pg stuck in WaitActingChange
  src/osd/PeeringState.h
Labels: core, needs-test

#32491 cephadm: Add ability to deploy grafana container
  src/cephadm/cephadm
  src/cephadm/samples/grafana.json
Labels: cephadm, wip-swagner-testing

#32574 mgr/orchestrator: raise_if_exception: Add exception type to message
  src/pybind/mgr/orchestrator.py
Labels: needs-qa, orchestrator, wip-swagner-testing
