Repository ceph/ceph, pull requests merged in 2020-12, with the labels that each got.

#38315 Test mon scrub and exercise mon scrub error injectors
  qa/config/rados.yaml
  qa/suites/rados/monthrash/ceph.yaml
Labels: core, tests

#38083 mds: don't access mds->mdsmap without holding mds_lock
  src/mds/CDir.cc
  src/mds/CDir.h
Labels: bug fix, cephfs, needs-qa, wip-pdonnell-testing

#38093 qa: add debug information for client address for kclient
  qa/tasks/cephfs/kernel_mount.py
  qa/tasks/cephfs/mount.py
Labels: cephfs, needs-qa, tests, wip-pdonnell-testing

#38008 librbd: serialize maintenance operations by type
  src/librbd/ImageWatcher.cc
  src/librbd/ImageWatcher.h
  src/librbd/Operations.cc
  src/librbd/Operations.h
  src/librbd/Utils.cc
  src/librbd/Utils.h
  src/librbd/WatchNotifyTypes.cc
  src/librbd/WatchNotifyTypes.h
  src/test/librbd/test_ImageWatcher.cc
  src/test/librbd/test_librbd.cc
Labels: feature, needs-qa, rbd, wip-jason-testing

#38218 ElasticSearch sync module documentation: cleanup
  doc/radosgw/elastic-sync-module.rst
Labels: documentation

#38365 doc/mds: fix the default value for mds_dir_max_commit_size
  doc/cephfs/mds-config-ref.rst
Labels: cephfs, documentation

#36118 crimson: add support for backfill, part 1 -- unit testing
  src/crimson/osd/backfill_facades.h
  src/crimson/osd/backfill_state.cc
  src/crimson/osd/backfill_state.h
  src/crimson/osd/pg_recovery.cc
  src/crimson/osd/pg_recovery.h
  src/test/ObjectMap/test_object_map.cc
  src/test/crimson/CMakeLists.txt
  src/test/crimson/test_backfill.cc
  src/test/crimson/test_backfill_facades.h
  src/test/objectstore/test_idempotent.cc
  src/test/osd/RadosModel.h
  src/test/test_snap_mapper.cc
  src/test/xattr_bench.cc
Labels: bug fix, core, crimson, feature, tests

#38370 kv/memdb: fix uninitialized return of MemDB::_init().
  src/kv/MemDB.cc
Labels: cleanup, core

#38219 crimson: conditionally reload ObjectState if execution fails
  src/crimson/osd/ops_executer.h
  src/crimson/osd/pg.cc
  src/crimson/osd/pg.h
Labels: crimson

#38279 nautilus: ceph-volume batch: reject partitions in argparser
  src/ceph-volume/ceph_volume/devices/lvm/batch.py
  src/ceph-volume/ceph_volume/tests/devices/lvm/test_batch.py
  src/ceph-volume/ceph_volume/util/arg_validators.py
Labels: ceph-volume

#38034 lvm/create.py: fix a typo in the help message
  src/ceph-volume/ceph_volume/devices/lvm/create.py
Labels: ceph-volume, needs-review

#38366 doc: drop edit-on-github extension and templatize page.html further
  doc/_ext/edit_on_github.py
  doc/_static/js/ceph.js
  doc/_templates/page.html
  doc/conf.py
Labels: build/ops, documentation

#38311 doc/rados/operations: typo in stretch-mode.rst
  doc/rados/operations/stretch-mode.rst
Labels: core, documentation

#37933 rgw: check object locks in multi-object delete
  src/rgw/rgw_common.cc
  src/rgw/rgw_common.h
  src/rgw/rgw_op.cc
  src/rgw/rgw_op.h
  src/rgw/rgw_rest_s3.cc
Labels: bug fix, needs-qa, rgw, wip-eric-testing-1

#35059 rgw: S3 Put Bucket Policy should return 204 on success
  src/rgw/rgw_op.cc
Labels: bug fix, needs-qa, rgw, wip-eric-testing-1

#31393 rgw: avoid expiration early triggering caused by overflow
  src/rgw/rgw_lc.cc
Labels: bug fix, needs-qa, rgw, wip-eric-testing-1

#37733 cls/rgw/cls_rgw.cc: fix multiple lastest version problem
  src/cls/rgw/cls_rgw.cc
Labels: bug fix, needs-qa, rgw, wip-eric-testing-1

#35511 rgw: refactor boilerplate coroutine drain callers
  src/rgw/rgw_coroutine.cc
  src/rgw/rgw_coroutine.h
  src/rgw/rgw_data_sync.cc
Labels: cleanup, needs-qa, rgw, wip-eric-testing-1

#34462 rgw: belong the anonymous object to the bucket owner
  src/rgw/rgw_acl_s3.h
Labels: bug fix, needs-qa, rgw, wip-eric-testing-1

#38378 crimson/osd: add _with_lock method to obc
  src/crimson/osd/object_context.h
Labels: crimson

#38380 cmake: fix unknown pkg_search_module
  cmake/modules/Findlibcryptsetup.cmake
Labels: build/ops

#38327 debian/control: building wheel for cffi(no dependency)
  debian/control
Labels: arm64, build/ops, needs-qa

#38382 nautilus: mgr/insights: Test environment requires 'six'
  src/pybind/mgr/insights/tox.ini
Labels: mgr, tests

#38360 crimson/net: misc fixes and cleanups to messenger
  src/crimson/admin/admin_socket.cc
  src/crimson/admin/admin_socket.h
  src/crimson/common/errorator.h
  src/crimson/mgr/client.cc
  src/crimson/mgr/client.h
  src/crimson/mon/MonClient.cc
  src/crimson/mon/MonClient.h
  src/crimson/net/Connection.h
  src/crimson/net/Dispatcher.h
  src/crimson/net/Fwd.h
  src/crimson/net/Messenger.h
  src/crimson/net/Protocol.cc
  src/crimson/net/Protocol.h
  src/crimson/net/ProtocolV1.cc
  src/crimson/net/ProtocolV1.h
  src/crimson/net/ProtocolV2.cc
  src/crimson/net/ProtocolV2.h
  src/crimson/net/Socket.cc
  src/crimson/net/Socket.h
  src/crimson/net/SocketConnection.cc
  src/crimson/net/SocketConnection.h
  src/crimson/net/SocketMessenger.cc
  src/crimson/net/SocketMessenger.h
  src/crimson/net/chained_dispatchers.cc
  src/crimson/net/chained_dispatchers.h
  src/crimson/osd/heartbeat.cc
  src/crimson/osd/heartbeat.h
  src/crimson/osd/osd.cc
  src/crimson/osd/osd.h
  src/crimson/osd/osd_operations/client_request.cc
  src/crimson/osd/pg.cc
  src/crimson/osd/pg.h
  src/test/crimson/test_messenger.cc
  src/test/crimson/test_socket.cc
  src/tools/crimson/perf_crimson_msgr.cc
Labels: crimson, tests

#38371 nautilus: lvm/create.py: fix a typo in the help message
  src/ceph-volume/ceph_volume/devices/lvm/create.py
Labels: ceph-volume, nautilus-batch-1

#38372 nautilus: ceph-volume: implement the --log-level flag
  src/ceph-volume/ceph_volume/log.py
  src/ceph-volume/ceph_volume/main.py
  src/ceph-volume/ceph_volume/tests/test_main.py
Labels: ceph-volume

#38362 nautilus: mon scrub testing
  qa/config/rados.yaml
  qa/suites/rados/monthrash/ceph.yaml
Labels: core, tests

#37198 mgr/dashboard: Allow managing iSCSI Initiator after removing from group
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/iscsi-target-form/iscsi-target-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/iscsi-target-form/iscsi-target-form.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/iscsi-target-form/iscsi-target-form.component.ts
Labels: bug fix, dashboard, needs-review, skip-teuthology

#38019 mgr/dashboard: allow selecting all daemons for Orchestrator NFS clusters
  src/pybind/mgr/dashboard/frontend/src/app/ceph/nfs/nfs-cluster-type.enum.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/nfs/nfs-form/nfs-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/nfs/nfs-form/nfs-form.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/nfs/nfs-form/nfs-form.component.ts
Labels: dashboard, feature, needs-review, skip-teuthology

#38154 mgr/dashboard: Use pipe instead of calling function within template wherever possible
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/block.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-configuration-list/rbd-configuration-list.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-configuration-list/rbd-configuration-list.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-trash-list/rbd-trash-list.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-trash-list/rbd-trash-list.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-trash-list/rbd-trash-list.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cephfs/cephfs-directories/cephfs-directories.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/cluster.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/osd/osd-list/osd-list.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/osd/osd-list/osd-list.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/osd/osd-list/osd-list.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/services/service-daemon-list/service-daemon-list.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/services/service-daemon-list/service-daemon-list.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/services/service-daemon-list/service-daemon-list.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/services/service-details/service-details.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/pool/pool-form/pool-form.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-user-form/rgw-user-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-user-form/rgw-user-form.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-user-form/rgw-user-form.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/core/auth/auth.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/datatable/datatable.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/datatable/table-actions/table-actions.component.html
  src/pybind/mgr/dashboard/frontend/src/app/shared/datatable/table-actions/table-actions.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/datatable/table-actions/table-actions.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/datatable/table-key-value/table-key-value.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/datatable/table/table.component.html
  src/pybind/mgr/dashboard/frontend/src/app/shared/datatable/table/table.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/testing/unit-test-helper.ts
Labels: cleanup, dashboard, pybind

#38300 mgr/dashboard: SSO not working after REST API versioning
  src/pybind/mgr/dashboard/controllers/__init__.py
  src/pybind/mgr/dashboard/controllers/saml2.py
Labels: dashboard, pybind

#38171 rgw/notification: support GetTopicAttributes API
  PendingReleaseNotes
  doc/radosgw/notifications.rst
  doc/radosgw/pubsub-module.rst
  src/rgw/rgw_pubsub.cc
  src/rgw/rgw_pubsub.h
  src/rgw/rgw_rest_pubsub.cc
  src/rgw/rgw_rest_pubsub.h
  src/test/rgw/rgw_multi/tests_ps.py
  src/test/rgw/rgw_multi/zone_ps.py
Labels: documentation, feature, needs-release-note, rgw

#38136 rgw/notification: trigger notifications on changes from any user
  doc/radosgw/notifications.rst
  doc/radosgw/pubsub-module.rst
  src/rgw/rgw_admin.cc
  src/rgw/rgw_notify.cc
  src/rgw/rgw_pubsub.cc
  src/rgw/rgw_pubsub.h
  src/rgw/rgw_rest_pubsub.cc
  src/rgw/rgw_rest_pubsub_common.cc
  src/rgw/rgw_rest_pubsub_common.h
  src/rgw/rgw_sync_module_pubsub.cc
  src/rgw/rgw_sync_module_pubsub_rest.cc
Labels: bug fix, documentation, needs-review, rgw

#38397 test/crimson: adapt to the changes of messenger
  src/test/crimson/test_alien_echo.cc
  src/test/crimson/test_monc.cc
Labels: crimson, tests

#38390 crimson/osd: fix several obc related issues
  src/crimson/osd/object_context.h
  src/crimson/osd/pg.cc
  src/crimson/osd/replicated_recovery_backend.cc
Labels: crimson

#38320 cmake: do not always require extra link flags for std::filesystem
  CMakeLists.txt
  cmake/modules/FindStdFilesystem.cmake
  src/test/admin_socket_output.cc
  src/test/admin_socket_output.h
  src/test/common/test_util.cc
  src/test/immutable_object_cache/test_object_store.cc
  src/tools/immutable_object_cache/ObjectCacheStore.cc
Labels: build/ops, tests

#38383 doc/rbd: fix doc typos
  doc/rbd/iscsi-initiator-esx.rst
  doc/rbd/iscsi-requirements.rst
Labels: documentation, rbd

#38369 rgw_file: return common_prefixes in lexical order
  src/rgw/rgw_file.h
Labels: bug fix, rgw

#38033 client: do not use g_conf().get_val<>() in libcephfs
  src/client/Client.cc
  src/client/fuse_ll.cc
Labels: bug fix, cephfs, needs-qa, wip-pdonnell-testing

#38112 Revert "client: optimize rename operation under different quota root"
  src/client/Client.cc
Labels: cephfs, needs-qa, wip-pdonnell-testing

#38326 client: cleanup the handle_mds_map() code
  src/client/Client.cc
Labels: cephfs, cleanup, needs-qa, wip-pdonnell-testing

#38364 mds/CDir: make the data length as long as possible for each op
  src/mds/CDir.cc
Labels: cephfs, needs-qa, wip-pdonnell-testing

#38396 octopus: mgr/insights: Test environment requires 'six'
  src/pybind/mgr/insights/tox.ini
Labels: mgr, tests

#38386 Revert "rbd: add missing FileStream::get_size"
  src/librbd/migration/FileStream.cc
Labels: cleanup, needs-qa, rbd, wip-jason-testing

#38395 test/librbd: print difference if deep-copy or migration test fails
  src/test/librbd/test_DeepCopy.cc
  src/test/librbd/test_Migration.cc
Labels: needs-qa, rbd, tests, wip-jason-testing

#38385 librbd: use the ceph_memzero_s() wrapper instead of explicit_bzero().
  src/librbd/crypto/luks/FormatRequest.cc
Labels: cleanup, needs-qa, rbd, wip-jason-testing

#38361 octopus: mon scrub testing
  qa/config/rados.yaml
  qa/suites/rados/monthrash/ceph.yaml
Labels: core, tests

#38289 doc: add release notes for Octopus 15.2.7
  doc/releases/general.rst
  doc/releases/octopus.rst
  doc/releases/releases.yml
Labels: documentation

#38409 mgr/dashboard: fix wrong import in iscsi unit test
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/iscsi-target-form/iscsi-target-form.component.spec.ts
Labels: bug fix, dashboard, pybind, skip-teuthology

#38359 octopus: osd: Check for nosrub/nodeep-scrub in between chunks, to avoid races
  src/osd/PG.cc
Labels: core

#38412 cmake: Alter GIT_REPOSITORY for liburing
  cmake/modules/Builduring.cmake
Labels: build/ops, core

#37595 rgw/sts: adding code for creating oidc users in a backward
  src/rgw/rgw_auth.cc
Labels: rgw

#38167 rgw: disable prefetch in rgw_file to fix 3x read amplification
  src/rgw/rgw_file.h
  src/rgw/rgw_op.cc
Labels: bug fix, needs-qa

#38433 rgw: pass null_yield to ctl->user->read_stats()
  src/rgw/rgw_auth.cc
Labels: rgw

#37959 nautilus: monitoring: Use null yaxes min for OSD read latency
  monitoring/grafana/dashboards/osd-device-details.json
Labels: bug fix, dashboard, monitoring, skip-teuthology

#37548 rgw: send headers of quota settings
  examples/boto3/delete_notification.py
  examples/boto3/get_notification.py
  examples/boto3/list_unordered.py
  examples/boto3/notification_filters.py
  examples/boto3/service-2.sdk-extras.json
  examples/boto3/topic_with_endpoint.py
  src/rgw/rgw_op.cc
  src/rgw/rgw_rest_s3.cc
  src/rgw/rgw_rest_swift.cc
Labels: bug fix, feature, rgw

#38411 nautilus: osd: Check for nosrub/nodeep-scrub in between chunks, to avoid races
  src/osd/PG.cc
Labels: bug fix, core, nautilus-batch-1, needs-qa

#38358 librados: add RadosClient to conf observers
  src/librados/RadosClient.cc
Labels: bug fix, core, needs-qa, needs-review, wip-kefu-testing, wip-neha-testing

#38387 vstart.sh: add PATH in vstart_environment
  src/vstart.sh
Labels: build/ops

#38325 os/bluestore: Only pass that decremented nref to 0 deletes object
  src/os/bluestore/BlueStore.cc
Labels: bluestore, core, needs-qa, wip-kefu-testing

#38323 nasm-wrapper: Make nasm-wrapper OS independent
  src/nasm-wrapper
Labels: FreeBSD, build/ops, needs-qa, wip-kefu-testing

#38168 os/bluestore: Introduce plumbing necessary for garbage collecting zones.
  src/os/bluestore/Allocator.h
  src/os/bluestore/BlueStore.cc
  src/os/bluestore/BlueStore.h
  src/os/bluestore/ZonedAllocator.cc
  src/os/bluestore/ZonedAllocator.h
Labels: bluestore, core, needs-qa, wip-kefu-testing

#37631 pybind/rados: add Ioctx::aio_setxattr() and remove_omap_range2()
  src/pybind/rados/rados.pyx
  src/test/pybind/test_rados.py
Labels: needs-qa, pybind, tests, wip-kefu-testing

#38285 mgr/cephadm: Get host facts data in host cache
  src/cephadm/cephadm
  src/pybind/mgr/cephadm/inventory.py
  src/pybind/mgr/cephadm/module.py
  src/pybind/mgr/cephadm/serve.py
Labels: cephadm, needs-qa, pybind, ready-to-merge, wip-jmolmo-testing

#38416 nautilus: mgr/progress: delete all events over the wire
  src/pybind/mgr/progress/module.py
Labels: core, mgr, nautilus-batch-1, needs-qa, wip-yuri3-testing

#38379 librbd/migration: add thick-provisioned snapshot support to the raw format
  qa/suites/rbd/cli/workloads/rbd_cli_migration.yaml
  qa/workunits/rbd/cli_migration.sh
  src/librbd/CMakeLists.txt
  src/librbd/ImageState.cc
  src/librbd/api/Migration.cc
  src/librbd/image/RefreshParentRequest.cc
  src/librbd/migration/NativeFormat.cc
  src/librbd/migration/OpenSourceImageRequest.cc
  src/librbd/migration/OpenSourceImageRequest.h
  src/librbd/migration/RawFormat.cc
  src/librbd/migration/RawFormat.h
  src/librbd/migration/RawSnapshot.cc
  src/librbd/migration/RawSnapshot.h
  src/librbd/migration/SnapshotInterface.h
  src/librbd/migration/SourceSpecBuilder.cc
  src/librbd/migration/SourceSpecBuilder.h
  src/test/librbd/CMakeLists.txt
  src/test/librbd/migration/test_mock_RawFormat.cc
  src/test/librbd/migration/test_mock_RawSnapshot.cc
  src/test/librbd/mock/migration/MockSnapshotInterface.h
Labels: feature, rbd, tests, wip-mgolub-testing

#38432 mgr/dashboard: Fix for misleading "Orchestrator is not available" error
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/inventory/inventory.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/inventory/inventory.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/inventory/inventory.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/services/service-daemon-list/service-daemon-list.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/services/service-daemon-list/service-daemon-list.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/services/service-daemon-list/service-daemon-list.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/services/services.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/services/services.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/services/services.component.ts
Labels: dashboard, pybind, skip-teuthology

#38298 mgr/dashboard: refactor /api/orchestrator/* endpoints
  qa/tasks/mgr/dashboard/test_host.py
  qa/tasks/mgr/dashboard/test_orchestrator.py
  src/pybind/mgr/dashboard/controllers/host.py
  src/pybind/mgr/dashboard/controllers/orchestrator.py
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/inventory/inventory-devices/inventory-devices.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/inventory/inventory.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/inventory/inventory.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/osd/osd-form/osd-form.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/osd/osd-form/osd-form.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/host.service.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/host.service.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/orchestrator.service.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/orchestrator.service.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/services/task-message.service.ts
  src/pybind/mgr/dashboard/openapi.yaml
  src/pybind/mgr/dashboard/tests/test_host.py
  src/pybind/mgr/dashboard/tests/test_orchestrator.py
Labels: TESTED, bug fix, dashboard, pybind, ready-to-merge, tests

#38398 pybind/mgr: unpin urllib3
  src/pybind/mgr/requirements.txt
Labels: bug fix, cleanup, mgr, pybind

#38440 mgr/dashboard: fix trusted_ip_list in iSCSI service form
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/services/service-form/service-form.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/services/service-form/service-form.component.ts
Labels: bug fix, dashboard, orchestrator, pybind

#38403 doc/governance.rst - updating CLT list
  doc/governance.rst
Labels: documentation

#38399 rbd: Current pc value should be greater than last_pc
  src/tools/rbd/Utils.cc
Labels: bug fix, rbd

#38449 librbd: flush task finisher queue on unregistering watcher
  src/librbd/ImageWatcher.cc
  src/test/librbd/test_librbd.cc
Labels: bug fix, needs-qa, rbd, tests, wip-jason-testing

#37546 osd: refactoring tier_flush()
  src/common/CDC.cc
  src/common/CDC.h
  src/mon/MonCommands.h
  src/mon/OSDMonitor.cc
  src/osd/PrimaryLogPG.cc
  src/osd/PrimaryLogPG.h
  src/osd/osd_types.cc
  src/osd/osd_types.h
  src/test/common/test_cdc.cc
  src/test/librados/tier_cxx.cc
Labels: common, core, mon, tests

#36384 rgw:doc: document support for (Not)IpAddress in S3 policy
  doc/radosgw/bucketpolicy.rst
Labels: documentation, rgw, stale

#38400 pybind/rados: use rados_set_pool_full_try instead of the deprecated one
  src/pybind/rados/rados.pyx
Labels: cleanup, needs-review, pybind

#38436 mgr/prometheus: don't store exception as e
  src/pybind/mgr/prometheus/module.py
Labels: needs-qa, pybind, wip-kefu-testing

#38438 os/bluestore: fix inappropriate ENOSPC from avl/hybrid allocator
  src/os/bluestore/AvlAllocator.cc
  src/test/objectstore/Allocator_test.cc
Labels: bluestore, bug fix, core, needs-qa, tests, wip-kefu-testing

#37314 osd: optimize PG removal (part1)
  doc/rados/configuration/osd-config-ref.rst
  src/common/legacy_config_opts.h
  src/common/options.cc
  src/crimson/osd/pg.cc
  src/crimson/osd/pg.h
  src/os/bluestore/BlueStore.cc
  src/os/bluestore/BlueStore.h
  src/osd/PG.cc
  src/osd/PG.h
  src/osd/PeeringState.cc
  src/osd/PeeringState.h
Labels: bluestore, common, core, crimson, documentation, needs-qa, performance, wip-kefu-testing

#38410 mon: Delete logger in destructor
  src/mon/Monitor.cc
Labels: core, mon, needs-qa, wip-kefu-testing

#38314 mon: paxos: Delete logger in destructor
  src/mon/Paxos.cc
  src/mon/Paxos.h
Labels: bug fix, core, mon, needs-qa, wip-kefu-testing

#38401 test/lazy-omap-stats: Fix compilation on alpine linux
  src/test/lazy-omap-stats/lazy_omap_stats_test.h
Labels: needs-qa, tests, wip-kefu-testing

#37543 docs: With the addition of STS x-amz-security-token is now supported
  doc/radosgw/s3.rst
Labels: rgw

#35821 osd/ECBackend: optimize remaining read as readop contain multiple objects
  src/osd/ECBackend.cc
  src/osd/ECBackend.h
Labels: core, needs-review, stale

#38389 librbd: fix regression in object map diff request
  src/librbd/deep_copy/ImageCopyRequest.cc
  src/librbd/deep_copy/ImageCopyRequest.h
  src/librbd/object_map/DiffRequest.cc
Labels: bug fix, needs-qa, rbd, wip-jason-testing

#38442 cmake: require fmt 6.0.0 and up
  src/CMakeLists.txt
Labels: bug fix, build/ops, core, needs-qa, wip-kefu-testing

#38324 mon: drop QuorumService and cleanups.
  src/doc/mon-janitorial-queue.txt
  src/doc/mon-wishlist.txt
  src/mon/AuthMonitor.cc
  src/mon/AuthMonitor.h
  src/mon/ConfigKeyService.cc
  src/mon/ConfigKeyService.h
  src/mon/ConfigMonitor.cc
  src/mon/ConfigMonitor.h
  src/mon/HealthMonitor.cc
  src/mon/HealthMonitor.h
  src/mon/LogMonitor.cc
  src/mon/LogMonitor.h
  src/mon/MDSMonitor.cc
  src/mon/MDSMonitor.h
  src/mon/MgrMonitor.cc
  src/mon/MgrMonitor.h
  src/mon/MgrStatMonitor.cc
  src/mon/MgrStatMonitor.h
  src/mon/Monitor.cc
  src/mon/Monitor.h
  src/mon/MonmapMonitor.cc
  src/mon/MonmapMonitor.h
  src/mon/OSDMonitor.cc
  src/mon/OSDMonitor.h
  src/mon/Paxos.cc
  src/mon/Paxos.h
  src/mon/PaxosService.cc
  src/mon/PaxosService.h
  src/mon/QuorumService.h
Labels: cleanup, core, mon, needs-review

#38356 doc/radosgw: Fix misspelled word in index.rst
  doc/radosgw/index.rst
Labels: documentation

#36986 crimson/seastore: add initial onode staged-fltree
  src/common/hobject.h
  src/crimson/os/seastore/CMakeLists.txt
  src/crimson/os/seastore/cache.cc
  src/crimson/os/seastore/cache.h
  src/crimson/os/seastore/cached_extent.h
  src/crimson/os/seastore/lba_manager/btree/btree_lba_manager.cc
  src/crimson/os/seastore/onode_manager/staged-fltree/fwd.h
  src/crimson/os/seastore/onode_manager/staged-fltree/node.cc
  src/crimson/os/seastore/onode_manager/staged-fltree/node.h
  src/crimson/os/seastore/onode_manager/staged-fltree/node_delta_recorder.h
  src/crimson/os/seastore/onode_manager/staged-fltree/node_extent_accessor.h
  src/crimson/os/seastore/onode_manager/staged-fltree/node_extent_manager.cc
  src/crimson/os/seastore/onode_manager/staged-fltree/node_extent_manager.h
  src/crimson/os/seastore/onode_manager/staged-fltree/node_extent_manager/dummy.h
  src/crimson/os/seastore/onode_manager/staged-fltree/node_extent_manager/seastore.cc
  src/crimson/os/seastore/onode_manager/staged-fltree/node_extent_manager/seastore.h
  src/crimson/os/seastore/onode_manager/staged-fltree/node_extent_mutable.cc
  src/crimson/os/seastore/onode_manager/staged-fltree/node_extent_mutable.h
  src/crimson/os/seastore/onode_manager/staged-fltree/node_impl.cc
  src/crimson/os/seastore/onode_manager/staged-fltree/node_impl.h
  src/crimson/os/seastore/onode_manager/staged-fltree/node_layout.h
  src/crimson/os/seastore/onode_manager/staged-fltree/node_layout_replayable.h
  src/crimson/os/seastore/onode_manager/staged-fltree/node_types.h
  src/crimson/os/seastore/onode_manager/staged-fltree/stages/item_iterator_stage.cc
  src/crimson/os/seastore/onode_manager/staged-fltree/stages/item_iterator_stage.h
  src/crimson/os/seastore/onode_manager/staged-fltree/stages/key_layout.cc
  src/crimson/os/seastore/onode_manager/staged-fltree/stages/key_layout.h
  src/crimson/os/seastore/onode_manager/staged-fltree/stages/node_stage.cc
  src/crimson/os/seastore/onode_manager/staged-fltree/stages/node_stage.h
  src/crimson/os/seastore/onode_manager/staged-fltree/stages/node_stage_layout.cc
  src/crimson/os/seastore/onode_manager/staged-fltree/stages/node_stage_layout.h
  src/crimson/os/seastore/onode_manager/staged-fltree/stages/stage.h
  src/crimson/os/seastore/onode_manager/staged-fltree/stages/stage_types.h
  src/crimson/os/seastore/onode_manager/staged-fltree/stages/sub_items_stage.cc
  src/crimson/os/seastore/onode_manager/staged-fltree/stages/sub_items_stage.h
  src/crimson/os/seastore/onode_manager/staged-fltree/super.cc
  src/crimson/os/seastore/onode_manager/staged-fltree/super.h
  src/crimson/os/seastore/onode_manager/staged-fltree/tree.cc
  src/crimson/os/seastore/onode_manager/staged-fltree/tree.h
  src/crimson/os/seastore/onode_manager/staged-fltree/tree_types.h
  src/crimson/os/seastore/onode_manager/staged-fltree/tree_utils.h
  src/crimson/os/seastore/root_block.h
  src/crimson/os/seastore/seastore_types.cc
  src/crimson/os/seastore/seastore_types.h
  src/crimson/os/seastore/transaction_manager.h
  src/test/crimson/seastore/onode_tree/CMakeLists.txt
  src/test/crimson/seastore/onode_tree/test_staged_fltree.cc
  src/tools/crimson/CMakeLists.txt
  src/tools/crimson/perf_staged_fltree.cc
Labels: common, crimson, tests

#38155 octopus: cephadm batch backport November
  doc/man/8/cephadm.rst
  doc/mgr/orchestrator.rst
  doc/rados/operations/devices.rst
  qa/distros/all/ubuntu_18.04_podman.yaml
  qa/tasks/cephadm.py
  src/cephadm/cephadm
  src/mypy.ini
  src/pybind/mgr/cephadm/module.py
  src/pybind/mgr/cephadm/schedule.py
  src/pybind/mgr/cephadm/serve.py
  src/pybind/mgr/cephadm/services/cephadmservice.py
  src/pybind/mgr/cephadm/services/iscsi.py
  src/pybind/mgr/cephadm/services/monitoring.py
  src/pybind/mgr/cephadm/services/nfs.py
  src/pybind/mgr/cephadm/services/osd.py
  src/pybind/mgr/cephadm/template.py
  src/pybind/mgr/cephadm/templates/blink_device_light_cmd.j2
  src/pybind/mgr/cephadm/templates/services/nfs/ganesha.conf.j2
  src/pybind/mgr/cephadm/templates/services/prometheus/prometheus.yml.j2
  src/pybind/mgr/cephadm/tests/fixtures.py
  src/pybind/mgr/cephadm/tests/test_cephadm.py
  src/pybind/mgr/cephadm/tests/test_migration.py
  src/pybind/mgr/cephadm/tests/test_scheduling.py
  src/pybind/mgr/cephadm/tests/test_upgrade.py
  src/pybind/mgr/cephadm/upgrade.py
  src/pybind/mgr/orchestrator/module.py
  src/python-common/ceph/deployment/inventory.py
Labels: cephadm, documentation, mgr, orchestrator

#38460 rgw: removing a pessimizing move
  src/rgw/rgw_sal_rados.h
Labels: rgw

#38317 mgr/cephadm: OSD service: reduce log noise
  src/pybind/mgr/cephadm/services/osd.py
Labels: cephadm, pybind, wip-swagner-testing

#38130 mgr/cephadm: upgrade: fail gracefully, if daemon redeploy fails
  src/pybind/mgr/cephadm/upgrade.py
Labels: cephadm, needs-qa, wip-swagner-testing

#38064 mgr/cephadm: verify the `host` key exists during refresh
  src/pybind/mgr/cephadm/inventory.py
Labels: cephadm, wip-mgfritch-testing, wip-swagner3-testing

#38032 cephadm: reference the last local image by digest
  src/cephadm/cephadm
  src/cephadm/tests/test_cephadm.py
Labels: cephadm, needs-qa, wip-mgfritch-testing, wip-swagner3-testing

#37952 mgr/cephadm: handle JSONDecodeError
  src/pybind/mgr/cephadm/module.py
  src/pybind/mgr/cephadm/serve.py
  src/pybind/mgr/cephadm/services/osd.py
  src/pybind/mgr/cephadm/utils.py
Labels: cephadm, wip-mgfritch-testing, wip-swagner3-testing

#38346 mgr/orchestrator: Remove 'CONTAINER ID' col from orch ps if unknown
  src/pybind/mgr/orchestrator/module.py
Labels: needs-qa, needs-review, orchestrator, pybind, wip-swagner2-testing

#38106 mgr/rook: Fix container id and image id in 'orch ps'
  src/pybind/mgr/rook/module.py
  src/pybind/mgr/rook/rook_cluster.py
Labels: bug fix, needs-review, orchestrator, pybind, rook, wip-swagner2-testing

#38483 crimson: cleanups
  src/crimson/os/seastore/onode_manager/staged-fltree/stages/stage_types.h
  src/crimson/osd/pg.cc
Labels: cleanup

#37130 cephadm:Add a daemon mode for cephadm to provide a metadata endpoint
  src/cephadm/cephadm
  src/cephadm/tests/fixtures.py
  src/cephadm/tests/test_cephadm.py
  src/pybind/mgr/cephadm/module.py
  src/pybind/mgr/cephadm/services/cephadmservice.py
  src/pybind/mgr/cephadm/tests/fixtures.py
  src/pybind/mgr/cephadm/tests/test_cephadm.py
  src/pybind/mgr/cephadm/tests/test_services.py
  src/pybind/mgr/cephadm/tests/test_spec.py
  src/pybind/mgr/mgr_util.py
  src/pybind/mgr/orchestrator/_interface.py
  src/pybind/mgr/orchestrator/module.py
  src/pybind/mgr/tests/test_tls.py
  src/python-common/ceph/deployment/service_spec.py
Labels: cephadm, orchestrator, ready-to-merge

#38208 mgr/cephadm: make type annotations mandatory for some modules
  src/mypy.ini
  src/pybind/mgr/cephadm/inventory.py
  src/pybind/mgr/cephadm/schedule.py
  src/pybind/mgr/cephadm/serve.py
  src/pybind/mgr/cephadm/upgrade.py
Labels: cephadm, pybind

#38392 crimson: use explicit, abstract interfaces for backfill's facades.
  src/crimson/osd/backfill_facades.h
  src/crimson/osd/backfill_state.cc
  src/crimson/osd/backfill_state.h
  src/crimson/osd/pg.h
  src/crimson/osd/pg_recovery.cc
  src/test/crimson/CMakeLists.txt
  src/test/crimson/test_backfill.cc
  src/test/crimson/test_backfill_facades.h
Labels: cleanup, crimson, tests

#38374 crimson: add support for backfill, part 2 -- MOSDPGBackfillRemove
  src/crimson/osd/backfill_state.cc
  src/crimson/osd/backfill_state.h
  src/crimson/osd/osd.cc
  src/crimson/osd/pg.h
  src/crimson/osd/pg_recovery.cc
  src/crimson/osd/pg_recovery.h
  src/crimson/osd/recovery_backend.cc
  src/crimson/osd/recovery_backend.h
  src/test/crimson/test_backfill.cc
Labels: crimson, feature, tests

#37956 examples/boto3/README: examples notification
  examples/boto3/README.md
  examples/boto3/topic_attributes.py
Labels: documentation, rgw

#38419 vstart_runner: print result line unless opt_rotate_log is set
  qa/tasks/vstart_runner.py
Labels: bug fix, needs-qa, tests, vstart_runner, wip-pdonnell-testing

#38418 doc: clarify osd recovery op priority and fix a couple of typos
  doc/dev/osd_internals/backfill_reservation.rst
  doc/rados/configuration/osd-config-ref.rst
Labels: core, documentation

#38458 librados: move definition of cct_deleter to .cc
  src/librados/RadosClient.cc
  src/librados/RadosClient.h
Labels: cleanup, core, needs-qa, wip-kefu-testing

#38454 compressor: put Compressor into TOPNSPC namespace and use string_view
  src/compressor/CompressionPlugin.h
  src/compressor/Compressor.cc
  src/compressor/Compressor.h
Labels: cleanup, common, needs-qa, wip-kefu-testing

#38437 os/bluestore: add more means to troubleshoot allocator(s)
  src/os/bluestore/Allocator.cc
  src/os/bluestore/Allocator.h
  src/os/bluestore/AvlAllocator.cc
  src/os/bluestore/AvlAllocator.h
  src/os/bluestore/BitmapAllocator.cc
  src/os/bluestore/BitmapAllocator.h
  src/os/bluestore/BlueFS.cc
  src/os/bluestore/BlueFS.h
  src/os/bluestore/BlueStore.cc
  src/os/bluestore/HybridAllocator.h
  src/os/bluestore/StupidAllocator.cc
  src/os/bluestore/StupidAllocator.h
  src/test/objectstore/CMakeLists.txt
  src/test/objectstore/allocator_replay_test.cc
Labels: bluestore, core, feature, needs-qa, tests, wip-kefu-testing

#38491 os/bluestore: Fix HMSMRDevice.cc compilation.
  src/blk/zoned/HMSMRDevice.cc
Labels: bluestore, core

#38457 mon: use TYPE_SEC for mon_scrub_interval
  doc/rados/configuration/mon-config-ref.rst
  src/common/Timer.cc
  src/common/Timer.h
  src/common/legacy_config_opts.h
  src/common/options.cc
  src/mon/Monitor.cc
  src/mon/Monitor.h
Labels: common, core, documentation, mon, needs-qa, wip-kefu-testing

#38415 msg/async: refine worker creation in NetworkStack
  src/msg/async/PosixStack.h
  src/msg/async/Stack.cc
  src/msg/async/Stack.h
  src/msg/async/dpdk/DPDKStack.h
  src/msg/async/rdma/RDMAStack.h
Labels: cleanup, core, messenger

#38498 mgr/dashboard: remove pyOpenSSL version pinning
  src/pybind/mgr/dashboard/constraints.txt
Labels: bug fix, dashboard, pybind

#37519 doc/dev/cephadm: high level design for a compliance check feature
  doc/dev/cephadm/compliance-check.rst
  doc/dev/cephadm/index.rst
Labels: cephadm, documentation, orchestrator, ready-to-merge

#38459 rgw/lua: fixing incompatible declarations of CephContext
  src/rgw/rgw_lua_utils.h
Labels: rgw

#38426 octopus: ceph-volume: implement the --log-level flag
  src/ceph-volume/ceph_volume/log.py
  src/ceph-volume/ceph_volume/main.py
  src/ceph-volume/ceph_volume/tests/test_main.py
Labels: ceph-volume

#38280 octopus: ceph-volume batch: reject partitions in argparser
  src/ceph-volume/ceph_volume/devices/lvm/batch.py
  src/ceph-volume/ceph_volume/tests/devices/lvm/test_batch.py
  src/ceph-volume/ceph_volume/util/arg_validators.py
Labels: ceph-volume

#38199 octopus: ceph-volume: fix filestore/dmcrypt activate
  src/ceph-volume/ceph_volume/devices/lvm/prepare.py
  src/ceph-volume/ceph_volume/tests/devices/lvm/test_prepare.py
Labels: ceph-volume

#38047 octopus: ceph-volume: remove mention of dmcache from docs and help text
  doc/ceph-volume/intro.rst
  src/ceph-volume/ceph_volume/devices/lvm/main.py
  src/ceph-volume/ceph_volume/tests/devices/lvm/test_prepare.py
Labels: ceph-volume

#38014 octopus: ceph-volume: consume mount opt in simple activate
  src/ceph-volume/ceph_volume/devices/simple/activate.py
Labels: ceph-volume

#38205 octopus: ceph-volume: prepare: use *-slots arguments for implicit sizing
  src/ceph-volume/ceph_volume/api/lvm.py
  src/ceph-volume/ceph_volume/devices/lvm/prepare.py
  src/ceph-volume/ceph_volume/tests/api/test_lvm.py
  src/ceph-volume/ceph_volume/util/device.py
Labels: ceph-volume

#38484 mgr/dashboard: Updating the inbuilt ssl providers error
  src/pybind/mgr/dashboard/cherrypy_backports.py
Labels: bug fix, dashboard, pybind

#37971 librbd/cache: make image persistent writeback cache as plugin
  src/librbd/CMakeLists.txt
  src/librbd/PluginRegistry.cc
  src/librbd/PluginRegistry.h
  src/librbd/cache/Utils.cc
  src/librbd/cache/Utils.h
  src/librbd/cache/WriteLogImageDispatch.cc
  src/librbd/cache/WriteLogImageDispatch.h
  src/librbd/cache/pwl/AbstractWriteLog.cc
  src/librbd/cache/pwl/AbstractWriteLog.h
  src/librbd/cache/pwl/DiscardRequest.cc
  src/librbd/cache/pwl/DiscardRequest.h
  src/librbd/cache/pwl/ImageCacheState.cc
  src/librbd/cache/pwl/ImageCacheState.h
  src/librbd/cache/pwl/InitRequest.cc
  src/librbd/cache/pwl/InitRequest.h
  src/librbd/cache/pwl/LogEntry.h
  src/librbd/cache/pwl/LogMap.cc
  src/librbd/cache/pwl/LogOperation.cc
  src/librbd/cache/pwl/ReplicatedWriteLog.cc
  src/librbd/cache/pwl/ReplicatedWriteLog.h
  src/librbd/cache/pwl/SSDWriteLog.cc
  src/librbd/cache/pwl/SSDWriteLog.h
  src/librbd/cache/pwl/ShutdownRequest.cc
  src/librbd/cache/pwl/ShutdownRequest.h
  src/librbd/cache/pwl/Types.cc
  src/librbd/cache/pwl/Types.h
  src/librbd/exclusive_lock/PostAcquireRequest.cc
  src/librbd/exclusive_lock/PostAcquireRequest.h
  src/librbd/exclusive_lock/PreReleaseRequest.cc
  src/librbd/exclusive_lock/PreReleaseRequest.h
  src/librbd/internal.cc
  src/librbd/plugin/Api.cc
  src/librbd/plugin/Api.h
  src/librbd/plugin/ParentCache.cc
  src/librbd/plugin/ParentCache.h
  src/librbd/plugin/Types.h
  src/librbd/plugin/WriteLogImageCache.cc
  src/librbd/plugin/WriteLogImageCache.h
  src/test/librbd/CMakeLists.txt
  src/test/librbd/cache/pwl/test_mock_ReplicatedWriteLog.cc
  src/test/librbd/exclusive_lock/test_mock_PostAcquireRequest.cc
  src/test/librbd/exclusive_lock/test_mock_PreReleaseRequest.cc
  src/test/librbd/mock/MockImageCtx.h
  src/test/librbd/mock/MockPluginRegistry.h
Labels: cleanup, core, feature, rbd, tests, wip-jason-testing

#36127 client: more reasonable statfs ffree
  src/client/Client.cc
Labels: cephfs, needs-qa, wip-pdonnell-testing

#38367 pybind/cephfs: fix missing terminating NULL char in readlink()'s C string
  src/pybind/cephfs/cephfs.pyx
Labels: cephfs, needs-qa, pybind, wip-pdonnell-testing

#38266 client: add ceph.{cluster_fsid/client_id} vxattrs suppport
  src/client/Client.cc
  src/client/Client.h
Labels: cephfs, feature, needs-qa, wip-pdonnell-testing

#38472 test: cancelling both noscrub *and* nodeep-scrub
  qa/standalone/scrub/osd-scrub-test.sh
Labels: core, tests

#38329 doc/dev/cephadm: document the cephadm exporter design
  doc/dev/cephadm/cephadm-exporter.rst
  doc/dev/cephadm/index.rst
Labels: cephadm, documentation, needs-rebase

#38431 pybind,doc: build stub using cython and build API doc with RTD
  admin/build-doc
  admin/doc-read-the-docs.txt
  doc/conf.py
  src/pybind/cephfs/c_cephfs.pxd
  src/pybind/cephfs/cephfs.pyx
  src/pybind/cephfs/mock_cephfs.pxi
  src/pybind/cephfs/setup.py
  src/pybind/cephfs/types.pxd
  src/pybind/rados/c_rados.pxd
  src/pybind/rados/ctime.pxd
  src/pybind/rados/mock_rados.pxi
  src/pybind/rados/rados.pxd
  src/pybind/rados/rados.pyx
  src/pybind/rados/setup.py
  src/pybind/rbd/c_rbd.pxd
  src/pybind/rbd/ctime.pxd
  src/pybind/rbd/mock_rbd.pxi
  src/pybind/rbd/rbd.pyx
  src/pybind/rbd/setup.py
  src/pybind/rgw/c_rgw.pxd
  src/pybind/rgw/cstat.pxd
  src/pybind/rgw/mock_rgw.pxi
  src/pybind/rgw/rgw.pyx
  src/pybind/rgw/setup.py
Labels: build/ops, cephfs, documentation, needs-review, pybind, rbd, rgw

#38212 mgr/cephadm: make type annotations for module.py mandatory
  src/mypy.ini
  src/pybind/mgr/cephadm/module.py
  src/pybind/mgr/cephadm/services/iscsi.py
  src/pybind/mgr/cephadm/services/nfs.py
  src/pybind/mgr/cephadm/services/osd.py
  src/pybind/mgr/cephadm/tests/test_cephadm.py
Labels: cephadm, needs-qa, pybind, ready-to-merge

#38441 mgr/dashboard: adjust refresh intervals of Services and Daemons
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/services/service-daemon-list/service-daemon-list.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/services/services.component.html
Labels: bug fix, dashboard, needs-review, pybind, skip-teuthology

#38435 mgr/dashboard: test_standby* (tasks.mgr.test_dashboard.TestDashboard) failed locally
  qa/tasks/mgr/test_dashboard.py
Labels: TESTED, bug fix, dashboard, ready-to-merge, tests

#36551 tools: add throttle mechanism to immutable object cache
  qa/tasks/mgr/dashboard/test_cluster_configuration.py
  src/common/options.cc
  src/common/options.h
  src/librbd/cache/ParentCacheObjectDispatch.cc
  src/mgr/PyUtil.cc
  src/test/immutable_object_cache/MockCacheDaemon.h
  src/test/immutable_object_cache/test_DomainSocket.cc
  src/test/immutable_object_cache/test_message.cc
  src/test/immutable_object_cache/test_multi_session.cc
  src/test/immutable_object_cache/test_object_store.cc
  src/test/librbd/cache/test_mock_ParentCacheObjectDispatch.cc
  src/tools/immutable_object_cache/CacheClient.cc
  src/tools/immutable_object_cache/CacheClient.h
  src/tools/immutable_object_cache/CacheController.cc
  src/tools/immutable_object_cache/ObjectCacheStore.cc
  src/tools/immutable_object_cache/ObjectCacheStore.h
  src/tools/immutable_object_cache/Types.cc
  src/tools/immutable_object_cache/Types.h
Labels: common, core, dashboard, feature, mgr, rbd, tests, wip-jason-testing

#38009 qa/tasks/cephadm: update_info_yam() only if ctx.archive is valid
  qa/tasks/ceph.py
  qa/tasks/cephadm.py
Labels: cephadm, tests, wip-swagner-testing

#38470 cephadm: command_unit: call systemctl with verbose=True
  src/cephadm/cephadm
Labels: cephadm, wip-swagner-testing

#38524 qa/suites: add crimson-rados/rbd test suites
  qa/suites/crimson-rados/rbd/%
  qa/suites/crimson-rados/rbd/.qa
  qa/suites/crimson-rados/rbd/centos_latest.yaml
  qa/suites/crimson-rados/rbd/ceph.yaml
  qa/suites/crimson-rados/rbd/clusters/.qa
  qa/suites/crimson-rados/rbd/clusters/fixed-1.yaml
  qa/suites/crimson-rados/rbd/tasks/rbd_api_tests_old_format.yaml
  qa/suites/crimson-rados/rbd/tasks/rbd_cls_tests.yaml
  qa/suites/crimson-rados/rbd/tasks/rbd_lock_and_fence.yaml
  qa/suites/crimson-rados/rbd/tasks/rbd_python_api_tests_old_format.yaml
Labels: crimson, tests

#38131 rgwlc: correctly dimension lc shard index vector
  src/rgw/rgw_lc.cc
Labels: bug fix, needs-qa, rgw

#37909 mgr: Fix for dashboard/prometheus failure due to laggy pg state
  src/pybind/mgr/prometheus/module.py
Labels: bug fix, dashboard, mgr, monitoring, pybind, wip-kefu-testing

#37926 rgw : catch non int exception
  src/rgw/rgw_auth.cc
Labels: needs-qa, rgw, wip-hmunjulu01-testing

#38075 rgw: fix RequestTimeTooSkewed when Date contain RFC-822/ISO 8601 standard timezone
  src/rgw/rgw_auth_s3.cc
Labels: bug fix, needs-qa, rgw, wip-hmunjulu01-testing

#38490 src,qa,dashboard: Upgrade to mypy 0.790
  qa/tox.ini
  src/cephadm/tox.ini
  src/pybind/mgr/dashboard/tools.py
  src/pybind/mgr/tox.ini
  src/python-common/requirements.txt
Labels: cephadm, cleanup, dashboard, mgr, pybind

#38518 test/librbd: fix memory leak in TestLibRBD.ConcurentOperations
  src/test/librbd/test_librbd.cc
Labels: bug fix, needs-qa, rbd, tests

#38408 librbd: extend group snap create API to support flags
  src/include/rbd/librbd.h
  src/include/rbd/librbd.hpp
  src/librbd/api/Group.cc
  src/librbd/api/Group.h
  src/librbd/librbd.cc
  src/pybind/rbd/c_rbd.pxd
  src/pybind/rbd/mock_rbd.pxi
  src/pybind/rbd/rbd.pyx
  src/test/cli/rbd/help.t
  src/test/librbd/test_Groups.cc
  src/test/pybind/test_rbd.py
  src/tools/rbd/action/Group.cc
Labels: feature, pybind, rbd, tests

#38157 github/labeler: Add some more to cephadm, add orchestrator
  .github/labeler.yml
Labels: CI

#38523 install-deps.sh: do not use gcc-toolset-9 from copr
  install-deps.sh
Labels: build/ops, cleanup, needs-qa

#35314 doc/radosgw: Note that ElasticSearch 7 doesn't work. Just 6 and lower.
  doc/radosgw/elastic-sync-module.rst
Labels: documentation

#38516 cmake: stop rebuilding rocksdb everytime
  cmake/modules/BuildRocksDB.cmake
Labels: build/ops, cleanup, wip-kefu-testing

#38501 test/crimson: do not link against crimson-{os,common}
  cmake/modules/AddCephTest.cmake
  qa/standalone/misc/ver-health.sh
  src/common/admin_socket.cc
  src/common/options.cc
  src/common/util.cc
  src/common/version.cc
  src/common/version.h
  src/crimson/admin/admin_socket.cc
  src/crimson/os/alienstore/CMakeLists.txt
  src/crimson/os/seastore/CMakeLists.txt
  src/crimson/osd/recovery_backend.cc
  src/global/signal_handler.cc
  src/libcephfs.cc
  src/mon/Monitor.cc
  src/test/crimson/CMakeLists.txt
  src/test/crimson/seastore/CMakeLists.txt
  src/test/crimson/seastore/onode_tree/CMakeLists.txt
  src/tools/immutable_object_cache/CacheClient.cc
Labels: bug fix, build/ops, cephfs, common, core, crimson, mon, tests, wip-kefu-testing

#38453 mgr/crash: Serialize command handling
  src/pybind/mgr/crash/module.py
Labels: mgr, needs-qa, pybind, wip-kefu-testing

#38417 osd/OSDMonitor: correct duplicated output info
  src/mon/OSDMonitor.cc
Labels: core, mon, needs-qa, wip-hmunjulu02-testing, wip-kefu-testing
