Repository ceph/ceph, pull requests merged in 2020-10, with the labels that each got.

#37499 mgr/dashboard: Enable Angular's debug tools when using dev mode
  src/pybind/mgr/dashboard/frontend/src/main.ts
Labels: dashboard, ready-to-merge, skip-teuthology

#37468 nautilus: rbd: include RADOS namespace in krbd symlinks
  qa/suites/krbd/rbd-nomount/tasks/krbd_udev_symlinks.yaml
  qa/workunits/rbd/krbd_udev_symlinks.sh
  src/ceph-rbdnamer
  udev/50-rbd.rules
Labels: nautilus-batch-1, needs-qa, rbd, wip-yuri8-testing

#37469 nautilus: qa/workunits/mon: fixed excessively large pool PG count
  qa/workunits/mon/rbd_snaps_ops.sh
Labels: nautilus-batch-1, needs-qa, rbd, tests, wip-yuri8-testing

#37238 rgw: rgw_sync_obj_etag_verify accounts for compressed multipart uploads
  src/rgw/rgw_compression.cc
  src/rgw/rgw_compression.h
  src/rgw/rgw_etag_verifier.cc
  src/rgw/rgw_etag_verifier.h
  src/rgw/rgw_rados.cc
Labels: bug fix, rgw, wip-cbodley-testing

#37406 librbd/cache: Refactor common code for RWL and SSD
  src/librbd/cache/pwl/AbstractWriteLog.cc
  src/librbd/cache/pwl/AbstractWriteLog.h
  src/librbd/cache/pwl/ReplicatedWriteLog.cc
  src/librbd/cache/pwl/ReplicatedWriteLog.h
  src/librbd/cache/pwl/Request.cc
Labels: needs-review, rbd

#37447 nautilus: qa/ceph-ansible: Bump required ansible to 2.9
  qa/suites/ceph-ansible/smoke/basic/2-ceph/ceph_ansible.yaml
Labels: bug fix, nautilus-batch-1, needs-qa, tests, wip-yuri2-testing

#37471 nautilus: pybind/mgr/balancer: use "==" and "!=" for comparing str
  src/pybind/mgr/balancer/module.py
Labels: core, nautilus-batch-1, needs-qa, pybind, wip-yuri2-testing

#37470 nautilus: common, osd: add sanity checks around osd_scrub_max_preemptions
  src/common/options.cc
  src/osd/PG.cc
Labels: common, nautilus-batch-1, needs-qa, wip-yuri2-testing

#37473 nautilus: osd/PeeringState: prevent peer's num_objects going negative
  src/osd/PG.cc
Labels: core, nautilus-batch-1, needs-qa, wip-yuri2-testing

#37474 nautilus: mon: fix the 'Error ERANGE' message when conf "osd_objectstore" is filestore
  src/mon/OSDMonitor.cc
Labels: core, nautilus-batch-1, needs-qa, wip-yuri2-testing

#37475 nautilus: tools/rados: Set locator key when exporting or importing a pool
  src/tools/rados/PoolDump.cc
  src/tools/rados/RadosImport.cc
Labels: nautilus-batch-1, needs-qa, tools, wip-yuri2-testing

#37476 nautilus: mgr: decrease pool stats if pg was removed
  src/mon/PGMap.cc
Labels: core, nautilus-batch-1, needs-qa, wip-yuri2-testing

#37477 nautilus: tools/osdmaptool.cc: add ability to clean_temps
  doc/man/8/osdmaptool.rst
  src/test/cli/osdmaptool/help.t
  src/tools/osdmaptool.cc
Labels: nautilus-batch-1, needs-qa, tools, wip-yuri2-testing

#37478 nautilus: qa/*/mon/mon-last-epoch-clean.sh: mark osd out instead of down
  qa/standalone/mon/mon-last-epoch-clean.sh
Labels: core, nautilus-batch-1, needs-qa, tests, wip-yuri2-testing

#37392 admin: pass --use-feature=2020-resolver to pip
  admin/build-doc
Labels: build/ops, cleanup, documentation

#36473 mds: remove snap past parents compat code
  PendingReleaseNotes
  src/include/ceph_fs.h
  src/mds/CDir.cc
  src/mds/CInode.cc
  src/mds/MDCache.cc
  src/mds/MDCache.h
  src/mds/MDSRank.cc
  src/mds/MDSRank.h
  src/mds/Server.cc
  src/mds/SnapRealm.cc
  src/mds/SnapRealm.h
  src/mds/SnapServer.h
  src/mds/StrayManager.cc
Labels: cephfs, cleanup, needs-qa, wip-pdonnell-testing2

#37508 nautilus: qa/cephfs: remove use of CentOS 7 kernel testing builds
  qa/cephfs/mount/kclient/overrides/distro/random/%
  qa/cephfs/mount/kclient/overrides/distro/random/.qa
  qa/cephfs/mount/kclient/overrides/distro/random/k-testing.yaml
  qa/cephfs/mount/kclient/overrides/distro/random/supported$
  qa/suites/multimds/verify/mount
  qa/suites/multimds/verify/mount/.qa
  qa/suites/multimds/verify/mount/fuse.yaml
  qa/suites/multimds/verify/mount/kclient/+
  qa/suites/multimds/verify/mount/kclient/.qa
  qa/suites/multimds/verify/mount/kclient/kernel-testing.yaml
  qa/suites/multimds/verify/mount/kclient/mount.yaml
  qa/suites/multimds/verify/mount/kclient/ms-die-on-skipped.yaml
Labels: cephfs

#37501 rgw_file: avoid long-ish delay on shutdown
  src/rgw/librgw.cc
  src/rgw/rgw_lib_frontend.h
Labels: rgw

#37448 doc/rados: erasure-code-lrc corrections
  doc/rados/operations/erasure-code-lrc.rst
Labels: core, documentation

#37344 octopus: ceph-volume: fix journal size argument not work
  src/ceph-volume/ceph_volume/devices/lvm/strategies/filestore.py
  src/ceph-volume/ceph_volume/tests/util/test_arg_validators.py
Labels: ceph-volume

#37412 octopus: [ceph-volume]: remove unneeded call to get_devices()
  src/ceph-volume/ceph_volume/devices/lvm/batch.py
  src/ceph-volume/ceph_volume/tests/devices/lvm/test_batch.py
Labels: ceph-volume

#37377 nautilus: ceph-volume: fix journal size argument not work
  src/ceph-volume/ceph_volume/devices/lvm/strategies/filestore.py
  src/ceph-volume/ceph_volume/tests/util/test_arg_validators.py
Labels: ceph-volume

#37413 nautilus: [ceph-volume]: remove unneeded call to get_devices()
  src/ceph-volume/ceph_volume/devices/lvm/batch.py
  src/ceph-volume/ceph_volume/tests/devices/lvm/test_batch.py
Labels: ceph-volume

#34770 mgr/dashboard: improve logs
  src/pybind/mgr/dashboard/controllers/logs.py
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/logs/logs.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/logs/logs.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/logs/logs.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/pipes/log-priority.pipe.ts
Labels: cleanup, dashboard, ready-to-merge

#37253 octopus: compressor: Add a config option to specify Zstd compression level
  src/common/legacy_config_opts.h
  src/common/options.cc
  src/compressor/zstd/CompressionPluginZstd.h
  src/compressor/zstd/ZstdCompressor.h
Labels: common, needs-qa, octopus-batch-1, performance, wip-yuri5-testing

#37257 octopus: ceph.spec, debian: add smartmontools, nvme-cli dependencies
  ceph.spec.in
  debian/control
Labels: build/ops, needs-qa, octopus-batch-1, wip-yuri5-testing

#37264 octopus: bluestore: mempool's finer granularity + adding missed structs
  src/include/mempool.h
  src/os/bluestore/BlueFS.cc
  src/os/bluestore/BlueStore.cc
  src/os/bluestore/BlueStore.h
  src/os/bluestore/bluestore_types.cc
  src/os/bluestore/bluestore_types.h
  src/test/objectstore/store_test.cc
Labels: bluestore, needs-qa, octopus-batch-1, wip-yuri5-testing

#37302 octopus: mgr/telemetry: fix device id splitting when anonymizing serial
  src/pybind/mgr/telemetry/module.py
Labels: bug fix, mgr, needs-qa, octopus-batch-1, telemetry, wip-yuri5-testing

#37341 octopus: common/admin_socket: always validate the parameters
  src/common/admin_socket.cc
  src/common/admin_socket.h
Labels: common, needs-qa, octopus-batch-1, wip-yuri5-testing

#37348 octopus: tools/osdmaptool.cc: add ability to clean_temps
  doc/man/8/osdmaptool.rst
  src/test/cli/osdmaptool/help.t
  src/tools/osdmaptool.cc
Labels: needs-qa, octopus-batch-1, tools, wip-yuri5-testing

#37349 octopus: qa/*/mon/mon-last-epoch-clean.sh: mark osd out instead of down
  qa/standalone/mon/mon-last-epoch-clean.sh
Labels: mon, needs-qa, octopus-batch-1, tests, wip-yuri5-testing

#37401 octopus: rpm,deb: drop /etc/sudoers.d/cephadm
  ceph.spec.in
  debian/cephadm.install
  debian/rules
  sudoers.d/cephadm
Labels: build/ops, cephadm, needs-qa, octopus-batch-1, wip-yuri5-testing

#37435 nautilus: rgw: urlencode bucket name when forwarding request
  src/rgw/rgw_rest_client.cc
Labels: nautilus-batch-1, rgw, wip-yuri8-testing

#37502 qa/suites/rados: move thrash-old-clients under cephadm
  qa/suites/rados/cephadm/thrash-old-clients/%
  qa/suites/rados/cephadm/thrash-old-clients/.qa
  qa/suites/rados/cephadm/thrash-old-clients/0-size-min-size-overrides/.qa
  qa/suites/rados/cephadm/thrash-old-clients/0-size-min-size-overrides/2-size-2-min-size.yaml
  qa/suites/rados/cephadm/thrash-old-clients/0-size-min-size-overrides/3-size-2-min-size.yaml
  qa/suites/rados/cephadm/thrash-old-clients/1-install/.qa
  qa/suites/rados/cephadm/thrash-old-clients/1-install/luminous-v1only.yaml
  qa/suites/rados/cephadm/thrash-old-clients/1-install/luminous.yaml
  qa/suites/rados/cephadm/thrash-old-clients/1-install/mimic-v1only.yaml
  qa/suites/rados/cephadm/thrash-old-clients/1-install/mimic.yaml
  qa/suites/rados/cephadm/thrash-old-clients/1-install/nautilus-v1only.yaml
  qa/suites/rados/cephadm/thrash-old-clients/1-install/nautilus-v2only.yaml
  qa/suites/rados/cephadm/thrash-old-clients/1-install/nautilus.yaml
  qa/suites/rados/cephadm/thrash-old-clients/1-install/octopus.yaml
  qa/suites/rados/cephadm/thrash-old-clients/backoff/.qa
  qa/suites/rados/cephadm/thrash-old-clients/backoff/normal.yaml
  qa/suites/rados/cephadm/thrash-old-clients/backoff/peering.yaml
  qa/suites/rados/cephadm/thrash-old-clients/backoff/peering_and_degraded.yaml
  qa/suites/rados/cephadm/thrash-old-clients/ceph.yaml
  qa/suites/rados/cephadm/thrash-old-clients/clusters/+
  qa/suites/rados/cephadm/thrash-old-clients/clusters/.qa
  qa/suites/rados/cephadm/thrash-old-clients/clusters/openstack.yaml
  qa/suites/rados/cephadm/thrash-old-clients/clusters/three-plus-one.yaml
  qa/suites/rados/cephadm/thrash-old-clients/d-balancer/.qa
  qa/suites/rados/cephadm/thrash-old-clients/d-balancer/crush-compat.yaml
  qa/suites/rados/cephadm/thrash-old-clients/d-balancer/on.yaml
  qa/suites/rados/cephadm/thrash-old-clients/distro$/.qa
  qa/suites/rados/cephadm/thrash-old-clients/distro$/ubuntu_18.04.yaml
  qa/suites/rados/cephadm/thrash-old-clients/mon_election
  qa/suites/rados/cephadm/thrash-old-clients/msgr-failures/.qa
  qa/suites/rados/cephadm/thrash-old-clients/msgr-failures/fastclose.yaml
  qa/suites/rados/cephadm/thrash-old-clients/msgr-failures/few.yaml
  qa/suites/rados/cephadm/thrash-old-clients/msgr-failures/osd-delay.yaml
  qa/suites/rados/cephadm/thrash-old-clients/rados.yaml
  qa/suites/rados/cephadm/thrash-old-clients/thrashers/.qa
  qa/suites/rados/cephadm/thrash-old-clients/thrashers/careful.yaml
  qa/suites/rados/cephadm/thrash-old-clients/thrashers/default.yaml
  qa/suites/rados/cephadm/thrash-old-clients/thrashers/mapgap.yaml
  qa/suites/rados/cephadm/thrash-old-clients/thrashers/morepggrow.yaml
  qa/suites/rados/cephadm/thrash-old-clients/thrashers/none.yaml
  qa/suites/rados/cephadm/thrash-old-clients/thrashers/pggrow.yaml
  qa/suites/rados/cephadm/thrash-old-clients/thrashosds-health.yaml
  qa/suites/rados/cephadm/thrash-old-clients/workloads/.qa
  qa/suites/rados/cephadm/thrash-old-clients/workloads/cache-snaps.yaml
  qa/suites/rados/cephadm/thrash-old-clients/workloads/radosbench.yaml
  qa/suites/rados/cephadm/thrash-old-clients/workloads/rbd_cls.yaml
  qa/suites/rados/cephadm/thrash-old-clients/workloads/snaps-few-objects.yaml
  qa/suites/rados/cephadm/thrash-old-clients/workloads/test_rbd_api.yaml
Labels: cephadm, core, tests

#37527 admin: be compatible with pip shipped by distro older than v20.2
  admin/build-doc
Labels: bug fix, build/ops, documentation

#36970 octopus: mds: make threshold for MDS_TRIM configurable
  doc/cephfs/health-messages.rst
  src/common/options.cc
  src/mds/Beacon.cc
Labels: cephfs, needs-qa, octopus-batch-1, wip-yuri7-testing

#37022 octopus: mds: add request to batch_op before taking auth pins and locks
  src/mds/BatchOp.h
  src/mds/MDCache.cc
  src/mds/Mutation.cc
  src/mds/Mutation.h
  src/mds/Server.cc
  src/mds/Server.h
Labels: cephfs, needs-qa, octopus-batch-1, wip-yuri7-testing

#37217 octopus: mgr: PyModuleRegistry::unregister_client() can run endlessly
  src/mgr/PyModuleRegistry.h
Labels: cephfs, mgr, needs-qa, octopus-batch-1, wip-yuri7-testing

#37076 common: refine env_to_vec implementation
  src/common/ceph_argparse.cc
Labels: cleanup, common

#37304 osd,crimson/osd: pass message using intrusive_ptr<>
  src/crimson/osd/pg.h
  src/osd/OSD.h
  src/osd/PG.cc
  src/osd/PG.h
  src/osd/PGBackend.cc
  src/osd/PGBackend.h
  src/osd/PeeringState.cc
  src/osd/PeeringState.h
  src/osd/PrimaryLogPG.h
  src/osd/ReplicatedBackend.cc
Labels: cleanup, core, crimson, wip-kefu-testing

#36732 vstart_runner: rotate logs between testcases
  qa/tasks/vstart_runner.py
  src/vstart.sh
Labels: cephfs, feature, needs-qa, tests, wip-kefu-testing

#36234 pybind/rados: add aio_notify()
  src/include/rados/librados.h
  src/include/rados/librados.hpp
  src/include/rados/rados_types.h
  src/include/rados/rados_types.hpp
  src/librados/librados_c.cc
  src/librados/librados_cxx.cc
  src/pybind/rados/rados.pyx
  src/test/librados/watch_notify.cc
  src/test/librados/watch_notify_cxx.cc
  src/test/pybind/test_rados.py
Labels: core, needs-qa, pybind, wip-kefu-testing

#37289 mgr/prometheus: add pool compression stats
  src/pybind/mgr/prometheus/module.py
Labels: mgr, needs-qa, wip-kefu-testing

#33963 mon/OSDMonitor: Add a safety builtin to mon_osd_report_timeout
  src/crimson/osd/osd.cc
  src/messages/MOSDBeacon.h
  src/mon/OSDMonitor.cc
  src/mon/OSDMonitor.h
  src/osd/OSD.cc
Labels: bug fix, core, needs-qa, wip-kefu-testing

#37528 qa: ignore evicted client warnings
  qa/suites/upgrade/nautilus-x-singleton/1-install/nautilus.yaml
  qa/suites/upgrade/nautilus-x/parallel/1-ceph-install/nautilus.yaml
  qa/suites/upgrade/nautilus-x/stress-split/1-ceph-install/nautilus.yaml
  src/mgr/MgrStandby.cc
Labels: bug fix, cephfs, core, needs-qa, wip-kefu-testing

#37525 os/bluestore: avoid recursive calls in SimpleCollectionListIterator.
  src/os/bluestore/BlueStore.cc
Labels: bluestore, cleanup, needs-qa, wip-kefu-testing

#37524 python-common: do not skip unavailable devices
  src/python-common/ceph/deployment/drive_selection/selector.py
Labels: cephadm, wip-kefu-testing

#37423 mon: fixing extra copying in some loops
  src/mon/ConnectionTracker.cc
Labels: cleanup, core, mon, needs-qa, wip-kefu-testing

#37526 os/bluestore: kill BitmapFreeListManager::_verify_range()
  src/os/bluestore/BitmapFreelistManager.cc
  src/os/bluestore/BitmapFreelistManager.h
Labels: bug fix, cleanup, needs-review

#37494 mon: set session_timeout when adding to session_map
  src/mon/Session.h
Labels: bug fix, core, mon, needs-qa, wip-kefu-testing

#37489 common/address_helper: remove address_helper*
  src/common/CMakeLists.txt
  src/common/address_helper.cc
  src/common/address_helper.h
Labels: cleanup, common, needs-qa, wip-kefu-testing

#37487 common/BackTrace: print path without symbol
  src/common/BackTrace.cc
Labels: common, needs-qa, wip-kefu-testing

#37085 mgr/devicehealth: device_health_metrics pool gets created even without any OSDs in the cluster
  src/pybind/mgr/devicehealth/module.py
Labels: core, mgr, needs-qa, wip-kefu-testing, wip-yuri-testing

#37516 doc/rbd: readability and spelling
  doc/rbd/index.rst
  doc/rbd/iscsi-initiator-win.rst
  doc/rbd/iscsi-monitoring.rst
  doc/rbd/iscsi-overview.rst
  doc/rbd/iscsi-requirements.rst
  doc/rbd/iscsi-target-ansible.rst
  doc/rbd/iscsi-target-cli.rst
  doc/rbd/qemu-rbd.rst
Labels: documentation

#37532 crimson: mark more methods private
  src/crimson/osd/osd_operation.h
  src/crimson/osd/osdmap_gate.h
Labels: cleanup, crimson

#37221 ceph-volume: add no-systemd argument to zap
  src/ceph-volume/ceph_volume/devices/lvm/zap.py
Labels: ceph-volume

#37452 octopus: mgr/dashboard: log in non-admin users successfully if the telemetry notification is shown
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/telemetry-notification/telemetry-notification.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/telemetry-notification/telemetry-notification.component.ts
Labels: bug fix, dashboard, ready-to-merge, skip-teuthology

#37545 ceph-volume: pass filter_for_batch as keyword argument
  src/ceph-volume/ceph_volume/inventory/main.py
  src/ceph-volume/ceph_volume/util/device.py
Labels: bug fix, ceph-volume

#37531 ceph-volume batch: return valid empty json reports
  src/ceph-volume/ceph_volume/devices/lvm/batch.py
  src/ceph-volume/ceph_volume/tests/devices/lvm/test_batch.py
Labels: bug fix, ceph-volume

#37507 rgw: print to log leaked obj for any debug level
  src/rgw/rgw_putobj_processor.cc
Labels: bug fix, rgw

#36963 nautilus: mds: fix mds forwarding request 'no_available_op_found'
  src/mds/MDCache.cc
  src/mds/Mutation.cc
Labels: cephfs, nautilus-batch-1, needs-qa, wip-yuri3-testing

#36968 nautilus: mds: resolve SIGSEGV in waiting for uncommitted fragments
  src/mds/MDCache.cc
  src/mds/MDCache.h
  src/mds/MDSRank.cc
Labels: cephfs, nautilus-batch-1, needs-qa, wip-yuri3-testing

#36168 nautilus: mds: do not defer incoming mgrmap when mds is laggy
  src/mds/MDSDaemon.cc
  src/mds/MDSRank.cc
  src/mds/MDSRank.h
Labels: cephfs, nautilus-batch-1, needs-qa, wip-yuri6-testing

#36814 nautilus: messages,mds: Fix decoding of enum types on big-endian systems
  src/mds/MDSMap.cc
  src/mds/PurgeQueue.cc
  src/messages/MMDSBeacon.h
  src/messages/MMgrReport.h
  src/msg/msg_types.cc
Labels: cephfs, nautilus-batch-1, needs-qa, wip-yuri6-testing

#36966 nautilus: cephfs: client: fix extra open ref decrease
  src/client/Client.cc
Labels: cephfs, nautilus-batch-1, needs-qa, wip-yuri6-testing

#36967 nautilus: mds: place MDSGatherBuilder on the stack
  src/mds/MDSRank.cc
  src/mds/Server.cc
  src/mds/Server.h
Labels: cephfs, nautilus-batch-1, needs-qa, wip-yuri6-testing

#37035 nautilus: mds: fix incorrect check for if dirfrag is being fragmented
  src/mds/CDir.cc
  src/mds/MDCache.cc
Labels: cephfs, nautilus-batch-1, needs-qa, wip-yuri6-testing

#37177 nautilus: mds: kcephfs parse dirfrag's ndist is always 0
  src/mds/CDir.h
Labels: cephfs, nautilus-batch-1, needs-qa, wip-yuri6-testing

#37241 nautilus: mgr/dashboard: Disabling the form inputs for the read_only modals
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/osd/osd-flags-modal/osd-flags-modal.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/osd/osd-pg-scrub-modal/osd-pg-scrub-modal.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/osd/osd-recv-speed-modal/osd-recv-speed-modal.component.html
  src/pybind/mgr/dashboard/frontend/src/app/shared/directives/directives.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/directives/form-input-disable.directive.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/directives/form-input-disable.directive.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/directives/form-scope.directive.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/directives/form-scope.directive.ts
Labels: dashboard, nautilus-batch-1, needs-qa, needs-review, skip-teuthology, wip-yuri8-testing

#37510 nautilus: mgr/dashboard: Fix pool renaming functionality
  qa/tasks/mgr/dashboard/test_pool.py
  src/pybind/mgr/dashboard/controllers/pool.py
Labels: dashboard, nautilus-batch-1, needs-qa, wip-yuri8-testing

#37509 rbd/tools: fix rwl related names
  src/tools/rbd/action/Status.cc
Labels: bug fix, needs-qa, rbd

#37189 librbd: support assembling results of multiple object extents
  src/librbd/cache/ObjectCacherObjectDispatch.cc
  src/librbd/cache/ObjectCacherObjectDispatch.h
  src/librbd/cache/ObjectCacherWriteback.cc
  src/librbd/cache/ParentCacheObjectDispatch.cc
  src/librbd/cache/ParentCacheObjectDispatch.h
  src/librbd/cache/WriteAroundObjectDispatch.cc
  src/librbd/cache/WriteAroundObjectDispatch.h
  src/librbd/crypto/CryptoObjectDispatch.cc
  src/librbd/crypto/CryptoObjectDispatch.h
  src/librbd/io/ImageRequest.cc
  src/librbd/io/ObjectDispatch.cc
  src/librbd/io/ObjectDispatch.h
  src/librbd/io/ObjectDispatchInterface.h
  src/librbd/io/ObjectDispatchSpec.h
  src/librbd/io/ObjectDispatcher.cc
  src/librbd/io/ObjectRequest.cc
  src/librbd/io/ObjectRequest.h
  src/librbd/io/ReadResult.cc
  src/librbd/io/ReadResult.h
  src/librbd/io/SimpleSchedulerObjectDispatch.cc
  src/librbd/io/SimpleSchedulerObjectDispatch.h
  src/librbd/io/Types.h
  src/librbd/io/Utils.cc
  src/librbd/io/Utils.h
  src/librbd/journal/ObjectDispatch.h
  src/librbd/plugin/Api.cc
  src/librbd/plugin/Api.h
  src/osdc/Striper.cc
  src/osdc/Striper.h
  src/test/librbd/cache/test_mock_ParentCacheObjectDispatch.cc
  src/test/librbd/crypto/test_mock_CryptoObjectDispatch.cc
  src/test/librbd/io/test_mock_ObjectRequest.cc
  src/test/librbd/io/test_mock_SimpleSchedulerObjectDispatch.cc
  src/test/librbd/mock/io/MockObjectDispatch.h
Labels: cephfs, needs-qa, rbd, wip-jason-testing

#36713 octopus: qa: Fix traceback during fs cleanup between tests
  qa/tasks/cephfs/cephfs_test_case.py
Labels: cephfs, needs-qa, octopus-batch-1, tests, wip-yuri2-testing

#36813 octopus: messages,mds: Fix decoding of enum types on big-endian systems
  src/mds/MDSMap.cc
  src/mds/PurgeQueue.cc
  src/messages/MMDSBeacon.h
  src/messages/MMgrReport.h
  src/msg/msg_types.cc
Labels: cephfs, needs-qa, octopus-batch-1, wip-yuri2-testing

#37017 octopus: cephfs: client: fix directory inode can not call release callback
  src/client/Client.cc
Labels: cephfs, needs-qa, octopus-batch-1, wip-yuri2-testing

#37020 octopus: mds: fix hang issue when accessing a file under a lost parent directory
  src/mds/CDir.cc
  src/mds/CDir.h
Labels: cephfs, needs-qa, octopus-batch-1, wip-yuri2-testing

#37034 octopus: mds: do not submit omap_rm_keys if the dir is the basedir of merge
  src/mds/CDir.cc
  src/mds/MDCache.cc
Labels: cephfs, needs-qa, octopus-batch-1, wip-yuri2-testing

#37134 osd: add tier_evict
  src/include/rados.h
  src/include/rados/librados.hpp
  src/librados/librados_cxx.cc
  src/osd/PrimaryLogPG.cc
  src/osdc/Objecter.h
  src/test/librados/tier_cxx.cc
  src/tools/rados/rados.cc
Labels: core

#37549 octopus: doc/PendingReleaseNotes: mention bluefs_preextend_wal_files
  PendingReleaseNotes
Labels: documentation

#36862 octopus: mgr/dashboard: Auto close table column dropdown on click outside
  src/pybind/mgr/dashboard/frontend/src/app/shared/datatable/table/table.component.html
Labels: dashboard, octopus-batch-1, ready-to-merge, skip-teuthology

#37493 octopus: mgr/dashboard: Copy to clipboard does not work in Firefox
  src/pybind/mgr/dashboard/frontend/src/app/shared/directives/copy2clipboard-button.directive.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/directives/copy2clipboard-button.directive.ts
Labels: dashboard, ready-to-merge, skip-teuthology

#37308 octopus: mgr/dashboard: REST API returns 500 when no Content-Type is specified
  src/pybind/mgr/dashboard/controllers/__init__.py
  src/pybind/mgr/dashboard/controllers/auth.py
  src/pybind/mgr/dashboard/controllers/cephfs.py
  src/pybind/mgr/dashboard/controllers/docs.py
  src/pybind/mgr/dashboard/controllers/host.py
  src/pybind/mgr/dashboard/controllers/mgr_modules.py
  src/pybind/mgr/dashboard/controllers/osd.py
  src/pybind/mgr/dashboard/controllers/rbd.py
  src/pybind/mgr/dashboard/controllers/rbd_mirroring.py
  src/pybind/mgr/dashboard/controllers/rgw.py
  src/pybind/mgr/dashboard/controllers/user.py
  src/pybind/mgr/dashboard/module.py
Labels: TESTED, bug fix, dashboard, needs-review, ready-to-merge

#37523 mgr/dashboard: Show warning when replicated size is 1
  src/pybind/mgr/dashboard/frontend/src/app/ceph/pool/pool-form/pool-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/pool/pool-form/pool-form.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/styles/defaults/_bootstrap-defaults.scss
Labels: dashboard, ready-to-merge, skip-teuthology

#37332 octopus: mgr/dashboard: table detail rows overflow
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-bucket-details/rgw-bucket-details.component.scss
Labels: bug fix, dashboard, needs-review, skip-teuthology

#37565 crimson: do not capture unused variables
  src/crimson/os/seastore/extentmap_manager/btree/extentmap_btree_node.h
  src/crimson/os/seastore/lba_manager/btree/btree_lba_manager.cc
  src/crimson/os/seastore/segment_cleaner.h
  src/crimson/osd/pg.cc
  src/crimson/osd/replicated_recovery_backend.cc
  src/crimson/osd/scheduler/scheduler.cc
Labels: cleanup, crimson

#37337 octopus: rgw: RGWObjVersionTracker tracks version over increments
  src/rgw/rgw_cache.cc
  src/rgw/rgw_common.h
  src/rgw/rgw_rados.cc
  src/rgw/services/svc_sys_obj_cache.cc
Labels: needs-qa, octopus-batch-1, rgw, wip-yuri5-testing, wip-yuri7-testing

#36343 doc: introduce PoseidonStore
  doc/dev/crimson/index.rst
  doc/dev/crimson/poseidonstore.rst
  doc/dev/internals.rst
Labels: DNM, crimson, documentation

#37574 doc/crimson: cleanups
  doc/dev/crimson/crimson.rst
  doc/dev/crimson/poseidonstore.rst
Labels: crimson, documentation

#37521 docs: <orch osd spec> is no longer present
  doc/mgr/orchestrator.rst
Labels: cephadm, documentation

#37556 rbd: cleanup code and output formatting in status action
  src/tools/rbd/action/Status.cc
Labels: cleanup, rbd

#37498 pybind/mgr/orchestrator: fix preview for new c-v batch output
  src/pybind/mgr/orchestrator/module.py
  src/pybind/mgr/orchestrator/tests/test_orchestrator.py
Labels: orchestrator, pybind, wip-jschmid1-testing

#37577 PendingReleaseNotes: add note about batch refactor
  PendingReleaseNotes
Labels: ceph-volume

#37345 octopus: ceph-volume: avoid format strings for now
  src/ceph-volume/ceph_volume/drive_group/main.py
Labels: ceph-volume

#37571 qa/tasks/cephfs/nfs: Check ganesha daemon status after restarting mgr
  qa/tasks/cephfs/test_nfs.py
Labels: bug fix, cephadm, cephfs, needs-qa, nfs, wip-pdonnell-testing

#37497 client,mds: Drop execute permission bits
  src/client/Client.cc
  src/mds/CDir.cc
Labels: cephfs, cleanup, needs-qa, wip-pdonnell-testing

#37446 mds: remove dead mdsmap broadcast code
  src/mds/MDSRank.cc
  src/mds/MDSRank.h
Labels: cephfs, cleanup, needs-qa, wip-pdonnell-testing

#37570 doc: add a link to ceph-deploy document
  doc/install/index.rst
Labels: documentation

#37561 cmake: support Node.js and npm registry mirror
  src/pybind/mgr/dashboard/CMakeLists.txt
Labels: build/ops, dashboard

#37591 ceph-volume: don't exit before empty report can be printed
  src/ceph-volume/ceph_volume/devices/lvm/batch.py
  src/ceph-volume/ceph_volume/tests/devices/lvm/test_batch.py
Labels: bug fix, ceph-volume

#37584 mgr/dashboard: Add short descriptions to the telemetry report preview
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/telemetry/telemetry.component.html
Labels: dashboard, ready-to-merge, skip-teuthology

#36965 nautilus: mds/CInode: Optimize only pinned by subtrees check
  src/mds/CInode.h
  src/mds/MDCache.cc
Labels: cephfs, nautilus-batch-1, needs-qa, wip-yuri3-testing

#37179 nautilus: mds: After restarting an mds, its standy-replay mds remained in the "resolve" state
  src/mds/MDSRank.cc
Labels: cephfs, nautilus-batch-1, needs-qa, wip-yuri3-testing

#37231 nautilus: cephfs: client: make Client::open() pass proper cap mask to path_walk
  src/client/Client.cc
Labels: cephfs, nautilus-batch-1, needs-qa, wip-yuri3-testing

#37479 nautilus: cephfs-journal-tool: fix incorrect read_offset when finding missing objects
  src/tools/cephfs/JournalScanner.cc
Labels: cephfs, nautilus-batch-1, needs-qa, tools, wip-yuri3-testing

#37511 rgw: radosgw-admin should paginate internally when listing bucket
  src/rgw/rgw_admin.cc
Labels: bug fix, needs-qa, rgw, wip-eric-testing-1

#37572 rgw: allow rgw-orphan-list to note when rados objects are in namespace
  src/rgw/rgw-orphan-list
Labels: bug fix, needs-qa, rgw, wip-eric-testing-1

#37582 rgw: fix setting of namespace in ordered and unordered bucket listing
  src/rgw/rgw_rados.cc
Labels: bug fix, needs-qa, rgw, wip-eric-testing-1

#37436 octopus: cephadm batch backport September (2)
  admin/build-doc
  admin/doc-requirements.txt
  doc/cephadm/client-setup.rst
  doc/cephadm/concepts.rst
  doc/cephadm/drivegroups.rst
  doc/cephadm/monitoring.rst
  doc/cephadm/operations.rst
  doc/conf.py
  doc/install/get-packages.rst
  doc/man/8/cephadm.rst
  doc/mgr/orchestrator.rst
  doc/rados/configuration/ceph-conf.rst
  qa/suites/rados/cephadm/smoke/fixed-2.yaml
  qa/suites/rados/cephadm/upgrade/2-repo_digest/defaut.yaml
  qa/suites/rados/cephadm/upgrade/2-repo_digest/repo_digest.yaml
  qa/suites/rados/cephadm/upgrade/3-start-upgrade.yaml
  qa/suites/rados/cephadm/upgrade/4-wait.yaml
  qa/tasks/ceph.py
  qa/tasks/cephadm.py
  qa/tasks/cephadm_cases/test_cli.py
  qa/workunits/cephadm/test_cephadm.sh
  src/cephadm/cephadm
  src/cephadm/samples/custom_container.json
  src/cephadm/tests/test_cephadm.py
  src/pybind/mgr/cephadm/inventory.py
  src/pybind/mgr/cephadm/migrations.py
  src/pybind/mgr/cephadm/module.py
  src/pybind/mgr/cephadm/schedule.py
  src/pybind/mgr/cephadm/services/cephadmservice.py
  src/pybind/mgr/cephadm/services/container.py
  src/pybind/mgr/cephadm/services/iscsi.py
  src/pybind/mgr/cephadm/services/monitoring.py
  src/pybind/mgr/cephadm/services/nfs.py
  src/pybind/mgr/cephadm/services/osd.py
  src/pybind/mgr/cephadm/template.py
  src/pybind/mgr/cephadm/tests/fixtures.py
  src/pybind/mgr/cephadm/tests/test_cephadm.py
  src/pybind/mgr/cephadm/tests/test_migration.py
  src/pybind/mgr/cephadm/tests/test_osd_removal.py
  src/pybind/mgr/cephadm/tests/test_scheduling.py
  src/pybind/mgr/cephadm/tests/test_services.py
  src/pybind/mgr/cephadm/tests/test_spec.py
  src/pybind/mgr/cephadm/tests/test_template.py
  src/pybind/mgr/cephadm/tests/test_upgrade.py
  src/pybind/mgr/cephadm/tests/test_utils.py
  src/pybind/mgr/cephadm/upgrade.py
  src/pybind/mgr/cephadm/utils.py
  src/pybind/mgr/orchestrator/_interface.py
  src/pybind/mgr/orchestrator/module.py
  src/pybind/mgr/rook/module.py
  src/pybind/mgr/tests/__init__.py
  src/python-common/ceph/deployment/drive_selection/selector.py
  src/python-common/ceph/deployment/inventory.py
  src/python-common/ceph/deployment/service_spec.py
  src/python-common/ceph/deployment/utils.py
  src/python-common/ceph/tests/test_service_spec.py
Labels: cephadm, documentation, needs-qa, orchestrator, wip-jschmid1-testing1, wip-mgfritch-testing

#37505 nautilus: mgr/dashboard: fix broken backporting
  src/pybind/mgr/dashboard/services/rbd.py
  src/pybind/mgr/dashboard/tests/test_rbd_service.py
Labels: api, bug fix, dashboard, nautilus-batch-1, needs-qa, wip-yuri2-testing

#37500 cephadm: Fix error setting 'mgr/cephadm/container_init' config
  src/cephadm/cephadm
Labels: bug fix, cephadm, wip-jschmid1-testing

#37483 osd/osd-rep-recov-eio.sh: TEST_rados_repair_warning: return 1
  qa/standalone/osd/osd-rep-recov-eio.sh
Labels: core

#37048 octopus: bluestore: fix collection_list ordering
  src/include/ceph_features.h
  src/os/ObjectStore.h
  src/os/bluestore/BlueStore.cc
  src/os/bluestore/BlueStore.h
  src/os/kstore/KStore.cc
  src/osd/PGBackend.cc
  src/osd/PGBackend.h
  src/osd/PrimaryLogPG.h
  src/test/objectstore/store_test.cc
Labels: bluestore, needs-qa, octopus-batch-1, wip-yuri7-testing

#37128 octopus: mgr/zabbix: indent the output of "zabbix config-show"
  src/pybind/mgr/zabbix/module.py
Labels: mgr, needs-qa, octopus-batch-1, pybind, wip-yuri7-testing

#37225 octopus: ceph.in: ignore failures to flush stdout
  src/ceph.in
Labels: common, needs-qa, octopus-batch-1, wip-yuri7-testing

#37533 octopus: mgr/devicehealth: device_health_metrics pool gets created even without any OSDs in the cluster
  src/pybind/mgr/devicehealth/module.py
Labels: mgr, needs-qa, octopus-batch-1, pybind, wip-yuri7-testing

#37300 octopus: systemd: Support Graceful Reboot for AIO Node
  systemd/ceph-fuse.target
  systemd/ceph-immutable-object-cache.target
  systemd/ceph-mds.target
  systemd/ceph-mds@.service.in
  systemd/ceph-mgr.target
  systemd/ceph-mgr@.service.in
  systemd/ceph-mon.target
  systemd/ceph-mon@.service.in
  systemd/ceph-osd.target
  systemd/ceph-osd@.service.in
  systemd/ceph-radosgw.target
  systemd/ceph-radosgw@.service.in
  systemd/ceph-rbd-mirror.target
  systemd/ceph.target
  systemd/rbdmap.service.in
Labels: build/ops, needs-qa, octopus-batch-1, wip-yuri7-testing

#36556 doc: cephfs mirroring design document
  doc/dev/cephfs-mirroring.rst
Labels: cephfs

#36457 mds: add root_squash mode in MDS auth caps
  PendingReleaseNotes
  doc/cephfs/client-auth.rst
  qa/tasks/cephfs/test_admin.py
  qa/tasks/vstart_runner.py
  src/mds/MDSAuthCaps.cc
  src/mds/MDSAuthCaps.h
  src/mon/AuthMonitor.cc
  src/test/mds/TestMDSAuthCaps.cc
Labels: cephfs, needs-qa, wip-pdonnell-testing

#32778 Windows support [part 7]
  CMakeLists.txt
  src/common/admin_socket.cc
  src/common/buffer.cc
  src/common/ceph_time.h
  src/common/compat.cc
  src/common/win32_errno.c
  src/crush/CrushCompiler.cc
  src/global/CMakeLists.txt
  src/global/global_init.cc
  src/global/pidfile.cc
  src/global/signal_handler_win32.cc
  src/include/compat.h
  src/include/mempool.h
  src/include/win32/win32_errno.h
  src/kv/rocksdb_cache/BinnedLRUCache.cc
  src/msg/async/AsyncConnection.cc
  src/msg/async/Event.cc
  src/msg/async/PosixStack.cc
  src/msg/async/net_handler.cc
  src/os/filestore/FileJournal.cc
Labels: common, core, needs-review, win32, wip-jan-testing

#37596 mgr/dashboard: Improve HTML formatting of the telemetry report preview
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/telemetry/telemetry.component.html
Labels: cleanup, dashboard, ready-to-merge, skip-teuthology

#37064 mgr/dashboard: fix error when typing existing paths in the Ganesha form
  qa/tasks/mgr/dashboard/test_ganesha.py
  src/pybind/mgr/dashboard/controllers/nfsganesha.py
  src/pybind/mgr/dashboard/frontend/src/app/ceph/nfs/nfs-form/nfs-form.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/nfs.service.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/nfs.service.ts
  src/pybind/mgr/dashboard/tests/test_ganesha.py
Labels: TESTED, bug fix, dashboard, needs-review, ready-to-merge

#37375 mgr/dashboard: api doc: fix endpoint responses doc generation.
  src/pybind/mgr/dashboard/api/__init__.py
  src/pybind/mgr/dashboard/api/doc.py
  src/pybind/mgr/dashboard/controllers/__init__.py
  src/pybind/mgr/dashboard/controllers/docs.py
  src/pybind/mgr/dashboard/controllers/rgw.py
  src/pybind/mgr/dashboard/openapi.yaml
  src/pybind/mgr/dashboard/tests/test_docs.py
  src/pybind/mgr/dashboard/tox.ini
Labels: TESTED, api, bug fix, dashboard, ready-to-merge

#37550 nautilus: mgr/dashboard: Don't use any xlf file when building the default language
  src/pybind/mgr/dashboard/frontend/package.json
  src/pybind/mgr/dashboard/frontend/src/locale/messages.en-US.xlf
Labels: bug fix, dashboard, ready-to-merge, skip-teuthology

#37090 octopus: mgr/dashboard: Improve notification badge
  src/pybind/mgr/dashboard/frontend/src/app/core/navigation/notifications/notifications.component.html
  src/pybind/mgr/dashboard/frontend/src/app/core/navigation/notifications/notifications.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/core/navigation/notifications/notifications.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/core/navigation/notifications/notifications.component.ts
Labels: TESTED, dashboard, needs-qa, octopus-batch-1, ready-to-merge

#37449 mgr/dashboard: get rgw daemon zonegroup name from mgr
  src/pybind/mgr/dashboard/services/rgw_client.py
  src/pybind/mgr/dashboard/tests/test_rgw_client.py
Labels: TESTED, bug fix, dashboard, ready-to-merge

#36979 mgr/dashboard: Update npm packages
  src/pybind/mgr/dashboard/frontend/angular.json
  src/pybind/mgr/dashboard/frontend/cypress.json
  src/pybind/mgr/dashboard/frontend/cypress/integration/block/iscsi.e2e-spec.ts
  src/pybind/mgr/dashboard/frontend/cypress/integration/rgw/daemons.po.ts
  src/pybind/mgr/dashboard/frontend/cypress/integration/ui/login.po.ts
  src/pybind/mgr/dashboard/frontend/cypress/tsconfig.json
  src/pybind/mgr/dashboard/frontend/package-lock.json
  src/pybind/mgr/dashboard/frontend/package.json
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/block.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/iscsi-target-details/iscsi-target-details.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/iscsi-target-details/iscsi-target-details.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/iscsi-target-list/iscsi-target-list.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cephfs/cephfs-directories/cephfs-directories.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cephfs/cephfs-directories/cephfs-directories.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cephfs/cephfs-tabs/cephfs-tabs.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cephfs/cephfs.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/cluster.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/crushmap/crushmap.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/crushmap/crushmap.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/pool/erasure-code-profile-form/erasure-code-profile-form-modal.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/confirmation-modal/confirmation-modal.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/styles.scss
  src/pybind/mgr/dashboard/frontend/src/tsconfig.app.json
  src/pybind/mgr/dashboard/frontend/tsconfig.base.json
  src/pybind/mgr/dashboard/frontend/tsconfig.json
  src/pybind/mgr/dashboard/frontend/tsconfig.spec.json
  src/pybind/mgr/dashboard/run-frontend-e2e-tests.sh
Labels: dashboard, ready-to-merge

#37481 nautilus: mds: fix purge_queue's _calculate_ops is inaccurate
  src/mds/PurgeQueue.cc
Labels: cephfs, nautilus-batch-1, needs-qa, wip-yuri-testing

#37558 nautilus: mgr/status: metadata is fetched async
  src/pybind/mgr/mgr_module.py
  src/pybind/mgr/status/module.py
Labels: cephfs, nautilus-batch-1, needs-qa, wip-yuri-testing

#37301 nautilus: systemd: Support Graceful Reboot for AIO Node
  systemd/ceph-fuse.target
  systemd/ceph-mds.target
  systemd/ceph-mds@.service.in
  systemd/ceph-mgr.target
  systemd/ceph-mgr@.service.in
  systemd/ceph-mon.target
  systemd/ceph-mon@.service.in
  systemd/ceph-osd.target
  systemd/ceph-osd@.service.in
  systemd/ceph-radosgw.target
  systemd/ceph-radosgw@.service.in
  systemd/ceph-rbd-mirror.target
  systemd/ceph.target
  systemd/rbdmap.service.in
Labels: TESTED, build/ops, nautilus-batch-1, needs-qa

#37178 nautilus: mds: recover files after normal session close
  src/mds/Server.cc
Labels: cephfs, nautilus-batch-1, needs-qa, wip-yuri4-testing

#37228 nautilus: qa: ignore expected mds failover message
  qa/suites/fs/basic_functional/tasks/cap-flush.yaml
Labels: cephfs, nautilus-batch-1, needs-qa, wip-yuri4-testing

#37229 nautilus: cephfs: osdc/Journaler: do not call onsafe->complete() if onsafe is 0
  src/osdc/Journaler.cc
Labels: cephfs, nautilus-batch-1, needs-qa, wip-yuri4-testing

#37232 nautilus: client: handle readdir reply without Fs cap
  src/client/Client.cc
Labels: cephfs, nautilus-batch-1, needs-qa, wip-yuri4-testing

#37364 nautilus: test: Do not use <sys/xattr.h> under non-Linux systems
  src/test/libcephfs/lazyio.cc
Labels: FreeBSD, cephfs, nautilus-batch-1, needs-qa, wip-yuri4-testing

#37441 qa: fix proc exit status check
  qa/tasks/ceph.py
Labels: bug fix, cephfs, needs-qa, wip-pdonnell-testing, wip-pdonnell-testing2

#37104 mgr/cephadm: move functions that do remote calls to serve.py
  src/pybind/mgr/cephadm/module.py
  src/pybind/mgr/cephadm/serve.py
  src/pybind/mgr/cephadm/tests/fixtures.py
  src/pybind/mgr/cephadm/tests/test_cephadm.py
  src/pybind/mgr/cephadm/tests/test_migration.py
  src/pybind/mgr/cephadm/tests/test_upgrade.py
Labels: cephadm, cleanup, needs-qa, wip-kefu-testing

#37559 include: explicitly define all types needed for libc++ iterator
  src/include/interval_set.h
Labels: Clang, common, needs-qa, wip-kefu-testing

#37542 cephadm: allow uid/gid == 0 in copy_tree, copy_files, move_files
  src/cephadm/cephadm
Labels: bug fix, cephadm, needs-qa, wip-kefu-testing

#37325 mgr/dashboard: Don't prompt for analytics during @angular/cli install
  src/pybind/mgr/dashboard/CMakeLists.txt
Labels: bug fix, dashboard, needs-qa, wip-kefu-testing

#37580 os/bluestore: fix memory accounting in TwoQBufferCacheShard
  src/os/bluestore/BlueStore.cc
Labels: bluestore, needs-qa, wip-kefu-testing

#36942 rgw/rgw_file: Fix the incorrect lru object eviction
  src/common/cohort_lru.h
  src/rgw/rgw_file.cc
  src/rgw/rgw_file.h
Labels: bug fix, rgw

#37628 mailmap: update Intel employee mail/org
  .mailmap
  .organizationmap
Labels: documentation

#37154 mgr/dashboard: fix the error when exporting CephFS path "/" in NFS exports
  qa/tasks/mgr/dashboard/test_ganesha.py
  src/pybind/mgr/dashboard/services/ganesha.py
Labels: TESTED, bug fix, dashboard, needs-review

#37593 qa/tasks/cephfs: refactor test_volumes
  qa/suites/fs/basic_functional/tasks/volumes/%
  qa/suites/fs/basic_functional/tasks/volumes/overrides.yaml
  qa/suites/fs/basic_functional/tasks/volumes/test/basic.yaml
  qa/suites/fs/basic_functional/tasks/volumes/test/clone.yaml
  qa/suites/fs/basic_functional/tasks/volumes/test/misc.yaml
  qa/suites/fs/basic_functional/tasks/volumes/test/snapshot.yaml
  qa/tasks/cephfs/test_volumes.py
Labels: cephfs, needs-review, tests

#37368 octopus: cephfs: osdc/Journaler: do not call onsafe->complete() if onsafe is 0
  src/osdc/Journaler.cc
Labels: cephfs, needs-qa, octopus-batch-1, wip-yuri2-testing, wip-yuri5-testing

#37369 octopus: cephfs: client: make Client::open() pass proper cap mask to path_walk
  src/client/Client.cc
Labels: cephfs, needs-qa, octopus-batch-1, wip-yuri2-testing

#37370 octopus: cephfs: client: handle readdir reply without Fs cap
  src/client/Client.cc
Labels: cephfs, needs-qa, octopus-batch-1, wip-yuri2-testing

#37371 octopus: mgr/volumes/nfs: Check if orchestrator spec service_id is valid
  src/pybind/mgr/volumes/fs/nfs.py
Labels: cephfs, needs-qa, octopus-batch-1, wip-yuri2-testing

#37372 octopus: mds: fix purge_queue's _calculate_ops is inaccurate
  src/mds/PurgeQueue.cc
Labels: cephfs, needs-qa, octopus-batch-1, wip-yuri2-testing

#37383 octopus: mds: reduce memory usage of open file table prefetch #37382
  src/client/Client.cc
  src/client/Dentry.h
  src/client/Inode.cc
  src/client/Inode.h
  src/common/options.cc
  src/mds/Anchor.cc
  src/mds/Anchor.h
  src/mds/CInode.cc
  src/mds/CInode.h
  src/mds/Capability.cc
  src/mds/Capability.h
  src/mds/Locker.cc
  src/mds/Locker.h
  src/mds/MDCache.cc
  src/mds/MDCache.h
  src/mds/Migrator.cc
  src/mds/OpenFileTable.cc
  src/mds/OpenFileTable.h
  src/mds/Server.cc
  src/mds/StrayManager.cc
  src/mds/mdstypes.h
Labels: cephfs, needs-qa, octopus-batch-1, wip-yuri2-testing
