Repository ceph/ceph, pull requests merged in 2020-07, with the labels that each got.

#35417 mgr/volumes/nfs: Check cluster exists before creating exports and fetch exports from export objects if mgr restarted
  doc/cephfs/fs-nfs-exports.rst
  qa/tasks/cephfs/test_nfs.py
  src/pybind/mgr/volumes/fs/nfs.py
  src/pybind/mgr/volumes/module.py
Labels: cephadm, cephfs, needs-review, wip-varsha-testing

#35577 mgr/test_orchestrator: add iscsi
  src/pybind/mgr/test_orchestrator/dummy_data.json
  src/pybind/mgr/test_orchestrator/module.py
Labels: needs-qa, orchestrator, wip-mgfritch-testing

#35753 octopus: doc: PendingReleaseNotes: clean slate for 15.2.5
  PendingReleaseNotes
Labels: cleanup, documentation

#35606 cephadm: add sudo ssh user option
  doc/cephadm/install.rst
  doc/cephadm/operations.rst
  doc/man/8/cephadm.rst
  src/cephadm/cephadm
  src/pybind/mgr/cephadm/module.py
Labels: cephadm, needs-qa, ready-to-merge, wip-mgfritch-testing

#35723 mgr/dashboard: Fix title of disabled table actions
  src/pybind/mgr/dashboard/frontend/cypress/integration/page-helper.po.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-snapshot-list/rbd-snapshot-actions.model.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/datatable/table-actions/table-actions.component.html
  src/pybind/mgr/dashboard/frontend/src/app/shared/datatable/table-actions/table-actions.component.scss
Labels: bug fix, dashboard, ready-to-merge

#35830 octopus: ceph-volume: add dmcrypt support in raw mode
  src/ceph-volume/ceph_volume/devices/raw/common.py
  src/ceph-volume/ceph_volume/devices/raw/list.py
  src/ceph-volume/ceph_volume/devices/raw/prepare.py
  src/ceph-volume/ceph_volume/tests/devices/raw/__init__.py
  src/ceph-volume/ceph_volume/tests/devices/raw/test_prepare.py
Labels: ceph-volume

#35811 kv/RocksDBStore: always release column family handles
  src/kv/RocksDBStore.cc
  src/kv/RocksDBStore.h
  src/test/objectstore/test_kv.cc
Labels: bluestore, bug fix, cleanup, needs-review, tests

#35805 cephadm: Add "--format" option to "ceph orch status"
  qa/tasks/cephadm_cases/test_cli.py
  src/pybind/mgr/orchestrator/module.py
Labels: cephadm, ready-to-merge

#35869 doc/releases/octopus: add 15.2.4 release notes
  doc/releases/general.rst
  doc/releases/octopus.rst
  doc/releases/releases.yml
Labels: documentation

#35782 mgr/dashboard: Use ng-bootstrap for Datepicker
  src/pybind/mgr/dashboard/HACKING.rst
  src/pybind/mgr/dashboard/frontend/angular.json
  src/pybind/mgr/dashboard/frontend/cypress/integration/cluster/logs.po.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/block.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-trash-move-modal/rbd-trash-move-modal.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-trash-move-modal/rbd-trash-move-modal.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-trash-move-modal/rbd-trash-move-modal.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-trash-move-modal/rbd-trash-move-modal.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/cluster.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/logs/logs.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/logs/logs.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/logs/logs.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/logs/logs.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/prometheus/silence-form/silence-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/prometheus/silence-form/silence-form.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/prometheus/silence-form/silence-form.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/core/auth/auth.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/core/auth/user-form/user-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/core/auth/user-form/user-form.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/core/auth/user-form/user-form.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/core/layouts/login-layout/login-layout.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/components.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/date-time-picker/date-time-picker.component.html
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/date-time-picker/date-time-picker.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/date-time-picker/date-time-picker.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/date-time-picker/date-time-picker.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/language-selector/language-selector.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/language-selector/language-selector.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/language-selector/supported-languages.enum.ts
  src/pybind/mgr/dashboard/frontend/src/styles.scss
Labels: cleanup, dashboard, ready-to-merge

#35751 doc: PendingReleaseNotes: fix deprecated radosgw-admin commands
  PendingReleaseNotes
Labels: documentation, rgw

#35856 test/unittest_lockdep: skip lockdep test if CEPH_DEBUG_MUTEX is not d…
  src/test/common/test_lockdep.cc
Labels: bug fix, needs-qa, tests

#35596 librbd: fix potential image rm failure due to parent missing
  src/librbd/image/DetachChildRequest.cc
Labels: bug fix, needs-qa, rbd, wip-jason-testing

#35699 osd/OSDCap: rbd profile permits use of "rbd_info"
  src/osd/OSDCap.cc
Labels: core, needs-qa, rbd, wip-jason-testing

#35136 octopus: monitoring: alert for pool fill up broken
  monitoring/prometheus/alerts/ceph_default_alerts.yml
Labels: bug fix, dashboard, monitoring, needs-qa, octopus-batch-1, wip-yuri-testing

#35550 octopus: qa/tasks/ceph_manager.py: dump more useful info before failing
  qa/tasks/ceph_manager.py
Labels: needs-qa, octopus-batch-1, tests, wip-yuri-testing

#35715 octopus: tools: Add statfs operation to ceph-objecstore-tool
  qa/standalone/special/ceph_objectstore_tool.py
  src/tools/ceph_objectstore_tool.cc
Labels: needs-qa, octopus-batch-1, tools, wip-yuri-testing

#35037 qa: add tests for immutable object cache
  qa/suites/rbd/immutable-object-cache/%
  qa/suites/rbd/immutable-object-cache/.qa
  qa/suites/rbd/immutable-object-cache/clusters/+
  qa/suites/rbd/immutable-object-cache/clusters/.qa
  qa/suites/rbd/immutable-object-cache/clusters/fix-2.yaml
  qa/suites/rbd/immutable-object-cache/clusters/openstack.yaml
  qa/suites/rbd/immutable-object-cache/pool/ceph_and_immutable_object_cache.yaml
  qa/suites/rbd/immutable-object-cache/supported-random-distro$
  qa/suites/rbd/immutable-object-cache/workloads/.qa
  qa/suites/rbd/immutable-object-cache/workloads/fio_on_immutable_object_cache.yaml
  qa/suites/rbd/immutable-object-cache/workloads/qemu_on_immutable_object_cache_and_thrash.yaml
  qa/tasks/immutable_object_cache.py
  qa/tasks/immutable_object_cache_thrash.py
  qa/tasks/rbd_fio.py
  src/librbd/image/OpenRequest.cc
Labels: rbd, tests, wip-jason-testing

#35639 qa/tasks: make sh() in vstart_runner.py identical with teuthology.orchestra.remote.sh
  qa/tasks/vstart_runner.py
Labels: bug fix, cephfs

#35564 mgr/dashboard: fix ui api endpoints
  src/pybind/mgr/dashboard/controllers/cephfs.py
  src/pybind/mgr/dashboard/controllers/crush_rule.py
  src/pybind/mgr/dashboard/controllers/docs.py
  src/pybind/mgr/dashboard/controllers/erasure_code_profile.py
  src/pybind/mgr/dashboard/controllers/pool.py
  src/pybind/mgr/dashboard/tests/test_docs.py
Labels: TESTED, api, dashboard, ready-to-merge

#35828 mgr/dashboard: Remove useless tab in monitoring/alerts datatable details
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/prometheus/rules-list/rules-list.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/prometheus/rules-list/rules-list.component.spec.ts
Labels: cleanup, dashboard, ready-to-merge

#35803 mgr/dashboard: remove cdCopy2ClipboardButton `formatted` attribute
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/telemetry/telemetry.component.html
Labels: bug fix, dashboard, ready-to-merge

#35765 mgr/dashboard: Action button is not reset after switching tabs
  src/pybind/mgr/dashboard/frontend/src/app/shared/datatable/table/table.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/datatable/table/table.component.ts
Labels: bug fix, dashboard, ready-to-merge

#35823 mgr/cephadm: reconfig ssh after setting or clearing ssh_config
  src/pybind/mgr/cephadm/module.py
Labels: bug fix, cephadm, ready-to-merge

#35854 mgr/dashboard: Fix NFS Edit page loading problem
  src/pybind/mgr/dashboard/frontend/src/app/ceph/nfs/nfs-form-client/nfs-form-client.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/nfs/nfs-form/nfs-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/nfs/nfs-form/nfs-form.component.ts
Labels: bug fix, dashboard, ready-to-merge

#35816 msg/async/ProtocolV2: take care of features when replacing the socket
  src/msg/async/ProtocolV2.cc
  src/msg/async/frames_v2.h
  src/test/msgr/test_msgr.cc
Labels: bug fix, messenger, wip-pdonnell-testing

#35568 octopus: cephadm batch backport June (3)
  doc/cephadm/adoption.rst
  doc/cephadm/concepts.rst
  doc/cephadm/index.rst
  doc/cephadm/troubleshooting.rst
  doc/mgr/orchestrator.rst
  qa/tasks/mgr/dashboard/test_mgr_module.py
  src/pybind/mgr/cephadm/inventory.py
  src/pybind/mgr/cephadm/migrations.py
  src/pybind/mgr/cephadm/module.py
  src/pybind/mgr/cephadm/schedule.py
  src/pybind/mgr/cephadm/services/cephadmservice.py
  src/pybind/mgr/cephadm/services/iscsi.py
  src/pybind/mgr/cephadm/services/monitoring.py
  src/pybind/mgr/cephadm/services/nfs.py
  src/pybind/mgr/cephadm/tests/fixtures.py
  src/pybind/mgr/cephadm/tests/test_cephadm.py
  src/pybind/mgr/cephadm/tests/test_migration.py
  src/pybind/mgr/cephadm/tests/test_scheduling.py
  src/pybind/mgr/dashboard/controllers/mgr_modules.py
  src/pybind/mgr/orchestrator/_interface.py
  src/pybind/mgr/orchestrator/module.py
  src/pybind/mgr/test_orchestrator/module.py
  src/pybind/mgr/tox.ini
  src/python-common/ceph/deployment/hostspec.py
  src/python-common/ceph/deployment/service_spec.py
  src/python-common/ceph/tests/test_drive_group.py
Labels: cephadm, documentation, orchestrator, wip-swagner2-testing

#34889 mgr/dashboard: stay on active tab (accessible via URL)
  src/pybind/mgr/dashboard/frontend/src/app/app-routing.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/cluster.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/prometheus/active-alert-list/active-alert-list.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/prometheus/active-alert-list/active-alert-list.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/prometheus/monitoring-list/monitoring-list.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/prometheus/monitoring-list/monitoring-list.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/prometheus/monitoring-list/monitoring-list.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/prometheus/prometheus-list-helper.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/prometheus/prometheus-tabs/prometheus-tabs.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/prometheus/prometheus-tabs/prometheus-tabs.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/prometheus/prometheus-tabs/prometheus-tabs.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/prometheus/prometheus-tabs/prometheus-tabs.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/prometheus/rules-list/rules-list.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/prometheus/rules-list/rules-list.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/prometheus/rules-list/rules-list.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/prometheus/silence-form/silence-form.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/prometheus/silence-form/silence-form.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/prometheus/silence-list/silence-list.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/prometheus/silence-list/silence-list.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/prometheus/silence-list/silence-list.component.ts
Labels: cleanup, dashboard, ready-to-merge

#35642 mgr/dashboard: Re-enable OSD's table autoReload
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/osd/osd-details/osd-details.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/osd/osd-details/osd-details.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/osd/osd-list/osd-list.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/shared/device-list/device-list.component.ts
Labels: dashboard, ready-to-merge

#35745 mgr/dashboard: Host delete action should be disabled if not managed by Orchestrator
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/hosts/hosts.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/hosts/hosts.component.ts
Labels: bug fix, dashboard, ready-to-merge

#35894 crimson/os: pin the last cpu core for the alien worker threads
  src/crimson/os/alienstore/alien_store.cc
  src/crimson/os/alienstore/thread_pool.cc
  src/crimson/os/alienstore/thread_pool.h
Labels: crimson

#35759 octopus: mds: add ephemeral random and distributed export pins
  PendingReleaseNotes
  doc/cephfs/multimds.rst
  qa/suites/multimds/basic/tasks/cephfs_test_exports.yaml
  qa/tasks/cephfs/cephfs_test_case.py
  qa/tasks/cephfs/filesystem.py
  qa/tasks/cephfs/mount.py
  qa/tasks/cephfs/test_exports.py
  qa/tasks/cephfs/test_journal_repair.py
  qa/tasks/cephfs/test_sessionmap.py
  qa/tasks/cephfs/test_snapshots.py
  qa/tasks/cephfs/test_strays.py
  qa/tasks/cephfs/test_volumes.py
  src/common/options.cc
  src/mds/CDir.cc
  src/mds/CInode.cc
  src/mds/CInode.h
  src/mds/MDBalancer.cc
  src/mds/MDBalancer.h
  src/mds/MDCache.cc
  src/mds/MDCache.h
  src/mds/MDSRank.cc
  src/mds/Migrator.cc
  src/mds/Server.cc
  src/mds/events/EMetaBlob.h
  src/mds/journal.cc
  src/mds/mdstypes.h
  src/pybind/mgr/volumes/fs/operations/group.py
  src/pybind/mgr/volumes/fs/operations/pin_util.py
  src/pybind/mgr/volumes/fs/operations/template.py
  src/pybind/mgr/volumes/fs/operations/versions/subvolume_base.py
  src/pybind/mgr/volumes/fs/volume.py
  src/pybind/mgr/volumes/module.py
Labels: cephfs, needs-review

#35867 doc/dev/osd_internals: fix typos
  doc/dev/osd_internals/backfill_reservation.rst
  doc/dev/osd_internals/manifest.rst
  doc/dev/osd_internals/partial_object_recovery.rst
Labels: core, documentation

#35845 rpm: package crimson-osd in ceph-osd
  ceph.spec.in
Labels: build/ops, crimson

#35215 nautilus: mgr/dashboard: Add QA tests for RBD configuration
  qa/tasks/mgr/dashboard/test_pool.py
Labels: TESTED, dashboard, needs-review, tests

#35367 nautilus: mgr/dashboard: Prevent dashboard breakdown on bad pool selection
  src/pybind/mgr/dashboard/services/ceph_service.py
  src/pybind/mgr/dashboard/services/rbd.py
  src/pybind/mgr/dashboard/tests/test_ceph_service.py
  src/pybind/mgr/dashboard/tests/test_rbd_service.py
Labels: TESTED, dashboard

#35704 mgr/dashboard: Fixes typeahead regression in the silence matcher
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/prometheus/silence-matcher-modal/silence-matcher-modal.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/prometheus/silence-matcher-modal/silence-matcher-modal.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/prometheus/silence-matcher-modal/silence-matcher-modal.component.ts
Labels: bug fix, dashboard, ready-to-merge

#35374 mgr/cephadm: re-enable osdspec affinity passing
  src/pybind/mgr/cephadm/services/osd.py
  src/pybind/mgr/cephadm/tests/test_cephadm.py
Labels: cephadm, needs-qa, wip-swagner-testing

#35912 crimson/osd: implement flush_pg_stats command
  src/crimson/admin/osd_admin.cc
  src/crimson/admin/osd_admin.h
  src/crimson/mgr/client.cc
  src/crimson/mgr/client.h
  src/crimson/osd/heartbeat.cc
  src/crimson/osd/heartbeat.h
  src/crimson/osd/osd.cc
  src/crimson/osd/osd.h
Labels: crimson

#35875 mgr/dashboard: Fixes regression in device selection modal
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/osd/osd-devices-selection-groups/osd-devices-selection-groups.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/osd/osd-devices-selection-modal/osd-devices-selection-modal.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/osd/osd-devices-selection-modal/osd-devices-selection-modal.component.ts
  src/pybind/mgr/dashboard/frontend/src/testing/unit-test-helper.ts
Labels: bug fix, dashboard, ready-to-merge

#35859 mgr/dashboard: Remove ngx-bootstrap
  src/pybind/mgr/dashboard/frontend/package-lock.json
  src/pybind/mgr/dashboard/frontend/package.json
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-configuration-form/rbd-configuration-form.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/core/auth/auth.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/core/auth/user-form/user-form.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/core/navigation/navigation.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/core/navigation/navigation/navigation.component.html
  src/pybind/mgr/dashboard/frontend/tslint.json
Labels: dashboard, ready-to-merge

#35855 librbd: new 'write_zeroes' API methods to suppliment the `discard` APIs
  src/include/rbd/librbd.h
  src/include/rbd/librbd.hpp
  src/librbd/api/Io.cc
  src/librbd/api/Io.h
  src/librbd/librbd.cc
  src/pybind/rbd/rbd.pyx
  src/test/librbd/test_librbd.cc
  src/test/pybind/test_rbd.py
  src/tools/rbd/action/Import.cc
Labels: bug fix, feature, needs-qa, rbd, wip-mgolub-testing

#35817 qa,test,pybind: drop py2 support
  doc/_ext/ceph_releases.py
  qa/standalone/special/ceph_objectstore_tool.py
  qa/tasks/barbican.py
  qa/tasks/ceph.py
  qa/tasks/ceph_manager.py
  qa/tasks/ceph_objectstore_tool.py
  qa/tasks/cephfs/fuse_mount.py
  qa/tasks/cephfs/mount.py
  qa/tasks/cephfs/test_cephfs_shell.py
  qa/tasks/cephfs/test_forward_scrub.py
  qa/tasks/cephfs/xfstests_dev.py
  qa/tasks/osd_failsafe_enospc.py
  qa/tasks/radosgw_admin.py
  qa/tasks/rbd.py
  qa/tasks/s3tests.py
  qa/tasks/vstart_runner.py
  qa/tasks/workunit.py
  qa/workunits/restart/test-backtraces.py
  src/pybind/cephfs/cephfs.pyx
  src/pybind/cephfs/setup.py
  src/pybind/mgr/balancer/module.py
  src/pybind/mgr/cephadm/inventory.py
  src/pybind/mgr/dashboard/cherrypy_backports.py
  src/pybind/mgr/dashboard/ci/check_grafana_uids.py
  src/pybind/mgr/dashboard/constraints.txt
  src/pybind/mgr/dashboard/controllers/__init__.py
  src/pybind/mgr/dashboard/controllers/orchestrator.py
  src/pybind/mgr/dashboard/plugins/__init__.py
  src/pybind/mgr/dashboard/requirements.txt
  src/pybind/mgr/dashboard/services/cephfs.py
  src/pybind/mgr/dashboard/services/exception.py
  src/pybind/mgr/dashboard/services/orchestrator.py
  src/pybind/mgr/dashboard/services/rbd.py
  src/pybind/mgr/dashboard/services/rgw_client.py
  src/pybind/mgr/dashboard/services/sso.py
  src/pybind/mgr/dashboard/settings.py
  src/pybind/mgr/dashboard/tests/__init__.py
  src/pybind/mgr/dashboard/tools.py
  src/pybind/mgr/dashboard/tox.ini
  src/pybind/mgr/devicehealth/module.py
  src/pybind/mgr/influx/module.py
  src/pybind/mgr/insights/health.py
  src/pybind/mgr/insights/module.py
  src/pybind/mgr/mgr_module.py
  src/pybind/mgr/pg_autoscaler/module.py
  src/pybind/mgr/restful/module.py
  src/pybind/mgr/selftest/module.py
  src/pybind/mgr/status/module.py
  src/pybind/mgr/telegraf/module.py
  src/pybind/rados/rados.pyx
  src/pybind/rados/setup.py
  src/pybind/rbd/rbd.pyx
  src/pybind/rbd/setup.py
  src/pybind/rgw/setup.py
  src/test/pybind/test_rados.py
Labels: cephadm, cephfs, cleanup, core, needs-qa, python3, rbd, rgw, tests, wip-kefu-testing

#35818 osd/ReplicatedBackend: remove redundant parameter.
  src/osd/ReplicatedBackend.cc
Labels: cleanup, core, needs-qa, wip-kefu-testing

#35863 osd: Remove unused function declearation
  src/osd/PrimaryLogPG.h
Labels: core, wip-kefu-testing

#35864 osdc: use operator=(...) instead of claim()
  src/osdc/ObjectCacher.cc
Labels: cephfs, cleanup, core, needs-qa, wip-kefu-testing

#35871 mon/PGMap: do not consider changing pg stuck
  src/mon/PGMap.cc
Labels: bug fix, mgr, needs-qa, wip-kefu-testing

#35275 crimson/osd: Add support for cls_log
  src/crimson/osd/objclass.cc
  src/crimson/osd/ops_executer.cc
  src/crimson/osd/pg_backend.cc
  src/crimson/osd/pg_backend.h
Labels: crimson, feature

#35932 doc/cephadm: index.rst: s/suites/suits/ typo fixed.
  doc/install/index.rst
Labels: documentation

#35921 unittest_cdc: fix test on big-endian hosts
  src/test/common/test_cdc.cc
Labels: common

#35935 crimson/osd: use operator=(...) instead of claim()
  src/crimson/osd/objclass.cc
Labels: cleanup, crimson

#35610 monitoring: add grafana container build file
  monitoring/grafana/build/Makefile
  monitoring/grafana/build/README.md
Labels: monitoring

#35812 mgr/dashboard: print osd log as well
  src/pybind/mgr/dashboard/run-backend-api-tests.sh
Labels: dashboard, needs-review

#35936 cmake: append to Seastar_CXX_FLAGS
  src/CMakeLists.txt
  src/crimson/osd/objclass.cc
Labels: build/ops, crimson, wip-kefu2-testing

#35884 nautilus: mgr/dashboard: Prometheus query error in the metrics of Pools, OSDs and RBD images
  monitoring/grafana/dashboards/osds-overview.json
  monitoring/grafana/dashboards/rbd-overview.json
Labels: bug fix, dashboard, monitoring, skip-teuthology

#35885 octopus: mgr/dashboard: Prometheus query error in the metrics of Pools, OSDs and RBD images
  monitoring/grafana/dashboards/osds-overview.json
  monitoring/grafana/dashboards/rbd-overview.json
Labels: bug fix, dashboard, monitoring, skip-teuthology

#35546 os/bluestore: Introduce zoned freelist manager.
  doc/dev/zoned-storage.rst
  src/os/CMakeLists.txt
  src/os/bluestore/Allocator.h
  src/os/bluestore/BlueStore.cc
  src/os/bluestore/BlueStore.h
  src/os/bluestore/FreelistManager.cc
  src/os/bluestore/FreelistManager.h
  src/os/bluestore/ZonedAllocator.cc
  src/os/bluestore/ZonedAllocator.h
  src/os/bluestore/ZonedFreelistManager.cc
  src/os/bluestore/ZonedFreelistManager.h
  src/os/bluestore/bluestore_common.h
  src/os/bluestore/zoned_types.cc
  src/os/bluestore/zoned_types.h
Labels: bluestore, needs-qa, wip-kefu-testing

#35890 cephadm: Make list_networks ipv6 enabled
  src/cephadm/cephadm
  src/cephadm/tests/test_cephadm.py
Labels: cephadm, needs-qa, wip-kefu-testing

#35920 msg/msg_types: entity_addrvec_t: fix decode on big-endian hosts
  src/msg/msg_types.cc
Labels: messenger, needs-review, wip-kefu-testing

#35913 docker/podman: tag crimson flavor container as 'sha-1-flavor'
  qa/tasks/cephadm.py
Labels: cephadm

#35354 mgr/dashboard: use relative font sizes
  src/pybind/mgr/dashboard/frontend/src/app/ceph/dashboard/health/health.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/ceph/dashboard/info-card/info-card-popover.scss
  src/pybind/mgr/dashboard/frontend/src/app/ceph/dashboard/info-group/info-group.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/core/forbidden/forbidden.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/notifications-sidebar/notifications-sidebar.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/select/select.component.scss
  src/pybind/mgr/dashboard/frontend/src/styles.scss
Labels: cleanup, dashboard, needs-review

#35942 admin: move python-common deps out of doc-requirements.txt
  admin/build-doc
  admin/doc-python-common-requirements.txt
  admin/doc-requirements.txt
Labels: build/ops, documentation

#35384 nautilus: rgw/url: fix amqp urls with vhosts
  src/rgw/rgw_url.cc
  src/test/rgw/rgw_multi/tests_ps.py
  src/test/rgw/test_rgw_url.cc
Labels: nautilus-batch-1, needs-qa, rgw, wip-yuri4-testing

#35385 nautilus: rbd: librbd: Watcher should not attempt to re-watch after detecting blacklisting
  src/librbd/Watcher.cc
  src/test/librbd/test_mock_Watcher.cc
Labels: nautilus-batch-1, needs-qa, rbd, wip-yuri4-testing

#35496 client: introduce timeout for client shutdown
  src/client/Client.cc
  src/client/Client.h
  src/common/options.cc
Labels: cephfs, needs-qa, wip-pdonnell-testing

#35933 include/interval_set: use template as the 2nd template parameter
  src/include/interval_set.h
  src/os/bluestore/StupidAllocator.h
  src/osd/osd_types.h
  src/test/common/CMakeLists.txt
  src/test/common/test_interval_set.cc
Labels: cleanup, common, needs-review

#35914 crimson: clang related cleanups
  src/crimson/common/fixed_kv_node_layout.h
  src/crimson/common/gated.h
  src/crimson/mgr/client.cc
  src/crimson/mon/MonClient.cc
  src/crimson/os/seastore/root_block.h
Labels: cleanup, crimson

#35940 tools/ceph-dencoder: add get_struct_v,get_struct_compat commands
  src/tools/ceph-dencoder/ceph_dencoder.cc
  src/tools/ceph-dencoder/denc_registry.h
Labels: feature, tools

#35764 common/bl: document and slightly optimize ptr::release().
  src/common/buffer.cc
Labels: cleanup, common, needs-review

#35883 octopus: mgr/dashboard: fix wal/db slots controls in the OSD form
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/osd/osd-form/osd-form.component.ts
Labels: dashboard, skip-teuthology

#35707 mgr/dashboard: Fixes ICU selection regression
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/mirroring/pool-edit-peer-modal/pool-edit-peer-modal.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/osd/osd-list/osd-list.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/osd/osd-scrub-modal/osd-scrub-modal.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/prometheus/silence-matcher-modal/silence-matcher-modal.component.html
Labels: bug fix, dashboard, ready-to-merge, skip-teuthology

#35705 octopus: mgr/dashboard: Improve Summary's subscribe methods
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/iscsi-target-list/iscsi-target-list.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/mirroring/bootstrap-create-modal/bootstrap-create-modal.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/mirroring/bootstrap-import-modal/bootstrap-import-modal.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/mirroring/daemon-list/daemon-list.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/mirroring/image-list/image-list.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/mirroring/overview/overview.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/mirroring/pool-edit-mode-modal/pool-edit-mode-modal.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/mirroring/pool-list/pool-list.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-trash-list/rbd-trash-list.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/prometheus/monitoring-list/monitoring-list.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/services/service-details/service-details.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/nfs/nfs-501/nfs-501.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/nfs/nfs-form/nfs-form.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/nfs/nfs-form/nfs-form.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/nfs/nfs-list/nfs-list.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/pool/pool-list/pool-list.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-501/rgw-501.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/core/navigation/about/about.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/core/navigation/dashboard-help/dashboard-help.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/core/navigation/navigation/navigation.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/core/navigation/notifications/notifications.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/rbd-mirroring.service.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/rbd-mirroring.service.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/grafana/grafana.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/notifications-sidebar/notifications-sidebar.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/orchestrator-doc-panel/orchestrator-doc-panel.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/models/finished-task.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/models/mirroring-summary.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/models/summary.model.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/services/summary.service.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/services/summary.service.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/services/task-list.service.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/services/task-manager.service.ts
Labels: dashboard, skip-teuthology

#35886 rgw: make RGWToken string ctor explicit
  src/rgw/rgw_token.h
Labels: cleanup, needs-qa, rgw

#35923 mgr/dashboard: Fix bugs in a unit test and i18n translation
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-bucket-list/rgw-bucket-list.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/telemetry-notification/telemetry-notification.component.ts
Labels: cleanup, dashboard, skip-teuthology

#35620 octopus: mgr/dashboard: cropped actions menu in nested details
  src/pybind/mgr/dashboard/frontend/src/app/shared/datatable/table/table.component.scss
Labels: bug fix, dashboard, skip-teuthology

#35834 rgw: add a doc hint that the topic-name is used as AMQP routing-key
  doc/radosgw/notifications.rst
  doc/radosgw/pubsub-module.rst
Labels: documentation, rgw

#35743 mgr/volumes/nfs: Add cluster show info command
  doc/cephfs/fs-nfs-exports.rst
  qa/tasks/cephfs/test_nfs.py
  src/pybind/mgr/volumes/fs/nfs.py
  src/pybind/mgr/volumes/module.py
Labels: cephadm, cephfs, feature, needs-review

#35861 librbd: allow thick-zeroing of an image extent
  src/include/rbd/librbd.h
  src/librbd/api/Io.cc
  src/pybind/rbd/rbd.pyx
  src/test/librbd/test_librbd.cc
  src/test/pybind/test_rbd.py
  src/tools/rbd/action/Create.cc
Labels: feature, needs-qa, rbd, wip-mgolub-testing

#35725 client: fix setxattr for 0 size value (NULL value)
  src/client/Client.cc
Labels: cephfs

#35711 octopus: mgr/dashboard: work with v1 RBD images
  qa/tasks/mgr/dashboard/test_rbd.py
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-details/rbd-details.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-form/rbd-form.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-list/rbd-list.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-list/rbd-list.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-list/rbd-model.ts
  src/pybind/mgr/dashboard/services/ceph_service.py
  src/pybind/mgr/dashboard/services/rbd.py
  src/pybind/mgr/dashboard/tests/test_ceph_service.py
Labels: bug fix, dashboard, needs-qa, octopus-batch-1, rbd, wip-yuri7-testing

#34960 vstart: specify the NVME PCI BUS ID when enable spdk.
  src/vstart.sh
Labels: build/ops, needs-review, tools

#35501 mgr/dashboard: Introduce SASS modules
  src/pybind/mgr/dashboard/frontend/.stylelintrc
  src/pybind/mgr/dashboard/frontend/angular.json
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cephfs/cephfs-chart/cephfs-chart.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cephfs/cephfs-directories/cephfs-directories.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/logs/logs.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/ceph/dashboard/health-pie/health-pie.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/ceph/dashboard/health/health.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/ceph/dashboard/info-card/info-card-popover.scss
  src/pybind/mgr/dashboard/frontend/src/app/ceph/dashboard/info-card/info-card.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/ceph/pool/pool-list/pool-list.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/core/auth/login-password-form/login-password-form.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/core/auth/login/login.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/core/auth/role-details/role-details.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/core/layouts/blank-layout/blank-layout.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/core/layouts/login-layout/login-layout.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/core/layouts/workbench-layout/workbench-layout.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/core/navigation/about/about.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/core/navigation/breadcrumbs/breadcrumbs.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/core/navigation/navigation/navigation.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/core/navigation/notifications/notifications.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/helper/helper.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/modal/modal.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/notifications-sidebar/notifications-sidebar.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/select-badges/select-badges.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/select/select.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/sparkline/sparkline.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/usage-bar/usage-bar.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/shared/datatable/table/table.component.scss
  src/pybind/mgr/dashboard/frontend/src/styles.scss
  src/pybind/mgr/dashboard/frontend/src/styles/_chart-tooltip.scss
  src/pybind/mgr/dashboard/frontend/src/styles/ceph-custom/_basics.scss
  src/pybind/mgr/dashboard/frontend/src/styles/ceph-custom/_buttons.scss
  src/pybind/mgr/dashboard/frontend/src/styles/ceph-custom/_dropdown.scss
  src/pybind/mgr/dashboard/frontend/src/styles/ceph-custom/_forms.scss
  src/pybind/mgr/dashboard/frontend/src/styles/ceph-custom/_grid.scss
  src/pybind/mgr/dashboard/frontend/src/styles/ceph-custom/_icons.scss
  src/pybind/mgr/dashboard/frontend/src/styles/ceph-custom/_index.scss
  src/pybind/mgr/dashboard/frontend/src/styles/defaults/_bootstrap-defaults.scss
  src/pybind/mgr/dashboard/frontend/src/styles/defaults/_functions.scss
  src/pybind/mgr/dashboard/frontend/src/styles/defaults/_index.scss
  src/pybind/mgr/dashboard/frontend/src/styles/defaults/_mixins.scss
  src/pybind/mgr/dashboard/frontend/src/styles/vendor/_index.scss
  src/pybind/mgr/dashboard/frontend/src/styles/vendor/_style-overrides.scss
  src/pybind/mgr/dashboard/frontend/src/styles/vendor/_variables.scss
Labels: dashboard, ready-to-merge

#35874 mgr/dashboard: Hide password notification when expiration date is far
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/pwd-expiration-notification/pwd-expiration-notification.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/pwd-expiration-notification/pwd-expiration-notification.component.ts
Labels: dashboard, ready-to-merge, skip-teuthology

#35338 doc/dev/osd_internals/manifest.rst: add information about clone snap refcounting
  doc/dev/osd_internals/manifest.rst
Labels: documentation

#35922 mgr/dashboard: Clean the output of lint and fix scripts
  src/pybind/mgr/dashboard/frontend/package.json
  src/pybind/mgr/dashboard/frontend/tslint.json
Labels: cleanup, dashboard, ready-to-merge

#35948 mgr/dashboard: Clean unit tests configuration and output
  src/pybind/mgr/dashboard/frontend/package-lock.json
  src/pybind/mgr/dashboard/frontend/package.json
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/prometheus/silence-form/silence-form.component.ts
  src/pybind/mgr/dashboard/frontend/src/jestGlobalMocks.ts
  src/pybind/mgr/dashboard/frontend/tsconfig.spec.json
Labels: cleanup, dashboard, ready-to-merge

#35943 pybind/mgr/balancer: use "==" and "!=" for comparing str
  src/pybind/mgr/balancer/module.py
Labels: cleanup, mgr, needs-qa, wip-kefu-testing

#35825 test/stress_watch: remove unused variable
  src/test/test_stress_watch.cc
Labels: needs-qa, needs-review, tests, wip-kefu-testing

#35907 os/bluestore: Fix handling the return value of zbc_device_is_zoned() call.
  src/blk/BlockDevice.cc
Labels: bluestore, bug fix, needs-qa, wip-kefu-testing

#35908 mgr/cephadm: fix Dashboard ganesha setting duplication error
  src/pybind/mgr/cephadm/services/nfs.py
Labels: bug fix, cephadm, needs-qa, wip-kefu-testing

#35911 os/bluestore/bluefs: only bytes_written_slow > 0, we update perfcounter.
  src/os/bluestore/BlueFS.cc
Labels: bluestore, needs-qa, needs-review, wip-kefu-testing

#35286 rgw: user: RGWUserMetadataHandler mark remove method override
  src/rgw/rgw_user.cc
Labels: cleanup, rgw

#35910 adding filter for s3select
  qa/tasks/s3tests.py
Labels: needs-review, rgw

#35499 octopus: nfs backport
  doc/cephfs/fs-nfs-exports.rst
  doc/cephfs/index.rst
  qa/suites/rados/cephadm/workunits/task/test_orch_cli.yaml
  qa/tasks/cephfs/test_nfs.py
  src/pybind/mgr/test_orchestrator/dummy_data.json
  src/pybind/mgr/test_orchestrator/module.py
  src/pybind/mgr/volumes/fs/nfs.py
  src/pybind/mgr/volumes/module.py
  src/stop.sh
  src/vstart.sh
Labels: cephadm, cephfs, needs-review, octopus-batch-1

#34095 nautilus: mgr/dashboard: add popover list of Stand-by Managers & Metadata Servers (MDS) in landing page
  qa/tasks/mgr/dashboard/test_health.py
  src/pybind/mgr/dashboard/controllers/health.py
  src/pybind/mgr/dashboard/frontend/src/app/ceph/dashboard/health/health.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/dashboard/health/health.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/ceph/dashboard/health/health.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/dashboard/mds-summary.pipe.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/dashboard/mds-summary.pipe.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/dashboard/mgr-summary.pipe.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/dashboard/mgr-summary.pipe.ts
Labels: TESTED, bug fix, dashboard

#35966 rgw: rgw-orphan-list -- fix interaction, quoting, and percentage calc
  src/rgw/rgw-orphan-list
Labels: bug fix, rgw

#35949 doc/devel: repair sentences in "Essentials" page
  doc/dev/developer_guide/essentials.rst
Labels: documentation

#34943 octopus: test/store_test: refactor bluestore spillover test
  src/test/objectstore/store_test.cc
Labels: bluestore, bug fix, needs-qa, octopus-batch-1, tests, wip-yuri7-testing

#35720 octopus: New msgr2 crc and secure modes (msgr2.1)
  doc/dev/msgr2.rst
  src/crimson/CMakeLists.txt
  src/crimson/net/ProtocolV2.cc
  src/crimson/net/ProtocolV2.h
  src/include/msgr.h
  src/msg/CMakeLists.txt
  src/msg/async/ProtocolV2.cc
  src/msg/async/ProtocolV2.h
  src/msg/async/crypto_onwire.cc
  src/msg/async/crypto_onwire.h
  src/msg/async/frames_v2.cc
  src/msg/async/frames_v2.h
  src/test/msgr/CMakeLists.txt
  src/test/msgr/test_frames_v2.cc
  src/test/msgr/test_msgr.cc
Labels: feature, messenger, needs-qa, octopus-batch-1, wip-yuri7-testing

#35766 octopus: mgr/dashboard: allow preserving OSD IDs when deleting OSDs
  src/pybind/mgr/dashboard/controllers/osd.py
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/osd/osd-list/osd-list.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/osd/osd-list/osd-list.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/osd.service.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/osd.service.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/critical-confirmation-modal/critical-confirmation-modal.component.html
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/critical-confirmation-modal/critical-confirmation-modal.component.ts
  src/pybind/mgr/dashboard/services/orchestrator.py
Labels: dashboard, feature, needs-qa, octopus-batch-1, orchestrator, wip-yuri7-testing

#35794 octopus: mgr: fix race between module load and notify
  src/mgr/ActivePyModules.cc
  src/mgr/StandbyPyModules.cc
Labels: bug fix, mgr, needs-qa, octopus-batch-1, wip-yuri7-testing

#35797 octopus: qa: mgr/dashboard: Replace Telemetry module in REST API test
  qa/tasks/mgr/dashboard/test_mgr_module.py
Labels: cleanup, dashboard, needs-qa, octopus-batch-1, tests, wip-yuri7-testing

#35737 octopus: osd: make message cap option usable again
  src/ceph_osd.cc
  src/common/options.cc
Labels: core, needs-qa, octopus-batch-1, wip-yuri8-testing

#35964 neorados: bridge support to librados cluster connections
  src/include/neorados/RADOS.hpp
  src/include/rados/librados.hpp
  src/librados/RadosClient.h
  src/neorados/RADOS.cc
  src/neorados/RADOSImpl.cc
  src/neorados/RADOSImpl.h
  src/test/neorados/CMakeLists.txt
  src/test/neorados/test_neorados.cc
Labels: bug fix, common, feature

#35793 octopus: mgr/DaemonServer.cc: make 'config show' on fsid work
  src/mgr/DaemonServer.cc
Labels: bug fix, mgr, needs-qa, octopus-batch-1, wip-yuri8-testing

#35799 octopus: mon/OSDMonitor: Reset grace period if failure interval exceeds a threshold.
  src/mon/OSDMonitor.cc
  src/mon/OSDMonitor.h
Labels: core, needs-qa, octopus-batch-1, wip-yuri8-testing

#35976 run-make-check.sh: fix the log message
  run-make-check.sh
Labels: build/ops, cleanup

#35979 rgw: orphan list teuthology test & fully-qualified domain issue
  qa/workunits/rgw/test_rgw_orphan_list.sh
Labels: feature, rgw, tests

#35361 mgr/volumes: Validate mon_allow_pool_delete before volume deletion
  qa/tasks/cephfs/test_volumes.py
  src/pybind/mgr/volumes/fs/volume.py
Labels: bug fix, cephfs, needs-qa, wip-pdonnell-testing

#35810 tool: convert str to num using std::stoull()
  src/tools/cephfs/MetaTool.cc
  src/tools/cephfs/MetaTool.h
  src/tools/cephfs/cephfs-meta-injection.cc
Labels: cephfs, needs-qa, tools, wip-pdonnell-testing

#35934 pybind/cephfs: fix custom exception raised by cephfs.pyx
  src/pybind/cephfs/cephfs.pyx
  src/test/pybind/test_cephfs.py
Labels: cephfs, needs-qa, wip-pdonnell-testing

#33912 pybind/cephfs: add special values for not reading conffile
  src/pybind/cephfs/cephfs.pyx
  src/pybind/rados/rados.pyx
Labels: cephfs, cleanup, needs-qa, pybind, wip-pdonnell-testing

#33827 mon: add 'ceph fs required_client_feature <fs_name> add/rm' command
  PendingReleaseNotes
  doc/cephfs/administration.rst
  qa/suites/fs/upgrade/featureful_client/old_client/tasks/3-compat_client/pacific.yaml
  qa/suites/fs/upgrade/featureful_client/upgraded_client/tasks/4-compat_client.yaml
  qa/tasks/cephfs/test_admin.py
  qa/tasks/mgr/dashboard/test_health.py
  src/CMakeLists.txt
  src/crimson/CMakeLists.txt
  src/mds/MDSMap.cc
  src/mds/MDSMap.h
  src/mds/MDSRank.cc
  src/mds/Server.cc
  src/mds/cephfs_features.cc
  src/mds/cephfs_features.h
  src/mds/mdstypes.h
  src/mon/FSCommands.cc
  src/mon/MDSMonitor.cc
  src/mon/MonCommands.h
Labels: cephfs, needs-qa, wip-pdonnell-testing

#35410 client: release the client_lock before copying data in read
  src/client/Client.cc
Labels: cephfs, needs-qa, wip-pdonnell-testing

#35868 mds: update codes of MSG_MDS_METRICS and MSG_MDS_PING
  src/msg/Message.h
Labels: cephfs, cleanup, needs-qa, wip-pdonnell-testing

#35415 mds: make threshold for MDS_TRIM configurable
  doc/cephfs/health-messages.rst
  src/common/options.cc
  src/mds/Beacon.cc
Labels: cephfs, needs-qa, wip-pdonnell-testing

#35857 pybind/mgr/volumes: fix volume search for pools
  src/pybind/mgr/volumes/fs/operations/volume.py
Labels: bug fix, cephfs, needs-qa, wip-pdonnell-testing

#34908 mgr/dashboard: Add E2E tests for navigation, language and login
  src/pybind/mgr/dashboard/frontend/cypress.json
  src/pybind/mgr/dashboard/frontend/cypress/fixtures/nfs-ganesha-status.json
  src/pybind/mgr/dashboard/frontend/cypress/fixtures/rgw-status.json
  src/pybind/mgr/dashboard/frontend/cypress/integration/ui/language.e2e-spec.ts
  src/pybind/mgr/dashboard/frontend/cypress/integration/ui/language.po.ts
  src/pybind/mgr/dashboard/frontend/cypress/integration/ui/login.e2e-spec.ts
  src/pybind/mgr/dashboard/frontend/cypress/integration/ui/login.po.ts
  src/pybind/mgr/dashboard/frontend/cypress/integration/ui/navigation.e2e-spec.ts
  src/pybind/mgr/dashboard/frontend/cypress/integration/ui/navigation.po.ts
  src/pybind/mgr/dashboard/frontend/package-lock.json
  src/pybind/mgr/dashboard/frontend/package.json
Labels: dashboard, ready-to-merge, skip-teuthology, tests

#35847 octopus: mgr/prometheus: improve cache
  doc/mgr/prometheus.rst
  src/pybind/mgr/prometheus/module.py
  src/pybind/mgr/tox.ini
Labels: TESTED, bug fix, monitoring, needs-qa, octopus-batch-1

#35748 octopus:os/bluestore: improve/fix bluefs stats reporting
  src/os/bluestore/BlueFS.cc
  src/os/bluestore/BlueFS.h
  src/os/bluestore/BlueStore.cc
  src/os/bluestore/BlueStore.h
  src/os/bluestore/bluestore_tool.cc
  src/test/objectstore/store_test.cc
Labels: TESTED, bluestore, bug fix, needs-qa, octopus-batch-1

#35858 rgw: Normalizing X-Amz- headers for case in RGWHTTPArgs
  src/rgw/rgw_auth_s3.cc
  src/rgw/rgw_common.cc
  src/rgw/rgw_rest_s3.cc
Labels: bug fix, needs-qa, rgw

#35481 rgw/sts: Removing references to token introspection url,
  doc/radosgw/keycloak.rst
Labels: rgw

#35465 rgw: adding user related web token claims to ops log
  src/rgw/rgw_auth.cc
  src/rgw/rgw_auth.h
  src/rgw/rgw_auth_s3.h
  src/rgw/rgw_common.h
  src/rgw/rgw_log.cc
  src/rgw/rgw_log.h
  src/rgw/rgw_rest_s3.cc
  src/rgw/rgw_sts.cc
  src/rgw/rgw_sts.h
Labels: needs-qa, rgw

#35919 ec: drop stubs of {encode,decode}_chunks() from ErasureCode.
  src/erasure-code/ErasureCode.cc
  src/erasure-code/ErasureCode.h
  src/test/erasure-code/TestErasureCode.cc
Labels: cleanup, core

#35927 qa/tasks: fix cephadm config image check
  qa/tasks/cephadm.py
Labels: cephadm, needs-review

#34861 mds: send scrub status to ceph-mgr only when scrub is running
  qa/tasks/cephfs/test_scrub_checks.py
  src/mds/MDSRank.cc
  src/mds/MDSRank.h
  src/mds/ScrubStack.h
  src/mgr/DaemonServer.cc
  src/mgr/MgrClient.cc
Labels: cephfs, needs-qa, wip-pdonnell-testing

#35983 selinux: allow ceph_t amqp_port_t:tcp_socket
  selinux/ceph.te
Labels: bug fix, rgw

#35963 mgr/dashboard: Allow to edit iSCSI target with active session
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/iscsi-target-list/iscsi-target-list.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/iscsi-target-list/iscsi-target-list.component.ts
Labels: bug fix, dashboard, skip-teuthology

#35403 nautilus: tests: qa/tasks/cephfs/test_scrub.py: use umount_wait to avoid possible ceph-fuse daemon stuck
  qa/tasks/cephfs/test_scrub.py
Labels: cephfs, nautilus-batch-1, needs-qa, tests, wip-yuri3-testing

#35377 nautilus: cephfs: mds: add config to require forward to auth MDS
  src/common/options.cc
  src/mds/MDCache.cc
  src/mds/MDCache.h
  src/mds/MDSRank.cc
  src/mds/Server.cc
Labels: cephfs, nautilus-batch-1, needs-qa, wip-yuri3-testing

#35394 nautilus: mds: preserve ESlaveUpdate logevent until receiving OP_FINISH
  src/mds/LogSegment.h
  src/mds/MDCache.cc
  src/mds/MDCache.h
  src/mds/MDLog.cc
  src/mds/MDLog.h
  src/mds/Mutation.h
  src/mds/Server.cc
  src/mds/events/EMetaBlob.h
  src/mds/journal.cc
Labels: cephfs, nautilus-batch-1, needs-qa, wip-yuri3-testing

#35396 nautilus: cephfs: vstart_runner: set mounted to True at the end of mount()
  qa/tasks/vstart_runner.py
Labels: cephfs, nautilus-batch-1, needs-qa, wip-yuri3-testing

#35397 nautilus: cephfs: mds: cleanup uncommitted fragments before mds goes to active
  src/mds/MDCache.cc
  src/mds/MDCache.h
  src/mds/MDSRank.cc
Labels: cephfs, nautilus-batch-1, needs-qa, wip-yuri3-testing

#35398 nautilus: cephfs: ceph_fuse: add the '-d' option back for libfuse
  src/common/config.cc
  src/common/options.cc
Labels: cephfs, nautilus-batch-1, needs-qa, wip-yuri3-testing

#35399 nautilus: tests: qa/cephfs: run modprobe beforehand so that /sys/fs/fuse/connections is never absent
  qa/tasks/cephfs/fuse_mount.py
Labels: cephfs, nautilus-batch-1, needs-qa, tests, wip-yuri3-testing

#35400 nautilus: mds: flag backtrace scrub failures for new files as okay
  qa/tasks/cephfs/cephfs_test_case.py
  qa/tasks/cephfs/test_scrub.py
  src/mds/CInode.cc
Labels: cephfs, nautilus-batch-1, needs-qa, wip-yuri3-testing

#35999 doc/governance: add Patrick to CLTW
  doc/governance.rst
Labels: documentation, needs-review

#35189 rgw:gc: use XXHash for gc queue selection
  src/rgw/rgw_gc.cc
  src/rgw/rgw_gc.h
Labels: needs-qa, performance, rgw, wip-eric-testing-1

#35409 rgw/iam: correcting the result of get role policy.
  src/rgw/rgw_rest_role.cc
Labels: bug fix, needs-qa, rgw, wip-eric-testing-1

#35525 rgw: stop realm reloader before store shutdown
  src/rgw/rgw_main.cc
Labels: bug fix, needs-qa, rgw, wip-eric-testing-1

#35735 rgw: radoslist incomplete multipart uploads fix marker progression
  src/rgw/rgw_orphan.cc
Labels: bug fix, needs-qa, rgw, wip-eric-testing-1

#35853 rgw: include string header
  src/rgw/rgw_b64.h
Labels: needs-qa, rgw, wip-eric-testing-1

#35904 rgw: fix boost::asio::async_write() does not return error...
  src/rgw/rgw_asio_frontend.cc
Labels: bug fix, needs-qa, rgw, wip-eric-testing-1

#34946 mgr/dashboard: stay on active tab
  src/pybind/mgr/dashboard/frontend/cypress/integration/cluster/configuration.e2e-spec.ts
  src/pybind/mgr/dashboard/frontend/cypress/integration/page-helper.po.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/mirroring/image-list/image-list.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-details/rbd-details.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cephfs/cephfs-tabs/cephfs-tabs.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/configuration/configuration-details/configuration-details.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/configuration/configuration-details/configuration-details.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/hosts/host-details/host-details.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/logs/logs.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/mgr-modules/mgr-module-details/mgr-module-details.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/mgr-modules/mgr-module-details/mgr-module-details.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/osd/osd-details/osd-details.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/services/service-details/service-details.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/services/service-details/service-details.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/nfs/nfs-details/nfs-details.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/pool/pool-details/pool-details.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-bucket-details/rgw-bucket-details.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-bucket-details/rgw-bucket-details.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-daemon-details/rgw-daemon-details.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-user-details/rgw-user-details.component.html
  src/pybind/mgr/dashboard/frontend/src/app/core/auth/role-details/role-details.component.html
  src/pybind/mgr/dashboard/frontend/src/app/shared/directives/directives.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/directives/stateful-tab.directive.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/directives/stateful-tab.directive.ts
Labels: dashboard, feature, ready-to-merge

#35939 mgr/dashboard: Edit host label dialog is crashing
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/hosts/hosts.component.ts
Labels: bug fix, dashboard, ready-to-merge

#35892 octopus: mgr/dashboard: Display check icon instead of true|false in various datatables
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/inventory/inventory-devices/inventory-devices.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/services/services.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/core/auth/user-list/user-list.component.html
  src/pybind/mgr/dashboard/frontend/src/app/core/auth/user-list/user-list.component.ts
Labels: cleanup, dashboard, skip-teuthology

#35967 mgr/dashboard: Fix language selector
  src/pybind/mgr/dashboard/frontend/angular.json
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/language-selector/language-selector.component.html
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/language-selector/language-selector.component.ts
Labels: bug fix, cleanup, dashboard, ready-to-merge

#35926 octopus: mgr/dashboard: Display users current bucket quota usage
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cephfs/cephfs-detail/cephfs-detail.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/osd/osd-list/osd-list.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/pool/pool-list/pool-list.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-bucket-list/rgw-bucket-list.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-bucket-list/rgw-bucket-list.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-bucket-list/rgw-bucket-list.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/usage-bar/usage-bar.component.html
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/usage-bar/usage-bar.component.ts
Labels: dashboard, skip-teuthology

#33292 luminous: client: removing dir reports "not empty" issue due to client side filled wrong dir offset
  src/client/Client.cc
Labels: cephfs, luminous-batch-1, needs-qa

#33293 luminous: client: no method to handle SEEK_HOLE and SEEK_DATA in lseek
  src/client/Client.cc
Labels: cephfs, luminous-batch-1, needs-qa
