Repository ceph/ceph, pull requests merged in 2020-04, with the labels that each got.

#34323 octopus: librbd: fix client backwards compatibility issues
  src/librbd/image/RefreshRequest.cc
  src/librbd/image/RefreshRequest.h
  src/test/librbd/image/test_mock_RefreshRequest.cc
Labels: bug fix, octopus-batch-1, rbd, wip-yuri-testing

#34232 qa/tasks/mgr/dashboard/test_rbd: wait longer when purging
  qa/tasks/mgr/dashboard/test_rbd.py
Labels: bug fix, dashboard, needs-qa, wip-laura-testing

#34331 test/common/unittest_blkdev: delete unused test file
  src/test/common/test_blkdev_sys_block/sys/dev/block/8:0
  src/test/common/test_blkdev_sys_block/sys/dev/block/9:0
Labels: cleanup, tests

#34341 ceph-volume: update functional testing deploy.yml playbook
  src/ceph-volume/ceph_volume/tests/functional/playbooks/deploy.yml
Labels: ceph-volume

#34345 crimson: do not warn() under expected circumstances
  src/crimson/mon/MonClient.cc
  src/crimson/osd/osd.cc
Labels: cleanup, crimson

#34096 rgw: groundwork for supporting dynamic resharding in multisite environment
  src/rgw/CMakeLists.txt
  src/rgw/rgw_admin.cc
  src/rgw/rgw_bucket.cc
  src/rgw/rgw_bucket_layout.cc
  src/rgw/rgw_bucket_layout.h
  src/rgw/rgw_common.cc
  src/rgw/rgw_common.h
  src/rgw/rgw_data_sync.cc
  src/rgw/rgw_json_enc.cc
  src/rgw/rgw_op.cc
  src/rgw/rgw_putobj_processor.cc
  src/rgw/rgw_rados.cc
  src/rgw/rgw_rados.h
  src/rgw/rgw_reshard.cc
  src/rgw/rgw_trim_bilog.cc
  src/rgw/rgw_zone.h
  src/rgw/services/svc_bi_rados.cc
  src/rgw/services/svc_zone.cc
Labels: DNM, rgw

#34320 cephadm: ceph-volume: disallow concurrent execution
  src/cephadm/cephadm
Labels: bug fix, ceph-volume, cephadm, wip-sage4-testing

#34134 pybind/rbd: fix no lockers are obtained, ImageNotFound exception will be output
  src/pybind/rbd/rbd.pyx
  src/test/pybind/test_rbd.py
Labels: bug fix, needs-qa, pybind, rbd, wip-mgolub-testing

#34322 rgw: pubsub sync module ignores ERR_USER_EXIST
  src/rgw/rgw_sync_module_pubsub.cc
Labels: bug fix, rgw, wip-cbodley-testing

#34339 octopus: qa/tasks/mgr/dashboard/test_rbd: wait longer when purging
  qa/tasks/mgr/dashboard/test_rbd.py
Labels: bug fix, dashboard, tests, wip-sage-testing

#34313 octopus: qa/standalone/osd/osd-backfill-recovery-log.sh: fix TEST_backfill_log_[1, 2]
  qa/standalone/osd/osd-backfill-recovery-log.sh
Labels: core, needs-qa, octopus-batch-1, tests, wip-sage-testing

#34280 octopus: mgr/dashboard: do not fail on user creation (CLI)
  src/pybind/mgr/dashboard/services/access_control.py
  src/pybind/mgr/dashboard/tests/test_access_control.py
Labels: bug fix, dashboard, wip-sage-testing

#34225 octopus: doc/start: Update hardware recommendations.
  doc/start/hardware-recommendations.rst
Labels: wip-sage-testing

#34290 doc/mgr/orchestrator: Add "Service Specification"
  doc/cephadm/drivegroups.rst
  doc/mgr/orchestrator.rst
Labels: cephadm, documentation

#34324 crimson/osd: OP_CALL does support RETURNVEC now.
  src/crimson/common/errorator.h
  src/crimson/osd/ops_executer.cc
  src/crimson/osd/ops_executer.h
  src/crimson/osd/osd_operations/client_request.cc
  src/crimson/osd/pg.cc
  src/crimson/osd/pg.h
  src/test/cls_hello/test_cls_hello.cc
Labels: crimson

#34033 mgr/dashboard: fix error when enabling SSO with cert. file
  src/pybind/mgr/dashboard/services/sso.py
Labels: bug fix, dashboard

#33954 python-common: fix /hosts/ parsing in servicespecs
  src/python-common/ceph/deployment/service_spec.py
  src/python-common/ceph/tests/test_service_spec.py
  src/python-common/requirements.txt
Labels: needs-qa, orchestrator, wip-swagner-testing

#34250 mgr/cephadm: add useful error if python3 is not on remote host
  src/pybind/mgr/cephadm/module.py
Labels: cephadm, needs-qa, wip-swagner-testing

#34206 cephadm: check hostnames case insensitive
  src/cephadm/cephadm
Labels: cephadm, needs-qa, wip-swagner-testing

#34312 mgr/dashboard: Fix ServiceDetails and PoolDetails unit tests
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/services/service-details/service-details.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/pool/pool-details/pool-details.component.spec.ts
Labels: dashboard, needs-review

#33807 rgw: Disable prefetch of entire head object when GET request with ran…
  src/rgw/rgw_op.cc
Labels: bug fix, needs-qa, rgw

#34283 mgr/dashboard: Reduce size of component styles
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/logs/logs.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/ceph/dashboard/health/health.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/ceph/dashboard/info-card/info-card.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/shared/datatable/table-actions/table-actions.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/shared/datatable/table/table.component.scss
  src/pybind/mgr/dashboard/frontend/src/styles.scss
  src/pybind/mgr/dashboard/frontend/src/styles/bootstrap-extends.scss
Labels: dashboard, ready-to-merge

#34329 cephadm: fix typo
  src/cephadm/cephadm
Labels: cephadm, wip-swagner2-testing

#34361 mgr/cephadm: revert trivial_completion for nfs_add
  src/pybind/mgr/cephadm/module.py
Labels: cephadm, orchestrator, wip-swagner2-testing

#34330 cephadm: add `extra_args` to nfs daemon
  src/cephadm/cephadm
  src/pybind/mgr/cephadm/nfs.py
Labels: cephadm, needs-qa, wip-swagner2-testing

#34227 monitoring: alert for prediction of disk and pool fill up broken
  monitoring/prometheus/alerts/ceph_default_alerts.yml
Labels: bug fix, monitoring, ready-to-merge

#34333 mailmap: update mail org relationship
  .mailmap
  .organizationmap
Labels: documentation

#34377 mgr/dashboard: Add more debug information to Dashboard RGW backend
  src/pybind/mgr/dashboard/services/rgw_client.py
Labels: dashboard, feature, ready-to-merge

#34390 .github/CODEOWNERS: add ceph/crimson
  .github/CODEOWNERS
Labels: crimson

#34129 nautilus: mgr/dashboard: fix error when enabling SSO with cert. file
  src/pybind/mgr/dashboard/services/sso.py
Labels: bug fix, dashboard

#34367 CODEOWNERS: update cephadm paths
  .github/CODEOWNERS
Labels: cephadm

#34318 doc/mgr/orchestrator: add path to ssh-copy-id instructions
  doc/cephadm/install.rst
Labels: cephadm, documentation

#34319 doc/mgr/orchestrator: update cephadm shell proposed alias entry
  doc/cephadm/install.rst
Labels: cephadm, documentation

#34355 octopus: doc/cephadm: replace `osd create` with `apply osd`
  doc/cephadm/drivegroups.rst
  doc/cephadm/install.rst
Labels: cephadm, documentation, orchestrator

#34332 crimson/net: enable features for lossy peer connections of heartbeat
  src/crimson/mgr/client.cc
  src/crimson/mgr/client.h
  src/crimson/mon/MonClient.cc
  src/crimson/mon/MonClient.h
  src/crimson/net/Connection.h
  src/crimson/net/Dispatcher.h
  src/crimson/net/Messenger.h
  src/crimson/net/Protocol.cc
  src/crimson/net/Protocol.h
  src/crimson/net/ProtocolV1.cc
  src/crimson/net/ProtocolV1.h
  src/crimson/net/ProtocolV2.cc
  src/crimson/net/ProtocolV2.h
  src/crimson/net/SocketConnection.cc
  src/crimson/net/SocketConnection.h
  src/crimson/net/SocketMessenger.cc
  src/crimson/net/SocketMessenger.h
  src/crimson/osd/chained_dispatchers.cc
  src/crimson/osd/chained_dispatchers.h
  src/crimson/osd/heartbeat.cc
  src/crimson/osd/heartbeat.h
  src/crimson/osd/osd.cc
  src/crimson/osd/osd.h
  src/test/crimson/test_messenger.cc
Labels: crimson

#34362 cmake, librbd: fix build with pmem and cleanups
  cmake/modules/BuildDPDK.cmake
  cmake/modules/BuildSPDK.cmake
  cmake/modules/Buildpmem.cmake
  cmake/modules/FindMake.cmake
  src/librbd/CMakeLists.txt
  src/librbd/cache/ImageWriteback.cc
  src/librbd/cache/ReplicatedWriteLog.cc
  src/librbd/cache/rwl/ImageCacheState.cc
Labels: build/ops, cleanup, needs-qa, rbd, wip-jason-testing

#33502 rbd/cache: Replicated Write Log core codes part 3
  src/librbd/cache/ImageWriteback.h
  src/librbd/cache/ReplicatedWriteLog.cc
  src/librbd/cache/ReplicatedWriteLog.h
  src/librbd/cache/rwl/LogEntry.cc
  src/librbd/cache/rwl/LogEntry.h
  src/librbd/cache/rwl/LogOperation.cc
  src/librbd/cache/rwl/Request.cc
  src/librbd/cache/rwl/Request.h
  src/librbd/cache/rwl/SyncPoint.cc
  src/librbd/cache/rwl/SyncPoint.h
  src/librbd/cache/rwl/Types.cc
  src/librbd/cache/rwl/Types.h
  src/test/librbd/cache/test_mock_ReplicatedWriteLog.cc
Labels: feature, needs-qa, rbd, wip-jason-testing

#34379 qa/swift: fix py3 backport regression
  qa/tasks/swift.py
Labels: bug fix, mimic-batch-1, rgw, tests, wip-yuri2-testing

#34159 qa/tests: client-upgrade-luminous-octopus tests
  qa/suites/upgrade/client-upgrade-luminous-octopus/luminous-client-x/basic/%
  qa/suites/upgrade/client-upgrade-luminous-octopus/luminous-client-x/basic/.qa
  qa/suites/upgrade/client-upgrade-luminous-octopus/luminous-client-x/basic/0-cluster/+
  qa/suites/upgrade/client-upgrade-luminous-octopus/luminous-client-x/basic/0-cluster/.qa
  qa/suites/upgrade/client-upgrade-luminous-octopus/luminous-client-x/basic/0-cluster/openstack.yaml
  qa/suites/upgrade/client-upgrade-luminous-octopus/luminous-client-x/basic/0-cluster/start.yaml
  qa/suites/upgrade/client-upgrade-luminous-octopus/luminous-client-x/basic/1-install/.qa
  qa/suites/upgrade/client-upgrade-luminous-octopus/luminous-client-x/basic/1-install/luminous-client-x.yaml
  qa/suites/upgrade/client-upgrade-luminous-octopus/luminous-client-x/basic/2-workload/.qa
  qa/suites/upgrade/client-upgrade-luminous-octopus/luminous-client-x/basic/2-workload/devstack-tempest-gate.yaml
  qa/suites/upgrade/client-upgrade-luminous-octopus/luminous-client-x/basic/supported/.qa
  qa/suites/upgrade/client-upgrade-luminous-octopus/luminous-client-x/basic/supported/centos_7.6.yaml
  qa/suites/upgrade/client-upgrade-luminous-octopus/luminous-client-x/basic/supported/rhel_7.6.yaml
  qa/suites/upgrade/client-upgrade-luminous-octopus/luminous-client-x/basic/supported/ubuntu_16.04.yaml
  qa/suites/upgrade/client-upgrade-luminous-octopus/luminous-client-x/rbd/1-install/luminous-client-x.yaml
  qa/suites/upgrade/client-upgrade-luminous-octopus/luminous-client-x/rbd/3-workload/rbd_notification_tests.yaml
  qa/suites/upgrade/client-upgrade-luminous-octopus/luminous-client-x/rbd/supported/ubuntu_16.04.yaml
  qa/suites/upgrade/client-upgrade-luminous-octopus/luminous-client-x/rbd/supported/ubuntu_18.04.yaml
Labels: tests

#34222 qa/tests: initial check in for client-upgrade-nautilus-octopus
  qa/suites/upgrade/client-upgrade-nautilus-octopus/nautilus-client-x/.qa
  qa/suites/upgrade/client-upgrade-nautilus-octopus/nautilus-client-x/rbd/%
  qa/suites/upgrade/client-upgrade-nautilus-octopus/nautilus-client-x/rbd/.qa
  qa/suites/upgrade/client-upgrade-nautilus-octopus/nautilus-client-x/rbd/0-cluster/+
  qa/suites/upgrade/client-upgrade-nautilus-octopus/nautilus-client-x/rbd/0-cluster/.qa
  qa/suites/upgrade/client-upgrade-nautilus-octopus/nautilus-client-x/rbd/0-cluster/openstack.yaml
  qa/suites/upgrade/client-upgrade-nautilus-octopus/nautilus-client-x/rbd/0-cluster/start.yaml
  qa/suites/upgrade/client-upgrade-nautilus-octopus/nautilus-client-x/rbd/1-install/.qa
  qa/suites/upgrade/client-upgrade-nautilus-octopus/nautilus-client-x/rbd/1-install/nautilus-client-x.yaml
  qa/suites/upgrade/client-upgrade-nautilus-octopus/nautilus-client-x/rbd/2-features/.qa
  qa/suites/upgrade/client-upgrade-nautilus-octopus/nautilus-client-x/rbd/2-features/defaults.yaml
  qa/suites/upgrade/client-upgrade-nautilus-octopus/nautilus-client-x/rbd/2-features/layering.yaml
  qa/suites/upgrade/client-upgrade-nautilus-octopus/nautilus-client-x/rbd/3-workload/.qa
  qa/suites/upgrade/client-upgrade-nautilus-octopus/nautilus-client-x/rbd/3-workload/rbd_notification_tests.yaml
  qa/suites/upgrade/client-upgrade-nautilus-octopus/nautilus-client-x/rbd/supported/.qa
  qa/suites/upgrade/client-upgrade-nautilus-octopus/nautilus-client-x/rbd/supported/ubuntu_18.04.yaml
Labels: tests

#34221 qa/tests: initial check in for client-upgrade-mimic-octopus
  qa/suites/upgrade/client-upgrade-mimic-octopus/mimic-client-x/.qa
  qa/suites/upgrade/client-upgrade-mimic-octopus/mimic-client-x/rbd/%
  qa/suites/upgrade/client-upgrade-mimic-octopus/mimic-client-x/rbd/.qa
  qa/suites/upgrade/client-upgrade-mimic-octopus/mimic-client-x/rbd/0-cluster/+
  qa/suites/upgrade/client-upgrade-mimic-octopus/mimic-client-x/rbd/0-cluster/.qa
  qa/suites/upgrade/client-upgrade-mimic-octopus/mimic-client-x/rbd/0-cluster/openstack.yaml
  qa/suites/upgrade/client-upgrade-mimic-octopus/mimic-client-x/rbd/0-cluster/start.yaml
  qa/suites/upgrade/client-upgrade-mimic-octopus/mimic-client-x/rbd/1-install/.qa
  qa/suites/upgrade/client-upgrade-mimic-octopus/mimic-client-x/rbd/1-install/mimic-client-x.yaml
  qa/suites/upgrade/client-upgrade-mimic-octopus/mimic-client-x/rbd/2-features/.qa
  qa/suites/upgrade/client-upgrade-mimic-octopus/mimic-client-x/rbd/2-features/defaults.yaml
  qa/suites/upgrade/client-upgrade-mimic-octopus/mimic-client-x/rbd/2-features/layering.yaml
  qa/suites/upgrade/client-upgrade-mimic-octopus/mimic-client-x/rbd/3-workload/.qa
  qa/suites/upgrade/client-upgrade-mimic-octopus/mimic-client-x/rbd/3-workload/rbd_notification_tests.yaml
  qa/suites/upgrade/client-upgrade-mimic-octopus/mimic-client-x/rbd/supported/.qa
  qa/suites/upgrade/client-upgrade-mimic-octopus/mimic-client-x/rbd/supported/ubuntu_18.04.yaml
Labels: tests

#34404 qa/tests: added client upgrades tests for octopus, removed mimic-x/ma…
  qa/crontab/teuthology-cronjobs
Labels: tests

#34281 mgr: force purge normal ceph entities from service map
  qa/suites/fs/basic_functional/tasks/cephfs_scrub_tests.yaml
  qa/tasks/cephfs/test_scrub_checks.py
  src/mgr/DaemonServer.cc
Labels: cephfs, mgr, needs-qa, wip-greg-testing

#34385 doc/dev/cephadm: a few notes on developing with cephadm
  .github/CODEOWNERS
  doc/dev/cephadm.rst
Labels: cephadm, documentation

#34110 mds: don't assert empty io context list when shutting down
  src/mds/MDSContext.cc
  src/mds/MDSContext.h
Labels: bug fix, cephfs, needs-qa, wip-greg-testing

#34386 Wip 33279 revert sudo
  qa/tasks/cephfs/mount.py
  qa/tasks/vstart_runner.py
Labels: cephfs, needs-qa, tests, wip-greg-testing

#33915 Client: fix Finisher assert failure
  src/client/Client.cc
  src/client/Client.h
Labels: cephfs, needs-qa, wip-greg-testing, wip-sage2-testing

#31480 client: auto reconnect after blacklisted
  qa/tasks/cephfs/test_client_recovery.py
  src/client/Client.cc
  src/client/Client.h
  src/client/Fh.cc
  src/client/Fh.h
  src/client/Inode.h
  src/client/MetaSession.h
  src/common/legacy_config_opts.h
  src/msg/Messenger.h
  src/msg/async/AsyncMessenger.cc
  src/msg/async/AsyncMessenger.h
Labels: cephfs, needs-qa, wip-greg-testing

#34371 doc/releases/nautilus: restart OSDs to make them bind to v2 addr
  doc/releases/nautilus.rst
Labels: documentation, messenger

#34072 qa/tasks/qemu: fix nfs setup and teardown bug in qemu task
  qa/tasks/qemu.py
Labels: needs-qa, rbd, tests, wip-jason-testing

#33985 librbd: children should inherit parent's stripe
  PendingReleaseNotes
  src/librbd/image/CloneRequest.cc
  src/test/pybind/test_rbd.py
Labels: cleanup, needs-qa, rbd, wip-jason-testing

#34269 cls/queue: remove error message when queue is not initialized
  src/cls/queue/cls_queue_src.cc
Labels: core, rgw

#34374 pybind/mgr: Fix `run_tox.sh mgr -- cephadm`
  src/pybind/mgr/tests/__init__.py
Labels: cephadm, mgr

#34240 mgr/dashboard: Repair broken grafana panels
  monitoring/grafana/dashboards/host-details.json
  monitoring/grafana/dashboards/hosts-overview.json
  monitoring/grafana/dashboards/osd-device-details.json
Labels: bug fix, dashboard, needs-review

#34239 monitoring: root volume full alert fires false positives
  monitoring/prometheus/alerts/ceph_default_alerts.yml
Labels: bug fix, monitoring

#34401 octopus: cephadm: docs batch 1
  doc/cephadm/drivegroups.rst
  doc/cephadm/install.rst
  doc/mgr/orchestrator.rst
Labels: cephadm, documentation

#34302 Wip specify rule for pool creation
  qa/suites/ceph-ansible/smoke/basic/2-ceph/ceph_ansible.yaml
Labels: bug fix, tests

#34310 qa/suites/rados/rest: don't pass empty dict as data arg
  qa/suites/rados/rest/centos_latest.yaml
  qa/suites/rados/rest/supported-random-distro$
  qa/workunits/rest/test_mgr_rest_api.py
Labels: bug fix, needs-qa, tests

#34428 octopus: specify rule for pool creation
  qa/suites/ceph-ansible/smoke/basic/2-ceph/ceph_ansible.yaml
Labels: bug fix, tests

#34406 qa/suites/rados/cephadm/upgrade: start from v15.2.0
  qa/suites/rados/cephadm/upgrade/1-start.yaml
Labels: cephadm, needs-qa, wip-mgfritch-testing

#34412 devices/simple/scan: Fix string in log statement
  src/ceph-volume/ceph_volume/devices/simple/scan.py
Labels: bug fix, ceph-volume

#34397 octopus: mgr/dashboard: Add more debug information to Dashboard RGW backend
  src/pybind/mgr/dashboard/services/rgw_client.py
Labels: dashboard, feature

#34396 mgr/dashboard: Update HACKING.rst
  src/pybind/mgr/dashboard/HACKING.rst
Labels: dashboard, documentation

#34444 mimic: devices/simple/scan: Fix string in log statement
  src/ceph-volume/ceph_volume/devices/simple/scan.py
Labels: bug fix, ceph-volume

#34417 nautilus: mgr/dashboard: Repair broken grafana panels
  monitoring/grafana/dashboards/host-details.json
  monitoring/grafana/dashboards/hosts-overview.json
  monitoring/grafana/dashboards/osd-device-details.json
Labels: bug fix, dashboard, needs-review

#34403 octopus: mgr/dashboard: fix notifications E2E tests
  src/pybind/mgr/dashboard/frontend/e2e/page-helper.po.ts
  src/pybind/mgr/dashboard/frontend/e2e/ui/notification.e2e-spec.ts
Labels: dashboard

#33160 nautilus: ceph_argparse: increment matchcnt on kwargs
  src/pybind/ceph_argparse.py
  src/test/pybind/test_ceph_argparse.py
Labels: core, nautilus-batch-1, needs-qa, wip-yuri-testing

#33641 nautilus: tools/rados: Unmask '-o' to restore original behaviour
  PendingReleaseNotes
  doc/man/8/rados.rst
  qa/tasks/radosbench.py
  src/tools/rados/rados.cc
Labels: nautilus-batch-1, needs-qa, tools, wip-yuri-testing

#34099 nautilus: rgw: clear ent_list for each loop of bucket list
  src/rgw/rgw_rados.cc
Labels: nautilus-batch-1, needs-qa, rgw, wip-yuri-testing

#34120 nautilus: mgr/dashboard: Fix error when listing RBD while deleting or moving
  src/pybind/mgr/dashboard/services/rbd.py
Labels: bug fix, dashboard, nautilus-batch-1, needs-qa, needs-review, wip-yuri-testing

#31842 nautilus: osd/OSDMap: Show health warning if a pool is configured with size 1
  PendingReleaseNotes
  doc/rados/configuration/mon-config-ref.rst
  qa/tasks/ceph.conf.template
  src/common/options.cc
  src/osd/OSDMap.cc
Labels: core, nautilus-batch-1, needs-qa, wip-yuri-testing

#34357 mgr/orch: fix python3 DeprecationWarning
  src/pybind/mgr/test_orchestrator/module.py
Labels: needs-qa, orchestrator, wip-swagner-testing

#34053 cephadm: Add ceph-iscsi
  src/cephadm/cephadm
  src/pybind/mgr/cephadm/module.py
  src/pybind/mgr/cephadm/tests/test_cephadm.py
  src/pybind/mgr/cephadm/utils.py
  src/pybind/mgr/orchestrator/_interface.py
  src/pybind/mgr/orchestrator/module.py
  src/python-common/ceph/deployment/service_spec.py
Labels: cephadm, needs-qa, orchestrator, wip-swagner-testing

#34439 docs/cephadm: <encrypted> is a global flag
  doc/cephadm/drivegroups.rst
Labels: cephadm, documentation

#34434 nautilus: selinux: Allow ceph-mgr access to httpd dir
  selinux/ceph.te
Labels: bug fix, mgr

#34433 nautilus: selinux: Allow ceph to setsched
  selinux/ceph.te
Labels: bug fix, common

#33945 qa/vstart_runner: update vstart_runner.LocalRemote.sh
  qa/tasks/vstart_runner.py
Labels: cephfs, needs-qa, tests, wip-kefu-testing

#34427 spec: address some warnings raised by RPM 4.15.1
  ceph.spec.in
Labels: build/ops, needs-qa, wip-kefu-testing

#34383 tox: Fix the tox.ini's to support older versions of tox
  src/cephadm/tox.ini
  src/pybind/mgr/tox.ini
Labels: cephadm, mgr, needs-qa, wip-kefu-testing

#34369 cmake: really stop at top of source code tree
  cmake/modules/GetGitRevisionDescription.cmake
Labels: build/ops, needs-qa, wip-kefu-testing

#34368 misc: remove unsued code.
  src/common/Throttle.h
  src/msg/Connection.h
Labels: cleanup, common, wip-kefu-testing

#34245 mgr: synchronize ClusterState's health and mon_status.
  src/mgr/ActivePyModules.cc
  src/mgr/ClusterState.cc
  src/mgr/ClusterState.h
Labels: bug fix, mgr, needs-qa, wip-sage2-testing

#34451 qa/standalone/scrub: s/$(pgid)/${pgid}/
  qa/standalone/scrub/osd-scrub-repair.sh
Labels: bug fix, tests

#34460 cmake: remove duplicated code.
  CMakeLists.txt
Labels: build/ops, cleanup

#34381 rpm: add python3-saml as install dependency
  ceph.spec.in
Labels: build/ops, dashboard, wip-kefu-testing

#34337 common/Throttle: Don't lock for atomic type update.
  src/common/Throttle.cc
Labels: common, needs-qa, performance, wip-kefu-testing

#34366 mgr/PyModule: fix missing tracebacks in handle_pyerror()
  src/mgr/PyModule.cc
Labels: bug fix, mgr, wip-kefu-testing

#34143 mon/MgrMonitor: show different error message when disabling a dne module
  src/mon/MgrMonitor.cc
Labels: cleanup, mgr, wip-kefu-testing

#34219 os/bluestore: Don't pollute old journal when add new device
  src/os/bluestore/BlueFS.cc
  src/os/bluestore/BlueFS.h
  src/os/bluestore/BlueStore.cc
Labels: bluestore, needs-qa, wip-kefu-testing

#34342 mon: calculate min_size on osd pool set size
  qa/workunits/mon/pool_ops.sh
  src/mon/OSDMonitor.cc
Labels: mon, needs-qa, wip-kefu-testing

#34229 osd/PrimaryLogPG: fix SPARSE_READ stat
  src/osd/PrimaryLogPG.cc
Labels: bug fix, core, needs-qa, wip-kefu-testing, wip-sage2-testing

#34402 octopus: mgr/dashboard: fix error when enabling SSO with cert. file
  src/pybind/mgr/dashboard/services/sso.py
Labels: bug fix, dashboard

#34358 octopus: qa/tasks/mgr/dashboard/test_health: update mdsmap schema
  qa/tasks/mgr/dashboard/test_health.py
Labels: bug fix, dashboard, tests

#34372 [After #34358] octopus: mgr/dashboard: add popover list of Stand-by Managers & Metadata Servers (MDS) in landing page
  src/pybind/mgr/dashboard/controllers/health.py
  src/pybind/mgr/dashboard/frontend/src/app/ceph/dashboard/health/health.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/dashboard/health/health.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/ceph/dashboard/health/health.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/dashboard/mds-summary.pipe.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/dashboard/mds-summary.pipe.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/dashboard/mgr-summary.pipe.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/dashboard/mgr-summary.pipe.ts
Labels: bug fix, dashboard

#34058 mgr/dashboard: fix errors related to frontend service subscriptions.
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/iscsi-target-form/iscsi-target-form.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/mirroring/overview/overview.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-form/rbd-form.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-form/rbd-form.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-trash-purge-modal/rbd-trash-purge-modal.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/nfs/nfs-form/nfs-form.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/nfs/nfs-list/nfs-list.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/core/layouts/workbench-layout/workbench-layout.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/core/navigation/navigation/navigation.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/core/navigation/notifications/notifications.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/rbd-mirroring.service.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/rbd-mirroring.service.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/notifications-sidebar/notifications-sidebar.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/services/feature-toggles.service.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/services/summary.service.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/services/summary.service.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/services/task-manager.service.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/services/task-manager.service.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/services/timer.service.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/services/timer.service.ts
Labels: bug fix, dashboard

#34422 rbd: ignore tx-only mirror peers when adding new peers
  src/tools/rbd/action/MirrorPool.cc
Labels: bug fix, rbd

#34373 nautilus: mgr/dashboard: list configured prometheus alerts
  doc/mgr/dashboard.rst
  src/pybind/mgr/dashboard/controllers/prometheus.py
  src/pybind/mgr/dashboard/frontend/e2e/cluster/alerts.e2e-spec.ts
  src/pybind/mgr/dashboard/frontend/e2e/cluster/alerts.po.ts
  src/pybind/mgr/dashboard/frontend/src/app/app-routing.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/cluster.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/prometheus/active-alert-list/active-alert-list.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/prometheus/active-alert-list/active-alert-list.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/prometheus/active-alert-list/active-alert-list.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/prometheus/active-alert-list/active-alert-list.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/prometheus/monitoring-list/monitoring-list.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/prometheus/monitoring-list/monitoring-list.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/prometheus/monitoring-list/monitoring-list.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/prometheus/monitoring-list/monitoring-list.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/prometheus/prometheus-tabs/prometheus-tabs.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/prometheus/prometheus-tabs/prometheus-tabs.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/prometheus/prometheus-tabs/prometheus-tabs.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/prometheus/rules-list/rules-list.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/prometheus/rules-list/rules-list.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/prometheus/rules-list/rules-list.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/prometheus/rules-list/rules-list.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/prometheus/silence-form/silence-form.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/prometheus/silence-form/silence-form.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/prometheus/silence-list/silence-list.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/prometheus/silence-list/silence-list.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/prometheus/silence-list/silence-list.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/core/navigation/breadcrumbs/breadcrumbs.component.html
  src/pybind/mgr/dashboard/frontend/src/app/core/navigation/navigation/navigation.component.html
  src/pybind/mgr/dashboard/frontend/src/app/core/navigation/navigation/navigation.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/prometheus.service.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/prometheus.service.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/datatable/table-actions/table-actions.component.html
  src/pybind/mgr/dashboard/frontend/src/app/shared/datatable/table-key-value/table-key-value.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/datatable/table-key-value/table-key-value.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/models/cd-table-action.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/models/prometheus-alerts.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/pipes/duration.pipe.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/pipes/duration.pipe.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/pipes/pipes.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/services/prometheus-alert.service.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/services/prometheus-alert.service.ts
Labels: dashboard, needs-review

#34220 mgr/cephadm: allow config for an nfs `container_image`
  src/pybind/mgr/cephadm/module.py
Labels: cephadm, orchestrator, wip-swagner-testing

#34466 cmake: check $top_srcdir/.git directly
  cmake/modules/GetGitRevisionDescription.cmake
Labels: bug fix, build/ops, crimson

#34472 ceph-volume/batch: return success when all devices are filtered
  src/ceph-volume/ceph_volume/devices/lvm/batch.py
  src/ceph-volume/ceph_volume/tests/functional/batch/playbooks/test_explicit.yml
Labels: bug fix, ceph-volume

#34463 ceph-volume/batch: check lvs list before access
  src/ceph-volume/ceph_volume/devices/lvm/batch.py
Labels: bug fix, ceph-volume

#34414 rgw/http: add timeout to http client
  src/rgw/rgw_http_client.cc
  src/rgw/rgw_http_client.h
Labels: rgw

#34459 luminous: selinux: Allow ceph-mgr access to httpd dir
  selinux/ceph.te
Labels: core

#33889 nautilus: os/bluestore: more flexible DB volume space usage
  src/common/legacy_config_opts.h
  src/common/options.cc
  src/kv/RocksDBStore.cc
  src/kv/RocksDBStore.h
  src/os/bluestore/BlueFS.cc
  src/os/bluestore/BlueFS.h
  src/os/bluestore/BlueRocksEnv.h
  src/os/bluestore/BlueStore.cc
  src/os/bluestore/BlueStore.h
  src/os/bluestore/bluefs_types.cc
  src/os/bluestore/bluefs_types.h
  src/test/objectstore/store_test.cc
Labels: bluestore, feature, nautilus-batch-1, needs-qa, wip-yuri8-testing

#34297 nautilus: common/options: Disable bluefs_buffered_io by default again.
  src/common/options.cc
Labels: bluestore, nautilus-batch-1, needs-qa, performance, wip-yuri8-testing

#34354 nautilus: mgr/DaemonServer: fix pg merge checks
  src/mgr/DaemonServer.cc
Labels: core, nautilus-batch-1, needs-qa, wip-yuri8-testing

#34284 mgr/DaemonServer: add missing ceph_abort
  src/mgr/DaemonServer.cc
Labels: cleanup, core, needs-qa, wip-kefu-testing

#34408 rbd-mirror: improved replication statistics
  qa/workunits/rbd/rbd_mirror_ha.sh
  qa/workunits/rbd/rbd_mirror_journal.sh
  src/cls/journal/cls_journal_types.h
  src/librbd/DeepCopyRequest.cc
  src/librbd/DeepCopyRequest.h
  src/librbd/api/Image.cc
  src/librbd/deep_copy/Handler.h
  src/librbd/deep_copy/ImageCopyRequest.cc
  src/librbd/deep_copy/ImageCopyRequest.h
  src/librbd/deep_copy/ObjectCopyRequest.cc
  src/librbd/deep_copy/ObjectCopyRequest.h
  src/librbd/io/CopyupRequest.cc
  src/librbd/operation/MigrateRequest.cc
  src/test/librbd/deep_copy/test_mock_ImageCopyRequest.cc
  src/test/librbd/deep_copy/test_mock_ObjectCopyRequest.cc
  src/test/librbd/io/test_mock_CopyupRequest.cc
  src/test/librbd/test_mock_DeepCopyRequest.cc
  src/test/rbd_mirror/image_replayer/journal/test_mock_Replayer.cc
  src/test/rbd_mirror/image_replayer/snapshot/test_mock_Replayer.cc
  src/test/rbd_mirror/test_mock_ImageSync.cc
  src/tools/rbd_mirror/CMakeLists.txt
  src/tools/rbd_mirror/ImageReplayer.cc
  src/tools/rbd_mirror/ImageReplayer.h
  src/tools/rbd_mirror/ImageSync.cc
  src/tools/rbd_mirror/ImageSync.h
  src/tools/rbd_mirror/image_replayer/TimeRollingMean.cc
  src/tools/rbd_mirror/image_replayer/TimeRollingMean.h
  src/tools/rbd_mirror/image_replayer/journal/ReplayStatusFormatter.cc
  src/tools/rbd_mirror/image_replayer/journal/ReplayStatusFormatter.h
  src/tools/rbd_mirror/image_replayer/journal/Replayer.cc
  src/tools/rbd_mirror/image_replayer/snapshot/Replayer.cc
  src/tools/rbd_mirror/image_replayer/snapshot/Replayer.h
Labels: feature, needs-qa, rbd, wip-mgolub-testing

#34471 qa/tasks/rbd_fio: unbreak after the conversion from StringIO
  qa/tasks/rbd_fio.py
Labels: rbd, tests

#34055 nautilus: qa: use small default pg count for CephFS pools
  qa/tasks/ceph.conf.template
  qa/tasks/cephfs/filesystem.py
  qa/tasks/cephfs/test_data_scan.py
  qa/tasks/cephfs/test_misc.py
  qa/tasks/mgr/dashboard/test_ganesha.py
  qa/tasks/mgr/dashboard/test_rbd_mirroring.py
  qa/tasks/vstart_runner.py
  src/vstart.sh
Labels: cephfs, dashboard, tests

#34473 nautilus: mgr/dashboard: Fix error in unit test caused by timezone
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-snapshot-list/rbd-snapshot-list.component.spec.ts
Labels: dashboard

#34452 mgr/dashboard: use FQDN for failover redirection
  src/pybind/mgr/dashboard/module.py
Labels: bug fix, dashboard, needs-review

#34411 mgr/dashboard: lint error on plugins/debug.py
  src/pybind/mgr/dashboard/plugins/debug.py
Labels: bug fix, dashboard

#34485 cephadm: show error when no command is specified
  src/cephadm/cephadm
Labels: cephadm, needs-qa, wip-mgfritch-testing

#34249 mgr/cephadm: nfs common config
  src/pybind/mgr/cephadm/module.py
  src/pybind/mgr/cephadm/nfs.py
  src/python-common/ceph/deployment/service_spec.py
Labels: cephadm, dashboard, needs-qa, orchestrator, wip-mgfritch-testing

#34454 qa/workunits/cephadm/test_cephadm.sh: add fsid to ceph-volume cmds
  qa/workunits/cephadm/test_cephadm.sh
Labels: cephadm, needs-review, wip-mgfritch-testing

#34223 mgr/cephadm: disable dashboard's grafana cert ssl_verify if we generate it
  src/pybind/mgr/cephadm/module.py
Labels: cephadm, dashboard, mgr

#34314 mgr/dashboard: Clean up HTML
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/iscsi-target-discovery-modal/iscsi-target-discovery-modal.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/iscsi-target-form/iscsi-target-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/iscsi-target-image-settings-modal/iscsi-target-image-settings-modal.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/iscsi-target-iqn-settings-modal/iscsi-target-iqn-settings-modal.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/mirroring/bootstrap-create-modal/bootstrap-create-modal.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/mirroring/bootstrap-import-modal/bootstrap-import-modal.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/mirroring/edit-site-name-modal/edit-site-name-modal.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/mirroring/pool-edit-mode-modal/pool-edit-mode-modal.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/mirroring/pool-edit-peer-modal/pool-edit-peer-modal.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-form/rbd-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-namespace-form/rbd-namespace-form-modal.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-snapshot-form/rbd-snapshot-form-modal.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-trash-move-modal/rbd-trash-move-modal.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-trash-purge-modal/rbd-trash-purge-modal.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-trash-restore-modal/rbd-trash-restore-modal.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/configuration/configuration-form/configuration-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/hosts/host-form/host-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/mgr-modules/mgr-module-form/mgr-module-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/osd/osd-flags-modal/osd-flags-modal.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/osd/osd-form/osd-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/osd/osd-pg-scrub-modal/osd-pg-scrub-modal.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/osd/osd-recv-speed-modal/osd-recv-speed-modal.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/prometheus/silence-form/silence-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/nfs/nfs-form/nfs-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/pool/pool-form/pool-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-bucket-form/rgw-bucket-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-user-form/rgw-user-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/core/auth/role-form/role-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/core/auth/user-form/user-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/core/auth/user-password-form/user-password-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/alert-panel/alert-panel.component.html
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/confirmation-modal/confirmation-modal.component.html
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/form-modal/form-modal.component.html
Labels: cleanup, dashboard, ready-to-merge

#34476 mimic: ceph-volume/batch: return success when all devices are filtered
  src/ceph-volume/ceph_volume/devices/lvm/batch.py
  src/ceph-volume/ceph_volume/tests/functional/batch/playbooks/test_explicit.yml
Labels: ceph-volume, mimic-batch-1, needs-qa, wip-yuri-testing

#34479 mimic: ceph-volume/batch: check lvs list before access
  src/ceph-volume/ceph_volume/devices/lvm/batch.py
Labels: ceph-volume, mimic-batch-1, needs-qa, wip-yuri-testing

#34393 mimic: qa/suites: use "mimic" branch for cbt based testing
  qa/suites/perf-basic/workloads/cosbench_64K_write.yaml
  qa/suites/perf-basic/workloads/fio_4K_rand_write.yaml
  qa/suites/perf-basic/workloads/radosbench_4K_write.yaml
  qa/suites/rados/perf/workloads/cosbench_64K_read_write.yaml
  qa/suites/rados/perf/workloads/cosbench_64K_write.yaml
  qa/suites/rados/perf/workloads/fio_4K_rand_read.yaml
  qa/suites/rados/perf/workloads/fio_4K_rand_rw.yaml
  qa/suites/rados/perf/workloads/fio_4M_rand_read.yaml
  qa/suites/rados/perf/workloads/fio_4M_rand_rw.yaml
  qa/suites/rados/perf/workloads/fio_4M_rand_write.yaml
  qa/suites/rados/perf/workloads/radosbench_4K_rand_read.yaml
  qa/suites/rados/perf/workloads/radosbench_4K_seq_read.yaml
  qa/suites/rados/perf/workloads/radosbench_4M_rand_read.yaml
  qa/suites/rados/perf/workloads/radosbench_4M_seq_read.yaml
  qa/suites/rados/perf/workloads/radosbench_4M_write.yaml
  qa/suites/rados/perf/workloads/sample_fio.yaml
  qa/suites/rados/perf/workloads/sample_radosbench.yaml
Labels: mimic-batch-1, needs-review, tests, wip-yuri2-testing

#34458 mimic: selinux: Allow ceph-mgr access to httpd dir
  selinux/ceph.te
Labels: core, mimic-batch-1, needs-qa, wip-yuri2-testing

#34502 Update ceph.te
  selinux/ceph.te
Labels: rgw

#34487 qa/tests: pass "-t 2" to teuthology-suite when testing non-master bra…
  qa/crontab/teuthology-cronjobs
  qa/machine_types/schedule_subset.sh
Labels: python3, tests

#34499 doc: enable Read the Docs
  .readthedocs.yml
  admin/doc-read-the-docs.txt
  doc/architecture.rst
  doc/cephfs/cephfs-io-path.rst
  doc/conf.py
  doc/dev/deduplication.rst
  doc/dev/msgr2.rst
  doc/install/ceph-deploy/quick-ceph-deploy.rst
  doc/install/ceph-deploy/quick-cephfs.rst
  doc/install/ceph-deploy/quick-common.rst
  doc/install/install-vm-cloud.rst
  doc/install/manual-deployment.rst
  doc/install/manual-freebsd-deployment.rst
  doc/rados/api/librados-intro.rst
  doc/rados/configuration/mon-config-ref.rst
  doc/rados/configuration/mon-osd-interaction.rst
  doc/rados/configuration/network-config-ref.rst
  doc/rados/operations/cache-tiering.rst
  doc/rados/operations/monitoring-osd-pg.rst
  doc/rados/operations/placement-groups.rst
  doc/rados/operations/user-management.rst
  doc/radosgw/admin.rst
  doc/radosgw/index.rst
  doc/radosgw/swift/tutorial.rst
  doc/radosgw/vault.rst
  doc/rbd/index.rst
  doc/rbd/libvirt.rst
  doc/rbd/qemu-rbd.rst
  doc/rbd/rbd-cloudstack.rst
  doc/rbd/rbd-kubernetes.rst
  doc/rbd/rbd-live-migration.rst
  doc/rbd/rbd-openstack.rst
  doc/rbd/rbd-persistent-cache.rst
  doc/rbd/rbd-snapshot.rst
  doc/start/intro.rst
  doc/start/quick-rbd.rst
Labels: build/ops, documentation

#34494 tests: update unmap.t for table spacing changes
  src/test/cli-integration/rbd/unmap.t
Labels: needs-qa, rbd, tests

#34508 selinux: add "type http_cache_port_t" in require section
  selinux/ceph.te
Labels: bug fix, build/ops, wip-kefu-testing

#34382 cephadm: add config required for ganesha grace
  src/cephadm/cephadm
  src/pybind/mgr/cephadm/nfs.py
Labels: cephadm, needs-qa, orchestrator, wip-mgfritch-testing

#34084 mgr/cephadm: enhance `host ls`
  src/pybind/mgr/cephadm/module.py
  src/pybind/mgr/cephadm/tests/fixtures.py
  src/pybind/mgr/cephadm/tests/test_cephadm.py
  src/pybind/mgr/orchestrator/_interface.py
  src/pybind/mgr/orchestrator/module.py
  src/pybind/mgr/requirements.txt
Labels: cephadm, needs-qa, wip-mgfritch-testing

#34421 os/bluestore: kill buf param in BlueFS::read
  src/os/bluestore/BlueFS.cc
  src/os/bluestore/BlueFS.h
  src/os/bluestore/BlueRocksEnv.cc
  src/os/bluestore/bluestore_tool.cc
  src/test/objectstore/test_bluefs.cc
Labels: bluestore, cleanup, wip-kefu-testing

#34348 os/bluestore: apply bluestore_debug_enforce_settings when choosing mi…
  src/os/bluestore/BlueStore.cc
Labels: bluestore, bug fix, wip-kefu-testing

#32297 Create and delete exports for nfs ganesha with mgr volume
  doc/cephfs/fs-nfs-exports.rst
  doc/cephfs/index.rst
  src/pybind/mgr/volumes/fs/nfs.py
  src/pybind/mgr/volumes/module.py
  src/stop.sh
  src/vstart.sh
Labels: cephfs, feature, mgr, needs-qa

#34525 doc: Update index.rst
  doc/install/index.rst
Labels: cephadm, documentation

#34231 os/bluestore: don't foreget invalidate cache of FileReaderBuffer.
  src/os/bluestore/BlueFS.h
  src/os/bluestore/BlueRocksEnv.cc
Labels: bluestore

#33761 doc: document wsync and nowsync mount options in mount.ceph(8)
  doc/man/8/mount.ceph.rst
Labels: documentation

#34455 client: only set MClientCaps::FLAG_SYNC when flushing dirty auth caps
  src/client/Client.cc
Labels: cephfs

#33982 cls/cmpomap: add cls module for CMPXATTR-like functionality in omap
  qa/suites/rgw/verify/tasks/cls.yaml
  qa/workunits/cls/test_cls_cmpomap.sh
  src/cls/CMakeLists.txt
  src/cls/cmpomap/CMakeLists.txt
  src/cls/cmpomap/client.cc
  src/cls/cmpomap/client.h
  src/cls/cmpomap/ops.h
  src/cls/cmpomap/server.cc
  src/cls/cmpomap/types.h
  src/common/options.cc
  src/include/buffer.h
  src/objclass/objclass.h
  src/osd/CMakeLists.txt
  src/osd/objclass.cc
  src/test/CMakeLists.txt
  src/test/cls_cmpomap/CMakeLists.txt
  src/test/cls_cmpomap/test_cls_cmpomap.cc
Labels: common, feature

#33715 pybind/rados: add watch object bindings
  src/pybind/rados/rados.pxd
  src/pybind/rados/rados.pyx
  src/test/pybind/test_rados.py
Labels: core, feature, pybind, wip-kefu-testing

#33434 os/bluestore: go deferred for 'big' writes.
  src/common/options.cc
  src/os/bluestore/BlueStore.cc
  src/os/bluestore/BlueStore.h
  src/os/bluestore/bluestore_types.h
  src/test/objectstore/store_test.cc
  src/test/objectstore/store_test_fixture.cc
  src/test/objectstore/store_test_fixture.h
Labels: bluestore, needs-review, performance, wip-kefu-testing

#33782 os/bluestore: Simplified logic of sliding window.
  src/os/bluestore/BlueStore.cc
Labels: bluestore, needs-qa, wip-kefu-testing

#33989 os/bluestore: open DB in read-only when expanding DB/WAL.
  src/kv/RocksDBStore.h
  src/os/bluestore/BitmapFreelistManager.cc
  src/os/bluestore/BitmapFreelistManager.h
  src/os/bluestore/BlueFS.cc
  src/os/bluestore/BlueFS.h
  src/os/bluestore/BlueRocksEnv.cc
  src/os/bluestore/BlueStore.cc
  src/os/bluestore/BlueStore.h
  src/os/bluestore/FreelistManager.h
  src/os/bluestore/bluestore_tool.cc
  src/test/objectstore/test_bluefs.cc
Labels: bluestore, wip-kefu-testing

#34344 mgr/rook: Fix wrong data output when listing devices
  src/pybind/mgr/rook/module.py
Labels: needs-qa, orchestrator, wip-swagner-testing

#34523 octopus: doc/releases/nautilus: restart OSDs to make them bind to v2 addr
  doc/releases/nautilus.rst
Labels: documentation

#34407 octopus: qa/tasks/cephadm: add 'roleless' mode
  qa/suites/rados/cephadm/smoke-roleless/%
  qa/suites/rados/cephadm/smoke-roleless/.qa
  qa/suites/rados/cephadm/smoke-roleless/distro
  qa/suites/rados/cephadm/smoke-roleless/start.yaml
  qa/tasks/cephadm.py
Labels: cephadm, wip-swagner2-testing

#34423 octopus: cephadm: ceph-volume: disallow concurrent execution
  src/cephadm/cephadm
Labels: ceph-volume, cephadm, wip-swagner2-testing

#33816 msg/async: fix unnecessary 4 kB allocation in secure mode.
  src/msg/async/frames_v2.h
Labels: messenger, needs-review

#34009 mgr/dashboard: Fix iSCSI's username and password validation
  src/pybind/mgr/dashboard/controllers/iscsi.py
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/iscsi-target-discovery-modal/iscsi-target-discovery-modal.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/iscsi-target-discovery-modal/iscsi-target-discovery-modal.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/iscsi-target-form/iscsi-target-form.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/iscsi-target-form/iscsi-target-form.component.ts
  src/pybind/mgr/dashboard/frontend/src/testing/unit-test-helper.ts
  src/pybind/mgr/dashboard/tests/test_iscsi.py
Labels: bug fix, dashboard, ready-to-merge

#34065 mgr/dashboard: Prevent iSCSI target recreation when editing controls
  src/pybind/mgr/dashboard/controllers/iscsi.py
  src/pybind/mgr/dashboard/tests/test_iscsi.py
Labels: dashboard, ready-to-merge

#34469 monitoring: alert for pool fill up broken
  monitoring/prometheus/alerts/ceph_default_alerts.yml
Labels: bug fix, dashboard, monitoring

#34336 mgr/dashboard: Proposed About Modal box
  src/pybind/mgr/dashboard/frontend/src/app/core/navigation/about/about.component.html
  src/pybind/mgr/dashboard/frontend/src/app/core/navigation/about/about.component.scss
  src/pybind/mgr/dashboard/frontend/src/assets/Ceph_Logo_Standard_RGB_Reversed_120411_fa.png
  src/pybind/mgr/dashboard/frontend/src/assets/ceph_login_bgimage_fix.png
  src/pybind/mgr/dashboard/frontend/src/styles/bootstrap-extends.scss
Labels: dashboard, ready-to-merge
