Repository ceph/ceph, pull requests merged in 2021-11, with the labels that each got.

#43749 crimson/os/seastore: minor cleanups
  src/crimson/os/seastore/seastore.cc
  src/crimson/os/seastore/seastore.h
Labels: cleanup, crimson

#43127 librbd/cache/pwl: fix reorder when flush cache-data to osd.
  src/librbd/cache/pwl/AbstractWriteLog.cc
  src/librbd/cache/pwl/AbstractWriteLog.h
  src/librbd/cache/pwl/rwl/WriteLog.cc
  src/librbd/cache/pwl/rwl/WriteLog.h
  src/librbd/cache/pwl/ssd/WriteLog.cc
  src/librbd/cache/pwl/ssd/WriteLog.h
Labels: rbd, wip-deepika2-testing

#43748 pacific: admin/doc-requirements.txt: pin Sphinx at 3.5.4
  admin/doc-requirements.txt
Labels: build/ops

#42838 cephadm: fix tracebacks that could occur during apply spec
  src/cephadm/cephadm
  src/cephadm/tests/test_cephadm.py
Labels: needs-qa, cephadm, ready-to-merge, wip-adk-testing, wip-dpivonka-testing, wip-adk2-testing

#43454 mgr/cephadm: track daemon deployment post actions by daemon name instead of type
  src/pybind/mgr/cephadm/serve.py
  src/pybind/mgr/cephadm/tests/test_cephadm.py
Labels: pybind, needs-review, cephadm, wip-adk-testing, wip-adk2-testing

#43647 qa/suites/orch/cephadm: test with agent on/off
  qa/suites/orch/cephadm/orchestrator_cli/agent
  qa/suites/orch/cephadm/smoke/agent/off.yaml
  qa/suites/orch/cephadm/smoke/agent/on.yaml
  qa/suites/orch/cephadm/upgrade/agent
  qa/suites/orch/cephadm/workunits/agent
Labels: tests, needs-review, cephadm, wip-adk-testing

#43751 rgw: fix debug build of OpsLogFile
  src/rgw/rgw_log.h
Labels: rgw

#43441 octopus: qa/mgr/dashboard/test_pool: don't check HEALTH_OK
  qa/tasks/mgr/dashboard/test_pool.py
Labels: needs-qa, tests, mgr, wip-yuri3-testing, octopus-batch-1

#43717 script: update ceph-debug-docker for centos:stream
  src/script/ceph-debug-docker.sh
Labels: script

#43595 client: do not defer releasing caps when revoking
  src/client/Client.cc
Labels: bug fix, cephfs, needs-qa, wip-pdonnell-testing

#43590 qa: test that new mounts of same fs function after old mount is evicted
  qa/tasks/cephfs/cephfs_test_case.py
  qa/tasks/cephfs/test_client_limits.py
  qa/tasks/cephfs/test_client_recovery.py
Labels: cephfs, needs-qa, tests, wip-pdonnell-testing, kcephfs

#43582 mgr/volumes/fs/operations/versions: fix various flake8 issues
  src/pybind/mgr/volumes/fs/operations/versions/subvolume_base.py
Labels: cephfs, needs-qa, pybind, wip-pdonnell-testing, open-source-day

#40514 mds: add read/write io size metrics support
  doc/man/8/cephfs-top.rst
  src/client/Client.cc
  src/client/Client.h
  src/include/cephfs/metrics/Types.h
  src/mds/MDSPerfMetricTypes.h
  src/mds/MetricAggregator.cc
  src/mds/MetricsHandler.cc
  src/mds/MetricsHandler.h
  src/mds/cephfs_features.h
  src/mgr/BaseMgrModule.cc
  src/mgr/MDSPerfMetricTypes.cc
  src/mgr/MDSPerfMetricTypes.h
  src/pybind/mgr/stats/fs/perf_stats.py
  src/tools/cephfs/top/cephfs-top
Labels: feature, documentation, core, cephfs, needs-qa, pybind, mgr, wip-pdonnell-testing

#43296 mds: improve mds_bal_fragment_size_max config option
  src/mds/MDSRank.cc
  src/mds/Server.cc
  src/mds/Server.h
Labels: cephfs, needs-qa, wip-pdonnell-testing

#43687 os/bluestore: fix invalid omap name conversion when upgrading to per-pg.
  src/common/options/global.yaml.in
  src/os/bluestore/BlueStore.cc
  src/test/objectstore/store_test.cc
Labels: bug fix, core, tests, common, bluestore, needs-release-note

#43101 mgr/rook: implement `orch apply rbd-mirror`
  qa/suites/orch/rook/smoke/3-final.yaml
  qa/tasks/rook.py
  src/pybind/mgr/rook/module.py
  src/pybind/mgr/rook/rook_cluster.py
Labels: tests, wip-sage2-testing, pybind, mgr, orchestrator, rook

#43742 doc/dev/developer_guide/testing_integration_tests: update "frequently used options"
  doc/dev/developer_guide/testing_integration_tests/tests-integration-testing-teuthology-workflow.rst
Labels: documentation

#43766 doc/radosgw/s3-notification-compatibility.rst: fix typos
  doc/radosgw/s3-notification-compatibility.rst
Labels: documentation

#43628 cephadm: exclude zram and cdrom from device list
  src/cephadm/cephadm
Labels: cephadm, ready-to-merge, wip-adk-testing, wip-adk2-testing

#43765 doc/rbd/rbd-mirroring.rst: fix typos
  doc/rbd/rbd-mirroring.rst
Labels: documentation, rbd

#43626 rgw/lua: Example read/write of StorageClass field
  examples/lua/storage_class.lua
  examples/lua/storage_class.md
Labels: documentation, rgw

#43614 pacific: mds/FSMap: do not assert allow_standby_replay on old FSMaps
  src/mds/FSMap.cc
  src/mds/FSMap.h
  src/mon/MDSMonitor.cc
Labels: core, cephfs, needs-qa, mon, wip-yuri8-testing, pacific-batch-1

#43615 pacific: mon/MDSMonitor: avoid crash when decoding old FSMap epochs
  src/mds/FSMap.cc
  src/mon/MDSMonitor.cc
Labels: core, cephfs, needs-qa, mon, wip-yuri8-testing, pacific-batch-1

#42762 os/bluestore: SMR updates/cleanups
  src/blk/BlockDevice.h
  src/blk/kernel/KernelDevice.cc
  src/blk/kernel/KernelDevice.h
  src/blk/zoned/HMSMRDevice.cc
  src/blk/zoned/HMSMRDevice.h
  src/common/options/global.yaml.in
  src/crimson/os/alienstore/CMakeLists.txt
  src/os/CMakeLists.txt
  src/os/bluestore/Allocator.cc
  src/os/bluestore/Allocator.h
  src/os/bluestore/BitmapFreelistManager.cc
  src/os/bluestore/BitmapFreelistManager.h
  src/os/bluestore/BlueFS.cc
  src/os/bluestore/BlueStore.cc
  src/os/bluestore/BlueStore.h
  src/os/bluestore/FreelistManager.h
  src/os/bluestore/HybridAllocator.cc
  src/os/bluestore/ZonedAllocator.cc
  src/os/bluestore/ZonedAllocator.h
  src/os/bluestore/ZonedFreelistManager.cc
  src/os/bluestore/ZonedFreelistManager.h
  src/os/bluestore/bluestore_types.h
  src/os/bluestore/zoned_types.cc
  src/os/bluestore/zoned_types.h
  src/test/objectstore/Allocator_test.cc
  src/test/objectstore/allocator_replay_test.cc
  src/test/objectstore/run_smr_bluestore_test.sh
  src/test/objectstore/store_test.cc
Labels: core, wip-sage-testing, tests, common, build/ops, bluestore, crimson

#43762 doc/cephadm: Calling miscellaneous ceph tools
  doc/cephadm/troubleshooting.rst
Labels: documentation, cephadm

#43769 PendingReleaseNotes: document OMAP upgrade bug.
  PendingReleaseNotes
Labels: documentation

#43750 doc: add admonition for tracker 53062
  doc/cephadm/upgrade.rst
  doc/releases/pacific.rst
Labels: documentation, cephadm

#43728 pacific: cephadm: October batch
  .github/labeler.yml
  doc/ceph-volume/lvm/activate.rst
  doc/cephadm/adoption.rst
  doc/cephadm/host-management.rst
  doc/cephadm/index.rst
  doc/cephadm/install.rst
  doc/cephadm/operations.rst
  doc/cephadm/services/custom-container.rst
  doc/cephadm/services/index.rst
  doc/cephadm/services/iscsi.rst
  doc/cephadm/services/mds.rst
  doc/cephadm/services/mgr.rst
  doc/cephadm/services/mon.rst
  doc/cephadm/services/monitoring.rst
  doc/cephadm/services/nfs.rst
  doc/cephadm/services/osd.rst
  doc/cephadm/services/rgw.rst
  doc/cephadm/troubleshooting.rst
  doc/cephadm/upgrade.rst
  doc/cephfs/nfs.rst
  doc/mgr/orchestrator_modules.rst
  doc/rados/index.rst
  doc/rados/operations/index.rst
  doc/rados/troubleshooting/troubleshooting-mon.rst
  qa/distros/podman/rhel_8.3_kubic_stable.yaml
  qa/distros/podman/rhel_8.4_container_tools_3.0.yaml
  qa/distros/podman/rhel_8.4_container_tools_rhel8.yaml
  qa/distros/podman/ubuntu_18.04_kubic_stable.yaml
  qa/distros/podman/ubuntu_20.04_kubic_stable.yaml
  qa/distros/podman/ubuntu_20.04_kubic_testing.yaml
  qa/suites/orch/cephadm/osds/2-ops/rm-zap-flag.yaml
  qa/suites/orch/cephadm/smoke/distro/centos_8.2_container_tools_3.0.yaml
  qa/suites/orch/cephadm/smoke/distro/rhel_8.4_container_tools_3.0.yaml
  qa/suites/orch/cephadm/smoke/distro/rhel_8.4_container_tools_rhel8.yaml
  qa/suites/orch/cephadm/upgrade/5-upgrade-ls.yaml
  src/cephadm/cephadm
  src/cephadm/tests/test_cephadm.py
  src/pybind/mgr/cephadm/inventory.py
  src/pybind/mgr/cephadm/module.py
  src/pybind/mgr/cephadm/registry.py
  src/pybind/mgr/cephadm/serve.py
  src/pybind/mgr/cephadm/services/cephadmservice.py
  src/pybind/mgr/cephadm/services/iscsi.py
  src/pybind/mgr/cephadm/services/monitoring.py
  src/pybind/mgr/cephadm/services/nfs.py
  src/pybind/mgr/cephadm/services/osd.py
  src/pybind/mgr/cephadm/templates/services/alertmanager/alertmanager.yml.j2
  src/pybind/mgr/cephadm/templates/services/grafana/ceph-dashboard.yml.j2
  src/pybind/mgr/cephadm/templates/services/iscsi/iscsi-gateway.cfg.j2
  src/pybind/mgr/cephadm/tests/fixtures.py
  src/pybind/mgr/cephadm/tests/test_cephadm.py
  src/pybind/mgr/cephadm/tests/test_osd_removal.py
  src/pybind/mgr/cephadm/tests/test_services.py
  src/pybind/mgr/cephadm/tests/test_spec.py
  src/pybind/mgr/cephadm/upgrade.py
  src/pybind/mgr/orchestrator/_interface.py
  src/pybind/mgr/orchestrator/module.py
  src/pybind/mgr/orchestrator/tests/test_orchestrator.py
  src/python-common/ceph/deployment/service_spec.py
  src/python-common/ceph/utils.py
Labels: documentation, core, cephfs, pybind, mgr, ceph-volume, orchestrator, CI, cephadm, wip-swagner2-testing, rook, nfs

#43690 mgr/dashboard: improve error handling for gather_facts
  src/pybind/mgr/dashboard/controllers/host.py
Labels: pybind, dashboard

#43786 mds: fix typo in MDSRank.cc
  src/mds/MDSRank.cc
Labels: cephfs

#43659 librbd: send FLUSH_SOURCE_INTERNAL when do copy/deep_copy.
  src/librbd/api/Image.cc
  src/librbd/internal.cc
Labels: rbd, wip-deepika-testing

#43694 pacific: monitoring: ethernet bonding filter in Network Load.
  monitoring/grafana/dashboards/hosts-overview.json
  monitoring/grafana/dashboards/jsonnet/grafana_dashboards.jsonnet
Labels: dashboard, monitoring, backport:no-conflicts

#43753 rgw/dbstore: No need for explicit LOCK in DBStore
  src/rgw/store/dbstore/common/dbstore.cc
Labels: rgw

#42950 librbd/cache/pwl/ssd: fix dead lock and assert during shutdown
  src/librbd/cache/pwl/AbstractWriteLog.cc
  src/librbd/cache/pwl/AbstractWriteLog.h
  src/librbd/cache/pwl/ssd/WriteLog.cc
Labels: bug fix, rbd, wip-deepika-testing

#43662 pacific: rbd-mirror: fix mirror image removal
  qa/workunits/rbd/rbd_mirror_helpers.sh
  qa/workunits/rbd/rbd_mirror_journal.sh
  qa/workunits/rbd/rbd_mirror_snapshot.sh
  qa/workunits/rbd/rbd_mirror_stress.sh
  src/cls/rbd/cls_rbd.cc
  src/cls/rbd/cls_rbd_client.cc
  src/cls/rbd/cls_rbd_client.h
  src/test/cls_rbd/test_cls_rbd.cc
  src/test/rbd_mirror/image_deleter/test_mock_TrashMoveRequest.cc
  src/test/rbd_mirror/image_replayer/test_mock_PrepareLocalImageRequest.cc
  src/test/rbd_mirror/test_ImageReplayer.cc
  src/test/rbd_mirror/test_mock_ImageReplayer.cc
  src/test/rbd_mirror/test_mock_MirrorStatusUpdater.cc
  src/tools/rbd_mirror/ImageMap.cc
  src/tools/rbd_mirror/ImageReplayer.cc
  src/tools/rbd_mirror/ImageReplayer.h
  src/tools/rbd_mirror/MirrorStatusUpdater.cc
  src/tools/rbd_mirror/MirrorStatusUpdater.h
  src/tools/rbd_mirror/image_deleter/TrashMoveRequest.cc
  src/tools/rbd_mirror/image_map/LoadRequest.cc
  src/tools/rbd_mirror/image_map/LoadRequest.h
  src/tools/rbd_mirror/image_map/Policy.cc
  src/tools/rbd_mirror/image_replayer/BootstrapRequest.cc
  src/tools/rbd_mirror/image_replayer/PrepareLocalImageRequest.cc
  src/tools/rbd_mirror/image_replayer/PrepareLocalImageRequest.h
  src/tools/rbd_mirror/image_replayer/PrepareRemoteImageRequest.cc
  src/tools/rbd_mirror/image_replayer/StateBuilder.h
Labels: rbd, needs-qa, tests, wip-yuri3-testing, pacific-batch-1

#43695 pacific: rgw/rgw_rados: make RGW request IDs non-deterministic
  src/rgw/rgw_rados.h
Labels: rgw, needs-qa, wip-yuri3-testing

#43740 pacific: rgw: add abstraction for ops log destination and add file logger
  doc/radosgw/config-ref.rst
  src/common/legacy_config_opts.h
  src/common/options.cc
  src/rgw/librgw.cc
  src/rgw/rgw_lib.h
  src/rgw/rgw_log.cc
  src/rgw/rgw_log.h
  src/rgw/rgw_lua_request.cc
  src/rgw/rgw_lua_request.h
  src/rgw/rgw_main.cc
  src/rgw/rgw_process.cc
  src/rgw/rgw_process.h
  src/test/fio/fio_librgw.cc
Labels: documentation, rgw, needs-qa, tests, common, wip-yuri3-testing

#43779 rgw: fix ListBucketMultiparts response with common prefixes
  src/rgw/rgw_rest_s3.cc
Labels: bug fix, rgw, wip-cbodley-testing

#43710 rgw: fix self-comparison for RGWCopyObj optimization
  src/rgw/rgw_rados.cc
Labels: bug fix, rgw, needs-qa, wip-cbodley-testing

#43591 radosgw-admin: allow 'bi purge' to delete index if entrypoint doesn't exist
  src/rgw/rgw_admin.cc
Labels: bug fix, rgw, needs-qa, wip-cbodley-testing

#43415 pacific: crush: cancel upmaps with up set size != pool size
  src/osd/OSDMap.cc
  src/test/osd/TestOSDMap.cc
Labels: core, needs-qa, tests, wip-yuri-testing

#43457 pacific: mon: Allow specifying new tiebreaker monitors
  doc/rados/operations/stretch-mode.rst
  src/mon/MonCommands.h
  src/mon/MonMap.cc
  src/mon/MonmapMonitor.cc
Labels: documentation, core, needs-qa, wip-yuri-testing, mon

#43544 pacific: osd: handle inconsistent hash info during backfill and deep scrub gracefully
  qa/standalone/scrub/osd-scrub-repair.sh
  qa/suites/rados/singleton/all/ec-inconsistent-hinfo.yaml
  qa/tasks/ec_inconsistent_hinfo.py
  src/osd/ECBackend.cc
  src/osd/ECBackend.h
Labels: core, needs-qa, tests, wip-yuri-testing

#43456 mgr/telemetry: provide option for separated data in the telemetry perf channel
  src/pybind/mgr/telemetry/module.py
Labels: needs-qa, pybind, telemetry, wip-lflores-testing

#43781 crimson/osd: Osd UUID zero
  src/crimson/osd/main.cc
Labels: tests, crimson

#43617 crimson/os/seastore/journal: support both batching and concurrent writes
  src/common/options/crimson.yaml.in
  src/crimson/os/seastore/extent_placement_manager.cc
  src/crimson/os/seastore/journal.cc
  src/crimson/os/seastore/journal.h
Labels: tests, common, crimson

#43461 librbd/cache/pwl: fix external flush dispatch in advance
  src/librbd/cache/pwl/AbstractWriteLog.cc
Labels: bug fix, rbd, wip-deepika-testing

#43797 mgr/dashboard: fix missing alert rule details
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/prometheus/rules-list/rules-list.component.html
Labels: pybind, dashboard

#43631 pacific: mgr/dashboard,prometheus: fix handling of server_addr
  src/pybind/mgr/dashboard/module.py
  src/pybind/mgr/prometheus/module.py
Labels: pybind, dashboard, backport:no-conflicts

#43737 mgr/cephadm: Fixed spawning ip addresses list for public network interface
  src/pybind/mgr/cephadm/schedule.py
Labels: needs-qa, pybind, wip-swagner-testing, cephadm

#43778 rgw: Ensure buckets too old to decode a layout have layout logs
  src/rgw/rgw_common.cc
  src/rgw/rgw_dencoder.cc
Labels: bug fix, rgw

#43768 radosgw-admin: supplement help documents with 'mdlog autotrim'
  src/rgw/rgw_admin.cc
  src/test/cli/radosgw-admin/help.t
Labels: rgw, tests

#43611 mgr/nfs: adjust export creation CLI args, and allow rgw user exports
  PendingReleaseNotes
  doc/mgr/nfs.rst
  qa/suites/orch/cephadm/mgr-nfs-upgrade/2-nfs.yaml
  qa/suites/orch/cephadm/smoke-roleless/2-services/nfs-ingress-rgw-bucket.yaml
  qa/suites/orch/cephadm/smoke-roleless/2-services/nfs-ingress-rgw-user.yaml
  qa/suites/orch/cephadm/smoke-roleless/2-services/nfs-ingress.yaml
  qa/suites/orch/cephadm/smoke-roleless/2-services/nfs-ingress2.yaml
  qa/tasks/cephfs/test_nfs.py
  src/pybind/ceph_argparse.py
  src/pybind/mgr/nfs/export.py
  src/pybind/mgr/nfs/module.py
  src/pybind/mgr/nfs/tests/test_nfs.py
  src/vstart.sh
Labels: documentation, cephfs, tests, wip-sage2-testing, pybind, mgr, cephadm, nfs

#43793 pacific: os/bluestore: fix invalid omap name conversion when upgrading to per-pg
  PendingReleaseNotes
  src/common/legacy_config_opts.h
  src/common/options.cc
  src/os/bluestore/BlueStore.cc
  src/test/objectstore/store_test.cc
Labels: bug fix, documentation, core, needs-qa, tests, common, bluestore, wip-yuri4-testing

#41667 mds: do not trim stray dentries during opening the root
  src/mds/MDCache.cc
Labels: cephfs, needs-qa, wip-pdonnell-testing

#43613 qa: lengthen health warning wait
  qa/tasks/ceph_test_case.py
  qa/tasks/cephfs/filesystem.py
  qa/tasks/cephfs/test_failover.py
  qa/tasks/cephfs/test_scrub_checks.py
  qa/tasks/cephfs/test_snapshots.py
Labels: cephfs, needs-qa, tests, wip-pdonnell-testing

#43638 qa: pass subdir arg when executing workunit
  qa/tasks/workunit.py
Labels: cephfs, needs-qa, tests, wip-pdonnell-testing

#43666 qa/vstart_runner: add "managers" to LocalContext instances
  qa/tasks/vstart_runner.py
Labels: cephfs, needs-qa, tests, wip-pdonnell-testing, vstart_runner

#43752 client: remove optional for dirfd parameter
  src/client/Client.cc
  src/client/Client.h
Labels: cephfs, needs-qa, wip-pdonnell-testing

#43664 osd: fix 'ceph osd stop <osd.nnn>' doesn't take effect
  src/osd/OSD.cc
Labels: bug fix, core, needs-qa, wip-yuri2-testing

#43700 ceph_test_rados_api_watch_notify: extend Watch3Timeout test
  src/test/librados/watch_notify.cc
Labels: core, needs-qa, tests, wip-yuri2-testing

#43705 mgr: do not handle Python2
  src/mgr/BaseMgrModule.cc
Labels: cleanup, needs-qa, wip-yuri2-testing, python3

#42727 cephadm,ceph-volume: support raw volumes, generic 'activate'
  src/ceph-volume/ceph_volume/activate/__init__.py
  src/ceph-volume/ceph_volume/activate/main.py
  src/ceph-volume/ceph_volume/devices/lvm/activate.py
  src/ceph-volume/ceph_volume/devices/raw/activate.py
  src/ceph-volume/ceph_volume/main.py
  src/ceph-volume/ceph_volume/tests/devices/lvm/test_activate.py
  src/cephadm/cephadm
  src/pybind/mgr/cephadm/services/osd.py
  src/pybind/mgr/cephadm/tests/test_cephadm.py
  src/pybind/mgr/orchestrator/module.py
  src/python-common/ceph/deployment/drive_group.py
  src/python-common/ceph/deployment/translate.py
Labels: wip-sage-testing, pybind, ceph-volume, orchestrator, cephadm

#43406 mgr/telemetry: add mempool stats to telemetry perf report
  src/pybind/mgr/telemetry/module.py
Labels: needs-qa, pybind, telemetry

#43807 doc/cephadm: Recommend osd_memory_target_autotune
  doc/cephadm/install.rst
Labels: documentation, cephadm

#43808 qa/rgw: master branch targets ceph-master branch of java_s3tests
  qa/suites/rgw/verify/tasks/s3tests-java.yaml
Labels: rgw, tests

#43826 mgr/cephadm: allow zapping devices from other clusters
  src/pybind/mgr/cephadm/module.py
Labels: wip-sage-testing, pybind, cephadm

#43679 ceph-volume/tests: update setup_mixed_type playbook
  src/ceph-volume/ceph_volume/tests/functional/Vagrantfile
  src/ceph-volume/ceph_volume/tests/functional/batch/playbooks/setup_mixed_type.yml
Labels: ceph-volume

#43574 ceph-volume: fix a typo causing AttributeError
  src/ceph-volume/ceph_volume/devices/lvm/migrate.py
Labels: ceph-volume

#43812 pacific: mgr/dashboard: fix missing alert rule details
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/prometheus/rules-list/rules-list.component.html
Labels: pybind, dashboard, backport:no-conflicts

#43708 pacific: ceph-volume: util/prepare fix osd_id_available()
  src/ceph-volume/ceph_volume/devices/lvm/batch.py
  src/ceph-volume/ceph_volume/devices/lvm/common.py
  src/ceph-volume/ceph_volume/devices/lvm/migrate.py
  src/ceph-volume/ceph_volume/devices/lvm/zap.py
  src/ceph-volume/ceph_volume/tests/devices/lvm/test_batch.py
  src/ceph-volume/ceph_volume/tests/devices/lvm/test_migrate.py
  src/ceph-volume/ceph_volume/tests/devices/lvm/test_prepare.py
  src/ceph-volume/ceph_volume/tests/devices/lvm/test_zap.py
  src/ceph-volume/ceph_volume/tests/util/test_prepare.py
  src/ceph-volume/ceph_volume/util/prepare.py
Labels: needs-qa, wip-yuri4-testing, ceph-volume

#43635 mgr/cephadm: improve agent responsiveness
  src/cephadm/cephadm
  src/pybind/mgr/cephadm/agent.py
  src/pybind/mgr/cephadm/inventory.py
  src/pybind/mgr/cephadm/module.py
  src/pybind/mgr/cephadm/serve.py
Labels: pybind, cephadm, wip-adk-testing, wip-adk2-testing

#43777 pacific: rgw: use existing s->bucket in s3 website retarget()
  src/rgw/rgw_rest_s3.cc
Labels: rgw, needs-qa, wip-yuri8-testing

#43809 pacific: qa/rgw: pacific branch targets ceph-pacific branch of java_s3tests
  qa/suites/rgw/verify/tasks/s3tests-java.yaml
Labels: rgw, needs-qa, tests, wip-yuri4-testing, pacific-batch-1

#43703 pacific: rgw/sts: fix for copy object operation using sts
  src/rgw/rgw_op.cc
  src/rgw/rgw_rest_s3.cc
Labels: rgw, needs-qa, wip-yuri4-testing

#43787 pacific: pybind/mgr/CMakeLists.txt: exclude files not used at runtime
  src/pybind/mgr/CMakeLists.txt
Labels: needs-qa, build/ops, pybind, wip-yuri4-testing, pacific-batch-1

#43621 os/bluestore: use proper prefix when removing undecodable Share Blob.
  src/os/bluestore/BlueStore.cc
Labels: bug fix, core, needs-qa, bluestore, wip-yuri5-testing

#43699 qa/suites/rados/mgr: use only one objectstore instead of all
  qa/suites/rados/mgr/random-objectstore$
Labels: core, needs-qa, tests, wip-yuri5-testing

#43827 mgr/cephadm: orch osd rm fixes + tests
  qa/suites/orch/cephadm/osds/2-ops/repave-all.yaml
  src/pybind/mgr/cephadm/services/osd.py
  src/pybind/mgr/cephadm/tests/test_osd_removal.py
  src/pybind/mgr/orchestrator/module.py
Labels: wip-sage2-testing, pybind, orchestrator, cephadm

#43754 crimson/os/seastore: fix ordered updates to JournalSegmentManager::committed_to
  src/crimson/os/seastore/extent_placement_manager.h
  src/crimson/os/seastore/extent_reader.cc
  src/crimson/os/seastore/journal.cc
  src/crimson/os/seastore/journal.h
  src/crimson/os/seastore/seastore_types.cc
  src/crimson/os/seastore/seastore_types.h
  src/crimson/os/seastore/segment_cleaner.cc
  src/crimson/os/seastore/segment_cleaner.h
Labels: crimson

#43835 crimson/os/seastore/segment_cleaner: initialize segments' avail_bytes…
  src/crimson/os/seastore/segment_cleaner.h
Labels: crimson

#43414 doc: update get-involved for cephfs
  doc/rados/troubleshooting/troubleshooting-mon.rst
  doc/start/get-involved.rst
Labels: documentation, core, cephfs

#43730 vstart.sh: print newline character after vstart.sh help text
  src/vstart.sh
Labels: needs-review

#42479 osd/scrub: remove Scrubber sub-objects reliance on PG::gen_prefix()
  src/osd/PG.h
  src/osd/scrubber/PrimaryLogScrub.cc
  src/osd/scrubber/pg_scrubber.cc
  src/osd/scrubber/pg_scrubber.h
  src/osd/scrubber/scrub_machine.cc
  src/osd/scrubber/scrub_machine.h
  src/osd/scrubber/scrub_machine_lstnr.h
Labels: bug fix, core, needs-qa, wip-yuri7-testing

#43525 doc: 15.2.15 Release Notes
  doc/releases/index.rst
  doc/releases/octopus.rst
  doc/releases/releases.yml
Labels: documentation

#43836 crimson/common: disable arithmetic operators for atomic enums
  src/common/ceph_atomic.h
Labels: common, crimson

#43844 RGW Zipper - Cleanup and API doc pass
  src/rgw/rgw_bucket.cc
  src/rgw/rgw_lc.cc
  src/rgw/rgw_op.cc
  src/rgw/rgw_op.h
  src/rgw/rgw_quota.cc
  src/rgw/rgw_rados.cc
  src/rgw/rgw_rest.cc
  src/rgw/rgw_rest_log.cc
  src/rgw/rgw_rest_s3.cc
  src/rgw/rgw_sal.h
  src/rgw/rgw_sal_dbstore.cc
  src/rgw/rgw_sal_dbstore.h
  src/rgw/rgw_sal_rados.cc
  src/rgw/rgw_sal_rados.h
  src/rgw/rgw_user.cc
  src/rgw/rgw_user.h
  src/test/rgw/test_rgw_lua.cc
Labels: documentation, rgw

#43585 common/options: fix typo
  src/common/options/global.yaml.in
Labels: core, needs-qa, common, wip-yuri7-testing

#43677 librbd/pwl: don't need print cache_bl contents.
  src/librbd/cache/pwl/LogEntry.cc
Labels: rbd

#43403 osd/scrub: expose PGs scrubbing schedule to the operator
  .gitignore
  PendingReleaseNotes
  qa/standalone/scrub/osd-scrub-test.sh
  qa/standalone/scrub/scrub-helpers.sh
  src/include/utime_fmt.h
  src/mon/PGMap.cc
  src/mon/PGMap.h
  src/osd/OSD.cc
  src/osd/PG.cc
  src/osd/PeeringState.cc
  src/osd/PeeringState.h
  src/osd/PrimaryLogPG.cc
  src/osd/PrimaryLogPG.h
  src/osd/osd_types.cc
  src/osd/osd_types.h
  src/osd/scrubber/PrimaryLogScrub.cc
  src/osd/scrubber/osd_scrub_sched.cc
  src/osd/scrubber/osd_scrub_sched.h
  src/osd/scrubber/pg_scrubber.cc
  src/osd/scrubber/pg_scrubber.h
  src/osd/scrubber_common.h
Labels: documentation, core, needs-qa, wip-yuri-testing, mon

#43527 pybind: add wrapper for rados_write_op_omap_cmp
  src/pybind/rados/c_rados.pxd
  src/pybind/rados/mock_rados.pxi
  src/pybind/rados/rados.pyx
  src/test/pybind/test_rados.py
Labels: needs-qa, tests, pybind, wip-yuri-testing

#43821 mgr/cephadm: allow osd spec removal
  src/pybind/mgr/cephadm/module.py
  src/pybind/mgr/orchestrator/_interface.py
  src/pybind/mgr/orchestrator/module.py
  src/pybind/mgr/rook/module.py
  src/pybind/mgr/test_orchestrator/module.py
Labels: wip-sage2-testing, pybind, orchestrator, cephadm, rook

#43290 .github/pull_request_template: update
  .github/pull_request_template.md
  .github/workflows/pr-checklist.yml
Labels: CI

#43853 crimson/os/seastore: fix journal updates to the write boundaries
  src/crimson/os/seastore/journal.cc
  src/crimson/os/seastore/journal.h
  src/crimson/os/seastore/seastore_types.h
  src/crimson/os/seastore/transaction_manager.cc
  src/test/crimson/seastore/test_btree_lba_manager.cc
  src/test/crimson/seastore/test_seastore_journal.cc
Labels: tests, crimson

#43772 pacific: librbd/cache/pwl: persistant cache backports
  ceph.spec.in
  cmake/modules/Buildpmem.cmake
  cmake/modules/Findpmem.cmake
  make-dist
  src/CMakeLists.txt
  src/librbd/cache/pwl/AbstractWriteLog.cc
  src/librbd/cache/pwl/AbstractWriteLog.h
  src/librbd/cache/pwl/InitRequest.cc
  src/librbd/cache/pwl/LogEntry.cc
  src/librbd/cache/pwl/LogEntry.h
  src/librbd/cache/pwl/LogOperation.cc
  src/librbd/cache/pwl/LogOperation.h
  src/librbd/cache/pwl/Request.h
  src/librbd/cache/pwl/Types.h
  src/librbd/cache/pwl/rwl/LogEntry.cc
  src/librbd/cache/pwl/rwl/LogEntry.h
  src/librbd/cache/pwl/rwl/Request.cc
  src/librbd/cache/pwl/rwl/WriteLog.cc
  src/librbd/cache/pwl/rwl/WriteLog.h
  src/librbd/cache/pwl/ssd/LogEntry.cc
  src/librbd/cache/pwl/ssd/LogEntry.h
  src/librbd/cache/pwl/ssd/Request.cc
  src/librbd/cache/pwl/ssd/WriteLog.cc
  src/librbd/cache/pwl/ssd/WriteLog.h
Labels: rbd, build/ops

#43825 cephadm: fix upgrade name already in use
  src/pybind/mgr/cephadm/schedule.py
Labels: needs-qa, pybind, cephadm, wip-swagner3-testing

#43789 cephadm: Avoid "Could not locate podman: podman not found"
  src/cephadm/cephadm
Labels: cephadm, wip-swagner3-testing

#43712 mgr/cephadm: fix port handling for cephadm endpoint
  src/pybind/mgr/cephadm/agent.py
  src/pybind/mgr/cephadm/module.py
  src/pybind/mgr/cephadm/services/cephadmservice.py
Labels: pybind, cephadm, wip-swagner3-testing

#43536 cephadm/ceph-volume: do not use lvm binary in containers
  src/ceph-volume/ceph_volume/api/lvm.py
  src/ceph-volume/ceph_volume/process.py
  src/ceph-volume/ceph_volume/tests/api/test_lvm.py
  src/cephadm/cephadm
Labels: needs-qa, ceph-volume, cephadm, wip-guits-testing

#43847 qa/rgw: bump tempest version to resolve dependency issue
  qa/suites/rgw/tempest/tasks/rgw_tempest.yaml
Labels: rgw, tests

#43746 pybind/mgr/pg_autoscaler: typo default option scale-up to scale-down
  src/pybind/mgr/pg_autoscaler/module.py
Labels: core, needs-qa, pybind, wip-yuri-testing, mgr

#43862 pacific: rgw: fix bucket purge incomplete multipart uploads
  src/rgw/rgw_multi.cc
  src/rgw/rgw_multi.h
Labels: bug fix, rgw

#43658 octopus: qa/ceph-ansible: Bump OS version for centos
  qa/suites/ceph-ansible/smoke/basic/1-distros/centos_8.4.yaml
  qa/suites/ceph-ansible/smoke/basic/1-distros/centos_latest.yaml
Labels: bug fix, needs-qa, tests, wip-yuri6-testing

#43775 mgr/rook: persist drive groups
  src/pybind/mgr/rook/module.py
  src/pybind/mgr/rook/rook_cluster.py
Labels: wip-sage-testing, tests, pybind, orchestrator, rook

#43223 pacific: mgr/volumes: Fix permission during subvol creation with mode
  qa/tasks/cephfs/test_volumes.py
  src/pybind/mgr/volumes/fs/fs_util.py
  src/pybind/mgr/volumes/fs/operations/group.py
  src/pybind/mgr/volumes/fs/operations/versions/subvolume_v1.py
  src/pybind/mgr/volumes/fs/operations/versions/subvolume_v2.py
  src/pybind/mgr/volumes/fs/vol_spec.py
Labels: core, cephfs, needs-qa, tests, pybind, wip-yuri8-testing, pacific-batch-1

#43251 pacific: mds: Add new flag to MClientSession
  src/mds/Server.cc
  src/messages/MClientSession.h
Labels: cephfs, needs-qa, wip-yuri8-testing, pacific-batch-1

#42520 cephfs-mirror, test: add thrasher for cephfs mirror daemon, HA test yamls
  qa/suites/fs/mirror-ha/%
  qa/suites/fs/mirror-ha/.qa
  qa/suites/fs/mirror-ha/begin.yaml
  qa/suites/fs/mirror-ha/cephfs-mirror/three-per-cluster.yaml
  qa/suites/fs/mirror-ha/clients/+
  qa/suites/fs/mirror-ha/clients/.qa
  qa/suites/fs/mirror-ha/clients/mirror.yaml
  qa/suites/fs/mirror-ha/cluster/+
  qa/suites/fs/mirror-ha/cluster/1-node.yaml
  qa/suites/fs/mirror-ha/objectstore/.qa
  qa/suites/fs/mirror-ha/objectstore/bluestore-bitmap.yaml
  qa/suites/fs/mirror-ha/overrides/+
  qa/suites/fs/mirror-ha/overrides/.qa
  qa/suites/fs/mirror-ha/overrides/whitelist_health.yaml
  qa/suites/fs/mirror-ha/supported-random-distro$
  qa/suites/fs/mirror-ha/workloads/.qa
  qa/suites/fs/mirror-ha/workloads/cephfs-mirror-ha-workunit.yaml
  qa/suites/fs/mirror/tasks/mirror.yaml
  qa/suites/fs/valgrind/mirror/tasks/mirror.yaml
  qa/tasks/cephfs_mirror.py
  qa/tasks/cephfs_mirror_thrash.py
  qa/workunits/fs/cephfs_mirror_ha_gen.sh
  qa/workunits/fs/cephfs_mirror_ha_verify.sh
  qa/workunits/fs/cephfs_mirror_helpers.sh
  src/pybind/mgr/mirroring/fs/dir_map/policy.py
Labels: cephfs, needs-qa, tests, pybind, wip-pdonnell-testing

#43767 qa: increase the timeout value to wait a litte longer
  qa/tasks/cephfs/test_openfiletable.py
Labels: cephfs, needs-qa, tests, wip-pdonnell-testing

#43411 mon: simplify 'mgr module ls' output
  doc/mgr/administrator.rst
  qa/tasks/mgr/mgr_test_case.py
  src/mon/MgrMonitor.cc
  src/mon/MonCommands.h
Labels: documentation, core, needs-qa, tests, mgr, mon, TESTED

#43845 mgr/dashboard: include mfa_ids in rgw user-details section
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-user-details/rgw-user-details.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-user-details/rgw-user-details.component.spec.ts
Labels: pybind, needs-review, dashboard, skip-teuthology

#43783 mgr/prometheus: Update rule format and enhance SNMP support
  monitoring/prometheus/alerts/ceph_default_alerts.yml
  monitoring/prometheus/tests/test_alerts.yml
  monitoring/prometheus/tests/validate_rules.py
  monitoring/snmp/CEPH-MIB.txt
  monitoring/snmp/README.md
Labels: documentation, dashboard, monitoring, ready-to-merge

#43747 octopus: os/bluestore/AvlAllocator: introduce bluestore_avl_alloc_ff_max_* options
  src/common/options.cc
  src/os/bluestore/AvlAllocator.cc
  src/os/bluestore/AvlAllocator.h
Labels: needs-qa, performance, bluestore, wip-yuri6-testing

#43860 crimson/net: drop crimson-specific check for the addr in ClientIdentFrame
  src/crimson/net/ProtocolV2.cc
Labels: crimson

#43521 osd/scrub: fix the handling of deep-scrub when noscrub is set
  src/osd/PG.cc
Labels: bug fix, core, needs-qa

#43800 mds/FSMap: assign v16.2.4 compat to pre-v16.2.5 standby daemons
  src/mds/FSMap.cc
  src/mds/MDSMap.cc
  src/mds/MDSMap.h
  src/pybind/mgr/cephadm/upgrade.py
Labels: cephfs, pybind, needs-review, wip-pdonnell-testing, cephadm

#43851 mds/FSMap: allow upgrade when no MDS is "in"
  src/mds/FSMap.cc
  src/mds/FSMap.h
Labels: bug fix, cephfs, needs-review, wip-pdonnell-testing

#43046 mgr/rook: update `ceph orch apply nfs`
  qa/suites/orch/rook/smoke/3-final.yaml
  src/pybind/mgr/rook/module.py
  src/pybind/mgr/rook/rook_cluster.py
Labels: needs-qa, wip-sage2-testing, pybind, DNM, orchestrator, rook, nfs

#43874 qa/suites/orch/cephadm: add 8.stream + container_tools
  qa/distros/podman/centos_8.stream_container_tools.yaml
  qa/suites/fs/upgrade/mds_upgrade_sequence/centos_8.3_container_tools_3.0.yaml
  qa/suites/fs/upgrade/mds_upgrade_sequence/centos_8.stream_container_tools.yaml
  qa/suites/orch/cephadm/mgr-nfs-upgrade/0-centos_8.2_container_tools_3.0.yaml
  qa/suites/orch/cephadm/mgr-nfs-upgrade/0-centos_8.stream_container_tools.yaml
  qa/suites/orch/cephadm/smoke/distro/centos_8.stream_container_tools.yaml
  qa/suites/orch/cephadm/upgrade/1-start-distro/1-start-centos_8.stream_container-tools.yaml
  qa/suites/orch/cephadm/workunits/0-distro/centos_8.stream_container_tools.yaml
Labels: cephfs, cephadm

#43464 mgr/prometheus: Make prometheus standby behaviour configurable
  doc/mgr/prometheus.rst
  src/pybind/mgr/prometheus/module.py
Labels: documentation, pybind, mgr, monitoring

#43570 mgr/telemetry: modify stats_per_pool and add stats_per_pg
  src/pybind/mgr/telemetry/module.py
Labels: pybind, telemetry, TESTED, wip-lflores-testing

#43823 pacific: rgw: Ensure buckets too old to decode a layout have layout logs
  src/rgw/rgw_common.cc
  src/rgw/rgw_dencoder.cc
Labels: bug fix, rgw, needs-qa, wip-yuri7-testing

#43877 mgr/dashboard: Spelling mistake in host-form Network address field
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/hosts/host-form/host-form.component.html
Labels: pybind, dashboard, skip-teuthology

#43103 rgw: fix rgw.none statistics
  src/cls/rgw/cls_rgw.cc
Labels: bug fix, rgw, needs-qa, wip-cbodley-testing

#43829 rgw/auth: perm_mask uses std::optional
  src/rgw/rgw_auth.cc
  src/rgw/rgw_auth.h
  src/rgw/rgw_auth_s3.h
  src/rgw/rgw_rest_s3.cc
  src/rgw/rgw_swift_auth.cc
  src/rgw/rgw_swift_auth.h
Labels: cleanup, rgw, needs-qa, wip-cbodley-testing

#43563 common: avoid pthread_mutex_unlock twice
  src/common/cohort_lru.h
Labels: bug fix, rgw, needs-qa, common

#43773 librgw: treat empty root path as "/" on mount
  src/rgw/rgw_file.cc
  src/rgw/rgw_file.h
  src/test/librgw_file_nfsns.cc
Labels: bug fix, rgw, needs-qa, tests, wip-cbodley-testing

#43837 librbd/cache/pwl: fix reorder issue between func process_writeback_di…
  src/librbd/cache/pwl/AbstractWriteLog.cc
  src/librbd/cache/pwl/AbstractWriteLog.h
  src/librbd/cache/pwl/rwl/WriteLog.cc
  src/librbd/cache/pwl/ssd/WriteLog.cc
Labels: rbd, needs-qa, wip-deepika-testing

#42046 librbd/cache/pwl/ssd: make log entry 64 bit and add ssd version control
  qa/suites/rbd/persistent-writeback-cache/4-pool/big-cache.yaml
  src/librbd/cache/pwl/AbstractWriteLog.cc
  src/librbd/cache/pwl/AbstractWriteLog.h
  src/librbd/cache/pwl/LogEntry.h
  src/librbd/cache/pwl/Types.h
  src/librbd/cache/pwl/rwl/WriteLog.cc
  src/librbd/cache/pwl/ssd/WriteLog.cc
Labels: bug fix, rbd, wip-deepika-testing

#42110 cephfs-top: fix Refresh interval
  doc/cephfs/cephfs-top.rst
  src/tools/cephfs/top/cephfs-top
Labels: documentation, cephfs

#43918 pacific: librbd/cache/pwl: SSD caching backports
  qa/suites/rbd/persistent-writeback-cache/4-pool/big-cache.yaml
  src/librbd/cache/pwl/AbstractWriteLog.cc
  src/librbd/cache/pwl/AbstractWriteLog.h
  src/librbd/cache/pwl/LogEntry.h
  src/librbd/cache/pwl/Types.h
  src/librbd/cache/pwl/rwl/WriteLog.cc
  src/librbd/cache/pwl/ssd/WriteLog.cc
Labels: rbd

#43756 pacific: os/bluestore: _do_write_small fix head_pad
  src/os/bluestore/BlueStore.cc
Labels: bug fix, core, needs-qa, bluestore, wip-yuri8-testing

#43894 mgr/cephadm: show unmanaged OSDs under 'osd' service
  qa/suites/orch/cephadm/osds/1-start.yaml
  qa/suites/orch/cephadm/smoke-roleless/3-final.yaml
  qa/suites/orch/cephadm/smoke/start.yaml
  qa/suites/orch/cephadm/upgrade/4-wait.yaml
  src/pybind/mgr/orchestrator/_interface.py
Labels: wip-sage-testing, pybind, orchestrator, cephadm

#43903 mgr/dashboard: Edit a service feature
  src/pybind/mgr/dashboard/frontend/cypress/integration/cluster/services.po.ts
  src/pybind/mgr/dashboard/frontend/cypress/integration/orchestrator/05-services.e2e-spec.ts
  src/pybind/mgr/dashboard/frontend/cypress/integration/orchestrator/workflow/04-create-cluster-create-services.e2e-spec.ts
  src/pybind/mgr/dashboard/frontend/cypress/integration/page-helper.po.ts
  src/pybind/mgr/dashboard/frontend/src/app/app-routing.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/create-cluster/create-cluster.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/services/service-form/service-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/services/service-form/service-form.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/services/service-form/service-form.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/services/services.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/models/orchestrator.enum.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/models/service.interface.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/services/task-message.service.ts
  src/pybind/mgr/dashboard/services/orchestrator.py
Labels: pybind, dashboard

#43761 rgw/beast: optimizations for request timeout
  src/common/async/yield_context.h
  src/rgw/rgw_aio.cc
  src/rgw/rgw_aio_throttle.h
  src/rgw/rgw_asio_frontend.cc
  src/rgw/rgw_asio_frontend_timer.h
  src/rgw/rgw_d3n_cacherequest.h
  src/rgw/rgw_notify.cc
  src/rgw/rgw_sync_checkpoint.cc
  src/test/rgw/test_rgw_dmclock_scheduler.cc
  src/test/rgw/test_rgw_reshard_wait.cc
  src/test/rgw/test_rgw_throttle.cc
Labels: rgw, tests, common, performance

#43928 crimson: futurize FuturizedStore::create()
  src/crimson/os/futurized_store.cc
  src/crimson/os/futurized_store.h
  src/crimson/osd/main.cc
  src/crimson/tools/store_nbd/fs_driver.cc
  src/crimson/tools/store_nbd/fs_driver.h
Labels: crimson

#43697 pacific: mon,auth: fix proposal (and mon db rebuild) of rotating secrets
  qa/suites/rados/singleton/all/rebuild-mondb.yaml
  src/auth/cephx/CephxKeyServer.cc
  src/auth/cephx/CephxKeyServer.h
  src/mon/AuthMonitor.cc
  src/mon/AuthMonitor.h
  src/tools/CMakeLists.txt
  src/tools/ceph_monstore_tool.cc
Labels: core, needs-qa, build/ops, mon, wip-yuri4-testing

#43731 pacific: os/bluestore: multiple repair fixes
  src/os/bluestore/BlueStore.cc
  src/os/bluestore/BlueStore.h
  src/test/objectstore/store_test.cc
  src/test/objectstore/test_bluestore_types.cc
Labels: core, needs-qa, tests, bluestore, wip-yuri4-testing

#43780 doc/radosgw/nfs: add note about NFSv3 deprecation
  doc/radosgw/nfs.rst
Labels: documentation, nfs, ready-to-merge

#43927 ceph-volume: follow-up on PR #42727
  src/ceph-volume/ceph_volume/devices/raw/list.py
Labels: ceph-volume

#43300 ceph-volume: fix bug with miscalculation of required db/wal slot size for VGs with multiple PVs
  src/ceph-volume/ceph_volume/devices/lvm/batch.py
  src/ceph-volume/ceph_volume/tests/conftest.py
Labels: ceph-volume

#43854 cls/rgw: index cancelation still cleans up remove_objs
  src/cls/rgw/cls_rgw.cc
  src/rgw/rgw_rados.cc
  src/rgw/rgw_rados.h
Labels: bug fix, rgw

#43912 qa/standalone: fix osd-scrub-dump following changes to 'pg dump pgs' output
  qa/standalone/scrub/osd-scrub-dump.sh
Labels: core, tests

#42880 doc: adds a way to allow users set_contents_from_filename for rgw
  doc/radosgw/s3/python.rst
Labels: documentation

#43908 rgw: fix `bi put` not using right bucket index shard
  src/rgw/rgw_rados.cc
Labels: bug fix, rgw, needs-qa, wip-eric-testing-1

#43913 rgw: remove prefix & delim params for bucket removal & mp upload abort
  src/rgw/rgw_bucket.cc
  src/rgw/rgw_op.cc
  src/rgw/rgw_rest_bucket.cc
  src/rgw/rgw_sal.h
  src/rgw/rgw_sal_dbstore.cc
  src/rgw/rgw_sal_dbstore.h
  src/rgw/rgw_sal_rados.cc
  src/rgw/rgw_sal_rados.h
  src/rgw/rgw_user.cc
Labels: bug fix, cleanup, rgw, needs-qa, wip-eric-testing-1

#43818 os/bluestore: do not select absent device in volume selector
  src/os/bluestore/BlueFS.cc
  src/os/bluestore/BlueStore.cc
  src/os/bluestore/BlueStore.h
  src/test/objectstore/store_test.cc
Labels: bug fix, bluestore, wip-yuri6-testing

#43899 mon: MonMap: do not increase mon_info_t's compatv in stretch mode, really
  src/mon/MonMap.cc
Labels: core, needs-review, mon

#43932 mon: MonMap: display disallowed_leaders whenever they're set
  src/mon/MonMap.cc
Labels: core, needs-review, mon

#43937 pacific: qa/tasks/kubeadm: force docker cgroup engine to systemd
  qa/tasks/kubeadm.py
Labels: tests

#43909 rgw: small code fix-ups
  src/rgw/rgw_rados.cc
  src/rgw/rgw_sal.h
  src/rgw/rgw_sal_rados.cc
Labels: cleanup, documentation, rgw, needs-qa, wip-eric-testing-1
