Repository ceph/ceph, pull requests merged in 2021-12, with the labels that each got.

#41334 mount: introduce new device mount syntax
  doc/cephfs/mount-using-kernel-driver.rst
  doc/man/8/mount.ceph.rst
  qa/cephfs/mount/kclient/mount-syntax/$
  qa/cephfs/mount/kclient/mount-syntax/v1.yaml
  qa/cephfs/mount/kclient/mount-syntax/v2.yaml
  qa/suites/fs/upgrade/mds_upgrade_sequence/overrides/syntax.yaml
  qa/tasks/cephfs/kernel_mount.py
  src/mount/conf.cc
  src/mount/mount.ceph.c
  src/mount/mount.ceph.h
Labels: documentation, cephfs, tests, wip-vshankar-testing

#43297 qa: add mds_dir_max_entries workunit test case
  qa/suites/fs/functional/tasks/workunit/dir-max-entries.yaml
  qa/workunits/fs/maxentries/maxentries.sh
Labels: cephfs, tests, wip-vshankar-testing

#43850 mds: defer messages to bootstrapping ranks
  qa/suites/fs/thrash/workloads/overrides/races.yaml
  qa/tasks/cephfs/test_failover.py
  src/common/options/mds.yaml.in
  src/mds/MDSMap.h
  src/mds/MDSRank.cc
  src/mds/MDSRank.h
Labels: bug fix, cephfs, tests, common, needs-review, wip-vshankar-testing

#43878 qa: account for split of the kclient "metrics" debugfs file
  qa/tasks/cephfs/kernel_mount.py
Labels: cephfs, needs-qa, tests, wip-vshankar-testing

#44038 client: fix crash when iterating and deleting sessions
  src/client/Client.cc
Labels: cephfs, wip-vshankar-testing

#44129 doc: fix typo in cephadm host management
  doc/cephadm/host-management.rst
Labels: documentation, cephadm

#44116 doc: fix the style of the cephfs capability doc
  doc/cephfs/capabilities.rst
Labels: documentation, cephfs

#44143 doc/mgr/diskprediction: fix a typo.
  doc/mgr/diskprediction.rst
Labels: documentation, mgr

#44087 ceph-volume: remove --root param from nsenter cmd
  src/ceph-volume/ceph_volume/process.py
Labels: needs-qa, ceph-volume, wip-guits-testing

#43981 qa/cephfs: correct the parameters' order
  qa/tasks/cephfs/filesystem.py
  qa/tasks/cephfs/fuse_mount.py
  qa/tasks/cephfs/kernel_mount.py
  qa/tasks/cephfs/test_client_recovery.py
  qa/tasks/kclient.py
  qa/tasks/vstart_runner.py
Labels: cephfs, tests, wip-vshankar-testing

#43540 test/msgr: remove DPDK Non-runtime configure items
  src/test/msgr/test_async_networkstack.cc
Labels: tests

#44071 cmake: test for 16-byte atomic support on mips also
  cmake/modules/CheckCxxAtomic.cmake
Labels: build/ops

#44134 mgr/cephadm: avoid repeated calls to get_module_option
  src/pybind/mgr/cephadm/module.py
  src/pybind/mgr/cephadm/serve.py
  src/pybind/mgr/cephadm/services/cephadmservice.py
Labels: wip-sage-testing, pybind, wip-swagner-testing, cephadm

#44109 doc/cephadm: host location: add link to types
  doc/cephadm/host-management.rst
  doc/rados/operations/crush-map.rst
Labels: documentation, core, needs-review, cephadm

#44125 qa/suites/rados/thrash-old-clients: use better-support cephadm distro/podman
  qa/suites/rados/thrash-old-clients/0-distro$/.qa
  qa/suites/rados/thrash-old-clients/0-distro$/centos_8.3_container_tools_3.0.yaml
  qa/suites/rados/thrash-old-clients/0-distro$/centos_8.stream_container_tools.yaml
  qa/suites/rados/thrash-old-clients/distro$/centos_latest.yaml
Labels: core, wip-sage2-testing, wip-sage4-testing

#44063 qa: wait for purge queue operations to finish
  qa/tasks/cephfs/test_fragment.py
Labels: cephfs, needs-qa, tests, wip-vshankar-testing

#44089 os/bluestore: bug-fix for NCB-FSCK
  src/os/bluestore/BlueStore.cc
Labels: core, bluestore

#44035 mgr/cephadm: less log noise when config checks fail
  src/pybind/mgr/cephadm/configchecks.py
Labels: wip-sage-testing, wip-sage2-testing, pybind, wip-sage3-testing, cephadm

#43336 qa/osd-bluefs-volume-ops: fix bluefs volumes ops test case
  qa/standalone/osd/osd-bluefs-volume-ops.sh
  src/os/bluestore/BlueStore.cc
Labels: bug fix, core, needs-qa, tests, bluestore, TESTED

#44178 radosgw-admin: fix error message of OPT::LC_RESHARD_FIX
  src/rgw/rgw_admin.cc
Labels: rgw

#43944 crush: Fix segfault in update_from_hook
  src/common/entity_name.cc
  src/common/entity_name.h
Labels: bug fix, core, needs-qa, common, wip-yuri6-testing

#43493 test: increase retry duration when calculating manifest ref. count
  src/test/librados/tier_cxx.cc
Labels: bug fix, core, needs-qa, tests, wip-yuri6-testing

#43578 common: hide internal logger configuration strings from clients
  src/common/LogClient.cc
  src/common/LogClient.h
  src/common/str_list.cc
  src/common/str_map.cc
  src/include/str_map.h
  src/mds/MDSRank.cc
  src/mgr/ActivePyModules.cc
  src/mgr/DaemonState.h
  src/mgr/MgrStandby.cc
  src/mon/Monitor.cc
  src/osd/OSD.cc
  src/rgw/rgw_kms.cc
  src/rgw/rgw_kms.h
Labels: cleanup, core, rgw, cephfs, needs-qa, common, mgr, mon, wip-yuri6-testing

#43691 os/bluestore: Set min_alloc_size to optimal io size
  src/blk/BlockDevice.h
  src/blk/kernel/KernelDevice.cc
  src/common/blkdev.cc
  src/common/blkdev.h
  src/common/options/global.yaml.in
  src/os/bluestore/BlueStore.cc
  src/os/bluestore/BlueStore.h
Labels: core, needs-qa, common, performance, bluestore, wip-yuri6-testing

#43848 doc: add disk benchmarking and cache tuning recommendations
  doc/start/hardware-recommendations.rst
Labels: documentation

#44144 librbd: fix discard granularity for pwl cache
  src/librbd/ImageCtx.cc
  src/librbd/cache/pwl/InitRequest.cc
Labels: rbd, needs-qa, wip-deepika-testing

#44103 librbd/cache/pwl: Using BlockGuard control overlap ops order when flu…
  src/librbd/cache/pwl/AbstractWriteLog.cc
  src/librbd/cache/pwl/AbstractWriteLog.h
  src/librbd/cache/pwl/LogEntry.h
  src/librbd/cache/pwl/rwl/WriteLog.cc
  src/librbd/cache/pwl/ssd/WriteLog.cc
Labels: rbd, wip-deepika-testing, wip-deepika2-testing

#44132 mgr/prometheus: define module options for standby
  src/pybind/mgr/prometheus/module.py
Labels: wip-sage2-testing, pybind, monitoring

#44017 mgr/cephadm: Do not propogate access logs from cherrypy
  src/pybind/mgr/cephadm/agent.py
Labels: wip-sage-testing, pybind, wip-sage3-testing, cephadm

#42436 mgr/cli New module exposing ceph-mgr python API via CLI
  src/pybind/mgr/cli_api/__init__.py
  src/pybind/mgr/cli_api/module.py
  src/pybind/mgr/cli_api/tests/test_cli_api.py
  src/pybind/mgr/cli_api/tests/test_cliapi.py
  src/pybind/mgr/mgr_module.py
Labels: pybind, mgr, dashboard

#44189 doc/start: update documenting-ceph.rst (1 of x)
  doc/start/documenting-ceph.rst
Labels: documentation

#44204 test/librbd: add get_group test
  src/test/librbd/test_Groups.cc
Labels: rbd, tests

#44108 mgr: fix locking for MetadataUpdate::finish
  src/mgr/Mgr.cc
Labels: core, wip-sage-testing, needs-qa, wip-sage2-testing, mgr

#44155 mgr: limit changes to pg_num
  src/common/options/mgr.yaml.in
  src/mgr/DaemonServer.cc
Labels: core, wip-sage-testing, common, wip-sage2-testing, mgr

#43870 NCB::refresh allocation-file after FSCK remove
  src/os/bluestore/BlueStore.cc
  src/os/bluestore/BlueStore.h
Labels: core, bluestore

#44222 doc: Use older mistune
  admin/doc-requirements.txt
Labels: build/ops

#44154 pacific: qa: miscellaneous perf suite fixes
  qa/suites/perf-basic/ubuntu_18.04.yaml
  qa/suites/perf-basic/ubuntu_latest.yaml
  qa/suites/perf-basic/workloads/cosbench_64K_write.yaml
  qa/suites/rados/perf/ceph.yaml
  qa/suites/rados/perf/ubuntu_18.04.yaml
  qa/suites/rados/perf/ubuntu_latest.yaml
  qa/suites/rados/perf/workloads/cosbench_64K_read_write.yaml
  qa/suites/rados/perf/workloads/cosbench_64K_write.yaml
Labels: core, needs-qa, wip-yuri-testing

#44164 pacific: rpm, debian: move smartmontools and nvme-cli to ceph-base
  ceph.spec.in
  debian/ceph-base.install
  debian/ceph-osd.install
  debian/control
  debian/rules
  sudoers.d/ceph-smartctl
Labels: needs-qa, build/ops, wip-yuri-testing

#44201 qa/suites/orch/cephadm: mgr-nfs-upgrade: add missing 0-distro dir
  qa/suites/orch/cephadm/mgr-nfs-upgrade/0-distro/.qa
  qa/suites/orch/cephadm/mgr-nfs-upgrade/0-distro/centos_8.3_container_tools_3.0.yaml
  qa/suites/orch/cephadm/mgr-nfs-upgrade/0-distro/centos_8.stream_container_tools.yaml
Labels: needs-review, wip-yuri-testing, cephadm

#44231 crimson/os/seastore: fix compiler error for gcc > 9 and clang13
  src/crimson/osd/osd_operations/background_recovery.cc
Labels: crimson

#42996 doc/mgr: Add cli api documentation
  doc/mgr/cli_api.rst
  doc/mgr/index.rst
Labels: documentation, pybind, needs-review, mgr

#44145 mgr/dashboard: fix frontend deps' vulnerabilities
  doc/dev/developer_guide/dash-devel.rst
  src/pybind/mgr/dashboard/frontend/.npmrc
  src/pybind/mgr/dashboard/frontend/package-lock.json
  src/pybind/mgr/dashboard/frontend/package.json
  src/pybind/mgr/dashboard/run-frontend-unittests.sh
Labels: documentation, tests, pybind, dashboard, CI, skip-teuthology

#44224 crimson/osd: clean the recovery message-related header inclusion.
  src/crimson/osd/osd.cc
  src/crimson/osd/osd_operations/recovery_subrequest.h
  src/crimson/osd/pg_recovery.cc
Labels: cleanup, crimson

#44223 crimson/osd: don't assume a pull must happen if there is no push.
  src/crimson/osd/replicated_recovery_backend.cc
Labels: bug fix, crimson

#44156 crimson/osd: fix sequencing issues in ClientRequest::process_op.
  src/crimson/osd/osd_operations/client_request.cc
  src/crimson/osd/osd_operations/client_request.h
Labels: bug fix, crimson

#43696 octopus: rgw/rgw_rados: make RGW request IDs non-deterministic
  src/rgw/rgw_rados.h
Labels: rgw, needs-qa, wip-yuri8-testing

#43810 qa/rgw: octopus branch targets ceph-octopus branch of java_s3tests
  qa/suites/rgw/verify/tasks/s3tests-java.yaml
Labels: rgw, needs-qa, tests, wip-yuri8-testing, octopus-batch-1

#43961 octopus: rgw/beast: optimizations for request timeout
  src/common/async/yield_context.h
  src/rgw/rgw_aio.cc
  src/rgw/rgw_aio_throttle.h
  src/rgw/rgw_asio_frontend.cc
  src/rgw/rgw_asio_frontend_timer.h
  src/test/rgw/test_rgw_dmclock_scheduler.cc
  src/test/rgw/test_rgw_reshard_wait.cc
  src/test/rgw/test_rgw_throttle.cc
Labels: rgw, needs-qa, wip-yuri8-testing

#43863 octopus: rgw: fix bucket purge incomplete multipart uploads
  src/rgw/rgw_multi.cc
  src/rgw/rgw_multi.h
Labels: bug fix, rgw, needs-qa, wip-yuri8-testing, octopus-batch-1

#43665 rgw/tracer: Multipart upload trace
  doc/jaegertracing/index.rst
  src/common/tracer.cc
  src/common/tracer.h
  src/rgw/rgw_common.h
  src/rgw/rgw_op.cc
  src/rgw/rgw_op.h
  src/rgw/rgw_sal.h
  src/rgw/rgw_sal_rados.cc
  src/rgw/rgw_tracer.h
Labels: documentation, rgw, common, tracing

#43940 src/rgw: Empty configuration support
  src/rgw/rgw_pubsub.cc
  src/rgw/rgw_rest_pubsub.cc
  src/test/rgw/bucket_notification/test_bn.py
Labels: rgw, tests

#44095 doc/dev: Running workunits locally
  doc/dev/developer_guide/running-tests-locally.rst
  src/vstart.sh
Labels: documentation

#44186 rgw: add object null point judging when listing pubsub topics
  src/rgw/rgw_sync_module_pubsub_rest.cc
Labels: rgw

#44179 crimson/os/seastore: initialize logical pins before exposing to cache
  src/crimson/os/seastore/cache.cc
  src/crimson/os/seastore/cache.h
  src/crimson/os/seastore/lba_manager/btree/btree_lba_manager.cc
  src/crimson/os/seastore/lba_manager/btree/lba_btree.cc
  src/crimson/os/seastore/lba_manager/btree/lba_btree.h
  src/crimson/os/seastore/transaction_manager.cc
  src/crimson/os/seastore/transaction_manager.h
Labels: crimson

#44239 ceph-volume: make it possible to skip needs_root()
  src/ceph-volume/ceph_volume/decorators.py
  src/ceph-volume/ceph_volume/tests/test_decorators.py
Labels: ceph-volume

#43542 crimson/net: add support for ms_learn_addr_from_peer.
  src/crimson/net/Socket.h
  src/crimson/net/SocketConnection.cc
  src/crimson/net/SocketConnection.h
  src/crimson/net/SocketMessenger.cc
Labels: crimson

#44207 mgr: cleanup (and minor optimization) of GIL handling
  src/mgr/ActivePyModules.cc
  src/mgr/Gil.h
Labels: core, needs-qa, performance, wip-sage2-testing, mgr

#44196 mon/MgrStatMonitor: do not spam subscribers (mgr) with service_map
  src/mon/MgrStatMonitor.cc
Labels: core, needs-qa, wip-sage2-testing, mon

#44162 mgr: make python notifications more efficient
  src/mgr/ActivePyModules.cc
  src/mgr/DaemonServer.cc
  src/mgr/Mgr.cc
  src/mgr/PyModule.cc
  src/mgr/PyModule.h
  src/mgr/PyModuleRegistry.h
  src/pybind/mgr/cephadm/module.py
  src/pybind/mgr/dashboard/module.py
  src/pybind/mgr/insights/module.py
  src/pybind/mgr/k8sevents/module.py
  src/pybind/mgr/localpool/module.py
  src/pybind/mgr/mds_autoscaler/module.py
  src/pybind/mgr/mgr_module.py
  src/pybind/mgr/mirroring/fs/snapshot_mirror.py
  src/pybind/mgr/mirroring/module.py
  src/pybind/mgr/restful/module.py
  src/pybind/mgr/stats/module.py
Labels: core, cephfs, wip-sage-testing, wip-sage2-testing, pybind, mgr, dashboard, cephadm

#44226 doc: Use older mistune
  admin/doc-requirements.txt
Labels: build/ops

#44093 mgr/cephadm: support bootstrap with non-root ssh-user
  src/pybind/mgr/cephadm/ssh.py
Labels: pybind, cephadm, wip-swagner3-testing

#43745 pacific: os/bluestore/AvlAllocator: introduce bluestore_avl_alloc_ff_max_* options
  src/common/options.cc
  src/os/bluestore/AvlAllocator.cc
  src/os/bluestore/AvlAllocator.h
Labels: core, needs-qa, common, bluestore, wip-yuri3-testing

#43834 radosgw-admin: supplement help documents with 'bilog autotrim'
  src/rgw/rgw_admin.cc
  src/test/cli/radosgw-admin/help.t
Labels: rgw, tests

#43915 rgw: when radosgw-admin stating user, add user exists judging
  src/rgw/services/svc_user_rados.cc
Labels: rgw, needs-qa

#44232 radosgw-admin: fix some error logs
  src/rgw/rgw_admin.cc
Labels: rgw

#44213 doc/start: remove journal info from hardware recs
  doc/start/hardware-recommendations.rst
Labels: documentation

#39691 os/bluestore: Set new compression blob size to 64K
  src/common/options/global.yaml.in
Labels: core, needs-qa, common, performance, bluestore, wip-yuri11-testing

#43840 osd,bluestore: gracefully handle a failure during meta collection load
  src/os/bluestore/BlueStore.cc
  src/osd/OSD.cc
Labels: bug fix, core, needs-qa, bluestore, wip-yuri11-testing

#44098 os/bluestore: dump bluestore/bluefs alloc unit sizes with perf dump
  src/os/bluestore/BlueFS.cc
  src/os/bluestore/BlueFS.h
  src/os/bluestore/BlueStore.cc
  src/os/bluestore/BlueStore.h
Labels: feature, core, needs-qa, bluestore, wip-yuri11-testing

#44242 crimson/osd: fix heartbeat front and back blank ip
  src/crimson/net/Messenger.h
  src/crimson/net/SocketMessenger.cc
  src/crimson/net/SocketMessenger.h
  src/crimson/osd/heartbeat.cc
  src/crimson/osd/heartbeat.h
  src/crimson/osd/osd.cc
Labels: crimson

#44244 crimson/os/seastore: refine transaction metrics
  src/crimson/os/seastore/cache.cc
  src/crimson/os/seastore/cache.h
  src/crimson/os/seastore/segment_cleaner.cc
  src/crimson/os/seastore/transaction.h
Labels: crimson

#44090 osd/OSDMap: Add health warning if 'require-osd-release' != current release
  PendingReleaseNotes
  src/osd/OSDMap.cc
  src/osd/OSDMap.h
Labels: documentation, core, needs-qa, wip-yuri11-testing

#43305 init-ceph: create /var/run/ceph for sysvinit
  src/init-ceph.in
Labels: core, needs-qa, build/ops, wip-yuri5-testing

#43919 osd/scrub (& qa/standalone): test for scrub behavior when no-scrub is set but no-deep-scrub is not
  qa/standalone/scrub/osd-scrub-test.sh
  qa/standalone/scrub/scrub-helpers.sh
  src/osd/OSD.cc
  src/osd/PrimaryLogPG.cc
  src/osd/scrubber/pg_scrubber.cc
  src/osd/scrubber/pg_scrubber.h
Labels: core, needs-qa, tests, wip-yuri5-testing

#44127 crimson/os/seastore: make JournalSubmitter aware of header merging
  src/common/options/crimson.yaml.in
  src/crimson/os/seastore/cache.cc
  src/crimson/os/seastore/cache.h
  src/crimson/os/seastore/cached_extent.cc
  src/crimson/os/seastore/cached_extent.h
  src/crimson/os/seastore/extent_placement_manager.cc
  src/crimson/os/seastore/extent_placement_manager.h
  src/crimson/os/seastore/extent_reader.cc
  src/crimson/os/seastore/extent_reader.h
  src/crimson/os/seastore/journal.cc
  src/crimson/os/seastore/journal.h
  src/crimson/os/seastore/seastore.cc
  src/crimson/os/seastore/seastore.h
  src/crimson/os/seastore/seastore_types.cc
  src/crimson/os/seastore/seastore_types.h
  src/crimson/os/seastore/segment_cleaner.cc
  src/crimson/os/seastore/segment_cleaner.h
  src/crimson/os/seastore/transaction.h
  src/crimson/os/seastore/transaction_manager.cc
  src/crimson/os/seastore/transaction_manager.h
  src/crimson/tools/store_nbd/tm_driver.cc
  src/test/crimson/seastore/test_btree_lba_manager.cc
  src/test/crimson/seastore/test_seastore_cache.cc
  src/test/crimson/seastore/transaction_manager_test_state.h
Labels: tests, common, needs-rebase, crimson

#44237 rgw: deleting objects inline in case bypass_gc is specified
  src/rgw/rgw_rados.h
  src/rgw/rgw_sal_rados.cc
Labels: bug fix, rgw

#44170 octopus: rgw: disable prefetch in rgw_file to fix 3x read amplification
  src/rgw/rgw_file.h
  src/rgw/rgw_op.cc
Labels: rgw, needs-qa, wip-yuri3-testing

#44172 octopus: rgw: user stats showing 0 value for "size_utilized" and "size_kb_utilized" fields
  src/rgw/rgw_admin.cc
  src/rgw/rgw_common.h
  src/rgw/rgw_json_enc.cc
Labels: rgw, needs-qa, wip-yuri3-testing

#44220 qa: exclude `nofallback` mount option when using v1-style syntax
  qa/tasks/cephfs/kernel_mount.py
Labels: cephfs, needs-qa, tests, wip-yuri5-testing

#43757 octopus: os/bluestore: _do_write_small fix head_pad
  src/os/bluestore/BlueStore.cc
Labels: bug fix, needs-qa, bluestore, wip-yuri8-testing

#43885 octopus: os/bluestore: fix writing to invalid offset when repairing
  src/os/bluestore/BlueStore.cc
  src/test/objectstore/test_bluestore_types.cc
Labels: bug fix, needs-qa, bluestore, wip-yuri8-testing

#43887 octopus: os/bluestore: fix additional errors during missed shared blob repair.
  src/os/bluestore/BlueStore.cc
  src/os/bluestore/BlueStore.h
  src/test/objectstore/store_test.cc
Labels: bug fix, needs-qa, bluestore, wip-yuri8-testing

#42104 rgw: expose RADOS cluster_fsid via adminops
  doc/radosgw/adminops.rst
  qa/tasks/radosgw_admin_rest.py
  src/rgw/CMakeLists.txt
  src/rgw/rgw_common.cc
  src/rgw/rgw_main.cc
  src/rgw/rgw_rados.cc
  src/rgw/rgw_rados.h
  src/rgw/rgw_rest_info.cc
  src/rgw/rgw_rest_info.h
  src/rgw/rgw_sal.h
  src/rgw/rgw_sal_dbstore.cc
  src/rgw/rgw_sal_dbstore.h
  src/rgw/rgw_sal_rados.cc
  src/rgw/rgw_sal_rados.h
  src/rgw/services/svc_rados.cc
  src/rgw/services/svc_rados.h
Labels: feature, documentation, rgw, tests, build/ops

#43258 rgw/dbstore: Multipart upload APIs
  src/rgw/rgw_common.h
  src/rgw/rgw_sal_dbstore.cc
  src/rgw/rgw_sal_dbstore.h
  src/rgw/rgw_sal_rados.cc
  src/rgw/store/dbstore/common/dbstore.cc
  src/rgw/store/dbstore/common/dbstore.h
  src/rgw/store/dbstore/sqlite/sqliteDB.cc
  src/rgw/store/dbstore/sqlite/sqliteDB.h
  src/rgw/store/dbstore/tests/dbstore_tests.cc
Labels: rgw

#43991 mgr/dashboard: introduce HAProxy metrics for RGW
  monitoring/grafana/dashboards/jsonnet/grafana_dashboards.jsonnet
  monitoring/grafana/dashboards/radosgw-overview.json
  monitoring/grafana/dashboards/tests/features/radosgw_overview.feature
Labels: dashboard, monitoring

#44199 pacific: librbd/cache/pwl: misc backports
  qa/suites/rbd/persistent-writeback-cache/5-cache-mode/ssd.yaml
  src/librbd/ImageCtx.cc
  src/librbd/api/Image.cc
  src/librbd/cache/pwl/AbstractWriteLog.cc
  src/librbd/cache/pwl/AbstractWriteLog.h
  src/librbd/cache/pwl/InitRequest.cc
  src/librbd/cache/pwl/LogEntry.h
  src/librbd/cache/pwl/rwl/WriteLog.cc
  src/librbd/cache/pwl/ssd/WriteLog.cc
  src/librbd/exclusive_lock/PreReleaseRequest.cc
  src/librbd/internal.cc
  src/test/librbd/exclusive_lock/test_mock_PreReleaseRequest.cc
Labels: rbd, tests, wip-deepika2-testing, wip-deepika3-testing

#43649 pacific: test/librbd: harden RemoveFullTry tests
  qa/suites/crimson-rados/rbd/tasks/rbd_api_tests_old_format.yaml
  qa/suites/rbd/basic/tasks/rbd_api_tests_old_format.yaml
  qa/suites/rbd/librbd/workloads/c_api_tests.yaml
  qa/suites/rbd/librbd/workloads/c_api_tests_with_defaults.yaml
  qa/suites/rbd/librbd/workloads/c_api_tests_with_journaling.yaml
  qa/suites/rbd/thrash/workloads/rbd_api_tests.yaml
  qa/suites/rbd/thrash/workloads/rbd_api_tests_copy_on_read.yaml
  qa/suites/rbd/thrash/workloads/rbd_api_tests_journaling.yaml
  qa/suites/rbd/thrash/workloads/rbd_api_tests_no_locking.yaml
  qa/suites/rbd/valgrind/workloads/c_api_tests.yaml
  qa/suites/rbd/valgrind/workloads/c_api_tests_with_defaults.yaml
  qa/suites/rbd/valgrind/workloads/c_api_tests_with_journaling.yaml
  qa/suites/smoke/basic/tasks/test/rbd_api_tests.yaml
  src/include/neorados/RADOS.hpp
  src/include/rados/librados.hpp
  src/librados/IoCtxImpl.cc
  src/librados/IoCtxImpl.h
  src/librados/librados_cxx.cc
  src/librbd/ImageCtx.cc
  src/librbd/Utils.cc
  src/librbd/cache/WriteAroundObjectDispatch.cc
  src/librbd/image/OpenRequest.cc
  src/neorados/RADOS.cc
  src/test/librados_test_stub/LibradosTestStub.cc
  src/test/librados_test_stub/NeoradosTestStub.cc
  src/test/librbd/cache/test_mock_WriteAroundObjectDispatch.cc
  src/test/librbd/test_librbd.cc
  src/test/run-rbd-valgrind-unit-tests.sh
Labels: core, rbd, tests, crimson, wip-deepika2-testing, pacific-batch-1, wip-deepika3-testing

#44206 rgwlc: remove magic debug blocks for clearing stale lc entries
  src/rgw/rgw_lc.cc
Labels: cleanup, rgw, needs-qa

#44250 rgw multisite: preserve 'bucket sync disable' over reshard
  src/rgw/rgw_reshard.cc
Labels: rgw

#43861 octopus: mon/MgrStatMonitor: ignore MMgrReport from non-active mgr
  src/messages/MMonMgrReport.h
  src/mgr/DaemonServer.cc
  src/mgr/Mgr.cc
  src/mon/MgrStatMonitor.cc
Labels: core, needs-qa, wip-yuri7-testing

#43962 octopus: osd: fix 'ceph osd stop <osd.nnn>' doesn't take effect
  src/osd/OSD.cc
Labels: core, needs-qa, wip-yuri7-testing, wip-yuri10-testing

#44254 octopus: qa: miscellaneous perf suite fixes
  qa/suites/perf-basic/ubuntu_18.04.yaml
  qa/suites/perf-basic/ubuntu_latest.yaml
  qa/suites/perf-basic/workloads/cosbench_64K_write.yaml
  qa/suites/rados/perf/ceph.yaml
  qa/suites/rados/perf/ubuntu_18.04.yaml
  qa/suites/rados/perf/ubuntu_latest.yaml
  qa/suites/rados/perf/workloads/cosbench_64K_read_write.yaml
  qa/suites/rados/perf/workloads/cosbench_64K_write.yaml
Labels: core, needs-qa, wip-yuri7-testing

#43612 build: Remove LevelDB support
  CMakeLists.txt
  ceph.spec.in
  cmake/modules/Findleveldb.cmake
  debian/control
  src/include/config-h.in.cmake
  src/kv/CMakeLists.txt
  src/kv/KeyValueDB.cc
  src/kv/KeyValueDB.h
  src/kv/LevelDBStore.cc
  src/kv/LevelDBStore.h
  src/test/common/CMakeLists.txt
  src/test/objectstore/test_kv.cc
Labels: core, needs-qa, tests, build/ops, wip-yuri-testing

#44025 mgr/telemetry: remove aggregated perf metrics from the perf channel
  doc/mgr/telemetry.rst
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/telemetry/telemetry.component.html
  src/pybind/mgr/telemetry/module.py
Labels: documentation, needs-qa, pybind, wip-yuri-testing, mgr, dashboard, telemetry

#44225 osd/OSDMapMapping: fix spurious threadpool timeout errors
  src/common/WorkQueue.cc
  src/osd/OSDMapMapping.h
Labels: core, needs-qa, common, wip-yuri-testing

#44097 octopus: osd/OSDMap.cc: clean up pg_temp for nonexistent pgs
  src/osd/OSDMap.cc
Labels: core, needs-qa, wip-yuri3-testing, wip-yuri10-testing

#44165 octopus: osd: fix partial recovery become whole object recovery after restart osd
  src/osd/PGLog.cc
Labels: core, needs-qa, wip-yuri3-testing

#44176 octopus: common/PriorityCache: low perf counters priorities for submodules.
  src/common/PriorityCache.cc
Labels: needs-qa, common, wip-yuri3-testing

#44174 octopus: osd: set r only if succeed in FillInVerifyExtent
  src/osd/PrimaryLogPG.cc
Labels: core, needs-qa, wip-yuri3-testing

#44281 crimson/os/seastore: index lba pins atomically with addition to cache
  src/crimson/os/seastore/cache.h
  src/crimson/os/seastore/lba_manager/btree/lba_btree.cc
  src/crimson/os/seastore/lba_manager/btree/lba_btree.h
  src/crimson/os/seastore/transaction_manager.cc
  src/crimson/os/seastore/transaction_manager.h
Labels: crimson

#44219 ceph-volume: fix tags dict output in `lvm list`
  src/ceph-volume/ceph_volume/devices/lvm/batch.py
  src/ceph-volume/ceph_volume/devices/lvm/common.py
  src/ceph-volume/ceph_volume/devices/raw/common.py
  src/ceph-volume/ceph_volume/tests/devices/lvm/test_activate.py
Labels: ceph-volume

#44218 ceph-volume: fix error 'KeyError' with inventory
  src/ceph-volume/ceph_volume/api/lvm.py
Labels: ceph-volume

#44209 pacific: ceph-volume: human_readable_size() refactor
  src/ceph-volume/ceph_volume/api/lvm.py
  src/ceph-volume/ceph_volume/tests/devices/lvm/test_migrate.py
  src/ceph-volume/ceph_volume/tests/util/test_disk.py
  src/ceph-volume/ceph_volume/util/disk.py
Labels: ceph-volume

#44210 octopus: ceph-volume: human_readable_size() refactor
  src/ceph-volume/ceph_volume/tests/util/test_disk.py
  src/ceph-volume/ceph_volume/util/disk.py
Labels: ceph-volume

#43947 octopus: ceph-volume: fix bug with miscalculation of required db/wal slot size for VGs with multiple PVs
  src/ceph-volume/ceph_volume/devices/lvm/batch.py
  src/ceph-volume/ceph_volume/tests/conftest.py
  src/ceph-volume/ceph_volume/tests/functional/Vagrantfile
  src/ceph-volume/ceph_volume/tests/functional/batch/playbooks/setup_mixed_type.yml
Labels: ceph-volume

#42905 python-common: improve OSD spec error messages
  src/pybind/mgr/cephadm/module.py
  src/pybind/mgr/cephadm/tests/test_cephadm.py
  src/pybind/mgr/orchestrator/_interface.py
  src/pybind/mgr/orchestrator/module.py
  src/pybind/mgr/orchestrator/tests/test_orchestrator.py
  src/python-common/ceph/deployment/drive_group.py
  src/python-common/ceph/deployment/drive_selection/matchers.py
  src/python-common/ceph/deployment/drive_selection/selector.py
  src/python-common/ceph/deployment/hostspec.py
  src/python-common/ceph/deployment/service_spec.py
  src/python-common/ceph/tests/test_disk_selector.py
  src/python-common/ceph/tests/test_drive_group.py
  src/python-common/ceph/tests/test_service_spec.py
Labels: pybind, ceph-volume, orchestrator, cephadm, ready-to-merge

#44086 pacific: mgr/dashboard: upgrade Cypress to the latest stable version
  src/init-ceph.in
  src/pybind/mgr/dashboard/frontend/cypress/integration/rgw/buckets.e2e-spec.ts
  src/pybind/mgr/dashboard/frontend/cypress/integration/rgw/buckets.po.ts
  src/pybind/mgr/dashboard/frontend/cypress/integration/ui/navigation.po.ts
  src/pybind/mgr/dashboard/frontend/cypress/support/commands.ts
  src/pybind/mgr/dashboard/frontend/cypress/support/index.ts
  src/pybind/mgr/dashboard/frontend/package-lock.json
  src/pybind/mgr/dashboard/frontend/package.json
  src/pybind/mgr/dashboard/run-frontend-e2e-tests.sh
  src/vstart.sh
Labels: needs-qa, pybind, dashboard, pacific-batch-1

#44009 qa/rgw: run ceph_test_cls_rgw_gc in rgw/verify suite
  qa/suites/rgw/verify/tasks/cls.yaml
  qa/workunits/cls/test_cls_rgw_gc.sh
Labels: rgw, tests

#44298 doc: Add PendingReleaseNote for LevelDB removal
  PendingReleaseNotes
Labels: documentation

#43857 os/bluestore: Protect _clone against sudden omap format changes
  src/os/bluestore/BlueStore.cc
Labels: core, needs-qa, wip-yuri2-testing, bluestore

#43864 mgr/telemetry: fix waiting for mgr to warm up
  src/pybind/mgr/telemetry/module.py
Labels: bug fix, needs-qa, pybind, wip-yuri2-testing, mgr, telemetry

#44015 osd/PeeringState: separate history's pruub from pg's
  src/osd/PeeringState.cc
  src/osd/PeeringState.h
Labels: core, needs-qa, wip-yuri2-testing

#44177 octopus: rpm, debian: move smartmontools and nvme-cli to ceph-base
  ceph.spec.in
  debian/ceph-base.install
  debian/ceph-osd.install
  debian/control
  debian/rules
  sudoers.d/ceph-smartctl
Labels: needs-qa, build/ops, TESTED

#44290 crimson/osd: fix interruptor assert when no pg in peering_event
  src/crimson/osd/osd_operations/peering_event.cc
  src/crimson/osd/osd_operations/peering_event.h
Labels: crimson

#44141 crimson/os/seastore/segment_cleaner: correct available space calculation
  src/crimson/common/interruptible_future.h
  src/crimson/os/seastore/extent_placement_manager.cc
  src/crimson/os/seastore/seastore_types.h
  src/crimson/os/seastore/segment_cleaner.cc
  src/crimson/os/seastore/segment_cleaner.h
  src/test/crimson/seastore/test_btree_lba_manager.cc
  src/test/crimson/seastore/test_seastore_journal.cc
Labels: bug fix, tests, crimson

#44235 crimson/os/seastore: avoid onode/omap laddr hint conflicts as much as possible
  src/common/options/crimson.yaml.in
  src/crimson/common/interruptible_future.h
  src/crimson/os/seastore/object_data_handler.cc
  src/crimson/os/seastore/object_data_handler.h
  src/crimson/os/seastore/onode.h
  src/crimson/os/seastore/onode_manager/staged-fltree/fltree_onode_manager.cc
  src/crimson/os/seastore/onode_manager/staged-fltree/fltree_onode_manager.h
  src/crimson/os/seastore/seastore.cc
  src/crimson/os/seastore/seastore.h
  src/test/crimson/seastore/onode_tree/test_fltree_onode_manager.cc
  src/test/crimson/seastore/test_object_data_handler.cc
Labels: tests, common, crimson

#43953 octopus: cephadm/ceph-volume: do not use lvm binary in containers
  src/ceph-volume/ceph_volume/api/lvm.py
  src/ceph-volume/ceph_volume/process.py
  src/ceph-volume/ceph_volume/tests/api/test_lvm.py
  src/cephadm/cephadm
Labels: needs-qa, ceph-volume, wip-yuri10-testing

#44029 rgw/beast: add max_header_size option with 16k default, up from 4k
  doc/radosgw/frontends.rst
  src/rgw/rgw_asio_frontend.cc
Labels: documentation, rgw, needs-qa, wip-cbodley-testing

#43967 octopus: qa/rgw: bump tempest version to resolve dependency issue
  qa/suites/rgw/tempest/tasks/rgw_tempest.yaml
Labels: needs-qa, tests, wip-yuri10-testing

#44091 pacific: mgr/dashboard: dashboard does not show degraded objects if they are less than 0.5% under "Dashboard->Capacity->Objects block
  src/pybind/mgr/dashboard/frontend/src/app/ceph/dashboard/health/health.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/dashboard/health/health.component.ts
Labels: pybind, dashboard, backport:no-conflicts

#43187 pacific: mgr/prometheus: Fix metric types from gauge to counter
  src/pybind/mgr/prometheus/module.py
Labels: core, pybind, backport:no-conflicts

#44273 pacific: mgr/dashboard: introduce HAProxy metrics for RGW
  monitoring/grafana/dashboards/jsonnet/grafana_dashboards.jsonnet
  monitoring/grafana/dashboards/radosgw-overview.json
  monitoring/grafana/dashboards/tests/features/radosgw_overview.feature
Labels: dashboard, skip-teuthology, backport:no-conflicts

#44297 pacific: mgr/dashboard: fix frontend deps' vulnerabilities
  doc/dev/developer_guide/dash-devel.rst
  src/pybind/mgr/dashboard/frontend/.npmrc
  src/pybind/mgr/dashboard/frontend/package-lock.json
  src/pybind/mgr/dashboard/frontend/package.json
  src/pybind/mgr/dashboard/run-frontend-unittests.sh
Labels: documentation, pybind, dashboard

#43412 mgr/devicehealth: fix missing timezone from time delta calculation
  src/pybind/mgr/devicehealth/module.py
Labels: bug fix, core, needs-qa, pybind, wip-yuri-testing

#43770 os/bluestore: avoid premature onode release.
  src/os/bluestore/BlueStore.cc
  src/os/bluestore/BlueStore.h
Labels: bug fix, core, needs-qa, wip-yuri-testing, bluestore

#44216 os/bluestore: don't need separate variable to mark hits when lookup oid.
  src/os/bluestore/BlueStore.cc
Labels: cleanup, core, needs-qa, wip-yuri-testing, bluestore

#44249 doc,man: Typos found by codespell
  doc/cephadm/adoption.rst
  doc/cephadm/host-management.rst
  doc/cephadm/operations.rst
  doc/cephadm/services/index.rst
  doc/cephadm/services/mon.rst
  doc/cephadm/services/osd.rst
  doc/cephadm/services/rgw.rst
  doc/cephadm/troubleshooting.rst
  doc/cephfs/capabilities.rst
  doc/cephfs/cephfs-mirroring.rst
  doc/cephfs/disaster-recovery-experts.rst
  doc/cephfs/fs-volumes.rst
  doc/cephfs/health-messages.rst
  doc/cephfs/lazyio.rst
  doc/dev/cephadm/scalability-notes.rst
  doc/dev/cephfs-mirroring.rst
  doc/dev/continuous-integration.rst
  doc/dev/crimson/crimson.rst
  doc/dev/crimson/poseidonstore.rst
  doc/dev/dev_cluster_deployement.rst
  doc/dev/developer_guide/running-tests-locally.rst
  doc/dev/developer_guide/testing_integration_tests/tests-integration-testing-teuthology-debugging-tips.rst
  doc/dev/documenting.rst
  doc/dev/mon-on-disk-formats.rst
  doc/dev/msgr2.rst
  doc/dev/osd_internals/async_recovery.rst
  doc/dev/osd_internals/log_based_pg.rst
  doc/dev/osd_internals/manifest.rst
  doc/dev/radosgw/s3_compliance.rst
  doc/dev/seastore.rst
  doc/install/windows-troubleshooting.rst
  doc/jaegertracing/index.rst
  doc/man/8/ceph-bluestore-tool.rst
  doc/man/8/ceph-conf.rst
  doc/man/8/ceph-dencoder.rst
  doc/man/8/ceph-diff-sorted.rst
  doc/man/8/mount.ceph.rst
  doc/mgr/administrator.rst
  doc/mgr/dashboard.rst
  doc/rados/configuration/bluestore-config-ref.rst
  doc/rados/configuration/common.rst
  doc/rados/operations/health-checks.rst
  doc/rados/operations/monitoring.rst
  doc/rados/operations/stretch-mode.rst
  doc/rados/troubleshooting/troubleshooting-mon.rst
  doc/rados/troubleshooting/troubleshooting-osd.rst
  doc/radosgw/cloud-transition.rst
  doc/radosgw/layout.rst
  doc/radosgw/lua-scripting.rst
  doc/radosgw/multisite-sync-policy.rst
  doc/radosgw/s3select.rst
  doc/rbd/iscsi-target-ansible.rst
  doc/rbd/rbd-encryption.rst
  doc/rbd/rbd-openstack.rst
  doc/releases/cuttlefish.rst
  doc/security/cves.rst
  doc/start/documenting-ceph.rst
  man/ceph_selinux.8
Labels: documentation, core, rgw, rbd, cephfs, tests, build/ops, mgr, dashboard, crimson, monitoring, CI, cephadm, nfs

#44136 mgr/cephadm: agent: log response from mgr
  src/cephadm/cephadm
  src/pybind/mgr/cephadm/agent.py
Labels: wip-sage-testing, pybind, cephadm, ready-to-merge

#44131 doc: 16.2.7 Release Notes
  doc/releases/index.rst
  doc/releases/pacific.rst
  doc/releases/releases.yml
Labels: documentation

#44323 rgw/amqp: add default case to silence compiler warning
  src/rgw/rgw_amqp.cc
Labels: cleanup, rgw

#44197 crimson/os/seastore: add ZNSSegmentManager
  CMakeLists.txt
  src/crimson/os/futurized_store.cc
  src/crimson/os/seastore/CMakeLists.txt
  src/crimson/os/seastore/seastore.cc
  src/crimson/os/seastore/seastore.h
  src/crimson/os/seastore/segment_manager.cc
  src/crimson/os/seastore/segment_manager.h
  src/crimson/os/seastore/segment_manager/zns.cc
  src/crimson/os/seastore/segment_manager/zns.h
  src/include/config-h.in.cmake
Labels: common, build/ops, crimson

#44269 ceph.spec.in: fix mgr-cephadm CherryPy requirement for SUSE builds
  ceph.spec.in
Labels: build/ops

#44267 python-common: add int value validation for count and count_per_host
  src/pybind/mgr/cephadm/tests/test_scheduling.py
  src/python-common/ceph/deployment/service_spec.py
  src/python-common/ceph/tests/test_service_spec.py
Labels: pybind, wip-swagner-testing, cephadm

#43889 mgr/cephadm: store contianer registry credentials in config-key
  doc/cephadm/install.rst
  qa/suites/orch/cephadm/mgr-nfs-upgrade/4-final.yaml
  src/cephadm/cephadm
  src/pybind/mgr/cephadm/migrations.py
  src/pybind/mgr/cephadm/module.py
  src/pybind/mgr/cephadm/serve.py
  src/pybind/mgr/cephadm/tests/test_cephadm.py
Labels: documentation, pybind, wip-swagner-testing, cephadm

#44211 mon: increase mon_down_mkfs_grace to 2m
  qa/tasks/ceph.conf.template
Labels: tests, wip-sage2-testing, wip-sage3-testing

#44293 cephadm: make extract_uid_gid errors more readable
  src/cephadm/cephadm
  src/cephadm/tests/test_cephadm.py
Labels: cephadm, ready-to-merge

#43901 mgr/cephadm: Add snmp-gateway service support
  doc/cephadm/services/index.rst
  doc/cephadm/services/snmp-gateway.rst
  doc/mgr/orchestrator.rst
  src/cephadm/cephadm
  src/cephadm/tests/test_cephadm.py
  src/pybind/mgr/cephadm/module.py
  src/pybind/mgr/cephadm/services/monitoring.py
  src/pybind/mgr/cephadm/templates/services/alertmanager/alertmanager.yml.j2
  src/pybind/mgr/cephadm/tests/test_services.py
  src/pybind/mgr/cephadm/tests/test_spec.py
  src/pybind/mgr/orchestrator/_interface.py
  src/pybind/mgr/orchestrator/module.py
  src/python-common/ceph/deployment/service_spec.py
  src/python-common/ceph/deployment/utils.py
  src/python-common/ceph/tests/test_utils.py
  src/python-common/ceph/utils.py
Labels: documentation, pybind, mgr, orchestrator, monitoring, cephadm, wip-swagner3-testing

#43965 octopus: pybind/mgr/balancer: define Plan.{dump,show}()
  src/pybind/mgr/balancer/module.py
Labels: needs-qa, pybind, wip-yuri10-testing

#44280 mon: Omit MANY_OBJECTS_PER_PG warning when autoscaler is on
  doc/rados/operations/health-checks.rst
  src/mon/PGMap.cc
Labels: documentation, core, needs-qa, mon

#44331 crimson/osd: removing an unneeded make_unique()
  src/crimson/osd/main.cc
Labels: cleanup, crimson

#42009 rgw/sts: fix read_obj_policy permission evaluation
  src/rgw/rgw_common.cc
  src/rgw/rgw_common.h
  src/rgw/rgw_op.cc
Labels: bug fix, rgw, needs-qa

#44228 mgr/cephadm: fix 'cephadm osd activate' on existing osd devices
  qa/suites/orch/cephadm/osds/2-ops/rmdir-reactivate.yaml
  src/pybind/mgr/cephadm/inventory.py
  src/pybind/mgr/cephadm/module.py
  src/pybind/mgr/cephadm/services/osd.py
Labels: wip-sage2-testing, pybind, wip-sage3-testing, cephadm

#44345 crimson/os/seastore: reset onode in 'SeaStore::repeat_with_onode' before the transaction gets destroyed
  src/crimson/os/seastore/seastore.h
  src/crimson/os/seastore/transaction.h
  src/vstart.sh
Labels: crimson

#44340 crimson/osd: honor discarding old backfill messages
  src/crimson/osd/pg.cc
  src/crimson/osd/pg.h
  src/crimson/osd/recovery_backend.cc
Labels: crimson

#44338 crimson/osd: explicitly abort on LOST_REVERT in PG log.
  src/crimson/osd/pg_recovery.cc
Labels: crimson

#44336 mgr/cephadm: Fix test_facts
  src/pybind/mgr/cephadm/tests/test_facts.py
Labels: pybind, cephadm, skip-teuthology

#43259 rgw: allow CompletedMultipartUpload in XML
  src/rgw/rgw_multi.cc
  src/rgw/rgw_op.cc
Labels: rgw, needs-qa, wip-cbodley-testing

#43817 rgw: fix UploadPartCopy error code when src object not exist and src bucket not exist
  src/rgw/rgw_op.cc
Labels: bug fix, rgw, needs-qa, wip-cbodley-testing

#43872 rgw: init bucket index only if putting bucket instance info succeeds
  src/rgw/rgw_reshard.cc
Labels: bug fix, rgw, needs-qa, wip-cbodley-testing

#44337 mon: prevent new sessions during shutdown
  src/mon/Monitor.cc
Labels: needs-qa, wip-sage2-testing
