Repository ceph/ceph, pull requests merged in 2021-06, with the labels that each got.

#41597 test,cmake: remove run-promtool-unitests.sh script
  src/test/CMakeLists.txt
  src/test/run-promtool-unittests.sh
Labels: bug fix, build/ops, dashboard, tests

#41607 crimson/seastore: cleanup lba manager get_mappings
  src/crimson/os/seastore/lba_manager/btree/btree_lba_manager.cc
Labels: cleanup, crimson

#41608 doc/cephadm: enriching "Service Specification"
  doc/cephadm/service-management.rst
Labels: cephadm, documentation

#41595 doc/cephadm: enriching "daemon status"
  doc/cephadm/service-management.rst
Labels: cephadm, documentation

#41603 crimson/os: fix use-after-free in AlienStore::get_attr().
  src/crimson/os/alienstore/alien_store.cc
Labels: bug fix, crimson

#41591 pybind/mgr/selftest: add "mgr self-test eval" command
  src/pybind/ceph_mgr_repl.py
  src/pybind/mgr/selftest/module.py
Labels: pybind

#41470 rgw/rgw_string.h: add missing includes for alpine and boost 1.75
  src/rgw/rgw_string.h
Labels: needs-qa, rgw

#41184 mgr/dashboard: fix base-href
  src/pybind/mgr/dashboard/frontend/src/app/app.module.ts
  src/pybind/mgr/dashboard/frontend/src/index.html
Labels: bug fix, dashboard, needs-review, pybind

#41598 mgr/dashboard: pass Grafana datasource in URL
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/grafana/grafana.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/grafana/grafana.component.ts
Labels: dashboard, pybind

#41395 mgr/dashboard: API Version changes do not apply to pre-defined methods (list, create etc.)
  doc/dev/developer_guide/dash-devel.rst
  src/pybind/mgr/dashboard/controllers/__init__.py
  src/pybind/mgr/dashboard/controllers/docs.py
  src/pybind/mgr/dashboard/tests/test_docs.py
  src/pybind/mgr/dashboard/tests/test_versioning.py
Labels: api, bug fix, dashboard, documentation, needs-review, pybind

#41616 qa/tasks/qemu: precise repos have been archived
  qa/tasks/userdata_setup.yaml
Labels: rbd, tests

#41606 crimson/seastore: fix assert in read_extent
  src/crimson/os/seastore/segment_manager/block.cc
Labels: crimson

#41629 pacific: qa/upgrade: conditionally disable update_features tests
  src/test/librbd/test_notify.py
Labels: needs-qa, rbd, tests

#41421 mgr/dashboard: show partially deleted RBDs
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-details/rbd-details.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-form/rbd-form.model.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-list/rbd-list.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-list/rbd-list.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-list/rbd-list.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-list/rbd-list.component.ts
  src/pybind/mgr/dashboard/services/rbd.py
  src/pybind/mgr/dashboard/tests/test_rbd_service.py
Labels: bug fix, dashboard, documentation, needs-review, pybind, rbd

#41531 nautilus: mgr/dashboard: fix OSDs Host details/overview grafana graphs
  monitoring/grafana/dashboards/host-details.json
  monitoring/grafana/dashboards/hosts-overview.json
Labels: backport:no-conflicts, bug fix, dashboard, monitoring, skip-teuthology

#41588 librbd: don't stop at the first unremovable image when purging
  qa/workunits/rbd/cli_generic.sh
  src/librbd/api/Trash.cc
  src/tools/rbd/action/Trash.cc
Labels: bug fix, needs-qa, rbd, tests, wip-dis-testing, wip-mgolub-testing

#41513 nautilus: qa/upgrade: disable update_features test_notify with older client as lockowner
  qa/suites/upgrade-clients/client-upgrade-nautilus-pacific/nautilus-client-x/rbd/3-workload/rbd_notification_tests.yaml
Labels: nautilus-batch-1, needs-qa, pacific-batch-1

#41511 octopus: qa/upgrade: disable update_features test_notify with older client as lockowner
  qa/suites/upgrade-clients/client-upgrade-octopus-pacific/octopus-client-x/rbd/3-workload/rbd_notification_tests.yaml
Labels: needs-qa, octopus-batch-1

#41169 pacific: qa: drop the distro~HEAD directory from the fs suite.
  qa/suites/fs/verify/distro~HEAD
Labels: bug fix, cephfs, needs-qa, pacific-batch-1, wip-yuri4-testing

#40634 pacific: qa: check mounts attribute in ctx
  qa/tasks/daemonwatchdog.py
Labels: cephfs, needs-qa, pacific-batch-1, tests, wip-yuri4-testing

#41389 pacific: nfs backport May
  PendingReleaseNotes
  ceph.spec.in
  debian/ceph-mgr-modules-core.install
  doc/cephfs/fs-nfs-exports.rst
  qa/tasks/cephfs/test_nfs.py
  src/pybind/mgr/nfs/__init__.py
  src/pybind/mgr/nfs/cluster.py
  src/pybind/mgr/nfs/exception.py
  src/pybind/mgr/nfs/export.py
  src/pybind/mgr/nfs/export_utils.py
  src/pybind/mgr/nfs/module.py
  src/pybind/mgr/nfs/utils.py
  src/pybind/mgr/volumes/fs/nfs.py
  src/pybind/mgr/volumes/module.py
  src/vstart.sh
Labels: build/ops, cephfs, documentation, nfs, pybind, tests

#41053 pacific: cephfs-top: self-adapt the display according the window size
  doc/man/8/cephfs-top.rst
  src/tools/cephfs/top/cephfs-top
Labels: cephfs, needs-qa, pacific-batch-1, wip-yuri4-testing

#41386 nautilus: mgr/dashboard: grafana panels for rgw multisite sync performance
  monitoring/grafana/dashboards/radosgw-sync-overview.json
  qa/tasks/mgr/dashboard/test_rgw.py
  src/pybind/mgr/dashboard/controllers/rgw.py
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-daemon-list/rgw-daemon-list.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-daemon-list/rgw-daemon-list.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-daemon-list/rgw-daemon-list.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/rgw-site.service.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/rgw-site.service.ts
  src/pybind/mgr/dashboard/module.py
  src/pybind/mgr/dashboard/services/rgw_client.py
  src/pybind/mgr/dashboard/tests/test_rgw_client.py
  src/pybind/mgr/dashboard/tools.py
  src/pybind/mgr/prometheus/module.py
Labels: dashboard, needs-review

#41638 doc/dev/crimson: update link to scylladb debugging tips
  doc/dev/crimson/crimson.rst
Labels: crimson, documentation

#41630 mgr/dashboard: fix bucket objects and size calculations
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-bucket-list/rgw-bucket-list.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-bucket-list/rgw-bucket-list.component.ts
Labels: bug fix, dashboard, pybind

#41528 pacific: mgr/dashboard: show RGW tenant user id correctly in 'NFS create export' form
  src/pybind/mgr/dashboard/frontend/src/app/ceph/nfs/nfs-form/nfs-form.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/nfs/nfs-form/nfs-form.component.ts
Labels: backport:no-conflicts, bug fix, dashboard, needs-review, pybind, skip-teuthology

#41633 pacific: mgr/dashboard: pass Grafana datasource in URL
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/grafana/grafana.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/grafana/grafana.component.ts
Labels: backport:no-conflicts, bug fix, dashboard, pybind

#41645 crimson/osd: check existing superblock when mkfs
  src/crimson/osd/osd.cc
  src/crimson/osd/osd.h
Labels: crimson

#41651 doc/cephadm: s/the the/the/
  doc/cephadm/service-management.rst
Labels: cephadm, documentation

#41644 crimson/monc: fix subscription stall that blocked peering.
  src/crimson/mon/MonClient.cc
Labels: bug fix, crimson

#40689 pacific: debian,cmake,cephsqlite: hide non-public symbols
  debian/control
  debian/libsqlite3-mod-ceph.symbols
  src/CMakeLists.txt
  src/SimpleRADOSStriper.h
  src/include/libcephsqlite.h
Labels: build/ops, core, needs-qa, pacific-batch-1, wip-yuri4-testing

#41635 qa: increase fragmentation to improve uniform distribution
  qa/tasks/cephfs/test_exports.py
Labels: cephfs, tests

#40566 pacific: common/mempool: only fail tests if sharding is very bad
  src/include/mempool.h
  src/test/test_mempool.cc
Labels: needs-qa, pacific-batch-1, tests, wip-yuri2-testing

#41113 pacific: osd: compute OSD's space usage ratio via raw space utilization
  src/osd/OSD.cc
Labels: core, needs-qa, pacific-batch-1, wip-yuri2-testing

#41125 pacific: osd: Override recovery, backfill and sleep related config options during OSD and mclock scheduler initialization.
  doc/rados/configuration/index.rst
  doc/rados/configuration/mclock-config-ref.rst
  doc/rados/configuration/osd-config-ref.rst
  src/common/options.cc
  src/osd/OSD.cc
  src/osd/OSD.h
  src/osd/scheduler/mClockScheduler.cc
  src/osd/scheduler/mClockScheduler.h
Labels: common, core, documentation, needs-qa, pacific-batch-1, wip-yuri2-testing

#41236 pacific: os/FileStore: fix to handle readdir error correctly
  src/os/filestore/BtrfsFileStoreBackend.cc
  src/os/filestore/FileStore.cc
  src/os/filestore/LFNIndex.cc
Labels: core, needs-qa, pacific-batch-1, wip-yuri2-testing

#41312 pacific: mgr/progress: ensure progress stays between [0,1]
  src/pybind/mgr/progress/module.py
Labels: core, needs-qa, pacific-batch-1, pybind, wip-yuri2-testing

#41320 pacific: osd: don't assert in-flight backfill is always in recovery list
  src/osd/PrimaryLogPG.cc
Labels: core, needs-qa, pacific-batch-1, wip-yuri2-testing

#41158 nautilus: rgw: Added caching for S3 credentials retrieved from keystone
  src/rgw/rgw_auth_keystone.cc
  src/rgw/rgw_auth_keystone.h
  src/rgw/rgw_auth_s3.h
Labels: feature, nautilus-batch-1, needs-qa, rgw, wip-yuri6-testing

#41496 rgw: correct the spelling of "instace"
  src/rgw/services/svc_bucket_sobj.cc
Labels: needs-review, rgw

#41138 do_cmake: build with python3.9 on RHEL9
  do_cmake.sh
Labels: build/ops, pybind, python3

#41627 doc/mgr/modules: add a "debugging" section
  doc/mgr/modules.rst
  src/pybind/ceph_mgr_repl.py
Labels: documentation, mgr, pybind

#41666 crimson/osd: wait for SIGINT and SIGTERM before stopping
  src/crimson/osd/CMakeLists.txt
  src/crimson/osd/main.cc
  src/crimson/osd/stop_signal.cc
  src/crimson/osd/stop_signal.h
Labels: build/ops, crimson

#41661 rgw/multisite_reshard: pass the right generation number for bilog listing
  src/rgw/rgw_data_sync.cc
Labels: rgw

#41671 crimson/seastore: cleanup ceph_subsystem_filestore to seastore
  src/crimson/os/seastore/cached_extent.cc
  src/crimson/os/seastore/collection_manager/collection_flat_node.cc
  src/crimson/os/seastore/collection_manager/flat_collection_manager.cc
  src/crimson/os/seastore/journal.cc
  src/crimson/os/seastore/journal.h
  src/crimson/os/seastore/lba_manager/btree/btree_lba_manager.cc
  src/crimson/os/seastore/lba_manager/btree/btree_range_pin.cc
  src/crimson/os/seastore/lba_manager/btree/lba_btree_node_impl.cc
  src/crimson/os/seastore/object_data_handler.cc
  src/crimson/os/seastore/omap_manager/btree/btree_omap_manager.cc
  src/crimson/os/seastore/omap_manager/btree/omap_btree_node_impl.cc
  src/crimson/os/seastore/segment_cleaner.cc
  src/crimson/os/seastore/segment_cleaner.h
  src/crimson/os/seastore/segment_manager/block.cc
  src/crimson/os/seastore/segment_manager/ephemeral.cc
Labels: crimson

#41669 crimson/admin: s/perf dump_seastar/dump_metrics/
  src/crimson/admin/osd_admin.cc
  src/crimson/admin/osd_admin.h
  src/crimson/osd/osd.cc
Labels: crimson

#41646 pacific: mgr/dashboard: fix bucket objects and size calculations
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-bucket-list/rgw-bucket-list.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-bucket-list/rgw-bucket-list.component.ts
Labels: backport:no-conflicts, dashboard

#41462 rgw: auth v4 client: don't convert '+' to space
  src/rgw/rgw_auth_s3.cc
Labels: bug fix, rgw

#41668 rgw: require bucket name in bucket chown
  src/rgw/rgw_admin.cc
Labels: bug fix, needs-qa, rgw

#41677 ceph.spec.in: increase the mem_per_job to 3GiB
  ceph.spec.in
  cmake/modules/LimitJobs.cmake
Labels: build/ops

#41316 rgw: parse tenant name out of rgwx-bucket-instance
  src/rgw/rgw_op.cc
Labels: bug fix, needs-qa, rgw, wip-cbodley-testing

#41593 nautilus: libcephfs: ignore restoring the open files limit
  src/msg/async/Stack.cc
  src/test/libcephfs/test.cc
Labels: cephfs, nautilus-batch-1, needs-qa, wip-yuri6-testing

#41308 osd: Run osd bench test to override default max osd capacity for mclock
  doc/rados/configuration/mclock-config-ref.rst
  doc/rados/operations/control.rst
  qa/tasks/ceph_test_case.py
  qa/tasks/mgr/test_progress.py
  src/common/options/osd.yaml.in
  src/osd/OSD.cc
  src/osd/OSD.h
  src/osd/scheduler/OpScheduler.h
  src/osd/scheduler/mClockScheduler.cc
  src/osd/scheduler/mClockScheduler.h
Labels: common, core, documentation, needs-qa, tests, wip-sseshasa-testing

#41559 monitoring/grafana/build/Makefile: revamp for arm64 builds, pushes to docker and quay, jenkins
  monitoring/grafana/build/Makefile
Labels: dashboard, monitoring

#40698 nautilus: debian/ceph-common.postinst: do not chown cephadm log dirs
  debian/ceph-common.postinst
Labels: build/ops, nautilus-batch-1, needs-qa, wip-yuri-testing, wip-yuri7-testing

#41246 nautilus: common/buffer: adjust align before calling posix_memalign()
  src/common/buffer.cc
  src/msg/async/ProtocolV2.cc
Labels: bug fix, common, core, messenger, nautilus-batch-1, needs-qa, wip-yuri-testing, wip-yuri7-testing

#41088 nautilus: make-dist: refuse to run if script path contains a colon
  make-dist
Labels: build/ops, nautilus-batch-1, needs-qa, wip-yuri-testing, wip-yuri7-testing

#41611 nautilus: osd/PeeringState: fix acting_set_writeable min_size check
  src/osd/PG.cc
Labels: nautilus-batch-1, needs-qa, wip-yuri-testing, wip-yuri7-testing

#39910 mds: Add full caps to avoid osd full check
  qa/cephfs/clusters/1-node-1-mds-1-osd.yaml
  qa/suites/fs/full/%
  qa/suites/fs/full/.qa
  qa/suites/fs/full/begin.yaml
  qa/suites/fs/full/clusters/.qa
  qa/suites/fs/full/clusters/1-node-1-mds-1-osd.yaml
  qa/suites/fs/full/conf
  qa/suites/fs/full/distro
  qa/suites/fs/full/mount/fuse.yaml
  qa/suites/fs/full/objectstore/.qa
  qa/suites/fs/full/objectstore/bluestore-bitmap.yaml
  qa/suites/fs/full/overrides.yaml
  qa/suites/fs/full/overrides/+
  qa/suites/fs/full/overrides/.qa
  qa/suites/fs/full/overrides/frag_enable.yaml
  qa/suites/fs/full/overrides/no_client_pidfile.yaml
  qa/suites/fs/full/overrides/whitelist_health.yaml
  qa/suites/fs/full/overrides/whitelist_wrongly_marked_down.yaml
  qa/suites/fs/full/tasks/.qa
  qa/suites/fs/full/tasks/mgr-osd-full.yaml
  qa/tasks/workunit.py
  qa/workunits/fs/full/subvolume_rm.sh
  src/mds/MDSAuthCaps.cc
  src/mds/MDSAuthCaps.h
  src/mds/Server.cc
  src/pybind/mgr/mgr_util.py
  src/pybind/mgr/mirroring/fs/utils.py
Labels: cephfs, mgr, needs-qa, pybind, tests, wip-pdonnell-testing

#41443 test: update log-ignorelist for fs:mirror test
  qa/suites/fs/mirror/overrides/whitelist_health.yaml
  qa/suites/fs/valgrind/mirror/overrides/whitelist_health.yaml
Labels: cephfs, needs-qa, wip-pdonnell-testing

#41499 qa/tasks/mds_thrash: thrash iteration never skip
  qa/tasks/mds_thrash.py
Labels: cephfs, needs-qa, tests, wip-pdonnell-testing

#41639 mds/scrub: write root inode backtrace at creation
  src/mds/MDCache.cc
Labels: cephfs, needs-qa, wip-pdonnell-testing

#41654 mds: do not infinitely recursively print a metric
  src/include/cephfs/metrics/Types.h
Labels: cephfs, needs-qa, wip-pdonnell-testing

#41672 test/crimson/seastore: always handle returned future<>
  src/test/crimson/seastore/test_btree_lba_manager.cc
Labels: crimson, tests

#41670 crimson, common: improve const-correctness of Operation::dump()s.
  src/common/TrackedOp.cc
  src/crimson/common/operation.cc
  src/crimson/common/operation.h
Labels: cleanup, common, crimson, needs-qa

#41636 pybind/mgr/mgr_module: fix get_mgr_ip()
  src/mgr/ActivePyModules.cc
  src/pybind/mgr/cephadm/inventory.py
  src/pybind/mgr/mgr_module.py
  src/pybind/mgr/restful/module.py
Labels: cephadm, core, mgr, needs-qa, pybind, wip-kefu-testing, wip-sage-testing

#41553 ceph-volume: replace __ with _ in device_id
  src/ceph-volume/ceph_volume/util/device.py
Labels: ceph-volume, cephadm, needs-qa, wip-sage-testing

#41686 doc/dev: update how to use lttng/blkin trace
  doc/dev/blkin.rst
Labels: documentation

#41652 qa/tasks/admin_socket: support "foo || bar" as command
  qa/suites/rados/singleton/all/admin-socket.yaml
  qa/tasks/admin_socket.py
Labels: core, crimson, tests

#36941 doc/mgr/administrator: add a more precise description for creating key
  doc/mgr/administrator.rst
Labels: documentation, mgr, needs-review

#41594 test/librados/list: print reason why test fails
  src/test/librados/list.cc
Labels: needs-qa, tests, wip-kefu-testing

#41592 ceph.in: use rados.Rados.DEFAULT_CONF_FILES
  src/ceph.in
Labels: cleanup, core, needs-qa, wip-kefu-testing

#41587 mgr/DaemonServer.cc: prevent mgr crashes caused by integer underflow that is triggered by large increases to pg_num/pgp_num
  src/mgr/DaemonServer.cc
Labels: bug fix, core, mgr, needs-qa, wip-kefu-testing

#41631 auth/KeyRing: always decode keying as plaintext
  src/auth/KeyRing.cc
  src/auth/KeyRing.h
  src/mon/Monitor.cc
Labels: cleanup, core, mon, needs-qa, wip-kefu-testing

#41679 crimson/net: Use out_q instead of pending_q
  src/crimson/net/Protocol.cc
  src/crimson/net/Protocol.h
  src/crimson/net/SocketConnection.h
Labels: core, crimson

#39771 nautilus: rgw: tooling to locate rgw objects with missing rados components
  ceph.spec.in
  debian/control
  debian/radosgw.install
  src/rgw/CMakeLists.txt
  src/rgw/rgw-gap-list
  src/rgw/rgw-gap-list-comparator
  src/rgw/rgw_admin.cc
  src/rgw/rgw_orphan.cc
  src/rgw/rgw_orphan.h
  src/test/cli/radosgw-admin/help.t
Labels: feature, nautilus-batch-1, needs-qa, rgw, wip-yuri7-testing

#40827 nautilus: rgw: radoslist incomplete multipart parts marker
  qa/workunits/rgw/test_rgw_orphan_list.sh
  src/rgw/rgw_orphan.cc
Labels: bug fix, nautilus-batch-1, needs-qa, rgw, tests, wip-yuri7-testing

#41114 nautilus: ceph-volume: disable cache for blkid calls
  src/ceph-volume/ceph_volume/util/disk.py
Labels: nautilus-batch-1, needs-qa, wip-yuri6-testing

#41648 nautilus: mgr/dashboard: fix bucket objects and size calculations
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-bucket-list/rgw-bucket-list.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-bucket-list/rgw-bucket-list.component.ts
Labels: backport:no-conflicts, bug fix, dashboard, nautilus-batch-1, needs-qa, wip-yuri7-testing

#41673 nautilus: os/bluestore: fix unexpected ENOSPC in Avl/Hybrid allocators.
  src/os/bluestore/AvlAllocator.cc
  src/test/objectstore/Allocator_test.cc
Labels: bluestore, nautilus-batch-1, needs-qa, wip-yuri7-testing

#41641 nautilus: qa/tasks/qemu: precise repos have been archived
  qa/tasks/userdata_setup.yaml
Labels: nautilus-batch-1, needs-qa, rbd, tests, wip-yuri7-testing

#41662 nautilus: librbd: don't stop at the first unremovable image when purging
  qa/workunits/rbd/cli_generic.sh
  src/librbd/api/Trash.cc
  src/tools/rbd/action/Trash.cc
Labels: bug fix, nautilus-batch-1, needs-qa, rbd, tests, wip-yuri7-testing

#41690 test/objectstore/unittest_alloc_aging: init cct
  src/test/objectstore/Allocator_aging_fragmentation.cc
Labels: tests

#41650 nautilus: mgr/Dashboard: Remove erroneous elements in hosts-overview Grafana dashboard
  monitoring/grafana/dashboards/hosts-overview.json
Labels: backport:no-conflicts, dashboard

#41697 script: updates for debug docker script
  src/script/ceph-debug-docker.sh
Labels: common, needs-review

#41130 Pacific stretch mon state [Merge after 40484]
  src/mon/Monitor.cc
  src/mon/Monitor.h
  src/mon/OSDMonitor.cc
  src/mon/OSDMonitor.h
Labels: core, mon, needs-qa

#40073 mgr/cephadm: Warn about OSDs to remove manually when deleting an OSD service
  src/pybind/mgr/cephadm/module.py
Labels: cephadm, needs-review, orchestrator, pybind

#41581 common/options: extract mgr and mon options out
  src/common/options/global.yaml.in
  src/common/options/mgr.yaml.in
  src/common/options/mon.yaml.in
Labels: common

#41688 debian/control: ceph-mgr-modules-core does not Recommend ceph-mgr-roo…
  PendingReleaseNotes
  debian/control
Labels: build/ops, documentation, needs-qa, wip-kefu-testing

#41506 ceph-volume: fix batch report and respect ceph.conf config values
  src/ceph-volume/ceph_volume/devices/lvm/batch.py
Labels: ceph-volume, wip-kefu-testing

#41501 os/bluestore: Remove possibility of replay log and file inconsistency
  src/os/bluestore/BlueFS.cc
  src/os/bluestore/BlueFS.h
  src/os/bluestore/BlueRocksEnv.cc
  src/test/objectstore/test_bluefs.cc
Labels: bluestore, bug fix, core, tests, wip-kefu-testing

#41604 osd/ECBackend: Fix null pointer dereference when enabling jaeger tracing
  src/osd/ECBackend.cc
Labels: core, wip-kefu-testing

#41154 global: fault handlers cope with simultaneous faults now.
  src/global/signal_handler.cc
Labels: bug fix, common, needs-qa, wip-kefu-testing

#41655 pacific: os/bluestore: fix unexpected ENOSPC in Avl/Hybrid allocators.
  src/os/bluestore/AvlAllocator.cc
  src/test/objectstore/Allocator_test.cc
  src/test/objectstore/allocator_replay_test.cc
Labels: bluestore, core, needs-qa, pacific-batch-1, tests, wip-yuri3-testing

#40652 osd/scrub: modify "classic" OSD scrub state-machine to support Crimson
  src/osd/OSD.cc
  src/osd/OSD.h
  src/osd/PG.cc
  src/osd/PG.h
  src/osd/PeeringState.cc
  src/osd/pg_scrubber.cc
  src/osd/pg_scrubber.h
  src/osd/scheduler/OpSchedulerItem.cc
  src/osd/scheduler/OpSchedulerItem.h
  src/osd/scrub_machine.cc
  src/osd/scrub_machine.h
  src/osd/scrub_machine_lstnr.h
  src/osd/scrubber_common.h
Labels: core, needs-qa, wip-kefu-testing

#41665 mgr/cephadm: fix alerts sent to wrong URL
  src/pybind/mgr/cephadm/templates/services/prometheus/prometheus.yml.j2
Labels: cephadm, needs-qa, orchestrator, pybind, wip-sage-testing, wip-swagner-testing

#41708 crimson/os/seastore: open_collection() returns nullptr if DNE
  src/crimson/os/seastore/collection_manager/collection_flat_node.cc
  src/crimson/os/seastore/seastore.cc
Labels: crimson, seastore

#41695 crimson/net: move from out_q into sent queue
  src/crimson/net/Protocol.cc
Labels: crimson

#41705 script/ceph-debug-docker: s/x86_64/$(arch)/
  src/script/ceph-debug-docker.sh
Labels: cleanup

#41732 crimson/osd: fix assertion failure in OpSequencer on replay.
  src/crimson/osd/osd_operations/client_request.cc
Labels: bug fix, crimson

#41643 pacific: qa/tasks/qemu: precise repos have been archived
  qa/tasks/userdata_setup.yaml
Labels: needs-qa, pacific-batch-1, rbd, tests, wip-yuri4-testing

#41664 pacific: librbd: don't stop at the first unremovable image when purging
  qa/workunits/rbd/cli_generic.sh
  src/librbd/api/Trash.cc
  src/tools/rbd/action/Trash.cc
Labels: bug fix, needs-qa, pacific-batch-1, rbd, tests, wip-yuri4-testing

#41704 pybind/ceph_daemon: add missing type annotations
  src/mypy.ini
  src/pybind/ceph_daemon.py
  src/pybind/tox.ini
Labels: cleanup, pybind

#41676 nautilus: ceph-volume: implement bluefs volume migration.
  doc/man/8/ceph-volume.rst
  src/ceph-volume/ceph_volume/api/lvm.py
  src/ceph-volume/ceph_volume/devices/lvm/main.py
  src/ceph-volume/ceph_volume/devices/lvm/migrate.py
  src/ceph-volume/ceph_volume/tests/devices/lvm/test_migrate.py
  src/os/bluestore/bluestore_tool.cc
Labels: bluestore, ceph-volume, nautilus-batch-1, needs-qa, wip-yuri2-testing

#41728 cmake: let vstart-base depend on cython_rados if NOT WIN32
  src/CMakeLists.txt
Labels: cleanup

#41725 cmake: do not print warning in each cmake run
  src/test/CMakeLists.txt
Labels: build/ops, tests

#41509 ceph: allow for non-positional optional CLI arguments
  doc/_ext/ceph_commands.py
  qa/tasks/cephfs/test_nfs.py
  src/common/cmdparse.cc
  src/common/cmdparse.h
  src/mgr/DaemonServer.cc
  src/mgr/MgrCommands.h
  src/mgr/MgrStandby.cc
  src/mon/MgrMonitor.cc
  src/mon/MonCommands.h
  src/mon/Monitor.cc
  src/mon/MonmapMonitor.cc
  src/mon/OSDMonitor.cc
  src/pybind/ceph_argparse.py
  src/pybind/mgr/k8sevents/module.py
  src/pybind/mgr/mgr_module.py
  src/pybind/mgr/nfs/module.py
  src/pybind/mgr/orchestrator/module.py
Labels: cephfs, common, core, documentation, mgr, mon, nfs, orchestrator, pybind, tests, wip-sage3-testing

#41709 cephadm: improve is_container_running()
  src/cephadm/cephadm
Labels: cephadm, wip-sage-testing

#41713 nautilus: ceph-volume: fix batch report and respect ceph.conf config values
  src/ceph-volume/ceph_volume/devices/lvm/batch.py
Labels: nautilus-batch-1, needs-qa

#41733 crimson/osd: clean up mutability and fix log in ClientRequest
  src/crimson/osd/osd_operations/client_request.cc
Labels: cleanup, crimson

#41485 nautilus: qa: vstart_runner: TypeError: lstat: path should be string, bytes or os.PathLike, not NoneType
  qa/tasks/vstart_runner.py
Labels: needs-qa, tests

#40659 ceph-volume,python-common: Data allocate fraction
  src/ceph-volume/ceph_volume/devices/lvm/batch.py
  src/ceph-volume/ceph_volume/tests/conftest.py
  src/ceph-volume/ceph_volume/tests/devices/lvm/test_batch.py
  src/ceph-volume/ceph_volume/tests/util/test_arg_validators.py
  src/ceph-volume/ceph_volume/util/arg_validators.py
  src/python-common/ceph/deployment/drive_group.py
  src/python-common/ceph/deployment/translate.py
  src/python-common/ceph/tests/test_drive_group.py
Labels: ceph-volume, cephadm, needs-review, pybind

#41730 do_cmake.sh: use python3.10 for fedora 35
  do_cmake.sh
Labels: build/ops, python3

#41736 crimson/os/alienstore: open_collection() returns nullptr if DNE.
  src/crimson/os/alienstore/alien_store.cc
Labels: bug fix, crimson

#41742 mgr/mgr_module: correct docstring of MgrModule.get()
  src/pybind/mgr/mgr_module.py
Labels: cleanup, mgr, pybind

#41745 crimson/osd: do not capture unused variable
  src/crimson/osd/osd_operations/internal_client_request.cc
Labels: cleanup, crimson

#41747 mgr/mgr_module: add docstring of MgrModule.get()-mgr_map,modified_con…
  src/pybind/mgr/mgr_module.py
Labels: mgr, pybind

#41756 crimson/monc: fix races between on_session_opened() and the reset sequence
  src/crimson/mon/MonClient.cc
Labels: bug fix, crimson

#41576 rgw: Simplify log shard probing and err on the side of omap
  src/cls/fifo/cls_fifo.cc
  src/rgw/rgw_log_backing.cc
  src/rgw/rgw_log_backing.h
  src/test/rgw/test_log_backing.cc
Labels: bug fix, needs-qa, needs-review, pacific-batch-1, rgw, tests, wip-yuri4-testing

#41743 rgw/rgw_lua_utils: return error using luaL_error()
  src/rgw/rgw_lua_request.cc
  src/rgw/rgw_lua_utils.h
Labels: aarch64, arm64, rgw

#41656 mgr/dashboard: simplify object locking fields in 'Bucket Creation' form
  src/pybind/mgr/dashboard/controllers/rgw.py
  src/pybind/mgr/dashboard/frontend/cypress/integration/rgw/buckets.po.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-bucket-form/rgw-bucket-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-bucket-form/rgw-bucket-form.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-bucket-form/rgw-bucket-form.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/rgw-bucket.service.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/rgw-bucket.service.ts
  src/pybind/mgr/dashboard/services/rgw_client.py
  src/pybind/mgr/dashboard/tests/test_rgw_client.py
Labels: bug fix, cleanup, dashboard, pybind

#41724 common/cmdparse: do not create temp string unless necessary
  src/common/cmdparse.cc
Labels: cleanup, common, needs-qa, wip-kefu-testing

#41567 doc:Added the explanation of the 'listxattr <obj-name>' and 'getxattr <obj-name> attr' commands
  src/tools/rados/rados.cc
Labels: core, wip-kefu-testing

#41555 cephadm: add bootstrap unit tests
  src/cephadm/cephadm
  src/cephadm/tests/fixtures.py
  src/cephadm/tests/test_cephadm.py
  src/cephadm/tox.ini
Labels: cephadm, wip-kefu-testing

#41444 mgr/cephadm: allow monitoring stack ip binding and custom ports
  doc/cephadm/monitoring.rst
  src/cephadm/cephadm
  src/pybind/mgr/cephadm/services/monitoring.py
  src/pybind/mgr/cephadm/templates/services/grafana/ceph-dashboard.yml.j2
  src/pybind/mgr/cephadm/templates/services/grafana/grafana.ini.j2
  src/pybind/mgr/cephadm/tests/test_cephadm.py
  src/python-common/ceph/deployment/service_spec.py
Labels: cephadm, documentation, needs-qa, pybind, wip-kefu-testing

#41703 common/options: extract mgr and mon options out
  src/common/options/global.yaml.in
  src/common/options/mgr.yaml.in
  src/common/options/mon.yaml.in
Labels: common, needs-qa, wip-kefu-testing

#41523 mgr/dashboard: introduce separate front-end component for API docs
  src/pybind/mgr/dashboard/controllers/docs.py
  src/pybind/mgr/dashboard/frontend/angular.json
  src/pybind/mgr/dashboard/frontend/package-lock.json
  src/pybind/mgr/dashboard/frontend/package.json
  src/pybind/mgr/dashboard/frontend/src/app/app-routing.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/core/navigation/api-docs/api-docs.component.html
  src/pybind/mgr/dashboard/frontend/src/app/core/navigation/api-docs/api-docs.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/core/navigation/api-docs/api-docs.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/core/navigation/dashboard-help/dashboard-help.component.html
  src/pybind/mgr/dashboard/frontend/src/app/core/navigation/navigation.module.ts
  src/pybind/mgr/dashboard/frontend/src/styles/bootstrap-extends.scss
  src/pybind/mgr/dashboard/frontend/src/styles/ceph-custom/_basics.scss
Labels: cleanup, dashboard, pybind

#41675 pacific: mgr/dashboard: API Version changes do not apply to pre-defined methods (list, create etc.)
  doc/dev/developer_guide/dash-devel.rst
  src/pybind/mgr/dashboard/controllers/__init__.py
  src/pybind/mgr/dashboard/controllers/docs.py
  src/pybind/mgr/dashboard/tests/test_docs.py
  src/pybind/mgr/dashboard/tests/test_versioning.py
Labels: dashboard, documentation, pybind

#41760 doc/dev: s/reposotory/repository/ (really)
  doc/dev/developer_guide/basic-workflow.rst
Labels: documentation

#41678 rgw: completion of multipart upload leaves delete marker
  src/rgw/rgw_op.cc
  src/rgw/rgw_rados.cc
  src/rgw/rgw_rados.h
  src/rgw/rgw_sal.h
  src/rgw/rgw_sal_rados.cc
  src/rgw/rgw_sal_rados.h
Labels: bug fix, needs-qa, rgw, wip-eric-testing-1

#41065 rgw: Improve error message on email id reuse
  src/rgw/rgw_user.cc
Labels: needs-qa, rgw, wip-eric-testing-1

#40975 cls/rgw: look for plain entries in non-ascii plain namespace too
  src/cls/rgw/cls_rgw.cc
  src/test/cls_rgw/test_cls_rgw.cc
Labels: bug fix, needs-qa, rgw, tests, wip-eric-testing-1

#38135 rgw: RGWListMultipart show Owner ID and DisplayName
  src/rgw/rgw_op.cc
Labels: needs-qa, rgw, wip-eric-testing-1

#41548 Revert "mgr/dashboard: Generate NPM dependencies manifest"
  src/script/generate-npm-manifest.sh
Labels: dashboard, needs-review

#41123 mgr/dashboard: Include Network address and labels on Host Creation form
  qa/tasks/mgr/dashboard/test_host.py
  src/pybind/mgr/dashboard/controllers/host.py
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/hosts/host-form/host-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/hosts/host-form/host-form.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/hosts/host-form/host-form.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/host.service.ts
  src/pybind/mgr/dashboard/openapi.yaml
  src/pybind/mgr/dashboard/services/orchestrator.py
  src/pybind/mgr/dashboard/tests/test_host.py
Labels: dashboard, feature, needs-review, pybind, tests

#41549 Revert "pacific: mgr/dashboard: Generate NPM dependencies manifest"
  src/script/generate-npm-manifest.sh
Labels: dashboard

#41718 doc/dev: add continuous-integration
  doc/dev/continuous-integration.rst
Labels: documentation

#41727 osd: set r only if succeed in FillInVerifyExtent
  src/osd/PrimaryLogPG.cc
Labels: bug fix, core, wip-kefu-testing

#41777 pacific: mgr/dashboard: simplify object locking fields in 'Bucket Creation' form
  src/pybind/mgr/dashboard/controllers/rgw.py
  src/pybind/mgr/dashboard/frontend/cypress/integration/rgw/buckets.po.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-bucket-form/rgw-bucket-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-bucket-form/rgw-bucket-form.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-bucket-form/rgw-bucket-form.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/rgw-bucket.service.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/rgw-bucket.service.ts
  src/pybind/mgr/dashboard/services/rgw_client.py
  src/pybind/mgr/dashboard/tests/test_rgw_client.py
Labels: backport:no-conflicts, dashboard, pybind

#41761 RGW - Don't move attrs before setting them
  src/rgw/rgw_op.cc
Labels: rgw

#41682 nautilus: osd/PG.cc: handle removal of pgmeta object
  src/osd/PG.cc
Labels: core, nautilus-batch-1, needs-qa, wip-yuri-testing

#41740 mgr/nfs: do not depend on cephadm.utils
  src/pybind/mgr/nfs/cluster.py
Labels: needs-qa, nfs, wip-sage-testing

#41782 qa/standalone: Use osd op queue = wpq in activate_osd() within ceph-helpers.sh.
  qa/standalone/ceph-helpers.sh
Labels: core

#41791 crimson/monc: don't serve auth requests without active mon connection.
  src/crimson/mon/MonClient.cc
Labels: bug fix, crimson

#41729 *: stop using <experimental/filesystem> as an alternative
  cmake/modules/CephChecks.cmake
  cmake/modules/FindStdFilesystem.cmake
  cmake/modules/FindStdFilesystem_test.cc
  src/common/ConfUtils.cc
  src/common/config.cc
  src/common/strtol.h
  src/global/global_init.cc
  src/kv/MemDB.cc
  src/kv/RocksDBStore.cc
  src/librbd/cache/pwl/DiscardRequest.cc
  src/mgr/PyModuleRegistry.cc
  src/os/CMakeLists.txt
  src/os/bluestore/bluestore_tool.cc
  src/test/admin_socket_output.h
  src/test/common/test_util.cc
  src/test/confutils.cc
  src/test/immutable_object_cache/test_object_store.cc
  src/test/librbd/migration/test_mock_FileStream.cc
  src/tools/ceph-dencoder/ceph_dencoder.cc
  src/tools/immutable_object_cache/ObjectCacheStore.cc
  src/tools/rbd_nbd/rbd-nbd.cc
Labels: bluestore, build/ops, cleanup, common, core, mgr, needs-review, rbd, tests

#41769 pacific: rgw: completion of multipart upload leaves delete marker
  src/rgw/rgw_op.cc
  src/rgw/rgw_rados.cc
  src/rgw/rgw_rados.h
  src/rgw/rgw_sal.h
  src/rgw/rgw_sal_rados.cc
  src/rgw/rgw_sal_rados.h
Labels: bug fix, needs-review, rgw

#41577 pacific: mgr/dashboard:include compression stats on pool dashboard
  monitoring/grafana/dashboards/pool-overview.json
  src/pybind/mgr/dashboard/ci/check_grafana_uids.py
Labels: backport:no-conflicts, dashboard, pybind

#41031 octopus: rgw: check object locks in multi-object delete
  src/rgw/rgw_common.cc
  src/rgw/rgw_common.h
  src/rgw/rgw_op.cc
  src/rgw/rgw_op.h
  src/rgw/rgw_rest_s3.cc
Labels: needs-qa, octopus-batch-1, rgw, wip-yuri7-testing

#41642 octopus: qa/tasks/qemu: precise repos have been archived
  qa/tasks/userdata_setup.yaml
Labels: needs-qa, octopus-batch-1, rbd, tests, wip-yuri7-testing

#41738 nautilus: mgr/dashboard: show partially deleted RBDs
  src/pybind/mgr/dashboard/controllers/rbd.py
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-details/rbd-details.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-form/rbd-form.model.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-list/rbd-list.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-list/rbd-list.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-list/rbd-list.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-list/rbd-list.component.ts
  src/pybind/mgr/dashboard/tests/test_rbd.py
Labels: dashboard, nautilus-batch-1, needs-qa, needs-review, wip-yuri5-testing
