Repository ceph/ceph, pull requests merged in 2021-10, with the labels that each got.

#43277 ceph: add example BlueStore migration via the ceph-objectstore-tool dup op
  doc/rados/operations/bluestore-migration.rst
  src/tools/contrib/README.rst
  src/tools/contrib/ceph-migrate-bluestore.bash
Labels: documentation, core

#43264 pacific: cmake: s/Python_EXECUTABLE/Python3_EXECUTABLE/
  src/ceph-volume/CMakeLists.txt
  src/tools/setup-virtualenv.sh
Labels: needs-qa, build/ops, wip-yuri4-testing, ceph-volume

#42716 mgr/dashboard,prometheus: fix handling of server_addr
  src/pybind/mgr/dashboard/module.py
  src/pybind/mgr/prometheus/module.py
Labels: pybind, dashboard, monitoring

#41255 mgr/dashboard: Angular v11 Migration
  src/pybind/mgr/dashboard/frontend/angular.json
  src/pybind/mgr/dashboard/frontend/cypress/integration/rgw/users.po.ts
  src/pybind/mgr/dashboard/frontend/package-lock.json
  src/pybind/mgr/dashboard/frontend/package.json
  src/pybind/mgr/dashboard/frontend/src/app/app-routing.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/iscsi-setting/iscsi-setting.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/iscsi-target-form/iscsi-target-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-form/rbd-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-snapshot-form/rbd-snapshot-form-modal.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/hosts/host-form/host-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/osd/osd-form/osd-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/osd/osd-pg-scrub-modal/osd-pg-scrub-modal.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/prometheus/silence-form/silence-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/services/service-form/service-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/nfs/nfs-form/nfs-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/pool/crush-rule-form-modal/crush-rule-form-modal.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/pool/erasure-code-profile-form/erasure-code-profile-form-modal.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-bucket-form/rgw-bucket-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-user-capability-modal/rgw-user-capability-modal.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-user-form/rgw-user-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-user-s3-key-modal/rgw-user-s3-key-modal.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-user-subuser-modal/rgw-user-subuser-modal.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-user-swift-key-modal/rgw-user-swift-key-modal.component.html
  src/pybind/mgr/dashboard/frontend/src/app/core/auth/role-form/role-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/core/auth/user-form/user-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/core/auth/user-password-form/user-password-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/shared/forms/cd-form-builder.ts
Labels: pybind, dashboard

#43383 doc: fixed typo in terminology
  doc/cephfs/standby.rst
Labels: documentation, cephfs

#43402 doc/foundation: Martin is new general member rep
  doc/foundation.rst
Labels: documentation

#43352 octopus: qa/mgr/dashboard: add extra wait to test
  qa/tasks/mgr/dashboard/test_user.py
Labels: needs-qa, tests, wip-yuri6-testing, octopus-batch-1, backport:no-conflicts

#43369 octopus: mgr/influx: use "N/A" for unknown hostname
  src/pybind/mgr/influx/module.py
Labels: needs-qa, wip-yuri6-testing, octopus-batch-1

#43235 pacific: ceph.spec: selinux scripts respect CEPH_AUTO_RESTART_ON_UPGRADE
  ceph.spec.in
Labels: needs-qa, build/ops, wip-yuri4-testing

#43234 octopus: ceph.spec: selinux scripts respect CEPH_AUTO_RESTART_ON_UPGRADE
  ceph.spec.in
Labels: core, needs-qa, wip-yuri-testing, waiting-pacific-merge

#43270 octopus: rgw : add check for tenant provided in RGWCreateRole
  src/rgw/rgw_rest_role.cc
Labels: rgw, needs-qa

#43410 docs/start: fix min. hardware rec. typo
  doc/start/hardware-recommendations.rst
Labels: documentation

#43349 octopus: rgw: fix sts memory leak
  src/rgw/rgw_rest_s3.cc
  src/rgw/rgw_sts.cc
Labels: rgw, needs-qa, wip-yuri6-testing

#43175 cmake,rgw: use jaeger-base target, as a dependency for building dbstore
  cmake/modules/BuildJaeger.cmake
  cmake/modules/BuildOpenTracing.cmake
  src/rgw/CMakeLists.txt
  src/rgw/store/dbstore/CMakeLists.txt
Labels: rgw, build/ops, crimson

#42837 octopus: mon/OSDMonitor: account for PG merging in epoch_by_pg accounting
  src/mon/OSDMonitor.cc
  src/mon/OSDMonitor.h
Labels: core, mon

#42977 osd/scrub: Add scrub duration to pg dump stats
  qa/standalone/scrub/osd-scrub-test.sh
  src/mon/PGMap.cc
  src/osd/osd_types.cc
  src/osd/osd_types.h
  src/osd/scrubber/pg_scrubber.cc
  src/osd/scrubber/pg_scrubber.h
  src/osd/scrubber/scrub_machine.cc
  src/osd/scrubber/scrub_machine.h
  src/osd/scrubber/scrub_machine_lstnr.h
Labels: core, needs-qa, mon, wip-yuri7-testing

#42986 octopus: rbd-mirror: add perf counters to snapshot replayer
  src/test/rbd_mirror/image_replayer/snapshot/test_mock_Replayer.cc
  src/test/rbd_mirror/test_main.cc
  src/tools/rbd_mirror/ImageReplayer.cc
  src/tools/rbd_mirror/Types.h
  src/tools/rbd_mirror/image_replayer/journal/Replayer.cc
  src/tools/rbd_mirror/image_replayer/snapshot/Replayer.cc
  src/tools/rbd_mirror/image_replayer/snapshot/Replayer.h
  src/tools/rbd_mirror/main.cc
Labels: rbd, tests, wip-yuri3-testing, octopus-batch-1

#43263 octopus: ceph-monstore-tool: use a large enough paxos/{first,last}_committed
  qa/tasks/ceph_manager.py
  src/tools/ceph_monstore_tool.cc
Labels: core, needs-qa, wip-yuri3-testing

#43312 octopus: auth,mon: don't log "unable to find a keyring" error when key is given
  src/auth/KeyRing.cc
  src/mon/Monitor.cc
Labels: bug fix, core, common, mon, wip-yuri3-testing, octopus-batch-1

#43314 octopus: rbd-mirror: unbreak one-way snapshot-based mirroring
  qa/suites/rbd/mirror/workloads/rbd-mirror-journal-bootstrap-workunit.yaml
  qa/suites/rbd/mirror/workloads/rbd-mirror-snapshot-bootstrap-workunit.yaml
  qa/workunits/rbd/rbd_mirror_bootstrap.sh
  src/tools/rbd_mirror/RemotePoolPoller.cc
  src/tools/rbd_mirror/Types.cc
Labels: bug fix, rbd, tests, wip-yuri3-testing, octopus-batch-1

#42643 pacific: rgw/notifications: send correct size in case of delete marker creation
  doc/radosgw/s3-notification-compatibility.rst
  src/rgw/rgw_op.cc
  src/test/rgw/rgw_multi/tests_ps.py
Labels: documentation, rgw, needs-qa, tests, wip-yuri2-testing

#43348 pacific: rgw: fix sts memory leak
  src/rgw/rgw_rest_s3.cc
  src/rgw/rgw_sts.cc
Labels: rgw, needs-qa, wip-yuri2-testing

#43357 mgr/nfs: add more debug log msg
  src/pybind/mgr/nfs/cluster.py
  src/pybind/mgr/nfs/export.py
  src/pybind/mgr/nfs/module.py
Labels: cephfs, needs-qa, pybind, mgr, wip-pdonnell-testing, nfs

#43375 mgr/volumes/fs: add extra blank line
  src/pybind/mgr/volumes/fs/operations/snapshot_util.py
Labels: cephfs, needs-qa, pybind, wip-pdonnell-testing, open-source-day

#43387 mgr/volumes: fix various flake8 issues
  src/pybind/mgr/volumes/module.py
Labels: cephfs, needs-qa, pybind, wip-pdonnell-testing, open-source-day

#43390 mgr/volumes/fs/operations: fix flake8 issues
  src/pybind/mgr/volumes/fs/operations/clone_index.py
Labels: cleanup, cephfs, needs-qa, pybind, wip-pdonnell-testing, open-source-day

#43391 mgr/volumes/fs: fix flake8 issues
  src/pybind/mgr/volumes/fs/vol_spec.py
Labels: cephfs, needs-qa, pybind, wip-pdonnell-testing, open-source-day

#43392 mgr/volumes/fs/operations: fix various flake8 issues
  src/pybind/mgr/volumes/fs/operations/subvolume.py
Labels: cleanup, cephfs, needs-qa, pybind, wip-pdonnell-testing, open-source-day

#43395 mgr/volumes/fs/operations/versions: fix various flake8 issues
  src/pybind/mgr/volumes/fs/operations/versions/auth_metadata.py
Labels: cleanup, cephfs, needs-qa, pybind, wip-pdonnell-testing, open-source-day

#43397 mgr/volumes/fs: fix flake8 issues
  src/pybind/mgr/volumes/fs/async_job.py
Labels: cephfs, needs-qa, pybind, wip-pdonnell-testing, open-source-day

#43398 mgr/volumes/fs: fix flake8 issues
  src/pybind/mgr/volumes/fs/operations/versions/subvolume_attrs.py
Labels: cleanup, cephfs, needs-qa, pybind, wip-pdonnell-testing, open-source-day

#43399 mgr/volumes/fs/operations: fix various flake8 issues
  src/pybind/mgr/volumes/fs/operations/access.py
Labels: cleanup, cephfs, needs-qa, pybind, wip-pdonnell-testing, open-source-day

#43424 octopus: rgw: fail as expected when set/delete-bucket-website attempted on a non-exis…
  src/rgw/rgw_op.cc
Labels: rgw, needs-qa, wip-yuri3-testing

#43256 qa/mgr/dashboard/test_pool: don't check HEALTH_OK
  qa/tasks/mgr/dashboard/test_pool.py
Labels: tests, needs-review, dashboard

#43331 mgr/cephadm: fix host drain with agent
  src/pybind/mgr/cephadm/agent.py
  src/pybind/mgr/cephadm/inventory.py
  src/pybind/mgr/cephadm/migrations.py
  src/pybind/mgr/cephadm/module.py
  src/pybind/mgr/cephadm/serve.py
  src/pybind/mgr/cephadm/services/osd.py
  src/pybind/mgr/cephadm/tests/test_cephadm.py
Labels: pybind, cephadm

#43373 mon: Allow specifying new tiebreaker monitors
  doc/rados/operations/stretch-mode.rst
  src/mon/MonCommands.h
  src/mon/MonMap.cc
  src/mon/MonmapMonitor.cc
Labels: documentation, core, wip-kefu-testing, mon

#43459 crimson/os/seastore: reduce write amplification from record overhead and implement placement hint
  src/crimson/os/seastore/cached_extent.h
  src/crimson/os/seastore/extent_placement_manager.h
  src/crimson/os/seastore/seastore_types.cc
  src/crimson/os/seastore/seastore_types.h
  src/crimson/os/seastore/transaction_manager.cc
  src/crimson/os/seastore/transaction_manager.h
Labels: crimson

#43444 librados,librbd: make it clear that replica reads are safe for general use
  src/common/options/rbd.yaml.in
  src/include/rados/librados.hpp
Labels: cleanup, documentation, core, rbd, common

#43198 pacific: cephfs-mirror: shutdown ClusterWatcher on termination
  src/tools/cephfs_mirror/ClusterWatcher.cc
  src/tools/cephfs_mirror/ClusterWatcher.h
  src/tools/cephfs_mirror/Mirror.cc
Labels: cephfs, needs-qa, wip-yuri2-testing, pacific-batch-1

#43199 pacific: mgr/mirroring: remove unnecessary fs_name arg from daemon status command
  doc/cephfs/cephfs-mirroring.rst
  doc/dev/cephfs-mirroring.rst
  qa/tasks/cephfs/test_mirroring.py
  src/pybind/mgr/mirroring/fs/snapshot_mirror.py
  src/pybind/mgr/mirroring/module.py
Labels: documentation, cephfs, needs-qa, tests, pybind, wip-yuri2-testing, pacific-batch-1

#43401 src/cephadm: Add support for mariner
  src/cephadm/cephadm
Labels: needs-qa, wip-kefu-testing, cephadm

#43452 cephadm: agent: subtract average time of previous iterations off wait time
  src/cephadm/cephadm
Labels: wip-kefu-testing, pybind, cephadm

#43346 tools/ceph-kvstore-tool: fix segfaults when repair the rocksdb
  src/tools/kvstore_tool.cc
Labels: core, needs-qa, wip-kefu-testing, needs-review

#43449 crimson/osd: implement interruptions in PeeringEvent.
  src/crimson/osd/osd_operations/compound_peering_request.cc
  src/crimson/osd/osd_operations/peering_event.cc
  src/crimson/osd/osd_operations/peering_event.h
Labels: bug fix, crimson

#42052 rgw: DPP addition 4
  src/rgw/rgw_auth_keystone.cc
  src/rgw/rgw_keystone.cc
  src/rgw/rgw_keystone.h
  src/rgw/rgw_kms.cc
  src/rgw/rgw_kms.h
  src/rgw/rgw_rest_sts.cc
  src/rgw/rgw_sts.cc
  src/rgw/rgw_sts.h
  src/test/rgw/test_rgw_kms.cc
Labels: rgw, tests

#43274 monitoring:Adding the Ceph MIB
  monitoring/prometheus/README.md
  monitoring/snmp/CEPH-PROMETHEUS-ALERT-MIB.txt
  monitoring/snmp/README.md
Labels: documentation, dashboard, monitoring

#43500 crimson: osd operations respect interruptor's InterruptCondition.
  src/crimson/common/interruptible_future.h
  src/crimson/osd/osd_operations/background_recovery.cc
  src/crimson/osd/osd_operations/client_request.cc
  src/crimson/osd/osd_operations/internal_client_request.cc
  src/crimson/osd/osd_operations/peering_event.cc
Labels: cleanup, crimson

#43308 src/rgw: HTTP POST object upload
  src/test/rgw/bucket_notification/test_bn.py
Labels: rgw, needs-qa, tests

#43339 mgr/cephadm: use json-pretty for ceph-volume calls
  src/pybind/mgr/cephadm/serve.py
  src/pybind/mgr/cephadm/tests/test_cephadm.py
Labels: pybind, needs-test, wip-swagner-testing, cephadm

#43214 pybind/mgr/cephadm: set allow_standby_replay during CephFS upgrade
  qa/suites/fs/upgrade/mds_upgrade_sequence/%
  qa/suites/fs/upgrade/mds_upgrade_sequence/.qa
  qa/suites/fs/upgrade/mds_upgrade_sequence/bluestore-bitmap.yaml
  qa/suites/fs/upgrade/mds_upgrade_sequence/centos_8.3_container_tools_3.0.yaml
  qa/suites/fs/upgrade/mds_upgrade_sequence/conf
  qa/suites/fs/upgrade/mds_upgrade_sequence/overrides/%
  qa/suites/fs/upgrade/mds_upgrade_sequence/overrides/.qa
  qa/suites/fs/upgrade/mds_upgrade_sequence/overrides/pg-warn.yaml
  qa/suites/fs/upgrade/mds_upgrade_sequence/overrides/whitelist_health.yaml
  qa/suites/fs/upgrade/mds_upgrade_sequence/overrides/whitelist_wrongly_marked_down.yaml
  qa/suites/fs/upgrade/mds_upgrade_sequence/roles.yaml
  qa/suites/fs/upgrade/mds_upgrade_sequence/tasks/%
  qa/suites/fs/upgrade/mds_upgrade_sequence/tasks/.qa
  qa/suites/fs/upgrade/mds_upgrade_sequence/tasks/0-v16.2.4.yaml
  qa/suites/fs/upgrade/mds_upgrade_sequence/tasks/1-volume/%
  qa/suites/fs/upgrade/mds_upgrade_sequence/tasks/1-volume/.qa
  qa/suites/fs/upgrade/mds_upgrade_sequence/tasks/1-volume/0-create.yaml
  qa/suites/fs/upgrade/mds_upgrade_sequence/tasks/1-volume/1-ranks/.qa
  qa/suites/fs/upgrade/mds_upgrade_sequence/tasks/1-volume/1-ranks/1.yaml
  qa/suites/fs/upgrade/mds_upgrade_sequence/tasks/1-volume/1-ranks/2.yaml
  qa/suites/fs/upgrade/mds_upgrade_sequence/tasks/1-volume/2-allow_standby_replay/.qa
  qa/suites/fs/upgrade/mds_upgrade_sequence/tasks/1-volume/2-allow_standby_replay/no.yaml
  qa/suites/fs/upgrade/mds_upgrade_sequence/tasks/1-volume/2-allow_standby_replay/yes.yaml
  qa/suites/fs/upgrade/mds_upgrade_sequence/tasks/1-volume/3-verify.yaml
  qa/suites/fs/upgrade/mds_upgrade_sequence/tasks/2-client.yaml
  qa/suites/fs/upgrade/mds_upgrade_sequence/tasks/3-upgrade-with-workload.yaml
  qa/suites/fs/upgrade/mds_upgrade_sequence/tasks/4-verify.yaml
  qa/suites/orch/cephadm/mds_upgrade_sequence
  qa/tasks/ceph.py
  qa/tasks/cephfs/mount.py
  qa/tasks/fs.py
  src/pybind/mgr/cephadm/upgrade.py
Labels: cephfs, needs-qa, tests, pybind, wip-pdonnell-testing, wip-swagner-testing, cephadm

#43405 os/bluestore: update perf counter priorities
  src/os/bluestore/BlueStore.cc
Labels: core, needs-qa, wip-kefu-testing, bluestore

#43463 qa/tasks: replace iterkeys() with keys() in Python 3
  qa/tasks/netsplit.py
Labels: needs-qa, tests, wip-kefu-testing

#43374 mgr/telemetry: remove pool name from telemetry perf report
  src/pybind/mgr/telemetry/module.py
Labels: needs-qa, wip-kefu-testing, pybind, telemetry

#42099 os/bluestore: BlueFS fine grain locking
  src/os/bluestore/BlueFS.cc
  src/os/bluestore/BlueFS.h
Labels: core, needs-qa, performance, wip-kefu-testing, bluestore

#43477 ceph: document rgw_multipart_min_part_size
  doc/radosgw/config-ref.rst
  src/common/options/rgw.yaml.in
Labels: documentation, rgw, common

#43382 mds: skip journaling blocklisted clients when in `replay` state
  src/mds/MDSRank.cc
  src/mds/MDSRank.h
Labels: cephfs, needs-qa, wip-pdonnell-testing

#43420 qa: skip internal metadata directory when scanning ceph debugfs direc…
  qa/tasks/cephfs/kernel_mount.py
Labels: cephfs, needs-qa, tests, wip-pdonnell-testing

#43430 qa: skip c-v install on pacific start
  qa/suites/fs/upgrade/featureful_client/old_client/tasks/0-octopus.yaml
  qa/suites/fs/upgrade/featureful_client/upgraded_client/tasks/0-octopus.yaml
  qa/suites/fs/upgrade/nofs/tasks/0-octopus.yaml
Labels: cephfs, needs-review, wip-pdonnell-testing

#43558 doc/governance.rst: update clt membership
  doc/governance.rst
Labels: documentation

#43533 cmake: only pass --verbose when VERBOSE env variable is set
  cmake/modules/Distutils.cmake
Labels: cleanup, build/ops

#42981 rgw: d3n: fix d3n cached objects on disk lru eviction entering infini…
  src/common/options/rgw.yaml.in
  src/rgw/rgw_d3n_cacherequest.h
  src/rgw/rgw_d3n_datacache.cc
Labels: bug fix, rgw, needs-qa, common, wip-cbodley-testing

#43488 radosgw-admin: 'reshard list' doesn't log ENOENT errors
  src/rgw/rgw_reshard.cc
Labels: bug fix, rgw, needs-qa, wip-cbodley-testing

#43507 rgw: hide some unnecessary log spam
  src/rgw/rgw_rest_client.cc
  src/rgw/rgw_zone.cc
  src/rgw/services/svc_zone.cc
Labels: cleanup, rgw, wip-cbodley-testing

#43571 common/bl: bl::prepare_iovs() related cleanups
  src/common/buffer.cc
  src/crimson/os/seastore/segment_manager/block.cc
  src/include/buffer.h
Labels: cleanup, common, crimson

#42760 qa/suites/rbd: switch iscsi tests to cephadm
  doc/cephadm/services/iscsi.rst
  doc/rbd/iscsi-initiator-linux.rst
  doc/rbd/iscsi-initiators.rst
  qa/suites/rbd/iscsi/base/install.yaml
  qa/suites/rbd/iscsi/cluster/fixed-3.yaml
  qa/suites/rbd/iscsi/pool/.qa
  qa/suites/rbd/iscsi/pool/datapool.yaml
  qa/suites/rbd/iscsi/workloads/cephadm_iscsi.yaml
  qa/tasks/ceph_iscsi.py
  qa/tasks/ceph_iscsi_client.py
  qa/tasks/cephadm.py
  src/test/cli-integration/rbd/gwcli_create.t
  src/test/cli-integration/rbd/gwcli_delete.t
Labels: documentation, rbd, tests, cephadm

#43267 pacific: ceph-volume: fix lvm activate --all --no-systemd
  src/ceph-volume/ceph_volume/devices/lvm/activate.py
  src/ceph-volume/ceph_volume/tests/devices/lvm/test_activate.py
Labels: needs-qa, wip-yuri2-testing, ceph-volume

#43549 mgr/rook: fix mds service list
  src/pybind/mgr/rook/module.py
Labels: cephfs, wip-sage-testing, pybind, orchestrator, rook

#43569 mgr/orchestrator: clean up 'orch device ls' output
  src/pybind/mgr/orchestrator/module.py
Labels: pybind, orchestrator

#42839 doc: Added msgr on-wire-compression
  doc/dev/msgr2.rst
  doc/rados/configuration/msgr2.rst
Labels: documentation, core

#43592 crimson: errorate the FuturizedStore::mount() paths.
  src/crimson/os/alienstore/alien_store.cc
  src/crimson/os/alienstore/alien_store.h
  src/crimson/os/cyanstore/cyan_store.cc
  src/crimson/os/cyanstore/cyan_store.h
  src/crimson/os/futurized_store.h
  src/crimson/os/seastore/seastore.cc
  src/crimson/os/seastore/seastore.h
  src/crimson/osd/osd.cc
  src/test/crimson/seastore/transaction_manager_test_state.h
Labels: tests, crimson

#43552 cephadm: do not log commands sent to "call" function
  src/cephadm/cephadm
Labels: cephadm, ready-to-merge, wip-adk-testing

#43366 mgr/cephadm: put list_servers output in debug logs
  src/pybind/mgr/cephadm/serve.py
Labels: pybind, cephadm, ready-to-merge, wip-adk-testing

#43594 rgw: have "bucket check --fix" fix pool ids correctly
  src/rgw/rgw_lc.cc
  src/rgw/rgw_rados.cc
Labels: bug fix, rgw

#43138 mgr/rook: implement `orch device zap` in rook orchestrator
  src/pybind/mgr/rook/module.py
  src/pybind/mgr/rook/rook_cluster.py
Labels: wip-sage-testing, pybind, orchestrator, rook

#43508 mds/FSMap: do not assert allow_standby_replay on old FSMaps
  src/mds/FSMap.cc
  src/mds/FSMap.h
  src/mon/MDSMonitor.cc
Labels: bug fix, core, cephfs, needs-review, mon, wip-pdonnell-testing

#43616 cephadm: Fix option name osd_crush_chooseleaf_type
  src/cephadm/cephadm
Labels: cephadm

#43557 octopus: qa/ceph-ansible: Pin to last compatible stable release
  qa/suites/ceph-ansible/smoke/basic/2-ceph/ceph_ansible.yaml
Labels: needs-qa, wip-yuri4-testing

#43365 nautilus: os/bluestore: fix erroneous SharedBlob record removal during repair.
  src/os/bluestore/BlueStore.cc
Labels: bug fix, needs-qa, bluestore, wip-yuri8-testing

#43431 nautilus: Don't persist report data
  qa/tasks/mgr/test_insights.py
  src/pybind/mgr/insights/module.py
Labels: needs-qa, tests, pybind, wip-yuri8-testing

#43736 Revert "Merge pull request #41325 from rhcs-dashboard/wip-cephadm_box-master"
  ceph.spec.in
  src/ceph-volume/ceph_volume/devices/lvm/common.py
  src/ceph-volume/ceph_volume/devices/lvm/prepare.py
  src/ceph-volume/ceph_volume/process.py
  src/cephadm/box/Dockerfile
  src/cephadm/box/bootstrap.sh
  src/cephadm/box/docker-compose.yml
  src/cephadm/box/docker/ceph/.bashrc
  src/cephadm/box/docker/ceph/Dockerfile
  src/cephadm/box/docker/ceph/locale.conf
  src/cephadm/box/get_ceph_image.sh
  src/cephadm/box/setup_loop.sh
  src/cephadm/box/setup_ssh.sh
  src/cephadm/box/start
  src/cephadm/cephadm
Labels: build/ops, ceph-volume, wip-sage3-testing, cephadm

#43625 qa/rgw: Fix vault token file access.
  qa/tasks/rgw.py
Labels: rgw, tests

#43657 crimson: osd meta read from/write to file.
  src/crimson/os/seastore/seastore.cc
  src/crimson/os/seastore/seastore.h
  src/crimson/osd/osd.cc
  src/crimson/osd/osd.h
  src/test/crimson/seastore/transaction_manager_test_state.h
Labels: tests, crimson

#43606 mgr/cephadm: suppress TLSV1_ALERT_DECRYPT_ERROR from cherrypy
  src/pybind/mgr/cephadm/agent.py
Labels: pybind, needs-review, cephadm, wip-adk-testing, wip-adk2-testing

#43654 mgr/cephadm: inform users if limit set for data devices is not met
  src/pybind/mgr/cephadm/services/osd.py
  src/pybind/mgr/cephadm/tests/test_cephadm.py
  src/pybind/mgr/orchestrator/module.py
Labels: pybind, orchestrator, cephadm, ready-to-merge, wip-adk-testing, wip-adk2-testing

#43743 mgr/nfs: handle subprocess exceptions
  src/pybind/mgr/mgr_module.py
  src/pybind/mgr/nfs/export.py
  src/pybind/mgr/nfs/tests/test_nfs.py
Labels: pybind, mgr, wip-sage4-testing, nfs

#43734 cephadm: --config-json overrides --config or --keyring args
  src/cephadm/cephadm
Labels: wip-sage4-testing, cephadm

#43676 doc/rados: storage-devices.rst rewrite
  doc/rados/configuration/storage-devices.rst
Labels: documentation, core
