Repository ceph/ceph, pull requests merged in 2021-04, with the labels that each got.

#40517 pacific: mgr/PyModule: put mgr_module_path before Py_GetPath()
  src/mgr/PyModule.cc
Labels: core, mgr

#40523 pacific: cmake: pass unparsed args to add_ceph_test()
  cmake/modules/AddCephTest.cmake
  src/test/common/CMakeLists.txt
  src/test/crimson/CMakeLists.txt
  src/test/crimson/seastore/CMakeLists.txt
  src/test/crimson/seastore/onode_tree/CMakeLists.txt
  src/test/crush/CMakeLists.txt
  src/test/erasure-code/CMakeLists.txt
Labels: build/ops, crimson, tests

#40532 crimson/seastore:fix scan_extents in journal.cc
  src/crimson/os/seastore/journal.cc
Labels: crimson

#40055 librgw/notifications: initialize kafka and amqp
  src/rgw/librgw.cc
Labels: bug fix, rgw

#40519 qa/tasks/vstart_runner.py: start max required mgrs
  qa/tasks/vstart_runner.py
Labels: bug fix, needs-qa, tests, vstart_runner, wip-kefu-testing

#40348 mgr/dashboard: improve telemetry opt-in reminder notification message
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/telemetry-notification/telemetry-notification.component.html
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/telemetry-notification/telemetry-notification.component.scss
  src/pybind/mgr/dashboard/frontend/src/styles/defaults/_bootstrap-defaults.scss
Labels: dashboard, pybind, skip-teuthology

#39761 stop.sh prevent forced kill
  src/stop.sh
Labels: common

#40451 tools/ceph-dencoder: build dencoders as plugins
  ceph.spec.in
  debian/ceph-common.install
  src/CMakeLists.txt
  src/test/CMakeLists.txt
  src/tools/ceph-dencoder/CMakeLists.txt
  src/tools/ceph-dencoder/ceph_dencoder.cc
  src/tools/ceph-dencoder/common_types.cc
  src/tools/ceph-dencoder/denc_registry.h
  src/tools/ceph-dencoder/mds_types.cc
  src/tools/ceph-dencoder/osd_types.cc
  src/tools/ceph-dencoder/rbd_types.cc
  src/tools/ceph-dencoder/rgw_types.cc
Labels: build/ops, needs-qa, tests, wip-kefu-testing

#40530 doc/releases: reorganize and cleanup
  admin/build-doc
  doc/_ext/ceph_releases.py
  doc/releases/archived-index.rst
  doc/releases/argonaut.rst
  doc/releases/bobtail.rst
  doc/releases/cuttlefish.rst
  doc/releases/dumpling.rst
  doc/releases/emperor.rst
  doc/releases/firefly.rst
  doc/releases/general.rst
  doc/releases/giant.rst
  doc/releases/hammer.rst
  doc/releases/index.rst
  doc/releases/infernalis.rst
  doc/releases/jewel.rst
  doc/releases/kraken.rst
  doc/releases/luminous.rst
  doc/releases/mimic.rst
  doc/releases/nautilus.rst
  doc/releases/octopus.rst
  doc/releases/pacific.rst
  doc/releases/releases.yml
Labels: build/ops, documentation

#40478 mgr/cephadm: don't have upgrade fail if "." in patch section of version
  src/pybind/mgr/cephadm/upgrade.py
Labels: cephadm, needs-review, pybind, wip-sage-testing

#40463 cephadm: specify addr on bootstrap's host add
  src/cephadm/cephadm
Labels: cephadm, wip-sage-testing

#40477 cephadm: fix failure when using --apply-spec and --shh-user
  src/cephadm/cephadm
Labels: cephadm, wip-sage-testing

#40397 mgr/dashboard: Improve descriptions in some parts of the dashboard
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-trash-move-modal/rbd-trash-move-modal.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-trash-purge-modal/rbd-trash-purge-modal.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-trash-restore-modal/rbd-trash-restore-modal.component.html
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/select/select.component.scss
  src/pybind/mgr/dashboard/services/access_control.py
  src/pybind/mgr/dashboard/tests/test_access_control.py
Labels: cleanup, dashboard, pybind

#40173 mgr/dashboard: Warn the user when creating/editing pools without application tags
  src/pybind/mgr/dashboard/frontend/src/app/ceph/pool/pool-form/pool-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/pool/pool-form/pool-form.component.scss
Labels: dashboard, pybind, skip-teuthology

#40541 os/bluestore: remove executable bit of source file
  src/os/bluestore/bluestore_common.h
Labels: bluestore, cleanup, core

#40542 rgw/rgw_admin: s/realm delete/realm rm/
  PendingReleaseNotes
  doc/radosgw/multisite.rst
  src/rgw/rgw_admin.cc
Labels: documentation, rgw

#40504 doc/security: add security section
  doc/index.rst
  doc/releases/index.rst
  doc/security/cves.rst
  doc/security/index.rst
  doc/security/process.rst
Labels: documentation

#40535 pybind/mgr/dashboard: move pytest into requirements.txt
  src/pybind/mgr/dashboard/requirements-lint.txt
  src/pybind/mgr/dashboard/requirements-test.txt
  src/pybind/mgr/dashboard/requirements.txt
Labels: dashboard, pybind

#40524 doc: document CephFS Snapshot Mirroring
  doc/cephfs/cephfs-mirroring.rst
  doc/cephfs/index.rst
  doc/releases/pacific.rst
Labels: cephfs, documentation

#40298 octopus: mon/ConfigMap: fix stray option leak
  src/mon/ConfigMap.h
  src/mon/ConfigMonitor.cc
Labels: core, mon, needs-qa, octopus-batch-1, wip-yuri2-testing

#39487 octopus: ceph.spec.in: Enable tcmalloc on IBM Power and Z
  ceph.spec.in
Labels: build/ops, needs-qa, octopus-batch-1, wip-yuri2-testing

#39716 octopus: mgr/rook: Add timezone info
  src/pybind/mgr/rook/module.py
  src/pybind/mgr/rook/rook_cluster.py
Labels: needs-qa, octopus-batch-1, orchestrator, wip-yuri2-testing

#39970 octopus: osd/OSDMap: An empty bucket or OSD is not an error
  src/osd/OSDMap.cc
  src/test/osd/TestOSDMap.cc
Labels: bug fix, core, needs-qa, octopus-batch-1, tests, wip-yuri2-testing

#40013 octopus: osd: add osd_fast_shutdown_notify_mon option (default false)
  PendingReleaseNotes
  src/common/legacy_config_opts.h
  src/common/options.cc
  src/osd/OSD.cc
Labels: core, needs-qa, octopus-batch-1, wip-yuri2-testing

#40274 octopus: osd: propagate base pool application_metadata to tiers
  qa/workunits/cephtool/test.sh
  src/mon/OSDMonitor.cc
  src/osd/OSDMap.cc
  src/osd/OSDMap.h
Labels: core, needs-qa, octopus-batch-1, wip-yuri2-testing

#40275 octopus: debian/ceph-common.postinst: do not chown cephadm log dirs
  debian/ceph-common.postinst
Labels: build/ops, cephadm, needs-qa, octopus-batch-1, wip-yuri2-testing

#40276 octopus: mon/OSDMonitor: fix safety/idempotency of {set,rm}-device-class
  src/mon/OSDMonitor.cc
Labels: core, mon, needs-qa, octopus-batch-1, wip-yuri2-testing

#40277 octopus: osd: fix potential null pointer dereference when sending ping
  src/osd/OSD.cc
Labels: core, needs-qa, octopus-batch-1, wip-yuri2-testing

#40278 octopus: test: cancelling both noscrub *and* nodeep-scrub
  qa/standalone/scrub/osd-scrub-test.sh
Labels: core, needs-qa, octopus-batch-1, tests, wip-yuri2-testing

#40127 octopus: pybind/mgr/balancer/module.py: assign weight-sets to all buckets before balancing
  src/pybind/mgr/balancer/module.py
Labels: needs-qa, octopus-batch-1, pybind, wip-yuri2-testing

#40548 doc: tweak .admonition.important and command line block formatting tweaks
  doc/_themes/ceph/static/ceph.css_t
  doc/rbd/iscsi-target-ansible.rst
  doc/rbd/iscsi-target-cli-manual-install.rst
  doc/rbd/iscsi-target-cli.rst
Labels: documentation, rbd

#39092 rgw: Fixes and Improvements for Datalog
  src/cls/fifo/cls_fifo.cc
  src/cls/log/cls_log_client.cc
  src/cls/log/cls_log_client.h
  src/cls/log/cls_log_types.h
  src/common/options.cc
  src/rgw/CMakeLists.txt
  src/rgw/cls_fifo_legacy.cc
  src/rgw/cls_fifo_legacy.h
  src/rgw/rgw_admin.cc
  src/rgw/rgw_datalog.cc
  src/rgw/rgw_datalog.h
  src/rgw/rgw_log_backing.cc
  src/rgw/rgw_log_backing.h
  src/rgw/rgw_service.cc
  src/rgw/rgw_tools.cc
  src/rgw/rgw_tools.h
  src/rgw/rgw_trim_datalog.cc
  src/test/cli/radosgw-admin/help.t
  src/test/rgw/CMakeLists.txt
  src/test/rgw/test_cls_fifo_legacy.cc
  src/test/rgw/test_log_backing.cc
Labels: build/ops, common, needs-qa, rgw, tests

#40454 doc/cephadm: rewrite osd.rst "Remove an OSD"
  doc/cephadm/osd.rst
Labels: cephadm, documentation

#40540 stop.sh: restructure stop logic
  src/stop.sh
Labels: cleanup

#40533 rgw/rgw_client_io.h: fix a typo
  src/rgw/rgw_client_io.h
Labels: cleanup, rgw

#40564 crimson/osd: cleanups preparing for InternalClientRequest infrastructure.
  src/crimson/common/errorator.h
  src/crimson/osd/object_context.h
  src/crimson/osd/ops_executer.h
  src/crimson/osd/osd_operations/osdop_params.h
  src/crimson/osd/pg.cc
  src/crimson/osd/pg_backend.h
  src/crimson/osd/pg_interval_interrupt_condition.cc
  src/crimson/osd/pg_interval_interrupt_condition.h
Labels: crimson

#40565 crimson/osd: include headers at where they are used
  src/crimson/osd/osd_operations/peering_event.cc
  src/crimson/osd/pg.h
Labels: cleanup, crimson

#40456 cmake: bump the required boost version to 1.73
  CMakeLists.txt
Labels: bug fix, build/ops, needs-qa, wip-kefu-testing

#40544 pacific: cephadm: april batch 1
  src/cephadm/cephadm
  src/pybind/mgr/cephadm/upgrade.py
  src/pybind/mgr/orchestrator/module.py
Labels: cephadm, orchestrator, pybind, wip-sage2-testing

#40512 pacific: qa/suites/rados/cephadm: stop testing on broken focal kubic podman
  qa/suites/rados/cephadm/smoke/distro/ubuntu_20.04_kubic_stable.yaml
  qa/suites/rados/cephadm/smoke/distro/ubuntu_20.04_kubic_testing.yaml
  qa/suites/rados/cephadm/workunits/0-distro/ubuntu_20.04_kubic_stable.yaml
  qa/suites/rados/cephadm/workunits/0-distro/ubuntu_20.04_kubic_testing.yaml
Labels: cephadm, core, wip-sage2-testing

#40531 doc: Add mclock configuration reference documentation
  doc/rados/configuration/index.rst
  doc/rados/configuration/mclock-config-ref.rst
  doc/rados/configuration/osd-config-ref.rst
Labels: core, documentation

#40568 pacific: cmake: use --smp 1 --memory 256M to crimson tests
  src/test/crimson/CMakeLists.txt
  src/test/crimson/seastore/CMakeLists.txt
Labels: bug fix, build/ops, crimson, tests

#40435 common/pick_address: Allow binding on loopback iface
  src/common/ipaddr.cc
  src/common/options.cc
  src/common/pick_address.cc
  src/common/pick_address.h
  src/include/ipaddr.h
  src/test/test_ipaddr.cc
Labels: common, needs-review, tests

#40489 pacific: mgr/dashboard: Remove username, password fields from Manager Modules/dashboard,influx
  src/pybind/mgr/dashboard/module.py
  src/pybind/mgr/dashboard/services/access_control.py
  src/pybind/mgr/dashboard/tests/test_access_control.py
Labels: dashboard, pybind, wip-sage2-testing

#39488 pacific: ceph.spec.in: Enable tcmalloc on IBM Power and Z
  ceph.spec.in
Labels: DNM, build/ops, pacific-batch-1, wip-sage2-testing

#40574 install-deps: Use dnf config-manager
  install-deps.sh
Labels: build/ops

#40556 mon/ConfigMonitor: do not indent 'config dump' output
  src/mon/ConfigMonitor.cc
Labels: core, mon, needs-qa, wip-kefu-testing

#40538 msg/msg_types: let ceph_entity_name::parse() accept string_view
  src/msg/msg_types.cc
  src/msg/msg_types.h
  src/tools/rados/rados.cc
Labels: cleanup, core, needs-qa, wip-kefu-testing

#40498 cephadm: fix a typo
  src/pybind/mgr/cephadm/serve.py
Labels: cephadm, pybind, wip-kefu-testing

#40168 mon: Modifying trim logic to change paxos_service_trim_max dynamically
  doc/rados/configuration/mon-config-ref.rst
  src/common/options.cc
  src/mon/PaxosService.cc
Labels: cephadm, common, core, documentation, mon, wip-kefu-testing

#40488 mgr: fix the desc typo for mds PyCFunction methods
  src/mgr/BaseMgrModule.cc
Labels: core, mgr, needs-qa, wip-kefu-testing

#40457 crush/CrushLocation: do not print logging message in constructor
  src/crush/CrushLocation.cc
Labels: bug fix, core, needs-qa, wip-kefu-testing

#40444 os/bluestore: ensure fsck repair transactions succeed
  src/os/bluestore/BlueStore.cc
Labels: bluestore, core, needs-qa, wip-kefu-testing

#40518 osd: allow osd_client_message_size throttle set to zero
  src/osd/OSD.cc
Labels: core, needs-qa, wip-kefu-testing

#38258 monmaptool: Don't call set_port on an invalid address
  src/msg/msg_types.cc
  src/msg/msg_types.h
  src/tools/monmaptool.cc
Labels: bug fix, core, needs-qa, tools, wip-kefu-testing

#38500 crush/CrushCompiler: print weight with uniform precision
  qa/standalone/crush/crush-choose-args.sh
  src/crush/CrushCompiler.cc
  src/test/cli/crushtool/add-bucket.t
  src/test/cli/crushtool/add-item.t
  src/test/cli/crushtool/arg-order-checks.t
  src/test/cli/crushtool/bad-mappings.crushmap.txt
  src/test/cli/crushtool/build.t
  src/test/cli/crushtool/check-overlapped-rules.crushmap.txt
  src/test/cli/crushtool/choose-args.crush
  src/test/cli/crushtool/device-class.crush
  src/test/cli/crushtool/missing-bucket.crushmap.txt
  src/test/cli/crushtool/multitype.after
  src/test/cli/crushtool/multitype.before
  src/test/cli/crushtool/need_tree_order.crush
  src/test/cli/crushtool/rules.t
  src/test/cli/crushtool/rules.txt
  src/test/cli/crushtool/set-choose.crushmap.txt
  src/test/cli/crushtool/show-choose-tries.txt
  src/test/cli/crushtool/simple.template.adj.one
  src/test/cli/crushtool/simple.template.adj.three
  src/test/cli/crushtool/simple.template.adj.two
  src/test/cli/crushtool/simple.template.five
  src/test/cli/crushtool/simple.template.four
  src/test/cli/crushtool/simple.template.multitree
  src/test/cli/crushtool/simple.template.multitree.reweighted
  src/test/cli/crushtool/simple.template.one
  src/test/cli/crushtool/simple.template.three
  src/test/cli/crushtool/simple.template.two
  src/test/cli/crushtool/straw2.txt
  src/test/cli/crushtool/test-map-firstn-indep.txt
  src/test/cli/crushtool/tree.template.final
  src/test/cli/osdmaptool/create-print.t
  src/test/cli/osdmaptool/create-racks.t
  src/test/crush/crush-choose-args-expected-one-more-0.txt
  src/test/crush/crush-choose-args-expected-one-more-3.txt
  src/test/crush/crush_weights.sh
Labels: bug fix, core, needs-qa, tests, wip-kefu-testing

#40555 cephadm: ignore apparmor if profiles file is empty
  src/cephadm/cephadm
Labels: cephadm, wip-kefu-testing

#40316 pybind/mgr/volumes: avoid deadlock in ceph-mgr Finisher thread
  qa/suites/fs/functional/tasks/snap-schedule.yaml
  qa/suites/fs/volumes/tasks/volumes/overrides.yaml
  src/mgr/DaemonServer.cc
  src/pybind/mgr/mgr_util.py
  src/pybind/mgr/volumes/fs/async_cloner.py
  src/pybind/mgr/volumes/fs/async_job.py
  src/pybind/mgr/volumes/fs/volume.py
Labels: cephfs, core, mgr, needs-review, pybind, wip-kefu-testing, wip-pdonnell-testing

#40124 pybind/ceph_argparse: print --format flag name in help descs
  src/pybind/ceph_argparse.py
Labels: pybind, wip-kefu-testing

#40500 doc/cephadm: remove keepalived_user from haproxy docs
  doc/cephadm/rgw.rst
Labels: cephadm, documentation

#40579 pybind/mgr/mgr_util: fix typing annotation
  src/pybind/mgr/mgr_util.py
Labels: mgr, pybind, wip-kefu-testing

#39738 common: enable log to journald
  src/common/CMakeLists.txt
  src/common/Journald.cc
  src/common/Journald.h
  src/common/ceph_context.cc
  src/common/options.cc
  src/crimson/CMakeLists.txt
  src/log/Log.cc
  src/log/Log.h
  src/mon/LogMonitor.cc
  src/mon/LogMonitor.h
  src/test/CMakeLists.txt
  src/test/bench_journald_logger.cc
  src/test/common/CMakeLists.txt
  src/test/common/test_journald_logger.cc
Labels: build/ops, common, core, crimson, mon, tests

#40585 rgw/multisite: handle case when empty marker is provided
  src/rgw/rgw_log_backing.h
Labels: bug fix, rgw

#40584 rpm: make ceph-common own the new denc directory
  ceph.spec.in
Labels: bug fix, build/ops

#39883 nautilus: os/bluestore/BlueFS: use iterator_impl::copy instead of bufferlist::c_str() to avoid bufferlist rebuild
  src/os/bluestore/BlueFS.cc
Labels: bluestore, nautilus-batch-1, needs-qa, wip-yuri7-testing

#39923 nautilus: mgr/telemetry: check if 'ident' channel is active
  src/pybind/mgr/telemetry/module.py
Labels: nautilus-batch-1, needs-qa, pybind, telemetry, wip-yuri7-testing

#39942 nautilus: src/global/signal_handler.h: fix preprocessor logic for alpine
  src/global/signal_handler.h
Labels: common, nautilus-batch-1, needs-qa, wip-yuri7-testing

#40014 nautilus: osd: add osd_fast_shutdown_notify_mon option (default false)
  PendingReleaseNotes
  src/common/legacy_config_opts.h
  src/common/options.cc
  src/osd/OSD.cc
Labels: common, core, nautilus-batch-1, needs-qa, wip-yuri7-testing

#40047 nautilus: mgr/ActivePyModules.cc: always release GIL before attempting to acquire a lock
  src/mgr/ActivePyModules.cc
  src/mgr/ActivePyModules.h
  src/mgr/CMakeLists.txt
  src/mgr/ClusterState.h
  src/mgr/DaemonHealthMetricCollector.cc
  src/mgr/DaemonHealthMetricCollector.h
  src/mgr/DaemonKey.cc
  src/mgr/DaemonKey.h
  src/mgr/DaemonServer.cc
  src/mgr/DaemonState.cc
  src/mgr/DaemonState.h
  src/mgr/Mgr.cc
Labels: core, mgr, nautilus-batch-1, needs-qa, wip-yuri7-testing

#40283 nautilus: ceph.spec.in: Enable tcmalloc on IBM Power and Z
  ceph.spec.in
Labels: build/ops, nautilus-batch-1, needs-qa, wip-yuri7-testing

#40128 nautilus: pybind/mgr/balancer/module.py: assign weight-sets to all buckets before balancing
  src/pybind/mgr/balancer/module.py
Labels: nautilus-batch-1, needs-qa, pybind, wip-yuri7-testing

#40299 nautilus: mon/ConfigMap: fix stray option leak
  src/mon/ConfigMap.h
  src/mon/ConfigMonitor.cc
Labels: core, mon, nautilus-batch-1, needs-qa, wip-yuri7-testing

#40448 pacific: rgw: add latency to the request summary of an op
  src/rgw/rgw_asio_frontend.cc
  src/rgw/rgw_civetweb_frontend.cc
  src/rgw/rgw_loadgen_process.cc
  src/rgw/rgw_process.cc
  src/rgw/rgw_process.h
Labels: rgw

#40508 mgr/cephadm: fix orch host add with multiple labels and no addr
  doc/cephadm/host-management.rst
  src/pybind/mgr/cephadm/serve.py
  src/pybind/mgr/orchestrator/module.py
Labels: cephadm, documentation, orchestrator, pybind, wip-sage-testing

#40459 mgr/cephadm: don't cleanup the daemon keyring on failed redeploy
  src/pybind/mgr/cephadm/serve.py
Labels: cephadm, pybind, wip-sage-testing

#40025 cephadm: use split cgroup strategy for podman
  src/cephadm/cephadm
  src/cephadm/tests/test_cephadm.py
Labels: cephadm, wip-sage-testing

#40598 src/rgw: Issue #50138 fix
  src/test/rgw/bucket_notification/test_bn.py
Labels: rgw, tests

#40599 rpm: add missing % in %dir directive
  ceph.spec.in
Labels: build/ops, wip-sage3-testing

#40461 pacific: qa/tasks: Add wait_for_clean() check prior to initiating scrubbing.
  qa/tasks/ceph.py
Labels: needs-qa, pacific-batch-1, tests, wip-yuri4-testing

#40474 pacific: mgr/dashboard: fix broken feature toggles
  src/pybind/mgr/dashboard/plugins/feature_toggles.py
  src/pybind/mgr/dashboard/tests/test_feature_toggles.py
Labels: bug fix, dashboard, needs-qa, pacific-batch-1, pybind, wip-yuri4-testing

#40494 pacific: mgr/dashboard: Device health status is not getting listed under hosts section
  src/pybind/mgr/dashboard/services/ceph_service.py
  src/pybind/mgr/dashboard/tests/test_ceph_service.py
Labels: bug fix, dashboard, needs-qa, pacific-batch-1, pybind, wip-yuri4-testing

#40591 tools/ceph-dencoder: link against libtcmalloc
  src/tools/ceph-dencoder/CMakeLists.txt
  src/tools/ceph-dencoder/ceph_dencoder.cc
Labels: bug fix, tools, wip-kefu-testing

#40475 qa/tests: replaced ubuntu_latest.yaml with ubuntu 20.04
  qa/distros/supported-all-distro/ubuntu_latest.yaml
  qa/distros/supported-random-distro$/ubuntu_latest.yaml
Labels: needs-qa, wip-kefu-testing

#40572 osd/PeeringState: fix acting_set_writeable min_size check
  src/osd/PeeringState.cc
  src/osd/PeeringState.h
Labels: core, wip-deepika-testing, wip-kefu-testing

#40578 cmake: require libpmem 1.7 and cleanups
  cmake/modules/Findpmem.cmake
  src/CMakeLists.txt
Labels: build/ops, cleanup, needs-qa, wip-kefu-testing

#40582 src/common/buffer.cc: change cast to static_cast
  src/common/buffer.cc
Labels: common, wip-kefu-testing

#40587 src: use entity_addr_t::parse(string_view) when possible
  src/ceph_mon.cc
  src/common/cmdparse.cc
  src/common/options.cc
  src/common/pick_address.cc
  src/librados/RadosClient.cc
  src/mon/MonMap.cc
  src/mon/Monitor.cc
  src/mon/MonmapMonitor.cc
  src/mon/OSDMonitor.cc
  src/msg/msg_types.cc
  src/msg/msg_types.h
  src/tools/rbd/action/Kernel.cc
Labels: cleanup, common, core, mon, needs-review, rbd

#40615 doc/_themes: fix the styling of section header
  doc/_themes/ceph/static/ceph.css_t
Labels: documentation

#40621 nautilus: test/TestOSDScrub: fix mktime() error
  src/test/osd/TestOSDScrub.cc
Labels: bug fix, tests

#40616 mgr/dashboard: debug nodeenv hangs
  make-dist
  src/pybind/mgr/dashboard/CMakeLists.txt
Labels: build/ops, dashboard, pybind

#40613 doc/cephfs/nfs: add user id, fs name and key to FSAL block
  doc/cephfs/fs-nfs-exports.rst
Labels: cephfs, documentation, nfs

#40620 cephfs-top: fix typo in help
  src/tools/cephfs/top/cephfs-top
Labels: cephfs

#40610 nautilus: mgr/dashboard: python 2: fix error when non-ASCII password
  src/pybind/mgr/dashboard/services/access_control.py
  src/pybind/mgr/dashboard/tests/test_access_control.py
Labels: bug fix, dashboard, skip-teuthology

#40559 rgw: Backport of datalog improvements to Pacific
  src/cls/fifo/cls_fifo.cc
  src/cls/log/cls_log_client.cc
  src/cls/log/cls_log_client.h
  src/cls/log/cls_log_types.h
  src/common/options.cc
  src/rgw/CMakeLists.txt
  src/rgw/cls_fifo_legacy.cc
  src/rgw/cls_fifo_legacy.h
  src/rgw/rgw_admin.cc
  src/rgw/rgw_datalog.cc
  src/rgw/rgw_datalog.h
  src/rgw/rgw_log_backing.cc
  src/rgw/rgw_log_backing.h
  src/rgw/rgw_service.cc
  src/rgw/rgw_tools.cc
  src/rgw/rgw_tools.h
  src/rgw/rgw_trim_datalog.cc
  src/test/cli/radosgw-admin/help.t
  src/test/rgw/CMakeLists.txt
  src/test/rgw/test_cls_fifo_legacy.cc
  src/test/rgw/test_log_backing.cc
Labels: build/ops, common, rgw, tests

#40113 rgw/notification: set correct type to "post" and "copy" notifications
  src/rgw/rgw_op.cc
Labels: bug fix, rgw, wip-yuval-testing

#39219 octopus: mgr: update mon metadata when monmap is updated
  src/mgr/Mgr.cc
Labels: core, mgr, needs-qa, octopus-batch-1, wip-yuri-testing

#40547 mgr/dashboard: decouple unit tests from build artifacts
  src/pybind/mgr/dashboard/__init__.py
  src/pybind/mgr/dashboard/controllers/iscsi.py
  src/pybind/mgr/dashboard/controllers/nfsganesha.py
  src/pybind/mgr/dashboard/controllers/rbd.py
  src/pybind/mgr/dashboard/controllers/rbd_mirroring.py
  src/pybind/mgr/dashboard/exceptions.py
  src/pybind/mgr/dashboard/module.py
  src/pybind/mgr/dashboard/services/ceph_service.py
  src/pybind/mgr/dashboard/services/cephfs.py
  src/pybind/mgr/dashboard/services/exception.py
  src/pybind/mgr/dashboard/services/rbd.py
  src/pybind/mgr/dashboard/tests/test_exceptions.py
Labels: cleanup, dashboard, tests

#40356 nautilus: rgw : catch non int exception
  src/rgw/rgw_auth.cc
Labels: nautilus-batch-1, needs-qa, wip-yuri8-testing

#39745 nautilus: rgw: catch non int exception
  src/rgw/rgw_auth.cc
Labels: nautilus-batch-1, rgw

#40501 client: fix the opened inodes counter increasing
  src/client/Inode.cc
Labels: bug fix, cephfs, needs-qa, wip-pdonnell-testing

#40469 qa: check mounts attribute in ctx
  qa/tasks/daemonwatchdog.py
Labels: cephfs, core, needs-qa, tests, wip-pdonnell-testing

#40468 mds/metrics: add one whitespace between metric type the metainfo
  src/include/cephfs/metrics/Types.h
Labels: cephfs, cleanup, needs-qa, wip-pdonnell-testing

#40465 test: disable mgr/mirroring for `test_mirroring_init_failure_with_recovery` test
  qa/tasks/cephfs/test_mirroring.py
Labels: cephfs, needs-qa, tests, wip-pdonnell-testing

#40460 client: only check pool permissions for regular files
  src/client/Client.cc
Labels: cephfs, needs-qa, wip-pdonnell-testing

#40418 qa: fix ino_release_cb racy behavior
  qa/suites/fs/bugs/client_trim_caps/tasks/trim-i24137.yaml
  qa/suites/fs/libcephfs/tasks/ino_release_cb.yaml
  src/test/fs/test_ino_release_cb.cc
Labels: cephfs, needs-qa, tests, wip-pdonnell-testing

#39939 cephfs: minor ceph-dokan improvements
  doc/cephfs/ceph-dokan.rst
  src/dokan/ceph_dokan.cc
  src/dokan/ceph_dokan.h
  src/dokan/options.cc
Labels: cephfs, documentation, needs-qa, wip-pdonnell-testing

#40553 RGW Zipper - Make sure bucket list progresses
  src/rgw/rgw_sal_rados.cc
Labels: bug fix, needs-qa, rgw, wip-eric-testing-1

#40597 cephadm: pass '-i' to docker|podman run for shell|enter
  src/cephadm/cephadm
Labels: cephadm, wip-sage3-testing

#40602 qa/tasks/cephadm: add apply() method/task
  qa/suites/rados/cephadm/smoke-roleless/2-services/rgw.yaml
  qa/tasks/cephadm.py
Labels: cephadm, core, tests, wip-sage3-testing

#40190 rgw: silence some unused variable warnings
  src/rgw/rgw_rest_s3.cc
Labels: cleanup, rgw

#40603 qa/tasks/ceph.conf: shorten cephx TTL for testing
  qa/tasks/ceph.conf.template
  qa/tasks/cephadm.conf
Labels: tests, wip-sage3-testing

#40609 common/buffer.cc: use shift_round_up() when appropriate
  src/common/buffer.cc
Labels: cleanup, common, wip-kefu-testing

#40607 common: disable journald logging backend if struct msghdr is not found
  cmake/modules/CephChecks.cmake
  src/common/CMakeLists.txt
  src/common/Journald.h
  src/include/config-h.in.cmake
  src/test/CMakeLists.txt
  src/test/common/CMakeLists.txt
Labels: build/ops, common, needs-qa, tests, wip-kefu-testing

#40583 tools/cephfs_mirror/PeerReplayer.cc: add missing include
  src/tools/cephfs_mirror/PeerReplayer.cc
Labels: cephfs, needs-qa, wip-kefu-testing, wip-pdonnell-testing

#40487 install-deps.sh: install boost 1.75
  CMakeLists.txt
  cmake/modules/BuildBoost.cmake
  install-deps.sh
  make-dist
Labels: build/ops, needs-qa, wip-kefu-testing

#40604 qa/distros/podman: preserve registries.conf
  qa/distros/podman/centos_8.2_kubic_stable.yaml
  qa/distros/podman/rhel_8.3_kubic_stable.yaml
  qa/distros/podman/ubuntu_18.04_kubic_stable.yaml
  qa/distros/podman/ubuntu_20.04_kubic_stable.yaml
  qa/distros/podman/ubuntu_20.04_kubic_testing.yaml
Labels: wip-kefu-testing

#40637 rgw: fix lambda capture of a non-variable
  src/rgw/rgw_log_backing.cc
Labels: rgw

#40586 pacific: mgr/dashboard: Unable to login to ceph dashboard until clearing cookies manually
  src/pybind/mgr/dashboard/controllers/__init__.py
  src/pybind/mgr/dashboard/controllers/auth.py
  src/pybind/mgr/dashboard/controllers/saml2.py
Labels: bug fix, dashboard, needs-review, pybind

#40398 pacific: mgr/dashboard: Fix for broken User management role cloning
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/role.service.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/role.service.ts
Labels: bug fix, dashboard, pybind, skip-teuthology

#40624 mgr/dashboard: Revoke read-only user's access to Manager modules
  src/pybind/mgr/dashboard/services/access_control.py
  src/pybind/mgr/dashboard/tests/test_access_control.py
Labels: dashboard, pybind

#39907 ceph-volume: `get_first_lv()` refactor
  src/ceph-volume/ceph_volume/api/lvm.py
  src/ceph-volume/ceph_volume/devices/lvm/prepare.py
  src/ceph-volume/ceph_volume/devices/lvm/zap.py
  src/ceph-volume/ceph_volume/devices/simple/scan.py
  src/ceph-volume/ceph_volume/tests/api/test_lvm.py
  src/ceph-volume/ceph_volume/tests/conftest.py
  src/ceph-volume/ceph_volume/tests/devices/lvm/test_activate.py
  src/ceph-volume/ceph_volume/tests/devices/lvm/test_listing.py
  src/ceph-volume/ceph_volume/tests/devices/lvm/test_prepare.py
  src/ceph-volume/ceph_volume/util/device.py
Labels: ceph-volume

#40601 qa/rgw: move ignore-pg-availability.yaml out of suites/rgw
  qa/rgw/ignore-pg-availability.yaml
  qa/suites/rgw/crypt/ignore-pg-availability.yaml
  qa/suites/rgw/multifs/ignore-pg-availability.yaml
  qa/suites/rgw/multisite/ignore-pg-availability.yaml
  qa/suites/rgw/sts/.qa
  qa/suites/rgw/sts/ignore-pg-availability.yaml
  qa/suites/rgw/verify/ignore-pg-availability.yaml
Labels: needs-qa, rgw, tests, wip-cbodley-testing

#40581 os/bluestore/BlueFS: do not _flush_range deleted files
  src/os/bluestore/BlueFS.cc
Labels: bluestore, bug fix, core, needs-review

#40639 rgw/multisite: return correct error code when op fails
  src/rgw/rgw_bucket.cc
Labels: bug fix, rgw

#40424 octopus: common/ipaddr: skip loopback interfaces named 'lo' and test it
  src/common/ipaddr.cc
  src/test/test_ipaddr.cc
Labels: common, needs-qa, octopus-batch-1, wip-yuri2-testing

#40441 octopus: os/bluestore: Make Onode::put/get resiliant to split_cache
  src/os/bluestore/BlueStore.cc
Labels: bluestore, needs-qa, octopus-batch-1, wip-yuri2-testing

#40476 octopus: pybind/ceph_argparse.py: use a safe value for timeout
  src/pybind/ceph_argparse.py
Labels: core, needs-qa, octopus-batch-1, wip-yuri2-testing

#40570 doc/rados: rewrite mclock-config-ref
  doc/rados/configuration/mclock-config-ref.rst
Labels: core, documentation

#39749 rgw: objectlock: improve client error messages
  src/rgw/rgw_op.cc
Labels: cleanup, needs-qa, rgw, wip-eric-testing-2

#38737 rgw: keep underscore in metatdata key
  src/rgw/rgw_asio_client.cc
  src/rgw/rgw_auth_s3.cc
  src/rgw/rgw_common.cc
Labels: bug fix, needs-qa, rgw, wip-eric-testing-2

#40392 octopus: common/options: bluefs_buffered_io=true by default
  src/common/options.cc
Labels: bluestore, common, core, needs-qa, octopus-batch-1, wip-yuri2-testing

#40632 Warning Cleanup and Clang Compile Fix
  src/librbd/managed_lock/BreakRequest.cc
  src/rgw/CMakeLists.txt
  src/rgw/rgw_crypt.cc
  src/rgw/rgw_datalog.cc
  src/rgw/rgw_file.cc
  src/rgw/rgw_rest_s3.cc
  src/test/librados/service.cc
  src/test/librados_test_stub/LibradosTestStub.cc
  src/test/osd/TestOSDMap.cc
Labels: Clang, build/ops, cleanup, core, rbd, rgw, tests

#40636 qa/tasks/mgr: skip test_diskprediction_local on python>=3.8
  qa/suites/rados/mgr/tasks/module_selftest.yaml
  qa/tasks/mgr/test_module_selftest.py
  src/pybind/mgr/selftest/module.py
Labels: bug fix, core, needs-review, pybind, tests

#40611 qa: retry cloning the ceph.git
  qa/workunits/fs/snaps/snaptest-git-ceph.sh
Labels: cephfs, needs-qa, tests, wip-pdonnell-testing

#40427 mds: skip the buffer in UnknownPayload::decode()
  src/include/cephfs/metrics/Types.h
Labels: cephfs, needs-qa, wip-pdonnell-testing

#40204 client: cleanup _preadv_pwritev_locked()
  src/client/Client.cc
  src/client/Client.h
Labels: cephfs, cleanup, needs-qa, wip-pdonnell-testing

#40647 crimson/osd: fix broken debug in Notify::send_completion().
  src/crimson/osd/watch.cc
Labels: crimson

#40622 doc: update some docs still referring to make
  doc/dev/developer_guide/basic-workflow.rst
  doc/dev/developer_guide/essentials.rst
  doc/dev/quick_guide.rst
Labels: documentation

#40625 rgw/test: Changing force-branch to master
  qa/suites/rgw/notifications/tasks/test_kafka.yaml
  qa/tasks/kafka.py
Labels: needs-qa, rgw, tests

#40342 qa: snap_schedule test debugging
  qa/tasks/cephfs/test_snap_schedules.py
  src/pybind/mgr/snap_schedule/fs/schedule_client.py
  src/pybind/mgr/snap_schedule/module.py
Labels: cephfs, pybind, tests, wip-pdonnell-testing

#40596 cmake: remove created directory when "clean" target is run
  src/pybind/mgr/dashboard/CMakeLists.txt
Labels: build/ops, dashboard, pybind

#40590 nautilus: mgr/dashboard: Fix for alert notification message being undefined
  src/pybind/mgr/dashboard/frontend/src/app/shared/models/prometheus-alerts.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/services/prometheus-alert-formatter.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/services/prometheus-alert-formatter.ts
  src/pybind/mgr/dashboard/frontend/src/testing/unit-test-helper.ts
Labels: bug fix, dashboard, pybind, skip-teuthology

#40588 pacific: mgr/dashboard: Fix for alert notification message being undefined
  src/pybind/mgr/dashboard/frontend/src/app/shared/models/prometheus-alerts.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/services/prometheus-alert-formatter.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/services/prometheus-alert-formatter.ts
  src/pybind/mgr/dashboard/frontend/src/testing/unit-test-helper.ts
Labels: dashboard, pybind

#40641 packaging: require ceph-common for immutable object cache daemon
  ceph.spec.in
  debian/control
Labels: bug fix, build/ops, needs-qa, rbd, wip-kefu-testing

#40654 crimson/osd: fix the lifetime of Notify during timeouts
  src/crimson/osd/ops_executer.cc
  src/crimson/osd/watch.cc
  src/crimson/osd/watch.h
Labels: crimson

#40467 doc: detail `fs snapshot mirror daemon status` mgr command
  doc/dev/cephfs-mirroring.rst
Labels: cephfs, documentation

#40617 install-deps.sh: install libpmem libraries if WITH_PMEM is set
  install-deps.sh
  run-make-check.sh
Labels: build/ops

#40638 mds: log and dentry code minor fixes
  src/mds/CDentry.cc
  src/mds/MDCache.cc
Labels: cephfs, needs-qa, wip-pdonnell-testing

#40633 mds: ensure export_pin rank < max_mds
  src/mds/Server.cc
Labels: cephfs, needs-qa, wip-pdonnell-testing

#40520 mds/scrub: background scrub error fixes
  src/mds/CInode.cc
Labels: cephfs, needs-qa, wip-pdonnell-testing
