Repository ceph/ceph, pull requests merged in 2021-09, with the labels that each got.

#43003 crimson: osd: do not capture std::error_code by reference
  src/crimson/osd/pg.cc
Labels: crimson

#43004 vstart: make "--crimson" imply "--nodaemon"
  doc/dev/crimson/crimson.rst
  src/vstart.sh
Labels: documentation, crimson

#42995 doc/dashboard: Fix kcli pool and network requirements documentation
  doc/dev/developer_guide/dash-devel.rst
Labels: documentation, dashboard

#42974 pacific: mgr/dashboard: don't notify for suppressed alerts
  src/pybind/mgr/dashboard/frontend/src/app/shared/services/prometheus-alert.service.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/services/prometheus-alert.service.ts
Labels: pybind, dashboard, backport:no-conflicts

#42892 octopus: mgr/dashboard: stats=false not working when listing buckets
  qa/tasks/mgr/dashboard/test_rgw.py
  src/pybind/mgr/dashboard/controllers/rgw.py
Labels: dashboard

#42889 pacific: mgr/dashboard: stats=false not working when listing buckets
  qa/tasks/mgr/dashboard/test_rgw.py
  src/pybind/mgr/dashboard/controllers/rgw.py
Labels: tests, pybind, dashboard, backport:no-conflicts

#42583 mgr/dashboard: Create OSDs section in cluster creation wizard
  src/pybind/mgr/dashboard/ci/cephadm/bootstrap-cluster.sh
  src/pybind/mgr/dashboard/frontend/cypress/integration/cluster/create-cluster.po.ts
  src/pybind/mgr/dashboard/frontend/cypress/integration/orchestrator/workflow/02-create-cluster-add-host.e2e-spec.ts
  src/pybind/mgr/dashboard/frontend/cypress/integration/orchestrator/workflow/03-create-cluster-create-osds.e2e-spec.ts
  src/pybind/mgr/dashboard/frontend/cypress/integration/orchestrator/workflow/03-create-cluster-review.e2e-spec.ts
  src/pybind/mgr/dashboard/frontend/cypress/integration/orchestrator/workflow/04-cluster-check.e2e-spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/create-cluster/create-cluster-review.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/create-cluster/create-cluster-review.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/create-cluster/create-cluster.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/create-cluster/create-cluster.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/create-cluster/create-cluster.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/create-cluster/create-cluster.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/hosts/host-form/host-form.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/hosts/hosts.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/inventory/inventory-devices/inventory-devices.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/inventory/inventory-devices/inventory-devices.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/inventory/inventory-devices/inventory-devices.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/inventory/inventory.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/osd/osd-devices-selection-modal/osd-devices-selection-modal.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/osd/osd-devices-selection-modal/osd-devices-selection-modal.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/osd/osd-form/osd-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/osd/osd-form/osd-form.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/services/wizard-steps.service.ts
Labels: pybind, dashboard

#42534 pacific: cephadm: use quay, not docker
  src/cephadm/cephadm
  src/pybind/mgr/cephadm/module.py
Labels: needs-qa, pybind, wip-yuri5-testing, cephadm

#42948 rgw: fix document
  doc/man/8/radosgw-admin.rst
  src/rgw/rgw_admin.cc
  src/test/cli/radosgw-admin/help.t
Labels: documentation, rgw, tests

#42942 doc/mgr: add progress module documentation
  doc/mgr/index.rst
  doc/mgr/progress.rst
Labels: documentation, mgr

#42935 pacific: mds: add debugging when rejecting mksnap with EPERM
  src/mds/Server.cc
Labels: cephfs, needs-qa, wip-yuri8-testing, pacific-batch-1

#42938 pacific: mds: MDCache.cc:5319 FAILED ceph_assert(rejoin_ack_gather.count(mds->get_nodeid()))
  src/mds/MDCache.cc
Labels: cephfs, needs-qa, wip-yuri8-testing, pacific-batch-1

#42939 pacific: mds: META_POP_READDIR, META_POP_FETCH, META_POP_STORE, and cache_hit_rate are not updated
  src/mds/CDir.cc
  src/mds/MDBalancer.cc
  src/mds/MDBalancer.h
  src/mds/Server.cc
Labels: cephfs, needs-qa, wip-yuri8-testing, pacific-batch-1

#43016 crimson/os/seastore/lba_manager/btree/lba_btree: fix FTBFS on gcc 9
  src/crimson/os/seastore/lba_manager/btree/lba_btree.h
Labels: crimson

#42830 os/bluestore: accept undecodable multi-block bluefs transactions on log
  src/os/bluestore/BlueFS.cc
Labels: bug fix, core, needs-qa, wip-yuri2-testing, bluestore

#42982 mgr/cephadm: don't fail unit tests if can't import AsyncMock
  src/pybind/mgr/cephadm/tests/fixtures.py
  src/pybind/mgr/cephadm/tests/test_cephadm.py
  src/pybind/mgr/requirements.txt
Labels: pybind, mgr, cephadm

#39849 rgw/sts: adding code for aws:RequestTags as part
  doc/images/keycloak-adduser.png
  doc/images/keycloak-userclientmapper.png
  doc/images/keycloak-usercredentials.png
  doc/images/keycloak-userdetails.png
  doc/images/keycloak-usertags.png
  doc/radosgw/STS.rst
  doc/radosgw/index.rst
  doc/radosgw/keycloak.rst
  doc/radosgw/role.rst
  doc/radosgw/session-tags.rst
  qa/suites/rgw/sts/tasks/first.yaml
  qa/tasks/keycloak.py
  qa/tasks/s3tests.py
  src/rgw/jwt-cpp/jwt.h
  src/rgw/rgw_auth.cc
  src/rgw/rgw_auth.h
  src/rgw/rgw_auth_s3.cc
  src/rgw/rgw_auth_s3.h
  src/rgw/rgw_common.h
  src/rgw/rgw_iam_policy.cc
  src/rgw/rgw_iam_policy.h
  src/rgw/rgw_iam_policy_keywords.gperf
  src/rgw/rgw_iam_policy_keywords.h
  src/rgw/rgw_notify.cc
  src/rgw/rgw_op.cc
  src/rgw/rgw_op_type.h
  src/rgw/rgw_pubsub.cc
  src/rgw/rgw_pubsub.h
  src/rgw/rgw_rest_iam.cc
  src/rgw/rgw_rest_role.cc
  src/rgw/rgw_rest_role.h
  src/rgw/rgw_rest_s3.cc
  src/rgw/rgw_rest_sts.cc
  src/rgw/rgw_rest_sts.h
  src/rgw/rgw_role.cc
  src/rgw/rgw_role.h
  src/rgw/rgw_sal.h
  src/rgw/rgw_sal_dbstore.cc
  src/rgw/rgw_sal_dbstore.h
  src/rgw/rgw_sal_rados.cc
  src/rgw/rgw_sal_rados.h
  src/rgw/rgw_sts.cc
  src/rgw/rgw_sts.h
  src/rgw/rgw_tag.cc
  src/rgw/rgw_tag.h
  src/rgw/rgw_tag_s3.cc
  src/rgw/rgw_tools.cc
  src/rgw/rgw_tools.h
  src/rgw/rgw_web_idp.h
  src/test/rgw/bucket_notification/test_bn.py
  src/test/rgw/test_rgw_iam_policy.cc
  src/test/rgw/test_rgw_lua.cc
Labels: documentation, rgw, tests

#42994 monmap, crimson: add support for mon_host_override
  src/mon/MonMap.cc
  src/mon/MonMap.h
Labels: feature, core, mon, crimson

#43015 admin/build-doc: use venv module again
  admin/build-doc
Labels: build/ops

#43033 src/crimson: Add various missing ops to cyanstore
  src/crimson/os/cyanstore/cyan_store.cc
  src/crimson/os/cyanstore/cyan_store.h
Labels: crimson

#43031 crimson/osd: fix Watch::connect() behaviour on reconnect.
  src/crimson/osd/watch.cc
Labels: bug fix, crimson

#43018 crimson/onode-staged-tree: improve laddr hints during allocation
  src/crimson/os/seastore/onode_manager/staged-fltree/node.cc
  src/crimson/os/seastore/onode_manager/staged-fltree/node.h
  src/crimson/os/seastore/onode_manager/staged-fltree/node_extent_manager/dummy.h
  src/crimson/os/seastore/onode_manager/staged-fltree/node_extent_manager/seastore.h
  src/crimson/os/seastore/onode_manager/staged-fltree/node_impl.h
  src/crimson/os/seastore/onode_manager/staged-fltree/node_layout.h
  src/test/crimson/seastore/onode_tree/test_staged_fltree.cc
Labels: tests, crimson

#42873 qa/tasks/rook: add OSD creation to Rook QA
  qa/tasks/rook.py
Labels: wip-sage-testing, tests, rook

#43030 cephadm: fix prometheus namespace spelling
  src/cephadm/cephadm
Labels: cephadm

#43021 qa/distros/podman: Add rhel_8.3_container_tools_rhel8.yaml
  qa/distros/podman/rhel_8.4_container_tools_3.0.yaml
  qa/distros/podman/rhel_8.4_container_tools_rhel8.yaml
  qa/suites/orch/cephadm/smoke/distro/centos_8.2_container_tools_3.0.yaml
  qa/suites/orch/cephadm/smoke/distro/rhel_8.4_container_tools_3.0.yaml
  qa/suites/orch/cephadm/smoke/distro/rhel_8.4_container_tools_rhel8.yaml
Labels: cephadm

#43039 qa/distros: Remove stale kubic distros
  qa/distros/podman/rhel_8.3_kubic_stable.yaml
  qa/distros/podman/ubuntu_18.04_kubic_stable.yaml
  qa/distros/podman/ubuntu_20.04_kubic_stable.yaml
  qa/distros/podman/ubuntu_20.04_kubic_testing.yaml
Labels: cephadm

#42836 rgw: fix bucket index list test error
  src/cls/rgw/cls_rgw.cc
  src/test/cls_rgw/test_cls_rgw.cc
Labels: bug fix, rgw, needs-qa, tests, wip-cbodley-testing

#43040 qa/tox.ini: check for dead symlinks
  qa/CMakeLists.txt
  qa/suites/rgw-multisite-upgrade/.qa
  qa/tox.ini
Labels: build/ops

#43012 script: ceph-debug-docker.sh deals with the centos-repos -> centos-linux-repos transition
  src/script/ceph-debug-docker.sh
Labels: script

#43035 doc: rados/ceph-conf.rst bootstrap options
  doc/rados/configuration/ceph-conf.rst
Labels: documentation, core

#43043 crimson/os: use structured binding in loop
  src/crimson/os/cyanstore/cyan_store.cc
Labels: cleanup

#42962 arch,cmake: compile ppc.c on all powerpc machines
  cmake/modules/SIMDExt.cmake
  src/arch/CMakeLists.txt
Labels: needs-qa, build/ops, wip-kefu-testing

#42960 tools/cephfs_mirror: fix lock declaratie/locking
  src/tools/cephfs_mirror/ClusterWatcher.cc
Labels: bug fix, cephfs, needs-qa, wip-kefu-testing, Clang

#42870 cmake: link Threads::Threads instead of CMAKE_THREAD_LIBS_INIT
  cmake/modules/Buildpmem.cmake
Labels: needs-qa, build/ops, wip-kefu-testing

#42875 examples: add elasticsearch and prometheus examples
  examples/lua/config/prometheus.yml
  examples/lua/elasticsearch_adapter.lua
  examples/lua/elasticsearch_adapter.md
  examples/lua/img/prometheus.png
  examples/lua/prometheus_adapter.lua
  examples/lua/prometheus_adapter.md
Labels: documentation, rgw

#42840 Wip rgw kafka timeout
  src/rgw/rgw_kafka.cc
  src/test/rgw/bucket_notification/test_bn.py
Labels: bug fix, rgw, tests

#43047 doc: adjust client.rbd-mirror-peer mon cap and add details about site names
  doc/rbd/rbd-mirroring.rst
Labels: documentation, rbd

#43034 common/PriorityCache: fix help text for unmapped_bytes metric
  src/common/PriorityCache.cc
Labels: needs-qa, common, wip-kefu-testing

#43061 pybind/mgr: tox.ini add nooptional testenv
  src/pybind/mgr/CMakeLists.txt
  src/pybind/mgr/cephadm/tests/test_cephadm.py
  src/pybind/mgr/cephadm/tests/test_ssh.py
  src/pybind/mgr/diskprediction_local/predictor.py
  src/pybind/mgr/mgr_module.py
  src/pybind/mgr/requirements-required.txt
  src/pybind/mgr/requirements.txt
  src/pybind/mgr/tox.ini
Labels: build/ops, pybind, mgr, cephadm

#42953 osd/scrub: stats_of_handled_objects(): reduce irrelevant logs
  src/osd/PrimaryLogScrub.cc
Labels: cleanup, core, needs-qa, wip-kefu-testing

#42965 osd: adding missing data to register_and_wake_split_child() logs
  src/osd/OSD.cc
Labels: core, needs-qa, wip-kefu-testing

#42992 os/bluestore: fix bluefs migrate command
  qa/standalone/osd/osd-bluefs-volume-ops.sh
  src/os/bluestore/BlueFS.cc
  src/os/bluestore/BlueStore.cc
Labels: bug fix, core, needs-qa, wip-kefu-testing, bluestore

#42919 mgr/cephadm: Also make ssh._reset_con async
  src/pybind/mgr/cephadm/module.py
  src/pybind/mgr/cephadm/serve.py
  src/pybind/mgr/cephadm/ssh.py
Labels: needs-qa, wip-kefu-testing, pybind, wip-swagner-testing, cephadm

#43065 admin/doc-requirements: use funcparserlib from github
  admin/doc-requirements.txt
Labels: documentation, build/ops

#42529 qa: cleanup journal repair mds manipulation
  qa/tasks/cephfs/test_journal_repair.py
Labels: cleanup, cephfs, tests, needs-review, wip-pdonnell-testing

#43009 ceph-volume: pvs --noheadings replace pvs --no-heading
  src/ceph-volume/ceph_volume/api/lvm.py
Labels: ceph-volume

#43017 doc: fix typos
  doc/cephfs/dynamic-metadata-management.rst
  doc/rados/operations/crush-map.rst
  doc/rados/operations/health-checks.rst
  src/doc/caching.txt
Labels: documentation, core, cephfs

#43029 pacific: cephadm: September batch 1
  doc/cephadm/client-setup.rst
  doc/cephadm/host-management.rst
  doc/cephadm/monitoring.rst
  doc/cephadm/operations.rst
  doc/install/containers.rst
  doc/mgr/dashboard.rst
  qa/tasks/mgr/dashboard/test_rgw.py
  qa/tasks/mgr/dashboard/test_settings.py
  src/cephadm/cephadm
  src/cephadm/tests/fixtures.py
  src/cephadm/tests/test_cephadm.py
  src/cephadm/tests/test_networks.py
  src/pybind/mgr/cephadm/migrations.py
  src/pybind/mgr/cephadm/module.py
  src/pybind/mgr/cephadm/schedule.py
  src/pybind/mgr/cephadm/serve.py
  src/pybind/mgr/cephadm/services/cephadmservice.py
  src/pybind/mgr/cephadm/services/iscsi.py
  src/pybind/mgr/cephadm/services/monitoring.py
  src/pybind/mgr/cephadm/services/nfs.py
  src/pybind/mgr/cephadm/tests/test_cephadm.py
  src/pybind/mgr/cephadm/tests/test_scheduling.py
  src/pybind/mgr/cephadm/upgrade.py
  src/pybind/mgr/dashboard/frontend/cypress/integration/cluster/mgr-modules.e2e-spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/services/service-form/service-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/services/service-form/service-form.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/services/service-form/service-form.component.ts
  src/pybind/mgr/dashboard/module.py
  src/pybind/mgr/dashboard/run-backend-api-tests.sh
  src/pybind/mgr/dashboard/run-frontend-e2e-tests.sh
  src/pybind/mgr/dashboard/services/rgw_client.py
  src/pybind/mgr/dashboard/settings.py
  src/pybind/mgr/dashboard/tests/__init__.py
  src/pybind/mgr/dashboard/tests/test_rgw_client.py
  src/pybind/mgr/mgr_module.py
  src/pybind/mgr/orchestrator/_interface.py
  src/pybind/mgr/orchestrator/module.py
  src/pybind/mgr/test_orchestrator/module.py
Labels: documentation, tests, pybind, mgr, dashboard, orchestrator, cephadm, wip-swagner2-testing

#42933 mgr/prometheus: offer ability to disable cache
  doc/mgr/prometheus.rst
  src/pybind/mgr/prometheus/module.py
Labels: documentation, needs-qa, performance, wip-kefu-testing, pybind, mgr, monitoring

#42972 pacific: pybind/rbd: fix mirror_image_get_status
  src/pybind/rbd/rbd.pyx
Labels: bug fix, rbd, pybind, wip-yuri-testing, pacific-batch-1

#42979 pacific: rbd-mirror: fix potential async op tracker leak in start_image_replayers
  src/tools/rbd_mirror/InstanceReplayer.cc
Labels: bug fix, rbd, wip-yuri-testing, pacific-batch-1

#42980 pacific: rbd: fix default pool handling for nbd map/unmap
  qa/workunits/rbd/rbd-nbd.sh
  src/tools/rbd/action/Ggate.cc
  src/tools/rbd/action/Nbd.cc
Labels: bug fix, rbd, tests, wip-yuri-testing, pacific-batch-1

#42987 pacific: rbd-mirror: add perf counters to snapshot replayer
  src/test/rbd_mirror/image_replayer/snapshot/test_mock_Replayer.cc
  src/test/rbd_mirror/test_main.cc
  src/tools/rbd_mirror/ImageReplayer.cc
  src/tools/rbd_mirror/Types.h
  src/tools/rbd_mirror/image_replayer/journal/Replayer.cc
  src/tools/rbd_mirror/image_replayer/snapshot/Replayer.cc
  src/tools/rbd_mirror/image_replayer/snapshot/Replayer.h
  src/tools/rbd_mirror/main.cc
Labels: rbd, tests, wip-yuri-testing, pacific-batch-1

#43000 pacific: ceph.spec.in: drop gdbm from build deps
  README.aix
  ceph.spec.in
Labels: documentation, needs-qa, build/ops, wip-yuri-testing, pacific-batch-1

#43001 pacific: Remove dependency on lsb_release
  ceph.spec.in
  debian/control
  make-debs.sh
  qa/workunits/rbd/qemu-iotests.sh
  qa/workunits/rgw/s3_utilities.pm
  src/test/docker-test-helper.sh
Labels: rbd, needs-qa, tests, build/ops, wip-yuri-testing, pacific-batch-1

#43007 pacific: os/bluestore: fix using incomplete bluefs log when dumping it.
  src/os/bluestore/BlueFS.cc
Labels: core, needs-qa, wip-yuri-testing, bluestore

#43070 cls/rbd: fix log text for children list
  src/cls/rbd/cls_rbd.cc
Labels: cleanup, rbd

#42937 pacific: client: make sure only to update dir dist from auth mds
  src/client/Client.cc
  src/client/Client.h
Labels: cephfs, needs-qa, wip-yuri8-testing, pacific-batch-1

#43066 crimson/common: explicitly reraise handled signal in FatalSignal
  src/crimson/common/fatal_signal.cc
Labels: cleanup, crimson

#43083 crimson/os/seastore/.../lba_btree: fix handle_split internal nodes
  src/crimson/os/seastore/lba_manager/btree/lba_btree.cc
  src/crimson/os/seastore/lba_manager/btree/lba_btree.h
  src/crimson/tools/store_nbd/fs_driver.cc
Labels: crimson

#43084 crimson/seastore: lba pin debugging and fix
  src/crimson/os/seastore/lba_manager/btree/btree_range_pin.cc
  src/crimson/os/seastore/transaction_manager.cc
Labels: crimson

#43074 librbd: fix use-after-free on ictx in list_descendants()
  src/librbd/api/Image.cc
Labels: bug fix, rbd

#43006 librbd/cache/pwl: don't clear next_sync_point_entry prematurely
  src/librbd/cache/pwl/AbstractWriteLog.cc
  src/librbd/cache/pwl/LogOperation.cc
Labels: bug fix, rbd, wip-dis-testing

#43050 ceph-volume: fix raw list with logical partition
  src/ceph-volume/ceph_volume/devices/raw/list.py
  src/ceph-volume/ceph_volume/tests/devices/raw/test_list.py
Labels: ceph-volume

#43076 pacific: ceph-volume: pvs --noheadings replace pvs --no-heading
  src/ceph-volume/ceph_volume/api/lvm.py
Labels: ceph-volume

#43051 doc/ceph-volume: add lvm migrate/new-db/new-wal
  doc/ceph-volume/index.rst
  doc/ceph-volume/lvm/index.rst
  doc/ceph-volume/lvm/migrate.rst
  doc/ceph-volume/lvm/newdb.rst
  doc/ceph-volume/lvm/newwal.rst
Labels: documentation, ceph-volume

#43048 ceph-volume: support no_systemd with lvm migrate
  doc/man/8/ceph-volume.rst
  src/ceph-volume/ceph_volume/devices/lvm/migrate.py
  src/ceph-volume/ceph_volume/tests/devices/lvm/test_migrate.py
Labels: documentation, ceph-volume

#43010 cephadm: add thread ident to log messages
  src/cephadm/cephadm
Labels: wip-swagner-testing, cephadm

#42989 mgr/cephadm: Add OSDService.post_remove()
  src/pybind/mgr/cephadm/module.py
  src/pybind/mgr/cephadm/serve.py
  src/pybind/mgr/cephadm/services/cephadmservice.py
  src/pybind/mgr/cephadm/services/iscsi.py
  src/pybind/mgr/cephadm/services/nfs.py
  src/pybind/mgr/cephadm/services/osd.py
  src/pybind/mgr/cephadm/tests/test_cephadm.py
Labels: needs-qa, pybind, wip-swagner-testing, cephadm, nfs

#42859 mgr/cephadm: show unhandled exceptions during host add
  src/cephadm/cephadm
  src/cephadm/tests/test_cephadm.py
  src/pybind/mgr/cephadm/module.py
Labels: needs-qa, pybind, wip-swagner-testing, cephadm

#43045 qa: tox.ini: verify yaml syntax
  qa/tasks/tests/conftest.py
  qa/tasks/tests/test_import_yaml.py
  qa/tox.ini
Labels: tests

#42971 octopus: pybind/rbd: fix mirror_image_get_status
  src/pybind/rbd/rbd.pyx
Labels: bug fix, rbd, needs-qa, pybind, wip-yuri7-testing, octopus-batch-1

#42978 octopus: rbd-mirror: fix potential async op tracker leak in start_image_replayers
  src/tools/rbd_mirror/InstanceReplayer.cc
Labels: bug fix, rbd, needs-qa, wip-yuri7-testing, octopus-batch-1

#43089 pacific: doc/ceph-volume: add lvm migrate/new-db/new-wal
  doc/ceph-volume/index.rst
  doc/ceph-volume/lvm/index.rst
  doc/ceph-volume/lvm/migrate.rst
  doc/ceph-volume/lvm/newdb.rst
  doc/ceph-volume/lvm/newwal.rst
Labels: documentation, ceph-volume

#43090 octopus: doc/ceph-volume: add lvm migrate/new-db/new-wal
  doc/ceph-volume/index.rst
  doc/ceph-volume/lvm/index.rst
  doc/ceph-volume/lvm/migrate.rst
  doc/ceph-volume/lvm/newdb.rst
  doc/ceph-volume/lvm/newwal.rst
Labels: documentation, ceph-volume

#43087 pacific: ceph-volume: fix raw list with logical partition
  src/ceph-volume/ceph_volume/devices/raw/list.py
  src/ceph-volume/ceph_volume/tests/devices/raw/test_list.py
Labels: ceph-volume

#43088 octopus: ceph-volume: fix raw list with logical partition
  src/ceph-volume/ceph_volume/devices/raw/list.py
  src/ceph-volume/ceph_volume/tests/devices/raw/test_list.py
Labels: ceph-volume

#43052 ceph-volume: remove --all ref from deactivate help
  src/ceph-volume/ceph_volume/devices/lvm/deactivate.py
Labels: ceph-volume

#42990 pacific: pybind/mgr: Fix IPv6 url generation
  src/pybind/mgr/cephadm/services/ingress.py
  src/pybind/mgr/cephadm/services/monitoring.py
  src/pybind/mgr/dashboard/module.py
  src/pybind/mgr/dashboard/rest_client.py
  src/pybind/mgr/dashboard/services/rgw_client.py
  src/pybind/mgr/dashboard/tools.py
  src/pybind/mgr/mgr_util.py
  src/pybind/mgr/prometheus/module.py
  src/pybind/mgr/restful/module.py
Labels: needs-qa, pybind, mgr, dashboard, wip-yuri6-testing, cephadm, backport:no-conflicts

#42604 osd: Add config option to skip running the osd benchmark during init and update documentation.
  doc/rados/configuration/mclock-config-ref.rst
  qa/standalone/ceph-helpers.sh
  qa/suites/rados/objectstore/backends/alloc-hint.yaml
  qa/suites/rados/objectstore/backends/ceph_objectstore_tool.yaml
  src/common/options/osd.yaml.in
  src/osd/OSD.cc
Labels: documentation, core, needs-qa, common

#42923 pacific: qa: increase the pg_num for cephfs_data/metadata pools
  qa/suites/fs/functional/tasks/mds-full.yaml
  qa/tasks/cephfs/filesystem.py
  qa/tasks/cephfs/test_admin.py
  qa/tasks/cephfs/test_data_scan.py
  qa/tasks/cephfs/test_full.py
  qa/tasks/cephfs/test_misc.py
Labels: cephfs, needs-qa, tests, wip-yuri-testing, pacific-batch-1

#42925 pacific: client: flush the mdlog in unsafe requests' relevant and auth MDSes only
  src/client/Client.cc
  src/client/Client.h
Labels: cephfs, needs-qa, wip-yuri-testing, pacific-batch-1

#43105 crimson/tools: clean alien in store-nbd
  src/crimson/tools/store_nbd/block_driver.cc
  src/crimson/tools/store_nbd/block_driver.h
  src/crimson/tools/store_nbd/fs_driver.h
  src/crimson/tools/store_nbd/store-nbd.cc
Labels: crimson

#41803 crimson/os/seastore: add extent placement manager
  src/common/options/crimson.yaml.in
  src/crimson/common/condition_variable.h
  src/crimson/common/errorator.h
  src/crimson/common/interruptible_future.h
  src/crimson/os/seastore/CMakeLists.txt
  src/crimson/os/seastore/cache.cc
  src/crimson/os/seastore/cache.h
  src/crimson/os/seastore/cached_extent.cc
  src/crimson/os/seastore/cached_extent.h
  src/crimson/os/seastore/extent_placement_manager.cc
  src/crimson/os/seastore/extent_placement_manager.h
  src/crimson/os/seastore/journal.cc
  src/crimson/os/seastore/journal.h
  src/crimson/os/seastore/lba_manager.h
  src/crimson/os/seastore/lba_manager/btree/btree_lba_manager.cc
  src/crimson/os/seastore/lba_manager/btree/btree_lba_manager.h
  src/crimson/os/seastore/lba_manager/btree/lba_btree.cc
  src/crimson/os/seastore/omap_manager/btree/omap_btree_node_impl.cc
  src/crimson/os/seastore/omap_manager/btree/omap_btree_node_impl.h
  src/crimson/os/seastore/scanner.cc
  src/crimson/os/seastore/scanner.h
  src/crimson/os/seastore/seastore.cc
  src/crimson/os/seastore/seastore_types.cc
  src/crimson/os/seastore/seastore_types.h
  src/crimson/os/seastore/segment_cleaner.cc
  src/crimson/os/seastore/segment_cleaner.h
  src/crimson/os/seastore/transaction.h
  src/crimson/os/seastore/transaction_manager.cc
  src/crimson/os/seastore/transaction_manager.h
  src/crimson/osd/main.cc
  src/crimson/tools/store_nbd/tm_driver.cc
  src/test/crimson/seastore/onode_tree/test_fltree_onode_manager.cc
  src/test/crimson/seastore/test_btree_lba_manager.cc
  src/test/crimson/seastore/test_seastore_journal.cc
  src/test/crimson/seastore/transaction_manager_test_state.h
  src/vstart.sh
Labels: tests, common, build/ops, DNM, crimson

#43097 octopus: ceph-volume: remove --all ref from deactivate help
  src/ceph-volume/ceph_volume/devices/lvm/deactivate.py
Labels: ceph-volume

#43092 octopus: ceph-volume: support no_systemd with lvm migrate
  doc/man/8/ceph-volume.rst
  src/ceph-volume/ceph_volume/devices/lvm/migrate.py
  src/ceph-volume/ceph_volume/tests/devices/lvm/test_migrate.py
Labels: ceph-volume

#43091 pacific: ceph-volume: support no_systemd with lvm migrate
  doc/man/8/ceph-volume.rst
  src/ceph-volume/ceph_volume/devices/lvm/migrate.py
  src/ceph-volume/ceph_volume/tests/devices/lvm/test_migrate.py
Labels: documentation, ceph-volume

#43042 ceph-volume: fix lvm migrate without args
  src/ceph-volume/ceph_volume/devices/lvm/migrate.py
  src/ceph-volume/ceph_volume/tests/devices/lvm/test_migrate.py
Labels: ceph-volume

#43107 pybind/rados: don't close watch in dealloc if already closed
  src/pybind/rados/rados.pyx
Labels: bug fix, pybind

#43086 librbd: fix pool validation lockup
  src/librbd/api/Pool.cc
  src/librbd/image/CreateRequest.cc
  src/librbd/image/ValidatePoolRequest.cc
  src/librbd/image/ValidatePoolRequest.h
  src/test/librbd/image/test_mock_ValidatePoolRequest.cc
  src/test/librbd/test_librbd.cc
Labels: bug fix, rbd, tests, wip-dis-testing

#43079 doc/rbd: describe Hyper-V disk addressing limitations
  doc/rbd/rbd-windows.rst
Labels: documentation, rbd

#43014 ceph-volume: fix lvm activate arguments
  src/ceph-volume/ceph_volume/devices/lvm/activate.py
  src/ceph-volume/ceph_volume/tests/devices/lvm/test_activate.py
Labels: ceph-volume

#43110 pacific: ceph-volume: fix lvm migrate without args
  src/ceph-volume/ceph_volume/devices/lvm/migrate.py
  src/ceph-volume/ceph_volume/tests/devices/lvm/test_migrate.py
Labels: ceph-volume

#43111 octopus: ceph-volume: fix lvm migrate without args
  src/ceph-volume/ceph_volume/devices/lvm/migrate.py
  src/ceph-volume/ceph_volume/tests/devices/lvm/test_migrate.py
Labels: ceph-volume

#43116 pacific: ceph-volume: fix lvm activate arguments
  src/ceph-volume/ceph_volume/devices/lvm/activate.py
  src/ceph-volume/ceph_volume/tests/devices/lvm/test_activate.py
Labels: ceph-volume

#43117 octopus: ceph-volume: fix lvm activate arguments
  src/ceph-volume/ceph_volume/devices/lvm/activate.py
  src/ceph-volume/ceph_volume/tests/devices/lvm/test_activate.py
Labels: ceph-volume

#42853 mon/MonCap: Update osd profile to allow cmd to set iops capacity on mon db
  qa/tasks/ceph.py
  src/mon/MonCap.cc
Labels: core, needs-qa, tests, wip-yuri2-testing, mon

#43013 msg: make Policy::features_supported static and constant.
  src/msg/Policy.h
  src/test/msgr/test_msgr.cc
Labels: cleanup, core, needs-qa, tests, wip-yuri2-testing

#42912 ceph-volume: fix lvm activate --all --no-systemd
  src/ceph-volume/ceph_volume/devices/lvm/activate.py
  src/ceph-volume/ceph_volume/tests/devices/lvm/test_activate.py
Labels: ceph-volume

#42976 pacific: common/buffer: fix SIGABRT in rebuild_aligned_size_and_memory
  src/common/buffer.cc
  src/test/bufferlist.cc
Labels: bug fix, needs-qa, tests, common, wip-yuri3-testing, pacific-batch-1

#43100 pacific: os/bluestore: fix bluefs migrate command
  qa/standalone/osd/osd-bluefs-volume-ops.sh
  src/os/bluestore/BlueFS.cc
  src/os/bluestore/BlueStore.cc
Labels: core, needs-qa, bluestore, wip-yuri3-testing, pacific-batch-1

#43118 crimson/net: assert the address is v2 on attempt to bind.
  src/crimson/net/SocketMessenger.cc
Labels: crimson

#43108 crimson/os/seastore: fix epm rolling_segment leak when the transaction is interrupted
  src/crimson/os/seastore/extent_placement_manager.cc
  src/crimson/os/seastore/extent_placement_manager.h
  src/crimson/os/seastore/transaction_manager.cc
Labels: crimson

#43124 crimson/os/seastore: fix some debug outputs in omap manager
  src/crimson/os/seastore/omap_manager/btree/omap_btree_node_impl.cc
Labels: crimson

#42883 librbd/cache/pwl: fix m_bytes_{allocated,cached} calculation on reopen
  src/librbd/cache/pwl/AbstractWriteLog.cc
  src/librbd/cache/pwl/AbstractWriteLog.h
  src/librbd/cache/pwl/rwl/WriteLog.cc
  src/librbd/cache/pwl/rwl/WriteLog.h
  src/librbd/cache/pwl/ssd/WriteLog.cc
  src/librbd/cache/pwl/ssd/WriteLog.h
Labels: bug fix, rbd, wip-dis-testing

#42984 librbd/cache/pwl/ssd: Fix a race between get_cache_bl() and remove_ca…
  src/librbd/cache/pwl/LogEntry.h
  src/librbd/cache/pwl/ssd/LogEntry.cc
  src/librbd/cache/pwl/ssd/LogEntry.h
  src/librbd/cache/pwl/ssd/WriteLog.cc
Labels: bug fix, rbd, wip-dis-testing

#43053 mgr/dashboard: use -f for npm ci to skip fsevents error
  src/pybind/mgr/dashboard/frontend/CMakeLists.txt
Labels: build/ops, pybind, dashboard

#43104 doc/dev: specify location of e2e-tests script
  doc/dev/developer_guide/dash-devel.rst
Labels: documentation, dashboard

#43134 debian/control: dh-systemd is part of debhelper now
  debian/control
Labels: needs-qa, build/ops

#42684 osd/scrub: tag replica scrub messages to identify stale events
  src/osd/OSD.cc
  src/osd/OSD.h
  src/osd/PG.cc
  src/osd/PG.h
  src/osd/pg_scrubber.cc
  src/osd/pg_scrubber.h
  src/osd/scheduler/OpSchedulerItem.cc
  src/osd/scheduler/OpSchedulerItem.h
  src/osd/scrub_machine.h
  src/osd/scrubber_common.h
Labels: bug fix, core, needs-qa, wip-yuri-testing

#43056 osd: Replacing friend declerations for passkey interface
  src/osd/PG.h
  src/osd/PrimaryLogScrub.cc
  src/osd/pg_scrubber.cc
  src/osd/pg_scrubber.h
Labels: cleanup, core, needs-qa, wip-yuri-testing

#41869 common, osd: add fmtlib formatting of some OSD types
  src/common/hobject_fmt.h
  src/include/types_fmt.h
  src/msg/msg_fmt.h
  src/osd/PrimaryLogScrub.cc
  src/osd/osd_types_fmt.h
Labels: core, rgw, needs-qa, common, wip-yuri-testing

#43143 doc/cephadm: Add lots of links to other chapters
  doc/cephadm/iscsi.rst
  doc/cephadm/mds.rst
  doc/cephadm/mon.rst
  doc/cephadm/nfs.rst
  doc/cephadm/osd.rst
  doc/cephadm/rgw.rst
  doc/cephadm/troubleshooting.rst
  doc/cephfs/nfs.rst
  doc/rados/index.rst
  doc/rados/operations/index.rst
  doc/rados/troubleshooting/troubleshooting-mon.rst
Labels: documentation, core, cephfs, cephadm, nfs

#43038 librbd: require exclusive lock for reads if pwl cache is enabled
  src/librbd/exclusive_lock/PreReleaseRequest.cc
  src/test/librbd/exclusive_lock/test_mock_PreReleaseRequest.cc
Labels: bug fix, rbd, tests, wip-dis-testing

#42555 librbd/cache/pwl/ssd: remove correct m_blocks_to_log_entries entry
  src/librbd/cache/pwl/ssd/WriteLog.cc
Labels: bug fix, rbd, wip-dis-testing

#42951 osd/scrub: destruct the scrubber shortly before the PG is destructed
  src/osd/PrimaryLogPG.cc
  src/osd/PrimaryLogPG.h
Labels: core, needs-qa

#43063 ceph-volume: remove trailing spaces in code
  src/ceph-volume/ceph_volume/tests/test_inventory.py
  src/ceph-volume/ceph_volume/util/lsmdisk.py
  src/ceph-volume/plugin/zfs/ceph_volume_zfs/devices/zfs/inventory.py
  src/ceph-volume/plugin/zfs/ceph_volume_zfs/util/disk.py
  src/ceph-volume/tox.ini
Labels: ceph-volume

#43147 doc/dev/crimson/poseidonstore: fix typo
  doc/dev/crimson/poseidonstore.rst
Labels: documentation, crimson

#42441 nautilus: rpm: three spec file cleanups
  ceph.spec.in
Labels: needs-qa, build/ops, nautilus-batch-1

#42998 mgr/rook: host add label in rook orchestrator
  qa/suites/orch/rook/smoke/2-workload/radosbench.yaml
  src/pybind/mgr/rook/module.py
  src/pybind/mgr/rook/rook_cluster.py
Labels: wip-sage-testing, pybind, orchestrator, rook

#43141 doc/cephadm: Removing a service
  doc/cephadm/monitoring.rst
  doc/cephadm/service-management.rst
Labels: documentation, monitoring, cephadm

#42417 common/bl, tests: optimize carriage handling in bufferlist::c_str().
  src/common/buffer.cc
  src/test/bufferlist.cc
Labels: tests, common, performance, needs-review

#43136 qa/suites/orch/rook: some rook fixes
  qa/suites/orch/rook/smoke/net/host.yaml
  qa/tasks/kubeadm.py
  qa/tasks/rook.py
Labels: tests, wip-sage4-testing, rook

#43152 crimson/sesatore: simplify epm related transaction structures, fix some bugs
  src/crimson/os/seastore/cache.cc
  src/crimson/os/seastore/cache.h
  src/crimson/os/seastore/cached_extent.h
  src/crimson/os/seastore/extent_placement_manager.cc
  src/crimson/os/seastore/extent_placement_manager.h
  src/crimson/os/seastore/lba_manager/btree/btree_lba_manager.cc
  src/crimson/os/seastore/scanner.cc
  src/crimson/os/seastore/transaction.h
  src/crimson/os/seastore/transaction_manager.cc
Labels: crimson

#43123 crimson/seastore: add lba tree metrics for lba tree profiling
  src/crimson/os/seastore/lba_manager/btree/btree_lba_manager.cc
  src/crimson/os/seastore/lba_manager/btree/btree_lba_manager.h
  src/crimson/os/seastore/lba_manager/btree/lba_btree.h
Labels: crimson

#43109 ceph-volume: util/prepare fix osd_id_available()
  src/ceph-volume/ceph_volume/devices/lvm/batch.py
  src/ceph-volume/ceph_volume/devices/lvm/common.py
  src/ceph-volume/ceph_volume/devices/lvm/migrate.py
  src/ceph-volume/ceph_volume/devices/lvm/zap.py
  src/ceph-volume/ceph_volume/tests/devices/lvm/test_batch.py
  src/ceph-volume/ceph_volume/tests/devices/lvm/test_migrate.py
  src/ceph-volume/ceph_volume/tests/devices/lvm/test_prepare.py
  src/ceph-volume/ceph_volume/tests/devices/lvm/test_zap.py
  src/ceph-volume/ceph_volume/tests/util/test_prepare.py
  src/ceph-volume/ceph_volume/util/prepare.py
Labels: ceph-volume

#43131 pacific: debian/control: remove cython from Build-Depends
  debian/control
Labels: needs-qa, build/ops, wip-yuri6-testing

#43151 pacific: debian/control: dh-systemd is part of debhelper now
  debian/control
Labels: needs-qa, build/ops, wip-yuri6-testing

#43161 crimson/os: allow to build crimson when WITH_BLUESTORE=OFF
  src/crimson/os/CMakeLists.txt
  src/crimson/os/futurized_store.cc
Labels: build/ops, crimson

#43158 crimson/os/seastore: SeaStore::get_omap_iterator should seek_to_first
  src/crimson/os/seastore/seastore.cc
  src/vstart.sh
Labels: crimson

#43157 crimson/seastore:: add binary search for lba and omap iterator search
  src/crimson/common/fixed_kv_node_layout.h
  src/crimson/os/seastore/omap_manager/btree/string_kv_node_layout.h
Labels: crimson

#43106 crimson: add support for ms_bind_retry_{delay,count}
  src/crimson/common/errorator.h
  src/crimson/net/Messenger.h
  src/crimson/net/Socket.cc
  src/crimson/net/Socket.h
  src/crimson/net/SocketMessenger.cc
  src/crimson/net/SocketMessenger.h
  src/crimson/osd/heartbeat.cc
  src/crimson/osd/osd.cc
  src/test/crimson/test_socket.cc
Labels: feature, cleanup, tests, crimson

#43129 crimson/os/seastore: minimize the static size of onode_layout_t
  src/crimson/os/seastore/onode.h
  src/crimson/osd/pg_backend.cc
  src/crimson/osd/replicated_recovery_backend.cc
  src/osd/osd_types.h
Labels: core, crimson

#43115 cephadm: skip podman check during `rm-repo`
  src/cephadm/cephadm
  src/cephadm/tests/test_cephadm.py
Labels: wip-swagner-testing, cephadm

#43019 mgr/dashboard: Incorrect MTU mismatch warning
  monitoring/prometheus/alerts/ceph_default_alerts.yml
  monitoring/prometheus/alerts/test_alerts.yml
Labels: bug fix, dashboard, monitoring

#42465 debian, rpm: split ceph-volume into a separated package
  ceph.spec.in
  debian/ceph-osd.install
  debian/ceph-volume.install
  debian/control
Labels: cleanup, build/ops, needs-review, ceph-volume

#43168 workunits/rgw: semicolon terminates perl statements
  qa/workunits/rgw/s3_utilities.pm
Labels: bug fix, needs-qa, tests, wip-yuri5-testing

#42498 octopus: qa/workunits/mon/test_mon_config_key: use subprocess.run() instead of proc.communicate()
  qa/workunits/mon/test_mon_config_key.py
Labels: core, needs-qa, wip-yuri7-testing, octopus-batch-1

#42666 octopus: mgr/cephadm: pass --container-init to cephadm if specified
  src/pybind/mgr/cephadm/module.py
Labels: needs-qa, orchestrator, wip-yuri7-testing, cephadm, octopus-batch-1

#42670 octopus: Don't persist report data
  qa/tasks/mgr/test_insights.py
  src/pybind/mgr/insights/module.py
  src/pybind/mgr/tests/__init__.py
Labels: needs-qa, tests, pybind, wip-yuri7-testing, octopus-batch-1

#42674 octopus: mgr/prometheus: Fix metric types from gauge to counter
  src/pybind/mgr/prometheus/module.py
Labels: bug fix, needs-qa, pybind, monitoring, wip-yuri7-testing, backport:no-conflicts

#42694 octopus: cmake: Replace boost download url
  cmake/modules/BuildBoost.cmake
  make-dist
Labels: needs-qa, wip-yuri7-testing, octopus-batch-1

#42862 octopus: mon/PGMap: remove DIRTY field in `ceph df detail` when cache tiering is not in use
  doc/rados/operations/monitoring.rst
  src/mon/PGMap.cc
  src/test/mon/PGMap.cc
Labels: core, needs-qa, wip-yuri7-testing

#43102 octopus: qa/suites/rados: use centos_8.3_container_tools_3.0.yaml
  qa/distros/podman/centos_8.2_container_tools_3.0.yaml
  qa/distros/podman/centos_8.2_kubic_stable.yaml
  qa/distros/podman/centos_8.3_container_tools_3.0.yaml
  qa/suites/rados/cephadm/smoke/distro/centos_8.2_container_tools_3.0.yaml
  qa/suites/rados/cephadm/smoke/distro/centos_8.2_kubic_stable.yaml
  qa/suites/rados/cephadm/smoke/distro/rhel_8.3_kubic_stable.yaml
  qa/suites/rados/cephadm/workunits/0-distro/centos_8.2_kubic_stable.yaml
Labels: needs-qa, wip-yuri7-testing, octopus-batch-1

#43146 osd: fix partial recovery become whole object recovery after restart osd
  src/osd/PGLog.cc
Labels: bug fix, core, needs-qa, wip-kefu-testing

#42533 octopus: cephadm: default to quay.io, not docker.io
  src/cephadm/cephadm
  src/pybind/mgr/cephadm/module.py
Labels: needs-qa, wip-yuri7-testing

#42541 mds/client: switch to use ceph_assert() instead of assert()
  src/client/Client.cc
  src/mds/CDir.cc
  src/mds/MDCache.cc
  src/mds/MDLog.cc
  src/mds/MDSDaemon.cc
  src/mds/MDSRank.cc
  src/mds/Migrator.cc
  src/mds/Server.cc
  src/mds/journal.cc
Labels: bug fix, cephfs, needs-qa, wip-pdonnell-testing

#42584 mgr/mirroring: remove unnecessary fs_name arg from `daemon status` command
  doc/cephfs/cephfs-mirroring.rst
  doc/dev/cephfs-mirroring.rst
  qa/tasks/cephfs/test_mirroring.py
  src/pybind/mgr/mirroring/fs/snapshot_mirror.py
  src/pybind/mgr/mirroring/module.py
Labels: documentation, cephfs, needs-qa, tests, pybind, wip-pdonnell-testing

#42719 mgr/volumes: Fix permission during subvol creation with mode
  qa/tasks/cephfs/test_volumes.py
  src/pybind/mgr/volumes/fs/fs_util.py
  src/pybind/mgr/volumes/fs/operations/group.py
  src/pybind/mgr/volumes/fs/operations/versions/subvolume_v1.py
  src/pybind/mgr/volumes/fs/operations/versions/subvolume_v2.py
  src/pybind/mgr/volumes/fs/vol_spec.py
Labels: cephfs, needs-qa, tests, pybind, wip-pdonnell-testing

#42737 mds: ensure that we send the btime in cap messages
  src/mds/CInode.cc
Labels: cephfs, needs-qa, wip-pdonnell-testing
