Repository ceph/ceph, pull requests merged in 2021-07, with the labels that each got.

#41932 mgr,pybind/mgr: add OSDMap.build_simple() method
  src/mgr/PyOSDMap.cc
  src/pybind/mgr/ceph_module.pyi
  src/pybind/mgr/mgr_module.py
Labels: core, mgr, needs-review, pybind

#42103 crimson/seastore: enforce per-collection transaction ordering
  src/crimson/os/seastore/cache.h
  src/crimson/os/seastore/cached_extent.h
  src/crimson/os/seastore/ordering_handle.h
  src/crimson/os/seastore/seastore.cc
  src/crimson/os/seastore/seastore.h
  src/crimson/os/seastore/transaction.h
  src/crimson/os/seastore/transaction_manager.cc
  src/crimson/os/seastore/transaction_manager.h
  src/test/crimson/seastore/test_btree_lba_manager.cc
Labels: crimson, seastore

#42080 crimson/os/seastore/cache: misc fixes and cleanup
  src/crimson/os/seastore/cache.cc
  src/crimson/os/seastore/cache.h
  src/crimson/os/seastore/cached_extent.h
  src/crimson/os/seastore/onode_manager/staged-fltree/node_extent_manager/seastore.h
  src/crimson/os/seastore/transaction_manager.cc
  src/test/crimson/seastore/test_btree_lba_manager.cc
  src/test/crimson/seastore/test_seastore_cache.cc
Labels: bug fix, crimson, tests

#42119 pacific: mgr/dashboard: Fix bucket name input allowing space in the value
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-bucket-form/rgw-bucket-form.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-bucket-form/rgw-bucket-form.component.ts
Labels: backport:no-conflicts, bug fix, dashboard, needs-review, pybind, skip-teuthology

#42108 doc/cephadm: improve "Canceling an Upgrade"
  doc/cephadm/upgrade.rst
Labels: cephadm, documentation

#42130 doc/install/get-packages: s/el7/el8/ and cleanups
  doc/install/get-packages.rst
Labels: documentation

#42107 mgr: make standby get_mgr_ip() use the right IP
  src/mgr/ActivePyModules.cc
  src/mgr/BaseMgrStandbyModule.cc
  src/mgr/StandbyPyModules.h
  src/pybind/mgr/ceph_module.pyi
  src/pybind/mgr/mgr_module.py
Labels: core, mgr, pybind, wip-kefu-testing, wip-sage4-testing

#42116 mgr/dashboard: User database migration has been cut out
  src/pybind/mgr/dashboard/services/access_control.py
  src/pybind/mgr/dashboard/tests/test_access_control.py
Labels: bug fix, dashboard, pybind

#41953 mgr/dashboard: fix OSD out count
  src/pybind/mgr/dashboard/frontend/src/app/ceph/dashboard/osd-summary.pipe.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/dashboard/osd-summary.pipe.ts
Labels: dashboard, needs-review, pybind

#42117 pacific: cephadm june final batch
  doc/cephadm/service-management.rst
  doc/cephadm/upgrade.rst
  doc/dev/cephadm/developing-cephadm.rst
  doc/install/get-packages.rst
  src/cephadm/cephadm
  src/cephadm/tests/test_cephadm.py
  src/mgr/ActivePyModules.cc
  src/mgr/BaseMgrStandbyModule.cc
  src/mgr/Gil.cc
  src/mgr/Gil.h
  src/mgr/StandbyPyModules.h
  src/pybind/mgr/ceph_module.pyi
  src/pybind/mgr/mgr_module.py
  src/vstart.sh
Labels: cephadm, core, documentation, mgr, needs-qa, pacific-batch-1, pybind, wip-sage2-testing

#41842 pacific: mgr/nfs: do not depend on cephadm.utils
  src/pybind/mgr/nfs/cluster.py
Labels: needs-qa, pacific-batch-1, pybind, wip-sage2-testing

#42067 pacific: qa: fs:upgrade uses teuthology default distro
  qa/suites/fs/upgrade/featureful_client/old_client/centos_latest.yaml
  qa/suites/fs/upgrade/featureful_client/old_client/tasks/0-nautilus.yaml
  qa/suites/fs/upgrade/featureful_client/upgraded_client/centos_latest.yaml
  qa/suites/fs/upgrade/featureful_client/upgraded_client/tasks/0-nautilus.yaml
  qa/suites/fs/upgrade/volumes/import-legacy/tasks/0-nautilus.yaml
Labels: cephfs, needs-qa, pacific-batch-1, wip-yuri2-testing, wip-yuri8-testing

#42065 pacific: qa: scrub code does not join scrubopts with comma
  qa/tasks/cephfs/test_data_scan.py
  qa/tasks/cephfs/test_forward_scrub.py
  qa/tasks/cephfs/test_multimds_misc.py
  qa/tasks/cephfs/test_recovery_pool.py
  qa/tasks/cephfs/test_scrub.py
  qa/tasks/fwd_scrub.py
  src/pybind/ceph_argparse.py
  src/test/pybind/CMakeLists.txt
  src/test/pybind/test_ceph_argparse.py
Labels: build/ops, cephfs, needs-qa, pacific-batch-1, pybind, tests, wip-yuri2-testing, wip-yuri8-testing

#41945 rgw/notifications: support metadata filter in CompleteMultipartUpload and Copy events
  src/rgw/rgw_notify.cc
  src/rgw/rgw_notify.h
  src/rgw/rgw_op.cc
  src/rgw/rgw_sal.h
  src/rgw/rgw_sal_rados.cc
  src/rgw/rgw_sal_rados.h
  src/test/rgw/bucket_notification/test_bn.py
Labels: bug fix, rgw, tests

#42023 rgw: Modification in the usage of force-branch
  qa/suites/rgw/notifications/tasks/test_amqp.yaml
  qa/suites/rgw/notifications/tasks/test_kafka.yaml
  qa/suites/rgw/notifications/tasks/test_others.yaml
  qa/tasks/kafka.py
  qa/tasks/notification_tests.py
Labels: rgw, tests

#42134 doc/cephadm: improve "Ceph Daemon Logs" (1 of x)
  doc/cephadm/operations.rst
Labels: cephadm, documentation

#42012 rgw/notifications: support v4 auth for topics and notifications
  examples/boto3/README.md
  src/rgw/rgw_rest_s3.cc
  src/test/rgw/bucket_notification/api.py
Labels: bug fix, documentation, rgw, tests

#40948 octopus: cephadm: fix escaping/quoting of stderr-prefix arg for ceph daemons
  src/cephadm/cephadm
  src/cephadm/samples/custom_container.json
Labels: cephadm, needs-qa, octopus-batch-1, wip-yuri7-testing

#41617 octopus: mgr: do not load disabled modules
  CMakeLists.txt
  qa/suites/rados/mgr/tasks/module_selftest.yaml
  qa/tasks/mgr/test_module_selftest.py
  src/common/options.cc
  src/include/config-h.in.cmake
  src/mgr/PyModuleRegistry.cc
  src/pybind/mgr/selftest/module.py
Labels: mgr, needs-qa, octopus-batch-1, wip-yuri7-testing

#41870 octopus: mgr/telemetry: pass leaderboard flag even w/o ident
  src/pybind/mgr/telemetry/module.py
Labels: core, needs-qa, octopus-batch-1, pybind, wip-yuri7-testing

#42120 pacific: qa/suites/rados: add simultaneous scrubs to the thrasher
  qa/suites/rados/thrash/3-scrub-overrides/$
  qa/suites/rados/thrash/3-scrub-overrides/.qa
  qa/suites/rados/thrash/3-scrub-overrides/default.yaml
  qa/suites/rados/thrash/3-scrub-overrides/max-simultaneous-scrubs-2.yaml
  qa/suites/rados/thrash/3-scrub-overrides/max-simultaneous-scrubs-3.yaml
Labels: core, needs-qa, pacific-batch-1, tests, wip-yuri2-testing

#42127 rgw: a small set of clean-ups
  src/cls/rgw/cls_rgw.cc
  src/cls/rgw/cls_rgw_client.h
  src/cls/rgw/cls_rgw_const.h
  src/cls/rgw/cls_rgw_ops.h
  src/cls/rgw/cls_rgw_types.h
  src/cls/rgw_gc/cls_rgw_gc.cc
  src/cls/rgw_gc/cls_rgw_gc_client.h
  src/cls/rgw_gc/cls_rgw_gc_const.h
  src/cls/rgw_gc/cls_rgw_gc_ops.h
  src/cls/rgw_gc/cls_rgw_gc_types.h
  src/rgw/rgw_rados.cc
Labels: cleanup, needs-review, rgw

#41980 rgw/notification: support version-id for all event types
  doc/radosgw/notifications.rst
  src/rgw/rgw_notify.cc
  src/rgw/rgw_notify.h
  src/rgw/rgw_op.cc
  src/rgw/rgw_sal.h
  src/rgw/rgw_sal_rados.cc
  src/rgw/rgw_sal_rados.h
  src/test/rgw/bucket_notification/test_bn.py
Labels: bug fix, documentation, rgw, tests

#42128 crimson/asock: cleanups
  src/crimson/admin/admin_socket.cc
  src/crimson/admin/admin_socket.h
  src/crimson/osd/osd.cc
Labels: cleanup, crimson

#42138 crimson/os: fix indentation in alien_store.cc.
  src/crimson/os/alienstore/alien_store.cc
Labels: cleanup, crimson

#42143 crimson/os/seastore: convert omap and collection_manager to interruptible future
  src/crimson/os/seastore/collection_manager.cc
  src/crimson/os/seastore/collection_manager.h
  src/crimson/os/seastore/collection_manager/collection_flat_node.cc
  src/crimson/os/seastore/collection_manager/collection_flat_node.h
  src/crimson/os/seastore/collection_manager/flat_collection_manager.cc
  src/crimson/os/seastore/collection_manager/flat_collection_manager.h
  src/crimson/os/seastore/omap_manager.cc
  src/crimson/os/seastore/omap_manager.h
  src/crimson/os/seastore/omap_manager/btree/btree_omap_manager.cc
  src/crimson/os/seastore/omap_manager/btree/btree_omap_manager.h
  src/crimson/os/seastore/omap_manager/btree/omap_btree_node.h
  src/crimson/os/seastore/omap_manager/btree/omap_btree_node_impl.cc
  src/crimson/os/seastore/omap_manager/btree/omap_btree_node_impl.h
  src/crimson/os/seastore/omap_manager/btree/string_kv_node_layout.h
  src/crimson/os/seastore/seastore.cc
  src/crimson/os/seastore/seastore.h
  src/crimson/os/seastore/transaction_manager.h
  src/test/crimson/seastore/onode_tree/test_fltree_onode_manager.cc
  src/test/crimson/seastore/onode_tree/test_staged_fltree.cc
  src/test/crimson/seastore/test_collection_manager.cc
  src/test/crimson/seastore/test_object_data_handler.cc
  src/test/crimson/seastore/test_omap_manager.cc
  src/test/crimson/seastore/test_transaction_manager.cc
  src/test/crimson/seastore/transaction_manager_test_state.h
Labels: crimson, tests

#41584 octopus: ceph-volume: Consider /dev/root as mounted
  src/ceph-volume/ceph_volume/util/system.py
Labels: ceph-volume, needs-qa, octopus-batch-1, wip-yuri7-testing

#42144 crimson/os/seastore/cache: fix retiring mutation-pending extents
  src/crimson/os/seastore/cache.cc
  src/crimson/os/seastore/transaction.h
Labels: crimson

#42140 pacific: mgr/dashboard: User database migration has been cut out
  src/pybind/mgr/dashboard/services/access_control.py
  src/pybind/mgr/dashboard/tests/test_access_control.py
Labels: backport:no-conflicts, dashboard, needs-qa, pacific-batch-1, pybind, skip-teuthology

#42142 octopus: mgr/dashboard: User database migration has been cut out
  src/pybind/mgr/dashboard/services/access_control.py
  src/pybind/mgr/dashboard/tests/test_access_control.py
Labels: backport:no-conflicts, dashboard, skip-teuthology

#41883 mgr/dashboard: run cephadm-backend e2e tests with KCLI
  doc/dev/developer_guide/dash-devel.rst
  src/pybind/mgr/dashboard/ci/cephadm/bootstrap-cluster.sh
  src/pybind/mgr/dashboard/ci/cephadm/ceph_cluster.yml
  src/pybind/mgr/dashboard/ci/cephadm/run-cephadm-e2e-tests.sh
  src/pybind/mgr/dashboard/frontend/cypress/integration/cluster/hosts.po.ts
  src/pybind/mgr/dashboard/frontend/cypress/integration/orchestrator/workflow/01-hosts.e2e-spec.ts
Labels: dashboard, documentation, pybind, wip-alfonsomthd-testing

#42017 mgr/cephadm: add ceph orch host drain and limit host removal to empty hosts
  doc/cephadm/host-management.rst
  doc/cephadm/osd.rst
  src/pybind/mgr/cephadm/module.py
  src/pybind/mgr/orchestrator/_interface.py
  src/pybind/mgr/orchestrator/module.py
Labels: cephadm, documentation, orchestrator, pybind

#41906 cephadm: add `bootstrap --mon-addrv` test
  src/cephadm/cephadm
  src/cephadm/tests/test_cephadm.py
Labels: cephadm, wip-swagner-testing

#42032 cephadm: shared folder: Mount the cephadm
  src/cephadm/cephadm
Labels: cephadm

#42146 crimson/os/seastore: do not capture unused variable
  src/crimson/os/seastore/cached_extent.h
  src/crimson/os/seastore/seastore.cc
  src/crimson/os/seastore/segment_cleaner.cc
  src/crimson/os/seastore/transaction_manager.cc
Labels: cleanup, crimson

#41943 qa/distro/supported: add centos 8.stream
  qa/distros/all/centos_8.stream.yaml
  qa/distros/supported-all-distro/centos_8.stream.yaml
  qa/distros/supported-random-distro$/centos_8.stream.yaml
  qa/distros/supported/centos_8.stream.yaml
Labels: cephfs, core, needs-qa, rbd, rgw, wip-kefu-testing, wip-pdonnell-testing, wip-sage3-testing

#41928 qa: remove `qa/.qa` symlink
  qa/.qa
Labels: needs-qa, tests, wip-kefu-testing

#41829 cephadm: workaround unit replace failure
  src/cephadm/cephadm
Labels: bug fix, cephadm, needs-qa, wip-kefu-testing, wip-swagner-testing

#42105 mgr/DaemonServer: skip redundant update of pgp_num_actual
  src/mgr/DaemonServer.cc
Labels: bug fix, core, mgr

#42015 octopus: mgr/dashboard: fix for right sidebar nav icon not clickable
  src/pybind/mgr/dashboard/frontend/src/app/core/navigation/navigation/navigation.component.html
  src/pybind/mgr/dashboard/frontend/src/app/core/navigation/navigation/navigation.component.ts
Labels: dashboard

#41649 octopus: mgr/Dashboard: Remove erroneous elements in hosts-overview Grafana dashboard
  monitoring/grafana/dashboards/hosts-overview.json
Labels: backport:no-conflicts, dashboard, needs-review

#42123 octopus: mgr/dashboard: RGW buckets async validator performance enhancement and name constraints
  src/pybind/mgr/dashboard/frontend/cypress/integration/rgw/buckets.po.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-bucket-form/rgw-bucket-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-bucket-form/rgw-bucket-form.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-bucket-form/rgw-bucket-form.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-user-form/rgw-user-form.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/rgw-bucket.service.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/rgw-bucket.service.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/forms/cd-validators.ts
Labels: dashboard, needs-review

#41926 src/rgw: DPP addition 3
  src/rgw/librgw.cc
  src/rgw/rgw_acl.cc
  src/rgw/rgw_acl.h
  src/rgw/rgw_acl_swift.cc
  src/rgw/rgw_admin.cc
  src/rgw/rgw_bucket.cc
  src/rgw/rgw_bucket_sync.cc
  src/rgw/rgw_bucket_sync.h
  src/rgw/rgw_main.cc
  src/rgw/rgw_period_puller.cc
  src/rgw/rgw_rados.cc
  src/rgw/rgw_reshard.cc
  src/rgw/rgw_reshard.h
  src/rgw/rgw_sal_rados.cc
  src/rgw/rgw_sync_module_aws.cc
  src/rgw/rgw_tools.cc
  src/rgw/rgw_tools.h
  src/rgw/services/svc_bucket_sobj.cc
  src/rgw/services/svc_bucket_sync_sobj.cc
  src/rgw/services/svc_notify.cc
  src/rgw/services/svc_sync_modules.cc
  src/rgw/services/svc_sys_obj_cache.cc
  src/rgw/services/svc_zone.cc
Labels: rgw

#42162 nautilus: pacific: pybind/ceph_volume_client: stat on empty string
  src/pybind/ceph_volume_client.py
Labels: cephfs, nautilus-batch-1, needs-qa

#42159 pybind/ceph_volume_client: use cephfs mkdirs api
  src/pybind/ceph_volume_client.py
Labels: cephfs, needs-qa, pacific-batch-1, pybind, wip-pdonnell-testing

#42075 qa: use run_shell_payload to avoid sudo
  qa/tasks/cephfs/caps_helper.py
  qa/tasks/cephfs/filesystem.py
  qa/tasks/cephfs/fuse_mount.py
  qa/tasks/cephfs/mount.py
  qa/tasks/cephfs/test_cap_flush.py
  qa/tasks/cephfs/test_cephfs_shell.py
  qa/tasks/cephfs/test_client_recovery.py
  qa/tasks/cephfs/test_data_scan.py
  qa/tasks/cephfs/test_failover.py
  qa/tasks/cephfs/test_fragment.py
  qa/tasks/cephfs/test_mirroring.py
  qa/tasks/cephfs/test_nfs.py
  qa/tasks/cephfs/test_scrub_checks.py
  qa/tasks/cephfs/test_volumes.py
Labels: cephfs, needs-qa, needs-review, nfs, tests, wip-pdonnell-testing2

#42081 qa: use kclient xattr to lookup client id
  qa/tasks/cephfs/kernel_mount.py
  qa/tasks/cephfs/test_client_recovery.py
Labels: bug fix, cephfs, needs-review, tests, wip-pdonnell-testing2

#41938 mgr/cephadm: include addr in HOST_CHECK_FAILED alert detail
  src/pybind/mgr/cephadm/serve.py
Labels: cephadm, pybind, wip-sage-testing

#42147 crimson/common: allow interruptible parallel_for_each to handle error…
  src/crimson/common/errorator.h
  src/crimson/common/interruptible_future.h
Labels: crimson

#42171 doc: fixing small typo
  doc/rados/configuration/network-config-ref.rst
Labels: core, documentation

#42178 test/crimson/seastore: fix a bug in the collection manager test case
  src/test/crimson/seastore/test_collection_manager.cc
Labels: crimson, tests

#42184 crimson/os/seastore: fix lambda capture issue in Journal::scan_extents()
  src/crimson/os/seastore/journal.cc
Labels: crimson

#42186 doc/dev/crimson/osd: fix typo
  doc/dev/crimson/osd.rst
Labels: crimson, documentation

#42156 pacific: mgr/dashboard: run cephadm-backend e2e tests with KCLI
  doc/dev/developer_guide/dash-devel.rst
  src/pybind/mgr/dashboard/ci/cephadm/bootstrap-cluster.sh
  src/pybind/mgr/dashboard/ci/cephadm/ceph_cluster.yml
  src/pybind/mgr/dashboard/ci/cephadm/run-cephadm-e2e-tests.sh
  src/pybind/mgr/dashboard/frontend/cypress/integration/cluster/hosts.po.ts
  src/pybind/mgr/dashboard/frontend/cypress/integration/orchestrator/workflow/01-hosts.e2e-spec.ts
Labels: backport:no-conflicts, dashboard, documentation, pybind

#42187 crimson/os/seastore: use discard_result() to discard futurized value
  src/crimson/common/errorator.h
  src/crimson/os/seastore/journal.cc
Labels: cleanup, crimson

#42174 crimson/os/seastore: leverage RetiredExtentPlaceholder to detect transaction conflicts
  src/crimson/os/seastore/cache.cc
  src/crimson/os/seastore/cache.h
  src/crimson/os/seastore/cached_extent.h
  src/crimson/os/seastore/transaction.h
Labels: crimson

#42153 pacific: mgr/dashboard: fix OSD out count
  src/pybind/mgr/dashboard/frontend/src/app/ceph/dashboard/osd-summary.pipe.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/dashboard/osd-summary.pipe.ts
Labels: backport:no-conflicts, dashboard, pybind

#41966 mgr/volumes: use dedicated libcephfs handles for subvolume calls
  src/pybind/mgr/volumes/fs/async_cloner.py
  src/pybind/mgr/volumes/fs/async_job.py
  src/pybind/mgr/volumes/fs/purge_queue.py
Labels: cephfs, needs-qa, pybind, wip-pdonnell-testing

#42155 rgw/notifications: cache object size to avoid accessing invalid memoery
  src/rgw/rgw_op.cc
Labels: bug fix, rgw, wip-yuval-testing

#42137 mds, msg: silence GCC warnings
  src/mds/cephfs_features.cc
  src/msg/async/net_handler.cc
Labels: cephfs, cleanup, core, needs-qa, wip-kefu-testing, wip-pdonnell-testing

#42139 src/pybind/mgr/mirroring/fs/snapshot_mirror.py: do not assume a cephf…
  src/pybind/mgr/mirroring/fs/snapshot_mirror.py
Labels: cephfs, needs-qa, pybind, wip-pdonnell-testing

#42203 crimson/admin: dump DERIVE metrics as signed integer
  src/crimson/admin/osd_admin.cc
Labels: crimson

#42168 mgr/DaemonServer: use "unsigned" to represent the pgp num
  src/mgr/DaemonServer.cc
Labels: cleanup, core, mgr, needs-qa, wip-kefu-testing

#42177 mgr/cephadm: avoid saving daemons of unknown type
  src/pybind/mgr/cephadm/serve.py
  src/pybind/mgr/cephadm/tests/test_cephadm.py
Labels: cephadm, needs-qa, pybind, wip-kefu-testing

#42179 mon: return -EINVAL when handling unknown option in 'ceph osd pool get'
  src/mon/OSDMonitor.cc
Labels: bug fix, core, mon, needs-qa, wip-kefu-testing

#42205 doc/dev/crimson: add a section for metrics
  doc/dev/crimson/crimson.rst
Labels: crimson, documentation

#42175 log: set hostname and fsid for graylog
  src/common/Graylog.cc
  src/common/Graylog.h
  src/common/ceph_context.cc
  src/common/common_init.cc
  src/log/Log.cc
  src/log/Log.h
Labels: common, needs-qa, wip-kefu-testing

#42158 qa: run e2e test on centos only
  qa/suites/rados/dashboard/supported-random-distro$
Labels: core, dashboard, needs-qa, wip-kefu-testing

#36266 rgw: D3N Cache changes for Upstream
  qa/suites/rgw/verify/0-install.yaml
  qa/suites/rgw/verify/datacache/no_datacache.yaml
  qa/suites/rgw/verify/datacache/rgw-datacache.yaml
  qa/tasks/rgw.py
  qa/workunits/rgw/run-datacache.sh
  qa/workunits/rgw/test_rgw_datacache.py
  src/common/options/rgw.yaml.in
  src/common/subsys.h
  src/rgw/CMakeLists.txt
  src/rgw/rgw_aio.cc
  src/rgw/rgw_aio.h
  src/rgw/rgw_compression.cc
  src/rgw/rgw_d3n_cacherequest.h
  src/rgw/rgw_d3n_datacache.cc
  src/rgw/rgw_d3n_datacache.h
  src/rgw/rgw_main.cc
  src/rgw/rgw_rados.cc
  src/rgw/rgw_rados.h
  src/rgw/rgw_sal.cc
Labels: build/ops, common, core, documentation, feature, needs-doc, needs-test, performance, rgw, tests

#42183 mgr/dashboard: fix Accept-Language header parsing
  src/pybind/mgr/dashboard/controllers/home.py
  src/pybind/mgr/dashboard/tests/test_home.py
Labels: dashboard, pybind

#42132 mgr/dashboard: "Create Cluster" workflow (review page e2e)
  src/pybind/mgr/dashboard/frontend/cypress/integration/cluster/cluster-welcome-page.po.ts
  src/pybind/mgr/dashboard/frontend/cypress/integration/cluster/create-cluster-review.po.ts
  src/pybind/mgr/dashboard/frontend/cypress/integration/orchestrator/workflow/08-create-cluster-review.e2e-spec.ts
Labels: api-change, cephadm, dashboard, orchestrator, pybind, skip-teuthology, tests

#41260 mgr: map injector
  src/common/options/global.yaml.in
  src/mgr/ActivePyModules.cc
  src/mgr/CMakeLists.txt
  src/mgr/ClusterState.h
  src/mgr/Injector.cc
  src/mgr/Injector.h
Labels: build/ops, common, core, mgr, needs-review, pybind

#41887 octopus: mgr/dashboard: show partially deleted RBDs
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-details/rbd-details.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-form/rbd-form.model.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-list/rbd-list.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-list/rbd-list.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-list/rbd-list.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-list/rbd-list.component.ts
  src/pybind/mgr/dashboard/services/rbd.py
  src/pybind/mgr/dashboard/tests/test_rbd_service.py
Labels: dashboard, needs-review

#41720 mgr/dashboard: Cluster Creation Add Host Section
  src/pybind/mgr/dashboard/frontend/cypress/integration/cluster/hosts.po.ts
  src/pybind/mgr/dashboard/frontend/cypress/integration/orchestrator/01-hosts.e2e-spec.ts
  src/pybind/mgr/dashboard/frontend/cypress/integration/orchestrator/workflow/01-hosts.e2e-spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/app-routing.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/cluster.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/create-cluster/create-cluster.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/create-cluster/create-cluster.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/create-cluster/create-cluster.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/create-cluster/create-cluster.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/hosts/host-form/host-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/hosts/host-form/host-form.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/hosts/host-form/host-form.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/hosts/hosts.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/hosts/hosts.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/hosts/hosts.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/osd/osd-flags-indiv-modal/osd-flags-indiv-modal.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/components.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/modal/modal.component.html
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/modal/modal.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/modal/modal.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/wizard/wizard.component.html
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/wizard/wizard.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/wizard/wizard.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/wizard/wizard.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/models/wizard-steps.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/services/wizard-steps.service.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/services/wizard-steps.service.ts
  src/pybind/mgr/dashboard/frontend/src/styles/ceph-custom/_forms.scss
Labels: dashboard, feature, pybind

#42040 blk: use choose_fd for all filehandle references
  src/blk/BlockDevice.cc
  src/blk/BlockDevice.h
  src/blk/kernel/KernelDevice.cc
  src/blk/kernel/KernelDevice.h
Labels: bluestore, core, needs-qa, wip-kefu-testing

#42190 rgw: remove unused store variable
  src/rgw/rgw_rados.cc
Labels: cleanup, needs-review, rgw

#41774 pacific: cls/rgw: look for plain entries in non-ascii plain namespace too
  src/cls/rgw/cls_rgw.cc
  src/test/cls_rgw/test_cls_rgw.cc
Labels: needs-qa, pacific-batch-1, rgw, tests, wip-yuri2-testing

#42136 mon/OSDMonitor: resize oversized Lec::epoch_by_pg, after PG merging, preventing osdmap trimming
  src/mon/OSDMonitor.cc
  src/mon/OSDMonitor.h
Labels: core, mon, wip-kefu-testing

#42176 doc/rados/troubleshooting/log-and-debug: document option using :confval:
  doc/rados/troubleshooting/log-and-debug.rst
  src/common/options/global.yaml.in
  src/common/options/mon.yaml.in
Labels: cleanup, common, core, documentation

#42164 qa/tests: removed nautilus suites as EOL
  qa/crontab/teuthology-cronjobs
Labels: needs-review, tests

#42141 osd: move down peers out from peer_purged
  src/osd/PeeringState.cc
Labels: bug fix, core, needs-review

#42185 cmake: set denc_plugin_dir with the full path
  src/tools/ceph-dencoder/CMakeLists.txt
Labels: bug fix, build/ops, needs-qa, wip-kefu-testing

#40692 pacific: Warning Cleanup and Clang Compile Fix
  src/rgw/CMakeLists.txt
  src/rgw/rgw_crypt.cc
  src/rgw/rgw_datalog.cc
  src/rgw/rgw_file.cc
  src/rgw/rgw_rest_s3.cc
  src/test/librados/service.cc
  src/test/librados_test_stub/LibradosTestStub.cc
  src/test/osd/TestOSDMap.cc
Labels: build/ops, core, needs-qa, pacific-batch-1, rbd, rgw, tests, wip-yuri-testing

#42250 pacific: doc/rados/operations: s/max_misplaced/target_max_misplaced_ratio/
  doc/rados/operations/balancer.rst
Labels: core, documentation

#41965 README.md: fix couple minor syntax issues
  README.md
Labels: documentation

#42034 pybind/mgr/progress: fix type of reported_epoch
  src/pybind/mgr/progress/module.py
  src/pybind/mgr/progress/test_progress.py
Labels: pybind

#42234 qa/standalone: Add missing cleanups after completion of a subset of osd and scrub tests.
  qa/standalone/osd/osd-force-create-pg.sh
  qa/standalone/osd/osd-reuse-id.sh
  qa/standalone/osd/pg-split-merge.sh
  qa/standalone/scrub/osd-scrub-repair.sh
Labels: core, tests

#42112 common/buffer: fix stack corruption in rebuild_aligned_size_and_memory()
  src/common/buffer.cc
  src/test/bufferlist.cc
Labels: bug fix, common, needs-review, tests

#42253 doc/foundation: add linode
  doc/foundation.rst
Labels: documentation

#41150 mgr/cli lightweight get method api call
  src/pybind/mgr/.pylintrc
  src/pybind/mgr/cli_api/__init__.py
  src/pybind/mgr/cli_api/module.py
  src/pybind/mgr/cli_api/tests/__init__.py
  src/pybind/mgr/cli_api/tests/test_cliapi.py
  src/pybind/mgr/tox.ini
Labels: mgr, needs-review, pybind

#42246 doc: 16.2.5 Release Notes
  doc/releases/index.rst
  doc/releases/pacific.rst
  doc/releases/releases.yml
Labels: documentation

#42265 pacific: doc/releases/pacific.rst: remove notes about autoscaler
  PendingReleaseNotes
Labels: documentation

#42212 rgw: Use signaling compatible with POSIX
  src/rgw/rgw_d3n_cacherequest.h
  src/rgw/rgw_d3n_datacache.cc
Labels: FreeBSD, needs-qa, rgw

#42272 rpm: remove macro invocation from comment line
  ceph.spec.in
Labels: bug fix, build/ops

#41834 doc: Correction and improvisation for Timestamp part of the doc
  doc/radosgw/s3select.rst
Labels: documentation, rgw

#41757 octopus: bluestore: use string_view and strip trailing slash for dir listing
  src/os/bluestore/BlueFS.cc
  src/os/bluestore/BlueFS.h
  src/os/bluestore/BlueRocksEnv.cc
  src/os/bluestore/BlueRocksEnv.h
  src/os/bluestore/BlueStore.cc
  src/os/bluestore/BlueStore.h
  src/os/bluestore/bluefs_types.h
Labels: bluestore, bug fix, cleanup, needs-qa, octopus-batch-1, wip-yuri3-testing

#41034 mgr/dashboard: create directive for AuthStorage service
  src/pybind/mgr/dashboard/frontend/src/app/ceph/pool/pool-list/pool-list.component.html
  src/pybind/mgr/dashboard/frontend/src/app/shared/directives/auth-storage.directive.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/directives/auth-storage.directive.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/directives/directives.module.ts
Labels: dashboard, pybind

#42217 monitoring: fix Physical Device Latency unit
  monitoring/grafana/dashboards/osd-device-details.json
Labels: dashboard

#40782 octopus: mds: reject lookup ino requests for mds dirs
  src/mds/Server.cc
  src/test/libcephfs/test.cc
Labels: cephfs, needs-qa, octopus-batch-1, tests, wip-yuri3-testing

#41625 octopus: mds: completed_requests -> num_completed_requests and dump num_completed_flushes
  src/mds/SessionMap.cc
Labels: cephfs, needs-qa, octopus-batch-1, wip-yuri3-testing

#41626 octopus: mds: place the journaler pointer under the mds_lock
  src/mds/MDLog.cc
Labels: bug fix, cephfs, needs-qa, octopus-batch-1, wip-yuri3-testing

#41767 octopus: mds: fix cpu_profiler asok crash
  src/mds/MDSDaemon.cc
  src/perfglue/cpu_profiler.cc
Labels: cephfs, needs-qa, octopus-batch-1, wip-yuri3-testing

#41996 octopus: mds: avoid journaling overhead for setxattr("ceph.dir.subvolume") for no-op case
  src/mds/Mutation.h
  src/mds/Server.cc
Labels: cephfs, needs-qa, octopus-batch-1, wip-yuri3-testing

#42093 pacific: rgw: extending existing ssl support for vault KMS
  doc/radosgw/vault.rst
  src/common/legacy_config_opts.h
  src/common/options.cc
  src/rgw/rgw_http_client.cc
  src/rgw/rgw_http_client.h
  src/rgw/rgw_kms.cc
Labels: common, documentation, needs-qa, pacific-batch-1, rgw, wip-yuri2-testing

#40694 pacific: qa/rgw: move ignore-pg-availability.yaml out of suites/rgw
  qa/rgw/ignore-pg-availability.yaml
  qa/suites/rgw/crypt/ignore-pg-availability.yaml
  qa/suites/rgw/multifs/ignore-pg-availability.yaml
  qa/suites/rgw/multisite/ignore-pg-availability.yaml
  qa/suites/rgw/sts/.qa
  qa/suites/rgw/sts/ignore-pg-availability.yaml
  qa/suites/rgw/verify/ignore-pg-availability.yaml
Labels: needs-qa, pacific-batch-1, rgw, wip-yuri2-testing

#41775 octopus: cls/rgw: look for plain entries in non-ascii plain namespace too
  src/cls/rgw/cls_rgw.cc
  src/test/cls_rgw/test_cls_rgw.cc
Labels: needs-qa, octopus-batch-1, rgw, wip-yuri3-testing

#42092 doc/cephadm: improving "Starting the Upgrade"
  doc/cephadm/upgrade.rst
Labels: cephadm, documentation

#42113 doc/cephadm: improve "Potential Problems"
  doc/cephadm/upgrade.rst
Labels: cephadm, documentation

#42269 doc/dev: add IRC information to dev guide
  doc/dev/developer_guide/essentials.rst
Labels: documentation

#42025 octopus: qa/workunits/rbd: use bionic version of qemu-iotests for focal
  qa/workunits/rbd/qemu-iotests.sh
Labels: needs-qa, octopus-batch-1, rbd, tests, wip-yuri3-testing

#42235 tools/kvstore_tool: add "std::" before ostream and string
  src/tools/kvstore_tool.h
Labels: cleanup, needs-qa, tools, wip-kefu-testing

#42268 mon/PGMap: remove get_stuck_counts because there are no callers
  src/mon/PGMap.cc
  src/mon/PGMap.h
Labels: cleanup, core, mon, needs-qa, wip-kefu-testing

#42210 common/options: global.yaml: change ms_bind_port_max to 7568
  src/common/options/global.yaml.in
Labels: common, needs-qa, wip-kefu-testing

#42206 common/hobject: a minor fix and performance gain to hobjects listing
  src/common/hobject.cc
Labels: common, core, needs-qa, performance, wip-kefu-testing

#42274 common/blkdev: remove stray debug output
  src/common/blkdev.cc
Labels: common, needs-qa, wip-kefu-testing

#42209 doc/dev/cephadm: Define variables
  doc/dev/cephadm/developing-cephadm.rst
Labels: cephadm, documentation

#42267 os/bluestore: fix erroneous SharedBlob record removal during repair.
  src/os/bluestore/BlueStore.cc
Labels: bluestore, bug fix, core, needs-qa, wip-kefu-testing

#42033 vstart_runner: add log messages to vstart_runner.py
  qa/tasks/vstart_runner.py
Labels: needs-review, tests, vstart_runner

#42030 vstart_runner: maintain log level when --debug is passed
  qa/tasks/vstart_runner.py
Labels: bug fix, needs-review, tests, vstart_runner

#42029 vstart_runner: use FileNotFoundError when os.stat() fails
  qa/tasks/vstart_runner.py
Labels: bug fix, needs-review, tests, vstart_runner

#42303 crimson/tools/store_nbd: fixes to implement graceful shutdown
  src/crimson/tools/store_nbd/store-nbd.cc
  src/crimson/tools/store_nbd/tm_driver.cc
Labels: crimson

#42313 crimson/osd: drop a temporary in PG::handle_initialize().
  src/crimson/osd/pg.cc
Labels: cleanup, crimson

#42312 crimson/osd: use boot_epoch for MOSDBoot.
  src/crimson/osd/osd.cc
Labels: crimson

#42227 cephadm: add bootstrap --log-to-file option
  doc/cephadm/install.rst
  doc/man/8/cephadm.rst
  src/cephadm/cephadm
Labels: cephadm, documentation, wip-sage4-testing

#42305 mgr/dashboard: remove usage of 'rgw_frontend_ssl_key'
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/services/service-form/service-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/services/service-form/service-form.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/services/service-form/service-form.component.ts
Labels: dashboard, pybind

#42301 doc/dev/crimson: add a section for testing with crimson-store-nbd
  doc/dev/crimson/crimson.rst
Labels: crimson, documentation

#42278 doc: move nfs doc under mgr docs
  .github/labeler.yml
  doc/cephadm/nfs.rst
  doc/cephfs/index.rst
  doc/cephfs/nfs.rst
  doc/mgr/index.rst
  doc/mgr/nfs.rst
  doc/radosgw/nfs.rst
  doc/releases/pacific.rst
Labels: CI, cephadm, cephfs, documentation, mgr, nfs, rgw

#42294 qa/*/test_envlibrados_for_rocksdb.sh: install libarchive-3.3.3
  qa/workunits/rados/test_envlibrados_for_rocksdb.sh
Labels: core, tests

#42319 qa/tasks/rebuild_mondb: fix rebuild vs logmonitor external_log_to
  qa/tasks/rebuild_mondb.py
Labels: tests

#42276 common/LogEntry: drop support of LogSummary v2 encoding scheme
  src/common/LogEntry.cc
Labels: cleanup, common, wip-kefu-testing

#42291 cephadm: ensure sysctl_dir exist
  src/cephadm/cephadm
Labels: cephadm, needs-qa, wip-kefu-testing

#42197 os/bluestore: respect bluestore_warn_on_spurious_read_errors setting
  src/os/bluestore/BlueStore.cc
Labels: bluestore, bug fix, core, needs-qa, wip-kefu-testing

#42218 os/bluestore: compact db after bulk omap naming upgrade.
  src/os/bluestore/BlueStore.cc
  src/os/bluestore/BlueStore.h
Labels: bluestore, core, needs-qa, wip-kefu-testing

#42285 msg/async/ProtocolV2: optimize append_frame
  src/msg/async/ProtocolV2.cc
Labels: core, needs-qa, performance, wip-kefu-testing

#42279 osd: fix to recover adjacent clone when set_chunk is called
  src/osd/PrimaryLogPG.cc
Labels: bug fix, core, wip-kefu-testing

#42202 crimson/os/seastore: implement label-based profiling with metrics
  src/crimson/admin/osd_admin.cc
  src/crimson/os/seastore/cache.cc
  src/crimson/os/seastore/cache.h
  src/crimson/os/seastore/collection_manager/collection_flat_node.h
  src/crimson/os/seastore/lba_manager/btree/lba_btree_node_impl.h
  src/crimson/os/seastore/omap_manager/btree/omap_btree_node_impl.cc
  src/crimson/os/seastore/omap_manager/btree/omap_btree_node_impl.h
  src/crimson/os/seastore/onode_manager/staged-fltree/node_extent_manager/seastore.h
  src/crimson/os/seastore/seastore.cc
  src/crimson/os/seastore/seastore.h
  src/crimson/os/seastore/seastore_types.h
  src/crimson/os/seastore/segment_cleaner.cc
  src/crimson/os/seastore/segment_cleaner.h
  src/crimson/os/seastore/transaction.h
  src/crimson/os/seastore/transaction_manager.cc
  src/crimson/os/seastore/transaction_manager.h
  src/crimson/tools/store_nbd/tm_driver.cc
  src/test/crimson/seastore/onode_tree/test_fltree_onode_manager.cc
  src/test/crimson/seastore/onode_tree/test_staged_fltree.cc
  src/test/crimson/seastore/test_btree_lba_manager.cc
  src/test/crimson/seastore/test_collection_manager.cc
  src/test/crimson/seastore/test_object_data_handler.cc
  src/test/crimson/seastore/test_omap_manager.cc
  src/test/crimson/seastore/test_randomblock_manager.cc
  src/test/crimson/seastore/test_seastore_cache.cc
  src/test/crimson/seastore/test_transaction_manager.cc
  src/test/crimson/seastore/transaction_manager_test_state.h
  src/tools/crimson/perf_staged_fltree.cc
Labels: crimson, tests

#42311 crimson/osd: prevent premature OSD activation.
  src/crimson/osd/osd.cc
Labels: bug fix, crimson

#42271 crimson/os/seastore: use writev to avoid extra memory copy
  src/crimson/os/seastore/segment_manager/block.cc
Labels: crimson

#42314 crimson/osd: consider epoch_sent when ignoring old peering event.
  src/crimson/osd/pg.cc
  src/crimson/osd/pg.h
Labels: bug fix, cleanup, crimson

#42310 crimson/osd: remote peering requests wait for OSD activation.
  src/crimson/osd/osd.h
  src/crimson/osd/osd_operations/peering_event.cc
  src/crimson/osd/osd_operations/peering_event.h
  src/crimson/osd/state.h
Labels: bug fix, crimson

#42288 cephadm: use CephadmContext rather than MagicMock
  src/cephadm/tests/test_cephadm.py
Labels: cephadm

#42244 doc/cephadm: operations: Data location & ...
  doc/cephadm/operations.rst
Labels: cephadm, documentation

#42145 librbd/cache/pwl/ssd: fix use-after-free on C_BlockIORequest
  src/librbd/cache/pwl/AbstractWriteLog.cc
  src/librbd/cache/pwl/AbstractWriteLog.h
  src/librbd/cache/pwl/rwl/WriteLog.cc
  src/librbd/cache/pwl/rwl/WriteLog.h
  src/librbd/cache/pwl/ssd/WriteLog.cc
  src/librbd/cache/pwl/ssd/WriteLog.h
Labels: bug fix, rbd

#41490 librbd/cache/pwl/ssd: fix first_free_entry and m_first_free_entry corruption
  src/librbd/cache/pwl/ssd/WriteLog.cc
  src/librbd/cache/pwl/ssd/WriteLog.h
Labels: bug fix, rbd

#42316 pacific: mgr/dashboard: remove usage of 'rgw_frontend_ssl_key'
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/services/service-form/service-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/services/service-form/service-form.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/services/service-form/service-form.component.ts
Labels: backport:no-conflicts, dashboard, pybind

#39834 pacific: mgr/rook: Add timezone info
  doc/_ext/ceph_commands.py
  src/mypy.ini
  src/pybind/mgr/rook/module.py
  src/pybind/mgr/rook/rook_cluster.py
Labels: documentation, needs-qa, orchestrator, pacific-batch-1, pybind, rook, wip-yuri2-testing

#42086 pacific: mgr/volumes: Add config to insert delay at the beginning of the clone
  qa/tasks/cephfs/test_volumes.py
  src/pybind/mgr/volumes/fs/async_cloner.py
  src/pybind/mgr/volumes/fs/volume.py
  src/pybind/mgr/volumes/module.py
Labels: cephfs, mgr, needs-qa, pacific-batch-1, pybind, tests, wip-yuri2-testing

#42088 pacific: mds: to print the unknow type value
  src/include/cephfs/metrics/Types.h
  src/mds/MetricsHandler.cc
Labels: cephfs, needs-qa, pacific-batch-1, wip-yuri2-testing

#42165 pacific: qa: FileNotFoundError: [Errno 2] No such file or directory: '/sys/kernel/debug/ceph/3fab6bea-f243-47a4-a956-8c03a62b61b5.client4721/mds_sessions'
  qa/tasks/cephfs/kernel_mount.py
  qa/tasks/cephfs/test_client_recovery.py
Labels: cephfs, needs-qa, pacific-batch-1, tests, wip-yuri2-testing

#42221 pacific: qa/workunits/mon/test_mon_config_key: use subprocess.run() instead of proc.communicate()
  qa/workunits/mon/test_mon_config_key.py
Labels: core, mon, needs-qa, pacific-batch-1, tests, wip-yuri2-testing
