Repository ceph/ceph, pull requests merged in 2021-03, with the labels that each got.

#39696 qa: crank up client side debugging w/ mon thrashing
  qa/suites/rados/monthrash/ceph.yaml
Labels: core, wip-sage-testing

#39631 mon/OSDMonitor: do not mark newly created OSDs OUT
  src/mon/OSDMonitor.cc
  src/osd/OSDMap.cc
Labels: core, mon, needs-qa, wip-sage-testing

#39652 crimson: btree omap_manager rework with other misc fixes
  src/crimson/os/futurized_store.h
  src/crimson/os/seastore/CMakeLists.txt
  src/crimson/os/seastore/cache.h
  src/crimson/os/seastore/collection_manager.h
  src/crimson/os/seastore/extentmap_manager/btree/extentmap_btree_node_impl.h
  src/crimson/os/seastore/journal.h
  src/crimson/os/seastore/lba_manager/btree/btree_lba_manager.cc
  src/crimson/os/seastore/lba_manager/btree/lba_btree_node_impl.cc
  src/crimson/os/seastore/lba_manager/btree/lba_btree_node_impl.h
  src/crimson/os/seastore/omap_manager.h
  src/crimson/os/seastore/omap_manager/btree/btree_omap_manager.cc
  src/crimson/os/seastore/omap_manager/btree/btree_omap_manager.h
  src/crimson/os/seastore/omap_manager/btree/omap_btree_node.h
  src/crimson/os/seastore/omap_manager/btree/omap_btree_node_impl.cc
  src/crimson/os/seastore/omap_manager/btree/omap_btree_node_impl.h
  src/crimson/os/seastore/omap_manager/btree/omap_types.h
  src/crimson/os/seastore/omap_manager/btree/string_kv_node_layout.h
  src/crimson/os/seastore/root_block.h
  src/crimson/os/seastore/seastore.cc
  src/crimson/os/seastore/seastore.h
  src/crimson/os/seastore/seastore_types.h
  src/crimson/os/seastore/segment_cleaner.h
  src/crimson/os/seastore/transaction_manager.cc
  src/crimson/os/seastore/transaction_manager.h
  src/crimson/tools/store-nbd.cc
  src/include/types.h
  src/test/crimson/seastore/CMakeLists.txt
  src/test/crimson/seastore/test_omap_manager.cc
  src/test/crimson/seastore/transaction_manager_test_state.h
Labels: build/ops, crimson, tests

#39743 crimson/osd: capturing this in a better way
  src/crimson/osd/osd_operations/client_request.cc
  src/crimson/osd/osd_operations/peering_event.cc
Labels: cleanup, crimson

#39521 rgw/notification: add exception handling for persistent notification thread
  src/rgw/rgw_notify.cc
Labels: bug fix, needs-qa, rgw

#39329 nautilus: tools/rados: add support for binary object names in the rados CLI
  src/tools/rados/rados.cc
Labels: cleanup, core, feature, nautilus-batch-1, needs-qa, wip-yuri2-testing

#39509 nautilus: mgr/dashboard: prometheus alerting: add some leeway for package drops and errors
  monitoring/prometheus/alerts/ceph_default_alerts.yml
Labels: dashboard, nautilus-batch-1, needs-qa, wip-yuri2-testing

#39708 nautilus: osd: fix bluestore bitmap allocator calculate wrong last_pos with hint
  src/os/bluestore/fastbmap_allocator_impl.h
Labels: core, nautilus-batch-1, needs-qa, wip-yuri2-testing

#39324 nautilus: librados, tests: allow to list objects with the NUL character in names
  src/include/rados/librados.h
  src/librados/librados_c.cc
  src/librados/librados_cxx.cc
  src/test/librados/list.cc
  src/tools/scratchtool.c
  src/tracing/librados.tp
Labels: core, nautilus-batch-1, needs-qa, tests, wip-yuri5-testing

#39650 nautilus: test/rbd-mirror: fix broken ceph_test_rbd_mirror_random_write
  qa/workunits/rbd/rbd_mirror_helpers.sh
  src/test/rbd_mirror/random_write.cc
Labels: nautilus-batch-1, needs-qa, rbd, tests, wip-yuri2-testing

#39698 nautilus: os/bluestore: fix huge read/writes in BlueFS
  src/os/bluestore/BlueFS.cc
  src/os/bluestore/BlueFS.h
  src/os/bluestore/BlueRocksEnv.cc
  src/test/objectstore/test_bluefs.cc
Labels: bluestore, bug fix, nautilus-batch-1, needs-qa, wip-yuri5-testing

#39651 nautilus: common/mempool: Improve mempool shard selection
  src/common/buffer.cc
  src/include/mempool.h
  src/test/test_mempool.cc
Labels: common, nautilus-batch-1, needs-qa, wip-yuri2-testing

#39661 nautilus: rgw: radosgw-admin: clarify error when email address already in use
  src/rgw/rgw_user.cc
Labels: nautilus-batch-1, needs-qa, rgw, wip-yuri2-testing

#39663 pacific: rgw: radosgw-admin: clarify error when email address already in use
  src/rgw/rgw_user.cc
Labels: needs-qa, pacific-batch-1, rgw, wip-yuri4-testing

#39236 pacific: mgr/zabbix: format ceph.[{#POOL},percent_used as float
  src/pybind/mgr/zabbix/module.py
  src/pybind/mgr/zabbix/zabbix_template.xml
Labels: mgr, needs-qa, pacific-batch-1, pybind, wip-yuri7-testing

#39276 nautilus: rgw: fix trailing null in object names of multipart reuploads
  src/cls/otp/cls_otp_client.cc
  src/common/CMakeLists.txt
  src/common/random_string.cc
  src/common/random_string.h
  src/rgw/rgw_common.cc
  src/rgw/rgw_common.h
  src/rgw/rgw_lc_s3.cc
  src/rgw/rgw_putobj_processor.cc
  src/rgw/rgw_rados.cc
  src/test/CMakeLists.txt
  src/test/test_random_string.cc
Labels: nautilus-batch-1, needs-qa, rgw, wip-yuri5-testing

#39706 nautilus: rados/upgrade/nautilus-x-singleton fails due to cluster [WRN] evicting unresponsive client
  qa/suites/upgrade/mimic-x/parallel/1-ceph-install/mimic.yaml
  qa/suites/upgrade/nautilus-p2p/nautilus-p2p-parallel/point-to-point-upgrade.yaml
  qa/suites/upgrade/nautilus-p2p/nautilus-p2p-stress-split/0-cluster/start.yaml
  src/mgr/MgrStandby.cc
Labels: cephfs, nautilus-batch-1, needs-qa, tests, wip-yuri2-testing

#39188 pacific: mgr/devicehealth: do not create pool until there are enough osds
  src/pybind/mgr/devicehealth/module.py
Labels: mgr, needs-qa, pacific-batch-1, pybind, wip-yuri7-testing

#39731 rbd: use portable zero-ing memory function
  src/librbd/crypto/luks/LoadRequest.cc
  src/tools/rbd_nbd/rbd-nbd.cc
Labels: cleanup, needs-qa, rbd, wip-jason-testing

#39235 octopus: mgr/zabbix: format ceph.[{#POOL},percent_used as float
  src/pybind/mgr/zabbix/module.py
  src/pybind/mgr/zabbix/zabbix_template.xml
Labels: mgr, needs-qa, octopus-batch-1, wip-yuri-testing

#39732 test/librbd: resolve compile error on centos
  src/test/librbd/migration/test_mock_HttpClient.cc
Labels: needs-qa, rbd, tests, wip-jason-testing

#39725 qa: delete all fs during tearDown
  qa/tasks/cephfs/cephfs_test_case.py
Labels: cephfs, needs-qa, tests, wip-pdonnell-testing

#39710 qa: run fs:verify on all distros
  qa/suites/fs/verify/centos_latest.yaml
  qa/suites/fs/verify/distro
  qa/suites/fs/verify/validater/valgrind.yaml
Labels: cephfs, needs-qa, wip-pdonnell-testing

#39680 mds: allow `fs authorize` command to work
  qa/tasks/cephfs/test_admin.py
  src/mds/MDSAuthCaps.cc
  src/mon/MonCap.cc
Labels: bug fix, cephfs, needs-qa, wip-pdonnell-testing

#39601 tests: ceph_test_rados_api_watch_notify: Allow for reconnect
  src/test/librados/watch_notify.cc
Labels: core, tests

#39718 doc/dev: add t8y label to index.rst
  doc/dev/developer_guide/index.rst
Labels: documentation

#39768 crimson/monc: renew subscriptions when reopening a session.
  src/crimson/mon/MonClient.cc
Labels: bug fix, crimson

#39673 crimson: drop the support of ProtocolV1
  src/auth/AuthClientHandler.h
  src/crimson/CMakeLists.txt
  src/crimson/mon/MonClient.cc
  src/crimson/net/ProtocolV1.cc
  src/crimson/net/ProtocolV1.h
  src/crimson/net/SocketConnection.cc
  src/crimson/net/SocketConnection.h
  src/crimson/net/SocketMessenger.cc
  src/mon/Monitor.cc
  src/test/crimson/test_messenger.cc
Labels: build/ops, cleanup, core, crimson, mon, tests

#39470 nautilus: ceph-volume: Update batch.py
  src/ceph-volume/ceph_volume/devices/lvm/batch.py
Labels: ceph-volume

#39271 octopus: ceph-volume: add some flexibility to bytes_to_extents
  src/ceph-volume/ceph_volume/api/lvm.py
  src/ceph-volume/ceph_volume/tests/api/test_lvm.py
  src/ceph-volume/ceph_volume/util/device.py
Labels: ceph-volume, wip-sage5-testing

#39543 nautilus: mgr/dashboard: RGW User Form is validating disabled fields
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-user-form/rgw-user-form.component.ts
Labels: bug fix, dashboard, skip-teuthology

#39306 octopus: mgr/dashboard/monitoring: upgrade Grafana version due to CVE-2020-13379
  src/cephadm/cephadm
  src/pybind/mgr/cephadm/module.py
Labels: dashboard, orchestrator, skip-teuthology

#39027 octopus: mgr/dashboard: Fix for incorrect validation in rgw user form
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-user-form/rgw-user-form.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/rgw-user.service.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/rgw-user.service.ts
Labels: dashboard, needs-review, skip-teuthology

#39103 octopus: mgr/dashboard: trigger alert if some nodes have a MTU different than the median value
  monitoring/prometheus/alerts/ceph_default_alerts.yml
Labels: dashboard, skip-teuthology

#39685 pybind/mgr/dashboard: bump up requests to 2.25.1
  src/pybind/mgr/dashboard/constraints.txt
Labels: dashboard, pybind

#39752 pacific: mgr/dashboard: Splitting tenant$user when creating rgw user
  src/pybind/mgr/dashboard/frontend/cypress/integration/rgw/users.e2e-spec.ts
  src/pybind/mgr/dashboard/frontend/cypress/integration/rgw/users.po.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-user-details/rgw-user-details.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-user-details/rgw-user-details.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-user-form/rgw-user-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-user-form/rgw-user-form.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-user-form/rgw-user-form.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-user-list/rgw-user-list.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/forms/cd-validators.ts
Labels: dashboard, needs-review, pybind

#39760 doc/cephadm: rewrite "b.strap a new cluster"
  doc/cephadm/install.rst
  doc/rados/configuration/network-config-ref.rst
Labels: cephadm, core, documentation

#39744 doc/cephadm: rewrite "install cephadm"
  doc/cephadm/install.rst
Labels: cephadm, documentation

#39779 crimson/mon: resend mon command when connected and cleanups
  src/crimson/mon/MonClient.cc
  src/crimson/mon/MonClient.h
  src/crimson/osd/osd.cc
Labels: crimson

#39783 crimson/os: fix clang build and cleanups.
  src/crimson/os/alienstore/alien_store.cc
  src/crimson/os/seastore/collection_manager/flat_collection_manager.cc
  src/crimson/os/seastore/omap_manager/btree/omap_btree_node_impl.cc
  src/crimson/os/seastore/transaction_manager.cc
Labels: crimson

#39784 crimson/monc: close() active_con before destructing it on resets.
  src/crimson/mon/MonClient.cc
Labels: bug fix, crimson

#39612 mgr/orchestrator: Fix ceph orch ls in Rook
  src/pybind/mgr/orchestrator/_interface.py
Labels: orchestrator, pybind, rook

#39352 mgr/orch: Make orchestrator interface synchronous.
  doc/mgr/orchestrator_modules.rst
  src/pybind/mgr/cephadm/module.py
  src/pybind/mgr/cephadm/tests/fixtures.py
  src/pybind/mgr/cephadm/tests/test_completion.py
  src/pybind/mgr/dashboard/services/orchestrator.py
  src/pybind/mgr/mds_autoscaler/module.py
  src/pybind/mgr/mds_autoscaler/tests/test_autoscaler.py
  src/pybind/mgr/orchestrator/__init__.py
  src/pybind/mgr/orchestrator/_interface.py
  src/pybind/mgr/orchestrator/module.py
  src/pybind/mgr/orchestrator/tests/test_orchestrator.py
  src/pybind/mgr/rook/module.py
  src/pybind/mgr/selftest/module.py
  src/pybind/mgr/test_orchestrator/module.py
  src/pybind/mgr/tests/__init__.py
  src/pybind/mgr/tox.ini
  src/pybind/mgr/volumes/fs/fs_util.py
  src/pybind/mgr/volumes/fs/nfs.py
  src/pybind/mgr/volumes/fs/operations/volume.py
Labels: cephadm, cephfs, cleanup, dashboard, documentation, mgr, orchestrator, pybind, wip-swagner-testing

#38915 mgr/cephadm: add ok-to-stop functions for ceph client services
  src/pybind/mgr/cephadm/inventory.py
  src/pybind/mgr/cephadm/services/cephadmservice.py
  src/pybind/mgr/cephadm/services/iscsi.py
  src/pybind/mgr/cephadm/services/nfs.py
Labels: cephadm, orchestrator, pybind, wip-swagner-testing

#39722 cephadm: `cephadm ls` broken for SUSE downstream alertmanager container
  src/cephadm/cephadm
  src/cephadm/tests/test_cephadm.py
Labels: bug fix, cephadm, monitoring, wip-swagner-testing

#38995 cephadm: remove redundant `ERROR` during check-host
  src/cephadm/cephadm
Labels: cephadm, needs-review

#39679 Revert "mon/MDSMonitor: add missing frozen checks"
  src/mon/MDSMonitor.cc
Labels: cephfs, core, mon, needs-review, wip-pdonnell-testing

#39739 cephadm,msg: ensure msgr address is unique when we have an init in our container
  doc/man/8/cephadm.rst
  src/cephadm/cephadm
  src/msg/Messenger.cc
  src/pybind/mgr/cephadm/module.py
  src/pybind/mgr/cephadm/serve.py
Labels: cephadm, core, documentation, pybind, rook, wip-sage-testing, wip-sage3-testing

#39723 mon/ConfigMonitor: make config changes via KVMonitor's pending set
  src/mon/ConfigMonitor.cc
  src/mon/ConfigMonitor.h
  src/mon/KVMonitor.h
Labels: core, mon, wip-sage-testing

#39781 qa/suites/krbd: address recent issues caused by newer kernels
  qa/run_xfstests.sh
  qa/suites/krbd/singleton/tasks/rbd_xfstests.yaml
  qa/tasks/rbd.py
Labels: needs-qa, rbd, tests

#39730 cephadm: fix escaping/quoting of stderr-prefix arg for ceph daemons
  src/cephadm/cephadm
Labels: cephadm, orchestrator, pybind, wip-sage-testing

#39466 pacific: common: Add Windows ETW support
  src/common/CMakeLists.txt
  src/common/win32/event_logging.mc
  src/common/win32/syslog.cc
  src/include/win32/syslog.h
Labels: build/ops, common, needs-qa, pacific-batch-1, win32, wip-yuri8-testing

#39508 pacific: mgr/dashboard: prometheus alerting: add some leeway for package drops and errors
  monitoring/prometheus/alerts/ceph_default_alerts.yml
Labels: bug fix, dashboard, monitoring, needs-qa, pacific-batch-1, wip-yuri8-testing

#39635 pacific: cephfs-mirror: run mirror daemon with valgrind
  qa/suites/fs/valgrind/%
  qa/suites/fs/valgrind/.qa
  qa/suites/fs/valgrind/begin.yaml
  qa/suites/fs/valgrind/centos_latest.yaml
  qa/suites/fs/valgrind/mirror/%
  qa/suites/fs/valgrind/mirror/.qa
  qa/suites/fs/valgrind/mirror/cephfs-mirror/one-per-cluster.yaml
  qa/suites/fs/valgrind/mirror/clients/mirror.yaml
  qa/suites/fs/valgrind/mirror/cluster/1-node.yaml
  qa/suites/fs/valgrind/mirror/mount/fuse.yaml
  qa/suites/fs/valgrind/mirror/overrides/.qa
  qa/suites/fs/valgrind/mirror/overrides/whitelist_health.yaml
  qa/suites/fs/valgrind/mirror/tasks/mirror.yaml
  qa/suites/fs/valgrind/notcmalloc.yaml
  qa/tasks/cephfs/test_mirroring.py
  qa/tasks/cephfs_mirror.py
  src/tools/cephfs_mirror/FSMirror.cc
  src/tools/cephfs_mirror/FSMirror.h
  src/tools/cephfs_mirror/Mirror.cc
  src/tools/cephfs_mirror/Mirror.h
  src/tools/cephfs_mirror/PeerReplayer.cc
  src/tools/cephfs_mirror/main.cc
Labels: cephfs, needs-qa, pacific-batch-1, tests, wip-yuri8-testing

#39675 pacific: librbd: miscellaneous backports
  CMakeLists.txt
  qa/suites/rbd/persistent-writeback-cache/%
  qa/suites/rbd/persistent-writeback-cache/.qa
  qa/suites/rbd/persistent-writeback-cache/1-base
  qa/suites/rbd/persistent-writeback-cache/2-cluster/+
  qa/suites/rbd/persistent-writeback-cache/2-cluster/.qa
  qa/suites/rbd/persistent-writeback-cache/2-cluster/fix-2.yaml
  qa/suites/rbd/persistent-writeback-cache/2-cluster/openstack.yaml
  qa/suites/rbd/persistent-writeback-cache/3-supported-random-distro$
  qa/suites/rbd/persistent-writeback-cache/4-pool/cache.yaml
  qa/suites/rbd/persistent-writeback-cache/5-cache-mode/rwl.yaml
  qa/suites/rbd/persistent-writeback-cache/6-workloads/.qa
  qa/suites/rbd/persistent-writeback-cache/6-workloads/c_api_tests_with_defaults.yaml
  qa/suites/rbd/persistent-writeback-cache/6-workloads/fio.yaml
  qa/suites/rbd/persistent-writeback-cache/6-workloads/qemu_xfstests.yaml
  qa/suites/rbd/persistent-writeback-cache/6-workloads/recovery.yaml
  qa/tasks/exec_on_cleanup.py
  qa/workunits/rbd/cli_migration.sh
  src/include/config-h.in.cmake
  src/librbd/crypto/luks/LoadRequest.cc
  src/librbd/migration/QCOWFormat.cc
  src/librbd/migration/QCOWFormat.h
  src/test/librbd/migration/test_mock_HttpClient.cc
  src/test/librbd/migration/test_mock_QCOWFormat.cc
  src/tools/rbd_nbd/rbd-nbd.cc
  src/tools/rbd_wnbd/rbd_wnbd.cc
Labels: build/ops, pacific-batch-1, rbd, tests

#39376 octopus: mgr/rbd_support: create mirror snapshots asynchronously
  src/include/rbd/librbd.h
  src/include/rbd/librbd.hpp
  src/librbd/api/Mirror.cc
  src/librbd/api/Mirror.h
  src/librbd/librbd.cc
  src/pybind/mgr/mgr_module.py
  src/pybind/mgr/rbd_support/mirror_snapshot_schedule.py
  src/pybind/mgr/rbd_support/module.py
  src/pybind/rados/rados.pxd
  src/pybind/rados/rados.pyx
  src/pybind/rbd/rbd.pyx
  src/test/librbd/test_mirroring.cc
  src/test/pybind/test_rados.py
  src/test/pybind/test_rbd.py
  src/test/rbd_mirror/test_ImageReplayer.cc
Labels: needs-qa, octopus-batch-1, performance, rbd, wip-yuri-testing

#39577 octopus: librbd: correct incremental deep-copy object-map inconsistencies
  qa/suites/rbd/mirror-thrash/workloads/rbd-mirror-journal-stress-workunit.yaml
  qa/suites/rbd/mirror-thrash/workloads/rbd-mirror-snapshot-stress-workunit-exclusive-lock.yaml
  qa/suites/rbd/mirror-thrash/workloads/rbd-mirror-snapshot-stress-workunit-fast-diff.yaml
  qa/suites/rbd/mirror-thrash/workloads/rbd-mirror-snapshot-stress-workunit-minimum.yaml
  qa/workunits/rbd/rbd_mirror_helpers.sh
  qa/workunits/rbd/rbd_mirror_stress.sh
  src/librbd/api/DiffIterate.cc
  src/librbd/deep_copy/ImageCopyRequest.cc
  src/librbd/deep_copy/ObjectCopyRequest.cc
  src/librbd/deep_copy/ObjectCopyRequest.h
  src/librbd/deep_copy/Types.h
  src/librbd/io/CopyupRequest.cc
  src/librbd/object_map/DiffRequest.cc
  src/librbd/object_map/DiffRequest.h
  src/librbd/object_map/Types.h
  src/librbd/operation/MigrateRequest.cc
  src/test/librbd/deep_copy/test_mock_ImageCopyRequest.cc
  src/test/librbd/deep_copy/test_mock_ObjectCopyRequest.cc
  src/test/librbd/io/test_mock_CopyupRequest.cc
  src/test/librbd/object_map/test_mock_DiffRequest.cc
  src/test/librbd/test_DeepCopy.cc
  src/test/librbd/test_Migration.cc
  src/tools/rbd_mirror/image_replayer/snapshot/Replayer.cc
Labels: bug fix, needs-qa, octopus-batch-1, rbd, wip-yuri-testing

#39662 octopus: rgw: radosgw-admin: clarify error when email address already in use
  src/rgw/rgw_user.cc
Labels: needs-qa, octopus-batch-1, rgw, wip-yuri-testing

#39764 pacific: rgw: allow rgw-orphan-list to handle intermediate files w/ binary data
  src/rgw/rgw-orphan-list
Labels: bug fix, needs-qa, rgw, wip-eric-testing-1

#39769 pacific: rgw: tooling to locate rgw objects with missing rados components
  ceph.spec.in
  debian/control
  debian/radosgw.install
  src/rgw/CMakeLists.txt
  src/rgw/rgw-gap-list
  src/rgw/rgw-gap-list-comparator
  src/rgw/rgw_admin.cc
  src/rgw/rgw_orphan.cc
  src/rgw/rgw_orphan.h
  src/test/cli/radosgw-admin/help.t
Labels: feature, needs-review, rgw, wip-eric-testing-1

#39798 crimson/mon: keep a copy of sent MMonCommand messages
  src/crimson/mon/MonClient.cc
Labels: crimson

#39711 luminous: ceph-kvstore-tool: use unique_ptr<> manage the lifecycle of bluestore
  src/tools/ceph_kvstore_tool.cc
Labels: bluestore, bug fix, tools

#39468 pacific: ceph-volume: Update batch.py
  src/ceph-volume/ceph_volume/devices/lvm/batch.py
Labels: ceph-volume

#39525 pacific: ceph-volume: pass --filter-for-batch from drive-group subcommand
  src/ceph-volume/ceph_volume/drive_group/main.py
Labels: ceph-volume

#39795 doc/rbd: clarify QCOW2 migration support
  doc/rbd/rbd-live-migration.rst
Labels: documentation, rbd

#39469 octopus: ceph-volume: Update batch.py
  src/ceph-volume/ceph_volume/devices/lvm/batch.py
Labels: ceph-volume

#39523 octopus: ceph-volume: pass --filter-for-batch from drive-group subcommand
  src/ceph-volume/ceph_volume/drive_group/main.py
Labels: ceph-volume

#39220 octopus: ceph-volume: Fix usage of is_lv
  src/ceph-volume/ceph_volume/util/disk.py
Labels: ceph-volume

#39770 cephadm: add docker.service dependency in systemd units
  src/cephadm/cephadm
  src/cephadm/tests/test_cephadm.py
Labels: cephadm, wip-swagner3-testing

#39750 mgr: create client messenger using ms_public_type
  src/mgr/MgrStandby.cc
Labels: core, mgr, needs-qa, wip-sage4-testing

#39689 src/global/signal_handler.h: fix preprocessor logic for alpine
  src/global/signal_handler.h
Labels: bug fix, common, needs-qa, wip-sage4-testing

#39665 qa/rados/dashbord use "random" objectore
  qa/suites/rados/dashboard/random-objectstore$
Labels: core, dashboard, needs-qa, wip-sage4-testing

#38909 osd: add osd_fast_shutdown_notify_mon option (default false)
  PendingReleaseNotes
  src/common/legacy_config_opts.h
  src/common/options.cc
  src/osd/OSD.cc
Labels: common, core, documentation, needs-qa, wip-sage4-testing

#39568 pacific: mgr/devicehaelth: extract and present SSD wear
  qa/tasks/mgr/dashboard/helper.py
  src/common/blkdev.cc
  src/mgr/ActivePyModules.cc
  src/mgr/ActivePyModules.h
  src/mgr/BaseMgrModule.cc
  src/mgr/DaemonServer.cc
  src/mgr/DaemonState.cc
  src/mgr/DaemonState.h
  src/mgr/MgrContext.h
  src/mypy.ini
  src/pybind/mgr/ceph_module.pyi
  src/pybind/mgr/devicehealth/module.py
  src/pybind/mgr/mgr_module.py
  src/pybind/mgr/tox.ini
  sudoers.d/ceph-osd-smartctl
Labels: common, core, dashboard, mgr, needs-qa, pacific-batch-1, pybind, tests

#39558 doc/rados: avoid including cephadm into the toctree
  doc/rados/index.rst
Labels: core, documentation

#39794 valgrind: suppress operator delete[] for tcmalloc
  qa/valgrind.supp
Labels: tests

#39789 doc/cephadm: add prompts to adoption.rst
  doc/cephadm/adoption.rst
Labels: cephadm, documentation

#39126 nautilus: core: osd: An empty bucket or OSD is not an error
  src/osd/OSDMap.cc
  src/test/osd/TestOSDMap.cc
Labels: core, nautilus-batch-1, needs-qa, wip-yuri6-testing

#39255 nautilus: os/bluestore: detect and fix "zombie" spanning blobs using fsck.
  src/os/bluestore/BlueStore.cc
  src/os/bluestore/BlueStore.h
  src/test/objectstore/store_test.cc
Labels: bluestore, nautilus-batch-1, needs-qa, wip-yuri6-testing

#39338 nautilus: mgr/crash: Serialize command handling
  src/pybind/mgr/crash/module.py
Labels: mgr, nautilus-batch-1, needs-qa, pybind, wip-yuri6-testing

#39339 nautilus: mgr/restful: fix TypeError occurring in _gather_osds()
  src/pybind/mgr/restful/common.py
Labels: mgr, nautilus-batch-1, needs-qa, pybind, wip-yuri6-testing

#39340 nautilus: mgr: fix deadlock in ActivePyModules::get_osdmap()
  src/mgr/ActivePyModules.cc
Labels: core, mgr, nautilus-batch-1, needs-qa, wip-yuri6-testing

#39342 nautilus: common: skip interfaces starting with "lo" in find_ipv{4,6}_in_subnet()
  src/common/ipaddr.cc
Labels: common, nautilus-batch-1, needs-qa, wip-yuri6-testing

#39762 rpm/luarocks: simplify conditional and support Leap 15.3
  ceph.spec.in
Labels: build/ops, needs-qa, wip-smithfarm-testing

#39382 rgw: added missing documentation on "pubsub" in rgw_enable_apis
  doc/radosgw/config-ref.rst
  doc/radosgw/notifications.rst
  doc/radosgw/pubsub-module.rst
  src/common/options.cc
  src/rgw/rgw_main.cc
Labels: documentation, needs-qa, rgw, wip-hmunjulu01-testing

#39681 vstart_runner: define path to ceph binary and use it
  qa/tasks/vstart_runner.py
Labels: cleanup, dashboard, needs-qa, tests, vstart_runner

#39780 qa/vstart_runner: dont log "not Ceph bin" msg too often
  qa/tasks/vstart_runner.py
Labels: cleanup, needs-review, tests, vstart_runner

#39682 vstart_runner: remove duplicate methods from LocalCephManager
  qa/tasks/vstart_runner.py
Labels: cleanup, dashboard, needs-qa, tests, vstart_runner

#39765 rpm: set build parallelism from memory on SUSE
  ceph.spec.in
Labels: build/ops, needs-qa, wip-smithfarm-testing

#39816 pacific: valgrind: suppress operator delete[] for tcmalloc
  qa/valgrind.supp
Labels: rgw, tests

#39799 doc: update affiliation for myoungwon
  doc/governance.rst
Labels: documentation

#39755 rpm: use PMDK system libraries on SUSE
  ceph.spec.in
Labels: bug fix, build/ops, needs-qa, wip-smithfarm-testing

#39801 mgr/dashboard: fix issues related with PyJWT versions >=2.0.0
  qa/tasks/mgr/dashboard/test_auth.py
  src/pybind/mgr/dashboard/constraints.txt
  src/pybind/mgr/dashboard/controllers/auth.py
  src/pybind/mgr/dashboard/services/auth.py
  src/pybind/mgr/dashboard/tests/test_auth.py
Labels: bug fix, dashboard, needs-qa, pybind, tests, wip-sage-testing

#39812 crimson/admin: add support for 'config help'
  src/crimson/admin/admin_socket.cc
Labels: bug fix, crimson

#39827 crimson/osd: capture error_code by value in PG::handle_failed_op
  src/crimson/osd/pg.cc
Labels: crimson

#39815 .github: Minor cephadm changes
  .github/CODEOWNERS
  .github/labeler.yml
Labels: CI

#37062 luminous: os/bluestore: fix collection_list ordering
  src/include/ceph_features.h
  src/os/ObjectStore.h
  src/os/bluestore/BlueStore.cc
  src/os/bluestore/BlueStore.h
  src/os/kstore/KStore.cc
  src/osd/PGBackend.cc
  src/osd/PGBackend.h
  src/osd/PrimaryLogPG.h
  src/test/objectstore/store_test.cc
Labels: bluestore, luminous-batch-1, needs-qa

#39452 mgr/dashboard: report mgr fsid
  src/pybind/mgr/dashboard/controllers/cluster_configuration.py
  src/pybind/mgr/dashboard/frontend/cypress/integration/cluster/configuration.e2e-spec.ts
Labels: dashboard, pybind

#39647 pacific: mgr/dashboard: fix tooltip for Provisioned/Total Provisioned fields
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-details/rbd-details.component.html
Labels: bug fix, dashboard, pybind, skip-teuthology

#39524 pacific: mgr/dashboard: avoid using document.write()
  src/pybind/mgr/dashboard/frontend/src/app/app.module.ts
  src/pybind/mgr/dashboard/frontend/src/index.html
Labels: cleanup, dashboard, pybind, skip-teuthology

#39545 octopus: mgr/dashboard:minimize console log traces of Ceph backend API tests
  qa/tasks/cephfs/filesystem.py
  qa/tasks/mgr/dashboard/helper.py
  qa/tasks/mgr/mgr_test_case.py
  qa/tasks/vstart_runner.py
Labels: dashboard

#39527 octopus: mgr/dashboard: avoid using document.write()
  src/pybind/mgr/dashboard/frontend/src/app/app.module.ts
  src/pybind/mgr/dashboard/frontend/src/index.html
Labels: cleanup, dashboard, skip-teuthology

#39526 nautilus: mgr/dashboard: avoid using document.write()
  src/pybind/mgr/dashboard/frontend/src/app/app.module.ts
  src/pybind/mgr/dashboard/frontend/src/index.html
Labels: cleanup, dashboard, skip-teuthology

#39646 nautilus: mgr/dashboard: fix tooltip for Provisioned/Total Provisioned fields
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-details/rbd-details.component.html
Labels: bug fix, dashboard, skip-teuthology

#39656 rgw/sts: fix for encoding/decoding user namespace
  src/rgw/rgw_common.h
Labels: bug fix, rgw

#39645 octopus: mgr/dashboard: fix tooltip for Provisioned/Total Provisioned fields
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-details/rbd-details.component.html
Labels: bug fix, dashboard, skip-teuthology

#39831 crimson/osd: do not pass lvalue of the lambda to seastar::futurize_invoke
  src/crimson/osd/osd_operation_sequencer.h
Labels: crimson

#39699 cephadm: introduce flake8 and flake8-quotes
  src/cephadm/CMakeLists.txt
  src/cephadm/cephadm
  src/cephadm/tox.ini
Labels: build/ops, cephadm, wip-mgfritch-testing

#39822 cephadm: split custom container args into argv
  src/cephadm/samples/custom_container.json
Labels: cephadm, needs-review, wip-mgfritch-testing

#39325 octopus: os/bluestore: introduce bluestore_rocksdb_options_annex config parame…
  PendingReleaseNotes
  src/common/legacy_config_opts.h
  src/common/options.cc
  src/os/bluestore/BlueStore.cc
Labels: bluestore, feature, needs-qa, octopus-batch-1, wip-yuri-testing

#39507 octopus: mgr/dashboard: prometheus alerting: add some leeway for package drops and errors
  monitoring/prometheus/alerts/ceph_default_alerts.yml
Labels: bug fix, dashboard, monitoring, needs-qa, octopus-batch-1, wip-yuri-testing

#39633 octopus: cephadm: Delete the unnecessary error line in open_ports
  src/cephadm/cephadm
Labels: cephadm, needs-qa, octopus-batch-1, wip-swagner2-testing, wip-yuri-testing

#39715 octopus: cephadm: fix 'inspect' and 'pull'
  src/cephadm/cephadm
  src/cephadm/tests/test_cephadm.py
Labels: cephadm, documentation, mgr, needs-qa, needs-review, octopus-batch-1, orchestrator, wip-swagner2-testing, wip-yuri-testing

#39756 nautilus: os/bluestore: Add option to check BlueFS reads
  src/common/legacy_config_opts.h
  src/common/options.cc
  src/os/bluestore/BlueFS.cc
  src/os/bluestore/BlueFS.h
Labels: bluestore, nautilus-batch-1, needs-qa, wip-yuri2-testing

#39823 qa/tasks/cephadm: remove mirror code
  qa/tasks/cephadm.py
Labels: cephadm, tests, wip-sage-testing

#39747 nautilus: mgr/prometheus: Add SLOW_OPS healthcheck as a metric
  monitoring/prometheus/alerts/ceph_default_alerts.yml
  src/mgr/DaemonHealthMetricCollector.cc
  src/pybind/mgr/prometheus/module.py
Labels: core, nautilus-batch-1, needs-qa, wip-yuri7-testing

#39720 nautilus: os/bluestore: go beyond pinned onodes while trimming the cache.
  src/common/legacy_config_opts.h
  src/common/options.cc
  src/os/bluestore/BlueStore.cc
  src/os/bluestore/BlueStore.h
  src/test/objectstore/store_test.cc
Labels: bluestore, bug fix, nautilus-batch-1, needs-qa, wip-yuri7-testing

#39597 pacific: osd: Don't clear m_planned_scrub until scrub finishes successfully
  src/osd/pg_scrubber.cc
Labels: core, needs-qa, wip-sage2-testing

#39735 pacific: mon/OSDMonitor: fix safety/idempotency of {set,rm}-device-class
  src/mon/OSDMonitor.cc
Labels: core, mon, wip-sage2-testing

#39734 pacific: mon/PGMap: include the per-pool usage breakdown in pg dump
  src/mon/PGMap.cc
Labels: core, mon, wip-sage2-testing

#39736 pacific: crush/CrushWrapper: update shadow trees on update_item()
  qa/standalone/crush/crush-classes.sh
  src/crush/CrushWrapper.cc
Labels: core, wip-sage2-testing

#39380 rgw: register daemon in service map with more details
  src/rgw/rgw_rados.cc
Labels: needs-qa, rgw, wip-hmunjulu02-testing

#39515 rgw: limit rgw_gc_max_objs to RGW_SHARDS_PRIME_1
  src/rgw/rgw_gc.cc
Labels: bug fix, needs-qa, rgw, wip-hmunjulu02-testing

#39782 rgw/notification: fixing the "persistent=false" flag
  src/rgw/rgw_rest_pubsub.cc
Labels: bug fix, needs-qa, rgw, wip-hmunjulu03-testing

#39790 rgw/notification: fix persistent notification hang when ack-levl=none
  src/rgw/rgw_notify.cc
Labels: bug fix, needs-qa, rgw, wip-hmunjulu03-testing

#38741 rgw : add the check for bucket handler if http args exist object_exclusive sub_resource
  src/rgw/rgw_common.cc
  src/rgw/rgw_common.h
  src/rgw/rgw_rest_s3.cc
Labels: bug fix, needs-qa, rgw, wip-hmunjulu01-testing

#39726 mgr/cephadm: upgrade multiple OSDs in parallel
  src/mgr/DaemonServer.cc
  src/pybind/mgr/cephadm/module.py
  src/pybind/mgr/cephadm/services/cephadmservice.py
  src/pybind/mgr/cephadm/services/iscsi.py
  src/pybind/mgr/cephadm/services/monitoring.py
  src/pybind/mgr/cephadm/services/nfs.py
  src/pybind/mgr/cephadm/upgrade.py
Labels: cephadm, core, documentation, mgr, mon, pybind, tests, wip-sage-testing

#39517 pacific: mgr/dashboard: fix MTU Mismatch alert
  monitoring/prometheus/alerts/ceph_default_alerts.yml
Labels: dashboard

#39512 octopus: mgr/dashboard: Monitoring alert badge includes suppressed alerts
  src/pybind/mgr/dashboard/frontend/src/app/core/navigation/navigation/navigation.component.html
  src/pybind/mgr/dashboard/frontend/src/app/shared/services/prometheus-alert.service.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/services/prometheus-alert.service.ts
Labels: bug fix, dashboard, skip-teuthology

#39832 mgr/DaemonServer: osd ok-to-stop: return json when there are unknown PGs
  src/mgr/DaemonServer.cc
  src/mgr/DaemonServer.h
Labels: core, mgr, wip-sage-testing

#39737 pacific: mgr: add --max <n> to 'osd ok-to-stop' command
  doc/man/8/ceph.rst
  qa/standalone/misc/ok-to-stop.sh
  src/ceph.in
  src/mgr/DaemonServer.cc
  src/mgr/DaemonServer.h
  src/mgr/MgrCommands.h
  src/test/osd/safe-to-destroy.sh
Labels: core, documentation, mgr, tests, wip-sage2-testing

#38684 qa: remove passed_validation check for test_damage
  qa/tasks/cephfs/cephfs_test_case.py
  qa/tasks/cephfs/filesystem.py
  qa/tasks/cephfs/test_damage.py
  qa/tasks/cephfs/test_data_scan.py
  qa/tasks/cephfs/test_forward_scrub.py
  qa/tasks/cephfs/test_multimds_misc.py
  qa/tasks/cephfs/test_scrub.py
  qa/tasks/cephfs/test_scrub_checks.py
  qa/tasks/cephfs_upgrade_snap.py
  qa/tasks/fwd_scrub.py
  src/mds/MDCache.cc
Labels: cephfs, needs-qa, tests, wip-pdonnell-testing

#39354 mds/client: create cephfs errno aliases
  src/client/Client.cc
  src/client/Client.h
  src/client/Inode.cc
  src/client/fuse_ll.cc
  src/client/hypertable/CephBroker.cc
  src/client/posix_acl.cc
  src/include/fs_types.h
  src/mds/CDir.cc
  src/mds/CInode.cc
  src/mds/FSMap.cc
  src/mds/JournalPointer.cc
  src/mds/MDBalancer.cc
  src/mds/MDCache.cc
  src/mds/MDLog.cc
  src/mds/MDSContext.cc
  src/mds/MDSDaemon.cc
  src/mds/MDSMap.h
  src/mds/MDSRank.cc
  src/mds/MDSTable.cc
  src/mds/Mantle.cc
  src/mds/OpenFileTable.cc
  src/mds/PurgeQueue.cc
  src/mds/RecoveryQueue.cc
  src/mds/ScrubStack.cc
  src/mds/ScrubStack.h
  src/mds/Server.cc
  src/mds/Server.h
  src/mds/SessionMap.cc
  src/mds/SnapClient.cc
  src/mds/StrayManager.cc
  src/pybind/cephfs/cephfs.pyx
Labels: cephfs, needs-qa, pybind, wip-pdonnell-testing

#39724 qa: various fixes for fs:verify
  qa/suites/fs/verify/distro
  qa/suites/fs/verify/distro/$
  qa/suites/fs/verify/distro/.qa
  qa/suites/fs/verify/distro/centos_8.yaml
  qa/suites/fs/verify/distro/rhel_8.yaml
  qa/suites/fs/verify/distro/ubuntu/+
  qa/suites/fs/verify/distro/ubuntu/.qa
  qa/suites/fs/verify/distro/ubuntu/latest.yaml
  qa/suites/fs/verify/distro/ubuntu/overrides.yaml
  qa/suites/fs/verify/validater/valgrind.yaml
  qa/tasks/ceph.py
  qa/tasks/ceph_fuse.py
  qa/tasks/ceph_manager.py
  qa/tasks/cephfs/fuse_mount.py
  qa/tasks/cephfs_mirror.py
  qa/tasks/daemonwatchdog.py
  qa/tasks/rbd_fsx.py
  qa/tasks/rbd_mirror.py
  qa/tasks/rgw.py
  src/common/options.cc
  src/mds/MDSDaemon.cc
Labels: cephfs, common, needs-review, rgw, tests, wip-pdonnell-testing

#39787 qa: update featureful_client suite to use octopus instead of nautilus
  qa/suites/fs/upgrade/featureful_client/old_client/tasks/0-octopus.yaml
  qa/suites/fs/upgrade/featureful_client/old_client/tasks/1-client.yaml
  qa/suites/fs/upgrade/featureful_client/old_client/tasks/2-upgrade.yaml
  qa/suites/fs/upgrade/featureful_client/upgraded_client/tasks/0-octopus.yaml
  qa/suites/fs/upgrade/featureful_client/upgraded_client/tasks/1-client.yaml
  qa/suites/fs/upgrade/featureful_client/upgraded_client/tasks/2-upgrade.yaml
Labels: cephfs, needs-qa, wip-pdonnell-testing, wip-sidharth-testing

#39840 crimson/osd: fix the serialization of notify_reply_t.
  src/crimson/osd/watch.cc
  src/crimson/osd/watch.h
Labels: bug fix, crimson

#39842 src/test/smoke.sh: increase timeout
  src/test/smoke.sh
Labels: tests

#39457 doc: switch to sphinx_rtd_theme theme
  admin/doc-requirements.txt
  doc/_themes/ceph/layout.html
  doc/_themes/ceph/static/ceph.css_t
  doc/_themes/ceph/static/nature.css_t
  doc/_themes/ceph/theme.conf
  doc/conf.py
Labels: build/ops, documentation

#39824 qa: allow specifying partition size for nightlies
  qa/crontab/teuthology-cronjobs
  qa/machine_types/schedule_subset.sh
Labels: needs-review, tests

#39808 pacific: mgr/dashboard: fix issues related with PyJWT versions >=2.0.0
  qa/tasks/mgr/dashboard/test_auth.py
  src/pybind/mgr/dashboard/constraints.txt
  src/pybind/mgr/dashboard/controllers/auth.py
  src/pybind/mgr/dashboard/services/auth.py
  src/pybind/mgr/dashboard/tests/test_auth.py
Labels: dashboard, pybind, tests, wip-sage2-testing

#39639 mgr/cephadm: Activate existing OSDs
  doc/cephadm/operations.rst
  doc/cephadm/osd.rst
  src/pybind/mgr/cephadm/module.py
  src/pybind/mgr/cephadm/services/osd.py
  src/pybind/mgr/cephadm/tests/test_cephadm.py
Labels: cephadm, documentation, pybind, ready-to-merge

#39809 doc/cephadm: remove warning about cephadm in production
  doc/cephadm/compatibility.rst
  doc/cephadm/index.rst
  doc/cephadm/stability.rst
Labels: cephadm, documentation

#39813 rpm: disable parallel compression on SUSE
  ceph.spec.in
Labels: bug fix, build/ops, wip-kefu-testing

#39836 octopus: mgr/dashboard: fix issues related with PyJWT versions >=2.0.0
  qa/tasks/mgr/dashboard/test_auth.py
  src/pybind/mgr/dashboard/constraints.txt
  src/pybind/mgr/dashboard/controllers/auth.py
  src/pybind/mgr/dashboard/services/auth.py
  src/pybind/mgr/dashboard/tests/test_auth.py
Labels: bug fix, dashboard, needs-review

#39688 pacific: os/bluestore: fix huge(>4GB) writes from RocksDB to BlueFS.
  src/os/bluestore/BlueFS.h
  src/os/bluestore/BlueRocksEnv.cc
  src/test/objectstore/test_bluefs.cc
Labels: bluestore, bug fix, core, needs-qa, tests, wip-yuri8-testing

#39748 pacific: mon/OSDMonitor: do not mark newly created OSDs OUT
  src/mon/OSDMonitor.cc
  src/osd/OSDMap.cc
Labels: core, mon, needs-qa, pacific-batch-1, wip-yuri8-testing

#39753 pacific: os/bluestore: Add option to check BlueFS reads
  src/common/legacy_config_opts.h
  src/common/options.cc
  src/os/bluestore/BlueFS.cc
  src/os/bluestore/BlueFS.h
Labels: bluestore, common, core, needs-qa, pacific-batch-1, wip-yuri8-testing

#39773 pacific: osd, test: fix to avoid fail notification when testing manifest refcount
  src/cls/cas/cls_cas.cc
  src/crimson/osd/objclass.cc
  src/objclass/objclass.h
  src/osd/PrimaryLogPG.cc
  src/osd/PrimaryLogPG.h
  src/osd/objclass.cc
  src/test/librados/CMakeLists.txt
  src/test/librados/tier_cxx.cc
Labels: bug fix, build/ops, core, crimson, needs-qa, pacific-batch-1, tests, wip-yuri8-testing

#39806 pacific: qa/rados/dashbord use "random" objectore
  qa/suites/rados/dashboard/random-objectstore$
Labels: core, dashboard, needs-qa, pacific-batch-1, wip-yuri8-testing

#39838 doc/install/index_manual: remove cephadm from toctree
  doc/install/index_manual.rst
Labels: documentation
