Repository ceph/ceph, pull requests merged in 2021-05, with the labels that each got.

#41091 doc/cephfs/nfs: add troubleshooting section and note about export management with volume/nfs interface
  doc/cephfs/fs-nfs-exports.rst
Labels: cephfs, documentation, needs-review, nfs

#41071 cmake: disable "variable tracking" when building rados python binding
  cmake/modules/Distutils.cmake
  src/pybind/rados/CMakeLists.txt
  src/pybind/rgw/CMakeLists.txt
Labels: build/ops, cleanup, needs-review, pybind

#40961 common/pick_address: filter out loopback addresses
  src/common/options/global.yaml.in
  src/common/pick_address.cc
  src/common/pick_address.h
  src/test/test_ipaddr.cc
Labels: bug fix, common, needs-review, tests

#41012 doc/cephfs/cache-config: correct defaults
  doc/cephfs/cache-configuration.rst
Labels: cephfs, documentation

#41043 osd: compute OSD's space usage ratio via raw space utilization
  src/osd/OSD.cc
Labels: bug fix, core

#41117 doc/cephfs/mds-config-ref: remove duplicated confval
  doc/cephfs/mds-config-ref.rst
Labels: bug fix, cephfs, documentation

#41116 common/pick_address: define in_addr_t if it is not defined
  cmake/modules/CephChecks.cmake
  src/common/pick_address.cc
  src/include/config-h.in.cmake
  src/test/test_ipaddr.cc
Labels: build/ops, common, tests

#41085 rbd: --source-spec-file should be --source-spec-path
  doc/rbd/rbd-live-migration.rst
  src/tools/rbd/action/Migration.cc
Labels: cleanup, documentation, rbd

#41042 librbd: 32-bit and libc++ portability fixups
  src/cls/rbd/cls_rbd.cc
  src/cls/rbd/cls_rbd_client.cc
  src/cls/rbd/cls_rbd_client.h
  src/librbd/WatchNotifyTypes.h
  src/librbd/api/Trash.cc
  src/librbd/migration/QCOWFormat.cc
  src/librbd/object_map/DiffRequest.cc
  src/tools/rbd_nbd/rbd-nbd.cc
Labels: build/ops, cleanup, rbd, wip-dis-testing

#41068 librbd/cache/pwl/ssd/WriteLog: decrement m_bytes_allocated when retiring
  src/librbd/cache/pwl/AbstractWriteLog.cc
  src/librbd/cache/pwl/AbstractWriteLog.h
  src/librbd/cache/pwl/rwl/WriteLog.cc
  src/librbd/cache/pwl/ssd/WriteLog.cc
  src/librbd/cache/pwl/ssd/WriteLog.h
Labels: bug fix, rbd

#41105 cephadm: zap-osds command and --zap-osds rm-cluster arg
  qa/workunits/cephadm/test_cephadm.sh
  src/cephadm/cephadm
Labels: cephadm, tests, wip-sage-testing

#41093 librbd/cache/pwl/ssd/WriteLog: don't crash on split log entries
  src/librbd/cache/pwl/ssd/WriteLog.cc
  src/librbd/cache/pwl/ssd/WriteLog.h
Labels: bug fix, rbd

#41102 rgw/acl: set_acl shouldn't overwrite bucket attrs
  src/rgw/rgw_bucket.cc
  src/rgw/rgw_bucket.h
  src/rgw/rgw_sal_rados.cc
Labels: needs-qa, rgw

#41120 doc/cephfs: render options using confval directive
  doc/_ext/ceph_confval.py
  doc/cephfs/client-config-ref.rst
  src/common/options/mds-client.yaml.in
Labels: cephfs, common, documentation

#40882 client: Fix executeable access check for the root user
  src/client/Client.cc
Labels: cephfs, needs-qa, wip-pdonnell-testing

#40903 mds: make the lost+found dir accessible from clients
  src/client/Client.cc
  src/client/Inode.h
  src/include/ceph_fs.h
  src/mds/CInode.h
  src/mds/DamageTable.cc
  src/mds/MDCache.cc
  src/mds/Server.cc
  src/mds/SnapRealm.cc
  src/mds/mdstypes.h
  src/test/libcephfs/test.cc
  src/tools/cephfs/DataScan.cc
Labels: bug fix, cephfs, needs-qa, tests, wip-pdonnell-testing

#40927 mds: reset the return value for heap command
  src/mds/MDSDaemon.cc
Labels: bug fix, cephfs, needs-qa, wip-pdonnell-testing

#40962 cephfs-mirror: ignore snapshots on parent directories when synchronizing snapshots
  qa/tasks/cephfs/test_mirroring.py
  src/tools/cephfs_mirror/PeerReplayer.cc
Labels: cephfs, needs-qa, tests, wip-pdonnell-testing

#40963 mds: do not trim the inodes from the lru list in standby_replay
  src/mds/MDCache.cc
Labels: bug fix, cephfs, needs-qa, wip-pdonnell-testing

#41066 mds: completed_requests -> num_completed_requests and dump num_completed_flushes
  src/mds/SessionMap.cc
Labels: cephfs, needs-qa, wip-pdonnell-testing

#40799 osd: fix not set promote_obc when manifest object is rollbacked
  src/osd/PrimaryLogPG.cc
  src/test/librados/tier_cxx.cc
Labels: bug fix, core, needs-qa, tests

#40313 mgr/cephadm: Remove gateway.conf from iscsi pool when service is removed
  src/pybind/mgr/cephadm/services/iscsi.py
Labels: cephadm, needs-qa, pybind

#41045 mgr/cephadm: ceph-volume verbose only when fails
  src/cephadm/cephadm
Labels: cephadm, wip-swagner-testing

#41033 cmake,common: various cleanup for building on MacOS
  cmake/modules/CephChecks.cmake
  cmake/modules/FindStdFilesystem.cmake
  src/CMakeLists.txt
  src/blk/CMakeLists.txt
  src/common/StackStringStream.h
  src/common/Throttle.cc
  src/common/Throttle.h
  src/common/ceph_time.cc
  src/common/compat.cc
  src/common/util.cc
  src/include/compat.h
  src/include/config-h.in.cmake
  src/librados/librados_c.cc
  src/log/LogClock.h
Labels: build/ops, cleanup, common, core, needs-review

#40631 rgw/sts: read_obj_policy() consults iam_user_policies on ENOENT
  src/rgw/rgw_op.cc
Labels: needs-qa, rgw, wip-cbodley-testing

#40926 rgw: allow rgw-orphan-list to process multiple data pools
  src/rgw/rgw-orphan-list
Labels: feature, needs-review, rgw

#41134 doc/man: build and install cephfs-shell manpage
  ceph.spec.in
  debian/cephfs-shell.install
  doc/cephfs/index.rst
  doc/man/8/CMakeLists.txt
  doc/man/8/cephfs-shell.rst
  doc/man_index.rst
Labels: build/ops, cephfs, documentation

#40987 nautilus: os/FileStore: don't propagate split/merge error to "create"/"remove"
  src/os/filestore/HashIndex.cc
Labels: bug fix, core, nautilus-batch-1, needs-qa, wip-yuri3-testing, wip-yuri4-testing

#41016 nautilus: mon/MonClient: reset authenticate_err in _reopen_session()
  src/mon/MonClient.cc
  src/mon/MonClient.h
Labels: bug fix, core, mon, needs-qa, wip-yuri8-testing

#41098 nautilus: mon: ensure progress is [0,1] before printing
  src/mon/Monitor.cc
Labels: core, needs-qa, wip-yuri8-testing

#41099 nautilus: mon: Modifying trim logic to change paxos_service_trim_max dynamically
  doc/rados/configuration/mon-config-ref.rst
  src/common/options.cc
  src/mon/PaxosService.cc
Labels: core, needs-qa, wip-yuri8-testing

#41062 mgr/dashboard: fix set-ssl-certificate{,-key} commands
  src/pybind/mgr/dashboard/module.py
  src/pybind/mgr/dashboard/tests/__init__.py
  src/pybind/mgr/dashboard/tests/test_ssl.py
  src/pybind/mgr/dashboard/tests/test_sso.py
Labels: bug fix, dashboard, pybind

#41024 mgr/dashboard: Generate NPM dependencies manifest
  src/script/generate-npm-manifest.sh
Labels: dashboard, needs-review, pybind

#41152 cmake: restore Lua scripting support for RGW
  src/CMakeLists.txt
Labels: bug fix, build/ops

#41160 Revert "Merge PR #41134 into master"
  ceph.spec.in
  debian/cephfs-shell.install
  doc/cephfs/cephfs-shell.rst
  doc/cephfs/index.rst
  doc/man/8/CMakeLists.txt
  doc/man_index.rst
Labels: build/ops, cephfs, documentation

#41142 cmake: let libglobal_obj depend on legacy-option-headers
  src/global/CMakeLists.txt
Labels: build/ops, common, needs-qa

#41109 src/common: Update bluefs_buffered_io descrption.
  src/common/options/global.yaml.in
Labels: common, config, core, wip-kefu-testing

#40977 crimson/os/seastore: formal extended attributes support
  src/crimson/os/alienstore/alien_store.cc
  src/crimson/os/alienstore/alien_store.h
  src/crimson/os/cyanstore/cyan_object.h
  src/crimson/os/cyanstore/cyan_store.cc
  src/crimson/os/cyanstore/cyan_store.h
  src/crimson/os/futurized_store.h
  src/crimson/os/seastore/omap_manager.h
  src/crimson/os/seastore/omap_manager/btree/btree_omap_manager.cc
  src/crimson/os/seastore/omap_manager/btree/btree_omap_manager.h
  src/crimson/os/seastore/onode.h
  src/crimson/os/seastore/seastore.cc
  src/crimson/os/seastore/seastore.h
  src/crimson/osd/ops_executer.cc
  src/crimson/osd/pg_backend.cc
  src/crimson/osd/pg_backend.h
  src/crimson/osd/replicated_recovery_backend.cc
  src/test/crimson/seastore/test_seastore.cc
Labels: crimson, tests

#41165 doc/man: build and install cephfs-shell manpage
  ceph.spec.in
  debian/cephfs-shell.install
  doc/cephfs/index.rst
  doc/man/8/CMakeLists.txt
  doc/man/8/cephfs-shell.rst
  doc/man_index.rst
Labels: build/ops, cephfs, documentation, wip-kefu-testing2

#41133 cephfs.pyx: Fix docstring of get_layout
  src/pybind/cephfs/cephfs.pyx
Labels: cephfs, pybind

#41081 mgr/dashboard: disable NFSv3 support in dashboard
  src/pybind/mgr/dashboard/frontend/src/app/ceph/nfs/nfs-form/nfs-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/nfs/nfs-form/nfs-form.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/nfs/nfs-form/nfs-form.component.ts
Labels: cleanup, dashboard, pybind

#41149 mgr/cephadm: remove haproxy/keepalived container name from service spec
  src/pybind/mgr/cephadm/serve.py
  src/python-common/ceph/deployment/service_spec.py
Labels: cephadm, pybind, wip-sage-testing

#40715 mgr/dashboard:include compression stats on pool dashboard
  monitoring/grafana/dashboards/pool-overview.json
Labels: dashboard, monitoring, needs-review

#40063 mgr/dashboard: reduce cyclomatic complexity
  src/pybind/mgr/dashboard/controllers/__init__.py
  src/pybind/mgr/dashboard/controllers/iscsi.py
  src/pybind/mgr/dashboard/controllers/rbd_mirroring.py
  src/pybind/mgr/dashboard/services/exception.py
  src/pybind/mgr/dashboard/services/sso.py
  src/pybind/mgr/dashboard/tests/__init__.py
  src/pybind/mgr/dashboard/tests/test_docs.py
  src/pybind/mgr/dashboard/tests/test_iscsi.py
  src/pybind/mgr/dashboard/tests/test_rbd_mirroring.py
  src/pybind/mgr/dashboard/tests/test_sso.py
Labels: dashboard, needs-review, pybind

#40823 octopus: mgr/cephadm: on ssh connection error, advice chmod 0600
  src/pybind/mgr/cephadm/module.py
Labels: cephadm, needs-qa, octopus-batch-1, wip-yuri-testing

#40838 octopus: cephadm: Allow to use paths in all <_devices> drivegroup sections
  doc/cephadm/drivegroups.rst
  src/pybind/mgr/cephadm/tests/test_cephadm.py
  src/python-common/ceph/deployment/drive_group.py
  src/python-common/ceph/deployment/drive_selection/selector.py
Labels: cephadm, needs-qa, octopus-batch-1, wip-yuri-testing

#40988 octopus: os/FileStore: don't propagate split/merge error to "create"/"remove"
  src/os/filestore/HashIndex.cc
Labels: bug fix, core, needs-qa, octopus-batch-1, wip-yuri-testing

#41017 octopus: mon/MonClient: reset authenticate_err in _reopen_session()
  src/mon/MonClient.cc
  src/mon/MonClient.h
Labels: bug fix, core, mon, needs-qa, octopus-batch-1, wip-yuri-testing

#41167 nautilus: build python extensions using distutils
  src/pybind/cephfs/setup.py
  src/pybind/rados/rados.pyx
  src/pybind/rados/setup.py
  src/pybind/rbd/setup.py
  src/pybind/rgw/setup.py
Labels: bug fix, build/ops, documentation, nautilus-batch-1, needs-qa, wip-yuri-testing

#41147 ceph_test_rados_api_service: more retries for servicemkap
  src/test/librados/service.cc
Labels: needs-qa, tests, wip-sage-testing

#41148 cephadm: Add Rocky Linux to supported DISTRO_NAMES
  src/cephadm/cephadm
Labels: cephadm, wip-sage-testing

#40918 pacific: common/options/global.yaml.in: increase default value of bluestore_cache_trim_max_skip_pinned
  src/common/options.cc
Labels: TESTED, bluestore, common, core, ready-to-merge

#41089 pacific: pybind/mgr/devicehealth: scrape-health-metrics command accidentally renamed to scrape-daemon-health-metrics
  src/pybind/mgr/devicehealth/module.py
Labels: TESTED, pacific-batch-1, pybind, ready-to-merge

#41090 pacific: mon/OSDMonitor: drop stale failure_info after a grace period
  src/mon/Monitor.cc
  src/mon/OSDMonitor.cc
  src/mon/OSDMonitor.h
  src/osd/OSD.cc
  src/osd/OSD.h
Labels: TESTED, core, mon, ready-to-merge

#40937 librbd/mirror/snapshot: avoid UnlinkPeerRequest with a unlinked peer
  src/librbd/mirror/snapshot/CreatePrimaryRequest.cc
  src/test/librbd/mirror/snapshot/test_mock_CreatePrimaryRequest.cc
  src/test/librbd/test_mirroring.cc
Labels: bug fix, rbd, tests, wip-dis-testing, wip-mgolub-testing

#40753 nautilus: mgr/PyModule: put mgr_module_path before Py_GetPath()
  src/mgr/PyModule.cc
Labels: core, mgr, nautilus-batch-1, needs-qa, wip-yuri3-testing, wip-yuri4-testing

#41126 qa/workunits/rbd: use bionic version of qemu-iotests for focal
  qa/workunits/rbd/qemu-iotests.sh
Labels: rbd, tests

#41050 mgr/dashboard: fix bucket versioning when locking is enabled
  qa/tasks/mgr/dashboard/test_rgw.py
  src/pybind/mgr/dashboard/controllers/rgw.py
  src/pybind/mgr/dashboard/frontend/cypress/integration/rgw/buckets.e2e-spec.ts
  src/pybind/mgr/dashboard/frontend/cypress/integration/rgw/buckets.po.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-bucket-form/rgw-bucket-form.component.ts
Labels: bug fix, dashboard, pybind, tests

#41170 pacific: mgr/dashboard: fix set-ssl-certificate{,-key} commands
  src/pybind/mgr/dashboard/module.py
  src/pybind/mgr/dashboard/tests/__init__.py
  src/pybind/mgr/dashboard/tests/test_ssl.py
  src/pybind/mgr/dashboard/tests/test_sso.py
Labels: backport:no-conflicts, bug fix, dashboard, pybind

#41056 pacific: mgr/dashboard: Host Maintenance Follow ups
  qa/workunits/cephadm/test_dashboard_e2e.sh
  src/pybind/mgr/dashboard/controllers/host.py
  src/pybind/mgr/dashboard/frontend/cypress/fixtures/orchestrator/services.json
  src/pybind/mgr/dashboard/frontend/cypress/integration/cluster/hosts.po.ts
  src/pybind/mgr/dashboard/frontend/cypress/integration/orchestrator/01-hosts-force-maintenance.e2e-spec.ts
  src/pybind/mgr/dashboard/frontend/cypress/integration/orchestrator/01-hosts.e2e-spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/hosts/host-form/host-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/hosts/host-form/host-form.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/hosts/host-form/host-form.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/hosts/hosts.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/hosts/hosts.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/host.service.ts
  src/pybind/mgr/dashboard/openapi.yaml
  src/pybind/mgr/dashboard/services/orchestrator.py
Labels: backport:no-conflicts, cephadm, dashboard, feature, needs-review, pybind, tests

#41124 octopus: mgr/dashboard: OSDs placement text is unreadable
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/services/placement.pipe.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/services/placement.pipe.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/services/services.component.ts
Labels: bug fix, dashboard

#41096 pacific: mgr/dashboard: OSDs placement text is unreadable
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/services/placement.pipe.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/services/placement.pipe.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/services/services.component.ts
Labels: backport:no-conflicts, dashboard, pybind

#41069 pacific: mgr/dashboard: set required env. variables in run-backend-api-tests.sh
  src/pybind/mgr/dashboard/run-backend-api-tests.sh
Labels: backport:no-conflicts, dashboard, pybind

#41190 doc/cephadm: rewrite "using customized con..."
  doc/cephadm/upgrade.rst
Labels: cephadm, documentation

#41189 doc/cephadm: rewrite "potential problems"
  doc/cephadm/upgrade.rst
Labels: cephadm, documentation

#41188 doc/cephadm: rewrite "cancelling the upgrade"
  doc/cephadm/upgrade.rst
Labels: cephadm, documentation

#41187 doc/cephadm: rewrite "monitoring the upgrade"
  doc/cephadm/upgrade.rst
Labels: cephadm, documentation

#41186 doc/cephadm: rewriting "starting the upgrade"
  doc/cephadm/upgrade.rst
Labels: cephadm, documentation

#41107 mgr/cephadm: set host crush location based on HostSpec
  src/pybind/mgr/cephadm/module.py
  src/python-common/ceph/deployment/hostspec.py
  src/python-common/ceph/tests/test_hostspec.py
Labels: cephadm, pybind, wip-sage-testing

#40311 mgr/dashboard: avoid data processing in crush-map component
  src/pybind/mgr/dashboard/frontend/cypress/integration/cluster/crush-map.e2e-spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/crushmap/crushmap.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/crushmap/crushmap.component.ts
Labels: cleanup, dashboard, needs-review, pybind

#41151 pacific: cephadm: may batch 1
  doc/cephadm/compatibility.rst
  doc/cephadm/host-management.rst
  doc/cephadm/install.rst
  doc/cephadm/nfs.rst
  doc/cephadm/operations.rst
  doc/cephadm/osd.rst
  doc/cephadm/service-management.rst
  qa/suites/rados/cephadm/smoke-roleless/2-services/client-keyring.yaml
  qa/suites/rados/cephadm/smoke-singlehost/%
  qa/suites/rados/cephadm/smoke-singlehost/0-distro$
  qa/suites/rados/cephadm/smoke-singlehost/1-start.yaml
  qa/suites/rados/cephadm/smoke-singlehost/2-services/basic.yaml
  qa/suites/rados/cephadm/smoke-singlehost/2-services/rgw.yaml
  qa/suites/rados/cephadm/smoke-singlehost/3-final.yaml
  qa/suites/rados/cephadm/upgrade/1-start-distro/1-start-centos_8.3-octopus.yaml
  qa/suites/rados/cephadm/upgrade/1-start-distro/1-start-ubuntu_20.04-15.2.9.yaml
  qa/suites/rados/cephadm/upgrade/1-start-distro/1-start-ubuntu_20.04.yaml
  qa/suites/upgrade/octopus-x/parallel/1-tasks.yaml
  qa/suites/upgrade/octopus-x/stress-split/1-start.yaml
  qa/tasks/cephadm.py
  qa/tasks/mgr/test_dashboard.py
  qa/workunits/cephadm/test_cephadm.sh
  src/cephadm/cephadm
  src/common/options.cc
  src/mgr/MgrStandby.cc
  src/mgr/PyModuleRegistry.h
  src/pybind/mgr/cephadm/inventory.py
  src/pybind/mgr/cephadm/module.py
  src/pybind/mgr/cephadm/remotes.py
  src/pybind/mgr/cephadm/serve.py
  src/pybind/mgr/cephadm/services/cephadmservice.py
  src/pybind/mgr/cephadm/services/osd.py
  src/pybind/mgr/cephadm/tests/fixtures.py
  src/pybind/mgr/cephadm/tests/test_cephadm.py
  src/pybind/mgr/cephadm/tests/test_upgrade.py
  src/pybind/mgr/cephadm/upgrade.py
  src/pybind/mgr/cephadm/utils.py
  src/python-common/ceph/deployment/hostspec.py
Labels: cephadm, common, core, dashboard, documentation, mgr, pybind, tests, wip-sage2-testing

#41183 cephadm: normalize image digest in ls output
  src/cephadm/cephadm
Labels: cephadm, wip-swagner-testing

#41163 doc: 16.2.2 Release Notes
  doc/releases/index.rst
  doc/releases/pacific.rst
  doc/releases/releases.yml
Labels: documentation

#41192 Update boost url, fixing windows build
  win32_build.sh
  win32_deps_build.sh
Labels: build/ops, win32

#41179 qa/tasks/cephadm_cases: longer wait for osd to start
  qa/tasks/cephadm_cases/test_cli.py
Labels: tests, wip-sage-testing

#41201 doc/releases: 16.2.3
  doc/releases/index.rst
  doc/releases/pacific.rst
  doc/releases/releases.yml
Labels: documentation

#41211 qa/suites/rados/standalone: remove mon_election symlink
  qa/suites/rados/standalone/mon_election
Labels: core, tests

#41214 crimson: clang related cleanups
  src/crimson/common/config_proxy.h
  src/crimson/os/seastore/omap_manager/btree/omap_btree_node_impl.cc
  src/crimson/os/seastore/onode_manager/staged-fltree/fltree_onode_manager.cc
  src/crimson/os/seastore/onode_manager/staged-fltree/node.cc
  src/crimson/os/seastore/seastore.cc
  src/crimson/os/seastore/seastore.h
Labels: crimson

#41215 cmake: Replace boost download url
  cmake/modules/BuildBoost.cmake
  make-dist
Labels: build/ops

#40557 pacific: win32*.sh: disable libcephsqlite when targeting Windows
  win32_build.sh
Labels: build/ops, wip-sage2-testing

#41217 Fix Windows build
  CMakeLists.txt
  win32_build.sh
Labels: build/ops

#40016 use mclock_scheduler as the default scheduler
  PendingReleaseNotes
  qa/standalone/ceph-helpers.sh
  qa/suites/rados/mgr/tasks/progress.yaml
  src/common/options/global.yaml.in
Labels: common, core, documentation

#41204 pacific: mgr/dashboard: Generate NPM dependencies manifest
  src/script/generate-npm-manifest.sh
Labels: backport:no-conflicts, dashboard, needs-review

#41178 ceph-volume: remove duplicate py3 env
  src/ceph-volume/tox.ini
Labels: ceph-volume

#41177 ceph-volume: remove legacy release check
  src/ceph-volume/ceph_volume/devices/lvm/activate.py
  src/ceph-volume/ceph_volume/tests/util/test_prepare.py
  src/ceph-volume/ceph_volume/util/prepare.py
Labels: ceph-volume

#41223 crimson/alienstore: block SIGHUP to coexist with Seastar's signal handling
  src/crimson/os/alienstore/thread_pool.cc
  src/crimson/os/alienstore/thread_pool.h
  src/crimson/osd/main.cc
Labels: bug fix, crimson

#41220 crimson/monc: honor auth_result_t::canceled as the result of do_auth().
  src/crimson/mon/MonClient.cc
Labels: bug fix, crimson

#41212 pacific: qa/suites/rados/standalone: remove mon_election symlink
  qa/suites/rados/standalone/mon_election
Labels: core

#41155 log: fix the formatting when dumping thread IDs.
  src/log/Log.cc
Labels: bug fix, common, needs-qa, wip-kefu-testing2

#41143 common/buffer: adjust align before calling posix_memalign()
  src/common/buffer.cc
  src/msg/async/ProtocolV2.cc
Labels: bug fix, common, core, messenger, needs-qa, wip-kefu-testing2

#40993 osd/PG.cc: handle removal of pgmeta object
  src/osd/PG.cc
Labels: core, needs-qa, wip-kefu-testing2

#41080 os/FileStore: fix to handle readdir error correctly
  src/os/filestore/BtrfsFileStoreBackend.cc
  src/os/filestore/FileStore.cc
  src/os/filestore/LFNIndex.cc
Labels: bug fix, core, needs-qa, wip-kefu-testing2

#41234 crimson/common: use string_view when appropriate
  src/crimson/common/config_proxy.h
Labels: cleanup, crimson

#40886 rgw: fix for mfa resync crash when supplied with only one totp_pin.
  src/rgw/rgw_admin.cc
Labels: bug fix, needs-qa, rgw, wip-eric-testing-2

#41140 rgw: radosgw_admin remove bucket not purging past 1,000 objects
  src/rgw/rgw_sal_rados.cc
Labels: bug fix, needs-qa, rgw, wip-eric-testing-2

#36183 nautilus: mds: send scrub status to ceph-mgr only when scrub is running
  qa/tasks/cephfs/test_scrub_checks.py
  src/mds/MDSRank.cc
  src/mds/MDSRank.h
  src/mds/ScrubStack.h
  src/mgr/DaemonServer.cc
  src/mgr/DaemonServer.h
  src/mgr/MgrClient.cc
Labels: cephfs, core, nautilus-batch-1, needs-qa, wip-yuri3-testing

#41185 librbd/cache/pwl: fix parsing of cache_type in create_image_cache_state()
  src/librbd/cache/pwl/ImageCacheState.cc
Labels: bug fix, rbd

#41218 mgr/dashboard: fix base-href: revert it to previous approach
  src/pybind/mgr/dashboard/frontend/src/app/app.module.ts
  src/pybind/mgr/dashboard/frontend/src/index.html
Labels: bug fix, dashboard, pybind

#37720 os/bluestore: some minor fixes/improvements for allocator's stats inquiries
  src/os/bluestore/bluestore_tool.cc
Labels: bluestore, bug fix, feature, needs-review

#41108 RGW Zipper - Remove link/unlink from API
  src/rgw/rgw_bucket.cc
  src/rgw/rgw_bucket.h
  src/rgw/rgw_op.cc
  src/rgw/rgw_sal.h
  src/rgw/rgw_sal_rados.cc
  src/rgw/rgw_sal_rados.h
  src/rgw/rgw_user.cc
Labels: rgw

#36305 rgw: ordered list map efficiency
  src/rgw/rgw_rados.cc
Labels: needs-qa, performance, rgw, wip-eric-testing-1

#38729 rgw/rgw_file: Fix the return value of read() and readlink()
  src/rgw/rgw_file.cc
Labels: needs-qa, rgw, wip-eric-testing-1

#40563 rgw : add check empty for sync url
  src/rgw/rgw_rest_client.cc
Labels: needs-qa, rgw, wip-eric-testing-1

#41173 nautilus:os/bluestore: do not count pinned entries as trimmed ones.
  src/os/bluestore/BlueStore.cc
  src/test/objectstore/store_test.cc
Labels: bluestore, bug fix, nautilus-batch-1, needs-qa, wip-yuri4-testing

#40713 nautilus: qa: bump osd heartbeat grace for ffsb workload
  qa/cephfs/tasks/cfuse_workunit_suites_ffsb.yaml
  qa/suites/kcephfs/cephfs/tasks/kclient_workunit_suites_ffsb.yaml
  qa/suites/kcephfs/thrash/workloads/kclient_workunit_suites_ffsb.yaml
Labels: cephfs, nautilus-batch-1, needs-qa, tests, wip-yuri3-testing

#40667 nautilus: rgw/http: add timeout to http client
  src/rgw/rgw_http_client.cc
  src/rgw/rgw_http_client.h
Labels: nautilus-batch-1, needs-qa, rgw, wip-yuri3-testing

#41207 doc: added doc on more throttling options for the PG balancer module
  doc/rados/operations/balancer.rst
Labels: core, documentation

#41253 nautilus: mgr/dashboard: fix base-href: revert it to previous approach
  src/pybind/mgr/dashboard/frontend/src/app/app.module.ts
  src/pybind/mgr/dashboard/frontend/src/index.html
Labels: dashboard, nautilus-batch-1, needs-qa, skip-teuthology, wip-yuri4-testing

#41252 octopus: mgr/dashboard: fix base-href: revert it to previous approach
  src/pybind/mgr/dashboard/frontend/src/app/app.module.ts
  src/pybind/mgr/dashboard/frontend/src/index.html
Labels: dashboard, needs-qa, octopus-batch-1, skip-teuthology, wip-yuri3-testing

#41251 pacific: mgr/dashboard: fix base-href: revert it to previous approach
  src/pybind/mgr/dashboard/frontend/src/app/app.module.ts
  src/pybind/mgr/dashboard/frontend/src/index.html
Labels: backport:no-conflicts, dashboard, needs-qa, pacific-batch-1, pybind, skip-teuthology, wip-yuri5-testing

#41194 rbd: don't attempt to interpret image cache state json
  doc/rbd/rbd-persistent-write-back-cache.rst
  src/tools/rbd/action/Status.cc
Labels: bug fix, documentation, rbd

#41265 doc/cephadm: rewrite "config ssl/tls f. grafana"
  doc/cephadm/monitoring.rst
Labels: cephadm, documentation

#41276 doc/_theme: show the menu button
  doc/_themes/ceph/static/ceph.css_t
Labels: documentation

#41250 mgr: Fix orch osd rm stop help message
  src/pybind/mgr/orchestrator/module.py
Labels: orchestrator, pybind

#41274 crimson/os/seastore: do not capture unused variables
  src/crimson/os/seastore/object_data_handler.cc
Labels: cleanup, crimson

#41197 pacific: mgr/dashboard: fix bucket versioning when locking is enabled
  qa/tasks/mgr/dashboard/test_rgw.py
  src/pybind/mgr/dashboard/controllers/rgw.py
  src/pybind/mgr/dashboard/frontend/cypress/integration/rgw/buckets.e2e-spec.ts
  src/pybind/mgr/dashboard/frontend/cypress/integration/rgw/buckets.po.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-bucket-form/rgw-bucket-form.component.ts
Labels: backport:no-conflicts, dashboard, pybind, tests

#41203 pacific: mgr/dashboard: avoid data processing in crush-map component
  src/pybind/mgr/dashboard/frontend/cypress/integration/cluster/crush-map.e2e-spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/crushmap/crushmap.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/crushmap/crushmap.component.ts
Labels: backport:no-conflicts, dashboard, skip-teuthology

#41213 nautilus: mon/OSDMonitor: drop stale failure_info after a grace period
  src/mon/OSDMonitor.cc
  src/mon/OSDMonitor.h
  src/osd/OSD.cc
Labels: core, nautilus-batch-1, needs-qa, wip-yuri2-testing

#41226 qa/tests: removed most of runs for nautilus as it's almost EOL
  qa/crontab/teuthology-cronjobs
Labels: tests

#41256 doc/rbd/rbd-config-ref: use confval directive to define options
  doc/_ext/ceph_confval.py
  doc/rbd/rbd-config-ref.rst
  src/common/options/rbd.yaml.in
Labels: common, documentation, rbd

#41291 crimson: add seastore and bluestore to crimson-store-nbd
  src/crimson/os/seastore/cache.cc
  src/crimson/os/seastore/cache.h
  src/crimson/os/seastore/lba_manager/btree/btree_lba_manager.cc
  src/crimson/os/seastore/lba_manager/btree/btree_lba_manager.h
  src/crimson/os/seastore/lba_manager/btree/btree_range_pin.h
  src/crimson/os/seastore/seastore.cc
  src/crimson/os/seastore/transaction_manager.cc
  src/crimson/tools/CMakeLists.txt
  src/crimson/tools/store_nbd/block_driver.cc
  src/crimson/tools/store_nbd/block_driver.h
  src/crimson/tools/store_nbd/fs_driver.cc
  src/crimson/tools/store_nbd/fs_driver.h
  src/crimson/tools/store_nbd/store-nbd.cc
  src/crimson/tools/store_nbd/tm_driver.cc
  src/crimson/tools/store_nbd/tm_driver.h
  src/test/crimson/seastore/transaction_manager_test_state.h
Labels: build/ops, crimson, tests

#41292 crimson/os/alienstore: cleanups
  src/crimson/os/alienstore/alien_store.cc
Labels: cleanup, crimson

#41259 pacific: Update boost url, fixing windows build
  CMakeLists.txt
  win32_build.sh
  win32_deps_build.sh
Labels: build/ops

#41196 mgr/dashboard: add Services e2e tests
  src/pybind/mgr/dashboard/frontend/cypress/integration/cluster/services.po.ts
  src/pybind/mgr/dashboard/frontend/cypress/integration/orchestrator/05-services.e2e-spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/services/service-form/service-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/services/services.component.ts
Labels: dashboard, pybind

#40982 pacific: mgr/Dashboard: Remove erroneous elements in hosts-overview Grafana dashboard
  monitoring/grafana/dashboards/hosts-overview.json
Labels: dashboard

#41023 mgr/dashboard: RGW buckets async validator performance enhancement and name constraints
  src/pybind/mgr/dashboard/frontend/cypress/integration/rgw/buckets.po.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-bucket-form/rgw-bucket-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-bucket-form/rgw-bucket-form.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-bucket-form/rgw-bucket-form.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-user-form/rgw-user-form.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/rgw-bucket.service.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/rgw-bucket.service.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/forms/cd-validators.ts
Labels: bug fix, dashboard, needs-review, pybind, skip-teuthology

#41103 mgr/dashboard: fix typo: Filesystems to File Systems
  src/pybind/mgr/dashboard/frontend/cypress/integration/filesystems/filesystems.e2e-spec.ts
  src/pybind/mgr/dashboard/frontend/cypress/integration/ui/navigation.po.ts
  src/pybind/mgr/dashboard/frontend/src/app/app-routing.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/core/navigation/navigation/navigation.component.html
Labels: dashboard, needs-qa, pybind, wip-kefu-testing2

#40813 pacific: build(deps): bump node-notifier from 8.0.0 to 8.0.1 in /src/pybind/mgr/dashboard/frontend
  src/pybind/mgr/dashboard/frontend/package-lock.json
  src/pybind/mgr/dashboard/frontend/package.json
Labels: dashboard, pybind, skip-teuthology

#41221 mgr/dashboard: fix OSDs Host details/overview grafana graphs
  monitoring/grafana/dashboards/host-details.json
  monitoring/grafana/dashboards/hosts-overview.json
Labels: bug fix, dashboard, monitoring, skip-teuthology

#41174 rgw/sts: code to fetch certs using .well-known/openid-configuration url
  src/rgw/rgw_rest_sts.cc
  src/rgw/rgw_rest_sts.h
Labels: rgw

#41057 octopus: mgr/dashboard: Remove username and password from request body
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/user.service.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/user.service.ts
Labels: backport:no-conflicts, bug fix, dashboard, needs-review, pybind

#41161 mgr/dashboard: ingress service creation follow-up
  src/pybind/mgr/dashboard/frontend/cypress/integration/cluster/services.po.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/services/service-form/service-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/services/service-form/service-form.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/services/service-form/service-form.component.ts
Labels: dashboard, needs-review, pybind

#41219 pacific: cephadm: batch backport for May (2)
  doc/cephadm/upgrade.rst
  qa/tasks/cephadm_cases/test_cli.py
  src/cephadm/cephadm
  src/pybind/mgr/cephadm/inventory.py
  src/pybind/mgr/cephadm/module.py
  src/pybind/mgr/cephadm/schedule.py
  src/pybind/mgr/cephadm/serve.py
  src/pybind/mgr/cephadm/services/iscsi.py
  src/pybind/mgr/cephadm/tests/test_cephadm.py
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/services/service-form/service-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/services/service-form/service-form.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/services/service-form/service-form.component.ts
  src/python-common/ceph/deployment/drive_selection/matchers.py
  src/python-common/ceph/deployment/hostspec.py
  src/python-common/ceph/deployment/service_spec.py
  src/python-common/ceph/tests/test_disk_selector.py
  src/python-common/ceph/tests/test_hostspec.py
Labels: ceph-volume, cephadm, dashboard, documentation, pybind, tests, wip-sage2-testing

#40729 pacific: qa/distros/podman: preserve registries.conf
  qa/distros/podman/centos_8.2_kubic_stable.yaml
  qa/distros/podman/rhel_8.3_kubic_stable.yaml
  qa/distros/podman/ubuntu_18.04_kubic_stable.yaml
  qa/distros/podman/ubuntu_20.04_kubic_stable.yaml
  qa/distros/podman/ubuntu_20.04_kubic_testing.yaml
Labels: wip-sage2-testing

#41182 pacific: ceph_test_rados_api_service: more retries for servicemkap
  src/test/librados/service.cc
Labels: needs-qa, tests, wip-sage2-testing

#41232 pacific: systemd: remove `ProtectClock=true` for `ceph-osd@.service`
  systemd/ceph-fuse@.service.in
  systemd/ceph-immutable-object-cache@.service.in
  systemd/ceph-mds@.service.in
  systemd/ceph-mgr@.service.in
  systemd/ceph-mon@.service.in
  systemd/ceph-osd@.service.in
  systemd/ceph-radosgw@.service.in
  systemd/ceph-rbd-mirror@.service.in
  systemd/cephfs-mirror@.service.in
Labels: core, needs-qa, pacific-batch-1, wip-yuri2-testing

#40864 bluestore: revert to basic locking if a OS does not have F_OFD_SETLK
  src/blk/kernel/KernelDevice.cc
  src/include/compat.h
Labels: FreeBSD, bluestore, core, wip-kefu-testing

#41092 os/bluestore: tolerate zero length for allocators' init_[add/rm]_free()
  src/os/bluestore/AvlAllocator.cc
  src/os/bluestore/HybridAllocator.cc
  src/os/bluestore/StupidAllocator.cc
  src/test/objectstore/Allocator_test.cc
Labels: bluestore, bug fix, core, tests, wip-kefu-testing

#41094 mgr/progress: ensure progress stays between [0,1]
  src/pybind/mgr/progress/module.py
Labels: core, needs-qa, pybind, wip-kefu-testing

#40268 octopus: mgr/volumes: Retain suid guid bits in clone
  qa/tasks/cephfs/test_volumes.py
  src/include/cephfs/libcephfs.h
  src/libcephfs.cc
  src/pybind/cephfs/cephfs.pyx
  src/pybind/mgr/volumes/fs/async_cloner.py
  src/test/libcephfs/test.cc
  src/test/pybind/test_cephfs.py
Labels: cephfs, needs-qa, octopus-batch-1, pybind, tests, wip-khiremat-testing, wip-yuri6-testing

#40762 octopus: tools/cephfs: don't bind to public_addr
  src/ceph_syn.cc
  src/tools/cephfs/MDSUtility.cc
Labels: cephfs, needs-qa, octopus-batch-1, tools, wip-yuri6-testing

#40763 octopus: mount.ceph: collect v2 addresses for non-legacy ms_mode options
  src/mount/conf.cc
  src/mount/mount.ceph.c
  src/mount/mount.ceph.h
Labels: cephfs, kcephfs, needs-qa, octopus-batch-1, wip-yuri6-testing

#40764 octopus: mds: update defaults for recall configs
  src/common/options.cc
Labels: cephfs, needs-qa, octopus-batch-1, wip-yuri6-testing

#40765 octopus: qa: for the latest kclient it will also return EIO
  qa/tasks/cephfs/test_damage.py
Labels: cephfs, needs-qa, octopus-batch-1, tests, wip-yuri6-testing

#40770 octopus: pybind/cephfs: DT_REG and DT_LNK values are wrong
  src/pybind/cephfs/cephfs.pyx
Labels: cephfs, needs-qa, octopus-batch-1, pybind, wip-yuri6-testing

#40771 octopus: cephfs: client: wake up the front pos waiter
  src/client/Client.cc
Labels: cephfs, needs-qa, octopus-batch-1, wip-yuri7-testing

#40772 octopus: qa: delete all fs during tearDown
  qa/tasks/cephfs/cephfs_test_case.py
Labels: cephfs, needs-qa, octopus-batch-1, tests, wip-yuri7-testing

#40773 octopus: qa: add sleep for blocklisting to take effect
  qa/suites/fs/upgrade/featureful_client/old_client/tasks/3-compat_client/mimic.yaml
  qa/suites/fs/upgrade/featureful_client/upgraded_client/tasks/4-compat_client.yaml
Labels: cephfs, needs-qa, octopus-batch-1, tests, wip-yuri7-testing

#40774 octopus: mds: fix race of fetching large dirfrag
  src/mds/CDir.cc
  src/mds/CDir.h
Labels: cephfs, needs-qa, octopus-batch-1, wip-yuri7-testing

#40775 octopus: doc: snap-schedule documentation
  doc/cephfs/index.rst
  doc/cephfs/snap-schedule.rst
Labels: cephfs, documentation, needs-qa, octopus-batch-1, wip-yuri7-testing
