Repository ceph/ceph, pull requests merged in 2022-04, with the labels that each got.

#45742 debian: install from site-packages to dist-packages
  debian/python3-ceph-argparse.install
Labels: build/ops, pybind

#45583 mgr/dashboard: Compare values of MTU alert by device
  monitoring/ceph-mixin/prometheus_alerts.yml
  monitoring/ceph-mixin/tests_alerts/test_alerts.yml
Labels: dashboard, monitoring, ready-to-merge

#45739 grafana/Makefile: don't push to docker
  monitoring/grafana/build/Makefile
Labels: bug fix, dashboard, monitoring, cephadm, needs-quincy-backport

#45736 quincy: osd: support truncation sequences in sparse reads
  src/include/rados/librados.hpp
  src/librados/librados_cxx.cc
  src/osd/PrimaryLogPG.cc
  src/osdc/Objecter.h
  src/test/librados/io_cxx.cc
  src/test/librados_test_stub/LibradosTestStub.cc
Labels: core, needs-qa, tests, wip-yuri4-testing

#45658 build: Add some debugging messages
  install-deps.sh
  run-make-check.sh
  src/script/run-make.sh
Labels: build/ops

#45719 Crimson setopflag
  src/crimson/common/errorator.h
  src/crimson/osd/ops_executer.cc
  src/crimson/osd/ops_executer.h
  src/crimson/osd/pg.cc
Labels: crimson

#44612 bdev: fix FTBFS on FreeBSD, keep the huge paged read buffers.
  src/blk/kernel/KernelDevice.cc
Labels: core

#45705 ceph.spec.in: remove build directory in %clean, not %install
  ceph.spec.in
Labels: build/ops

#45385 doc/start: update os-recommendations.rst
  doc/start/os-recommendations.rst
Labels: documentation

#45746 doc,test: clean up crush rule min/max_size leftovers
  doc/rados/operations/crush-map-edits.rst
  doc/rados/operations/crush-map.rst
  doc/rados/operations/stretch-mode.rst
  src/crush/sample.txt
  src/script/set_up_stretch_mode.sh
  src/test/cli/crushtool/simple.template.three
  src/test/test_pool_create.sh
Labels: cleanup, documentation, core, tests

#45254 prometheus: Spell check the alert descriptions
  monitoring/ceph-mixin/prometheus_alerts.yml
  monitoring/ceph-mixin/tests_alerts/test_alerts.yml
Labels: dashboard, monitoring

#45696 cmake: WITH_SYSTEM_UTF8PROC defaults to OFF
  CMakeLists.txt
  ceph.spec.in
  debian/rules
Labels: build/ops

#45687 multisite/test: running the multisite test script with multiple RGWs per zone
  src/test/rgw/test-rgw-common.sh
  src/test/rgw/test-rgw-multisite.sh
Labels: rgw, tests

#45638 pacific: librbd: make diff-iterate in fast-diff mode sort and merge reported extents
  src/librbd/api/DiffIterate.cc
  src/test/librbd/test_librbd.cc
Labels: bug fix, rbd, needs-qa, tests, wip-yuri2-testing, pacific-batch-1

#45733 os/BlueStore: NCB fix for SimpleBitmap boundary check
  src/os/bluestore/simple_bitmap.cc
  src/os/bluestore/simple_bitmap.h
  src/test/objectstore/test_bluestore_types.cc
Labels: core, needs-qa, tests, bluestore, wip-yuri3-testing, needs-quincy-backport

#45738 quincy: os/BlueStore: NCB fix for SimpleBitmap boundary check
  src/os/bluestore/simple_bitmap.cc
  src/os/bluestore/simple_bitmap.h
  src/test/objectstore/test_bluestore_types.cc
Labels: core, needs-qa, tests, bluestore, wip-yuri5-testing

#45710 mgr/cephadm: fixing public network conf parsing
  src/cephadm/cephadm
  src/cephadm/tests/test_cephadm.py
Labels: cephadm, wip-adk-testing

#45735 mgr/cephadm: support non-root ssh-user w permissions
  src/pybind/mgr/cephadm/ssh.py
Labels: needs-qa, pybind, cephadm, wip-adk-testing

#45720 crimson/os/seastore: use different segment seq allocator from journal and ool segments
  src/crimson/os/seastore/cache.cc
  src/crimson/os/seastore/journal.h
  src/crimson/os/seastore/journal/segmented_journal.cc
  src/crimson/os/seastore/journal/segmented_journal.h
  src/crimson/os/seastore/seastore_types.cc
  src/crimson/os/seastore/seastore_types.h
  src/crimson/os/seastore/segment_cleaner.cc
  src/crimson/os/seastore/segment_cleaner.h
  src/crimson/os/seastore/segment_seq_allocator.h
  src/crimson/os/seastore/transaction_manager.h
  src/test/crimson/seastore/test_btree_lba_manager.cc
  src/test/crimson/seastore/test_seastore_journal.cc
Labels: tests, crimson

#45764 doc/start: remove old OS tables
  doc/start/os-recommendations.rst
Labels: documentation

#45753 build: Add some debugging messages
  install-deps.sh
  run-make-check.sh
  src/script/run-make.sh
Labels: build/ops

#45586 pacific: librados: check latest osdmap on ENOENT in pool_reverse_lookup()
  src/librados/librados_c.cc
  src/librados/librados_cxx.cc
  src/test/librados/pool.cc
Labels: bug fix, core, needs-qa, tests, wip-yuri2-testing, pacific-batch-1

#45654 Pacific fast shutdown backports
  qa/standalone/ceph-helpers.sh
  src/common/options.cc
  src/messages/MOSDMarkMeDown.h
  src/mon/OSDMonitor.cc
  src/osd/OSD.cc
Labels: core, needs-qa, common, wip-yuri2-testing, mon

#45743 docs: update install steps for python librados
  doc/rados/api/librados-intro.rst
Labels: documentation, core

#45740 README: document cmake options for system packages
  README.md
Labels: documentation, build/ops

#45774 Crimson cmp xattr canceled operation
  src/crimson/osd/pg_backend.cc
  src/crimson/osd/pg_backend.h
Labels: crimson

#45789 doc/dev: s/repostory/repository/ (really)
  doc/dev/developer_guide/basic-workflow.rst
Labels: documentation

#45793 mgr/dashboard: upgrade grafana pie-chart and vonage-status-panel versions
  monitoring/grafana/build/Makefile
Labels: dashboard, monitoring, needs-quincy-backport

#45782 doc/start: add testing support information
  doc/start/os-recommendations.rst
Labels: documentation

#45781 PendingReleaseNotes: Update mclock release note regarding an existing issue.
  PendingReleaseNotes
Labels: documentation

#44676 rgwlc: improve naming of lifecycle entries
  src/rgw/rgw_lc.cc
Labels: cleanup, rgw

#45760 rgw: adding BUCKET_REWRITE and OBJECT_REWRITE OPS to
  src/rgw/rgw_admin.cc
Labels: bug fix, rgw, needs-qa

#45751 qa: Latest RHEL8 -> RHEL8.5
  qa/distros/all/rhel_8.5.yaml
  qa/distros/all/rhel_8.yaml
  qa/distros/container-hosts/rhel_8.5_container_tools_3.0.yaml
  qa/distros/container-hosts/rhel_8.5_container_tools_rhel8.yaml
  qa/distros/podman/rhel_8.5_container_tools_3.0.yaml
  qa/distros/podman/rhel_8.5_container_tools_rhel8.yaml
  qa/suites/fs/workload/0-rhel_8.yaml
Labels: cephfs

#45787 rgw: zipper: move functions so they're on correct side of API
  src/rgw/rgw_common.cc
  src/rgw/rgw_common.h
  src/rgw/rgw_metadata.cc
  src/rgw/rgw_metadata.h
  src/rgw/rgw_op.cc
  src/rgw/rgw_op.h
  src/rgw/rgw_rados.cc
  src/rgw/rgw_rados.h
  src/rgw/rgw_tools.cc
  src/rgw/rgw_tools.h
Labels: cleanup, rgw

#45803 pacific: cephadm: fix broken telemetry documentation link
  src/cephadm/cephadm
Labels: cephadm

#45729 pacific: osd/scrub: remove reliance of Scrubber objects' logging on the PG
  src/osd/PG.h
  src/osd/PrimaryLogScrub.cc
  src/osd/pg_scrubber.cc
  src/osd/pg_scrubber.h
  src/osd/scrub_machine.cc
  src/osd/scrub_machine.h
  src/osd/scrub_machine_lstnr.h
Labels: core, needs-qa, wip-yuri4-testing

#45731 pacific: osd/scrub: destruct the scrubber shortly before the PG is destructed
  src/osd/PrimaryLogPG.cc
  src/osd/PrimaryLogPG.h
Labels: core, needs-qa, wip-yuri4-testing

#44666 doc/mgr/prometheus: correct metric name
  doc/mgr/prometheus.rst
Labels: documentation, mgr, monitoring

#45785 pacific: osd/scrub: restart snap trimming only after scrubbing is done
  src/osd/PrimaryLogPG.cc
  src/osd/pg_scrubber.cc
Labels: core, needs-qa, wip-yuri4-testing

#45639 doc/cephfs/add-remove-mds: added cephadm note, refined "Adding an MDS"
  doc/cephfs/add-remove-mds.rst
Labels: documentation, cephfs

#45304 rgw_reshard: drop olh entries with empty name
  qa/workunits/rgw/olh_noname_key
  qa/workunits/rgw/olh_noname_val
  qa/workunits/rgw/test_rgw_reshard.py
  src/rgw/rgw_reshard.cc
Labels: feature, rgw, tests, wip-cbodley-testing

#45597 cephadm: Specify proc/sys path for node-exporter to use
  src/cephadm/cephadm
Labels: cephadm, wip-adk-testing

#45758 rgwlc: don't incorrectly expire delete markers when !next_key_name
  src/rgw/rgw_lc.cc
Labels: bug fix, rgw, needs-qa

#45799 quincy: monitoring: several Grafana fixes
  monitoring/ceph-mixin/dashboards/cephfs.libsonnet
  monitoring/ceph-mixin/dashboards/host.libsonnet
  monitoring/ceph-mixin/dashboards/osd.libsonnet
  monitoring/ceph-mixin/dashboards/pool.libsonnet
  monitoring/ceph-mixin/dashboards/rbd.libsonnet
  monitoring/ceph-mixin/dashboards/rgw.libsonnet
  monitoring/ceph-mixin/dashboards/utils.libsonnet
  monitoring/ceph-mixin/dashboards_out/hosts-overview.json
  monitoring/ceph-mixin/dashboards_out/osds-overview.json
  monitoring/ceph-mixin/dashboards_out/pool-overview.json
  monitoring/ceph-mixin/dashboards_out/rbd-overview.json
  monitoring/ceph-mixin/prometheus_alerts.yml
  monitoring/ceph-mixin/tests_alerts/test_alerts.yml
  monitoring/grafana/build/Makefile
  src/cephadm/cephadm
  src/pybind/mgr/cephadm/module.py
  src/pybind/mgr/dashboard/constraints.txt
  src/pybind/mgr/dashboard/run-backend-api-tests.sh
Labels: pybind, dashboard, monitoring, cephadm, TESTED, quincy-batch-1

#45716 Cephadm Pacific Batch Backport March
  doc/cephadm/adoption.rst
  doc/cephadm/operations.rst
  qa/suites/fs/upgrade/mds_upgrade_sequence/tasks/3-upgrade-with-workload.yaml
  qa/tasks/cephadm_cases/test_cli.py
  qa/tasks/cephfs/test_nfs.py
  src/cephadm/cephadm
  src/cephadm/tests/fixtures.py
  src/cephadm/tests/test_cephadm.py
  src/pybind/mgr/cephadm/module.py
  src/pybind/mgr/cephadm/offline_watcher.py
  src/pybind/mgr/cephadm/schedule.py
  src/pybind/mgr/cephadm/serve.py
  src/pybind/mgr/cephadm/services/monitoring.py
  src/pybind/mgr/cephadm/tests/fixtures.py
  src/pybind/mgr/cephadm/tests/test_cephadm.py
  src/pybind/mgr/cephadm/tests/test_scheduling.py
  src/pybind/mgr/cephadm/tests/test_services.py
  src/pybind/mgr/cephadm/utils.py
  src/pybind/mgr/orchestrator/module.py
  src/pybind/mgr/prometheus/module.py
  src/python-common/ceph/deployment/drive_group.py
Labels: documentation, cephfs, needs-qa, tests, pybind, wip-yuri2-testing, ceph-volume, orchestrator, monitoring, cephadm, nfs

#45734 rgw: add missing virtual decls for dtors
  src/cls/rgw/cls_rgw_client.h
  src/rgw/rgw_acl_s3.h
  src/rgw/rgw_aio_throttle.h
  src/rgw/rgw_compression.h
  src/rgw/rgw_coroutine.h
  src/rgw/rgw_lc.h
  src/rgw/rgw_putobj.h
  src/rgw/rgw_xml.h
Labels: rgw

#45749 Remove orchestrator from rook task and suite
  qa/suites/orch/rook/smoke/1-rook.yaml
  qa/suites/orch/rook/smoke/2-workload/radosbench.yaml
  qa/suites/orch/rook/smoke/3-final.yaml
  qa/tasks/rook.py
Labels: needs-qa, tests, rook

#45832 doc/rados/configuration: document min_alloc_size values and space amplification
  doc/rados/configuration/bluestore-config-ref.rst
Labels: documentation, core

#45791 build: install-deps failing in docker build
  install-deps.sh
Labels: build/ops

#45689 mount.ceph: remove `ms_mode' mount option when switching to old-syntax
  src/mount/mount.ceph.c
Labels: cephfs, needs-qa, wip-yuri-testing, wip-vshankar-testing1

#45589 cephadm: show error during bootstrap if private registry cred not provided
  src/cephadm/cephadm
Labels: cephadm, wip-adk-testing

#45347 cephadm: preserve `authorized_keys` file during upgrade
  ceph.spec.in
Labels: needs-qa, build/ops, cephadm, wip-adk-testing

#45770 test/multisite: dont use path when mrun outside of src tree
  src/mrun
Labels: rgw, tests

#45056 cephadm: add comment explaining docker.io grep test
  src/cephadm/tox.ini
Labels: cephadm

#45070 mgr/cephadm: Making default cephadm shell cmd easier
  src/cephadm/cephadm
Labels: cephadm, wip-adk-testing

#45790 mgr/dashboard: datatable in Cluster Host page hides wrong column on selection
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/hosts/hosts.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/datatable/table/table.component.spec.ts
Labels: pybind, dashboard, ready-to-merge

#45584 mgr/dashboard: RGW users and buckets tables are empty if the selected gateway is down
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/rgw-daemon.service.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/rgw-daemon.service.ts
Labels: bug fix, pybind, dashboard

#45678 pacific: mgr/dashboard: highlight the search text in cluster logs
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/logs/logs.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/logs/logs.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/pipes/pipes.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/pipes/search-highlight.pipe.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/pipes/search-highlight.pipe.ts
  src/pybind/mgr/dashboard/frontend/src/styles/ceph-custom/_basics.scss
Labels: pybind, dashboard, ready-to-merge, backport:no-conflicts

#45627 quincy: admin/doc-requirements: bump sphinx to 4.4.0
  admin/doc-requirements.txt
  doc/conf.py
  src/pybind/mgr/orchestrator/_interface.py
  src/python-common/ceph/deployment/service_spec.py
Labels: documentation, needs-qa, build/ops, pybind, orchestrator, cephadm

#45822 crimson: check -ENAMETOOLONG for Name, Locator, NameSpace
  src/crimson/osd/osd_operations/client_request.cc
  src/crimson/osd/osd_operations/client_request.h
Labels: crimson

#45505 mgr, mgr/prometheus: Fix regression with prometheus metrics
  src/mgr/ActivePyModules.cc
  src/pybind/mgr/prometheus/module.py
Labels: core, needs-qa, pybind, mgr, wip-yuri5-testing, monitoring

#45547 Catch exception if thrown by __generate_command_map()
  src/mon/Monitor.cc
Labels: bug fix, core, needs-qa, mon, wip-yuri5-testing

#45599 osd: add scrub duration for scrubs after recovery
  src/osd/scrubber/scrub_machine.cc
  src/osd/scrubber/scrub_machine.h
Labels: core, needs-qa, wip-yuri5-testing

#45670 mgr, mon: Keep upto date metadata with mgr for MONs
  src/messages/MMgrUpdate.h
  src/mgr/DaemonServer.cc
  src/mgr/DaemonServer.h
  src/mgr/MgrClient.cc
  src/mgr/MgrClient.h
  src/mon/Monitor.cc
  src/mon/Monitor.h
  src/mon/MonmapMonitor.cc
  src/msg/Message.cc
  src/msg/Message.h
  src/msg/MessageRef.h
Labels: core, needs-qa, mgr, mon, wip-yuri5-testing

#45744 mon/OSDMonitor: properly set last_force_op_resend in stretch mode
  src/mon/OSDMonitor.cc
Labels: bug fix, core, needs-qa, mon, wip-yuri5-testing

#45137 osd: return appropriate error if the object is not manifest
  src/osd/PrimaryLogPG.cc
Labels: bug fix, core, needs-qa, TESTED

#45820 crimson: keep do_osd_ops_params_t alive when call do_osd_ops
  src/crimson/osd/pg.cc
  src/crimson/osd/pg.h
Labels: crimson

#45357 rgw: disable RGWDataChangesLog::add_entry() when log_data is off
  src/rgw/rgw_datalog.cc
Labels: rgw, wip-cbodley-testing

#45684 librbd/cache/pwl: add pwl metrics in "rbd status" display
  doc/rbd/rbd-persistent-write-log-cache.rst
  src/common/options/rbd.yaml.in
  src/librbd/cache/pwl/AbstractWriteLog.cc
  src/librbd/cache/pwl/AbstractWriteLog.h
  src/librbd/cache/pwl/ImageCacheState.cc
  src/librbd/cache/pwl/ImageCacheState.h
  src/librbd/cache/pwl/InitRequest.cc
  src/librbd/cache/pwl/rwl/WriteLog.cc
  src/librbd/cache/pwl/ssd/WriteLog.cc
  src/test/librbd/cache/pwl/test_mock_ReplicatedWriteLog.cc
  src/test/librbd/cache/pwl/test_mock_SSDWriteLog.cc
  src/tools/rbd/Utils.cc
  src/tools/rbd/Utils.h
  src/tools/rbd/action/Status.cc
Labels: documentation, rbd, tests, common, wip-dis-testing

#45880 pacific: mgr/dashboard: fix api test issue with pip
  src/pybind/mgr/dashboard/constraints.txt
  src/pybind/mgr/dashboard/run-backend-api-tests.sh
Labels: pybind, dashboard

#45531 os/bluestore: proper locking for Allocators' dump
  src/os/bluestore/Allocator.cc
  src/os/bluestore/Allocator.h
  src/os/bluestore/AvlAllocator.cc
  src/os/bluestore/AvlAllocator.h
  src/os/bluestore/BitmapAllocator.cc
  src/os/bluestore/BitmapAllocator.h
  src/os/bluestore/BlueFS.cc
  src/os/bluestore/BlueStore.cc
  src/os/bluestore/BtreeAllocator.cc
  src/os/bluestore/BtreeAllocator.h
  src/os/bluestore/HybridAllocator.cc
  src/os/bluestore/HybridAllocator.h
  src/os/bluestore/StupidAllocator.cc
  src/os/bluestore/StupidAllocator.h
  src/os/bluestore/ZonedAllocator.cc
  src/os/bluestore/ZonedAllocator.h
  src/os/bluestore/fastbmap_allocator_impl.cc
  src/os/bluestore/fastbmap_allocator_impl.h
  src/test/objectstore/Allocator_test.cc
  src/test/objectstore/allocator_replay_test.cc
Labels: bug fix, core, needs-qa, tests, bluestore, TESTED

#45802 ceph.in: clarify the usage of `--format` in the ceph command
  doc/man/8/ceph.rst
  src/ceph.in
Labels: documentation, core, needs-qa, wip-yuri7-testing

#45819 mgr/telemetry: anonymize daemons in telemetry `perf_counters`
  src/pybind/mgr/telemetry/module.py
Labels: needs-qa, pybind, wip-yuri7-testing, telemetry, needs-quincy-backport

#45876 pacific: admin/doc-requirements: bump sphinx to 4.4.0
  admin/doc-requirements.txt
  doc/conf.py
  src/pybind/mgr/orchestrator/_interface.py
  src/python-common/ceph/deployment/service_spec.py
Labels: documentation, build/ops, pybind, orchestrator, cephadm

#45756 common/bl: fix FTBFS on C++11 due to C++17's if-with-initializer
  src/include/buffer.h
Labels: bug fix, needs-qa, common, DNM, wip-yuri7-testing

#45857 quincy: mgr/telemetry: anonymize daemons in telemetry `perf_counters`
  src/pybind/mgr/telemetry/module.py
Labels: needs-qa, telemetry, backport:no-conflicts, wip-yuri11-testing

#45775 crimson: seastore add OP_ZERO support
  src/crimson/os/seastore/object_data_handler.cc
  src/crimson/os/seastore/object_data_handler.h
  src/crimson/os/seastore/seastore.cc
  src/crimson/os/seastore/seastore.h
  src/test/crimson/seastore/test_seastore.cc
Labels: tests, crimson

#45574 crimson/os/seastore: introduce the generic Device class
  src/crimson/os/seastore/CMakeLists.txt
  src/crimson/os/seastore/cache.cc
  src/crimson/os/seastore/cache.h
  src/crimson/os/seastore/device.cc
  src/crimson/os/seastore/device.h
  src/crimson/os/seastore/extent_placement_manager.cc
  src/crimson/os/seastore/extent_placement_manager.h
  src/crimson/os/seastore/journal.cc
  src/crimson/os/seastore/journal.h
  src/crimson/os/seastore/journal/segment_allocator.cc
  src/crimson/os/seastore/journal/segment_allocator.h
  src/crimson/os/seastore/journal/segmented_journal.cc
  src/crimson/os/seastore/journal/segmented_journal.h
  src/crimson/os/seastore/lba_manager.cc
  src/crimson/os/seastore/lba_manager.h
  src/crimson/os/seastore/lba_manager/btree/btree_lba_manager.cc
  src/crimson/os/seastore/lba_manager/btree/btree_lba_manager.h
  src/crimson/os/seastore/seastore.cc
  src/crimson/os/seastore/seastore.h
  src/crimson/os/seastore/seastore_types.cc
  src/crimson/os/seastore/seastore_types.h
  src/crimson/os/seastore/segment_cleaner.cc
  src/crimson/os/seastore/segment_cleaner.h
  src/crimson/os/seastore/segment_manager.cc
  src/crimson/os/seastore/segment_manager.h
  src/crimson/os/seastore/segment_manager/block.cc
  src/crimson/os/seastore/segment_manager/block.h
  src/crimson/os/seastore/segment_manager/ephemeral.h
  src/crimson/os/seastore/segment_manager/zns.cc
  src/crimson/os/seastore/segment_manager/zns.h
  src/crimson/os/seastore/segment_manager_group.cc
  src/crimson/os/seastore/segment_manager_group.h
  src/crimson/os/seastore/transaction_manager.cc
  src/crimson/os/seastore/transaction_manager.h
  src/crimson/tools/store_nbd/tm_driver.cc
  src/crimson/tools/store_nbd/tm_driver.h
  src/test/crimson/seastore/onode_tree/test_fltree_onode_manager.cc
  src/test/crimson/seastore/test_btree_lba_manager.cc
  src/test/crimson/seastore/test_seastore_cache.cc
  src/test/crimson/seastore/test_seastore_journal.cc
  src/test/crimson/seastore/test_transaction_manager.cc
  src/test/crimson/seastore/transaction_manager_test_state.h
Labels: tests, common, build/ops, crimson

#45083 doc: fix config option links
  doc/rados/configuration/ceph-conf.rst
Labels: documentation, core

#45081 doc: fix format issues
  doc/ceph-volume/lvm/activate.rst
Labels: documentation, ceph-volume

#45059 doc: browser extension for merge message
  doc/dev/developer_guide/basic-workflow.rst
Labels: documentation

#44236 rbd: add persistent-cache command group
  doc/rbd/rbd-persistent-write-log-cache.rst
  src/librbd/cache/Types.h
  src/librbd/cache/pwl/DiscardRequest.cc
  src/librbd/cache/pwl/ImageCacheState.cc
  src/librbd/cache/pwl/ShutdownRequest.cc
  src/test/cli/rbd/help.t
  src/tools/rbd/CMakeLists.txt
  src/tools/rbd/action/ImageCache.cc
  src/tools/rbd/action/PersistentCache.cc
  src/tools/rbd/action/Status.cc
Labels: documentation, rbd, tests, build/ops, wip-dis-testing

#45859 mgr/dashboard: Add cypress env for login credentials
  src/pybind/mgr/dashboard/frontend/cypress.json
  src/pybind/mgr/dashboard/frontend/cypress/support/commands.ts
Labels: pybind, dashboard, ready-to-merge

#43796 cephadm: Fix sysctl.d location
  src/cephadm/cephadm
Labels: cephadm, wip-adk-testing

#45768 mgr/cephadm: Adding cephadm networking configuration checks + refactoring
  src/cephadm/cephadm
  src/cephadm/tests/test_cephadm.py
Labels: cephadm, wip-adk-testing

#45796 mgr/cephadm: ceph cephadm set-user does not reflect the user change in ssh-config
  src/pybind/mgr/cephadm/module.py
Labels: pybind, cephadm, wip-adk-testing

#45851 mgr/cephadm: skip loopback devices when gathering facts
  src/cephadm/cephadm
Labels: cephadm, wip-adk-testing

#45884 os/bluestore: Always update the cursor position in AVL near-fit search.
  src/os/bluestore/AvlAllocator.cc
Labels: bug fix, core, performance, wip-yuri2-testing, bluestore

#45571 doc/dev: define what mempools we use in bluestore
  doc/dev/mempool_accounting.rst
Labels: documentation

#45897 test/rbd_mirror: grab timer lock before calling add_event_after()
  src/test/rbd_mirror/test_mock_ImageReplayer.cc
Labels: bug fix, rbd, tests

#45683 mgr/volumes: Fix idempotent subvolume rm
  qa/tasks/cephfs/test_volumes.py
  src/pybind/mgr/volumes/fs/operations/versions/subvolume_v2.py
Labels: cephfs, tests, pybind, wip-vshankar-testing1

#45663 client: remove expect_null and cleanup the code get_or_create()
  src/client/Client.cc
  src/client/Client.h
Labels: cleanup, cephfs, wip-vshankar-testing1

#45636 qa: make test_perf_stats_stale_metrics check only the clients created for the tests
  qa/tasks/cephfs/test_mds_metrics.py
Labels: cephfs, tests, wip-vshankar-testing1

#45549 ceph-fuse: restrict already_fuse_mounted function only for linux
  qa/tasks/cephfs/test_misc.py
  src/client/fuse_ll.cc
  src/mount.fuse.ceph
Labels: cephfs, needs-qa, tests, wip-vshankar-testing1

#45394 cls/rgw : Add missing classes in < #include "cls/rgw/cls_rgw_types.h">
  src/cls/rgw/cls_rgw_types.cc
  src/cls/rgw/cls_rgw_types.h
  src/tools/ceph-dencoder/rgw_types.h
Labels: rgw, needs-qa, build/ops

#45885 quincy: os/bluestore: Always update the cursor position in AVL near-fit search.
  src/os/bluestore/AvlAllocator.cc
Labels: bug fix, core, performance, wip-yuri-testing, bluestore, backport:no-conflicts

#45898 cmake: resurrect mutex debugging in all Debug builds
  CMakeLists.txt
  src/CMakeLists.txt
Labels: bug fix, build/ops

#45863 mgr/cephadm: retry mgr fail over in case of transient failure
  src/pybind/mgr/cephadm/services/cephadmservice.py
Labels: pybind, cephadm, wip-adk-testing

#45765 cephadm: avoid crashing on expected non-zero exit
  qa/workunits/cephadm/test_cephadm.sh
  src/cephadm/cephadm
Labels: tests, cephadm, wip-adk-testing

#45915 mgr/dashboard/frontend: fix cypress env password
  src/pybind/mgr/dashboard/frontend/cypress.json
Labels: pybind, dashboard

#45107 mds: reset heartbeat when fetching or committing dentries
  src/common/options/mds.yaml.in
  src/mds/CDir.cc
  src/mds/MDCache.cc
  src/mds/MDSRank.cc
  src/mds/MDSRank.h
  src/mds/OpenFileTable.cc
  src/mds/journal.cc
Labels: cephfs, common, wip-vshankar-testing1

#45688 client: stop forwarding the request when exceeding 256 times
  src/client/Client.cc
Labels: cephfs, wip-vshankar-testing1

#45114 client: do not release the global snaprealm until unmounting
  src/client/Client.cc
Labels: cephfs, wip-vshankar-testing1

#45816 mgr/volumes: Show clone failure reason in clone status command
  doc/cephfs/fs-volumes.rst
  qa/tasks/cephfs/test_volumes.py
  src/pybind/mgr/volumes/fs/async_cloner.py
  src/pybind/mgr/volumes/fs/operations/versions/metadata_manager.py
  src/pybind/mgr/volumes/fs/operations/versions/subvolume_v1.py
Labels: documentation, cephfs, tests, pybind

#45923 doc/developer_guide: split a note point into two
  doc/dev/developer_guide/running-tests-locally.rst
Labels: documentation, tests, needs-review, vstart_runner

#45924 qa/cephfs: expand note for test_cephfs_shell.py
  qa/tasks/cephfs/test_cephfs_shell.py
Labels: cephfs, tests, needs-review

#43879 qa/vstart_runner: print "success" explicitly
  qa/tasks/vstart_runner.py
Labels: tests

#45184 pacific: rbd-mirror: synchronize with in-flight stop in ImageReplayer::stop()
  src/test/rbd_mirror/test_mock_ImageReplayer.cc
  src/tools/rbd_mirror/ImageReplayer.cc
  src/tools/rbd_mirror/ImageReplayer.h
Labels: rbd, needs-qa, tests, TESTED, pacific-batch-1

#45860 mgr/cephadm: allow setting insecure_skip_verify for alertmanager
  doc/cephadm/services/monitoring.rst
  src/pybind/mgr/cephadm/services/monitoring.py
  src/pybind/mgr/cephadm/templates/services/alertmanager/alertmanager.yml.j2
  src/pybind/mgr/cephadm/tests/test_services.py
  src/python-common/ceph/deployment/service_spec.py
Labels: documentation, pybind, monitoring, cephadm, wip-adk-testing

#45906 pacific: mgr/snap_schedule: backports
  qa/tasks/cephfs/test_snap_schedules.py
  src/pybind/mgr/mgr_util.py
  src/pybind/mgr/snap_schedule/fs/schedule.py
  src/pybind/mgr/snap_schedule/fs/schedule_client.py
  src/pybind/mgr/snap_schedule/module.py
Labels: cephfs, needs-qa, tests, pybind, mgr, wip-yuri4-testing, pacific-batch-1

#45919 Cephadm Pacific Batch Backport April
  doc/cephadm/services/monitoring.rst
  qa/suites/orch/cephadm/mgr-nfs-upgrade/3-upgrade-with-workload.yaml
  qa/suites/orch/cephadm/upgrade/4-wait.yaml
  src/cephadm/cephadm
  src/cephadm/tests/test_cephadm.py
  src/pybind/mgr/cephadm/module.py
  src/pybind/mgr/cephadm/services/cephadmservice.py
  src/pybind/mgr/cephadm/services/monitoring.py
  src/pybind/mgr/cephadm/templates/services/alertmanager/alertmanager.yml.j2
  src/pybind/mgr/cephadm/tests/test_services.py
  src/pybind/mgr/orchestrator/module.py
  src/pybind/mgr/test_orchestrator/dummy_data.json
  src/python-common/ceph/deployment/inventory.py
  src/python-common/ceph/deployment/service_spec.py
  src/python-common/ceph/tests/c-v-inventory.json
Labels: documentation, pybind, orchestrator, monitoring, cephadm, wip-adk2-testing

#44784 doc:InconsistentFormat
  doc/radosgw/adminops.rst
Labels: documentation, stale

#45932 quincy: cephadm: Revert pids limit
  qa/suites/orch/cephadm/workunits/task/.qa
  qa/suites/orch/cephadm/workunits/task/test_iscsi_pids_limit/+
  qa/suites/orch/cephadm/workunits/task/test_iscsi_pids_limit/.qa
  qa/suites/orch/cephadm/workunits/task/test_iscsi_pids_limit/centos_8.stream_container_tools.yaml
  qa/suites/orch/cephadm/workunits/task/test_iscsi_pids_limit/test_iscsi_pids_limit.yaml
  qa/workunits/cephadm/test_iscsi_pids_limit.sh
  src/cephadm/cephadm
  src/cephadm/tests/test_cephadm.py
Labels: tests, cephadm, wip-adk3-testing

#45866 crimson: check long attr name
  src/crimson/common/errorator.h
  src/crimson/osd/ops_executer.h
  src/crimson/osd/osd_operations/client_request.cc
  src/crimson/osd/pg_backend.cc
  src/crimson/osd/pg_backend.h
Labels: crimson

#45909 rgw/dbstore: Handle prefix/delim while listing objects
  src/rgw/store/dbstore/common/dbstore.cc
  src/rgw/store/dbstore/common/dbstore.h
  src/rgw/store/dbstore/sqlite/sqliteDB.cc
  src/rgw/store/dbstore/tests/dbstore_tests.cc
Labels: rgw

#45603 mgr/volumes: set, get, list and remove metadata of subvolume
  doc/cephfs/fs-volumes.rst
  qa/tasks/cephfs/test_volumes.py
  src/pybind/mgr/volumes/fs/operations/template.py
  src/pybind/mgr/volumes/fs/operations/versions/metadata_manager.py
  src/pybind/mgr/volumes/fs/operations/versions/subvolume_base.py
  src/pybind/mgr/volumes/fs/operations/versions/subvolume_v2.py
  src/pybind/mgr/volumes/fs/volume.py
  src/pybind/mgr/volumes/module.py
Labels: documentation, cephfs, needs-qa, tests, pybind, needs-review, wip-vshankar-testing1

#45708 mgr/dashboard: Imrove error message of '/api/grafana/validation' API endpoint
  src/pybind/mgr/dashboard/controllers/grafana.py
  src/pybind/mgr/dashboard/services/exception.py
  src/pybind/mgr/dashboard/tests/test_grafana.py
Labels: bug fix, pybind, dashboard

#45938 crimson/seastore: enlarge omap_leaf_node size
  src/crimson/os/seastore/omap_manager.h
  src/crimson/os/seastore/omap_manager/btree/btree_omap_manager.cc
  src/crimson/os/seastore/omap_manager/btree/omap_btree_node_impl.cc
  src/crimson/os/seastore/omap_manager/btree/string_kv_node_layout.h
Labels: crimson

#45864 test/crimson/.../test_transaction_manager: test multiple devices
  src/crimson/os/seastore/device.cc
  src/crimson/os/seastore/device.h
  src/crimson/os/seastore/seastore.cc
  src/crimson/os/seastore/seastore_types.h
  src/crimson/os/seastore/segment_cleaner.cc
  src/crimson/os/seastore/segment_manager.cc
  src/crimson/os/seastore/segment_manager.h
  src/crimson/os/seastore/segment_manager/block.cc
  src/crimson/os/seastore/segment_manager/block.h
  src/crimson/os/seastore/segment_manager/ephemeral.cc
  src/crimson/os/seastore/segment_manager/ephemeral.h
  src/test/crimson/seastore/test_btree_lba_manager.cc
  src/test/crimson/seastore/test_seastore_cache.cc
  src/test/crimson/seastore/test_seastore_journal.cc
  src/test/crimson/seastore/test_transaction_manager.cc
  src/test/crimson/seastore/transaction_manager_test_state.h
Labels: tests, build/ops, crimson

#45916 cmake/modules: always use the python3 specified in command line
  cmake/modules/Distutils.cmake
Labels: build/ops, needs-review

#45945 mgr/snap_schedule: add time zone suffix to snapshot dir name
  src/pybind/mgr/snap_schedule/fs/schedule_client.py
Labels: cephfs, pybind, wip-vshankar-testing1

#45895 pacific: rbd persistent cache UX improvements (status report, metrics, flush command)
  doc/rbd/rbd-persistent-write-back-cache.rst
  src/common/options.cc
  src/librbd/cache/Types.h
  src/librbd/cache/pwl/AbstractWriteLog.cc
  src/librbd/cache/pwl/AbstractWriteLog.h
  src/librbd/cache/pwl/DiscardRequest.cc
  src/librbd/cache/pwl/ImageCacheState.cc
  src/librbd/cache/pwl/ImageCacheState.h
  src/librbd/cache/pwl/InitRequest.cc
  src/librbd/cache/pwl/ShutdownRequest.cc
  src/librbd/cache/pwl/rwl/WriteLog.cc
  src/librbd/cache/pwl/ssd/WriteLog.cc
  src/test/cli/rbd/help.t
  src/test/librbd/cache/pwl/test_mock_ReplicatedWriteLog.cc
  src/test/librbd/cache/pwl/test_mock_SSDWriteLog.cc
  src/tools/rbd/CMakeLists.txt
  src/tools/rbd/Utils.cc
  src/tools/rbd/Utils.h
  src/tools/rbd/action/ImageCache.cc
  src/tools/rbd/action/PersistentCache.cc
  src/tools/rbd/action/Status.cc
Labels: bug fix, documentation, rbd, needs-qa, tests, common, build/ops, wip-yuri4-testing, pacific-batch-1

#45936 pacific: cephadm: revert pids limit
  qa/suites/orch/cephadm/workunits/task/.qa
  qa/suites/orch/cephadm/workunits/task/test_iscsi_pids_limit/+
  qa/suites/orch/cephadm/workunits/task/test_iscsi_pids_limit/.qa
  qa/suites/orch/cephadm/workunits/task/test_iscsi_pids_limit/centos_8.stream_container_tools.yaml
  qa/suites/orch/cephadm/workunits/task/test_iscsi_pids_limit/test_iscsi_pids_limit.yaml
  qa/workunits/cephadm/test_iscsi_pids_limit.sh
  src/cephadm/cephadm
  src/cephadm/tests/test_cephadm.py
Labels: needs-qa, tests, wip-yuri4-testing, cephadm

#45933 qa: add basic Ceph on Windows integration test
  qa/suites/windows/.qa
  qa/suites/windows/basic/%
  qa/suites/windows/basic/.qa
  qa/suites/windows/basic/clusters/.qa
  qa/suites/windows/basic/clusters/fixed-1.yaml
  qa/suites/windows/basic/install/.qa
  qa/suites/windows/basic/install/install.yaml
  qa/suites/windows/basic/tasks/.qa
  qa/suites/windows/basic/tasks/rbd_wnbd.yaml
  qa/suites/windows/basic/ubuntu_latest.yaml
  qa/workunits/windows/libvirt_vm/autounattend.xml
  qa/workunits/windows/libvirt_vm/first-logon.ps1
  qa/workunits/windows/libvirt_vm/setup.ps1
  qa/workunits/windows/libvirt_vm/setup.sh
  qa/workunits/windows/libvirt_vm/utils.ps1
  qa/workunits/windows/run-rbd-wnbd-tests.sh
  qa/workunits/windows/test_rbd_wnbd.py
Labels: tests

#45048 doc: Add Quincy 17.2.0 release notes
  doc/releases/index.rst
  doc/releases/quincy.rst
  doc/releases/releases.yml
Labels: documentation

#45609 blk/pmem: Add the devdax support.
  src/blk/pmem/PMEMDevice.cc
  src/blk/pmem/PMEMDevice.h
Labels: feature, core, needs-qa

#45872 run-make-check.sh: enable RBD persistent caches
  run-make-check.sh
  src/librbd/cache/pwl/AbstractWriteLog.cc
  src/librbd/cache/pwl/Request.cc
  src/librbd/cache/pwl/Types.cc
  src/librbd/cache/pwl/Types.h
  src/librbd/cache/pwl/ssd/LogOperation.cc
  src/librbd/cache/pwl/ssd/Types.h
  src/test/encoding/check-generated.sh
Labels: rbd, tests, build/ops, wip-dis-testing

#44230 Using DML library to offload read/write operations in pmem inside bluestore
  CMakeLists.txt
  cmake/modules/Finddml.cmake
  doc/rados/configuration/bluestore-config-ref.rst
  src/blk/CMakeLists.txt
  src/blk/pmem/PMEMDevice.cc
  src/include/config-h.in.cmake
Labels: documentation, core, needs-qa, build/ops

#45975 tooling: Change mrun to use bash
  src/mrun
Labels: tools

#45979 doc: cephfs: update with atime not supporting explaination
  doc/cephfs/posix.rst
Labels: documentation, cephfs

#45977 cmake: try to find dml only if PMEM is enabled
  CMakeLists.txt
Labels: cleanup, build/ops

#45971 qa/cephfs: bug fix and some cleanup for test_cephfs_shell.py
  qa/tasks/cephfs/test_cephfs_shell.py
Labels: bug fix, cleanup, cephfs, tests, needs-review

#44151 Implement CIDR blocklisting
  doc/rados/operations/control.rst
  qa/workunits/cephtool/test.sh
  src/client/Client.cc
  src/include/ceph_features.h
  src/mds/MDSRank.cc
  src/mds/Server.cc
  src/mds/Server.h
  src/mon/MonCommands.h
  src/mon/OSDMonitor.cc
  src/msg/msg_types.h
  src/osd/OSD.cc
  src/osd/OSDMap.cc
  src/osd/OSDMap.h
  src/osdc/Objecter.cc
  src/test/osd/TestOSDMap.cc
Labels: feature, documentation, core, cephfs, tests, needs-review, mon

#45905 quincy: test/rbd_mirror: grab timer lock before calling add_event_after()
  src/test/rbd_mirror/test_mock_ImageReplayer.cc
Labels: bug fix, rbd, needs-qa, tests, quincy-batch-1

#45988 quincy: doc/start: add testing support information
  doc/start/os-recommendations.rst
Labels: documentation, backport:no-conflicts

#45989 pacific: doc/start: add testing support information
  doc/start/os-recommendations.rst
Labels: documentation, backport:no-conflicts

#45978 cmake/modules: use exact version of python3 when finding cython
  CMakeLists.txt
  cmake/modules/AddCephTest.cmake
  cmake/modules/Distutils.cmake
Labels: bug fix, cleanup, build/ops, python3

#45631 mds: add a perf counter to record slow replies
  src/mds/MDSRank.cc
  src/mds/MDSRank.h
  src/mds/Server.cc
Labels: cephfs, wip-vshankar-testing1

#45934 .github/pr-triage: reorder milestone step
  .github/workflows/pr-triage.yml
Labels: build/ops, dashboard, CI

#45982 mgr/cephadm: do not add _admin label when no-minimize-config is provided
  src/cephadm/cephadm
Labels: cephadm, wip-adk-testing

#45931 mgr/cephadm: fixing logging output for rm-cluster operation
  src/cephadm/cephadm
Labels: cephadm, wip-adk-testing

#45920 qa/suites/orch/cephadm: stop upgrade tests if failures are seen
  qa/suites/orch/cephadm/mgr-nfs-upgrade/3-upgrade-with-workload.yaml
  qa/suites/orch/cephadm/upgrade/4-wait.yaml
Labels: cephadm, wip-adk-testing

#45948 crimson/os/seastore/segment_cleaner: cleanup segment_info_set_t
  src/crimson/os/seastore/cache.cc
  src/crimson/os/seastore/journal/segment_allocator.cc
  src/crimson/os/seastore/journal/segmented_journal.cc
  src/crimson/os/seastore/seastore_types.h
  src/crimson/os/seastore/segment_cleaner.cc
  src/crimson/os/seastore/segment_cleaner.h
  src/test/crimson/seastore/test_btree_lba_manager.cc
  src/test/crimson/seastore/test_seastore_journal.cc
Labels: tests, crimson

#45887 doc: replace spaces with underscores in config option names
  doc/rados/api/librados-intro.rst
  doc/rados/api/python.rst
  doc/rados/configuration/demo-ceph.conf
  doc/rados/configuration/filestore-config-ref.rst
  doc/rados/configuration/mon-config-ref.rst
  doc/rados/configuration/network-config-ref.rst
  doc/rados/configuration/pool-pg.conf
  doc/rados/operations/crush-map.rst
  doc/rados/operations/monitoring-osd-pg.rst
  doc/rados/troubleshooting/log-and-debug.rst
  doc/rados/troubleshooting/troubleshooting-mon.rst
  doc/rados/troubleshooting/troubleshooting-osd.rst
  doc/rados/troubleshooting/troubleshooting-pg.rst
  doc/rbd/rbd-persistent-write-log-cache.rst
Labels: documentation, core, rbd

#45307 mds: notify clients if the session has already opened
  src/client/Client.cc
  src/mds/Server.cc
  src/mds/cephfs_features.cc
  src/mds/cephfs_features.h
Labels: cephfs, common, wip-vshankar-testing

#45407 mds: include encoded stray inode when sending dentry unlink message to replicas
  src/mds/MDCache.cc
  src/mds/MDCache.h
  src/mds/Server.cc
Labels: cephfs, wip-vshankar-testing

#45618 pacific: mgr/dashboard: Language dropdown box is partly hidden on login page
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/language-selector/language-selector.component.html
Labels: pybind, dashboard, backport:no-conflicts

#45725 pacific: mgr/dashboard: Table columns hiding fix
  src/pybind/mgr/dashboard/frontend/src/app/shared/datatable/table/table.component.ts
Labels: pybind, dashboard, backport:no-conflicts

#45721 pacific: mgr/dashboard: extend daemon actions to host details
  src/pybind/mgr/dashboard/frontend/cypress/integration/cluster/services.po.ts
  src/pybind/mgr/dashboard/frontend/cypress/integration/orchestrator/workflow/09-services.e2e-spec.ts
  src/pybind/mgr/dashboard/frontend/cypress/integration/page-helper.po.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/hosts/host-details/host-details.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/services/service-daemon-list/service-daemon-list.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/services/service-daemon-list/service-daemon-list.component.ts
Labels: pybind, dashboard, backport:no-conflicts

#45723 pacific: mgr/dashboard: NFS pages shows 'Page not found'
  src/pybind/mgr/dashboard/controllers/nfs.py
  src/pybind/mgr/dashboard/tests/test_nfs.py
Labels: pybind, dashboard, nfs, backport:no-conflicts
