Repository ceph/ceph, pull requests merged in 2022-09, with the labels that each got.

#47816 crimson/os/seastore/async_cleaner: factor out journal trimming implementation
  src/crimson/os/seastore/async_cleaner.cc
  src/crimson/os/seastore/async_cleaner.h
  src/crimson/os/seastore/extent_placement_manager.h
  src/crimson/os/seastore/seastore_types.h
  src/crimson/os/seastore/transaction_manager.cc
  src/crimson/os/seastore/transaction_manager.h
Labels: crimson

#47409 quincy: mgr/dashboard: rbd striping setting pre-population and pop-over
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-form/rbd-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-form/rbd-form.component.ts
Labels: pybind, dashboard, backport: no-conflicts

#47887 quincy: mgr/dashboard: ensure limit 0 returns 0 images
  src/pybind/mgr/dashboard/tests/test_rbd_service.py
Labels: pybind, dashboard

#47155 pacific: mgr/dashboard: do not recommend throughput for ssd's only cluster
  src/pybind/mgr/dashboard/controllers/osd.py
  src/pybind/mgr/dashboard/tests/test_osd.py
Labels: pybind, dashboard

#47886 .github: Give folks 30 seconds to fill out the checklist
  .github/workflows/pr-checklist.yml
Labels: CI

#47885 install-deps: Actually install libboost we built for Jammy
  install-deps.sh
Labels: build/ops

#47184 mgr/telemetry: add `perf_memory_metrics` collection to telemetry
  doc/mgr/telemetry.rst
  src/mon/MonCap.cc
  src/pybind/mgr/mgr_module.py
  src/pybind/mgr/telemetry/module.py
Labels: documentation, core, pybind, mgr, mon, wip-yuri7-testing, telemetry, wip-lflores-testing, needs-quincy-backport

#47719 rgw/lua: allow read access to object data
  doc/radosgw/lua-scripting.rst
  src/rgw/CMakeLists.txt
  src/rgw/rgw_admin.cc
  src/rgw/rgw_common.h
  src/rgw/rgw_lua.cc
  src/rgw/rgw_lua.h
  src/rgw/rgw_lua_background.cc
  src/rgw/rgw_lua_background.h
  src/rgw/rgw_lua_data_filter.cc
  src/rgw/rgw_lua_data_filter.h
  src/rgw/rgw_lua_request.cc
  src/rgw/rgw_lua_request.h
  src/rgw/rgw_lua_utils.cc
  src/rgw/rgw_lua_utils.h
  src/rgw/rgw_op.cc
  src/rgw/rgw_op.h
  src/rgw/rgw_process.cc
  src/test/cli/radosgw-admin/help.t
  src/test/rgw/test_rgw_lua.cc
Labels: documentation, rgw, needs-qa, tests, build/ops

#47788 RGW - Zipper - Remove a number of casts from rgw_admin
  src/rgw/rgw_admin.cc
  src/rgw/rgw_sal.h
  src/rgw/rgw_sal_dbstore.cc
  src/rgw/rgw_sal_dbstore.h
  src/rgw/rgw_sal_filter.h
  src/rgw/rgw_sal_motr.cc
  src/rgw/rgw_sal_motr.h
  src/rgw/rgw_sal_rados.cc
  src/rgw/rgw_sal_rados.h
Labels: rgw

#47804 mgr/dashboard: enable addition of custom Prometheus alerts
  doc/cephadm/services/monitoring.rst
  src/pybind/mgr/cephadm/services/monitoring.py
  src/pybind/mgr/cephadm/tests/test_services.py
  src/pybind/mgr/requirements-required.txt
Labels: documentation, pybind, monitoring, cephadm, wip-adk-testing

#47763 pybind/mgr: object_format.py decorator updates & docs
  doc/mgr/modules.rst
  src/pybind/mgr/mgr_module.py
  src/pybind/mgr/object_format.py
  src/pybind/mgr/tests/test_object_format.py
Labels: documentation, pybind, mgr, wip-adk-testing

#47666 mgr/cephadm: don't try to write client/os tuning profiles to known offline hosts
  src/pybind/mgr/cephadm/serve.py
  src/pybind/mgr/cephadm/tests/test_tuned_profiles.py
  src/pybind/mgr/cephadm/tuned_profiles.py
Labels: pybind, cephadm, wip-adk-testing

#47631 ceph-volume: add a retry in util.disk.remove_partition
  src/ceph-volume/ceph_volume/util/disk.py
Labels: ceph-volume, wip-adk-testing

#47884 RGW - Zipper - Pass invaliate down from RadosStore
  src/rgw/rgw_sal_rados.h
Labels: rgw

#47098 mgr/cephadm: Adding logic to store grafana cert/key per node
  src/pybind/mgr/cephadm/services/monitoring.py
  src/pybind/mgr/cephadm/tests/test_services.py
Labels: needs-qa, pybind, monitoring, cephadm, wip-adk-testing

#47817 mgr/cephadm: allow binding to loopback for rgw daemons
  src/pybind/mgr/cephadm/schedule.py
Labels: pybind, cephadm, wip-adk-testing

#47869 quincy: doc/mgr: update prompts in dboard.rst includes
  doc/mgr/dashboard_plugins/debug.inc.rst
  doc/mgr/dashboard_plugins/feature_toggles.inc.rst
  doc/mgr/dashboard_plugins/motd.inc.rst
Labels: documentation, mgr

#47870 pacific: doc/mgr: update prompts in dboard.rst includes
  doc/mgr/dashboard_plugins/debug.inc.rst
  doc/mgr/dashboard_plugins/feature_toggles.inc.rst
  doc/mgr/dashboard_plugins/motd.inc.rst
Labels: documentation, mgr

#47822 quincy: doc/mgr: add prompt directives to dashboard.rst
  doc/mgr/dashboard.rst
Labels: documentation, mgr, dashboard

#47650 osd: fix the "heap" admin cmd printing always to error stream
  src/mds/MDSDaemon.cc
  src/osd/OSD.cc
Labels: bug fix, core, cephfs, needs-qa, wip-yuri7-testing, TESTED, ready-to-merge, wip-lflores-testing, needs-quincy-backport, needs-pacific-backport

#47057 quincy: mds: notify the xattr_version to replica MDSes
  src/mds/CInode.cc
Labels: cephfs, needs-qa, TESTED, ready-to-merge

#47387 quincy: monitoring/ceph-mixin: OSD overview typo fix
  monitoring/ceph-mixin/dashboards/osd.libsonnet
  monitoring/ceph-mixin/dashboards_out/osds-overview.json
Labels: core, dashboard, monitoring

#47847 crimson/common/interrupt_future: simplify may_interrupt
  src/crimson/common/interruptible_future.h
  src/crimson/os/seastore/transaction.h
  src/crimson/osd/pg_interval_interrupt_condition.h
  src/test/crimson/test_interruptible_future.cc
Labels: tests, crimson

#47881 test/cli-integration/rbd: iSCSI REST API responses aren't pretty-printed anymore
  src/test/cli-integration/rbd/rest_api_create.t
  src/test/cli-integration/rbd/rest_api_delete.t
Labels: rbd, tests, wip-dis-testing

#47919 ceph-dencoder: Add erasure_code to denc-mod-osd's target_link_libraries
  src/tools/ceph-dencoder/CMakeLists.txt
Labels: bug fix, build/ops

#46988 qa/cephfs: clean up evicted client in 4-compat_client.yaml
  qa/suites/fs/upgrade/featureful_client/upgraded_client/tasks/4-compat_client.yaml
  qa/tasks/cephfs/fuse_mount.py
  qa/tasks/cephfs/kernel_mount.py
  qa/tasks/cephfs/mount.py
  qa/tasks/vstart_runner.py
Labels: cephfs, tests, wip-rishabh-testing

#47593 client: abort the client if we couldn't invalidate dentry caches
  src/client/Client.cc
Labels: cephfs, wip-rishabh-testing

#47620 client: stop the remount_finisher thread in the Client::unmount()
  src/client/Client.cc
Labels: cephfs, wip-rishabh-testing

#47796 qa/cephadm: remove fsid dir before bootstrap in test_cephadm.sh
  qa/workunits/cephadm/test_cephadm.sh
Labels: tests, cephadm, wip-adk-testing

#47916 mgr/dashboard: s/master/main in applitools config
  src/pybind/mgr/dashboard/frontend/applitools.config.js
Labels: pybind, dashboard

#47818 include: fix IS_ERR on Windows
  src/include/err.h
Labels: bug fix, needs-qa, win32

#47527 rgw: Added Cosmetic change in etag of copyObjectResult
  src/rgw/rgw_rest_s3.cc
Labels: rgw, needs-qa, wip-cbodley-testing

#47621 quincy: osd/scrub: Reintroduce scrub starts message
  src/osd/osd_types_fmt.h
  src/osd/scrubber/pg_scrubber.cc
Labels: core, needs-qa, wip-yuri-testing, TESTED, ready-to-merge

#47648 quincy: cephfs-top: fix the rsp/wsp display
  src/tools/cephfs/top/cephfs-top
Labels: cephfs, needs-qa, wip-yuri11-testing

#47825 quincy: osd, mds: fix the "heap" admin cmd printing always to error stream
  src/mds/MDSDaemon.cc
  src/osd/OSD.cc
Labels: core, cephfs, needs-qa, wip-lflores-testing-2

#47819 rgw: cloud sync fixes
  src/rgw/rgw_cr_rest.cc
  src/rgw/rgw_rest_client.cc
  src/rgw/rgw_rest_client.h
  src/rgw/rgw_sync_module_aws.cc
Labels: bug fix, rgw

#47831 rgw: rgw_d3n_datacache.cc add check for musl
  src/rgw/rgw_d3n_datacache.cc
Labels: rgw

#46930 rgw: bucket list operation slow down in special scenario
  src/rgw/rgw_rados.cc
Labels: rgw, needs-qa, performance, wip-eric-testing-1

#44610 rgw: Use STANDARD storage class in objects appending operation when the
  src/rgw/rgw_putobj_processor.cc
Labels: rgw, needs-qa, wip-eric-testing-1

#44589 rgw: Get canonical storage class when storage class is empty in
  src/rgw/rgw_lc.cc
Labels: rgw, needs-qa, wip-eric-testing-1

#47388 osd/scrub: verify SnapMapper consistency
  qa/standalone/scrub/osd-mapper.sh
  qa/standalone/scrub/scrub-helpers.sh
  src/common/hobject_fmt.h
  src/osd/PGBackend.h
  src/osd/PrimaryLogPG.h
  src/osd/SnapMapReaderI.h
  src/osd/SnapMapper.cc
  src/osd/SnapMapper.h
  src/osd/scrubber/pg_scrubber.cc
  src/osd/scrubber/pg_scrubber.h
  src/osd/scrubber/scrub_backend.cc
  src/osd/scrubber/scrub_backend.h
  src/test/osd/test_scrubber_be.cc
  src/test/test_snap_mapper.cc
Labels: core, needs-qa, tests, common

#47921 doc/cephadm/services: fix example for specifying rgw placement
  doc/cephadm/services/index.rst
Labels: documentation, cephadm

#47826 quincy: mgr/telemetry: add `perf_memory_metrics` collection to telemetry
  doc/mgr/telemetry.rst
  src/mon/MonCap.cc
  src/pybind/mgr/mgr_module.py
  src/pybind/mgr/telemetry/module.py
Labels: documentation, core, pybind, mgr, mon, telemetry, TESTED, ready-to-merge, wip-lflores-testing-2

#47910 quincy: qa/cephadm: specify using container host distros for workunits
  qa/suites/orch/cephadm/workunits/0-distro
Labels: needs-qa, tests, wip-yuri6-testing, cephadm

#47902 quincy: mon/MDSMonitor: fix standby-replay mds being removed from MDSMap unexpectedly
  doc/cephfs/.gitignore
  doc/cephfs/mds-state-diagram.dot
  src/mds/MDSMap.cc
  src/mds/MDSMap.h
  src/mds/MDSRank.cc
  src/mds/MDSRank.h
  src/mon/MDSMonitor.cc
Labels: documentation, core, cephfs, needs-qa, mon, TESTED, ready-to-merge, wip-yuri11-testing

#47768 quincy: mgr/volumes: Add volume info command
  doc/cephfs/fs-volumes.rst
  qa/tasks/cephfs/test_volumes.py
  src/pybind/mgr/volumes/fs/operations/volume.py
  src/pybind/mgr/volumes/fs/volume.py
  src/pybind/mgr/volumes/module.py
Labels: documentation, core, cephfs, needs-qa, tests, pybind, TESTED, ready-to-merge, wip-yuri11-testing

#47861 quincy: libcephfs: define AT_NO_ATTR_SYNC back for backward compatibility
  PendingReleaseNotes
  src/include/cephfs/ceph_ll_client.h
Labels: documentation, cephfs, needs-qa, TESTED, ready-to-merge, wip-yuri11-testing

#47904 rgw: avoid use-after-move in RGWDataSyncSingleEntryCR ctor
  src/rgw/rgw_data_sync.cc
Labels: bug fix, rgw, needs-qa, wip-eric-testing-2

#47882 mgr/cephadm: Fix how we check if a host belongs to public network
  src/pybind/mgr/cephadm/serve.py
Labels: pybind, cephadm, wip-adk-testing

#47859 cephadm: Fix disk size calculation
  src/cephadm/cephadm
Labels: cephadm, wip-adk-testing

#47815 cephadm/mgr: adding logic to handle --no-overwrite for tuned profiles
  doc/cephadm/host-management.rst
  src/pybind/mgr/cephadm/inventory.py
  src/pybind/mgr/cephadm/module.py
  src/pybind/mgr/orchestrator/_interface.py
  src/pybind/mgr/orchestrator/module.py
Labels: documentation, pybind, orchestrator, cephadm, wip-adk-testing

#47733 mgr/cephadm: allow setting prometheus retention time
  doc/cephadm/services/monitoring.rst
  src/cephadm/cephadm
  src/cephadm/tests/test_cephadm.py
  src/pybind/mgr/cephadm/services/monitoring.py
  src/pybind/mgr/cephadm/tests/test_services.py
  src/python-common/ceph/deployment/service_spec.py
Labels: documentation, pybind, monitoring, cephadm, wip-adk-testing

#47948 pacific: doc/cephadm/services: fix example for specifying rgw placement
  doc/cephadm/services/index.rst
Labels: documentation, cephadm

#47947 quincy: doc/cephadm/services: fix example for specifying rgw placement
  doc/cephadm/services/index.rst
Labels: documentation, cephadm

#47941 doc/cephadm: add info about --no-overwrite to note about tuned-profiles
  doc/cephadm/host-management.rst
Labels: documentation, cephadm

#47906 rgw: fix bug where variable referenced after data moved out
  src/rgw/rgw_rest_s3.cc
Labels: bug fix, rgw, needs-qa, wip-eric-testing-2

#47871 doc/start: update documenting-ceph branch names
  doc/start/documenting-ceph.rst
Labels: documentation

#47634 mgr/dashboard: fix "can't read .ssh/known_hosts: No such file or directory
  src/pybind/mgr/dashboard/ci/cephadm/bootstrap-cluster.sh
  src/pybind/mgr/dashboard/ci/cephadm/ceph_cluster.yml
  src/pybind/mgr/dashboard/ci/cephadm/start-cluster.sh
Labels: pybind, dashboard

#47571 mgr/dashboard: fix nfs exports form issues with squash field
  src/pybind/mgr/dashboard/frontend/src/app/ceph/nfs/nfs-form-client/nfs-form-client.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/nfs/nfs-form/nfs-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/nfs/nfs-form/nfs-form.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/nfs/nfs-form/nfs-form.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/nfs.service.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/pipes/ceph-release-name.pipe.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/pipes/ceph-release-name.pipe.ts
Labels: pybind, dashboard

#47694 include/buffer: include <memory>
  src/include/buffer.h
Labels: bug fix, needs-qa, build/ops, wip-yuri2-testing, quincy-batch-1

#47912 quincy: librbd: use actual monitor addresses when creating a peer bootstrap token
  qa/workunits/rbd/cli_generic.sh
  src/librbd/api/Mirror.cc
Labels: bug fix, rbd, needs-qa, tests, wip-yuri-testing, quincy-batch-1

#47914 quincy: rbd-mirror: resume pending shutdown on error in snapshot replayer
  src/test/rbd_mirror/image_replayer/snapshot/test_mock_Replayer.cc
  src/tools/rbd_mirror/image_replayer/snapshot/Replayer.cc
Labels: bug fix, rbd, needs-qa, tests, wip-yuri-testing, quincy-batch-1

#47518 crimson/os/seastore: improve ZNS support for SeaStore
  src/crimson/os/seastore/async_cleaner.cc
  src/crimson/os/seastore/device.h
  src/crimson/os/seastore/journal/segment_allocator.cc
  src/crimson/os/seastore/random_block_manager/rbm_device.h
  src/crimson/os/seastore/segment_manager.h
  src/crimson/os/seastore/segment_manager/block.cc
  src/crimson/os/seastore/segment_manager/block.h
  src/crimson/os/seastore/segment_manager/ephemeral.cc
  src/crimson/os/seastore/segment_manager/ephemeral.h
  src/crimson/os/seastore/segment_manager/zns.cc
  src/crimson/os/seastore/segment_manager/zns.h
  src/crimson/tools/store_nbd/tm_driver.cc
  src/test/crimson/seastore/transaction_manager_test_state.h
Labels: tests, crimson

#47956 pacific: doc/start: update documenting-ceph branch names
  doc/start/documenting-ceph.rst
Labels: documentation

#47955 quincy: doc/start: update documenting-ceph branch names
  doc/start/documenting-ceph.rst
Labels: documentation

#47905 rgw: avoid string_view to temporary in RGWBulkUploadOp
  src/rgw/rgw_op.cc
Labels: bug fix, rgw, needs-qa, wip-cbodley-testing

#47507 common/tracer: fix for tracer provider destruction
  src/common/tracer.cc
Labels: common

#47250 mgr/dashboard: Improve level A accessibility for usagebar
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cephfs/cephfs-detail/cephfs-detail.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/osd/osd-list/osd-list.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/pool/pool-list/pool-list.component.html
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/usage-bar/usage-bar.component.html
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/usage-bar/usage-bar.component.ts
  src/pybind/mgr/dashboard/frontend/src/styles/defaults/_bootstrap-defaults.scss
Labels: pybind, dashboard, GSoC / Outreachy

#47909 quincy: SimpleRADOSStriper: Avoid moving bufferlists by using deque in read()
  src/SimpleRADOSStriper.cc
  src/test/librados/aio_cxx.cc
Labels: tests, wip-yuri6-testing, libcephsqlite

#47619 quincy: cmake: disable LTO when building pmdk
  cmake/modules/Buildpmem.cmake
Labels: needs-qa, build/ops, needs-review, wip-yuri2-testing, quincy-batch-1

#47765 quincy: msg: Log at higher level when Throttle::get_or_fail() fails
  src/msg/async/ProtocolV1.cc
  src/msg/async/ProtocolV2.cc
Labels: core, needs-qa, wip-yuri2-testing

#37767 msg: add min delay packets support for mons
  src/common/options/mon.yaml.in
  src/msg/async/AsyncConnection.cc
  src/msg/async/PosixStack.cc
  src/msg/async/Stack.h
  src/msg/async/dpdk/DPDKStack.h
  src/msg/async/rdma/RDMAConnectedSocketImpl.cc
  src/msg/async/rdma/RDMAStack.h
Labels: feature, core, needs-qa, common, wip-yuri5-testing, messenger

#47456 osd: Implement Context based completion for mon cmd to set a config option
  src/osd/OSD.cc
  src/osd/OSD.h
Labels: core, needs-qa, wip-yuri5-testing

#47964 rgw/lua: handle null lua manager in librgw
  src/rgw/rgw_lua.cc
Labels: bug fix, rgw, wip-yuval-testing

#47803 pacific: Updates to fix `make check` failures
  ceph.spec.in
  cmake/modules/BuildFIO.cmake
  cmake/modules/Buildpmem.cmake
  cmake/modules/CephChecks.cmake
  cmake/modules/Distutils.cmake
  debian/ceph-common.install
  debian/control
  debian/python3-ceph-argparse.install
  debian/python3-cephfs.install
  do_cmake.sh
  run-make-check.sh
  src/CMakeLists.txt
  src/include/config-h.in.cmake
  src/librados/librados_c.cc
  src/mgr/CMakeLists.txt
  src/pybind/CMakeLists.txt
  src/pybind/mgr/dashboard/cherrypy_backports.py
  src/pybind/mgr/dashboard/constraints.txt
  src/pybind/mgr/dashboard/requirements.txt
  src/rgw/rgw_dencoder.cc
  src/rgw/rgw_json_enc.cc
  src/test/CMakeLists.txt
  src/test/fio/CMakeLists.txt
  src/tools/ceph-dencoder/CMakeLists.txt
  src/tools/ceph-dencoder/ceph_dencoder.cc
  src/tools/ceph-dencoder/common_types.cc
  src/tools/ceph-dencoder/denc_plugin.h
  src/tools/ceph-dencoder/denc_registry.cc
  src/tools/ceph-dencoder/denc_registry.h
  src/tools/ceph-dencoder/mds_types.cc
  src/tools/ceph-dencoder/osd_types.cc
  src/tools/ceph-dencoder/rbd_types.cc
  src/tools/ceph-dencoder/rgw_types.cc
  src/vstart.sh
Labels: documentation, core, rgw, cephfs, tests, build/ops, pybind, mgr, wip-yuri3-testing, dashboard, CI

#47962 test/{librbd, rgw}: retry when bind fail with port 0
  src/test/librbd/migration/test_mock_HttpClient.cc
  src/test/rgw/test_http_manager.cc
Labels: rgw, rbd, tests

#46823 librados: export stat2 in C API
  src/include/rados/librados.h
  src/include/radosstriper/libradosstriper.h
  src/librados/librados_c.cc
  src/libradosstriper/libradosstriper.cc
  src/test/librados/c_read_operations.cc
  src/test/librados/stat.cc
  src/test/libradosstriper/io.cc
  src/tracing/librados.tp
Labels: core, needs-qa, tests, wip-yuri5-testing

#46077 pacific: tooling: Change mrun to use bash
  src/mrun
Labels: cleanup, tools, TESTED, pacific-batch-1

#47460 pacific: mgr/volumes: add interface to check the presence of subvolumegroups/subvolumes
  doc/cephfs/fs-volumes.rst
  qa/tasks/cephfs/test_volumes.py
  src/pybind/mgr/volumes/fs/fs_util.py
  src/pybind/mgr/volumes/fs/operations/group.py
  src/pybind/mgr/volumes/fs/vol_spec.py
  src/pybind/mgr/volumes/fs/volume.py
  src/pybind/mgr/volumes/module.py
Labels: documentation, core, cephfs, needs-qa, tests, pybind, TESTED, ready-to-merge

#47913 pacific: rbd-mirror: resume pending shutdown on error in snapshot replayer
  src/test/rbd_mirror/image_replayer/snapshot/test_mock_Replayer.cc
  src/tools/rbd_mirror/image_replayer/snapshot/Replayer.cc
Labels: bug fix, rbd, tests, TESTED, pacific-batch-1

#47583 pacific: rbd: find_action() should sort actions first
  src/tools/rbd/Shell.cc
Labels: bug fix, rbd, needs-qa, TESTED, ready-to-merge, pacific-batch-1

#46949 pacific: ceph-fuse: add dedicated snap stag map for each directory
  src/client/fuse_ll.cc
  src/common/options.cc
Labels: cephfs, needs-qa, common, TESTED, ready-to-merge

#47911 pacific: librbd: use actual monitor addresses when creating a peer bootstrap token
  qa/workunits/rbd/cli_generic.sh
  src/librbd/api/Mirror.cc
Labels: bug fix, rbd, tests, TESTED, pacific-batch-1

#47980 quincy: test/{librbd, rgw}: retry when bind fail with port 0
  src/test/librbd/migration/test_mock_HttpClient.cc
  src/test/rgw/test_http_manager.cc
Labels: rgw, rbd

#47920 pacific: test/cli-integration/rbd: iSCSI REST API responses aren't pretty-printed anymore
  src/test/cli-integration/rbd/rest_api_create.t
  src/test/cli-integration/rbd/rest_api_delete.t
Labels: rbd, tests, TESTED, pacific-batch-1

#47907 rgw: fix d3n crash in StoreManager::get_config()
  src/rgw/rgw_sal.cc
Labels: bug fix, rgw, needs-qa, wip-cbodley-testing

#47282 pacific: mds: standby-replay daemon always removed in MDSMonitor::prepare_beacon
  qa/tasks/cephfs/test_failover.py
  src/common/options.cc
  src/mds/Beacon.cc
  src/mds/MDSMap.h
  src/messages/MMDSBeacon.h
  src/mon/MDSMonitor.cc
Labels: core, cephfs, tests, common, mon, TESTED, ready-to-merge

#47401 pacific: cephfs-shell: move source to separate subdirectory
  src/tools/cephfs/CMakeLists.txt
  src/tools/cephfs/shell/CMakeLists.txt
  src/tools/cephfs/shell/cephfs-shell
  src/tools/cephfs/shell/setup.py
  src/tools/cephfs/shell/tox.ini
Labels: cephfs, needs-qa, build/ops, TESTED, ready-to-merge, pacific-batch-1

#47692 pacific: mgr, mon: Keep upto date metadata with mgr for MONs
  src/messages/MMgrUpdate.h
  src/mgr/DaemonServer.cc
  src/mgr/DaemonServer.h
  src/mgr/MgrClient.cc
  src/mgr/MgrClient.h
  src/mon/Monitor.cc
  src/mon/Monitor.h
  src/mon/MonmapMonitor.cc
  src/msg/Message.cc
  src/msg/Message.h
  src/msg/MessageRef.h
  src/tools/ceph-dencoder/common_types.h
Labels: core, needs-qa, mgr, mon, TESTED, ready-to-merge

#47380 pacific: mon/ConfigMonitor: fix config get key with whitespaces
  qa/workunits/mon/config.sh
  src/mon/ConfigMonitor.cc
Labels: core, needs-qa, tests, mon, TESTED, ready-to-merge

#47908 RGW - Sal - remove unused default constructors
  src/rgw/rgw_sal_rados.h
Labels: rgw

#47522 pacific: pybind/mgr/pg_autoscaler: change overlapping roots to warning
  doc/rados/operations/placement-groups.rst
  src/pybind/mgr/pg_autoscaler/module.py
Labels: documentation, core, pybind, TESTED, ready-to-merge, backport pacific

#47684 pacific: crash: pthread_mutex_lock()
  debian/control
Labels: needs-qa, build/ops, TESTED, ready-to-merge, libcephsqlite

#47627 pacific: cephadm/ceph-volume: fix rm-cluster --zap
  src/ceph-volume/ceph_volume/tests/util/test_device.py
  src/ceph-volume/ceph_volume/util/device.py
  src/cephadm/cephadm
Labels: ceph-volume, cephadm, wip-adk2-testing

#45714 quincy: rgw: data sync uses yield_spawn_window()
  src/rgw/rgw_data_sync.cc
Labels: bug fix, rgw, needs-qa, wip-yuri-testing

#46107 quincy: rgw: Avoid segfault when OPA authz is enabled
  src/rgw/rgw_opa.cc
Labels: rgw, needs-qa, wip-yuri-testing

#47235 quincy: rgw_rest_user_policy: Fix GetUserPolicy & ListUserPolicies responses
  src/rgw/rgw_rest_user_policy.cc
Labels: rgw, needs-qa, wip-yuri-testing

#47630 PendingReleaseNotes: Note the fix for high CPU utilization during recovery
  PendingReleaseNotes
Labels: documentation

#47662 pacific: mgr/cephadm: set dashboard grafana-api-password when user provides one
  src/pybind/mgr/cephadm/services/monitoring.py
Labels: pybind, monitoring, cephadm, wip-adk2-testing

#47663 pacific: mgr/cephadm: recreate osd config when redeploy/reconfiguring
  src/pybind/mgr/cephadm/module.py
Labels: pybind, cephadm, wip-adk2-testing

#47661 pacific: cephadm: support for Oracle Linux 8
  src/cephadm/cephadm
Labels: cephadm, wip-adk2-testing

#47535 pacific: ceph-volume: system.get_mounts() refactor
  src/ceph-volume/ceph_volume/devices/simple/scan.py
  src/ceph-volume/ceph_volume/tests/util/test_system.py
  src/ceph-volume/ceph_volume/util/encryption.py
  src/ceph-volume/ceph_volume/util/system.py
Labels: ceph-volume, wip-adk2-testing

#47940 quincy: librbd/cache/pwl: narrow the scope of m_lock in write_image_cache_state()
  src/librbd/cache/pwl/AbstractWriteLog.cc
  src/librbd/cache/pwl/AbstractWriteLog.h
  src/librbd/cache/pwl/ImageCacheState.cc
  src/librbd/cache/pwl/ImageCacheState.h
  src/librbd/cache/pwl/rwl/WriteLog.cc
  src/librbd/cache/pwl/ssd/WriteLog.cc
  src/test/librbd/cache/pwl/test_mock_ReplicatedWriteLog.cc
  src/test/librbd/cache/pwl/test_mock_SSDWriteLog.cc
Labels: bug fix, rbd, needs-qa, tests, wip-yuri10-testing, quincy-batch-1

#47512 pacific: mgr/volumes: filter internal directories in 'subvolumegroup ls' command
  qa/tasks/cephfs/test_volumes.py
  src/pybind/mgr/volumes/fs/operations/group.py
  src/pybind/mgr/volumes/fs/volume.py
Labels: core, cephfs, needs-qa, tests, pybind, wip-yuri4-testing

#45883 os/bluestore: fix no metadata update on truncate+fsync
  src/os/bluestore/BlueFS.cc
  src/test/objectstore/test_bluefs.cc
Labels: bug fix, core, needs-qa, tests, bluestore, wip-yuri5-testing

#47783 radosgw-admin: fix crash with 'sync flow' cmd without 'flow-type'
  src/rgw/rgw_admin.cc
Labels: rgw

#47611 pacific: Cephadm: Allow multiple virtual IP addresses for keepalived and haproxy
  doc/cephadm/services/rgw.rst
  src/pybind/mgr/cephadm/services/ingress.py
  src/pybind/mgr/cephadm/templates/services/ingress/keepalived.conf.j2
  src/pybind/mgr/cephadm/tests/test_services.py
  src/python-common/ceph/deployment/service_spec.py
Labels: documentation, pybind, cephadm, wip-adk2-testing

#47556 pacific: os/bluestore: get rid of fake onode nref increment for pinned entry
  src/os/bluestore/BlueStore.cc
Labels: core, needs-qa, bluestore, wip-yuri4-testing, backport

#47987 librbd: retry ENOENT in V2_REFRESH_PARENT as well
  src/librbd/image/RefreshRequest.cc
  src/librbd/image/RefreshRequest.h
  src/test/librbd/image/test_mock_RefreshRequest.cc
Labels: bug fix, rbd, tests, wip-dis-testing

#46559 quincy: mgr, mon: Keep upto date metadata with mgr for MONs
  src/messages/MMgrUpdate.h
  src/mgr/DaemonServer.cc
  src/mgr/DaemonServer.h
  src/mgr/MgrClient.cc
  src/mgr/MgrClient.h
  src/mon/Monitor.cc
  src/mon/Monitor.h
  src/mon/MonmapMonitor.cc
  src/msg/Message.cc
  src/msg/Message.h
  src/msg/MessageRef.h
  src/tools/ceph-dencoder/common_types.h
Labels: core, needs-qa, mgr, mon, TESTED, ready-to-merge

#47056 pacific: mds: notify the xattr_version to replica MDSes
  src/mds/CInode.cc
Labels: cephfs, needs-qa, TESTED, ready-to-merge

#47433 pacific: mds: skip fetching the dirfrags if not a directory
  src/mds/MDCache.cc
  src/mds/MDLog.cc
  src/mds/MDLog.h
  src/mds/OpenFileTable.cc
  src/mds/OpenFileTable.h
Labels: cephfs, needs-qa, TESTED, ready-to-merge

#47693 pacific: mgr, mgr/prometheus: Fix regression with prometheus metrics
  src/mgr/ActivePyModules.cc
  src/pybind/mgr/prometheus/module.py
Labels: core, needs-qa, pybind, mgr, monitoring, TESTED, ready-to-merge

#47054 mgr/dashboard: Improve level A accessibility for grafana component
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-details/rbd-details.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-performance/rbd-performance.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cephfs/cephfs-tabs/cephfs-tabs.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/hosts/host-details/host-details.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/hosts/hosts.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/logs/logs.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/osd/osd-details/osd-details.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/osd/osd-list/osd-list.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/pool/pool-details/pool-details.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/pool/pool-list/pool-list.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-daemon-details/rgw-daemon-details.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-daemon-list/rgw-daemon-list.component.html
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/grafana/grafana.component.html
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/grafana/grafana.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/grafana/grafana.component.ts
  src/pybind/mgr/dashboard/frontend/tslint.json
Labels: pybind, dashboard, GSoC / Outreachy

#47981 crimson/os/seastore: RBM cleanups (mkfs, open, unittest)
  src/crimson/os/seastore/random_block_manager.h
  src/crimson/os/seastore/random_block_manager/block_rb_manager.cc
  src/crimson/os/seastore/random_block_manager/block_rb_manager.h
  src/crimson/os/seastore/random_block_manager/rbm_device.h
  src/test/crimson/seastore/test_randomblock_manager.cc
Labels: tests, crimson

#47857 mgr/dashboard: remove duplicate ids from table column filters
  src/pybind/mgr/dashboard/frontend/src/app/shared/datatable/table/table.component.html
Labels: pybind, dashboard

#47901 quincy: osd/PeeringState: fix missed recheck_readable from laggy
  src/osd/PeeringState.cc
Labels: core, needs-qa, wip-yuri-testing

#46005 quincy: common/bl: fix FTBFS on C++11 due to C++17's if-with-initializer
  src/include/buffer.h
Labels: needs-qa, wip-yuri-testing

#47741 do_cmake.sh: build with python3.10 on ubuntu version >= 22.0
  do_cmake.sh
Labels: build/ops

#47935 rgw: simplify bucket listing logging
  src/rgw/rgw_rados.cc
Labels: cleanup, rgw, needs-review

#47924 denc: support non-c++20 compliant C++ standard library
  src/include/cpp_lib_backport.h
  src/include/denc.h
Labels: common, build/ops

#47864 rgw/notifications: add region to bucket ARN
  doc/radosgw/notifications.rst
  src/rgw/rgw_notify.cc
  src/test/rgw/bucket_notification/test_bn.py
Labels: bug fix, documentation, rgw, tests, wip-yuval-testing

#47091 Topic creation example and sorting Golang examples into different folders
  examples/golang/object-upload/README.md
  examples/golang/object-upload/fortuna.txt
  examples/golang/object-upload/go.mod
  examples/golang/object-upload/go.sum
  examples/golang/object-upload/object-upload.go
  examples/golang/topic-creation/README.md
  examples/golang/topic-creation/go.mod
  examples/golang/topic-creation/go.sum
  examples/golang/topic-creation/topic-creation.go
Labels: documentation

#47993 rgw/backport/quincy: Fix crashes with Sync policy APIs
  src/rgw/rgw_admin.cc
  src/rgw/rgw_sync_policy.cc
Labels: rgw, needs-qa, wip-yuri6-testing

#46757 mgr/dashboard: Improve accessibility for navigation components
  src/pybind/mgr/dashboard/frontend/cypress/integration/a11y/navigation.e2e-spec.ts
  src/pybind/mgr/dashboard/frontend/cypress/support/commands.ts
  src/pybind/mgr/dashboard/frontend/package-lock.json
  src/pybind/mgr/dashboard/frontend/package.json
  src/pybind/mgr/dashboard/frontend/src/app/core/navigation/administration/administration.component.html
  src/pybind/mgr/dashboard/frontend/src/app/core/navigation/dashboard-help/dashboard-help.component.html
  src/pybind/mgr/dashboard/frontend/src/app/core/navigation/identity/identity.component.html
  src/pybind/mgr/dashboard/frontend/src/app/core/navigation/navigation/navigation.component.html
  src/pybind/mgr/dashboard/frontend/src/app/core/navigation/navigation/navigation.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/core/navigation/navigation/navigation.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/notifications-sidebar/notifications-sidebar.component.html
  src/pybind/mgr/dashboard/frontend/src/styles/defaults/_bootstrap-defaults.scss
  src/pybind/mgr/dashboard/openapi.yaml
Labels: pybind, dashboard, api-change, GSoC / Outreachy

#47274 examples/golang : Add put notification creation golang example code
  examples/golang/put-bucket-notification-creation/README.md
  examples/golang/put-bucket-notification-creation/go.mod
  examples/golang/put-bucket-notification-creation/go.sum
  examples/golang/put-bucket-notification-creation/put-bucket-notification-creation.go
Labels: documentation

#47996 quincy: librbd: retry ENOENT in V2_REFRESH_PARENT as well
  src/librbd/image/RefreshRequest.cc
  src/librbd/image/RefreshRequest.h
  src/test/librbd/image/test_mock_RefreshRequest.cc
Labels: bug fix, rbd, needs-qa, tests, wip-yuri6-testing, quincy-batch-1

#47894 quincy: mgr/volumes: Few mgr volumes backports
  doc/cephfs/fs-volumes.rst
  qa/suites/fs/full/tasks/mgr-osd-full.yaml
  qa/tasks/cephfs/mount.py
  qa/tasks/cephfs/test_volumes.py
  qa/workunits/fs/full/subvolume_clone.sh
  qa/workunits/fs/full/subvolume_rm.sh
  qa/workunits/fs/full/subvolume_snapshot_rm.sh
  src/pybind/mgr/volumes/fs/async_cloner.py
  src/pybind/mgr/volumes/fs/operations/versions/__init__.py
  src/pybind/mgr/volumes/fs/operations/versions/metadata_manager.py
  src/pybind/mgr/volumes/fs/operations/versions/subvolume_base.py
  src/pybind/mgr/volumes/fs/operations/versions/subvolume_v1.py
  src/pybind/mgr/volumes/fs/operations/versions/subvolume_v2.py
  src/pybind/mgr/volumes/fs/volume.py
Labels: documentation, cephfs, needs-qa, tests, pybind, wip-yuri-testing

#48004 quincy: PendingReleaseNotes: Note the fix for high CPU utilization during recovery
  PendingReleaseNotes
Labels: documentation

#47953 quincy: mgr/cephadm: don't try to write client/os tuning profiles to known offline hosts
  src/pybind/mgr/cephadm/serve.py
  src/pybind/mgr/cephadm/tests/test_tuned_profiles.py
  src/pybind/mgr/cephadm/tuned_profiles.py
Labels: pybind, cephadm, wip-adk3-testing

#47952 quincy: cephadm: return nonzero exit code when applying spec fails in bootstrap
  src/cephadm/cephadm
Labels: cephadm, wip-adk3-testing

#47951 quincy: mgr/cephadm: allow binding to loopback for rgw daemons
  src/pybind/mgr/cephadm/schedule.py
Labels: pybind, cephadm, wip-adk3-testing

#47950 quincy: mgr/cephadm: Adding logic to store grafana cert/key per node
  src/pybind/mgr/cephadm/services/monitoring.py
  src/pybind/mgr/cephadm/tests/test_services.py
Labels: pybind, monitoring, cephadm, wip-adk3-testing

#47659 quincy: mgr/cephadm: recreate osd config when redeploy/reconfiguring
  src/pybind/mgr/cephadm/module.py
Labels: pybind, cephadm, wip-adk3-testing

#47657 quincy: mgr/cephadm: fix handling of draining hosts with explicit placement specs
  src/pybind/mgr/cephadm/inventory.py
  src/pybind/mgr/cephadm/migrations.py
  src/pybind/mgr/cephadm/module.py
  src/pybind/mgr/cephadm/schedule.py
  src/pybind/mgr/cephadm/serve.py
  src/pybind/mgr/cephadm/tests/test_scheduling.py
  src/pybind/mgr/cephadm/tests/test_tuned_profiles.py
  src/pybind/mgr/cephadm/tuned_profiles.py
  src/python-common/ceph/deployment/hostspec.py
Labels: pybind, cephadm, wip-adk3-testing

#47656 quincy: cephadm: support for Oracle Linux 8
  src/cephadm/cephadm
Labels: cephadm, wip-adk3-testing

#47654 quincy: cephadm: Remove duplicated process args in promtail and loki
  src/cephadm/cephadm
Labels: cephadm, wip-adk3-testing

#47626 quincy: cephadm/ceph-volume: fix rm-cluster --zap
  src/ceph-volume/ceph_volume/tests/util/test_device.py
  src/ceph-volume/ceph_volume/util/device.py
  src/cephadm/cephadm
Labels: ceph-volume, cephadm, wip-adk3-testing

#47610 quincy: Cephadm: Allow multiple virtual IP addresses for keepalived and haproxy
  doc/cephadm/services/rgw.rst
  src/pybind/mgr/cephadm/services/ingress.py
  src/pybind/mgr/cephadm/templates/services/ingress/keepalived.conf.j2
  src/pybind/mgr/cephadm/tests/test_services.py
  src/python-common/ceph/deployment/service_spec.py
Labels: documentation, pybind, cephadm, wip-adk3-testing

#47608 quincy: cephadm: fix incorrect warning
  src/pybind/mgr/cephadm/module.py
Labels: pybind, cephadm, wip-adk3-testing

#47536 quincy: ceph-volume: system.get_mounts() refactor
  src/ceph-volume/ceph_volume/devices/simple/scan.py
  src/ceph-volume/ceph_volume/tests/util/test_system.py
  src/ceph-volume/ceph_volume/util/encryption.py
  src/ceph-volume/ceph_volume/util/system.py
Labels: ceph-volume, wip-adk3-testing

#47932 quincy: test/lazy-omap-stats: Various enhancements
  src/test/lazy-omap-stats/CMakeLists.txt
  src/test/lazy-omap-stats/lazy_omap_stats_test.cc
  src/test/lazy-omap-stats/lazy_omap_stats_test.h
Labels: needs-qa, tests, build/ops, wip-yuri6-testing

#47942 quincy: mgr/dashboard: enable addition of custom Prometheus alerts
  doc/cephadm/services/monitoring.rst
  src/pybind/mgr/cephadm/services/monitoring.py
  src/pybind/mgr/cephadm/tests/test_services.py
  src/pybind/mgr/requirements-required.txt
Labels: documentation, pybind, dashboard, monitoring, cephadm, wip-adk3-testing

#48009 install-deps.sh: fix install-deps script for focal and bionic
  install-deps.sh
Labels: build/ops

#48003 RGW - Zipper - Allow per-store admin APIs
  src/rgw/CMakeLists.txt
  src/rgw/rgw_main.cc
  src/rgw/rgw_sal.h
  src/rgw/rgw_sal_dbstore.h
  src/rgw/rgw_sal_filter.h
  src/rgw/rgw_sal_motr.h
  src/rgw/rgw_sal_rados.cc
  src/rgw/rgw_sal_rados.h
Labels: rgw, build/ops

#48014 test/{librbd, rgw}: increase delay between and number of bind attempts
  src/test/librbd/migration/test_mock_HttpClient.cc
  src/test/rgw/test_http_manager.cc
Labels: rgw, rbd, tests

#47959 mgr/dashboard: fix Cannot read properties of undefined (reading 'filter')
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/services/service-form/service-form.component.ts
Labels: pybind, dashboard

#47961 quincy: mgr/dashboard: fix nfs exports form issues with squash field
  src/pybind/mgr/dashboard/frontend/src/app/ceph/nfs/nfs-form-client/nfs-form-client.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/nfs/nfs-form/nfs-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/nfs/nfs-form/nfs-form.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/nfs/nfs-form/nfs-form.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/nfs.service.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/pipes/ceph-release-name.pipe.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/pipes/ceph-release-name.pipe.ts
Labels: pybind, dashboard, backport: no-conflicts

#47784 mgr/dashboard: fix unmanaged service creation
  src/pybind/mgr/dashboard/frontend/cypress/integration/cluster/services.po.ts
  src/pybind/mgr/dashboard/frontend/cypress/integration/orchestrator/workflow/09-services.e2e-spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/services/service-form/service-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/services/service-form/service-form.component.ts
Labels: pybind, dashboard

#48023 quincy: test/{librbd, rgw}: increase delay between and number of bind attempts
  src/test/librbd/migration/test_mock_HttpClient.cc
  src/test/rgw/test_http_manager.cc
Labels: rgw, rbd, tests
