Repository ceph/ceph, pull requests merged in 2022-07, with the labels that each got.

#46834 crimson/seastore: cleanup do transactions create onode logic
  src/crimson/os/seastore/seastore.cc
  src/crimson/os/seastore/seastore.h
  src/test/crimson/seastore/test_seastore.cc
Labels: tests, crimson

#46886 crimson/os/seastore/omap_manager: bug fix for https://tracker.ceph.com/issues/56399
  src/crimson/os/seastore/cache.h
  src/crimson/os/seastore/omap_manager/btree/btree_omap_manager.cc
  src/crimson/os/seastore/omap_manager/btree/omap_btree_node_impl.cc
  src/crimson/os/seastore/seastore_types.cc
  src/crimson/os/seastore/seastore_types.h
  src/test/crimson/seastore/test_omap_manager.cc
Labels: tests, crimson

#46854 mgr/dashboard: update cypress to 9.7.0
  src/pybind/mgr/dashboard/frontend/package-lock.json
  src/pybind/mgr/dashboard/frontend/package.json
Labels: pybind, dashboard

#46870 pacific: mgr/dashboard: iterate through copy of items
  src/pybind/mgr/dashboard/services/iscsi_config.py
Labels: pybind, dashboard, backport: no-conflicts

#46922 crimson/onode-staged-tree: expose compare method for ghobject_t
  src/crimson/os/seastore/onode_manager/staged-fltree/tree.h
Labels: crimson

#45157 octopus: mds: add heartbeat_reset() in start_files_to_reover()
  src/mds/MDCache.cc
Labels: cephfs, needs-qa, wip-yuri5-testing

#45164 octopus: mds: ensure that we send the btime in cap messages
  src/mds/CInode.cc
Labels: cephfs, needs-qa, wip-yuri5-testing

#46916 Revert GitHub actions to label and backport doc/releases PRs
  .github/labeler.yml
  .github/workflows/backport.yml
  .github/workflows/label-releases-doc-prs.yml
Labels: CI

#43416 octopus: crush: cancel upmaps with up set size != pool size
  src/osd/OSDMap.cc
  src/test/osd/TestOSDMap.cc
Labels: core, needs-qa, wip-yuri7-testing

#45159 octopus: qa: always format the pgid in hex
  qa/tasks/cephfs/test_data_scan.py
Labels: cephfs, needs-qa, tests, wip-yuri7-testing

#46609 octopus: osd: log the number of 'dups' entries in a PG Log
  src/osd/PeeringState.cc
Labels: core, needs-qa, wip-yuri7-testing

#44493 mgr/cephadm: Add jaeger-tracing services support
  doc/cephadm/services/index.rst
  doc/cephadm/services/tracing.rst
  doc/jaegertracing/index.rst
  qa/suites/orch/cephadm/smoke-roleless/2-services/jaeger.yaml
  src/cephadm/cephadm
  src/cephadm/tests/test_cephadm.py
  src/common/tracer.cc
  src/pybind/mgr/cephadm/module.py
  src/pybind/mgr/cephadm/services/jaeger.py
  src/pybind/mgr/cephadm/tests/test_services.py
  src/pybind/mgr/orchestrator/_interface.py
  src/pybind/mgr/orchestrator/module.py
  src/python-common/ceph/deployment/service_spec.py
Labels: documentation, needs-qa, common, pybind, mgr, orchestrator, monitoring, cephadm, tracing, wip-adk-testing

#46892 mgr/cephadm: fixing scheduler consistent hashing
  src/pybind/mgr/cephadm/schedule.py
  src/pybind/mgr/cephadm/tests/test_scheduling.py
Labels: pybind, cephadm, wip-adk-testing

#46792 quincy: python-common: allow crush device class to be set from osd service spec
  src/python-common/ceph/deployment/drive_group.py
  src/python-common/ceph/deployment/translate.py
Labels: common, cephadm

#43128 doc/radosgw/adminops: add PHP binding libraries
  doc/radosgw/adminops.rst
Labels: documentation, stale

#43085 doc/radosgw/adminops: add latest go ceph library to adminops doc
  doc/radosgw/adminops.rst
Labels: documentation, stale

#46906 doc/dev: s/the the/the/ in basic-workflow.rst
  doc/dev/developer_guide/basic-workflow.rst
Labels: documentation

#46938 doc/dev: add IRC registration instructions
  doc/dev/developer_guide/essentials.rst
Labels: documentation

#42095 doc/radosgw/vault: update the vault documentation
  doc/radosgw/vault.rst
Labels: documentation, rgw, needs-review, stale

#46940 quincy: doc/dev: add IRC registration instructions
  doc/dev/developer_guide/essentials.rst
Labels: documentation

#46942 README.md: HTTP => HTTPS
  README.md
Labels: documentation

#46087 doc: update docs for centralized logging
  doc/cephadm/services/monitoring.rst
  doc/mgr/dashboard.rst
Labels: documentation, mgr, dashboard, cephadm

#46929 crimson/tools: fix FTBFS due to seastore/segment_cleaner.h
  src/crimson/tools/store_nbd/tm_driver.h
Labels: crimson

#46770 crimson: bring alloc hints to OpsExecuter, ignore them in SeaStore
  src/crimson/os/seastore/seastore.cc
  src/crimson/osd/ops_executer.cc
  src/crimson/osd/pg_backend.cc
  src/crimson/osd/pg_backend.h
Labels: feature, bug fix, crimson

#46602 mds,qa: some balancer debug messages (<=5) not printed when debug_mds is >=5
  qa/cephfs/conf/mds.yaml
  src/mds/MDBalancer.cc
  src/mds/Mantle.cc
Labels: cephfs, needs-review, wip-vshankar-testing

#46575 qa: exercise metadata replication in workloads
  qa/suites/fs/workload/ranks/5.yaml
  qa/suites/fs/workload/ranks/multi/%
  qa/suites/fs/workload/ranks/multi/export-check.yaml
  qa/suites/fs/workload/ranks/multi/n/3.yaml
  qa/suites/fs/workload/ranks/multi/n/5.yaml
  qa/suites/fs/workload/ranks/multi/replication/always.yaml
  qa/suites/fs/workload/ranks/multi/replication/default.yaml
  qa/tasks/check_counter.py
  src/common/options/mds.yaml.in
  src/mds/CDir.cc
  src/mds/CDir.h
  src/mds/MDBalancer.cc
  src/mds/MDBalancer.h
  src/mds/MDCache.cc
  src/mds/MDCache.h
  src/mds/Server.cc
  src/mds/mdstypes.h
Labels: cephfs, tests, common, wip-vshankar-testing

#46472 mds: notify the xattr_version to replica MDSes
  src/mds/CInode.cc
Labels: cephfs, wip-vshankar-testing

#46839 rbd-fuse: librados will filter out -r option from command-line
  src/rbd_fuse/rbd-fuse.cc
Labels: bug fix, rbd, wip-dis-testing

#46912 octopus: librbd: update progress for non-existent objects on deep-copy
  src/librbd/deep_copy/ImageCopyRequest.cc
  src/librbd/deep_copy/ImageCopyRequest.h
  src/test/librbd/deep_copy/test_mock_ImageCopyRequest.cc
Labels: bug fix, rbd, needs-qa, wip-yuri6-testing, octopus-batch-1

#45143 mds: skip fetching the dirfrags if not a directory
  src/mds/MDCache.cc
  src/mds/MDLog.cc
  src/mds/MDLog.h
  src/mds/OpenFileTable.cc
  src/mds/OpenFileTable.h
Labels: cephfs, wip-vshankar-testing

#46746 qa: increase fs/snaps workunit timeout to 6h
  qa/suites/fs/snaps/tasks/workunit/snaps.yaml
  qa/suites/fs/thrash/multifs/tasks/2-workunit/cfuse_workunit_snaptests.yaml
  qa/suites/fs/thrash/workloads/tasks/2-workunit/fs/snaps.yaml
Labels: cephfs, wip-vshankar-testing

#46641 mds: switch to use projected inode instead
  src/mds/Server.cc
Labels: cephfs, wip-vshankar-testing

#46957 doc/cephadm/services: update docs for overriding loki, promtail configuration file
  doc/cephadm/services/monitoring.rst
Labels: documentation, cephadm

#46157 mgr/volumes: display in-progress clones for a snapshot
  doc/cephfs/fs-volumes.rst
  qa/tasks/cephfs/test_volumes.py
  src/pybind/mgr/volumes/fs/operations/versions/metadata_manager.py
  src/pybind/mgr/volumes/fs/operations/versions/subvolume_v1.py
Labels: documentation, cephfs, tests, pybind

#46753 ceph-volume: decrease number of `pvs` calls in `lvm list`
  src/ceph-volume/ceph_volume/devices/lvm/listing.py
Labels: ceph-volume, wip-adk-testing, wip-guits-testing

#46926 doc/cephadm/services: the config section of service specs
  doc/cephadm/services/index.rst
Labels: documentation, cephadm

#46778 pacific: mirror snapshot schedule and trash purge schedule fixes
  qa/workunits/rbd/cli_generic.sh
  src/pybind/mgr/rbd_support/mirror_snapshot_schedule.py
  src/pybind/mgr/rbd_support/trash_purge_schedule.py
Labels: bug fix, rbd, needs-qa, tests, pybind, wip-yuri8-testing, pacific-batch-1

#46813 pacific: rbd-mirror: generally skip replay/resync if remote image is not primary
  src/test/rbd_mirror/image_replayer/journal/test_mock_PrepareReplayRequest.cc
  src/test/rbd_mirror/image_replayer/test_mock_BootstrapRequest.cc
  src/tools/rbd_mirror/ImageReplayer.cc
  src/tools/rbd_mirror/image_replayer/BootstrapRequest.cc
  src/tools/rbd_mirror/image_replayer/PrepareRemoteImageRequest.cc
  src/tools/rbd_mirror/image_replayer/StateBuilder.cc
  src/tools/rbd_mirror/image_replayer/StateBuilder.h
  src/tools/rbd_mirror/image_replayer/journal/PrepareReplayRequest.cc
  src/tools/rbd_mirror/image_replayer/journal/PrepareReplayRequest.h
  src/tools/rbd_mirror/image_replayer/journal/StateBuilder.cc
  src/tools/rbd_mirror/image_replayer/snapshot/PrepareReplayRequest.h
  src/tools/rbd_mirror/image_replayer/snapshot/StateBuilder.cc
Labels: bug fix, rbd, needs-qa, tests, wip-yuri8-testing, pacific-batch-1

#46909 pacific: librbd: update progress for non-existent objects on deep-copy
  src/librbd/deep_copy/ImageCopyRequest.cc
  src/librbd/deep_copy/ImageCopyRequest.h
  src/test/librbd/deep_copy/test_mock_ImageCopyRequest.cc
Labels: bug fix, rbd, needs-qa, tests, wip-yuri8-testing, pacific-batch-1

#43802 pacific: rgw: fix self-comparison for RGWCopyObj optimization
  src/rgw/rgw_rados.cc
Labels: rgw, needs-qa, wip-yuri8-testing

#46235 pacific: rgw: remove rgw_rados_pool_pg_num_min and its use on pool creation use the cluster defaults for pg_num_min
  src/common/options.cc
  src/rgw/rgw_tools.cc
Labels: rgw, needs-qa, common, wip-yuri8-testing

#46715 pacific rgw: on FIPS enabled, fix segfault performing s3 multipart PUT
  src/rgw/rgw_op.cc
Labels: bug fix, rgw, needs-qa, wip-yuri8-testing

#46744 pacific: rgwlc: fix segfault resharding during lc
  src/rgw/rgw_lc.cc
Labels: bug fix, rgw, needs-qa, wip-yuri8-testing, backport: no-conflicts

#46676 pybind/mgr/cephadm/serve: don't remove ceph.conf which leads to qa failure
  src/pybind/mgr/cephadm/serve.py
Labels: pybind, cephadm, wip-adk-testing

#46735 cephadm: improve message when removing osd
  src/pybind/mgr/cephadm/module.py
Labels: pybind, cephadm, wip-adk3-testing

#46965 crimson/osd: fix ignoring --no-mon-config
  src/crimson/osd/main.cc
Labels: bug fix, crimson

#46979 crimson/osd: fix life-time management of OSDConnectionPriv
  src/crimson/net/Connection.h
  src/crimson/os/seastore/ordering_handle.h
  src/crimson/osd/osd_operation.h
  src/crimson/osd/osd_operations/background_recovery.h
  src/crimson/osd/osd_operations/client_request.cc
  src/crimson/osd/osd_operations/client_request.h
  src/crimson/osd/osd_operations/internal_client_request.h
  src/crimson/osd/osd_operations/logmissing_request.h
  src/crimson/osd/osd_operations/logmissing_request_reply.h
  src/crimson/osd/osd_operations/peering_event.cc
  src/crimson/osd/osd_operations/peering_event.h
  src/crimson/osd/osd_operations/pg_advance_map.h
  src/crimson/osd/osd_operations/recovery_subrequest.h
  src/crimson/osd/osd_operations/replicated_request.h
Labels: bug fix, crimson

#46981 doc/mgr: Fix capitalization in orchestrator.rst
  doc/mgr/orchestrator.rst
Labels: documentation, mgr, orchestrator

#38727 doc: add description of rgw_thread_pool_size
  doc/radosgw/frontends.rst
Labels: documentation, stale

#46978 rgw/lua: allow bucket name override in pre request
  doc/radosgw/lua-scripting.rst
  src/rgw/rgw_lua_request.cc
  src/test/rgw/test_rgw_lua.cc
Labels: documentation, rgw, tests

#46946 quincy: doc: update docs for centralized logging
  doc/cephadm/services/monitoring.rst
  doc/mgr/dashboard.rst
Labels: documentation, mgr, dashboard, cephadm

#46973 doc/rgw: update multisite doc
  doc/radosgw/multisite.rst
Labels: documentation, rgw

#46971 librados: doc: make header function documentation accurate and less c…
  src/include/rados/librados.h
Labels: documentation, core, needs-review

#46995 .github/workflows: process PRs in ascending order
  .github/workflows/stale.yml
Labels: CI

#46999 doc/governance.rst: add Yingxin Cheng <yingxin.cheng@intel.com> to CLT
  doc/governance.rst
Labels: documentation

#46982 crimson/os/seastore/circular_bounded_journal: fixes and cleanups
  src/crimson/os/seastore/device.cc
  src/crimson/os/seastore/journal/circular_bounded_journal.cc
  src/crimson/os/seastore/journal/circular_bounded_journal.h
  src/crimson/os/seastore/journal/segment_allocator.cc
  src/crimson/os/seastore/random_block_manager/nvmedevice.cc
  src/crimson/os/seastore/seastore_types.cc
  src/crimson/os/seastore/segment_manager/block.cc
  src/test/crimson/seastore/test_cbjournal.cc
  src/test/crimson/seastore/transaction_manager_test_state.h
Labels: tests, crimson

#46934 pacific: doc/dev: s/the the/the/ in basic-workflow.rst
  doc/dev/developer_guide/basic-workflow.rst
Labels: documentation

#46952 octopus: rbd-fuse: librados will filter out -r option from command-line
  src/rbd_fuse/rbd-fuse.cc
Labels: bug fix, rbd, needs-qa, wip-yuri6-testing, octopus-batch-1

#47004 crimson/osd: add support for OSD Service Specification
  src/crimson/osd/main.cc
  src/crimson/osd/osd.cc
  src/crimson/osd/osd.h
Labels: bug fix, crimson

#37831 doc:Add a description of the put obj API
  doc/dev/radosgw/s3_compliance.rst
Labels: documentation, rgw, stale

#46907 mgr/cephadm: limiting ingress/keepalived pass to 8 chars
  src/pybind/mgr/cephadm/services/ingress.py
Labels: pybind, cephadm, wip-adk-testing

#45643 ceph.spec: fixing cephadm build deps
  ceph.spec.in
Labels: needs-qa, build/ops, cephadm, wip-adk-testing

#46992 ceph-volume: fix `simple scan`
  src/ceph-volume/ceph_volume/util/disk.py
Labels: ceph-volume, wip-adk-testing

#46975 pacific: mgr/cephadm: fixing scheduler consistent hashing
  src/pybind/mgr/cephadm/schedule.py
  src/pybind/mgr/cephadm/tests/test_scheduling.py
Labels: pybind, cephadm, wip-adk2-testing

#47018 pacific: ceph-volume: allow listing devices by OSD ID
  src/ceph-volume/ceph_volume/api/lvm.py
  src/ceph-volume/ceph_volume/devices/lvm/listing.py
  src/ceph-volume/ceph_volume/tests/devices/lvm/test_listing.py
Labels: ceph-volume, wip-adk3-testing

#46951 doc/cephfs/capabilities: Fixed some typos
  doc/cephfs/capabilities.rst
Labels: documentation, cephfs

#46967 pacific: ceph-volume: decrease number of `pvs` calls in `lvm list`
  src/ceph-volume/ceph_volume/devices/lvm/listing.py
Labels: ceph-volume, wip-adk2-testing

#46731 pacific: ceph-volume: make is_valid() optional
  src/ceph-volume/ceph_volume/configuration.py
  src/ceph-volume/ceph_volume/util/encryption.py
Labels: ceph-volume, wip-adk2-testing

#46729 pacific: ceph-volume: do not log sensitive details
  src/ceph-volume/ceph_volume/util/encryption.py
  src/ceph-volume/ceph_volume/util/prepare.py
Labels: ceph-volume, wip-adk2-testing

#47015 .github/workflows: run the stale bot every hour
  .github/workflows/stale.yml
Labels: CI

#46853 rgw/dbstore: Lifecycle support
  src/rgw/rgw_lc.cc
  src/rgw/rgw_sal_dbstore.cc
  src/rgw/store/dbstore/common/dbstore.cc
  src/rgw/store/dbstore/common/dbstore.h
Labels: rgw

#46548 quincy: ceph-mixin: backport of recent cleanups
  monitoring/ceph-mixin/Makefile
  monitoring/ceph-mixin/config.libsonnet
  monitoring/ceph-mixin/dashboards.libsonnet
  monitoring/ceph-mixin/dashboards/cephfs.libsonnet
  monitoring/ceph-mixin/dashboards/dashboards.libsonnet
  monitoring/ceph-mixin/dashboards/host.libsonnet
  monitoring/ceph-mixin/dashboards/osd.libsonnet
  monitoring/ceph-mixin/dashboards/pool.libsonnet
  monitoring/ceph-mixin/dashboards/rbd.libsonnet
  monitoring/ceph-mixin/dashboards/rgw.libsonnet
  monitoring/ceph-mixin/dashboards/utils.libsonnet
  monitoring/ceph-mixin/dashboards_out/.lint
  monitoring/ceph-mixin/dashboards_out/cephfs-overview.json
  monitoring/ceph-mixin/dashboards_out/host-details.json
  monitoring/ceph-mixin/dashboards_out/hosts-overview.json
  monitoring/ceph-mixin/dashboards_out/osd-device-details.json
  monitoring/ceph-mixin/dashboards_out/osds-overview.json
  monitoring/ceph-mixin/dashboards_out/pool-detail.json
  monitoring/ceph-mixin/dashboards_out/pool-overview.json
  monitoring/ceph-mixin/dashboards_out/radosgw-detail.json
  monitoring/ceph-mixin/dashboards_out/radosgw-overview.json
  monitoring/ceph-mixin/dashboards_out/radosgw-sync-overview.json
  monitoring/ceph-mixin/dashboards_out/rbd-details.json
  monitoring/ceph-mixin/dashboards_out/rbd-overview.json
  monitoring/ceph-mixin/mixin.libsonnet
  monitoring/ceph-mixin/tests_dashboards/features/host-details.feature
  monitoring/ceph-mixin/tests_dashboards/features/hosts_overview.feature
  monitoring/ceph-mixin/tests_dashboards/features/osd-device-details.feature
  monitoring/ceph-mixin/tests_dashboards/features/radosgw-detail.feature
  monitoring/ceph-mixin/tests_dashboards/features/radosgw_overview.feature
  monitoring/ceph-mixin/tests_dashboards/util.py
Labels: dashboard, monitoring, backport: no-conflicts

#46225 os/bluestore: use swap for deferred_stable when not bluefs_layout.single_shared_device()
  src/os/bluestore/BlueStore.cc
Labels: core, needs-qa, wip-yuri2-testing, bluestore

#46974 pacific: pybind/mgr/cephadm/serve: don't remove ceph.conf which leads to qa failure
  src/pybind/mgr/cephadm/serve.py
Labels: pybind, cephadm, wip-adk2-testing

#46977 pacific: doc/cephadm: Add post-upgrade section
  doc/cephadm/upgrade.rst
Labels: documentation, cephadm

#46976 pacific: doc/cephadm: enhancing daemon operations documentation
  doc/mgr/orchestrator.rst
Labels: documentation, mgr, orchestrator, cephadm

#45998 cephfs-shell: ln command implementation
  doc/man/8/cephfs-shell.rst
  qa/tasks/cephfs/test_cephfs_shell.py
  src/tools/cephfs/cephfs-shell
Labels: documentation, cephfs, tests

#46191 qa/cephfs: remove sudo parameter from run_shell()
  qa/tasks/cephfs/mount.py
  qa/tasks/cephfs/test_cap_flush.py
  qa/tasks/cephfs/test_data_scan.py
  qa/tasks/cephfs/test_volumes.py
Labels: cleanup, cephfs, needs-qa, tests, needs-review, wip-rishabh-testing

#46833 mds: Don't blocklist clients in any replay state
  src/mds/MDSRank.cc
Labels: cephfs, wip-rishabh-testing

#46861 qa/suites/fs: skip check-counters for iogen workload
  qa/suites/fs/workload/tasks/workunit/suites/iogen.yaml
Labels: cephfs, tests

#46347 pacific: Wip min hardware typo pacific backport 2022 05 19
  doc/start/hardware-recommendations.rst
Labels: documentation

#46340 pacific: doc/start: alphabetize hardware-recs links
  doc/start/hardware-recommendations.rst
Labels: documentation

#46339 quincy: doc/start: alphabetize hardware-recs links
  doc/start/hardware-recommendations.rst
Labels: documentation

#47023 doc/dev/crimson: Correct the link to Scylla
  doc/dev/crimson/crimson.rst
Labels: documentation, crimson

#46790 quincy: cephadm: preserve cephadm user during RPM upgrade
  ceph.spec.in
Labels: build/ops, cephadm

#46939 pacific: doc/dev: add IRC registration instructions
  doc/dev/developer_guide/essentials.rst
Labels: documentation

#46923 crimson/osd: clean up the op dispatch on OpsExecuter
  src/crimson/osd/ops_executer.cc
  src/crimson/osd/ops_executer.h
Labels: cleanup, crimson

#46862 mon/Elector: make paxos_size() an int
  src/mon/ElectionLogic.h
  src/mon/Elector.cc
  src/mon/Elector.h
  src/test/mon/test_election.cc
Labels: bug fix, core, needs-qa, tests, mon, wip-yuri3-testing

#46895 osd, crimson: add more constness
  src/crimson/osd/pg.cc
  src/crimson/osd/pg.h
  src/osd/OSD.cc
  src/osd/OSD.h
  src/osd/PG.cc
  src/osd/PG.h
  src/osd/PeeringState.h
Labels: cleanup, core, needs-qa, crimson

#47033 crimson/osd: use a named type for user_modify
  src/crimson/osd/ops_executer.cc
  src/crimson/osd/ops_executer.h
Labels: crimson

#47030 crimson/osd: drop unused .cc file
  src/crimson/osd/CMakeLists.txt
  src/crimson/osd/osd_operation_external_tracking.cc
Labels: cleanup, build/ops, crimson

#47029 cmake: link librados applications against ceph-common
  src/test/CMakeLists.txt
  src/test/common/CMakeLists.txt
Labels: tests, build/ops

#47036 ceph.spec.in: fixes for "with seastar"
  ceph.spec.in
Labels: build/ops, crimson

#45519 crimson: split ObjectDataBlock when overwriting
  src/common/options/crimson.yaml.in
  src/crimson/os/seastore/async_cleaner.cc
  src/crimson/os/seastore/async_cleaner.h
  src/crimson/os/seastore/cache.cc
  src/crimson/os/seastore/cached_extent.cc
  src/crimson/os/seastore/cached_extent.h
  src/crimson/os/seastore/object_data_handler.cc
  src/crimson/os/seastore/seastore_types.h
  src/crimson/os/seastore/transaction.h
  src/crimson/os/seastore/transaction_manager.cc
  src/crimson/os/seastore/transaction_manager.h
  src/test/crimson/seastore/test_object_data_handler.cc
  src/test/crimson/seastore/test_transaction_manager.cc
Labels: tests, common, crimson

#46677 pacific: ceph_test_librados_service: wait longer for servicemap to update
  src/test/librados/service.cc
Labels: needs-qa, tests, wip-yuri4-testing

#46803 pacific: mgr/volumes: remove incorrect 'size' from output of 'snapshot info'
  doc/cephfs/fs-volumes.rst
  qa/tasks/cephfs/test_volumes.py
  src/pybind/mgr/volumes/fs/operations/versions/subvolume_v1.py
Labels: documentation, core, cephfs, needs-qa, tests, pybind, wip-yuri4-testing

#46806 pacific: mgr/volumes: subvolume ls command crashes if groupname as '_nogroup'
  qa/tasks/cephfs/test_volumes.py
  src/pybind/mgr/volumes/fs/operations/group.py
Labels: core, cephfs, needs-qa, tests, pybind, wip-yuri4-testing

#46845 Pacific: osd/scrubber/pg_scrubber.cc: fix bug where scrub machine gets stuck
  src/osd/pg_scrubber.cc
Labels: bug fix, core, needs-qa, wip-yuri4-testing

#46920 Revert "pacific: mgr, mon: Keep upto date metadata with mgr for MONs"
  src/messages/MMgrUpdate.h
  src/mgr/DaemonServer.cc
  src/mgr/DaemonServer.h
  src/mgr/MgrClient.cc
  src/mgr/MgrClient.h
  src/mon/Monitor.cc
  src/mon/Monitor.h
  src/mon/MonmapMonitor.cc
  src/msg/Message.cc
  src/msg/Message.h
  src/msg/MessageRef.h
Labels: core, needs-qa, mgr, mon, wip-yuri4-testing

#46921 Revert "pacific: mgr, mgr/prometheus: Fix regression with prometheus metrics"
  src/mgr/ActivePyModules.cc
  src/pybind/mgr/prometheus/module.py
Labels: core, needs-qa, pybind, mgr, wip-yuri4-testing, monitoring

#47007 quincy: mgr/dashboard: display helpfull message when the iframe-embedded Grafana dashboard failed to load
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/grafana/grafana.component.html
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/grafana/grafana.component.ts
Labels: pybind, dashboard

#47032 doc/dev: add Dependabot section to essentials.rst
  doc/dev/developer_guide/essentials.rst
Labels: documentation

#47043 pacific: doc/dev: add Dependabot section to essentials.rst
  doc/dev/developer_guide/essentials.rst
Labels: documentation

#47042 quincy: doc/dev: add Dependabot section to essentials.rst
  doc/dev/developer_guide/essentials.rst
Labels: documentation

#47031 doc/dev: edit delayed-delete.rst
  doc/dev/delayed-delete.rst
Labels: documentation

#46611 octopus: revert of #46253, add tools: ceph-objectstore-tool is able to trim solely pg log dups' entries
  src/osd/PGLog.cc
  src/osd/PGLog.h
  src/test/osd/TestPGLog.cc
  src/tools/ceph_objectstore_tool.cc
Labels: core, needs-qa, wip-yuri7-testing

#47051 quincy: doc/dev: edit delayed-delete.rst
  doc/dev/delayed-delete.rst
Labels: documentation

#47050 pacific: doc/dev: edit delayed-delete.rst
  doc/dev/delayed-delete.rst
Labels: documentation

#47048 quincy: doc/dev: s/github/GitHub/ in essentials.rst
  doc/dev/developer_guide/essentials.rst
Labels: documentation

#46950 doc/cephfs/dirfrags: clarify the unit of threshold limits
  doc/cephfs/dirfrags.rst
Labels: documentation, cephfs

#46764 osd: MOSDPGCreate, MOSDScrub cleanup
  src/messages/MOSDPGCreate.h
  src/messages/MOSDScrub.h
  src/mgr/DaemonServer.cc
  src/mon/OSDMonitor.cc
  src/msg/Message.cc
  src/msg/MessageRef.h
  src/osd/OSD.cc
  src/osd/OSD.h
  src/osd/scrubber/PrimaryLogScrub.h
  src/osd/scrubber/pg_scrubber.cc
  src/test/mon/test_mon_workloadgen.cc
  src/tools/ceph-dencoder/common_types.h
Labels: cleanup, core, needs-qa, tests, mgr, mon, wip-yuri3-testing, needs-upgrade-testing

#46510 mgr/dashboard: improve accessibility of login page
  src/pybind/mgr/dashboard/frontend/cypress.json
  src/pybind/mgr/dashboard/frontend/cypress/integration/ui/login.e2e-spec.ts
  src/pybind/mgr/dashboard/frontend/cypress/support/index.ts
  src/pybind/mgr/dashboard/frontend/cypress/tsconfig.json
  src/pybind/mgr/dashboard/frontend/package-lock.json
  src/pybind/mgr/dashboard/frontend/package.json
  src/pybind/mgr/dashboard/frontend/src/app/core/auth/login/login.component.html
  src/pybind/mgr/dashboard/frontend/src/app/core/auth/login/login.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/language-selector/language-selector.component.html
Labels: pybind, dashboard, GSoC / Outreachy

#47064 crimson/osd: don't leak ClientRequests on stopping OSD
  src/crimson/common/operation.h
  src/crimson/osd/osd.cc
  src/crimson/osd/osd_operation.cc
  src/crimson/osd/shard_services.h
Labels: bug fix, crimson

#46915 quincy: rgw/dbstore: Fix build errors on centos9
  src/rgw/store/dbstore/CMakeLists.txt
Labels: bug fix, rgw, needs-qa, build/ops, wip-yuri-testing, backport: no-conflicts

#47021 crimson/os/seastore/cache: fine-grained lru cache control with GC
  src/crimson/os/seastore/cache.cc
  src/crimson/os/seastore/cache.h
Labels: crimson

#47068 quincy: doc/cephadm/services: the config section of service specs
  doc/cephadm/services/index.rst
Labels: documentation, cephadm

#47074 quincy: doc/cephadm: enhancing daemon operations documentation
  doc/mgr/orchestrator.rst
Labels: documentation, mgr, orchestrator, cephadm

#47076 quincy: doc/cephadm: document the new per-fsid cephadm conf location
  doc/cephadm/host-management.rst
  doc/cephadm/operations.rst
  doc/man/8/cephadm.rst
Labels: documentation, cephadm

#47077 quincy: doc/cephadm: Add post-upgrade section
  doc/cephadm/upgrade.rst
Labels: documentation, cephadm

#46918 monitoring:package SNMP MIB file as an rpm
  ceph.spec.in
Labels: feature, needs-qa, build/ops

#47081 crimson/os/seastore: fix bug of Transaction::is_retired
  src/crimson/os/seastore/transaction.h
  src/crimson/os/seastore/transaction_manager.h
Labels: crimson

#47039 tools/crimson/perf_crimson_msgr：fix perf_crimson_msgr abort
  src/tools/crimson/perf_crimson_msgr.cc
Labels: tests, crimson

#46650 Modifying boto3 examples
  examples/boto3/topic_attributes.py
  examples/boto3/topic_with_endpoint.py
Labels: rgw, tests, build/ops

#45981 cephadm/box: Rootless podman box implementation
  doc/dev/cephadm/developing-cephadm.rst
  src/cephadm/box/DockerfileDocker
  src/cephadm/box/DockerfilePodman
  src/cephadm/box/box.py
  src/cephadm/box/docker-compose-docker.yml
  src/cephadm/box/docker-compose-podman.yml
  src/cephadm/box/host.py
  src/cephadm/box/osd.py
  src/cephadm/box/util.py
Labels: documentation, dashboard, cephadm

#46644 mgr/dashboard: rbd image pagination
  qa/tasks/mgr/dashboard/test_rbd.py
  src/pybind/mgr/dashboard/controllers/rbd.py
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/iscsi-target-form/iscsi-target-form.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/iscsi-target-form/iscsi-target-form.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-list/rbd-list.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-list/rbd-list.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-list/rbd-list.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/rbd.model.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/rbd.service.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/rbd.service.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/datatable/table/table.component.html
  src/pybind/mgr/dashboard/frontend/src/app/shared/datatable/table/table.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/models/cd-table-fetch-data-context.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/models/cd-table-paging.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/models/cd-user-config.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/services/cd-table-server-side.service.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/services/cd-table-server-side.service.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/services/task-list.service.ts
  src/pybind/mgr/dashboard/openapi.yaml
  src/pybind/mgr/dashboard/services/rbd.py
  src/pybind/mgr/dashboard/tests/test_rbd_service.py
Labels: tests, pybind, dashboard, api-change

#46260 cmake: enable ndctl when building PMDK for WITH_BLUESTORE_PMEM
  ceph.spec.in
  cmake/modules/Buildpmdk.cmake
  cmake/modules/Finddaxctl.cmake
  cmake/modules/Findndctl.cmake
  debian/control
  src/CMakeLists.txt
Labels: build/ops, wip-dis-testing

#47062 cephadm: update LATEST_STABLE_RELEASE
  src/cephadm/cephadm
Labels: cephadm, wip-adk-testing

#47102 quincy: doc/cephadm: add note about OSDs being recreated to OSD removal section
  doc/cephadm/services/osd.rst
Labels: documentation, cephadm

#47103 pacific: doc/cephadm: add note about OSDs being recreated to OSD removal section
  doc/cephadm/services/osd.rst
Labels: documentation, cephadm

#46546 src/stop.sh: stop existing ceph-mds daemons
  src/stop.sh
Labels: cephadm, script

#47028 crimson/os/seastore: simplify backref cache
  src/crimson/os/seastore/async_cleaner.cc
  src/crimson/os/seastore/async_cleaner.h
  src/crimson/os/seastore/backref/btree_backref_manager.cc
  src/crimson/os/seastore/backref/btree_backref_manager.h
  src/crimson/os/seastore/backref_manager.h
  src/crimson/os/seastore/cache.cc
  src/crimson/os/seastore/cache.h
  src/crimson/os/seastore/seastore.cc
  src/crimson/os/seastore/transaction_manager.cc
  src/crimson/os/seastore/transaction_manager.h
  src/test/crimson/seastore/test_transaction_manager.cc
Labels: tests, crimson

#47035 rbd-mirror: remove bogus completed_non_primary_snapshots_exist check
  src/test/rbd_mirror/image_replayer/snapshot/test_mock_Replayer.cc
  src/tools/rbd_mirror/image_replayer/snapshot/Replayer.cc
Labels: bug fix, rbd, tests, wip-dis-testing

#46558 Quincy: client: always return ESTALE directly in handle_reply
  src/client/Client.cc
  src/mds/Server.cc
  src/mds/Server.h
Labels: cephfs, needs-qa, wip-yuri2-testing

#46566 quincy: mds: do not assert early on when issuing client leases
  src/mds/Locker.cc
  src/mds/Locker.h
  src/mds/Server.cc
Labels: cephfs, needs-qa, wip-yuri2-testing, quincy-batch-1

#46595 quincy: client/fuse: Fix directory DACs overriding for root
  qa/suites/fs/permission/tasks/cfuse_workunit_misc.yaml
  qa/workunits/fs/misc/dac_override.sh
  src/client/Client.cc
Labels: cephfs, needs-qa, tests, wip-yuri2-testing

#46680 Quincy: client: switch AT_NO_ATTR_SYNC to AT_STATX_DONT_SYNC
  src/client/Client.cc
  src/client/Client.h
  src/client/hypertable/CephBroker.cc
  src/include/cephfs/ceph_ll_client.h
  src/include/cephfs/libcephfs.h
  src/pybind/cephfs/cephfs.pyx
  src/test/libcephfs/test.cc
  src/tools/cephfs_mirror/PeerReplayer.cc
Labels: cephfs, needs-qa, tests, pybind, wip-yuri2-testing

#46681 Quincy: mds: clear MDCache::rejoin_*_q queues before recovering file inodes
  src/mds/MDCache.cc
Labels: cephfs, needs-qa, wip-yuri2-testing

#46697 quincy: pybind/mgr: ceph osd status crash with ZeroDivisionError
  src/pybind/mgr/status/module.py
Labels: cephfs, needs-qa, pybind, wip-yuri2-testing

#46800 quincy: client: choose auth MDS for getxattr with the Xs caps
  src/client/Client.cc
  src/client/MetaRequest.h
Labels: cephfs, needs-qa, wip-yuri2-testing

#46801 quincy: qa: wait rank 0 to become up:active state before mounting fuse client
  qa/tasks/cephfs/filesystem.py
Labels: cephfs, needs-qa, tests, wip-yuri2-testing

#46591 quincy: rbd-mirror: don't prune non-primary snapshot when restarting delta sync
  src/cls/rbd/cls_rbd_types.cc
  src/test/rbd_mirror/image_replayer/snapshot/test_mock_Replayer.cc
  src/tools/rbd_mirror/image_replayer/snapshot/Replayer.cc
Labels: bug fix, rbd, needs-qa, tests, wip-yuri-testing, quincy-batch-1

#46594 quincy: librbd: unlink newest mirror snapshot when at capacity, bump capacity
  doc/rbd/rbd-mirroring.rst
  src/common/options/rbd.yaml.in
  src/librbd/mirror/snapshot/CreatePrimaryRequest.cc
  src/test/librbd/mirror/snapshot/test_mock_CreatePrimaryRequest.cc
  src/test/librbd/test_mirroring.cc
Labels: bug fix, documentation, rbd, needs-qa, tests, common, wip-yuri-testing, quincy-batch-1

#46598 quincy: qa/suites/rbd: place cache file on tmpfs for xfstests
  qa/suites/rbd/persistent-writeback-cache/1-base
  qa/suites/rbd/persistent-writeback-cache/4-pool/big-cache.yaml
  qa/suites/rbd/persistent-writeback-cache/4-pool/cache.yaml
  qa/suites/rbd/persistent-writeback-cache/6-workloads/c_api_tests_with_defaults.yaml
  qa/suites/rbd/pwl-cache/.qa
  qa/suites/rbd/pwl-cache/home/%
  qa/suites/rbd/pwl-cache/home/.qa
  qa/suites/rbd/pwl-cache/home/1-base
  qa/suites/rbd/pwl-cache/home/2-cluster/+
  qa/suites/rbd/pwl-cache/home/2-cluster/.qa
  qa/suites/rbd/pwl-cache/home/2-cluster/fix-2.yaml
  qa/suites/rbd/pwl-cache/home/2-cluster/openstack.yaml
  qa/suites/rbd/pwl-cache/home/3-supported-random-distro$
  qa/suites/rbd/pwl-cache/home/4-cache-path.yaml
  qa/suites/rbd/pwl-cache/home/5-cache-mode/.qa
  qa/suites/rbd/pwl-cache/home/5-cache-mode/rwl.yaml
  qa/suites/rbd/pwl-cache/home/5-cache-mode/ssd.yaml
  qa/suites/rbd/pwl-cache/home/6-cache-size/.qa
  qa/suites/rbd/pwl-cache/home/6-cache-size/1G.yaml
  qa/suites/rbd/pwl-cache/home/6-cache-size/8G.yaml
  qa/suites/rbd/pwl-cache/home/7-workloads/.qa
  qa/suites/rbd/pwl-cache/home/7-workloads/c_api_tests_with_defaults.yaml
  qa/suites/rbd/pwl-cache/home/7-workloads/fio.yaml
  qa/suites/rbd/pwl-cache/home/7-workloads/recovery.yaml
  qa/suites/rbd/pwl-cache/tmpfs/%
  qa/suites/rbd/pwl-cache/tmpfs/.qa
  qa/suites/rbd/pwl-cache/tmpfs/1-base
  qa/suites/rbd/pwl-cache/tmpfs/2-cluster/+
  qa/suites/rbd/pwl-cache/tmpfs/2-cluster/.qa
  qa/suites/rbd/pwl-cache/tmpfs/2-cluster/fix-2.yaml
  qa/suites/rbd/pwl-cache/tmpfs/2-cluster/openstack.yaml
  qa/suites/rbd/pwl-cache/tmpfs/3-supported-random-distro$
  qa/suites/rbd/pwl-cache/tmpfs/4-cache-path.yaml
  qa/suites/rbd/pwl-cache/tmpfs/5-cache-mode/.qa
  qa/suites/rbd/pwl-cache/tmpfs/5-cache-mode/rwl.yaml
  qa/suites/rbd/pwl-cache/tmpfs/5-cache-mode/ssd.yaml
  qa/suites/rbd/pwl-cache/tmpfs/6-cache-size/.qa
  qa/suites/rbd/pwl-cache/tmpfs/6-cache-size/1G.yaml
  qa/suites/rbd/pwl-cache/tmpfs/6-cache-size/5G.yaml
  qa/suites/rbd/pwl-cache/tmpfs/7-workloads/.qa
  qa/suites/rbd/pwl-cache/tmpfs/7-workloads/qemu_xfstests.yaml
Labels: rbd, needs-qa, tests, wip-yuri-testing, quincy-batch-1

#46781 quincy: mirror snapshot schedule and trash purge schedule fixes
  qa/workunits/rbd/cli_generic.sh
  src/pybind/mgr/rbd_support/mirror_snapshot_schedule.py
  src/pybind/mgr/rbd_support/trash_purge_schedule.py
Labels: bug fix, rbd, needs-qa, tests, pybind, wip-yuri-testing, quincy-batch-1

#46625 quincy: rgw: reopen ops log file on sighup
  src/rgw/rgw_log.cc
  src/rgw/rgw_log.h
  src/rgw/rgw_main.cc
Labels: rgw, needs-qa, wip-yuri-testing

#46814 quincy: rbd-mirror: generally skip replay/resync if remote image is not primary
  src/test/rbd_mirror/image_replayer/journal/test_mock_PrepareReplayRequest.cc
  src/test/rbd_mirror/image_replayer/test_mock_BootstrapRequest.cc
  src/tools/rbd_mirror/ImageReplayer.cc
  src/tools/rbd_mirror/image_replayer/BootstrapRequest.cc
  src/tools/rbd_mirror/image_replayer/PrepareRemoteImageRequest.cc
  src/tools/rbd_mirror/image_replayer/StateBuilder.cc
  src/tools/rbd_mirror/image_replayer/StateBuilder.h
  src/tools/rbd_mirror/image_replayer/journal/PrepareReplayRequest.cc
  src/tools/rbd_mirror/image_replayer/journal/PrepareReplayRequest.h
  src/tools/rbd_mirror/image_replayer/journal/StateBuilder.cc
  src/tools/rbd_mirror/image_replayer/snapshot/PrepareReplayRequest.h
  src/tools/rbd_mirror/image_replayer/snapshot/StateBuilder.cc
Labels: bug fix, rbd, needs-qa, tests, wip-yuri-testing, quincy-batch-1

#46954 quincy: rbd-fuse: librados will filter out -r option from command-line
  src/rbd_fuse/rbd-fuse.cc
Labels: bug fix, rbd, needs-qa, wip-yuri-testing, quincy-batch-1

#47115 ceph.spec.in: fix path for mib file and properly mark in %files
  ceph.spec.in
Labels: bug fix, build/ops

#47052 .github/labeler.yml: add core label to some tools
  .github/labeler.yml
Labels: CI

#47109 doc/start: update hardware recs
  doc/start/hardware-recommendations.rst
Labels: documentation
