Repository ceph/ceph, pull requests merged in 2022-10, with the labels that each got.

#48322 doc/rados: rewrite EC intro
  doc/rados/operations/erasure-code.rst
Labels: documentation, core

#48324 pacific: doc/rados: rewrite EC intro
  doc/rados/operations/erasure-code.rst
Labels: documentation, core

#48323 quincy: doc/rados: rewrite EC intro
  doc/rados/operations/erasure-code.rst
Labels: documentation, core

#48303 librbd: remove unnecessary write in compare-and-write test
  src/test/librbd/test_librbd.cc
Labels: rbd, tests, wip-dis-testing

#48332 doc/rados: fix prompts in erasure-code.rst
  doc/rados/operations/erasure-code.rst
Labels: documentation, core

#48334 quincy: doc/rados: fix prompts in erasure-code.rst
  doc/rados/operations/erasure-code.rst
Labels: documentation, core

#48335 pacific: doc/rados: fix prompts in erasure-code.rst
  doc/rados/operations/erasure-code.rst
Labels: documentation, core

#48333 doc/glossary.rst: alphabetize glossary terms
  doc/glossary.rst
Labels: documentation

#48338 quincy: doc/glossary.rst: alphabetize glossary terms
  doc/glossary.rst
Labels: documentation

#48339 pacific: doc/glossary.rst: alphabetize glossary terms
  doc/glossary.rst
Labels: documentation

#47795 mds: check for some dentry damage in scrub
  src/mds/CDentry.cc
  src/mds/CDentry.h
  src/mds/CDir.cc
  src/mds/CDir.h
  src/mds/ScrubStack.cc
  src/mds/SnapRealm.cc
Labels: cephfs, wip-pdonnell-testing2

#48179 qa: use correct recovery procedure for alternate meta pools
  doc/cephfs/disaster-recovery-experts.rst
  qa/tasks/cephfs/cephfs_test_case.py
  qa/tasks/cephfs/filesystem.py
  qa/tasks/cephfs/test_recovery_pool.py
  src/tools/cephfs/DataScan.cc
Labels: documentation, cephfs, tests, wip-pdonnell-testing2

#48292 doc: Fix disaster recovery doc
  doc/cephfs/disaster-recovery-experts.rst
Labels: documentation, cephfs

#47186 rgw: log deletion status of individual objects in multi object delete request
  src/rgw/librgw.cc
  src/rgw/rgw_lib.cc
  src/rgw/rgw_log.cc
  src/rgw/rgw_log.h
  src/rgw/rgw_lua_request.cc
  src/rgw/rgw_lua_request.h
  src/rgw/rgw_op.cc
  src/rgw/rgw_op.h
  src/rgw/rgw_process.cc
  src/rgw/rgw_rest_s3.cc
  src/test/rgw/test_rgw_lua.cc
Labels: rgw, needs-qa, tests, wip-cbodley-testing

#48155 rgw: async refcount operate in copy_obj
  doc/radosgw/config-ref.rst
  src/common/options/rgw.yaml.in
  src/rgw/rgw_rados.cc
Labels: documentation, rgw, tests, common, build/ops

#46284 mgr/cephadm: Deploying a cluster with the Vagrantfile fails
  src/pybind/mgr/cephadm/Vagrantfile
Labels: bug fix, pybind, orchestrator, cephadm

#47340 mon/OSDMonitor: Added extra check before mon.go_recovery_stretch_mode()
  qa/standalone/mon/mon-stretched-cluster.sh
  src/mon/Monitor.cc
  src/mon/OSDMonitor.cc
Labels: core, needs-qa, wip-yuri2-testing, mon

#48150 osd: break multi condition asserts into multiple asserts
  src/osd/ECBackend.cc
Labels: core, needs-qa, wip-yuri2-testing, open-source-day-2022

#48152 mgr/telemetry: fixed log exceptions as "exception" instead of "error"
  src/pybind/mgr/telemetry/module.py
Labels: needs-qa, pybind, wip-yuri2-testing, telemetry, open-source-day-2022

#48041 rgw: rados service shuts down rados client on shutdown()
  src/rgw/rgw_service.cc
  src/rgw/services/svc_rados.cc
Labels: bug fix, rgw

#48218 qa: wait for scrub to finish
  qa/tasks/cephfs/test_scrub_checks.py
Labels: cephfs, tests, wip-vshankar-testing

#48357 quincy: doc/glossary.rst: remove duplicates
  doc/architecture.rst
  doc/glossary.rst
  doc/rados/api/index.rst
Labels: documentation, core

#48346 doc/glossary.rst: remove duplicates
  doc/architecture.rst
  doc/glossary.rst
  doc/rados/api/index.rst
Labels: documentation, core

#46037 blk/kernel: add plugin system for devices with compression and move VDO support into plugin
  ceph.spec.in
  debian/ceph-base.install
  debian/control
  src/CMakeLists.txt
  src/blk/BlockDevice.h
  src/blk/CMakeLists.txt
  src/blk/kernel/KernelDevice.cc
  src/blk/kernel/KernelDevice.h
  src/ceph_osd.cc
  src/common/blkdev.cc
  src/common/blkdev.h
  src/common/options/osd.yaml.in
  src/common/win32/blkdev.cc
  src/extblkdev/CMakeLists.txt
  src/extblkdev/ExtBlkDevInterface.h
  src/extblkdev/ExtBlkDevPlugin.cc
  src/extblkdev/ExtBlkDevPlugin.h
  src/extblkdev/vdo/CMakeLists.txt
  src/extblkdev/vdo/ExtBlkDevPluginVdo.cc
  src/extblkdev/vdo/ExtBlkDevPluginVdo.h
  src/extblkdev/vdo/ExtBlkDevVdo.cc
  src/extblkdev/vdo/ExtBlkDevVdo.h
  src/global/global_init.cc
  src/os/bluestore/BlueStore.cc
  src/os/filestore/FileStore.cc
  src/os/filestore/FileStore.h
Labels: core, needs-qa, common, build/ops, bluestore, wip-yuri7-testing

#48048 pacific: mgr/dashboard: fix snapshot creation with duplicate name
  src/pybind/mgr/dashboard/controllers/cephfs.py
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cephfs/cephfs-directories/cephfs-directories.component.ts
Labels: pybind, dashboard, backport: no-conflicts

#48085 doc/rados: update prompts in crush-map-edits.rst
  doc/rados/operations/crush-map-edits.rst
Labels: documentation, core

#48364 pacific: doc/rados: update prompts in crush-map-edits.rst
  doc/rados/operations/crush-map-edits.rst
Labels: documentation, core

#48343 quincy: doc: Fix disaster recovery doc
  doc/cephfs/disaster-recovery-experts.rst
Labels: documentation, cephfs, needs-qa

#48362 doc/rados: refine English in crush-map-edits.rst
  doc/rados/operations/crush-map-edits.rst
Labels: documentation, core

#48366 pacific: doc/rados: refine English in crush-map-edits.rst
  doc/rados/operations/crush-map-edits.rst
Labels: documentation, core

#44564 doc/mgr: name data source in "Man Install & Config"
  doc/mgr/dashboard.rst
Labels: documentation, mgr, dashboard

#48370 quincy: doc/mgr: name data source in "Man Install & Config"
  doc/mgr/dashboard.rst
Labels: documentation, mgr, dashboard

#48371 pacific: doc/mgr: name data source in "Man Install & Config"
  doc/mgr/dashboard.rst
Labels: documentation, mgr, dashboard

#48289 Clang and GCC Warnings
  src/mds/cephfs_features.cc
  src/mon/Elector.cc
  src/rgw/cls_fifo_legacy.cc
  src/rgw/rgw_keystone.h
  src/rgw/rgw_quota.cc
  src/rgw/rgw_rest_swift.cc
  src/rgw/services/svc_bi_rados.cc
  src/test/erasure-code/TestErasureCodeShec_arguments.cc
  src/test/librados/aio_cxx.cc
  src/test/perf_local.cc
Labels: core, rgw, cephfs, needs-qa, tests, mon

#48195 crimson/osd: populate version/user_version in reply for duplicate ops
  src/crimson/osd/osd_operations/client_request.cc
  src/crimson/osd/pg.cc
  src/crimson/osd/pg.h
Labels: crimson

#48352 crimson: allow pg creation to be canceled if pool is removed
  src/crimson/common/errorator.h
  src/crimson/osd/pg_map.cc
  src/crimson/osd/pg_map.h
  src/crimson/osd/pg_shard_manager.h
  src/crimson/osd/shard_services.cc
  src/crimson/osd/shard_services.h
Labels: crimson

#48353 crimson: improve dump_ops_in_flight
  src/crimson/admin/osd_admin.cc
  src/crimson/common/operation.cc
  src/crimson/common/operation.h
  src/crimson/osd/osd.cc
  src/crimson/osd/osd.h
  src/crimson/osd/osd_operation.cc
  src/crimson/osd/osd_operation.h
  src/crimson/osd/osd_operations/peering_event.cc
  src/crimson/osd/osd_operations/peering_event.h
  src/crimson/osd/pg_shard_manager.h
  src/crimson/osd/shard_services.cc
  src/crimson/osd/shard_services.h
Labels: crimson

#46925 mgr/cephadm: add a simple mechanism to check grafana cert/key
  src/pybind/mgr/cephadm/serve.py
  src/pybind/mgr/cephadm/services/monitoring.py
  src/pybind/mgr/cephadm/tests/test_services.py
  src/pybind/mgr/mgr_util.py
  src/pybind/mgr/tests/test_tls.py
Labels: needs-qa, pybind, mgr, monitoring, cephadm, wip-adk-testing

#48379 doc/install: clone-source.rst s/master/main
  doc/install/clone-source.rst
Labels: documentation

#48319 doc: discuss the standard multi-tenant CephFS security model
  doc/cephfs/client-auth.rst
Labels: documentation, cephfs

#48381 pacific: doc/install: clone-source.rst s/master/main
  doc/install/clone-source.rst
Labels: documentation

#47721 pacific: mgr/dashboard: grafana frontend e2e testing and update cypress
  src/pybind/mgr/dashboard/ci/cephadm/bootstrap-cluster.sh
  src/pybind/mgr/dashboard/ci/cephadm/run-cephadm-e2e-tests.sh
  src/pybind/mgr/dashboard/controllers/prometheus.py
  src/pybind/mgr/dashboard/frontend/cypress/integration/cluster/mgr-modules.po.ts
  src/pybind/mgr/dashboard/frontend/cypress/integration/common/01-global.feature.po.ts
  src/pybind/mgr/dashboard/frontend/cypress/integration/common/grafana.feature.po.ts
  src/pybind/mgr/dashboard/frontend/cypress/integration/common/urls.po.ts
  src/pybind/mgr/dashboard/frontend/cypress/integration/orchestrator/grafana/grafana.feature
  src/pybind/mgr/dashboard/frontend/cypress/integration/orchestrator/workflow/06-cluster-check.e2e-spec.ts
  src/pybind/mgr/dashboard/frontend/cypress/integration/orchestrator/workflow/08-hosts.e2e-spec.ts
  src/pybind/mgr/dashboard/frontend/cypress/plugins/index.js
  src/pybind/mgr/dashboard/frontend/cypress/support/commands.ts
  src/pybind/mgr/dashboard/frontend/package-lock.json
  src/pybind/mgr/dashboard/frontend/package.json
  src/pybind/mgr/dashboard/frontend/tsconfig.json
Labels: pybind, dashboard

#48380 quincy: doc/install: clone-source.rst s/master/main
  doc/install/clone-source.rst
Labels: documentation

#47731 python-common/ceph/deployment: filter drives by actuators when creating osds
  src/ceph-volume/ceph_volume/util/disk.py
  src/python-common/ceph/deployment/drive_group.py
  src/python-common/ceph/deployment/drive_selection/filter.py
Labels: pybind, ceph-volume, cephadm, wip-adk-testing

#48372 qa/tasks/rbd_fio: bump default to fio 3.32
  qa/tasks/rbd_fio.py
Labels: rbd, tests, wip-dis-testing

#47903 mgr/cephadm: reconfig prometheus when service-discovery port changes
  src/pybind/mgr/cephadm/agent.py
  src/pybind/mgr/cephadm/http_server.py
  src/pybind/mgr/cephadm/module.py
  src/pybind/mgr/cephadm/serve.py
  src/pybind/mgr/cephadm/service_discovery.py
  src/pybind/mgr/cephadm/services/cephadmservice.py
  src/pybind/mgr/cephadm/services/monitoring.py
  src/pybind/mgr/cephadm/ssl_cert_utils.py
  src/pybind/mgr/cephadm/tests/test_service_discovery.py
  src/pybind/mgr/mgr_module.py
  src/pybind/mgr/mgr_util.py
Labels: pybind, mgr, monitoring, cephadm, wip-adk-testing

#48285 qa/cephadm: do not start upgrades from Octopus
  qa/suites/fs/upgrade/mds_upgrade_sequence/tasks/5-upgrade-with-workload.yaml
  qa/suites/orch/cephadm/mgr-nfs-upgrade/1-bootstrap/16.2.0.yaml
  qa/suites/orch/cephadm/mgr-nfs-upgrade/3-upgrade-with-workload.yaml
  qa/suites/orch/cephadm/upgrade/1-start-distro/1-start-centos_8.stream_container-tools.yaml
  qa/suites/orch/cephadm/upgrade/1-start-distro/1-start-ubuntu_20.04-15.2.9.yaml
  qa/suites/orch/cephadm/upgrade/1-start-distro/1-start-ubuntu_20.04.yaml
  qa/suites/orch/cephadm/upgrade/4-wait.yaml
Labels: cephfs, cephadm, wip-adk-testing

#48301 librbd: add compare-and-write vector C API
  PendingReleaseNotes
  src/include/rbd/librbd.h
  src/librbd/librbd.cc
  src/test/librbd/test_librbd.cc
Labels: feature, documentation, rbd, tests, wip-dis-testing

#48112 pacific: pybind/rados: notify callback reconnect
  src/test/pybind/test_rados.py
Labels: needs-qa, tests, pybind, wip-yuri5-testing

#48142 pacific: mgr/dashboard: fix Expected to find element: `cd-modal .badge but never found it
  src/pybind/mgr/dashboard/frontend/cypress/integration/cluster/hosts.po.ts
Labels: needs-qa, pybind, wip-yuri5-testing, dashboard

#48165 pacific: qa: ignore disk quota exceeded failure in test
  qa/tasks/cephfs/test_volumes.py
Labels: needs-qa, tests, wip-yuri5-testing, pacific-batch-1

#47820 quincy: cephfs-top, mgr/stats: multiple file system support with UI
  doc/cephfs/cephfs-top.png
  doc/cephfs/cephfs-top.rst
  qa/tasks/cephfs/test_mds_metrics.py
  src/pybind/mgr/stats/fs/perf_stats.py
  src/tools/cephfs/top/cephfs-top
Labels: documentation, cephfs, needs-qa, tests, pybind, TESTED, ready-to-merge, quincy-batch-1

#47926 quincy: osd: add scrub duration for scrubs after recovery
  src/osd/scrubber/scrub_machine.cc
  src/osd/scrubber/scrub_machine.h
Labels: core, needs-qa, TESTED, ready-to-merge

#47928 quincy: Monitor: forward report command to leader
  src/mon/Monitor.cc
Labels: core, needs-qa, mon, TESTED, ready-to-merge

#47933 quincy: common/ceph_context: leak some memory fail to show in valgrind
  src/common/ceph_context.cc
Labels: core, needs-qa, common, TESTED, ready-to-merge

#47983 quincy: osd: Implement Context based completion for mon cmd to set a config option
  src/osd/OSD.cc
  src/osd/OSD.h
Labels: core, needs-qa, TESTED, ready-to-merge

#48039 quincy: osd: remove invalid put on message
  src/osd/PGBackend.cc
  src/osd/PrimaryLogPG.h
Labels: core, needs-qa, TESTED, ready-to-merge

#48113 quincy: pybind/rados: notify callback reconnect
  src/test/pybind/test_rados.py
Labels: needs-qa, tests, pybind, TESTED, ready-to-merge

#48031 pacific: test: bump DecayCounter.steady acceptable error
  src/test/common/test_counter.cc
Labels: needs-qa, tests, common, TESTED, ready-to-merge, pacific-batch-1

#48164 quincy: qa: ignore disk quota exceeded failure in test
  qa/tasks/cephfs/test_volumes.py
Labels: cephfs, needs-qa, tests, TESTED, ready-to-merge

#47934 mgr/nfs: add sectype option
  doc/mgr/nfs.rst
  src/pybind/mgr/nfs/export.py
  src/pybind/mgr/nfs/ganesha_conf.py
  src/pybind/mgr/nfs/module.py
  src/pybind/mgr/nfs/tests/test_nfs.py
Labels: documentation, pybind, mgr, nfs, wip-adk-testing

#48351 crimson/osd/replicated_backend: block _submit_transaction on sending the messages
  src/crimson/osd/replicated_backend.cc
Labels: crimson

#48277 crimson/net: fix msgr tools and test helpers
  src/crimson/net/Messenger.h
  src/crimson/osd/main.cc
  src/crimson/tools/CMakeLists.txt
  src/crimson/tools/perf_async_msgr.cc
  src/crimson/tools/perf_crimson_msgr.cc
  src/crimson/tools/perf_staged_fltree.cc
  src/test/crimson/test_alien_echo.cc
  src/test/crimson/test_messenger.cc
  src/test/crimson/test_messenger_peer.cc
  src/test/crimson/test_monc.cc
  src/tools/CMakeLists.txt
  src/tools/crimson/CMakeLists.txt
Labels: tests, build/ops, crimson

#48275 crimson/qa: add rados_api_tests.yaml for seastore
  qa/suites/crimson-rados/seastore/basic/tasks/rados_api_tests.yaml
Labels: crimson

#48392 pacific: docs/start: fixes typo and empty headline in hardware recommendation …
  doc/start/hardware-recommendations.rst
Labels: documentation

#48128 common: intrusive_lru destructor add
  src/common/intrusive_lru.h
  src/test/common/test_intrusive_lru.cc
Labels: rgw, needs-qa, tests, common, crimson

#48374 doc/cephadm: fixing grafana cert/key generation documentation
  doc/cephadm/services/monitoring.rst
Labels: documentation, cephadm

#48073 crimson/osd: bring the dump_recovery_reservations asok cmd
  src/crimson/admin/osd_admin.cc
  src/crimson/admin/osd_admin.h
  src/crimson/osd/osd.cc
  src/crimson/osd/shard_services.h
Labels: feature, crimson

#48393 crimson: drop OmapIterator, use omap_get_values() instead
  src/crimson/os/alienstore/alien_store.cc
  src/crimson/os/alienstore/alien_store.h
  src/crimson/os/cyanstore/cyan_store.cc
  src/crimson/os/cyanstore/cyan_store.h
  src/crimson/os/futurized_store.h
  src/crimson/os/seastore/seastore.cc
  src/crimson/os/seastore/seastore.h
  src/crimson/osd/replicated_recovery_backend.cc
  src/crimson/osd/replicated_recovery_backend.h
  src/osd/PGLog.cc
  src/test/crimson/seastore/test_seastore.cc
Labels: cleanup, core, tests, crimson

#48399 doc/radosgw: Fixes spelling errors in vault.rst
  doc/radosgw/vault.rst
Labels: documentation

#48401 doc/various: update link to CRUSH pdf
  doc/architecture.rst
  doc/rados/operations/crush-map-edits.rst
  doc/rados/operations/crush-map.rst
Labels: documentation, core

#48402 quincy: doc/various: update link to CRUSH pdf
  doc/architecture.rst
  doc/rados/operations/crush-map-edits.rst
  doc/rados/operations/crush-map.rst
Labels: documentation, core

#48403 pacific: doc/various: update link to CRUSH pdf
  doc/architecture.rst
  doc/rados/operations/crush-map-edits.rst
  doc/rados/operations/crush-map.rst
Labels: documentation, core

#48238 rgw: fix rabbitmq version checking for AMQP_STATUS_SSL_SET_ENGINE_FAILED
  src/rgw/rgw_amqp.cc
Labels: rgw

#48331 crimson/osd: shutdown on osdmaps' demand
  src/crimson/osd/main.cc
  src/crimson/osd/osd.cc
  src/crimson/osd/osd.h
  src/crimson/osd/stop_signal.h
Labels: crimson

#47440 mgr/dashboard: Start of status card
  src/pybind/mgr/dashboard/frontend/src/app/ceph/new-dashboard/card/card.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/new-dashboard/dashboard.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/new-dashboard/dashboard/dashboard.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/new-dashboard/dashboard/dashboard.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/ceph/new-dashboard/dashboard/dashboard.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/new-dashboard/dashboard/dashboard.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/enum/health-icon.enum.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/enum/icons.enum.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/models/prometheus-alerts.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/pipes/health-icon.pipe.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/pipes/health-icon.pipe.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/pipes/pipes.module.ts
Labels: pybind, dashboard

#48205 pacific: mgr/prometheus: expose num objects repaired in pool
  src/pybind/mgr/prometheus/module.py
Labels: dashboard, monitoring

#46772 doc/dev/radosgw: start describing the bucket index
  doc/dev/radosgw/bucket_index.rst
  doc/dev/radosgw/index.rst
Labels: documentation, rgw

#48337 tools/cephfs: convert first-damage.sh to python
  qa/workunits/fs/damage/test-first-damage.sh
  src/tools/cephfs/first-damage.py
  src/tools/cephfs/first-damage.sh
Labels: cephfs, tests

#48396 mgr/dashboard: fix broken login links
  src/pybind/mgr/dashboard/frontend/src/app/shared/services/doc.service.ts
Labels: pybind, dashboard

#48423 doc/releases: improve grammar in pacific.rst
  doc/releases/pacific.rst
Labels: documentation

#48426 pacific: doc/releases: improve grammar in pacific.rst
  doc/releases/pacific.rst
Labels: documentation

#48182 qa: make mount to be compatible with nautilus for blocklist
  qa/tasks/cephfs/mount.py
Labels: cephfs, tests, wip-rishabh-testing

#48161 cephfs-data-scan: make scan_links more verbose
  src/tools/cephfs/DataScan.cc
Labels: cephfs, tools, wip-rishabh-testing

#48064 qa: the default CEPH_ASOK_DIR is asok/ now
  qa/tasks/vstart_runner.py
Labels: tests, wip-rishabh-testing

#47754 qa: cleanup volumes on unwind
  qa/suites/fs/mirror-ha/workloads/cephfs-mirror-ha-workunit.yaml
Labels: cephfs, wip-rishabh-testing

#48349 crimson/osd: introduce debug to ClientRequest::reply_op_error()
  src/crimson/osd/osd_operations/client_request.cc
Labels: crimson

#48308 crimson/os/seastore: introduce (64-8)-bit signed device_off_t and 32-bit signed segment_off_t
  src/crimson/os/seastore/async_cleaner.cc
  src/crimson/os/seastore/async_cleaner.h
  src/crimson/os/seastore/backref/btree_backref_manager.cc
  src/crimson/os/seastore/btree/fixed_kv_btree.h
  src/crimson/os/seastore/cache.cc
  src/crimson/os/seastore/cache.h
  src/crimson/os/seastore/cached_extent.h
  src/crimson/os/seastore/collection_manager/flat_collection_manager.cc
  src/crimson/os/seastore/device.h
  src/crimson/os/seastore/extent_placement_manager.h
  src/crimson/os/seastore/journal/circular_bounded_journal.cc
  src/crimson/os/seastore/journal/circular_bounded_journal.h
  src/crimson/os/seastore/journal/segment_allocator.cc
  src/crimson/os/seastore/journal/segment_allocator.h
  src/crimson/os/seastore/lba_manager.h
  src/crimson/os/seastore/lba_manager/btree/btree_lba_manager.cc
  src/crimson/os/seastore/lba_manager/btree/btree_lba_manager.h
  src/crimson/os/seastore/random_block_manager.h
  src/crimson/os/seastore/random_block_manager/block_rb_manager.h
  src/crimson/os/seastore/random_block_manager/rbm_device.h
  src/crimson/os/seastore/root_block.h
  src/crimson/os/seastore/seastore_types.cc
  src/crimson/os/seastore/seastore_types.h
  src/crimson/os/seastore/segment_manager.h
  src/crimson/os/seastore/segment_manager/block.cc
  src/crimson/os/seastore/segment_manager/block.h
  src/crimson/os/seastore/segment_manager/ephemeral.cc
  src/crimson/os/seastore/segment_manager/ephemeral.h
  src/crimson/os/seastore/segment_manager/zns.cc
  src/crimson/os/seastore/segment_manager/zns.h
  src/crimson/os/seastore/segment_manager_group.cc
  src/crimson/os/seastore/segment_manager_group.h
  src/crimson/os/seastore/transaction.h
  src/crimson/os/seastore/transaction_manager.cc
  src/crimson/os/seastore/transaction_manager.h
  src/crimson/tools/store_nbd/tm_driver.cc
  src/test/crimson/seastore/test_block.h
  src/test/crimson/seastore/test_btree_lba_manager.cc
  src/test/crimson/seastore/test_seastore_cache.cc
  src/test/crimson/seastore/test_seastore_journal.cc
  src/test/crimson/seastore/transaction_manager_test_state.h
Labels: tests, crimson

#48350 crimson/.../replicated_request,logmissing_request: retain reference to req
  src/crimson/osd/osd_operations/logmissing_request.cc
  src/crimson/osd/osd_operations/replicated_request.cc
Labels: crimson

#47982 ceph-dencoder: Add global to denc-mod-osd's target_link_libraries
  src/tools/ceph-dencoder/CMakeLists.txt
Labels: bug fix, build/ops

#47812 qa/cephfs: handle non-numeric values for json.loads()
  qa/tasks/cephfs/filesystem.py
Labels: bug fix, cephfs, tests, wip-rishabh-testing

#48163 mgr/dashboard: refactor dashboard cephadm e2e tests
  src/pybind/mgr/dashboard/ci/cephadm/run-cephadm-e2e-tests.sh
  src/pybind/mgr/dashboard/ci/cephadm/start-cluster.sh
  src/pybind/mgr/dashboard/frontend/cypress/integration/block/mirroring.po.ts
  src/pybind/mgr/dashboard/frontend/cypress/integration/cluster/hosts.po.ts
  src/pybind/mgr/dashboard/frontend/cypress/integration/cluster/services.po.ts
  src/pybind/mgr/dashboard/frontend/cypress/integration/common/01-global.feature.po.ts
  src/pybind/mgr/dashboard/frontend/cypress/integration/orchestrator/workflow/02-create-cluster-add-host.feature
  src/pybind/mgr/dashboard/frontend/cypress/integration/orchestrator/workflow/03-create-cluster-create-services.e2e-spec.ts
  src/pybind/mgr/dashboard/frontend/cypress/integration/orchestrator/workflow/04-create-cluster-create-osds.e2e-spec.ts
  src/pybind/mgr/dashboard/frontend/cypress/integration/orchestrator/workflow/06-cluster-check.e2e-spec.ts
  src/pybind/mgr/dashboard/frontend/cypress/integration/orchestrator/workflow/08-hosts.e2e-spec.ts
  src/pybind/mgr/dashboard/frontend/cypress/integration/orchestrator/workflow/09-services.e2e-spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/services/service-daemon-list/service-daemon-list.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/datatable/table/table.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/datatable/table/table.component.ts
Labels: pybind, dashboard, TESTED

#48141 quincy: mgr/dashboard: fix Expected to find element: `cd-modal .badge but never found it
  src/pybind/mgr/dashboard/frontend/cypress/integration/cluster/hosts.po.ts
Labels: needs-qa, pybind, dashboard, TESTED, ready-to-merge

#47960 pacific: mgr/dashboard: fix nfs exports form issues with squash field
  src/pybind/mgr/dashboard/frontend/src/app/ceph/nfs/nfs-form-client/nfs-form-client.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/nfs/nfs-form/nfs-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/nfs/nfs-form/nfs-form.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/nfs/nfs-form/nfs-form.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/nfs.service.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/pipes/ceph-release-name.pipe.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/pipes/ceph-release-name.pipe.ts
Labels: pybind, dashboard

#48418 cmake: do not link ceph-dencoder against global
  src/tools/ceph-dencoder/CMakeLists.txt
Labels: build/ops

#48429 doc/security: improve grammar in CVE-2022-0670.rst
  doc/security/CVE-2022-0670.rst
Labels: documentation

#48407 mgr/dashboard: fix weird data in osd details
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/osd/osd-details/osd-details.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/shared/device-list/device-list.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/shared/device-list/device-list.component.ts
Labels: pybind, dashboard

#46331 mds: wait unlink to finish to avoid conflict when creating same dentries
  src/mds/CDentry.h
  src/mds/MDCache.cc
  src/mds/MDCache.h
  src/mds/Server.cc
  src/mds/Server.h
  src/messages/MDentryUnlink.h
  src/msg/Message.cc
  src/msg/Message.h
Labels: core, cephfs, tests, build/ops, wip-rishabh-testing

#47495 mgr/dashboard: add server side encryption to rgw/s3
  src/pybind/mgr/dashboard/controllers/rgw.py
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/models/rgw-bucket-encryption.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-bucket-details/rgw-bucket-details.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-bucket-form/rgw-bucket-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-bucket-form/rgw-bucket-form.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-config-modal/rgw-config-modal.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-config-modal/rgw-config-modal.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-config-modal/rgw-config-modal.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-config-modal/rgw-config-modal.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/rgw-bucket.service.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/rgw-bucket.service.ts
  src/pybind/mgr/dashboard/openapi.yaml
  src/pybind/mgr/dashboard/services/ceph_service.py
  src/pybind/mgr/dashboard/services/rgw_client.py
  src/pybind/mgr/mgr_util.py
Labels: pybind, mgr, dashboard, api-change

#48415 mgr/prometheus: change pg_repaired_objects name to pool_repaired_objects
  src/pybind/mgr/prometheus/module.py
Labels: pybind, dashboard, monitoring

#48412 mgr/dashboard: Unable to change rgw subuser permission
  qa/tasks/mgr/dashboard/test_rgw.py
  src/pybind/mgr/dashboard/controllers/rgw.py
Labels: bug fix, tests, pybind, dashboard

#45395 rgw/auth: Add service token support for Keystone auth
  doc/radosgw/config-ref.rst
  doc/radosgw/keystone.rst
  qa/suites/rgw/service-token/%
  qa/suites/rgw/service-token/.qa
  qa/suites/rgw/service-token/clusters/.qa
  qa/suites/rgw/service-token/clusters/fixed-1.yaml
  qa/suites/rgw/service-token/frontend
  qa/suites/rgw/service-token/overrides.yaml
  qa/suites/rgw/service-token/tasks/.qa
  qa/suites/rgw/service-token/tasks/service-token.yaml
  qa/suites/rgw/service-token/ubuntu_latest.yaml
  qa/workunits/rgw/keystone-fake-server.py
  qa/workunits/rgw/keystone-service-token.sh
  qa/workunits/rgw/test-keystone-service-token.py
  src/common/options/rgw.yaml.in
  src/rgw/rgw_auth_keystone.cc
  src/rgw/rgw_auth_keystone.h
  src/rgw/rgw_keystone.cc
  src/rgw/rgw_keystone.h
  src/rgw/rgw_swift_auth.h
Labels: feature, documentation, core, rgw, tests, common

#48367 rbd: device map/unmap --namespace handling fixes
  PendingReleaseNotes
  qa/workunits/rbd/rbd-nbd.sh
  src/test/cli/rbd/help.t
  src/tools/rbd/Utils.cc
  src/tools/rbd/Utils.h
  src/tools/rbd/action/Device.cc
  src/tools/rbd/action/Ggate.cc
  src/tools/rbd/action/Nbd.cc
  src/tools/rbd/action/Wnbd.cc
Labels: bug fix, documentation, rbd, tests, win32, wip-dis-testing

#48434 quincy: cephadm: run tests as root
  src/cephadm/tests/fixtures.py
  src/cephadm/tests/test_cephadm.py
  src/cephadm/tox.ini
Labels: cephadm

#48438 quincy: mgr/prometheus: change pg_repaired_objects name to pool_repaired_objects
  src/pybind/mgr/prometheus/module.py
Labels: pybind, monitoring

#48196 mgr/volumes: Add human-readable flag to volume info command
  doc/cephfs/fs-volumes.rst
  qa/tasks/cephfs/test_volumes.py
  src/pybind/mgr/volumes/fs/volume.py
  src/pybind/mgr/volumes/module.py
Labels: documentation, cephfs, tests, pybind, wip-vshankar-testing

#48431 pacific: doc/security: improve grammar in CVE-2022-0670.rst
  doc/security/CVE-2022-0670.rst
Labels: documentation

#48433 quincy: mgr/dashboard: fix weird data in osd details
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/osd/osd-details/osd-details.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/shared/device-list/device-list.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/shared/device-list/device-list.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/cd-label/cd-label.component.html
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/cd-label/cd-label.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/cd-label/cd-label.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/cd-label/cd-label.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/cd-label/color-class-from-text.pipe.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/components.module.ts
  src/pybind/mgr/dashboard/frontend/src/styles.scss
  src/pybind/mgr/dashboard/frontend/src/styles/defaults/_bootstrap-defaults.scss
Labels: pybind, dashboard, backport: no-conflicts

#48446 doc/glossary: add "ceph monitor" entry
  doc/glossary.rst
  doc/rados/configuration/mon-config-ref.rst
Labels: documentation, core

#48447 quincy: doc/glossary: add "ceph monitor" entry
  doc/glossary.rst
  doc/rados/configuration/mon-config-ref.rst
Labels: documentation, core

#48448 pacific: doc/glossary: add "ceph monitor" entry
  doc/glossary.rst
  doc/rados/configuration/mon-config-ref.rst
Labels: documentation, core

#48406 qa/suites/crimson-rados: add CRIMSON_COMPAT to workunit env
  qa/config/crimson_qa_overrides.yaml
  qa/suites/crimson-rados/basic/crimson_qa_overrides.yaml
  qa/suites/crimson-rados/rbd/crimson_qa_overrides.yaml
  qa/suites/crimson-rados/seastore/basic/crimson_qa_overrides.yaml
  qa/suites/crimson-rados/thrash/crimson_qa_overrides.yaml
Labels: crimson

#48377 win32: speed up and simplify deps cloning
  win32_deps_build.sh
Labels: build/ops, win32

#48340 quincy: mgr/dashboard: Fix broken Fedora image URL
  src/pybind/mgr/dashboard/ci/cephadm/start-cluster.sh
Labels: pybind, dashboard

#44558 pacific: rgw: fix ListBucketMultiparts response with common prefixes
  src/rgw/rgw_rest_s3.cc
Labels: rgw, needs-qa, wip-yuri2-testing

#44907 pacific: rgw: check bucket shard init status in RGWRadosBILogTrimCR
  src/rgw/rgw_cr_rados.cc
  src/rgw/rgw_cr_rados.h
Labels: rgw, needs-qa, wip-yuri2-testing

#45713 pacific: rgw: data sync uses yield_spawn_window()
  src/rgw/rgw_data_sync.cc
Labels: bug fix, rgw, needs-qa, wip-yuri2-testing

#47230 pacific: RGW - Swift retarget needs bucket set on object
  src/rgw/rgw_rest_swift.cc
Labels: rgw, needs-qa, wip-yuri2-testing

#47231 pacific: rgwlc: don't incorrectly expire delete markers when !next_key_name
  src/rgw/rgw_lc.cc
Labels: rgw, needs-qa, wip-yuri2-testing

#47994 rgw/backport/pacific: Fix crashes with Sync policy APIs
  src/rgw/rgw_admin.cc
  src/rgw/rgw_sync_policy.cc
Labels: rgw, needs-qa, wip-yuri2-testing

#48313 pacific: rgw: x-amz-date change breaks certain cases of aws sig v4.
  src/rgw/rgw_auth_s3.cc
Labels: rgw, needs-qa, wip-yuri2-testing

#48348 pacific: rgw: log deletion status of individual objects in multi object delete request
  src/rgw/librgw.cc
  src/rgw/rgw_log.cc
  src/rgw/rgw_log.h
  src/rgw/rgw_lua_request.cc
  src/rgw/rgw_lua_request.h
  src/rgw/rgw_op.cc
  src/rgw/rgw_op.h
  src/rgw/rgw_process.cc
  src/rgw/rgw_rest_s3.cc
  src/test/rgw/test_rgw_lua.cc
Labels: rgw, needs-qa, tests, wip-yuri2-testing

#48229 pacific: rgw: fix bug where variable referenced after data moved out
  src/rgw/rgw_rest_s3.cc
Labels: bug fix, rgw, needs-qa, wip-yuri-testing, backport pacific

#48230 pacific: rgw: fix bool/int logic error when calling get_obj_head_ioctx
  src/rgw/rgw_rados.cc
Labels: cleanup, rgw, needs-qa, wip-yuri-testing, backport pacific

#48269 pacific: fsmap: switch to using iterator based loop
  src/mds/FSMap.h
Labels: cephfs, needs-qa, wip-yuri-testing, pacific-batch-1

#48270 pacific: mon/MDSMonitor: fix standby-replay mds being removed from MDSMap unexpectedly
  doc/cephfs/.gitignore
  doc/cephfs/mds-state-diagram.dot
  src/mds/MDSMap.cc
  src/mds/MDSMap.h
  src/mds/MDSRank.cc
  src/mds/MDSRank.h
  src/mon/MDSMonitor.cc
Labels: documentation, core, cephfs, needs-qa, wip-yuri-testing, mon, pacific-batch-1

#48328 pacific: qa: Fix test_subvolume_group_ls_filter_internal_directories
  qa/tasks/cephfs/test_volumes.py
Labels: cephfs, needs-qa, tests, wip-yuri-testing

#48220 pacific: mgr/dashboard: add option to resolve ip addr
  doc/mgr/dashboard.rst
  src/pybind/mgr/dashboard/module.py
Labels: documentation, pybind, mgr, dashboard

#48219 quincy: mgr/dashboard: add option to resolve ip addr
  doc/mgr/dashboard.rst
  src/pybind/mgr/dashboard/module.py
Labels: documentation, pybind, mgr, dashboard

#48081 pacific: pybind/mgr/dashboard: move pytest into requirements.txt
  src/pybind/mgr/dashboard/requirements-lint.txt
  src/pybind/mgr/dashboard/requirements-test.txt
  src/pybind/mgr/dashboard/requirements.txt
Labels: pybind, dashboard

#48035 pacific: monitoring/ceph-mixin: add RGW host to label info
  monitoring/ceph-mixin/dashboards/rgw.libsonnet
  monitoring/ceph-mixin/dashboards_out/radosgw-overview.json
  monitoring/ceph-mixin/jsonnetfile.lock.json
  monitoring/ceph-mixin/tests_dashboards/features/radosgw_overview.feature
  monitoring/ceph-mixin/tox.ini
Labels: core, dashboard, monitoring

#48427 mds: remove obsolete comments
  src/mds/Beacon.cc
  src/mds/MDSRank.h
Labels: cephfs, needs-review

#48463 doc/dev: add submodule-update link to dev guide
  doc/dev/developer_guide/basic-workflow.rst
  doc/install/clone-source.rst
Labels: documentation

#48464 quincy: doc/install: improve updating submodules procedure
  doc/install/clone-source.rst
Labels: documentation

#48457 test/crimson/test_messenger: add pause before marking down a connection
  src/crimson/net/SocketConnection.cc
  src/test/crimson/test_messenger.cc
Labels: tests, crimson

#48437 src/vstart.sh: correct top_cpu's value
  src/vstart.sh
Labels: crimson

#48470 pacific: cephadm: run tests as root
  src/cephadm/tests/fixtures.py
  src/cephadm/tests/test_cephadm.py
  src/cephadm/tox.ini
Labels: cephadm, skip-teuthology

#48465 pacific: doc/install: improve updating submodules procedure
  doc/install/clone-source.rst
Labels: documentation

#48480 pacific: doc/dev: add submodule-update link to dev guide
  doc/dev/developer_guide/basic-workflow.rst
  doc/install/clone-source.rst
Labels: documentation

#48240 pacific: rgw: splitting gc chains into smaller parts to prevent
  src/cls/rgw/cls_rgw_ops.h
  src/cls/rgw/cls_rgw_types.h
  src/rgw/rgw_gc.cc
  src/rgw/rgw_gc.h
  src/rgw/rgw_multi.cc
  src/rgw/rgw_rados.cc
  src/rgw/rgw_rados.h
Labels: rgw, needs-qa, wip-yuri2-testing, TESTED, ready-to-merge

#47746 pacific: rgw/sts: adding code for aws:RequestTags as part
  doc/images/keycloak-adduser.png
  doc/images/keycloak-userclientmapper.png
  doc/images/keycloak-usercredentials.png
  doc/images/keycloak-userdetails.png
  doc/images/keycloak-usertags.png
  doc/radosgw/STS.rst
  doc/radosgw/index.rst
  doc/radosgw/keycloak.rst
  doc/radosgw/role.rst
  doc/radosgw/session-tags.rst
  qa/suites/rgw/sts/tasks/first.yaml
  qa/tasks/keycloak.py
  qa/tasks/s3tests.py
  src/rgw/jwt-cpp/jwt.h
  src/rgw/rgw_auth.cc
  src/rgw/rgw_auth.h
  src/rgw/rgw_auth_s3.cc
  src/rgw/rgw_auth_s3.h
  src/rgw/rgw_common.h
  src/rgw/rgw_iam_policy.cc
  src/rgw/rgw_iam_policy.h
  src/rgw/rgw_iam_policy_keywords.gperf
  src/rgw/rgw_iam_policy_keywords.h
  src/rgw/rgw_notify.cc
  src/rgw/rgw_op.cc
  src/rgw/rgw_op_type.h
  src/rgw/rgw_pubsub.cc
  src/rgw/rgw_pubsub.h
  src/rgw/rgw_rest_iam.cc
  src/rgw/rgw_rest_role.cc
  src/rgw/rgw_rest_role.h
  src/rgw/rgw_rest_s3.cc
  src/rgw/rgw_rest_sts.cc
  src/rgw/rgw_rest_sts.h
  src/rgw/rgw_role.cc
  src/rgw/rgw_role.h
  src/rgw/rgw_sts.cc
  src/rgw/rgw_sts.h
  src/rgw/rgw_tag.cc
  src/rgw/rgw_tag.h
  src/rgw/rgw_tag_s3.cc
  src/rgw/rgw_tools.cc
  src/rgw/rgw_tools.h
  src/rgw/rgw_web_idp.h
  src/test/rgw/test_rgw_iam_policy.cc
  src/test/rgw/test_rgw_lua.cc
Labels: documentation, rgw, needs-qa, tests, wip-yuri2-testing, TESTED, ready-to-merge

#48274 pacific: rgw: fix data corruption due to network jitter
  src/rgw/rgw_putobj_processor.cc
Labels: rgw, needs-qa, wip-yuri2-testing, TESTED, ready-to-merge

#48385 pacific: qa/tasks/rbd_fio: bump default to fio 3.32
  qa/tasks/rbd_fio.py
Labels: rbd, needs-qa, tests, wip-yuri5-testing, pacific-batch-1

#48405 crimson: tmap support, list_snaps support, fixes for zero and cmpext
  src/crimson/CMakeLists.txt
  src/crimson/common/tmap_helpers.cc
  src/crimson/common/tmap_helpers.h
  src/crimson/osd/ops_executer.cc
  src/crimson/osd/ops_executer.h
  src/crimson/osd/pg_backend.cc
  src/crimson/osd/pg_backend.h
Labels: build/ops, crimson

#48475 crimson/osd: resolve_oid() looks in clone_snaps by requested snap ID
  src/crimson/osd/pg.cc
Labels: bug fix, crimson

#48486 doc/radosgw: add push_endpoint for rabbitmq
  doc/radosgw/notifications.rst
Labels: documentation

#48487 quincy: doc/radosgw: add push_endpoint for rabbitmq
  doc/radosgw/notifications.rst
Labels: documentation

#48488 pacific: doc/radosgw: add push_endpoint for rabbitmq
  doc/radosgw/notifications.rst
Labels: documentation

#48422 crimson/zns: refactor zone operations
  src/crimson/os/seastore/segment_manager/zns.cc
  src/crimson/os/seastore/segment_manager/zns.h
Labels: crimson

#48493 doc/radosgw: improve grammar - notifications.rst
  doc/radosgw/notifications.rst
Labels: documentation
