Repository ceph/ceph, pull requests merged in 2022-08, with the labels that each got.

#47345 crimson/os/seastore: misc fixes and log improvements
  src/crimson/os/seastore/async_cleaner.cc
  src/crimson/os/seastore/async_cleaner.h
  src/crimson/os/seastore/cache.cc
  src/crimson/os/seastore/cache.h
  src/crimson/os/seastore/cached_extent.h
  src/crimson/os/seastore/journal.h
  src/crimson/os/seastore/journal/circular_bounded_journal.cc
  src/crimson/os/seastore/journal/segment_allocator.cc
  src/crimson/os/seastore/journal/segmented_journal.cc
  src/crimson/os/seastore/journal/segmented_journal.h
  src/crimson/os/seastore/seastore_types.cc
  src/crimson/os/seastore/segment_manager_group.cc
  src/crimson/os/seastore/segment_seq_allocator.h
  src/crimson/os/seastore/transaction_manager.cc
  src/test/crimson/seastore/onode_tree/test_staged_fltree.cc
  src/test/crimson/seastore/test_cbjournal.cc
  src/test/crimson/seastore/test_collection_manager.cc
  src/test/crimson/seastore/test_omap_manager.cc
  src/test/crimson/seastore/test_seastore_journal.cc
  src/test/crimson/seastore/test_transaction_manager.cc
  src/test/crimson/seastore/transaction_manager_test_state.h
Labels: tests, crimson

#45602 rgw/dbstore: Object versioning feature support
  src/rgw/rgw_sal_dbstore.cc
  src/rgw/store/dbstore/common/dbstore.cc
  src/rgw/store/dbstore/common/dbstore.h
  src/rgw/store/dbstore/sqlite/sqliteDB.cc
  src/rgw/store/dbstore/sqlite/sqliteDB.h
  src/rgw/store/dbstore/tests/dbstore_tests.cc
Labels: rgw

#47334 monitoring/ceph-mixin: OSD overview typo fix
  monitoring/ceph-mixin/dashboards/osd.libsonnet
  monitoring/ceph-mixin/dashboards_out/osds-overview.json
Labels: dashboard, monitoring

#47385 mgr: fix flake8:missing whitespace after keyword for assert() & yield()
  src/cephadm/cephadm
  src/pybind/mgr/cephadm/services/ingress.py
  src/pybind/mgr/iostat/module.py
  src/tools/cephfs/shell/cephfs-shell
Labels: cephfs, pybind, cephadm

#47391 quincy: pybind/mgr: fix flake8
  src/cephadm/cephadm
  src/pybind/mgr/cephadm/services/ingress.py
  src/pybind/mgr/iostat/module.py
  src/tools/cephfs/cephfs-shell
Labels: cephfs, pybind, cephadm

#47297 quincy: os/bluestore: Fix collision between BlueFS and BlueStore deferred writes
  src/include/interval_set.h
  src/os/bluestore/BlueStore.cc
  src/os/bluestore/BlueStore.h
  src/test/objectstore/CMakeLists.txt
  src/test/objectstore/run_test_deferred.sh
  src/test/objectstore/test_deferred.cc
Labels: core, needs-qa, tests, build/ops, bluestore, wip-yuri7-testing

#47262 rgw: Return correct status code in case of DeleteBucketTagging API.
  src/rgw/rgw_rest_s3.cc
Labels: rgw, needs-review, needs-test

#47197 doc/dev: Elaborate on boost .deb creation
  doc/dev/continuous-integration.rst
Labels: documentation

#47126 quincy: rbd-mirror: remove bogus completed_non_primary_snapshots_exist check
  src/test/rbd_mirror/image_replayer/snapshot/test_mock_Replayer.cc
  src/tools/rbd_mirror/image_replayer/snapshot/Replayer.cc
Labels: bug fix, rbd, needs-qa, tests, wip-yuri5-testing, quincy-batch-1

#47129 quincy: qa/suites/rbd/pwl-cache: ensure recovery is actually tested
  qa/suites/rbd/pwl-cache/home/7-workloads/recovery.yaml
  qa/tasks/rbd_pwl_cache_recovery.py
Labels: rbd, needs-qa, tests, wip-yuri5-testing, quincy-batch-1

#47144 quincy: rbd: don't default empty pool name unless namespace is specified
  qa/workunits/rbd/cli_generic.sh
  src/tools/rbd/Utils.cc
  src/tools/rbd/Utils.h
  src/tools/rbd/action/Group.cc
  src/tools/rbd/action/List.cc
  src/tools/rbd/action/MirrorPool.cc
  src/tools/rbd/action/Namespace.cc
  src/tools/rbd/action/Perf.cc
  src/tools/rbd/action/Pool.cc
  src/tools/rbd/action/Trash.cc
Labels: bug fix, rbd, needs-qa, tests, wip-yuri5-testing, quincy-batch-1

#47159 quincy: qa/suites/rbd: disable workunit timeout for dynamic_features_no_cache
  qa/suites/rbd/maintenance/workloads/dynamic_features_no_cache.yaml
Labels: rbd, needs-qa, tests, wip-yuri5-testing, quincy-batch-1

#47162 quincy: librbd: bail from schedule_request_lock() if already lock owner
  src/librbd/ImageWatcher.cc
Labels: bug fix, rbd, needs-qa, wip-yuri5-testing, quincy-batch-1

#47248 quincy: librbd: tweak misleading "image is still primary" error message
  src/librbd/mirror/PromoteRequest.cc
Labels: cleanup, rbd, needs-qa, wip-yuri5-testing, quincy-batch-1

#45133 enable c++20
  ceph.spec.in
  debian/rules
  install-deps.sh
  src/CMakeLists.txt
  src/common/static_ptr.h
  src/crimson/common/fixed_kv_node_layout.h
  src/crimson/os/seastore/omap_manager/btree/string_kv_node_layout.h
  src/osd/PG.h
  src/osd/PGBackend.cc
  src/osd/PrimaryLogPG.cc
  src/osd/scrubber/PrimaryLogScrub.cc
  src/rgw/rgw_asio_frontend.cc
  src/rgw/rgw_s3select_private.h
  src/rgw/rgw_trim_bilog.cc
  src/test/common/test_allocate_unique.cc
  src/test/common/test_static_ptr.cc
  src/test/librados_test_stub/TestWatchNotify.cc
Labels: core, rgw, rbd, cephfs, needs-qa, tests, common, build/ops, mgr, mon, crimson

#47398 crimson: capture "this" explicitly
  src/crimson/os/alienstore/alien_store.cc
  src/crimson/os/cyanstore/cyan_store.cc
  src/crimson/os/seastore/btree/fixed_kv_btree.h
  src/crimson/os/seastore/cache.cc
  src/crimson/os/seastore/collection_manager/flat_collection_manager.cc
  src/crimson/os/seastore/omap_manager/btree/omap_btree_node_impl.cc
  src/crimson/os/seastore/random_block_manager/nvme_block_device.cc
  src/crimson/os/seastore/seastore.cc
  src/crimson/os/seastore/segment_manager/block.cc
  src/crimson/os/seastore/transaction_manager.cc
  src/crimson/osd/osd.cc
  src/crimson/osd/pg.cc
  src/crimson/osd/pg_recovery.cc
  src/crimson/osd/replicated_recovery_backend.cc
Labels: crimson

#47261 mgr/dashboard: Show error on creating service with duplicate service id
  src/pybind/mgr/dashboard/controllers/service.py
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/services/service-form/service-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/services/service-form/service-form.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/ceph-service.service.ts
  src/pybind/mgr/dashboard/openapi.yaml
  src/pybind/mgr/dashboard/services/exception.py
  src/pybind/mgr/dashboard/services/orchestrator.py
Labels: bug fix, pybind, dashboard, api-change

#47348 quincy: ceph-volume: do not call get_device_vgs() per devices
  src/ceph-volume/ceph_volume/tests/util/test_device.py
  src/ceph-volume/ceph_volume/util/device.py
Labels: ceph-volume, wip-adk3-testing

#47393 pacific: pybind/mgr: fix flake8
  src/cephadm/cephadm
  src/pybind/mgr/cephadm/services/ingress.py
  src/pybind/mgr/iostat/module.py
  src/tools/cephfs/cephfs-shell
Labels: cephfs, pybind, cephadm

#47406 ceph-volume: Quincy backports
  src/ceph-volume/ceph_volume/devices/lvm/batch.py
  src/ceph-volume/ceph_volume/devices/lvm/zap.py
  src/ceph-volume/ceph_volume/tests/conftest.py
  src/ceph-volume/ceph_volume/tests/devices/lvm/test_migrate.py
  src/ceph-volume/ceph_volume/tests/devices/lvm/test_zap.py
  src/ceph-volume/ceph_volume/tests/devices/simple/test_activate.py
  src/ceph-volume/ceph_volume/tests/devices/simple/test_scan.py
  src/ceph-volume/ceph_volume/tests/test_inventory.py
  src/ceph-volume/ceph_volume/tests/util/test_arg_validators.py
  src/ceph-volume/ceph_volume/tests/util/test_device.py
  src/ceph-volume/ceph_volume/tests/util/test_disk.py
  src/ceph-volume/ceph_volume/tests/util/test_encryption.py
  src/ceph-volume/ceph_volume/tests/util/test_system.py
  src/ceph-volume/ceph_volume/util/device.py
  src/ceph-volume/ceph_volume/util/disk.py
  src/ceph-volume/ceph_volume/util/encryption.py
  src/ceph-volume/tox.ini
Labels: ceph-volume, wip-guits-testing

#47149 quincy: ceph-volume: fix `simple scan`
  src/ceph-volume/ceph_volume/util/disk.py
Labels: ceph-volume, wip-adk3-testing

#47236 octopus: mgr/volumes: Fix subvolume discover during upgrade
  qa/tasks/cephfs/test_volumes.py
  src/pybind/mgr/volumes/fs/operations/versions/metadata_manager.py
  src/pybind/mgr/volumes/fs/operations/versions/subvolume_base.py
  src/pybind/mgr/volumes/fs/operations/versions/subvolume_v1.py
  src/tools/cephfs/cephfs-shell
Labels: cephfs, needs-qa, wip-yuri6-testing

#47304 pacific: rgw/rgw_string.h: add missing includes for alpine and boost 1.75
  src/rgw/rgw_string.h
Labels: rgw, needs-qa, backport: no-conflicts, wip-yuri11-testing

#47296 pacific: os/bluestore: Fix collision between BlueFS and BlueStore deferred writes
  src/include/interval_set.h
  src/os/bluestore/BlueStore.cc
  src/os/bluestore/BlueStore.h
  src/test/objectstore/CMakeLists.txt
  src/test/objectstore/run_test_deferred.sh
  src/test/objectstore/test_deferred.cc
Labels: core, tests, build/ops, bluestore, wip-yuri8-testing

#47415 quincy: doc/dev: Elaborate on boost .deb creation
  doc/dev/continuous-integration.rst
Labels: documentation

#47416 pacific: doc/dev: Elaborate on boost .deb creation
  doc/dev/continuous-integration.rst
Labels: documentation

#47191 quincy: rgw: Guard against malformed bucket URLs
  src/rgw/rgw_common.cc
  src/rgw/rgw_sal.h
Labels: rgw, needs-qa, wip-yuri5-testing, backport quincy

#47195 quincy: rgw: Fix data race in ChangeStatus
  src/rgw/rgw_datalog.cc
Labels: rgw, needs-qa, wip-yuri5-testing, backport quincy

#47271 pacific: libcephsqlite: ceph-mgr crashes when compiled with gcc12
  src/libcephsqlite.cc
Labels: needs-qa, wip-yuri8-testing

#47426 crimson: capture this explicitly to silence warnings
  src/crimson/os/seastore/async_cleaner.cc
  src/crimson/os/seastore/journal/segmented_journal.cc
  src/crimson/os/seastore/segment_manager_group.cc
  src/crimson/osd/shard_services.cc
  src/crimson/tools/store_nbd/tm_driver.cc
  src/test/crimson/seastore/test_btree_lba_manager.cc
Labels: tests, crimson

#47403 quincy: mgr/dashboard: Show error on creating service with duplicate service id
  src/pybind/mgr/dashboard/controllers/service.py
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/services/service-form/service-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/services/service-form/service-form.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/ceph-service.service.ts
  src/pybind/mgr/dashboard/openapi.yaml
  src/pybind/mgr/dashboard/services/exception.py
  src/pybind/mgr/dashboard/services/orchestrator.py
Labels: pybind, dashboard, backport: no-conflicts, api-change

#47429 ceph.spec.in: set BuildRequires: gcc-c++ >= 11 for SUSE distros
  ceph.spec.in
Labels: build/ops

#47418 mgr/dashboard: remove token logging
  src/pybind/mgr/dashboard/services/auth.py
Labels: pybind, dashboard

#47356 quincy: mgr/dashboard: add required validation for frontend and monitor port
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/services/service-form/service-form.component.ts
Labels: pybind, dashboard, backport: no-conflicts

#46863 mgr/dashboard: Simplified silence-form matchers list layout
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/prometheus/silence-form/silence-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/prometheus/silence-form/silence-form.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/prometheus/silence-form/silence-form.component.ts
Labels: pybind, needs-review, dashboard

#47428 crimson: use std::strong_ordering mechinary
  src/crimson/os/seastore/backref/backref_tree_node.h
  src/crimson/os/seastore/lba_manager/btree/lba_btree_node.h
  src/crimson/os/seastore/seastore_types.h
  src/crimson/osd/scheduler/mclock_scheduler.h
Labels: crimson

#47177 doc: change "master" to "main" in backport doc
  SubmittingPatches-backports.rst
Labels: documentation

#47434 ceph-volume/tests: fix test_exception_returns_default
  src/ceph-volume/ceph_volume/tests/util/test_system.py
Labels: ceph-volume

#46467 quincy -- sse s3 changes
  doc/radosgw/config-ref.rst
  doc/radosgw/encryption.rst
  doc/radosgw/vault.rst
  qa/suites/rgw/crypt/2-kms/vault_transit.yaml
  qa/tasks/ceph_manager.py
  qa/tasks/rgw.py
  qa/tasks/s3tests.py
  src/common/options/rgw.yaml.in
  src/rgw/rgw_bucket_encryption.cc
  src/rgw/rgw_bucket_encryption.h
  src/rgw/rgw_common.cc
  src/rgw/rgw_common.h
  src/rgw/rgw_crypt.cc
  src/rgw/rgw_crypt.h
  src/rgw/rgw_dencoder.cc
  src/rgw/rgw_kms.cc
  src/rgw/rgw_kms.h
  src/rgw/rgw_op.cc
  src/rgw/rgw_rest_s3.cc
  src/test/rgw/test_rgw_kms.cc
  src/tools/ceph-dencoder/rgw_types.h
Labels: documentation, rgw, needs-qa, tests, common, wip-cbodley-testing

#47376 pacific: cephadm: Fix repo_gpgkey should return 2 vars
  src/cephadm/cephadm
Labels: cephadm, wip-adk2-testing

#47375 pacific: mgr/cephadm: clear error message when resuming upgrade
  src/pybind/mgr/cephadm/upgrade.py
Labels: pybind, cephadm, wip-adk2-testing

#47374 quincy: cephadm: Fix repo_gpgkey should return 2 vars
  src/cephadm/cephadm
Labels: cephadm, wip-adk3-testing

#47373 quincy: mgr/cephadm: clear error message when resuming upgrade
  src/pybind/mgr/cephadm/upgrade.py
Labels: pybind, cephadm, wip-adk3-testing

#47317 quincy: mgr/cephadm: check for events key before accessing it
  qa/tasks/cephfs/test_nfs.py
Labels: cephfs, tests, cephadm, nfs, wip-adk3-testing

#47315 quincy: qa/workunits/cephadm: update test_repos master -> main
  qa/workunits/cephadm/test_repos.sh
Labels: tests, cephadm, wip-adk3-testing

#47314 quincy: cephadm: add "su root root" to cephadm.log logrotate config
  src/cephadm/cephadm
Labels: cephadm, wip-adk3-testing

#47313 quincy: cephadm: reduce spam to cephadm.log
  src/cephadm/cephadm
Labels: cephadm, wip-adk3-testing

#47316 quincy: mgr/cephadm: support for os tuning profiles
  doc/cephadm/host-management.rst
  src/pybind/mgr/cephadm/inventory.py
  src/pybind/mgr/cephadm/module.py
  src/pybind/mgr/cephadm/serve.py
  src/pybind/mgr/cephadm/tests/fixtures.py
  src/pybind/mgr/cephadm/tests/test_tuned_profiles.py
  src/pybind/mgr/cephadm/tuned_profiles.py
  src/pybind/mgr/orchestrator/_interface.py
  src/pybind/mgr/orchestrator/module.py
  src/python-common/ceph/deployment/service_spec.py
Labels: documentation, pybind, orchestrator, cephadm, wip-adk3-testing

#47312 quincy: mgr/cephadm: support for miscellaneous config files for daemons
  doc/cephadm/services/index.rst
  src/cephadm/cephadm
  src/cephadm/tests/test_cephadm.py
  src/pybind/mgr/cephadm/serve.py
  src/pybind/mgr/cephadm/services/cephadmservice.py
  src/pybind/mgr/cephadm/tests/test_cephadm.py
  src/python-common/ceph/deployment/drive_group.py
  src/python-common/ceph/deployment/service_spec.py
Labels: documentation, pybind, ceph-volume, cephadm, wip-adk3-testing

#47412 crimson/net: don't throw on failure when renewing tickets and keyrings
  src/crimson/mon/MonClient.cc
Labels: bug fix, crimson

#47026 fuse_ll: fix compile error when libfuse version is larger than 3.0
  src/client/fuse_ll.cc
Labels: cephfs, wip-rishabh-testing

#44774 qa/ceph_manager: clean up CephManager.do_rados()
  qa/tasks/ceph_manager.py
  qa/tasks/vstart_runner.py
Labels: core, cephfs, needs-qa, tests, wip-yuri3-testing, vstart_runner

#46507 os/memstore: Fix memory leak
  src/os/memstore/MemStore.cc
Labels: core, needs-qa, wip-yuri3-testing

#46838 mgr: Remove service_daemon handling from MMgrUpdate
  src/messages/MMgrUpdate.h
  src/mgr/DaemonServer.cc
  src/mgr/MgrClient.cc
  src/tools/ceph-dencoder/common_types.h
Labels: core, needs-qa, mgr, wip-yuri3-testing, wip-pdhange-testing, needs-quincy-backport, needs-pacific-backport

#47065 os/bluestore: do not signal deleted dirty file to bluefs log
  src/os/bluestore/BlueFS.cc
  src/test/objectstore/test_bluefs.cc
Labels: bug fix, core, needs-qa, tests, bluestore, wip-yuri3-testing

#47138 qa/tasks/ceph_manager.py: increase test_pool_min_size timeout
  qa/tasks/ceph_manager.py
Labels: core, needs-qa, tests, wip-yuri3-testing

#47299 mgr/cephadm: Add loki dependency to grafana, promtail
  src/pybind/mgr/cephadm/services/monitoring.py
Labels: pybind, monitoring, cephadm, wip-adk-testing

#47268 quincy: mgr/cephadm: add parsing for config on osd specs
  src/python-common/ceph/deployment/drive_group.py
Labels: pybind, ceph-volume, cephadm, wip-adk3-testing

#47442 quincy: .readthedocs.yml: Always build latest doc/releases pages
  .readthedocs.yml
  admin/rtd-checkout-main
Labels: build/ops

#47443 pacific: .readthedocs.yml: Always build latest doc/releases pages
  .readthedocs.yml
  admin/rtd-checkout-main
Labels: build/ops

#46213 exporter: per node metric exporter
  ceph.spec.in
  src/CMakeLists.txt
  src/common/options/CMakeLists.txt
  src/common/options/build_options.cc
  src/common/options/ceph-exporter.yaml.in
  src/common/subsys.h
  src/exporter/CMakeLists.txt
  src/exporter/DaemonMetricCollector.cc
  src/exporter/DaemonMetricCollector.h
  src/exporter/ceph_exporter.cc
  src/exporter/http_server.cc
  src/exporter/http_server.h
  src/exporter/util.cc
  src/exporter/util.h
Labels: common, build/ops, pybind, needs-review, mgr, DNM, orchestrator, monitoring, cephadm

#47431 pacific: mgr/dashboard: remove token logging
  src/pybind/mgr/dashboard/services/auth.py
Labels: pybind, dashboard, backport: no-conflicts

#47430 quincy: mgr/dashboard: remove token logging
  src/pybind/mgr/dashboard/services/auth.py
Labels: pybind, dashboard, backport: no-conflicts

#47105 pacific: mgr/dashboard: rbd image pagination
  qa/tasks/mgr/dashboard/test_rbd.py
  src/pybind/mgr/dashboard/controllers/rbd.py
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/iscsi-target-form/iscsi-target-form.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/iscsi-target-form/iscsi-target-form.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-list/rbd-list.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-list/rbd-list.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-list/rbd-list.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/rbd.model.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/rbd.service.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/rbd.service.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/datatable/table/table.component.html
  src/pybind/mgr/dashboard/frontend/src/app/shared/datatable/table/table.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/models/cd-table-fetch-data-context.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/models/cd-table-paging.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/models/cd-user-config.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/services/cd-table-server-side.service.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/services/cd-table-server-side.service.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/services/task-list.service.ts
  src/pybind/mgr/dashboard/openapi.yaml
  src/pybind/mgr/dashboard/services/rbd.py
  src/pybind/mgr/dashboard/tests/test_rbd_service.py
Labels: tests, pybind, dashboard, api-change

#47404 pacific: mgr/dashboard: Show error on creating service with duplicate service id
  src/pybind/mgr/dashboard/controllers/service.py
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/services/service-form/service-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/services/service-form/service-form.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/ceph-service.service.ts
  src/pybind/mgr/dashboard/openapi.yaml
  src/pybind/mgr/dashboard/services/exception.py
  src/pybind/mgr/dashboard/services/orchestrator.py
Labels: pybind, dashboard, backport: no-conflicts, api-change

#47263 mgr/dashboard: host list tables doesn't show all services deployed
  src/pybind/mgr/dashboard/frontend/cypress/integration/cluster/hosts.po.ts
  src/pybind/mgr/dashboard/frontend/cypress/integration/orchestrator/workflow/08-hosts.e2e-spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/hosts/hosts.component.ts
Labels: pybind, dashboard

#47329 quincy: mgr/dashboard: added pattern validaton for form input
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-user-form/rgw-user-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-user-form/rgw-user-form.component.ts
Labels: pybind, dashboard, backport: no-conflicts

#47435 quincy: backport: ceph-volume/tests: fix test_exception_returns_default
  src/ceph-volume/ceph_volume/tests/util/test_system.py
Labels: ceph-volume

#46579 pacific: rgw: check object storage_class when check_disk_state
  src/rgw/rgw_rados.cc
Labels: bug fix, rgw, needs-qa, backport: no-conflicts, wip-yuri11-testing

#47175 pacific: rgw/notifications: Change in multipart upload notification behavior
  PendingReleaseNotes
  doc/radosgw/s3-notification-compatibility.rst
  src/rgw/rgw_op.cc
Labels: documentation, rgw, needs-qa, wip-yuri11-testing

#47196 pacific: rgw: Fix data race in ChangeStatus
  src/rgw/rgw_datalog.cc
Labels: rgw, needs-qa, wip-yuri11-testing, backport pacific

#47118 pacific: rbd-mirror: remove bogus completed_non_primary_snapshots_exist check
  src/test/rbd_mirror/image_replayer/snapshot/test_mock_Replayer.cc
  src/tools/rbd_mirror/image_replayer/snapshot/Replayer.cc
Labels: bug fix, rbd, needs-qa, tests, pacific-batch-1, wip-yuri11-testing

#47128 pacific: qa/suites/rbd/pwl-cache: ensure recovery is actually tested
  qa/suites/rbd/pwl-cache/home/7-workloads/recovery.yaml
  qa/tasks/rbd_pwl_cache_recovery.py
Labels: rbd, needs-qa, tests, pacific-batch-1, wip-yuri11-testing

#47143 pacific: rbd: don't default empty pool name unless namespace is specified
  qa/workunits/rbd/cli_generic.sh
  src/tools/rbd/Utils.cc
  src/tools/rbd/Utils.h
  src/tools/rbd/action/Group.cc
  src/tools/rbd/action/List.cc
  src/tools/rbd/action/MirrorPool.cc
  src/tools/rbd/action/Namespace.cc
  src/tools/rbd/action/Perf.cc
  src/tools/rbd/action/Pool.cc
  src/tools/rbd/action/Trash.cc
Labels: bug fix, rbd, needs-qa, tests, pacific-batch-1, wip-yuri11-testing

#47158 pacific: qa/suites/rbd: disable workunit timeout for dynamic_features_no_cache
  qa/suites/rbd/maintenance/workloads/dynamic_features_no_cache.yaml
Labels: rbd, needs-qa, tests, pacific-batch-1, wip-yuri11-testing

#47161 pacific: librbd: bail from schedule_request_lock() if already lock owner
  src/librbd/ImageWatcher.cc
Labels: bug fix, rbd, needs-qa, pacific-batch-1, wip-yuri11-testing

#47247 pacific: librbd: tweak misleading "image is still primary" error message
  src/librbd/mirror/PromoteRequest.cc
Labels: cleanup, rbd, needs-qa, pacific-batch-1, wip-yuri11-testing

#47194 pacific: rgw: Guard against malformed bucket URLs
  src/rgw/rgw_common.cc
  src/rgw/rgw_sal.h
Labels: rgw, needs-qa, wip-yuri11-testing, backport pacific

#46876 mgr/volumes: add interface to check the presence of subvolumegroups/subvolumes
  doc/cephfs/fs-volumes.rst
  qa/tasks/cephfs/test_volumes.py
  src/pybind/mgr/volumes/fs/fs_util.py
  src/pybind/mgr/volumes/fs/operations/group.py
  src/pybind/mgr/volumes/fs/vol_spec.py
  src/pybind/mgr/volumes/fs/volume.py
  src/pybind/mgr/volumes/module.py
Labels: documentation, cephfs, needs-qa, tests, pybind, wip-vshankar-testing1

#47449 ceph.spec.in: build with gcc-toolset-11
  ceph.spec.in
  cmake/modules/Buildpmdk.cmake
  debian/rules
Labels: build/ops

#47041 pacific: rgw: do not permit locked object version removal
  src/rgw/rgw_sal_rados.cc
Labels: rgw, needs-qa, wip-cbodley-testing, wip-yuri3-testing

#47341 pacific: rgw: better tenant id from the uri on anonymous access
  src/rgw/rgw_rest_swift.cc
Labels: rgw, needs-qa, wip-yuri3-testing, backport: no-conflicts

#47201 quincy: mgr/dashboard:Get different storage class metrics in Prometheus dashboard
  src/pybind/mgr/prometheus/module.py
Labels: pybind, dashboard, monitoring, backport: no-conflicts

#47468 cmake: ceph-exporter fix for WITH_MGR=OFF
  src/CMakeLists.txt
Labels: build/ops

#47461 win32_deps_build.sh: bump curl to curl-7_84_0
  win32_deps_build.sh
Labels: build/ops, win32

#47462 tests/osd: fix a test to follow an output formatting change
  qa/standalone/scrub/osd-scrub-snaps.sh
Labels: core, tests, regression

#47427 include, common, osd: use std::strong_ordering machinery
  src/common/entity_name.h
  src/common/hobject.h
  src/include/cmp.h
  src/include/fs_types.h
  src/include/object.h
  src/include/types.h
  src/librados/ListObjectImpl.h
  src/os/filestore/SequencerPosition.h
  src/osd/osd_types.h
  src/osd/scheduler/mClockScheduler.h
Labels: core, cephfs, needs-qa, common, build/ops, crimson

#47472 do_cmake:sh: use newer gcc if available
  do_cmake.sh
Labels: build/ops

#47214 docs: minor doc fixes of showing in progress clones for a snapshot
  doc/cephfs/fs-volumes.rst
  qa/tasks/cephfs/test_volumes.py
Labels: documentation, cephfs, tests, skip-teuthology

#47471 crimson/os/seastore: cleanups and extentions to paddr_t related classes
  src/crimson/os/seastore/async_cleaner.cc
  src/crimson/os/seastore/async_cleaner.h
  src/crimson/os/seastore/backref/btree_backref_manager.cc
  src/crimson/os/seastore/btree/fixed_kv_btree.h
  src/crimson/os/seastore/btree/fixed_kv_node.h
  src/crimson/os/seastore/cache.cc
  src/crimson/os/seastore/cached_extent.h
  src/crimson/os/seastore/extent_placement_manager.h
  src/crimson/os/seastore/lba_manager/btree/lba_btree_node.h
  src/crimson/os/seastore/seastore_types.cc
  src/crimson/os/seastore/seastore_types.h
  src/test/crimson/seastore/test_seastore_journal.cc
  src/test/crimson/seastore/test_transaction_manager.cc
Labels: tests, crimson

#47470 dokan: cast variable to the expected type before comparison
  src/dokan/ceph_dokan.cc
  src/dokan/dbg.cc
Labels: cleanup, win32

#47397 rgw: lua, add support for lua packages to the lua manager
  src/rgw/rgw_lua.cc
  src/rgw/rgw_lua.h
  src/rgw/rgw_main.cc
  src/rgw/rgw_sal.h
  src/rgw/rgw_sal_dbstore.cc
  src/rgw/rgw_sal_dbstore.h
  src/rgw/rgw_sal_filter.cc
  src/rgw/rgw_sal_filter.h
  src/rgw/rgw_sal_fwd.h
  src/rgw/rgw_sal_motr.cc
  src/rgw/rgw_sal_motr.h
  src/rgw/rgw_sal_rados.cc
  src/rgw/rgw_sal_rados.h
  src/rgw/rgw_sal_store.h
  src/test/CMakeLists.txt
Labels: rgw, tests, build/ops

#47459 cmake: install pure python module to deb_system path
  debian/python3-ceph-argparse.install
  src/pybind/CMakeLists.txt
Labels: build/ops, pybind

#47289 quincy: mgr/telemetry: reset health warning after re-opting-in
  src/pybind/mgr/telemetry/module.py
Labels: bug fix, needs-qa, pybind, mgr, wip-yuri8-testing, telemetry

#47342 quincy: rgw: better tenant id from the uri on anonymous access
  src/rgw/rgw_rest_swift.cc
Labels: rgw, needs-qa, wip-yuri8-testing, backport: no-conflicts

#47481 .github/workflows: increase operations-per-run to 100 in stale bot
  .github/workflows/stale.yml
Labels: CI

#47266 pacific: rgw: maintain object instance within RGWRadosObject::get_obj_state method
  src/rgw/rgw_op.cc
  src/rgw/rgw_sal_rados.cc
Labels: rgw, needs-qa, wip-yuri5-testing, backport pacific

#47478 cmake: remove spaces in macro used for compiling cython code
  cmake/modules/Distutils.cmake
Labels: build/ops

#47309 doc: Updating Ceph Foundation members for July
  doc/foundation.rst
Labels: documentation

#47216 osd: Handle oncommits and wait for future work items from mClock queue
  src/osd/OSD.cc
Labels: core, needs-qa, performance

#46989 common: use boost::shared_mutex on Windows
  CMakeLists.txt
  src/common/ceph_mutex.h
  win32_deps_build.sh
Labels: needs-qa, common, build/ops, win32

#44772 doc: Make the SYNTAX code writing of some interfaces of the api document consistent with others
  doc/radosgw/s3/bucketops.rst
Labels: documentation

#47487 examples/boto3: add ListObjectsV2Request shape to boto3 sdk extras with AllowUnordered as member
  examples/boto3/README.md
  examples/boto3/service-2.sdk-extras.json
Labels: documentation

#47485 crimson/os: cleanups
  src/crimson/os/seastore/onode_manager/staged-fltree/node_layout.h
  src/crimson/os/seastore/onode_manager/staged-fltree/node_layout_replayable.h
  src/crimson/os/seastore/onode_manager/staged-fltree/tree.h
Labels: cleanup, crimson

#47423 crimson/os: rewrite ordering using std::strong_ordering
  src/crimson/os/seastore/onode_manager/staged-fltree/node.cc
  src/crimson/os/seastore/onode_manager/staged-fltree/node.h
  src/crimson/os/seastore/onode_manager/staged-fltree/node_layout.h
  src/crimson/os/seastore/onode_manager/staged-fltree/stages/key_layout.h
  src/crimson/os/seastore/onode_manager/staged-fltree/stages/stage.h
  src/crimson/os/seastore/onode_manager/staged-fltree/stages/stage_types.h
  src/crimson/os/seastore/onode_manager/staged-fltree/tree.h
  src/crimson/os/seastore/onode_manager/staged-fltree/tree_utils.h
  src/test/crimson/seastore/onode_tree/test_staged_fltree.cc
Labels: cleanup, tests, build/ops, crimson

#47436 ceph.spec.in: ceph-mib: require snmp-mibs on SUSE distros
  ceph.spec.in
Labels: build/ops

#46927 mgr/volumes: filter internal directories in 'subvolumegroup ls' command
  qa/tasks/cephfs/test_volumes.py
  src/pybind/mgr/volumes/fs/operations/group.py
  src/pybind/mgr/volumes/fs/volume.py
Labels: cephfs, needs-qa, tests, pybind

#46972 mgr/dashboard: Improve level A accessibility for buttons
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/mirroring/overview/overview.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/logs/logs.component.html
Labels: pybind, dashboard, GSoC / Outreachy

#47486 mgr/dashboard: bump up teuthology
  src/pybind/mgr/dashboard/run-backend-api-tests.sh
Labels: tests, pybind, dashboard

#47413 ceph-volume: Pacific backports
  src/ceph-volume/ceph_volume/devices/lvm/batch.py
  src/ceph-volume/ceph_volume/devices/lvm/zap.py
  src/ceph-volume/ceph_volume/tests/conftest.py
  src/ceph-volume/ceph_volume/tests/devices/lvm/test_batch.py
  src/ceph-volume/ceph_volume/tests/devices/lvm/test_migrate.py
  src/ceph-volume/ceph_volume/tests/devices/lvm/test_zap.py
  src/ceph-volume/ceph_volume/tests/devices/simple/test_activate.py
  src/ceph-volume/ceph_volume/tests/devices/simple/test_scan.py
  src/ceph-volume/ceph_volume/tests/test_inventory.py
  src/ceph-volume/ceph_volume/tests/util/test_arg_validators.py
  src/ceph-volume/ceph_volume/tests/util/test_device.py
  src/ceph-volume/ceph_volume/tests/util/test_disk.py
  src/ceph-volume/ceph_volume/tests/util/test_encryption.py
  src/ceph-volume/ceph_volume/tests/util/test_system.py
  src/ceph-volume/ceph_volume/util/device.py
  src/ceph-volume/ceph_volume/util/disk.py
  src/ceph-volume/ceph_volume/util/encryption.py
  src/ceph-volume/tox.ini
  src/ceph-volume/tox_install_command.sh
Labels: ceph-volume, wip-guits-testing

#47484 pacific: cmake: remove spaces in macro used for compiling cython code
  cmake/modules/Distutils.cmake
Labels: build/ops

#47483 quincy: cmake: remove spaces in macro used for compiling cython code
  cmake/modules/Distutils.cmake
Labels: build/ops

#47475 rgw: correct help message of 'reshard stale-instances delete'
  src/rgw/rgw_admin.cc
  src/test/cli/radosgw-admin/help.t
Labels: rgw, tests

#47372 pacific: mgr/cephadm: Add disk rescan feature to the orchestrator
  doc/cephadm/host-management.rst
  src/cephadm/cephadm
  src/cephadm/tests/test_cephadm.py
  src/pybind/mgr/cephadm/module.py
  src/pybind/mgr/orchestrator/_interface.py
  src/pybind/mgr/orchestrator/module.py
Labels: documentation, pybind, orchestrator, cephadm, wip-adk2-testing

#47425 crimson/os/seastore: backref related cleanups
  src/crimson/os/seastore/async_cleaner.cc
  src/crimson/os/seastore/async_cleaner.h
  src/crimson/os/seastore/backref/btree_backref_manager.cc
  src/crimson/os/seastore/backref/btree_backref_manager.h
  src/crimson/os/seastore/backref_manager.h
  src/crimson/os/seastore/cache.cc
  src/crimson/os/seastore/cache.h
  src/crimson/os/seastore/transaction_manager.cc
  src/crimson/os/seastore/transaction_manager.h
  src/test/crimson/seastore/test_transaction_manager.cc
  src/test/crimson/seastore/transaction_manager_test_state.h
Labels: tests, crimson

#47476 crimson/os/seastore: return future when no element error tolerated
  src/crimson/os/seastore/seastore.cc
Labels: crimson

#47294 octopus: ceph-volume: fix fast device alloc size on mulitple device
  src/ceph-volume/ceph_volume/devices/lvm/batch.py
  src/ceph-volume/ceph_volume/tests/conftest.py
  src/ceph-volume/ceph_volume/tests/devices/lvm/test_batch.py
  src/ceph-volume/tox_install_command.sh
Labels: ceph-volume, backport: no-conflicts

#47490 quincy: osd: Handle oncommits and wait for future work items from mClock queue
  src/osd/OSD.cc
Labels: core, needs-qa, wip-yuri4-testing

#47445 quincy: qa/tasks/ceph_manager.py: increase test_pool_min_size timeout
  qa/tasks/ceph_manager.py
Labels: core, needs-qa, tests, wip-yuri4-testing, backport quincy

#47505 doc: Install graphviz
  .readthedocs.yml
Labels: build/ops

#47496 ceph.spec.in: add libatomic to BuildRequires on fedora
  ceph.spec.in
Labels: build/ops

#47500 pybind/mgr/dashboard: do not use distutils.version.StrictVersion
  ceph.spec.in
  debian/ceph-mgr-dashboard.requires
  src/mypy-constrains.txt
  src/pybind/mgr/dashboard/cherrypy_backports.py
  src/pybind/mgr/dashboard/requirements.txt
  src/pybind/mgr/tox.ini
Labels: bug fix, needs-qa, build/ops, pybind, mgr, dashboard

#46155 quincy: ceph.spec.in: openSUSE: require gcc11-c++, disable parquet
  ceph.spec.in
  cmake/modules/BuildBoost.cmake
Labels: needs-qa, build/ops, wip-yuri-testing, quincy-batch-1

#47379 osd: remove invalid put on message
  src/osd/PGBackend.cc
  src/osd/PrimaryLogPG.h
Labels: core, needs-qa, wip-kefu-testing

#46573 common/cmdparse: Unsplit crimson/classic
  src/common/admin_socket.cc
  src/common/cmdparse.cc
  src/common/cmdparse.h
  src/crimson/admin/admin_socket.cc
  src/crimson/admin/osd_admin.cc
  src/crimson/admin/pg_commands.cc
  src/crimson/os/alienstore/CMakeLists.txt
  src/messages/MMonCommand.h
  src/messages/MMonCommandAck.h
  src/mon/PGMap.cc
  src/osd/OSDMap.cc
Labels: core, common, build/ops, wip-kefu-testing, mon, crimson

#46797 pacific: mgr/snap_schedule: persist all updates to RADOS
  qa/tasks/cephfs/test_snap_schedules.py
  src/pybind/mgr/snap_schedule/fs/schedule_client.py
Labels: bug fix, cephfs, needs-qa, tests, pybind, wip-yuri2-testing

#47111 pacific: mds: Don't blocklist clients in any replay state
  src/mds/MDSRank.cc
Labels: cephfs, needs-qa, wip-yuri2-testing

#47408 osd: a faster version of SnapMapper::get_prefix()
  src/osd/SnapMapper.cc
  src/test/test_snap_mapper.cc
Labels: cleanup, core, needs-qa, tests, performance, wip-kefu-testing

#46242 pybind/mgr/pg_autoscaler: change overlapping roots to warning
  doc/rados/operations/placement-groups.rst
  src/pybind/mgr/pg_autoscaler/module.py
Labels: documentation, core, needs-qa, wip-kefu-testing, pybind, mgr, needs-quincy-backport, needs-pacific-backport

#46101 tool: modify object-dedup command to run on manifest object
  qa/workunits/rados/test_dedup_tool.sh
  src/include/rados/librados.hpp
  src/osd/PrimaryLogPG.cc
  src/osd/PrimaryLogPG.h
  src/tools/ceph_dedup_tool.cc
Labels: core, needs-qa, tests, wip-kefu-testing

#46623 quincy: cmake: pass -Wno-error when building PMDK
  cmake/modules/Buildpmem.cmake
Labels: needs-qa, build/ops, wip-yuri-testing, quincy-batch-1

#47020 quincy: osd: Set initial mClock QoS params at CONF_DEFAULT level
  doc/dev/osd_internals/mclock_wpq_cmp_study.rst
  doc/rados/configuration/mclock-config-ref.rst
  qa/standalone/misc/test-mclock-profile-switch.sh
  src/osd/scheduler/mClockScheduler.cc
Labels: documentation, core, needs-qa, wip-yuri-testing

#47086 quincy: mon/Elector: notify_rank_removed erase rank from both live_pinging and dead_pinging sets for highest ranked MON
  src/mon/Elector.cc
Labels: core, needs-qa, wip-yuri-testing, mon, backport: no-conflicts, backport quincy

#47210 quincy: src/mgr/DaemonServer.cc: fix typo in output gap >= max_pg_num_change
  src/mgr/DaemonServer.cc
Labels: core, needs-qa, wip-yuri-testing, mgr, backport: no-conflicts, backport quincy

#47251 quincy: ceph.spec.in: disable system_pmdk on s390x
  ceph.spec.in
Labels: needs-qa, build/ops, wip-yuri-testing, quincy-batch-1

#46748 pacific: test: fix TierFlushDuringFlush to wait until dedup_tier is set on bas…
  src/osd/PrimaryLogPG.cc
  src/osd/PrimaryLogPG.h
  src/test/librados/tier_cxx.cc
Labels: core, needs-qa, tests, wip-yuri3-testing

#47211 pacific:src/mgr/DaemonServer.cc: fix typo in output gap >= max_pg_num_change
  src/mgr/DaemonServer.cc
Labels: core, needs-qa, mgr, wip-yuri3-testing, backport: no-conflicts, backport pacific

#47504 rgw/cmake: stop building all of radosgw a shared lib
  ceph.spec.in
  debian/radosgw.install
  src/CMakeLists.txt
  src/rgw/CMakeLists.txt
  src/rgw/radosgw.cc
  src/rgw/rgw_main.cc
  src/test/CMakeLists.txt
Labels: bug fix, rgw, tests, build/ops, wip-cbodley-testing

#47488 rgw/lc: random_sequence() uses default_random_engine
  src/rgw/rgw_lc.cc
Labels: cleanup, rgw, needs-qa, wip-cbodley-testing

#47497 pacific: mgr/dashboard: bump up teuthology
  src/pybind/mgr/dashboard/run-backend-api-tests.sh
Labels: pybind, dashboard

#47517 install-deps: install cortx-motr from chacra on jammy
  install-deps.sh
Labels: build/ops

#47454 pacific: mgr/dashboard: host list tables doesn't show all services deployed
  src/pybind/mgr/dashboard/frontend/cypress/integration/cluster/hosts.po.ts
  src/pybind/mgr/dashboard/frontend/cypress/integration/orchestrator/workflow/08-hosts.e2e-spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/hosts/hosts.component.ts
Labels: pybind, dashboard, backport: no-conflicts

#47179 mgr/dashboard: validate mds service_id and helper text for service_id
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/services/service-form/service-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/services/service-form/service-form.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/services/service-form/service-form.component.ts
Labels: pybind, dashboard

#47357 pacific: mgr/dashboard: add required validation for frontend and monitor port
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/services/service-form/service-form.component.ts
Labels: pybind, dashboard, backport: no-conflicts

#47198 doc: 15.2.17 Release Notes
  doc/releases/index.rst
  doc/releases/octopus.rst
  doc/releases/releases.yml
  doc/security/CVE-2022-0670.rst
Labels: documentation

#47514 ceph-volume: system.get_mounts() refactor
  src/ceph-volume/ceph_volume/devices/simple/scan.py
  src/ceph-volume/ceph_volume/tests/util/test_system.py
  src/ceph-volume/ceph_volume/util/encryption.py
  src/ceph-volume/ceph_volume/util/system.py
Labels: ceph-volume, wip-adk2-testing, wip-guits-testing

#47479 .github/workflows: add create-backport action
  .github/workflows/create-backport-trackers.yml
  src/script/backport-create-issue
  src/script/requirements.backport-create-issue.txt
Labels: build/ops, CI

#47092 pybind/mgr/cephadm/upgrade: allow upgrades without reducing max_mds
  PendingReleaseNotes
  doc/cephadm/upgrade.rst
  qa/suites/fs/upgrade/upgrade_without_reducing_max_mds/%
  qa/suites/fs/upgrade/upgrade_without_reducing_max_mds/.qa
  qa/suites/fs/upgrade/upgrade_without_reducing_max_mds/bluestore-bitmap.yaml
  qa/suites/fs/upgrade/upgrade_without_reducing_max_mds/centos_8.stream_container_tools.yaml
  qa/suites/fs/upgrade/upgrade_without_reducing_max_mds/conf
  qa/suites/fs/upgrade/upgrade_without_reducing_max_mds/overrides/%
  qa/suites/fs/upgrade/upgrade_without_reducing_max_mds/overrides/.qa
  qa/suites/fs/upgrade/upgrade_without_reducing_max_mds/overrides/ignorelist_health.yaml
  qa/suites/fs/upgrade/upgrade_without_reducing_max_mds/overrides/ignorelist_wrongly_marked_down.yaml
  qa/suites/fs/upgrade/upgrade_without_reducing_max_mds/overrides/pg-warn.yaml
  qa/suites/fs/upgrade/upgrade_without_reducing_max_mds/overrides/syntax.yaml
  qa/suites/fs/upgrade/upgrade_without_reducing_max_mds/roles.yaml
  qa/suites/fs/upgrade/upgrade_without_reducing_max_mds/tasks/%
  qa/suites/fs/upgrade/upgrade_without_reducing_max_mds/tasks/.qa
  qa/suites/fs/upgrade/upgrade_without_reducing_max_mds/tasks/0-from/.qa
  qa/suites/fs/upgrade/upgrade_without_reducing_max_mds/tasks/0-from/pacific.yaml
  qa/suites/fs/upgrade/upgrade_without_reducing_max_mds/tasks/0-from/v16.2.4.yaml
  qa/suites/fs/upgrade/upgrade_without_reducing_max_mds/tasks/1-volume/%
  qa/suites/fs/upgrade/upgrade_without_reducing_max_mds/tasks/1-volume/.qa
  qa/suites/fs/upgrade/upgrade_without_reducing_max_mds/tasks/1-volume/0-create.yaml
  qa/suites/fs/upgrade/upgrade_without_reducing_max_mds/tasks/1-volume/1-ranks/.qa
  qa/suites/fs/upgrade/upgrade_without_reducing_max_mds/tasks/1-volume/1-ranks/1.yaml
  qa/suites/fs/upgrade/upgrade_without_reducing_max_mds/tasks/1-volume/2-allow_standby_replay/.qa
  qa/suites/fs/upgrade/upgrade_without_reducing_max_mds/tasks/1-volume/2-allow_standby_replay/no.yaml
  qa/suites/fs/upgrade/upgrade_without_reducing_max_mds/tasks/1-volume/3-inline/no.yaml
  qa/suites/fs/upgrade/upgrade_without_reducing_max_mds/tasks/1-volume/3-inline/yes.yaml
  qa/suites/fs/upgrade/upgrade_without_reducing_max_mds/tasks/1-volume/4-verify.yaml
  qa/suites/fs/upgrade/upgrade_without_reducing_max_mds/tasks/2-client.yaml
  qa/suites/fs/upgrade/upgrade_without_reducing_max_mds/tasks/3-upgrade-with-workload.yaml
  qa/suites/fs/upgrade/upgrade_without_reducing_max_mds/tasks/4-verify.yaml
  qa/tasks/fs.py
  src/pybind/mgr/cephadm/upgrade.py
  src/pybind/mgr/orchestrator/module.py
Labels: documentation, cephfs, tests, pybind, orchestrator, cephadm, wip-adk2-testing

#47278 monc, cephx: improve debugs and slightly clean invalidate_ticket() up
  src/auth/cephx/CephxProtocol.h
  src/mon/MonClient.cc
Labels: cleanup, core, needs-qa, wip-kefu-testing, mon

#47368 quincy: mgr/volumes: Fix subvolume creation in FIPS enabled system.
  qa/tasks/cephfs/test_volumes.py
  src/pybind/mgr/volumes/fs/operations/versions/subvolume_base.py
Labels: core, cephfs, needs-qa, tests, pybind, wip-yuri8-testing
