Repository ceph/ceph, pull requests merged in 2022-03, with the labels that each got.

#45139 doc/start: include A. D'Atri's hardware-recs recs
  doc/start/hardware-recommendations.rst
Labels: documentation

#44050 osd/scrub: ignoring unsolicited DigestUpdate events
  src/osd/scrubber/pg_scrubber.cc
  src/osd/scrubber/pg_scrubber.h
  src/osd/scrubber/scrub_machine.cc
  src/osd/scrubber/scrub_machine_lstnr.h
Labels: core

#45134 quincy: rgw/qa: Add test suite for lifecycle cases
  qa/suites/rgw/lifecycle/+
  qa/suites/rgw/lifecycle/.qa
  qa/suites/rgw/lifecycle/cluster.yaml
  qa/suites/rgw/lifecycle/overrides.yaml
  qa/suites/rgw/lifecycle/supported-random-distro$
  qa/suites/rgw/lifecycle/tasks/rgw_s3tests.yaml
  qa/tasks/s3tests.py
Labels: rgw, needs-qa, tests, wip-yuri-testing

#45047 doc: 15.2.16 Release Notes
  doc/releases/index.rst
  doc/releases/octopus.rst
  doc/releases/releases.yml
Labels: documentation

#44992 octopus: librbd: honor FUA op flag for write_same() in write-around cache
  src/librbd/cache/WriteAroundObjectDispatch.cc
  src/test/librbd/cache/test_mock_WriteAroundObjectDispatch.cc
Labels: bug fix, rbd, needs-qa, tests, octopus-batch-1, wip-yuri10-testing

#45000 octopus: librbd: fix use-after-free on ictx in list_descendants()
  src/librbd/api/Image.cc
Labels: bug fix, rbd, needs-qa, octopus-batch-1, wip-yuri10-testing

#45001 octopus: rbd: recognize rxbounce map option
  doc/man/8/rbd.rst
  qa/suites/krbd/basic/ms_mode/crc$/.qa
  qa/suites/krbd/basic/ms_mode/crc$/crc-rxbounce.yaml
  qa/suites/krbd/basic/ms_mode/crc$/crc.yaml
  qa/suites/krbd/basic/ms_mode/legacy$/.qa
  qa/suites/krbd/basic/ms_mode/legacy$/legacy-rxbounce.yaml
  qa/suites/krbd/basic/ms_mode/legacy$/legacy.yaml
  qa/suites/krbd/fsx/ms_mode$/crc-rxbounce.yaml
  qa/suites/krbd/fsx/ms_mode$/legacy-rxbounce.yaml
  qa/suites/krbd/fsx/ms_mode$/prefer-crc.yaml
  qa/suites/krbd/rbd-nomount/ms_mode/crc$/.qa
  qa/suites/krbd/rbd-nomount/ms_mode/crc$/crc-rxbounce.yaml
  qa/suites/krbd/rbd-nomount/ms_mode/crc$/crc.yaml
  qa/suites/krbd/rbd-nomount/ms_mode/legacy$/.qa
  qa/suites/krbd/rbd-nomount/ms_mode/legacy$/legacy-rxbounce.yaml
  qa/suites/krbd/rbd-nomount/ms_mode/legacy$/legacy.yaml
  qa/suites/krbd/rbd/ms_mode/crc$/.qa
  qa/suites/krbd/rbd/ms_mode/crc$/crc-rxbounce.yaml
  qa/suites/krbd/rbd/ms_mode/crc$/crc.yaml
  qa/suites/krbd/rbd/ms_mode/legacy$/.qa
  qa/suites/krbd/rbd/ms_mode/legacy$/legacy-rxbounce.yaml
  qa/suites/krbd/rbd/ms_mode/legacy$/legacy.yaml
  qa/suites/krbd/rxbounce/%
  qa/suites/krbd/rxbounce/.qa
  qa/suites/krbd/rxbounce/bluestore-bitmap.yaml
  qa/suites/krbd/rxbounce/ceph/.qa
  qa/suites/krbd/rxbounce/ceph/ceph.yaml
  qa/suites/krbd/rxbounce/clusters/.qa
  qa/suites/krbd/rxbounce/clusters/fixed-3.yaml
  qa/suites/krbd/rxbounce/conf.yaml
  qa/suites/krbd/rxbounce/tasks/.qa
  qa/suites/krbd/rxbounce/tasks/krbd_rxbounce.yaml
  qa/suites/krbd/singleton/ms_mode$/crc-rxbounce.yaml
  qa/suites/krbd/singleton/ms_mode$/legacy-rxbounce.yaml
  qa/suites/krbd/singleton/ms_mode$/prefer-crc.yaml
  qa/suites/krbd/thrash/ms_mode$/crc-rxbounce.yaml
  qa/suites/krbd/thrash/ms_mode$/legacy-rxbounce.yaml
  qa/suites/krbd/thrash/ms_mode$/prefer-crc.yaml
  qa/workunits/rbd/krbd_rxbounce.sh
  src/tools/rbd/action/Kernel.cc
Labels: feature, documentation, rbd, needs-qa, tests, krbd, octopus-batch-1, wip-yuri10-testing

#45004 octopus: krbd: return error when no initial monitor address found
  src/krbd.cc
Labels: cleanup, rbd, needs-qa, krbd, octopus-batch-1, wip-yuri10-testing

#45006 octopus: mgr/rbd_support: fix schedule remove
  qa/workunits/rbd/cli_generic.sh
  src/pybind/mgr/rbd_support/schedule.py
Labels: bug fix, rbd, needs-qa, tests, pybind, octopus-batch-1, wip-yuri10-testing

#45019 octopus: librbd: track complete async operation requests
  src/librbd/ImageWatcher.cc
  src/librbd/ImageWatcher.h
Labels: bug fix, rbd, needs-qa, octopus-batch-1, wip-yuri10-testing

#45071 octopus: qa/tasks/qemu: make sure block-rbd.so is installed
  qa/suites/rbd/singleton/all/qemu-iotests-no-cache.yaml
  qa/suites/rbd/singleton/all/qemu-iotests-writearound.yaml
  qa/suites/rbd/singleton/all/qemu-iotests-writeback.yaml
  qa/suites/rbd/singleton/all/qemu-iotests-writethrough.yaml
  qa/tasks/qemu.py
Labels: rbd, needs-qa, tests, octopus-batch-1, wip-yuri10-testing

#45110 octopus: mgr/dashboard: dashboard turns telemetry off when configuring report
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/telemetry/telemetry.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/telemetry/telemetry.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/telemetry/telemetry.component.ts
Labels: needs-qa, pybind, wip-yuri5-testing, dashboard, telemetry

#44806 octopus rgw: under fips, set flag to allow md5 in select rgw ops
  src/common/ceph_crypto.cc
  src/common/ceph_crypto.h
  src/rgw/rgw_bucket.cc
  src/rgw/rgw_crypt.cc
  src/rgw/rgw_etag_verifier.h
  src/rgw/rgw_file.h
  src/rgw/rgw_keystone.cc
  src/rgw/rgw_op.cc
  src/rgw/rgw_putobj_processor.cc
  src/rgw/rgw_rados.cc
  src/rgw/rgw_rest_swift.cc
  src/rgw/rgw_tools.h
  src/rgw/rgw_zone.cc
  src/rgw/services/svc_zone.cc
Labels: bug fix, rgw, needs-qa, common, security, backport:no-conflicts, wip-yuri10-testing

#45197 quincy: cephadm: change ceph-ci image from master to quincy
  src/cephadm/cephadm
Labels: needs-qa, wip-yuri-testing, cephadm

#45204 crimson/seastore: fix bad_alloc
  src/crimson/os/seastore/seastore.cc
Labels: crimson

#45080 doc: fix ceph-volume ref
  doc/ceph-volume/drive-group.rst
Labels: documentation, ceph-volume

#45206 octopus: backport qemu-iotests fixup for centos stream 8
  qa/workunits/rbd/qemu-iotests.sh
Labels: rbd, tests, octopus-batch-1

#44923 cephadm/box: default add hosts
  doc/dev/cephadm/developing-cephadm.rst
  src/cephadm/box/Dockerfile
  src/cephadm/box/box.py
  src/cephadm/box/host.py
  src/cephadm/box/osd.py
  src/cephadm/box/util.py
Labels: documentation, cephadm

#44976 octopus: mds: ignore unknown client op when tracking op latency
  src/mds/Server.cc
Labels: cephfs, needs-qa, wip-yuri5-testing, octopus-batch-1

#43058 mgr/prometheus: Added `avail_raw` field for Pools DF Prometheus mgr module
  src/pybind/mgr/prometheus/module.py
Labels: needs-qa, pybind, wip-yuri6-testing, monitoring

#44425 cmake: link ceph-common against gcov if coverage is enabled
  src/CMakeLists.txt
Labels: needs-qa, build/ops, wip-yuri6-testing

#44479 common: Use thread-local pointer variables to save the *shard
  src/common/mempool.cc
Labels: needs-qa, common, performance, wip-yuri6-testing

#44656 mon/ConfigMonitor: fix config get key with whitespaces
  qa/workunits/mon/config.sh
  src/mon/ConfigMonitor.cc
Labels: core, needs-qa, tests, mon, wip-yuri6-testing

#44624 octopus: mds: directly return just after responding the link request
  src/mds/Server.cc
Labels: cephfs, needs-qa, wip-yuri5-testing, octopus-batch-1

#44800 octopus: mgr/volumes: A few volumes plugin backport
  qa/tasks/cephfs/test_volumes.py
  src/pybind/mgr/mgr_util.py
  src/pybind/mgr/tox.ini
  src/pybind/mgr/volumes/fs/async_cloner.py
  src/pybind/mgr/volumes/fs/async_job.py
  src/pybind/mgr/volumes/fs/operations/versions/subvolume_v1.py
  src/pybind/mgr/volumes/fs/operations/versions/subvolume_v2.py
  src/pybind/mgr/volumes/fs/operations/volume.py
  src/pybind/mgr/volumes/fs/purge_queue.py
  src/pybind/mgr/volumes/fs/volume.py
  src/pybind/mgr/volumes/module.py
Labels: cephfs, needs-qa, TESTED

#45207 rgw: adding OPT_DATA_SYNC_RUN to gc_ops_list so that gc gets
  src/rgw/rgw_admin.cc
Labels: bug fix, rgw

#45216 ceph-volume: fix generic activate
  src/ceph-volume/ceph_volume/activate/main.py
Labels: ceph-volume

#45209 doc/start: alphabetize hardware-recs links
  doc/start/hardware-recommendations.rst
Labels: documentation

#45219 doc: document "ceph config get <who> <option>"
  doc/rados/configuration/ceph-conf.rst
Labels: documentation, core

#45222 cmake: use string(JOIN ..) to compose URL for boost download
  cmake/modules/BuildBoost.cmake
Labels: cleanup, build/ops

#45165 quincy: mgr/volumes: A few mgr/volumes backports
  qa/tasks/cephfs/test_volumes.py
  src/pybind/mgr/volumes/fs/async_cloner.py
  src/pybind/mgr/volumes/fs/fs_util.py
  src/pybind/mgr/volumes/fs/volume.py
Labels: cephfs, needs-qa, tests, pybind, wip-yuri-testing, quincy-batch-1

#44439 osd: fix ObjectContextRef reference leak
  src/osd/PrimaryLogPG.cc
  src/osd/PrimaryLogPG.h
Labels: bug fix, core, needs-qa, wip-yuri4-testing

#45042 Monitor: forward report command to leader
  src/mon/Monitor.cc
Labels: core, needs-qa, mon, wip-yuri4-testing

#45239 test: osd-scrub-snaps.sh: fix expected 'missing snaps' log string
  qa/standalone/scrub/osd-scrub-snaps.sh
Labels: core, tests

#45140 osd: require osd_pg_max_concurrent_snap_trims > 0
  src/common/options/global.yaml.in
  src/osd/PrimaryLogPG.cc
  src/osd/SnapMapper.cc
Labels: core, common

#45232 quincy: ceph-volume: fix generic activate
  src/ceph-volume/ceph_volume/activate/main.py
Labels: ceph-volume

#45145 quincy: ceph-volume: abort when passed devices have partitions
  src/ceph-volume/ceph_volume/devices/lvm/common.py
  src/ceph-volume/ceph_volume/tests/devices/lvm/test_batch.py
  src/ceph-volume/ceph_volume/tests/util/test_arg_validators.py
  src/ceph-volume/ceph_volume/util/arg_validators.py
  src/ceph-volume/ceph_volume/util/device.py
Labels: ceph-volume

#45147 octopus: ceph-volume: abort when passed devices have partitions
  src/ceph-volume/ceph_volume/devices/lvm/common.py
  src/ceph-volume/ceph_volume/tests/devices/lvm/test_batch.py
  src/ceph-volume/ceph_volume/tests/util/test_arg_validators.py
  src/ceph-volume/ceph_volume/util/arg_validators.py
  src/ceph-volume/ceph_volume/util/device.py
Labels: ceph-volume

#45169 octopus: rbd-mirror: make mirror properly detect pool replayer needs restart
  src/tools/rbd_mirror/PoolReplayer.cc
Labels: rbd, needs-qa, octopus-batch-1, wip-yuri11-testing

#44959 pacific: mon: Abort device health when device not found
  src/mon/Monitor.cc
  src/mon/MonitorDBStore.h
  systemd/ceph-mon@.service.in
Labels: core, needs-qa, mon, wip-yuri3-testing

#45111 pacific: mgr/dashboard: dashboard turns telemetry off when configuring report
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/telemetry/telemetry.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/telemetry/telemetry.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/telemetry/telemetry.component.ts
Labels: needs-qa, pybind, wip-yuri3-testing, dashboard, telemetry

#45151 pacific: mgr/devicehealth: skip null pages when extracting wear level
  src/pybind/mgr/devicehealth/module.py
Labels: core, needs-qa, pybind, mgr, wip-yuri3-testing

#45255 .github/pull_request_template.md: added test windows command
  .github/pull_request_template.md
Labels: CI

#45258 cmake: pass RTE_DEVEL_BUILD=n when building dpdk
  cmake/modules/BuildDPDK.cmake
Labels: cleanup, build/ops, needs-quincy-backport

#45261 octopus: cmake: pass RTE_DEVEL_BUILD=n when building dpdk
  cmake/modules/BuildDPDK.cmake
Labels: build/ops, octopus-batch-1

#45253 crimson/common: specialize seastar::is_future<> for interruptible_fut…
  src/crimson/common/interruptible_future.h
  src/test/crimson/seastore/test_transaction_manager.cc
Labels: tests, crimson

#45262 pacific: cmake: pass RTE_DEVEL_BUILD=n when building dpdk
  cmake/modules/BuildDPDK.cmake
Labels: build/ops, pacific-batch-1

#45263 quincy: cmake: pass RTE_DEVEL_BUILD=n when building dpdk
  cmake/modules/BuildDPDK.cmake
Labels: build/ops, quincy-batch-1

#45202 mgr/cephadm: block removing last instance of _admin label
  src/pybind/mgr/cephadm/module.py
  src/pybind/mgr/orchestrator/_interface.py
  src/pybind/mgr/orchestrator/module.py
  src/pybind/mgr/rook/module.py
Labels: pybind, orchestrator, cephadm, rook, wip-adk-testing

#45174 mgr/cephadm: block draining last _admin host
  src/pybind/mgr/cephadm/module.py
  src/pybind/mgr/orchestrator/_interface.py
  src/pybind/mgr/orchestrator/module.py
Labels: pybind, orchestrator, cephadm, wip-adk-testing

#45231 pacific: mgr/cephadm: block removing last instance of _admin label
  src/pybind/mgr/cephadm/module.py
  src/pybind/mgr/orchestrator/_interface.py
  src/pybind/mgr/orchestrator/module.py
Labels: pybind, orchestrator, cephadm, wip-adk2-testing

#45229 pacific: mgr/cephadm: block draining last _admin host
  src/pybind/mgr/cephadm/module.py
  src/pybind/mgr/orchestrator/_interface.py
  src/pybind/mgr/orchestrator/module.py
Labels: pybind, orchestrator, cephadm, wip-adk2-testing

#45234 pacific: mgr/cephadm: extend extra_container_args to other service types
  src/python-common/ceph/deployment/drive_group.py
  src/python-common/ceph/deployment/service_spec.py
Labels: pybind, ceph-volume, cephadm, wip-adk2-testing

#44863 ceph-fuse: perform cleanup if test_dentry_handling failed
  src/ceph_fuse.cc
  src/client/Client.cc
  src/client/Client.h
Labels: cephfs, needs-qa, wip-vshankar-testing

#42001 mds,client: add new getvxattr op
  doc/cephfs/file-layouts.rst
  src/client/Client.cc
  src/client/Client.h
  src/include/ceph_fs.h
  src/mds/Server.cc
  src/mds/Server.h
  src/test/libcephfs/CMakeLists.txt
  src/test/libcephfs/vxattr.cc
Labels: documentation, cephfs, needs-qa, tests, build/ops, wip-vshankar-testing

#41397 cephfs-top: display average read/write/metadata latency
  doc/cephfs/cephfs-top.png
  doc/cephfs/cephfs-top.rst
  doc/man/8/cephfs-top.rst
  src/client/Client.cc
  src/client/Client.h
  src/include/cephfs/metrics/Types.h
  src/mds/MDSPerfMetricTypes.h
  src/mds/MetricAggregator.cc
  src/mds/MetricsHandler.cc
  src/mds/cephfs_features.h
  src/mgr/BaseMgrModule.cc
  src/mgr/MDSPerfMetricTypes.cc
  src/mgr/MDSPerfMetricTypes.h
  src/pybind/mgr/stats/fs/perf_stats.py
  src/tools/cephfs/top/cephfs-top
Labels: documentation, core, cephfs, pybind, mgr, wip-vshankar-testing

#42098 mgr/stats: be resilient to offline rank0 MDS
  qa/tasks/cephfs/test_mds_metrics.py
  src/mgr/ActivePyModules.cc
  src/mgr/ActivePyModules.h
  src/mgr/BaseMgrModule.cc
  src/mgr/DaemonServer.cc
  src/mgr/DaemonServer.h
  src/mgr/MDSPerfMetricCollector.cc
  src/mgr/MDSPerfMetricCollector.h
  src/mgr/MDSPerfMetricTypes.h
  src/mgr/MetricCollector.cc
  src/mgr/MetricCollector.h
  src/pybind/mgr/ceph_module.pyi
  src/pybind/mgr/mgr_module.py
  src/pybind/mgr/stats/fs/perf_stats.py
  src/pybind/mgr/stats/module.py
Labels: bug fix, core, cephfs, tests, pybind, mgr, wip-vshankar-testing

#45149 mgr/rbd_support: cast pool_id from int to str when collecting LevelSpec
  qa/workunits/rbd/cli_generic.sh
  src/pybind/mgr/rbd_support/schedule.py
  src/tools/rbd/action/TrashPurgeSchedule.cc
Labels: bug fix, rbd, tests, pybind, wip-dis-testing, needs-quincy-backport

#45225 RGW - Fix inverted return check
  src/rgw/rgw_rados.cc
Labels: rgw, needs-qa, needs-quincy-backport

#43858 msg/async: remove the misleading error description on read failures
  src/msg/async/ProtocolV2.cc
Labels: core, messenger

#44831 build: PREPEND -Og, not APPEND
  src/CMakeLists.txt
Labels: build/ops

#45170 pacific: rbd-mirror: make mirror properly detect pool replayer needs restart
  src/tools/rbd_mirror/PoolReplayer.cc
Labels: rbd, needs-qa, wip-yuri3-testing, pacific-batch-1

#45179 pacific: common: replace BitVector::NoInitAllocator with wrapper struct
  src/common/bit_vector.hpp
Labels: rbd, needs-qa, common, wip-yuri3-testing, pacific-batch-1

#45181 pacific: tools/rbd: expand where option rbd_default_map_options can be set
  qa/rbd/krbd_default_map_options.t
  qa/suites/krbd/ms_modeless/%
  qa/suites/krbd/ms_modeless/.qa
  qa/suites/krbd/ms_modeless/bluestore-bitmap.yaml
  qa/suites/krbd/ms_modeless/ceph/.qa
  qa/suites/krbd/ms_modeless/ceph/ceph.yaml
  qa/suites/krbd/ms_modeless/clusters/.qa
  qa/suites/krbd/ms_modeless/clusters/fixed-3.yaml
  qa/suites/krbd/ms_modeless/conf.yaml
  qa/suites/krbd/ms_modeless/tasks/.qa
  qa/suites/krbd/ms_modeless/tasks/krbd_default_map_options.yaml
  qa/suites/krbd/ms_modeless/tasks/krbd_rxbounce.yaml
  src/librbd/api/Config.cc
  src/tools/rbd/action/Kernel.cc
Labels: rbd, needs-qa, tools, wip-yuri3-testing, pacific-batch-1

#45274 crimson/osd: do_pgnls_common debug message format
  src/crimson/osd/ops_executer.cc
Labels: crimson

#44946 rgw: Fix data race in ChangeStatus
  src/rgw/rgw_datalog.cc
Labels: bug fix, rgw, needs-qa, wip-cbodley-testing, needs-quincy-backport

#44859 rgw: fix segfault in UserAsyncRefreshHandler::init_fetch
  src/rgw/services/svc_user_rados.cc
Labels: rgw, needs-qa, wip-cbodley-testing

#45212 rgw: prevent spurious/lost notifications in the index completion thread
  src/rgw/rgw_rados.cc
Labels: bug fix, rgw, needs-qa, wip-cbodley-testing

#44488 rgw: reopen ops log file on sighup
  src/rgw/rgw_log.cc
  src/rgw/rgw_log.h
  src/rgw/rgw_main.cc
Labels: rgw, needs-qa, wip-cbodley-testing

#45214 cmake/rgw: remove workaround for ancient libcurl
  CMakeLists.txt
  src/include/config-h.in.cmake
  src/rgw/rgw_http_client.cc
  src/rgw/rgw_http_client_curl.cc
Labels: cleanup, rgw, needs-qa, build/ops, wip-cbodley-testing

#45281 mgr/cephadm: fixing MDSSpec ctr
  src/pybind/mgr/cephadm/tests/test_cephadm.py
  src/python-common/ceph/deployment/service_spec.py
Labels: pybind, cephadm, wip-adk-testing

#45226 pacific: mgr/cephadm: Show an error when invalid format
  src/pybind/mgr/orchestrator/module.py
Labels: pybind, orchestrator, wip-adk2-testing

#45228 pacific: mgr/cephadm: Delete ceph.target if last cluster
  src/cephadm/cephadm
  src/cephadm/tests/test_cephadm.py
Labels: cephadm, wip-adk2-testing

#45278 crimson, cls: fix the inability to print logs from plugins.
  src/crimson/osd/objclass.cc
  src/objclass/class_api.cc
  src/osd/objclass.cc
Labels: bug fix, core, crimson

#45297 test/librbd/test_notify.py: effect post object map rebuild assert
  src/test/librbd/test_notify.py
Labels: rbd, tests, needs-quincy-backport

#45311 pacific: test/librbd/test_notify.py: effect post object map rebuild assert
  src/test/librbd/test_notify.py
Labels: rbd, tests, pacific-batch-1

#45266 admin/doc-requirements: bump sphinx to 4.4.0
  admin/doc-requirements.txt
  doc/conf.py
  src/pybind/mgr/orchestrator/_interface.py
  src/python-common/ceph/deployment/service_spec.py
Labels: documentation, build/ops, pybind, orchestrator, cephadm

#45310 doc/cephadm/adoption.rst: fix typos
  doc/cephadm/adoption.rst
Labels: documentation, cephadm

#45302 crimson/osd: fix no ENOENT when removing already removed object
  src/crimson/osd/pg_backend.cc
  src/crimson/osd/pg_backend.h
Labels: bug fix, crimson

#45272 Fix Windows build
  src/CMakeLists.txt
  src/include/win32/dlfcn.h
Labels: needs-qa, build/ops

#45318 doc/rados/operations/placement-groups: ...fix typo...
  doc/rados/operations/placement-groups.rst
Labels: documentation, core

#44913 OSD::Modify OSD Fast-Shutdown to work safely i.e. quiesce all activit…
  src/common/options/global.yaml.in
  src/os/ObjectStore.h
  src/os/bluestore/BlueFS.cc
  src/os/bluestore/BlueStore.cc
  src/os/bluestore/BlueStore.h
  src/osd/OSD.cc
  src/osd/OSD.h
Labels: core, tests, common, wip-yuri-testing, bluestore, needs-quincy-backport

#45305 docs: Updating Foundation member list for 202203
  doc/foundation.rst
Labels: documentation

#43474 crimson/os/seastore: implement Sprite LFS' gc and extent placement strategy to lower gc cost
  src/common/options/crimson.yaml.in
  src/crimson/common/interruptible_future.h
  src/crimson/os/seastore/cache.cc
  src/crimson/os/seastore/cache.h
  src/crimson/os/seastore/cached_extent.h
  src/crimson/os/seastore/extent_placement_manager.cc
  src/crimson/os/seastore/extent_placement_manager.h
  src/crimson/os/seastore/extent_reader.cc
  src/crimson/os/seastore/extent_reader.h
  src/crimson/os/seastore/journal.h
  src/crimson/os/seastore/journal/segment_allocator.cc
  src/crimson/os/seastore/journal/segment_allocator.h
  src/crimson/os/seastore/journal/segmented_journal.cc
  src/crimson/os/seastore/lba_manager/btree/lba_btree.cc
  src/crimson/os/seastore/seastore_types.cc
  src/crimson/os/seastore/seastore_types.h
  src/crimson/os/seastore/segment_cleaner.cc
  src/crimson/os/seastore/segment_cleaner.h
  src/crimson/os/seastore/segment_manager.h
  src/crimson/os/seastore/transaction_manager.cc
  src/test/crimson/seastore/test_btree_lba_manager.cc
  src/test/crimson/seastore/test_seastore_journal.cc
Labels: tests, common, crimson

#45330 doc/cephfs: fix typos
  doc/dev/mds_internals/locking.rst
Labels: documentation

#45301 pacific: mgr/dashboard: fix white screen on Safari
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/hosts/host-form/host-form.component.ts
Labels: dashboard, backport:no-conflicts

#45328 pacfic: doc/rados/operations/placement-groups: fix --bulk docs
  doc/rados/operations/placement-groups.rst
Labels: documentation, core

#45200 osd/osd_types: pg_num_max reordering
  qa/suites/upgrade/pacific-x/parallel/0-start.yaml
  src/mon/OSDMonitor.cc
  src/osd/osd_types.cc
  src/osd/osd_types.h
  src/pybind/mgr/pg_autoscaler/module.py
Labels: core, needs-qa, pybind, mon, wip-yuri4-testing, needs-quincy-backport

#44924 octopus: mgr/dashboard: fix Grafana OSD/host panels
  doc/mgr/prometheus.rst
  monitoring/grafana/dashboards/host-details.json
  monitoring/grafana/dashboards/hosts-overview.json
  monitoring/grafana/dashboards/osd-device-details.json
  src/pybind/mgr/dashboard/cherrypy_backports.py
  src/pybind/mgr/prometheus/module.py
  src/pybind/mgr/prometheus/test_module.py
  src/pybind/mgr/requirements.txt
  src/pybind/mgr/tox.ini
Labels: bug fix, dashboard, ready-to-merge

#44763 octopus: mgr/dashboard: Notification banners at the top of the UI have fixed height
  src/pybind/mgr/dashboard/frontend/src/app/core/layouts/workbench-layout/workbench-layout.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/core/navigation/navigation/navigation.component.html
  src/pybind/mgr/dashboard/frontend/src/app/core/navigation/navigation/navigation.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/motd/motd.component.html
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/motd/motd.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/pwd-expiration-notification/pwd-expiration-notification.component.html
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/pwd-expiration-notification/pwd-expiration-notification.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/pwd-expiration-notification/pwd-expiration-notification.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/pwd-expiration-notification/pwd-expiration-notification.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/telemetry-notification/telemetry-notification.component.html
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/telemetry-notification/telemetry-notification.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/telemetry-notification/telemetry-notification.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/telemetry-notification/telemetry-notification.component.ts
  src/pybind/mgr/dashboard/frontend/src/styles/defaults.scss
Labels: pybind, dashboard

#44925 balancer: Improve performance in rare cases
  src/common/options/global.yaml.in
  src/osd/OSDMap.cc
Labels: core, needs-qa, common, performance, wip-yuri3-testing

#45034 qa/tasks/cephadm: Make hostname change idempotent
  qa/tasks/cephadm.py
Labels: needs-qa, tests, cephadm

#45334 qa/suites: clean up client-upgrade-octopus-pacific test
  qa/suites/upgrade-clients/client-upgrade-octopus-pacific/octopus-client-x/rbd/.qa
  qa/suites/upgrade-clients/client-upgrade-octopus-pacific/octopus-client-x/rbd/0-cluster/start.yaml
  qa/suites/upgrade-clients/client-upgrade-octopus-pacific/octopus-client-x/rbd/1-install/octopus-client-x.yaml
  qa/suites/upgrade-clients/client-upgrade-octopus-pacific/octopus-client-x/rbd/2-features/.qa
  qa/suites/upgrade-clients/client-upgrade-octopus-pacific/octopus-client-x/rbd/2-features/defaults.yaml
  qa/suites/upgrade-clients/client-upgrade-octopus-pacific/octopus-client-x/rbd/2-features/layering.yaml
  qa/suites/upgrade-clients/client-upgrade-octopus-pacific/octopus-client-x/rbd/2-workload/.qa
  qa/suites/upgrade-clients/client-upgrade-octopus-pacific/octopus-client-x/rbd/2-workload/rbd_notification_tests.yaml
Labels: rbd, needs-qa, tests

#44697 pacific: rgw: Dump Object Lock Retain Date as ISO 8601
  src/rgw/rgw_rest_s3.cc
Labels: rgw, needs-qa, wip-yuri2-testing

#44778 pacific: rgw: under fips, set flag to allow md5 in select rgw ops
  src/common/ceph_crypto.cc
  src/common/ceph_crypto.h
  src/rgw/rgw_bucket.cc
  src/rgw/rgw_crypt.cc
  src/rgw/rgw_etag_verifier.h
  src/rgw/rgw_file.h
  src/rgw/rgw_keystone.cc
  src/rgw/rgw_op.cc
  src/rgw/rgw_putobj_processor.cc
  src/rgw/rgw_rados.cc
  src/rgw/rgw_rest_swift.cc
  src/rgw/rgw_tools.h
  src/rgw/rgw_zone.cc
  src/rgw/services/svc_zone.cc
Labels: bug fix, rgw, needs-qa, common, wip-yuri2-testing, security, backport:no-conflicts

#45060 pacific: RGW - Zipper - Make sure PostObj has bucket set
  src/rgw/rgw_op.cc
Labels: rgw, needs-qa, wip-yuri2-testing

#45087 pacific: rgw: resolve empty ordered bucket listing results w/ CLS filtering *and* bucket index list produces incorrect result when non-ascii entries
  src/cls/rgw/cls_rgw.cc
  src/cls/rgw/cls_rgw_client.cc
  src/cls/rgw/cls_rgw_client.h
  src/cls/rgw/cls_rgw_const.h
  src/cls/rgw/cls_rgw_ops.h
  src/cls/rgw/cls_rgw_types.h
  src/rgw/rgw_admin.cc
  src/rgw/rgw_rados.cc
  src/rgw/rgw_reshard.cc
  src/test/cls_rgw/test_cls_rgw.cc
Labels: feature, bug fix, rgw, needs-qa, tests, wip-yuri2-testing

#45245 pacific: qa/rgw: use symlinks for rgw/sts suite, target supported-random-distro$
  qa/suites/rgw/sts/centos_latest.yaml
  qa/suites/rgw/sts/cluster.yaml
  qa/suites/rgw/sts/clusters/fixed-2.yaml
  qa/suites/rgw/sts/frontend/civetweb.yaml
  qa/suites/rgw/sts/objectstore.yaml
  qa/suites/rgw/sts/objectstore/bluestore-bitmap.yaml
  qa/suites/rgw/sts/objectstore/filestore-xfs.yaml
  qa/suites/rgw/sts/pool-type.yaml
  qa/suites/rgw/sts/rgw_frontend
  qa/suites/rgw/sts/rgw_pool_type/ec-profile.yaml
  qa/suites/rgw/sts/rgw_pool_type/ec.yaml
  qa/suites/rgw/sts/rgw_pool_type/replicated.yaml
  qa/suites/rgw/sts/supported-random-distro$
  qa/suites/rgw/sts/tasks/0-install.yaml
Labels: rgw, needs-qa, tests, wip-yuri2-testing

#44827 qa/tests: added quincy and removed master runs
  qa/crontab/teuthology-cronjobs
Labels: tests

#45343 RGW - Get quota on OPs with a bucket
  src/rgw/rgw_op.cc
Labels: rgw, needs-qa

#45321 quincy: doc/rados/operations/placement-groups: fix --bulk docs
  doc/rados/operations/placement-groups.rst
Labels: documentation, core, needs-review

#45316 pacific: doc/start: remove osd stub from hardware recs
  doc/start/hardware-recommendations.rst
Labels: documentation

#45378 doc/dev: s/tchaikov/ceph/
  doc/dev/continuous-integration.rst
Labels: documentation

#45317 vstart.sh: disable pg-autoscaling for crimson-osd
  src/vstart.sh
Labels: crimson

#45078 mon/MonCommands.h: fix target_size_ratio range
  qa/workunits/cephtool/test.sh
  qa/workunits/mon/pg_autoscaler.sh
  src/mon/MonCommands.h
  src/mon/OSDMonitor.cc
Labels: core, tests, wip-yuri-testing, mon

#45337 osd/scrub: add scrub duration to pg stats
  src/osd/osd_types.cc
  src/osd/osd_types.h
  src/osd/scrubber/pg_scrubber.cc
Labels: core, needs-qa, mon, wip-yuri3-testing, needs-quincy-backport

#45362 doc: Add note to osds_per_device description about dual-actuator devices
  src/python-common/ceph/deployment/drive_group.py
Labels: pybind, ceph-volume, cephadm

#44912 crimson/os/seastore: extract fixed kv btree implementation out of lba manager
  src/crimson/os/seastore/CMakeLists.txt
  src/crimson/os/seastore/btree/btree_range_pin.h
  src/crimson/os/seastore/btree/fixed_kv_btree.h
  src/crimson/os/seastore/btree/fixed_kv_node.h
  src/crimson/os/seastore/cached_extent.cc
  src/crimson/os/seastore/cached_extent.h
  src/crimson/os/seastore/lba_manager/btree/btree_lba_manager.cc
  src/crimson/os/seastore/lba_manager/btree/btree_lba_manager.h
  src/crimson/os/seastore/lba_manager/btree/btree_range_pin.cc
  src/crimson/os/seastore/lba_manager/btree/btree_range_pin.h
  src/crimson/os/seastore/lba_manager/btree/lba_btree.cc
  src/crimson/os/seastore/lba_manager/btree/lba_btree.h
  src/crimson/os/seastore/lba_manager/btree/lba_btree_node.cc
  src/crimson/os/seastore/lba_manager/btree/lba_btree_node.h
  src/crimson/os/seastore/object_data_handler.cc
  src/crimson/os/seastore/seastore_types.h
  src/crimson/os/seastore/transaction_manager.cc
  src/test/crimson/seastore/test_btree_lba_manager.cc
Labels: tests, build/ops, crimson

#45348 crimson: add CEPH_OSD_OP_ASSERT_VER
  src/crimson/osd/ops_executer.cc
  src/crimson/osd/ops_executer.h
Labels: feature, crimson

#45290 mgr/volumes: the 'mode' should honor idempotent subvolume creation
  qa/tasks/cephfs/test_volumes.py
  src/pybind/mgr/volumes/fs/operations/versions/subvolume_base.py
  src/pybind/mgr/volumes/fs/volume.py
Labels: cephfs, needs-qa, tests, pybind

#45194 pacific: osd/scrub: stop sending bogus digest-update events
  src/osd/PrimaryLogScrub.cc
Labels: core, needs-qa

#45365 pacific: osd/scrub: only telling the scrubber of awaited-for 'updates' events
  src/messages/MOSDRepScrub.h
  src/osd/PrimaryLogPG.cc
  src/osd/PrimaryLogScrub.cc
  src/osd/PrimaryLogScrub.h
  src/osd/pg_scrubber.cc
  src/osd/pg_scrubber.h
  src/osd/scrub_machine.cc
  src/osd/scrub_machine.h
  src/osd/scrub_machine_lstnr.h
  src/osd/scrubber_common.h
Labels: core, needs-qa

#45104 Add mapping for ernno:13 and adding path in error msg in opendir()/cephfs.pyx
  src/pybind/cephfs/cephfs.pyx
Labels: cephfs, pybind, ready-to-merge, needs-quincy-backport, wip-vshankar-testing1

#45190 mgr/dashboard: retrieve disk status
  src/pybind/mgr/dashboard/controllers/osd.py
  src/pybind/mgr/dashboard/tests/test_osd.py
Labels: pybind, dashboard, api-change

#44751 mgr/cephadm: introduce centralized logging in Dashboard using Loki and Promtail
  src/cephadm/cephadm
  src/cephadm/tox.ini
  src/pybind/mgr/cephadm/module.py
  src/pybind/mgr/cephadm/services/monitoring.py
  src/pybind/mgr/cephadm/templates/services/grafana/ceph-dashboard.yml.j2
  src/pybind/mgr/cephadm/templates/services/loki.yml.j2
  src/pybind/mgr/cephadm/templates/services/promtail.yml.j2
  src/pybind/mgr/cephadm/tests/test_services.py
  src/pybind/mgr/cephadm/utils.py
  src/pybind/mgr/orchestrator/_interface.py
  src/pybind/mgr/orchestrator/module.py
  src/pybind/mgr/tox.ini
  src/python-common/ceph/deployment/service_spec.py
Labels: pybind, mgr, orchestrator, monitoring, cephadm

#44843 mgr/dashboard: fix columns in host table with NaN Undefined
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/hosts/hosts.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/hosts/hosts.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/pipes/empty.pipe.ts
Labels: pybind, dashboard, skip-teuthology

#45218 mgr/dashboard: highlight the search text in cluster logs
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/logs/logs.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/logs/logs.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/pipes/pipes.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/pipes/search-highlight.pipe.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/pipes/search-highlight.pipe.ts
Labels: pybind, dashboard, ready-to-merge

#45176 crimson: teuthology suite for seastore
  qa/suites/crimson-rados/seastore/basic/%
  qa/suites/crimson-rados/seastore/basic/.qa
  qa/suites/crimson-rados/seastore/basic/centos_latest.yaml
  qa/suites/crimson-rados/seastore/basic/clusters/.qa
  qa/suites/crimson-rados/seastore/basic/clusters/fixed-1.yaml
  qa/suites/crimson-rados/seastore/basic/clusters/fixed-2.yaml
  qa/suites/crimson-rados/seastore/basic/deploy/.qa
  qa/suites/crimson-rados/seastore/basic/deploy/ceph.yaml
  qa/suites/crimson-rados/seastore/basic/objectstore/.qa
  qa/suites/crimson-rados/seastore/basic/objectstore/seastore.yaml
  qa/suites/crimson-rados/seastore/basic/tasks/.qa
  qa/suites/crimson-rados/seastore/basic/tasks/readwrite.yaml
  src/common/options/crimson.yaml.in
  src/crimson/os/seastore/seastore_types.h
Labels: tests, common, build/ops, crimson

#45403 crimson: fix set_reply_versions missing
  src/crimson/osd/pg.cc
Labels: crimson

#45237 quincy: mgr/prometheus: Added `avail_raw` field for Pools DF Prometheus mgr module
  src/pybind/mgr/prometheus/module.py
Labels: needs-qa, pybind, wip-yuri2-testing, monitoring

#45322 quincy: osd: require osd_pg_max_concurrent_snap_trims > 0
  src/common/options/global.yaml.in
  src/osd/PrimaryLogPG.cc
  src/osd/SnapMapper.cc
Labels: core, needs-qa, common, wip-yuri2-testing

#45342 quincy: OSD::Modify OSD Fast-Shutdown to work safely i.e. quiesce all activit…
  src/common/options/global.yaml.in
  src/os/ObjectStore.h
  src/os/bluestore/BlueFS.cc
  src/os/bluestore/BlueStore.cc
  src/os/bluestore/BlueStore.h
  src/osd/OSD.cc
  src/osd/OSD.h
Labels: core, needs-qa, common, wip-yuri2-testing, bluestore

#45271 crimson/seastore: add OP_RMATTR support
  src/crimson/os/seastore/seastore.cc
  src/crimson/os/seastore/seastore.h
  src/test/crimson/seastore/test_seastore.cc
Labels: tests, crimson

#44795 mgr/nfs: allow dynamic update of cephfs nfs export
  qa/tasks/cephfs/test_nfs.py
  src/pybind/mgr/nfs/export.py
Labels: cephfs, needs-qa, tests, pybind, mgr, wip-vshankar-testing, nfs

#40703 rgwlc: remove explicit lc shard resets at start-of-run
  src/cls/rgw/cls_rgw_types.h
  src/common/options/rgw.yaml.in
  src/rgw/rgw_admin.cc
  src/rgw/rgw_lc.cc
  src/rgw/rgw_lc.h
  src/rgw/rgw_sal.h
  src/rgw/rgw_sal_rados.cc
Labels: bug fix, rgw, common, build/ops

#45103 osd: allow sparse reads with a non-zero truncate-seq
  src/include/rados/librados.hpp
  src/librados/librados_cxx.cc
  src/osd/PrimaryLogPG.cc
  src/osdc/Objecter.h
  src/test/librados/io_cxx.cc
  src/test/librados_test_stub/LibradosTestStub.cc
Labels: core, needs-qa, tests, wip-yuri3-testing, needs-quincy-backport

#45391 rgwlc: fix segfault during lc
  src/rgw/rgw_lc.cc
Labels: bug fix, rgw, needs-qa, wip-cbodley-testing

#45331 quincy: ceph-fuse: perform cleanup if test_dentry_handling failed
  src/ceph_fuse.cc
  src/client/Client.cc
  src/client/Client.h
Labels: cephfs, needs-qa, wip-yuri2-testing

#45300 rgw: Update "CEPH_RGW_DIR_SUGGEST_LOG_OP" for remove entries
  src/rgw/rgw_rados.cc
Labels: bug fix, rgw

#45345 cls/rgw: rgw_dir_suggest_changes detects race with completion
  src/cls/rgw/cls_rgw.cc
  src/test/cls_rgw/test_cls_rgw.cc
Labels: bug fix, rgw, needs-qa, tests, wip-cbodley-testing

#45315 quincy: RGW - Fix inverted return check
  src/rgw/rgw_rados.cc
Labels: rgw, needs-qa, wip-yuri2-testing

#44835 mgr/dashboard: BDD approach for the dashboard cephadm e2e
  src/pybind/mgr/dashboard/ci/cephadm/run-cephadm-e2e-tests.sh
  src/pybind/mgr/dashboard/frontend/.gherkin-lintrc
  src/pybind/mgr/dashboard/frontend/cypress/integration/cluster/create-cluster.po.ts
  src/pybind/mgr/dashboard/frontend/cypress/integration/cluster/hosts.po.ts
  src/pybind/mgr/dashboard/frontend/cypress/integration/common/01-global.feature.po.ts
  src/pybind/mgr/dashboard/frontend/cypress/integration/common/create-cluster/create-cluster.feature.po.ts
  src/pybind/mgr/dashboard/frontend/cypress/integration/common/urls.po.ts
  src/pybind/mgr/dashboard/frontend/cypress/integration/orchestrator/workflow/01-create-cluster-welcome-page.e2e-spec.ts
  src/pybind/mgr/dashboard/frontend/cypress/integration/orchestrator/workflow/01-create-cluster-welcome.feature
  src/pybind/mgr/dashboard/frontend/cypress/integration/orchestrator/workflow/02-create-cluster-add-host.e2e-spec.ts
  src/pybind/mgr/dashboard/frontend/cypress/integration/orchestrator/workflow/02-create-cluster-add-host.feature
  src/pybind/mgr/dashboard/frontend/cypress/integration/orchestrator/workflow/03-create-cluster-create-services.e2e-spec.ts
  src/pybind/mgr/dashboard/frontend/cypress/integration/orchestrator/workflow/04-create-cluster-create-osds.e2e-spec.ts
  src/pybind/mgr/dashboard/frontend/cypress/integration/orchestrator/workflow/05-create-cluster-review.e2e-spec.ts
  src/pybind/mgr/dashboard/frontend/cypress/integration/orchestrator/workflow/06-cluster-check.e2e-spec.ts
  src/pybind/mgr/dashboard/frontend/cypress/integration/orchestrator/workflow/07-osds.e2e-spec.ts
  src/pybind/mgr/dashboard/frontend/cypress/integration/orchestrator/workflow/08-hosts.e2e-spec.ts
  src/pybind/mgr/dashboard/frontend/cypress/integration/orchestrator/workflow/09-services.e2e-spec.ts
  src/pybind/mgr/dashboard/frontend/cypress/integration/orchestrator/workflow/10-nfs-exports.e2e-spec.ts
  src/pybind/mgr/dashboard/frontend/cypress/integration/orchestrator/workflow/nfs/nfs-export.po.ts
  src/pybind/mgr/dashboard/frontend/cypress/integration/ui/api-docs.e2e-spec.ts
  src/pybind/mgr/dashboard/frontend/cypress/plugins/index.js
  src/pybind/mgr/dashboard/frontend/cypress/support/commands.ts
  src/pybind/mgr/dashboard/frontend/package-lock.json
  src/pybind/mgr/dashboard/frontend/package.json
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/create-cluster/create-cluster.component.html
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/form-button-panel/form-button-panel.component.html
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/submit-button/submit-button.component.html
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/submit-button/submit-button.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/datatable/table-actions/table-actions.component.html
Labels: pybind, dashboard

#45363 quincy: osd/osd_types: pg_num_max reordering
  qa/suites/upgrade/pacific-x/parallel/0-start.yaml
  src/mon/OSDMonitor.cc
  src/osd/osd_types.cc
  src/osd/osd_types.h
  src/pybind/mgr/pg_autoscaler/module.py
Labels: core, needs-qa, pybind, mon, wip-yuri3-testing

#45396 quincy: mon/MonCommands.h: fix target_size_ratio range
  qa/workunits/cephtool/test.sh
  qa/workunits/mon/pg_autoscaler.sh
  src/mon/MonCommands.h
  src/mon/OSDMonitor.cc
Labels: core, needs-qa, tests, mon, wip-yuri3-testing

#45471 quincy: osd/scrub: add scrub duration to pg stats
  src/osd/osd_types.cc
  src/osd/osd_types.h
  src/osd/scrubber/pg_scrubber.cc
Labels: core, needs-qa, wip-yuri3-testing

#45518 crimson: set returned read length in op.extent.length not in rval
  src/crimson/osd/pg_backend.cc
Labels: crimson

#45517 crimson: let read operation return result in MOSDOpReply
  src/crimson/osd/pg.cc
Labels: crimson

#45525 qa/workunits/rbd/cli_generic.sh: relax trash purge schedule status assert
  qa/workunits/rbd/cli_generic.sh
Labels: rbd, tests, wip-dis-testing, needs-quincy-backport

#45050 common/compressor: fix the issue that cannot processed concurrently
  src/common/options/global.yaml.in
  src/compressor/CMakeLists.txt
  src/compressor/Compressor.cc
  src/compressor/Compressor.h
  src/compressor/QatAccel.cc
  src/compressor/QatAccel.h
Labels: common, build/ops

#45415 crimson/osd: fix osd crash due to buffer reference binding
  src/crimson/osd/watch.cc
Labels: bug fix, crimson

#45221 core, test: fix compile-time warnings
  src/test/cls_lua/test_cls_lua.cc
  src/test/librados/aio_cxx.cc
Labels: cleanup, needs-qa, tests, wip-yuri4-testing

#45285 test/librbd: add test to verify diff_iterate size
  src/test/librbd/test_librbd.cc
Labels: rbd, tests, wip-dis-testing

#45353 librbd: readv/writev fix iovecs length computation overflow
  src/librbd/librbd.cc
  src/test/librbd/test_librbd.cc
Labels: bug fix, rbd, tests, wip-dis-testing, needs-quincy-backport

#45360 mgr/dashboard: fix wrong pg status processing
  src/pybind/mgr/dashboard/frontend/src/app/ceph/shared/pg-category.service.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/shared/pg-category.service.ts
Labels: pybind, dashboard

#45506 RGW - Make admin bucket chown accept marker
  src/rgw/rgw_admin.cc
Labels: rgw, needs-qa

#45420 cephadm: infer the default container image during pull
  src/cephadm/cephadm
  src/cephadm/tests/test_cephadm.py
Labels: cephadm, wip-adk-testing

#45205 pacific: mgr/volumes: A few mgr volumes pacific backports
  qa/tasks/cephfs/test_volumes.py
  src/pybind/mgr/volumes/fs/async_cloner.py
  src/pybind/mgr/volumes/fs/fs_util.py
  src/pybind/mgr/volumes/fs/volume.py
Labels: cephfs, needs-qa, tests, pybind, pacific-batch-1, wip-yuri10-testing

#45227 pacific: mgr/cephadm: validating service_id for MDS
  src/pybind/mgr/cephadm/tests/test_cephadm.py
  src/pybind/mgr/mds_autoscaler/module.py
  src/pybind/mgr/orchestrator/_interface.py
  src/pybind/mgr/orchestrator/module.py
  src/python-common/ceph/deployment/service_spec.py
  src/python-common/ceph/tests/test_service_spec.py
Labels: cephfs, needs-qa, pybind, orchestrator, cephadm, pacific-batch-1, wip-yuri10-testing

#45351 pacific: ceph-fuse: perform cleanup if test_dentry_handling failed
  src/ceph_fuse.cc
  src/client/Client.cc
  src/client/Client.h
Labels: cephfs, needs-qa, wip-yuri10-testing

#45533 mgr/dashboard/monitoring: update grafana version
  monitoring/grafana/build/Makefile
Labels: dashboard, monitoring
