Repository ceph/ceph, pull requests merged in 2022-11, with the labels that each got.

#48684 doc/dev: alphabetize EC glossary
  doc/dev/osd_internals/erasure_coding.rst
Labels: documentation

#48685 quincy: doc/dev: alphabetize EC glossary
  doc/dev/osd_internals/erasure_coding.rst
Labels: documentation

#48686 pacific: doc/dev: alphabetize EC glossary
  doc/dev/osd_internals/erasure_coding.rst
Labels: documentation

#48687 doc/radosgw: fix command error blank
  doc/radosgw/admin.rst
Labels: documentation

#48699 doc/dev: refine erasure_coding.rst
  doc/dev/osd_internals/erasure_coding.rst
Labels: documentation

#48700 quincy: doc/dev: refine erasure_coding.rst
  doc/dev/osd_internals/erasure_coding.rst
Labels: documentation

#48701 pacific: doc/dev: refine erasure_coding.rst
  doc/dev/osd_internals/erasure_coding.rst
Labels: documentation

#48712 doc/cephadm: fix grammar in compatibility.rst
  doc/cephadm/compatibility.rst
Labels: documentation, cephadm

#48714 quincy: doc/cephadm: fix grammar in compatibility.rst
  doc/cephadm/compatibility.rst
Labels: documentation, cephadm

#48715 pacific: doc/cephadm: fix grammar in compatibility.rst
  doc/cephadm/compatibility.rst
Labels: documentation, cephadm

#48661 common: Fix build with GCC 13 (missing <cstdint> include)
  src/common/subsys_types.h
Labels: common

#48723 quincy: doc/cephadm: arrange "listing hosts" section
  doc/cephadm/host-management.rst
Labels: documentation, cephadm

#48724 pacific: doc/cephadm: arrange "listing hosts" section
  doc/cephadm/host-management.rst
Labels: documentation, cephadm

#48725 quincy: doc/cephadm: alphabetize external tools list
  doc/cephadm/index.rst
Labels: documentation, cephadm

#48111 cephfs-top: addition of sort feature and limit option
  doc/cephfs/cephfs-top.png
  doc/cephfs/cephfs-top.rst
  src/tools/cephfs/top/cephfs-top
Labels: documentation, cephfs

#48716 crimson/os/alienstore: parse crimson_alien_thread_cpu_cores in cpuset(7)'s list format
  src/common/options/crimson.yaml.in
  src/crimson/os/alienstore/alien_store.cc
  src/crimson/os/alienstore/alien_store.h
  src/crimson/os/alienstore/thread_pool.cc
  src/crimson/os/alienstore/thread_pool.h
  src/test/crimson/test_alienstore_thread_pool.cc
Labels: tests, common, crimson

#48736 doc/cephadm: improve lone sentence
  doc/cephadm/host-management.rst
Labels: documentation, cephadm

#48737 quincy: doc/cephadm: improve lone sentence
  doc/cephadm/host-management.rst
Labels: documentation, cephadm

#48739 doc/dev: improve lone sentence
  doc/dev/developer_guide/basic-workflow.rst
Labels: documentation

#48740 quincy: doc/dev: improve lone sentence
  doc/dev/developer_guide/basic-workflow.rst
Labels: documentation

#48741 doc/dev: improve lone sentence
  doc/dev/developer_guide/basic-workflow.rst
Labels: documentation

#48666 cephfs-top: add version in header
  doc/cephfs/cephfs-top.png
  src/tools/cephfs/top/cephfs-top
Labels: documentation, cephfs

#48744 doc/glosary.rst: add "Ceph Block Device" term
  doc/glossary.rst
Labels: documentation

#48746 quincy: doc/glosary.rst: add "Ceph Block Device" term
  doc/glossary.rst
Labels: documentation

#48745 pacific: doc/glosary.rst: add "Ceph Block Device" term
  doc/glossary.rst
Labels: documentation

#48747 doc/glossary.rst: add "Ceph Dashboard" term
  doc/glossary.rst
Labels: documentation

#48750 doc/glossary: improve wording
  doc/glossary.rst
Labels: documentation

#48751 quincy: doc/glossary: improve wording
  doc/glossary.rst
Labels: documentation

#48752 pacific: doc/glossary: improve wording
  doc/glossary.rst
Labels: documentation

#48748 quincy: doc/glossary.rst: add "Ceph Dashboard" term
  doc/glossary.rst
Labels: documentation

#48749 pacific: doc/glossary.rst: add "Ceph Dashboard" term
  doc/glossary.rst
Labels: documentation

#48753 doc/glossary.rst: remove old front matter
  doc/glossary.rst
Labels: documentation

#48754 doc/glossary.rst: remove old front matter
  doc/glossary.rst
Labels: documentation

#48755 pacific: doc/glossary.rst: remove old front matter
  doc/glossary.rst
Labels: documentation

#48757 doc/glossary: define "OSD"
  doc/glossary.rst
  doc/man/8/ceph-osd.rst
Labels: documentation, core

#48760 doc/glossary: define "OSD"
  doc/glossary.rst
  doc/man/8/ceph-osd.rst
Labels: documentation, core

#48759 doc/glossary: define "OSD"
  doc/glossary.rst
  doc/man/8/ceph-osd.rst
Labels: documentation, core

#48693 crimson/os/seastore/segment_manager/block: get block device size
  src/crimson/os/seastore/segment_manager/block.cc
Labels: crimson

#48538 ceph-mixin: Add Prometheus Alert for Degraded Bond
  monitoring/ceph-mixin/prometheus_alerts.libsonnet
  monitoring/ceph-mixin/prometheus_alerts.yml
  monitoring/ceph-mixin/tests_alerts/test_alerts.yml
Labels: dashboard, monitoring

#48616 mgr/dashboard: bug fixes for rbd mirroring edit and promotion/demotion
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-form/rbd-form.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-form/rbd-form.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-list/rbd-list.component.ts
Labels: pybind, dashboard

#48763 doc/glossary.rst: define "Ceph Manager"
  doc/glossary.rst
Labels: documentation

#48764 quincy: doc/glossary.rst: define "Ceph Manager"
  doc/glossary.rst
Labels: documentation

#48765 pacific: doc/glossary.rst: define "Ceph Manager"
  doc/glossary.rst
Labels: documentation

#48022 mgr/dashboard: paginate services
  src/pybind/mgr/dashboard/controllers/_paginate.py
  src/pybind/mgr/dashboard/controllers/rbd.py
  src/pybind/mgr/dashboard/controllers/service.py
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/services/service-daemon-list/service-daemon-list.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/services/service-daemon-list/service-daemon-list.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/services/service-form/service-form.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/services/service-form/service-form.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/services/services.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/services/services.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/services/services.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/ceph-service.service.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/paginate.model.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/models/cd-table-fetch-data-context.ts
  src/pybind/mgr/dashboard/openapi.yaml
  src/pybind/mgr/dashboard/services/_paginate.py
  src/pybind/mgr/dashboard/services/orchestrator.py
  src/pybind/mgr/dashboard/services/rbd.py
Labels: pybind, dashboard, api-change

#48768 doc/glossary: define "Ceph OSD"
  doc/glossary.rst
Labels: documentation

#48774 doc/glossary: add "BlueStore"
  doc/glossary.rst
  doc/rados/configuration/storage-devices.rst
Labels: documentation, core

#48775 doc/glossary: link to OSD material
  doc/glossary.rst
  doc/rados/configuration/storage-devices.rst
Labels: documentation, core

#48770 quincy: doc/glossary: define "Ceph OSD"
  doc/glossary.rst
Labels: documentation

#48777 quincy: doc/glossary: add "BlueStore"
  doc/glossary.rst
  doc/rados/configuration/storage-devices.rst
Labels: documentation, core

#48778 pacific: doc/glossary: add "BlueStore"
  doc/glossary.rst
  doc/rados/configuration/storage-devices.rst
Labels: documentation, core

#48137 mgr/dashboard: improve level AA color contrast accessibility for dashboard pages and components
  src/pybind/mgr/dashboard/frontend/src/app/ceph/dashboard/health/health.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/ceph/dashboard/info-card/info-card-popover.scss
  src/pybind/mgr/dashboard/frontend/src/app/ceph/dashboard/info-card/info-card.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/ceph/dashboard/info-group/info-group.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/core/navigation/navigation/navigation.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/core/navigation/notifications/notifications.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/telemetry-notification/telemetry-notification.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/shared/datatable/table/table.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/shared/enum/health-color.enum.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/pipes/health-color.pipe.spec.ts
  src/pybind/mgr/dashboard/frontend/src/styles.scss
  src/pybind/mgr/dashboard/frontend/src/styles/ceph-custom/_basics.scss
  src/pybind/mgr/dashboard/frontend/src/styles/defaults/_bootstrap-defaults.scss
Labels: pybind, dashboard

#48779 quincy: doc/glossary: link to OSD material
  doc/glossary.rst
  doc/rados/configuration/storage-devices.rst
Labels: documentation, core

#48781 quincy: doc/rados: s/backend/back end/
  doc/rados/configuration/storage-devices.rst
Labels: documentation, core

#48782 pacific: doc/rados: s/backend/back end/
  doc/rados/configuration/storage-devices.rst
Labels: documentation, core

#48790 quincy: doc/glossary: disambiguate "OSD"
  doc/glossary.rst
Labels: documentation

#48787 doc/architecture: correct PDF link
  doc/architecture.rst
Labels: documentation

#48785 pacific: doc/glossary: link to OSD material
  doc/glossary.rst
  doc/rados/configuration/storage-devices.rst
Labels: documentation, core

#48795 quincy: doc/architecture: correct PDF link
  doc/architecture.rst
Labels: documentation

#48796 pacific: doc/architecture: correct PDF link
  doc/architecture.rst
Labels: documentation

#48792 doc/glossary: update "Cluster Map"
  doc/glossary.rst
Labels: documentation

#48797 quincy: doc/glossary: update "Cluster Map"
  doc/glossary.rst
Labels: documentation

#48798 pacific: doc/glossary: update "Cluster Map"
  doc/glossary.rst
Labels: documentation

#48713 ceph-crash: drop privleges to run as "ceph" user, rather than root (CVE-2022-3650)
  src/ceph-crash.in
Labels: security

#48793 cephfs-top: revert add version in header
  doc/cephfs/cephfs-top.png
  src/tools/cephfs/top/cephfs-top
Labels: documentation, cephfs

#48762 crimson/os/seastore: define the usage of generation
  src/crimson/os/seastore/async_cleaner.cc
  src/crimson/os/seastore/async_cleaner.h
  src/crimson/os/seastore/btree/fixed_kv_btree.h
  src/crimson/os/seastore/btree/fixed_kv_node.h
  src/crimson/os/seastore/cache.cc
  src/crimson/os/seastore/cache.h
  src/crimson/os/seastore/cached_extent.h
  src/crimson/os/seastore/extent_placement_manager.cc
  src/crimson/os/seastore/extent_placement_manager.h
  src/crimson/os/seastore/journal/segment_allocator.cc
  src/crimson/os/seastore/journal/segment_allocator.h
  src/crimson/os/seastore/journal/segmented_journal.cc
  src/crimson/os/seastore/seastore_types.cc
  src/crimson/os/seastore/seastore_types.h
  src/crimson/os/seastore/transaction_manager.cc
  src/crimson/os/seastore/transaction_manager.h
  src/test/crimson/seastore/test_btree_lba_manager.cc
  src/test/crimson/seastore/test_seastore_journal.cc
Labels: tests, crimson

#48735 test/dokan: Added ceph-dokan tests
  src/dokan/options.cc
  src/test/CMakeLists.txt
  src/test/dokan/CMakeLists.txt
  src/test/dokan/dokan.cc
Labels: cephfs, tests, build/ops, win32

#48809 doc/glossary: improve "Ceph Manager" term
  doc/architecture.rst
  doc/glossary.rst
Labels: documentation

#48811 quincy: doc/glossary: improve "Ceph Manager" term
  doc/architecture.rst
  doc/glossary.rst
Labels: documentation

#48812 pacific: doc/glossary: improve "Ceph Manager" term
  doc/architecture.rst
  doc/glossary.rst
Labels: documentation

#48819 doc/glossary: improve "ceph" term
  doc/glossary.rst
Labels: documentation

#48820 quincy: doc/glossary: improve "ceph" term
  doc/glossary.rst
Labels: documentation

#48824 quincy: doc/glossary: improve "Ceph Manager Dashboard"
  doc/glossary.rst
Labels: documentation

#48825 pacific: doc/glossary: improve "Ceph Manager Dashboard"
  doc/glossary.rst
Labels: documentation

#48694 rook:PR for Fix for bug 57954
  src/pybind/mgr/rook/rook_cluster.py
Labels: pybind, orchestrator, rook

#48826 rgw/rados: drop unnecessary ifdef
  src/rgw/rgw_sal_rados.cc
Labels: rgw

#46036 os/bluestore: get rid off statfs update on each txc
  src/common/options/global.yaml.in
  src/os/ObjectStore.h
  src/os/bluestore/BlueStore.cc
  src/os/bluestore/BlueStore.h
  src/os/bluestore/FreelistManager.cc
  src/os/bluestore/FreelistManager.h
  src/test/objectstore/store_test.cc
  src/test/objectstore/test_bluestore_types.cc
Labels: feature, core, needs-qa, tests, common, performance, bluestore, wip-yuri7-testing

#48044 mon: bail from handle_command() if _generate_command_map() fails
  src/mon/Monitor.cc
Labels: bug fix, core, needs-qa, mon, wip-yuri7-testing

#48298 osd: add created_at meta
  src/osd/OSD.cc
Labels: core, needs-qa, wip-yuri7-testing

#48832 doc/glossary: redirect entries to "Ceph OSD"
  doc/glossary.rst
Labels: documentation

#48833 quincy: doc/glossary: redirect entries to "Ceph OSD"
  doc/glossary.rst
Labels: documentation

#48834 pacific: doc/glossary: redirect entries to "Ceph OSD"
  doc/glossary.rst
Labels: documentation

#48840 doc/glossary: remove "Ceph Test Framework"
  doc/glossary.rst
Labels: documentation

#48830 quincy: rook:PR for Fix for bug 57954
  src/pybind/mgr/rook/rook_cluster.py
Labels: pybind, orchestrator, rook

#48841 quincy: doc/glossary: remove "Ceph Test Framework"
  doc/glossary.rst
Labels: documentation

#48842 pacific: doc/glossary: remove "Ceph Test Framework"
  doc/glossary.rst
Labels: documentation

#48853 doc/rados: update "Pools" material
  doc/rados/operations/pools.rst
Labels: documentation, core

#48852 doc/glossary: update "pool/pools"
  doc/glossary.rst
  doc/rados/operations/pools.rst
Labels: documentation, core

#48857 quincy: doc/glossary: update "pool/pools"
  doc/glossary.rst
  doc/rados/operations/pools.rst
Labels: documentation, core

#48858 pacific: doc/glossary: update "pool/pools"
  doc/glossary.rst
  doc/rados/operations/pools.rst
Labels: documentation, core

#48862 doc/radosgw: improve "Ceph Object Gateway" text
  doc/radosgw/index.rst
Labels: documentation

#48863 quincy: doc/radosgw: improve "Ceph Object Gateway" text
  doc/radosgw/index.rst
Labels: documentation

#48855 quincy: doc/rados: update "Pools" material
  doc/rados/operations/pools.rst
Labels: documentation, core

#48856 pacific: doc/rados: update "Pools" material
  doc/rados/operations/pools.rst
Labels: documentation, core

#48866 doc/rados: improve pools.rst
  doc/rados/operations/pools.rst
Labels: documentation, core

#48870 doc/glossary: add "mds" term
  doc/cephfs/add-remove-mds.rst
  doc/glossary.rst
Labels: documentation, cephfs

#48871 quincy: doc/glossary: add "mds" term
  doc/cephfs/add-remove-mds.rst
  doc/glossary.rst
Labels: documentation, cephfs

#48872 pacific: doc/glossary: add "mds" term
  doc/cephfs/add-remove-mds.rst
  doc/glossary.rst
Labels: documentation, cephfs

#48861 doc/osd: Fixes the introduction for writeback mode of cache tier.
  doc/rados/operations/cache-tiering.rst
Labels: documentation, core

#48881 doc/rados: fix grammar in configuration/index.rst
  doc/rados/configuration/index.rst
Labels: documentation, core

#48882 quincy: doc/osd: Fixes the introduction for writeback mode of cache tier.
  doc/rados/operations/cache-tiering.rst
Labels: documentation, core

#48883 pacific: doc/osd: Fixes the introduction for writeback mode of cache tier.
  doc/rados/operations/cache-tiering.rst
Labels: documentation, core

#48867 quincy: doc/rados: improve pools.rst
  doc/rados/operations/pools.rst
Labels: documentation, core

#48868 pacific: doc/rados: improve pools.rst
  doc/rados/operations/pools.rst
Labels: documentation, core

#48884 quincy: doc/rados: fix grammar in configuration/index.rst
  doc/rados/configuration/index.rst
Labels: documentation, core

#48885 pacific: doc/rados: fix grammar in configuration/index.rst
  doc/rados/configuration/index.rst
Labels: documentation, core

#48886 doc/rados: reword part of cache-tiering.rst
  doc/rados/operations/cache-tiering.rst
Labels: documentation, core

#48887 quincy: doc/rados: reword part of cache-tiering.rst
  doc/rados/operations/cache-tiering.rst
Labels: documentation, core

#48888 pacific: doc/rados: reword part of cache-tiering.rst
  doc/rados/operations/cache-tiering.rst
Labels: documentation, core

#48889 doc/glossary: improve "Ceph Point Release" entry
  doc/glossary.rst
Labels: documentation

#48890 quincy: doc/glossary: improve "Ceph Point Release" entry
  doc/glossary.rst
Labels: documentation

#48891 pacific: doc/glossary: improve "Ceph Point Release" entry
  doc/glossary.rst
Labels: documentation

#48900 doc/glossary: define "Ceph Object Gateway"
  doc/glossary.rst
Labels: documentation

#48901 quincy: doc/glossary: define "Ceph Object Gateway"
  doc/glossary.rst
Labels: documentation

#48902 pacific: doc/glossary: define "Ceph Object Gateway"
  doc/glossary.rst
Labels: documentation

#48906 pacific: doc/conf.py: run ditaa with java
  doc/conf.py
Labels: documentation

#48916 doc/glossary: rewrite "Ceph File System"
  doc/glossary.rst
Labels: documentation

#48917 quincy: doc/glossary: rewrite "Ceph File System"
  doc/glossary.rst
Labels: documentation

#48918 pacific: doc/glossary: rewrite "Ceph File System"
  doc/glossary.rst
Labels: documentation

#44565 [DNM] doc/dev: explain the primary balancer scope and design
  doc/dev/prim-balancer-design.rst
Labels: documentation

#48920 doc/dev: expand "HLD" to "high-level design"
  doc/dev/prim-balancer-design.rst
Labels: documentation

#48921 doc/dev: fix graphviz diagram
  doc/dev/object-store.rst
Labels: documentation

#48922 quincy: doc/dev: fix graphviz diagram
  doc/dev/object-store.rst
Labels: documentation

#48923 pacific: doc/dev: fix graphviz diagram
  doc/dev/object-store.rst
Labels: documentation

#48913 doc/releases: mark octopus eol
  doc/_ext/ceph_releases.py
  doc/releases/index.rst
  doc/releases/releases.yml
Labels: documentation

#48924 doc/dev: link to Dot User's Manual
  doc/dev/documenting.rst
Labels: documentation

#48925 quincy: doc/dev: link to Dot User's Manual
  doc/dev/documenting.rst
Labels: documentation

#48926 pacific: doc/dev: link to Dot User's Manual
  doc/dev/documenting.rst
Labels: documentation

#46525 msg: add new async event driver based on poll()
  src/msg/CMakeLists.txt
  src/msg/async/Event.cc
  src/msg/async/Event.h
  src/msg/async/EventPoll.cc
  src/msg/async/EventPoll.h
Labels: core, build/ops, win32

#48919 crimson/os/seastore/extent_placement_manager.h: fix a typo
  src/crimson/os/seastore/extent_placement_manager.h
Labels: crimson

#48851 ceph-mixing: fix ceph_hosts variable
  monitoring/ceph-mixin/dashboards/host.libsonnet
  monitoring/ceph-mixin/dashboards_out/host-details.json
Labels: dashboard, monitoring

#48944 doc/man: disambiguate "user" in a command
  doc/man/8/mount.ceph.rst
Labels: documentation, cephfs

#48940 doc: Delete a duplicate row.
  doc/cephadm/services/osd.rst
Labels: documentation, cephadm

#48800 quincy: doc: point to main branch for release info
  .readthedocs.yml
  admin/rtd-checkout-main
  doc/index.rst
  doc/install/clone-source.rst
  doc/install/get-packages.rst
  doc/releases/argonaut.rst
  doc/releases/bobtail.rst
  doc/releases/cuttlefish.rst
  doc/releases/dumpling.rst
  doc/releases/emperor.rst
  doc/releases/firefly.rst
  doc/releases/general.rst
  doc/releases/giant.rst
  doc/releases/hammer.rst
  doc/releases/index.rst
  doc/releases/infernalis.rst
  doc/releases/jewel.rst
  doc/releases/kraken.rst
  doc/releases/luminous.rst
  doc/releases/mimic.rst
  doc/releases/nautilus.rst
  doc/releases/octopus.rst
  doc/releases/pacific.rst
  doc/releases/quincy.rst
  doc/security/index.rst
Labels: documentation, build/ops

#48938 qa/workunits/rados: specify redirect in curl command
  qa/workunits/rados/test_librados_build.sh
Labels: core, tests

#48945 quincy: doc: add quincy release toc pointer
  doc/index.rst
Labels: documentation

#48941 doc/releases: fix prompts in quincy.rst
  doc/releases/quincy.rst
Labels: documentation

#48939 doc/glossary: add "RADOS" definition
  doc/glossary.rst
Labels: documentation

#48950 quincy: doc/glossary: add "RADOS" definition
  doc/glossary.rst
Labels: documentation

#48942 src/pybind: fix typo in cephfs.pyx
  src/pybind/cephfs/cephfs.pyx
Labels: cephfs, pybind

#48954 quincy: doc/man: disambiguate "user" in a command
  doc/man/8/mount.ceph.rst
Labels: documentation, cephfs

#48953 pacific: src/pybind: fix typo in cephfs.pyx
  src/pybind/cephfs/cephfs.pyx
Labels: cephfs, pybind

#48952 quincy: src/pybind: fix typo in cephfs.pyx
  src/pybind/cephfs/cephfs.pyx
Labels: cephfs, pybind

#48959 doc/glossary: define "RGW"
  doc/glossary.rst
Labels: documentation

#48960 quincy: doc/glossary: define "RGW"
  doc/glossary.rst
Labels: documentation

#48961 pacific: doc/glossary: define "RGW"
  doc/glossary.rst
Labels: documentation

#48963 doc/glossary: beef up "Ceph Block Storage"
  doc/glossary.rst
Labels: documentation

#48962 doc/radosw: improve radosgw text
  doc/radosgw/index.rst
Labels: documentation

#48964 quincy: doc/glossary: beef up "Ceph Block Storage"
  doc/glossary.rst
Labels: documentation

#48965 pacific: doc/glossary: beef up "Ceph Block Storage"
  doc/glossary.rst
Labels: documentation

#48966 quincy: doc/radosw: improve radosgw text
  doc/radosgw/index.rst
Labels: documentation
