Repository ceph/ceph, pull requests merged in 2022-02, with the labels that each got.

#44820 Nitzan add email contact
  .githubmap
  .mailmap
  .organizationmap
Labels: core

#44834 mgr/rbd_support: fix mon command API regressions
  qa/suites/rbd/singleton/all/mon-command-help.yaml
  qa/workunits/rbd/cli_generic.sh
  src/pybind/mgr/rbd_support/module.py
  src/test/cli-integration/rbd/mon-command-help.t
Labels: bug fix, rbd, tests, pybind, needs-quincy-backport

#44810 doc/cephadm: fixing cluster purging section
  doc/cephadm/operations.rst
Labels: documentation, cephadm

#43882 pacific: os/bluestore: use proper prefix when removing undecodable Share Blob.
  src/os/bluestore/BlueStore.cc
Labels: bug fix, core, needs-qa, wip-yuri2-testing, bluestore

#44096 pacific: osd/OSDMap.cc: clean up pg_temp for nonexistent pgs
  src/osd/OSDMap.cc
Labels: core, needs-qa, wip-yuri2-testing

#44173 pacific: osd: set r only if succeed in FillInVerifyExtent
  src/osd/PrimaryLogPG.cc
Labels: core, needs-qa, wip-yuri2-testing

#44202 pacific: test: increase retry duration when calculating manifest ref. count
  src/test/librados/tier_cxx.cc
Labels: core, needs-qa, tests, wip-yuri2-testing

#44212 pacific: mgr: fix locking for MetadataUpdate::finish
  src/mgr/Mgr.cc
Labels: core, needs-qa, wip-yuri2-testing, mgr

#43955 pacific: osd: fix 'ceph osd stop <osd.nnn>' doesn't take effect
  src/osd/OSD.cc
Labels: core, needs-qa, wip-yuri2-testing

#44181 pacific: osd: recover unreadable snapshot before reading ref. count info
  src/osd/PrimaryLogPG.cc
  src/osd/PrimaryLogPG.h
  src/osd/objclass.cc
Labels: core, needs-qa, wip-yuri2-testing

#44175 pacific: common/PriorityCache: low perf counters priorities for submodules.
  src/common/PriorityCache.cc
Labels: needs-qa, common, wip-yuri-testing

#44205 pacific: mgr/prometheus: define module options for standby
  src/pybind/mgr/prometheus/module.py
Labels: needs-qa, pybind, wip-yuri-testing, monitoring, pacific-batch-1

#44325 pacific: mgr/devicehealth: fix missing timezone from time delta calculation
  src/pybind/mgr/devicehealth/module.py
Labels: bug fix, core, needs-qa, pybind, wip-yuri-testing

#44387 pacific: qa/tasks: improve backfill_toofull test
  qa/tasks/backfill_toofull.py
Labels: core, needs-qa, tests, wip-yuri-testing

#44609 mgr/dashboard: perform daemon actions
  src/pybind/mgr/dashboard/controllers/daemon.py
  src/pybind/mgr/dashboard/frontend/cypress/integration/cluster/services.po.ts
  src/pybind/mgr/dashboard/frontend/cypress/integration/orchestrator/workflow/09-services.e2e-spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/services/service-daemon-list/service-daemon-list.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/services/service-daemon-list/service-daemon-list.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/services/service-daemon-list/service-daemon-list.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/services/service-details/service-details.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/daemon.service.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/daemon.service.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/constants/app.constants.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/datatable/table-actions/table-actions.component.html
  src/pybind/mgr/dashboard/frontend/src/app/shared/datatable/table-actions/table-actions.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/shared/enum/icons.enum.ts
  src/pybind/mgr/dashboard/openapi.yaml
  src/pybind/mgr/dashboard/services/orchestrator.py
  src/pybind/mgr/dashboard/tests/__init__.py
  src/pybind/mgr/dashboard/tests/test_daemon.py
  src/pybind/mgr/dashboard/tests/test_host.py
Labels: pybind, dashboard, monitoring, api-change, needs-quincy-backport

#44259 pacific: osd/OSDMap: Add health warning if 'require-osd-release' != current release
  PendingReleaseNotes
  qa/suites/fs/upgrade/featureful_client/old_client/tasks/2-upgrade.yaml
  qa/suites/fs/upgrade/featureful_client/upgraded_client/tasks/2-upgrade.yaml
  qa/suites/fs/upgrade/nofs/tasks/1-upgrade.yaml
  qa/suites/fs/upgrade/volumes/import-legacy/tasks/2-upgrade.yaml
  qa/suites/upgrade/nautilus-x-singleton/7-octopus.yaml
  qa/suites/upgrade/nautilus-x-singleton/7-pacific.yaml
  qa/suites/upgrade/nautilus-x/parallel/3-upgrade-sequence/upgrade-mon-osd-mds.yaml
  qa/suites/upgrade/nautilus-x/parallel/4-octopus.yaml
  qa/suites/upgrade/nautilus-x/parallel/4-pacific.yaml
  qa/suites/upgrade/nautilus-x/stress-split-erasure-code/6-octopus.yaml
  qa/suites/upgrade/nautilus-x/stress-split-erasure-code/6-pacific.yaml
  qa/suites/upgrade/nautilus-x/stress-split/6-octopus.yaml
  qa/suites/upgrade/nautilus-x/stress-split/6-pacific.yaml
  qa/suites/upgrade/octopus-x/parallel-no-cephadm/3-upgrade-sequence/upgrade-mon-osd-mds.yaml
  qa/suites/upgrade/octopus-x/stress-split-erasure-code-no-cephadm/1-octopus-install
  qa/suites/upgrade/octopus-x/stress-split-no-cephadm/5-finish-upgrade.yaml
  qa/suites/upgrade/octopus-x/stress-split-no-cephadm/7-msgr2.yaml
  qa/suites/upgrade/octopus-x/stress-split-no-cephadm/objectstore/bluestore-bitmap.yaml
  qa/suites/upgrade/octopus-x/stress-split-no-cephadm/objectstore/bluestore-hybrid.yaml
  src/osd/OSDMap.cc
  src/osd/OSDMap.h
Labels: documentation, core, cephfs, needs-qa, wip-yuri2-testing

#44840 qa: skip sanity check during upgrade
  qa/suites/upgrade/pacific-p2p/pacific-p2p-parallel/point-to-point-upgrade.yaml
Labels: cephfs, needs-qa, wip-yuri2-testing

#43707 mgr: Fix ceph_daemon label in ceph_rgw_* metrics
  monitoring/grafana/dashboards/hosts-overview.json
  monitoring/grafana/dashboards/jsonnet/grafana_dashboards.jsonnet
  monitoring/grafana/dashboards/radosgw-detail.json
  monitoring/grafana/dashboards/radosgw-overview.json
  monitoring/grafana/dashboards/tests/features/radosgw-detail.feature
  monitoring/grafana/dashboards/tests/features/radosgw_overview.feature
  src/mgr/ActivePyModules.cc
  src/pybind/mgr/mgr_module.py
  src/pybind/mgr/prometheus/module.py
Labels: core, pybind, mgr, dashboard, monitoring, needs-quincy-backport

#44672 pacific: pybind/mgr/progress: enforced try and except on accessing event dictionary
  src/pybind/mgr/progress/module.py
Labels: core, needs-qa, pybind, mgr

#44832 test/crimson/test_messenger: increase timeout
  src/test/crimson/test_messenger.cc
Labels: tests, crimson

#44812 cephadm/box: fix remove image tar error
  src/cephadm/box/Dockerfile
  src/cephadm/box/box.py
Labels: bug fix, cephadm, skip-teuthology, needs-quincy-backport

#44891 quincy: test/bufferlist: ensure rebuild_aligned_size_and_memory() always rebuilds.
  src/test/bufferlist.cc
Labels: tests

#44888 crimson/os/seastore: change segment_off_t to seastore_off_t in ZNSSegmentManager
  src/crimson/os/seastore/segment_manager/zns.cc
  src/crimson/os/seastore/segment_manager/zns.h
Labels: crimson

#44560 doc/conf.py: use links to the 'edit' page for edit on github
  doc/conf.py
Labels: documentation

#44003 doc/start: update python-pip to python3-pip
  doc/start/documenting-ceph.rst
Labels: documentation

#44867 quincy: qa/rgw: tests run against ceph-quincy branch
  qa/suites/rgw/crypt/4-tests/s3tests.yaml
  qa/suites/rgw/multifs/tasks/rgw_ragweed.yaml
  qa/suites/rgw/multifs/tasks/rgw_s3tests.yaml
  qa/suites/rgw/sts/tasks/first.yaml
  qa/suites/rgw/sts/tasks/ststests.yaml
  qa/suites/rgw/thrash/workload/rgw_s3tests.yaml
  qa/suites/rgw/verify/tasks/ragweed.yaml
  qa/suites/rgw/verify/tasks/s3tests-java.yaml
  qa/suites/rgw/verify/tasks/s3tests.yaml
  qa/suites/rgw/website/tasks/s3tests-website.yaml
Labels: rgw, needs-qa, tests

#44862 rgw_sal_motr: fix possible memleak on put
  src/rgw/rgw_sal.h
  src/rgw/rgw_sal_motr.cc
  src/rgw/rgw_sal_motr.h
Labels: rgw

#44857 doc: update kcli test env documentation
  doc/dev/developer_guide/dash-devel.rst
Labels: documentation, dashboard, needs-quincy-backport

#44775 pacific: mgr/dashboard: fix Grafana OSD/host panels
  doc/mgr/prometheus.rst
  monitoring/grafana/dashboards/ceph-cluster.json
  monitoring/grafana/dashboards/host-details.json
  monitoring/grafana/dashboards/hosts-overview.json
  monitoring/grafana/dashboards/jsonnet/grafana_dashboards.jsonnet
  monitoring/grafana/dashboards/osd-device-details.json
  monitoring/grafana/dashboards/tests/features/ceph-cluster.feature
  monitoring/grafana/dashboards/tests/features/host-details.feature
  monitoring/grafana/dashboards/tests/features/hosts_overview.feature
  monitoring/grafana/dashboards/tests/features/osd-device-details.feature
  src/pybind/mgr/prometheus/module.py
  src/pybind/mgr/prometheus/test_module.py
Labels: documentation, pybind, mgr, dashboard, monitoring, backport:no-conflicts

#43897 pacific: mgr/prometheus: Make prometheus standby behaviour configurable
  doc/mgr/prometheus.rst
  src/pybind/mgr/prometheus/module.py
Labels: documentation, pybind, mgr, monitoring

#44796 monitoring: remove old MIB
  monitoring/snmp/CEPH-PROMETHEUS-ALERT-MIB.txt
Labels: dashboard, monitoring

#44563 BlueStore:NCB:Bug-Fix for recovery code with shared blobs
  src/crimson/os/alienstore/CMakeLists.txt
  src/os/CMakeLists.txt
  src/os/bluestore/BlueStore.cc
  src/os/bluestore/BlueStore.h
  src/os/bluestore/bluestore_tool.cc
  src/os/bluestore/simple_bitmap.cc
  src/os/bluestore/simple_bitmap.h
  src/test/objectstore/test_bluestore_types.cc
Labels: core, tests, build/ops, bluestore, crimson, needs-quincy-backport

#44892 rgw: check bucket shard init status in RGWRadosBILogTrimCR
  src/rgw/rgw_cr_rados.cc
  src/rgw/rgw_cr_rados.h
Labels: bug fix, rgw, needs-qa, wip-cbodley-testing, needs-quincy-backport

#44137 rgw: "reshard cancel" errors with "invalid argument"
  src/rgw/rgw_admin.cc
Labels: bug fix, rgw, needs-qa, wip-cbodley-testing

#44743 rgwlc: fix compat-decoding of cls_rgw_lc_get_entry_ret
  src/cls/rgw/cls_rgw_ops.cc
  src/cls/rgw/cls_rgw_ops.h
  src/cls/rgw/cls_rgw_types.cc
  src/cls/rgw/cls_rgw_types.h
  src/tools/ceph-dencoder/rgw_types.h
Labels: bug fix, rgw, needs-qa, tests, build/ops, wip-cbodley-testing, needs-quincy-backport

#42330 rgw: RGWPostObj::execute() may lost data.
  src/rgw/rgw_op.cc
Labels: bug fix, rgw, needs-qa, wip-cbodley-testing, needs-quincy-backport

#44386 rgw: in bucket reshard list, clarify new num shards is tentative
  qa/workunits/rgw/test_rgw_reshard.py
  src/cls/rgw/cls_rgw_types.cc
  src/rgw/rgw_admin.cc
Labels: feature, rgw, needs-qa, tests, wip-cbodley-testing

#44866 rgw/admin: fix radosgw-admin datalog list max-entries issue
  src/rgw/rgw_datalog.cc
Labels: bug fix, rgw, needs-qa, wip-cbodley-testing, needs-quincy-backport

#44868 qa/distros: remove centos8
  qa/distros/container-hosts/centos_8.2_container_tools_3.0.yaml
  qa/distros/container-hosts/centos_8.3_container_tools_3.0.yaml
  qa/distros/podman/centos_8.2_container_tools_3.0.yaml
  qa/distros/podman/centos_8.3_container_tools_3.0.yaml
  qa/suites/rados/thrash-old-clients/0-distro$/centos_8.3_container_tools_3.0.yaml
Labels: core, needs-qa, wip-yuri-testing, wip-adk-testing

#44887 src/vstart.sh: Add --no-restart to vstart & add mkfs logs to osd.stdout
  src/ceph-run
  src/vstart.sh
Labels: core

#44851 mds: add inline flag to MDS bootstrap compat in MDSMap
  qa/suites/fs/upgrade/mds_upgrade_sequence/tasks/1-volume/3-inline/no.yaml
  qa/suites/fs/upgrade/mds_upgrade_sequence/tasks/1-volume/3-inline/yes.yaml
  qa/suites/fs/upgrade/mds_upgrade_sequence/tasks/1-volume/4-verify.yaml
  src/mds/FSMap.cc
  src/mds/MDSMap.cc
  src/mds/MDSMap.h
Labels: bug fix, cephfs, needs-qa, needs-review

#44893 rgw: fix segfault in OpsLogRados::log when realm is reloaded
  src/rgw/rgw_log.cc
  src/rgw/rgw_log.h
Labels: rgw, needs-qa, wip-cbodley-testing, needs-quincy-backport

#43910 mgr/rbd_support: fix schedule remove
  qa/workunits/rbd/cli_generic.sh
  src/pybind/mgr/rbd_support/schedule.py
Labels: bug fix, rbd, tests, pybind, wip-dis-testing, needs-quincy-backport

#44842 rbd: recognize rxbounce map option
  doc/man/8/rbd.rst
  qa/suites/krbd/basic/ms_mode/crc$/.qa
  qa/suites/krbd/basic/ms_mode/crc$/crc-rxbounce.yaml
  qa/suites/krbd/basic/ms_mode/crc$/crc.yaml
  qa/suites/krbd/basic/ms_mode/legacy$/.qa
  qa/suites/krbd/basic/ms_mode/legacy$/legacy-rxbounce.yaml
  qa/suites/krbd/basic/ms_mode/legacy$/legacy.yaml
  qa/suites/krbd/fsx/ms_mode$/crc-rxbounce.yaml
  qa/suites/krbd/fsx/ms_mode$/legacy-rxbounce.yaml
  qa/suites/krbd/fsx/ms_mode$/prefer-crc.yaml
  qa/suites/krbd/rbd-nomount/ms_mode/crc$/.qa
  qa/suites/krbd/rbd-nomount/ms_mode/crc$/crc-rxbounce.yaml
  qa/suites/krbd/rbd-nomount/ms_mode/crc$/crc.yaml
  qa/suites/krbd/rbd-nomount/ms_mode/legacy$/.qa
  qa/suites/krbd/rbd-nomount/ms_mode/legacy$/legacy-rxbounce.yaml
  qa/suites/krbd/rbd-nomount/ms_mode/legacy$/legacy.yaml
  qa/suites/krbd/rbd/ms_mode/crc$/.qa
  qa/suites/krbd/rbd/ms_mode/crc$/crc-rxbounce.yaml
  qa/suites/krbd/rbd/ms_mode/crc$/crc.yaml
  qa/suites/krbd/rbd/ms_mode/legacy$/.qa
  qa/suites/krbd/rbd/ms_mode/legacy$/legacy-rxbounce.yaml
  qa/suites/krbd/rbd/ms_mode/legacy$/legacy.yaml
  qa/suites/krbd/rxbounce/%
  qa/suites/krbd/rxbounce/.qa
  qa/suites/krbd/rxbounce/bluestore-bitmap.yaml
  qa/suites/krbd/rxbounce/ceph/.qa
  qa/suites/krbd/rxbounce/ceph/ceph.yaml
  qa/suites/krbd/rxbounce/clusters/.qa
  qa/suites/krbd/rxbounce/clusters/fixed-3.yaml
  qa/suites/krbd/rxbounce/conf.yaml
  qa/suites/krbd/rxbounce/tasks/.qa
  qa/suites/krbd/rxbounce/tasks/krbd_rxbounce.yaml
  qa/suites/krbd/singleton/ms_mode$/crc-rxbounce.yaml
  qa/suites/krbd/singleton/ms_mode$/legacy-rxbounce.yaml
  qa/suites/krbd/singleton/ms_mode$/prefer-crc.yaml
  qa/suites/krbd/thrash/ms_mode$/crc-rxbounce.yaml
  qa/suites/krbd/thrash/ms_mode$/legacy-rxbounce.yaml
  qa/suites/krbd/thrash/ms_mode$/prefer-crc.yaml
  qa/workunits/rbd/krbd_rxbounce.sh
  src/tools/rbd/action/Kernel.cc
Labels: feature, documentation, rbd, tests, wip-dis-testing, needs-quincy-backport

#44503 mds: fix a typo of inode version related comment
  src/mds/CInode.cc
Labels: cephfs

#44920 cephadm: change shared_folder directory for prometheus and grafana
  ceph.spec.in
  debian/rules
  doc/mgr/dashboard.rst
  monitoring/ceph-mixin/README.md
  monitoring/ceph-mixin/alerts.libsonnet
  monitoring/ceph-mixin/prometheus_alerts.yml
  monitoring/ceph-mixin/tests_alerts/settings.py
  monitoring/ceph-mixin/tests_alerts/test_alerts.yml
  monitoring/ceph-mixin/tox.ini
  src/cephadm/cephadm
  src/pybind/mgr/dashboard/ci/check_grafana_dashboards.py
Labels: bug fix, documentation, build/ops, pybind, mgr, dashboard, monitoring, cephadm, needs-quincy-backport

#44902 quincy: qa/distros: remove centos8
  qa/distros/container-hosts/centos_8.2_container_tools_3.0.yaml
  qa/distros/container-hosts/centos_8.3_container_tools_3.0.yaml
  qa/distros/podman/centos_8.2_container_tools_3.0.yaml
  qa/distros/podman/centos_8.3_container_tools_3.0.yaml
  qa/suites/rados/thrash-old-clients/0-distro$/centos_8.3_container_tools_3.0.yaml
Labels: core, needs-qa, wip-yuri8-testing

#44886 krbd: return error when no initial monitor address found
  src/krbd.cc
Labels: cleanup, rbd, krbd, needs-quincy-backport

#44856 qa/rgw: install s3cmd with extra_system_packages
  qa/suites/rgw/verify/0-install.yaml
Labels: rgw, tests

#44261 test/crimson: Inject socket level random delays/failures msgr unit test
  src/crimson/net/Socket.cc
  src/crimson/net/Socket.h
  src/test/crimson/CMakeLists.txt
  src/test/crimson/test_messenger_thrash.cc
  src/test/crimson/test_socket.cc
Labels: tests, build/ops, crimson

#44713 [BlueStore] Fix problem with volume selector
  src/common/options/global.yaml.in
  src/os/bluestore/BlueFS.cc
  src/os/bluestore/BlueFS.h
  src/os/bluestore/BlueStore.cc
  src/os/bluestore/BlueStore.h
Labels: core, needs-qa, common, bluestore, wip-yuri7-testing, needs-quincy-backport

#44916 rgw: fix dbstore test init env wrong
  src/rgw/store/dbstore/tests/dbstore_tests.cc
Labels: rgw

#44921 crimson/os/seastore/lba_manager: consolidate logs
  src/common/subsys.h
  src/crimson/os/seastore/lba_manager/btree/btree_lba_manager.cc
  src/crimson/os/seastore/lba_manager/btree/btree_lba_manager.h
  src/crimson/os/seastore/lba_manager/btree/btree_range_pin.cc
  src/crimson/os/seastore/lba_manager/btree/lba_btree.cc
  src/crimson/os/seastore/lba_manager/btree/lba_btree.h
  src/crimson/os/seastore/lba_manager/btree/lba_btree_node.cc
  src/crimson/os/seastore/lba_manager/btree/lba_btree_node.h
Labels: common, crimson

#44914 quincy: rbd backports (batch 2)
  doc/man/8/rbd.rst
  qa/suites/krbd/basic/ms_mode/crc$/.qa
  qa/suites/krbd/basic/ms_mode/crc$/crc-rxbounce.yaml
  qa/suites/krbd/basic/ms_mode/crc$/crc.yaml
  qa/suites/krbd/basic/ms_mode/legacy$/.qa
  qa/suites/krbd/basic/ms_mode/legacy$/legacy-rxbounce.yaml
  qa/suites/krbd/basic/ms_mode/legacy$/legacy.yaml
  qa/suites/krbd/fsx/ms_mode$/crc-rxbounce.yaml
  qa/suites/krbd/fsx/ms_mode$/legacy-rxbounce.yaml
  qa/suites/krbd/fsx/ms_mode$/prefer-crc.yaml
  qa/suites/krbd/rbd-nomount/ms_mode/crc$/.qa
  qa/suites/krbd/rbd-nomount/ms_mode/crc$/crc-rxbounce.yaml
  qa/suites/krbd/rbd-nomount/ms_mode/crc$/crc.yaml
  qa/suites/krbd/rbd-nomount/ms_mode/legacy$/.qa
  qa/suites/krbd/rbd-nomount/ms_mode/legacy$/legacy-rxbounce.yaml
  qa/suites/krbd/rbd-nomount/ms_mode/legacy$/legacy.yaml
  qa/suites/krbd/rbd/ms_mode/crc$/.qa
  qa/suites/krbd/rbd/ms_mode/crc$/crc-rxbounce.yaml
  qa/suites/krbd/rbd/ms_mode/crc$/crc.yaml
  qa/suites/krbd/rbd/ms_mode/legacy$/.qa
  qa/suites/krbd/rbd/ms_mode/legacy$/legacy-rxbounce.yaml
  qa/suites/krbd/rbd/ms_mode/legacy$/legacy.yaml
  qa/suites/krbd/rxbounce/%
  qa/suites/krbd/rxbounce/.qa
  qa/suites/krbd/rxbounce/bluestore-bitmap.yaml
  qa/suites/krbd/rxbounce/ceph/.qa
  qa/suites/krbd/rxbounce/ceph/ceph.yaml
  qa/suites/krbd/rxbounce/clusters/.qa
  qa/suites/krbd/rxbounce/clusters/fixed-3.yaml
  qa/suites/krbd/rxbounce/conf.yaml
  qa/suites/krbd/rxbounce/tasks/.qa
  qa/suites/krbd/rxbounce/tasks/krbd_rxbounce.yaml
  qa/suites/krbd/singleton/ms_mode$/crc-rxbounce.yaml
  qa/suites/krbd/singleton/ms_mode$/legacy-rxbounce.yaml
  qa/suites/krbd/singleton/ms_mode$/prefer-crc.yaml
  qa/suites/krbd/thrash/ms_mode$/crc-rxbounce.yaml
  qa/suites/krbd/thrash/ms_mode$/legacy-rxbounce.yaml
  qa/suites/krbd/thrash/ms_mode$/prefer-crc.yaml
  qa/suites/rbd/singleton/all/mon-command-help.yaml
  qa/workunits/rbd/cli_generic.sh
  qa/workunits/rbd/krbd_rxbounce.sh
  src/krbd.cc
  src/pybind/mgr/rbd_support/module.py
  src/pybind/mgr/rbd_support/schedule.py
  src/test/cli-integration/rbd/mon-command-help.t
  src/tools/rbd/action/Kernel.cc
Labels: documentation, rbd, needs-qa, tests, pybind, wip-yuri11-testing, quincy-batch-1

#44927 RGW - Move early return
  src/rgw/rgw_lc.cc
Labels: rgw

#44922 osd/scrub: fix unintended changes to scrub (cluster)logs
  src/osd/scrubber/scrub_backend.cc
  src/osd/scrubber/scrub_backend.h
Labels: core

#44930 monitoring: mention PyYAML only once in requirements
  monitoring/ceph-mixin/requirements-alerts.txt
Labels: needs-review, dashboard, monitoring, dasboard

#44864 octopus: qa: remove centos8 from supported distros
  qa/distros/all/centos_8.stream.yaml
  qa/distros/all/centos_8.yaml
  qa/suites/rgw/verify/validater/valgrind.yaml
Labels: needs-qa, tests, wip-yuri3-testing, wip-yuri4-testing

#44813 rgw/dbstore: Use Object ID to handle I/O concurrency
  src/rgw/rgw_sal_dbstore.cc
  src/rgw/store/dbstore/common/dbstore.cc
  src/rgw/store/dbstore/common/dbstore.h
  src/rgw/store/dbstore/dbstore_main.cc
  src/rgw/store/dbstore/dbstore_mgr.h
  src/rgw/store/dbstore/sqlite/sqliteDB.cc
  src/rgw/store/dbstore/sqlite/sqliteDB.h
  src/rgw/store/dbstore/tests/dbstore_tests.cc
Labels: rgw

#44929 octopus: qa/suites/rados/cephadm: use centos 8.stream
  qa/distros/podman/centos_8.3_container_tools_3.0.yaml
  qa/distros/podman/centos_8.stream_container_tools.yaml
  qa/suites/rados/cephadm/smoke/distro/centos_8.2_container_tools_3.0.yaml
  qa/suites/rados/cephadm/smoke/distro/centos_8.stream_container_tools.yaml
  qa/suites/rados/cephadm/upgrade/1-start-distro/1-start-centos_8.stream_container-tools.yaml
  qa/suites/rados/cephadm/workunits/0-distro/centos_8.2_container_tools_3.0.yaml
  qa/suites/rados/cephadm/workunits/0-distro/centos_8.stream_container_tools.yaml
Labels: needs-qa, wip-yuri3-testing, wip-yuri4-testing, cephadm

#44651 mount: add option to supports fake mounts in mount.ceph
  src/mount/mount.ceph.c
Labels: cephfs, wip-vshankar-testing

#42549 mgr/volumes: Add `fs volume rename` command
  PendingReleaseNotes
  doc/cephfs/fs-volumes.rst
  qa/suites/fs/cephadm/multivolume/distro/centos_latest.yaml
  qa/suites/fs/cephadm/multivolume/distro/single-container-host.yaml
  qa/suites/fs/cephadm/renamevolume/%
  qa/suites/fs/cephadm/renamevolume/.qa
  qa/suites/fs/cephadm/renamevolume/0-start.yaml
  qa/suites/fs/cephadm/renamevolume/1-rename.yaml
  qa/suites/fs/cephadm/renamevolume/distro/.qa
  qa/suites/fs/cephadm/renamevolume/distro/single-container-host.yaml
  qa/suites/fs/cephadm/renamevolume/overrides/.qa
  qa/suites/fs/cephadm/renamevolume/overrides/whitelist_health.yaml
  qa/tasks/cephfs/test_volumes.py
  src/pybind/mgr/volumes/fs/fs_util.py
  src/pybind/mgr/volumes/fs/operations/volume.py
  src/pybind/mgr/volumes/fs/volume.py
  src/pybind/mgr/volumes/module.py
Labels: documentation, cephfs, needs-qa, tests, pybind, wip-vshankar-testing, cephadm

#44638 mds: kill session state are open when mds do ms_handle_remote_reset
  src/mds/MDSDaemon.cc
Labels: cephfs

#44477 mds: fix seg fault in expire_recursive
  src/mds/MDCache.cc
Labels: cephfs, needs-qa

#44934 mgr/dashboard: set appropriate baseline branch for applitools
  src/pybind/mgr/dashboard/frontend/applitools.config.js
Labels: pybind, dashboard, needs-quincy-backport

#44492 rgw: Erase old storage class attr when the object is rewrited using r…
  src/rgw/rgw_rados.cc
Labels: rgw

#44937 rbd: mark optional positional arguments as such in help output
  src/test/cli/rbd/help.t
  src/tools/rbd/OptionPrinter.cc
  src/tools/rbd/Schedule.cc
  src/tools/rbd/Schedule.h
  src/tools/rbd/action/MirrorImage.cc
  src/tools/rbd/action/MirrorSnapshotSchedule.cc
  src/tools/rbd/action/TrashPurgeSchedule.cc
Labels: cleanup, rbd, tests, wip-dis-testing, needs-quincy-backport

#42000 qa: convert fs:workload to use cephadm
  qa/cephfs/begin/+
  qa/cephfs/begin/0-install.yaml
  qa/cephfs/begin/1-ceph.yaml
  qa/cephfs/begin/2-logrotate.yaml
  qa/cephfs/mount/kclient/overrides/distro/testing/flavor/.qa
  qa/cephfs/mount/kclient/overrides/distro/testing/flavor/centos_latest.yaml
  qa/cephfs/mount/kclient/overrides/distro/testing/flavor/ubuntu_latest.yaml
  qa/suites/fs/32bits/begin
  qa/suites/fs/32bits/begin.yaml
  qa/suites/fs/bugs/client_trim_caps/begin
  qa/suites/fs/bugs/client_trim_caps/begin.yaml
  qa/suites/fs/full/begin
  qa/suites/fs/full/begin.yaml
  qa/suites/fs/functional/begin
  qa/suites/fs/functional/begin.yaml
  qa/suites/fs/libcephfs/begin
  qa/suites/fs/libcephfs/begin.yaml
  qa/suites/fs/mirror-ha/begin
  qa/suites/fs/mirror-ha/begin.yaml
  qa/suites/fs/mirror/begin
  qa/suites/fs/mirror/begin.yaml
  qa/suites/fs/mixed-clients/begin
  qa/suites/fs/mixed-clients/begin.yaml
  qa/suites/fs/multiclient/begin
  qa/suites/fs/multiclient/begin.yaml
  qa/suites/fs/multifs/begin
  qa/suites/fs/multifs/begin.yaml
  qa/suites/fs/permission/begin
  qa/suites/fs/permission/begin.yaml
  qa/suites/fs/shell/begin
  qa/suites/fs/shell/begin.yaml
  qa/suites/fs/snaps/begin
  qa/suites/fs/snaps/begin.yaml
  qa/suites/fs/thrash/multifs/begin
  qa/suites/fs/thrash/multifs/begin.yaml
  qa/suites/fs/thrash/workloads/begin
  qa/suites/fs/thrash/workloads/begin.yaml
  qa/suites/fs/top/begin
  qa/suites/fs/top/begin.yaml
  qa/suites/fs/traceless/begin
  qa/suites/fs/traceless/begin.yaml
  qa/suites/fs/valgrind/begin
  qa/suites/fs/valgrind/begin.yaml
  qa/suites/fs/verify/begin
  qa/suites/fs/verify/begin.yaml
  qa/suites/fs/volumes/begin
  qa/suites/fs/volumes/begin.yaml
  qa/suites/fs/workload/0-rhel_8.yaml
  qa/suites/fs/workload/begin.yaml
  qa/suites/fs/workload/begin/+
  qa/suites/fs/workload/begin/.qa
  qa/suites/fs/workload/begin/0-install.yaml
  qa/suites/fs/workload/begin/1-cephadm.yaml
  qa/suites/fs/workload/begin/2-logrotate.yaml
  qa/suites/fs/workload/distro
  qa/tasks/cephadm.py
Labels: cephfs, tests, cephadm

#44939 rgw/dbstore: Add dbstore-tests to `make check`
  src/rgw/store/dbstore/tests/CMakeLists.txt
  src/rgw/store/dbstore/tests/dbstore_tests.cc
Labels: rgw, build/ops

#44956 mgr/dashboard: change the readFile to readFileSync
  src/pybind/mgr/dashboard/frontend/applitools.config.js
Labels: pybind, dashboard, needs-quincy-backport

#44903 pacific: qa/distros/podman: remove centos_8.2 and centos_8.3
  qa/distros/container-hosts/centos_8.2_container_tools_3.0.yaml
  qa/distros/container-hosts/centos_8.3_container_tools_3.0.yaml
  qa/distros/podman/centos_8.2_container_tools_3.0.yaml
  qa/distros/podman/centos_8.3_container_tools_3.0.yaml
  qa/suites/orch/cephadm/dashboard/0-distro/centos_8.3_container_tools_3.0.yaml
  qa/suites/orch/cephadm/dashboard/0-distro/centos_8.stream_container_tools.yaml
  qa/suites/orch/cephadm/mgr-nfs-upgrade/0-distro/centos_8.3_container_tools_3.0.yaml
  qa/suites/orch/cephadm/workunits/0-distro/centos_8.2_container_tools_3.0.yaml
  qa/suites/rados/dashboard/centos_8.2_container_tools_3.0.yaml
  qa/suites/rados/dashboard/centos_8.stream_container_tools.yaml
Labels: core, needs-qa, wip-yuri2-testing, dashboard

#44860 octopus: Fix data corruption in bluefs truncate()
  src/os/bluestore/BlueFS.cc
  src/test/objectstore/test_bluefs.cc
Labels: core, needs-qa, wip-yuri3-testing

#44889 qa: Default to CentOS 8 Stream
  qa/distros/all/centos_8.stream.yaml
  qa/distros/all/centos_8.yaml
Labels: core, needs-qa, wip-yuri2-testing

#44953 purge_queue.py: fixed typo
  src/pybind/mgr/volumes/fs/purge_queue.py
Labels: cephfs, pybind

#44808 mgr/dashboard: support snmp-gateway service creation from UI
  src/pybind/mgr/dashboard/frontend/cypress/integration/cluster/services.po.ts
  src/pybind/mgr/dashboard/frontend/cypress/integration/orchestrator/workflow/09-services.e2e-spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/services/service-form/service-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/services/service-form/service-form.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/services/service-form/service-form.component.ts
Labels: pybind, needs-review, dashboard, needs-quincy-backport

#44765 ceph-volume: honour osd_dmcrypt_key_size option
  src/ceph-volume/ceph_volume/devices/lvm/activate.py
  src/ceph-volume/ceph_volume/tests/devices/lvm/test_activate.py
  src/ceph-volume/ceph_volume/tests/functional/vagrant_variables.yml
  src/ceph-volume/ceph_volume/tests/util/test_encryption.py
  src/ceph-volume/ceph_volume/util/encryption.py
Labels: ceph-volume

#44614 octopus: os/bluestore: make shared blob fsck much less RAM-greedy.
  src/common/options.cc
  src/os/bluestore/BlueStore.cc
  src/os/bluestore/BlueStore.h
  src/os/bluestore/bluestore_types.cc
  src/os/bluestore/bluestore_types.h
  src/test/objectstore/store_test.cc
  src/test/objectstore/test_bluestore_types.cc
Labels: needs-qa, bluestore, wip-yuri3-testing

#44963 doc/dev: add section on using the gen_state_diagram.py script
  doc/dev/peering.rst
  doc/scripts/README.md
Labels: documentation

#44964 PendingReleaseNotes: add a note about perf channel
  PendingReleaseNotes
Labels: documentation, telemetry, needs-quincy-backport

#44968 crimson/os/seastore/segment_cleaner: minor cleanups
  src/crimson/net/Socket.cc
  src/crimson/os/seastore/journal.cc
  src/crimson/os/seastore/segment_cleaner.cc
  src/crimson/os/seastore/segment_cleaner.h
Labels: crimson

#44852 quincy: rgw: fix bucket index list minor calculation bug
  src/cls/rgw/cls_rgw.cc
Labels: rgw, wip-yuri11-testing

#44906 quincy: rgw: check bucket shard init status in RGWRadosBILogTrimCR
  src/rgw/rgw_cr_rados.cc
  src/rgw/rgw_cr_rados.h
Labels: rgw, wip-yuri11-testing

#44977 pacific: mgr/dashboard: support snmp-gateway service creation from UI
  src/pybind/mgr/dashboard/frontend/cypress/integration/cluster/services.po.ts
  src/pybind/mgr/dashboard/frontend/cypress/integration/orchestrator/workflow/09-services.e2e-spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/services/service-form/service-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/services/service-form/service-form.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/services/service-form/service-form.component.ts
Labels: pybind, dashboard, backport:no-conflicts

#44918 quincy: BlueStore:NCB:Bug-Fix for recovery code with shared blobs
  src/crimson/os/alienstore/CMakeLists.txt
  src/os/CMakeLists.txt
  src/os/bluestore/BlueStore.cc
  src/os/bluestore/BlueStore.h
  src/os/bluestore/bluestore_tool.cc
  src/os/bluestore/simple_bitmap.cc
  src/os/bluestore/simple_bitmap.h
  src/test/objectstore/test_bluestore_types.cc
Labels: core, needs-qa, tests, build/ops, bluestore, crimson, wip-yuri11-testing

#44809 crimson/os/seastore: allow EPM to make decisions on the general allocation path
  src/crimson/os/seastore/cache.cc
  src/crimson/os/seastore/cache.h
  src/crimson/os/seastore/cached_extent.h
  src/crimson/os/seastore/extent_placement_manager.cc
  src/crimson/os/seastore/extent_placement_manager.h
  src/crimson/os/seastore/extent_reader.cc
  src/crimson/os/seastore/journal.cc
  src/crimson/os/seastore/lba_manager.cc
  src/crimson/os/seastore/lba_manager.h
  src/crimson/os/seastore/lba_manager/btree/btree_lba_manager.cc
  src/crimson/os/seastore/lba_manager/btree/btree_lba_manager.h
  src/crimson/os/seastore/seastore.cc
  src/crimson/os/seastore/seastore_types.cc
  src/crimson/os/seastore/seastore_types.h
  src/crimson/os/seastore/segment_cleaner.cc
  src/crimson/os/seastore/segment_cleaner.h
  src/crimson/os/seastore/transaction.h
  src/crimson/os/seastore/transaction_manager.cc
  src/crimson/os/seastore/transaction_manager.h
  src/crimson/tools/store_nbd/tm_driver.cc
  src/test/crimson/seastore/test_btree_lba_manager.cc
  src/test/crimson/seastore/test_seastore_cache.cc
  src/test/crimson/seastore/test_seastore_journal.cc
  src/test/crimson/seastore/transaction_manager_test_state.h
Labels: tests, crimson

#44978 octopus: os/bluestore: list obj which equals to pend
  src/os/bluestore/BlueStore.cc
  src/test/objectstore/store_test.cc
Labels: bug fix, needs-qa, wip-yuri2-testing, bluestore

#44289 msg/async: fix outgoing_bl overflow and reset state_offset
  src/common/buffer.cc
  src/common/options/global.yaml.in
  src/msg/async/AsyncConnection.cc
  src/msg/async/AsyncConnection.h
  src/msg/async/ProtocolV1.cc
  src/msg/async/ProtocolV2.cc
  src/test/msgr/test_msgr.cc
Labels: bug fix, core, needs-qa, tests, common, wip-yuri-testing

#44752 pybind/mgr: ceph osd status crash with ZeroDivisionError
  src/pybind/mgr/status/module.py
Labels: core, needs-qa, pybind, wip-yuri-testing

#44780 mds, osd: add dump_blocked_ops_count command
  src/common/TrackedOp.cc
  src/common/TrackedOp.h
  src/mds/MDSDaemon.cc
  src/mds/MDSRank.cc
  src/osd/OSD.cc
Labels: core, cephfs, needs-qa, common, wip-yuri-testing

#44898 doc/man/8: Fix spelling in user rename example
  doc/man/8/radosgw-admin.rst
Labels: documentation

#44308 doc: document mds locking operation
  doc/dev/mds_internals/locking.rst
Labels: documentation, cephfs

#39315 mds: fetch single dentry instead of complete dirfrag for lookup
  qa/cephfs/overrides/prefetch_entire_dirfrags/no.yaml
  qa/cephfs/overrides/prefetch_entire_dirfrags/yes.yaml
  qa/suites/fs/thrash/workloads/overrides/prefetch_entire_dirfrags
  src/common/options/mds.yaml.in
  src/mds/CDentry.cc
  src/mds/CDentry.h
  src/mds/CDir.cc
  src/mds/CDir.h
  src/mds/MDCache.cc
  src/mds/MDCache.h
  src/mds/MDSRank.cc
  src/mds/MDSRank.h
  src/mds/Migrator.cc
  src/mds/OpenFileTable.cc
  src/mds/ScrubStack.cc
  src/mds/Server.cc
  src/mds/journal.cc
  src/mds/mdstypes.h
Labels: cephfs, common, wip-vshankar-testing

#44971 doc: mention MDS name and ID format in ceph-mds.rst
  doc/man/8/ceph-mds.rst
Labels: documentation, cephfs

#44965 qa/tasks/cephadm_cases: increase timeouts in test_cli.py
  qa/tasks/cephadm_cases/test_cli.py
Labels: tests, cephadm, wip-adk-testing

#44972 quincy: ceph-volume: honour osd_dmcrypt_key_size option
  src/ceph-volume/ceph_volume/devices/lvm/activate.py
  src/ceph-volume/ceph_volume/tests/devices/lvm/test_activate.py
  src/ceph-volume/ceph_volume/tests/functional/vagrant_variables.yml
  src/ceph-volume/ceph_volume/tests/util/test_encryption.py
  src/ceph-volume/ceph_volume/util/encryption.py
Labels: ceph-volume

#44973 pacific: ceph-volume: honour osd_dmcrypt_key_size option
  src/ceph-volume/ceph_volume/devices/lvm/activate.py
  src/ceph-volume/ceph_volume/tests/devices/lvm/test_activate.py
  src/ceph-volume/ceph_volume/tests/functional/vagrant_variables.yml
  src/ceph-volume/ceph_volume/tests/util/test_encryption.py
  src/ceph-volume/ceph_volume/util/encryption.py
Labels: ceph-volume

#44767 pacific: ceph-volume: fix tags dict output in `lvm list`
  src/ceph-volume/ceph_volume/devices/lvm/batch.py
  src/ceph-volume/ceph_volume/devices/lvm/common.py
  src/ceph-volume/ceph_volume/devices/raw/common.py
  src/ceph-volume/ceph_volume/tests/devices/lvm/test_activate.py
Labels: ceph-volume

#44974 octopus: ceph-volume: honour osd_dmcrypt_key_size option
  src/ceph-volume/ceph_volume/devices/lvm/activate.py
  src/ceph-volume/ceph_volume/tests/devices/lvm/test_activate.py
  src/ceph-volume/ceph_volume/tests/functional/vagrant_variables.yml
  src/ceph-volume/ceph_volume/tests/util/test_encryption.py
  src/ceph-volume/ceph_volume/util/encryption.py
Labels: ceph-volume

#45018 admin/doc-requirements: pin breathe to 4.32.0
  admin/doc-requirements.txt
Labels: bug fix, documentation, build/ops

#44917 qa/orch: use hwe kernel in rook/smoke tests (ubuntu 20.04)
  qa/suites/orch/rook/smoke/0-distro/ubuntu_20.04.yaml
Labels: needs-qa, rook, wip-adk-testing

#44983 rgw: remove rgw_rados_pool_pg_num_min and its use on pool creation
  src/common/options/rgw.yaml.in
  src/rgw/rgw_tools.cc
Labels: core, rgw, needs-qa, common, wip-yuri4-testing

#44670 common: fix FTBFS due to dout & need_dynamic on GCC-12
  src/common/dout.h
Labels: bug fix, needs-qa, common, wip-yuri4-testing

#44794 common: fix compilation warnings in numa.cc
  src/common/numa.cc
Labels: needs-qa, common, wip-yuri4-testing

#44779 mgr/cephadm: Adding logic to cleanup several ceph dirs (rm-cluster)
  src/cephadm/cephadm
Labels: needs-qa, cephadm, wip-adk-testing

#44884 pacific: ceph-volume: fix error 'KeyError' with inventory
  src/ceph-volume/ceph_volume/api/lvm.py
Labels: ceph-volume

#44789 pacific: ceph-volume: improve mpath devices support
  doc/ceph-volume/lvm/prepare.rst
  src/ceph-volume/ceph_volume/devices/lvm/zap.py
  src/ceph-volume/ceph_volume/tests/util/test_device.py
  src/ceph-volume/ceph_volume/util/device.py
Labels: documentation, ceph-volume

#45011 include/rados/librados.h: drop duplicated function declaration
  src/include/rados/librados.h
Labels: cleanup, needs-qa, wip-yuri4-testing

#43588 mds: add truncate size handling support for fscrypt
  src/client/Client.cc
  src/client/Client.h
  src/client/Inode.h
  src/client/MetaRequest.h
  src/common/options/mds.yaml.in
  src/include/ceph_fs.h
  src/include/cephfs/libcephfs.h
  src/include/encoding.h
  src/mds/CInode.cc
  src/mds/Locker.cc
  src/mds/MDCache.cc
  src/mds/MDCache.h
  src/mds/Server.cc
  src/mds/Server.h
  src/mds/events/EMetaBlob.h
  src/mds/fscrypt.h
  src/mds/mdstypes.h
  src/messages/MClientCaps.h
  src/messages/MClientReply.h
  src/messages/MClientRequest.h
  src/test/libcephfs/test.cc
Labels: feature, cephfs, tests, common

#44876 pacific: mgr/dashboard: Improve notifications for osd nearfull, full
  qa/tasks/mgr/dashboard/test_health.py
  src/pybind/mgr/dashboard/controllers/health.py
  src/pybind/mgr/dashboard/controllers/osd.py
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/osd/osd-list/osd-list.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/osd/osd-list/osd-list.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/dashboard/health/health.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/ceph/dashboard/health/health.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/dashboard/osd-summary.pipe.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/dashboard/osd-summary.pipe.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/osd.service.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/usage-bar/usage-bar.component.html
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/usage-bar/usage-bar.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/usage-bar/usage-bar.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/models/osd-settings.ts
  src/pybind/mgr/dashboard/frontend/src/styles/defaults/_bootstrap-defaults.scss
  src/pybind/mgr/dashboard/openapi.yaml
Labels: tests, pybind, dashboard, backport:no-conflicts, api-change

#44935 pacific: mgr/dashboard: set appropriate baseline branch for applitools
  src/pybind/mgr/dashboard/frontend/applitools.config.js
Labels: pybind, dashboard, skip-teuthology, backport:no-conflicts

#44938 pacific: mgr/dashboard: cephadm e2e job improvements
  doc/dev/developer_guide/dash-devel.rst
  src/pybind/mgr/dashboard/ci/cephadm/bootstrap-cluster.sh
  src/pybind/mgr/dashboard/ci/cephadm/ceph_cluster.yml
  src/pybind/mgr/dashboard/ci/cephadm/start-cluster.sh
  src/pybind/mgr/dashboard/frontend/cypress/integration/orchestrator/workflow/02-create-cluster-add-host.e2e-spec.ts
  src/pybind/mgr/dashboard/frontend/cypress/integration/orchestrator/workflow/03-create-cluster-create-services.e2e-spec.ts
  src/pybind/mgr/dashboard/frontend/cypress/integration/orchestrator/workflow/04-create-cluster-create-osds.e2e-spec.ts
  src/pybind/mgr/dashboard/frontend/cypress/integration/orchestrator/workflow/06-cluster-check.e2e-spec.ts
  src/pybind/mgr/dashboard/frontend/cypress/integration/orchestrator/workflow/08-hosts.e2e-spec.ts
Labels: documentation, pybind, dashboard, backport:no-conflicts

#44756 pacific: mgr/dashboard: Notification banners at the top of the UI have fixed height
  src/pybind/mgr/dashboard/frontend/cypress/integration/ui/navigation.e2e-spec.ts
  src/pybind/mgr/dashboard/frontend/cypress/integration/ui/navigation.po.ts
  src/pybind/mgr/dashboard/frontend/src/app/core/layouts/workbench-layout/workbench-layout.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/core/navigation/navigation/navigation.component.html
  src/pybind/mgr/dashboard/frontend/src/app/core/navigation/navigation/navigation.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/alert-panel/alert-panel.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/pwd-expiration-notification/pwd-expiration-notification.component.html
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/pwd-expiration-notification/pwd-expiration-notification.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/pwd-expiration-notification/pwd-expiration-notification.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/pwd-expiration-notification/pwd-expiration-notification.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/telemetry-notification/telemetry-notification.component.html
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/telemetry-notification/telemetry-notification.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/telemetry-notification/telemetry-notification.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/telemetry-notification/telemetry-notification.component.ts
  src/pybind/mgr/dashboard/frontend/src/styles/defaults/_bootstrap-defaults.scss
Labels: pybind, dashboard

#44951 mgr/dashboard: "Please expand your cluster first" shouldn't be shown if cluster is already meaningfully running
  src/cephadm/cephadm
  src/pybind/mgr/dashboard/services/cluster.py
Labels: bug fix, pybind, dashboard, cephadm, needs-quincy-backport

#45032 Revert "admin/doc-requirements: pin breathe to 4.32.0"
  admin/doc-requirements.txt
Labels: build/ops

#44988 Fix rgw data sync log info error
  src/rgw/rgw_data_sync.cc
Labels: rgw, needs-qa

#44875 quincy: mgr/volumes: Fix subvoume snapshot clone failure
  qa/tasks/cephfs/test_volumes.py
  src/pybind/mgr/volumes/fs/async_cloner.py
  src/pybind/mgr/volumes/fs/operations/versions/subvolume_v1.py
  src/pybind/mgr/volumes/fs/operations/versions/subvolume_v2.py
Labels: core, cephfs, needs-qa, tests, pybind, wip-yuri11-testing

#44543 pacific: mon: prevent new sessions during shutdown
  src/mon/Monitor.cc
Labels: core, mon, wip-yuri5-testing

#44986 octopus: qa/ceph-ansible: Move to Centos Stream
  qa/suites/ceph-ansible/smoke/basic/1-distros/centos_8.4.yaml
  qa/suites/ceph-ansible/smoke/basic/1-distros/centos_latest.yaml
Labels: cleanup, tests

#44659 test/alloc_replay_test: be able to cap allocator space with capacity …
  src/test/objectstore/allocator_replay_test.cc
Labels: tests, bluestore

#45020 mgr/dashboard: change privacy protocol field from required to optional
  src/pybind/mgr/dashboard/frontend/cypress/integration/cluster/services.po.ts
  src/pybind/mgr/dashboard/frontend/cypress/integration/orchestrator/workflow/09-services.e2e-spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/services/service-form/service-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/services/service-form/service-form.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/services/service-form/service-form.component.ts
Labels: pybind, dashboard, skip-teuthology

#45021 cls/rbd: GroupSnapshotNamespace comparator violates ordering rules
  src/cls/rbd/cls_rbd_types.h
Labels: bug fix, rbd, wip-dis-testing, needs-quincy-backport

#45045 qa/tasks/qemu: make sure block-rbd.so is installed
  qa/suites/rbd/singleton/all/qemu-iotests-no-cache.yaml
  qa/suites/rbd/singleton/all/qemu-iotests-writearound.yaml
  qa/suites/rbd/singleton/all/qemu-iotests-writeback.yaml
  qa/suites/rbd/singleton/all/qemu-iotests-writethrough.yaml
  qa/tasks/qemu.py
Labels: rbd, tests, wip-dis-testing, needs-quincy-backport

#44747 pacific: rgw: fix lock scope in ObjectCache::get()
  src/rgw/rgw_cache.cc
Labels: rgw

#45052 pacific: mgr/dashboard: change privacy protocol field from required to optional
  src/pybind/mgr/dashboard/frontend/cypress/integration/cluster/services.po.ts
  src/pybind/mgr/dashboard/frontend/cypress/integration/orchestrator/workflow/09-services.e2e-spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/services/service-form/service-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/services/service-form/service-form.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/services/service-form/service-form.component.ts
Labels: pybind, dashboard, skip-teuthology, backport:no-conflicts

#45028 pacific: mgr/dashboard: Directories Menu Can't Use on Ceph File System Dashboard
  src/pybind/mgr/dashboard/controllers/cephfs.py
  src/pybind/mgr/dashboard/services/exception.py
Labels: pybind, dashboard, ready-to-merge, backport:no-conflicts

#44698 pacific: mon/OSDMonitor: avoid null dereference if stats are not available
  src/mon/OSDMonitor.cc
Labels: core, needs-qa, mon, wip-yuri5-testing

#44721 pacific: mon/MgrStatMonitor: do not spam subscribers (mgr) with service_map
  src/mon/MgrStatMonitor.cc
Labels: core, needs-qa, mon, wip-yuri5-testing

#44723 pacific: os/bluestore: avoid premature onode release.
  src/os/bluestore/BlueStore.cc
  src/os/bluestore/BlueStore.h
Labels: core, needs-qa, bluestore, wip-yuri5-testing

#44628 pacific: mgr/cephadm: fix 'mgr/cephadm: spec.virtual_ip param should be used by the ingress daemon
  src/pybind/mgr/cephadm/services/ingress.py
  src/pybind/mgr/cephadm/templates/services/ingress/haproxy.cfg.j2
  src/pybind/mgr/cephadm/tests/test_services.py
Labels: pybind, cephadm, wip-adk2-testing

#44630 pacific: mgr/cephadm: fix tcmu-runner cephadm_stray_daemon
  src/pybind/mgr/cephadm/serve.py
Labels: pybind, cephadm, wip-swagner3-testing, wip-adk2-testing

#44631 pacific: mgr/cephadm: nfs migration: avoid port conflicts
  src/pybind/mgr/cephadm/migrations.py
Labels: pybind, cephadm, wip-swagner3-testing, wip-adk2-testing

#44633 pacific: Enable autotune for osd_memory_target on bootstrap
  PendingReleaseNotes
  doc/cephadm/install.rst
  doc/cephadm/services/osd.rst
  src/cephadm/cephadm
Labels: documentation, cephadm, wip-swagner3-testing, wip-adk2-testing

#44634 pacific: cephadm: check if cephadm is root after cli is parsed
  src/cephadm/cephadm
Labels: cephadm, wip-swagner3-testing, wip-adk2-testing

#44829 pacific: mgr/cephadm: allow miscellaneous container args at service level
  doc/cephadm/services/index.rst
  src/cephadm/cephadm
  src/pybind/mgr/cephadm/serve.py
  src/pybind/mgr/cephadm/services/cephadmservice.py
  src/pybind/mgr/cephadm/tests/test_cephadm.py
  src/pybind/mgr/cephadm/tests/test_services.py
  src/pybind/mgr/orchestrator/_interface.py
  src/python-common/ceph/deployment/service_spec.py
Labels: documentation, pybind, orchestrator, cephadm, wip-adk2-testing

#44830 pacific: mgr/cephadm/iscsi: use `mon_command` in `post_remove` instead of `check_mon_command`
  src/pybind/mgr/cephadm/services/iscsi.py
Labels: pybind, cephadm, wip-adk2-testing

#44146 pacific: mgr/prometheus: Fix the per method stats exported
  src/pybind/mgr/prometheus/module.py
Labels: pybind, monitoring, wip-adk2-testing

#45049 crimson: eliminate clang build warning in crimson
  src/crimson/os/seastore/lba_manager/btree/lba_btree.cc
  src/crimson/os/seastore/omap_manager/btree/omap_btree_node_impl.cc
  src/crimson/os/seastore/onode_manager/staged-fltree/node_extent_accessor.h
  src/crimson/os/seastore/onode_manager/staged-fltree/tree_utils.h
  src/crimson/os/seastore/seastore.cc
  src/crimson/os/seastore/seastore_types.h
  src/crimson/tools/store_nbd/fs_driver.cc
  src/crimson/tools/store_nbd/tm_driver.cc
Labels: crimson

#44879 pacific: doc/cephadm: Co-location of daemons
  doc/cephadm/services/index.rst
  doc/cephadm/services/mgr.rst
  doc/cephadm/services/rgw.rst
Labels: documentation, cephadm

#44952 quincy: [BlueStore] Fix problem with volume selector
  src/common/options/global.yaml.in
  src/os/bluestore/BlueFS.cc
  src/os/bluestore/BlueFS.h
  src/os/bluestore/BlueStore.cc
  src/os/bluestore/BlueStore.h
Labels: core, needs-qa, common, bluestore, wip-yuri7-testing

#44982 quincy: qa: use cephadm to provision cephfs for fs:workloads
  qa/cephfs/begin/+
  qa/cephfs/begin/0-install.yaml
  qa/cephfs/begin/1-ceph.yaml
  qa/cephfs/begin/2-logrotate.yaml
  qa/cephfs/mount/kclient/overrides/distro/testing/flavor/.qa
  qa/cephfs/mount/kclient/overrides/distro/testing/flavor/centos_latest.yaml
  qa/cephfs/mount/kclient/overrides/distro/testing/flavor/ubuntu_latest.yaml
  qa/suites/fs/32bits/begin
  qa/suites/fs/32bits/begin.yaml
  qa/suites/fs/bugs/client_trim_caps/begin
  qa/suites/fs/bugs/client_trim_caps/begin.yaml
  qa/suites/fs/full/begin
  qa/suites/fs/full/begin.yaml
  qa/suites/fs/functional/begin
  qa/suites/fs/functional/begin.yaml
  qa/suites/fs/libcephfs/begin
  qa/suites/fs/libcephfs/begin.yaml
  qa/suites/fs/mirror-ha/begin
  qa/suites/fs/mirror-ha/begin.yaml
  qa/suites/fs/mirror/begin
  qa/suites/fs/mirror/begin.yaml
  qa/suites/fs/mixed-clients/begin
  qa/suites/fs/mixed-clients/begin.yaml
  qa/suites/fs/multiclient/begin
  qa/suites/fs/multiclient/begin.yaml
  qa/suites/fs/multifs/begin
  qa/suites/fs/multifs/begin.yaml
  qa/suites/fs/permission/begin
  qa/suites/fs/permission/begin.yaml
  qa/suites/fs/shell/begin
  qa/suites/fs/shell/begin.yaml
  qa/suites/fs/snaps/begin
  qa/suites/fs/snaps/begin.yaml
  qa/suites/fs/thrash/multifs/begin
  qa/suites/fs/thrash/multifs/begin.yaml
  qa/suites/fs/thrash/workloads/begin
  qa/suites/fs/thrash/workloads/begin.yaml
  qa/suites/fs/top/begin
  qa/suites/fs/top/begin.yaml
  qa/suites/fs/traceless/begin
  qa/suites/fs/traceless/begin.yaml
  qa/suites/fs/valgrind/begin
  qa/suites/fs/valgrind/begin.yaml
  qa/suites/fs/verify/begin
  qa/suites/fs/verify/begin.yaml
  qa/suites/fs/volumes/begin
  qa/suites/fs/volumes/begin.yaml
  qa/suites/fs/workload/0-rhel_8.yaml
  qa/suites/fs/workload/begin.yaml
  qa/suites/fs/workload/begin/+
  qa/suites/fs/workload/begin/.qa
  qa/suites/fs/workload/begin/0-install.yaml
  qa/suites/fs/workload/begin/1-cephadm.yaml
  qa/suites/fs/workload/begin/2-logrotate.yaml
  qa/suites/fs/workload/distro
  qa/tasks/cephadm.py
Labels: cephfs, needs-qa, tests, wip-yuri7-testing, cephadm, quincy-batch-1

#45029 quincy: mgr/telemetry: collect what we can from histograms, mempools, and heap stats
  src/pybind/mgr/telemetry/module.py
Labels: core, needs-qa, pybind, wip-yuri7-testing, telemetry

#45030 quincy: mgr/telemetry: add basic_pool_usage and basic_usage_by_class collections to the telemetry module
  doc/mgr/telemetry.rst
  src/pybind/mgr/telemetry/module.py
Labels: documentation, needs-qa, pybind, mgr, wip-yuri7-testing, telemetry

#45043 quincy: pybind/mgr/progress: disable pg recovery event by default
  PendingReleaseNotes
  doc/mgr/progress.rst
  qa/tasks/mgr/test_progress.py
  src/pybind/mgr/progress/module.py
Labels: documentation, core, needs-qa, tests, pybind, mgr, wip-yuri7-testing

#45038 quincy: cephadm/ingress: make frontend stat bind on localhost
  src/pybind/mgr/cephadm/templates/services/ingress/haproxy.cfg.j2
  src/pybind/mgr/cephadm/tests/test_services.py
Labels: needs-qa, pybind, wip-yuri7-testing, cephadm

#44545 pacific: osd/OSDMapMapping: fix spurious threadpool timeout errors
  src/common/WorkQueue.cc
  src/osd/OSDMapMapping.h
Labels: core, needs-qa, common, wip-yuri5-testing

#44725 pacific: osdc: add set_error in BufferHead, when split set_error to right
  src/osdc/ObjectCacher.cc
  src/osdc/ObjectCacher.h
Labels: core, needs-qa, wip-yuri5-testing

#45057 doc/start: remove L and N release-related tables
  doc/start/os-recommendations.rst
Labels: documentation

#44933 crimson/seastore: support sparse_read
  src/crimson/os/seastore/object_data_handler.cc
  src/crimson/os/seastore/object_data_handler.h
  src/crimson/os/seastore/seastore.cc
  src/crimson/os/seastore/seastore.h
  src/test/crimson/seastore/test_seastore.cc
Labels: tests, crimson

#45058 quincy: rbd backports (batch 3)
  qa/suites/rbd/singleton/all/qemu-iotests-no-cache.yaml
  qa/suites/rbd/singleton/all/qemu-iotests-writearound.yaml
  qa/suites/rbd/singleton/all/qemu-iotests-writeback.yaml
  qa/suites/rbd/singleton/all/qemu-iotests-writethrough.yaml
  qa/tasks/qemu.py
  src/cls/rbd/cls_rbd_types.h
  src/test/cli/rbd/help.t
  src/tools/rbd/OptionPrinter.cc
  src/tools/rbd/Schedule.cc
  src/tools/rbd/Schedule.h
  src/tools/rbd/action/MirrorImage.cc
  src/tools/rbd/action/MirrorSnapshotSchedule.cc
  src/tools/rbd/action/TrashPurgeSchedule.cc
Labels: rbd, tests, quincy-batch-1

#45044 pacific: mgr/dashboard: "Please expand your cluster first" shouldn't be shown if cluster is already meaningfully running
  src/cephadm/cephadm
  src/pybind/mgr/dashboard/services/cluster.py
Labels: pybind, dashboard, orchestrator, cephadm
