Repository ceph/ceph, pull requests merged in 2023-08, with the labels that each got.

#52701 mgr: fix flake8 compliants
  src/pybind/mgr/cephadm/tests/fixtures.py
  src/pybind/mgr/cephadm/tests/test_upgrade.py
  src/pybind/mgr/crash/module.py
Labels: pybind, mgr, cephadm

#52493 mgr/dashboard: cluster upgrade start UI
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/cluster.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/upgrade/upgrade-form/upgrade-start-modal.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/upgrade/upgrade-form/upgrade-start-modal.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/upgrade/upgrade-form/upgrade-start-modal.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/upgrade/upgrade-form/upgrade-start-modal.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/upgrade/upgrade.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/upgrade/upgrade.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/upgrade/upgrade.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/upgrade.service.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/upgrade.service.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/constants/app.constants.ts
Labels: pybind, dashboard

#52526 mgr/dashboard: cephfs volume creation form
  src/pybind/mgr/dashboard/controllers/cephfs.py
  src/pybind/mgr/dashboard/frontend/src/app/app-routing.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cephfs/cephfs-directories/cephfs-directories.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cephfs/cephfs-form/cephfs-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cephfs/cephfs-form/cephfs-form.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cephfs/cephfs-form/cephfs-form.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cephfs/cephfs-form/cephfs-form.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cephfs/cephfs-list/cephfs-list.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cephfs/cephfs-list/cephfs-list.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cephfs/cephfs-list/cephfs-list.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cephfs/cephfs.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/cephfs.service.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/services/task-message.service.ts
  src/pybind/mgr/dashboard/openapi.yaml
Labels: pybind, dashboard, api-change

#52305 test/objectstore: Disk Fragmentation Simulator Metrics
  src/test/objectstore/Fragmentation_simulator.cc
  src/test/objectstore/ObjectStoreImitator.cc
  src/test/objectstore/ObjectStoreImitator.h
Labels: tests, build/ops

#49943 pacific: Wip nitzan fixing few rados/test.sh
  qa/suites/rados/verify/tasks/rados_api_tests.yaml
  src/test/librados/TestCase.cc
  src/test/librados/aio.cc
  src/test/librados/aio_cxx.cc
  src/test/librados/test_shared.h
  src/test/librados/testcase_cxx.cc
  src/test/librados/watch_notify.cc
  src/test/system/systest_runnable.cc
Labels: core, needs-qa, tests, wip-yuri11-testing

#52159 pacific: rgw: avoid string_view to temporary in RGWBulkUploadOp
  src/rgw/rgw_op.cc
Labels: rgw, needs-qa, wip-yuri11-testing

#52731 reef: mgr: fix some flake8 complaints
  src/pybind/mgr/cephadm/tests/fixtures.py
  src/pybind/mgr/cephadm/tests/test_upgrade.py
  src/pybind/mgr/crash/module.py
Labels: pybind, cephadm

#52675 test/TestOSDMap: don't use the deprecated std::random_shuffle method
  src/test/osd/TestOSDMap.cc
Labels: core, needs-qa, tests

#52732 qa/cephfs: redefinition of unused 'random' from line 7
  qa/tasks/cephfs/test_client_recovery.py
Labels: cephfs, tests

#47573 cpatch.py: a python based cpatch script
  src/script/cpatch.py
Labels: build/ops, needs-review, cephadm

#52569 test/libcephfs: update delegation test assertions
  src/test/libcephfs/deleg.cc
Labels: cephfs, tests, ready-to-merge, wip-mchangir-testing1

#51960 doc: improve doc/dev/encoding.rst
  doc/dev/encoding.rst
Labels: documentation

#52698 exporter: fix instance_id labeld value for rgw in exporter
  src/exporter/DaemonMetricCollector.cc
  src/test/exporter/test_exporter.cc
Labels: tests, pybind, DNM, dashboard, wip-athakkar-testing

#52559 build: Remove ceph-libboost* packages in install-deps
  install-deps.sh
Labels: build/ops

#52762 rgw/amqp: skip idleness tests since it needs to sleep longer than 30s
  src/test/rgw/test_rgw_amqp.cc
Labels: rgw, tests

#52709 qa/cephfs: fix test_disallow_monitor_managed_snaps_for_fs_pools
  qa/tasks/cephfs/test_snapshots.py
Labels: bug-fix, cephfs, tests, wip-rishabh-testing

#52761 doc/rados/configuration: Avoid repeating "support" in msgr2.rst
  doc/rados/configuration/msgr2.rst
Labels: documentation, core

#52759 quincy: doc: improve doc/dev/encoding.rst
  doc/dev/encoding.rst
Labels: documentation

#52710 reef: qa/rgw: pacific upgrade disables centos9
  qa/suites/rgw/upgrade/1-install/pacific/distro$/centos_8.stream.yaml
  qa/suites/rgw/upgrade/1-install/pacific/distro$/centos_latest.yaml
Labels: rgw, tests

#52754 test: explicitly link to ceph-common for some libcephfs tests
  src/test/libcephfs/CMakeLists.txt
Labels: cephfs, tests, build/ops

#48732 mds: add minor segment boundaries
  doc/cephfs/mds-config-ref.rst
  doc/cephfs/mds-journaling.rst
  qa/tasks/ceph_manager.py
  qa/tasks/cephfs/filesystem.py
  qa/tasks/cephfs/mount.py
  qa/tasks/cephfs/test_client_limits.py
  qa/tasks/cephfs/test_exports.py
  qa/tasks/cephfs/test_failover.py
  qa/tasks/vstart_runner.py
  src/common/options/mds.yaml.in
  src/mds/Beacon.cc
  src/mds/CInode.cc
  src/mds/Locker.cc
  src/mds/LogEvent.cc
  src/mds/LogEvent.h
  src/mds/LogSegment.h
  src/mds/MDCache.cc
  src/mds/MDCache.h
  src/mds/MDLog.cc
  src/mds/MDLog.h
  src/mds/MDSContext.h
  src/mds/MDSMap.cc
  src/mds/MDSMap.h
  src/mds/MDSRank.cc
  src/mds/MDSTableClient.cc
  src/mds/MDSTableServer.cc
  src/mds/Migrator.cc
  src/mds/SegmentBoundary.h
  src/mds/Server.cc
  src/mds/StrayManager.cc
  src/mds/events/ELid.h
  src/mds/events/EMetaBlob.h
  src/mds/events/EResetJournal.h
  src/mds/events/ESegment.h
  src/mds/events/ESubtreeMap.h
  src/mds/journal.cc
  src/pybind/mgr/dashboard/run-backend-api-tests.sh
  src/vstart.sh
Labels: documentation, cephfs, tests, common, pybind, needs-review, dashboard

#52771 rgw/posixdriver: fix a lock_guard typo
  src/rgw/driver/posix/bucket_cache.h
Labels: rgw

#52007 rgw/rgw_admin.cc: Handle pg_ver and source_zone explicitly
  qa/workunits/rgw/test_rgw_d4n.py
  src/rgw/rgw_admin.cc
Labels: rgw, needs-qa, tests, wip-cbodley-testing

#52714 ec: initialize lost_chunk in ErasureCodeClay
  src/erasure-code/clay/ErasureCodeClay.cc
Labels: cleanup, core, ready-to-merge

#52719 rgw/swift: remove redundant moves of object name
  src/rgw/rgw_rest_swift.cc
Labels: cleanup, rgw, ready-to-merge

#52775 doc/rados/operations: Correct EC min_size recommendation to K+1 in erasure-code.rst
  doc/rados/operations/erasure-code.rst
Labels: documentation, core

#52780 quincy: doc: for EC we recommend K+1
  doc/rados/operations/erasure-code.rst
Labels: documentation, core

#52779 reef: doc: for EC we recommend K+1
  doc/rados/operations/erasure-code.rst
Labels: documentation, core

#52757 crimson/os/seastore: retire_extent_addr clean up
  src/crimson/os/seastore/cache.cc
Labels: crimson

#52564 quincy: build: Remove ceph-libboost* packages in install-deps
  install-deps.sh
  src/pybind/mgr/cephadm/tests/fixtures.py
  src/pybind/mgr/cephadm/tests/test_upgrade.py
  src/pybind/mgr/crash/module.py
Labels: bug-fix, build/ops, pybind, cephadm

#52657 mgr/dashboard: cephfs subvolume list
  src/pybind/mgr/dashboard/controllers/cephfs.py
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cephfs/cephfs-subvolume-list/cephfs-subvolume-list.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cephfs/cephfs-subvolume-list/cephfs-subvolume-list.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cephfs/cephfs-subvolume-list/cephfs-subvolume-list.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cephfs/cephfs-subvolume-list/cephfs-subvolume-list.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cephfs/cephfs-tabs/cephfs-tabs.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cephfs/cephfs.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/cephfs-subvolume.service.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/cephfs-subvolume.service.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/cd-label/cd-label.component.html
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/cd-label/cd-label.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/copy2clipboard-button/copy2clipboard-button.component.html
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/copy2clipboard-button/copy2clipboard-button.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/usage-bar/usage-bar.component.html
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/usage-bar/usage-bar.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/datatable/table/table.component.html
  src/pybind/mgr/dashboard/frontend/src/app/shared/datatable/table/table.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/enum/cell-template.enum.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/models/cephfs-subvolume.model.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/pipes/octal-to-human-readable.pipe.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/pipes/octal-to-human-readable.pipe.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/pipes/path.pipe.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/pipes/path.pipe.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/pipes/pipes.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/pipes/relative-date.pipe.ts
  src/pybind/mgr/dashboard/openapi.yaml
Labels: pybind, dashboard, api-change

#52711 rgw: retry metadata cache notifications with INVALIDATE_OBJ
  src/common/options/rgw.yaml.in
  src/rgw/driver/rados/rgw_rados.cc
  src/rgw/driver/rados/rgw_rados.h
  src/rgw/services/svc_notify.cc
  src/rgw/services/svc_notify.h
Labels: rgw, needs-qa, common, wip-cbodley-testing

#52405 mgr/dashboard: add graphs to rgw overview dashboard
  src/pybind/mgr/dashboard/frontend/src/app/ceph/dashboard-v3/dashboard-area-chart/dashboard-area-chart.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/dashboard-v3/dashboard-v3.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/dashboard-v3/dashboard/dashboard-v3.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-overview-dashboard/rgw-overview-dashboard.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-overview-dashboard/rgw-overview-dashboard.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-overview-dashboard/rgw-overview-dashboard.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-overview-dashboard/rgw-overview-dashboard.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/prometheus.service.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/enum/dashboard-promqls.enum.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/services/formatter.service.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/services/number-formatter.service.ts
Labels: documentation, rgw, build/ops, pybind, mgr, dashboard

#52716 reef: src/ceph_release, doc: mark reef stable
  doc/dev/release-checklists.rst
  src/ceph_release
Labels: documentation

#52634 RGW: control the persistency of the notification
  doc/radosgw/config-ref.rst
  src/common/options/rgw.yaml.in
  src/rgw/driver/rados/rgw_notify.cc
Labels: documentation, rgw, needs-qa, common

#52447 common/compressor: update the interfaces and data structures
  src/compressor/QatAccel.cc
Labels: ready-to-merge

#52790 pacific: build: Remove ceph-libboost* packages in install-deps
  install-deps.sh
  src/pybind/mgr/cephadm/tests/fixtures.py
  src/pybind/mgr/cephadm/tests/test_upgrade.py
Labels: build/ops, pybind, cephadm

#52769 reef: build: Remove ceph-libboost* packages in install-deps
  install-deps.sh
Labels: bug-fix, build/ops

#51786 rgw/crypt: apply rgw_crypt_default_encryption_key by default
  src/rgw/rgw_crypt.cc
Labels: bug-fix, rgw, ready-to-merge

#52800 doc/rgw: several response headers are supported
  doc/radosgw/s3.rst
Labels: documentation

#52274 qa/rgw: specify cluster name in 'radosgw-admin gc process'
  qa/tasks/rgw.py
Labels: rgw, tests, ready-to-merge

#52804 quincy: doc/rgw: several response headers are supported
  doc/radosgw/s3.rst
Labels: documentation

#52803 reef: doc/rgw: several response headers are supported
  doc/radosgw/s3.rst
Labels: documentation

#52248 rgw: fetch_remote_obj() preserves original part lengths for BlockDecrypt
  PendingReleaseNotes
  src/rgw/driver/rados/rgw_obj_manifest.h
  src/rgw/driver/rados/rgw_rados.cc
  src/rgw/driver/rados/rgw_rados.h
  src/rgw/rgw_admin.cc
  src/rgw/rgw_common.h
  src/rgw/rgw_crypt.cc
  src/rgw/rgw_crypt.h
  src/rgw/rgw_rest_s3.cc
  src/test/rgw/test_rgw_crypto.cc
Labels: bug-fix, documentation, rgw, tests

#52801 v18.2.0
  CMakeLists.txt
  debian/changelog
Labels: build/ops

#51102 quincy: mon: avoid exception when setting require-osd-release more than 2
  src/mon/OSDMonitor.cc
Labels: core, needs-qa, mon, wip-yuri7-testing

#52158 quincy: rgw: avoid string_view to temporary in RGWBulkUploadOp
  src/rgw/rgw_op.cc
Labels: rgw, needs-qa, wip-yuri7-testing

#52239 quincy: mon/MDSMonitor: do not propose on error in prepare_update
  src/mon/MDSMonitor.cc
Labels: core, cephfs, needs-qa, mon, wip-yuri7-testing

#52243 quincy: mon/MDSMonitor: ignore extraneous up:boot messages
  qa/tasks/ceph_test_case.py
  qa/tasks/cephfs/test_failover.py
  src/mon/MDSMonitor.cc
Labels: core, cephfs, needs-qa, tests, mon, wip-yuri7-testing

#52774 reef: mgr/dashboard: empty grafana panels for performance of daemons
  doc/mgr/prometheus.rst
  src/exporter/DaemonMetricCollector.cc
  src/exporter/DaemonMetricCollector.h
  src/pybind/mgr/dashboard/ci/cephadm/run-cephadm-e2e-tests.sh
  src/pybind/mgr/prometheus/module.py
  src/test/exporter/CMakeLists.txt
  src/test/exporter/test_exporter.cc
Labels: documentation, tests, build/ops, pybind, mgr, dashboard, monitoring, backport: no-conflicts

#52235 reef: qa: wait for MDSMonitor tick to replace daemons
  qa/tasks/cephfs/test_failover.py
Labels: cephfs, needs-qa, tests, wip-yuri-testing

#52497 reef: client: trigger to flush the buffer when making snapshot
  src/client/Client.cc
Labels: cephfs, needs-qa, wip-yuri-testing

#52501 reef: client: do not send metrics until the MDS rank is ready
  src/client/Client.cc
Labels: cephfs, needs-qa, wip-yuri-testing

#52515 reef: mds: session ls command appears twice in command listing
  qa/tasks/cephfs/test_misc.py
  src/mds/MDSDaemon.cc
Labels: cephfs, needs-qa, tests, wip-yuri-testing

#51698 reef: MDS imported_inodes metric is not updated.
  src/mds/Migrator.cc
Labels: cephfs, needs-qa, wip-yuri4-testing

#52213 reef: pybind/mgr/devicehealth: do not crash if db not ready
  src/pybind/mgr/devicehealth/module.py
Labels: needs-qa, pybind, wip-yuri4-testing

#52787 mgr/dashboard: fix average object size calculation in rgw overview dashboard
  src/pybind/mgr/dashboard/services/cluster.py
Labels: pybind, dashboard

#52320 quincy: rgw: D3N cache objects which oid contains slash
  src/rgw/rgw_aio.cc
  src/rgw/rgw_d3n_cacherequest.h
  src/rgw/rgw_d3n_datacache.cc
  src/rgw/rgw_d3n_datacache.h
Labels: bug-fix, rgw, needs-qa, TESTED, ready-to-merge, backport quincy

#52814 doc/rgw: correct statement about default zone features
  doc/radosgw/multisite.rst
Labels: documentation, needs-reef-backport

#52802 doc: Add a Ceph Foundation footer to docs.ceph.com
  doc/_templates/page.html
Labels: documentation

#52778 doc/rados: edit operations/add-or-rm-mons (2 of x)
  doc/rados/operations/add-or-rm-mons.rst
Labels: documentation, core

#52825 reef: doc/rados: edit operations/add-or-rm-mons (2 of x)
  doc/rados/operations/add-or-rm-mons.rst
Labels: documentation, core

#52826 quincy: doc/rados: edit operations/add-or-rm-mons (2 of x)
  doc/rados/operations/add-or-rm-mons.rst
Labels: documentation, core

#52833 reef: doc/rgw: correct statement about default zone features
  doc/radosgw/multisite.rst
Labels: documentation

#52784 qa/suites/crimson-rados: add centos9 to supported distros
  qa/distros/crimson-supported-all-distro/centos_8.yaml
  qa/distros/crimson-supported-all-distro/centos_latest.yaml
  qa/suites/crimson-rados/basic/centos_8.stream.yaml
  qa/suites/crimson-rados/basic/crimson-supported-all-distro
  qa/suites/crimson-rados/perf/centos_8.stream.yaml
  qa/suites/crimson-rados/perf/crimson-supported-all-distro
  qa/suites/crimson-rados/rbd/centos_8.stream.yaml
  qa/suites/crimson-rados/rbd/crimson-supported-all-distro
  qa/suites/crimson-rados/thrash/centos_8.stream.yaml
  qa/suites/crimson-rados/thrash/crimson-supported-all-distro
Labels: crimson

#52824 doc/radosgw: Improve language and formatting in config-ref.rst
  doc/radosgw/config-ref.rst
Labels: documentation

#52785 ceph.spec.in: add libasan to seastar requires
  ceph.spec.in
Labels: build/ops, crimson

#52827 doc/rados: edit troubleshooting-mon.rst (2 of x)
  doc/rados/troubleshooting/troubleshooting-mon.rst
Labels: documentation, core

#52840 quincy: doc/rados: edit troubleshooting-mon.rst (2 of x)
  doc/rados/troubleshooting/troubleshooting-mon.rst
Labels: documentation, core

#52839 reef: doc/rados: edit troubleshooting-mon.rst (2 of x)
  doc/rados/troubleshooting/troubleshooting-mon.rst
Labels: documentation, core

#52703 doc/start: update linking conventions
  doc/start/documenting-ceph.rst
Labels: documentation

#52680 quincy: doc: update README.md install procedure
  README.md
Labels: documentation

#52841 reef: doc/start: update linking conventions
  doc/start/documenting-ceph.rst
Labels: documentation

#52842 quincy: doc/start: update linking conventions
  doc/start/documenting-ceph.rst
Labels: documentation

#52647 mgr/dashboard: rbd type status
  src/pybind/mgr/dashboard/controllers/rbd.py
  src/pybind/mgr/dashboard/controllers/rbd_mirroring.py
Labels: pybind, dashboard

#52704 pacific: mgr/dashboard: allow PUT in CORS
  src/pybind/mgr/dashboard/module.py
Labels: pybind, dashboard

#52395 mgr/dashboard: add logs and daemon version to upgrade UI
  src/pybind/mgr/dashboard/controllers/daemon.py
  src/pybind/mgr/dashboard/frontend/src/app/app-routing.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/logs/logs.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/logs/logs.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/logs/logs.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/upgrade/upgrade-form/upgrade-start-modal.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/upgrade/upgrade.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/upgrade/upgrade.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/upgrade/upgrade.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/dashboard-v3/dashboard-v3.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/dashboard-v3/dashboard/dashboard-v3.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-overview-dashboard/rgw-overview-dashboard.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/daemon.service.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/upgrade.service.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/card-row/card-row.component.html
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/card-row/card-row.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/card-row/card-row.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/card-row/card-row.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/card/card.component.html
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/card/card.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/card/card.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/card/card.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/components.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/datatable/table/table.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/directives/stateful-tab.directive.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/directives/stateful-tab.directive.ts
  src/pybind/mgr/dashboard/openapi.yaml
  src/pybind/mgr/dashboard/tests/test_daemon.py
Labels: pybind, dashboard, api-change

#52728 quincy: mgr/dashboard: Add more decimals in latency graph
  src/pybind/mgr/dashboard/frontend/src/app/ceph/dashboard-v3/dashboard-area-chart/dashboard-area-chart.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/dashboard-v3/dashboard/dashboard-v3.component.html
  src/pybind/mgr/dashboard/frontend/src/app/shared/services/number-formatter.service.ts
Labels: pybind, dashboard, backport: no-conflicts

#52720 mgr/dashboard: exposed the open api documentations to details card
  src/pybind/mgr/dashboard/frontend/src/app/ceph/dashboard-v3/dashboard/dashboard-v3.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/dashboard-v3/dashboard/dashboard-v3.component.ts
Labels: pybind, dashboard

#50813 reef: mds: fix stray evaluation using scrub and introduce new option
  doc/cephfs/scrub.rst
  qa/tasks/cephfs/mount.py
  qa/tasks/cephfs/test_scrub_checks.py
  src/mds/MDCache.cc
  src/mds/MDCache.h
  src/mds/MDSDaemon.cc
  src/mds/MDSRank.cc
  src/mds/ScrubHeader.h
  src/mds/ScrubStack.cc
  src/mds/ScrubStack.h
  src/mds/StrayManager.cc
Labels: documentation, cephfs, needs-qa, tests, wip-yuri-testing

#52507 reef: client: force sending cap revoke ack always
  src/client/Client.cc
Labels: cephfs, needs-qa, wip-yuri-testing

#52537 quincy: mgr/dashboard: disable promote on mirroring not enabled
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-list/rbd-list.component.ts
Labels: pybind, dashboard

#52494 qa: fix keystone in rgw/crypt/barbican.yaml
  qa/suites/rgw/crypt/2-kms/barbican.yaml
  qa/suites/rgw/crypt/supported-random-distro$
  qa/suites/rgw/crypt/ubuntu_latest.yaml
  qa/tasks/barbican.py
Labels: rgw, tests

#52736 .github/workflows: pin the stale bot to the latest version
  .github/workflows/stale.yml
Labels: CI

#52490 doc: Add Reef 18.2.0 release notes
  doc/releases/index.rst
  doc/releases/reef.rst
  doc/releases/releases.yml
Labels: documentation

#51249 pacific: common/TrackedOp: fix osd reboot optracker coredump
  src/common/TrackedOp.cc
Labels: needs-qa, common, wip-yuri11-testing

#52788 mds: remove unused C_MDC_OpenSnapRealms
  src/mds/MDCache.cc
Labels: cephfs

#52455 .github: pr-triage fix
  .github/workflows/pr-triage.yml
Labels: dashboard, CI

#52705 reef: mgr/dashboard: allow PUT in CORS
  src/pybind/mgr/dashboard/module.py
Labels: pybind, dashboard

#52536 reef: mgr/dashboard: disable promote on mirroring not enabled
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-list/rbd-list.component.ts
Labels: pybind, dashboard

#52786 mgr/dashboard: cephfs subvolume creation form
  src/pybind/mgr/dashboard/controllers/cephfs.py
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cephfs/cephfs-subvolume-form/cephfs-subvolume-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cephfs/cephfs-subvolume-form/cephfs-subvolume-form.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cephfs/cephfs-subvolume-form/cephfs-subvolume-form.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cephfs/cephfs-subvolume-form/cephfs-subvolume-form.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cephfs/cephfs-subvolume-list/cephfs-subvolume-list.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cephfs/cephfs-subvolume-list/cephfs-subvolume-list.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cephfs/cephfs-tabs/cephfs-tabs.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cephfs/cephfs.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/core/auth/role-form/role-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/core/auth/role-form/role-form.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/core/auth/role-form/role-form.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/cephfs-subvolume.service.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/cephfs.service.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/datatable/checked-table-form/checked-table-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/shared/datatable/checked-table-form/checked-table-form.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/shared/datatable/checked-table-form/checked-table-form.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/datatable/checked-table-form/checked-table-form.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/datatable/datatable.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/forms/cd-validators.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/services/formatter.service.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/services/task-message.service.ts
  src/pybind/mgr/dashboard/openapi.yaml
Labels: pybind, dashboard, api-change

#50427 ceph_volume: support encrypted volumes for lvm new-db/new-wal/migrate commands
  src/ceph-volume/ceph_volume/devices/lvm/deactivate.py
  src/ceph-volume/ceph_volume/devices/lvm/migrate.py
  src/ceph-volume/ceph_volume/devices/lvm/prepare.py
  src/ceph-volume/ceph_volume/devices/lvm/zap.py
  src/ceph-volume/ceph_volume/devices/raw/prepare.py
  src/ceph-volume/ceph_volume/tests/devices/lvm/test_deactivate.py
  src/ceph-volume/ceph_volume/tests/devices/lvm/test_migrate.py
  src/ceph-volume/ceph_volume/util/encryption.py
Labels: needs-qa, ceph-volume

#52792 mgr/volumes: create bulk data pool for new volumes
  qa/tasks/cephfs/test_volumes.py
  src/mon/FSCommands.cc
  src/mon/MDSMonitor.cc
  src/pybind/mgr/volumes/fs/fs_util.py
  src/pybind/mgr/volumes/fs/operations/volume.py
Labels: core, cephfs, tests, pybind, mon

#51508 pacific: mds: do not take the ino which has been used
  doc/cephfs/mds-config-ref.rst
  qa/suites/fs/multiclient/tasks/cephfs_misc_tests.yaml
  qa/tasks/cephfs/test_misc.py
  src/common/legacy_config_opts.h
  src/common/options.cc
  src/mds/CDir.cc
  src/mds/MDCache.cc
  src/mds/MDCache.h
  src/mds/Server.cc
  src/mds/events/EMetaBlob.h
  src/mds/journal.cc
Labels: documentation, cephfs, needs-qa, tests, common, wip-yuri10-testing

#52075 pacific: debian: install cephfs-mirror systemd unit files and man page
  debian/cephfs-mirror.install
Labels: cephfs, needs-qa, build/ops, wip-yuri10-testing

#52125 pacific: mds: display sane hex value (0x0) for empty feature bit
  src/mds/mdstypes.cc
Labels: cephfs, needs-qa, wip-yuri10-testing

#52230 pacific: mon/MDSMonitor: batch last_metadata update with pending
  src/mon/MDSMonitor.cc
Labels: core, cephfs, needs-qa, mon, wip-yuri10-testing

#52233 pacific: mon/MDSMonitor: check fscid in pending exists in current
  src/mon/MDSMonitor.cc
Labels: core, cephfs, needs-qa, mon, wip-yuri10-testing

#52237 pacific: qa: wait for MDSMonitor tick to replace daemons
  qa/tasks/cephfs/test_failover.py
Labels: cephfs, needs-qa, tests, wip-yuri10-testing

#52240 pacific: mon/MDSMonitor: do not propose on error in prepare_update
  src/mon/MDSMonitor.cc
Labels: core, cephfs, needs-qa, mon, wip-yuri10-testing

#52244 pacific: mon/MDSMonitor: ignore extraneous up:boot messages
  qa/tasks/ceph_test_case.py
  qa/tasks/cephfs/test_failover.py
  src/mon/MDSMonitor.cc
Labels: core, cephfs, needs-qa, tests, mon, wip-yuri10-testing

#52397 pacific: mon: block osd pool mksnap for fs pools
  qa/tasks/cephfs/test_snapshots.py
  src/mon/OSDMonitor.cc
Labels: core, cephfs, needs-qa, tests, mon, wip-yuri10-testing

#52884 doc/cephadm: fix typo in cephadm initial crush location section
  doc/cephadm/host-management.rst
Labels: documentation, cephadm

#52889 reef: doc/rados: edit operations/add-or-rm-mons (1 of x)
  doc/rados/operations/add-or-rm-mons.rst
Labels: documentation, core

#52890 quincy: doc/rados: edit operations/add-or-rm-mons (1 of x)
  doc/rados/operations/add-or-rm-mons.rst
Labels: documentation, core

#52887 reef: doc/cephadm: fix typo in cephadm initial crush location section
  doc/cephadm/host-management.rst
Labels: documentation, cephadm

#52888 quincy: doc/cephadm: fix typo in cephadm initial crush location section
  doc/cephadm/host-management.rst
Labels: documentation, cephadm

#52398 quincy: mon: block osd pool mksnap for fs pools
  qa/tasks/cephfs/test_snapshots.py
  src/mon/OSDMonitor.cc
Labels: core, cephfs, needs-qa, tests, mon, TESTED, ready-to-merge

#52499 pacific: client: trigger to flush the buffer when making snapshot
  src/client/Client.cc
Labels: cephfs, needs-qa, wip-yuri10-testing

#52513 pacific: mds: MDLog::_recovery_thread: handle the errors gracefully
  src/mds/MDLog.cc
Labels: bug-fix, cephfs, needs-qa, wip-yuri10-testing

#52506 pacific: client: force sending cap revoke ack always
  src/client/Client.cc
Labels: cephfs, needs-qa, wip-yuri10-testing

#52505 pacific: client: wait rename to finish
  src/client/Client.cc
  src/client/Client.h
  src/client/Dentry.h
Labels: cephfs, needs-qa, wip-yuri10-testing

#52154 mgr/dashboard: host pagination
  src/pybind/mgr/dashboard/controllers/host.py
  src/pybind/mgr/dashboard/frontend/cypress/e2e/cluster/hosts.po.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cephfs/cephfs-form/cephfs-form.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/create-cluster/create-cluster-review.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/create-cluster/create-cluster.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/hosts/host-form/host-form.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/hosts/hosts.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/hosts/hosts.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/hosts/hosts.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/services/service-form/service-form.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/host.service.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/host.service.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/datatable/table/table.component.html
  src/pybind/mgr/dashboard/openapi.yaml
  src/pybind/mgr/dashboard/plugins/ttl_cache.py
  src/pybind/mgr/dashboard/tests/test_host.py
Labels: needs-qa, tests, pybind, dashboard, api-change, wip-nia-testing

#52654 pacific: qa: fix cephfs-mirror unwinding and 'fs volume create/rm' order
  qa/suites/fs/mirror-ha/cephfs-mirror/+
  qa/suites/fs/mirror-ha/cephfs-mirror/1-volume-create-rm.yaml
  qa/suites/fs/mirror-ha/cephfs-mirror/2-three-per-cluster.yaml
  qa/suites/fs/mirror-ha/workloads/cephfs-mirror-ha-workunit.yaml
Labels: bug-fix, cephfs, needs-qa, wip-yuri10-testing

#52500 pacific: client: do not send metrics until the MDS rank is ready
  src/client/Client.cc
Labels: cephfs, needs-qa, wip-yuri10-testing

#52273 rgw/lua: add configurable memory limit for the lua state
  doc/radosgw/lua-scripting.rst
  src/common/options/rgw.yaml.in
  src/rgw/rgw_lua.cc
  src/rgw/rgw_lua_background.cc
  src/rgw/rgw_lua_data_filter.cc
  src/rgw/rgw_lua_request.cc
  src/rgw/rgw_lua_utils.cc
  src/rgw/rgw_lua_utils.h
  src/test/rgw/test_rgw_lua.cc
Labels: documentation, rgw, tests, common, wip-yuval-testing

#52835 reef: doc/radosgw: Improve language and formatting in config-ref.rst
  doc/radosgw/config-ref.rst
Labels: documentation

#52836 quincy: doc/radosgw: Improve language and formatting in config-ref.rst
  doc/radosgw/config-ref.rst
Labels: documentation

#52864 debian/control: add docker-ce as recommends for cephadm package
  debian/control
Labels: build/ops, cephadm, wip-adk-testing, wip-adk4-testing

#52225 rgw/lua: give tables fully qualified names
  src/rgw/rgw_lua_background.cc
  src/rgw/rgw_lua_background.h
  src/rgw/rgw_lua_data_filter.cc
  src/rgw/rgw_lua_request.cc
  src/rgw/rgw_lua_utils.h
  src/test/rgw/test_rgw_lua.cc
Labels: rgw, tests, wip-yuval-testing

#52905 reef: doc: Add Reef 18.2.0 release notes
  doc/releases/index.rst
  doc/releases/reef.rst
  doc/releases/releases.yml
Labels: documentation

#52715 doc/radosgw: update rate limit management
  doc/radosgw/admin.rst
Labels: documentation

#52702 doc/start: update linking conventions
  doc/start/documenting-ceph.rst
Labels: documentation

#52911 quincy: doc/radosgw: update rate limit management
  doc/radosgw/admin.rst
Labels: documentation

#52910 reef: doc/radosgw: update rate limit management
  doc/radosgw/admin.rst
Labels: documentation

#52913 quincy: doc/start: update linking conventions
  doc/start/documenting-ceph.rst
Labels: documentation

#52912 reef: doc/start: update linking conventions
  doc/start/documenting-ceph.rst
Labels: documentation

#52642 quincy: doc: update README.md
  README.md
Labels: documentation

#52635 mgr/dashboard: List subvolume groups
  src/pybind/mgr/dashboard/controllers/cephfs.py
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cephfs/cephfs-subvolume-group/cephfs-subvolume-group.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cephfs/cephfs-subvolume-group/cephfs-subvolume-group.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cephfs/cephfs-subvolume-group/cephfs-subvolume-group.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cephfs/cephfs-subvolume-group/cephfs-subvolume-group.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cephfs/cephfs-tabs/cephfs-tabs.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cephfs/cephfs.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/cephfs-subvolume-group.service.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/cephfs-subvolume-group.service.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/models/cephfs-subvolume-group.model.ts
  src/pybind/mgr/dashboard/openapi.yaml
Labels: pybind, dashboard, api-change

#52876 rgw: enrich the failed debug log line for sync notification
  src/rgw/driver/rados/rgw_notify.cc
Labels: rgw, needs-qa, wip-yuval-testing

#52178 cephadm: add basic init containers support
  doc/cephadm/services/custom-container.rst
  qa/suites/orch/cephadm/workunits/task/test_extra_daemon_features.yaml
  src/cephadm/cephadm.py
  src/cephadm/tests/test_cephadm.py
  src/cephadm/tests/test_custom_container.py
  src/pybind/mgr/cephadm/exchange.py
  src/pybind/mgr/cephadm/serve.py
  src/pybind/mgr/cephadm/services/cephadmservice.py
  src/pybind/mgr/cephadm/tests/test_services.py
  src/python-common/ceph/deployment/service_spec.py
Labels: documentation, pybind, ceph-volume, orchestrator, cephadm, wip-adk4-testing

#52886 mgr/dashboard: create subvolume groups
  src/pybind/mgr/dashboard/controllers/cephfs.py
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cephfs/cephfs-subvolume-group/cephfs-subvolume-group.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cephfs/cephfs-subvolume-group/cephfs-subvolume-group.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cephfs/cephfs-subvolumegroup-form/cephfs-subvolumegroup-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cephfs/cephfs-subvolumegroup-form/cephfs-subvolumegroup-form.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cephfs/cephfs-subvolumegroup-form/cephfs-subvolumegroup-form.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cephfs/cephfs-subvolumegroup-form/cephfs-subvolumegroup-form.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cephfs/cephfs-tabs/cephfs-tabs.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cephfs/cephfs.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/cephfs-subvolume-group.service.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/services/task-message.service.ts
  src/pybind/mgr/dashboard/openapi.yaml
Labels: pybind, dashboard, api-change

#52765 mgr/volumes: Fix pending_subvolume_deletions in volume info
  qa/tasks/cephfs/test_volumes.py
  src/pybind/mgr/volumes/fs/fs_util.py
  src/pybind/mgr/volumes/fs/operations/volume.py
  src/pybind/mgr/volumes/fs/volume.py
Labels: cephfs, tests, pybind, wip-vshankar-testing2

#51382 pacific: mon: avoid exception when setting require-osd-release more than 2 versions up.
  src/mon/OSDMonitor.cc
Labels: core, needs-qa, mon, wip-yuri3-testing

#52929 quincy: ceph-volume: add --osd-id option to raw prepare
  src/ceph-volume/ceph_volume/devices/raw/common.py
  src/ceph-volume/ceph_volume/devices/raw/prepare.py
Labels: ceph-volume, wip-guits-testing-4

#52620 quincy: ceph-volume: fix raw list for lvm devices
  src/ceph-volume/ceph_volume/devices/raw/list.py
Labels: ceph-volume

#52079 quincy: ceph-volume: set lvm membership for mpath type devices
  src/ceph-volume/ceph_volume/util/device.py
Labels: ceph-volume

#52945 doc: Add a note on possible deadlock on volume deletion
  doc/cephfs/fs-volumes.rst
Labels: documentation, cephfs

#48279 quincy: os/bluestore: use direct write in BlueStore::_write_bdev_label
  src/os/bluestore/BlueStore.cc
Labels: bug-fix, core, bluestore, TESTED, backport

#48171 quincy: os/bluestore: do not signal deleted dirty file to bluefs log
  src/os/bluestore/BlueFS.cc
  src/test/objectstore/test_bluefs.cc
Labels: bug-fix, core, tests, bluestore, TESTED, backport

#52903 mgr/dashboard: RGW Details card cleanup
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-bucket-details/rgw-bucket-details.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-bucket-details/rgw-bucket-details.component.spec.ts
Labels: pybind, dashboard

#50856 doc/rados/ops: question about down and in OSDS
  doc/rados/operations/monitoring-osd-pg.rst
Labels: documentation, core

#52615 reef: rgw: fix multipart upload object leaks due to re-upload
  qa/suites/rgw/verify/tasks/mp_reupload.yaml
  qa/workunits/rgw/test_rgw_s3_mp_reupload.py
  qa/workunits/rgw/test_rgw_s3_mp_reupload.sh
Labels: rgw, needs-qa, tests, wip-yuri-testing

#52256 Quincy: osd/scrub: verify SnapMapper consistency
  qa/standalone/scrub/osd-mapper.sh
  qa/standalone/scrub/osd-scrub-snaps.sh
  qa/standalone/scrub/scrub-helpers.sh
  src/common/Journald.cc
  src/common/LogEntry.h
  src/common/hobject_fmt.h
  src/include/neorados/RADOS_Decodable.hpp
  src/include/rados/librados.hpp
  src/include/xlist.h
  src/osd/PGBackend.h
  src/osd/PrimaryLogPG.h
  src/osd/SnapMapReaderI.h
  src/osd/SnapMapper.cc
  src/osd/SnapMapper.h
  src/osd/osd_types_fmt.h
  src/osd/scrubber/pg_scrubber.cc
  src/osd/scrubber/pg_scrubber.h
  src/test/test_snap_mapper.cc
  src/tools/neorados.cc
Labels: core, needs-qa, tests, common, wip-yuri8-testing

#51812 pacific: pybind/argparse: blocklist ip validation
  src/pybind/ceph_argparse.py
  src/test/pybind/test_ceph_argparse.py
Labels: needs-qa, tests, pybind, wip-yuri3-testing

#52468 pacific: mon/ConfigMonitor: update crush_location from osd entity
  src/mon/ConfigMonitor.cc
Labels: core, needs-qa, mon, wip-yuri3-testing

#52510 rgw/auth: Fix the return code returned by AuthStrategy,
  src/rgw/rgw_auth.cc
  src/rgw/rgw_rest_s3.cc
Labels: rgw, needs-qa

#52932 cephadm: bump LATEST_STABLE_RELEASE to "reef"
  src/cephadm/cephadm.py
Labels: cephadm, skip-teuthology

#52917 quincy: mgr/dashboard: paginate hosts
  src/pybind/mgr/dashboard/controllers/host.py
  src/pybind/mgr/dashboard/controllers/rbd.py
  src/pybind/mgr/dashboard/frontend/cypress/e2e/cluster/hosts.po.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cephfs/cephfs-form/cephfs-form.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/create-cluster/create-cluster-review.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/create-cluster/create-cluster.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/hosts/host-form/host-form.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/hosts/hosts.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/hosts/hosts.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/hosts/hosts.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/services/service-form/service-form.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/host.service.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/host.service.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/datatable/table/table.component.html
  src/pybind/mgr/dashboard/openapi.yaml
  src/pybind/mgr/dashboard/plugins/ttl_cache.py
  src/pybind/mgr/dashboard/services/rbd.py
  src/pybind/mgr/dashboard/tests/test_cache.py
  src/pybind/mgr/dashboard/tests/test_host.py
Labels: documentation, pybind, dashboard, api-change

#52645 mgr/dashboard: cephfs volume rm and rename
  src/pybind/mgr/dashboard/controllers/cephfs.py
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cephfs/cephfs-list/cephfs-list.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cephfs/cephfs-list/cephfs-list.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cephfs/cephfs-subvolume-group/cephfs-subvolume-group.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/cephfs.service.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/cephfs.service.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/services/task-message.service.ts
  src/pybind/mgr/dashboard/openapi.yaml
Labels: tests, pybind, dashboard, api-change
