Repository ceph/ceph, pull requests merged in 2023-12, with the labels that each got.

#54731 doc/rados: improve formatting of log-and-debug.rst
  doc/rados/troubleshooting/log-and-debug.rst
Labels: documentation, core

#54746 reef: doc/rados: improve formatting of log-and-debug.rst
  doc/rados/troubleshooting/log-and-debug.rst
Labels: documentation, core

#54747 quincy: doc/rados: improve formatting of log-and-debug.rst
  doc/rados/troubleshooting/log-and-debug.rst
Labels: documentation, core

#54744 quincy: doc/glossary.rst: add "Monitor Store"
  doc/glossary.rst
Labels: documentation

#54743 reef: doc/glossary.rst: add "Monitor Store"
  doc/glossary.rst
Labels: documentation

#51260 pacific: doc: clarify use of `rados rm` command
  doc/man/8/rados.rst
  src/tools/rados/rados.cc
Labels: documentation, core, wip-yuri2-testing

#54361 pacific: pybind/rados: fix missed changes for PEP484 style type annotations
  src/pybind/rados/rados.pyx
  src/test/pybind/test_rados.py
Labels: bug-fix, core, pybind, wip-yuri2-testing, backport

#54526 rgw/acl: clean up RGWAccessControlPolicy and friends
  doc/radosgw/lua-scripting.rst
  src/rgw/driver/posix/rgw_sal_posix.cc
  src/rgw/driver/rados/rgw_bucket.cc
  src/rgw/driver/rados/rgw_bucket.h
  src/rgw/driver/rados/rgw_cr_rados.cc
  src/rgw/driver/rados/rgw_data_sync.cc
  src/rgw/driver/rados/rgw_lc_tier.cc
  src/rgw/driver/rados/rgw_rados.cc
  src/rgw/driver/rados/rgw_sal_rados.cc
  src/rgw/driver/rados/rgw_sync_module_aws.cc
  src/rgw/driver/rados/rgw_sync_module_es.cc
  src/rgw/driver/rados/rgw_sync_module_es_rest.cc
  src/rgw/driver/rados/rgw_tools.cc
  src/rgw/driver/rados/rgw_user.cc
  src/rgw/rgw_acl.cc
  src/rgw/rgw_acl.h
  src/rgw/rgw_acl_s3.cc
  src/rgw/rgw_acl_s3.h
  src/rgw/rgw_acl_swift.cc
  src/rgw/rgw_acl_swift.h
  src/rgw/rgw_acl_types.h
  src/rgw/rgw_common.cc
  src/rgw/rgw_common.h
  src/rgw/rgw_file.cc
  src/rgw/rgw_file_int.h
  src/rgw/rgw_lc.cc
  src/rgw/rgw_lib.cc
  src/rgw/rgw_log.cc
  src/rgw/rgw_lua_request.cc
  src/rgw/rgw_op.cc
  src/rgw/rgw_op.h
  src/rgw/rgw_rest_client.cc
  src/rgw/rgw_rest_client.h
  src/rgw/rgw_rest_metadata.cc
  src/rgw/rgw_rest_pubsub.cc
  src/rgw/rgw_rest_s3.cc
  src/rgw/rgw_rest_s3.h
  src/rgw/rgw_rest_swift.cc
  src/rgw/rgw_sal_dbstore.cc
  src/rgw/rgw_user_types.h
  src/test/rgw/test_rgw_lua.cc
  src/test/test_rgw_admin_meta.cc
Labels: cleanup, documentation, rgw, needs-qa, tests, wip-cbodley-testing

#54039 pacific: qa: assign file system affinity for replaced MDS
  qa/tasks/cephfs/test_failover.py
Labels: needs-qa, tests, wip-yuri2-testing

#54752 doc/radosgw: fix formatting
  doc/radosgw/multisite.rst
Labels: documentation

#54689 doc/rados: Update stretch mode docs.
  doc/rados/operations/stretch-mode.rst
Labels: documentation, core

#54482 osd/scrub: decouple being reserved from handling scrub requests
  qa/standalone/scrub/osd-scrub-dump.sh
  src/messages/MOSDScrubReserve.h
  src/osd/PG.cc
  src/osd/PG.h
  src/osd/PeeringState.cc
  src/osd/PeeringState.h
  src/osd/scrubber/osd_scrub.cc
  src/osd/scrubber/osd_scrub.h
  src/osd/scrubber/pg_scrubber.cc
  src/osd/scrubber/pg_scrubber.h
  src/osd/scrubber/scrub_machine.cc
  src/osd/scrubber/scrub_machine.h
  src/osd/scrubber/scrub_machine_lstnr.h
  src/osd/scrubber/scrub_reservations.cc
  src/osd/scrubber/scrub_resources.cc
  src/osd/scrubber/scrub_resources.h
  src/osd/scrubber_common.h
Labels: core, needs-qa, build/ops

#54437 crimson/osd: introduce osdmap trimming
  src/crimson/common/shared_lru.h
  src/crimson/mgr/client.h
  src/crimson/osd/osd.cc
  src/crimson/osd/osd.h
  src/crimson/osd/osd_meta.cc
  src/crimson/osd/osd_meta.h
  src/crimson/osd/pg.h
  src/crimson/osd/pg_shard_manager.cc
  src/crimson/osd/pg_shard_manager.h
  src/crimson/osd/shard_services.cc
  src/crimson/osd/shard_services.h
Labels: crimson, wip-matan-testing

#54758 doc/rados: repair stretch-mode.rst
  doc/rados/operations/stretch-mode.rst
Labels: documentation, core

#54756 reef: doc/rados: update "stretch mode"
  doc/rados/operations/stretch-mode.rst
Labels: documentation, core

#54757 quincy: doc/rados: update "stretch mode"
  doc/rados/operations/stretch-mode.rst
Labels: documentation, core

#54441 cephadm: break various daemon type classes out to smaller files in cephadmlib
  src/cephadm/cephadm.py
  src/cephadm/cephadmlib/daemons/__init__.py
  src/cephadm/cephadmlib/daemons/ceph.py
  src/cephadm/cephadmlib/daemons/custom.py
  src/cephadm/cephadmlib/daemons/ingress.py
  src/cephadm/cephadmlib/daemons/iscsi.py
  src/cephadm/cephadmlib/daemons/monitoring.py
  src/cephadm/cephadmlib/daemons/nfs.py
  src/cephadm/cephadmlib/daemons/nvmeof.py
  src/cephadm/cephadmlib/daemons/snmp.py
  src/cephadm/cephadmlib/daemons/tracing.py
  src/cephadm/cephadmlib/deployment_utils.py
  src/cephadm/cephadmlib/file_utils.py
  src/cephadm/tests/fixtures.py
  src/cephadm/tests/test_cephadm.py
  src/cephadm/tests/test_daemon_form.py
  src/cephadm/tests/test_deploy.py
  src/cephadm/tests/test_nfs.py
Labels: cephadm, wip-adk-testing

#51259 pacific: pybind/rados: don't close watch in dealloc if already closed
  src/pybind/rados/rados.pyx
Labels: pybind, wip-yuri-testing

#52993 pacific: mgr: fix a race condition in DaemonServer::handle_report()
  src/mgr/DaemonServer.cc
Labels: core, wip-yuri-testing, mgr

#52268 reef: mds: do not evict clients if OSDs are laggy
  doc/cephfs/health-messages.rst
  qa/suites/fs/functional/tasks/client-recovery.yaml
  qa/tasks/cephfs/test_client_recovery.py
  qa/tasks/mgr/mgr_test_case.py
  src/common/options/mds.yaml.in
  src/mds/Beacon.cc
  src/mds/MDSRank.cc
  src/mds/Server.cc
  src/mds/Server.h
  src/messages/MMDSBeacon.h
  src/osd/OSDMap.cc
  src/osd/OSDMap.h
Labels: documentation, core, cephfs, tests, common, wip-vshankar-testing2

#53333 reef: mds: accept human readable values for quotas
  doc/cephfs/quota.rst
  qa/tasks/cephfs/test_quota.py
  qa/workunits/fs/quota/quota.sh
  src/mds/Server.cc
Labels: documentation, cephfs, tests, wip-vshankar-testing2

#54119 reef: cephfs-shell: remove distutils Version classes because they're deprecated
  doc/man/8/cephfs-shell.rst
  src/tools/cephfs/shell/cephfs-shell
Labels: documentation, cephfs, wip-vshankar-testing2

#54316 reef: mon: fix mds metadata lost in one case.
  src/mon/MDSMonitor.cc
Labels: core, cephfs, mon, wip-vshankar-testing2

#54205 qa: add rbd/nvmeof integration test
  qa/suites/rbd/nvmeof/%
  qa/suites/rbd/nvmeof/.qa
  qa/suites/rbd/nvmeof/base/.qa
  qa/suites/rbd/nvmeof/base/install.yaml
  qa/suites/rbd/nvmeof/centos_latest.yaml
  qa/suites/rbd/nvmeof/cluster/+
  qa/suites/rbd/nvmeof/cluster/.qa
  qa/suites/rbd/nvmeof/cluster/fixed-3.yaml
  qa/suites/rbd/nvmeof/cluster/openstack.yaml
  qa/suites/rbd/nvmeof/workloads/.qa
  qa/suites/rbd/nvmeof/workloads/nvmeof_initiator.yaml
  qa/tasks/cephadm.py
  qa/workunits/rbd/nvmeof_initiator.sh
Labels: rbd, tests, cephadm

#54314 pacific: mds: ensure next replay is queued on req drop
  src/mds/MDCache.cc
  src/mds/MDSRank.cc
  src/mds/Mutation.h
  src/mds/Server.cc
Labels: cephfs, needs-qa, wip-yuri-testing

#54774 doc: Fixes two typos and grammatical errors. Signed-off-by: Sina Ahma…
  doc/start/hardware-recommendations.rst
Labels: documentation

#54776 quincy: doc: Fixes two typos and grammatical errors. Signed-off-by: Sina Ahma…
  doc/start/hardware-recommendations.rst
Labels: documentation

#54775 reef: doc: Fixes two typos and grammatical errors. Signed-off-by: Sina Ahma…
  doc/start/hardware-recommendations.rst
Labels: documentation

#52987 pacific: nofail option in fstab not supported
  src/mount.fuse.ceph
Labels: cephfs, needs-qa, CI, TESTED, ready-to-merge

#54068 mgr/dashboard: add support for editing and deleting rgw roles
  src/pybind/mgr/dashboard/controllers/_crud.py
  src/pybind/mgr/dashboard/controllers/ceph_users.py
  src/pybind/mgr/dashboard/controllers/rgw.py
  src/pybind/mgr/dashboard/frontend/cypress/e2e/rgw/roles.e2e-spec.ts
  src/pybind/mgr/dashboard/frontend/cypress/e2e/rgw/roles.po.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/core/context/context.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/datatable/crud-table/crud-table.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/datatable/datatable.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/forms/crud-form/helpers.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/forms/crud-form/validators/rgw-role-validator.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/models/crud-table-metadata.ts
  src/pybind/mgr/dashboard/openapi.yaml
  src/pybind/mgr/dashboard/services/rgw_client.py
Labels: pybind, dashboard, api-change

#53574 pacific: mgr/volumes: Fix pending_subvolume_deletions in volume info
  qa/tasks/cephfs/test_volumes.py
  src/pybind/mgr/volumes/fs/fs_util.py
  src/pybind/mgr/volumes/fs/operations/volume.py
  src/pybind/mgr/volumes/fs/volume.py
Labels: core, cephfs, needs-qa, tests, pybind, wip-yuri8-testing

#53981 pacific: client: fix sync fs to force flush mdlog for all sessions
  src/client/Client.cc
  src/client/Client.h
  src/client/Inode.cc
  src/client/MetaSession.h
Labels: cephfs, needs-qa, wip-yuri8-testing, pacific-batch-1

#54033 pacific: mds: adjust pre_segments_size for MDLog when trimming segments for st…
  src/mds/MDLog.cc
Labels: cephfs, needs-qa, wip-yuri8-testing

#54713 pacific: qa: run kernel_untar_build with newer tarball
  qa/workunits/kernel_untar_build.sh
Labels: tests, wip-yuri8-testing

#52763 pacific: qa: pass arg as list to fix test case failure
  qa/tasks/cephfs/test_nfs.py
Labels: cephfs, needs-qa, tests, TESTED, nfs, ready-to-merge, pacific-batch-1

#44476 pacific: rgw/sts: createbucket op should take session_policies into account
  src/rgw/rgw_common.cc
  src/rgw/rgw_common.h
Labels: rgw, needs-qa, wip-yuri-testing

#50533 pacific: RGW - Fix NoSuchTagSet error
  src/rgw/rgw_common.cc
Labels: rgw, needs-qa, wip-yuri-testing

#54517 pacific: mds: fix issuing redundant reintegrate/migrate_stray requests
  src/mds/CDentry.h
  src/mds/MDSMetaRequest.h
  src/mds/MDSRank.cc
  src/mds/MDSRank.h
  src/mds/Server.cc
  src/mds/Server.h
  src/mds/StrayManager.cc
  src/mds/StrayManager.h
Labels: cephfs, needs-qa, wip-yuri8-testing, pacific-batch-1

#54753 reef: doc/radosgw: fix formatting
  doc/radosgw/multisite.rst
Labels: documentation

#54787 common: use inline for monostate dencoders
  src/common/versioned_variant.h
Labels: cleanup, common

#54215 rgw/notification: Kafka persistent notifications not retried and removed even when the broker is down
  src/rgw/rgw_kafka.cc
Labels: rgw

#54670 pybind/rbd: fix compilation with cython3
  src/pybind/rbd/setup.py
  src/test/pybind/test_rbd.py
Labels: rbd, tests, pybind, wip-dis-testing

#54755 librbd: fix regressions in ObjectListSnapsRequest
  src/librados/snap_set_diff.cc
  src/librbd/io/ObjectRequest.cc
  src/test/librbd/io/test_mock_ObjectRequest.cc
  src/test/librbd/test_librbd.cc
Labels: bug-fix, core, rbd, tests, wip-dis-testing

#54799 osd/scrubber: fix signed comparison warning
  src/osd/scrubber/scrub_resources.cc
Labels: cleanup, core

#54809 doc: add supported file types in cephfs-mirroring.rst
  doc/cephfs/cephfs-mirroring.rst
Labels: documentation, cephfs

#54822 reef: doc: add supported file types in cephfs-mirroring.rst
  doc/cephfs/cephfs-mirroring.rst
Labels: documentation, cephfs

#54810 rgw: d3n: fix valgrind reported leak related to libaio worker threads
  src/rgw/driver/rados/rgw_d3n_datacache.cc
Labels: rgw, wip-mkogan-testing, ready-to-merge

#54278 rgw/multisite: fix marker_tracker flush() call in incremental sync
  src/rgw/driver/rados/rgw_data_sync.cc
Labels: rgw, needs-qa, wip-cbodley-testing

#52533 pacific: mon/MonClient: resurrect original client_mount_timeout handling
  src/mon/MonClient.cc
  src/test/librados/misc.cc
Labels: bug-fix, core, needs-qa, tests, mon, wip-yuri6-testing, pacific-batch-1

#53581 pacific: ceph-volume,python-common: Data allocate fraction
  src/ceph-volume/ceph_volume/devices/lvm/batch.py
  src/ceph-volume/ceph_volume/tests/conftest.py
  src/ceph-volume/ceph_volume/tests/devices/lvm/test_batch.py
  src/ceph-volume/ceph_volume/tests/util/test_arg_validators.py
  src/ceph-volume/ceph_volume/util/arg_validators.py
Labels: needs-qa, ceph-volume, wip-yuri6-testing

#54771 pacific: qa/workunits/rbd/cli_generic.sh: narrow race window when checking that rbd_support module command fails after blocklisting the module's client
  qa/workunits/rbd/cli_generic.sh
Labels: rbd, needs-qa, tests, wip-yuri6-testing, pacific-batch-1

#54772 reef: os/bluestore: get rid off resulting lba alignment in allocators
  src/os/bluestore/AvlAllocator.cc
  src/os/bluestore/BlueFS.cc
  src/os/bluestore/BtreeAllocator.cc
  src/os/bluestore/StupidAllocator.cc
  src/os/bluestore/StupidAllocator.h
  src/os/bluestore/fastbmap_allocator_impl.cc
  src/test/objectstore/Allocator_test.cc
  src/test/objectstore/fastbmap_allocator_test.cc
  src/test/objectstore/store_test.cc
Labels: needs-qa, bluestore, wip-yuri4-testing, backport reef

#54773 cephadm: simplify loading jinja2 templates from zipapp
  src/cephadm/cephadmlib/templating.py
Labels: cephadm, wip-adk-testing

#54751 doc/radosgw: add gateway starting command
  doc/radosgw/multisite.rst
Labels: documentation

#54738 rgw/iam: admin/system users ignore iam policy parsing errors
  src/rgw/rgw_op.cc
Labels: rgw, needs-qa, wip-cbodley-testing

#54668 add checking for rgw frontend init
  src/rgw/rgw_lib.cc
  src/rgw/rgw_main.cc
Labels: rgw, needs-qa, wip-cbodley-testing

#54546 rgw: fix post obj does not return the response etag field
  src/rgw/rgw_rest_s3.cc
Labels: rgw, needs-qa, wip-cbodley-testing

#54820 pacific: librbd: Append one journal event per image request
  src/librbd/Journal.cc
  src/librbd/Journal.h
  src/librbd/io/ImageRequest.cc
  src/librbd/io/ImageRequest.h
  src/test/librbd/CMakeLists.txt
  src/test/librbd/io/test_mock_ImageRequest.cc
  src/test/librbd/journal/test_Entries.cc
  src/test/librbd/journal/test_Stress.cc
  src/test/librbd/test_main.cc
  src/test/librbd/test_mock_Journal.cc
Labels: rbd, needs-qa, tests, build/ops, wip-yuri5-testing, pacific-batch-1

#54839 librbd: include asio strand headers in librbd.cc
  src/librbd/librbd.cc
Labels: bug-fix, rbd

#54846 doc/radosgw: format POST statements
  doc/radosgw/role.rst
Labels: documentation

#54378 cephadm: move logrotate configs to jinja2 template
  src/cephadm/cephadm.py
  src/cephadm/cephadmlib/logging.py
  src/cephadm/cephadmlib/templates/cephadm.logrotate.config.j2
  src/cephadm/cephadmlib/templates/cluster.logrotate.config.j2
  src/cephadm/cephadmlib/templating.py
  src/cephadm/tests/test_logrotate_config.py
Labels: cephadm, wip-adk-testing

#54849 reef: doc/radosgw: format POST statements
  doc/radosgw/role.rst
Labels: documentation

#54850 quincy: doc/radosgw: format POST statements
  doc/radosgw/role.rst
Labels: documentation

#54789 build/rgw/lua: remove luarocks support from rhel8
  ceph.spec.in
Labels: cephfs, build/ops

#54845 doc/radosgw: edit front matter - role.rst
  doc/radosgw/role.rst
Labels: documentation

#54854 reef: doc/radosgw: edit front matter - role.rst
  doc/radosgw/role.rst
Labels: documentation

#54855 quincy: doc/radosgw: edit front matter - role.rst
  doc/radosgw/role.rst
Labels: documentation

#53130 mempool: avoid true sharing for the counters, with crimson
  src/common/mempool.cc
  src/include/mempool.h
  src/test/test_c2c.cc
  src/test/test_mempool.cc
Labels: needs-qa, tests, common, performance, crimson, TESTED

#53306 crimson/osd/osd_operations/client_request: recover the head and other necessary objects before proceeding
  src/crimson/osd/object_context_loader.cc
  src/crimson/osd/object_context_loader.h
  src/crimson/osd/osd_operations/client_request.cc
  src/crimson/osd/osd_operations/client_request.h
  src/crimson/osd/osd_operations/client_request_common.cc
  src/crimson/osd/osd_operations/client_request_common.h
  src/crimson/osd/osd_operations/common/pg_pipeline.h
  src/crimson/osd/osd_operations/internal_client_request.cc
  src/crimson/osd/pg.cc
  src/crimson/osd/pg.h
  src/crimson/osd/pg_backend.cc
  src/crimson/osd/pg_recovery.cc
  src/crimson/osd/pg_recovery.h
  src/crimson/osd/pg_recovery_listener.h
  src/crimson/osd/replicated_recovery_backend.cc
  src/crimson/osd/replicated_recovery_backend.h
Labels: crimson, wip-matan-testing, wip-xuxuehan-testing

#53985 crimson/osd: store "final pool info" for pools that are deleted
  src/crimson/osd/osd_meta.cc
  src/crimson/osd/osd_meta.h
  src/crimson/osd/shard_services.cc
Labels: crimson, wip-xuxuehan-testing

#53409 crimson/osd/pg_recovery: recover head before recovering clones
  src/crimson/osd/pg_recovery.cc
Labels: crimson, wip-xuxuehan-testing

#53127 crimson/osd/pg: discard watches' states after iterating all cached obcs
  src/crimson/osd/pg.cc
Labels: crimson, wip-xuxuehan-testing, needs-crimson-qa

#53078 crimson/osd/pg_recovery: avoiding duplicated object recovering
  src/crimson/osd/pg_recovery.cc
  src/crimson/osd/recovery_backend.h
Labels: crimson, wip-xuxuehan-testing, needs-crimson-qa

#53054 crimson/osd/pg: set PG::projected_last_update when submitting transactions
  src/crimson/osd/ops_executer.cc
  src/crimson/osd/osd_operations/snaptrim_event.cc
  src/crimson/osd/osd_operations/snaptrim_event.h
  src/crimson/osd/pg.cc
  src/crimson/osd/pg.h
Labels: crimson, wip-xuxuehan-testing, needs-crimson-qa

#53539 reef: ceph-volume: fix mpath device support
  src/ceph-volume/ceph_volume/tests/util/test_disk.py
  src/ceph-volume/ceph_volume/util/disk.py
Labels: ceph-volume

#54847 test/librbd: avoid config-related crashes in DiscardWithPruneWriteOverlap
  src/test/librbd/journal/test_Stress.cc
Labels: rbd, tests, wip-dis-testing

#54848 test/librbd: close image in DiffIterateDeterministic
  src/test/librbd/test_librbd.cc
Labels: rbd, tests, wip-dis-testing

#54726 qa: add support/qa for cephfs-shell on CentOS 9 / RHEL9
  PendingReleaseNotes
  ceph.spec.in
  qa/cephfs/begin/0-install.yaml
  qa/suites/fs/shell/distro
  qa/suites/fs/shell/tasks/cephfs-shell.yaml
Labels: documentation, cephfs, build/ops, needs-review, wip-vshankar-testing2

#53830 qa: enable test_librgw_file.sh to be run with vstart cluster
  qa/workunits/rgw/test_librgw_file.sh
Labels: rgw, tests, ready-to-merge

#53483 os/bluestore: get rid off resulting lba alignment in allocators
  src/os/bluestore/AvlAllocator.cc
  src/os/bluestore/BlueFS.cc
  src/os/bluestore/BtreeAllocator.cc
  src/os/bluestore/StupidAllocator.cc
  src/os/bluestore/StupidAllocator.h
  src/os/bluestore/fastbmap_allocator_impl.cc
  src/test/objectstore/Allocator_test.cc
  src/test/objectstore/fastbmap_allocator_test.cc
  src/test/objectstore/store_test.cc
Labels: core, needs-qa, tests, performance, wip-yuri-testing, bluestore

#49093 pacific: rgw: prevent spurious/lost notifications in the index completion thread
  src/rgw/rgw_rados.cc
Labels: rgw, needs-qa, wip-yuri5-testing

#54750 mgr/dashboard: added snap-schedule api and ui list
  src/pybind/mgr/dashboard/controllers/cephfs.py
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cephfs/cephfs-snapshotschedule-list/cephfs-snapshotschedule-list.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cephfs/cephfs-snapshotschedule-list/cephfs-snapshotschedule-list.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cephfs/cephfs-snapshotschedule-list/cephfs-snapshotschedule-list.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cephfs/cephfs-snapshotschedule-list/cephfs-snapshotschedule-list.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cephfs/cephfs-tabs/cephfs-tabs.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cephfs/cephfs.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/cephfs-snapshot-schedule.service.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/cephfs-snapshot-schedule.service.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/models/snapshot-schedule.ts
  src/pybind/mgr/dashboard/openapi.yaml
Labels: pybind, dashboard, api-change

#54337 pybind/mgr/devicehealth: replace SMART data if exists for same DATETIME
  src/pybind/mgr/devicehealth/module.py
Labels: core, needs-qa, pybind, wip-yuri2-testing, wip-pdonnell-testing

#53804 ceph-volume: fix util.get_partitions
  src/ceph-volume/ceph_volume/util/disk.py
Labels: ceph-volume

#54453 ceph-volume: fix blkid on inaccessible devices
  src/ceph-volume/ceph_volume/util/device.py
Labels: ceph-volume

#54608 ceph-volume: Use safe accessor to get TYPE info
  src/ceph-volume/ceph_volume/util/device.py
Labels: ceph-volume

#53841 src/ceph-volume/ceph_volume/devices/lvm/listing.py : lvm list filters with vg name
  src/ceph-volume/ceph_volume/devices/lvm/listing.py
Labels: ceph-volume

#54859 pacific: test/librbd: avoid config-related crashes in DiscardWithPruneWriteOverlap
  src/test/librbd/journal/test_Stress.cc
Labels: rbd, needs-qa, tests, wip-yuri4-testing, pacific-batch-1

#54860 pacific: librbd: fix regressions in ObjectListSnapsRequest
  src/librados/snap_set_diff.cc
  src/librbd/io/ObjectRequest.cc
  src/test/librbd/io/test_mock_ObjectRequest.cc
  src/test/librbd/test_librbd.cc
Labels: core, rbd, needs-qa, tests, wip-yuri4-testing, pacific-batch-1

#54748 rgw/sysobj: pool_list_objects_init() initializes marker
  src/rgw/driver/rados/rgw_tools.cc
  src/rgw/services/svc_sys_obj_core.cc
  src/rgw/services/svc_sys_obj_core_types.h
Labels: rgw, needs-qa, wip-cbodley-testing

#54865 reef: qa: add support/qa for cephfs-shell on CentOS 9 / RHEL9
  PendingReleaseNotes
  ceph.spec.in
  qa/cephfs/begin/0-install.yaml
  qa/suites/fs/shell/distro
  qa/suites/fs/shell/tasks/cephfs-shell.yaml
Labels: documentation, cephfs, tests, build/ops

#54615 osd/scrub: allow auto-repair on operator-initiated scrubs
  src/osd/PG.cc
  src/osd/scrubber_common.h
Labels: core, needs-qa, wip-yuri8-testing

#54864 mgr/rgwam: period doesn't have a realm_name anymore
  src/python-common/ceph/rgw/types.py
Labels: pybind, cephadm

#54886 reef: doc/radosgw: format "Create a Role"
  doc/radosgw/role.rst
Labels: documentation

#54887 quincy: doc/radosgw: format "Create a Role"
  doc/radosgw/role.rst
Labels: documentation

#54745 mds: encode `bal_rank_mask` using a higher (next) version
  src/mds/MDSMap.cc
Labels: cephfs, wip-yuri10-testing, wip-vshankar-testing1

#54704 qa: don't fail on gather_mount_info() failure
  qa/tasks/cephfs/kernel_mount.py
Labels: cephfs, tests, wip-vshankar-testing1

#54669 mds: set the loner to true for LOCK_EXCL_XSYN
  src/mds/locks.c
Labels: cephfs, wip-vshankar-testing1

#54628 qa/fscrypt: enable debug log for bluestore
  qa/suites/fs/fscrypt/overrides/osd.yaml
Labels: cephfs, wip-vshankar-testing1

#48895 mds: scrub repair does not clear earlier damage health status
  qa/tasks/cephfs/test_forward_scrub.py
  src/mds/CDir.cc
  src/mds/CInode.cc
  src/mds/DamageTable.cc
  src/mds/DamageTable.h
Labels: core, cephfs, tests, wip-vshankar-testing1

#54102 os/bluestore: rework vselector calls.
  src/os/bluestore/BlueFS.cc
  src/os/bluestore/BlueFS.h
  src/os/bluestore/BlueStore.cc
  src/os/bluestore/BlueStore.h
  src/test/objectstore/store_test.cc
Labels: core, needs-qa, tests, bluestore, wip-yuri8-testing

#54681 python-common/drive_selection: fix limit with existing devices
  src/pybind/mgr/cephadm/services/osd.py
  src/pybind/mgr/cephadm/tests/test_cephadm.py
  src/python-common/ceph/deployment/drive_selection/selector.py
  src/python-common/ceph/tests/test_disk_selector.py
Labels: pybind, ceph-volume, cephadm, wip-adk-testing

#54786 python-common: fix osdspec_affinity check
  src/python-common/ceph/deployment/drive_selection/selector.py
Labels: ceph-volume, cephadm, wip-adk-testing

#54814 mgr/cephadm: bump grafana to 9.4.12
  src/cephadm/cephadmlib/constants.py
  src/pybind/mgr/cephadm/module.py
Labels: pybind, cephadm, wip-adk-testing

#54832 cephadm: Fix `cephadm shell` command help message
  src/cephadm/cephadm.py
Labels: cephadm, wip-adk-testing

#54657 Update rbd import-diff command help message
  src/test/cli/rbd/help.t
  src/tools/rbd/action/Import.cc
Labels: rbd, tests

#54733 client/fuse: handle case of renameat2 with non-zero flags
  src/client/fuse_ll.cc
Labels: cephfs, wip-vshankar-testing1

#54893 doc/radosgw: format commands in role.rst
  doc/radosgw/role.rst
Labels: documentation

#54905 reef: doc/radosgw: format commands in role.rst
  doc/radosgw/role.rst
Labels: documentation

#51732 ceph.spec.in: enable build on riscv64 for openSUSE Factory
  ceph.spec.in
Labels: build/ops

#54840 qa/rgw/crypt: disable failing kmip testing
  qa/suites/rgw/crypt/2-kms/kmip.yaml
Labels: rgw, needs-qa, tests, wip-cbodley-testing

#54878 rgw: split RGWDataAccess from rgw_tools.cc
  src/rgw/CMakeLists.txt
  src/rgw/driver/rados/rgw_tools.cc
  src/rgw/driver/rados/rgw_tools.h
  src/rgw/rgw_admin.cc
  src/rgw/rgw_data_access.cc
  src/rgw/rgw_data_access.h
Labels: rgw, needs-qa, build/ops, wip-yuval-testing

#52196 mds: add balance_automate fs setting
  PendingReleaseNotes
  doc/cephfs/multimds.rst
  qa/suites/fs/workload/ranks/1.yaml
  qa/suites/fs/workload/ranks/multi/balancer/automatic.yaml
  qa/suites/fs/workload/ranks/multi/balancer/distributed.yaml.disabled
  qa/suites/fs/workload/ranks/multi/balancer/random.yaml
  qa/suites/fs/workload/tasks/0-subvolume/no-subvolume.yaml
  qa/tasks/cephfs/filesystem.py
  qa/tasks/mgr/dashboard/test_health.py
  src/include/ceph_fs.h
  src/mds/MDBalancer.cc
  src/mds/MDSMap.cc
  src/mds/MDSMap.h
  src/mon/FSCommands.cc
  src/mon/MonCommands.h
Labels: documentation, core, cephfs, needs-qa, tests, mon, dashboard, TESTED, ready-to-merge

#54920 cls/queue: always set member variables in ctor
  src/cls/2pc_queue/cls_2pc_queue_types.h
Labels: bug-fix, ready-to-merge

#54841 rgw/multisite: error repo coroutines store raw_obj by value
  src/rgw/driver/rados/rgw_sync_error_repo.cc
Labels: rgw, TESTED, ready-to-merge

#54739 qa/rgw/upgrade: stop testing upgrade from pacific
  qa/suites/rgw/upgrade/1-install/pacific/%
  qa/suites/rgw/upgrade/1-install/pacific/.qa
  qa/suites/rgw/upgrade/1-install/pacific/distro$/.qa
  qa/suites/rgw/upgrade/1-install/pacific/distro$/centos_8.stream.yaml
  qa/suites/rgw/upgrade/1-install/pacific/distro$/ubuntu_20.04.yaml
  qa/suites/rgw/upgrade/1-install/pacific/install.yaml
  qa/suites/rgw/upgrade/1-install/pacific/overrides.yaml
Labels: rgw, tests, needs-review, TESTED

#54888 rgw/multisite: forwarded requests always pass a bufferlist
  src/rgw/rgw_op.cc
Labels: rgw, TESTED

#52354 doc/radosgw/admin.rst: use underscores in config var names
  doc/radosgw/admin.rst
Labels: documentation

#54934 quincy: doc/radosgw/admin.rst: use underscores in config var names
  doc/radosgw/admin.rst
Labels: documentation

#54933 reef: doc/radosgw/admin.rst: use underscores in config var names
  doc/radosgw/admin.rst
Labels: documentation

#54569 RGW: pubsub publish commit with etag populated
  src/rgw/driver/daos/rgw_sal_daos.cc
  src/rgw/driver/motr/rgw_sal_motr.cc
  src/rgw/driver/posix/rgw_sal_posix.cc
  src/rgw/driver/rados/rgw_sal_rados.cc
  src/rgw/rgw_op.cc
  src/rgw/rgw_op.h
  src/rgw/rgw_sal_dbstore.cc
  src/test/rgw/bucket_notification/test_bn.py
Labels: rgw, needs-qa, tests, needs-test

#54547 librbd: don't report HOLE_UPDATED when diffing against a hole
  src/librados/snap_set_diff.cc
  src/librbd/api/DiffIterate.cc
  src/librbd/deep_copy/ImageCopyRequest.cc
  src/librbd/object_map/DiffRequest.cc
  src/librbd/object_map/DiffRequest.h
  src/librbd/object_map/Types.h
  src/test/cli-integration/rbd/snap-diff.t
  src/test/librbd/deep_copy/test_mock_ImageCopyRequest.cc
  src/test/librbd/object_map/test_mock_DiffRequest.cc
  src/test/librbd/test_librbd.cc
  src/test/pybind/test_rbd.py
Labels: bug-fix, core, rbd, tests, wip-dis-testing

#53902 rgw: Add coverity annotations for uncaught exceptions in standalone binaries
  src/rgw/driver/dbstore/dbstore_main.cc
  src/rgw/rgw_admin.cc
  src/rgw/rgw_es_main.cc
  src/rgw/rgw_jsonparser.cc
  src/rgw/rgw_main.cc
  src/rgw/rgw_multiparser.cc
  src/rgw/rgw_object_expirer.cc
  src/rgw/rgw_polparser.cc
  src/rgw/rgw_token.cc
Labels: rgw, wip-yuval-testing, GSoC / Outreachy

#52276 rgw: Add a wrapper for librados::AioCompletion to prevent memory leaks
  src/rgw/driver/rados/rgw_gc.cc
  src/rgw/rgw_aio.cc
  src/rgw/rgw_common.h
Labels: rgw, wip-yuval-testing, GSoC / Outreachy

#52474 rgw: Fix potential null dereference in rgw/driver/dbstore/sqlite/statement.cc
  src/rgw/driver/dbstore/sqlite/statement.cc
Labels: rgw, wip-yuval-testing, GSoC / Outreachy

#54937 cmake: Do not set CMake policy to new that are set anyway
  CMakeLists.txt
Labels: cleanup, build/ops

#54929 doc: Improve documentation regarding OpenNebula integration with ceph
  .gitignore
  doc/architecture.rst
  doc/install/index.rst
  doc/rbd/index.rst
  doc/rbd/libvirt.rst
  doc/rbd/rbd-snapshot.rst
  doc/start/documenting-ceph.rst
  doc/start/hardware-recommendations.rst
Labels: documentation, rbd

#54938 reef: docs: Add information about OpenNebula integration
  .gitignore
  doc/architecture.rst
  doc/install/index.rst
  doc/rbd/index.rst
  doc/rbd/libvirt.rst
  doc/rbd/rbd-snapshot.rst
  doc/start/documenting-ceph.rst
  doc/start/hardware-recommendations.rst
Labels: documentation, rbd

#53227 osd/OSD: introduce trim_stale_maps
  qa/tasks/ceph_manager.py
  src/osd/OSD.cc
  src/osd/OSD.h
Labels: core, tests, TESTED

#54506 doc: Add Reef 18.2.1 release notes
  doc/releases/index.rst
  doc/releases/reef.rst
  doc/releases/releases.yml
Labels: documentation

#54906 quincy: doc/radosgw: format commands in role.rst
  doc/radosgw/role.rst
Labels: documentation

#54931 crimson: misc fixes
  src/crimson/osd/osd_operations/client_request.h
  src/crimson/osd/osd_operations/client_request_common.cc
  src/crimson/osd/osd_operations/client_request_common.h
  src/crimson/osd/pg.cc
  src/os/bluestore/BlueStore.cc
Labels: core, bluestore, crimson

#54917 cmake: differentiate WITH_CEPHFS from WITH_LIBCEPHFS
  src/CMakeLists.txt
  src/pybind/CMakeLists.txt
Labels: cephfs, build/ops, pybind

#54960 doc/install: update "update submodules"
  doc/install/clone-source.rst
Labels: documentation

#54609 crimson/osd/pg_backend: fix rollback on whiteouts
  src/crimson/osd/ops_executer.cc
  src/crimson/osd/pg_backend.cc
  src/crimson/osd/pg_backend.h
  src/osd/osd_types.h
Labels: bug-fix, core, crimson, TESTED, wip-matan-testing, wip-xuxuehan-testing

#54961 reef: doc/install: update "update submodules"
  doc/install/clone-source.rst
Labels: documentation

#54962 quincy: doc/install: update "update submodules"
  doc/install/clone-source.rst
Labels: documentation

#54897 os/bluestore: Fix assert() caused by ESB
  src/os/bluestore/BlueStore.cc
Labels: core, bluestore

#54935 build/rgw/lua: return lua-devel runtime dependency
  ceph.spec.in
Labels: rgw, build/ops, needs-review

#54691 pacific: tools/ceph_objectstore_tool: action_on_all_objects_in_pg to skip pgmeta
  src/tools/ceph_objectstore_tool.cc
Labels: tools

#54953 doc/releases: specify dashboard improvements
  doc/releases/reef.rst
Labels: documentation

#53228 common/weighted_shuffle: don't feed std::discrete_distribution with all-zero weights
  src/common/weighted_shuffle.h
  src/test/test_weighted_shuffle.cc
Labels: bug-fix, needs-qa, tests, common, wip-yuri7-testing

#53524 osd: Apply randomly selected scheduler type across all OSD shards
  src/common/OpQueue.h
  src/common/PrioritizedQueue.h
  src/common/WeightedPriorityQueue.h
  src/common/mClockPriorityQueue.h
  src/common/options/osd.yaml.in
  src/osd/OSD.cc
  src/osd/OSD.h
  src/osd/osd_types.cc
  src/osd/osd_types.h
  src/osd/scheduler/OpScheduler.cc
  src/osd/scheduler/OpScheduler.h
  src/osd/scheduler/mClockScheduler.cc
  src/osd/scheduler/mClockScheduler.h
  src/test/common/CMakeLists.txt
  src/test/common/test_mclock_priority_queue.cc
  src/test/osd/TestMClockScheduler.cc
Labels: core, needs-qa, tests, common, build/ops, wip-yuri7-testing

#53591 kv: resolve three compilation warnings
  src/kv/rocksdb_cache/ShardedCache.h
Labels: core, needs-qa, wip-yuri7-testing

#54919 cmake: add 1.82 and 1.83 to known versions
  cmake/modules/FindBoost.cmake
Labels: build/ops

#54916 cmake: only apply workaround for boost < 1.84
  CMakeLists.txt
Labels: cleanup, build/ops

#53340 reef: mds: optionally forbid to use standby for another fs as last resort
  PendingReleaseNotes
  doc/cephfs/standby.rst
  qa/tasks/cephfs/filesystem.py
  qa/tasks/cephfs/test_failover.py
  qa/tasks/mgr/dashboard/test_health.py
  src/common/options/mds.yaml.in
  src/include/ceph_fs.h
  src/mds/FSMap.cc
  src/mds/Locker.cc
  src/mds/Locker.h
  src/mds/MDSMap.cc
  src/mds/MDSMap.h
  src/mds/Server.cc
  src/mon/FSCommands.cc
  src/mon/MonCommands.h
Labels: documentation, core, cephfs, needs-qa, tests, common, mon, dashboard, wip-vshankar-testing1

#52871 ceph-dencoder: OSD - Add missing types
  src/cls/fifo/cls_fifo.cc
  src/include/cephfs/types.h
  src/mgr/DaemonHealthMetric.h
  src/mgr/MetricTypes.h
  src/mgr/OSDPerfMetricTypes.cc
  src/mgr/OSDPerfMetricTypes.h
  src/mon/CreatingPGs.h
  src/mon/MgrMap.h
  src/mon/MonCommand.h
  src/mon/MonMap.cc
  src/mon/MonMap.h
  src/mon/PGMap.h
  src/mon/health_check.h
  src/mon/mon_types.h
  src/os/Transaction.h
  src/os/bluestore/bluefs_types.cc
  src/os/bluestore/bluefs_types.h
  src/os/bluestore/bluestore_types.h
  src/osd/OSDMap.h
  src/osd/SnapMapper.cc
  src/osd/SnapMapper.h
  src/osd/osd_types.cc
  src/osd/osd_types.h
  src/tools/ceph-dencoder/denc_plugin.h
  src/tools/ceph-dencoder/denc_registry.h
  src/tools/ceph-dencoder/osd_types.h
Labels: documentation, core, rgw, cephfs, needs-qa, tests, build/ops, pybind, bluestore, mgr, mon, ceph-volume, dashboard, crimson, cephadm, TESTED, ready-to-merge

#54195 core: silent a couple of compiler warnings on uninitialized vars.
  src/common/buffer.cc
  src/os/bluestore/BlueStore.cc
Labels: cleanup, core

#54023 tools/ceph_objectstore_tool: Support get/set/superblock
  doc/man/8/ceph-objectstore-tool.rst
  src/tools/ceph_objectstore_tool.cc
Labels: documentation, core, needs-qa, wip-yuri7-testing
