Repository ceph/ceph, pull requests merged in 2023-10, with the labels that each got.

#53740 doc/architecture: edit several sections
  doc/architecture.rst
Labels: documentation

#52879 quincy: rbd-mirror: fix image replayer shut down description on force promote
  src/tools/rbd_mirror/image_replayer/snapshot/Replayer.cc
Labels: bug-fix, rbd, needs-qa, wip-yuri3-testing, quincy-batch-1

#53275 quincy: librbd: make CreatePrimaryRequest remove any unlinked mirror snapshots
  qa/workunits/rbd/rbd_mirror_helpers.sh
  qa/workunits/rbd/rbd_mirror_journal.sh
  qa/workunits/rbd/rbd_mirror_snapshot.sh
  src/librbd/mirror/snapshot/CreatePrimaryRequest.cc
  src/librbd/operation/SnapshotRemoveRequest.cc
  src/test/librbd/mirror/snapshot/test_mock_CreatePrimaryRequest.cc
  src/test/librbd/operation/test_mock_SnapshotRemoveRequest.cc
Labels: bug-fix, rbd, needs-qa, tests, wip-yuri3-testing, quincy-batch-1

#53294 quincy: librbd: kick ExclusiveLock state machine on client being blocklisted when waiting for lock
  src/librbd/ImageWatcher.cc
Labels: bug-fix, rbd, needs-qa, wip-yuri3-testing, quincy-batch-1

#52909 quincy: cephadm: fix call timeout argument
  src/cephadm/cephadm
Labels: needs-qa, wip-yuri7-testing, cephadm

#53098 quincy: cephadm: Split multicast interface and unicast_ip in keepalived.conf
  doc/cephadm/services/rgw.rst
  src/pybind/mgr/cephadm/services/ingress.py
  src/pybind/mgr/cephadm/templates/services/ingress/keepalived.conf.j2
  src/python-common/ceph/deployment/service_spec.py
  src/python-common/ceph/tests/test_service_spec.py
Labels: documentation, needs-qa, pybind, wip-yuri7-testing, cephadm

#52509 mgr: add throttle policy for DaemonServer
  src/mgr/DaemonServer.cc
Labels: core, mgr, TESTED, ready-to-merge

#46692 osd: Report health error if OSD public address is not within subnet
  doc/rados/operations/health-checks.rst
  src/common/pick_address.cc
  src/common/pick_address.h
  src/osd/OSDMap.cc
  src/osd/OSDMap.h
Labels: documentation, core, common, ready-to-merge

#53742 reef: doc/architecture: edit several sections
  doc/architecture.rst
Labels: documentation

#53743 quincy: doc/architecture: edit several sections
  doc/architecture.rst
Labels: documentation

#53580 RGW | Bucket Notification: migrating old entries to support persistency control
  src/rgw/driver/rados/rgw_notify.cc
  src/test/rgw/bucket_notification/test_bn.py
Labels: rgw, needs-qa, tests

#53705 quincy: mgr/cephadm: also don't write client files/tuned profiles to maintenance hosts
  src/pybind/mgr/cephadm/serve.py
  src/pybind/mgr/cephadm/tests/test_cephadm.py
  src/pybind/mgr/cephadm/tests/test_tuned_profiles.py
  src/pybind/mgr/cephadm/tuned_profiles.py
Labels: needs-qa, pybind, cephadm, TESTED, ready-to-merge

#53606 test: corrected control reaches end by adding a return
  src/test/TestTimers.cc
Labels: core, tests, open-source-day-2023

#53744 doc/architecture: edit "Calculating PG IDs"
  doc/architecture.rst
Labels: documentation

#53749 quincy: doc/architecture: edit "Calculating PG IDs"
  doc/architecture.rst
Labels: documentation

#53748 reef: doc/architecture: edit "Calculating PG IDs"
  doc/architecture.rst
Labels: documentation

#53715 cephadm: fix haproxy version with certain containers
  src/cephadm/cephadm.py
Labels: cephadm, wip-adk-testing

#53724 cephadm: remove get_unit_name_by_instance func
  src/cephadm/cephadm.py
Labels: cephadm, wip-adk-testing

#53714 [CVE-2023-43040] rgw: Fix bucket validation against POST policies
  src/rgw/rgw_rest_s3.cc
Labels: bug-fix, rgw, needs-qa, wip-cbodley-testing, security

#53691 rgw: fix unwatch crash at radosgw startup
  src/rgw/services/svc_notify.cc
Labels: bug-fix, rgw, needs-qa, wip-cbodley-testing

#53684 rgw/async: use optional_yield for keystone and kms requests
  src/rgw/rgw_auth_keystone.cc
  src/rgw/rgw_auth_keystone.h
  src/rgw/rgw_crypt.cc
  src/rgw/rgw_crypt.h
  src/rgw/rgw_keystone.cc
  src/rgw/rgw_keystone.h
  src/rgw/rgw_kms.cc
  src/rgw/rgw_kms.h
  src/rgw/rgw_op.cc
  src/rgw/rgw_rest_s3.cc
  src/test/rgw/test_rgw_kms.cc
Labels: rgw, needs-qa, tests, wip-cbodley-testing

#53676 rgw/multisite: call drain before flushing markers in incremental sync
  src/rgw/driver/rados/rgw_data_sync.cc
Labels: rgw, needs-qa, wip-cbodley-testing

#53614 rgw: fix rgw rate limiting RGWRateLimitInfo class decode_json max_rea…
  src/rgw/rgw_common.cc
Labels: rgw, needs-qa, wip-cbodley-testing

#53525 rgw: fix SignatureDoesNotMatch when extra headers start with 'x-amz'
  src/rgw/rgw_common.cc
Labels: rgw, needs-qa, wip-cbodley-testing

#53266 rgw: improve buffer list utilization in the chunkupload scenario
  src/rgw/rgw_auth_s3.cc
  src/rgw/rgw_auth_s3.h
Labels: rgw, needs-qa, wip-cbodley-testing

#52960 rgw/lc: remove_bucket_config() doesn't update xattrs on bucket delete
  src/rgw/driver/rados/rgw_sal_rados.cc
Labels: rgw, needs-qa, wip-cbodley-testing

#52144 rgw/file: make setattr(...) a no-op on buckets
  src/rgw/rgw_file.cc
Labels: bug-fix, rgw, needs-qa, common, build/ops, wip-cbodley-testing

#50350 rgw/logging: add bucket and object names to the log line for ops-log
  src/rgw/rgw_log.cc
Labels: rgw, needs-qa, wip-cbodley-testing

#53118 reef: mgr/cephadm: add is_host_<status> functions to HostCache
  src/pybind/mgr/cephadm/agent.py
  src/pybind/mgr/cephadm/inventory.py
  src/pybind/mgr/cephadm/module.py
  src/pybind/mgr/cephadm/serve.py
  src/pybind/mgr/cephadm/tests/test_cephadm.py
  src/pybind/mgr/cephadm/tests/test_tuned_profiles.py
  src/pybind/mgr/cephadm/tuned_profiles.py
Labels: pybind, cephadm, wip-adk4-testing

#53616 rgw/test: fix compiler warning
  src/test/librgw_file_aw.cc
Labels: rgw, tests, TESTED, ready-to-merge

#47148 test/cls_lock: expired lock before unlock and start check
  src/test/cls_lock/test_cls_lock.cc
Labels: needs-qa, tests, wip-cbodley-testing

#53754 osd: correct unsigned/signed compiler wrn
  src/osd/OSD.cc
Labels: core, needs-review, wip-pdonnell-testing

#53522 mgr/dashboard: fix the landing page layout issues
  src/pybind/mgr/dashboard/frontend/cypress/e2e/ui/dashboard-v3.e2e-spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/dashboard-v3/dashboard-pie/dashboard-pie.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/dashboard-v3/dashboard/dashboard-v3.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/dashboard-v3/dashboard/dashboard-v3.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/ceph/dashboard-v3/dashboard/dashboard-v3.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/dashboard-v3/dashboard/dashboard-v3.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-overview-dashboard/rgw-overview-dashboard.component.html
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/card/card.component.html
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/card/card.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/card/card.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/enum/health-icon.enum.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/services/prometheus-alert.service.ts
Labels: pybind, dashboard

#53781 pacific: mgr/dashboard: allow tls 1.2 with a config option
  src/pybind/mgr/dashboard/module.py
  src/pybind/mgr/dashboard/settings.py
Labels: pybind, dashboard

#53600 mds/FSMap: allow upgrades if no up mds
  src/mds/FSMap.h
Labels: cephfs, needs-review, wip-pdonnell-testing, wip-mchangir-testing1

#53703 cephadm: start ssh.py in cephadmlib
  src/cephadm/cephadm.py
  src/cephadm/cephadmlib/ssh.py
Labels: cephadm, wip-adk-testing

#53673 mgr/dashboard: show a message to restart the rgw daemons after moving from single-site to multi-site
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-multisite-details/rgw-multisite-details.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-multisite-details/rgw-multisite-details.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-multisite-migrate/rgw-multisite-migrate.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-sync-data-info/rgw-sync-data-info.component.html
  src/pybind/mgr/dashboard/services/cluster.py
Labels: pybind, dashboard

#53671 mgr/dashboard: enable protect option if layering enabled
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-form/rbd-form.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-snapshot-list/rbd-snapshot-actions.model.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-snapshot-list/rbd-snapshot-list.component.spec.ts
Labels: pybind, dashboard

#53276 reef: librbd: make CreatePrimaryRequest remove any unlinked mirror snapshots
  qa/workunits/rbd/rbd_mirror_helpers.sh
  qa/workunits/rbd/rbd_mirror_journal.sh
  qa/workunits/rbd/rbd_mirror_snapshot.sh
  src/librbd/mirror/snapshot/CreatePrimaryRequest.cc
  src/librbd/operation/SnapshotRemoveRequest.cc
  src/test/librbd/mirror/snapshot/test_mock_CreatePrimaryRequest.cc
  src/test/librbd/operation/test_mock_SnapshotRemoveRequest.cc
Labels: bug-fix, rbd, needs-qa, tests, wip-yuri11-testing

#53293 reef: librbd: kick ExclusiveLock state machine on client being blocklisted when waiting for lock
  src/librbd/ImageWatcher.cc
Labels: bug-fix, rbd, needs-qa, wip-yuri11-testing

#53375 reef: rgw/notification: remove non x-amz-meta-* attributes from bucket notifications
  src/rgw/driver/rados/rgw_notify.cc
  src/test/rgw/bucket_notification/test_bn.py
Labels: rgw, needs-qa, tests, wip-yuri11-testing

#53377 reef: rgw/notification: pass in bytes_transferred to populate object_size in sync notification
  src/rgw/driver/rados/rgw_cr_rados.cc
  src/rgw/driver/rados/rgw_notify.cc
Labels: rgw, needs-qa, wip-yuri11-testing

#53395 reef: rgw/sync-policy: Correct "sync status" & "sync group" commands
  src/rgw/rgw_admin.cc
  src/rgw/services/svc_zone.cc
  src/rgw/services/svc_zone.h
Labels: rgw, needs-qa, wip-yuri11-testing

#53398 reef: rgw: fix 2 null versionID after convert_plain_entry_to_versioned
  src/cls/rgw/cls_rgw.cc
Labels: rgw, needs-qa, wip-yuri11-testing

#53437 reef: RadosGW API: incorrect bucket quota in response to HEAD /{bucket}/?usage
  src/rgw/rgw_rest_s3.cc
Labels: rgw, needs-qa, wip-yuri11-testing

#53440 reef: rgw: pick http_date in case of http_x_amz_date absence
  src/rgw/rgw_auth_s3.cc
  src/rgw/rgw_common.h
  src/rgw/rgw_env.cc
  src/rgw/rgw_opa.cc
  src/rgw/rgw_rest_s3.cc
  src/rgw/rgw_rest_swift.cc
  src/rgw/rgw_swift_auth.cc
Labels: rgw, needs-qa, wip-yuri11-testing

#53466 reef: rgw/multisite[archive zone]: fix storing of bucket instance info in the new bucket entrypoint
  src/rgw/driver/rados/rgw_bucket.cc
Labels: rgw, needs-qa, wip-yuri11-testing

#53507 reef: RGW: bucket notification - hide auto generated topics when listing topics
  src/rgw/rgw_pubsub.cc
Labels: rgw, needs-qa, wip-yuri11-testing

#53509 reef: RGW: add admin interfaces to get and delete notifications by bucket
  src/rgw/rgw_admin.cc
  src/rgw/rgw_pubsub.cc
  src/rgw/rgw_pubsub.h
  src/test/cli/radosgw-admin/help.t
  src/test/rgw/bucket_notification/test_bn.py
Labels: rgw, needs-qa, tests, wip-yuri11-testing

#53510 reef: rgw/notifications: allow cross tenant notification management
  src/rgw/rgw_rest_pubsub.cc
Labels: rgw, needs-qa, wip-yuri11-testing

#53513 reef: rgw/kafka: failed to reconnect to broker after idle timeout
  src/rgw/rgw_kafka.cc
Labels: rgw, needs-qa, wip-yuri11-testing

#53514 reef: RGW:notifications: persistent topics are not deleted via radosgw-admin
  src/rgw/driver/rados/rgw_notify.cc
  src/rgw/driver/rados/rgw_notify.h
  src/rgw/rgw_admin.cc
Labels: rgw, needs-qa, wip-yuri11-testing

#53584 reef: rgw/sal: get_placement_target_names() returns void
  src/rgw/driver/rados/rgw_sal_rados.cc
  src/rgw/driver/rados/rgw_sal_rados.h
  src/rgw/rgw_op.cc
  src/rgw/rgw_rest_swift.cc
  src/rgw/rgw_sal.h
  src/rgw/rgw_sal_daos.cc
  src/rgw/rgw_sal_daos.h
  src/rgw/rgw_sal_dbstore.cc
  src/rgw/rgw_sal_dbstore.h
  src/rgw/rgw_sal_filter.h
  src/rgw/rgw_sal_motr.cc
  src/rgw/rgw_sal_motr.h
Labels: rgw, needs-qa, wip-yuri11-testing

#53590 reef: rgw/crypt: don't deref null manifest_bl
  src/rgw/rgw_rest_s3.cc
Labels: rgw, needs-qa, wip-yuri11-testing

#53515 reef: rgw/kafka: make sure that destroy is called after connection is removed
  src/rgw/rgw_kafka.cc
Labels: rgw, needs-qa, wip-yuri11-testing

#53449 osd: fix read balancer logic to avoid redundant primary assignment
  src/osd/OSDMap.cc
Labels: core, needs-qa, wip-yuri5-testing, wip-lflores-testing

#52733 osd/OSDMonitor: check svc is writeable before changing pending
  src/mon/AuthMonitor.cc
  src/mon/AuthMonitor.h
  src/mon/KVMonitor.cc
  src/mon/OSDMonitor.cc
  src/mon/OSDMonitor.h
Labels: core, needs-qa, mon, wip-yuri5-testing

#52938 mon: refactor loop variable names
  src/mon/ConfigMonitor.cc
Labels: cleanup, core, needs-qa, mon, wip-yuri5-testing

#53307 mgr/dashboard: Rgw Multi-site naming improvements
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/services/service-form/service-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/create-rgw-service-entities/create-rgw-service-entities.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/models/rgw-multisite-zonegroup-deletion-form/rgw-multisite-zonegroup-deletion-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-multisite-details/rgw-multisite-details.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-multisite-details/rgw-multisite-details.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-multisite-export/rgw-multisite-export.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-multisite-import/rgw-multisite-import.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-multisite-migrate/rgw-multisite-migrate.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-multisite-zone-form/rgw-multisite-zone-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-multisite-zonegroup-form/rgw-multisite-zonegroup-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-overview-dashboard/rgw-overview-dashboard.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/core/navigation/navigation/navigation.component.html
Labels: pybind, dashboard

#53778 reef: mgr/dashboard: fix cephfs form validator
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cephfs/cephfs-form/cephfs-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cephfs/cephfs-form/cephfs-form.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cephfs/cephfs-form/cephfs-form.component.ts
Labels: pybind, dashboard

#53795 reef: mgr/dashboard: enable protect option if layering enabled
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-form/rbd-form.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-snapshot-list/rbd-snapshot-actions.model.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-snapshot-list/rbd-snapshot-list.component.spec.ts
Labels: dashboard, backport: no-conflicts

#53796 quincy: mgr/dashboard: enable protect option if layering enabled
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-form/rbd-form.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-snapshot-list/rbd-snapshot-actions.model.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-snapshot-list/rbd-snapshot-list.component.spec.ts
Labels: dashboard, backport: no-conflicts

#53805 reef: mgr/dashboard: show a message to restart the rgw daemons after moving from single-site to multi-site
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-multisite-details/rgw-multisite-details.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-multisite-details/rgw-multisite-details.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-multisite-migrate/rgw-multisite-migrate.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-sync-data-info/rgw-sync-data-info.component.html
  src/pybind/mgr/dashboard/services/cluster.py
Labels: pybind, dashboard

#53746 mgr/dashboard: rbd image hide usage bar when disk usage is not provided
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-list/rbd-list.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-list/rbd-list.component.ts
Labels: pybind, dashboard

#53332 mds: add option mds_bal_overload_epochs
  doc/cephfs/mds-config-ref.rst
  src/common/options/mds.yaml.in
  src/mds/MDBalancer.cc
Labels: documentation, cephfs, common, wip-vshankar-testing3

#53494 mds: fix stray CInodes' use-after-free bug when submit ELid entry
  src/mds/MDLog.cc
Labels: cephfs, wip-vshankar-testing3

#53791 doc/rados: edit ops/control.rst (1 of x)
  doc/rados/operations/control.rst
Labels: documentation, core

#51774 quincy: os/bluestore: proper override rocksdb::WritableFile::Allocate
  src/os/bluestore/BlueRocksEnv.cc
  src/test/objectstore/store_test.cc
Labels: core, needs-qa, tests, bluestore, wip-yuri6-testing, backport quincy

#53806 reef: mgr/dashboard: Rgw Multi-site naming improvements
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/services/service-form/service-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/create-rgw-service-entities/create-rgw-service-entities.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/models/rgw-multisite-zonegroup-deletion-form/rgw-multisite-zonegroup-deletion-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-multisite-details/rgw-multisite-details.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-multisite-details/rgw-multisite-details.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-multisite-export/rgw-multisite-export.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-multisite-import/rgw-multisite-import.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-multisite-migrate/rgw-multisite-migrate.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-multisite-zone-form/rgw-multisite-zone-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-multisite-zonegroup-form/rgw-multisite-zonegroup-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-overview-dashboard/rgw-overview-dashboard.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/core/navigation/navigation/navigation.component.html
Labels: pybind, dashboard

#53792 doc/rados: edit ops/control.rst (2 of x)
  doc/rados/operations/control.rst
Labels: documentation, core

#48249 quincy: osd: set per_pool_stats true when OSD has no PG
  src/osd/OSD.cc
Labels: bug-fix, core, needs-qa, wip-yuri6-testing, backport

#53816 quincy: doc/rados: edit ops/control.rst (2 of x)
  doc/rados/operations/control.rst
Labels: documentation, core

#53815 reef: doc/rados: edit ops/control.rst (2 of x)
  doc/rados/operations/control.rst
Labels: documentation, core

#53436 mgr/dashboard: fix bootstrap script for cephadm installation
  src/pybind/mgr/dashboard/ci/cephadm/bootstrap-cluster.sh
  src/pybind/mgr/dashboard/ci/cephadm/start-cluster.sh
Labels: pybind, dashboard, cephadm

#53810 reef: mgr/dashboard: rbd image hide usage bar when disk usage is not provided
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-list/rbd-list.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-list/rbd-list.component.ts
Labels: pybind, dashboard, backport: no-conflicts

#52843 reef: xfstests_dev: install extra packages from powertools repo for xfsprogs
  qa/tasks/cephfs/xfstests_dev.py
Labels: cephfs, needs-qa, tests, wip-vshankar-testing1

#53627 reef: qa: descrease pgbench scale factor to 32 for postgresql database test
  qa/suites/fs/workload/tasks/5-workunit/postgres.yaml
Labels: cephfs, wip-vshankar-testing1

#53638 reef: cephfs-mirror: do not run concurrent C_RestartMirroring context
  src/tools/cephfs_mirror/FSMirror.h
  src/tools/cephfs_mirror/InstanceWatcher.cc
  src/tools/cephfs_mirror/InstanceWatcher.h
  src/tools/cephfs_mirror/Mirror.cc
  src/tools/cephfs_mirror/Mirror.h
  src/tools/cephfs_mirror/MirrorWatcher.cc
  src/tools/cephfs_mirror/MirrorWatcher.h
Labels: cephfs, needs-qa, wip-vshankar-testing1

#53646 reef: cephfs-journal-tool: disambiguate usage of all keyword (in tool help).
  src/tools/cephfs/JournalTool.cc
Labels: cephfs, needs-qa, wip-vshankar-testing1

#52725 quincy: mds: Fix the linkmerge assert check
  src/mds/Server.cc
Labels: cephfs, needs-qa, wip-yuri2-testing, quincy-batch-1

#52743 quincy: qa: wait for file to have correct size
  qa/tasks/cephfs/mount.py
  qa/tasks/cephfs/test_client_recovery.py
Labels: cephfs, needs-qa, tests, wip-yuri2-testing, quincy-batch-1

#52749 quincy: mgr/snap_schedule: allow retention spec 'n' to be user defined
  PendingReleaseNotes
  doc/cephfs/snap-schedule.rst
  qa/tasks/cephfs/test_snap_schedules.py
  src/pybind/mgr/snap_schedule/fs/schedule_client.py
  src/pybind/mgr/snap_schedule/tests/fs/test_schedule_client.py
Labels: documentation, core, cephfs, needs-qa, tests, pybind, wip-yuri2-testing, quincy-batch-1

#52845 quincy: mds: skip forwarding request if the session were removed
  src/mds/MDCache.cc
  src/mds/MDSRank.cc
  src/mds/MDSRank.h
  src/mds/Server.cc
Labels: cephfs, needs-qa, wip-yuri2-testing, quincy-batch-1

#52849 quincy: mds: do not send split_realms for CEPH_SNAP_OP_UPDATE msg
  src/mds/MDCache.cc
Labels: cephfs, needs-qa, wip-yuri2-testing, quincy-batch-1

#52902 quincy: Consider setting "bulk" autoscale pool flag when automatically creating a data pool for CephFS
  qa/tasks/cephfs/test_volumes.py
  src/mon/FSCommands.cc
  src/mon/MDSMonitor.cc
  src/pybind/mgr/volumes/fs/fs_util.py
  src/pybind/mgr/volumes/fs/operations/volume.py
Labels: core, cephfs, needs-qa, tests, pybind, wip-yuri2-testing, mon, quincy-batch-1

#52983 quincy: mon/MDSMonitor: plug paxos when maybe manipulating osdmap
  src/mon/FSCommands.cc
  src/mon/FSCommands.h
  src/mon/MDSMonitor.cc
Labels: core, cephfs, needs-qa, wip-yuri2-testing, mon

#53139 quincy: ceph_fs.h: add separate owner_{u,g}id fields
  src/client/Client.cc
  src/client/MetaRequest.cc
  src/client/MetaRequest.h
  src/include/ceph_fs.h
  src/mds/Server.cc
  src/mds/cephfs_features.cc
  src/mds/cephfs_features.h
  src/messages/MClientRequest.h
Labels: cephfs, needs-qa, wip-yuri2-testing, quincy-batch-1

#52467 quincy: mon/ConfigMonitor: update crush_location from osd entity
  src/mon/ConfigMonitor.cc
Labels: core, needs-qa, mon, wip-yuri6-testing

#52534 quincy: mon/MonClient: resurrect original client_mount_timeout handling
  src/mon/MonClient.cc
  src/test/librados/misc.cc
Labels: bug-fix, core, needs-qa, tests, mon, wip-yuri6-testing, quincy-batch-1

#52722 quincy: qa/standalone/osd/divergent-prior.sh: Divergent test 3 with pg_autoscale_mode on pick divergent osd
  qa/standalone/osd/divergent-priors.sh
Labels: core, needs-qa, tests, wip-yuri6-testing

#53780 reef: mgr/dashboard: allow tls 1.2 with a config option
  src/pybind/mgr/dashboard/module.py
  src/pybind/mgr/dashboard/settings.py
Labels: pybind, dashboard

#52585 quincy: qa/cephfs: add 'rhel' to family of RH OS in xfstest_dev.py
  qa/tasks/cephfs/test_acls.py
  qa/tasks/cephfs/xfstests_dev.py
Labels: cephfs, needs-qa, tests, wip-yuri2-testing, quincy-batch-1

#53690 quincy: osd/OpRequest: Add detailed description for delayed op in osd log file
  src/osd/OpRequest.cc
  src/osd/OpRequest.h
Labels: core, needs-qa, TESTED, ready-to-merge

#52739 quincy: rgw: swift : check for valid key in POST forms
  src/rgw/rgw_rest_swift.cc
Labels: rgw, needs-qa, TESTED, ready-to-merge

#52313 dashboard: regression, make install fails w/dashboard disabled
  src/pybind/mgr/dashboard/CMakeLists.txt
Labels: build/ops, pybind, dashboard

#53818 reef: mgr/dashboard: Fix user/bucket count in rgw overview dashboard
  src/pybind/mgr/dashboard/controllers/rgw.py
Labels: pybind, dashboard

#53831 reef: mgr/dashboard: fix cephfs forms validations
  src/pybind/mgr/dashboard/frontend/cypress/e2e/filesystems/filesystems.e2e-spec.feature
  src/pybind/mgr/dashboard/frontend/src/app/app-routing.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cephfs/cephfs-form/cephfs-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cephfs/cephfs-form/cephfs-form.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cephfs/cephfs-list/cephfs-list.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cephfs/cephfs-subvolume-form/cephfs-subvolume-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cephfs/cephfs-subvolume-form/cephfs-subvolume-form.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cephfs/cephfs-subvolumegroup-form/cephfs-subvolumegroup-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cephfs/cephfs-subvolumegroup-form/cephfs-subvolumegroup-form.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/services/task-message.service.ts
Labels: pybind, dashboard

#53789 mgr/dashboard: fix rgw inventory card and broken shadows
  src/pybind/mgr/dashboard/frontend/src/app/ceph/dashboard-v3/dashboard/dashboard-v3.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/dashboard-v3/dashboard/dashboard-v3.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-overview-dashboard/rgw-overview-dashboard.component.html
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/card-row/card-row.component.html
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/card-row/card-row.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/card/card.component.html
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/card/card.component.ts
Labels: pybind, dashboard

#53788 RGW: add the missing help print for command 'topic stats'
  src/rgw/rgw_admin.cc
  src/test/cli/radosgw-admin/help.t
Labels: rgw, tests

#52735 rgw: Add coverity annotation for warning about tautological comparison
  src/rgw/picojson/picojson.h
Labels: rgw, GSoC / Outreachy

#48523 quincy: mgr/prometheus: avoid duplicates and deleted entries for rbd_stats_pools
  src/pybind/mgr/prometheus/module.py
Labels: pybind, monitoring

#48524 pacific: mgr/prometheus: avoid duplicates and deleted entries for rbd_stats_pools
  src/pybind/mgr/prometheus/module.py
Labels: pybind, monitoring, backport: no-conflicts

#53812 quincy: doc/rados: edit ops/control.rst (1 of x)
  doc/rados/operations/control.rst
Labels: documentation, core

#53811 reef: doc/rados: edit ops/control.rst (1 of x)
  doc/rados/operations/control.rst
Labels: documentation, core

#53819 doc/rados: edit troubleshooting.rst
  doc/rados/troubleshooting/index.rst
Labels: documentation, core

#53700 mgr/dashboard: Fixed cephfs snapshot listing in directories
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cephfs/cephfs-directories/cephfs-directories.component.ts
  src/pybind/mgr/dashboard/frontend/src/styles.scss
Labels: pybind, dashboard

#53092 quincy: osd/scheduler/mClockScheduler: Use same profile and client ids for all clients to ensure allocated QoS limit consumption.
  src/osd/scheduler/mClockScheduler.h
Labels: core, needs-qa, wip-yuri4-testing

#53677 quincy: pybind/mgr/pg_autoscaler: noautoscale flag retains individual pool configs
  qa/workunits/cephtool/test.sh
  qa/workunits/mon/test_noautoscale_flag.sh
  src/include/rados.h
  src/mon/MonCommands.h
  src/mon/OSDMonitor.cc
  src/osd/OSDMap.cc
  src/pybind/mgr/pg_autoscaler/module.py
Labels: core, tests, pybind, mon, wip-yuri4-testing, backport quincy

#53729 Revert "quincy: qa: add subvolume option flavors"
  qa/suites/fs/volumes/tasks/volumes/test/basic.yaml
  qa/suites/fs/workload/subvolume/$
  qa/suites/fs/workload/subvolume/no-subvolume.yaml
  qa/suites/fs/workload/subvolume/with-namespace-isolated-and-quota.yaml
  qa/suites/fs/workload/subvolume/with-namespace-isolated.yaml
  qa/suites/fs/workload/subvolume/with-no-extra-options.yaml
  qa/suites/fs/workload/subvolume/with-quota.yaml
  qa/tasks/ceph.py
  qa/tasks/ceph_fuse.py
  qa/tasks/cephadm.py
  qa/tasks/cephfs/filesystem.py
  qa/tasks/cephfs/fuse_mount.py
  qa/tasks/cephfs/kernel_mount.py
  qa/tasks/cephfs/mount.py
  qa/tasks/cephfs/test_subvolume.py
  qa/workunits/fs/misc/subvolume.sh
Labels: cephfs, tests, cephadm

#53621 cephadm: introduce Daemon Forms
  src/cephadm/cephadm.py
  src/cephadm/cephadmlib/container_daemon_form.py
  src/cephadm/cephadmlib/daemon_form.py
  src/cephadm/cephadmlib/deploy.py
  src/cephadm/cephadmlib/firewalld.py
  src/cephadm/cephadmlib/sysctl.py
  src/cephadm/tests/test_cephadm.py
  src/cephadm/tests/test_daemon_form.py
  src/cephadm/tests/test_deploy.py
Labels: cephadm, wip-adk-testing

#52296 mgr/cephadm: ceph orch add fails when ipv6 address is surrounded by square brackets.
  src/pybind/mgr/orchestrator/module.py
Labels: pybind, mgr, orchestrator, cephadm, wip-adk-testing

#53838 quincy: doc/rados: edit troubleshooting.rst
  doc/rados/troubleshooting/index.rst
Labels: documentation, core

#51811 quincy: pybind/argparse: blocklist ip validation
  src/pybind/ceph_argparse.py
  src/test/pybind/test_ceph_argparse.py
Labels: needs-qa, tests, pybind, wip-yuri8-testing

#52215 quincy: pybind/mgr/devicehealth: do not crash if db not ready
  src/pybind/mgr/devicehealth/module.py
Labels: needs-qa, pybind, wip-yuri8-testing

#52952 quincy: qa: use parallel gzip for compressing logs
  qa/tasks/ceph.py
  qa/tasks/ceph_deploy.py
  qa/tasks/cephadm.py
  qa/tasks/rook.py
Labels: needs-qa, tests, wip-yuri8-testing, cephadm, rook

#53158 quincy: python-common: drive_selection: fix KeyError when osdspec_affinity is not set
  src/python-common/ceph/deployment/drive_selection/selector.py
Labels: needs-qa, common, pybind, ceph-volume, wip-yuri8-testing, cephadm

#53566 quincy: blk/kernel: Add O_EXCL for block devices
  src/blk/kernel/KernelDevice.cc
Labels: core, needs-qa, wip-yuri8-testing

#53102 quincy: libcephsqlite: fill 0s in unread portion of buffer
  src/libcephsqlite.cc
Labels: needs-qa, wip-yuri8-testing, libcephsqlite

#53412 reef: qa: fix keystone in rgw/crypt/barbican.yaml
  qa/suites/rgw/crypt/2-kms/barbican.yaml
  qa/suites/rgw/crypt/supported-random-distro$
  qa/suites/rgw/crypt/ubuntu_latest.yaml
  qa/tasks/barbican.py
Labels: rgw, needs-qa, tests, TESTED, ready-to-merge

#53834 doc: remove egg fragment from dev/developer_guide/running-tests-locally
  doc/dev/developer_guide/running-tests-locally.rst
Labels: documentation

#53853 reef: doc: remove egg fragment from dev/developer_guide/running-tests-locally
  doc/dev/developer_guide/running-tests-locally.rst
Labels: documentation

#53854 quincy: doc: remove egg fragment from dev/developer_guide/running-tests-locally
  doc/dev/developer_guide/running-tests-locally.rst
Labels: documentation

#53835 reef: mgr/dashboard: fix the landing page layout issues
  src/pybind/mgr/dashboard/frontend/cypress/e2e/ui/dashboard-v3.e2e-spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/dashboard-v3/dashboard-pie/dashboard-pie.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/dashboard-v3/dashboard/dashboard-v3.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/dashboard-v3/dashboard/dashboard-v3.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/ceph/dashboard-v3/dashboard/dashboard-v3.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/dashboard-v3/dashboard/dashboard-v3.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-overview-dashboard/rgw-overview-dashboard.component.html
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/card-row/card-row.component.html
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/card-row/card-row.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/card/card.component.html
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/card/card.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/card/card.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/enum/health-icon.enum.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/services/prometheus-alert.service.ts
Labels: pybind, dashboard

#52430 rgw: Add coverity annotations for missing mutex locks
  src/rgw/driver/rados/rgw_d3n_datacache.cc
  src/rgw/driver/rados/rgw_rados.cc
  src/rgw/rgw_file_int.h
  src/rgw/rgw_http_client.cc
Labels: rgw, GSoC / Outreachy

#53417 osd: fix: slow scheduling when item_cost is large
  src/osd/scheduler/mClockScheduler.cc
Labels: core, needs-qa, wip-yuri6-testing

#52799 quincy: rgw: retry metadata cache notifications with INVALIDATE_OBJ
  src/common/options/rgw.yaml.in
  src/rgw/rgw_rados.cc
  src/rgw/rgw_rados.h
  src/rgw/services/svc_notify.cc
  src/rgw/services/svc_notify.h
Labels: rgw, needs-qa, common, TESTED, ready-to-merge

#53869 reef: mgr/cephadm: add ability to zap OSDs' devices while draining host
  doc/cephadm/host-management.rst
  src/pybind/mgr/cephadm/module.py
  src/pybind/mgr/cephadm/tests/test_cephadm.py
  src/pybind/mgr/orchestrator/_interface.py
  src/pybind/mgr/orchestrator/module.py
Labels: documentation, pybind, orchestrator, cephadm, wip-adk4-testing

#53855 script: add option for debug build
  src/script/ptl-tool.py
Labels: script

#53837 reef: doc/rados: edit troubleshooting.rst
  doc/rados/troubleshooting/index.rst
Labels: documentation, core

#53790 doc/architecture: edit "Peering and Sets"
  doc/architecture.rst
Labels: documentation

#53871 reef: doc/architecture: edit "Peering and Sets"
  doc/architecture.rst
Labels: documentation

#53872 quincy: doc/architecture: edit "Peering and Sets"
  doc/architecture.rst
Labels: documentation

#53663 quincy: ceph: allow xlock state to be LOCK_PREXLOCK when putting it
  src/mds/Locker.cc
  src/mds/SimpleLock.h
Labels: cephfs, needs-qa, wip-yuri3-testing

#53664 quincy: client: move the Inode to new auth mds session when changing auth cap
  src/client/Client.cc
  src/client/MetaSession.h
Labels: cephfs, needs-qa, wip-yuri3-testing

#53876 doc/architecture: repair RBD sentence
  doc/architecture.rst
Labels: documentation

#53878 quincy: doc/architecture: repair RBD sentence
  doc/architecture.rst
Labels: documentation

#53877 reef: doc/architecture: repair RBD sentence
  doc/architecture.rst
Labels: documentation

#53875 doc/rados: edit troubleshooting-mon.rst (3 of x)
  doc/rados/troubleshooting/troubleshooting-mon.rst
Labels: documentation, core

#53874 doc/rados: edit troubleshooting/community.rst
  doc/rados/troubleshooting/community.rst
Labels: documentation, core

#53881 reef: doc/rados: edit troubleshooting/community.rst
  doc/rados/troubleshooting/community.rst
Labels: documentation, core

#53879 reef: doc/rados: edit troubleshooting-mon.rst (3 of x)
  doc/rados/troubleshooting/troubleshooting-mon.rst
Labels: documentation, core

#53880 quincy: doc/rados: edit troubleshooting-mon.rst (3 of x)
  doc/rados/troubleshooting/troubleshooting-mon.rst
Labels: documentation, core

#53817 mgr/dashboard: Filter active alerts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/dashboard-v3/dashboard/dashboard-v3.component.html
  src/pybind/mgr/dashboard/frontend/src/app/shared/services/prometheus-alert.service.ts
Labels: pybind, dashboard

#53884 test/rgw: don't compile POSIX test unless enabled
  src/test/rgw/CMakeLists.txt
Labels: rgw, tests, build/ops

#53892 src/test/pybind: don't use decorator "with_setup"
  src/test/pybind/test_cephfs.py
Labels: bug-fix, cephfs, tests, needs-review

#53890 doc/rados: edit troubleshooting-mon.rst (4 of x)
  doc/rados/troubleshooting/troubleshooting-mon.rst
Labels: documentation, core

#52326 rgw/lua: support reloading lua packages on all RGWs
  doc/radosgw/lua-scripting.rst
  src/common/options/rgw.yaml.in
  src/rgw/driver/daos/rgw_sal_daos.cc
  src/rgw/driver/daos/rgw_sal_daos.h
  src/rgw/driver/motr/rgw_sal_motr.cc
  src/rgw/driver/motr/rgw_sal_motr.h
  src/rgw/driver/rados/rgw_sal_rados.cc
  src/rgw/driver/rados/rgw_sal_rados.h
  src/rgw/rgw_admin.cc
  src/rgw/rgw_appmain.cc
  src/rgw/rgw_lua.cc
  src/rgw/rgw_lua.h
  src/rgw/rgw_lua_background.cc
  src/rgw/rgw_lua_background.h
  src/rgw/rgw_lua_request.cc
  src/rgw/rgw_perf_counters.cc
  src/rgw/rgw_process_env.h
  src/rgw/rgw_realm_reloader.cc
  src/rgw/rgw_sal.h
  src/rgw/rgw_sal_dbstore.cc
  src/rgw/rgw_sal_dbstore.h
  src/rgw/rgw_sal_filter.cc
  src/rgw/rgw_sal_filter.h
  src/rgw/rgw_sal_store.h
  src/test/cli/radosgw-admin/help.t
  src/test/rgw/test_rgw_lua.cc
  src/vstart.sh
Labels: documentation, rgw, tests, common, wip-yuval-testing

#52734 rgw: Restore ostream format state after changing it
  src/rgw/rgw_asio_frontend.cc
  src/rgw/rgw_common.cc
  src/rgw/rgw_public_access.cc
Labels: rgw, wip-yuval-testing, GSoC / Outreachy

#52472 rgw: Remove unnecessary null check from valid_s3_bucket_name
  src/rgw/rgw_rest_s3.h
Labels: rgw, wip-yuval-testing, GSoC / Outreachy

#52328 rgw: fix potential null dereference in rgw_iam_policy.c: ParseState::do_string
  src/rgw/rgw_iam_policy.cc
Labels: rgw, wip-yuval-testing, GSoC / Outreachy
