Repository ceph/ceph, pull requests merged in 2023-05, with the labels that each got.

#51138 RGW: bucket notification - hide auto generated topics when listing topics
  src/rgw/rgw_pubsub.cc
Labels: rgw

#51284 doc/cephfs: improve sentence in nfs.rst
  doc/cephfs/nfs.rst
Labels: documentation, cephfs, nfs

#51296 doc/rados: edit stretch-mode.rst
  doc/rados/operations/stretch-mode.rst
Labels: documentation, core

#51302 reef: doc/rados: edit stretch-mode.rst
  doc/rados/operations/stretch-mode.rst
Labels: documentation, core

#51303 quincy: doc/rados: edit stretch-mode.rst
  doc/rados/operations/stretch-mode.rst
Labels: documentation, core

#51270 mgr/telemetry: compile all channels and collections in selftest
  src/pybind/mgr/telemetry/module.py
Labels: pybind, telemetry, needs-quincy-backport, needs-reef-backport

#51299 doc/radosgw: rabbitmq - push-endpoint edit
  doc/radosgw/notifications.rst
Labels: documentation

#51174 pacific: cephadm: mount host /etc/hosts for daemon containers in podman deployments
  qa/suites/orch/cephadm/workunits/task/.qa
  qa/suites/orch/cephadm/workunits/task/test_iscsi_container/+
  qa/suites/orch/cephadm/workunits/task/test_iscsi_container/.qa
  qa/suites/orch/cephadm/workunits/task/test_iscsi_container/centos_8.stream_container_tools.yaml
  qa/suites/orch/cephadm/workunits/task/test_iscsi_container/test_iscsi_container.yaml
  qa/workunits/cephadm/test_iscsi_etc_hosts.sh
  src/cephadm/cephadm
Labels: tests, cephadm, wip-adk4-testing

#51305 reef: doc/radosgw: rabbitmq - push-endpoint edit
  doc/radosgw/notifications.rst
Labels: documentation

#51306 quincy: doc/radosgw: rabbitmq - push-endpoint edit
  doc/radosgw/notifications.rst
Labels: documentation

#51307 pacific: doc/radosgw: rabbitmq - push-endpoint edit
  doc/radosgw/notifications.rst
Labels: documentation

#51133 doc/mgr: update prompts in prometheus.rst
  doc/mgr/prometheus.rst
Labels: documentation, mgr

#51005 mgr/nfs,qa: enhance logging cephfs path failure and align two test cases
  qa/tasks/cephfs/test_nfs.py
  src/pybind/mgr/nfs/export.py
  src/pybind/mgr/nfs/tests/test_nfs.py
  src/pybind/mgr/nfs/utils.py
Labels: cephfs, tests, pybind, nfs, ready-to-merge, wip-vshankar-testing3

#51158 cephfs-top: fix help text for delay
  src/tools/cephfs/top/cephfs-top
Labels: bug fix, cleanup, cephfs, ready-to-merge

#47637 crimson/osd: bring support for client blocklisting
  src/crimson/osd/osd_operations/client_request.cc
  src/crimson/osd/pg.cc
  src/crimson/osd/pg.h
  src/crimson/osd/watch.cc
  src/crimson/osd/watch.h
Labels: feature, core, tests, common, crimson

#51180 crimson/osd/snaptrim_event: get SnapSetContext from head obc
  src/crimson/osd/osd_operations/snaptrim_event.cc
  src/crimson/osd/osd_operations/snaptrim_event.h
Labels: wip-sam-testing, needs-qa, crimson, wip-xuxuehan-testng

#51202 crimson/osd/pg: make clone object's version consistent with pglog
  src/crimson/osd/ops_executer.cc
  src/crimson/osd/ops_executer.h
Labels: crimson

#50227 crimson/osd/heartbeat: share osdmap to peers when necessary
  src/crimson/osd/heartbeat.cc
  src/crimson/osd/heartbeat.h
  src/crimson/osd/shard_services.cc
  src/crimson/osd/shard_services.h
Labels: crimson, wip-matan-testing

#50457 qa/suites/crimson-rados/rbd: Add new rbd image format api tests
  qa/suites/crimson-rados/rbd/tasks/rbd_api_tests.yaml
  src/test/cls_rbd/test_cls_rbd.cc
  src/test/librbd/test_Groups.cc
  src/test/librbd/test_internal.cc
  src/test/librbd/test_librbd.cc
  src/test/librbd/test_mirroring.cc
Labels: rbd, tests, crimson, wip-matan-testing

#51295 rgw/notification: pass in bytes_transferred to populate object_size in sync notification
  src/rgw/driver/rados/rgw_cr_rados.cc
  src/rgw/driver/rados/rgw_notify.cc
Labels: rgw, wip-yuval-testing

#51264 test/librbd: use GTEST_SKIP macro to skip tests
  src/test/librbd/operation/test_mock_SnapshotRemoveRequest.cc
  src/test/librbd/test_internal.cc
  src/test/librbd/test_librbd.cc
  src/test/librbd/test_support.h
Labels: cleanup, rbd, tests, needs-reef-backport

#51209 pacific: ceph-volume: fix drive-group issue that expects the batch_args to be a string
  src/ceph-volume/ceph_volume/drive_group/main.py
Labels: ceph-volume, wip-adk4-testing

#51196 pacific: ceph-volume: quick fix in zap.py
  src/ceph-volume/ceph_volume/devices/lvm/zap.py
Labels: ceph-volume, wip-adk4-testing

#51207 pacific: ceph-volume: fix batch refactor issue
  src/ceph-volume/ceph_volume/devices/lvm/batch.py
Labels: ceph-volume, wip-adk4-testing

#51048 PendingReleaseNotes: add a note about telemetry leaderboard
  PendingReleaseNotes
Labels: documentation, telemetry

#49965 rgw/sts: changing identity to boost::none, when role policy
  src/rgw/rgw_op.cc
Labels: rgw, needs-qa, wip-cbodley-testing

#50924 rgw: add crypt attrs for iam policy to PostObj and Init/CompleteMultipart
  src/rgw/rgw_op.cc
Labels: bug fix, rgw, wip-cbodley-testing

#50925 rgw/rados: check_quota() uses real bucket owner
  src/rgw/driver/rados/rgw_sal_rados.cc
Labels: bug fix, rgw, needs-qa, wip-cbodley-testing

#51052 rgw/s3: dump Message field in Error response even if empty
  src/rgw/rgw_common.cc
Labels: rgw, needs-qa, wip-cbodley-testing

#51161 rgw/sts: AssumeRole no longer writes to user metadata
  src/rgw/driver/dbstore/common/dbstore.h
  src/rgw/driver/dbstore/dbstore_main.cc
  src/rgw/driver/dbstore/sqlite/sqliteDB.cc
  src/rgw/driver/dbstore/tests/dbstore_tests.cc
  src/rgw/rgw_common.h
  src/rgw/rgw_sts.cc
  src/rgw/rgw_sts.h
Labels: bug fix, rgw, needs-qa, wip-cbodley-testing

#50631 reef: mgr/cephadm: don't add mgr into iscsi trusted_ip_list if it's already there
  src/pybind/mgr/cephadm/services/iscsi.py
Labels: pybind, cephadm, wip-adk2-testing

#51309 reef: doc/mgr: update prompts in prometheus.rst
  doc/mgr/prometheus.rst
Labels: documentation, mgr

#51310 quincy: doc/mgr: update prompts in prometheus.rst
  doc/mgr/prometheus.rst
Labels: documentation, mgr

#51311 pacific: doc/mgr: update prompts in prometheus.rst
  doc/mgr/prometheus.rst
Labels: documentation, mgr

#51255 mgr/dashboard: fix the rbd mirroring configure check
  src/pybind/mgr/dashboard/controllers/rbd_mirroring.py
Labels: pybind, dashboard

#51195 quincy: ceph-volume: quick fix in zap.py
  src/ceph-volume/ceph_volume/devices/lvm/zap.py
Labels: ceph-volume, wip-adk3-testing

#51206 quincy: ceph-volume: fix batch refactor issue
  src/ceph-volume/ceph_volume/devices/lvm/batch.py
Labels: ceph-volume, wip-adk3-testing

#51210 quincy: ceph-volume: fix drive-group issue that expects the batch_args to be a string
  src/ceph-volume/ceph_volume/drive_group/main.py
Labels: ceph-volume, wip-adk3-testing

#51331 Revert "common/tracer: fix decoding when jaeger tracing is disabled"
  src/common/tracer.h
Labels: common

#51335 quincy: mgr: add urllib3==1.26.15 to mgr/requirements.txt
  src/pybind/mgr/requirements.txt
Labels: core, pybind, mgr

#51334 reef: mgr: add urllib3==1.26.15 to mgr/requirements.txt
  src/pybind/mgr/requirements.txt
Labels: core, pybind, mgr

#49885 BlueStore: Improve fragmentation score metric
  src/os/bluestore/Allocator.cc
  src/test/objectstore/Allocator_test.cc
Labels: core, needs-qa, tests, performance, bluestore, wip-yuri3-testing

#50344 msg: always generate random nonce; don't try to reuse PID
  src/ceph_mon.cc
  src/ceph_osd.cc
  src/cephadm/cephadm.py
  src/cephadm/tests/test_cephadm.py
  src/crimson/osd/main_config_bootstrap_helpers.h
  src/mgr/DaemonServer.cc
  src/mgr/MgrStandby.cc
  src/msg/Messenger.cc
  src/msg/Messenger.h
Labels: bug fix, cleanup, core, needs-qa, mgr, wip-yuri3-testing, crimson, cephadm

#50418 pybind/argparse: blocklist ip validation
  src/pybind/ceph_argparse.py
  src/test/pybind/test_ceph_argparse.py
Labels: core, needs-qa, tests, pybind, wip-yuri3-testing

#51211 pacific: mgr/orchestrator: fix device size in `orch device ls` output
  src/pybind/mgr/orchestrator/module.py
Labels: pybind, orchestrator, wip-adk4-testing

#51212 pacific: cephadm: using ip instead of short hostname for prometheus urls
  src/cephadm/cephadm
Labels: cephadm, wip-adk4-testing

#51213 pacific: orchestrator: add `--no-destroy` arg to `ceph orch osd rm`
  src/pybind/mgr/cephadm/module.py
  src/pybind/mgr/cephadm/services/osd.py
  src/pybind/mgr/orchestrator/_interface.py
  src/pybind/mgr/orchestrator/module.py
Labels: pybind, orchestrator, cephadm, wip-adk4-testing

#51214 pacific: cephadm: reschedule haproxy from an offline host
  src/pybind/mgr/cephadm/tests/test_scheduling.py
  src/pybind/mgr/cephadm/utils.py
Labels: pybind, cephadm, wip-adk4-testing

#47199 mgr/cephadm: support for nfs backed by VIP
  doc/cephadm/services/nfs.rst
  doc/mgr/nfs.rst
  qa/suites/orch/cephadm/smoke-roleless/2-services/nfs-keepalive-only.yaml
  src/pybind/mgr/cephadm/inventory.py
  src/pybind/mgr/cephadm/module.py
  src/pybind/mgr/cephadm/schedule.py
  src/pybind/mgr/cephadm/serve.py
  src/pybind/mgr/cephadm/services/cephadmservice.py
  src/pybind/mgr/cephadm/services/ingress.py
  src/pybind/mgr/cephadm/services/nfs.py
  src/pybind/mgr/cephadm/tests/test_services.py
  src/pybind/mgr/nfs/cluster.py
  src/pybind/mgr/nfs/module.py
  src/pybind/mgr/orchestrator/module.py
  src/python-common/ceph/deployment/service_spec.py
Labels: documentation, pybind, mgr, orchestrator, cephadm, nfs, wip-adk-testing

#50613 mgr/cephadm: allow configuring anonymous access for grafana
  doc/cephadm/services/monitoring.rst
  src/pybind/mgr/cephadm/services/monitoring.py
  src/pybind/mgr/cephadm/templates/services/grafana/grafana.ini.j2
  src/pybind/mgr/cephadm/tests/test_services.py
  src/pybind/mgr/cephadm/tests/test_spec.py
  src/python-common/ceph/deployment/service_spec.py
  src/python-common/ceph/tests/test_service_spec.py
Labels: documentation, pybind, monitoring, cephadm, wip-adk-testing

#50868 mgr/cephadm: update monitoring stack versions
  src/cephadm/cephadm.py
  src/pybind/mgr/cephadm/module.py
Labels: pybind, cephadm, wip-adk-testing

#50976 pybind/mgr: improve error when inbuf is given to commands that don't use it
  src/pybind/mgr/mgr_module.py
Labels: pybind, mgr, cephadm, wip-adk-testing

#51226 orchestrator: Fix spelling
  doc/dev/cephadm/developing-cephadm.rst
  qa/suites/orch/cephadm/upgrade/3-upgrade/staggered.yaml
  qa/workunits/cephadm/test_cephadm.sh
  src/cephadm/cephadm.py
  src/cephadm/containers/keepalived/README.md
  src/cephadm/tests/test_cephadm.py
  src/pybind/mgr/cephadm/Vagrantfile
  src/pybind/mgr/cephadm/configchecks.py
  src/pybind/mgr/cephadm/module.py
  src/pybind/mgr/cephadm/schedule.py
  src/pybind/mgr/cephadm/serve.py
  src/pybind/mgr/cephadm/services/cephadmservice.py
  src/pybind/mgr/cephadm/services/osd.py
  src/pybind/mgr/cephadm/tests/test_cephadm.py
  src/pybind/mgr/cephadm/tests/test_scheduling.py
  src/pybind/mgr/cephadm/utils.py
  src/pybind/mgr/cephadm/vagrant.config.example.json
  src/pybind/mgr/orchestrator/_interface.py
  src/python-common/ceph/deployment/drive_group.py
  src/python-common/ceph/deployment/drive_selection/matchers.py
  src/python-common/ceph/deployment/service_spec.py
Labels: documentation, tests, pybind, ceph-volume, orchestrator, cephadm, wip-adk-testing

#51061 reef: rgw : fix python script using s3cmd with error code 403 ubuntu 20.04
  qa/workunits/rgw/test_rgw_datacache.py
Labels: rgw, tests, ready-to-merge, backport: no-conflicts

#50861 osd: avoid watcher remains after "rados watch" is interrupted
  src/osd/PrimaryLogPG.cc
  src/osd/Watch.cc
Labels: core, needs-qa, wip-yuri3-testing

#50963 reef: mgr: store names of modules that register RADOS clients in the MgrMap
  qa/workunits/cephtool/test.sh
  src/messages/MMgrBeacon.h
  src/mgr/ActivePyModules.cc
  src/mgr/PyModuleRegistry.h
  src/mon/MgrMap.h
  src/mon/MgrMonitor.cc
Labels: documentation, core, needs-qa, tests, mgr, mon, wip-yuri6-testing

#50978 reef: MgrMonitor: batch commit OSDMap and MgrMap mutations
  src/mon/MgrMap.h
  src/mon/MgrMonitor.cc
  src/mon/MgrMonitor.h
  src/mon/PaxosService.cc
  src/mon/PaxosService.h
Labels: core, needs-qa, mon, wip-yuri6-testing

#51292 doc/rados: edit stretch-mode.rst
  doc/rados/operations/stretch-mode.rst
Labels: documentation, core

#51337 reef: doc/rados: edit stretch-mode.rst
  doc/rados/operations/stretch-mode.rst
Labels: documentation, core

#51338 quincy: doc/rados: edit stretch-mode.rst
  doc/rados/operations/stretch-mode.rst
Labels: documentation, core

#51339 pacific: doc/rados: edit stretch-mode.rst
  doc/rados/operations/stretch-mode.rst
Labels: documentation, core

#50643 mgr/dashboard: add support for editing RGW zone
  src/pybind/mgr/dashboard/controllers/rgw.py
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/models/rgw-multisite.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-multisite-details/rgw-multisite-details.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-multisite-details/rgw-multisite-details.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-multisite-realm-form/rgw-multisite-realm-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-multisite-realm-form/rgw-multisite-realm-form.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-multisite-zone-form/rgw-multisite-zone-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-multisite-zone-form/rgw-multisite-zone-form.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-multisite-zonegroup-form/rgw-multisite-zonegroup-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-multisite-zonegroup-form/rgw-multisite-zonegroup-form.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-system-user/rgw-system-user.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-system-user/rgw-system-user.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-system-user/rgw-system-user.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-system-user/rgw-system-user.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/rgw-multisite.service.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/rgw-zone.service.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/rgw-zonegroup.service.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/services/doc.service.ts
  src/pybind/mgr/dashboard/openapi.yaml
  src/pybind/mgr/dashboard/requirements-test.txt
  src/pybind/mgr/dashboard/services/rgw_client.py
Labels: pybind, dashboard, api-change

#51192 rgw/cloud-transition: Handle cloud-tiered objects in a multisite environment
  src/rgw/driver/rados/rgw_obj_manifest.cc
  src/rgw/driver/rados/rgw_putobj_processor.cc
  src/rgw/driver/rados/rgw_rados.cc
  src/rgw/rgw_common.h
  src/rgw/rgw_op.cc
  src/rgw/rgw_op.h
  src/rgw/rgw_rest_conn.cc
  src/rgw/rgw_rest_conn.h
  src/rgw/rgw_rest_s3.cc
  src/rgw/rgw_zone.cc
Labels: rgw, needs-qa

#50676 rgw/archive: Disable logging for archive zone
  src/rgw/driver/rados/rgw_bucket_sync.cc
  src/rgw/driver/rados/rgw_rados.cc
  src/rgw/rgw_admin.cc
  src/rgw/services/svc_zone.cc
Labels: rgw, needs-qa

#51281 dokan: handle std::stoul exceptions
  src/dokan/options.cc
Labels: cephfs, win32

#51224 cephfs-top: check the minimum compatible python version
  doc/cephfs/cephfs-top.rst
  src/tools/cephfs/top/CMakeLists.txt
Labels: documentation, cephfs, build/ops, wip-vshankar-testing3

#50881 reef: mgr/cephadm: Reef Batch Backport
  ceph.spec.in
  doc/cephadm/host-management.rst
  doc/cephadm/services/index.rst
  doc/cephadm/services/rgw.rst
  qa/distros/container-hosts/centos_8.stream_container_tools.yaml
  qa/distros/container-hosts/centos_8.stream_container_tools_crun.yaml
  qa/distros/container-hosts/rhel_8.6_container_tools_3.0.yaml
  qa/distros/container-hosts/rhel_8.6_container_tools_rhel8.yaml
  qa/distros/podman/centos_8.stream_container_tools.yaml
  qa/distros/podman/rhel_8.6_container_tools_3.0.yaml
  qa/distros/podman/rhel_8.6_container_tools_rhel8.yaml
  qa/suites/orch/cephadm/mgr-nfs-upgrade/4-final.yaml
  qa/suites/orch/cephadm/workunits/task/test_iscsi_container/+
  qa/suites/orch/cephadm/workunits/task/test_iscsi_container/.qa
  qa/suites/orch/cephadm/workunits/task/test_iscsi_container/centos_8.stream_container_tools.yaml
  qa/suites/orch/cephadm/workunits/task/test_iscsi_container/test_iscsi_container.yaml
  qa/suites/orch/cephadm/workunits/task/test_rgw_multisite.yaml
  qa/tasks/rgw_module.py
  qa/workunits/cephadm/test_iscsi_etc_hosts.sh
  src/cephadm/cephadm.py
  src/cephadm/tests/test_cephadm.py
  src/cephadm/tests/test_util_funcs.py
  src/mypy-constrains.txt
  src/pybind/ceph_daemon.py
  src/pybind/mgr/CMakeLists.txt
  src/pybind/mgr/cephadm/inventory.py
  src/pybind/mgr/cephadm/migrations.py
  src/pybind/mgr/cephadm/module.py
  src/pybind/mgr/cephadm/services/cephadmservice.py
  src/pybind/mgr/cephadm/services/nfs.py
  src/pybind/mgr/cephadm/ssh.py
  src/pybind/mgr/cephadm/templates/services/prometheus/prometheus.yml.j2
  src/pybind/mgr/cephadm/tests/test_cephadm.py
  src/pybind/mgr/cephadm/tests/test_facts.py
  src/pybind/mgr/cephadm/tests/test_migration.py
  src/pybind/mgr/cephadm/tests/test_services.py
  src/pybind/mgr/cephadm/tests/test_upgrade.py
  src/pybind/mgr/cephadm/upgrade.py
  src/pybind/mgr/dashboard/controllers/_rest_controller.py
  src/pybind/mgr/dashboard/services/access_control.py
  src/pybind/mgr/dashboard/services/exception.py
  src/pybind/mgr/dashboard/services/sso.py
  src/pybind/mgr/mgr_module.py
  src/pybind/mgr/orchestrator/_interface.py
  src/pybind/mgr/orchestrator/module.py
  src/pybind/mgr/prometheus/module.py
  src/python-common/ceph/deployment/drive_group.py
  src/python-common/ceph/deployment/drive_selection/matchers.py
  src/python-common/ceph/deployment/drive_selection/selector.py
  src/python-common/ceph/deployment/inventory.py
  src/python-common/ceph/deployment/service_spec.py
  src/python-common/ceph/deployment/translate.py
  src/python-common/ceph/tests/test_service_spec.py
  src/python-common/tox.ini
Labels: documentation, rgw, tests, build/ops, pybind, mgr, ceph-volume, dashboard, orchestrator, monitoring, cephadm, nfs, wip-adk2-testing

#51325 quincy: mgr/dashboard: fix the rbd mirroring configure check
  src/pybind/mgr/dashboard/controllers/rbd_mirroring.py
Labels: pybind, dashboard

#51165 reef: mgr/dashboard: hide notification on force promote
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-list/rbd-list.component.ts
Labels: pybind, dashboard

#51056 pacific: mgr/dashboard: rbd-mirror force promotion
  src/pybind/mgr/dashboard/controllers/rbd.py
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-form/rbd-form-edit-request.model.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-list/rbd-list.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-list/rbd-list.component.ts
  src/pybind/mgr/dashboard/openapi.yaml
Labels: pybind, dashboard, api-change

#51200 pacific: rgw/s3: dump Message field in Error response even if empty
  src/rgw/rgw_common.cc
Labels: rgw, needs-qa, wip-yuri11-testing

#50507 rgw/rest: add 'zero' rest api
  src/rgw/CMakeLists.txt
  src/rgw/rgw_appmain.cc
  src/rgw/rgw_rest.cc
  src/rgw/rgw_rest_zero.cc
  src/rgw/rgw_rest_zero.h
Labels: rgw, build/ops, performance, needs-review

#51333 crimson/osd/objclass: Fix compilation warning
  src/crimson/osd/objclass.cc
Labels: crimson

#51351 pacific: doc: Use `ceph osd crush tree` command to display weight set weights
  doc/rados/operations/crush-map.rst
Labels: documentation, core

#51350 quincy: doc: Use `ceph osd crush tree` command to display weight set weights
  doc/rados/operations/crush-map.rst
Labels: documentation, core

#51349 reef: doc: Use `ceph osd crush tree` command to display weight set weights
  doc/rados/operations/crush-map.rst
Labels: documentation, core

#51111 reef: mgr/dashboard: expose more grafana configs in service form
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/services/service-form/service-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/services/service-form/service-form.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/services/service-form/service-form.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/models/service.interface.ts
Labels: pybind, dashboard

#51112 quincy: mgr/dashboard: expose more grafana configs in service form
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/services/service-form/service-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/services/service-form/service-form.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/services/service-form/service-form.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/models/service.interface.ts
Labels: pybind, dashboard

#51149 quincy: mgr/dashboard: skip Create OSDs step in Cluster expansion
  src/pybind/mgr/dashboard/frontend/cypress/integration/orchestrator/workflow/06-cluster-check.e2e-spec.ts
Labels: pybind, dashboard

#51150 pacific: mgr/dashboard: skip Create OSDs step in Cluster expansion
  src/pybind/mgr/dashboard/frontend/cypress/integration/orchestrator/workflow/06-cluster-check.e2e-spec.ts
Labels: pybind, dashboard

#51358 quincy: mgr/dashboard: bump moment from 2.29.3 to 2.29.4 in /src/pybind/mgr/dashboard/frontend
  src/pybind/mgr/dashboard/frontend/package-lock.json
  src/pybind/mgr/dashboard/frontend/package.json
Labels: pybind, dashboard

#51252 quincy: mgr/dashboard: fix CephPGImbalance alert
  src/pybind/mgr/dashboard/controllers/prometheus.py
Labels: pybind, dashboard

#50894 pacific: kv/RocksDBStore: Add CompactOnDeletion support
  src/common/legacy_config_opts.h
  src/common/options.cc
  src/kv/RocksDBStore.cc
Labels: core, needs-qa, common, wip-yuri5-testing

#51232 pacific: qa: check each fs for health
  qa/tasks/ceph.py
  qa/tasks/cephfs/filesystem.py
Labels: cephfs, needs-qa, tests, wip-yuri2-testing

#51146 docs: added note for the TAG option
  doc/dev/release-process.rst
Labels: documentation

#51344 pacific: backport PR #39607
  qa/tasks/ceph_fuse.py
  qa/tasks/cephfs/fuse_mount.py
  qa/tasks/cephfs/kernel_mount.py
  qa/tasks/cephfs/mount.py
  qa/tasks/vstart_runner.py
Labels: cephfs, tests, needs-review, wip-yuri4-testing, wip-rishabh-testing

#51359 doc/cephfs: repairing inaccessible FSes
  doc/cephfs/troubleshooting.rst
Labels: documentation, cephfs

#50392 ceph-volume: assign seastore as object store backend when deplying crimson-osd using LVM with cephadm
  src/ceph-volume/ceph_volume/activate/main.py
  src/ceph-volume/ceph_volume/devices/lvm/activate.py
  src/ceph-volume/ceph_volume/devices/lvm/batch.py
  src/ceph-volume/ceph_volume/devices/lvm/common.py
  src/ceph-volume/ceph_volume/devices/lvm/create.py
  src/ceph-volume/ceph_volume/devices/lvm/prepare.py
  src/ceph-volume/ceph_volume/util/prepare.py
  src/cephadm/cephadm.py
  src/pybind/mgr/cephadm/serve.py
  src/pybind/mgr/cephadm/tests/test_cephadm.py
  src/python-common/ceph/deployment/drive_group.py
  src/python-common/ceph/deployment/translate.py
Labels: pybind, ceph-volume, cephadm

#51373 pacific: doc/cephfs: repairing inaccessible FSes
  doc/cephfs/troubleshooting.rst
Labels: documentation, cephfs

#51370 doc/rados/configuration: correct space amp in bluestore-config-ref.rst
  doc/rados/configuration/bluestore-config-ref.rst
Labels: documentation, core

#51322 doc/rados: stretch-mode: stretch cluster issues
  doc/rados/operations/stretch-mode.rst
Labels: documentation, core

#51377 reef: doc/rados: stretch-mode: stretch cluster issues
  doc/rados/operations/stretch-mode.rst
Labels: documentation, core

#51378 quincy: doc/rados: stretch-mode: stretch cluster issues
  doc/rados/operations/stretch-mode.rst
Labels: documentation, core

#51379 pacific: doc/rados: stretch-mode: stretch cluster issues
  doc/rados/operations/stretch-mode.rst
Labels: documentation, core

#51371 reef: doc/cephfs: repairing inaccessible FSes
  doc/cephfs/troubleshooting.rst
Labels: documentation, cephfs

#51387 doc/rados: stretch-mode.rst (other commands)
  doc/rados/operations/stretch-mode.rst
Labels: documentation, core

#51390 quincy: doc/rados: stretch-mode.rst (other commands)
  doc/rados/operations/stretch-mode.rst
Labels: documentation, core

#51391 pacific: doc/rados: stretch-mode.rst (other commands)
  doc/rados/operations/stretch-mode.rst
Labels: documentation, core

#43245 [rgw]: Update AWS SDK in Java examples
  doc/radosgw/s3/java.rst
Labels: documentation, stale

#51381 crimson/osd/osd_operations/client_request: Fix client blocklisting
  src/crimson/osd/osd_operations/client_request.cc
Labels: bug fix, crimson, wip-matan-testing

#49975 osd: mClock recovery/backfill cost fixes
  doc/rados/configuration/mclock-config-ref.rst
  qa/config/rados.yaml
  qa/standalone/ceph-helpers.sh
  qa/standalone/erasure-code/test-erasure-eio.sh
  qa/standalone/misc/mclock-config.sh
  qa/standalone/osd-backfill/osd-backfill-space.sh
  qa/standalone/osd-backfill/osd-backfill-stats.sh
  qa/standalone/osd/osd-recovery-stats.sh
  qa/standalone/osd/osd-rep-recov-eio.sh
  qa/standalone/osd/repeer-on-acting-back.sh
  src/common/options/osd.yaml.in
  src/osd/ECBackend.cc
  src/osd/OSD.cc
  src/osd/OSD.h
  src/osd/PG.cc
  src/osd/PGBackend.h
  src/osd/PeeringState.cc
  src/osd/PeeringState.h
  src/osd/PrimaryLogPG.cc
  src/osd/PrimaryLogPG.h
  src/osd/ReplicatedBackend.cc
  src/osd/osd_perf_counters.cc
  src/osd/osd_perf_counters.h
  src/osd/osd_types.cc
  src/osd/osd_types.h
  src/osd/scheduler/OpSchedulerItem.cc
  src/osd/scheduler/OpSchedulerItem.h
  src/osd/scheduler/mClockScheduler.cc
  src/osd/scheduler/mClockScheduler.h
  src/test/osd/TestMClockScheduler.cc
Labels: documentation, core, tests, common, performance, wip-sseshasa-testing

#51263 reef: osd: mClock recovery/backfill cost fixes
  doc/rados/configuration/mclock-config-ref.rst
  qa/config/rados.yaml
  qa/standalone/ceph-helpers.sh
  qa/standalone/erasure-code/test-erasure-eio.sh
  qa/standalone/misc/mclock-config.sh
  qa/standalone/osd-backfill/osd-backfill-space.sh
  qa/standalone/osd-backfill/osd-backfill-stats.sh
  qa/standalone/osd/osd-recovery-stats.sh
  qa/standalone/osd/osd-rep-recov-eio.sh
  qa/standalone/osd/repeer-on-acting-back.sh
  src/common/options/osd.yaml.in
  src/osd/ECBackend.cc
  src/osd/OSD.cc
  src/osd/OSD.h
  src/osd/PG.cc
  src/osd/PGBackend.h
  src/osd/PeeringState.cc
  src/osd/PeeringState.h
  src/osd/PrimaryLogPG.cc
  src/osd/PrimaryLogPG.h
  src/osd/ReplicatedBackend.cc
  src/osd/osd_perf_counters.cc
  src/osd/osd_perf_counters.h
  src/osd/osd_types.cc
  src/osd/osd_types.h
  src/osd/scheduler/OpSchedulerItem.cc
  src/osd/scheduler/OpSchedulerItem.h
  src/osd/scheduler/mClockScheduler.cc
  src/osd/scheduler/mClockScheduler.h
  src/test/osd/TestMClockScheduler.cc
Labels: documentation, core, tests, common, wip-sseshasa3-testing

#49973 quincy: osd: mClock recovery/backfill cost fixes
  doc/rados/configuration/mclock-config-ref.rst
  qa/config/rados.yaml
  qa/standalone/ceph-helpers.sh
  qa/standalone/erasure-code/test-erasure-eio.sh
  qa/standalone/misc/mclock-config.sh
  qa/standalone/osd-backfill/osd-backfill-space.sh
  qa/standalone/osd-backfill/osd-backfill-stats.sh
  qa/standalone/osd/osd-recovery-stats.sh
  qa/standalone/osd/osd-rep-recov-eio.sh
  qa/standalone/osd/repeer-on-acting-back.sh
  src/common/options/osd.yaml.in
  src/osd/ECBackend.cc
  src/osd/OSD.cc
  src/osd/OSD.h
  src/osd/PG.cc
  src/osd/PGBackend.h
  src/osd/PeeringState.cc
  src/osd/PeeringState.h
  src/osd/PrimaryLogPG.cc
  src/osd/PrimaryLogPG.h
  src/osd/ReplicatedBackend.cc
  src/osd/osd_perf_counters.cc
  src/osd/osd_perf_counters.h
  src/osd/osd_types.cc
  src/osd/osd_types.h
  src/osd/scheduler/OpSchedulerItem.cc
  src/osd/scheduler/OpSchedulerItem.h
  src/osd/scheduler/mClockScheduler.cc
  src/osd/scheduler/mClockScheduler.h
  src/test/osd/TestMClockScheduler.cc
Labels: documentation, core, tests, common, wip-sseshasa2-testing

#51365 librbd: remove unused enum WriteOpType
  src/librbd/deep_copy/ObjectCopyRequest.h
Labels: cleanup, rbd

#51394 doc/dev/encoding.txt: update per std::optional
  doc/dev/network-encoding.rst
Labels: documentation

#50857 mon/Monitor.cc: exit function if !osdmon()->is_writeable()
  qa/standalone/mon-stretch/mon-stretch-fail-recovery.sh
  qa/suites/rados/standalone/workloads/mon-stretch.yaml
  src/mon/Monitor.cc
Labels: core, needs-qa, wip-yuri-testing, mon, needs-quincy-backport, needs-pacific-backport, needs-reef-backport

#51392 doc: update multisite doc
  doc/radosgw/multisite.rst
Labels: documentation

#51355 crimson/os/seastore: enable SMR HDD
  src/crimson/os/seastore/CMakeLists.txt
  src/crimson/os/seastore/seastore_types.cc
  src/crimson/os/seastore/seastore_types.h
  src/crimson/os/seastore/segment_manager.cc
  src/crimson/os/seastore/segment_manager.h
  src/crimson/os/seastore/segment_manager/zbd.cc
  src/crimson/os/seastore/segment_manager/zbd.h
Labels: build/ops, crimson

#51308 rgw/notification: remove non x-amz-meta-* attributes from bucket notifications
  src/rgw/driver/rados/rgw_notify.cc
  src/test/rgw/bucket_notification/test_bn.py
Labels: rgw, tests, wip-yuval-testing

#51402 pacific: doc: update multisite doc
  doc/radosgw/multisite.rst
Labels: documentation

#47749 crimson/os/seastore/btree: link fixedkvbtree's nodes and logical extents with forward and backward pointers, and drop the pin_set
  src/crimson/os/seastore/CMakeLists.txt
  src/crimson/os/seastore/async_cleaner.cc
  src/crimson/os/seastore/backref/backref_tree_node.h
  src/crimson/os/seastore/backref/btree_backref_manager.cc
  src/crimson/os/seastore/backref/btree_backref_manager.h
  src/crimson/os/seastore/backref_manager.h
  src/crimson/os/seastore/btree/btree_range_pin.cc
  src/crimson/os/seastore/btree/btree_range_pin.h
  src/crimson/os/seastore/btree/fixed_kv_btree.h
  src/crimson/os/seastore/btree/fixed_kv_node.cc
  src/crimson/os/seastore/btree/fixed_kv_node.h
  src/crimson/os/seastore/cache.cc
  src/crimson/os/seastore/cache.h
  src/crimson/os/seastore/cached_extent.cc
  src/crimson/os/seastore/cached_extent.h
  src/crimson/os/seastore/collection_manager/collection_flat_node.h
  src/crimson/os/seastore/extent_placement_manager.h
  src/crimson/os/seastore/lba_manager.cc
  src/crimson/os/seastore/lba_manager.h
  src/crimson/os/seastore/lba_manager/btree/btree_lba_manager.cc
  src/crimson/os/seastore/lba_manager/btree/btree_lba_manager.h
  src/crimson/os/seastore/lba_manager/btree/lba_btree_node.cc
  src/crimson/os/seastore/lba_manager/btree/lba_btree_node.h
  src/crimson/os/seastore/logging.h
  src/crimson/os/seastore/object_data_handler.cc
  src/crimson/os/seastore/object_data_handler.h
  src/crimson/os/seastore/omap_manager/btree/omap_btree_node_impl.h
  src/crimson/os/seastore/onode_manager/staged-fltree/node_extent_manager/dummy.h
  src/crimson/os/seastore/onode_manager/staged-fltree/node_extent_manager/seastore.h
  src/crimson/os/seastore/onode_manager/staged-fltree/node_extent_manager/test_replay.h
  src/crimson/os/seastore/root_block.cc
  src/crimson/os/seastore/root_block.h
  src/crimson/os/seastore/seastore_types.cc
  src/crimson/os/seastore/seastore_types.h
  src/crimson/os/seastore/transaction.h
  src/crimson/os/seastore/transaction_manager.cc
  src/crimson/os/seastore/transaction_manager.h
  src/crimson/tools/store_nbd/tm_driver.cc
  src/test/crimson/seastore/test_block.h
  src/test/crimson/seastore/test_btree_lba_manager.cc
  src/test/crimson/seastore/test_object_data_handler.cc
  src/test/crimson/seastore/test_transaction_manager.cc
Labels: tests, build/ops, crimson

#51401 quincy: doc: update multisite doc
  doc/radosgw/multisite.rst
Labels: documentation

#51400 reef: doc: update multisite doc
  doc/radosgw/multisite.rst
Labels: documentation

#51397 reef: doc/dev/encoding.txt: update per std::optional
  doc/dev/network-encoding.rst
Labels: documentation

#51399 pacific: doc/dev/encoding.txt: update per std::optional
  doc/dev/network-encoding.rst
Labels: documentation

#51398 quincy: doc/dev/encoding.txt: update per std::optional
  doc/dev/network-encoding.rst
Labels: documentation

#50411 crimson/osd: start operations asynchrously
  src/crimson/osd/osd_operations/snaptrim_event.cc
  src/crimson/osd/shard_services.h
Labels: crimson, wip-matan-testing, wip-xuxuehan-testng

#47232 pacific: common: notify all when max backlog reached in OutputDataSocket
  src/common/OutputDataSocket.cc
Labels: needs-qa, common, wip-yuri5-testing

#50778 pacific: log: writes to stderr (pipe) may not be atomic
  src/log/Log.cc
  src/log/Log.h
  src/log/test.cc
Labels: needs-qa, common, wip-yuri5-testing

#50926 pacific: librbd: don't wait for a watch in send_acquire_lock() if client is blocklisted
  src/librbd/ManagedLock.cc
  src/librbd/exclusive_lock/ImageDispatch.cc
  src/test/librados_test_stub/TestMemCluster.cc
  src/test/librados_test_stub/TestWatchNotify.cc
  src/test/librbd/test_internal.cc
  src/test/librbd/test_mock_ManagedLock.cc
Labels: rbd, needs-qa, tests, wip-yuri5-testing, pacific-batch-1

#51059 pacific: qa/suites/rbd: install qemu-utils in addition to qemu-block-extra on Ubuntu
  qa/suites/rbd/singleton/all/qemu-iotests-no-cache.yaml
  qa/suites/rbd/singleton/all/qemu-iotests-writearound.yaml
  qa/suites/rbd/singleton/all/qemu-iotests-writeback.yaml
  qa/suites/rbd/singleton/all/qemu-iotests-writethrough.yaml
  qa/tasks/qemu.py
Labels: rbd, needs-qa, tests, wip-yuri5-testing, pacific-batch-1

#51301 doc: 16.2.13 Release Notes
  doc/releases/index.rst
  doc/releases/pacific.rst
  doc/releases/releases.yml
Labels: documentation

#51167 crimson/qa: make crimson run multicore in teuthology test
  qa/config/crimson_qa_overrides.yaml
Labels: crimson

#43184 mds: do not take the ino which has been used
  doc/cephfs/mds-config-ref.rst
  qa/suites/fs/multiclient/tasks/cephfs_misc_tests.yaml
  qa/tasks/cephfs/test_misc.py
  src/common/options/mds.yaml.in
  src/mds/CDir.cc
  src/mds/MDCache.cc
  src/mds/MDCache.h
  src/mds/Server.cc
  src/mds/events/EMetaBlob.h
  src/mds/journal.cc
Labels: documentation, cephfs, tests, common, wip-vshankar-testing1

#51166 librbd: localize snap_remove op for mirror snapshots
  src/cls/rbd/cls_rbd.cc
  src/librbd/api/Mirror.cc
  src/librbd/mirror/snapshot/CreatePrimaryRequest.cc
  src/librbd/mirror/snapshot/UnlinkPeerRequest.cc
  src/librbd/mirror/snapshot/UnlinkPeerRequest.h
  src/test/cls_rbd/test_cls_rbd.cc
  src/test/librbd/mirror/snapshot/test_mock_CreatePrimaryRequest.cc
  src/test/librbd/mirror/snapshot/test_mock_UnlinkPeerRequest.cc
  src/test/librbd/test_mirroring.cc
  src/test/rbd_mirror/image_replayer/snapshot/test_mock_Replayer.cc
  src/tools/rbd_mirror/image_replayer/snapshot/Replayer.cc
Labels: bug fix, rbd, tests, wip-dis-testing, needs-reef-backport

#49742 mgr/rbd_support: recover from rados client blocklisting
  qa/workunits/rbd/cli_generic.sh
  src/pybind/mgr/mgr_module.py
  src/pybind/mgr/rbd_support/mirror_snapshot_schedule.py
  src/pybind/mgr/rbd_support/module.py
  src/pybind/mgr/rbd_support/perf.py
  src/pybind/mgr/rbd_support/schedule.py
  src/pybind/mgr/rbd_support/task.py
  src/pybind/mgr/rbd_support/trash_purge_schedule.py
  src/pybind/rados/rados.pyx
Labels: core, rbd, tests, pybind, mgr, mon, wip-dis-testing

#50627 RGW: Solving the issue of not populating etag in Multipart upload result
  src/rgw/rgw_op.cc
Labels: rgw, needs-qa

#51419 reef: doc/start: fix "Planet Ceph" link
  doc/start/get-involved.rst
Labels: documentation

#51421 pacific: doc/start: fix "Planet Ceph" link
  doc/start/get-involved.rst
Labels: documentation

#51345 rgw/dbstore: allow NULL RealmIDs in sqlite schema
  qa/suites/rgw/dbstore/overrides.yaml
  src/rgw/driver/dbstore/config/sqlite.cc
  src/rgw/driver/dbstore/config/sqlite_schema.h
  src/rgw/driver/dbstore/sqlite/statement.cc
  src/rgw/driver/dbstore/sqlite/statement.h
Labels: bug fix, rgw

#51372 quincy: doc/cephfs: repairing inaccessible FSes
  doc/cephfs/troubleshooting.rst
Labels: documentation, cephfs

#51427 doc/cephfs: fix prompts in fs-volumes.rst
  doc/cephfs/fs-volumes.rst
Labels: documentation, cephfs

#51423 examples: replace example go modules with instructions to run
  examples/rgw/golang/.gitignore
  examples/rgw/golang/object-upload/README.md
  examples/rgw/golang/object-upload/go.mod
  examples/rgw/golang/object-upload/go.sum
  examples/rgw/golang/put-bucket-notification-creation/README.md
  examples/rgw/golang/put-bucket-notification-creation/go.mod
  examples/rgw/golang/put-bucket-notification-creation/go.sum
  examples/rgw/golang/topic-creation/README.md
  examples/rgw/golang/topic-creation/go.mod
  examples/rgw/golang/topic-creation/go.sum
Labels: documentation

#51188 client: use deep-copy when setting permission during make_request
  src/client/MetaRequest.h
Labels: cephfs, wip-vshankar-testing3

#51201 qa: run scrub post file system recovery
  qa/tasks/cephfs/test_data_scan.py
Labels: documentation, cephfs, tests, wip-vshankar-testing3

#51251 mds: allow unlink from lost+found directory
  PendingReleaseNotes
  qa/tasks/cephfs/test_data_scan.py
  src/mds/CInode.h
  src/mds/Server.cc
Labels: documentation, cephfs, tests, wip-vshankar-testing3

#51436 pacific: doc/cephfs: fix prompts in fs-volumes.rst
  doc/cephfs/fs-volumes.rst
Labels: documentation, cephfs

#51434 reef: doc/cephfs: fix prompts in fs-volumes.rst
  doc/cephfs/fs-volumes.rst
Labels: documentation, cephfs

#51458 doc/cephfs: rectify prompts in fs-volumes.rst
  doc/cephfs/fs-volumes.rst
Labels: documentation, cephfs

#51461 reef: doc/cephfs: rectify prompts in fs-volumes.rst
  doc/cephfs/fs-volumes.rst
Labels: documentation, cephfs

#51459 quincy: doc/cephfs: rectify prompts in fs-volumes.rst
  doc/cephfs/fs-volumes.rst
Labels: documentation, cephfs

#51460 pacific: doc/cephfs: rectify prompts in fs-volumes.rst
  doc/cephfs/fs-volumes.rst
Labels: documentation, cephfs

#51463 doc/cephfs: edit fs-volumes.rst (1 of x)
  doc/cephfs/fs-volumes.rst
Labels: documentation, cephfs

#51465 reef: doc/cephfs: edit fs-volumes.rst (1 of x)
  doc/cephfs/fs-volumes.rst
Labels: documentation, cephfs

#51467 pacific: doc/cephfs: edit fs-volumes.rst (1 of x)
  doc/cephfs/fs-volumes.rst
Labels: documentation, cephfs

#51466 quincy: doc/cephfs: edit fs-volumes.rst (1 of x)
  doc/cephfs/fs-volumes.rst
Labels: documentation, cephfs

#51469 reef: doc: add link to "documenting ceph" to index.rst
  doc/index.rst
  doc/start/documenting-ceph.rst
Labels: documentation

#51470 quincy: doc: add link to "documenting ceph" to index.rst
  doc/index.rst
  doc/start/documenting-ceph.rst
Labels: documentation

#51471 pacific: doc: add link to "documenting ceph" to index.rst
  doc/index.rst
  doc/start/documenting-ceph.rst
Labels: documentation

#50806 Dashboard multisite migrate
  src/pybind/mgr/dashboard/controllers/rgw.py
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-multisite-details/rgw-multisite-details.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-multisite-details/rgw-multisite-details.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-multisite-migrate/rgw-multisite-migrate.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-multisite-migrate/rgw-multisite-migrate.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-multisite-migrate/rgw-multisite-migrate.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-multisite-migrate/rgw-multisite-migrate.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-multisite-zone-form/rgw-multisite-zone-form.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/rgw-multisite.service.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/constants/app.constants.ts
  src/pybind/mgr/dashboard/services/rgw_client.py
Labels: pybind, dashboard, api-change
