Repository ceph/ceph, pull requests merged in 2023-03, with the labels that each got.

#48720 mds,client: feature to block clients from establishing sessions
  PendingReleaseNotes
  qa/tasks/cephfs/filesystem.py
  qa/tasks/cephfs/test_client_recovery.py
  qa/tasks/mgr/dashboard/test_health.py
  src/client/Client.cc
  src/include/ceph_fs.h
  src/mds/MDSMap.cc
  src/mds/MDSMap.h
  src/mds/Server.cc
  src/mon/FSCommands.cc
  src/mon/MonCommands.h
Labels: documentation, core, cephfs, tests, mon, wip-vshankar-testing, dashboard

#49286 crimson/osd, osd: bring snap trimming to crimson
  src/common/ceph_mutex.h
  src/common/map_cacher.hpp
  src/crimson/common/errorator.h
  src/crimson/common/interruptible_future.h
  src/crimson/osd/CMakeLists.txt
  src/crimson/osd/ops_executer.cc
  src/crimson/osd/ops_executer.h
  src/crimson/osd/osd_operation.h
  src/crimson/osd/osd_operation_external_tracking.h
  src/crimson/osd/osd_operations/client_request.cc
  src/crimson/osd/osd_operations/common/pg_pipeline.h
  src/crimson/osd/osd_operations/internal_client_request.cc
  src/crimson/osd/osd_operations/snaptrim_event.cc
  src/crimson/osd/osd_operations/snaptrim_event.h
  src/crimson/osd/pg.cc
  src/crimson/osd/pg.h
  src/crimson/osd/shard_services.cc
  src/crimson/osd/shard_services.h
  src/crush/CrushLocation.h
  src/osd/OSD.cc
  src/osd/SnapMapper.cc
  src/osd/SnapMapper.h
  src/test/crimson/test_interruptible_future.cc
  src/test/test_snap_mapper.cc
Labels: feature, core, tests, common, build/ops, crimson

#48181 src/rgw: SASL mechanism implementation
  doc/radosgw/notifications.rst
  src/rgw/driver/rados/rgw_pubsub_push.cc
  src/rgw/rgw_kafka.cc
  src/rgw/rgw_kafka.h
Labels: feature, documentation, rgw, needs-qa

#50256 rgw/notifications: add bucket notification configuration to zipper
  src/rgw/CMakeLists.txt
  src/rgw/driver/rados/rgw_notify.cc
  src/rgw/driver/rados/rgw_sal_rados.cc
  src/rgw/driver/rados/rgw_sal_rados.h
  src/rgw/rgw_admin.cc
  src/rgw/rgw_pubsub.cc
  src/rgw/rgw_pubsub.h
  src/rgw/rgw_rest_pubsub.cc
  src/rgw/rgw_sal.h
  src/rgw/rgw_sal_filter.h
  src/rgw/rgw_sal_store.h
Labels: rgw, needs-qa, build/ops, wip-yuval-testing

#50239 quincy: rgw/beast: StreamIO remembers connection errors for graceful shutdown
  src/rgw/rgw_asio_frontend.cc
Labels: rgw, needs-qa, wip-yuri3-testing, wip-yuri5-testing, backport: no-conflicts

#50240 quincy: rgw: Fix segfault due to concurrent socket use at timeout
  src/rgw/rgw_asio_frontend.cc
  src/rgw/rgw_asio_frontend_timer.h
Labels: rgw, needs-qa, wip-yuri3-testing, wip-yuri5-testing, backport: no-conflicts

#50316 doc/rgw: improve diagram caption
  doc/radosgw/multisite.rst
Labels: documentation

#50332 pacific: doc/rgw: improve diagram caption
  doc/radosgw/multisite.rst
Labels: documentation

#50331 quincy: doc/rgw: improve diagram caption
  doc/radosgw/multisite.rst
Labels: documentation

#50335 doc/cephadm: update cephadm compatability and stability page
  doc/cephadm/compatibility.rst
Labels: documentation, cephadm

#50317 crimson/os/seastore/epm: also do prepare_write for rbm
  src/crimson/os/seastore/extent_placement_manager.cc
Labels: crimson

#50338 reef: doc/cephadm: update cephadm compatability and stability page
  doc/cephadm/compatibility.rst
Labels: documentation, cephadm

#50336 quincy: doc/cephadm: update cephadm compatability and stability page
  doc/cephadm/compatibility.rst
Labels: documentation, cephadm

#50337 pacific: doc/cephadm: update cephadm compatability and stability page
  doc/cephadm/compatibility.rst
Labels: documentation, cephadm

#50217 qa: make the xfstests tmp directories to be readable and excutable
  qa/tasks/cephfs/xfstests_dev.py
Labels: cephfs, tests

#50171 rgw: don't dereference nullopt in DeleteMultiObj
  src/rgw/rgw_op.cc
Labels: bug fix, rgw, needs-qa, wip-cbodley-testing

#50172 rgw: catch manifest decode errors in GetObj
  src/rgw/driver/rados/rgw_rados.cc
  src/rgw/rgw_op.cc
Labels: bug fix, cleanup, rgw, needs-qa, wip-cbodley-testing

#49756 mds: add a command to dump directory information
  qa/tasks/cephfs/test_misc.py
  src/mds/MDCache.cc
  src/mds/MDCache.h
  src/mds/MDSDaemon.cc
  src/mds/MDSRank.cc
  src/mds/MDSRank.h
Labels: cephfs, tests, needs-review, wip-vshankar-testing

#49284 quincy: mgr/cephadm: some master -> main cleanup
  doc/dev/cephadm/developing-cephadm.rst
  qa/workunits/cephadm/test_cephadm.sh
  src/cephadm/box/box.py
  src/cephadm/tests/test_cephadm.py
  src/pybind/mgr/test_orchestrator/dummy_data.json
  src/script/cpatch
Labels: documentation, tests, pybind, orchestrator, cephadm, wip-adk3-testing

#50351 doc/radosgw: format admonitions
  doc/radosgw/multisite.rst
Labels: documentation

#46150 RGW - Replace set_owner workaround with new fix
  src/rgw/rgw_lc.cc
Labels: rgw

#49863 quincy: mgr/cephadm: save host cache data after scheduling daemon action
  src/pybind/mgr/cephadm/module.py
  src/pybind/mgr/cephadm/tests/test_cephadm.py
Labels: pybind, cephadm, wip-adk3-testing

#50151 quincy: cephfs-top: addition of sort feature and limit option
  doc/cephfs/cephfs-top.png
  doc/cephfs/cephfs-top.rst
  src/tools/cephfs/top/cephfs-top
Labels: documentation, cephfs, needs-qa, wip-yuri4-testing

#49654 quincy: mgr/nfs: handle bad cluster name during info command
  qa/tasks/cephfs/test_nfs.py
  src/pybind/mgr/nfs/cluster.py
Labels: cephfs, needs-qa, tests, pybind, nfs, wip-yuri10-testing

#49655 quincy: mds/PurgeQueue: don't consider filer_max_purge_ops when _calculate_ops
  src/mds/PurgeQueue.cc
Labels: cephfs, needs-qa, wip-yuri10-testing

#49939 quincy: mds: fix and skip submitting invalid osd request
  src/mds/CDir.cc
Labels: cephfs, needs-qa, wip-yuri10-testing

#49957 quincy: qa/fs/mixed-clients: specify distros for tests
  qa/distros/all/ubuntu_22.04.yaml
  qa/suites/fs/mixed-clients/distro/$
  qa/suites/fs/mixed-clients/distro/.qa
  qa/suites/fs/mixed-clients/distro/centos_8.yaml
  qa/suites/fs/mixed-clients/distro/rhel_8.yaml
  qa/suites/fs/mixed-clients/distro/ubuntu/+
  qa/suites/fs/mixed-clients/distro/ubuntu/.qa
  qa/suites/fs/mixed-clients/distro/ubuntu/latest.yaml
  qa/suites/fs/mixed-clients/distro/ubuntu/overrides.yaml
Labels: cephfs, needs-qa, wip-yuri10-testing, quincy-batch-1

#50090 quincy: mon: disable snap id allocation for fsmap pools
  doc/dev/cephfs-snapshots.rst
  qa/tasks/cephfs/test_snapshots.py
  src/mon/FSCommands.cc
  src/mon/OSDMonitor.cc
  src/osd/osd_types.h
Labels: documentation, core, cephfs, needs-qa, tests, mon, wip-yuri10-testing

#50357 pacific: doc/radosgw: format admonitions
  doc/radosgw/multisite.rst
Labels: documentation

#50356 quincy: doc/radosgw: format admonitions
  doc/radosgw/multisite.rst
Labels: documentation

#50354 doc/rgw: clean zone-sync.svg
  doc/images/zone-sync.svg
  doc/radosgw/multisite.rst
Labels: documentation

#49853 quincy: mgr/cephadm: increase ingress timeout values
  src/pybind/mgr/cephadm/templates/services/ingress/haproxy.cfg.j2
  src/pybind/mgr/cephadm/tests/test_services.py
Labels: pybind, cephadm, wip-adk3-testing

#49857 quincy: mgr/cephadm: make logging refresh metadata to debug logs configurable
  src/pybind/mgr/cephadm/module.py
  src/pybind/mgr/cephadm/offline_watcher.py
  src/pybind/mgr/cephadm/serve.py
  src/pybind/mgr/cephadm/ssh.py
  src/pybind/mgr/cephadm/tests/test_cephadm.py
  src/pybind/mgr/cephadm/tests/test_tuned_profiles.py
  src/pybind/mgr/cephadm/tuned_profiles.py
Labels: pybind, cephadm, wip-adk3-testing

#50355 reef: doc/radosgw: format admonitions
  doc/radosgw/multisite.rst
Labels: documentation

#50361 reef: doc/rgw: clean zone-sync.svg
  doc/images/zone-sync.svg
  doc/radosgw/multisite.rst
Labels: documentation

#50363 pacific: doc/rgw: clean zone-sync.svg
  doc/images/zone-sync.svg
  doc/radosgw/multisite.rst
Labels: documentation

#50362 quincy: doc/rgw: clean zone-sync.svg
  doc/images/zone-sync.svg
  doc/radosgw/multisite.rst
Labels: documentation

#49865 quincy: mgr/cephadm: add ingress support for ssl rgw service
  doc/cephadm/services/rgw.rst
  src/pybind/mgr/cephadm/services/ingress.py
  src/pybind/mgr/cephadm/templates/services/ingress/haproxy.cfg.j2
  src/pybind/mgr/cephadm/tests/test_services.py
Labels: documentation, pybind, cephadm, wip-adk3-testing

#50161 quincy: ceph-volume: legacy_encrypted() shouldn't call lsblk() when device is 'tmpfs'
  src/ceph-volume/ceph_volume/util/disk.py
  src/ceph-volume/ceph_volume/util/encryption.py
Labels: ceph-volume

#50144 quincy: ceph-volume: do not raise RuntimeError in util.lsblk
  src/ceph-volume/ceph_volume/util/disk.py
Labels: ceph-volume

#49969 drive_group: fix limit filter in drive_selection.selector
  src/python-common/ceph/deployment/drive_selection/selector.py
  src/python-common/ceph/deployment/inventory.py
Labels: pybind, ceph-volume, orchestrator, cephadm, wip-adk-testing

#50366 reef: doc/cephadm: Redd up compatibility.rst
  doc/cephadm/compatibility.rst
Labels: documentation, cephadm

#50368 pacific: doc/cephadm: Redd up compatibility.rst
  doc/cephadm/compatibility.rst
Labels: documentation, cephadm

#50367 quincy: doc/cephadm: Redd up compatibility.rst
  doc/cephadm/compatibility.rst
Labels: documentation, cephadm

#50266 quincy: rbd-mirror: add information about the last snapshot sync to image status
  src/tools/rbd_mirror/image_replayer/snapshot/Replayer.cc
  src/tools/rbd_mirror/image_replayer/snapshot/Replayer.h
Labels: feature, rbd, needs-qa, wip-yuri3-testing, quincy-batch-1

#50292 quincy: librbd: call apply_changes() after setting librados_thread_count
  qa/workunits/rbd/rbd-nbd.sh
  src/librbd/AsioEngine.cc
Labels: bug fix, rbd, needs-qa, tests, wip-yuri3-testing, quincy-batch-1

#50329 rgw/reshard: treat old RGWBucketInfo::num_shards=0 as 1 shard
  src/rgw/driver/rados/rgw_data_sync.cc
  src/rgw/driver/rados/rgw_rados.cc
  src/rgw/driver/rados/rgw_reshard.cc
  src/rgw/driver/rados/rgw_rest_log.cc
  src/rgw/rgw_bucket_layout.h
  src/rgw/services/svc_bi_rados.cc
  src/rgw/services/svc_bi_rados.h
Labels: bug fix, rgw, needs-qa, wip-cbodley-testing

#50375 doc/rgw: refine keycloak.rst
  doc/radosgw/keycloak.rst
Labels: documentation

#49522 quincy: src/valgrind.supp: Adding know leaks unrelated to ceph
  qa/valgrind.supp
Labels: core, needs-qa, wip-yuri4-testing

#50377 reef: doc/rgw: refine keycloak.rst
  doc/radosgw/keycloak.rst
Labels: documentation

#50379 pacific: doc/rgw: refine keycloak.rst
  doc/radosgw/keycloak.rst
Labels: documentation

#50378 quincy: doc/rgw: refine keycloak.rst
  doc/radosgw/keycloak.rst
Labels: documentation

#49851 quincy: mgr/cephadm: support for extra entrypoint args
  doc/cephadm/services/index.rst
  src/cephadm/cephadm
  src/pybind/mgr/cephadm/module.py
  src/pybind/mgr/cephadm/serve.py
  src/pybind/mgr/cephadm/services/cephadmservice.py
  src/pybind/mgr/cephadm/tests/test_cephadm.py
  src/pybind/mgr/cephadm/tests/test_services.py
  src/pybind/mgr/orchestrator/_interface.py
  src/python-common/ceph/deployment/drive_group.py
  src/python-common/ceph/deployment/service_spec.py
Labels: documentation, pybind, ceph-volume, orchestrator, cephadm, wip-adk3-testing

#50003 qa: d3n: fix test failure when "inline_data": false
  qa/workunits/rgw/test_rgw_datacache.py
Labels: bug fix, rgw, needs-qa, tests

#50386 doc/rgw - fix grammar in table in s3.rst
  doc/radosgw/s3.rst
Labels: documentation

#48894 tools/cephfs-data-scan: support for multi-datapool
  doc/cephfs/disaster-recovery-experts.rst
  qa/tasks/cephfs/cephfs_test_case.py
  qa/tasks/cephfs/test_data_scan.py
  src/cls/cephfs/cls_cephfs.h
  src/cls/cephfs/cls_cephfs_client.cc
  src/cls/cephfs/cls_cephfs_client.h
  src/tools/cephfs/DataScan.cc
  src/tools/cephfs/DataScan.h
Labels: documentation, cephfs, tests, tools, wip-vshankar-testing

#50310 client: remove unused method
  src/client/Client.cc
Labels: cephfs, needs-review

#50382 doc/rgw: fix caption
  doc/radosgw/multisite.rst
Labels: documentation

#50396 pacific: doc/rgw: fix caption
  doc/radosgw/multisite.rst
Labels: documentation

#50395 quincy: doc/rgw: fix caption
  doc/radosgw/multisite.rst
Labels: documentation

#50394 reef: doc/rgw: fix caption
  doc/radosgw/multisite.rst
Labels: documentation

#50159 quincy: librbd: Fix local rbd mirror journals growing forever
  qa/workunits/rbd/rbd-nbd.sh
  src/librbd/io/ImageRequest.cc
  src/test/librbd/io/test_mock_ImageRequest.cc
Labels: bug fix, rbd, needs-qa, tests, wip-yuri4-testing, quincy-batch-1

#50180 quincy: rbd-mirror: fix syncing_percent calculation logic in get_replay_status()
  src/tools/rbd_mirror/image_replayer/snapshot/Replayer.cc
Labels: bug fix, rbd, needs-qa, wip-yuri4-testing, quincy-batch-1

#48697 build scripts: various cleanups and minor changes preparing for containerized build and test
  install-deps.sh
  run-make-check.sh
  src/script/lib-build.sh
  src/script/run-make.sh
Labels: build/ops, wip-adk-testing

#50376 reef: rgw/reshard: treat old RGWBucketInfo::num_shards=0 as 1 shard
  src/rgw/driver/rados/rgw_data_sync.cc
  src/rgw/driver/rados/rgw_rados.cc
  src/rgw/driver/rados/rgw_reshard.cc
  src/rgw/driver/rados/rgw_rest_log.cc
  src/rgw/rgw_bucket_layout.h
  src/rgw/services/svc_bi_rados.cc
  src/rgw/services/svc_bi_rados.h
Labels: bug fix, rgw, needs-qa, wip-cbodley-testing, backport: no-conflicts

#50399 reef: doc/dev: add full stop to sentence in basic-wo
  doc/dev/developer_guide/basic-workflow.rst
Labels: documentation

#50400 quincy: doc/dev: add full stop to sentence in basic-wo
  doc/dev/developer_guide/basic-workflow.rst
Labels: documentation

#50401 pacific: doc/dev: add full stop to sentence in basic-wo
  doc/dev/developer_guide/basic-workflow.rst
Labels: documentation

#50048 quincy: os/bluesore: cumulative backport for Onode stuff and more
  src/common/options/global.yaml.in
  src/os/ObjectStore.h
  src/os/bluestore/BlueStore.cc
  src/os/bluestore/BlueStore.h
  src/os/bluestore/FreelistManager.cc
  src/os/bluestore/FreelistManager.h
  src/test/objectstore/store_test.cc
  src/test/objectstore/test_bluestore_types.cc
Labels: bug fix, core, needs-qa, tests, common, bluestore, wip-yuri3-testing, backport

#50153 quincy: mon, osd: rework the public_bind_addr support. Bring it to OSD
  src/ceph_mon.cc
  src/ceph_osd.cc
  src/common/pick_address.cc
  src/common/pick_address.h
  src/msg/Messenger.cc
  src/msg/Messenger.h
  src/msg/async/AsyncMessenger.cc
  src/msg/async/AsyncMessenger.h
Labels: core, needs-qa, common, wip-yuri3-testing

#50306 quincy: mon/MgrMap: dump last_failure_osd_epoch and active_clients at top level
  PendingReleaseNotes
  src/mon/MgrMap.h
Labels: bug fix, documentation, core, needs-qa, mgr, mon, wip-yuri3-testing, quincy-batch-1

#50384 doc/radosgw: Redd up s3select.rst as followup to #49411
  doc/radosgw/s3select.rst
Labels: documentation

#50397 rgw/tests: Reset endpoint before creating additional zones
  src/test/rgw/test-rgw-multisite.sh
Labels: rgw, tests

#50417 [Reef] rgw/tests: Reset endpoint before creating additional zones
  src/test/rgw/test-rgw-multisite.sh
Labels: rgw, tests

#50410 qa: suppress memory leak in rocksdb
  qa/valgrind.supp
Labels: core, needs-reef-backport

#49413 pacific: librbd/crypto: fix bad return checks from libcryptsetup
  src/librbd/crypto/luks/Header.cc
Labels: bug fix, rbd, needs-qa, wip-yuri2-testing, pacific-batch-1

#49650 pacific: mgr/rbd_support: remove localized schedule option during module startup
  src/pybind/mgr/rbd_support/mirror_snapshot_schedule.py
  src/pybind/mgr/rbd_support/schedule.py
  src/pybind/mgr/rbd_support/trash_purge_schedule.py
Labels: rbd, needs-qa, pybind, wip-yuri2-testing, pacific-batch-1

#50112 pacific: qa/suites/rbd: fix sporadic "rx-only direction" test failures
  qa/workunits/rbd/rbd_mirror_bootstrap.sh
Labels: rbd, needs-qa, tests, wip-yuri2-testing, pacific-batch-1

#50403 rgw: don't start the bucket notification thread in radosgw-admin
  src/rgw/driver/rados/rgw_rados.cc
  src/rgw/driver/rados/rgw_rados.h
  src/rgw/rgw_admin.cc
  src/rgw/rgw_appmain.cc
  src/rgw/rgw_object_expirer.cc
  src/rgw/rgw_realm_reloader.cc
  src/rgw/rgw_sal.cc
  src/rgw/rgw_sal.h
Labels: rgw

#50181 pacific: rbd-mirror: fix syncing_percent calculation logic in get_replay_status()
  src/tools/rbd_mirror/image_replayer/snapshot/Replayer.cc
Labels: bug fix, rbd, needs-qa, wip-yuri2-testing, pacific-batch-1

#50265 pacific: rbd-mirror: add information about the last snapshot sync to image status
  src/tools/rbd_mirror/image_replayer/snapshot/Replayer.cc
  src/tools/rbd_mirror/image_replayer/snapshot/Replayer.h
Labels: feature, rbd, needs-qa, wip-yuri2-testing, pacific-batch-1

#50311 mgr/cephadm: try to avoid pull when getting container image info
  src/pybind/mgr/cephadm/serve.py
Labels: pybind, cephadm, wip-adk-testing

#50275 mgr/rgw: adding mgr rgw module to ceph image
  ceph.spec.in
  src/pybind/mgr/CMakeLists.txt
Labels: build/ops, pybind, wip-adk-testing

#50167 mgr/cephadm: don't add mgr into iscsi trusted_ip_list if it's already there
  src/pybind/mgr/cephadm/services/iscsi.py
Labels: pybind, cephadm, wip-adk-testing

#50100 mgr/cephadm: add commands to set services to managed/unmanaged
  doc/cephadm/services/index.rst
  src/pybind/mgr/cephadm/inventory.py
  src/pybind/mgr/cephadm/module.py
  src/pybind/mgr/cephadm/tests/test_cephadm.py
  src/pybind/mgr/orchestrator/_interface.py
  src/pybind/mgr/orchestrator/module.py
Labels: documentation, pybind, orchestrator, cephadm, wip-adk-testing

#50158 pacific: librbd: Fix local rbd mirror journals growing forever
  qa/workunits/rbd/rbd-nbd.sh
  src/librbd/io/ImageRequest.cc
  src/test/librbd/io/test_mock_ImageRequest.cc
Labels: bug fix, rbd, needs-qa, tests, TESTED, ready-to-merge, pacific-batch-1

#50270 cephadm: set --ulimit nofiles with Docker
  src/cephadm/cephadm.py
  src/cephadm/tests/test_cephadm.py
Labels: cephadm, wip-adk-testing

#45469 RGW: Add a reader feature
  src/common/options/rgw.yaml.in
  src/rgw/rgw_auth_keystone.cc
  src/rgw/rgw_auth_keystone.h
  src/rgw/rgw_keystone.cc
  src/rgw/rgw_keystone.h
Labels: feature, rgw, common

#50101 mgr/orchestrator: allow deploying raw mode OSDs with --all-available-devices
  src/pybind/mgr/orchestrator/module.py
  src/python-common/ceph/deployment/drive_group.py
Labels: pybind, ceph-volume, orchestrator, cephadm, wip-adk-testing

#50244 cephadm: test call function & fix timeout argument
  src/cephadm/cephadm.py
  src/cephadm/tests/test_util_funcs.py
Labels: cephadm, wip-adk-testing

#50133 mgr/cephadm: be aware of host's shortname and FQDN
  src/cephadm/cephadm.py
  src/pybind/mgr/cephadm/inventory.py
  src/pybind/mgr/cephadm/tests/test_cephadm.py
  src/pybind/mgr/cephadm/tests/test_facts.py
Labels: pybind, cephadm, wip-adk-testing

#50146 qa/distros: pass --allowerasing --nobest when installing container-tools
  qa/distros/container-hosts/centos_8.stream_container_tools.yaml
  qa/distros/container-hosts/centos_8.stream_container_tools_crun.yaml
  qa/distros/container-hosts/rhel_8.6_container_tools_3.0.yaml
  qa/distros/container-hosts/rhel_8.6_container_tools_rhel8.yaml
  qa/distros/podman/centos_8.stream_container_tools.yaml
  qa/distros/podman/rhel_8.6_container_tools_3.0.yaml
  qa/distros/podman/rhel_8.6_container_tools_rhel8.yaml
Labels: tests, wip-adk-testing

#49912 qa: avoid explicit set to client mountpoint as "/"
  qa/tasks/cephfs/fuse_mount.py
  qa/tasks/cephfs/kernel_mount.py
  qa/tasks/cephfs/mount.py
Labels: cephfs, tests, needs-review, wip-vshankar-testing1

#49766 mds: record and dump last tid for trimming completed requests (or flu…
  doc/cephfs/health-messages.rst
  src/mds/SessionMap.cc
  src/mds/SessionMap.h
Labels: documentation, cephfs

#46357 mds: prevent clients from exceeding the xattrs key/value limits
  PendingReleaseNotes
  qa/tasks/mgr/dashboard/test_health.py
  src/common/options/mds.yaml.in
  src/mds/Locker.cc
  src/mds/Locker.h
  src/mds/MDSMap.cc
  src/mds/MDSMap.h
  src/mds/Server.cc
  src/mon/FSCommands.cc
  src/mon/MonCommands.h
Labels: documentation, core, cephfs, tests, common, mon, dashboard

#50430 doc/install: update index.rst
  doc/install/index.rst
Labels: documentation

#50431 reef: doc/install: update index.rst
  doc/install/index.rst
Labels: documentation

#50432 quincy: doc/install: update index.rst
  doc/install/index.rst
Labels: documentation

#50433 pacific: doc/install: update index.rst
  doc/install/index.rst
Labels: documentation

#49008 mds: accept human readable values for quotas
  doc/cephfs/quota.rst
  qa/tasks/cephfs/test_quota.py
  qa/workunits/fs/quota/quota.sh
  src/mds/Server.cc
Labels: documentation, cephfs, tests, common, wip-vshankar-testing1

#50437 doc/rados: fix grammar mistake
  doc/rados/operations/upmap.rst
Labels: documentation, core

#50436 pacific: doc/install: refine index.rst
  doc/install/index.rst
Labels: documentation

#50402 osd: ECTransactions.cc: remove __func__ used inside a lambda
  src/osd/ECTransaction.cc
Labels: core

#50286 quincy: pybind/mgr: use memory temp_store for sqlite3 db
  src/pybind/mgr/mgr_module.py
  src/pybind/mgr/snap_schedule/fs/schedule_client.py
Labels: core, cephfs, needs-qa, pybind, mgr, wip-yuri3-testing, libcephsqlite

#50413 mgr/prometheus: remove dependency on cephadm module
  src/pybind/mgr/prometheus/module.py
Labels: pybind, monitoring, cephadm, wip-adk-testing

#50318 cephadm: eliminate duplication of sections
  src/pybind/mgr/cephadm/module.py
  src/pybind/mgr/cephadm/tests/test_cephadm.py
Labels: pybind, cephadm, wip-adk-testing

#50082 mgr/cephadm: make upgrade respect use_repo_digest
  src/pybind/mgr/cephadm/module.py
  src/pybind/mgr/cephadm/tests/test_upgrade.py
  src/pybind/mgr/cephadm/upgrade.py
  src/pybind/mgr/orchestrator/_interface.py
Labels: pybind, orchestrator, cephadm, wip-adk-testing

#50149 Remove the filestore section from ceph-volume
  src/python-common/ceph/deployment/translate.py
Labels: pybind, cephadm, wip-adk-testing

#50122 pacific: mgr/dashboard: osd form preselect db/wal device filters
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/inventory/inventory-devices/inventory-devices.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/osd/osd-devices-selection-groups/osd-devices-selection-groups.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/osd/osd-devices-selection-modal/osd-devices-selection-modal.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/osd/osd-devices-selection-modal/osd-devices-selection-modal.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/osd/osd-form/osd-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/osd/osd-form/osd-form.component.ts
Labels: pybind, dashboard

#50439 doc/rados/operations: Improve wording, capitalization, formatting
  doc/rados/operations/bluestore-migration.rst
  doc/rados/operations/erasure-code.rst
  doc/rados/operations/health-checks.rst
  doc/rados/operations/pg-repair.rst
  doc/rados/operations/upmap.rst
  doc/rados/operations/user-management.rst
Labels: documentation, core

#50387 reef: doc/rgw - fix grammar in table in s3.rst
  doc/radosgw/s3.rst
Labels: documentation

#49953 mgr/dashboard: Dashboard RGW multisite configuration
  src/pybind/mgr/dashboard/controllers/rgw.py
  src/pybind/mgr/dashboard/frontend/src/app/app-routing.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/models/rgw-multisite.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-multisite-details/rgw-multisite-details.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-multisite-details/rgw-multisite-details.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-multisite-details/rgw-multisite-details.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-multisite-details/rgw-multisite-details.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-multisite-realm-form/rgw-multisite-realm-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-multisite-realm-form/rgw-multisite-realm-form.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-multisite-realm-form/rgw-multisite-realm-form.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-multisite-realm-form/rgw-multisite-realm-form.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-multisite-zone-form/rgw-multisite-zone-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-multisite-zone-form/rgw-multisite-zone-form.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-multisite-zone-form/rgw-multisite-zone-form.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-multisite-zone-form/rgw-multisite-zone-form.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-multisite-zonegroup-form/rgw-multisite-zonegroup-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-multisite-zonegroup-form/rgw-multisite-zonegroup-form.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-multisite-zonegroup-form/rgw-multisite-zonegroup-form.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-multisite-zonegroup-form/rgw-multisite-zonegroup-form.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/core/error/error.component.html
  src/pybind/mgr/dashboard/frontend/src/app/core/error/error.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/core/navigation/navigation/navigation.component.html
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/rgw-realm.service.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/rgw-realm.service.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/rgw-zone.service.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/rgw-zone.service.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/rgw-zonegroup.service.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/rgw-zonegroup.service.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/constants/app.constants.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/enum/icons.enum.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/services/module-status-guard.service.ts
  src/pybind/mgr/dashboard/frontend/src/styles/defaults/_bootstrap-defaults.scss
  src/pybind/mgr/dashboard/openapi.yaml
  src/pybind/mgr/dashboard/services/rgw_client.py
Labels: rgw, pybind, dashboard, cephadm, api-change

#50177 cephfs-top: navigate to home screen when no fs
  src/tools/cephfs/top/cephfs-top
Labels: bug fix, cephfs

#50456 mgr/dashboard: custom image for kcli bootstrap script
  src/pybind/mgr/dashboard/ci/cephadm/bootstrap-cluster.sh
Labels: pybind, dashboard

#50195 cephfs-top: Handle `METRIC_TYPE_NONE` fields for sorting
  src/tools/cephfs/top/cephfs-top
Labels: cephfs, ready-to-merge

#50459 quincy: mgr/dashboard: custom image for kcli bootstrap script
  src/pybind/mgr/dashboard/ci/cephadm/bootstrap-cluster.sh
Labels: pybind, dashboard

#50443 RGW - POSIX Driver - Reading sideloaded object works.
  src/rgw/driver/posix/rgw_sal_posix.cc
  src/rgw/driver/posix/rgw_sal_posix.h
  src/rgw/rgw_op.cc
Labels: rgw

#50125 quincy: mgr/dashboard: fix rbd mirroring daemon health status
  src/pybind/mgr/dashboard/controllers/rbd_mirroring.py
  src/pybind/mgr/dashboard/tests/test_rbd_mirroring.py
Labels: pybind, dashboard

#49546 osd/ReplicatedBackend: Rename Push/Pull Info
  src/osd/ReplicatedBackend.cc
  src/osd/ReplicatedBackend.h
Labels: core, needs-qa, wip-yuri4-testing

#50065 mgr: store names of modules that register RADOS clients in the MgrMap
  PendingReleaseNotes
  qa/workunits/cephtool/test.sh
  src/messages/MMgrBeacon.h
  src/mgr/ActivePyModules.cc
  src/mgr/PyModuleRegistry.h
  src/mon/MgrMap.h
  src/mon/MgrMonitor.cc
Labels: documentation, core, needs-qa, tests, mgr, mon, wip-yuri4-testing

#50388 quincy: doc/rgw - fix grammar in table in s3.rst
  doc/radosgw/s3.rst
Labels: documentation

#50199 scrub: use a generic interface for scheduling timer based events
  qa/standalone/scrub/osd-scrub-test.sh
  src/common/options/osd.yaml.in
  src/osd/scrubber/osd_scrub_sched.cc
  src/osd/scrubber/osd_scrub_sched.h
  src/osd/scrubber/pg_scrubber.cc
  src/osd/scrubber/pg_scrubber.h
  src/osd/scrubber/scrub_machine.cc
  src/osd/scrubber/scrub_machine.h
  src/osd/scrubber/scrub_machine_lstnr.h
Labels: core, needs-qa, common, wip-yuri7-testing

#47927 quincy: cmake: re-enable TCMalloc and allocator related cleanups
  CMakeLists.txt
  cmake/modules/BuildFIO.cmake
  src/CMakeLists.txt
  src/mgr/CMakeLists.txt
Labels: core, needs-qa, build/ops, mgr, wip-yuri6-testing

#49989 quincy: mon: Fix condition to check for ceph version mismatch
  src/mon/Monitor.cc
Labels: core, needs-qa, mon, wip-yuri6-testing

#50405 quincy: osd: mds: suggest clock skew when failing to obtain rotating service keys
  src/mds/MDSDaemon.cc
  src/osd/OSD.cc
Labels: core, cephfs, needs-qa, wip-yuri6-testing

#50406 quincy: src/crush: extra logging to debug CPU burn in test_with_fork()
  src/crush/CrushTester.cc
  src/crush/CrushTester.h
  src/mon/OSDMonitor.cc
  src/tools/crushtool.cc
Labels: core, needs-qa, build/ops, mon, wip-yuri6-testing

#49628 osd: allow osd_op_thread_timeout and suicide_timeout to be adjusted o…
  src/common/WorkQueue.cc
  src/common/WorkQueue.h
  src/os/bluestore/BlueStore.cc
  src/osd/OSD.cc
  src/test/test_workqueue.cc
Labels: core, needs-qa, tests, common, bluestore, wip-yuri4-testing

#49870 kv/rocksdbstore: apply rocksdb_delete_range_threshold on the fly
  src/kv/RocksDBStore.cc
  src/kv/RocksDBStore.h
Labels: core, needs-qa, performance, bluestore, wip-yuri4-testing

#50407 quincy: mon/LogMonitor: Fix log last
  src/mon/LogMonitor.cc
Labels: core, needs-qa, mon, TESTED, ready-to-merge

#50127 client: correct quota check in Client::_rename()
  src/client/Client.cc
Labels: bug fix, cephfs, needs-review, wip-vshankar-testing2

#50107 client: fix CEPH_CAP_FILE_WR caps reference leakage in _write()
  src/client/Client.cc
Labels: cephfs, wip-vshankar-testing2

#45224 mds: support alternate names for snapshots
  src/mds/Server.cc
  src/mds/snap.cc
  src/mds/snap.h
Labels: cephfs

#50452 reef: doc/rados/operations: Improve wording, capitalization, formatting
  doc/rados/operations/bluestore-migration.rst
  doc/rados/operations/erasure-code.rst
  doc/rados/operations/health-checks.rst
  doc/rados/operations/pg-repair.rst
  doc/rados/operations/upmap.rst
  doc/rados/operations/user-management.rst
Labels: documentation, core

#50454 pacific: doc/rados/operations: Improve wording, capitalization, formatting
  doc/rados/operations/bluestore-migration.rst
  doc/rados/operations/erasure-code.rst
  doc/rados/operations/health-checks.rst
  doc/rados/operations/pg-repair.rst
  doc/rados/operations/upmap.rst
  doc/rados/operations/user-management.rst
Labels: documentation, core

#49102 mgr/snap_schedule: add debug log for paths failing snapshot creation
  doc/cephfs/snap-schedule.rst
  qa/tasks/cephfs/test_snap_schedules.py
  src/pybind/mgr/snap_schedule/fs/schedule_client.py
Labels: documentation, cephfs, tests, pybind, wip-vshankar-testing2

#50013 mgr/volumes: avoid returning -ESHUTDOWN back to cli
  src/pybind/mgr/mgr_util.py
  src/pybind/mgr/volumes/fs/volume.py
Labels: cephfs, pybind, mgr, wip-vshankar-testing2

#50463 Name fixes and write method
  src/rgw/driver/posix/rgw_sal_posix.cc
  src/rgw/driver/posix/rgw_sal_posix.h
Labels: rgw

#49807 rgw: add bucket notification cache
  src/rgw/driver/rados/rgw_rados.cc
  src/rgw/driver/rados/rgw_rados.h
  src/rgw/driver/rados/rgw_sal_rados.cc
Labels: rgw, needs-qa, wip-yuval-testing

#50327 quincy: mon/OSDMointor: Simplify check_pg_num()
  src/mon/OSDMonitor.cc
  src/mon/OSDMonitor.h
Labels: core, needs-qa, mon, wip-yuri5-testing

#50348 rgw: experimental support for restoring a lost bucket index
  ceph.spec.in
  debian/radosgw.install
  src/rgw/CMakeLists.txt
  src/rgw/driver/rados/rgw_rados.cc
  src/rgw/driver/rados/rgw_rados.h
  src/rgw/rgw-restore-bucket-index
  src/rgw/rgw_admin.cc
  src/test/cli/radosgw-admin/help.t
Labels: feature, rgw, tests, build/ops, DNM

#50447 quincy: cephadm: Adding poststop actions and setting TimeoutStartSec to 200s
  src/cephadm/cephadm
Labels: cephadm, wip-adk3-testing

#50446 quincy: mgr/cephadm: fix backends service in haproxy config with multiple nfs of same rank
  src/pybind/mgr/cephadm/serve.py
  src/pybind/mgr/cephadm/services/ingress.py
  src/pybind/mgr/cephadm/tests/test_services.py
Labels: pybind, cephadm, wip-adk3-testing

#48948 mgr/telemetry: make sure histograms are formatted in `all` commands
  src/pybind/mgr/telemetry/module.py
Labels: needs-qa, pybind, telemetry, wip-yuri11-testing

#49524 osd: slightly improve readability in handling of snap trim errors
  src/osd/PrimaryLogPG.cc
Labels: cleanup, core, needs-qa, wip-yuri11-testing

#49958 os/bluestore: report min_alloc_size through "ceph osd metadata"
  src/os/bluestore/BlueStore.cc
Labels: feature, core, needs-qa, bluestore, wip-yuri11-testing

#49963 kv/RocksDBStore: don't use real wholespace iterator for prefixed access
  src/kv/KeyValueDB.h
  src/kv/RocksDBStore.cc
  src/kv/RocksDBStore.h
Labels: core, needs-qa, performance, bluestore, wip-yuri11-testing

#50470 doc/index: remove "uniquely" from landing page
  doc/index.rst
Labels: documentation

#50478 pacific: doc/index: remove "uniquely" from landing page
  doc/index.rst
Labels: documentation

#50476 reef: doc/index: remove "uniquely" from landing page
  doc/index.rst
Labels: documentation

#50477 quincy: doc/index: remove "uniquely" from landing page
  doc/index.rst
Labels: documentation
