Repository ceph/ceph, pull requests merged in 2023-02, with the labels that each got.

#49812 msg: fix poll event driver, handling POLLHUP and POLLERR
  src/msg/async/EventPoll.cc
Labels: core, win32

#49935 crimson: fix incorrect interval check in PG::submit_transaction
  src/common/dout.h
  src/crimson/common/log.h
  src/crimson/os/seastore/logging.h
  src/crimson/osd/ec_backend.cc
  src/crimson/osd/ec_backend.h
  src/crimson/osd/object_context_loader.cc
  src/crimson/osd/object_context_loader.h
  src/crimson/osd/osd_operations/client_request.cc
  src/crimson/osd/pg.cc
  src/crimson/osd/pg_backend.cc
  src/crimson/osd/pg_backend.h
  src/crimson/osd/pg_interval_interrupt_condition.cc
  src/crimson/osd/replicated_backend.cc
  src/crimson/osd/replicated_backend.h
Labels: common, crimson

#49968 doc/jaegertracing: refine index.rst
  doc/jaegertracing/index.rst
Labels: documentation

#49981 doc/rgw: refine "Zones" in multisite.rst
  doc/radosgw/multisite.rst
Labels: documentation

#49982 quincy: doc/rgw: refine "Zones" in multisite.rst
  doc/radosgw/multisite.rst
Labels: documentation

#49983 pacific: doc/rgw: refine "Zones" in multisite.rst
  doc/radosgw/multisite.rst
Labels: documentation

#49055 quincy: librbd/cache/pwl: fix clean vs bytes_dirty cache state inconsistency
  src/librbd/cache/pwl/AbstractWriteLog.cc
Labels: bug fix, rbd, needs-qa, tests, wip-yuri3-testing, quincy-batch-1

#49057 quincy: mgr/rbd_support: avoid wedging the task queue if pool is removed
  qa/workunits/rbd/cli_generic.sh
  src/pybind/mgr/rbd_support/task.py
Labels: bug fix, rbd, needs-qa, tests, pybind, wip-yuri3-testing, quincy-batch-1

#49196 quincy: cls/rbd: update last_read in group::snap_list
  qa/workunits/rbd/rbd_groups.sh
  src/cls/rbd/cls_rbd.cc
  src/test/cls_rbd/test_cls_rbd.cc
Labels: bug fix, rbd, needs-qa, tests, wip-yuri3-testing, quincy-batch-1

#49993 doc/rgw: refine 1-50 of multisite.rst
  doc/radosgw/multisite.rst
Labels: documentation

#49995 quincy: doc/rgw: refine 1-50 of multisite.rst
  doc/radosgw/multisite.rst
Labels: documentation

#49996 pacific: doc/rgw: refine 1-50 of multisite.rst
  doc/radosgw/multisite.rst
Labels: documentation

#49877 quincy: mgr/rook: Device inventory
  src/pybind/mgr/orchestrator/module.py
  src/pybind/mgr/rook/rook_cluster.py
Labels: core, pybind, orchestrator, rook

#49698 quincy: mgr/prometheus: use vendored "packaging" instead
  ceph.spec.in
  debian/control
  src/pybind/mgr/prometheus/module.py
  src/pybind/mgr/requirements-required.txt
Labels: needs-qa, build/ops, pybind, monitoring, wip-yuri7-testing, wip-yuri8-testing

#49994 doc/rgw: refine ~50-~140 of multisite.rst
  doc/radosgw/multisite.rst
Labels: documentation

#50008 quincy: doc/rgw: refine ~50-~140 of multisite.rst
  doc/radosgw/multisite.rst
Labels: documentation

#50009 pacific: doc/rgw: refine ~50-~140 of multisite.rst
  doc/radosgw/multisite.rst
Labels: documentation

#49723 ceph: Clarify usage message for admin-socket commands
  src/ceph.in
Labels: core, ceph

#49285 pacific: mgr/cephadm: some master -> main cleanup
  doc/dev/cephadm/developing-cephadm.rst
  qa/workunits/cephadm/test_cephadm.sh
  src/pybind/mgr/test_orchestrator/dummy_data.json
  src/script/cpatch
Labels: documentation, tests, pybind, orchestrator, cephadm, wip-adk2-testing

#49916 pacific: mgr/cephadm: fix check for if devices have changed
  src/pybind/mgr/cephadm/inventory.py
  src/pybind/mgr/dashboard/tests/test_host.py
  src/python-common/ceph/deployment/inventory.py
  src/python-common/ceph/tests/test_inventory.py
Labels: pybind, dashboard, cephadm, wip-adk2-testing

#49918 pacific: mgr/cephadm: specify ports for iscsi
  src/cephadm/cephadm
  src/pybind/mgr/cephadm/tests/test_services.py
  src/python-common/ceph/deployment/service_spec.py
Labels: pybind, cephadm, wip-adk2-testing

#49919 pacific: mgr/cephadm: don't say migration in progress if migration current > migration last
  src/pybind/mgr/cephadm/migrations.py
  src/pybind/mgr/cephadm/tests/test_migration.py
Labels: pybind, cephadm, wip-adk2-testing

#49926 pacific: mgr/cephadm: fix removing offline hosts with ingress daemons
  src/pybind/mgr/cephadm/module.py
Labels: pybind, cephadm, wip-adk2-testing

#49928 pacific: mgr/cephadm: call iscsi post_remove from serve loop
  src/pybind/mgr/cephadm/module.py
  src/pybind/mgr/cephadm/serve.py
Labels: pybind, cephadm, wip-adk2-testing

#49159 quincy: osd: add created_at meta
  src/osd/OSD.cc
Labels: core, needs-qa, wip-yuri7-testing

#49816 mgr/dashboard: small fixes and improvements over all cards and layout
  src/pybind/mgr/dashboard/frontend/src/app/ceph/new-dashboard/card/card.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/new-dashboard/card/card.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/ceph/new-dashboard/dashboard-area-chart/dashboard-area-chart.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/new-dashboard/dashboard-area-chart/dashboard-area-chart.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/ceph/new-dashboard/dashboard-pie/dashboard-pie.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/new-dashboard/dashboard/dashboard.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/new-dashboard/dashboard/dashboard.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/ceph/new-dashboard/dashboard/dashboard.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/new-dashboard/dashboard/dashboard.component.ts
Labels: pybind, dashboard

#49453 quincy: ceph-volume: fix a bug in get_all_devices_vgs()
  src/ceph-volume/ceph_volume/api/lvm.py
Labels: ceph-volume, wip-adk3-testing

#49454 pacific: ceph-volume: fix a bug in get_all_devices_vgs()
  src/ceph-volume/ceph_volume/api/lvm.py
Labels: ceph-volume, wip-adk2-testing

#50011 install-deps.sh: Fail when downloading apt repos
  install-deps.sh
Labels: build/ops

#50022 doc/radosgw: refine "Maintenance" in multisite.rst
  doc/radosgw/multisite.rst
Labels: documentation

#49988 pacific: mon: Fix condition to check for ceph version mismatch
  src/mon/Monitor.cc
Labels: core, needs-qa, mon, wip-lflores-testing-2

#49627 cephadm/box: create osds with podman.
  doc/dev/cephadm/developing-cephadm.rst
  src/cephadm/box/DockerfileDocker
  src/cephadm/box/DockerfilePodman
  src/cephadm/box/box.py
  src/cephadm/box/docker-compose-podman.yml
  src/cephadm/box/docker/ceph/Dockerfile
  src/cephadm/box/host.py
  src/cephadm/box/osd.py
  src/cephadm/box/util.py
Labels: documentation, dashboard, cephadm

#48783 mgr/dashboard: Replace vonage-status-panel with native grafana stat panel
  monitoring/ceph-mixin/dashboards_out/ceph-cluster.json
Labels: dashboard, monitoring

#50021 mgr/rgw: rename endpoints to zone_endpoints to match rgw spec
  src/python-common/ceph/rgw/rgwam_core.py
Labels: pybind, cephadm

#50027 cephfs-top: drop curses.A_ITALIC
  src/tools/cephfs/top/cephfs-top
Labels: bug fix, cephfs

#50026 pacific: doc/radosgw: refine "Maintenance" in multisite.rst
  doc/radosgw/multisite.rst
Labels: documentation

#50025 quincy: doc/radosgw: refine "Maintenance" in multisite.rst
  doc/radosgw/multisite.rst
Labels: documentation

#50030 doc/rgw: refine multisite to "config 2ndary zones"
  doc/radosgw/multisite.rst
Labels: documentation

#50031 quincy: doc/rgw: refine multisite to "config 2ndary zones"
  doc/radosgw/multisite.rst
Labels: documentation

#50032 pacific: doc/rgw: refine multisite to "config 2ndary zones"
  doc/radosgw/multisite.rst
Labels: documentation

#49140 quincy: qa/workunits/rados: specify redirect in curl command
  qa/workunits/rados/test_librados_build.sh
Labels: core, needs-qa, tests, wip-yuri7-testing

#49888 cephadm: more test coverage for various utils functions
  src/cephadm/cephadm.py
  src/cephadm/tests/test_util_funcs.py
Labels: cephadm

#48093 quincy: mon,auth,cephadm: support auth key rotation
  doc/cephadm/operations.rst
  qa/suites/orch/cephadm/with-work/tasks/rotate-keys.yaml
  qa/suites/rados/singleton/all/mon-auth-caps.yaml
  qa/workunits/cephtool/test.sh
  qa/workunits/mon/auth_key_rotation.sh
  src/auth/Auth.h
  src/auth/Crypto.h
  src/auth/KeyRing.cc
  src/auth/KeyRing.h
  src/auth/cephx/CephxKeyServer.cc
  src/auth/cephx/CephxKeyServer.h
  src/auth/cephx/CephxServiceHandler.cc
  src/ceph-crash.in
  src/client/Client.cc
  src/client/Client.h
  src/common/admin_socket.cc
  src/common/admin_socket.h
  src/common/ceph_context.cc
  src/librbd/LibrbdAdminSocketHook.cc
  src/librbd/LibrbdAdminSocketHook.h
  src/mds/MDSDaemon.cc
  src/messages/MMonUsedPendingKeys.h
  src/mgr/ClusterState.cc
  src/mgr/Mgr.cc
  src/mgr/Mgr.h
  src/mon/AuthMonitor.cc
  src/mon/AuthMonitor.h
  src/mon/MonClient.cc
  src/mon/MonClient.h
  src/mon/MonCommands.h
  src/mon/Monitor.cc
  src/msg/Message.cc
  src/msg/Message.h
  src/os/bluestore/Allocator.cc
  src/os/bluestore/BlueFS.cc
  src/osd/OSD.cc
  src/osdc/Objecter.cc
  src/pybind/mgr/cephadm/inventory.py
  src/pybind/mgr/cephadm/module.py
  src/pybind/mgr/cephadm/serve.py
  src/pybind/mgr/cephadm/services/cephadmservice.py
  src/pybind/mgr/cephadm/tests/test_cephadm.py
  src/pybind/mgr/cephadm/tests/test_services.py
  src/pybind/mgr/orchestrator/module.py
  src/rgw/rgw_coroutine.cc
  src/rgw/rgw_coroutine.h
  src/rgw/rgw_sync_trace.cc
  src/rgw/rgw_sync_trace.h
  src/rgw/services/svc_sys_obj_cache.cc
  src/test/admin_socket.cc
  src/tools/cephfs_mirror/FSMirror.cc
  src/tools/cephfs_mirror/PeerReplayer.cc
  src/tools/rbd_mirror/ImageDeleter.cc
  src/tools/rbd_mirror/ImageReplayer.cc
  src/tools/rbd_mirror/Mirror.cc
  src/tools/rbd_mirror/PoolReplayer.cc
  src/tools/rbd_wnbd/wnbd_handler.cc
  src/tools/rbd_wnbd/wnbd_handler.h
Labels: documentation, core, rgw, rbd, cephfs, needs-qa, tests, common, pybind, bluestore, mgr, mon, orchestrator, cephadm

#47702 os/bluestore: fix onode ref counting.
  src/os/bluestore/BlueStore.cc
  src/os/bluestore/BlueStore.h
Labels: bug fix, core, needs-qa, tests, common, wip-yuri2-testing, bluestore

#48591 osd: fix name of WaitScrub state of SnapTrimmer
  src/osd/PrimaryLogPG.h
Labels: cleanup, core, needs-qa, wip-yuri2-testing

#50034 pacific: doc: add debugging documentation
  doc/rados/api/libcephsqlite.rst
Labels: documentation, core, needs-qa, libcephsqlite

#50035 quincy: doc: add debugging documentation
  doc/rados/api/libcephsqlite.rst
Labels: documentation, core, needs-qa, libcephsqlite

#48703 osd: Restore defaults of mClock built-in profiles upon modification
  qa/standalone/misc/mclock-config.sh
  src/osd/OSD.cc
  src/osd/scheduler/OpScheduler.cc
  src/osd/scheduler/OpScheduler.h
  src/osd/scheduler/mClockScheduler.cc
  src/osd/scheduler/mClockScheduler.h
  src/test/osd/TestMClockScheduler.cc
Labels: core, needs-qa, tests, wip-yuri2-testing

#50023 vstart: correct condition for checking crimson
  src/vstart.sh
Labels: crimson

#49132 blk/kernel: Add O_EXCL for block devices
  src/blk/kernel/KernelDevice.cc
Labels: core, needs-qa, wip-yuri2-testing

#49915 pacific: qa/tasks/cephadm.py: fix pulling cephadm from git.ceph.com
  qa/tasks/cephadm.py
Labels: tests, cephadm, wip-adk2-testing

#50063 doc/cephfs: add note about CephFS extended attributes and getfattr
  doc/cephfs/quota.rst
Labels: documentation, cephfs

#50068 quincy: doc/cephfs: add note about CephFS extended attributes and getfattr
  doc/cephfs/quota.rst
Labels: documentation, cephfs

#50043 quincy: mgr/dashboard: Replace vonage-status-panel with native grafana stat panel
  monitoring/ceph-mixin/dashboards_out/ceph-cluster.json
Labels: dashboard, monitoring

#50044 pacific: mgr/dashboard: Replace vonage-status-panel with native grafana stat panel
  monitoring/ceph-mixin/dashboards_out/ceph-cluster.json
Labels: dashboard, monitoring

#49763 vstart: check mgr status after starting mgr
  src/vstart.sh
Labels: documentation, core, rgw, rbd, cephfs, tests, common, build/ops, pybind, bluestore, mgr, mon, ceph-volume, dashboard, crimson, orchestrator, monitoring, cephadm, telemetry, rook, nfs, api-change

#50066 doc/rgw: refine "Configuring Secondary Zones"
  doc/radosgw/multisite.rst
Labels: documentation

#50075 pacific: doc/rgw: refine "Configuring Secondary Zones"
  doc/radosgw/multisite.rst
Labels: documentation

#50074 quincy: doc/rgw: refine "Configuring Secondary Zones"
  doc/radosgw/multisite.rst
Labels: documentation

#50069 pacific: doc/cephfs: add note about CephFS extended attributes and getfattr
  doc/cephfs/quota.rst
Labels: documentation, cephfs

#50077 doc/rgw: refine "Failover and Disaster Recovery"
  doc/radosgw/multisite.rst
Labels: documentation

#50078 quincy: doc/rgw: refine "Failover and Disaster Recovery"
  doc/radosgw/multisite.rst
Labels: documentation

#50079 pacific: doc/rgw: refine "Failover and Disaster Recovery"
  doc/radosgw/multisite.rst
Labels: documentation

#50071 qa/suites/rbd: fix sporadic "rx-only direction" test failures
  qa/workunits/rbd/rbd_mirror_bootstrap.sh
Labels: rbd, tests, wip-dis-testing

#50086 doc/rgw: "Migrating Single Site to Multi-Site"
  doc/radosgw/multisite.rst
Labels: documentation

#50093 quincy: doc/rgw: "Migrating Single Site to Multi-Site"
  doc/radosgw/multisite.rst
Labels: documentation

#50094 pacific: doc/rgw: "Migrating Single Site to Multi-Site"
  doc/radosgw/multisite.rst
Labels: documentation

#49555 Add per OSD crush_device_class definition
  doc/cephadm/services/osd.rst
  src/python-common/ceph/deployment/drive_group.py
  src/python-common/ceph/deployment/inventory.py
  src/python-common/ceph/deployment/translate.py
  src/python-common/ceph/tests/test_drive_group.py
Labels: documentation, pybind, ceph-volume, cephadm, wip-adk-testing

#50073 github: add rgw team to CODEOWNERS
  .github/CODEOWNERS
Labels: CI

#50018 crimson/osd/osd_operations: Remove replicated_request_pg_pipeline
  src/crimson/osd/osd_operations/client_request.cc
  src/crimson/osd/osd_operations/client_request.h
  src/crimson/osd/osd_operations/internal_client_request.cc
  src/crimson/osd/osd_operations/logmissing_request.cc
  src/crimson/osd/osd_operations/logmissing_request.h
  src/crimson/osd/osd_operations/logmissing_request_reply.cc
  src/crimson/osd/osd_operations/logmissing_request_reply.h
  src/crimson/osd/osd_operations/replicated_request.cc
  src/crimson/osd/osd_operations/replicated_request.h
  src/crimson/osd/pg.h
  src/crimson/osd/replicated_backend.cc
Labels: crimson, wip-matan-testing

#49955 crimson/osd/ops_executor: apply delta stats for pure read ops
  src/crimson/osd/ops_executer.h
Labels: crimson, wip-matan-testing

#49344 crimson/osd/object_context_loader: check on old watchers when loading obcs
  src/crimson/os/seastore/seastore.cc
  src/crimson/osd/pg.cc
  src/crimson/osd/pg.h
  src/crimson/osd/watch.cc
  src/crimson/osd/watch.h
  src/test/crimson/seastore/test_seastore.cc
Labels: tests, crimson, wip-matan-testing

#50070 crimson/osd/pg: synchronize processing of peering events and backfill
  src/crimson/osd/osd_operations/background_recovery.cc
  src/crimson/osd/osd_operations/background_recovery.h
  src/crimson/osd/osd_operations/client_request_common.cc
  src/crimson/osd/osd_operations/peering_event.cc
  src/crimson/osd/osd_operations/peering_event.h
  src/crimson/osd/pg.cc
  src/crimson/osd/pg.h
  src/crimson/osd/pg_recovery.h
  src/crimson/osd/recovery_backend.cc
Labels: crimson, wip-matan-testing

#50040 mgr/dashboard: added recovery throghput graph, improve promqls, and fixes
  src/pybind/mgr/dashboard/frontend/src/app/ceph/new-dashboard/dashboard-area-chart/dashboard-area-chart.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/new-dashboard/dashboard-time-selector/dashboard-time-selector.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/new-dashboard/dashboard/dashboard.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/new-dashboard/dashboard/dashboard.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/enum/dashboard-promqls.enum.ts
Labels: pybind, dashboard

#50076 CODEOWNERS: don't override doc-writers by core and rbd for some files
  .github/CODEOWNERS
Labels: CI

#50058 vstart.sh: set logging for client and MDS when -d is passed
  src/vstart.sh
Labels: needs-review

#49020 crimson/osd: implement pg removal
  src/crimson/os/seastore/object_data_handler.cc
  src/crimson/os/seastore/seastore.cc
  src/crimson/osd/pg.cc
  src/crimson/osd/pg.h
  src/crimson/osd/pg_map.cc
  src/crimson/osd/pg_map.h
  src/crimson/osd/shard_services.h
  src/test/crimson/seastore/test_seastore.cc
Labels: tests, crimson, wip-matan-testing

#49729 crimson/osd: make the ObjectContextRegistry per-PG
  src/crimson/osd/object_context_loader.cc
  src/crimson/osd/object_context_loader.h
  src/crimson/osd/ops_executer.cc
  src/crimson/osd/pg.cc
  src/crimson/osd/pg.h
  src/crimson/osd/recovery_backend.cc
  src/crimson/osd/shard_services.cc
  src/crimson/osd/shard_services.h
Labels: crimson, wip-matan-testing

#50051 mgr/dashboard: fix rbd mirroring daemon health status
  src/pybind/mgr/dashboard/controllers/rbd_mirroring.py
  src/pybind/mgr/dashboard/tests/test_rbd_mirroring.py
Labels: pybind, dashboard

#49801 mgr/dashboard: move service_instances logic to backend
  src/pybind/mgr/dashboard/controllers/host.py
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/hosts/hosts.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/hosts/hosts.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/hosts/hosts.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/host.service.ts
  src/pybind/mgr/dashboard/openapi.yaml
  src/pybind/mgr/dashboard/tests/__init__.py
  src/pybind/mgr/dashboard/tests/test_host.py
Labels: pybind, dashboard, api-change

#50099 rgw: rgw_token.cc error: reference to 'formatter' is ambiguous
  src/rgw/rgw_token.cc
  src/test/test_rgw_token.cc
Labels: rgw, tests

#50102 examples: move rgw examples under subdirectory
  .github/CODEOWNERS
  doc/radosgw/rgw-cache.rst
  doc/radosgw/s3-notification-compatibility.rst
  doc/radosgw/s3/python.rst
  examples/rgw/boto3/README.md
  examples/rgw/boto3/append_object.py
  examples/rgw/boto3/delete_notification.py
  examples/rgw/boto3/get_notification.py
  examples/rgw/boto3/get_usage_stats.py
  examples/rgw/boto3/list_unordered.py
  examples/rgw/boto3/notification_filters.py
  examples/rgw/boto3/service-2.sdk-extras.json
  examples/rgw/boto3/topic_attributes.py
  examples/rgw/boto3/topic_with_endpoint.py
  examples/rgw/golang/object-upload/README.md
  examples/rgw/golang/object-upload/fortuna.txt
  examples/rgw/golang/object-upload/go.mod
  examples/rgw/golang/object-upload/go.sum
  examples/rgw/golang/object-upload/object-upload.go
  examples/rgw/golang/put-bucket-notification-creation/README.md
  examples/rgw/golang/put-bucket-notification-creation/go.mod
  examples/rgw/golang/put-bucket-notification-creation/go.sum
  examples/rgw/golang/put-bucket-notification-creation/put-bucket-notification-creation.go
  examples/rgw/golang/topic-creation/README.md
  examples/rgw/golang/topic-creation/go.mod
  examples/rgw/golang/topic-creation/go.sum
  examples/rgw/golang/topic-creation/topic-creation.go
  examples/rgw/java/ceph-s3-upload/README.md
  examples/rgw/java/ceph-s3-upload/ceph-s3-upload.txt
  examples/rgw/java/ceph-s3-upload/pom.xml
  examples/rgw/java/ceph-s3-upload/src/main/java/org/example/cephs3upload/App.java
  examples/rgw/java/ceph-s3-upload/src/test/java/org/example/cephs3upload/AppTest.java
  examples/rgw/lua/config/prometheus.yml
  examples/rgw/lua/elasticsearch_adapter.lua
  examples/rgw/lua/elasticsearch_adapter.md
  examples/rgw/lua/img/prometheus.png
  examples/rgw/lua/nats_adapter.lua
  examples/rgw/lua/nats_adapter.md
  examples/rgw/lua/prometheus_adapter.lua
  examples/rgw/lua/prometheus_adapter.md
  examples/rgw/lua/storage_class.lua
  examples/rgw/lua/storage_class.md
  examples/rgw/rgw-cache/nginx-default.conf
  examples/rgw/rgw-cache/nginx-lua-file.lua
  examples/rgw/rgw-cache/nginx-noprefetch.conf
  examples/rgw/rgw-cache/nginx-slicing.conf
  examples/rgw/rgw-cache/nginx.conf
  examples/rgw/rgw_admin_curl.sh
Labels: documentation, rgw, CI

#50104 doc/ceph-volume: fix cephadm references
  doc/ceph-volume/lvm/activate.rst
Labels: documentation, ceph-volume

#50115 quincy: doc/ceph-volume: fix cephadm references
  doc/ceph-volume/lvm/activate.rst
Labels: documentation, ceph-volume

#50116 pacific: doc/ceph-volume: fix cephadm references
  doc/ceph-volume/lvm/activate.rst
Labels: documentation, ceph-volume

#47555 mon, osd: Adding read (aka workload, primary) balance score
  src/mgr/ActivePyModules.cc
  src/mgr/PyOSDMap.cc
  src/mon/MonCommands.h
  src/mon/OSDMonitor.cc
  src/osd/OSDMap.cc
  src/osd/OSDMap.h
  src/test/osd/TestOSDMap.cc
  src/tools/ceph_monstore_tool.cc
  src/tools/osdmaptool.cc
  src/vstart.sh
Labels: core, tests, performance, mgr, mon

#49420 crimson/net: refactors to encapsulate ProtocolV2 message read and write paths and event dispatching
  src/crimson/CMakeLists.txt
  src/crimson/mon/MonClient.cc
  src/crimson/net/Connection.h
  src/crimson/net/FrameAssemblerV2.cc
  src/crimson/net/FrameAssemblerV2.h
  src/crimson/net/Protocol.cc
  src/crimson/net/Protocol.h
  src/crimson/net/ProtocolV2.cc
  src/crimson/net/ProtocolV2.h
  src/crimson/net/Socket.cc
  src/crimson/net/Socket.h
  src/crimson/net/SocketConnection.cc
  src/crimson/net/SocketConnection.h
  src/crimson/net/SocketMessenger.cc
  src/crimson/net/io_handler.cc
  src/crimson/net/io_handler.h
  src/crimson/osd/heartbeat.cc
  src/test/crimson/test_messenger.cc
  src/test/crimson/test_messenger.h
  src/test/crimson/test_messenger_peer.cc
Labels: tests, build/ops, crimson

#50019 crimson/osd: fix zeroed starting timestamp of tracked ops
  src/crimson/common/operation.h
  src/crimson/osd/osd_operation.h
  src/crimson/osd/osd_operations/logmissing_request.h
  src/crimson/osd/osd_operations/logmissing_request_reply.h
  src/crimson/osd/osd_operations/replicated_request.h
  src/crimson/osd/pg_shard_manager.h
Labels: bug fix, crimson, wip-matan-testing

#50108 doc/rgw: refine "Multi-site Config Ref" (1 of x)
  doc/radosgw/multisite.rst
Labels: documentation

#50057 mgr/dashboard: adapt nfs export code to the new changes in nfs module
  src/pybind/mgr/dashboard/controllers/nfs.py
  src/pybind/mgr/dashboard/tests/test_nfs.py
  src/pybind/mgr/nfs/export.py
Labels: pybind, dashboard, nfs

#50120 doc/glossary: add "realm" to glossary
  doc/glossary.rst
  doc/radosgw/multisite.rst
Labels: documentation

#44749 osd/scrub: use separate chunk size configuration for shallow scrubs
  qa/standalone/scrub/osd-scrub-snaps.sh
  qa/standalone/scrub/scrub-helpers.sh
  src/common/options/osd.yaml.in
  src/osd/scrubber/pg_scrubber.cc
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/osd/osd-pg-scrub-modal/osd-pg-scrub-modal.options.ts
Labels: core, common, performance

#50117 quincy: doc/rgw: refine "Multi-site Config Ref" (1 of x)
  doc/radosgw/multisite.rst
Labels: documentation

#50118 pacific: doc/rgw: refine "Multi-site Config Ref" (1 of x)
  doc/radosgw/multisite.rst
Labels: documentation

#47957 quincy: mgr/dashboard: fix "can't read .ssh/known_hosts: No such file or directory
  src/pybind/mgr/dashboard/ci/cephadm/bootstrap-cluster.sh
  src/pybind/mgr/dashboard/ci/cephadm/ceph_cluster.yml
  src/pybind/mgr/dashboard/ci/cephadm/start-cluster.sh
Labels: pybind, dashboard, backport: no-conflicts

#48053 Enable running libcephfs tests on Windows
  src/client/Client.cc
  src/include/fs_types.h
  src/include/win32/fs_compat.h
  src/libcephfs.cc
  src/messages/MClientReply.h
  src/test/CMakeLists.txt
  src/test/libcephfs/CMakeLists.txt
  src/test/libcephfs/access.cc
  src/test/libcephfs/acl.cc
  src/test/libcephfs/caps.cc
  src/test/libcephfs/deleg.cc
  src/test/libcephfs/flock.cc
  src/test/libcephfs/main.cc
  src/test/libcephfs/monconfig.cc
  src/test/libcephfs/multiclient.cc
  src/test/libcephfs/newops.cc
  src/test/libcephfs/quota.cc
  src/test/libcephfs/readdir_r_cb.cc
  src/test/libcephfs/reclaim.cc
  src/test/libcephfs/recordlock.cc
  src/test/libcephfs/test.cc
  src/test/libcephfs/vxattr.cc
Labels: documentation, cephfs, tests, build/ops, wip-vshankar-testing, win32

#50084 cephadm: fix autopep8 arg parsing on newer tox versions
  src/cephadm/tox.ini
Labels: cephadm

#50062 cephadm: a few more utility function tests
  src/cephadm/tests/test_util_funcs.py
Labels: cephadm

#50017 ceph-volume: do not raise RuntimeError in util.lsblk
  src/ceph-volume/ceph_volume/util/disk.py
Labels: ceph-volume

#49881 quincy: osd: shut down the MgrClient before osd_fast_shutdown
  src/osd/OSD.cc
Labels: core, needs-qa, wip-yuri-testing

#50119 doc/rgw: s/[Zz]one [Gg]roup/zonegroup/g
  doc/radosgw/multisite.rst
Labels: documentation

#49232 quincy: mon/MonCommands: Support dump_historic_slow_ops
  src/mon/MonCommands.h
Labels: core, needs-qa, wip-yuri-testing, mon

#49281 quincy: osd: Reset mClock's OSD capacity config option for inactive device type
  src/osd/scheduler/mClockScheduler.cc
Labels: core, needs-qa, wip-yuri-testing

#49465 quincy: Revert "mon/OSDMonitor: Make the pg_num check more accurate"
  src/mon/OSDMonitor.cc
  src/mon/OSDMonitor.h
  src/osd/OSDMapMapping.h
Labels: core, needs-qa, wip-yuri-testing, mon

#49884 quincy: os/bluestore: enable 4K allocation unit for BlueFS
  src/common/options/global.yaml.in
  src/os/bluestore/BlueFS.cc
  src/os/bluestore/BlueFS.h
  src/os/bluestore/BlueStore.cc
  src/os/bluestore/bluefs_types.cc
  src/os/bluestore/bluefs_types.h
  src/test/objectstore/test_bluefs.cc
Labels: core, needs-qa, tests, common, wip-yuri-testing, bluestore, backport

#49459 quincy: qa: wait for scrub to finish
  qa/tasks/cephfs/test_scrub_checks.py
Labels: cephfs, needs-qa, tests, wip-yuri5-testing, quincy-batch-1

#49471 quincy: qa: switch to https protocol for repos' server
  qa/tasks/cephfs/xfstests_dev.py
  qa/tasks/restart.py
  qa/workunits/fs/snaps/snaptest-git-ceph.sh
  qa/workunits/suites/ffsb.sh
  qa/workunits/suites/fsx.sh
Labels: cephfs, needs-qa, tests, wip-yuri5-testing, wip-yuri8-testing, quincy-batch-1

#49473 quincy: mds: avoid ~mdsdir's scrubbing and reporting damage health status
  qa/tasks/cephfs/test_scrub.py
  src/mds/CInode.cc
Labels: cephfs, needs-qa, tests, wip-yuri5-testing, quincy-batch-1

#49539 quincy: mds: do not acquire xlock in xlockdone state
  src/mds/Locker.cc
Labels: bug fix, cephfs, needs-qa, wip-yuri5-testing, quincy-batch-1, backport quincy

#49633 quincy: mds: switch submit_mutex to fair mutex for MDLog
  src/mds/MDLog.h
Labels: cephfs, needs-qa, wip-yuri5-testing, quincy-batch-1

#49672 quincy: mds: md_log_replay thread blocks waiting to be woken up
  src/mds/MDLog.cc
  src/osdc/Journaler.cc
  src/osdc/Journaler.h
Labels: cephfs, needs-qa, wip-yuri5-testing, quincy-batch-1

#49673 quincy: mds: account for snapshot items when deciding to split or merge a directory
  qa/tasks/cephfs/test_fragment.py
  src/mds/CDir.cc
  src/mds/CDir.h
Labels: cephfs, needs-qa, tests, wip-yuri5-testing, quincy-batch-1

#50138 doc/rgw: refine "Realms" section
  doc/radosgw/multisite.rst
Labels: documentation

#50137 pacific: doc/rgw: s/[Zz]one [Gg]roup/zonegroup/g
  doc/radosgw/multisite.rst
Labels: documentation

#50136 quincy: doc/rgw: s/[Zz]one [Gg]roup/zonegroup/g
  doc/radosgw/multisite.rst
Labels: documentation

#50140 pacific: doc/rgw: refine "Realms" section
  doc/radosgw/multisite.rst
Labels: documentation

#50111 crimson/osd: fix FTBFS due to smart-ptr-to-bool conversion in fmt::ptr
  src/crimson/net/ProtocolV2.cc
Labels: crimson

#50114 mgr/dashboard: ignore the rules 400 error in dashboard kcli e2e
  src/pybind/mgr/dashboard/frontend/cypress/support/index.ts
Labels: pybind, dashboard

#49869 pacific: ceph-volume: fix a bug in lsblk_all()
  src/ceph-volume/ceph_volume/util/disk.py
Labels: ceph-volume, wip-guits-testing-4

#50109 mgr/dashboard: Landing page v3
  src/pybind/mgr/dashboard/controllers/cluster.py
  src/pybind/mgr/dashboard/controllers/prometheus.py
  src/pybind/mgr/dashboard/frontend/src/app/app-routing.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/ceph.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/dashboard/dashboard.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/dashboard/dashboard/dashboard.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/dashboard/dashboard/dashboard.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/new-dashboard/card-row/card-row.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/new-dashboard/card-row/card-row.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/ceph/new-dashboard/card-row/card-row.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/new-dashboard/card-row/card-row.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/new-dashboard/card/card.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/new-dashboard/card/card.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/ceph/new-dashboard/card/card.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/new-dashboard/card/card.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/new-dashboard/dashboard-area-chart/dashboard-area-chart.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/new-dashboard/dashboard-area-chart/dashboard-area-chart.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/ceph/new-dashboard/dashboard-area-chart/dashboard-area-chart.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/new-dashboard/dashboard-area-chart/dashboard-area-chart.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/new-dashboard/dashboard-pie/dashboard-pie.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/new-dashboard/dashboard-pie/dashboard-pie.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/ceph/new-dashboard/dashboard-pie/dashboard-pie.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/new-dashboard/dashboard-pie/dashboard-pie.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/new-dashboard/dashboard-time-selector/dashboard-time-selector.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/new-dashboard/dashboard-time-selector/dashboard-time-selector.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/ceph/new-dashboard/dashboard-time-selector/dashboard-time-selector.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/new-dashboard/dashboard-time-selector/dashboard-time-selector.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/new-dashboard/dashboard.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/new-dashboard/dashboard/dashboard.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/new-dashboard/dashboard/dashboard.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/ceph/new-dashboard/dashboard/dashboard.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/new-dashboard/dashboard/dashboard.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/new-dashboard/pg-summary.pipe.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/new-dashboard/pg-summary.pipe.ts
  src/pybind/mgr/dashboard/frontend/src/app/core/layouts/workbench-layout/workbench-layout.component.html
  src/pybind/mgr/dashboard/frontend/src/app/core/layouts/workbench-layout/workbench-layout.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/cluster.service.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/prometheus.service.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/enum/dashboard-promqls.enum.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/enum/health-icon.enum.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/enum/icons.enum.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/models/cd-details.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/models/prometheus-alerts.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/pipes/health-icon.pipe.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/pipes/health-icon.pipe.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/pipes/mds-summary.pipe.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/pipes/mds-summary.pipe.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/pipes/mgr-summary.pipe.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/pipes/mgr-summary.pipe.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/pipes/osd-summary.pipe.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/pipes/osd-summary.pipe.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/pipes/pipes.module.ts
  src/pybind/mgr/dashboard/frontend/src/styles/defaults/_bootstrap-defaults.scss
  src/pybind/mgr/dashboard/openapi.yaml
  src/pybind/mgr/dashboard/services/cluster.py
Labels: pybind, dashboard, api-change

#49504 quincy: mgr/dashboard: add tooltip mirroring pools table
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/mirroring/mirroring.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/mirroring/pool-list/pool-list.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/mirroring/pool-list/pool-list.component.ts
Labels: pybind, dashboard, backport: no-conflicts

#49503 pacific: mgr/dashboard: add tooltip mirroring pools table
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/mirroring/mirroring.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/mirroring/pool-list/pool-list.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/mirroring/pool-list/pool-list.component.ts
Labels: dashboard, backport: no-conflicts

#49670 quincy: mds: fix scan_stray_dir not reset next.frag on each run of stray inode
  src/mds/MDCache.cc
Labels: cephfs, needs-qa, wip-yuri5-testing, quincy-batch-1

#49323 quincy: osd: Randomize osd bench buffer data before submitting to objectstore
  src/osd/OSD.cc
Labels: core, needs-qa, wip-yuri-testing

#49868 quincy: ceph-volume: fix a bug in lsblk_all()
  src/ceph-volume/ceph_volume/util/disk.py
Labels: ceph-volume, wip-guits-testing-2

#49858 quincy: qa/tasks/cephadm.py: fix pulling cephadm from git.ceph.com
  qa/tasks/cephadm.py
Labels: tests, cephadm, wip-adk3-testing

#48804 pacific: ceph-crash: drop privleges to run as "ceph" user, rather than root (CVE-2022-3650)
  qa/workunits/rados/test_crash.sh
  src/ceph-crash.in
Labels: core, needs-qa, tests, wip-yuri4-testing

#48846 pacific: mon: bail from handle_command() if _generate_command_map() fails
  src/mon/Monitor.cc
Labels: bug fix, core, needs-qa, mon, wip-yuri4-testing

#49233 pacific: mon/MonCommands: Support dump_historic_slow_ops
  src/mon/MonCommands.h
Labels: core, needs-qa, mon, wip-yuri4-testing

#49709 rgw: fix multipart upload object leaks due to re-upload
  src/cls/rgw/cls_rgw.cc
  src/cls/rgw/cls_rgw_client.cc
  src/cls/rgw/cls_rgw_client.h
  src/cls/rgw/cls_rgw_const.h
  src/cls/rgw/cls_rgw_ops.cc
  src/cls/rgw/cls_rgw_ops.h
  src/rgw/driver/rados/rgw_putobj_processor.cc
  src/rgw/driver/rados/rgw_sal_rados.cc
  src/rgw/driver/rados/rgw_sal_rados.h
  src/rgw/rgw_basic_types.h
  src/rgw/rgw_multi.cc
Labels: rgw, needs-qa, wip-cbodley-testing

#50134 quincy: doc/glossary: add "realm" to glossary
  doc/glossary.rst
  doc/radosgw/multisite.rst
Labels: documentation

#50135 pacific: doc/glossary: add "realm" to glossary
  doc/glossary.rst
  doc/radosgw/multisite.rst
Labels: documentation

#47330 pacific: mgr/dashboard: added pattern validaton for form input
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-user-form/rgw-user-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-user-form/rgw-user-form.component.ts
Labels: pybind, dashboard, backport: no-conflicts

#49961 qa: Added latency to results table in test_rbd_wnbd.py
  qa/workunits/windows/test_rbd_wnbd.py
Labels: tests, win32

#49864 quincy: mgr/cephadm: fix check for if devices have changed
  src/pybind/mgr/cephadm/inventory.py
  src/pybind/mgr/cephadm/tests/test_cephadm.py
  src/pybind/mgr/dashboard/tests/test_host.py
  src/python-common/ceph/deployment/inventory.py
  src/python-common/ceph/tests/test_inventory.py
Labels: pybind, dashboard, cephadm, wip-adk3-testing

#49859 quincy: mgr/cephadm: fix handling of mgr upgrades with 3 or more mgrs
  src/pybind/mgr/cephadm/upgrade.py
Labels: pybind, cephadm, wip-adk3-testing

#49850 quincy: mgr/cephadm: fix removing offline hosts with ingress daemons
  src/pybind/mgr/cephadm/module.py
Labels: pybind, cephadm, wip-adk3-testing

#49847 quincy: mgr/cephadm: call iscsi post_remove from serve loop
  src/pybind/mgr/cephadm/module.py
  src/pybind/mgr/cephadm/serve.py
Labels: pybind, cephadm, wip-adk3-testing

#49771 quincy: ceph-exporter: cephadm changes
  src/cephadm/cephadm
  src/pybind/mgr/cephadm/agent.py
  src/pybind/mgr/cephadm/module.py
  src/pybind/mgr/cephadm/services/cephadmservice.py
  src/pybind/mgr/cephadm/services/monitoring.py
  src/pybind/mgr/cephadm/templates/services/prometheus/prometheus.yml.j2
  src/pybind/mgr/cephadm/tests/test_agent.py
  src/pybind/mgr/cephadm/tests/test_services.py
  src/pybind/mgr/cephadm/utils.py
  src/pybind/mgr/orchestrator/_interface.py
  src/pybind/mgr/orchestrator/module.py
  src/python-common/ceph/deployment/service_spec.py
Labels: pybind, orchestrator, monitoring, cephadm, wip-adk3-testing

#48531 quincy: mgr/nfs: add sectype option
  doc/mgr/nfs.rst
  src/pybind/mgr/nfs/export.py
  src/pybind/mgr/nfs/ganesha_conf.py
  src/pybind/mgr/nfs/module.py
  src/pybind/mgr/nfs/tests/test_nfs.py
Labels: documentation, needs-qa, pybind, mgr, nfs, wip-adk3-testing

#48242 quincy: python-common: Add 'KB' to supported suffixes in SizeMatcher
  src/python-common/ceph/deployment/drive_selection/matchers.py
  src/python-common/ceph/tests/test_disk_selector.py
Labels: needs-qa, common, pybind, ceph-volume, cephadm, wip-adk3-testing

#48208 quincy: cephadm: consider stdout to get container version
  src/cephadm/cephadm
Labels: cephadm, wip-adk3-testing

#49929 pacific: mgr/nfs: add sectype option
  doc/mgr/nfs.rst
  src/pybind/mgr/nfs/export.py
  src/pybind/mgr/nfs/export_utils.py
  src/pybind/mgr/nfs/module.py
  src/pybind/mgr/nfs/tests/test_nfs.py
Labels: documentation, pybind, mgr, nfs, wip-adk2-testing

#49922 pacific: mgr/orchestrator: fix upgrade status help message
  src/pybind/mgr/orchestrator/module.py
Labels: pybind, orchestrator, wip-adk2-testing

#49921 pacific: mgr/cephadm: fix handling of mgr upgrades with 3 or more mgrs
  src/pybind/mgr/cephadm/upgrade.py
Labels: pybind, cephadm, wip-adk2-testing

#49920 pacific: mgr/cephadm: write client files after applying services
  src/pybind/mgr/cephadm/serve.py
  src/pybind/mgr/cephadm/tests/test_cephadm.py
Labels: pybind, cephadm, wip-adk2-testing

#49917 pacific: mgr/cephadm: add ingress support for ssl rgw service
  doc/cephadm/services/rgw.rst
  src/pybind/mgr/cephadm/services/ingress.py
  src/pybind/mgr/cephadm/templates/services/ingress/haproxy.cfg.j2
  src/pybind/mgr/cephadm/tests/test_services.py
Labels: documentation, pybind, cephadm, wip-adk2-testing

#49310 pacific: mgr/cephadm: iscsi username and password defaults to admin
  src/pybind/mgr/dashboard/services/tcmu_service.py
  src/python-common/ceph/deployment/service_spec.py
  src/python-common/ceph/tests/test_service_spec.py
Labels: pybind, dashboard, cephadm, wip-adk2-testing

#49927 pacific: cephadm: don't overwrite cluster logrotate file
  src/cephadm/cephadm
Labels: cephadm, wip-adk2-testing

#48107 quincy: client: stop the remount_finisher thread in the Client::unmount()
  src/client/Client.cc
Labels: cephfs, needs-qa, wip-yuri8-testing, quincy-batch-1
