Repository ceph/ceph, pull requests merged in 2023-11, with the labels that each got.

#54210 add --progress flag to git submodule update commands
  README.md
  do_cmake.sh
  doc/dev/corpus.rst
  doc/install/clone-source.rst
  make-dist
  qa/workunits/rados/test_envlibrados_for_rocksdb.sh
Labels: documentation, core, tests, build/ops, improvements

#54262 Update default nvmeof gw version to v0.0.5
  src/cephadm/cephadmlib/constants.py
  src/pybind/mgr/cephadm/module.py
Labels: pybind, cephadm, wip-adk-testing

#54281 doc/cephadm: edit troubleshooting.rst (1 of x)
  doc/cephadm/troubleshooting.rst
Labels: documentation, cephadm

#47730 os/bluestore: assert on improper release in AvlAllocator
  src/os/bluestore/AvlAllocator.cc
  src/os/bluestore/BlueStore.cc
  src/os/bluestore/HybridAllocator.cc
Labels: core, needs-qa, bluestore, TESTED, ready-to-merge

#54251 mgr/rbd_support: fix recursive locking on CreateSnapshotRequests lock
  src/pybind/mgr/rbd_support/mirror_snapshot_schedule.py
  src/pybind/mgr/rbd_support/perf.py
  src/pybind/mgr/rbd_support/trash_purge_schedule.py
Labels: bug-fix, rbd, pybind, wip-dis-testing

#53535 qa/suites/rbd: add test to check rbd_support module recovery
  qa/suites/rbd/cli/workloads/rbd_support_module_recovery.yaml
  qa/workunits/rbd/rbd_support_module_recovery.sh
Labels: rbd, tests, wip-dis-testing

#54040 crimson/osd/pg: do_osd_ops_execute refactor
  src/crimson/osd/osd_operations/internal_client_request.cc
  src/crimson/osd/pg.cc
  src/crimson/osd/pg.h
Labels: crimson, needs-crimson-qa

#54283 reef: doc/cephadm: edit troubleshooting.rst (1 of x)
  doc/cephadm/troubleshooting.rst
Labels: documentation, cephadm

#54284 quincy: doc/cephadm: edit troubleshooting.rst (1 of x)
  doc/cephadm/troubleshooting.rst
Labels: documentation, cephadm

#54141 cephadm: add more deployment test assertions
  src/cephadm/tests/test_deploy.py
Labels: cephadm, skip-teuthology

#53346 cmake: BuildFIO.cmake should not introduce -std=gnu++17
  cmake/modules/BuildFIO.cmake
Labels: bug-fix, needs-qa, build/ops, wip-yuri4-testing

#52171 tool/ceph-dedup-tool: improve the progress report
  src/tools/ceph_dedup_tool.cc
Labels: core, needs-qa

#50081 qa/*/test_envlibrados_for_rocksdb.sh: subscribe repo
  qa/workunits/rados/test_envlibrados_for_rocksdb.sh
Labels: core, needs-qa, tests, wip-yuri4-testing

#52545 osd/OSD: fix trim_maps() - possible leak on `skip_maps`
  doc/dev/osd_internals/past_intervals.rst
  qa/suites/rados/thrash/thrashers/mapgap.yaml
  src/crimson/osd/osd.cc
  src/crimson/osd/shard_services.cc
  src/mon/OSDMonitor.cc
  src/osd/OSD.cc
  src/osd/OSD.h
  src/osd/osd_types.cc
  src/osd/osd_types.h
  src/tools/ceph_objectstore_tool.cc
  src/tools/rebuild_mondb.cc
Labels: documentation, core, needs-qa, mon, wip-yuri4-testing, crimson

#52261 tool/ceph-dedup-tool: perform dedup on snapshotted object during sample dedup
  qa/workunits/rados/test_dedup_tool.sh
  src/tools/ceph_dedup_tool.cc
Labels: core, needs-qa, tests

#53843 osd/scrub: reserve replicas in OSD order, one by one
  src/common/options/osd.yaml.in
  src/osd/CMakeLists.txt
  src/osd/OSD.cc
  src/osd/OSD.h
  src/osd/PG.cc
  src/osd/PG.h
  src/osd/PrimaryLogPG.cc
  src/osd/scheduler/OpSchedulerItem.cc
  src/osd/scheduler/OpSchedulerItem.h
  src/osd/scrubber/osd_scrub.cc
  src/osd/scrubber/osd_scrub.h
  src/osd/scrubber/osd_scrub_sched.cc
  src/osd/scrubber/osd_scrub_sched.h
  src/osd/scrubber/pg_scrubber.cc
  src/osd/scrubber/pg_scrubber.h
  src/osd/scrubber/scrub_machine.cc
  src/osd/scrubber/scrub_machine.h
  src/osd/scrubber/scrub_machine_lstnr.h
  src/osd/scrubber/scrub_reservations.cc
  src/osd/scrubber/scrub_reservations.h
  src/osd/scrubber_common.h
Labels: core, common, build/ops, TESTED

#49486 pybind/rados: fix missed changes for PEP484 style type annotations
  src/pybind/rados/rados.pyx
  src/test/pybind/test_rados.py
Labels: bug-fix, core, needs-qa, tests, pybind, TESTED, ready-to-merge

#53828 rgw/multisite: fix sync_error_trim command
  src/rgw/rgw_admin.cc
Labels: rgw, needs-qa

#53430 pacific: osd/scrub: Fix scrub starts messages spamming the cluster log
  src/osd/scrub_machine.cc
Labels: core, needs-qa, wip-yuri5-testing

#53984 pacific: mon/ConfigMonitor: Show localized name in "config dump --format json" output
  PendingReleaseNotes
  src/mon/ConfigMap.cc
  src/mon/ConfigMap.h
  src/mon/ConfigMonitor.cc
Labels: documentation, core, needs-qa, mon, wip-yuri5-testing

#54299 rgw: fix cloud-sync multi-tenancy scenario
  src/rgw/driver/rados/rgw_sync_module_aws.cc
  src/rgw/rgw_bucket_types.h
Labels: rgw

#54289 reef: mgr/rbd_support: fix recursive locking on CreateSnapshotRequests lock
  src/pybind/mgr/rbd_support/mirror_snapshot_schedule.py
  src/pybind/mgr/rbd_support/perf.py
  src/pybind/mgr/rbd_support/trash_purge_schedule.py
Labels: rbd, needs-qa, pybind, wip-yuri6-testing

#54291 reef: qa/suites/rbd: add test to check rbd_support module recovery
  qa/suites/rbd/cli/workloads/rbd_support_module_recovery.yaml
  qa/workunits/rbd/rbd_support_module_recovery.sh
Labels: rbd, needs-qa, tests, wip-yuri6-testing

#53636 mds: do not simplify fragset
  src/mds/ScrubStack.cc
Labels: cephfs, needs-qa, wip-pdonnell-testing

#53883 mon: fix mds metadata lost in one case.
  src/mon/MDSMonitor.cc
Labels: core, cephfs, needs-qa, mon, wip-pdonnell-testing, wip-rishabh-testing

#47121 mds: ensure next replay is queued on req drop
  src/mds/MDCache.cc
  src/mds/MDSRank.cc
  src/mds/Mutation.h
  src/mds/Server.cc
Labels: cephfs, needs-qa, wip-pdonnell-testing

#54309 rgwfile: fix lock_guard decl
  src/rgw/rgw_file.cc
Labels: bug-fix, rgw, ready-to-merge

#54303 doc/cephadm: edit troubleshooting.rst (2 of x)
  doc/cephadm/troubleshooting.rst
Labels: documentation, cephadm

#54048 mgr/dashboard: get object bucket policies for a bucket
  src/pybind/mgr/dashboard/controllers/rgw.py
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-bucket-details/rgw-bucket-details.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-bucket-details/rgw-bucket-details.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-bucket-details/rgw-bucket-details.component.ts
  src/pybind/mgr/dashboard/services/rgw_client.py
Labels: tests, pybind, dashboard, api-change

#54322 doc/cephadm/services: remove excess rendered indentation in osd.rst
  doc/cephadm/services/osd.rst
Labels: documentation, cephadm

#53132 osd/SnapMapper:maintain the prefix_itr between calls to SnapMapper::get_next_objects_to_trim()
  qa/suites/rados/singleton-nomsgr/all/ceph-snapmapper.yaml
  qa/tasks/ceph.conf.template
  src/common/options/osd.yaml.in
  src/osd/SnapMapper.cc
  src/osd/SnapMapper.h
  src/test/CMakeLists.txt
  src/test/test_snap_mapper.cc
Labels: core, tests, common, build/ops, performance, TESTED

#54036 crimson/os/seastore: add unittests for transaction manager's clone/remap/read_pin and fix bugs
  src/crimson/os/seastore/btree/btree_range_pin.cc
  src/crimson/os/seastore/btree/btree_range_pin.h
  src/crimson/os/seastore/btree/fixed_kv_btree.h
  src/crimson/os/seastore/btree/fixed_kv_node.h
  src/crimson/os/seastore/cached_extent.cc
  src/crimson/os/seastore/cached_extent.h
  src/crimson/os/seastore/collection_manager/flat_collection_manager.cc
  src/crimson/os/seastore/lba_manager.h
  src/crimson/os/seastore/lba_manager/btree/btree_lba_manager.cc
  src/crimson/os/seastore/lba_manager/btree/btree_lba_manager.h
  src/crimson/os/seastore/object_data_handler.cc
  src/crimson/os/seastore/omap_manager/btree/btree_omap_manager.cc
  src/crimson/os/seastore/omap_manager/btree/omap_btree_node_impl.cc
  src/crimson/os/seastore/onode_manager/staged-fltree/node_extent_manager/seastore.h
  src/crimson/os/seastore/transaction_manager.cc
  src/crimson/os/seastore/transaction_manager.h
  src/test/crimson/seastore/test_transaction_manager.cc
Labels: tests, crimson

#53126 cephfs-shell: getxattr fail while the xattr's length > 256
  src/tools/cephfs/shell/cephfs-shell
Labels: cephfs, needs-review, wip-rishabh-testing

#53611 mds: Include more information in print statement in MDSRank.cc
  src/mds/MDSRank.cc
Labels: cephfs, wip-rishabh-testing, open-source-day-2023

#50615 mds: respawn standby-replay if read_pos is <= expire_pos
  src/mds/MDSRank.cc
Labels: cephfs, needs-review, wip-pdonnell-testing, ready-to-merge

#48508 qa/workunits/rbd: merge journal and snapshot test scripts
  qa/suites/rbd/mirror-thrash/workloads/rbd-mirror-journal-workunit.yaml
  qa/suites/rbd/mirror/workloads/rbd-mirror-snapshot-workunit-exclusive-lock.yaml
  qa/suites/rbd/mirror/workloads/rbd-mirror-snapshot-workunit-fast-diff.yaml
  qa/suites/rbd/mirror/workloads/rbd-mirror-snapshot-workunit-journaling.yaml
  qa/suites/rbd/mirror/workloads/rbd-mirror-snapshot-workunit-minimum.yaml
  qa/suites/rbd/mirror/workloads/rbd-mirror-workunit-config-key.yaml
  qa/suites/rbd/mirror/workloads/rbd-mirror-workunit-min-compat-client-octopus.yaml
  qa/suites/rbd/mirror/workloads/rbd-mirror-workunit-policy-none.yaml
  qa/suites/rbd/mirror/workloads/rbd-mirror-workunit-policy-simple.yaml
  qa/workunits/rbd/rbd_mirror.sh
  qa/workunits/rbd/rbd_mirror_helpers.sh
  qa/workunits/rbd/rbd_mirror_snapshot.sh
Labels: rbd, tests, wip-dis-testing

#53129 qa/cephfs: update dependencies for xfstests-dev
  qa/tasks/cephfs/xfstests_dev.py
Labels: cephfs, tests, needs-review

#54274 doc: Update dynamicresharding.rst
  doc/radosgw/dynamicresharding.rst
Labels: documentation

#53987 cephadm: add option to install systemd unit only
  src/cephadm/cephadm.py
Labels: cephadm, wip-adk-testing

#54081 cephadm: move some podman specific logic to Podman methods
  src/cephadm/cephadm.py
  src/cephadm/cephadmlib/container_engines.py
  src/cephadm/cephadmlib/context_getters.py
  src/cephadm/tests/fixtures.py
Labels: cephadm, wip-adk-testing

#53747 Adding support to automatically discover storage classes on Rook cluster
  src/pybind/mgr/rook/module.py
  src/pybind/mgr/rook/rook_cluster.py
Labels: pybind, orchestrator, rook

#54324 quincy: doc/cephadm/services: remove excess rendered indentation in osd.rst
  doc/cephadm/services/osd.rst
Labels: documentation, cephadm

#54331 Fixing example of BlueStore resharding.
  doc/rados/configuration/bluestore-config-ref.rst
Labels: documentation, core

#54323 reef: doc/cephadm/services: remove excess rendered indentation in osd.rst
  doc/cephadm/services/osd.rst
Labels: documentation, cephadm

#54320 reef: doc/cephadm: edit troubleshooting.rst (2 of x)
  doc/cephadm/troubleshooting.rst
Labels: documentation, cephadm

#54321 quincy: doc/cephadm: edit troubleshooting.rst (2 of x)
  doc/cephadm/troubleshooting.rst
Labels: documentation, cephadm

#54330 quincy: doc: Update dynamicresharding.rst
  doc/radosgw/dynamicresharding.rst
Labels: documentation

#54329 reef: doc: Update dynamicresharding.rst
  doc/radosgw/dynamicresharding.rst
Labels: documentation

#54077 mgr/cephadm: update timestamp on repeat daemon/service events
  src/pybind/mgr/cephadm/inventory.py
  src/pybind/mgr/cephadm/tests/test_cephadm.py
Labels: pybind, cephadm, wip-adk-testing

#53103 pacific: libcephsqlite: fill 0s in unread portion of buffer
  src/libcephsqlite.cc
Labels: core, needs-qa, TESTED, ready-to-merge, libcephsqlite

#54276 reef: osd: fix logic in check_pg_upmaps
  src/osd/OSDMap.cc
Labels: core, needs-qa, wip-yuri6-testing

#54254 reef: rbd-nbd: fix stuck with disable request
  qa/workunits/rbd/rbd-nbd.sh
  src/test/librbd/fsx.cc
  src/tools/rbd_nbd/rbd-nbd.cc
Labels: rbd, needs-qa, tests, wip-yuri3-testing

#51784 osd: make _set_cache_sizes ratio aware of cache_kv_onode_ratio
  src/os/bluestore/BlueStore.cc
Labels: bug-fix, core, bluestore, TESTED, ready-to-merge

#54339 doc/rados/configuration/bluestore-config-ref: Fix lowcase typo
  doc/rados/configuration/bluestore-config-ref.rst
Labels: documentation, core

#54056 mgr/rook: adding e2e testing for rook orchestrator
  src/pybind/mgr/rook/ci/Dockerfile
  src/pybind/mgr/rook/ci/run-rook-e2e-tests.sh
  src/pybind/mgr/rook/ci/scripts/bootstrap-rook-cluster.sh
  src/pybind/mgr/rook/ci/tests/features/rook.feature
  src/pybind/mgr/rook/ci/tests/features/steps/implementation.py
  src/pybind/mgr/rook/ci/tests/features/steps/utils.py
  src/pybind/mgr/tox.ini
Labels: pybind, mgr, orchestrator, rook, wip-adk4-testing

#53516 reef: rgw/amqp: remove possible race conditions with the amqp connections
  doc/radosgw/notifications.rst
  src/rgw/driver/rados/rgw_pubsub_push.cc
  src/rgw/rgw_amqp.cc
  src/rgw/rgw_amqp.h
  src/test/rgw/test_rgw_amqp.cc
Labels: documentation, rgw, needs-qa, tests, wip-yuri3-testing

#54124 reef: rgw: don't dereference nullopt in DeleteMultiObj
  src/rgw/rgw_op.cc
Labels: rgw, needs-qa, wip-yuri3-testing

#54191 reef: rgw: add versioning info to radosgw-admin bucket stats output
  src/rgw/driver/rados/rgw_bucket.cc
Labels: rgw, needs-qa, wip-yuri3-testing

#54267 reef: osd: fix use-after-move in build_incremental_map_msg()
  src/osd/OSD.cc
Labels: bug-fix, core, TESTED, ready-to-merge, backport

#54161 reef: rgw/s3: ListObjectsV2 returns correct object owners
  src/rgw/rgw_rest_s3.cc
Labels: rgw, needs-qa, TESTED, ready-to-merge

#54104 cephadm: move extract_uid_gid function
  src/cephadm/cephadm.py
  src/cephadm/cephadmlib/container_types.py
  src/cephadm/tests/test_ingress.py
Labels: cephadm, wip-adk-testing

#53970 pacific: osd/OSD: introduce reset_purged_snaps_last
  qa/tasks/ceph_manager.py
  src/osd/OSD.cc
Labels: core, needs-qa, tests

#54346 quincy: doc/rados: format Q&A list in t-mon.rst
  doc/rados/troubleshooting/troubleshooting-mon.rst
Labels: documentation, core

#54345 reef: doc/rados: format Q&A list in t-mon.rst
  doc/rados/troubleshooting/troubleshooting-mon.rst
Labels: documentation, core

#54344 doc/rados: edit t-mon.rst text
  doc/rados/troubleshooting/troubleshooting-mon.rst
Labels: documentation, core

#54349 reef: doc/rados: edit t-mon.rst text
  doc/rados/troubleshooting/troubleshooting-mon.rst
Labels: documentation, core

#54350 quincy: doc/rados: edit t-mon.rst text
  doc/rados/troubleshooting/troubleshooting-mon.rst
Labels: documentation, core

#54325 crimson/os/seastore/transaction_manager: add the missing UNIT_TESTS_BUILT guard
  src/crimson/os/seastore/transaction_manager.cc
Labels: crimson

#54336 mgr/dashboard: update fedora link for dashboard-cephadm-e2e test
  src/pybind/mgr/dashboard/ci/cephadm/start-cluster.sh
Labels: pybind, dashboard

#54286 doc: Update mount-using-fuse.rst
  doc/cephfs/mount-using-fuse.rst
Labels: documentation, cephfs

#54347 rgw: adding y2k38 annotations to supress coverity issues
  src/rgw/driver/rados/rgw_trim_datalog.cc
  src/rgw/driver/rados/rgw_trim_mdlog.cc
  src/rgw/rgw_admin.cc
  src/test/cls_lock/test_cls_lock.cc
  src/test/cls_log/test_cls_log.cc
Labels: rgw, tests, GSoC / Outreachy

#54351 crimson/os/seastore: cleanup, be explicit about stable and stable_written
  src/crimson/os/seastore/btree/fixed_kv_btree.h
  src/crimson/os/seastore/btree/fixed_kv_node.h
  src/crimson/os/seastore/cached_extent.h
  src/test/crimson/seastore/test_transaction_manager.cc
Labels: tests, crimson

#54222 librbd: additional logs for deep-copy debugging
  src/librbd/deep_copy/ImageCopyRequest.cc
  src/librbd/deep_copy/MetadataCopyRequest.cc
  src/librbd/deep_copy/ObjectCopyRequest.cc
  src/librbd/deep_copy/SetHeadRequest.cc
  src/librbd/deep_copy/SnapshotCopyRequest.cc
  src/librbd/deep_copy/SnapshotCreateRequest.cc
Labels: rbd

#54354 quincy: doc/cephfs: edit mount-using-fuse.rst
  doc/cephfs/mount-using-fuse.rst
Labels: documentation, cephfs

#54352 doc/rados: format Q&A list in tshooting-mon.rst
  doc/rados/troubleshooting/troubleshooting-mon.rst
Labels: documentation, core

#54307 mgr/dashboard: fix secure_monitoring_stack check
  src/pybind/mgr/dashboard/controllers/prometheus.py
  src/pybind/mgr/dashboard/tests/test_prometheus.py
Labels: pybind, dashboard

#50680 rgwlc: dispatch S3 notifications on transition and mpu abort
  doc/radosgw/s3-notification-compatibility.rst
  src/rgw/rgw_lc.cc
  src/test/rgw/bucket_notification/test_bn.py
Labels: bug-fix, documentation, rgw, needs-qa, tests

#54213 rgw-check-policy: remove check for nonempty tenant
  src/rgw/rgw_polparser.cc
Labels: bug-fix, rgw, needs-qa, wip-cbodley-testing

#54174 rgw: fetch_remote_obj() uses uncompressed size for encrypted objects
  src/rgw/driver/rados/rgw_rados.cc
Labels: rgw, needs-qa, wip-cbodley-testing

#54050 RadosGW: RGW Swift info not providing max_deletes_per_request in bulk_delete
  src/rgw/rgw_rest_swift.cc
  src/rgw/rgw_rest_swift.h
Labels: rgw, needs-qa, wip-cbodley-testing

#53997 rgw: add subuser to user policy condition check
  src/rgw/rgw_iam_policy_keywords.gperf
  src/rgw/rgw_iam_policy_keywords.h
  src/rgw/rgw_op.cc
Labels: rgw, needs-qa, wip-cbodley-testing

#53842 RGW/STS: honor configured limits when updating max session duration
  src/common/options/rgw.yaml.in
  src/rgw/rgw_admin.cc
  src/rgw/rgw_rest_role.cc
Labels: rgw, needs-qa, common, wip-cbodley-testing

#52492 Add templating, via jinja2, to cephadm
  src/cephadm/build.py
  src/cephadm/cephadm.py
  src/cephadm/cephadmlib/templates/agent.service.j2
  src/cephadm/cephadmlib/templates/ceph.service.j2
  src/cephadm/cephadmlib/templating.py
  src/cephadm/tests/build/__init__.py
  src/cephadm/tests/build/test_cephadm_build.py
  src/cephadm/tests/fixtures.py
  src/cephadm/tests/test_cephadm.py
  src/cephadm/tests/test_unit_file.py
  src/cephadm/tox.ini
  src/cephadm/zipapp-reqs.txt
Labels: cephadm, wip-phlogistonjohn-testing

#53737 mgr/cephadm: support for removing host entry from crush map during host removal
  doc/cephadm/host-management.rst
  qa/suites/orch/cephadm/workunits/task/test_host_drain.yaml
  src/pybind/mgr/cephadm/module.py
  src/pybind/mgr/orchestrator/_interface.py
  src/pybind/mgr/orchestrator/module.py
  src/pybind/mgr/test_orchestrator/module.py
Labels: documentation, pybind, orchestrator, cephadm, wip-adk-testing

#53928 cephadm: remove --cleanup-on-failure flag
  src/cephadm/cephadm.py
Labels: cephadm, wip-adk-testing

#54126 cephadm: remove get_daemon_args function
  src/cephadm/cephadm.py
  src/cephadm/tests/test_cephadm.py
  src/cephadm/tests/test_custom_container.py
Labels: cephadm, wip-adk-testing

#54285 mgr/cephadm: discovery service (port 8765) fails on ipv6 only clusters
  src/pybind/mgr/cephadm/ssl_cert_utils.py
  src/pybind/mgr/mgr_util.py
Labels: pybind, mgr, cephadm, wip-adk-testing

#54147 RGW: perf counters for persistent topic stats
  src/rgw/driver/rados/rgw_notify.cc
  src/rgw/rgw_perf_counters.cc
  src/rgw/rgw_perf_counters.h
Labels: documentation, rgw, needs-qa, tests, common, build/ops

#54264 rgw/rgw_period : remove realm name from period config
  src/rgw/driver/rados/rgw_rest_realm.cc
  src/rgw/driver/rados/rgw_trim_mdlog.cc
  src/rgw/driver/rados/rgw_zone.cc
  src/rgw/driver/rados/rgw_zone.h
  src/rgw/rgw_period.cc
  src/rgw/rgw_period_pusher.cc
  src/rgw/rgw_realm.cc
  src/rgw/services/svc_zone.cc
Labels: rgw, ready-to-merge

#54134 cephadm: move more container engine specific logic
  src/cephadm/cephadm.py
  src/cephadm/cephadmlib/container_engine_base.py
  src/cephadm/cephadmlib/container_engines.py
  src/cephadm/tests/fixtures.py
Labels: cephadm, wip-adk-testing

#53568 common: resolve config proxy deadlock using refcounted pointers
  qa/workunits/mon/config.sh
  src/common/ceph_mutex.h
  src/common/config_obs_mgr.h
  src/common/config_proxy.h
  src/crimson/common/config_proxy.h
Labels: core, tests, common, needs-review, mon, wip-pdonnell-testing, crimson

#54367 quincy: doc/rados: format Q&A list in tshooting-mon.rst
  doc/rados/troubleshooting/troubleshooting-mon.rst
Labels: documentation, core

#54366 reef:doc/rados: format Q&A list in tshooting-mon.rst
  doc/rados/troubleshooting/troubleshooting-mon.rst
Labels: documentation, core

#54368 reef: doc/radosgw: Improve dynamicresharding.rst
  doc/radosgw/dynamicresharding.rst
Labels: documentation

#54369 quincy: doc/radosgw: Improve dynamicresharding.rst
  doc/radosgw/dynamicresharding.rst
Labels: documentation

#54365 common: admin socket catches exception by reference
  src/common/admin_socket.cc
Labels: cleanup

#54197 rgw: add layout generation info to "bucket stats"
  src/rgw/driver/rados/rgw_bucket.cc
Labels: feature, rgw, needs-qa, needs-review, wip-eric-testing-1

#53537 crimson/osd: decouple cross-core pg submission out of the OrderedExclusivePhase
  src/crimson/common/operation.h
  src/crimson/osd/osd_connection_priv.h
  src/crimson/osd/osd_operation.h
  src/crimson/osd/osd_operation_external_tracking.h
  src/crimson/osd/osd_operations/background_recovery.cc
  src/crimson/osd/osd_operations/client_request.cc
  src/crimson/osd/osd_operations/client_request.h
  src/crimson/osd/osd_operations/internal_client_request.cc
  src/crimson/osd/osd_operations/logmissing_request.cc
  src/crimson/osd/osd_operations/logmissing_request.h
  src/crimson/osd/osd_operations/logmissing_request_reply.cc
  src/crimson/osd/osd_operations/logmissing_request_reply.h
  src/crimson/osd/osd_operations/peering_event.cc
  src/crimson/osd/osd_operations/peering_event.h
  src/crimson/osd/osd_operations/pg_advance_map.cc
  src/crimson/osd/osd_operations/recovery_subrequest.cc
  src/crimson/osd/osd_operations/recovery_subrequest.h
  src/crimson/osd/osd_operations/replicated_request.cc
  src/crimson/osd/osd_operations/replicated_request.h
  src/crimson/osd/osd_operations/snaptrim_event.cc
  src/crimson/osd/osd_operations/snaptrim_event.h
  src/crimson/osd/pg_shard_manager.h
  src/crimson/osd/shard_services.h
Labels: performance, crimson, TESTED

#54257 rgw: handle instances w/ leading hyphens correctly
  src/rgw/rgw-restore-bucket-index
Labels: bug-fix, rgw, needs-qa, wip-eric-testing-1

#54196 rgw: log errors during "bi list"
  src/rgw/rgw_admin.cc
Labels: feature, rgw, needs-qa, wip-eric-testing-1

#53577 quincy: doc/cephfs: note regarding start time time zone
  doc/cephfs/snap-schedule.rst
Labels: documentation, cephfs, needs-qa

#54371 reef: rgw: fetch_remote_obj() uses uncompressed size for encrypted objects
  src/rgw/driver/rados/rgw_rados.cc
Labels: rgw, needs-qa, wip-cbodley-testing

#54384 doc/cephadm: fix typo in set ssh key command
  doc/cephadm/troubleshooting.rst
Labels: documentation, cephadm

#54101 mgr/dashboard: dashboard area chart unit test
  src/pybind/mgr/dashboard/frontend/src/app/ceph/dashboard-v3/dashboard-area-chart/dashboard-area-chart.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/dashboard-v3/dashboard-area-chart/dashboard-area-chart.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/services/formatter.service.ts
Labels: pybind, dashboard

#54376 reef: qa/smoke,orch,perf-basic: add POOL_APP_NOT_ENABLED to ignorelist
  qa/suites/orch/cephadm/orchestrator_cli/orchestrator_cli.yaml
  qa/suites/perf-basic/objectstore/bluestore.yaml
  qa/suites/smoke/basic/tasks/test/cfuse_workunit_suites_blogbench.yaml
  qa/suites/smoke/basic/tasks/test/cfuse_workunit_suites_fsstress.yaml
  qa/suites/smoke/basic/tasks/test/cfuse_workunit_suites_iozone.yaml
  qa/suites/smoke/basic/tasks/test/cfuse_workunit_suites_pjd.yaml
  qa/suites/smoke/basic/tasks/test/kclient_workunit_direct_io.yaml
  qa/suites/smoke/basic/tasks/test/kclient_workunit_suites_dbench.yaml
  qa/suites/smoke/basic/tasks/test/kclient_workunit_suites_fsstress.yaml
  qa/suites/smoke/basic/tasks/test/kclient_workunit_suites_pjd.yaml
  qa/suites/smoke/basic/tasks/test/libcephfs_interface_tests.yaml
  qa/suites/smoke/basic/tasks/test/rados_cls_all.yaml
  qa/suites/smoke/basic/tasks/test/rbd_cli_import_export.yaml
  qa/suites/smoke/basic/tasks/test/rbd_python_api_tests.yaml
  qa/suites/smoke/basic/tasks/test/rbd_workunit_suites_iozone.yaml
  qa/suites/smoke/basic/tasks/test/rgw_ec_s3tests.yaml
  qa/suites/smoke/basic/tasks/test/rgw_s3tests.yaml
Labels: cephadm

#54391 mgr/dashboard: fix rgw multi-site import form helper
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-multisite-import/rgw-multisite-import.component.html
Labels: pybind, dashboard

#54388 reef: doc/cephadm: fix typo in set ssh key command
  doc/cephadm/troubleshooting.rst
Labels: documentation, cephadm

#54389 quincy: doc/cephadm: fix typo in set ssh key command
  doc/cephadm/troubleshooting.rst
Labels: documentation, cephadm

#54364 github: adding command for rook e2e jenkins job
  .github/pull_request_template.md
Labels: CI

#54380 reef: qa: add POOL_APP_NOT_ENABLED to ignorelist for cephfs tests
  qa/cephfs/begin/1-ceph.yaml
  qa/cephfs/overrides/ignorelist_health.yaml
Labels: needs-qa

#53899 cephfs,mon: fs rename must require FS to be offline and refuse_client_session to be set
  qa/tasks/cephfs/test_admin.py
  qa/tasks/cephfs/test_volumes.py
  src/mon/FSCommands.cc
Labels: core, cephfs, tests, pybind, needs-review, mon, wip-rishabh-testing

#53887 client: two fix for checking mds auth access in client side
  src/client/Client.cc
  src/client/Client.h
  src/client/Dentry.h
Labels: cephfs, needs-qa, wip-rishabh-testing

#53912 client: avoid getvxattr op for ceph.mirror* attrs
  qa/tasks/cephfs/test_mirroring.py
  src/client/Client.cc
Labels: bug-fix, cephfs, tests, wip-rishabh-testing

#54149 MClientRequest: properly handle ceph_mds_request_head_legacy for ext_num_retry, ext_num_fwd, owner_uid, owner_gid
  src/messages/MClientRequest.h
Labels: cephfs, wip-vshankar-testing, wip-rishabh-testing

#54178 mds/MDBalancer: ignore queued callbacks if MDS is not active
  src/mds/MDBalancer.cc
Labels: cephfs, wip-rishabh-testing

#54158 [cephadm](BUG): honor --skip-firewalld in section Open ports explicitly required for the daemon
  src/cephadm/cephadm.py
Labels: cephadm, wip-adk-testing

#54402 crimson/tools/store_nbd/tm_driver: use TransactionManager::remove
  src/crimson/tools/store_nbd/tm_driver.cc
Labels: crimson, seastore

#54395 reef: mgr/dashboard: fix rgw multi-site import form helper
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-multisite-import/rgw-multisite-import.component.html
Labels: pybind, dashboard

#54413 doc/rados: edit t-mon "common issues" (1 of x)
  doc/rados/troubleshooting/troubleshooting-mon.rst
Labels: documentation, core

#54418 reef: doc/rados: edit t-mon "common issues" (1 of x)
  doc/rados/troubleshooting/troubleshooting-mon.rst
Labels: documentation, core

#54419 quincy: doc/rados: edit t-mon "common issues" (1 of x)
  doc/rados/troubleshooting/troubleshooting-mon.rst
Labels: documentation, core

#54417 doc/rados: edit t-mon "common issues" (2 of x)
  doc/rados/troubleshooting/troubleshooting-mon.rst
Labels: documentation, core

#54421 reef: doc/rados: edit t-mon "common issues" (2 of x)
  doc/rados/troubleshooting/troubleshooting-mon.rst
Labels: documentation, core

#54422 quincy: doc/rados: edit t-mon "common issues" (2 of x)
  doc/rados/troubleshooting/troubleshooting-mon.rst
Labels: documentation, core

#54256 pacific: rbd-nbd: fix stuck with disable request
  qa/workunits/rbd/rbd-nbd.sh
  src/test/librbd/fsx.cc
  src/tools/rbd_nbd/rbd-nbd.cc
Labels: rbd, needs-qa, tests, wip-yuri3-testing, pacific-batch-1

#54293 pacific: mgr/rbd_support: fix recursive locking on CreateSnapshotRequests lock
  src/pybind/mgr/rbd_support/mirror_snapshot_schedule.py
  src/pybind/mgr/rbd_support/perf.py
  src/pybind/mgr/rbd_support/trash_purge_schedule.py
Labels: rbd, needs-qa, pybind, wip-yuri3-testing, pacific-batch-1

#54294 pacific: qa/suites/rbd: add test to check rbd_support module recovery
  qa/suites/rbd/cli/workloads/rbd_support_module_recovery.yaml
  qa/workunits/rbd/rbd_support_module_recovery.sh
Labels: rbd, needs-qa, tests, wip-yuri3-testing, pacific-batch-1

#54412 doc/rados: edit t-shooting-mon.rst
  doc/rados/troubleshooting/troubleshooting-mon.rst
Labels: documentation, core

#54427 reef: doc/rados: edit t-shooting-mon.rst
  doc/rados/troubleshooting/troubleshooting-mon.rst
Labels: documentation, core

#54428 quincy: doc/rados: edit t-shooting-mon.rst
  doc/rados/troubleshooting/troubleshooting-mon.rst
Labels: documentation, core

#54392 ceph-volume: Revert "ceph-volume: fix raw list for lvm devices"
  src/ceph-volume/ceph_volume/devices/raw/list.py
Labels: ceph-volume

#54429 reef: ceph-volume: Revert "ceph-volume: fix raw list for lvm devices"
  src/ceph-volume/ceph_volume/devices/raw/list.py
Labels: ceph-volume

#54432 doc/rados: edit t-mon "common issues" (3 of x)
  doc/dev/mon-elections.rst
  doc/rados/troubleshooting/troubleshooting-mon.rst
Labels: documentation, core

#53169 pacific: mds/Server: mark a cap acquisition throttle event in the request
  qa/tasks/cephfs/test_client_limits.py
  src/mds/Server.cc
Labels: cephfs, needs-qa, tests, wip-vshankar-testing1

#53362 pacific: mds: replacing bootstrap session only if handle client session message
  src/mds/MDSRank.cc
Labels: cephfs, needs-qa, wip-vshankar-testing1

#53640 pacific: cephfs-mirror: do not run concurrent C_RestartMirroring context
  src/tools/cephfs_mirror/FSMirror.h
  src/tools/cephfs_mirror/InstanceWatcher.cc
  src/tools/cephfs_mirror/InstanceWatcher.h
  src/tools/cephfs_mirror/Mirror.cc
  src/tools/cephfs_mirror/Mirror.h
  src/tools/cephfs_mirror/MirrorWatcher.cc
  src/tools/cephfs_mirror/MirrorWatcher.h
Labels: cephfs, needs-qa, pacific-batch-1, wip-vshankar-testing1

#53662 pacific: ceph: allow xlock state to be LOCK_PREXLOCK when putting it
  src/mds/Locker.cc
  src/mds/SimpleLock.h
Labels: cephfs, needs-qa, wip-vshankar-testing1

#54268 pacific: osd: fix use-after-move in build_incremental_map_msg()
  src/osd/OSD.cc
Labels: bug-fix, core, needs-qa, wip-yuri3-testing, backport

#54387 cephadm: isolate mounts code in methods
  src/cephadm/cephadm.py
Labels: cephadm, wip-adk-testing

#54430 quincy: ceph-volume: Revert "ceph-volume: fix raw list for lvm devices"
  src/ceph-volume/ceph_volume/devices/raw/list.py
Labels: ceph-volume

#54439 quincy: doc/rados: edit t-mon "common issues" (3 of x)
  doc/dev/mon-elections.rst
  doc/rados/troubleshooting/troubleshooting-mon.rst
Labels: documentation, core

#54438 reef: doc/rados: edit t-mon "common issues" (3 of x)
  doc/dev/mon-elections.rst
  doc/rados/troubleshooting/troubleshooting-mon.rst
Labels: documentation, core

#54415 cls: fix unable to link with system-installed fmt
  src/cls/CMakeLists.txt
Labels: build/ops

#54440 doc/rados: edit t-mon "common issues" (4 of x)
  doc/rados/troubleshooting/troubleshooting-mon.rst
Labels: documentation, core

#54379 rgw/sal: Bucket owner as rgw_user
  src/rgw/driver/d4n/rgw_sal_d4n.cc
  src/rgw/driver/d4n/rgw_sal_d4n.h
  src/rgw/driver/posix/rgw_sal_posix.cc
  src/rgw/driver/posix/rgw_sal_posix.h
  src/rgw/driver/rados/rgw_bucket.cc
  src/rgw/driver/rados/rgw_cr_rados.h
  src/rgw/driver/rados/rgw_cr_tools.cc
  src/rgw/driver/rados/rgw_notify.cc
  src/rgw/driver/rados/rgw_object_expirer_core.cc
  src/rgw/driver/rados/rgw_rest_bucket.cc
  src/rgw/driver/rados/rgw_rest_log.cc
  src/rgw/driver/rados/rgw_sal_rados.cc
  src/rgw/driver/rados/rgw_sal_rados.h
  src/rgw/driver/rados/rgw_tools.cc
  src/rgw/driver/rados/rgw_user.cc
  src/rgw/rgw_admin.cc
  src/rgw/rgw_bucket.cc
  src/rgw/rgw_lc.cc
  src/rgw/rgw_lua_request.cc
  src/rgw/rgw_op.cc
  src/rgw/rgw_orphan.cc
  src/rgw/rgw_quota.cc
  src/rgw/rgw_rest_pubsub.cc
  src/rgw/rgw_rest_ratelimit.cc
  src/rgw/rgw_rest_s3.cc
  src/rgw/rgw_rest_swift.cc
  src/rgw/rgw_rest_usage.cc
  src/rgw/rgw_sal.h
  src/rgw/rgw_sal_dbstore.cc
  src/rgw/rgw_sal_dbstore.h
  src/rgw/rgw_sal_filter.cc
  src/rgw/rgw_sal_filter.h
  src/rgw/rgw_sal_store.h
  src/rgw/rgw_swift_auth.cc
  src/rgw/rgw_user.cc
  src/test/rgw/test_d4n_filter.cc
  src/test/rgw/test_rgw_lua.cc
Labels: rgw, tests

#54443 reef: doc/rados: edit t-mon "common issues" (4 of x)
  doc/rados/troubleshooting/troubleshooting-mon.rst
Labels: documentation, core

#50419 crimson/os/seastore: introduce delta-based overwrite
  src/common/options/crimson.yaml.in
  src/crimson/os/seastore/backref/btree_backref_manager.h
  src/crimson/os/seastore/cached_extent.h
  src/crimson/os/seastore/lba_manager/btree/btree_lba_manager.h
  src/crimson/os/seastore/object_data_handler.cc
  src/crimson/os/seastore/object_data_handler.h
  src/crimson/os/seastore/transaction_manager.h
  src/test/crimson/seastore/test_object_data_handler.cc
Labels: tests, common, crimson

#54444 quincy: doc/rados: edit t-mon "common issues" (4 of x)
  doc/rados/troubleshooting/troubleshooting-mon.rst
Labels: documentation, core

#54448 rgw: make subclass dependencies explicit
  src/rgw/CMakeLists.txt
  src/rgw/driver/dbstore/common/dbstore.h
  src/rgw/driver/dbstore/config/sqlite.cc
  src/rgw/rgw_basic_types.h
  src/rgw/rgw_multi.h
  src/rgw/rgw_sal.h
  src/rgw/services/svc_bucket_sync.h
  src/rgw/services/svc_mdlog.cc
  src/rgw/services/svc_meta_be.h
  src/rgw/services/svc_user_rados.h
Labels: cleanup, rgw, build/ops, needs-review

#54450 test/rgw: clean up unused include dirs
  src/test/rgw/CMakeLists.txt
Labels: cleanup, rgw, tests, build/ops
