Repository ceph/ceph, pull requests merged in 2023-06, with the labels that each got.

#51844 mgr/dashboard: fix test_dashboard_e2e.sh failure
  qa/workunits/cephadm/test_dashboard_e2e.sh
Labels: tests, dashboard, cephadm

#51865 reef: mgr/dashboard: fix test_dashboard_e2e.sh failure
  qa/workunits/cephadm/test_dashboard_e2e.sh
Labels: tests, dashboard, cephadm

#51857 doc: make instructions to get an updated cephadm common
  doc/cephadm/install.rst
Labels: documentation, cephadm

#51870 reef: doc: make instructions to get an updated cephadm common
  doc/cephadm/install.rst
Labels: documentation, cephadm

#51176 rgw/file: advance rgw_file interface version
  src/include/rados/rgw_file.h
Labels: bug fix, ready-to-merge

#51851 CMakeLists.txt: increase verbosity for selected allocator
  CMakeLists.txt
Labels: build/ops

#51758 quincy: mgr/rbd_support: recover from "double blocklisting"
  src/pybind/mgr/rbd_support/mirror_snapshot_schedule.py
  src/pybind/mgr/rbd_support/module.py
  src/pybind/mgr/rbd_support/perf.py
  src/pybind/mgr/rbd_support/task.py
  src/pybind/mgr/rbd_support/trash_purge_schedule.py
Labels: core, rbd, needs-qa, pybind, wip-yuri5-testing, quincy-batch-1

#51779 quincy: tools/ceph-dencoder: Fix incorrect type define for trash_watcher
  src/tools/ceph-dencoder/rbd_types.h
Labels: bug fix, rbd, needs-qa, wip-yuri5-testing, quincy-batch-1

#51882 pacific: doc/cephadm: Revert "doc/cephadm: update about disabling logging to journald for quincy"
  doc/cephadm/operations.rst
Labels: documentation, cephadm

#51872 doc: update the cephadm download instructions
  doc/cephadm/install.rst
Labels: documentation, cephadm

#51874 reef: doc: add instructions for compiling cephadm
  doc/dev/cephadm/developing-cephadm.rst
Labels: documentation, cephadm

#51821 common/options: Update RocksDB CF Tuning
  src/common/options/global.yaml.in
Labels: common, performance, wip-yuri-testing, bluestore, needs-reef-backport

#51886 reef: doc: update the cephadm download instructions
  doc/cephadm/install.rst
Labels: documentation, cephadm

#51896 doc/rados: fix typos in pg-repair.rst
  doc/rados/operations/pg-repair.rst
Labels: documentation, core

#50576 script: ceph-backport.sh respects --force when PR is not merged in main
  src/script/ceph-backport.sh
Labels: script

#51885 doc/rados: edit log-and-debug.rst (1 of x)
  doc/rados/troubleshooting/log-and-debug.rst
Labels: documentation, core

#51903 quincy: doc/rados: edit log-and-debug.rst (1 of x)
  doc/rados/troubleshooting/log-and-debug.rst
Labels: documentation, core

#51902 reef: doc/rados: edit log-and-debug.rst (1 of x)
  doc/rados/troubleshooting/log-and-debug.rst
Labels: documentation, core

#51895 doc/rados: edit troubleshooting-mon.rst (1 of x)
  doc/rados/troubleshooting/troubleshooting-mon.rst
Labels: documentation, core

#51897 reef: doc/rados: fix typos in pg-repair.rst
  doc/rados/operations/pg-repair.rst
Labels: documentation, core

#51898 quincy: doc/rados: fix typos in pg-repair.rst
  doc/rados/operations/pg-repair.rst
Labels: documentation, core

#51907 quincy: doc/rados: edit log-and-debug.rst (2 of x)
  doc/rados/troubleshooting/log-and-debug.rst
  doc/rados/troubleshooting/troubleshooting-mon.rst
Labels: documentation, core

#51906 reef: doc/rados: edit log-and-debug.rst (2 of x)
  doc/rados/troubleshooting/log-and-debug.rst
  doc/rados/troubleshooting/troubleshooting-mon.rst
Labels: documentation, core

#51908 doc/rados: edit pools.rst (1 of x)
  doc/rados/operations/pools.rst
Labels: documentation, core

#51912 reef: doc/rados: edit pools.rst (1 of x)
  doc/rados/operations/pools.rst
Labels: documentation, core

#51913 quincy: doc/rados: edit pools.rst (1 of x)
  doc/rados/operations/pools.rst
Labels: documentation, core

#51813 reef: exporter: promethize counter names
  src/exporter/DaemonMetricCollector.cc
  src/exporter/util.cc
  src/exporter/util.h
  src/pybind/mgr/prometheus/module.py
  src/test/CMakeLists.txt
  src/test/exporter/CMakeLists.txt
  src/test/exporter/test_exporter.cc
Labels: tests, build/ops, pybind, dashboard, monitoring, backport: no-conflicts

#51915 doc/rados: pools.rst: "decreaesed"
  doc/rados/operations/pools.rst
Labels: documentation, core

#51777 quincy: os/bluestore: Add bluefs write op count metrics.
  src/os/bluestore/BlueFS.cc
  src/os/bluestore/BlueFS.h
Labels: core, needs-qa, bluestore, wip-yuri5-testing

#51804 quincy: test: correct osd pool default size
  qa/suites/rados/singleton/all/thrash-backfill-full.yaml
  qa/suites/rados/singleton/all/thrash-eio.yaml
Labels: core, needs-qa, wip-yuri5-testing

#51807 quincy: OSD: during test start, not all osds started due to consum map hang
  src/osd/OSD.cc
  src/osd/OSD.h
Labels: core, needs-qa, wip-yuri5-testing

#50651 Cleanup the LevelDB residue
  README.md
  doc/install/install-storage-cluster.rst
  doc/man/8/ceph-kvstore-tool.rst
  doc/man/8/ceph.rst
  doc/rados/configuration/mon-config-ref.rst
  doc/rados/operations/health-checks.rst
  doc/rados/troubleshooting/log-and-debug.rst
  doc/rados/troubleshooting/troubleshooting-mon.rst
  doc/radosgw/layout.rst
  install-deps.sh
  qa/suites/perf-basic/settings/optimized.yaml
  qa/suites/rados/perf/settings/optimized.yaml
  qa/tasks/rebuild_mondb.py
  qa/valgrind.supp
  src/ceph_mon.cc
  src/ceph_osd.cc
  src/common/options/global.yaml.in
  src/common/options/mon.yaml.in
  src/common/subsys.h
  src/mon/MonCommands.h
  src/mon/MonitorDBStore.h
  src/mon/PaxosService.h
  src/mon/mon_types.h
  src/test/ObjectMap/test_keyvaluedb_atomicity.cc
  src/test/ObjectMap/test_keyvaluedb_iterators.cc
  src/test/ObjectMap/test_object_map.cc
  src/test/cli/ceph-kvstore-tool/help.t
  src/test/daemon_config.cc
  src/test/libcephfs_config.cc
  src/test/librados/librados_config.cc
  src/tools/ceph-dencoder/osd_types.h
  src/tools/ceph_kvstore_tool.cc
  src/tools/kvstore_tool.cc
Labels: cleanup, documentation, core, needs-qa, tests, common, build/ops, mon, wip-yuri11-testing

#51424 mon/MonClient: before complete auth with error, reopen session
  src/mon/MonClient.cc
Labels: core, needs-qa, mon, wip-yuri11-testing

#51668 osd/TrackedOp: Fix TrackedOp event order
  src/common/TrackedOp.h
  src/osd/OpRequest.cc
Labels: bug fix, core, needs-qa, common, wip-yuri11-testing

#51729 test: futex fail if more notification sent after destroy
  src/test/libradosstriper/aio.cc
Labels: core, needs-qa, tests, wip-yuri11-testing

#51294 mgr/dashboard: add 'omit_usage' query param to dashboard api 'get rbd' endpoint
  src/pybind/mgr/dashboard/controllers/rbd.py
  src/pybind/mgr/dashboard/openapi.yaml
  src/pybind/mgr/dashboard/services/rbd.py
Labels: pybind, dashboard, api-change

#50341 rbd: add support for new device type of ubbd
  CMakeLists.txt
  cmake/modules/BuildUBBD.cmake
  doc/man/8/rbd.rst
  src/include/config-h.in.cmake
  src/test/cli/rbd/help.t
  src/tools/rbd/CMakeLists.txt
  src/tools/rbd/action/Device.cc
  src/tools/rbd/action/Ubbd.cc
Labels: documentation, rbd, tests, build/ops, wip-dis-testing

#51822 reef: crimson/osd: add crush_location_hook feature to crimson
  src/crimson/CMakeLists.txt
  src/crimson/crush/CrushLocation.cc
  src/crimson/crush/CrushLocation.h
  src/crimson/osd/osd.cc
  src/crush/CrushLocation.cc
  src/crush/CrushLocation.h
Labels: core, needs-qa, build/ops, wip-yuri4-testing, crimson

#51920 quincy: doc/rados: pools.rst: "decreaesed"
  doc/rados/operations/pools.rst
Labels: documentation, core

#51932 doc/rados/operations: fix typo in balancer.rst
  doc/rados/operations/balancer.rst
Labels: documentation, core

#51914 doc/rados: edit pools.rst (2 of x)
  doc/rados/operations/pools.rst
Labels: documentation, core

#51938 quincy: doc/rados/operations: fix typo in balancer.rst
  doc/rados/operations/balancer.rst
Labels: documentation, core

#51269 quincy: rgw: under fips & openssl 3.x allow md5 usage in select rgw ops
  src/common/ceph_crypto.cc
  src/common/ceph_crypto.h
Labels: bug fix, rgw, needs-qa, common, TESTED, ready-to-merge, security, backport: no-conflicts

#51925 qa/suites/rados: whitelist POOL_APP_NOT_ENABLED for cls tests
  qa/suites/rados/basic/tasks/rados_cls_all.yaml
Labels: core, wip-lflores-testing

#51927 qa/suites/rados: remove rook coverage from the rados suite
  qa/suites/rados/rook
Labels: core, rook

#51671 quincy: mgr/prometheus: fix pool_objects_repaired and daemon_health_metrics format
  src/pybind/mgr/prometheus/module.py
Labels: pybind, monitoring

#50054 mgr/dashboard: RBD cache invalidation
  src/pybind/mgr/dashboard/controllers/rbd.py
  src/pybind/mgr/dashboard/plugins/ttl_cache.py
  src/pybind/mgr/dashboard/services/rbd.py
  src/pybind/mgr/dashboard/tests/test_cache.py
Labels: pybind, dashboard

#51930 doc/rados: edit pools.rst (3 of x)
  doc/rados/operations/pools.rst
Labels: documentation, core

#51939 reef: doc/rados: edit pools.rst (2 of x)
  doc/rados/operations/pools.rst
Labels: documentation, core

#51956 reef: doc/rados: edit pools.rst (3 of x)
  doc/rados/operations/pools.rst
Labels: documentation, core

#51957 quincy: doc/rados: edit pools.rst (3 of x)
  doc/rados/operations/pools.rst
Labels: documentation, core

#51944 quincy: .github: Give folks 30 seconds to fill out the checklist
  .github/workflows/pr-checklist.yml
Labels: CI

#51900 reef: common/options: Update RocksDB CF Tuning
  src/common/options/global.yaml.in
Labels: needs-qa, common, wip-yuri8-testing

#51892 mon: fix timestamp formatting in cluster log
  src/mon/LogMonitor.cc
Labels: core, needs-qa, mon, wip-yuri7-testing, needs-reef-backport

#50929 reef: kv/RocksDBStore: cumulative backport for rm_range_keys and around
  src/kv/RocksDBStore.cc
  src/kv/RocksDBStore.h
Labels: core, needs-qa, performance, bluestore, wip-yuri3-testing

#51411 reef: os/bluestore: allow 'fit_to_fast' selector for single-volume osd
  src/os/bluestore/BlueStore.cc
Labels: core, needs-qa, bluestore, wip-yuri3-testing, backport reef

#51796 reef: rgw/kafka: remove potential race condition between creation and deletion of endpoint
  src/rgw/driver/rados/rgw_pubsub_push.cc
  src/rgw/rgw_kafka.cc
  src/rgw/rgw_kafka.h
Labels: rgw, needs-qa, wip-yuri3-testing, wip-yuri4-testing

#51833 reef: RGW - Use correct multipart upload mtime
  src/rgw/driver/rados/rgw_sal_rados.cc
Labels: rgw, needs-qa, wip-yuri3-testing, wip-yuri4-testing

#51841 reef: Revert "test: adjust rbd test case guards to handle new defaults"
  src/test/pybind/test_rbd.py
Labels: bug fix, rbd, needs-qa, tests, wip-yuri3-testing

#51776 reef: os/bluestore: Add bluefs write op count metrics.
  src/os/bluestore/BlueFS.cc
  src/os/bluestore/BlueFS.h
Labels: core, needs-qa, bluestore, wip-yuri4-testing

#51802 reef: test: correct osd pool default size
  qa/suites/rados/singleton/all/thrash-backfill-full.yaml
  qa/suites/rados/singleton/all/thrash-eio.yaml
Labels: core, needs-qa, wip-yuri4-testing

#51815 reef: mgr/dashboard: fix the rgw roles page
  src/pybind/mgr/dashboard/controllers/_crud.py
  src/pybind/mgr/dashboard/controllers/ceph_users.py
  src/pybind/mgr/dashboard/controllers/rgw.py
  src/pybind/mgr/dashboard/frontend/cypress/e2e/cluster/users.e2e-spec.ts
  src/pybind/mgr/dashboard/frontend/cypress/e2e/cluster/users.po.ts
  src/pybind/mgr/dashboard/frontend/cypress/e2e/rgw/roles.e2e-spec.ts
  src/pybind/mgr/dashboard/frontend/cypress/e2e/rgw/roles.po.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw.module.ts
  src/pybind/mgr/dashboard/openapi.yaml
Labels: pybind, dashboard, api-change

#51948 crimson/os/seastore/cached_extent: add prepare_commit interface
  src/crimson/os/seastore/btree/fixed_kv_node.h
  src/crimson/os/seastore/cache.cc
  src/crimson/os/seastore/cached_extent.h
Labels: crimson

#51911 qa/standalone: osd-recovery-scrub: fix slow updates and recovery concurrency
  qa/standalone/scrub/osd-recovery-scrub.sh
Labels: bug fix, core, tests

#51955 qa/workunits: fix test_dashboard_e2e.sh: no spec files found
  qa/workunits/cephadm/test_dashboard_e2e.sh
Labels: needs-qa, tests, cephadm, wip-nia-testing

#51958 doc/rados: edit pools.rst (4 of x)
  doc/rados/operations/pools.rst
Labels: documentation, core

#51967 doc: Add missing custom container_image
  doc/cephadm/services/monitoring.rst
Labels: documentation, cephadm

#51971 quincy: doc/rados: edit pools.rst (4 of x)
  doc/rados/operations/pools.rst
Labels: documentation, core

#51970 reef: doc/rados: edit pools.rst (4 of x)
  doc/rados/operations/pools.rst
Labels: documentation, core

#51940 quincy: doc/rados: edit pools.rst (2 of x)
  doc/rados/operations/pools.rst
Labels: documentation, core

#51599 reef: rgw/swift: check position of first slash in slo manifest files
  src/rgw/rgw_op.cc
Labels: rgw, needs-qa, wip-yuri11-testing

#51855 reef: librbd: avoid decrementing iterator before first element
  src/librbd/io/SimpleSchedulerObjectDispatch.cc
Labels: bug fix, rbd, needs-qa, wip-yuri11-testing

#51878 reef: osd/OSDCap: allow rbd.metadata_list method under rbd-read-only profile
  src/osd/OSDCap.cc
  src/test/osd/osdcap.cc
Labels: bug fix, core, rbd, needs-qa, tests, wip-yuri11-testing

#51862 reef: test/rgw/notifications: fix kafka consumer shutdown issue
  src/test/rgw/bucket_notification/test_bn.py
Labels: rgw, needs-qa, tests, wip-yuri11-testing

#50522 quincy: tools/cephfs-data-scan: support for multi-datapool
  doc/cephfs/disaster-recovery-experts.rst
  qa/tasks/cephfs/cephfs_test_case.py
  qa/tasks/cephfs/test_data_scan.py
  src/cls/cephfs/cls_cephfs.h
  src/cls/cephfs/cls_cephfs_client.cc
  src/cls/cephfs/cls_cephfs_client.h
  src/tools/cephfs/DataScan.cc
  src/tools/cephfs/DataScan.h
Labels: documentation, cephfs, needs-qa, tests, tools, wip-yuri6-testing

#50528 quincy: cephfs_mirror: correctly set top level dir permissions
  qa/tasks/cephfs/test_mirroring.py
  src/tools/cephfs_mirror/PeerReplayer.cc
  src/tools/cephfs_mirror/PeerReplayer.h
Labels: cephfs, needs-qa, tests, wip-yuri6-testing

#50668 quincy: backport commit 70425c7 -- client/fuse: set max_idle_threads to the correct value (critical, ceph-fuse with libfuse3 is nearly useless without it)
  src/client/fuse_ll.cc
Labels: cephfs, needs-qa, wip-yuri6-testing

#50717 quincy: cephfs-top: dump values to stdout and -d [--delay] option fix
  doc/cephfs/cephfs-top.rst
  doc/man/8/cephfs-top.rst
  qa/suites/fs/top/cluster/1-node.yaml
  qa/tasks/cephfs/test_fstop.py
  src/tools/cephfs/top/cephfs-top
Labels: documentation, cephfs, needs-qa, tests, build/ops, wip-yuri6-testing

#50724 quincy: mds: force replay sessionmap version
  src/mds/journal.cc
Labels: cephfs, needs-qa, wip-yuri6-testing, backport quincy

#50732 quincy: mds: make num_fwd and num_retry to __u32
  src/client/Client.cc
  src/client/Client.h
  src/client/MetaRequest.cc
  src/client/MetaRequest.h
  src/include/ceph_fs.h
  src/include/types.h
  src/mds/cephfs_features.cc
  src/mds/cephfs_features.h
  src/messages/MClientRequest.h
Labels: cephfs, needs-qa, wip-yuri6-testing, backport quincy

#50731 quincy: cephfs-top: navigate to home screen when no fs
  src/tools/cephfs/top/cephfs-top
Labels: bug fix, cephfs, needs-qa, wip-yuri6-testing

#51984 reef: doc/rados: edit placement-groups.rst (1 of x)
  doc/rados/operations/placement-groups.rst
Labels: documentation, core

#51985 quincy: doc/rados: edit placement-groups.rst (1 of x)
  doc/rados/operations/placement-groups.rst
Labels: documentation, core

#51715 RGW: Pass and check destination zone trace when fetching object
  src/cls/rgw/cls_rgw_types.h
  src/rgw/driver/rados/rgw_rados.cc
  src/rgw/rgw_op.cc
  src/rgw/rgw_op.h
  src/rgw/rgw_rest_conn.cc
  src/rgw/rgw_rest_conn.h
  src/rgw/rgw_rest_s3.cc
Labels: bug fix, rgw, needs-qa, wip-cbodley-testing

#49316 rgw : fix add initialization for RGWGC::process()
  src/rgw/driver/rados/rgw_gc.cc
Labels: rgw, needs-qa, wip-cbodley-testing

#51988 doc/dev: update release checklist
  doc/dev/release-checklists.rst
Labels: documentation

#51990 quincy: doc/rados: remove git tag in placement-groups in q
  doc/rados/operations/placement-groups.rst
Labels: documentation, core

#51991 doc/rados: edit placement-groups.rst (2 of x)
  doc/rados/operations/placement-groups.rst
Labels: documentation, core

#51996 reef: doc/rados: edit placement-groups.rst (2 of x)
  doc/rados/operations/placement-groups.rst
Labels: documentation, core

#51992 doc/rados: edit change-mon-elections
  doc/rados/operations/change-mon-elections.rst
Labels: documentation, core

#51997 quincy: doc/rados: edit placement-groups.rst (2 of x)
  doc/rados/operations/placement-groups.rst
Labels: documentation, core

#51998 reef: doc/rados: edit change-mon-elections
  doc/rados/operations/change-mon-elections.rst
Labels: documentation, core

#51999 quincy: doc/rados: edit change-mon-elections
  doc/rados/operations/change-mon-elections.rst
Labels: documentation, core

#51468 rgw: Add coverity annotations to ignore warnings about 32 bit time
  src/rgw/driver/rados/rgw_trim_datalog.cc
  src/rgw/driver/rados/rgw_trim_mdlog.cc
  src/rgw/rgw_admin.cc
  src/rgw/rgw_common.h
  src/rgw/rgw_torrent.cc
Labels: rgw, GSoC / Outreachy

#51366 rgw: fix tests build w/o AMQP
  src/rgw/CMakeLists.txt
Labels: rgw, build/ops

#51994 doc/rados: edit placement-groups.rst (3 of x)
  doc/rados/operations/placement-groups.rst
Labels: documentation, core

#52002 quincy: doc/rados: edit placement-groups.rst (3 of x)
  doc/rados/operations/placement-groups.rst
Labels: documentation, core

#52001 reef: doc/rados: edit placement-groups.rst (3 of x)
  doc/rados/operations/placement-groups.rst
Labels: documentation, core

#51864 rgw/kafka: make sure that destroy is called after connection is removed
  src/rgw/rgw_kafka.cc
Labels: rgw, needs-qa, wip-yuval-testing

#51972 rgw: Add coverity annotations for resource leak false positives
  src/rgw/driver/rados/cls_fifo_legacy.h
  src/rgw/driver/rados/rgw_gc.cc
  src/rgw/rgw_aio_throttle.cc
  src/rgw/rgw_d3n_cacherequest.h
  src/rgw/rgw_kafka.cc
  src/rgw/rgw_kmip_client_impl.cc
  src/rgw/rgw_period_history.cc
Labels: rgw, GSoC / Outreachy

#51834 quincy: RGW - Use correct multipart upload mtime
  src/rgw/rgw_sal_rados.cc
Labels: rgw, needs-qa, wip-yuri8-testing

#51854 quincy: librbd: avoid decrementing iterator before first element
  src/librbd/io/SimpleSchedulerObjectDispatch.cc
Labels: bug fix, rbd, needs-qa, wip-yuri8-testing

#51877 quincy: osd/OSDCap: allow rbd.metadata_list method under rbd-read-only profile
  src/osd/OSDCap.cc
  src/test/osd/osdcap.cc
Labels: bug fix, core, rbd, needs-qa, tests, wip-yuri8-testing, quincy-batch-1

#51703 xfstests_dev: install extra packages from powertools repo for xfsprogs
  qa/tasks/cephfs/xfstests_dev.py
Labels: cephfs, tests, wip-lxb-testing

#51973 qa/lsan.supp: update heap_profiler suppression and ASAN_OPTIONS
  qa/lsan.supp
Labels: ready-to-merge

#51945 crimson/osd: fix Notify life-time mismanagement in Watch::notify_ack
  src/crimson/osd/watch.cc
Labels: bug fix, crimson, needs-crimson-qa

#51953 mgr/dashboard: add popover to cluster status card
  src/pybind/mgr/dashboard/frontend/src/app/ceph/dashboard-v3/dashboard/dashboard-v3.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/dashboard-v3/dashboard/dashboard-v3.component.spec.ts
Labels: pybind, dashboard

#51966 mgr/dashboard: change deprecated grafana URL in daemon logs
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/logs/logs.component.html
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/grafana/grafana.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/grafana/grafana.component.ts
Labels: pybind, dashboard

#52018 doc/rados: edit crush-map.rst (1 of x)
  doc/rados/operations/crush-map.rst
Labels: documentation, core

#51989 RGW: Replace trace with d4n in yaml long desc
  src/common/options/rgw.yaml.in
Labels: common

#52028 doc/dev: fix "deploying dev cluster" link
  doc/dev/dev_cluster_deployment.rst
  doc/dev/developer_guide/dash-devel.rst
Labels: documentation, dashboard

#52011 RGW: Cleanup D4N unit test warning
  src/test/rgw/test_d4n_filter.cc
Labels: rgw, tests

#52009 doc/rados: add math markup to placement-groups.rst
  doc/rados/operations/placement-groups.rst
Labels: documentation, core

#52034 reef: doc/dev: fix "deploying dev cluster" link
  doc/dev/dev_cluster_deployment.rst
  doc/dev/developer_guide/dash-devel.rst
Labels: documentation, dashboard

#52014 test/cls: rename cls_refcount tests
  src/test/cls_refcount/test_cls_refcount.cc
Labels: cleanup, rgw, tests, ready-to-merge

#52037 reef: doc/rados: add math markup to placement-groups.rst
  doc/rados/operations/placement-groups.rst
Labels: documentation, core

#52038 quincy: doc/rados: add math markup to placement-groups.rst
  doc/rados/operations/placement-groups.rst
Labels: documentation, core

#52012 qa: suppress SyscallParam error during startup on jammy
  qa/valgrind.supp
Labels: tests

#52027 quincy: mgr/dashboard: add popover to cluster status card
  src/pybind/mgr/dashboard/frontend/src/app/ceph/dashboard-v3/dashboard/dashboard-v3.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/dashboard-v3/dashboard/dashboard-v3.component.spec.ts
Labels: pybind, dashboard

#52044 rgw: user correct tags for coverity annotations and add the SUPPRESS keyword
  src/rgw/driver/rados/cls_fifo_legacy.h
  src/rgw/driver/rados/rgw_gc.cc
  src/rgw/driver/rados/rgw_trim_datalog.cc
  src/rgw/driver/rados/rgw_trim_mdlog.cc
  src/rgw/rgw_admin.cc
  src/rgw/rgw_aio_throttle.cc
  src/rgw/rgw_common.h
  src/rgw/rgw_d3n_cacherequest.h
  src/rgw/rgw_kafka.cc
  src/rgw/rgw_kmip_client_impl.cc
  src/rgw/rgw_period_history.cc
  src/rgw/rgw_torrent.cc
Labels: rgw

#51952 quincy: mgr/dashboard: SSO error: AttributeError: 'str' object has no attribute 'decode'
  src/pybind/mgr/dashboard/controllers/saml2.py
Labels: pybind, dashboard

#51070 cephadm: allow ports to be opened in firewall during adoption, reconfig, redeploy
  src/cephadm/cephadm.py
  src/cephadm/tests/test_cephadm.py
Labels: cephadm, wip-adk-testing

#51832 cephadm: adding support for ipv6 when deploying ceph-exporter
  src/cephadm/cephadm.py
Labels: cephadm, wip-adk-testing

#51267 Support cephadm "binary" versioning
  qa/workunits/cephadm/test_cephadm.sh
  src/cephadm/CMakeLists.txt
  src/cephadm/build.py
  src/cephadm/cephadm.py
Labels: tests, build/ops, cephadm, wip-adk-testing

#51861 python-common/drive_group: handle fields outside of 'spec' even when 'spec' is provided
  src/python-common/ceph/deployment/drive_group.py
  src/python-common/ceph/tests/test_drive_group.py
Labels: pybind, ceph-volume, cephadm, wip-adk-testing

#51924 python-common/drive_selection: lower log level of limit policy message
  src/python-common/ceph/deployment/drive_selection/selector.py
Labels: pybind, ceph-volume, cephadm, wip-adk-testing

#51946 cephadm: add write_new function for robust file writes
  src/cephadm/cephadm.py
  src/cephadm/tests/fixtures.py
  src/cephadm/tests/test_util_funcs.py
Labels: cephadm, wip-adk-testing

#52040 doc/rados: fix list in crush-map.rst
  doc/rados/operations/crush-map.rst
Labels: documentation, core

#50862 mon/MDSMonitor: batch last_metadata update with pending
  src/mon/MDSMonitor.cc
Labels: core, cephfs, mon, wip-pdonnell-testing2

#52039 doc/rados: edit crush-map.rst (2 of x)
  doc/rados/operations/crush-map.rst
Labels: documentation, core

#52029 debian: install cephfs-mirror systemd unit files and man page
  debian/cephfs-mirror.install
Labels: cephfs, build/ops, ready-to-merge

#52058 ceph-volume: set lvm membership for mpath type devices
  src/ceph-volume/ceph_volume/util/device.py
Labels: ceph-volume

#52070 quincy: doc/rados: edit crush-map.rst (2 of x)
  doc/rados/operations/crush-map.rst
Labels: documentation, core

#52065 reef: doc/rados: fix list in crush-map.rst
  doc/rados/operations/crush-map.rst
Labels: documentation, core

#52026 reef: mgr/dashboard: add popover to cluster status card
  src/pybind/mgr/dashboard/frontend/src/app/ceph/dashboard-v3/dashboard/dashboard-v3.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/dashboard-v3/dashboard/dashboard-v3.component.spec.ts
Labels: pybind, dashboard

#50330 src/rgw/rgw_env.cc: Fix potential null pointer dereference in RGWEnv::get()
  src/rgw/rgw_auth_s3.cc
  src/rgw/rgw_common.h
  src/rgw/rgw_env.cc
  src/rgw/rgw_opa.cc
  src/rgw/rgw_rest_s3.cc
  src/rgw/rgw_rest_swift.cc
  src/rgw/rgw_swift_auth.cc
Labels: rgw, needs-qa, wip-yuval-testing, GSoC / Outreachy

#51965 rgw: Fix use after move in cls_fifo_legacy.cc
  src/rgw/driver/rados/cls_fifo_legacy.cc
Labels: rgw, needs-qa, wip-yuval-testing, GSoC / Outreachy

#51676 rgw: Do not forward functor objects in rgw_iam_policy.h
  src/rgw/rgw_iam_policy.h
Labels: rgw, needs-qa, wip-yuval-testing, GSoC / Outreachy

#51962 rgw: pass boost intrusive_ptr to DataLogBackends flat_map
  src/rgw/driver/rados/rgw_datalog.cc
Labels: rgw, needs-qa, wip-yuval-testing, GSoC / Outreachy

#51429 pacific: librbd: remove previous incomplete primary snapshot after successfully creating a new one
  src/librbd/mirror/snapshot/CreatePrimaryRequest.cc
  src/test/librbd/mirror/snapshot/test_mock_CreatePrimaryRequest.cc
Labels: bug fix, rbd, needs-qa, tests, wip-yuri6-testing, pacific-batch-1

#51778 pacific: tools/ceph-dencoder: Fix incorrect type define for trash_watcher
  src/tools/ceph-dencoder/rbd_types.h
Labels: bug fix, rbd, needs-qa, wip-yuri6-testing, pacific-batch-1

#52064 mgr/rbd_support: add user-friendly stderr message when module is not ready
  src/pybind/mgr/rbd_support/mirror_snapshot_schedule.py
  src/pybind/mgr/rbd_support/module.py
Labels: bug fix, rbd, pybind

#50985 quincy: mds: wait for unlink operation to finish
  src/mds/CInode.h
  src/mds/Server.cc
  src/mds/StrayManager.cc
Labels: cephfs, needs-qa, wip-yuri3-testing

#51354 quincy: cephfs-top: check the minimum compatible python version
  doc/cephfs/cephfs-top.rst
  src/tools/cephfs/top/CMakeLists.txt
Labels: documentation, cephfs, needs-qa, build/ops, wip-yuri3-testing

#51486 quincy: client: use deep-copy when setting permission during make_request
  src/client/MetaRequest.h
Labels: cephfs, needs-qa, wip-yuri3-testing

#51688 quincy: mds: rdlock_path_xlock_dentry supports returning auth target inode
  qa/tasks/cephfs/filesystem.py
  qa/tasks/cephfs/mount.py
  qa/tasks/cephfs/test_exports.py
  src/mds/MDCache.cc
  src/mds/MDCache.h
  src/mds/Server.cc
  src/mds/Server.h
Labels: cephfs, needs-qa, tests, wip-yuri3-testing, quincy-batch-1

#51689 quincy: mds: allow unlink from lost+found directory
  PendingReleaseNotes
  qa/tasks/cephfs/test_data_scan.py
  src/mds/CInode.h
  src/mds/Server.cc
Labels: documentation, cephfs, needs-qa, tests, wip-yuri3-testing, quincy-batch-1

#52015 reef: qa/suites/rados: remove rook coverage from the rados suite
  qa/suites/rados/rook
Labels: core, tests, wip-yuri8-testing

#51336 reef: orchestrator: fix spelling errors
  doc/dev/cephadm/developing-cephadm.rst
  qa/suites/orch/cephadm/upgrade/3-upgrade/staggered.yaml
  qa/workunits/cephadm/test_cephadm.sh
  src/cephadm/cephadm.py
  src/cephadm/containers/keepalived/README.md
  src/cephadm/tests/test_cephadm.py
  src/pybind/mgr/cephadm/Vagrantfile
  src/pybind/mgr/cephadm/configchecks.py
  src/pybind/mgr/cephadm/module.py
  src/pybind/mgr/cephadm/schedule.py
  src/pybind/mgr/cephadm/serve.py
  src/pybind/mgr/cephadm/services/cephadmservice.py
  src/pybind/mgr/cephadm/services/osd.py
  src/pybind/mgr/cephadm/tests/test_cephadm.py
  src/pybind/mgr/cephadm/tests/test_scheduling.py
  src/pybind/mgr/cephadm/utils.py
  src/pybind/mgr/cephadm/vagrant.config.example.json
  src/pybind/mgr/orchestrator/_interface.py
  src/python-common/ceph/deployment/drive_group.py
  src/python-common/ceph/deployment/drive_selection/matchers.py
  src/python-common/ceph/deployment/service_spec.py
Labels: documentation, tests, pybind, ceph-volume, orchestrator, wip-yuri8-testing, cephadm

#51800 reef: test: monitor thrasher wait until quorum
  qa/tasks/mon_thrash.py
Labels: core, needs-qa, tests, wip-yuri8-testing
