Repository ceph/ceph, pull requests merged in 2024-05, with the labels that each got.

#57102 crimson/osd/osdop_params:Unify OpsExecuter::user_modify and osd_op_params_t::user_modify
  src/crimson/osd/ops_executer.cc
  src/crimson/osd/ops_executer.h
Labels: bug-fix, crimson, wip-matan-testing, needs-crimson-qa, crimson-replicated-recovery

#56777 squid: osd/scrub: implement reservation state as a ReplicaActive flag
  src/osd/scrubber/scrub_machine.cc
  src/osd/scrubber/scrub_machine.h
Labels: bug-fix, core, ready-to-merge, backport

#56790 squid: osd/scrub: remove detection & handling of reservation timeouts from the code
  src/common/options/osd.yaml.in
  src/osd/osd_perf_counters.cc
  src/osd/osd_perf_counters.h
  src/osd/scrubber/scrub_machine.cc
  src/osd/scrubber/scrub_machine.h
Labels: bug-fix, core, common, ready-to-merge, backport

#54150 reef: ceph_mon: Fix MonitorDBStore usage
  src/ceph_mon.cc
  src/common/Finisher.cc
  src/common/Finisher.h
  src/mon/MonitorDBStore.h
Labels: core, common, mon, wip-yuri7-testing

#54357 reef: common/admin_socket: add a command to raise a signal
  doc/rados/operations/monitoring.rst
  src/common/admin_socket.cc
  src/common/admin_socket.h
  src/test/admin_socket.cc
Labels: documentation, core, tests, common, wip-yuri7-testing

#54358 reef: pybind/rados: fix missed changes for PEP484 style type annotations
  src/pybind/rados/rados.pyx
  src/test/pybind/test_rados.py
Labels: bug-fix, core, needs-qa, pybind, wip-yuri7-testing, backport

#54527 reef: qa/suites/rados/verify/validater/valgrind: increase op thread timeout
  qa/suites/rados/verify/validater/valgrind.yaml
Labels: core, needs-qa, tests, wip-yuri7-testing, backport: no-conflicts, backport reef

#54550 reef: osd: ensure async recovery does not drop a pg below min_size
  PendingReleaseNotes
  src/osd/PeeringState.cc
Labels: documentation, core, needs-qa, wip-yuri7-testing

#57183 script/ptl-tool: add switch to update existing qa ticket
  src/script/ptl-tool.py
Labels: needs-review, script

#56965 reef: mgr/dashboard: fix dashboard not visible on disabled anonymous access
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/grafana/grafana.component.ts
Labels: pybind, dashboard

#56946 squid: mgr/dashboard: Allow the user to add the access/secret key on zone edit and not on zone creation
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-multisite-zone-form/rgw-multisite-zone-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-multisite-zone-form/rgw-multisite-zone-form.component.ts
Labels: pybind, dashboard

#57151 mgr/dashboard: exclude cloned-deleted RBD snaps
  src/pybind/mgr/dashboard/services/rbd.py
Labels: pybind, dashboard

#57208 squid: doc/cephadm: add default monitor images
  doc/cephadm/services/monitoring.rst
Labels: documentation, cephadm

#55495 monitoring/ceph-mixin: Cleanup of variables, queries and tests (to fix showMultiCluster=True)
  monitoring/ceph-mixin/config.libsonnet
  monitoring/ceph-mixin/dashboards/ceph-cluster.libsonnet
  monitoring/ceph-mixin/dashboards/cephfs.libsonnet
  monitoring/ceph-mixin/dashboards/host.libsonnet
  monitoring/ceph-mixin/dashboards/multi-cluster.libsonnet
  monitoring/ceph-mixin/dashboards/osd.libsonnet
  monitoring/ceph-mixin/dashboards/pool.libsonnet
  monitoring/ceph-mixin/dashboards/rbd.libsonnet
  monitoring/ceph-mixin/dashboards/rgw-s3-analytics.libsonnet
  monitoring/ceph-mixin/dashboards/rgw.libsonnet
  monitoring/ceph-mixin/dashboards/utils.libsonnet
  monitoring/ceph-mixin/dashboards_out/.lint
  monitoring/ceph-mixin/dashboards_out/ceph-cluster-advanced.json
  monitoring/ceph-mixin/dashboards_out/cephfs-overview.json
  monitoring/ceph-mixin/dashboards_out/host-details.json
  monitoring/ceph-mixin/dashboards_out/hosts-overview.json
  monitoring/ceph-mixin/dashboards_out/multi-cluster-overview.json
  monitoring/ceph-mixin/dashboards_out/osd-device-details.json
  monitoring/ceph-mixin/dashboards_out/osds-overview.json
  monitoring/ceph-mixin/dashboards_out/pool-detail.json
  monitoring/ceph-mixin/dashboards_out/pool-overview.json
  monitoring/ceph-mixin/dashboards_out/radosgw-detail.json
  monitoring/ceph-mixin/dashboards_out/radosgw-overview.json
  monitoring/ceph-mixin/dashboards_out/radosgw-sync-overview.json
  monitoring/ceph-mixin/dashboards_out/rbd-details.json
  monitoring/ceph-mixin/dashboards_out/rbd-overview.json
  monitoring/ceph-mixin/dashboards_out/rgw-s3-analytics.json
  monitoring/ceph-mixin/tests_dashboards/__init__.py
  monitoring/ceph-mixin/tests_dashboards/features/ceph-cluster.feature
  monitoring/ceph-mixin/tests_dashboards/features/environment.py
  monitoring/ceph-mixin/tests_dashboards/features/host-details.feature
  monitoring/ceph-mixin/tests_dashboards/features/hosts_overview.feature
  monitoring/ceph-mixin/tests_dashboards/features/osd-device-details.feature
  monitoring/ceph-mixin/tests_dashboards/features/osds-overview.feature
  monitoring/ceph-mixin/tests_dashboards/features/radosgw-detail.feature
  monitoring/ceph-mixin/tests_dashboards/features/radosgw_overview.feature
  monitoring/ceph-mixin/tests_dashboards/features/self.feature
  monitoring/ceph-mixin/tests_dashboards/util.py
Labels: dashboard, monitoring

#56575 monitoring/ceph-mixin: Add cluster variable to ceph-cluster.json
  monitoring/ceph-mixin/dashboards_out/ceph-cluster.json
Labels: dashboard, monitoring

#57143 mgr/cephadm: set OSD cap for NVMEoF daemon to "profile rbd"
  src/pybind/mgr/cephadm/services/nvmeof.py
Labels: pybind, cephadm, wip-adk-testing

#57207 doc/rados: s/cepgsqlite/cephsqlite/
  doc/rados/troubleshooting/log-and-debug.rst
Labels: documentation, core

#57004 rgw/multisite-notification: retry storing bucket notification attrs for ECANCELED(ConcurrentModification) errors.
  src/rgw/rgw_op.cc
  src/rgw/rgw_op.h
  src/rgw/rgw_rest_pubsub.cc
Labels: rgw, TESTED

#57058 squid: rgw/account: add bucket_quota to RGWAccountInfo
  doc/radosgw/account.rst
  doc/radosgw/admin.rst
  doc/radosgw/config-ref.rst
  src/common/options/rgw.yaml.in
  src/rgw/rgw_account.cc
  src/rgw/rgw_account.h
  src/rgw/rgw_admin.cc
  src/rgw/rgw_common.cc
  src/rgw/rgw_common.h
  src/rgw/rgw_op.cc
  src/rgw/rgw_quota.cc
  src/rgw/rgw_quota.h
  src/test/cli/radosgw-admin/help.t
Labels: documentation, rgw, needs-qa, tests, common

#57095 squid: rgw: increase default metadata cache size for accounts
  src/common/options/rgw.yaml.in
Labels: rgw, needs-qa, common

#57246 squid: doc/rados: s/cepgsqlite/cephsqlite/
  doc/rados/troubleshooting/log-and-debug.rst
Labels: documentation, core

#57247 reef: doc/rados: s/cepgsqlite/cephsqlite/
  doc/rados/troubleshooting/log-and-debug.rst
Labels: documentation, core

#57248 quincy: doc/rados: s/cepgsqlite/cephsqlite/
  doc/rados/troubleshooting/log-and-debug.rst
Labels: documentation, core

#57055 squid: doc/rgw: add release note for changes to rgw_realm init
  PendingReleaseNotes
Labels: documentation, rgw

#56579 mgr/dashboard: Filter alerts based on cluster fsid and do not allow to connect clusters with version less than hub cluster in multi-cluster
  src/pybind/mgr/dashboard/controllers/multi_cluster.py
  src/pybind/mgr/dashboard/controllers/prometheus.py
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/multi-cluster/multi-cluster.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/prometheus/active-alert-list/active-alert-list.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/prometheus/active-alert-list/active-alert-list.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/dashboard-v3/dashboard/dashboard-v3.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/dashboard-v3/dashboard/dashboard-v3.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/prometheus.service.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/prometheus.service.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/notifications-sidebar/notifications-sidebar.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/services/prometheus-alert.service.ts
  src/pybind/mgr/dashboard/openapi.yaml
Labels: pybind, dashboard, api-change

#56964 squid: mgr/dashboard: fix dashboard not visible on disabled anonymous access
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/grafana/grafana.component.ts
Labels: pybind, dashboard

#57145 ceph.spec.in: ceph-mgr-dashboard does not require werkzeug
  ceph.spec.in
Labels: build/ops, dashboard

#56981 mds: remove the incorrect std::move for fsname and path
  src/mds/MDSAuthCaps.h
Labels: bug-fix, cephfs, wip-pdonnell-testing, wip-rishabh-testing2

#56066 mon,cephfs: require confirmation flag to bring down unhealthy MDS
  PendingReleaseNotes
  doc/cephfs/add-remove-mds.rst
  doc/cephfs/administration.rst
  qa/suites/fs/functional/tasks/admin.yaml
  qa/tasks/cephfs/filesystem.py
  qa/tasks/cephfs/test_admin.py
  src/mon/FSCommands.cc
  src/mon/FSCommands.h
  src/mon/MDSMonitor.cc
  src/mon/MDSMonitor.h
  src/mon/MonCommands.h
Labels: documentation, core, cephfs, tests, mon, wip-rishabh-testing2

#56065 mds: don't add counters in warning for standby-replay MDS
  qa/suites/fs/multifs/tasks/failover.yaml
  qa/tasks/cephfs/filesystem.py
  qa/tasks/cephfs/test_failover.py
  src/mds/Beacon.cc
Labels: cephfs, tests, wip-rishabh-testing2

#56732 mgr/snap_schedule: restore yearly spec to lowercase y
  doc/cephfs/snap-schedule.rst
  qa/tasks/cephfs/test_snap_schedules.py
  src/pybind/mgr/snap_schedule/fs/schedule.py
  src/pybind/mgr/snap_schedule/fs/schedule_client.py
Labels: documentation, cephfs, tests, pybind, wip-rishabh-testing2

#57235 qa/workunits/erasure-code: add bench data tables and graph support for additional jerasure techniques
  qa/workunits/erasure-code/bench.html
  qa/workunits/erasure-code/bench.sh
  qa/workunits/erasure-code/examples.css
  qa/workunits/erasure-code/plot.js
  qa/workunits/erasure-code/tables.js
Labels: core, tests, performance

#57232 mgr/dashboard: fix cluster filter typo in multi-cluster-overview grafana dashboard
  monitoring/ceph-mixin/dashboards/multi-cluster.libsonnet
  monitoring/ceph-mixin/dashboards_out/multi-cluster-overview.json
Labels: dashboard, monitoring

#49438 os/bluestore: set rocksdb iterator bounds for Bluestore::_collection_list()
  src/os/bluestore/BlueStore.cc
Labels: core, needs-qa, performance, bluestore, wip-yuri5-testing

#57252 doc/rados: PR#57022 unfinished business
  doc/rados/troubleshooting/troubleshooting-pg.rst
Labels: documentation, core

#57209 reef: doc/cephadm: add default monitor images
  doc/cephadm/services/monitoring.rst
Labels: documentation, cephadm

#57210 quincy: doc/cephadm: add default monitor images
  doc/cephadm/services/monitoring.rst
Labels: documentation, cephadm

#56978 rgw/rgw_lua_utils: free std::string
  src/rgw/rgw_lua_utils.h
Labels: cleanup, rgw, tests

#57236 reef: doc/cephadm: Reef default images procedure
  doc/cephadm/services/monitoring.rst
Labels: documentation, cephadm

#57225 squid: doc/cephadm: Squid default images procedure
  doc/cephadm/services/monitoring.rst
Labels: documentation, cephadm

#57239 quincy: doc/cephadm: Quincy default images procedure
  doc/cephadm/services/monitoring.rst
Labels: documentation, cephadm

#57240 pacific: doc/cephadm: Pacific default images procedure
  doc/cephadm/services/monitoring.rst
Labels: documentation, cephadm

#57264 squid: doc/rados: PR#57022 unfinished business
  doc/rados/troubleshooting/troubleshooting-pg.rst
Labels: documentation, core

#57265 reef: doc/rados: PR#57022 unfinished business
  doc/cephadm/services/monitoring.rst
  doc/rados/troubleshooting/troubleshooting-pg.rst
Labels: documentation, core, cephadm

#57266 quincy: doc/rados: PR#57022 unfinished business
  doc/cephadm/services/monitoring.rst
  doc/rados/troubleshooting/troubleshooting-pg.rst
Labels: documentation, core, cephadm

#55380 doc/foundation: Updating members for Jan 2024
  doc/foundation.rst
Labels: documentation

#57056 crimson/osd: make osd_op_params::at_version coherent with last log entry
  src/crimson/osd/ops_executer.cc
  src/crimson/osd/ops_executer.h
Labels: core, tests, crimson, TESTED, ready-to-merge, wip-matan-testing, crimson-replicated-recovery

#57261 test/objectstore/test_bluefs: fix heap-use-after-free
  src/test/objectstore/test_bluefs.cc
Labels: cleanup, tests

#57268 doc/foundation: Updating members for Jan 2024
  doc/foundation.rst
Labels: documentation

#57273 doc/mgr: edit "Resolve IP address to hostname before redirect"
  doc/mgr/dashboard.rst
Labels: documentation, mgr, dashboard

#57255 reef: mgr/dashboard: add prometheus federation config for mullti-cluster monitoring
  src/pybind/mgr/cephadm/module.py
  src/pybind/mgr/cephadm/services/monitoring.py
  src/pybind/mgr/cephadm/templates/services/prometheus/prometheus.yml.j2
  src/pybind/mgr/cephadm/tests/test_services.py
  src/pybind/mgr/orchestrator/_interface.py
  src/pybind/mgr/orchestrator/module.py
  src/python-common/ceph/deployment/service_spec.py
Labels: pybind, dashboard, orchestrator, monitoring, cephadm

#57220 squid: mgr/dashboard: exclude cloned-deleted RBD snaps
  src/pybind/mgr/dashboard/services/rbd.py
Labels: pybind, dashboard

#56948 reef: ceph-mixin: Update mixin to include alerts for the nvmeof gateway(s)
  monitoring/ceph-mixin/config.libsonnet
  monitoring/ceph-mixin/prometheus_alerts.libsonnet
  monitoring/ceph-mixin/prometheus_alerts.yml
  monitoring/ceph-mixin/tests_alerts/test_alerts.yml
  monitoring/snmp/CEPH-MIB.txt
Labels: needs-qa, dashboard, monitoring

#56947 squid: ceph-mixin: Update mixin to include alerts for the nvmeof gateway(s)
  monitoring/ceph-mixin/config.libsonnet
  monitoring/ceph-mixin/prometheus_alerts.libsonnet
  monitoring/ceph-mixin/prometheus_alerts.yml
  monitoring/ceph-mixin/tests_alerts/test_alerts.yml
  monitoring/snmp/CEPH-MIB.txt
Labels: needs-qa, dashboard, monitoring

#57082 rbd-mirror: clean up stale pool replayers and callouts better
  qa/workunits/rbd/rbd_mirror_bootstrap.sh
  qa/workunits/rbd/rbd_mirror_helpers.sh
  src/test/rbd_mirror/test_mock_PoolReplayer.cc
  src/tools/rbd_mirror/Mirror.cc
  src/tools/rbd_mirror/PoolReplayer.cc
Labels: bug-fix, rbd, tests, wip-dis-testing

#57163 test/librbd: correct expected_overlap in SnapshotCopyup
  src/test/librbd/test_internal.cc
Labels: cleanup, rbd, tests, wip-dis-testing

#57212 pybind/rbd: expose CLONE_FORMAT and FLATTEN image options
  PendingReleaseNotes
  src/pybind/rbd/c_rbd.pxd
  src/pybind/rbd/mock_rbd.pxi
  src/pybind/rbd/rbd.pyx
  src/test/pybind/test_rbd.py
Labels: feature, documentation, rbd, tests, pybind, wip-dis-testing

#57257 rgw: fix CompleteMultipart error handling regression
  src/rgw/rgw_op.cc
  src/rgw/rgw_op.h
Labels: rgw, wip-cbodley-testing

#56421 exporter: fix regex for rgw sync metrics
  src/exporter/DaemonMetricCollector.cc
  src/exporter/DaemonMetricCollector.h
  src/test/exporter/test_exporter.cc
Labels: tests, wip-athakkar-testing

#56515 os/bluestore: fix the problem that _estimate_log_size_N calculates the log size incorrectly
  src/os/bluestore/BlueFS.cc
Labels: bug-fix, core, needs-qa, bluestore, wip-yuri3-testing

#57285 squid: doc/crimson: cleanup duplicate seastore description
  doc/dev/crimson/crimson.rst
Labels: documentation, crimson, crimson backport squid

#55496 quincy: ceph-volume: Fix migration from WAL to data with no DB
  src/ceph-volume/ceph_volume/devices/lvm/migrate.py
  src/ceph-volume/ceph_volume/tests/devices/lvm/test_migrate.py
Labels: ceph-volume

#54433 CephContext: acquire _fork_watchers_lock in notify_post_fork()
  src/common/ceph_context.cc
Labels: core, cephfs, needs-qa, common, wip-pdonnell-testing, TESTED

#56943 RGW: test for exact match if the test is not persistent
  src/test/rgw/bucket_notification/test_bn.py
Labels: rgw, tests

#57226 common: mark assert-only variables as unused
  src/common/perf_counters_cache.cc
Labels: cleanup, needs-qa, common, wip-pdonnell-testing

#57165 qa: ignore variation of PG_DEGRADED health warning
  qa/cephfs/overrides/pg_health.yaml
Labels: cephfs, needs-qa, wip-pdonnell-testing

#55789 quincy: test/rgw: increase timeouts in unittest_rgw_dmclock_scheduler
  src/test/rgw/test_rgw_dmclock_scheduler.cc
Labels: rgw, needs-qa, tests, TESTED, ready-to-merge

#55718 quincy: rgw: RGWSI_SysObj_Cache::remove() invalidates after successful delete
  src/rgw/services/svc_sys_obj_cache.cc
Labels: rgw, needs-qa, TESTED, ready-to-merge

#55622 quincy: rgw/putobj: RadosWriter uses part head object for multipart parts
  src/rgw/rgw_putobj_processor.cc
  src/rgw/rgw_putobj_processor.h
Labels: rgw, needs-qa, TESTED, ready-to-merge

#57298 doc/mgr: edit "Overview" in dashboard.rst
  doc/mgr/dashboard.rst
Labels: documentation, mgr, dashboard

#57192 mds: check relevant caps for fs include root_squash
  PendingReleaseNotes
  doc/cephfs/administration.rst
  doc/cephfs/health-messages.rst
  qa/tasks/cephfs/mount.py
  qa/tasks/cephfs/test_admin.py
  src/client/Client.cc
  src/client/Client.h
  src/common/options/mds-client.yaml.in
  src/mds/Beacon.cc
  src/mds/MDSAuthCaps.h
  src/mds/Server.cc
  src/mds/SessionMap.cc
  src/mds/SessionMap.h
  src/mds/mdstypes.cc
  src/mds/mdstypes.h
  src/messages/MMDSBeacon.h
  src/mon/MDSMonitor.cc
Labels: documentation, core, cephfs, tests, common, mon, wip-pdonnell-testing

#57258 qa/rgw/d4n: run ceph_test_d4n_ tests
  qa/suites/rgw/d4n/tasks/rgw_d4ntests.yaml
  qa/workunits/rgw/test_d4n.sh
Labels: rgw, tests, TESTED, ready-to-merge

#57330 tests/rgw: fix ints returned where a string is expected
  src/test/rgw/test_rgw_iam_policy.cc
Labels: rgw, tests, ready-to-merge

#56810 common/StackStringStream: update pointer to newly allocated memory in overflow()
  src/common/StackStringStream.h
Labels: cleanup, tests, common

#55007 osd/osd_types: fix spelling of osd_op_flag_name
  src/osd/osd_types.cc
Labels: core

#57254 squid: mgr/dashboard: add prometheus federation config for multi-cluster monitoring
  src/pybind/mgr/cephadm/module.py
  src/pybind/mgr/cephadm/services/monitoring.py
  src/pybind/mgr/cephadm/templates/services/prometheus/prometheus.yml.j2
  src/pybind/mgr/cephadm/tests/test_services.py
  src/pybind/mgr/orchestrator/_interface.py
  src/pybind/mgr/orchestrator/module.py
  src/python-common/ceph/deployment/service_spec.py
Labels: pybind, dashboard, orchestrator, monitoring, cephadm

#55560 systemd: do not pass --cluster option
  systemd/ceph-fuse@.service.in
  systemd/ceph-immutable-object-cache@.service.in
  systemd/ceph-mds@.service.in
  systemd/ceph-mgr@.service.in
  systemd/ceph-mon@.service.in
  systemd/ceph-osd@.service.in
  systemd/ceph-radosgw@.service.in
  systemd/ceph-rbd-mirror@.service.in
  systemd/cephfs-mirror@.service.in
Labels: cleanup, needs-qa, build/ops

#56238 common/Journald: fix alias and mis-align
  src/common/Journald.cc
Labels: needs-qa, common, wip-kefu-testing

#57104 [squid] rgw/lc: advance head if the current entry doesn't exist
  src/rgw/rgw_lc.cc
  src/rgw/rgw_lc.h
Labels: rgw, needs-qa, wip-cbodley-testing

#57300 squid: rgw: fix CompleteMultipart error handling regression
  src/rgw/rgw_op.cc
  src/rgw/rgw_op.h
Labels: rgw, TESTED, ready-to-merge

#57006 squid: osd/PGBackend::be_scan_list: only call stat, getattrs once per object
  src/os/ObjectStore.h
  src/os/bluestore/BlueStore.cc
  src/osd/PGBackend.cc
  src/osd/osd_types.h
Labels: core, needs-qa, bluestore, wip-yuri11-testing

#57242 squid: rgw/multisite-notification: retry storing bucket notification attrs for ECANCELED(ConcurrentModification) errors.
  src/rgw/rgw_op.cc
  src/rgw/rgw_op.h
  src/rgw/rgw_rest_pubsub.cc
Labels: rgw, TESTED, ready-to-merge

#57092 squid: librbd: make group and group snapshot IDs more random
  src/librbd/Utils.cc
  src/librbd/api/Group.cc
Labels: rbd, wip-dis-testing

#57303 squid:osd/scrub: reinstate scrub reservation queuing
  src/common/options/osd.yaml.in
Labels: core, needs-qa, common, wip-lflores-testing-2

#55697 reef: osd: Report health error if OSD public address is not within subnet
  doc/rados/operations/health-checks.rst
  src/common/pick_address.cc
  src/common/pick_address.h
  src/osd/OSDMap.cc
  src/osd/OSDMap.h
Labels: documentation, core, needs-qa, common, TESTED, ready-to-merge

#56865 cmake: Intelligently set job limits for sccache
  CMakeLists.txt
  cmake/modules/LimitJobs.cmake
Labels: build/ops

#55773 exporter: handle exceptions gracefully
  src/exporter/DaemonMetricCollector.cc
  src/exporter/DaemonMetricCollector.h
Labels: tests

#57360 neorados: remove unused symlink to completion.h
  src/include/neorados/completion.h
Labels: cleanup

#57155 rgw/beast: fix crash observed in SSL stream.async_shutdown()
  src/rgw/rgw_asio_frontend.cc
Labels: bug-fix, rgw, needs-qa, wip-mkogan-testing

#57331 tests/librados: do not use '0' as a string
  src/test/librados/tier_cxx.cc
Labels: cleanup, core, tests

#57083 rgw: make incomplete multipart upload part of bucket check efficient
  src/rgw/driver/rados/rgw_bucket.cc
  src/rgw/driver/rados/rgw_bucket.h
Labels: rgw, needs-qa, wip-eric-testing-1, improvement

#57075 rgw: don't print error when ldap isn't configured
  src/rgw/rgw_appmain.cc
Labels: cleanup, rgw, needs-qa, wip-eric-testing-1

#56493 rgw/s3-notifications: use user-name/password topic attributes for SASL authentication
  doc/radosgw/notifications.rst
  src/rgw/driver/rados/rgw_pubsub_push.cc
  src/rgw/rgw_kafka.cc
  src/rgw/rgw_kafka.h
  src/rgw/rgw_rest_pubsub.cc
  src/rgw/rgw_rest_s3.cc
  src/test/rgw/bucket_notification/test_bn.py
Labels: documentation, rgw, needs-qa, tests, wip-eric-testing-1

#57277 test/mon/test_election: free ConnectionTracker if blocked
  src/test/mon/test_election.cc
Labels: cleanup, tests, mon

#57031 squid: qa: fix krbd_msgr_segments and krbd_rxbounce failing on 8.stream
  qa/rbd/krbd_msgr_segments.t
  qa/suites/krbd/ms_modeless/tasks/krbd_rxbounce.yaml
Labels: rbd, tests, wip-dis-testing

#57307 squid: rbd-mirror: clean up stale pool replayers and callouts better
  qa/workunits/rbd/rbd_mirror_bootstrap.sh
  qa/workunits/rbd/rbd_mirror_helpers.sh
  src/test/rbd_mirror/test_mock_PoolReplayer.cc
  src/tools/rbd_mirror/Mirror.cc
  src/tools/rbd_mirror/PoolReplayer.cc
Labels: bug-fix, rbd, tests, wip-dis-testing

#57310 squid: pybind/rbd: expose CLONE_FORMAT and FLATTEN image options
  PendingReleaseNotes
  src/pybind/rbd/c_rbd.pxd
  src/pybind/rbd/mock_rbd.pxi
  src/pybind/rbd/rbd.pyx
  src/test/pybind/test_rbd.py
Labels: feature, documentation, rbd, tests, pybind, wip-dis-testing

#57372 doc/cephfs: expand the role of quiesce in consistent backups
  doc/cephfs/fs-volumes.rst
Labels: documentation, cephfs

#57295 squid: doc/mgr: edit "Resolve IP address to hostname before redirect"
  doc/mgr/dashboard.rst
Labels: documentation, mgr, dashboard

#57296 reef: doc/mgr: edit "Resolve IP address to hostname before redirect"
  doc/mgr/dashboard.rst
Labels: documentation, mgr, dashboard

#57297 quincy: doc/mgr: edit "Resolve IP address to hostname before redirect"
  doc/mgr/dashboard.rst
Labels: documentation, mgr, dashboard

#57335 squid: doc/mgr: edit "Overview" in dashboard.rst
  doc/mgr/dashboard.rst
Labels: documentation, mgr, dashboard

#57336 reef: doc/mgr: edit "Overview" in dashboard.rst
  doc/mgr/dashboard.rst
Labels: documentation, mgr, dashboard

#57337 quincy: doc/mgr: edit "Overview" in dashboard.rst
  doc/mgr/dashboard.rst
Labels: documentation, mgr, dashboard

#57364 squid: doc/radosgw: update Squid S3 action list
  doc/radosgw/bucketpolicy.rst
Labels: documentation

#57366 quincy: doc/radosgw: update S3 action list
  doc/radosgw/bucketpolicy.rst
Labels: documentation

#56802 rgw: allow disabling mdsearch APIs
  src/common/options/rgw.yaml.in
  src/rgw/rgw_rest_s3.cc
Labels: rgw, needs-qa, common, wip-eric-testing-1

#56823 mgr/cephadm: additional debug logging for autotuner
  src/pybind/mgr/cephadm/autotune.py
  src/pybind/mgr/cephadm/serve.py
  src/pybind/mgr/cephadm/tests/test_autotune.py
Labels: pybind, cephadm, wip-adk-testing

#56957 mgr/cephadm: don't mark daemons created/removed in the last minute as stray
  src/pybind/mgr/cephadm/module.py
  src/pybind/mgr/cephadm/serve.py
  src/pybind/mgr/cephadm/tests/test_remote_executables.py
Labels: pybind, cephadm, wip-adk-testing

#56963 mgr/pybind/object_format: fix json-pretty being marked invalid
  src/pybind/mgr/object_format.py
Labels: pybind, mgr, cephadm, wip-adk-testing

#56970 qa/cephadm: ignore CEPHADM_PAUSED on test_orch_cli test
  qa/suites/orch/cephadm/no-agent-workunits/task/test_orch_cli.yaml
Labels: tests, cephadm, wip-adk-testing

#57042 qa/cephadm: ignore stray warnings on host drain test
  qa/suites/orch/cephadm/workunits/task/test_host_drain.yaml
Labels: tests, cephadm, wip-adk-testing

#57080 qa/tasks/cephadm: fix pulling containers from private registries
  qa/tasks/cephadm.py
Labels: tests, cephadm, wip-adk-testing

#57089 qa/cephadm: ignore CEPHADM_REFRESH_FAILED on timeout test
  qa/suites/orch/cephadm/no-agent-workunits/task/test_cephadm_timeout.yaml
Labels: tests, cephadm, wip-adk-testing

#57096 mgr/smb: disable JSON/YAML key sorting in favor of ordered dicts
  src/pybind/mgr/object_format.py
  src/pybind/mgr/smb/cli.py
  src/pybind/mgr/smb/results.py
  src/pybind/mgr/smb/tests/test_smb.py
Labels: documentation, tests, build/ops, pybind, mgr, cephadm, wip-adk-testing

#57181 mgr/cephadm: cleanup iscsi and nvmeof keyrings upon daemon removal
  src/pybind/mgr/cephadm/services/iscsi.py
  src/pybind/mgr/cephadm/services/nvmeof.py
Labels: pybind, cephadm, wip-adk-testing

#57182 mgr/cephadm: update default NVMEoF container image version
  src/pybind/mgr/cephadm/module.py
  src/python-common/ceph/deployment/service_spec.py
Labels: pybind, cephadm, wip-adk-testing

#57259 mgr/cephadm: Fix unfound progress events
  src/pybind/mgr/cephadm/serve.py
Labels: pybind, cephadm, wip-adk-testing

#56735 d4n: Add more in-depth config descriptions and improve naming
  doc/radosgw/config-ref.rst
  src/common/options/rgw.yaml.in
  src/rgw/driver/d4n/d4n_policy.cc
  src/rgw/driver/d4n/rgw_sal_d4n.cc
  src/rgw/rgw_redis_driver.cc
  src/test/rgw/test_d4n_directory.cc
  src/test/rgw/test_d4n_policy.cc
  src/test/rgw/test_redis_driver.cc
Labels: documentation, rgw, tests, common, build/ops, crimson

#57205 mgr/cephadm: make setting --cgroups=split configurable for adopted daemons
  src/cephadm/cephadm.py
Labels: cephadm, wip-adk-testing

#57214 qa/cephadm: ignore CEPHADM_STRAY_DAEMON in upgrade tests
  qa/suites/orch/cephadm/upgrade/3-upgrade/simple.yaml
  qa/suites/orch/cephadm/upgrade/3-upgrade/staggered.yaml
Labels: tests, cephadm, wip-adk-testing

#57357 reef: ceph.spec.in: remove command-with-macro line
  ceph.spec.in
Labels: build/ops, wip-pdonnell-testing2

#57373 reef: mon/MDSMonitor: fix assert crash in `fs swap`
  src/mon/FSCommands.cc
Labels: core, cephfs, mon, wip-pdonnell-testing2

#57375 reef: cmake/arrow: don't treat warnings as errors
  cmake/modules/BuildArrow.cmake
Labels: needs-qa, build/ops, wip-pdonnell-testing2

#57343 reef: mds: check relevant caps for fs include root_squash
  PendingReleaseNotes
  doc/cephfs/administration.rst
  doc/cephfs/health-messages.rst
  qa/tasks/cephfs/mount.py
  qa/tasks/cephfs/test_admin.py
  src/client/Client.cc
  src/client/Client.h
  src/common/options/mds-client.yaml.in
  src/mds/Beacon.cc
  src/mds/MDSAuthCaps.h
  src/mds/Server.cc
  src/mds/SessionMap.cc
  src/mds/SessionMap.h
  src/mds/mdstypes.cc
  src/mds/mdstypes.h
  src/messages/MMDSBeacon.h
  src/mon/MDSMonitor.cc
Labels: documentation, core, cephfs, tests, common, mon, wip-pdonnell-testing2

#57365 reef: doc/radosgw: update Reef S3 action list
  doc/radosgw/bucketpolicy.rst
Labels: documentation

#57390 squid: doc/cephfs: expand the role of quiesce in consistent backups
  doc/cephfs/fs-volumes.rst
Labels: documentation, cephfs

#57415 doc/cephfs: edit fs-volumes.rst (1 of x)
  doc/cephfs/fs-volumes.rst
Labels: documentation, cephfs

#57420 doc/cephfs: edit fs-volumes.rst (1 of x) followup
  doc/cephfs/fs-volumes.rst
Labels: documentation, cephfs

#57421 doc/dev: s/to asses/to assess/
  doc/dev/developer_guide/dash-devel.rst
Labels: documentation, dashboard

#57422 squid: doc/dev: s/to asses/to assess/
  doc/dev/developer_guide/dash-devel.rst
Labels: documentation, dashboard

#57423 reef: doc/dev: s/to asses/to assess/
  doc/dev/developer_guide/dash-devel.rst
Labels: documentation, dashboard

#57424 quincy: doc/dev: s/to asses/to assess/
  doc/dev/developer_guide/dash-devel.rst
Labels: documentation, dashboard

#56519 squid: mgr/dashboard: add support for NFSv3 exports
  src/pybind/mgr/dashboard/frontend/src/app/ceph/nfs/nfs-form/nfs-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/nfs/nfs-form/nfs-form.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/nfs/nfs-form/nfs-form.component.ts
Labels: pybind, dashboard

#57418 reef: doc/cephfs: edit fs-volumes.rst (1 of x)
  doc/cephfs/fs-volumes.rst
Labels: documentation, cephfs

#57417 squid: doc/cephfs: edit fs-volumes.rst (1 of x)
  doc/cephfs/fs-volumes.rst
Labels: documentation, cephfs

#57426 squid: doc/cephfs: edit fs-volumes.rst (1 of x) followup
  doc/cephfs/fs-volumes.rst
Labels: documentation, cephfs

#57427 reef: doc/cephfs: edit fs-volumes.rst (1 of x) followup
  doc/cephfs/fs-volumes.rst
Labels: documentation, cephfs

#57428 quincy: doc/cephfs: edit fs-volumes.rst (1 of x) followup
  doc/cephfs/fs-volumes.rst
Labels: documentation, cephfs

#56983 suites/ec-rados-plugin=jerasure-k=8-m=6-crush: roles set
  qa/erasure-code/ec-rados-plugin=jerasure-k=8-m=6-crush.yaml
Labels: ready-to-merge

#55923 objclass: deprecate cls_cxx_gather
  PendingReleaseNotes
  qa/workunits/rados/test.sh
  src/cls/CMakeLists.txt
  src/cls/test_remote_reads/cls_test_remote_reads.cc
  src/crimson/osd/objclass.cc
  src/objclass/objclass.h
  src/test/librados/CMakeLists.txt
  src/test/librados/cls_remote_reads.cc
Labels: documentation, core, needs-qa, tests, build/ops, crimson, TESTED, ready-to-merge

#56135 cephfs_mirror: increment sync_failures when sync_perms() and sync_snaps() fails
  src/tools/cephfs_mirror/PeerReplayer.cc
  src/tools/cephfs_mirror/PeerReplayer.h
Labels: bug-fix, cephfs, needs-qa, wip-vshankar-testing

#56525 mgr/stats: initialize mx_last_updated in FSPerfStats
  src/pybind/mgr/stats/fs/perf_stats.py
Labels: cephfs, tests, pybind, wip-vshankar-testing

#56699 qa: ignore cluster warnings generated from forward-scrub task
  qa/suites/fs/functional/tasks/forward-scrub.yaml
Labels: cephfs

#56148 cephfs_mirror: fix crash in update_fs_mirrors()
  src/tools/cephfs_mirror/FSMirror.h
Labels: bug-fix, cephfs, wip-vshankar-testing, wip-vshankar-testing5

#56979 rgw/notification: start/stop endpoint managers in notification manager
  qa/suites/rgw/notifications/overrides.yaml
  qa/suites/rgw/verify/overrides.yaml
  src/rgw/driver/rados/rgw_notify.cc
  src/rgw/driver/rados/rgw_notify.h
  src/rgw/driver/rados/rgw_pubsub_push.cc
  src/rgw/driver/rados/rgw_pubsub_push.h
  src/rgw/driver/rados/rgw_rados.cc
  src/rgw/rgw_amqp.cc
  src/rgw/rgw_appmain.cc
  src/rgw/rgw_kafka.cc
  src/rgw/rgw_lib.cc
  src/rgw/rgw_main.cc
  src/rgw/rgw_main.h
  src/test/rgw/bucket_notification/test_bn.py
  src/test/rgw/test-rgw-common.sh
  src/vstart.sh
Labels: rgw, tests

#56574 test/lazy-omap-stats: Convert to boost::regex
  src/test/lazy-omap-stats/CMakeLists.txt
  src/test/lazy-omap-stats/lazy_omap_stats_test.cc
  src/test/lazy-omap-stats/lazy_omap_stats_test.h
Labels: core, needs-qa, tests, build/ops, wip-yuri6-testing

#55488 crimson/osd/osd_operations/client_request: make loading-obc concurrent
  src/crimson/common/operation.h
  src/crimson/osd/osd_operation.h
  src/crimson/osd/osd_operation_external_tracking.h
  src/crimson/osd/osd_operations/client_request.cc
  src/crimson/osd/osd_operations/client_request.h
  src/crimson/osd/osd_operations/client_request_common.cc
  src/crimson/osd/osd_operations/client_request_common.h
  src/crimson/osd/osd_operations/common/pg_pipeline.h
  src/crimson/osd/osd_operations/internal_client_request.cc
  src/crimson/osd/osd_operations/internal_client_request.h
Labels: crimson, wip-yingxin-testing, crimson-perf

#57434 crimson/os/seastore/record_scanner: replace [=] capturing
  src/crimson/os/seastore/record_scanner.cc
Labels: crimson

#57444 qa/suites/krbd: drop pre-single-major and move "layering only" coverage
  qa/suites/krbd/fsx/features/no-deep-flatten.yaml
  qa/suites/krbd/fsx/features/no-exclusive-lock.yaml
  qa/suites/krbd/unmap/conf.yaml
  qa/suites/krbd/unmap/kernels/pre-single-major.yaml
Labels: rbd, tests
