Repository ceph/ceph, pull requests merged in 2024-08, with the labels that each got.

#58899 doc/glossary: add "Prometheus"
  doc/glossary.rst
Labels: documentation

#51332 pybind/ceph_argparse: Fix error message for ceph tell command
  qa/tasks/cephfs/test_misc.py
  src/pybind/ceph_argparse.py
Labels: cephfs, needs-qa, tests, pybind, needs-review

#58975 quincy: doc: Improve doc/radosgw/placement.rst
  doc/radosgw/placement.rst
Labels: documentation

#58974 reef: doc: Improve doc/radosgw/placement.rst
  doc/radosgw/placement.rst
Labels: documentation

#58973 squid: doc: Improve doc/radosgw/placement.rst
  doc/radosgw/placement.rst
Labels: documentation

#58978 reef: doc/glossary: add "Prometheus"
  doc/glossary.rst
Labels: documentation

#58979 quincy: doc/glossary: add "Prometheus"
  doc/glossary.rst
Labels: documentation

#58747 RGW|BN: fix lifecycle test issue
  src/test/rgw/bucket_notification/test_bn.py
Labels: rgw, tests

#58208 quincy: librbd: disallow group snap rollback if memberships don't match
  src/cls/rbd/cls_rbd_types.h
  src/librbd/api/Group.cc
  src/test/librados_test_stub/TestMemIoCtxImpl.cc
  src/test/librbd/test_Groups.cc
  src/test/pybind/test_rbd.py
Labels: rbd, needs-qa, tests, wip-yuri11-testing, quincy-batch-1

#58565 quincy: centos 9 related backports for RBD
  qa/valgrind.supp
  qa/workunits/rbd/qemu-iotests.sh
Labels: rbd, needs-qa, tests, wip-yuri11-testing, quincy-batch-1

#57863 suites/ec-rados-plugin=jerasure-k=8-m=6-crush: roles set with overrides
  qa/erasure-code/ec-rados-plugin=jerasure-k=2-m=2-crush.yaml
  qa/erasure-code/ec-rados-plugin=jerasure-k=8-m=6-crush.yaml
  qa/suites/rados/thrash-erasure-code-crush-4-nodes/clusters
Labels: core, needs-qa, tests, wip-yuri7-testing

#58631 msg: insert PriorityDispatchers in sorted position
  src/msg/Messenger.h
Labels: bug-fix, core, needs-qa, wip-pdonnell-testing, messenger, wip-yuri7-testing, wip-vshankar-testing3

#58672 mon/osdmonitor: cleanup the code for preprocess_mark_me_dead
  src/mon/OSDMonitor.cc
Labels: cleanup, core, needs-qa, mon, wip-yuri7-testing

#58765 rgw/async/notifications: use common async waiter in pubsub push
  src/rgw/driver/rados/rgw_pubsub_push.cc
  src/test/common/test_async_yield_waiter.cc
Labels: rgw, tests

#58933 squid: rgw/rgw_rados: fix server side-copy orphans tail-objects
  qa/workunits/rgw/test_rgw_orphan_list.sh
  src/rgw/driver/rados/rgw_rados.cc
  src/rgw/driver/rados/rgw_rados.h
  src/rgw/driver/rados/rgw_sal_rados.cc
  src/tools/rados/rados.cc
Labels: core, rgw, tests, TESTED, ready-to-merge

#58852 quincy: qa/workunits/rbd: avoid caching effects in luks-encryption.sh
  qa/workunits/rbd/luks-encryption.sh
Labels: rbd, needs-qa, tests, TESTED, ready-to-merge, quincy-batch-1

#58862 rgw/posix: name the lock_guard in BucketCacheEntry::reclaim()
  src/rgw/driver/posix/bucket_cache.h
Labels: rgw

#58932 squid: rgw/auth: RemoteApplier respects implicit tenants
  src/rgw/rgw_auth.cc
  src/rgw/rgw_auth.h
Labels: rgw, TESTED, ready-to-merge

#58882 librbd/migration: don't instantiate NativeFormat, handle it via dispatch
  src/librbd/api/Migration.cc
  src/librbd/migration/FileStream.cc
  src/librbd/migration/FormatInterface.h
  src/librbd/migration/HttpClient.cc
  src/librbd/migration/ImageDispatch.cc
  src/librbd/migration/ImageDispatch.h
  src/librbd/migration/NativeFormat.cc
  src/librbd/migration/NativeFormat.h
  src/librbd/migration/OpenSourceImageRequest.cc
  src/librbd/migration/OpenSourceImageRequest.h
  src/librbd/migration/QCOWFormat.cc
  src/librbd/migration/QCOWFormat.h
  src/librbd/migration/RawFormat.cc
  src/librbd/migration/RawFormat.h
  src/librbd/migration/RawSnapshot.cc
  src/librbd/migration/SourceSpecBuilder.cc
  src/librbd/migration/SourceSpecBuilder.h
  src/test/librbd/migration/test_mock_QCOWFormat.cc
  src/test/librbd/migration/test_mock_RawFormat.cc
Labels: rbd, tests, wip-dis-testing

#58883 script/backport-create-issue: handle ResourceAttrError when getting CF_TAGS
  src/script/backport-create-issue
Labels: script

#58964 squid: ceph-volume: do source devices zapping if they're detached.
  src/ceph-volume/ceph_volume/devices/lvm/migrate.py
  src/ceph-volume/ceph_volume/tests/devices/lvm/test_migrate.py
Labels: ceph-volume

#58954 squid: ceph-volume: do not convert LVs's symlink to real path
  src/ceph-volume/ceph_volume/tests/devices/lvm/test_listing.py
  src/ceph-volume/ceph_volume/tests/devices/lvm/test_migrate.py
  src/ceph-volume/ceph_volume/tests/devices/lvm/test_zap.py
  src/ceph-volume/ceph_volume/tests/objectstore/test_lvmbluestore.py
  src/ceph-volume/ceph_volume/tests/util/test_device.py
  src/ceph-volume/ceph_volume/util/device.py
  src/ceph-volume/ceph_volume/util/disk.py
Labels: ceph-volume, wip-guits-squid

#58482 squid: node-proxy: make the daemon discover endpoints
  src/ceph-node-proxy/ceph_node_proxy/baseredfishsystem.py
  src/ceph-node-proxy/ceph_node_proxy/redfish_client.py
  src/ceph-node-proxy/ceph_node_proxy/redfishdellsystem.py
  src/ceph-node-proxy/ceph_node_proxy/util.py
  src/pybind/mgr/cephadm/agent.py
  src/pybind/mgr/cephadm/inventory.py
  src/pybind/mgr/cephadm/tests/node_proxy_data.py
  src/pybind/mgr/cephadm/tests/test_node_proxy.py
  src/pybind/mgr/orchestrator/module.py
Labels: core, wip-guits-squid

#58402 mgr/cephadm: adding mTLS for ceph mgmt-gateway and backend services communication
  src/cephadm/cephadm.py
  src/cephadm/cephadmlib/daemons/ceph.py
  src/cephadm/cephadmlib/daemons/mgmt_gateway.py
  src/cephadm/tests/test_cephadm.py
  src/pybind/mgr/cephadm/agent.py
  src/pybind/mgr/cephadm/cert_mgr.py
  src/pybind/mgr/cephadm/http_server.py
  src/pybind/mgr/cephadm/inventory.py
  src/pybind/mgr/cephadm/migrations.py
  src/pybind/mgr/cephadm/module.py
  src/pybind/mgr/cephadm/serve.py
  src/pybind/mgr/cephadm/service_discovery.py
  src/pybind/mgr/cephadm/services/cephadmservice.py
  src/pybind/mgr/cephadm/services/mgmt_gateway.py
  src/pybind/mgr/cephadm/services/monitoring.py
  src/pybind/mgr/cephadm/services/node_proxy.py
  src/pybind/mgr/cephadm/ssl_cert_utils.py
  src/pybind/mgr/cephadm/templates/services/alertmanager/alertmanager.yml.j2
  src/pybind/mgr/cephadm/templates/services/alertmanager/web.yml.j2
  src/pybind/mgr/cephadm/templates/services/grafana/ceph-dashboard.yml.j2
  src/pybind/mgr/cephadm/templates/services/grafana/grafana.ini.j2
  src/pybind/mgr/cephadm/templates/services/mgmt-gateway/external_server.conf.j2
  src/pybind/mgr/cephadm/templates/services/mgmt-gateway/internal_server.conf.j2
  src/pybind/mgr/cephadm/templates/services/node-exporter/web.yml.j2
  src/pybind/mgr/cephadm/templates/services/prometheus/prometheus.yml.j2
  src/pybind/mgr/cephadm/templates/services/prometheus/web.yml.j2
  src/pybind/mgr/cephadm/tests/fixtures.py
  src/pybind/mgr/cephadm/tests/test_cephadm.py
  src/pybind/mgr/cephadm/tests/test_migration.py
  src/pybind/mgr/cephadm/tests/test_node_proxy.py
  src/pybind/mgr/cephadm/tests/test_services.py
  src/pybind/mgr/dashboard/controllers/prometheus.py
  src/pybind/mgr/dashboard/tests/test_prometheus.py
  src/pybind/mgr/orchestrator/_interface.py
  src/pybind/mgr/orchestrator/module.py
  src/pybind/mgr/prometheus/module.py
Labels: documentation, pybind, dashboard, orchestrator, monitoring, cephadm

#58969 mgr/cephadm: Add SPDK log level to nvmeof configuration file
  src/pybind/mgr/cephadm/services/nvmeof.py
  src/pybind/mgr/cephadm/templates/services/nvmeof/ceph-nvmeof.conf.j2
  src/pybind/mgr/cephadm/tests/test_services.py
  src/python-common/ceph/deployment/service_spec.py
Labels: pybind, cephadm, wip-adk-testing

#58874 squid: doc/radosgw/qat-accel: Update and Add QATlib information
  doc/radosgw/qat-accel.rst
Labels: documentation

#59006 doc/glossary: add "ceph-ansible"
  doc/glossary.rst
Labels: documentation

#59007 squid: doc/glossary: add "ceph-ansible"
  doc/glossary.rst
Labels: documentation

#59008 reef: doc/glossary: add "ceph-ansible"
  doc/glossary.rst
Labels: documentation

#59009 quincy: doc/glossary: add "ceph-ansible"
  doc/glossary.rst
Labels: documentation

#58302 osd/scheduler: add mclock queue length perfcounter
  src/osd/scheduler/mClockScheduler.cc
  src/osd/scheduler/mClockScheduler.h
  src/test/osd/TestMClockScheduler.cc
Labels: core, needs-qa, tests, wip-yuri6-testing

#58470 mon: Remove any pg_upmap_primary mapping during remove a pool
  src/mon/OSDMonitor.cc
Labels: core, needs-qa, mon, wip-yuri6-testing, wip-lflores-testing

#58718 kv/RocksDBStore: add kv_stats function to print all CF info
  src/kv/RocksDBStore.cc
Labels: core, needs-qa, common, wip-yuri6-testing

#58715 reef: rgw/amqp: lock erase and create connection before emplace
  src/rgw/rgw_amqp.cc
Labels: rgw

#57786 crush: avoid out-of-bound access and simplify enlarging buckets
  src/crush/CrushWrapper.cc
Labels: cleanup, core, needs-qa, tests, wip-yuri4-testing

#58810 squid: cephfs-shell: excute cmd 'rmdir_helper' reported error
  src/tools/cephfs/shell/cephfs-shell
Labels: cephfs, wip-lxb-testing-squid1

#58727 squid: mds: fix session/client evict command.
  qa/suites/fs/multiclient/clusters/1-mds-2-client.yaml
  qa/tasks/cephfs/test_misc.py
  src/mds/MDSDaemon.cc
  src/mds/MDSRank.cc
  src/mds/SessionMap.cc
Labels: cephfs, tests, wip-lxb-testing-squid1

#56887 squid: mds: CInode::item_caps used in two different lists
  src/mds/CInode.cc
  src/mds/CInode.h
  src/mds/Locker.cc
  src/mds/MDCache.cc
Labels: cephfs, needs-qa, TESTED, ready-to-merge, wip-lxb-testing-squid1

#58804 squid: cephfs: Fixed a bug in the readdir_cache_cb function that may have us…
  src/client/Client.cc
Labels: cephfs, wip-lxb-testing-squid1

#59016 Revert "reef: rgw/amqp: lock erase and create connection before emplace"
  src/rgw/rgw_amqp.cc
Labels: rgw

#58115 common: MemoryModel: performance improvements and API changes
  src/common/MemoryModel.cc
  src/common/MemoryModel.h
  src/mds/MDCache.cc
  src/mds/MDCache.h
Labels: cleanup, core, cephfs, common, performance, wip-vshankar-testing3

#58891 doc/cephfs: edit "Layout Fields" text
  doc/cephfs/file-layouts.rst
Labels: documentation, cephfs

#58373 qa: ceph.py mkfs.ext4 has no -f
  qa/tasks/ceph.py
Labels: tests

#58767 mgr: fix invalid escape sequence
  src/pybind/mgr/osd_perf_query/module.py
  src/pybind/mgr/rook/rook_cluster.py
  src/pybind/mgr/zabbix/module.py
Labels: pybind, orchestrator, rook, wip-adk-testing

#57905 doc/mgr/dashboard: fix TLS typo
  doc/mgr/dashboard.rst
Labels: documentation, mgr, dashboard

#59033 quincy: doc/mgr/dashboard: fix TLS typo
  doc/mgr/dashboard.rst
Labels: documentation, mgr, dashboard

#59032 reef: doc/mgr/dashboard: fix TLS typo
  doc/mgr/dashboard.rst
Labels: documentation, mgr, dashboard

#59031 squid: doc/mgr/dashboard: fix TLS typo
  doc/mgr/dashboard.rst
Labels: documentation, mgr, dashboard

#58746 mgr/dashboard: make multi-cluster context switcher scrollable if we have many entries in it
  src/pybind/mgr/dashboard/frontend/src/app/core/navigation/navigation/navigation.component.scss
Labels: pybind, dashboard

#58963 mgr/dashboard: Dashboard not showing Object/Overview correctly.
  src/pybind/mgr/dashboard/frontend/src/app/ceph/dashboard-v3/dashboard-area-chart/dashboard-area-chart.component.ts
Labels: pybind, dashboard

#58500 ptl-tool: Fix token file name and variable names
  src/script/ptl-tool.py
Labels: script

#58664 qa/suites/rados: Reduced BlueStore log levels
  qa/suites/rados/objectstore/backends/objectstore-bluestore-a.yaml
  qa/suites/rados/objectstore/backends/objectstore-bluestore-b.yaml
  qa/suites/rados/objectstore/backends/objectstore-memstore.yaml
  qa/suites/rados/perf/objectstore/bluestore-basic-min-osd-mem-target.yaml
  qa/suites/rados/perf/objectstore/bluestore-bitmap.yaml
  qa/suites/rados/perf/objectstore/bluestore-comp.yaml
  qa/suites/rados/perf/objectstore/bluestore-low-osd-mem-target.yaml
  qa/suites/rados/perf/objectstore/bluestore-stupid.yaml
Labels: core, tests, aclamk-testing-phoebe

#58282 qa/tasks: watchdog should terminate thrasher
  qa/tasks/ceph_manager.py
  qa/tasks/daemonwatchdog.py
  qa/tasks/mon_thrash.py
  qa/tasks/scrub.py
  qa/tasks/thrasher.py
  qa/tasks/thrashosds.py
Labels: core, needs-qa, tests, TESTED, ready-to-merge

#59024 doc/README.md - add ordered list
  README.md
Labels: documentation

#58967 squid: qa/standalone/scrub: fix the searched-for text for snaps decode errors
  qa/standalone/scrub/osd-scrub-repair.sh
Labels: core, tests, backport

#58037 osd/PrimaryLogPG.cc bl length would be stored before moving
  src/osd/PrimaryLogPG.cc
Labels: bug-fix, core, needs-qa, wip-yuri4-testing, GSoC / Outreachy

#51797 quincy: rgw/kafka: remove potential race condition between creation and deletion of endpoint
  src/rgw/rgw_kafka.cc
  src/rgw/rgw_kafka.h
  src/rgw/rgw_pubsub_push.cc
Labels: rgw, needs-qa, wip-yuri11-testing, backport quincy

#51806 [quincy] RGW backports
  doc/radosgw/cloud-transition.rst
  src/rgw/rgw_admin.cc
  src/rgw/rgw_bucket_sync.cc
  src/rgw/rgw_bucket_sync.h
  src/rgw/rgw_common.h
  src/rgw/rgw_lc_tier.cc
  src/rgw/rgw_obj_manifest.cc
  src/rgw/rgw_op.cc
  src/rgw/rgw_op.h
  src/rgw/rgw_putobj_processor.cc
  src/rgw/rgw_rados.cc
  src/rgw/rgw_rest_conn.cc
  src/rgw/rgw_rest_conn.h
  src/rgw/rgw_rest_s3.cc
  src/rgw/rgw_zone.cc
  src/rgw/services/svc_bucket_sync_sobj.cc
  src/rgw/services/svc_zone.cc
Labels: documentation, rgw, needs-qa, wip-yuri11-testing

#56119 quincy: rgw/beast: Enable SSL session-id reuse speedup mechanism
  src/rgw/rgw_asio_frontend.cc
Labels: bug-fix, rgw, needs-qa, wip-yuri11-testing

#57405 quincy: rgw: make incomplete multipart upload part of bucket check efficient
  src/rgw/rgw_admin.cc
  src/rgw/rgw_bucket.cc
  src/rgw/rgw_bucket.h
  src/rgw/rgw_rados.cc
  src/rgw/rgw_rados.h
  src/rgw/services/svc_bi_rados.h
Labels: bug-fix, rgw, needs-qa, performance, wip-yuri11-testing

#57907 quincy: rgw: modify string match_wildcards with fnmatch
  src/rgw/rgw_common.cc
  src/rgw/rgw_common.h
  src/rgw/rgw_iam_policy.cc
  src/rgw/rgw_string.cc
  src/rgw/rgw_string.h
  src/test/rgw/test_rgw_iam_policy.cc
Labels: bug-fix, rgw, needs-qa, tests, needs-review, backport: no-conflicts, wip-yuri11-testing, backport quincy, backport

#59051 RGW - Zipper: pull in upstream fix for zpp_bits
  src/rgw/driver/posix/zpp_bits.h
Labels: rgw, ready-to-merge

#58148 crimson/osd/osd_operations: hang requests if the objects are unfound
  src/crimson/osd/osd_operations/background_recovery.cc
  src/crimson/osd/osd_operations/client_request.cc
  src/crimson/osd/osd_operations/client_request_common.cc
  src/crimson/osd/osd_operations/client_request_common.h
  src/crimson/osd/osd_operations/internal_client_request.cc
  src/crimson/osd/pg_recovery.cc
  src/crimson/osd/recovery_backend.cc
  src/crimson/osd/recovery_backend.h
Labels: crimson, wip-matan-testing, needs-crimson-qa, crimson-replicated-recovery

#58708 crimson/osd/osd_operation/client_request: requeue client requests from a temporary queue other than ClientRequest::Orderer::list
  src/crimson/osd/osd_operations/client_request.cc
Labels: bug-fix, crimson, wip-matan-testing, needs-crimson-qa, crimson-replicated-recovery

#59011 crimson/osd: send empty transactions to backfill targets that haven't backfilled the objects yet
  src/crimson/osd/pg.cc
  src/crimson/osd/pg.h
  src/crimson/osd/replicated_backend.cc
Labels: bug-fix, crimson, wip-matan-testing, needs-crimson-qa, crimson-replicated-recovery

#57572 os/bluestore: Improve Readability of Extent Map Sharding
  src/os/bluestore/BlueStore.cc
Labels: core, needs-qa, bluestore, TESTED, ready-to-merge, aclamk-testing-phoebe

#58511 os/bluestore: assert CollectionRef count is 1 on umount
  src/os/bluestore/BlueStore.cc
  src/test/objectstore/store_test.cc
  src/tools/ceph_objectstore_tool.cc
Labels: core, tests, bluestore, aclamk-testing-phoebe

#55357 quincy: rgw/rest: fix url decode of post params for iam/sts/sns
  src/rgw/rgw_rest_iam.cc
  src/rgw/rgw_rest_pubsub.cc
  src/rgw/rgw_rest_sts.cc
  src/rgw/rgw_rest_user_policy.cc
Labels: rgw, needs-qa, TESTED, ready-to-merge

#50538 quincy: rgw: address crash and race in RGWIndexCompletionManager
  src/rgw/rgw_rados.cc
Labels: rgw, needs-qa, TESTED, ready-to-merge

#58582 mon: fix `fs set down` to adjust max_mds only when cluster is not down
  qa/workunits/cephtool/test.sh
  src/mon/FSCommands.cc
Labels: core, cephfs, needs-qa, tests, mon, wip-pdonnell-testing

#58437 mds: remove the misleading and redundant logs
  src/mds/MDCache.cc
Labels: cephfs, needs-qa, wip-pdonnell-testing

#52939 mon/MonClient: handle ms_handle_fast_authentication return
  src/mds/MDSDaemon.cc
  src/mds/MDSDaemon.h
  src/mgr/DaemonServer.cc
  src/mgr/DaemonServer.h
  src/mon/MonClient.cc
  src/mon/Monitor.cc
  src/mon/Monitor.h
  src/msg/Dispatcher.h
  src/osd/OSD.cc
  src/osd/OSD.h
  src/test/fio/fio_ceph_messenger.cc
  src/test/msgr/perf_msgr_client.cc
  src/test/msgr/perf_msgr_server.cc
  src/test/msgr/test_msgr.cc
Labels: core, cephfs, tests, mgr, mon, wip-pdonnell-testing

#59060 doc/dev/peering: Change acting set num
  doc/dev/peering.rst
Labels: documentation

#59064 quincy: doc/dev/peering: Change acting set num
  doc/dev/peering.rst
Labels: documentation

#59062 squid: doc/dev/peering: Change acting set num
  doc/dev/peering.rst
Labels: documentation

#59063 reef: doc/dev/peering: Change acting set num
  doc/dev/peering.rst
Labels: documentation

#58097 client: eliminate duplicate lookups wherever possible
  src/client/Client.cc
  src/client/Client.h
Labels: cleanup, cephfs, needs-review, wip-vshankar-testing4

#57987 qa/suites: drop --show-reachable=yes from fs:valgrind tests
  qa/suites/fs/valgrind/mirror/cephfs-mirror/one-per-cluster.yaml
Labels: cephfs, tests, wip-vshankar-testing4

#57458 qa/cephfs: add test_session_evict_non_blocklisted test case
  qa/tasks/cephfs/test_sessionmap.py
  src/mds/Server.cc
Labels: cephfs, tests, wip-vshankar-testing4

#56782 cephfs_mirror: provide metrics for last successful snapshot sync
  doc/cephfs/cephfs-mirroring.rst
  qa/tasks/cephfs/test_mirroring.py
  src/tools/cephfs_mirror/PeerReplayer.cc
  src/tools/cephfs_mirror/PeerReplayer.h
Labels: documentation, cephfs, tests, wip-vshankar-testing4

#59040 doc: documenting the feature that scrub clear the entries from damage…
  doc/cephfs/scrub.rst
Labels: documentation, cephfs

#57475 reef: cephadm: change loki/promtail default image tags
  src/cephadm/cephadm.py
  src/pybind/mgr/cephadm/module.py
  src/pybind/mgr/cephadm/templates/services/loki.yml.j2
  src/pybind/mgr/cephadm/tests/test_services.py
Labels: pybind, cephadm, wip-guits-reef

#58483 reef: node-proxy: make the daemon discover endpoints
  src/ceph-node-proxy/ceph_node_proxy/baseredfishsystem.py
  src/ceph-node-proxy/ceph_node_proxy/redfish_client.py
  src/ceph-node-proxy/ceph_node_proxy/redfishdellsystem.py
  src/ceph-node-proxy/ceph_node_proxy/util.py
  src/pybind/mgr/cephadm/agent.py
  src/pybind/mgr/cephadm/inventory.py
  src/pybind/mgr/cephadm/tests/node_proxy_data.py
  src/pybind/mgr/cephadm/tests/test_node_proxy.py
  src/pybind/mgr/orchestrator/module.py
Labels: core, wip-guits-reef

#58996 reef: ceph-volume: do source devices zapping if they're detached.
  src/ceph-volume/ceph_volume/devices/lvm/migrate.py
Labels: ceph-volume

#58997 reef: ceph-volume: fix set_dmcrypt_no_workqueue()
  src/ceph-volume/ceph_volume/util/encryption.py
Labels: ceph-volume

#55374 os/bluestore: Multiple bdev labels on main block device
  src/common/options/global.yaml.in
  src/os/bluestore/BlueFS.cc
  src/os/bluestore/BlueFS.h
  src/os/bluestore/BlueStore.cc
  src/os/bluestore/BlueStore.h
  src/os/bluestore/bluestore_common.h
  src/os/bluestore/bluestore_tool.cc
  src/test/objectstore/store_test.cc
  src/test/objectstore/store_test_fixture.cc
  src/test/objectstore/store_test_fixture.h
  src/test/objectstore/test_bluefs.cc
Labels: core, needs-qa, tests, common, bluestore, TESTED, ready-to-merge, aclamk-testing-phoebe

#57562 script/: add cpu-map.sh to aid manual selection of CPU cores for threads for profiling
  src/script/cpu-map.sh
Labels: crimson, script

#58693 crimson/osd: clear ondisk temp objects on startup
  src/crimson/osd/pg.cc
  src/crimson/osd/pg.h
  src/crimson/osd/pg_shard_manager.cc
Labels: crimson, TESTED, ready-to-merge, wip-matan-testing

#57196 quincy: os/bluestore: fix the problem of l_bluefs_log_compactions double recording
  src/os/bluestore/BlueFS.cc
Labels: core, needs-qa, bluestore, wip-yuri3-testing

#57404 quincy: kv/RocksDBStore: Configure compact-on-deletion for all CFs
  src/kv/RocksDBStore.cc
Labels: core, needs-qa, wip-yuri3-testing

#58818 quincy: bluestore/bluestore_types: avoid heap-buffer-overflow in another way to keep code uniformity
  src/os/bluestore/bluestore_types.h
Labels: core, needs-qa, bluestore, wip-yuri3-testing

#58907 librbd: Reduce use of atomics in librbd throttling
  src/librbd/io/QosImageDispatch.cc
  src/librbd/io/QosImageDispatch.h
Labels: rbd, performance, wip-dis-testing

#58998 reef: src/ceph-volume/ceph_volume/devices/lvm/listing.py : lvm list filters with vg name
  src/ceph-volume/ceph_volume/devices/lvm/listing.py
Labels: ceph-volume

#57445 quincy: mgr/snap_schedule: restore yearly spec to lowercase y
  doc/cephfs/snap-schedule.rst
  qa/tasks/cephfs/test_snap_schedules.py
  src/pybind/mgr/snap_schedule/fs/schedule.py
  src/pybind/mgr/snap_schedule/fs/schedule_client.py
Labels: documentation, core, cephfs, tests, pybind, wip-lxb-testing-quincy2

#56753 quincy: qa/test_nfs: fix test failure when cluster does not exist
  qa/tasks/cephfs/test_nfs.py
Labels: cephfs, tests, nfs, wip-lxb-testing-quincy2

#56837 quincy: qa/cephfs: CephFSTestCase.create_client() must keyring
  qa/tasks/cephfs/cephfs_test_case.py
Labels: cephfs, tests, needs-review, wip-lxb-testing-quincy2

#52489 os/bluestore: introduce hybrid_btree2 allocator
  src/common/options/global.yaml.in
  src/crimson/os/alienstore/CMakeLists.txt
  src/include/intarith.h
  src/os/CMakeLists.txt
  src/os/bluestore/Allocator.cc
  src/os/bluestore/Allocator.h
  src/os/bluestore/AvlAllocator.cc
  src/os/bluestore/AvlAllocator.h
  src/os/bluestore/BlueFS.cc
  src/os/bluestore/BlueStore.cc
  src/os/bluestore/Btree2Allocator.cc
  src/os/bluestore/Btree2Allocator.h
  src/os/bluestore/BtreeAllocator.h
  src/os/bluestore/HybridAllocator.cc
  src/os/bluestore/HybridAllocator.h
  src/os/bluestore/HybridAllocator_impl.h
  src/test/objectstore/Allocator_bench.cc
  src/test/objectstore/Allocator_test.cc
  src/test/objectstore/allocator_replay_test.cc
  src/test/objectstore/hybrid_allocator_test.cc
  src/test/objectstore/store_test.cc
Labels: core, tests, common, build/ops, performance, bluestore, crimson, aclamk-testing-phoebe, aclamk-testing-nauvoo

#58585 cephadm/smb: Determine samba version within container
  src/cephadm/cephadm.py
  src/cephadm/cephadmlib/daemons/smb.py
Labels: cephadm, wip-adk-testing

#56930 quincy: mgr/dashboard: fix duplicate grafana panels when on mgr failover
  src/pybind/mgr/cephadm/templates/services/prometheus/prometheus.yml.j2
  src/pybind/mgr/cephadm/tests/test_services.py
Labels: pybind, dashboard, monitoring, cephadm, wip-adk5-testing

#58754 quincy: mgr/cephadm: make client-keyring deploying ceph.conf optional
  doc/cephadm/operations.rst
  src/pybind/mgr/cephadm/inventory.py
  src/pybind/mgr/cephadm/module.py
  src/pybind/mgr/cephadm/serve.py
  src/pybind/mgr/cephadm/tests/test_cephadm.py
Labels: documentation, pybind, cephadm, wip-adk5-testing

#58755 quincy: cephadm: fix host-maintenance command always exiting with a failure
  src/cephadm/cephadm
  src/cephadm/tests/test_cephadm.py
Labels: cephadm, wip-adk5-testing

#58757 quincy: mgr/cephadm: cleanup iscsi keyring upon daemon removal
  src/pybind/mgr/cephadm/services/iscsi.py
Labels: pybind, cephadm, wip-adk5-testing

#58759 quincy: mgr/cephadm: make setting --cgroups=split configurable for adopted daemons
  src/cephadm/cephadm
Labels: cephadm, wip-adk5-testing

#58760 quincy: cephadm: disable ms_bind_ipv4 if we will enable ms_bind_ipv6
  src/cephadm/cephadm
Labels: cephadm, wip-adk5-testing

#57381 PeeringState.cc: Only populate want_acting when num_osds < bucket_max
  src/osd/PeeringState.cc
Labels: core, needs-review, needs-reef-backport, needs-squid-backport

#56233 RADOS: Generalize stretch mode pg temp handling to be usable without stretch mode
  doc/rados/operations/pools.rst
  doc/rados/operations/stretch-mode.rst
  qa/suites/rados/singleton/all/3-az-stretch-cluster-netsplit.yaml
  qa/suites/rados/singleton/all/mon-stretch-pool.yaml
  qa/tasks/ceph_manager.py
  qa/tasks/stretch_cluster.py
  qa/tasks/test_netsplit_3az_stretch_pool.py
  qa/workunits/mon/mon-stretch-pool.sh
  src/mon/MonCommands.h
  src/mon/OSDMonitor.cc
  src/mon/OSDMonitor.h
  src/osd/osd_types.cc
Labels: documentation, core, tests, mon, needs-squid-backport

#59073 doc/cephadm/smb: Add missing user_sources option to service spec
  doc/cephadm/services/smb.rst
Labels: documentation, cephadm

#55868 quincy: mon/OSDMonitor: fix get_min_last_epoch_clean()
  src/mon/OSDMonitor.cc
  src/mon/OSDMonitor.h
Labels: core, needs-qa, mon, wip-yuri3-testing

#56815 quincy: osd/SnapMapper: fix _lookup_purged_snap
  src/osd/SnapMapper.cc
Labels: core, needs-qa, wip-yuri3-testing

#58316 quincy: build: Make boost_url a list
  cmake/modules/BuildBoost.cmake
Labels: needs-qa, build/ops, wip-yuri3-testing

#56168 quincy: qa: set mds config with `config set` for a particular test
  qa/tasks/cephfs/test_data_scan.py
  src/mds/MDBalancer.cc
Labels: cephfs, tests, wip-lxb-testing-quincy4

#55238 quincy: pybind/mgr/mirroring: drop mon_host from peer_list
  qa/tasks/cephfs/test_mirroring.py
  src/pybind/mgr/mirroring/fs/snapshot_mirror.py
Labels: cephfs, needs-qa, tests, pybind, wip-lxb-testing-quincy4

#52986 quincy: nofail option in fstab not supported
  src/mount.fuse.ceph
Labels: cephfs, wip-lxb-testing-quincy4

#56417 quincy: qa/cephfs: add mgr debugging
  qa/cephfs/conf/mgr.yaml
Labels: tests, wip-lxb-testing-quincy1

#56393 quincy: qa/suites/fs/nfs: use standard health ignorelist
  qa/suites/fs/nfs/overrides/ignorelist_health.yaml
Labels: cephfs, tests, wip-lxb-testing-quincy1

#54712 quincy: qa: run kernel_untar_build with newer tarball
  qa/workunits/kernel_untar_build.sh
Labels: tests, wip-lxb-testing-quincy1

#57442 quincy: mgr/stats: initialize mx_last_updated in FSPerfStats
  src/pybind/mgr/stats/fs/perf_stats.py
Labels: bug-fix, cephfs, pybind, wip-lxb-testing-quincy1

#56308 quincy: cephadm: add timemaster to timesync services list
  src/cephadm/cephadm
Labels: cephadm, wip-adk5-testing

#58756 quincy: python-common: handle "anonymous_access: false" in to_json of Grafana spec
  src/python-common/ceph/deployment/service_spec.py
  src/python-common/ceph/tests/test_service_spec.py
Labels: pybind, cephadm, wip-adk5-testing

#58761 quincy: cephadm: turn off cgroups_split setting when bootstrapping with --no-cgroups-split
  src/cephadm/cephadm
Labels: cephadm, wip-adk5-testing

#58762 quincy: qa/suites: add "mon down" log variations to ignorelist
  qa/suites/orch/cephadm/smoke/start.yaml
  qa/suites/orch/cephadm/workunits/task/test_host_drain.yaml
  qa/suites/orch/cephadm/workunits/task/test_rgw_multisite.yaml
  qa/suites/orch/cephadm/workunits/task/test_set_mon_crush_locations.yaml
  qa/suites/upgrade/pacific-x/parallel/1-tasks.yaml
  qa/tasks/thrashosds-health.yaml
Labels: tests, cephadm, wip-adk5-testing

#59078 squid: doc: documenting the feature that scrub clear the entries from damage…
  doc/cephfs/scrub.rst
Labels: documentation, cephfs

#59080 quincy: doc: documenting the feature that scrub clear the entries from damage…
  doc/cephfs/scrub.rst
Labels: documentation, cephfs

#59079 reef: doc: documenting the feature that scrub clear the entries from damage…
  doc/cephfs/scrub.rst
Labels: documentation, cephfs

#58002 cls/rbd: add group_snap_list_order method to enable sorting snapshots in creation order
  src/cls/rbd/cls_rbd.cc
  src/cls/rbd/cls_rbd_client.cc
  src/cls/rbd/cls_rbd_client.h
  src/test/cls_rbd/test_cls_rbd.cc
Labels: feature, rbd, tests, wip-dis-testing

#44366 librbd/crypto: fix issue when live-migrating from encrypted export
  qa/workunits/rbd/luks-encryption.sh
  src/librbd/io/ReadResult.cc
  src/librbd/io/ReadResult.h
  src/librbd/migration/ImageDispatch.cc
  src/librbd/migration/OpenSourceImageRequest.cc
Labels: bug-fix, rbd, tests, build/ops, wip-dis-testing

#59029 qa: simplify postmerge construction
  qa/clusters/2-node-mgr.yaml
  qa/clusters/extra-client.yaml
  qa/clusters/fixed-1.yaml
  qa/clusters/fixed-2.yaml
  qa/clusters/fixed-3-cephfs.yaml
  qa/clusters/fixed-3.yaml
  qa/clusters/fixed-4.yaml
  qa/suites/rados/thrash/workloads/rados_api_tests.yaml
  qa/suites/rados/verify/tasks/rados_api_tests.yaml
Labels: core, tests

#59020 squid: osd/scrub: exempt only operator scrubs from max_scrubs limit
  src/osd/scrubber/osd_scrub_sched.cc
  src/osd/scrubber/pg_scrubber.cc
  src/osd/scrubber/scrub_job.h
Labels: bug-fix, needs-qa, wip-yuri6-testing, backport

#58869 crimson/os/seastore/lba_manager: correct the range end of lba mappings
  src/crimson/os/seastore/lba_manager/btree/lba_btree_node.cc
Labels: crimson, wip-yingxin-testing, needs-crimson-seastore-qa

#58983 crimson/os/seastore/cache: cleanups and comments
  src/crimson/os/seastore/async_cleaner.h
  src/crimson/os/seastore/btree/fixed_kv_btree.h
  src/crimson/os/seastore/cache.h
  src/crimson/os/seastore/cached_extent.h
  src/crimson/os/seastore/transaction.h
  src/crimson/os/seastore/transaction_manager.cc
Labels: crimson, TESTED

#58638 squid: mgr/dashboard: provide option to enable pool based mirroring mode while creating a pool
  src/pybind/mgr/dashboard/controllers/pool.py
  src/pybind/mgr/dashboard/controllers/rbd_mirroring.py
  src/pybind/mgr/dashboard/frontend/cypress/e2e/pools/pools.e2e-spec.ts
  src/pybind/mgr/dashboard/frontend/cypress/e2e/pools/pools.po.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/pool/pool-form/pool-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/pool/pool-form/pool-form.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/pool/pool-form/pool-form.component.ts
  src/pybind/mgr/dashboard/openapi.yaml
Labels: dashboard, backport: no-conflicts

#57911 mds: some optimizations around client Capability and Lease tracking
  src/include/elist.h
  src/mds/CDentry.cc
  src/mds/CDentry.h
  src/mds/CDir.cc
  src/mds/Capability.cc
  src/mds/Capability.h
  src/mds/Locker.cc
  src/mds/Locker.h
  src/mds/MDCache.cc
  src/mds/MDSCacheObject.h
  src/mds/SnapRealm.h
Labels: cephfs, performance, needs-review, wip-vshankar-testing2

#58787 crimson/os/seastore: consider segment_header_t::modify_time as the segments' modify_time for no-tail OOL segments
  src/crimson/os/seastore/async_cleaner.cc
  src/crimson/os/seastore/async_cleaner.h
  src/crimson/os/seastore/journal/segment_allocator.cc
  src/crimson/os/seastore/seastore_types.cc
  src/crimson/os/seastore/seastore_types.h
Labels: bug-fix, crimson, TESTED

#58913 crimson/os/seastore: move ool writes from collection lock to concurrent DeviceSubmission phase
  src/crimson/os/seastore/cache.cc
  src/crimson/os/seastore/extent_placement_manager.cc
  src/crimson/os/seastore/extent_placement_manager.h
  src/crimson/os/seastore/journal/circular_bounded_journal.cc
  src/crimson/os/seastore/journal/circular_journal_space.cc
  src/crimson/os/seastore/journal/circular_journal_space.h
  src/crimson/os/seastore/journal/record_submitter.cc
  src/crimson/os/seastore/journal/record_submitter.h
  src/crimson/os/seastore/journal/segment_allocator.cc
  src/crimson/os/seastore/journal/segment_allocator.h
  src/crimson/os/seastore/journal/segmented_journal.cc
  src/crimson/os/seastore/ordering_handle.h
  src/crimson/os/seastore/seastore.cc
  src/crimson/os/seastore/segment_manager/block.cc
  src/crimson/os/seastore/transaction.h
Labels: crimson, TESTED, crimson-perf

#59049 doc/README.md - allocate information correctly
  README.md
Labels: documentation

#58835 squid: crimson/os/seastore: track transactions/conflicts/outstanding periodically
  src/crimson/os/seastore/async_cleaner.cc
  src/crimson/os/seastore/async_cleaner.h
  src/crimson/os/seastore/seastore.cc
  src/crimson/os/seastore/seastore.h
  src/crimson/os/seastore/seastore_types.h
  src/crimson/os/seastore/transaction_manager.cc
  src/crimson/os/seastore/transaction_manager.h
  src/crimson/osd/osd.cc
  src/crimson/tools/store_nbd/tm_driver.cc
  src/crimson/tools/store_nbd/tm_driver.h
  src/test/crimson/seastore/transaction_manager_test_state.h
Labels: tests, crimson, TESTED, ready-to-merge, crimson backport squid

#58837 squid: crimson/os/seastore/transaction_manager: consider inconsistency between backrefs and lbas acceptable when cleaning segments
  src/crimson/os/seastore/transaction_manager.cc
Labels: crimson, TESTED, ready-to-merge, crimson backport squid

#58839 squid: crimson: audit and correct epoch captured by IOInterruptCondition
  src/crimson/admin/pg_commands.cc
  src/crimson/osd/osd_operations/background_recovery.cc
  src/crimson/osd/osd_operations/client_request.cc
  src/crimson/osd/osd_operations/internal_client_request.cc
  src/crimson/osd/osd_operations/internal_client_request.h
  src/crimson/osd/osd_operations/logmissing_request.cc
  src/crimson/osd/osd_operations/logmissing_request_reply.cc
  src/crimson/osd/osd_operations/peering_event.cc
  src/crimson/osd/osd_operations/recovery_subrequest.cc
  src/crimson/osd/osd_operations/replicated_request.cc
  src/crimson/osd/osd_operations/scrub_events.cc
  src/crimson/osd/pg.cc
  src/crimson/osd/pg_interval_interrupt_condition.cc
  src/crimson/osd/pg_interval_interrupt_condition.h
Labels: crimson, crimson backport squid

#58841 squid: crimson: access coll_map under alien tp with a lock
  src/crimson/os/alienstore/alien_store.cc
  src/crimson/os/alienstore/alien_store.h
Labels: crimson, TESTED, ready-to-merge, crimson backport squid

#58885 squid: src/crimson/osd/scrub: fix the null pointer error
  src/crimson/osd/scrub/scrub_validator.cc
Labels: core, crimson, TESTED, ready-to-merge, crimson backport squid

#58958 squid: crimson/osd/pg_recovery: push the iteration forward after finding unfound objects when starting primary recoveries
  src/crimson/osd/pg_recovery.cc
Labels: core, crimson, crimson backport squid

#58583 qa/cephfs: fix TestRenameCommand and unmount the clinet before failin…
  qa/tasks/cephfs/test_admin.py
Labels: cephfs, tests, wip-vshankar-testing4

#50551 quincy: mon: add proxy to cache tier options
  doc/man/8/ceph.rst
  qa/workunits/cephtool/test.sh
  src/mon/MonCommands.h
  src/mon/OSDMonitor.cc
Labels: documentation, core, needs-qa, tests, mon, TESTED, ready-to-merge

#59030 qa/crontab: force priority for main rados nightlies
  qa/crontab/teuthology-cronjobs
Labels: tests

#57488 quincy: qa/suites/rados/singleton: add POOL_APP_NOT_ENABLED to ignorelist
  qa/suites/rados/singleton/all/mon-config-keys.yaml
Labels: core, needs-qa, tests, TESTED, ready-to-merge

#54533 reef: mgr: remove out&down osd from mgr daemons
  src/mgr/Mgr.cc
Labels: core, needs-qa, wip-yuri2-testing, mgr

#55015 reef: tools/ceph_objectstore_tool: Support get/set/superblock
  doc/man/8/ceph-objectstore-tool.rst
  src/tools/ceph_objectstore_tool.cc
Labels: documentation, core, needs-qa, tools, wip-yuri2-testing

#59091 doc/README.md - add "tip" alert styling
  README.md
Labels: documentation

#55135 reef: osd: do not assert on fast shutdown timeout
  src/osd/OSD.cc
Labels: core, needs-qa, wip-yuri2-testing, backport

#55136 reef: os: introduce ObjectStore::refresh_perf_counters() method
  src/os/ObjectStore.h
  src/os/bluestore/BlueStore.cc
  src/os/bluestore/BlueStore.h
  src/os/kstore/KStore.h
  src/os/memstore/MemStore.h
  src/test/objectstore/store_test.cc
Labels: core, needs-qa, tests, wip-yuri2-testing, bluestore, backport
