Repository ceph/ceph, pull requests merged in 2024-09, with the labels that each got.

#59544 doc: update tests-integration-testing-teuthology-workflow.rst
  doc/dev/developer_guide/testing_integration_tests/tests-integration-testing-teuthology-workflow.rst
Labels: documentation

#59549 reef: doc: update tests-integration-testing-teuthology-workflow.rst
  doc/dev/developer_guide/testing_integration_tests/tests-integration-testing-teuthology-workflow.rst
Labels: documentation

#59547 Revert SPDK rpc fields in nvmeof configuration
  src/pybind/mgr/cephadm/services/nvmeof.py
  src/pybind/mgr/cephadm/templates/services/nvmeof/ceph-nvmeof.conf.j2
  src/pybind/mgr/cephadm/tests/test_services.py
  src/python-common/ceph/deployment/service_spec.py
Labels: pybind, cephadm

#59548 squid: doc: update tests-integration-testing-teuthology-workflow.rst
  doc/dev/developer_guide/testing_integration_tests/tests-integration-testing-teuthology-workflow.rst
Labels: documentation

#58543 cephfs: disallow removing root_squash via "fs authorize" cmd
  qa/tasks/cephfs/test_admin.py
  src/mds/MDSAuthCaps.cc
Labels: bug-fix, cephfs, tests, needs-review, wip-vshankar-testing5

#59556 doc: Correct link to Prometheus docs
  doc/cephadm/services/monitoring.rst
Labels: documentation, cephadm

#59496 mgr/dashboard: carbon datatable minor bug fixes
  src/pybind/mgr/dashboard/frontend/cypress/e2e/block/images.po.ts
  src/pybind/mgr/dashboard/frontend/cypress/e2e/cluster/configuration.po.ts
  src/pybind/mgr/dashboard/frontend/cypress/e2e/multi-cluster/multi-cluster.e2e-spec.ts
  src/pybind/mgr/dashboard/frontend/cypress/e2e/multi-cluster/multi-cluster.po.ts
  src/pybind/mgr/dashboard/frontend/cypress/e2e/page-helper.po.ts
  src/pybind/mgr/dashboard/frontend/cypress/e2e/rgw/buckets.po.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/nvmeof-initiators-list/nvmeof-initiators-list.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/nvmeof-listeners-list/nvmeof-listeners-list.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/nvmeof-namespaces-list/nvmeof-namespaces-list.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-details/rbd-details.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-list/rbd-list.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-list/rbd-list.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/configuration/configuration-details/configuration-details.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/create-cluster/create-cluster-review.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/monitor/monitor.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/multi-cluster/multi-cluster-list/multi-cluster-list.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/services/service-form/service-form.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-bucket-details/rgw-bucket-details.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-config-modal/rgw-config-modal.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-configuration-page/rgw-configuration-page.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-configuration-page/rgw-configuration-page.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-multisite-details/rgw-multisite-details.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-user-details/rgw-user-details.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-user-details/rgw-user-details.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-user-details/rgw-user-details.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/classes/list-with-details.class.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/classes/table-status-view-cache.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/classes/table-status-view-cache.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/classes/table-status.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/classes/table-status.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/datatable/crud-table/crud-table.component.html
  src/pybind/mgr/dashboard/frontend/src/app/shared/datatable/table-actions/table-actions.component.html
  src/pybind/mgr/dashboard/frontend/src/app/shared/datatable/table-actions/table-actions.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/shared/datatable/table-actions/table-actions.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/datatable/table/table.component.html
Labels: pybind, dashboard

#59559 squid: doc: Correct link to Prometheus docs
  doc/cephadm/services/monitoring.rst
Labels: documentation, cephadm

#59560 reef: doc: Correct link to Prometheus docs
  doc/cephadm/services/monitoring.rst
Labels: documentation, cephadm

#59478 rbd: amend "rbd {group,} rename" and "rbd mirror pool" command descriptions
  src/test/cli/rbd/help.t
  src/tools/rbd/action/Group.cc
  src/tools/rbd/action/MirrorPool.cc
  src/tools/rbd/action/Rename.cc
Labels: rbd, tests

#59554 mgr/dashboard: Wrong(half) uid is observed in dashboard
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-user-details/rgw-user-details.component.html
Labels: pybind, dashboard

#59368 crimson/osd: support backfill cancellation ---- part2
  src/crimson/osd/backfill_state.cc
  src/crimson/osd/backfill_state.h
  src/crimson/osd/pg.cc
  src/crimson/osd/pg_recovery.cc
  src/crimson/osd/pg_recovery.h
  src/test/crimson/test_backfill.cc
Labels: tests, crimson, TESTED, ready-to-merge, wip-matan-testing, crimson-replicated-recovery

#59545 doc/radosgw: Improve config-ref.rst
  doc/radosgw/config-ref.rst
Labels: documentation

#59546 doc/rados/operations: Improve health-checks.rst
  doc/rados/operations/health-checks.rst
Labels: documentation, core

#59407 crimson/osd/pg: only mutate obc for user triggerred transactions
  src/crimson/osd/ec_backend.cc
  src/crimson/osd/ec_backend.h
  src/crimson/osd/osd_operations/snaptrim_event.cc
  src/crimson/osd/pg.cc
  src/crimson/osd/pg.h
  src/crimson/osd/pg_backend.cc
  src/crimson/osd/pg_backend.h
  src/crimson/osd/replicated_backend.cc
  src/crimson/osd/replicated_backend.h
Labels: bug-fix, crimson, TESTED, ready-to-merge, wip-matan-testing, crimson-replicated-recovery

#59185 crimson: early config checks and version
  src/common/version.cc
  src/crimson/osd/main_config_bootstrap_helpers.cc
Labels: common, crimson, needs-crimson-qa

#59577 doc/mds: improve wording
  doc/cephfs/add-remove-mds.rst
Labels: documentation, cephfs

#59578 squid: doc/radosgw: Improve config-ref.rst
  doc/radosgw/config-ref.rst
Labels: documentation

#59535 qa/rgw/multisite: specify realm/zonegroup/zone args for 'account create'
  qa/suites/rgw/multisite/realms/three-zones.yaml.disabled
  qa/suites/rgw/multisite/realms/two-zonegroup.yaml.disabled
  qa/suites/rgw/multisite/realms/two-zones.yaml
  qa/tasks/rgw_multisite.py
  qa/tasks/rgw_multisite_tests.py
Labels: rgw, tests, TESTED

#59561 quincy: doc: Correct link to Prometheus docs
  doc/cephadm/services/monitoring.rst
Labels: documentation, cephadm

#57854 neorados: Fix use-after-move in Builder::build_
  src/neorados/RADOS.cc
Labels: bug-fix, needs-qa, wip-yuval-testing

#59489 rgw/cls_rgw: integer is being interpreted as a character code when assigning it to a string
  src/cls/rgw/cls_rgw.cc
Labels: rgw, needs-qa, wip-yuval-testing, GSoC / Outreachy

#57878 cls: avoid reusing moved-from buffers in cls_queue_src.cc
  src/cls/queue/cls_queue_src.cc
Labels: rgw, needs-qa, wip-yuval-testing, GSoC / Outreachy

#59588 mon: enable nvmeof gw monitor
  src/mon/Monitor.cc
  src/mon/Monitor.h
  src/mon/mon_types.h
Labels: core, mon

#57896 ptl-tool.py: replace regular strings with raw string literal for regular expressions
  src/script/ptl-tool.py
Labels: script

#59446 squid: mgr/dashboard: Add group field in nvmeof service form
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/services/service-form/service-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/services/service-form/service-form.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/services/service-form/service-form.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/models/service.interface.ts
Labels: pybind, dashboard

#59102 crimson/osd/pg: fix wrong lambda capture of transactions in `PG::submit_error_log()`
  src/crimson/osd/pg.cc
Labels: bug-fix, crimson, TESTED, ready-to-merge, wip-matan-testing

#59562 rgw/notifications: update release notes with fix to principalId
  PendingReleaseNotes
Labels: documentation

#59551 librbd/migration: prune snapshot extents in RawFormat::list_snaps()
  qa/workunits/rbd/cli_migration.sh
  src/librbd/ImageCtx.cc
  src/librbd/io/Utils.cc
  src/librbd/io/Utils.h
  src/librbd/migration/NativeFormat.cc
  src/librbd/migration/QCOWFormat.cc
  src/librbd/migration/RawFormat.cc
  src/test/librbd/migration/test_mock_RawFormat.cc
Labels: bug-fix, rbd, tests, wip-dis-testing

#59573 ceph-volume: fix generic activation with raw osds
  src/ceph-volume/ceph_volume/activate/main.py
Labels: ceph-volume, wip-guits-main

#59587 quincy: doc/mds: improve wording
  doc/cephfs/add-remove-mds.rst
Labels: documentation, cephfs

#59586 reef: doc/mds: improve wording
  doc/cephfs/add-remove-mds.rst
Labels: documentation, cephfs

#59585 squid: doc/mds: improve wording
  doc/cephfs/add-remove-mds.rst
Labels: documentation, cephfs

#59582 squid: doc/rados/operations: Improve health-checks.rst
  doc/rados/operations/health-checks.rst
Labels: documentation, core

#59583 reef: doc/rados/operations: Improve health-checks.rst
  doc/rados/operations/health-checks.rst
Labels: documentation, core

#56447 quincy: RGW: allow user disabling presigned urls in rgw configuration
  src/common/options/rgw.yaml.in
  src/rgw/rgw_auth.cc
  src/rgw/rgw_common.h
  src/rgw/rgw_rest_s3.cc
Labels: rgw, needs-qa, common, TESTED, ready-to-merge

#59530 qa/tests: fix test_list_enabled_modules timeout error
  qa/tasks/mgr/dashboard/test_mgr_module.py
Labels: tests, dashboard

#59490 rgw/rgw_aio: forwarding reference passed to std::move()
  src/rgw/rgw_aio.cc
Labels: rgw, wip-yuval-testing, GSoC / Outreachy

#56145 quincy: rgw/notification: Kafka persistent notifications not retried and removed even when the broker is down
  src/rgw/rgw_kafka.cc
Labels: rgw, needs-qa, wip-yuri5-testing

#56616 quincy: rgw/swift: preserve dashes/underscores in swift user metadata names
  qa/suites/rgw/tempest/tasks/rgw_tempest.yaml
  src/rgw/rgw_common.cc
  src/rgw/rgw_common.h
  src/rgw/rgw_op.cc
  src/rgw/rgw_rest.cc
  src/rgw/rgw_rest_swift.cc
Labels: rgw, needs-qa, wip-yuri5-testing

#59474 osd: fix require_min_compat_client handling for msr rules
  qa/tasks/ceph_manager.py
  src/common/ceph_strings.cc
  src/include/ceph_features.h
  src/mon/OSDMonitor.cc
  src/mon/OSDMonitor.h
  src/osd/OSDMap.cc
Labels: core, tests, common, mon, TESTED, ready-to-merge, needs-upgrade-testing

#59570 crimson/os/seastore: cleanup lba/backref node capacity
  src/crimson/common/fixed_kv_node_layout.h
  src/crimson/os/seastore/backref/backref_tree_node.h
  src/crimson/os/seastore/btree/btree_range_pin.h
  src/crimson/os/seastore/lba_manager/btree/lba_btree_node.h
Labels: crimson, wip-yingxin-testing, needs-crimson-seastore-qa

#58438 crimson/os/seastore/rbm: write merge-able ool extents at once
  src/crimson/os/seastore/extent_placement_manager.cc
  src/crimson/os/seastore/extent_placement_manager.h
Labels: common, crimson, wip-yingxin-testing, crimson-perf, needs-crimson-seastore-qa

#59414 mds: move fscrypt inode_t metadata to mds_co mempool
  src/include/buffer.h
  src/include/cephfs/types.h
  src/mds/CInode.cc
  src/mds/Locker.cc
  src/mds/MDCache.cc
  src/mds/Server.cc
Labels: cephfs, needs-review, wip-pdonnell-testing

#59613 doc/rados: add link to messenger v2 info in mon-lookup-dns.rst
  doc/rados/configuration/mon-lookup-dns.rst
Labels: documentation, core

#59386 rgw: decrement qlen/qactive perf counters on error
  src/rgw/rgw_process.cc
Labels: bug-fix, rgw, needs-qa, wip-mkogan-testing

#59492 squid: osd: fix require_min_compat_client handling for msr rules
  qa/tasks/ceph_manager.py
  src/common/ceph_strings.cc
  src/include/ceph_features.h
  src/mon/OSDMonitor.cc
  src/mon/OSDMonitor.h
  src/osd/OSDMap.cc
Labels: core, tests, common, mon, TESTED, ready-to-merge, needs-upgrade-testing

#59604 ceph-volume: pass self.osd_id to create_id() call
  src/ceph-volume/ceph_volume/objectstore/rawbluestore.py
Labels: ceph-volume, wip-guits-main

#59170 ceph-volume: switch over to new disk sorting behavior
  src/ceph-volume/ceph_volume/devices/lvm/batch.py
Labels: ceph-volume, wip-guits-main

#59600 quincy: rbd: amend "rbd {group,} rename" and "rbd mirror pool" command descriptions
  src/test/cli/rbd/help.t
  src/tools/rbd/action/Group.cc
  src/tools/rbd/action/MirrorPool.cc
  src/tools/rbd/action/Rename.cc
Labels: rbd, tests

#56597 rgw reshard: optimize reshard process to minimum blocking time
  doc/radosgw/dynamicresharding.rst
  qa/suites/rgw/verify/overrides.yaml
  qa/workunits/rgw/test_rgw_reshard.py
  src/cls/rgw/cls_rgw.cc
  src/cls/rgw/cls_rgw_client.cc
  src/cls/rgw/cls_rgw_client.h
  src/cls/rgw/cls_rgw_const.h
  src/cls/rgw/cls_rgw_ops.cc
  src/cls/rgw/cls_rgw_ops.h
  src/cls/rgw/cls_rgw_types.cc
  src/cls/rgw/cls_rgw_types.h
  src/common/options/rgw.yaml.in
  src/doc/rgw/noblock-reshard.md
  src/rgw/driver/rados/rgw_bucket.cc
  src/rgw/driver/rados/rgw_rados.cc
  src/rgw/driver/rados/rgw_rados.h
  src/rgw/driver/rados/rgw_reshard.cc
  src/rgw/driver/rados/rgw_reshard.h
  src/rgw/rgw_admin.cc
  src/rgw/rgw_bucket_layout.cc
  src/rgw/rgw_bucket_layout.h
  src/rgw/rgw_common.cc
  src/rgw/services/svc_bi.h
  src/rgw/services/svc_bi_rados.cc
  src/rgw/services/svc_bi_rados.h
  src/test/cli/radosgw-admin/help.t
  src/test/cls_rgw/test_cls_rgw.cc
  src/tools/ceph-dencoder/rgw_types.h
Labels: documentation, rgw, tests, common, performance, TESTED, ready-to-merge, wip-bharath5-testing

#59202 squid: debian pkg: record python3-packaging dependency for ceph-volume
  ceph.spec.in
  src/ceph-volume/setup.py
Labels: build/ops, ceph-volume, wip-guits-squid

#59622 squid: ceph-volume: pass self.osd_id to create_id() call
  src/ceph-volume/ceph_volume/objectstore/rawbluestore.py
Labels: ceph-volume

#59598 squid: ceph-volume: fix generic activation with raw osds
  src/ceph-volume/ceph_volume/activate/main.py
Labels: ceph-volume

#59575 mgr/dashboard: Fix variable capitalization in embedded rbd-details panel
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-details/rbd-details.component.ts
Labels: pybind, dashboard

#59630 doc/README.md: edit "Build Prerequisites"
  README.md
Labels: documentation

#59579 gw deleting state
  src/mon/NVMeofGwMap.cc
  src/mon/NVMeofGwMap.h
  src/mon/NVMeofGwMon.cc
  src/mon/NVMeofGwMon.h
  src/mon/NVMeofGwSerialize.h
  src/mon/NVMeofGwTypes.h
Labels: core, tests, mon

#57388 mgr/snap_schedule: correctly fetch mds_max_snaps_per_dir from mds
  qa/tasks/cephfs/test_snap_schedules.py
  src/pybind/mgr/snap_schedule/fs/schedule_client.py
Labels: cephfs, tests, pybind, wip-mchangir-testing3

#59623 squid: ceph-volume: switch over to new disk sorting behavior
  src/ceph-volume/ceph_volume/devices/lvm/batch.py
Labels: ceph-volume, wip-guits-squid

#59637 squid: doc/README.md: edit "Build Prerequisites"
  README.md
Labels: documentation

#59463 reef: qa/distros: reinstall nvme-cli on centos 9 nodes
  qa/distros/container-hosts/centos_9.stream.yaml
  qa/distros/container-hosts/centos_9.stream_runc.yaml
Labels: tests, wip-adk3-testing

#58687 reef: mon/ElectionLogic: tie-breaker mon ignore proposal from marked down mon
  qa/suites/netsplit/ceph.yaml
  qa/suites/netsplit/cluster.yaml
  qa/suites/netsplit/tests/2-dc-1-arbiter-stretch-cluster-netsplit.yaml
  qa/suites/netsplit/tests/mon_pool_ops.yaml
  qa/tasks/ceph_test_case.py
  qa/tasks/netsplit.py
  qa/tasks/test_netsplit.py
  qa/workunits/mon/setup_stretch_cluster.sh
  src/mon/ElectionLogic.cc
  src/mon/ElectionLogic.h
  src/mon/Elector.cc
  src/mon/Elector.h
  src/mon/MonMap.h
  src/test/mon/test_election.cc
Labels: core, tests, mon, wip-ksirivad-testing, backport reef

#59201 reef: debian pkg: record python3-packaging dependency for ceph-volume
  ceph.spec.in
  src/ceph-volume/setup.py
Labels: build/ops, ceph-volume

#59262 reef: ceph-volume: Fix unbound var in disk.get_devices()
  src/ceph-volume/ceph_volume/util/disk.py
Labels: ceph-volume, wip-guits-reef

#59592 leonidc0409 blocklist fix
  src/mon/NVMeofGwMap.cc
Labels: core, mon

#59628 doc/dev: add "activate latest release" RTD step
  doc/dev/release-checklists.rst
Labels: documentation

#59654 squid: doc/dev: add "activate latest release" RTD step
  doc/dev/release-checklists.rst
Labels: documentation

#59590 osd/scrub: add configuration parameters to control delay duration
  qa/standalone/scrub/osd-recovery-scrub.sh
  qa/standalone/scrub/scrub-helpers.sh
  src/common/options/osd.yaml.in
  src/osd/scrubber/pg_scrubber.cc
  src/osd/scrubber/scrub_job.cc
  src/osd/scrubber/scrub_job.h
  src/osd/scrubber/scrub_machine.cc
  src/osd/scrubber/scrub_machine.h
  src/osd/scrubber_common.h
Labels: core, tests, common

#59601 reef: rbd: amend "rbd {group,} rename" and "rbd mirror pool" command descriptions
  src/test/cli/rbd/help.t
  src/tools/rbd/action/Group.cc
  src/tools/rbd/action/MirrorPool.cc
  src/tools/rbd/action/Rename.cc
Labels: rbd, tests

#59553 crimson/os/seastore/cache: report cache access stats
  src/crimson/os/seastore/backref/btree_backref_manager.cc
  src/crimson/os/seastore/btree/fixed_kv_node.h
  src/crimson/os/seastore/cache.cc
  src/crimson/os/seastore/cache.h
  src/crimson/os/seastore/cached_extent.h
  src/crimson/os/seastore/lba_manager/btree/btree_lba_manager.cc
  src/crimson/os/seastore/seastore.cc
  src/crimson/os/seastore/seastore_types.cc
  src/crimson/os/seastore/seastore_types.h
  src/crimson/os/seastore/transaction_manager.h
Labels: crimson, TESTED, crimson-perf

#59642 doc/cephadm: add malformed-JSON removal instructions
  doc/cephadm/upgrade.rst
Labels: documentation, cephadm

#59070 squid: cephfs_mirror: provide metrics for last successful snapshot sync
  doc/cephfs/cephfs-mirroring.rst
  qa/tasks/cephfs/test_mirroring.py
  src/tools/cephfs_mirror/PeerReplayer.cc
  src/tools/cephfs_mirror/PeerReplayer.h
Labels: documentation, cephfs, tests, wip-lxb-testing-squid3

#59068 squid: qa/suites: drop --show-reachable=yes from fs:valgrind tests
  qa/suites/fs/valgrind/mirror/cephfs-mirror/one-per-cluster.yaml
Labels: cephfs, tests, wip-lxb-testing-squid3

#58984 squid: cephfs_mirror: use snapdiff api for incremental syncing
  src/tools/cephfs_mirror/PeerReplayer.cc
  src/tools/cephfs_mirror/PeerReplayer.h
Labels: cephfs, wip-lxb-testing-squid3

#59607 rgw/notifications: free completion pointer using unique_ptr
  src/rgw/driver/rados/rgw_notify.cc
Labels: rgw, ready-to-merge

#59000 rbd/bench: Add ability to write a random string of bytes or a specific byte with --pattern-byte option
  src/test/cli/rbd/help.t
  src/tools/rbd/action/Bench.cc
Labels: feature, rbd, tests

#59657 tools/rbd_ggate: fix sign of errno
  src/tools/rbd_ggate/ggate_drv.c
Labels: bug-fix, rbd

#59596 squid: mgr/dashboard: Zone details showing incorrect data for data pool values and compression info for Storage Classes
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-multisite-zone-form/rgw-multisite-zone-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-multisite-zone-form/rgw-multisite-zone-form.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-multisite-zone-form/rgw-multisite-zone-form.component.ts
Labels: dashboard, backport: no-conflicts

#59014 rgw/beast: optimize for accept when meeting error in listenning
  src/rgw/rgw_asio_frontend.cc
Labels: rgw, needs-qa, wip-cbodley-testing

#59534 rgw: raise default rgw_max_listing_results=5000
  src/common/options/rgw.yaml.in
Labels: rgw, needs-qa, common, performance, wip-cbodley-testing

#58815 cephadm: samba metrics exporter
  src/cephadm/cephadmlib/constants.py
  src/cephadm/cephadmlib/daemons/smb.py
  src/pybind/mgr/cephadm/module.py
  src/pybind/mgr/cephadm/service_discovery.py
  src/pybind/mgr/cephadm/services/monitoring.py
  src/pybind/mgr/cephadm/services/smb.py
  src/pybind/mgr/cephadm/templates/services/prometheus/prometheus.yml.j2
  src/pybind/mgr/cephadm/tests/test_service_discovery.py
  src/pybind/mgr/cephadm/tests/test_services.py
Labels: pybind, monitoring, cephadm, wip-adk-testing, wip-ssharon-test3

#59639 quincy: doc/README.md: edit "Build Prerequisites"
  README.md
Labels: documentation

#59458 reef: mgr/pybind/object_format: fix json-pretty being marked invalid
  src/pybind/mgr/object_format.py
Labels: pybind, mgr, wip-adk3-testing

#59453 reef: cephadm: add idmap.conf to nfs sample file
  src/cephadm/samples/nfs.json
Labels: cephadm, wip-adk3-testing

#58603 rgw/sal: LCHead and LCEntry don't need abstraction
  src/rgw/driver/dbstore/common/dbstore.cc
  src/rgw/driver/dbstore/common/dbstore.h
  src/rgw/driver/dbstore/sqlite/sqliteDB.cc
  src/rgw/driver/dbstore/tests/dbstore_tests.cc
  src/rgw/driver/rados/rgw_rados.cc
  src/rgw/driver/rados/rgw_rados.h
  src/rgw/driver/rados/rgw_sal_rados.cc
  src/rgw/driver/rados/rgw_sal_rados.h
  src/rgw/rgw_admin.cc
  src/rgw/rgw_lc.cc
  src/rgw/rgw_lc.h
  src/rgw/rgw_sal.h
  src/rgw/rgw_sal_dbstore.cc
  src/rgw/rgw_sal_dbstore.h
  src/rgw/rgw_sal_filter.cc
  src/rgw/rgw_sal_filter.h
  src/rgw/rgw_sal_store.h
Labels: rgw, TESTED, ready-to-merge

#59663 squid: doc/cephadm: add malformed-JSON removal instructions
  doc/cephadm/upgrade.rst
Labels: documentation, cephadm

#59664 reef: doc/cephadm: add malformed-JSON removal instructions
  doc/cephadm/upgrade.rst
Labels: documentation, cephadm

#59665 quincy: doc/cephadm: add malformed-JSON removal instructions
  doc/cephadm/upgrade.rst
Labels: documentation, cephadm

#59454 reef: cephadm: fix host-maintenance command always exiting with a failure
  src/cephadm/cephadm.py
  src/cephadm/tests/test_cephadm.py
Labels: cephadm, wip-adk3-testing

#59473 squid: mgr/orchestrator: fix encrypted flag handling in orch daemon add osd
  src/pybind/mgr/orchestrator/module.py
Labels: pybind, orchestrator, cephadm, wip-adk4-testing

#59138 squid: mgr/rgw: Adding a retry config while calling zone_create()
  src/pybind/mgr/rgw/module.py
  src/python-common/ceph/rgw/rgwam_core.py
Labels: pybind, cephadm, wip-adk4-testing

#58383 squid: mgr/cephadm: redeploy when some dependency daemon is add/removed
  src/pybind/mgr/cephadm/serve.py
  src/pybind/mgr/cephadm/tests/test_services.py
Labels: pybind, cephadm, wip-adk4-testing

#59677 doc/man: edit ceph-bluestore-tool.rst
  doc/man/8/ceph-bluestore-tool.rst
Labels: documentation

#58868 crimson/osd/pg: properly propagate snap mapper updates and do clean-region-based clone objects recovery
  src/crimson/osd/ec_backend.cc
  src/crimson/osd/object_metadata_helper.cc
  src/crimson/osd/ops_executer.cc
  src/crimson/osd/ops_executer.h
  src/crimson/osd/osd_operations/snaptrim_event.cc
  src/crimson/osd/osd_operations/snaptrim_event.h
  src/crimson/osd/pg.cc
  src/crimson/osd/pg.h
  src/crimson/osd/pg_backend.h
  src/crimson/osd/replicated_backend.cc
  src/osd/SnapMapper.cc
  src/osd/SnapMapper.h
  src/test/crimson/test_calc_subsets.cc
Labels: bug-fix, core, tests, crimson, TESTED, ready-to-merge, wip-matan-testing, crimson-replicated-recovery

#59675 doc/README.md: improve formatting
  README.md
Labels: documentation

#59107 librbd: make "group snap list" async and optionally sorted by snap creation time
  src/cls/rbd/cls_rbd_client.cc
  src/cls/rbd/cls_rbd_client.h
  src/librbd/CMakeLists.txt
  src/librbd/api/Group.cc
  src/librbd/api/Group.h
  src/librbd/group/ListSnapshotsRequest.cc
  src/librbd/group/ListSnapshotsRequest.h
  src/librbd/librbd.cc
  src/test/librados_test_stub/LibradosTestStub.cc
  src/test/librbd/test_Groups.cc
Labels: feature, rbd, tests, build/ops, wip-dis-testing

#58994 mgr/smb: add support for new ceph vfs module
  src/pybind/mgr/smb/enums.py
  src/pybind/mgr/smb/handler.py
  src/pybind/mgr/smb/tests/test_smb.py
Labels: pybind, wip-adk-testing

#59658 mgr/smb: stop trying to clean external store during cluster sync
  src/pybind/mgr/smb/handler.py
Labels: pybind, wip-adk-testing

#59643 mgr/cephadm: changing the nginx upstream image used by mgmt-gateway
  src/cephadm/cephadmlib/constants.py
  src/cephadm/cephadmlib/daemons/mgmt_gateway.py
  src/pybind/mgr/cephadm/module.py
Labels: pybind, cephadm, wip-adk-testing

#59610 mgr/cephadm: make ssh keepalive settings configurable
  src/pybind/mgr/cephadm/module.py
  src/pybind/mgr/cephadm/ssh.py
Labels: pybind, cephadm, wip-adk-testing

#56858 mgr/dashboard: use grafana server instead of grafana-server in grafana 10.4.0
  src/cephadm/cephadm.py
Labels: cephadm, wip-adk-testing

#59569 mgr/dashboard: Increase maximum namespace count to 1024
  src/pybind/mgr/dashboard/controllers/nvmeof.py
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/nvmeof-subsystems-form/nvmeof-subsystems-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/nvmeof-subsystems-form/nvmeof-subsystems-form.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/nvmeof-subsystems-form/nvmeof-subsystems-form.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/nvmeof.service.ts
  src/pybind/mgr/dashboard/openapi.yaml
Labels: pybind, dashboard, api-change

#59447 mgr/dashboard: Update nvmeof microcopies
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/nvmeof-gateway/nvmeof-gateway.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/nvmeof-initiators-list/nvmeof-initiators-list.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/nvmeof-listeners-list/nvmeof-listeners-list.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/nvmeof-namespaces-form/nvmeof-namespaces-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/nvmeof-subsystems/nvmeof-subsystems.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/services/service-form/service-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/shared/services/task-message.service.ts
Labels: pybind, dashboard

#59684 quincy: doc/man: edit ceph-bluestore-tool.rst
  doc/man/8/ceph-bluestore-tool.rst
Labels: documentation

#59683 reef: doc/man: edit ceph-bluestore-tool.rst
  doc/man/8/ceph-bluestore-tool.rst
Labels: documentation

#59682 squid: doc/man: edit ceph-bluestore-tool.rst
  doc/man/8/ceph-bluestore-tool.rst
Labels: documentation

#59702 quincy: doc/README.md: improve formatting
  README.md
Labels: documentation

#59485 cephadm: emit warning if daemon's image is not to be used
  src/cephadm/cephadm.py
Labels: cephadm, wip-adk-testing

#59066 crimson/osd: cancel ongoing pglog-based recoveries on recovery defering
  src/crimson/osd/osd_operations/background_recovery.cc
  src/crimson/osd/osd_operations/background_recovery.h
  src/crimson/osd/pg.cc
  src/crimson/osd/pg.h
  src/crimson/osd/pg_recovery.cc
  src/crimson/osd/pg_recovery.h
  src/crimson/osd/pg_recovery_listener.h
  src/osd/PG.h
  src/osd/PeeringState.cc
  src/osd/PeeringState.h
Labels: core, crimson, TESTED, ready-to-merge, wip-matan-testing

#59693 Squid: mgr/dashboard: Wrong(half) uid is observed in dashboard when user created via cli contains $ in its name
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-user-details/rgw-user-details.component.html
Labels: pybind, dashboard

#58999 quincy: src/ceph-volume/ceph_volume/devices/lvm/listing.py : lvm list filters with vg name
  src/ceph-volume/ceph_volume/devices/lvm/listing.py
Labels: ceph-volume, wip-guits-quincy

#58221 quincy: ceph-volume: create LVs when using partitions
  src/ceph-volume/ceph_volume/devices/lvm/prepare.py
Labels: ceph-volume

#59635 doc/rados: add "pgs not deep scrubbed in time" info
  doc/rados/operations/health-checks.rst
Labels: documentation, core

#59681 cephadm: bootstrap: verify orch module is running before setting cephadm backend
  src/cephadm/cephadm.py
Labels: cephadm, wip-adk-testing

#59655 reef: doc/dev: add "activate latest release" RTD step
  doc/dev/release-checklists.rst
Labels: documentation

#59700 squid: doc/README.md: improve formatting
  README.md
Labels: documentation

#59734 reef: doc/rados: add "pgs not deep scrubbed in time" info
  doc/rados/operations/health-checks.rst
Labels: documentation, core

#59733 squid: doc/rados: add "pgs not deep scrubbed in time" info
  doc/rados/operations/health-checks.rst
Labels: documentation, core

#59735 quincy: doc/rados: add "pgs not deep scrubbed in time" info
  doc/rados/operations/health-checks.rst
Labels: documentation, core

#59738 Make the discovery and gateway IPs configurable in NVMEof configuration
  src/pybind/mgr/cephadm/services/nvmeof.py
  src/pybind/mgr/cephadm/templates/services/nvmeof/ceph-nvmeof.conf.j2
  src/python-common/ceph/deployment/service_spec.py
Labels: pybind, cephadm, wip-adk-testing

#59656 quincy: doc/dev: add "activate latest release" RTD step
  doc/dev/release-checklists.rst
Labels: documentation

#59721 squid: mgr/dashboard: Rephrase dedicated pool helper in rbd create form
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-form/rbd-form.component.html
Labels: pybind, dashboard

#59576 mgr/dashboard: service form hosts selection only show up to 10 entries
  src/pybind/mgr/dashboard/controllers/host.py
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/nvmeof-listeners-form/nvmeof-listeners-form.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cephfs/cephfs-form/cephfs-form.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/services/service-form/service-form.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-multisite-import/rgw-multisite-import.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/host.service.ts
Labels: pybind, dashboard, api-change

#59482 mgr/dashboard: add gw_groups support to nvmeof api
  src/pybind/mgr/cephadm/services/nvmeof.py
  src/pybind/mgr/dashboard/controllers/nvmeof.py
  src/pybind/mgr/dashboard/openapi.yaml
  src/pybind/mgr/dashboard/services/nvmeof_cli.py
  src/pybind/mgr/dashboard/services/nvmeof_client.py
  src/pybind/mgr/dashboard/services/nvmeof_conf.py
Labels: pybind, dashboard, cephadm, api-change

#59717 squid: mgr/dashboard: Increase maximum namespace count to 1024
  src/pybind/mgr/dashboard/controllers/nvmeof.py
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/nvmeof-subsystems-form/nvmeof-subsystems-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/nvmeof-subsystems-form/nvmeof-subsystems-form.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/nvmeof-subsystems-form/nvmeof-subsystems-form.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/nvmeof.service.ts
  src/pybind/mgr/dashboard/openapi.yaml
Labels: pybind, dashboard, api-change

#55336 quincy: ceph-volume: use 'no workqueue' options with dmcrypt
  ceph.spec.in
  src/ceph-volume/ceph_volume/__init__.py
  src/ceph-volume/ceph_volume/devices/lvm/activate.py
  src/ceph-volume/ceph_volume/devices/lvm/batch.py
  src/ceph-volume/ceph_volume/devices/lvm/common.py
  src/ceph-volume/ceph_volume/devices/raw/common.py
  src/ceph-volume/ceph_volume/tests/util/test_encryption.py
  src/ceph-volume/ceph_volume/util/arg_validators.py
  src/ceph-volume/ceph_volume/util/device.py
  src/ceph-volume/ceph_volume/util/disk.py
  src/ceph-volume/ceph_volume/util/encryption.py
Labels: build/ops, ceph-volume, wip-guits-quincy

#59741 rgw/kafka: refactor topic creation to avoid rd_kafka_topic_name()
  src/rgw/rgw_kafka.cc
Labels: rgw, needs-qa

#59753 doc/install: Keep the name field of the created user consistent with …
  doc/install/manual-deployment.rst
Labels: documentation

#59564 crimson/osd: write require_osd_release only when needed
  src/crimson/osd/osd.cc
  src/crimson/osd/osd.h
Labels: bug-fix, crimson, wip-matan-testing, needs-crimson-qa

#59456 crimson/osd/pg: clear backfill_state when the PG goes clean
  src/crimson/osd/pg.cc
  src/crimson/osd/pg_recovery.cc
  src/crimson/osd/pg_recovery.h
Labels: bug-fix, crimson, wip-matan-testing, needs-crimson-qa, crimson-replicated-recovery

#59634 mgr/cephadm: adding spec fields for oauth2-proxy whitelist_domains
  src/pybind/mgr/cephadm/services/oauth2_proxy.py
  src/python-common/ceph/deployment/service_spec.py
Labels: pybind, cephadm, wip-adk-testing

#59757 reef: doc/install: Keep the name field of the created user consistent with …
  doc/install/manual-deployment.rst
Labels: documentation

#59758 quincy: doc/install: Keep the name field of the created user consistent with …
  doc/install/manual-deployment.rst
Labels: documentation

#59438 doc/rgw/d3n: pass cache dir volume to extra_container_args
  doc/radosgw/d3n_datacache.rst
Labels: documentation, rgw

#59718 squid: mgr/dashboard: Update nvmeof microcopies
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/nvmeof-gateway/nvmeof-gateway.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/nvmeof-initiators-list/nvmeof-initiators-list.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/nvmeof-listeners-list/nvmeof-listeners-list.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/nvmeof-namespaces-form/nvmeof-namespaces-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/nvmeof-subsystems/nvmeof-subsystems.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/services/service-form/service-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/shared/services/task-message.service.ts
Labels: pybind, dashboard

#59696 os/bluestore: perfect comments in hybrid_allocator
  src/os/bluestore/HybridAllocator_impl.h
Labels: core, bluestore

#59338 quincy: rgw : fix add initialization for RGWGC::process()
  src/rgw/rgw_gc.cc
Labels: rgw, needs-qa, TESTED, ready-to-merge

#59355 quincy: rgw: swift: tempurl fixes for ceph
  qa/suites/rgw/tempest/tasks/rgw_tempest.yaml
  src/common/ceph_crypto.h
  src/rgw/rgw_rest_swift.cc
  src/rgw/rgw_rest_swift.h
  src/rgw/rgw_swift_auth.cc
  src/rgw/rgw_swift_auth.h
Labels: rgw, needs-qa, tests, common, TESTED, ready-to-merge

#59651 quincy: ceph-volume: Fix unbound var in disk.get_devices()
  src/ceph-volume/ceph_volume/util/disk.py
Labels: ceph-volume, wip-guits-quincy

#59769 quincy: doc/rgw/d3n: pass cache dir volume to extra_container_args
  doc/radosgw/d3n_datacache.rst
Labels: documentation

#59768 reef: doc/rgw/d3n: pass cache dir volume to extra_container_args
  doc/radosgw/d3n_datacache.rst
Labels: documentation

#59767 squid: doc/rgw/d3n: pass cache dir volume to extra_container_args
  doc/radosgw/d3n_datacache.rst
Labels: documentation

#59732 doc/README.md: improve formatting
  README.md
Labels: documentation

#59638 reef: doc/README.md: edit "Build Prerequisites"
  README.md
Labels: documentation

#59701 reef: doc/README.md: improve formatting
  README.md
Labels: documentation

#59785 squid: doc/README.md: improve formatting
  README.md
Labels: documentation

#59636 osd/scrub: decrease default deep scrub chunk size
  src/common/options/osd.yaml.in
Labels: core, common, backport reef, backport squid

#59755 pybind/mgr/cephadm/services/nvmeof.py: allow setting '0.0.0.0' as add…
  src/pybind/mgr/cephadm/services/nvmeof.py
  src/python-common/ceph/deployment/service_spec.py
Labels: pybind, cephadm

#59801 doc/rados: add osd_deep_scrub_interval setting operation
  doc/rados/operations/health-checks.rst
Labels: documentation, core

#59799 reef: doc/README.md - add ordered list
  README.md
Labels: documentation
