Repository ceph/ceph, pull requests merged in 2024-07, with the labels that each got.

#58363 doc/start: s/overprovsioning/overprovisioning/
  doc/start/hardware-recommendations.rst
Labels: documentation

#58113 reef: qa: use centos9 for fs:upgrade
  qa/suites/fs/upgrade/featureful_client/old_client/centos_8.yaml
  qa/suites/fs/upgrade/featureful_client/old_client/centos_9.stream.yaml
  qa/suites/fs/upgrade/featureful_client/old_client/tasks/0-from/quincy.yaml
  qa/suites/fs/upgrade/featureful_client/old_client/tasks/1-client.yaml
  qa/suites/fs/upgrade/featureful_client/old_client/tasks/2-upgrade.yaml
  qa/suites/fs/upgrade/featureful_client/old_client/tasks/3-compat_client/yes.yaml
  qa/suites/fs/upgrade/featureful_client/upgraded_client/centos_8.yaml
  qa/suites/fs/upgrade/featureful_client/upgraded_client/centos_9.stream.yaml
  qa/suites/fs/upgrade/featureful_client/upgraded_client/tasks/0-from/quincy.yaml
  qa/suites/fs/upgrade/featureful_client/upgraded_client/tasks/1-client.yaml
  qa/suites/fs/upgrade/featureful_client/upgraded_client/tasks/2-upgrade.yaml
  qa/suites/fs/upgrade/featureful_client/upgraded_client/tasks/3-client-upgrade.yaml
  qa/suites/fs/upgrade/mds_upgrade_sequence/centos_8.stream_container_tools.yaml
  qa/suites/fs/upgrade/mds_upgrade_sequence/centos_9.stream.yaml
  qa/suites/fs/upgrade/nofs/centos_8.yaml
  qa/suites/fs/upgrade/nofs/centos_9.stream.yaml
  qa/suites/fs/upgrade/nofs/tasks/0-from/quincy.yaml
  qa/suites/fs/upgrade/nofs/tasks/1-upgrade.yaml
  qa/suites/fs/upgrade/upgraded_client/centos_8.yaml
  qa/suites/fs/upgrade/upgraded_client/centos_9.stream.yaml
  qa/suites/fs/upgrade/upgraded_client/tasks/0-from/pacific.yaml
  qa/suites/fs/upgrade/upgraded_client/tasks/0-install/quincy.yaml
  qa/suites/fs/upgrade/upgraded_client/tasks/2-clients/fuse-upgrade.yaml
  qa/suites/fs/upgrade/upgraded_client/tasks/2-clients/kclient.yaml
  qa/suites/fs/upgrade/upgraded_client/tasks/2-workload/.qa
  qa/suites/fs/upgrade/upgraded_client/tasks/2-workload/new_ops/0-clients/fuse-upgrade.yaml
  qa/suites/fs/upgrade/upgraded_client/tasks/2-workload/stress_tests/%
  qa/suites/fs/upgrade/upgraded_client/tasks/2-workload/stress_tests/.qa
  qa/suites/fs/upgrade/upgraded_client/tasks/2-workload/stress_tests/1-tests/.qa
  qa/suites/fs/upgrade/upgraded_client/tasks/3-workload/.qa
  qa/suites/fs/upgrade/upgraded_client/tasks/3-workload/new_ops/%
  qa/suites/fs/upgrade/upgraded_client/tasks/3-workload/new_ops/newops.yaml
  qa/suites/fs/upgrade/upgraded_client/tasks/3-workload/stress_tests/.qa
  qa/suites/fs/upgrade/upgraded_client/tasks/3-workload/stress_tests/blogbench.yaml
  qa/suites/fs/upgrade/upgraded_client/tasks/3-workload/stress_tests/dbench.yaml
  qa/suites/fs/upgrade/upgraded_client/tasks/3-workload/stress_tests/fsstress.yaml
  qa/suites/fs/upgrade/upgraded_client/tasks/3-workload/stress_tests/iozone.yaml
  qa/suites/fs/upgrade/upgraded_client/tasks/3-workload/stress_tests/kernel_untar_build.yaml
  qa/tasks/ceph_fuse.py
Labels: documentation, core, cephfs, tests, build/ops, wip-yuri5-testing

#58260 mgr/dashborad: RGW sync policy
  src/pybind/mgr/dashboard/controllers/rgw.py
  src/pybind/mgr/dashboard/frontend/cypress/e2e/rgw/multisite.e2e.spec.ts
  src/pybind/mgr/dashboard/frontend/cypress/e2e/rgw/multisite.po.ts
  src/pybind/mgr/dashboard/frontend/jest.config.cjs
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-multisite-details/rgw-multisite-details.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-multisite-details/rgw-multisite-details.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-multisite-details/rgw-multisite-details.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-multisite-sync-policy/rgw-multisite-sync-policy.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-multisite-sync-policy/rgw-multisite-sync-policy.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-multisite-sync-policy/rgw-multisite-sync-policy.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-multisite-sync-policy/rgw-multisite-sync-policy.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/rgw-multisite.service.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/rgw-multisite.service.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/datatable/table/table.component.html
  src/pybind/mgr/dashboard/frontend/src/app/shared/datatable/table/table.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/enum/cell-template.enum.ts
  src/pybind/mgr/dashboard/openapi.yaml
Labels: pybind, dashboard, api-change

#58365 quincy: doc/start: fix wording & syntax
  doc/start/hardware-recommendations.rst
Labels: documentation

#58364 reef: doc/start: fix wording & syntax
  doc/start/hardware-recommendations.rst
Labels: documentation

#57238 mgr/dashboard: add RGW lifecycle management
  src/pybind/mgr/dashboard/controllers/rgw.py
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-bucket-details/rgw-bucket-details.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-bucket-details/rgw-bucket-details.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-bucket-details/rgw-bucket-details.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-bucket-form/rgw-bucket-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-bucket-form/rgw-bucket-form.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/rgw-bucket.service.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/rgw-bucket.service.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/forms/cd-validators.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/pipes/pipes.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/pipes/xml.pipe.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/pipes/xml.pipe.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/services/json-to-xml.service.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/services/json-to-xml.service.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/services/text-area-json-formatter.service.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/services/text-area-xml-formatter.service.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/services/text-area-xml-formatter.service.ts
  src/pybind/mgr/dashboard/openapi.yaml
  src/pybind/mgr/dashboard/services/rgw_client.py
  src/pybind/mgr/dashboard/tests/test_rgw_client.py
Labels: pybind, dashboard, api-change

#58198 squid: Telemetry upgrade test fixes
  qa/suites/upgrade/telemetry-upgrade/pacific-x/0-random-distro$
  qa/suites/upgrade/telemetry-upgrade/quincy-x/1-tasks.yaml
  qa/suites/upgrade/telemetry-upgrade/reef-x/%
  qa/suites/upgrade/telemetry-upgrade/reef-x/.qa
  qa/suites/upgrade/telemetry-upgrade/reef-x/0-random-distro$
  qa/suites/upgrade/telemetry-upgrade/reef-x/0-start.yaml
  qa/suites/upgrade/telemetry-upgrade/reef-x/1-tasks.yaml
  qa/workunits/test_telemetry_pacific.sh
  qa/workunits/test_telemetry_pacific_x.sh
  qa/workunits/test_telemetry_quincy_x.sh
  qa/workunits/test_telemetry_reef_x.sh
Labels: tests, telemetry

#58372 quincy: doc/cephfs: update cephfs-shell link
  doc/cephfs/mount-prerequisites.rst
  doc/man/8/cephfs-shell.rst
Labels: documentation, cephfs

#58371 reef: doc/cephfs: update cephfs-shell link
  doc/cephfs/mount-prerequisites.rst
  doc/man/8/cephfs-shell.rst
Labels: documentation, cephfs

#58370 squid: doc/cephfs: update cephfs-shell link
  doc/cephfs/mount-prerequisites.rst
  doc/man/8/cephfs-shell.rst
Labels: documentation, cephfs

#57999 reef: qa/suites/rados/thrash-old-clients: update supported releases and distro
  qa/suites/rados/thrash-old-clients/0-distro$/centos_8.stream_container_tools.yaml
  qa/suites/rados/thrash-old-clients/0-distro$/ubuntu_20.04.yaml
  qa/suites/rados/thrash-old-clients/1-install/nautilus-v1only.yaml
  qa/suites/rados/thrash-old-clients/1-install/nautilus-v2only.yaml
  qa/suites/rados/thrash-old-clients/1-install/nautilus.yaml
Labels: core, tests, wip-yuri3-testing

#58151 squid: ceph-volume: fix set_dmcrypt_no_workqueue()
  src/ceph-volume/ceph_volume/tests/util/test_encryption.py
  src/ceph-volume/ceph_volume/util/encryption.py
Labels: ceph-volume, wip-guits-squid

#58219 squid: ceph-volume: create LVs when using partitions
  src/ceph-volume/ceph_volume/objectstore/lvmbluestore.py
Labels: ceph-volume, wip-guits-squid

#58341 squid: tests: make sure nvmetcli and nvme-cli are up to date
  qa/distros/container-hosts/centos_9.stream.yaml
  qa/distros/container-hosts/centos_9.stream_runc.yaml
  qa/tasks/nvme_loop.py
Labels: tests, wip-guits-squid

#57394 smb: improve smb module test coverage
  src/pybind/mgr/smb/fs.py
  src/pybind/mgr/smb/handler.py
  src/pybind/mgr/smb/internal.py
  src/pybind/mgr/smb/module.py
  src/pybind/mgr/smb/proto.py
  src/pybind/mgr/smb/resourcelib.py
  src/pybind/mgr/smb/resources.py
  src/pybind/mgr/smb/results.py
  src/pybind/mgr/smb/tests/test_enums.py
  src/pybind/mgr/smb/tests/test_fs.py
  src/pybind/mgr/smb/tests/test_handler.py
  src/pybind/mgr/smb/tests/test_resources.py
  src/pybind/mgr/smb/tests/test_smb.py
  src/pybind/mgr/smb/tests/test_utils.py
  src/pybind/mgr/smb/utils.py
  src/pybind/mgr/smb/validation.py
Labels: documentation, pybind, mgr, wip-adk-testing

#57338 pybind/mgr: mgr_module.py pep8/flake8 cleanups & tox updates
  src/pybind/mgr/CMakeLists.txt
  src/pybind/mgr/mgr_module.py
  src/pybind/mgr/mgr_util.py
  src/pybind/mgr/tox.ini
Labels: build/ops, pybind, mgr, wip-adk-testing

#57848 cephadm/services/ingress: fixed keepalived config bug
  src/pybind/mgr/cephadm/services/ingress.py
  src/pybind/mgr/cephadm/tests/test_services.py
Labels: pybind, cephadm, wip-adk-testing

#57975 cephadm: disable ms_bind_ipv4 if we will enable ms_bind_ipv6
  src/cephadm/cephadm.py
Labels: cephadm, wip-adk-testing

#58154 mgr: excute cmd 'ceph orch apply osd' returned without error info
  src/pybind/mgr/orchestrator/module.py
Labels: pybind, orchestrator, wip-adk-testing

#58230 mgr/cephadm: redeploy when some dependency daemon is add/removed
  src/pybind/mgr/cephadm/serve.py
  src/pybind/mgr/cephadm/tests/test_services.py
Labels: pybind, cephadm, wip-adk-testing

#58092 doc/start: remove mention of Centos 8 support
  doc/start/os-recommendations.rst
Labels: documentation

#55564 mgr/cephadm: Add Cert/Key Store
  src/pybind/mgr/cephadm/agent.py
  src/pybind/mgr/cephadm/inventory.py
  src/pybind/mgr/cephadm/migrations.py
  src/pybind/mgr/cephadm/module.py
  src/pybind/mgr/cephadm/serve.py
  src/pybind/mgr/cephadm/service_discovery.py
  src/pybind/mgr/cephadm/services/monitoring.py
  src/pybind/mgr/cephadm/tests/test_cephadm.py
  src/pybind/mgr/cephadm/tests/test_migration.py
  src/pybind/mgr/cephadm/tests/test_services.py
  src/pybind/mgr/orchestrator/_interface.py
  src/pybind/mgr/orchestrator/module.py
Labels: pybind, orchestrator, monitoring, cephadm, wip-adk-testing

#58266 squid: osd/ECBackend.cc: Fix double increment of num_shards_repaired stat
  src/osd/ECBackend.cc
Labels: core, needs-qa, TESTED, ready-to-merge

#57537 rgw/notification: Fix the caching issues of notification brokers, where the cache was not invalidated if topic attributes were changed
  PendingReleaseNotes
  src/rgw/driver/rados/rgw_notify.cc
  src/rgw/driver/rados/rgw_pubsub_push.cc
  src/rgw/rgw_kafka.cc
  src/rgw/rgw_kafka.h
  src/test/rgw/bucket_notification/test_bn.py
Labels: documentation, rgw, needs-qa, tests

#58081 notifications: report an error when persistent queue deletion failed
  src/rgw/rgw_pubsub.cc
Labels: rgw, needs-qa

#58389 squid: doc/start: remove mention of Centos 8 support
  doc/start/os-recommendations.rst
Labels: documentation

#58390 reef: doc/start: remove mention of Centos 8 support
  doc/start/os-recommendations.rst
Labels: documentation

#58375 qa/crontab: convert fs main run to monthly at higher priority
  qa/crontab/teuthology-cronjobs
Labels: cephfs, tests, needs-review

#58388 qa/tasks: Initialize 'monitoring_profiles' spec to an empty dict
  qa/tasks/cbt.py
Labels: tests

#57858 rgw/multisite: Fix use-after-move in retry logic in logbacking
  src/rgw/driver/rados/rgw_log_backing.cc
Labels: bug-fix, rgw, needs-qa, wip-cbodley-testing

#57985 rgw/adminops: add option to provide storageclass adminops user apis
  doc/radosgw/adminops.rst
  src/rgw/driver/rados/rgw_rest_user.cc
Labels: documentation, rgw, needs-qa, wip-cbodley-testing

#58085 squid: cephfs-shell: prints warning, hangs and aborts when launched
  src/tools/cephfs/shell/cephfs-shell
Labels: cephfs, wip-jcollin-testing-squid1

#57981 squid: client: set LIBMOUNT_FORCE_MOUNT2=always
  src/client/fuse_ll.cc
Labels: cephfs, wip-jcollin-testing-squid1

#57224 squid: mds: log at a lower level when stopping
  src/mds/MDCache.cc
  src/mds/MDSRank.cc
Labels: cephfs, wip-jcollin-testing-squid1

#58391 quincy: doc/start: remove mention of Centos 8 support
  doc/start/os-recommendations.rst
Labels: documentation

#57060 rgw: implement x-amz-replication-status for PENDING & COMPLETED
  src/rgw/driver/d4n/rgw_sal_d4n.cc
  src/rgw/driver/d4n/rgw_sal_d4n.h
  src/rgw/driver/daos/rgw_sal_daos.cc
  src/rgw/driver/daos/rgw_sal_daos.h
  src/rgw/driver/motr/rgw_sal_motr.cc
  src/rgw/driver/motr/rgw_sal_motr.h
  src/rgw/driver/posix/rgw_sal_posix.cc
  src/rgw/driver/posix/rgw_sal_posix.h
  src/rgw/driver/rados/rgw_bucket_sync.cc
  src/rgw/driver/rados/rgw_bucket_sync.h
  src/rgw/driver/rados/rgw_rados.cc
  src/rgw/driver/rados/rgw_rados.h
  src/rgw/driver/rados/rgw_sal_rados.cc
  src/rgw/driver/rados/rgw_sal_rados.h
  src/rgw/rgw_op.cc
  src/rgw/rgw_op.h
  src/rgw/rgw_rest_s3.cc
  src/rgw/rgw_sal.h
  src/rgw/rgw_sal_dbstore.cc
  src/rgw/rgw_sal_dbstore.h
  src/rgw/rgw_sal_filter.cc
  src/rgw/rgw_sal_filter.h
  src/rgw/rgw_sal_store.h
  src/rgw/rgw_sync_policy.cc
  src/rgw/rgw_sync_policy.h
  src/test/rgw/rgw_multi/tests.py
  src/test/rgw/rgw_multi/zone_rados.py
Labels: rgw, needs-qa, tests, wip-cbodley-testing

#58399 cls/rgw: bump cls_rgw_reshard_entry decode version to match encode
  src/cls/rgw/cls_rgw_types.h
Labels: rgw, needs-qa, wip-cbodley-testing

#58339 rgw: use s3website REST when higher priority and no host header
  src/rgw/rgw_rest.cc
Labels: rgw, needs-qa, wip-cbodley-testing

#58119 rgw_user: 'keys' is in undefined state after being moved.
  src/rgw/driver/rados/rgw_user.cc
Labels: cleanup, rgw, needs-qa, wip-cbodley-testing, GSoC / Outreachy

#58378 rgw: DoS when QuotaExceeded
  src/rgw/rgw_asio_frontend.cc
Labels: rgw, TESTED, ready-to-merge

#58403 rgw: fix bucket sync thread waiting inordinate amount of time
  src/rgw/rgw_quota.cc
Labels: bug-fix, rgw, TESTED, ready-to-merge

#58407 qa/workunits/rbd: minor rbd_mirror_helpers.sh fixes
  qa/workunits/rbd/rbd_mirror_helpers.sh
Labels: cleanup, rbd, tests

#58411 qa/suites/upgrade/reef-p2p/reef-p2p-parallel: increment upgrade to 18.2.2
  qa/suites/upgrade/reef-p2p/reef-p2p-parallel/point-to-point-upgrade.yaml
Labels: core, tests

#58088 reef: cephfs-shell: prints warning, hangs and aborts when launched
  src/tools/cephfs/shell/cephfs-shell
Labels: cephfs, wip-jcollin-testing-reef1

#57451 reef: cephfs_mirror: fix crash in update_fs_mirrors()
  src/tools/cephfs_mirror/FSMirror.h
Labels: bug-fix, cephfs, wip-jcollin-testing-reef1

#58395 test/allocsim: osd op scraper replayer
  src/test/objectstore/allocsim/ops_replayer.cc
Labels: tests

#58246 squid: mgr/dashboard: add dueTime to rgw bucket validator
  src/pybind/mgr/dashboard/frontend/cypress/e2e/rgw/buckets.po.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-bucket-form/rgw-bucket-form.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-user-form/rgw-user-form.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/forms/cd-validators.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/forms/cd-validators.ts
Labels: pybind, dashboard

#57716 mgr/dashboard: add api for rgw multisite replication wizard
  src/pybind/mgr/dashboard/controllers/multi_cluster.py
  src/pybind/mgr/dashboard/controllers/rgw.py
  src/pybind/mgr/dashboard/module.py
  src/pybind/mgr/dashboard/openapi.yaml
  src/pybind/mgr/dashboard/services/orchestrator.py
  src/pybind/mgr/dashboard/services/rgw_client.py
  src/pybind/mgr/dashboard/services/service.py
  src/pybind/mgr/dashboard/tests/test_rgw_client.py
Labels: pybind, mgr, dashboard, api-change

#58408 RGW|BN : change endpoint for http failing tests
  qa/suites/rgw/notifications/tasks/kafka/test_kafka.yaml
  qa/tasks/notification_tests.py
  src/test/rgw/bucket_notification/test_bn.py
Labels: rgw, tests

#58422 squid: RGW|Bucket notification: reload realm correctly
  src/test/rgw/bucket_notification/test_bn.py
Labels: rgw, tests

#58387 mgr/dashboard: RGW sync policy crud operations
  src/pybind/mgr/dashboard/frontend/cypress/e2e/rgw/multisite.e2e.spec.ts
  src/pybind/mgr/dashboard/frontend/cypress/e2e/rgw/multisite.po.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/models/rgw-multisite.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-multisite-details/rgw-multisite-details.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-multisite-details/rgw-multisite-details.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-multisite-sync-policy-form/rgw-multisite-sync-policy-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-multisite-sync-policy-form/rgw-multisite-sync-policy-form.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-multisite-sync-policy-form/rgw-multisite-sync-policy-form.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-multisite-sync-policy-form/rgw-multisite-sync-policy-form.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-multisite-sync-policy/rgw-multisite-sync-policy.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-multisite-sync-policy/rgw-multisite-sync-policy.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-multisite-sync-policy/rgw-multisite-sync-policy.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/rgw-multisite.service.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/rgw-multisite.service.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/services/task-message.service.ts
Labels: pybind, dashboard

#58309 quincy: doc/rados: update how to install c++ header files
  doc/rados/api/librados-intro.rst
Labels: documentation, core

#58429 cmake: work around xxhash 'inlining failed' errors in debug builds
  src/rgw/CMakeLists.txt
Labels: rgw, build/ops, ready-to-merge

#58434 doc/rgw: update s3 authentication
  doc/radosgw/s3/authentication.rst
Labels: documentation

#58431 squid: doc/rados: document manually passing search domain
  doc/rados/configuration/mon-lookup-dns.rst
Labels: documentation, core

#58432 reef: doc/rados: document manually passing search domain
  doc/rados/configuration/mon-lookup-dns.rst
Labels: documentation, core

#58433 quincy: doc/rados: document manually passing search domain
  doc/rados/configuration/mon-lookup-dns.rst
Labels: documentation, core

#58414 cmake: more object libraries depend on legacy-option-headers
  src/compressor/CMakeLists.txt
  src/crush/CMakeLists.txt
  src/erasure-code/jerasure/CMakeLists.txt
  src/mgr/CMakeLists.txt
  src/test/objectstore/CMakeLists.txt
Labels: core, tests, build/ops, mgr

#58220 reef: ceph-volume: create LVs when using partitions
  src/ceph-volume/ceph_volume/devices/lvm/prepare.py
Labels: ceph-volume, wip-guits-reef

#58421 reef: qa: fix log errors for cephadm tests
  qa/suites/orch/cephadm/mgr-nfs-upgrade/4-final.yaml
  qa/suites/orch/cephadm/osds/1-start.yaml
  qa/suites/orch/cephadm/smoke-roleless/1-start.yaml
  qa/suites/orch/cephadm/smoke-small/start.yaml
  qa/suites/orch/cephadm/smoke/start.yaml
  qa/suites/orch/cephadm/thrash/1-start.yaml
  qa/suites/orch/cephadm/upgrade/3-upgrade/simple.yaml
  qa/suites/orch/cephadm/upgrade/3-upgrade/staggered.yaml
  qa/suites/orch/cephadm/workunits/task/test_extra_daemon_features.yaml
  qa/suites/orch/cephadm/workunits/task/test_host_drain.yaml
  qa/suites/orch/cephadm/workunits/task/test_iscsi_container/test_iscsi_container.yaml
  qa/suites/orch/cephadm/workunits/task/test_set_mon_crush_locations.yaml
Labels: tests, cephadm, wip-guits-reef

#58420 squid: qa: fix log errors for cephadm tests
  qa/suites/fs/nfs/overrides/ignore_mgr_down.yaml
  qa/suites/orch/cephadm/mgr-nfs-upgrade/4-final.yaml
  qa/suites/orch/cephadm/osds/1-start.yaml
  qa/suites/orch/cephadm/smoke-roleless/1-start.yaml
  qa/suites/orch/cephadm/smoke-small/start.yaml
  qa/suites/orch/cephadm/smoke/start.yaml
  qa/suites/orch/cephadm/thrash/1-start.yaml
  qa/suites/orch/cephadm/upgrade/3-upgrade/simple.yaml
  qa/suites/orch/cephadm/upgrade/3-upgrade/staggered.yaml
  qa/suites/orch/cephadm/workunits/task/test_extra_daemon_features.yaml
  qa/suites/orch/cephadm/workunits/task/test_host_drain.yaml
  qa/suites/orch/cephadm/workunits/task/test_iscsi_container/test_iscsi_container.yaml
  qa/suites/orch/cephadm/workunits/task/test_monitoring_stack_basic.yaml
  qa/suites/orch/cephadm/workunits/task/test_set_mon_crush_locations.yaml
  qa/suites/rados/basic/tasks/rados_api_tests.yaml
Labels: core, cephfs, tests, cephadm

#58199 mgr: use un-deprecated APIs to initialize Python interpretor
  CMakeLists.txt
  src/mgr/PyModule.cc
  src/mgr/PyModule.h
  src/mgr/PyModuleRegistry.cc
  src/mgr/PyModuleRegistry.h
Labels: core, build/ops, mgr, wip-adk-testing

#56834 rgw/s3select : fix for error flow. add an option to disable s3select-request.
  src/common/options/rgw.yaml.in
  src/rgw/rgw_s3select.cc
  src/rgw/rgw_s3select_private.h
Labels: rgw, needs-qa, common

#58288 rgw: fix multipart get part when count==1
  src/rgw/driver/rados/rgw_rados.cc
Labels: bug-fix, rgw, needs-qa, wip-cbodley-testing

#58179 rgw: test that no asio threads are blocked on null_yield
  src/common/options/rgw.yaml.in
  src/rgw/CMakeLists.txt
  src/rgw/driver/rados/rgw_data_sync.cc
  src/rgw/driver/rados/rgw_lc_tier.cc
  src/rgw/driver/rados/rgw_notify.cc
  src/rgw/driver/rados/rgw_pubsub_push.cc
  src/rgw/driver/rados/rgw_pubsub_push.h
  src/rgw/driver/rados/rgw_rados.cc
  src/rgw/driver/rados/rgw_reshard.cc
  src/rgw/driver/rados/rgw_reshard.h
  src/rgw/driver/rados/rgw_sync.cc
  src/rgw/driver/rados/rgw_tools.cc
  src/rgw/driver/rados/rgw_tools.h
  src/rgw/rgw_appmain.cc
  src/rgw/rgw_asio_frontend.cc
  src/rgw/rgw_asio_thread.cc
  src/rgw/rgw_asio_thread.h
  src/rgw/rgw_auth_keystone.cc
  src/rgw/rgw_common.cc
  src/rgw/rgw_coroutine.cc
  src/rgw/rgw_cr_rest.cc
  src/rgw/rgw_cr_rest.h
  src/rgw/rgw_http_client.cc
  src/rgw/rgw_http_client.h
  src/rgw/rgw_keystone.cc
  src/rgw/rgw_kmip_client.cc
  src/rgw/rgw_kmip_client.h
  src/rgw/rgw_kms.cc
  src/rgw/rgw_opa.cc
  src/rgw/rgw_rest_client.cc
  src/rgw/rgw_rest_client.h
  src/rgw/rgw_rest_conn.cc
  src/rgw/rgw_rest_conn.h
  src/rgw/rgw_rest_sts.cc
  src/rgw/rgw_swift_auth.cc
  src/test/rgw/test_http_manager.cc
  src/test/rgw/test_rgw_reshard_wait.cc
Labels: rgw, needs-qa, tests, common, build/ops, wip-cbodley-testing

#57996 squid: rgw/notification: Store the value of `persistent_queue` for existing topics and continue commiting events for all topics subscribed to given bucket
  src/rgw/driver/rados/rgw_notify.cc
  src/rgw/rgw_rest_pubsub.cc
  src/test/rgw/bucket_notification/test_bn.py
Labels: rgw, tests, TESTED, ready-to-merge

#58356 crimson/os/seastore/onode: add hobject_t into Onode
  src/crimson/os/seastore/onode.cc
  src/crimson/os/seastore/onode.h
  src/crimson/os/seastore/onode_manager/staged-fltree/fltree_onode_manager.cc
  src/crimson/os/seastore/onode_manager/staged-fltree/fltree_onode_manager.h
  src/crimson/os/seastore/onode_manager/staged-fltree/tree.h
  src/crimson/os/seastore/onode_manager/staged-fltree/value.h
  src/test/crimson/seastore/onode_tree/test_value.h
  src/test/crimson/seastore/test_object_data_handler.cc
Labels: tests, crimson, wip-matan-testing, needs-crimson-seastore-qa

#57828 crimson/os/seastore/btree: improve lba pointer related UT checks
  src/crimson/os/seastore/btree/fixed_kv_btree.h
  src/crimson/os/seastore/btree/fixed_kv_node.h
Labels: crimson, wip-matan-testing, needs-crimson-seastore-qa

#57864 mgr/dashboard: Introduce NVMe/TCP navigation
  src/pybind/mgr/dashboard/controllers/nvmeof.py
  src/pybind/mgr/dashboard/frontend/src/app/app-routing.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/block.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/nvmeof-gateway/nvmeof-gateway.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/nvmeof-gateway/nvmeof-gateway.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/nvmeof-gateway/nvmeof-gateway.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/nvmeof-gateway/nvmeof-gateway.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/services/service-form/service-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/services/service-form/service-form.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/core/navigation/breadcrumbs/breadcrumbs.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/core/navigation/breadcrumbs/breadcrumbs.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/core/navigation/navigation/navigation.component.html
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/nvmeof.service.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/nvmeof.service.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/models/breadcrumbs.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/models/nvmeof.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/models/permission.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/models/permissions.ts
Labels: pybind, dashboard

#58114 mgr/dashboard: add a new configuration page in side nav bar Object > Configuration
  src/pybind/mgr/dashboard/frontend/cypress/e2e/rgw/buckets.e2e-spec.ts
  src/pybind/mgr/dashboard/frontend/cypress/e2e/rgw/buckets.po.ts
  src/pybind/mgr/dashboard/frontend/cypress/e2e/rgw/configuration.e2e-spec.ts
  src/pybind/mgr/dashboard/frontend/cypress/e2e/rgw/configuration.po.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/models/rgw-bucket-encryption.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-bucket-form/rgw-bucket-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-bucket-form/rgw-bucket-form.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-config-details/rgw-config-details.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-config-details/rgw-config-details.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-config-details/rgw-config-details.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-config-details/rgw-config-details.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-config-modal/rgw-config-modal.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-config-modal/rgw-config-modal.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-configuration-page/rgw-configuration-page.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-configuration-page/rgw-configuration-page.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-configuration-page/rgw-configuration-page.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-configuration-page/rgw-configuration-page.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/core/navigation/navigation/navigation.component.html
  src/pybind/mgr/dashboard/frontend/src/app/shared/models/rgw-encryption-config-keys.ts
  src/pybind/mgr/dashboard/services/ceph_service.py
Labels: pybind, dashboard

#58423 test/allocsim: ops scrapper arg parsing
  src/test/objectstore/CMakeLists.txt
  src/test/objectstore/allocsim/CMakeLists.txt
  src/test/objectstore/allocsim/ops_replayer.cc
Labels: tests, build/ops

#55917 debian: recursively adjust permissions of /var/lib/ceph/crash
  debian/ceph-base.postinst
Labels: core, needs-qa, build/ops, needs-reef-backport

#57353 crush/builder: free 'crush_rule' before return
  src/crush/CrushWrapper.cc
  src/crush/CrushWrapper.h
Labels: cleanup, core, needs-qa

#58454 doc/cephfs: fix typo
  doc/cephfs/multimds.rst
Labels: documentation, cephfs

#57784 squid: rgw/kafka: do not destroy the connection on errors
  src/rgw/rgw_kafka.cc
Labels: rgw, TESTED, ready-to-merge

#58072 squid: rgw: do not assert on thread name setting failures
  src/rgw/driver/rados/rgw_notify.cc
  src/rgw/rgw_amqp.cc
  src/rgw/rgw_kafka.cc
  src/rgw/rgw_lua_background.cc
  src/rgw/rgw_ratelimit.h
Labels: rgw, TESTED, ready-to-merge

#57570 reef: librbd: don't crash on a zero-length read if buffer is NULL
  src/osdc/Striper.cc
  src/test/librbd/fsx.cc
  src/test/librbd/test_librbd.cc
Labels: rbd, needs-qa, tests, wip-yuri6-testing

#57765 reef: qa/suites/rbd: override extra_system_packages directly on install task
  qa/suites/rbd/basic/tasks/rbd_python_api_tests_old_format.yaml
  qa/suites/rbd/device/workloads/diff-continuous-krbd.yaml
  qa/suites/rbd/device/workloads/diff-continuous-nbd.yaml
  qa/suites/rbd/librbd/workloads/python_api_tests.yaml
  qa/suites/rbd/librbd/workloads/python_api_tests_with_defaults.yaml
  qa/suites/rbd/librbd/workloads/python_api_tests_with_journaling.yaml
  qa/suites/rbd/mirror/workloads/compare-mirror-image-alternate-primary-krbd.yaml
  qa/suites/rbd/mirror/workloads/compare-mirror-image-alternate-primary-nbd.yaml
  qa/suites/rbd/mirror/workloads/compare-mirror-images-krbd.yaml
  qa/suites/rbd/mirror/workloads/compare-mirror-images-nbd.yaml
  qa/suites/rbd/valgrind/workloads/python_api_tests.yaml
  qa/suites/rbd/valgrind/workloads/python_api_tests_with_defaults.yaml
  qa/suites/rbd/valgrind/workloads/python_api_tests_with_journaling.yaml
Labels: rbd, needs-qa, tests, wip-yuri6-testing

#58211 reef: librbd: diff-iterate shouldn't crash on an empty byte range
  src/librbd/api/DiffIterate.cc
  src/test/librbd/test_librbd.cc
Labels: rbd, needs-qa, tests, wip-yuri6-testing

#58345 reef: librbd: make diff-iterate in fast-diff mode aware of encryption
  src/librbd/api/DiffIterate.cc
  src/test/librbd/test_librbd.cc
Labels: rbd, needs-qa, tests

#58207 reef: librbd: disallow group snap rollback if memberships don't match
  src/cls/rbd/cls_rbd_types.h
  src/librbd/api/Group.cc
  src/test/librados_test_stub/TestMemIoCtxImpl.cc
  src/test/librbd/test_Groups.cc
  src/test/pybind/test_rbd.py
Labels: rbd, needs-qa, tests

#53301 mds: prevent scrubbing for standby-replay MDS
  qa/tasks/cephfs/test_scrub_checks.py
  src/mds/MDSRank.cc
Labels: cephfs, tests, ready-to-merge

#58462 src/test/objectstore/allocism/ops_replayer.cc: fix rados import
  src/test/objectstore/allocsim/ops_replayer.cc
Labels: tests

#58303 mgr/dashboard: nfs export enhancement for CEPHFS
  src/pybind/mgr/dashboard/controllers/cephfs.py
  src/pybind/mgr/dashboard/frontend/src/app/ceph/nfs/nfs-form/nfs-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/nfs/nfs-form/nfs-form.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/nfs/nfs-form/nfs-form.component.ts
Labels: pybind, dashboard, nfs

#54327 os/bluestore: BufferSpace per Onode
  src/os/bluestore/BlueStore.cc
  src/os/bluestore/BlueStore.h
  src/os/bluestore/bluestore_types.h
  src/test/objectstore/store_test.cc
  src/test/objectstore/test_bluestore_types.cc
Labels: core, needs-qa, tests, performance, bluestore

#57369 tools/bluestore: Add command 'trim' to ceph-bluestore-tool
  doc/man/8/ceph-bluestore-tool.rst
  src/blk/BlockDevice.h
  src/blk/kernel/KernelDevice.cc
  src/os/bluestore/BlueFS.cc
  src/os/bluestore/BlueFS.h
  src/os/bluestore/BlueStore.cc
  src/os/bluestore/BlueStore.h
  src/os/bluestore/bluestore_tool.cc
Labels: documentation, core, needs-qa, performance, bluestore, aclamk-testing-ceres

#57890 os/bluestore: Fix ExtentDecoderPartial::_consume_new_blob
  src/os/bluestore/BlueStore.cc
Labels: core, needs-qa, bluestore, aclamk-testing-ceres

#55906 os/bluestore: store_test reproducible tests with seeds
  src/test/objectstore/store_test.cc
Labels: needs-qa, tests, aclamk-testing-ceres

#58466 test/librbd: clean up unused TEST_COOKIE variable
  src/test/librbd/exclusive_lock/test_mock_PostAcquireRequest.cc
  src/test/librbd/exclusive_lock/test_mock_PreAcquireRequest.cc
  src/test/librbd/exclusive_lock/test_mock_PreReleaseRequest.cc
Labels: cleanup, rbd, tests

#58445 qa/tests: added client-upgrade-quincy-squid tests
  qa/suites/upgrade-clients/client-upgrade-quincy-squid/quincy-client-x/rbd/%
  qa/suites/upgrade-clients/client-upgrade-quincy-squid/quincy-client-x/rbd/.qa
  qa/suites/upgrade-clients/client-upgrade-quincy-squid/quincy-client-x/rbd/0-cluster/+
  qa/suites/upgrade-clients/client-upgrade-quincy-squid/quincy-client-x/rbd/0-cluster/.qa
  qa/suites/upgrade-clients/client-upgrade-quincy-squid/quincy-client-x/rbd/0-cluster/openstack.yaml
  qa/suites/upgrade-clients/client-upgrade-quincy-squid/quincy-client-x/rbd/0-cluster/start.yaml
  qa/suites/upgrade-clients/client-upgrade-quincy-squid/quincy-client-x/rbd/1-install/.qa
  qa/suites/upgrade-clients/client-upgrade-quincy-squid/quincy-client-x/rbd/1-install/quincy-client-x.yaml
  qa/suites/upgrade-clients/client-upgrade-quincy-squid/quincy-client-x/rbd/2-workload/.qa
  qa/suites/upgrade-clients/client-upgrade-quincy-squid/quincy-client-x/rbd/2-workload/rbd_notification_tests.yaml
  qa/suites/upgrade-clients/client-upgrade-quincy-squid/quincy-client-x/rbd/supported/.qa
  qa/suites/upgrade-clients/client-upgrade-quincy-squid/quincy-client-x/rbd/supported/ubuntu_20.04.yaml
Labels: tests

#56200 squid: test/store_test: fix DeferredWrite test when prefer_deferred_size=0
  src/os/bluestore/BlueStore.cc
  src/test/objectstore/store_test.cc
Labels: core, needs-qa, tests, bluestore, wip-yuri11-testing, backport

#57382 squid: mgr: integrate optracker in ceph-mgr
  ceph.spec.in
  src/common/options/global.yaml.in
  src/mgr/CMakeLists.txt
  src/mgr/DaemonServer.cc
  src/mgr/DaemonServer.h
  src/mgr/MgrOpRequest.cc
  src/mgr/MgrOpRequest.h
  src/tracing/CMakeLists.txt
  src/tracing/mgroprequest.c
  src/tracing/mgroprequest.tp
Labels: core, needs-qa, common, build/ops, mgr, wip-yuri11-testing

#57623 squid: os/bluestore: set rocksdb iterator bounds for Bluestore::_collection_list()
  src/os/bluestore/BlueStore.cc
Labels: core, needs-qa, bluestore, wip-yuri11-testing

#58089 squid: osd/scrub: allow new scrubs while reserving
  src/osd/scrubber/osd_scrub.cc
  src/osd/scrubber/osd_scrub.h
  src/osd/scrubber/osd_scrub_sched.cc
  src/osd/scrubber/osd_scrub_sched.h
  src/osd/scrubber/pg_scrubber.cc
  src/osd/scrubber/pg_scrubber.h
  src/osd/scrubber/scrub_machine.cc
  src/osd/scrubber/scrub_machine.h
  src/osd/scrubber/scrub_machine_lstnr.h
Labels: core, needs-qa, wip-yuri11-testing, backport

#58484 doc: Correct link to "Device management"
  doc/cephadm/services/osd.rst
Labels: documentation, cephadm

#58468 squid: doc/cephfs: fix typo
  doc/cephfs/multimds.rst
Labels: documentation, cephfs

#58469 reef: doc/cephfs: fix typo
  doc/cephfs/multimds.rst
Labels: documentation, cephfs

#58488 squid: doc: Correct link to "Device management"
  doc/cephadm/services/osd.rst
Labels: documentation, cephadm

#58489 reef: doc: Correct link to "Device management"
  doc/cephadm/services/osd.rst
Labels: documentation, cephadm

#58490 quincy: doc: Correct link to "Device management"
  doc/cephadm/services/osd.rst
Labels: documentation, cephadm

#58506 test/objectstore: Fix DeferredReplayTest
  src/test/objectstore/store_test.cc
Labels: tests

#57005 mgr/Mgr.cc: clear daemon health metrics instead of removing down/out osd from daemon state
  src/mgr/Mgr.cc
Labels: core, needs-qa, mgr, wip-yuri3-testing

#57777 osd: bump versions of decoders for upmap-primary
  src/osd/OSDMap.cc
Labels: core, needs-qa, wip-yuri3-testing

#58048 mgr: the mojibake characters in the MGR OP tracker output
  src/mgr/MgrOpRequest.h
Labels: bug-fix, core, needs-qa, mgr, wip-yuri3-testing, needs-squid-backport

#57535 Adding support for ceph mgmt-gateway
  doc/cephadm/services/index.rst
  doc/cephadm/services/mgmt-gateway.rst
  src/cephadm/cephadm.py
  src/cephadm/cephadmlib/constants.py
  src/cephadm/cephadmlib/daemons/__init__.py
  src/cephadm/cephadmlib/daemons/custom.py
  src/cephadm/cephadmlib/daemons/mgmt_gateway.py
  src/cephadm/cephadmlib/daemons/monitoring.py
  src/cephadm/cephadmlib/daemons/tracing.py
  src/pybind/mgr/cephadm/inventory.py
  src/pybind/mgr/cephadm/module.py
  src/pybind/mgr/cephadm/serve.py
  src/pybind/mgr/cephadm/services/cephadmservice.py
  src/pybind/mgr/cephadm/services/mgmt_gateway.py
  src/pybind/mgr/cephadm/services/monitoring.py
  src/pybind/mgr/cephadm/templates/services/grafana/grafana.ini.j2
  src/pybind/mgr/cephadm/templates/services/mgmt-gateway/external_server.conf.j2
  src/pybind/mgr/cephadm/templates/services/mgmt-gateway/internal_server.conf.j2
  src/pybind/mgr/cephadm/templates/services/mgmt-gateway/nginx.conf.j2
  src/pybind/mgr/cephadm/tests/test_cephadm.py
  src/pybind/mgr/cephadm/tests/test_services.py
  src/pybind/mgr/orchestrator/_interface.py
  src/pybind/mgr/orchestrator/module.py
  src/python-common/ceph/deployment/service_spec.py
Labels: documentation, pybind, mgr, orchestrator, monitoring, cephadm, wip-adk-testing, wip-asm0deuz-testing

#58298 Ingress service: Fix HAProxy to listen on IPv4 and IPv6
  src/pybind/mgr/cephadm/services/ingress.py
  src/pybind/mgr/cephadm/tests/test_services.py
Labels: pybind, cephadm, wip-adk-testing

#58321 cephadm: make cephadm compatible with jinja2 2.11.3
  src/cephadm/cephadmlib/templating.py
Labels: cephadm, wip-adk-testing

#58326 mgr/rgw: fix setting rgw realm token in secondary site rgw spec
  src/python-common/ceph/rgw/rgwam_core.py
Labels: pybind, cephadm, wip-adk-testing

#58343 mgr/rgw: Adding a retry config while calling zone_create()
  src/pybind/mgr/rgw/module.py
  src/python-common/ceph/rgw/rgwam_core.py
Labels: tests, pybind, cephadm, wip-adk-testing

#57971 squid: cephadm: the user config is preferred during the bootstrap
  src/cephadm/cephadm.py
Labels: cephadm, wip-adk4-testing

#58440 exporter: Added https(TLSv13) support
  src/common/options/ceph-exporter.yaml.in
  src/exporter/CMakeLists.txt
  src/exporter/ceph_exporter.cc
  src/exporter/http_server.cc
  src/exporter/http_server.h
  src/exporter/web_server.cc
  src/exporter/web_server.h
Labels: common, build/ops, exporter

#58382 qa/cephadm: change upgrade test start point to reef/squid
  qa/suites/orch/cephadm/upgrade/1-start-distro/1-start-centos_9.stream-reef.yaml
  qa/suites/orch/cephadm/upgrade/1-start-distro/1-start-centos_9.stream-squid.yaml
  qa/suites/orch/cephadm/upgrade/1-start-distro/1-start-ubuntu_22.04-reef.yaml
  qa/suites/orch/cephadm/upgrade/1-start-distro/1-start-ubuntu_22.04-squid.yaml
Labels: tests, cephadm, wip-adk-testing

#58436 squid: doc/rgw: update s3 authentication
  doc/radosgw/s3/authentication.rst
Labels: documentation

#58224 mgr/dashboard: add restful api for creating crush rule with type of 'erasure'
  qa/tasks/mgr/dashboard/test_crush_rule.py
  src/pybind/mgr/dashboard/controllers/crush_rule.py
  src/pybind/mgr/dashboard/openapi.yaml
Labels: tests, pybind, dashboard, api-change

#58337 squid: mgr/dashboard: fix clone async validators with different groups
  src/pybind/mgr/dashboard/frontend/cypress/e2e/common/global.feature.po.ts
  src/pybind/mgr/dashboard/frontend/cypress/e2e/filesystems/snapshots.e2e-spec.feature
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cephfs/cephfs-subvolume-snapshots-list/cephfs-subvolume-snapshots-list.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/form-modal/form-modal.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/models/cd-form-modal-field-config.ts
Labels: pybind, dashboard

#58244 squid: mgr/dashboard: fix edit bucket failing in other selected gateways
  src/pybind/mgr/dashboard/controllers/rgw.py
Labels: pybind, dashboard, backport: no-conflicts

#58396 suite/crimson: enable stats tests
  qa/suites/crimson-rados/basic/tasks/rados_python.yaml
Labels: tests, crimson, TESTED, ready-to-merge

#58255 squid: mgr/dashboard: rgw bucket replication management
  qa/tasks/mgr/dashboard/test_rgw.py
  src/pybind/mgr/dashboard/controllers/rgw.py
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/models/rgw-daemon.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-bucket-details/rgw-bucket-details.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-bucket-details/rgw-bucket-details.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-bucket-form/rgw-bucket-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-bucket-form/rgw-bucket-form.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-bucket-form/rgw-bucket-form.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-daemon-list/rgw-daemon-list.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-overview-dashboard/rgw-overview-dashboard.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/rgw-bucket.service.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/rgw-bucket.service.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/rgw-multisite.service.ts
  src/pybind/mgr/dashboard/openapi.yaml
  src/pybind/mgr/dashboard/services/rgw_client.py
  src/pybind/mgr/dashboard/tests/__init__.py
  src/pybind/mgr/dashboard/tests/test_rgw.py
Labels: tests, pybind, dashboard, backport: no-conflicts, api-change

#58225 crimson/osd/osd_operation: fix dump_historic_slow_ops command works
  src/crimson/osd/osd_operation.cc
  src/crimson/osd/osd_operation.h
Labels: crimson, wip-matan-testing, needs-crimson-qa

#57752 reef: mgr/dashboard: fix readonly landingpage
  src/pybind/mgr/dashboard/controllers/health.py
  src/pybind/mgr/dashboard/frontend/src/app/ceph/dashboard-v3/dashboard/dashboard-v3.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/health.service.ts
  src/pybind/mgr/dashboard/openapi.yaml
Labels: pybind, dashboard, api-change

#58247 reef: mgr/dashboard: add dueTime to rgw bucket validator
  src/pybind/mgr/dashboard/frontend/cypress/e2e/rgw/buckets.po.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-bucket-form/rgw-bucket-form.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-user-form/rgw-user-form.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/forms/cd-validators.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/forms/cd-validators.ts
Labels: pybind, dashboard, backport: no-conflicts

#57492 qa/cephfs: improvements for "mds fail" and "fs fail"
  qa/tasks/cephfs/test_admin.py
Labels: cephfs, tests, wip-rishabh-testing

#58507 qa: account for rbd_trash object in krbd_data_pool.sh + related ceph{,adm} task fixes
  qa/tasks/ceph.py
  qa/tasks/cephadm.py
  qa/workunits/rbd/krbd_data_pool.sh
Labels: rbd, tests, cephadm

#58530 doc/radosgw: s/http/HTTP/
  doc/radosgw/s3/authentication.rst
Labels: documentation

#58491 rgw/datalog: fix LazyFIFO race fix
  src/rgw/driver/rados/rgw_log_backing.h
Labels: rgw, needs-qa, wip-cbodley-testing

#58479 Batch backport NFS route separation for cephfs and rgw
  src/pybind/mgr/dashboard/frontend/cypress/e2e/common/urls.po.ts
  src/pybind/mgr/dashboard/frontend/cypress/e2e/orchestrator/workflow/10-nfs-exports.e2e-spec.ts
  src/pybind/mgr/dashboard/frontend/cypress/e2e/orchestrator/workflow/nfs/nfs-export.po.ts
  src/pybind/mgr/dashboard/frontend/cypress/e2e/page-helper.po.ts
  src/pybind/mgr/dashboard/frontend/src/app/app-routing.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cephfs/cephfs-form/cephfs-form.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cephfs/cephfs-list/cephfs-list.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/nfs/models/nfs.fsal.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/nfs/nfs-form/nfs-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/nfs/nfs-form/nfs-form.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/ceph/nfs/nfs-form/nfs-form.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/nfs/nfs-form/nfs-form.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/nfs/nfs-list/nfs-list.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/nfs/nfs-list/nfs-list.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/nfs/nfs.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/nfs/utils.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/core/navigation/navigation/navigation.component.html
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/nfs.service.ts
Labels: pybind, dashboard

#58522 reef: install-deps.sh, do_cmake.sh: almalinux is another el flavour
  do_cmake.sh
  install-deps.sh
Labels: build/ops, ready-to-merge

#58101 mgr/vol: handle case where clone index entry goes missing
  src/pybind/mgr/volumes/fs/operations/clone_index.py
Labels: cephfs, pybind, needs-review, wip-rishabh-testing

#57712 mgr/dashboard: use secure_channel for grpc requests
  src/cephadm/cephadmlib/daemons/nvmeof.py
  src/pybind/mgr/cephadm/inventory.py
  src/pybind/mgr/cephadm/module.py
  src/pybind/mgr/cephadm/services/nvmeof.py
  src/pybind/mgr/cephadm/templates/services/nvmeof/ceph-nvmeof.conf.j2
  src/pybind/mgr/cephadm/tests/test_cephadm.py
  src/pybind/mgr/cephadm/tests/test_services.py
  src/pybind/mgr/dashboard/services/nvmeof_client.py
  src/pybind/mgr/dashboard/services/nvmeof_conf.py
  src/pybind/mgr/dashboard/services/orchestrator.py
  src/pybind/mgr/orchestrator/_interface.py
  src/pybind/mgr/orchestrator/module.py
  src/python-common/ceph/deployment/service_spec.py
Labels: pybind, dashboard, orchestrator, cephadm

#58338 reef: mgr/dashboard: fix clone async validators with different groups
  src/pybind/mgr/dashboard/frontend/cypress/e2e/common/global.feature.po.ts
  src/pybind/mgr/dashboard/frontend/cypress/e2e/filesystems/snapshots.e2e-spec.feature
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cephfs/cephfs-subvolume-snapshots-list/cephfs-subvolume-snapshots-list.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/form-modal/form-modal.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/models/cd-form-modal-field-config.ts
Labels: pybind, dashboard

#57989 mgr/dashboard: multicluster management e2e tests
  src/pybind/mgr/dashboard/frontend/cypress/e2e/multi-cluster/multi-cluster.e2e-spec.ts
  src/pybind/mgr/dashboard/frontend/cypress/e2e/multi-cluster/multi-cluster.po.ts
  src/pybind/mgr/dashboard/frontend/src/app/core/navigation/navigation/navigation.component.html
  src/pybind/mgr/dashboard/run-frontend-e2e-tests.sh
Labels: pybind, dashboard

#56877 reef: mgr/dashboard: bump follow-redirects from 1.15.3 to 1.15.6 in /src/pybind/mgr/dashboard/frontend
  src/pybind/mgr/dashboard/frontend/package-lock.json
Labels: pybind, dashboard

#58531 mgr/dashboard: fix rgw configuration e2e test
  src/pybind/mgr/dashboard/frontend/cypress/e2e/rgw/configuration.po.ts
Labels: pybind, dashboard

#58386 mgr/dashboard: add cephfs rename REST API
  qa/tasks/mgr/dashboard/test_cephfs.py
  src/pybind/mgr/dashboard/controllers/cephfs.py
  src/pybind/mgr/dashboard/openapi.yaml
  src/pybind/mgr/dashboard/services/cephfs.py
Labels: tests, pybind, dashboard, api-change

#58311 qa/cephfs: fix test_single_path_authorize_on_nonalphanumeric_fsname
  qa/tasks/cephfs/test_admin.py
Labels: cephfs, tests, needs-review, wip-rishabh-testing

#58416 cmake/os: remove WITH_ZFS option
  CMakeLists.txt
  cmake/modules/Findzfs.cmake
  src/os/CMakeLists.txt
Labels: core, build/ops

#58521 squid: install-deps.sh, do_cmake.sh: almalinux is another el flavour
  do_cmake.sh
  install-deps.sh
Labels: build/ops, ready-to-merge

#58477 Batch backport of nvmeof service configuration
  src/pybind/mgr/dashboard/frontend/cypress/e2e/cluster/services.po.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-form/rbd-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/services/service-form/service-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/services/service-form/service-form.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/services/service-form/service-form.component.ts
Labels: pybind, dashboard

#58554 docs: removed centos 8 and added squid to the build matrix
  doc/dev/release-process.rst
Labels: documentation

#58245 reef: mgr/dashboard: fix edit bucket failing in other selected gateways
  src/pybind/mgr/dashboard/controllers/rgw.py
Labels: pybind, dashboard, backport: no-conflicts

#58548 quincy: test/librbd: clean up unused TEST_COOKIE variable
  src/test/librbd/exclusive_lock/test_mock_PostAcquireRequest.cc
  src/test/librbd/exclusive_lock/test_mock_PreAcquireRequest.cc
  src/test/librbd/exclusive_lock/test_mock_PreReleaseRequest.cc
Labels: rbd, tests

#58549 reef: test/librbd: clean up unused TEST_COOKIE variable
  src/test/librbd/exclusive_lock/test_mock_PostAcquireRequest.cc
  src/test/librbd/exclusive_lock/test_mock_PreAcquireRequest.cc
  src/test/librbd/exclusive_lock/test_mock_PreReleaseRequest.cc
Labels: rbd, tests

#58550 squid: test/librbd: clean up unused TEST_COOKIE variable
  src/test/librbd/exclusive_lock/test_mock_PostAcquireRequest.cc
  src/test/librbd/exclusive_lock/test_mock_PreAcquireRequest.cc
  src/test/librbd/exclusive_lock/test_mock_PreReleaseRequest.cc
Labels: rbd, tests

#58324 qa/standalone/mon: Fix mkfs test & TEST_LOG failures
  qa/standalone/mon/mkfs.sh
  qa/standalone/mon/mon-cluster-log.sh
Labels: core, tests

#58523 quincy: install-deps.sh, do_cmake.sh: almalinux is another el flavour
  do_cmake.sh
  install-deps.sh
Labels: build/ops, ready-to-merge

#56366 quincy: ceph.spec.in: add support for openEuler OS
  ceph.spec.in
  doc/install/get-packages.rst
Labels: documentation, needs-qa, build/ops, wip-yuri-testing, quincy-batch-1

#57090 quincy: librbd: make group and group snapshot IDs more random
  src/librbd/Utils.cc
  src/librbd/api/Group.cc
Labels: rbd, needs-qa, wip-yuri-testing, quincy-batch-1

#57305 quincy: rbd-mirror: clean up stale pool replayers and callouts better
  qa/workunits/rbd/rbd_mirror_bootstrap.sh
  qa/workunits/rbd/rbd_mirror_helpers.sh
  src/test/rbd_mirror/test_mock_PoolReplayer.cc
  src/tools/rbd_mirror/Mirror.cc
  src/tools/rbd_mirror/PoolReplayer.cc
Labels: bug-fix, rbd, needs-qa, tests, wip-yuri-testing, quincy-batch-1

#57308 quincy: pybind/rbd: expose CLONE_FORMAT and FLATTEN image options
  PendingReleaseNotes
  src/pybind/rbd/c_rbd.pxd
  src/pybind/rbd/mock_rbd.pxi
  src/pybind/rbd/rbd.pyx
  src/test/pybind/test_rbd.py
Labels: feature, documentation, rbd, needs-qa, tests, pybind, wip-yuri-testing, quincy-batch-1

#57569 quincy: librbd: don't crash on a zero-length read if buffer is NULL
  src/osdc/Striper.cc
  src/test/librbd/fsx.cc
  src/test/librbd/test_librbd.cc
Labels: rbd, needs-qa, tests, wip-yuri-testing, quincy-batch-1
