Repository ceph/ceph, pull requests merged in 2024-11, with the labels that each got.

#60584 doc: s/Whereas,/Although/
  doc/architecture.rst
  doc/rados/api/python.rst
  doc/rados/configuration/mon-config-ref.rst
  doc/start/documenting-ceph.rst
Labels: documentation, core

#60340 quincy: doc,mailmap: update my email / association to ibm
  .githubmap
  .mailmap
  .organizationmap
  .peoplemap
  doc/governance.rst
Labels: documentation

#60593 squid: doc: s/Whereas,/Although/
  doc/architecture.rst
  doc/rados/api/python.rst
  doc/rados/configuration/mon-config-ref.rst
  doc/start/documenting-ceph.rst
Labels: documentation, core

#60594 reef: doc: s/Whereas,/Although/
  doc/architecture.rst
  doc/rados/api/python.rst
  doc/rados/configuration/mon-config-ref.rst
  doc/start/documenting-ceph.rst
Labels: documentation, core

#60595 quincy: doc: s/Whereas,/Although/
  doc/architecture.rst
  doc/rados/api/python.rst
  doc/rados/configuration/mon-config-ref.rst
  doc/start/documenting-ceph.rst
Labels: documentation, core

#60586 quincy: qa/fsx: use a specified sha1 to build the xfstest-dev
  qa/workunits/suites/fsx.sh
Labels: tests

#60313 crimson/osd/pg: trigger PG::wait_for_active_blocker only when the pg is going active
  src/crimson/osd/pg.cc
Labels: crimson, wip-matan-testing

#60439 crimson/osd/shard_services: fix dangling reference caused by rvalue reference of ShardSercies::dispatch_context()
  src/crimson/osd/shard_services.cc
Labels: bug-fix, crimson, wip-matan-testing, crimson-replicated-recovery

#60485 crimson/osd/backfill_state: discard CancelBackfill events when the backfill is done
  src/crimson/osd/backfill_state.h
Labels: bug-fix, crimson, wip-matan-testing, crimson-replicated-recovery

#60517 crimson/osd/osd_operations/client_request: no need to hold head's obc lock throughout the recovery of clones
  src/crimson/osd/osd_operations/client_request.cc
  src/crimson/osd/osd_operations/client_request.h
Labels: crimson, wip-matan-testing

#60438 crimson/osd/pg: make sure ops are sent to backfill targets if and only if the object has been pushed.
  src/crimson/osd/pg.cc
Labels: bug-fix, core, crimson, wip-matan-testing, crimson-replicated-recovery

#60236 mds: return as early as possible from CDir::should_split_fast()
  src/mds/CDir.cc
Labels: cephfs, performance, wip-vshankar-testing3

#60367 squid: mgr/dashboard: update translations for squid
  src/pybind/mgr/dashboard/frontend/i18n.config.json
  src/pybind/mgr/dashboard/frontend/src/locale/messages.cs.xlf
  src/pybind/mgr/dashboard/frontend/src/locale/messages.de-DE.xlf
  src/pybind/mgr/dashboard/frontend/src/locale/messages.es-ES.xlf
  src/pybind/mgr/dashboard/frontend/src/locale/messages.fr-FR.xlf
  src/pybind/mgr/dashboard/frontend/src/locale/messages.id-ID.xlf
  src/pybind/mgr/dashboard/frontend/src/locale/messages.it-IT.xlf
  src/pybind/mgr/dashboard/frontend/src/locale/messages.ja-JP.xlf
  src/pybind/mgr/dashboard/frontend/src/locale/messages.ko-KR.xlf
  src/pybind/mgr/dashboard/frontend/src/locale/messages.pl-PL.xlf
  src/pybind/mgr/dashboard/frontend/src/locale/messages.pt-BR.xlf
  src/pybind/mgr/dashboard/frontend/src/locale/messages.zh-CN.xlf
  src/pybind/mgr/dashboard/frontend/src/locale/messages.zh-TW.xlf
Labels: pybind, dashboard

#59306 squid: mon/MonClient: handle ms_handle_fast_authentication return
  src/mds/MDSDaemon.cc
  src/mds/MDSDaemon.h
  src/mgr/DaemonServer.cc
  src/mgr/DaemonServer.h
  src/mon/MonClient.cc
  src/mon/Monitor.cc
  src/mon/Monitor.h
  src/msg/Dispatcher.h
  src/osd/OSD.cc
  src/osd/OSD.h
  src/test/fio/fio_ceph_messenger.cc
  src/test/msgr/perf_msgr_client.cc
  src/test/msgr/perf_msgr_server.cc
  src/test/msgr/test_msgr.cc
Labels: core, cephfs, tests, mgr, mon, wip-rishabh-testing2

#59097 squid: mds: only authpin on wrlock when not a locallock
  src/mds/Locker.cc
Labels: cephfs, wip-rishabh-testing2

#58587 squid: client: check mds down status before getting mds_gid_t from mdsmap
  qa/tasks/mgr/dashboard/test_cephfs.py
  src/client/Client.cc
  src/pybind/mgr/dashboard/controllers/cephfs.py
Labels: cephfs, tests, pybind, dashboard, wip-rishabh-testing2

#59481 os/bluestore: log txc details in slow op notification on committed_kv
  src/kv/KeyValueDB.h
  src/kv/RocksDBStore.h
  src/os/bluestore/BlueStore.cc
  src/os/bluestore/BlueStore.h
  src/test/ObjectMap/KeyValueDBMemory.h
Labels: feature, core, needs-qa, tests, bluestore, wip-pdonnell-testing, wip-bharath4-testing

#59486 test/erasure-code: increase ceph_erasure_code_benchmark default buffe…
  qa/workunits/erasure-code/bench.sh
  src/test/erasure-code/ceph_erasure_code_benchmark.cc
Labels: core, needs-qa, tests, performance, wip-bharath4-testing

#59065 squid: a series of optimizations for kerneldevice discard
  src/blk/BlockDevice.h
  src/blk/kernel/KernelDevice.cc
  src/blk/kernel/KernelDevice.h
  src/common/options/global.yaml.in
  src/os/bluestore/BlueStore.cc
Labels: core, needs-qa, common, bluestore

#59156 squid: qa/suites/rados: Cancel injectfull to allow cleanup
  qa/suites/rados/singleton-nomsgr/all/admin_socket_output.yaml
Labels: core, needs-qa, tests, wip-bharath14-testing

#59284 squid: librados: use CEPH_OSD_FLAG_FULL_FORCE for IoCtxImpl::remove
  src/librados/IoCtxImpl.cc
Labels: core, needs-qa, wip-bharath14-testing

#59402 squid: mon/OSDMonitor: Add force-remove-snap mon command
  src/mon/MonCommands.h
  src/mon/OSDMonitor.cc
Labels: core, needs-qa, mon, wip-bharath14-testing

#56475 reef: osd: Change PG Deletion cost for mClock
  src/osd/OSD.cc
  src/osd/OSD.h
  src/osd/PG.cc
  src/osd/PG.h
  src/osd/PrimaryLogPG.cc
Labels: core, needs-qa, wip-bharath8-testing

#59629 reef: osd/scrub: Change scrub cost to average object size
  src/osd/OSD.cc
  src/osd/OSD.h
  src/osd/scheduler/OpScheduler.h
  src/osd/scheduler/mClockScheduler.h
  src/osd/scrubber/pg_scrubber.cc
  src/osd/scrubber/pg_scrubber.h
Labels: core, needs-qa, wip-bharath8-testing

#59043 reef: Test: osd-recovery-space.sh extends the wait time for "recovery toofull"
  qa/standalone/osd/osd-recovery-space.sh
Labels: core, needs-qa, tests, wip-bharath8-testing

#59048 reef: a series of optimizations for kerneldevice discard
  src/blk/BlockDevice.h
  src/blk/kernel/KernelDevice.cc
  src/blk/kernel/KernelDevice.h
  src/common/options/global.yaml.in
  src/os/bluestore/BlueStore.cc
Labels: core, needs-qa, common, bluestore, backport, wip-bharath8-testing

#59104 reef: os/bluestore: add some slow count for bluestore
  src/os/bluestore/BlueStore.cc
  src/os/bluestore/BlueStore.h
Labels: core, needs-qa, bluestore, wip-bharath8-testing

#56521 quincy: osd: don't send stale hb msgr's addresses in MOSDBoot
  src/osd/OSD.cc
Labels: core, needs-qa, wip-bharath15-testing

#56679 quincy: mon: add created_at and ceph_version_when_created meta
  src/mon/Monitor.cc
  src/mon/MonitorDBStore.h
Labels: core, needs-qa, mon, wip-bharath15-testing

#57068 quincy: osd/OSDMonitor: check svc is writeable before changing pending
  src/mon/AuthMonitor.cc
  src/mon/AuthMonitor.h
  src/mon/KVMonitor.cc
  src/mon/OSDMonitor.cc
  src/mon/OSDMonitor.h
Labels: core, needs-qa, mon, wip-bharath15-testing

#59246 quincy: qa/suites/upgrade: ignore PG_AVAILABILITY and MON_DOWN for quincy-x and reef-x upgrade suites
  qa/suites/upgrade/octopus-x/parallel/1-tasks.yaml
  qa/suites/upgrade/octopus-x/stress-split/1-start.yaml
  qa/suites/upgrade/pacific-x/parallel/1-tasks.yaml
  qa/suites/upgrade/pacific-x/stress-split/1-start.yaml
Labels: core, needs-qa, tests, wip-bharath15-testing

#59493 quincy: qa: suppress Leak_StillReachable mon leak in centos 9 jobs
  qa/valgrind.supp
Labels: core, needs-qa, tests, wip-bharath15-testing

#59725 client: return EOPNOTSUPP for fallocate with mode 0
  PendingReleaseNotes
  qa/workunits/fs/misc/fallocate.sh
  src/client/Client.cc
  src/pybind/cephfs/cephfs.pyx
  src/test/pybind/test_cephfs.py
Labels: documentation, cephfs, tests, pybind, needs-review, ready-to-merge

#59521 squid: qa: load all dirfrags before testing altname recovery
  qa/tasks/cephfs/test_fscrypt.py
Labels: cephfs, tests, wip-rishabh-testing10

#59517 squid: mds: encode quiesce payload on demand
  src/mds/MDSRankQuiesce.cc
  src/messages/MMDSQuiesceDbAck.h
  src/messages/MMDSQuiesceDbListing.h
Labels: cephfs, wip-rishabh-testing10

#59406 squid: cephfs_mirror: update peer status for invalid metadata in remote snapshot
  doc/cephfs/cephfs-mirroring.rst
  qa/tasks/cephfs/test_mirroring.py
  src/tools/cephfs_mirror/PeerReplayer.cc
  src/tools/cephfs_mirror/PeerReplayer.h
Labels: documentation, cephfs, tests, wip-rishabh-testing10

#59398 squid: qa/cephfs: fix TestRenameCommand and unmount the clinet before failin…
  qa/tasks/cephfs/test_admin.py
Labels: cephfs, tests, wip-rishabh-testing10

#60608 doc/rgw/notification: add missing admin commands
  doc/man/8/radosgw-admin.rst
  doc/radosgw/notifications.rst
Labels: documentation

#60609 squid: doc/rgw/notification: add missing admin commands
  doc/man/8/radosgw-admin.rst
  doc/radosgw/notifications.rst
Labels: documentation

#60425 mgr/cephadm: ceph orch host drain command to return error for invalid hostname
  src/pybind/mgr/cephadm/module.py
  src/pybind/mgr/cephadm/tests/test_cephadm.py
Labels: pybind, cephadm, wip-adk-testing

#56677 osd,crimson/osd: rework of replica read and related state
  qa/suites/rados/thrash-erasure-code/workloads/ec-small-objects-balanced.yaml
  qa/tasks/rados.py
  src/common/intrusive_timer.h
  src/crimson/osd/ops_executer.cc
  src/crimson/osd/osd_operations/client_request.cc
  src/crimson/osd/osd_operations/osdop_params.h
  src/crimson/osd/osd_operations/peering_event.cc
  src/crimson/osd/pg.cc
  src/crimson/osd/pg.h
  src/crimson/osd/replicated_backend.cc
  src/messages/MOSDPGPCT.h
  src/messages/MOSDPGUpdateLogMissing.h
  src/messages/MOSDRepOp.h
  src/mon/MonCommands.h
  src/msg/Message.cc
  src/msg/Message.h
  src/osd/ECBackend.cc
  src/osd/ECBackend.h
  src/osd/ECCommon.cc
  src/osd/ECCommon.h
  src/osd/ECMsgTypes.cc
  src/osd/ECMsgTypes.h
  src/osd/OSD.cc
  src/osd/OSD.h
  src/osd/PG.cc
  src/osd/PGBackend.h
  src/osd/PeeringState.cc
  src/osd/PeeringState.h
  src/osd/PrimaryLogPG.cc
  src/osd/PrimaryLogPG.h
  src/osd/ReplicatedBackend.cc
  src/osd/ReplicatedBackend.h
  src/osd/osd_perf_counters.cc
  src/osd/osd_perf_counters.h
  src/osd/osd_types.cc
  src/osd/osd_types.h
  src/osd/pg_features.h
  src/osdc/Objecter.cc
Labels: core, tests, common, mon, crimson, wip-sjust-testing

#60577 ceph.spec.in: Add an option to disable dwz
  ceph.spec.in
Labels: build/ops

#60017 mgr/dashboard: improve the kcli bootstrap process
  src/pybind/mgr/dashboard/ci/cephadm/bootstrap-cluster.sh
  src/pybind/mgr/dashboard/ci/cephadm/ceph_cluster.yml
  src/pybind/mgr/dashboard/ci/cephadm/dnf.conf.tpl
  src/pybind/mgr/dashboard/ci/cephadm/initial-ceph.conf
  src/pybind/mgr/dashboard/ci/cephadm/load-podman-image.sh
  src/pybind/mgr/dashboard/ci/cephadm/quick-bootstrap.sh
  src/pybind/mgr/dashboard/ci/cephadm/start-cluster.sh
Labels: pybind, dashboard

#60100 mgr/dashboard: Add 'Browse Dashboards' button in multi-cluster and ceph-cluster Grafana dashboards
  monitoring/ceph-mixin/dashboards/multi-cluster.libsonnet
  monitoring/ceph-mixin/dashboards/utils.libsonnet
  monitoring/ceph-mixin/dashboards_out/ceph-cluster.json
  monitoring/ceph-mixin/dashboards_out/multi-cluster-overview.json
  src/pybind/mgr/dashboard/ci/check_grafana_dashboards.py
Labels: pybind, dashboard, monitoring

#58847 ceph-fuse: Improve fuse mount usage message
  src/ceph_fuse.cc
Labels: documentation, cephfs, needs-qa, wip-pdonnell-testing

#59974 squid: qa/standalone/scrub: increase status updates frequency
  qa/standalone/scrub/osd-scrub-test.sh
Labels: core, needs-qa, tests, wip-yuri-testing, backport

#57819 squid: objclass: deprecate cls_cxx_gather
  qa/workunits/rados/test.sh
  src/cls/CMakeLists.txt
  src/cls/test_remote_reads/cls_test_remote_reads.cc
  src/crimson/osd/objclass.cc
  src/objclass/objclass.h
  src/test/librados/CMakeLists.txt
  src/test/librados/cls_remote_reads.cc
Labels: documentation, core, needs-qa, tests, build/ops, wip-yuri-testing, crimson

#58740 squid: os/bluestore: enable async manual compactions
  src/common/options/global.yaml.in
  src/kv/RocksDBStore.cc
  src/kv/RocksDBStore.h
  src/os/ObjectStore.h
  src/os/bluestore/BlueStore.cc
  src/os/bluestore/BlueStore.h
  src/os/kstore/KStore.h
  src/osd/OSD.cc
Labels: core, needs-qa, common, wip-yuri-testing, bluestore, backport, aclamk-testing-ganymede

#59217 squid: os/bluestore: Mute warnings
  src/os/bluestore/bluefs_types.cc
Labels: core, needs-qa, wip-yuri-testing, bluestore, backport, aclamk-testing-ganymede

#59483 mon [stretch mode]: support disable_stretch_mode
  doc/rados/operations/stretch-mode.rst
  qa/suites/rados/singleton/all/stretch-mode-5-mons-8-osds.yaml
  qa/tasks/ceph_manager.py
  qa/tasks/stretch_mode_disable_enable.py
  qa/workunits/mon/mon-stretch-mode-5-mons-8-osds.sh
  src/mon/MonCommands.h
  src/mon/MonMap.cc
  src/mon/Monitor.cc
  src/mon/Monitor.h
  src/mon/MonmapMonitor.cc
  src/mon/OSDMonitor.cc
  src/mon/OSDMonitor.h
Labels: documentation, core, needs-qa, tests, mon, needs-reef-backport, needs-squid-backport

#60418 reef: qa/rgw/sts: keycloak task installs java manually
  qa/suites/rgw/sts/tasks/first.yaml
Labels: rgw, tests, TESTED, ready-to-merge

#60602 mgr/dashboard: remove cherrypy_backports.py
  src/pybind/mgr/dashboard/cherrypy_backports.py
  src/pybind/mgr/dashboard/module.py
  src/pybind/mgr/prometheus/module.py
Labels: pybind, dashboard, monitoring, wip-adk-testing

#56599 doc/cephadm: Update operations.rst
  doc/cephadm/operations.rst
Labels: documentation, cephadm

#59743 common,osd: Use last valid OSD IOPS value if measured IOPS is unrealistic
  doc/rados/configuration/mclock-config-ref.rst
  qa/suites/rados/valgrind-leaks/1-start.yaml
  qa/suites/rados/verify/validater/valgrind.yaml
  src/common/options/osd.yaml.in
  src/osd/OSD.cc
Labels: documentation, core, needs-qa, tests, common, wip-bharath6-testing

#60366 quincy: mgr/dashboard: update translations for quincy
  src/pybind/mgr/dashboard/frontend/i18n.config.json
  src/pybind/mgr/dashboard/frontend/src/locale/messages.cs.xlf
  src/pybind/mgr/dashboard/frontend/src/locale/messages.de-DE.xlf
  src/pybind/mgr/dashboard/frontend/src/locale/messages.es-ES.xlf
  src/pybind/mgr/dashboard/frontend/src/locale/messages.fr-FR.xlf
  src/pybind/mgr/dashboard/frontend/src/locale/messages.id-ID.xlf
  src/pybind/mgr/dashboard/frontend/src/locale/messages.it-IT.xlf
  src/pybind/mgr/dashboard/frontend/src/locale/messages.ja-JP.xlf
  src/pybind/mgr/dashboard/frontend/src/locale/messages.ko-KR.xlf
  src/pybind/mgr/dashboard/frontend/src/locale/messages.pl-PL.xlf
  src/pybind/mgr/dashboard/frontend/src/locale/messages.pt-BR.xlf
  src/pybind/mgr/dashboard/frontend/src/locale/messages.zh-CN.xlf
  src/pybind/mgr/dashboard/frontend/src/locale/messages.zh-TW.xlf
Labels: pybind, dashboard

#59855 qa/tasks/ceph: wait the osds down before start check the logs
  qa/suites/upgrade/quincy-x/filestore-remove-check/0-cluster/start.yaml
  qa/suites/upgrade/quincy-x/filestore-remove-check/1-ceph-install/quincy.yaml
  qa/suites/upgrade/quincy-x/filestore-remove-check/2 - upgrade.yaml
Labels: core, needs-qa, tests, needs-upgrade-testing, wip-yuri13-testing

#60071 qa/standalone/mon/mon_cluster_log.sh: retry check for log line
  qa/standalone/mon/mon-cluster-log.sh
Labels: core, needs-qa, tests, wip-yuri13-testing

#60132 qa/tasks: added "is down" warning to thrash-old-clients ignorelist
  qa/tasks/thrashosds-health.yaml
Labels: core, needs-qa, tests, wip-yuri13-testing, open-source-day-2024

#60639 quincy: doc/cephadm: Update operations.rst
  doc/cephadm/operations.rst
Labels: documentation, cephadm

#60643 doc/cephadm: link to "host pattern" matching sect
  doc/cephadm/services/index.rst
  doc/cephadm/services/osd.rst
Labels: documentation, cephadm

#60644 squid: doc/cephadm: link to "host pattern" matching sect
  doc/cephadm/services/index.rst
  doc/cephadm/services/osd.rst
Labels: documentation, cephadm

#60645 reef: doc/cephadm: link to "host pattern" matching sect
  doc/cephadm/services/index.rst
  doc/cephadm/services/osd.rst
Labels: documentation, cephadm

#60646 quincy: doc/cephadm: link to "host pattern" matching sect
  doc/cephadm/services/index.rst
  doc/cephadm/services/osd.rst
Labels: documentation, cephadm

#56771 doc: Document which options are disabled by mClock.
  doc/rados/configuration/osd-config-ref.rst
  doc/rados/operations/monitoring-osd-pg.rst
  src/common/options/osd.yaml.in
Labels: documentation, core, common

#60634 quincy: mgr/dashboard: remove cherrypy_backports.py
  src/pybind/mgr/dashboard/cherrypy_backports.py
  src/pybind/mgr/dashboard/module.py
  src/pybind/mgr/prometheus/module.py
Labels: needs-qa, pybind, wip-yuri5-testing, dashboard, monitoring

#60600 Revert "suites: crimson basic adding wait for test"
  qa/suites/crimson-rados/basic/tasks/rados_python.yaml
Labels: tests, crimson

#60448 doc: improve pending release notes and CephFS
  PendingReleaseNotes
Labels: documentation, cephfs, CI

#58785 squid: qa/suites/rados/verify/validater: increase heartbeat grace timeout
  qa/suites/rados/verify/validater/valgrind.yaml
Labels: core, needs-qa, tests, wip-bharath17-testing

#59035 squid: osd/scheduler: add mclock queue length perfcounter
  src/osd/scheduler/mClockScheduler.cc
  src/osd/scheduler/mClockScheduler.h
  src/test/osd/TestMClockScheduler.cc
Labels: core, needs-qa, tests, wip-bharath17-testing

#60621 rgw: hiding parquet dependencies upon parquet-select option is off
  src/rgw/rgw_s3select.cc
Labels: cleanup, rgw

#60578 ceph.spec.in: Add option to enable sccache
  ceph.spec.in
Labels: build/ops

#60592 crimson: switch to simple RAII obc locking mechanism
  src/crimson/osd/object_context.h
  src/crimson/osd/object_context_loader.cc
  src/crimson/osd/object_context_loader.h
  src/crimson/osd/osd_operations/client_request.cc
  src/crimson/osd/osd_operations/client_request.h
  src/crimson/osd/osd_operations/internal_client_request.cc
  src/crimson/osd/osd_operations/snaptrim_event.cc
  src/crimson/osd/pg.cc
  src/crimson/osd/pg.h
Labels: crimson

#60605 doc/cephadm: clean "Adv. OSD Service Specs"
  doc/cephadm/services/osd.rst
Labels: documentation, cephadm

#60663 mon/nvmeofgw*: monitors publish in nvme-gw show ana group responsible
  src/mon/NVMeofGwMon.cc
  src/mon/NVMeofGwMon.h
Labels: core, mon, nvmeof

#60679 squid: doc/cephadm: clean "Adv. OSD Service Specs"
  doc/cephadm/services/osd.rst
Labels: documentation, cephadm

#60680 reef: doc/cephadm: clean "Adv. OSD Service Specs"
  doc/cephadm/services/osd.rst
Labels: documentation, cephadm

#60681 quincy: doc/cephadm: clean "Adv. OSD Service Specs"
  doc/cephadm/services/osd.rst
Labels: documentation, cephadm

#59054 reef: qa/cephfs: remove dependency on centos8/rhel8 entirely
  qa/suites/fs/mixed-clients/distro/centos_8.yaml
  qa/suites/fs/mixed-clients/distro/centos_9.stream.yaml
  qa/suites/fs/mixed-clients/distro/rhel_8.yaml
  qa/suites/fs/upgrade/featureful_client/old_client/centos_8.stream.yaml
  qa/suites/fs/upgrade/featureful_client/upgraded_client/centos_8.stream.yaml
  qa/suites/fs/upgrade/nofs/centos_8.stream.yaml
  qa/suites/fs/upgrade/upgraded_client/centos_8.stream.yaml
  qa/suites/fs/verify/distro/centos_8.yaml
  qa/suites/fs/verify/distro/centos_9.stream.yaml
  qa/suites/fs/verify/distro/rhel_8.yaml
Labels: cephfs, tests, wip-rishabh-testing3, wip-hemanth-testing, wip-rishabh-testing4, wip-rishabh-testing5, wip-rishabh-testing8, wip-rishabh-testing9

#58770 reef: mds/client: return -ENODATA when xattr doesn't exist for removexattr
  qa/workunits/libcephfs/test.sh
  src/client/Client.cc
  src/include/ceph_fs.h
  src/mds/Server.cc
  src/test/libcephfs/CMakeLists.txt
  src/test/libcephfs/test.cc
  src/test/libcephfs/vxattr.cc
Labels: cephfs, tests, build/ops, wip-rishabh-testing9

#58744 reef: common/TrackedOp: do not count the ops marked as nowarn
  src/common/TrackedOp.cc
Labels: common, wip-rishabh-testing9

#58726 reef: mds: fix session/client evict command.
  qa/suites/fs/multiclient/clusters/1-mds-2-client.yaml
  qa/tasks/cephfs/test_misc.py
  src/mds/MDSDaemon.cc
  src/mds/MDSRank.cc
  src/mds/SessionMap.cc
Labels: cephfs, tests, wip-rishabh-testing9

#58111 reef: qa: fixing tests in test_cephfs_shell.TestShellOpts
  qa/tasks/cephfs/test_cephfs_shell.py
Labels: cephfs, needs-qa, tests, wip-rishabh-testing9

#60344 reef: doc: update Key Idea in cephfs-mirroring.rst
  doc/dev/cephfs-mirroring.rst
Labels: documentation, cephfs

#58397 reef: client: do not proceed with I/O if filehandle is invalid
  src/client/Client.cc
  src/client/Client.h
  src/test/client/CMakeLists.txt
  src/test/client/syncio.cc
Labels: cephfs, tests, build/ops, wip-rishabh-testing9

#59620 reef: client: Prevent race condition when printing Inode in ll_sync_inode
  src/client/Client.cc
Labels: cephfs, wip-rishabh-testing5

#58492 reef: client: check mds down status before getting mds_gid_t from mdsmap
  qa/tasks/mgr/dashboard/test_cephfs.py
  src/client/Client.cc
  src/pybind/mgr/dashboard/controllers/cephfs.py
Labels: cephfs, tests, pybind, dashboard, wip-rishabh-testing5

#58340 reef: qa/cephfs: a bug fix and few missing backport for caps_helper.py
  qa/tasks/cephfs/caps_helper.py
Labels: cephfs, tests, needs-review, wip-rishabh-testing5

#60511 qa/dashboard: fix tasks.mgr.dashboard.test_health.HealthTest
  qa/tasks/mgr/dashboard/helper.py
  qa/tasks/mgr/dashboard/test_mgr_module.py
  qa/tasks/mgr/mgr_test_case.py
  src/pybind/mgr/dashboard/run-backend-api-tests.sh
Labels: tests, pybind, dashboard

#60626 mgr/dashboard: update carbon-components-angular
  src/pybind/mgr/dashboard/frontend/package-lock.json
  src/pybind/mgr/dashboard/frontend/package.json
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/mirroring/bootstrap-create-modal/bootstrap-create-modal.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cephfs/cephfs-auth-modal/cephfs-auth-modal.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/pool/pool-form/pool-form.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/datatable/table-key-value/table-key-value.component.html
  src/pybind/mgr/dashboard/frontend/src/app/shared/datatable/table/table.component.ts
Labels: pybind, dashboard

#59328 rgw: d3n: set access permissions for the D3N cache directory when creating
  src/rgw/driver/rados/rgw_d3n_datacache.cc
Labels: rgw, needs-qa, wip-mkogan-testing

#60529 doc/start: separate package chart from container chart
  doc/start/os-recommendations.rst
Labels: documentation

#59122 reef: [RGW] Fix the handling of HEAD requests that do not comply with RFC standards
  src/rgw/rgw_rest.cc
Labels: rgw, needs-qa, wip-yuri11-testing

#59261 reef: rgw: add versioning status during `radosgw-admin bucket stats`
  src/rgw/driver/rados/rgw_bucket.cc
Labels: rgw, needs-qa, wip-yuri11-testing

#59341 reef: rgw/archive: avoid duplicating objects when syncing from multiple zones
  src/rgw/driver/rados/rgw_cr_rados.cc
  src/rgw/driver/rados/rgw_cr_rados.h
  src/rgw/driver/rados/rgw_data_sync.cc
  src/rgw/driver/rados/rgw_rados.cc
  src/rgw/driver/rados/rgw_rados.h
Labels: rgw, needs-qa, wip-yuri11-testing

#59346 reef: rgw/sts: changing identity to boost::none, when role policy
  src/rgw/rgw_op.cc
Labels: rgw, needs-qa, wip-yuri11-testing

#59351 reef: rgwfile: fix lock_guard decl
  src/rgw/rgw_file.cc
Labels: rgw, needs-qa, wip-yuri11-testing

#60097 reef: rgw/rados: don't rely on IoCtx::get_last_version() for async ops
  qa/suites/rgw/verify/tasks/cls.yaml
  qa/workunits/rgw/test_rgw_throttle.sh
  src/librados/librados_asio.h
  src/rgw/driver/rados/rgw_d3n_datacache.h
  src/rgw/driver/rados/rgw_putobj_processor.cc
  src/rgw/driver/rados/rgw_rados.cc
  src/rgw/driver/rados/rgw_rados.h
  src/rgw/driver/rados/rgw_tools.cc
  src/rgw/driver/rados/rgw_tools.h
  src/rgw/rgw_aio.cc
  src/rgw/rgw_aio.h
  src/rgw/rgw_aio_throttle.cc
  src/rgw/rgw_aio_throttle.h
  src/rgw/rgw_d3n_cacherequest.h
  src/rgw/services/svc_sys_obj_core.cc
  src/test/librados/asio.cc
  src/test/rgw/CMakeLists.txt
  src/test/rgw/test_rgw_throttle.cc
Labels: core, rgw, needs-qa, tests, build/ops, wip-yuri11-testing, wip-bharath16-testing

#60092 qa/vstart-runner: Only remove non-ASCII characters from string-based command outputs
  qa/tasks/vstart_runner.py
Labels: tests

#60705 doc/radosgw: s/Poliicy/Policy/
  doc/radosgw/account.rst
Labels: documentation

#60704 doc/start: fix "are are" typo
  doc/start/hardware-recommendations.rst
Labels: documentation

#60703 doc/rados: correct "full ratio" note
  doc/rados/operations/add-or-rm-osds.rst
Labels: documentation, core

#60698 squid: doc/start: separate package chart from container chart
  doc/start/os-recommendations.rst
Labels: documentation

#60708 squid: doc/start: fix "are are" typo
  doc/start/hardware-recommendations.rst
Labels: documentation

#60709 reef: doc/start: fix "are are" typo
  doc/start/hardware-recommendations.rst
Labels: documentation

#60710 quincy: doc/start: fix "are are" typo
  doc/start/hardware-recommendations.rst
Labels: documentation

#60707 squid: doc/radosgw: s/Poliicy/Policy/
  doc/radosgw/account.rst
Labels: documentation

#60675 make-dist: Quiet submodule operations in Jenkins
  make-dist
Labels: build/ops

#60226 mds/QuiesceDbEncoding: add `inline` to work around linker error
  src/mds/QuiesceDbEncoding.h
Labels: cephfs, needs-qa, wip-pdonnell-testing

#60283 mds,client: correct last_issue struct fields and consistently send last_issue in cap messages
  src/client/Client.cc
  src/client/MetaSession.cc
  src/include/ceph_fs.h
  src/mds/Capability.h
  src/mds/Locker.cc
  src/mds/MDCache.cc
  src/messages/MClientCaps.h
Labels: cephfs, needs-qa, wip-pdonnell-testing

#60325 mds/Beacon: wake up the thread in shutdown()
  src/mds/Beacon.cc
Labels: cephfs, needs-qa, wip-pdonnell-testing

#60381 mds: trim mdlog when segments exceed threshold and trim was idle
  doc/cephfs/mds-journaling.rst
  src/common/options/mds.yaml.in
  src/mds/Beacon.cc
  src/mds/MDLog.cc
  src/mds/MDLog.h
Labels: documentation, cephfs, common, wip-pdonnell-testing, wip-vshankar-testing

#60327 mon/MDSMonitor: send reply to beacons with `state=DNE`
  src/mon/MDSMonitor.cc
Labels: core, cephfs, needs-qa, mon, wip-pdonnell-testing

#60464 log: concatenate thread names and print once per thread
  src/ceph_mds.cc
  src/ceph_mgr.cc
  src/ceph_mon.cc
  src/ceph_nvmeof_monitor_client.cc
  src/client/SyntheticClient.cc
  src/common/Thread.cc
  src/common/Thread.h
  src/common/assert.cc
  src/common/ceph_timer.h
  src/common/code_environment.cc
  src/common/compat.cc
  src/common/obj_bencher.cc
  src/crimson/os/alienstore/thread_pool.cc
  src/global/signal_handler.cc
  src/include/compat.h
  src/log/Entry.h
  src/log/Log.cc
  src/log/Log.h
  src/mds/Beacon.cc
  src/mds/MDCache.cc
  src/mds/MDLog.cc
  src/mds/MDSRank.cc
  src/mds/MetricAggregator.cc
  src/mds/MetricsHandler.cc
  src/mds/PurgeQueue.cc
  src/mds/QuiesceAgent.h
  src/mds/QuiesceDbManager.cc
  src/msg/async/Stack.h
  src/msg/async/rdma/RDMAStack.cc
  src/rgw/driver/rados/rgw_notify.cc
  src/rgw/rgw_amqp.cc
  src/rgw/rgw_kafka.cc
  src/rgw/rgw_lua_background.cc
  src/rgw/rgw_ratelimit.h
Labels: core, rgw, cephfs, common, wip-pdonnell-testing, crimson, nvmeof

#60554 Make mon_info_t consistent with mon_addr
  src/mon/MonMap.cc
Labels: bug-fix, core, needs-qa, mon

#60632 squid: mgr/dashboard: remove cherrypy_backports.py
  src/pybind/mgr/dashboard/cherrypy_backports.py
  src/pybind/mgr/dashboard/module.py
  src/pybind/mgr/prometheus/module.py
Labels: needs-qa, pybind, dashboard, monitoring, wip-adk4-testing

#60620 squid: mgr/dashboard: add cephfs rename REST API
  qa/tasks/mgr/dashboard/test_cephfs.py
  src/pybind/mgr/dashboard/controllers/cephfs.py
  src/pybind/mgr/dashboard/openapi.yaml
  src/pybind/mgr/dashboard/services/cephfs.py
Labels: tests, pybind, dashboard, api-change

#60466 squid: mgr/dashboard: fix bucket get for s3 account owned bucket
  src/pybind/mgr/dashboard/controllers/rgw.py
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-bucket-form/rgw-bucket-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-bucket-form/rgw-bucket-form.component.ts
  src/pybind/mgr/dashboard/openapi.yaml
  src/pybind/mgr/dashboard/services/rgw_client.py
  src/pybind/mgr/dashboard/services/rgw_iam.py
Labels: pybind, dashboard, api-change

#58381 squid: cephadm/services/ingress: fixed keepalived config bug
  src/pybind/mgr/cephadm/services/ingress.py
  src/pybind/mgr/cephadm/tests/test_services.py
Labels: pybind, cephadm, wip-adk4-testing, wip-saraut04-testing

#58515 squid: mgr/cephadm/services/ingress Fix HAProxy to listen on IPv4 and IPv6
  src/pybind/mgr/cephadm/services/ingress.py
  src/pybind/mgr/cephadm/tests/test_services.py
Labels: pybind, cephadm, wip-adk4-testing, wip-saraut03-testing

#58711 squid: mgr/cephadm: bump monitoring stacks version
  qa/suites/orch/cephadm/workunits/task/test_monitoring_stack_basic.yaml
  src/cephadm/cephadmlib/constants.py
  src/pybind/mgr/cephadm/module.py
  src/pybind/mgr/dashboard/frontend/cypress/e2e/common/grafana.feature.po.ts
Labels: tests, pybind, dashboard, cephadm, wip-adk4-testing

#59472 squid: qa/upgrade: fix checks to make sure upgrade is still in progress
  qa/suites/upgrade/quincy-x/parallel/upgrade-sequence.yaml
  qa/suites/upgrade/quincy-x/stress-split/1-start.yaml
  qa/suites/upgrade/reef-x/parallel/upgrade-sequence.yaml
  qa/suites/upgrade/reef-x/stress-split/1-start.yaml
  qa/suites/upgrade/telemetry-upgrade/quincy-x/1-tasks.yaml
  qa/suites/upgrade/telemetry-upgrade/reef-x/1-tasks.yaml
Labels: tests, cephadm, telemetry, wip-adk4-testing, wip-saraut04-testing

#59710 squid: mgr/cephadm: make ssh keepalive settings configurable
  src/pybind/mgr/cephadm/module.py
  src/pybind/mgr/cephadm/ssh.py
Labels: pybind, cephadm, wip-adk4-testing, wip-saraut03-testing

#59929 squid: cephadm: emit warning if daemon's image is not to be used
  src/cephadm/cephadm.py
Labels: cephadm, wip-adk4-testing, wip-saraut04-testing

#59933 squid: cephadm: Support Docker Live Restore
  doc/cephadm/install.rst
  src/cephadm/cephadmlib/templates/ceph.service.j2
  src/cephadm/cephadmlib/templates/init_ctr.service.j2
  src/cephadm/cephadmlib/templates/sidecar.service.j2
  src/cephadm/tests/test_unit_file.py
Labels: documentation, cephadm, wip-adk4-testing, wip-saraut04-testing

#59934 squid: qa/cephadm: extend iscsi teuth test
  qa/suites/orch/cephadm/workunits/task/test_iscsi_container/test_iscsi_container.yaml
  qa/workunits/cephadm/test_iscsi_setup.sh
Labels: tests, cephadm, wip-adk4-testing, wip-saraut04-testing

#59935 squid: mgr/cephadm: add --no-exception-when-missing flag to cert-store cert/key get
  src/pybind/mgr/cephadm/module.py
  src/pybind/mgr/orchestrator/_interface.py
  src/pybind/mgr/orchestrator/module.py
Labels: pybind, orchestrator, cephadm, wip-adk4-testing, wip-saraut03-testing

#59945 squid: mgr/rgwam: use realm/zonegroup/zone method arguments for period update
  src/pybind/mgr/dashboard/services/rgw_client.py
  src/python-common/ceph/rgw/rgwam_core.py
Labels: core, pybind, dashboard, cephadm, backport: no-conflicts, wip-adk4-testing, wip-saraut03-testing

#59948 squid: mgr/cephadm: use host address while updating rgw zone endpoints
  src/pybind/mgr/cephadm/serve.py
Labels: pybind, cephadm, backport: no-conflicts, wip-adk4-testing, wip-saraut03-testing

#60067 mon: add nvmeof healthchecks
  doc/rados/operations/health-checks.rst
  qa/suites/nvmeof/basic/clusters/4-gateways-2-initiator.yaml
  qa/suites/nvmeof/thrash/thrashers/nvmeof_mon_thrash.yaml
  qa/suites/nvmeof/thrash/thrashers/nvmeof_thrash.yaml
  src/mon/NVMeofGwMap.cc
  src/mon/NVMeofGwMap.h
  src/mon/NVMeofGwMon.cc
Labels: documentation, core, tests, mon, nvmeof, wip-vallari-testing

#51766 mds: session in the importing state cannot be cleared if an export subtree task is interrupted while the state of importer is acking
  qa/tasks/cephfs/cephfs_test_case.py
  qa/tasks/cephfs/filesystem.py
  qa/tasks/cephfs/test_exports.py
  src/mds/Migrator.cc
  src/mds/Server.cc
  src/mds/Server.h
  src/mds/SessionMap.cc
  src/mds/SessionMap.h
Labels: cephfs, tests, needs-review, wip-vshankar-testing

#60404 monitoring: add 2 nvmeof alerts to prometheus_alerts.yaml
  monitoring/ceph-mixin/prometheus_alerts.libsonnet
  monitoring/ceph-mixin/prometheus_alerts.yml
  monitoring/ceph-mixin/tests_alerts/test_alerts.yml
Labels: dashboard, monitoring, wip-vallari2-testing

#60727 ceph-volume: fix dmcrypt activation regression
  src/ceph-volume/ceph_volume/objectstore/lvmbluestore.py
Labels: ceph-volume, wip-guits-main

#60715 osd/scrub: list additional information when dumping the queue
  src/osd/scrubber/osd_scrub_sched.cc
Labels: core

#60672 reef: doc: Document which options are disabled by mClock.
  doc/rados/configuration/osd-config-ref.rst
  doc/rados/operations/monitoring-osd-pg.rst
  src/common/options/osd.yaml.in
Labels: documentation, core, common

#60671 squid: doc: Document which options are disabled by mClock.
  doc/rados/configuration/osd-config-ref.rst
  doc/rados/operations/monitoring-osd-pg.rst
  src/common/options/osd.yaml.in
Labels: documentation, core, common

#60699 reef: doc/start: separate package chart from container chart
  doc/start/os-recommendations.rst
Labels: documentation

#60655 crimson/os/seastore: move the root meta out of the root block
  src/crimson/os/seastore/cache.cc
  src/crimson/os/seastore/cache.h
  src/crimson/os/seastore/random_block_manager/block_rb_manager.cc
  src/crimson/os/seastore/root_meta.h
  src/crimson/os/seastore/seastore_types.cc
  src/crimson/os/seastore/seastore_types.h
  src/crimson/os/seastore/transaction_manager.cc
  src/crimson/os/seastore/transaction_manager.h
  src/test/crimson/seastore/test_object_data_handler.cc
  src/test/crimson/seastore/test_transaction_manager.cc
Labels: tests, crimson, seastore, wip-yingxin-testing, needs-crimson-seastore-qa

#59123 squid: [RGW] Fix the handling of HEAD requests that do not comply with RFC standards
  src/rgw/rgw_rest.cc
Labels: rgw, needs-qa, wip-yuri8-testing

#59678 squid: rgw/multipart: use cls_version to avoid racing between part upload and multipart complete
  src/rgw/driver/daos/rgw_sal_daos.cc
  src/rgw/driver/daos/rgw_sal_daos.h
  src/rgw/driver/motr/rgw_sal_motr.cc
  src/rgw/driver/motr/rgw_sal_motr.h
  src/rgw/driver/posix/rgw_sal_posix.cc
  src/rgw/driver/posix/rgw_sal_posix.h
  src/rgw/driver/rados/rgw_bucket.cc
  src/rgw/driver/rados/rgw_object_expirer_core.cc
  src/rgw/driver/rados/rgw_putobj_processor.cc
  src/rgw/driver/rados/rgw_rados.cc
  src/rgw/driver/rados/rgw_rados.h
  src/rgw/driver/rados/rgw_sal_rados.cc
  src/rgw/driver/rados/rgw_sal_rados.h
  src/rgw/rgw_op.cc
  src/rgw/rgw_sal.h
  src/rgw/rgw_sal_dbstore.cc
  src/rgw/rgw_sal_dbstore.h
  src/rgw/rgw_sal_filter.cc
  src/rgw/rgw_sal_filter.h
  src/rgw/rgw_sal_store.h
Labels: rgw, needs-qa, wip-yuri8-testing

#59754 squid: rgw/kafka: refactor topic creation to avoid rd_kafka_topic_name()
  src/rgw/rgw_kafka.cc
Labels: rgw, needs-qa, wip-yuri8-testing

#60130 squid: rgw: decrypt multipart get part when encrypted
  src/rgw/driver/rados/rgw_rados.cc
Labels: rgw, needs-qa, wip-yuri8-testing

#60734 squid: ceph-volume: fix dmcrypt activation regression
  src/ceph-volume/ceph_volume/objectstore/lvmbluestore.py
Labels: ceph-volume, wip-guits-squid

#60711 rgw: Update README for DBStore and Posix drivers
  src/rgw/driver/dbstore/README.md
  src/rgw/driver/posix/README.md
Labels: documentation, rgw

#59120 squid: rgw: add s3select usage to log usage
  qa/tasks/radosgw_admin.py
  src/cls/rgw/cls_rgw_types.cc
  src/cls/rgw/cls_rgw_types.h
  src/rgw/rgw_common.h
  src/rgw/rgw_log.cc
  src/rgw/rgw_rest_s3.cc
  src/rgw/rgw_s3select.cc
  src/rgw/rgw_usage.cc
  src/tools/ceph-dencoder/rgw_types.h
Labels: rgw, needs-qa, tests, wip-yuri8-testing

#59302 squid: rgw/notifications: fixing radosgw-admin notification json
  src/rgw/rgw_pubsub.cc
  src/test/rgw/bucket_notification/test_bn.py
Labels: rgw, needs-qa, tests, wip-yuri8-testing

#60164 squid: cls/user: reset stats only returns marker when truncated
  src/cls/user/cls_user.cc
Labels: rgw, needs-qa, wip-yuri8-testing

#60309 rgw_cksum: treat mpu checksums w/o part count as valid in CompleteMu…
  src/rgw/rgw_op.cc
Labels: bug-fix, rgw, needs-qa

#60765 doc/start: update os-recommendations.rst
  doc/start/os-recommendations.rst
Labels: documentation

#60674 rgw/notification: Fix segmentation fault in RGWPSListTopicsOp::execute() and correct topic listing to use get_topics_v2
  src/rgw/rgw_rest_pubsub.cc
Labels: rgw, needs-qa, tests, wip-yuval-testing

#60661 osd/scrub: fix 'schedule-deepscrub' test asok command
  src/osd/scrubber/pg_scrubber.cc
Labels: core, needs-qa, tests
