Repository ceph/ceph, pull requests merged in 2024-10, with the labels that each got.

#59875 cephfs_mirror: revert sync_duration to seconds
  doc/cephfs/cephfs-mirroring.rst
  qa/tasks/cephfs/test_mirroring.py
  src/tools/cephfs_mirror/PeerReplayer.cc
Labels: documentation, cephfs, tests, wip-vshankar-testing

#59886 reef: osd/scrub: reduce osd_requested_scrub_priority default value
  src/common/options/global.yaml.in
Labels: bug-fix, core, needs-qa, backport, wip-bharath13-testing

#59159 mgr/dashboard: rbd table actions enhancements
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-contants.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-form/rbd-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-form/rbd-form.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-list/rbd-list.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-list/rbd-list.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/help-text/help-text.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/shared/datatable/table-actions/table-actions.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/models/cd-table-action.ts
Labels: pybind, dashboard

#59978 mgr/dashboard: Fix adding listener and null issue for groups
  src/pybind/mgr/dashboard/controllers/nvmeof.py
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/nvmeof-gateway/nvmeof-gateway.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/nvmeof-subsystems/nvmeof-subsystems.component.ts
  src/pybind/mgr/dashboard/services/nvmeof_client.py
Labels: bug-fix, pybind, dashboard

#55334 tools/rados: allow to read setomapheader value from file
  src/tools/rados/rados.cc
Labels: core, needs-qa, tools, TESTED, ready-to-merge, wip-bharath3-testing

#56980 osd: class:device-class config database mask does not work for osd_compact_on_start
  src/osd/OSD.cc
Labels: bug-fix, core, needs-qa, TESTED, ready-to-merge, wip-bharath5-testing

#59370 quincy: mgr/rest: Trim requests array and limit size
  PendingReleaseNotes
  doc/mgr/restful.rst
  src/pybind/mgr/restful/module.py
Labels: documentation, core, pybind, mgr, TESTED, ready-to-merge, wip-bharath9-testing

#57495 reef: mon/LogMonitor: Use generic cluster log level config
  PendingReleaseNotes
  qa/standalone/ceph-helpers.sh
  qa/standalone/mon/mon-cluster-log.sh
  src/common/options/mon.yaml.in
  src/mon/LogMonitor.cc
  src/mon/LogMonitor.h
Labels: documentation, core, needs-qa, common, mon, TESTED, ready-to-merge

#58921 quincy: test: Create ParallelPGMapper object before start threadpool
  src/test/osd/TestOSDMap.cc
Labels: core, needs-qa, tests, TESTED, ready-to-merge

#60074 quincy: ceph.spec.in: we need jsonnet for all distroes for make check
  ceph.spec.in
Labels: build/ops

#58845 quincy: osd: avoid watcher remains after "rados watch" is interrupted
  src/osd/PrimaryLogPG.cc
  src/osd/Watch.cc
Labels: core, needs-qa, wip-yuri10-testing, quincy-batch-1

#59745 qa/rgw/multifs: add tasks/+ to concatenate tasks into same job
  qa/suites/rgw/multifs/0-install.yaml
  qa/suites/rgw/multifs/tasks/+
  qa/suites/rgw/multifs/tasks/rgw_bucket_quota.yaml
  qa/suites/rgw/multifs/tasks/rgw_multipart_upload.yaml
  qa/suites/rgw/multifs/tasks/rgw_ragweed.yaml
  qa/suites/rgw/multifs/tasks/rgw_s3tests.yaml
  qa/suites/rgw/multifs/tasks/rgw_user_quota.yaml
  qa/workunits/rgw/s3_utilities.pm
Labels: rgw, tests, TESTED, ready-to-merge

#58512 quincy: mgr/Mgr.cc: clear daemon health metrics instead of removing down/out osd from daemon state
  src/mgr/Mgr.cc
Labels: core, needs-qa, mgr, wip-yuri10-testing

#60084 squid: doc:update e-mail addresses governance
  doc/governance.rst
Labels: documentation

#60085 reef: doc:update e-mail addresses governance
  doc/governance.rst
Labels: documentation

#60086 quincy: doc:update e-mail addresses governance
  doc/governance.rst
Labels: documentation

#60005 qa/suites/rbd/iscsi: enable all supported container hosts
  qa/suites/rbd/iscsi/0-single-container-host.yaml
  qa/suites/rbd/iscsi/base/install.yaml
  qa/suites/rbd/iscsi/supported-container-hosts$
  qa/tasks/ceph_iscsi_client.py
  src/test/cli-integration/rbd/gwcli_create.t
  src/test/cli-integration/rbd/gwcli_delete.t
  src/test/cli-integration/rbd/iscsi_client.t
Labels: rbd, tests

#60069 mon/nvmeofgw*:fix monitor database corruption upon add gw
  src/mon/NVMeofGwMap.cc
Labels: core, mon

#59975 reef: qa/standalone/scrub: increase status updates frequency
  qa/standalone/scrub/osd-scrub-test.sh
Labels: needs-qa, tests, backport

#60078 squid: mgr/dashboard: Fix adding listener and null issue for groups
  src/pybind/mgr/dashboard/controllers/nvmeof.py
  src/pybind/mgr/dashboard/services/nvmeof_client.py
Labels: pybind, dashboard, backport: no-conflicts

#59953 squid: ceph-volume: fix OSD lvm/tpm2 activation
  src/ceph-volume/ceph_volume/objectstore/lvmbluestore.py
  src/ceph-volume/ceph_volume/objectstore/rawbluestore.py
  src/ceph-volume/ceph_volume/tests/objectstore/test_lvmbluestore.py
  src/ceph-volume/ceph_volume/tests/util/test_disk.py
  src/ceph-volume/ceph_volume/tests/util/test_encryption.py
  src/ceph-volume/ceph_volume/util/disk.py
  src/ceph-volume/ceph_volume/util/encryption.py
Labels: ceph-volume, wip-guits-squid

#59968 squid: ceph-volume: add call to `ceph-bluestore-tool zap-device`
  src/ceph-volume/ceph_volume/devices/lvm/zap.py
Labels: ceph-volume, wip-guits-squid

#59863 squid: orch: refactor boolean handling in drive group spec
  src/pybind/mgr/orchestrator/module.py
Labels: pybind, orchestrator, wip-adk4-testing, wip-saraut04-testing

#56721 reef: rgw: update options yaml file so LDAP uri isn't an invalid example
  src/common/options/rgw.yaml.in
  src/rgw/rgw_appmain.cc
Labels: rgw, needs-qa, common, TESTED, ready-to-merge

#60072 mgr/dashboard: Unable to delete realm via dashboard
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-multisite-details/rgw-multisite-details.component.ts
Labels: pybind, dashboard, regression

#58293 ceph_osd: false use-after-move on store
  src/ceph_osd.cc
  src/common/Preforker.h
Labels: core, needs-qa, common, GSoC / Outreachy, wip-bharath7-testing

#60087 quincy: qa/suites/rbd/iscsi: enable all supported container hosts
  qa/suites/rbd/iscsi/0-single-container-host.yaml
  qa/suites/rbd/iscsi/base/install.yaml
  qa/suites/rbd/iscsi/container-hosts$
  qa/tasks/ceph_iscsi_client.py
  src/test/cli-integration/rbd/gwcli_create.t
  src/test/cli-integration/rbd/gwcli_delete.t
  src/test/cli-integration/rbd/iscsi_client.t
Labels: rbd, tests, TESTED

#60088 reef: qa/suites/rbd/iscsi: enable all supported container hosts
  qa/suites/rbd/iscsi/0-single-container-host.yaml
  qa/suites/rbd/iscsi/base/install.yaml
  qa/suites/rbd/iscsi/supported-container-hosts$
  qa/tasks/ceph_iscsi_client.py
  src/test/cli-integration/rbd/gwcli_create.t
  src/test/cli-integration/rbd/gwcli_delete.t
  src/test/cli-integration/rbd/iscsi_client.t
Labels: rbd, tests, TESTED

#59479 blk/KernelDevice: using join() to wait thread end is more safe
  src/blk/kernel/KernelDevice.cc
  src/blk/kernel/KernelDevice.h
Labels: core, ready-to-merge, wip-bharath10-testing

#59513 cmake: use ExternalProjects to build isa-l and isa-l_crypto libraries
  cmake/modules/BuildISAL.cmake
  cmake/modules/BuildISALCrypto.cmake
  src/crypto/isa-l/CMakeLists.txt
  src/erasure-code/isa/CMakeLists.txt
Labels: core, build/ops, performance, ready-to-merge, wip-bharath10-testing

#58267 squid: suites: adding ignore list for stray daemon
  qa/suites/orch/cephadm/workunits/task/test_rgw_multisite.yaml
Labels: core, tests, cephadm, TESTED, ready-to-merge

#59311 rgw/cloudtier: initial MVP of the feature RestoreObject from cloud
  src/common/options/rgw.yaml.in
  src/doc/rgw/cloud-restore.md
  src/rgw/driver/daos/rgw_sal_daos.cc
  src/rgw/driver/daos/rgw_sal_daos.h
  src/rgw/driver/posix/rgw_sal_posix.cc
  src/rgw/driver/posix/rgw_sal_posix.h
  src/rgw/driver/rados/rgw_lc_tier.cc
  src/rgw/driver/rados/rgw_lc_tier.h
  src/rgw/driver/rados/rgw_object_expirer_core.cc
  src/rgw/driver/rados/rgw_rados.cc
  src/rgw/driver/rados/rgw_rados.h
  src/rgw/driver/rados/rgw_sal_rados.cc
  src/rgw/driver/rados/rgw_sal_rados.h
  src/rgw/driver/rados/rgw_zone.cc
  src/rgw/rgw_common.h
  src/rgw/rgw_lc.cc
  src/rgw/rgw_op.cc
  src/rgw/rgw_op.h
  src/rgw/rgw_op_type.h
  src/rgw/rgw_rest.h
  src/rgw/rgw_rest_s3.cc
  src/rgw/rgw_rest_s3.h
  src/rgw/rgw_sal.h
  src/rgw/rgw_sal_filter.cc
  src/rgw/rgw_sal_filter.h
  src/rgw/rgw_sal_store.h
  src/rgw/rgw_zone.cc
  src/rgw/rgw_zone_types.h
Labels: documentation, rgw, common

#59237 reef: cls/cas/cls_cas_internal: Initialize 'hash' value before decoding
  src/cls/cas/cls_cas_internal.h
Labels: core, needs-qa, wip-bharath12-testing

#59273 reef: osd: always send returnvec-on-errors for client's retry
  src/osd/PrimaryLogPG.cc
Labels: core, needs-qa, wip-bharath12-testing

#59274 reef: mon, qa: suites override ec profiles with --yes_i_really_mean_it; monitors accept that
  qa/standalone/mon/osd-erasure-code-profile.sh
  qa/workunits/cephtool/test.sh
  qa/workunits/rados/test_rados_tool.sh
  src/mon/MonCommands.h
Labels: core, needs-qa, tests, mon, wip-bharath12-testing

#59275 reef: mon: validate also mons and osds on {rm-,}pg-upmap-primary
  src/mon/OSDMonitor.cc
Labels: core, needs-qa, mon, wip-bharath12-testing

#60089 squid: qa/suites/rbd/iscsi: enable all supported container hosts
  qa/suites/rbd/iscsi/0-single-container-host.yaml
  qa/suites/rbd/iscsi/base/install.yaml
  qa/suites/rbd/iscsi/supported-container-hosts$
  qa/tasks/ceph_iscsi_client.py
  src/test/cli-integration/rbd/gwcli_create.t
  src/test/cli-integration/rbd/gwcli_delete.t
  src/test/cli-integration/rbd/iscsi_client.t
Labels: rbd, tests, TESTED

#60044 mgr/smb: fix condition for smb earmark when cluster_id doesn't match
  src/pybind/mgr/smb/handler.py
Labels: pybind, wip-athakkar-testing

#60095 global: Call getnam_r with a 64KiB buffer on the heap
  src/global/global_init.cc
Labels: bug-fix, needs-qa, common

#59580 rgw/multisite: avoid redundant error repo entry logging
  src/rgw/driver/rados/rgw_data_sync.cc
Labels: rgw, TESTED, ready-to-merge

#59927 mgr/cephadm: adding health check endpoint for mgmt-gateway
  src/pybind/mgr/cephadm/templates/services/mgmt-gateway/external_server.conf.j2
  src/pybind/mgr/cephadm/templates/services/mgmt-gateway/internal_server.conf.j2
  src/python-common/ceph/deployment/service_spec.py
Labels: pybind, cephadm, wip-adk-testing, wip-asm0deuz-testing

#60075 squid: ceph.spec.in: we need jsonnet for all distroes for make check
  ceph.spec.in
Labels: build/ops

#60076 reef: ceph.spec.in: we need jsonnet for all distroes for make check
  ceph.spec.in
Labels: build/ops

#60116 doc/governance: add Zac Dover's updated email
  doc/governance.rst
Labels: documentation

#60066 README: add OpenSSF Best Practices Badge
  README.md
Labels: documentation

#59770 qa/tasks/tox: unpin tox version
  qa/tasks/tox.py
Labels: rgw, tests, wip-cbodley-testing

#59977 rgw: handle http options CORS with v2 auth
  src/rgw/rgw_auth_s3.cc
  src/rgw/rgw_auth_s3.h
  src/rgw/rgw_rest_client.cc
  src/rgw/rgw_rest_s3.cc
Labels: rgw, needs-qa, wip-cbodley-testing

#60019 rgw: decrypt multipart get part when encrypted
  src/rgw/driver/rados/rgw_rados.cc
Labels: bug-fix, rgw, needs-qa, wip-cbodley-testing

#60134 squid: doc/governance: add Zac Dover's updated email
  doc/governance.rst
Labels: documentation

#60135 reef: doc/governance: add Zac Dover's updated email
  doc/governance.rst
Labels: documentation

#60136 quincy: doc/governance: add Zac Dover's updated email
  doc/governance.rst
Labels: documentation

#60115 doc/governance: add exec council responsibilites
  doc/governance.rst
Labels: documentation

#60139 squid: doc/governance: add exec council responsibilites
  doc/governance.rst
Labels: documentation

#60140 reef: doc/governance: add exec council responsibilites
  doc/governance.rst
Labels: documentation

#59870 mgr/dashboard: ignore exceptions raised when no cert/key found
  src/pybind/mgr/dashboard/services/nvmeof_conf.py
  src/pybind/mgr/dashboard/services/orchestrator.py
Labels: pybind, dashboard

#56118 cephfs_mirror, qa: fix test failure test_cephfs_mirror_cancel_mirroring_and_readd
  qa/tasks/cephfs/test_mirroring.py
  src/tools/cephfs_mirror/PeerReplayer.cc
Labels: cephfs, needs-qa, tests, wip-vshankar-testing4

#59699 mgr/status: Fix 'fs status' json output
  qa/tasks/cephfs/test_admin.py
  src/pybind/mgr/status/module.py
Labels: cephfs, tests, pybind, wip-vshankar-testing4

#60049 mgr/dashboard: Do not display restart gateway message on completion of Setup Multisite Replication wizard
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-multisite-details/rgw-multisite-details.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-multisite-wizard/rgw-multisite-wizard.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/rgw-multisite.service.ts
Labels: pybind, dashboard

#59971 reef: mgr/dashboard: fix setting compression type while editing rgw zone
  src/pybind/mgr/dashboard/services/rgw_client.py
Labels: pybind, dashboard

#59962 reef: mgr/dashboard: fix handling NaN values in dashboard charts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/prometheus.service.ts
Labels: pybind, dashboard

#58701 make-dist: replace all '-' for '.' for rpm release
  make-dist
Labels: build/ops, wip-kyr-testing

#60113 mgr/dashboard: increase timeout to detect replication user in the secondary cluster
  src/pybind/mgr/dashboard/services/rgw_client.py
Labels: pybind, dashboard

#59983 rgw/auth: fix internal server error for presigned urls
  src/rgw/rgw_auth.cc
Labels: rgw, needs-qa, wip-cbodley-testing

#59884 cls/user: reset stats only returns marker when truncated
  src/cls/user/cls_user.cc
Labels: bug-fix, rgw, needs-qa, wip-cbodley-testing

#60001 qa/rgw: add debug log to help diagnose 'bucket check unlinked' failure
  qa/workunits/rgw/test_rgw_bucket_check.py
Labels: rgw, needs-qa, tests, wip-cbodley-testing

#60146 doc: remove note for smb3 support
  doc/cephadm/services/smb.rst
Labels: documentation, cephadm

#59857 src/test/osd: create ceph_test_rados_io_sequence testing tool
  src/common/CMakeLists.txt
  src/common/io_exerciser/CMakeLists.txt
  src/common/io_exerciser/DataGenerator.cc
  src/common/io_exerciser/DataGenerator.h
  src/common/io_exerciser/IoOp.cc
  src/common/io_exerciser/IoOp.h
  src/common/io_exerciser/IoSequence.cc
  src/common/io_exerciser/IoSequence.h
  src/common/io_exerciser/Model.cc
  src/common/io_exerciser/Model.h
  src/common/io_exerciser/ObjectModel.cc
  src/common/io_exerciser/ObjectModel.h
  src/common/io_exerciser/RadosIo.cc
  src/common/io_exerciser/RadosIo.h
  src/test/osd/CMakeLists.txt
  src/test/osd/ceph_test_rados_io_sequence.cc
  src/test/osd/ceph_test_rados_io_sequence.h
Labels: core, tests, common, build/ops

#57582 OSD: PG stat is not synchronized between osds after deep-scrub
  src/osd/PeeringState.cc
Labels: bug-fix, core, needs-qa, DNM, wip-bharath7-testing

#60109 librbd/crypto/LoadRequest: clone format for migration source image
  qa/workunits/rbd/luks-encryption.sh
  src/librbd/crypto/LoadRequest.cc
  src/librbd/crypto/LoadRequest.h
Labels: rbd, tests, wip-dis-testing

#55133 quincy: os: introduce ObjectStore::refresh_perf_counters() method
  src/os/ObjectStore.h
  src/os/bluestore/BlueStore.cc
  src/os/bluestore/BlueStore.h
  src/os/filestore/FileStore.h
  src/os/kstore/KStore.h
  src/os/memstore/MemStore.h
  src/test/objectstore/store_test.cc
Labels: needs-qa, tests, wip-yuri2-testing, bluestore, backport

#56138 quincy: os/store_test: Retune tests to current code
  src/os/bluestore/BlueStore.cc
  src/test/objectstore/store_test.cc
Labels: needs-qa, tests, wip-yuri2-testing, bluestore, backport

#58674 quincy: blk/aio: fix long batch (64+K entries) submission
  src/blk/aio/aio.cc
  src/blk/aio/aio.h
  src/blk/kernel/KernelDevice.cc
  src/blk/kernel/io_uring.cc
  src/blk/kernel/io_uring.h
  src/test/objectstore/store_test.cc
Labels: core, needs-qa, tests, wip-yuri2-testing

#59468 quincy: os/bluestore: Warning added for slow operations and stalled read
  src/blk/BlockDevice.cc
  src/blk/BlockDevice.h
  src/blk/kernel/KernelDevice.cc
  src/common/options/global.yaml.in
  src/mon/PGMap.cc
  src/os/bluestore/BlueFS.cc
  src/os/bluestore/BlueFS.h
  src/os/bluestore/BlueStore.cc
  src/os/bluestore/BlueStore.h
Labels: documentation, core, needs-qa, common, wip-yuri2-testing, bluestore, mon

#59532 quincy: test/store_test: enforce sync compactions for spillover tests
  src/test/objectstore/store_test.cc
Labels: bug-fix, needs-qa, tests, wip-yuri2-testing

#60064 quincy: common/Formatter: dump inf/nan as null
  src/common/Formatter.cc
  src/common/Formatter.h
  src/test/common/test_json_formatter.cc
Labels: needs-qa, tests, common, wip-yuri2-testing

#60162 doc/governance: revert d7c144c0d7e490bfda9715a0c8462bb67cffc764
  doc/governance.rst
Labels: documentation

#60163 doc/man: supplant "wsync" with "nowsync" as the default
  doc/man/8/mount.ceph.rst
Labels: documentation, cephfs

#50193 quincy: mgr: don't dump global config holding gil
  src/mgr/ActivePyModules.cc
Labels: core, needs-qa, wip-yuri-testing, mgr

#54012 quincy: mgr: add throttle policy for DaemonServer
  src/mgr/DaemonServer.cc
Labels: core, needs-qa, needs-review, wip-yuri-testing, mgr

#54555 quincy: mgr: fix a race condition in DaemonServer::handle_report()
  src/mgr/DaemonServer.cc
Labels: core, needs-qa, wip-yuri-testing, mgr

#55597 quincy: mon/Monitor: during shutdown don't accept new authentication and crea…
  src/mon/Monitor.cc
Labels: core, needs-qa, wip-yuri-testing, mon

#55598 quincy: Tools/rados: Improve Error Messaging for Object Name Resolution
  src/tools/rados/rados.cc
Labels: core, needs-qa, tools, wip-yuri-testing

#60037 common: assert debug mutex lock is not held if !recursive
  src/common/ceph_mutex.h
  src/common/config_proxy.h
  src/common/mutex_debug.h
  src/osdc/Journaler.h
  src/test/common/test_mutex_debug.cc
Labels: cleanup, needs-qa, tests, common, wip-pdonnell-testing

#60032 mds: do not dump empty bufptr
  src/mds/CInode.cc
Labels: bug-fix, cephfs, needs-review, wip-pdonnell-testing

#60150 mgr/dashboard: add gw_groups to all nvmeof endpoints
  src/pybind/mgr/dashboard/controllers/nvmeof.py
  src/pybind/mgr/dashboard/openapi.yaml
Labels: pybind, dashboard, api-change

#60186 common/io_exerciser: Add version argument to callbacks in ceph_radios_io_sequence
  src/common/io_exerciser/RadosIo.cc
Labels: common

#60012 qa: ignore pg availability/degraded warnings
  qa/cephfs/overrides/pg_health.yaml
Labels: bug-fix, cephfs, tests, needs-review, wip-pdonnell-testing

#60204 doc: fix email
  doc/governance.rst
Labels: documentation

#60210 doc: update 'header get' output in cephfs-journal-tool.rst
  doc/cephfs/cephfs-journal-tool.rst
Labels: documentation, cephfs

#60211 common/io_exerciser: Modify is_locked_by_me call in ceph_test_rados_io_sequence
  src/common/io_exerciser/RadosIo.cc
Labels: common, wip-yuri2-testing

#60050 mgr/dashboard: show non default realm sync status in rgw overview page
  src/pybind/mgr/dashboard/controllers/rgw.py
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-overview-dashboard/rgw-overview-dashboard.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/rgw-multisite.service.ts
  src/pybind/mgr/dashboard/openapi.yaml
  src/pybind/mgr/dashboard/services/rgw_client.py
Labels: pybind, dashboard, api-change

#60101 mgr/dashboard: fix gateways section error:”404 - Not Found RGW Daemon not found: None”
  src/pybind/mgr/dashboard/services/rgw_client.py
Labels: pybind, dashboard

#59900 Squid: mgr/dashboard: NFS Export form fixes
  src/pybind/mgr/dashboard/frontend/src/app/ceph/nfs/nfs-form/nfs-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/nfs/nfs-form/nfs-form.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/nfs/nfs-form/nfs-form.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/constants/cephfs.constant.ts
Labels: pybind, dashboard

#60168 test/rgw/lua: use stats polling instead of sleep
  src/rgw/rgw_lua_background.h
  src/test/rgw/test_rgw_lua.cc
Labels: rgw, tests

#60079 test/rgw/posix: missing std include with GCC 14
  src/common/cohort_lru.h
Labels: rgw, common, ready-to-merge

#59692 crimson/os/seastore: refine seastore and transaction_manager logs, cleanups
  src/crimson/os/futurized_store.h
  src/crimson/os/seastore/cached_extent.cc
  src/crimson/os/seastore/cached_extent.h
  src/crimson/os/seastore/lba_manager/btree/btree_lba_manager.h
  src/crimson/os/seastore/onode_manager/staged-fltree/node_layout.h
  src/crimson/os/seastore/seastore.cc
  src/crimson/os/seastore/seastore.h
  src/crimson/os/seastore/seastore_types.cc
  src/crimson/os/seastore/transaction_manager.cc
  src/crimson/os/seastore/transaction_manager.h
  src/osd/osd_types_fmt.h
Labels: core, crimson, wip-yingxin-testing

#60161 qa/suites/crimson-rados/perf: add ssh keys
  qa/suites/crimson-rados/perf/deploy/ceph.yaml
Labels: tests, crimson, TESTED, ready-to-merge

#59987 client: Fix libcephfs aio metadata corruption.
  qa/suites/fs/libcephfs/tasks/client.yaml
  qa/tasks/cephfs/test_nfs.py
  qa/workunits/client/test_oc_disabled.sh
  src/client/Client.cc
  src/client/Client.h
  src/test/client/nonblocking.cc
Labels: cephfs, tests, wip-vshankar-testing, nfs

#60011 qa: do not fail cephfs QA tests for slow bluestore ops
  qa/cephfs/overrides/ignorelist_health.yaml
Labels: bug-fix, cephfs, tests, needs-review, wip-pdonnell-testing

#60233 squid: doc: fix email
  doc/governance.rst
Labels: documentation

#60234 reef: doc: fix email
  doc/governance.rst
Labels: documentation

#60235 quincy: doc: fix email
  doc/governance.rst
Labels: documentation

#60243 doc/dev: remove "Stable Releases and Backports"
  doc/dev/developer_guide/essentials.rst
Labels: documentation

#60206 qa/suites/nvmeof: Fix broken suite by using --no-group-append tag
  qa/suites/nvmeof/basic/workloads/nvmeof_initiator.yaml
  qa/suites/nvmeof/basic/workloads/nvmeof_namespaces.yaml
  qa/suites/nvmeof/basic/workloads/nvmeof_scalability.yaml
  qa/suites/nvmeof/thrash/gateway-initiator-setup/3-subsys-60-namespace.yaml
  qa/workunits/nvmeof/setup_subsystem.sh
Labels: tests

#59045 qa/rados/upgrade: ignore PG_DEGRADED
  qa/suites/upgrade/reef-x/parallel/0-start.yaml
  qa/suites/upgrade/reef-x/parallel/1-tasks.yaml
Labels: core, needs-qa, tests, wip-bharath3-testing

#60231 squid: mgr/dashboard: fix gateways section error:”404 - Not Found RGW Daemon not found: None”
  src/pybind/mgr/dashboard/services/rgw_client.py
Labels: pybind, dashboard, backport: no-conflicts

#60147 mgr/dashboard: unable to edit pipe config for bucket level policy of bucket
  src/pybind/mgr/dashboard/controllers/rgw.py
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-multisite-sync-pipe-modal/rgw-multisite-sync-pipe-modal.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-multisite-sync-pipe-modal/rgw-multisite-sync-pipe-modal.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-multisite-sync-pipe-modal/rgw-multisite-sync-pipe-modal.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/rgw-multisite.service.ts
  src/pybind/mgr/dashboard/openapi.yaml
  src/pybind/mgr/dashboard/services/rgw_client.py
Labels: pybind, dashboard, api-change

#59720 crimson/os/seastore: fix data inconsistency during ool writes
  src/crimson/os/seastore/cache.cc
  src/crimson/os/seastore/extent_placement_manager.cc
  src/crimson/os/seastore/transaction.h
Labels: bug-fix, crimson, seastore, wip-yingxin-testing, needs-crimson-seastore-qa

#60232 squid: mgr/dashboard: show non default realm sync status in rgw overview page
  src/pybind/mgr/dashboard/controllers/rgw.py
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-overview-dashboard/rgw-overview-dashboard.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/rgw-multisite.service.ts
  src/pybind/mgr/dashboard/openapi.yaml
  src/pybind/mgr/dashboard/services/rgw_client.py
Labels: pybind, dashboard, backport: no-conflicts, api-change

#60028 mgr/cephadm: adding config to enforce clients cert check for internal nginx (mTLS)
  src/pybind/mgr/cephadm/templates/services/mgmt-gateway/internal_server.conf.j2
  src/pybind/mgr/cephadm/tests/test_services.py
Labels: pybind, cephadm

#60269 squid: doc/rbd: add namespace information for mirror commands
  doc/man/8/rbd.rst
Labels: documentation, rbd

#60270 reef: doc/rbd: add namespace information for mirror commands
  doc/man/8/rbd.rst
Labels: documentation, rbd

#60271 quincy: doc/rbd: add namespace information for mirror commands
  doc/man/8/rbd.rst
Labels: documentation, rbd

#59853 crimson/osd: purge strays when PGs go clean
  src/crimson/osd/osd.cc
  src/crimson/osd/osd.h
  src/crimson/osd/pg.cc
  src/crimson/osd/pg.h
Labels: crimson, needs-crimson-qa, crimson-replicated-recovery

#59776 crimson/osd/backfill_state: always go to Enqueuing when object is pushed during Waiting
  src/crimson/osd/backfill_state.cc
  src/crimson/osd/backfill_state.h
  src/test/crimson/test_backfill.cc
Labels: bug-fix, tests, crimson, needs-crimson-qa, crimson-replicated-recovery

#59916 crimson/osd/backfill_state: do at least one time of replica scanning if necessary in the Enqueuing state
  src/crimson/osd/backfill_state.cc
Labels: bug-fix, tests, crimson, needs-crimson-qa, crimson-replicated-recovery

#60198 qa/standalone/scrub: remove TEST_recovery_scrub_2
  qa/standalone/scrub/osd-recovery-scrub.sh
Labels: core, tests, needs-squid-backport

#59878 crimson/osd/backfill_state: push peer pg infos' last_backfills only when all objects before them are backfilled
  src/crimson/osd/backfill_state.cc
Labels: bug-fix, crimson, TESTED, ready-to-merge, crimson-replicated-recovery

#59572 crimson/osd/backfill_state: add the object to be pushed in the peer missing set of PeeringState
  src/crimson/osd/backfill_facades.h
  src/crimson/osd/backfill_state.cc
  src/crimson/osd/backfill_state.h
  src/crimson/osd/pg_recovery.cc
  src/crimson/osd/pg_recovery.h
  src/test/crimson/test_backfill.cc
Labels: bug-fix, tests, crimson, TESTED, ready-to-merge, crimson-replicated-recovery

#60259 mgr/dashboard: Fix listener deletion
  src/pybind/mgr/dashboard/controllers/nvmeof.py
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/nvmeof-listeners-list/nvmeof-listeners-list.component.ts
Labels: pybind, dashboard

#59905 mgr/dashboard: introduce server side pagination for osds
  qa/tasks/mgr/dashboard/test_osd.py
  src/pybind/mgr/dashboard/controllers/osd.py
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/osd/osd-list/osd-list.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/osd/osd-list/osd-list.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/osd/osd-list/osd-list.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/osd.service.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/osd.service.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/paginate.model.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/classes/paginate-params.class.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/models/cd-table-fetch-data-context.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/models/osd.model.ts
  src/pybind/mgr/dashboard/openapi.yaml
  src/pybind/mgr/dashboard/tests/test_osd.py
Labels: tests, pybind, dashboard, api-change

#59963 reef: mgr/dashboard: update period after migrating to multi-site
  src/pybind/mgr/dashboard/services/rgw_client.py
Labels: pybind, dashboard

#60247 mon/nvmeofgw*: fix HA usecase when gateway has no listeners: behaves …
  src/mon/NVMeofGwMap.cc
  src/mon/NVMeofGwMap.h
  src/mon/NVMeofGwMon.cc
Labels: core, mon

#60219 qa/cephfs: update earmark values to valid ones in test_volumes.py
  qa/tasks/cephfs/test_volumes.py
Labels: cephfs, tests, wip-phlogistonjohn-testing-1

#59894 squid: mgr/volumes: add earmarking for subvol
  doc/cephfs/fs-volumes.rst
  qa/tasks/cephfs/test_volumes.py
  src/pybind/mgr/volumes/fs/operations/subvolume.py
  src/pybind/mgr/volumes/fs/operations/template.py
  src/pybind/mgr/volumes/fs/operations/versions/subvolume_base.py
  src/pybind/mgr/volumes/fs/operations/versions/subvolume_v1.py
  src/pybind/mgr/volumes/fs/operations/versions/subvolume_v2.py
  src/pybind/mgr/volumes/fs/volume.py
  src/pybind/mgr/volumes/module.py
  src/python-common/ceph/fs/__init__.py
  src/python-common/ceph/fs/earmarking.py
  src/python-common/ceph/tests/test_earmarking.py
Labels: core, backport: no-conflicts

#60242 doc: SubmittingPatches-backports - remove backports team
  SubmittingPatches-backports.rst
Labels: documentation

#59942 osd/scrub: separate shallow vs deep errors storage
  qa/standalone/scrub/osd-scrub-repair.sh
  src/common/map_cacher.hpp
  src/common/scrub_types.cc
  src/common/scrub_types.h
  src/osd/scrubber/ScrubStore.cc
  src/osd/scrubber/ScrubStore.h
  src/osd/scrubber/pg_scrubber.cc
  src/osd/scrubber/pg_scrubber.h
Labels: core, tests, common

#60272 squid: doc/dev: remove "Stable Releases and Backports"
  doc/dev/developer_guide/essentials.rst
Labels: documentation

#60273 reef: doc/dev: remove "Stable Releases and Backports"
  doc/dev/developer_guide/essentials.rst
Labels: documentation

#60274 quincy: doc/dev: remove "Stable Releases and Backports"
  doc/dev/developer_guide/essentials.rst
Labels: documentation

#60298 reef: doc: SubmittingPatches-backports - remove backports team
  SubmittingPatches-backports.rst
Labels: documentation

#60299 quincy: doc: SubmittingPatches-backports - remove backports team
  SubmittingPatches-backports.rst
Labels: documentation

#55775 quincy: test/store_test: get rid off assert_death.
  src/common/options/global.yaml.in
  src/os/bluestore/BlueStore.cc
  src/os/bluestore/BlueStore.h
  src/os/kstore/KStore.cc
  src/os/kstore/KStore.h
  src/os/memstore/MemStore.cc
  src/test/objectstore/store_test.cc
  src/test/objectstore/store_test_fixture.cc
  src/test/objectstore/store_test_fixture.h
Labels: needs-qa, tests, bluestore, wip-yuri11-testing, backport

#60169 qa/suites/tasks/cbt.py: Deprecating cosbench from Teuthology in preparation for deletion of cosbench from CBT
  qa/README
  qa/tasks/cbt.py
Labels: tests

#59914 crimson/osd/pg: remove snapmapper objects when eventually removing collections at the last moment of pg deleting, just as pg meta objects
  src/crimson/osd/pg.cc
  src/crimson/osd/shard_services.cc
Labels: bug-fix, crimson, TESTED, ready-to-merge, crimson-replicated-recovery

#48310 quincy: log: Make log_max_recent have an effect again.
  src/common/options/global.yaml.in
  src/log/Entry.h
  src/log/Log.cc
  src/log/Log.h
Labels: needs-qa, common, wip-yuri8-testing

#54356 quincy: common/admin_socket: add a command to raise a signal
  doc/rados/operations/monitoring.rst
  src/common/admin_socket.cc
  src/common/admin_socket.h
  src/test/admin_socket.cc
Labels: documentation, core, needs-qa, tests, common, needs-review, wip-yuri8-testing, wip-lxb-testing-quincy5

#60297 squid: doc: SubmittingPatches-backports - remove backports team
  SubmittingPatches-backports.rst
Labels: documentation

#55865 squid: mon/OSDMonitor: fix get_min_last_epoch_clean()
  src/mon/OSDMonitor.cc
  src/mon/OSDMonitor.h
Labels: core, needs-qa, mon, TESTED, ready-to-merge

#60229 squid: Add Containerfile and build.sh to build it.
  container/Containerfile
  container/build.sh
  container/make-manifest-list.py
Labels: wip-yuri-testing

#60301 doc/governance: add new CSC members
  doc/governance.rst
Labels: documentation

#60294 squid: mgr/dashboard: introduce server side pagination for osds
  qa/tasks/mgr/dashboard/test_osd.py
  src/pybind/mgr/dashboard/controllers/osd.py
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/osd/osd-list/osd-list.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/osd/osd-list/osd-list.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/osd/osd-list/osd-list.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/osd.service.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/osd.service.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/paginate.model.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/classes/paginate-params.class.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/models/cd-table-fetch-data-context.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/models/osd.model.ts
  src/pybind/mgr/dashboard/openapi.yaml
  src/pybind/mgr/dashboard/tests/test_osd.py
Labels: tests, pybind, dashboard, api-change

#60310 squid: mgr/dashboard: add gw_groups to all nvmeof endpoints
  src/pybind/mgr/dashboard/controllers/nvmeof.py
  src/pybind/mgr/dashboard/openapi.yaml
Labels: pybind, dashboard, api-change

#60212 labeler: add nvmeof labelers
  .github/labeler.yml
Labels: CI

#60295 reef: mgr/dashboard: introduce server side pagination for osds
  qa/tasks/mgr/dashboard/test_osd.py
  src/pybind/mgr/dashboard/controllers/osd.py
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/osd/osd-list/osd-list.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/osd/osd-list/osd-list.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/osd/osd-list/osd-list.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/osd.service.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/osd.service.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/paginate.model.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/classes/paginate-params.class.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/models/cd-table-fetch-data-context.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/models/osd.model.ts
  src/pybind/mgr/dashboard/openapi.yaml
  src/pybind/mgr/dashboard/tests/test_osd.py
Labels: tests, pybind, dashboard, api-change

#55216 quincy: test/store_test: refactor spillover tests
  src/os/bluestore/BlueFS.cc
  src/os/bluestore/BlueFS.h
  src/os/bluestore/BlueStore.cc
  src/os/bluestore/BlueStore.h
  src/test/objectstore/store_test.cc
Labels: core, needs-qa, tests, bluestore, TESTED, ready-to-merge, backport

#60292 squid: mgr/dashboard: Fix listener deletion
  src/pybind/mgr/dashboard/controllers/nvmeof.py
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/nvmeof-listeners-list/nvmeof-listeners-list.component.ts
Labels: pybind, dashboard

#60293 Squid: mgr/dashboard: unable to edit pipe config for bucket level policy of bucket
  src/pybind/mgr/dashboard/controllers/rgw.py
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-multisite-sync-pipe-modal/rgw-multisite-sync-pipe-modal.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-multisite-sync-pipe-modal/rgw-multisite-sync-pipe-modal.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-multisite-sync-pipe-modal/rgw-multisite-sync-pipe-modal.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/rgw-multisite.service.ts
  src/pybind/mgr/dashboard/openapi.yaml
  src/pybind/mgr/dashboard/services/rgw_client.py
Labels: pybind, dashboard, api-change

#60287 squid: qa/standalone/scrub: remove TEST_recovery_scrub_2
  qa/standalone/scrub/osd-recovery-scrub.sh
Labels: needs-qa, tests, backport, backport squid

#60200 reef: doc/man: supplant "wsync" with "nowsync" as the default
  doc/man/8/mount.ceph.rst
Labels: documentation, cephfs
