Repository ceph/ceph, pull requests merged in 2024-06, with the labels that each got.

#57804 doc/cephfs: edit vstart warning text
  doc/cephfs/mantle.rst
Labels: documentation, cephfs

#57815 reef: doc/cephfs: edit vstart warning text
  doc/cephfs/mantle.rst
Labels: documentation, cephfs

#57814 squid: doc/cephfs: edit vstart warning text
  doc/cephfs/mantle.rst
Labels: documentation, cephfs

#57820 doc/start: Add Beginner's Guide
  doc/start/beginners-guide.rst
  doc/start/intro.rst
Labels: documentation

#57821 squid: doc/start: Add Beginner's Guide
  doc/start/beginners-guide.rst
  doc/start/intro.rst
Labels: documentation

#57822 reef: doc/start: Add Beginner's Guide
  doc/start/beginners-guide.rst
  doc/start/intro.rst
Labels: documentation

#57823 quincy: doc/start: Add Beginner's Guide
  doc/start/beginners-guide.rst
  doc/start/intro.rst
Labels: documentation

#57477 qa: enable debug logs for fs:cephadm:multivolume subsuite
  qa/suites/fs/cephadm/multivolume/conf
Labels: cephfs, needs-qa, wip-vshankar-testing

#57824 doc/rados: add stop monitor command
  doc/rados/troubleshooting/troubleshooting-mon.rst
Labels: documentation, core

#57816 quincy: doc/cephfs: edit vstart warning text
  doc/cephfs/mantle.rst
Labels: documentation, cephfs

#57550 RGW\bucket notification tests: end-point agnostic + refactoring
  src/test/rgw/bucket_notification/test_bn.py
Labels: rgw, tests

#57030 reef: qa: fix krbd_msgr_segments and krbd_rxbounce failing on 8.stream
  qa/rbd/krbd_msgr_segments.t
  qa/suites/krbd/ms_modeless/tasks/krbd_rxbounce.yaml
Labels: rbd, needs-qa, tests, wip-yuri6-testing

#57091 reef: librbd: make group and group snapshot IDs more random
  src/librbd/Utils.cc
  src/librbd/api/Group.cc
Labels: rbd, needs-qa, wip-yuri6-testing

#57309 reef: pybind/rbd: expose CLONE_FORMAT and FLATTEN image options
  PendingReleaseNotes
  src/pybind/rbd/c_rbd.pxd
  src/pybind/rbd/mock_rbd.pxi
  src/pybind/rbd/rbd.pyx
  src/test/pybind/test_rbd.py
Labels: feature, documentation, rbd, needs-qa, tests, pybind, wip-yuri6-testing

#57306 reef: rbd-mirror: clean up stale pool replayers and callouts better
  qa/workunits/rbd/rbd_mirror_bootstrap.sh
  qa/workunits/rbd/rbd_mirror_helpers.sh
  src/test/rbd_mirror/test_mock_PoolReplayer.cc
  src/tools/rbd_mirror/Mirror.cc
  src/tools/rbd_mirror/PoolReplayer.cc
Labels: bug-fix, rbd, needs-qa, tests, wip-yuri6-testing

#57844 squid: doc/start: Edit Beginner's Guide
  doc/start/beginners-guide.rst
Labels: documentation

#57845 reef: doc/start: Edit Beginner's Guide
  doc/start/beginners-guide.rst
Labels: documentation

#57846 quincy: doc/start: Edit Beginner's Guide
  doc/start/beginners-guide.rst
Labels: documentation

#57852 quincy: doc/rados: add stop monitor command
  doc/rados/troubleshooting/troubleshooting-mon.rst
Labels: documentation, core

#57850 squid: doc/rados: add stop monitor command
  doc/rados/troubleshooting/troubleshooting-mon.rst
Labels: documentation, core

#57851 reef: doc/rados: add stop monitor command
  doc/rados/troubleshooting/troubleshooting-mon.rst
Labels: documentation, core

#57830 ceph-volume: fix regression
  src/ceph-volume/ceph_volume/main.py
Labels: ceph-volume, wip-guits-main

#56718 do_cmake.sh: Use shallow submodule clones
  do_cmake.sh
Labels: build/ops, stale

#57134 mgr/dashboard: add smb service management support
  src/pybind/mgr/dashboard/frontend/cypress/e2e/cluster/services.po.ts
  src/pybind/mgr/dashboard/frontend/cypress/e2e/orchestrator/05-services.e2e-spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/services/service-form/service-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/services/service-form/service-form.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/services/service-form/service-form.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/models/service.interface.ts
Labels: pybind, dashboard

#57637 reef: mgr/dashboard: add absolute path validation for pseudo path of nfs export
  src/pybind/mgr/dashboard/frontend/src/app/ceph/nfs/nfs-form/nfs-form.component.html
Labels: pybind, dashboard, backport: no-conflicts

#54768 exporter: enhance unit-tests coverage for exporter
  src/exporter/DaemonMetricCollector.cc
  src/test/exporter/test_exporter.cc
Labels: tests

#57739 doc/monitoring: update rgw metrics names
  doc/monitoring/index.rst
Labels: documentation

#57594 cmake: Add gcov linker options when coverage option is set
  CMakeLists.txt
  src/CMakeLists.txt
Labels: build/ops

#57867 doc/start: s/http/https/ in links
  doc/start/get-involved.rst
Labels: documentation

#57811 debian: package mgr/rgw in ceph-mgr-modules-core
  debian/ceph-mgr-modules-core.install
Labels: build/ops, pybind

#57673 mds: dump formatter even for errors
  qa/tasks/cephfs/test_scrub_checks.py
  src/common/admin_finisher.h
  src/common/admin_socket.cc
  src/common/admin_socket.h
  src/mds/MDSDaemon.cc
  src/mds/MDSDaemon.h
  src/mds/MDSRank.cc
  src/mds/MDSRank.h
  src/mds/MDSRankQuiesce.cc
  src/messages/MMonCommandAck.h
  src/osd/OSD.cc
  src/osd/OSD.h
  src/osd/PG.h
  src/osd/PrimaryLogPG.cc
  src/osd/PrimaryLogPG.h
Labels: core, cephfs, needs-qa, tests, common, wip-pdonnell-testing

#57868 doc: correct typo (ma npage -> man page)
  src/common/options/rgw.yaml.in
Labels: common

#57870 squid: doc/start: s/http/https/ in links
  doc/start/get-involved.rst
Labels: documentation

#57871 reef: doc/start: s/http/https/ in links
  doc/start/get-involved.rst
Labels: documentation

#57872 quincy: doc/start: s/http/https/ in links
  doc/start/get-involved.rst
Labels: documentation

#57812 ceph.spec.in: remove setuptools dependency
  ceph.spec.in
  debian/ceph-mgr-modules-core.requires
  src/pybind/mgr/requirements-required.txt
Labels: cleanup, build/ops, pybind

#57886 doc/dev: origin of Labeled Perf Counters
  doc/dev/perf_counters.rst
Labels: documentation

#57885 quincy: doc: correct typo
  src/common/options/rgw.yaml.in
Labels: common

#56389 osd/scrub: remove detection & handling of reservation timeouts from the code
  src/common/options/osd.yaml.in
  src/osd/osd_perf_counters.cc
  src/osd/osd_perf_counters.h
  src/osd/scrubber/scrub_machine.cc
  src/osd/scrubber/scrub_machine.h
Labels: bug-fix, core, needs-qa, common, wip-yuri5-testing, backport squid

#56428 crush: use std::vector instead of variable length arrays
  src/crush/CrushWrapper.h
Labels: cleanup, core, needs-qa, wip-yuri5-testing

#57015 bluefs: bluefs alloc unit should only be shrink
  src/os/bluestore/BlueFS.cc
  src/os/bluestore/bluefs_types.cc
  src/os/bluestore/bluefs_types.h
Labels: core, needs-qa, bluestore, wip-yuri5-testing

#57900 doc/start: s/intro.rst/index.rst/
  doc/index.rst
  doc/start/index.rst
Labels: documentation

#57903 reef: doc/start: s/intro.rst/index.rst/
  doc/index.rst
  doc/start/index.rst
Labels: documentation

#57794 reef: mon, osd, *: expose upmap-primary in OSDMap::get_features()
  src/common/ceph_strings.cc
  src/osd/OSDMap.cc
Labels: core, common

#56275 rgw/multisite: allow PutACL replication.
  src/rgw/driver/rados/rgw_sal_rados.cc
  src/test/rgw/rgw_multi/tests.py
Labels: rgw, tests, TESTED

#57902 squid: doc/start: s/intro.rst/index.rst/
  doc/index.rst
  doc/start/index.rst
Labels: documentation

#57696 tools/first-damage: Make CEPH_NOSNAP int64
  src/tools/cephfs/first-damage.py
Labels: cephfs

#57702 rados/cls_fifo_legacy: 'oid' used after it was moved
  src/rgw/driver/rados/cls_fifo_legacy.cc
Labels: rgw, needs-qa, wip-cbodley-testing, GSoC / Outreachy

#57641 rgw: RGWDeleteMultiObj uses spawn_throttle for concurrency
  src/rgw/rgw_op.cc
  src/rgw/rgw_op.h
  src/rgw/rgw_rest_s3.cc
  src/rgw/rgw_rest_s3.h
Labels: rgw, tests, common, build/ops, TESTED, ready-to-merge

#57914 reef: doc/dev: origin of Labeled Perf Counters
  doc/dev/perf_counters.rst
Labels: documentation

#57913 squid: doc/dev: origin of Labeled Perf Counters
  doc/dev/perf_counters.rst
Labels: documentation

#57813 mds: avoid use of swap to initialize
  src/mds/CDir.cc
Labels: cleanup, cephfs, needs-qa, wip-pdonnell-testing2

#57877 qa: correct json lookup for new `lock path` output
  qa/tasks/cephfs/test_subvolume.py
Labels: cephfs, tests, needs-review, wip-pdonnell-testing2

#57879 qa: disable mon_warn_on_pool_no_app in fs suite
  qa/cephfs/conf/mon.yaml
  qa/suites/fs/cephadm/renamevolume/conf
  qa/suites/fs/mirror-ha/conf
  qa/suites/fs/mirror/conf
  qa/suites/fs/top/conf
Labels: cephfs, needs-qa, tests, wip-pdonnell-testing2

#57725 crimson/osd/object_context_loader: Fix obc cache existence usage
  src/crimson/common/interruptible_future.h
  src/crimson/common/tri_mutex.cc
  src/crimson/common/tri_mutex.h
  src/crimson/osd/object_context.h
  src/crimson/osd/object_context_loader.cc
  src/crimson/osd/object_context_loader.h
Labels: crimson, TESTED, ready-to-merge

#57883 squid: doc: correct typo
  src/common/options/rgw.yaml.in
Labels: common

#57915 squid: doc/rados: add options to network config ref
  doc/rados/configuration/network-config-ref.rst
Labels: documentation, core

#57916 reef: doc/rados: add options to network config ref
  doc/rados/configuration/network-config-ref.rst
Labels: documentation, core

#57917 quincy: doc/rados: add options to network config ref
  doc/rados/configuration/network-config-ref.rst
Labels: documentation, core

#56874 qa/multisite: stabilize multisite testing
  qa/suites/rgw/multisite/clusters.yaml
  qa/suites/rgw/multisite/overrides.yaml
  qa/suites/rgw/multisite/realms/three-zones.yaml.disabled
  qa/suites/rgw/multisite/realms/two-zonegroup.yaml.disabled
  qa/suites/rgw/multisite/realms/two-zones.yaml
  qa/suites/rgw/multisite/tasks/test_multi.yaml
  src/test/rgw/rgw_multi/tests.py
Labels: rgw, tests

#57884 reef: doc: correct typo
  src/common/options/rgw.yaml.in
Labels: common

#57746 mgr/dashboard: update node js version
  doc/dev/developer_guide/dash-devel.rst
  make-dist
  src/pybind/mgr/dashboard/frontend/CMakeLists.txt
Labels: documentation, build/ops, pybind, dashboard

#57894 RGW|BN: make http tests run on a seperate task
  qa/suites/rgw/notifications/tasks/http/+
  qa/suites/rgw/notifications/tasks/http/0-install.yaml
  qa/suites/rgw/notifications/tasks/http/supported-distros
  qa/suites/rgw/notifications/tasks/http/test_http.yaml
  qa/tasks/notification_tests.py
Labels: rgw, tests

#57919 script/ceph-backport: lookup "Release" custom_field by id
  src/script/ceph-backport.sh
Labels: needs-review, script

#57882 mds: add debug message when conf changes are processed
  src/mds/MDSRank.cc
Labels: cephfs, needs-review, wip-pdonnell-testing2

#57755 mgr/dashboard: provide option to enable pool based mirroring mode while creating a pool
  src/pybind/mgr/dashboard/controllers/pool.py
  src/pybind/mgr/dashboard/controllers/rbd_mirroring.py
  src/pybind/mgr/dashboard/frontend/cypress/e2e/pools/pools.e2e-spec.ts
  src/pybind/mgr/dashboard/frontend/cypress/e2e/pools/pools.po.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/pool/pool-form/pool-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/pool/pool-form/pool-form.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/pool/pool-form/pool-form.component.ts
  src/pybind/mgr/dashboard/openapi.yaml
Labels: pybind, dashboard, api-change

#57923 doc/src: add inline literals (``) to variables
  src/common/options/global.yaml.in
Labels: common

#57938 quincy: doc/src: add inline literals (``) to variables
  src/common/options/global.yaml.in
Labels: common

#57912 mds: QuiesceDbRequest: update the internal encoding of ops
  src/mds/MDSRankQuiesce.cc
  src/mds/QuiesceDb.h
  src/mds/QuiesceDbManager.cc
  src/test/mds/TestQuiesceDb.cc
Labels: cephfs, needs-qa, tests

#48130 qa: add killpoint testing for dirfrags
  qa/cephfs/conf/client.yaml
  qa/cephfs/conf/mds.yaml
  qa/cephfs/conf/mon.yaml
  qa/cephfs/conf/osd.yaml
  qa/cephfs/overrides/frag.yaml
  qa/cephfs/overrides/prefetch_entire_dirfrags/no.yaml
  qa/cephfs/overrides/prefetch_entire_dirfrags/yes.yaml
  qa/suites/fs/functional/tasks/fragment.yaml
  qa/suites/fs/libcephfs/tasks/ino_release_cb.yaml
  qa/suites/fs/workload/tasks/3-snaps/yes.yaml
  qa/tasks/ceph.py
  qa/tasks/ceph_manager.py
  qa/tasks/ceph_test_case.py
  qa/tasks/cephadm.py
  qa/tasks/cephfs/mount.py
  qa/tasks/cephfs/test_exports.py
  qa/tasks/cephfs/test_fragment.py
  qa/tasks/vstart_runner.py
  src/common/options/mds.yaml.in
  src/mds/CDir.cc
  src/mds/CDir.h
  src/mds/CInode.cc
  src/mds/MDBalancer.cc
  src/mds/MDBalancer.h
  src/mds/MDCache.cc
  src/mds/MDCache.h
  src/mds/MDSRank.cc
  src/mds/mdstypes.h
Labels: cephfs, tests, common, needs-review, wip-pdonnell-testing2, cephadm

#57939 doc/glossary.rst: add "OpenStack Swift" and "Swift"
  doc/glossary.rst
Labels: documentation

#57943 quincy: doc/glossary.rst: add "OpenStack Swift" and "Swift"
  doc/glossary.rst
Labels: documentation

#57942 reef: doc/glossary.rst: add "OpenStack Swift" and "Swift"
  doc/glossary.rst
Labels: documentation

#57788 crimson/os/seastore: implement disk and writer level stats reporting
  src/crimson/os/futurized_store.h
  src/crimson/os/seastore/async_cleaner.cc
  src/crimson/os/seastore/async_cleaner.h
  src/crimson/os/seastore/cache.h
  src/crimson/os/seastore/extent_placement_manager.cc
  src/crimson/os/seastore/extent_placement_manager.h
  src/crimson/os/seastore/journal.h
  src/crimson/os/seastore/journal/circular_bounded_journal.h
  src/crimson/os/seastore/journal/record_submitter.cc
  src/crimson/os/seastore/journal/record_submitter.h
  src/crimson/os/seastore/journal/segmented_journal.h
  src/crimson/os/seastore/seastore.cc
  src/crimson/os/seastore/seastore.h
  src/crimson/os/seastore/seastore_types.cc
  src/crimson/os/seastore/seastore_types.h
  src/crimson/os/seastore/transaction_manager.cc
  src/crimson/os/seastore/transaction_manager.h
  src/crimson/osd/osd.cc
  src/test/crimson/seastore/transaction_manager_test_state.h
Labels: tests, crimson, wip-yingxin-testing, needs-crimson-qa, crimson-perf

#57069 crimson/common/operation: detach blockers from blocking events when they are destroyed
  src/crimson/common/operation.h
  src/crimson/osd/osd_operations/client_request.cc
  src/crimson/osd/osd_operations/client_request.h
Labels: bug-fix, crimson, wip-matan-testing, needs-crimson-qa

#57204 crimson/osd: clamp reads to object size and bring full read trimming
  src/crimson/osd/pg_backend.cc
Labels: crimson, wip-matan-testing, needs-crimson-qa, crimson-replicated-recovery

#57251 crimson/osd/pg_backend: only create new onode when it doesn't exist
  src/crimson/osd/pg_backend.cc
Labels: bug-fix, crimson, wip-matan-testing, needs-crimson-qa, crimson-replicated-recovery

#57276 crimson/osd/pg_backend: DONOT modify OSDOp::indata when handling CEPH_OSD_OP_CHECKSUM
  src/crimson/osd/pg_backend.cc
Labels: bug-fix, crimson, wip-matan-testing, needs-crimson-qa, crimson-replicated-recovery

#57386 crimson/osd/recovery_backend: change recovery waiters' promises into optional ones
  src/crimson/osd/recovery_backend.cc
  src/crimson/osd/recovery_backend.h
Labels: bug-fix, crimson, wip-matan-testing, needs-crimson-qa, crimson-replicated-recovery

#57455 crimson/osd/replicated_backend: no need to set_rollback_to for repops
  src/crimson/osd/replicated_backend.cc
Labels: bug-fix, crimson, wip-matan-testing, needs-crimson-qa, crimson-replicated-recovery

#57416 crimson/osd/pg: hold PGs' references to the last minute of snap trim events executions
  src/crimson/osd/pg.cc
Labels: bug-fix, crimson, wip-matan-testing, needs-crimson-qa, crimson-replicated-recovery

#57561 crimson/osd/ops_executer: LIST_SNAPS only on CEPH_SNAPDIR
  src/crimson/osd/ops_executer.cc
  src/crimson/osd/ops_executer.h
  src/crimson/osd/pg.h
  src/test/librados/snapshots_cxx.cc
Labels: core, tests, crimson, wip-matan-testing, needs-crimson-qa

#57692 crimson/osd/pg_shard_manager: remove the unnecessary "std::move" call
  src/crimson/osd/pg_shard_manager.h
Labels: crimson, wip-matan-testing, needs-crimson-qa

#57908 crimson/osd/osd_operations: correct connection pipelines for osd operations
  src/crimson/osd/osd_operations/logmissing_request.cc
  src/crimson/osd/osd_operations/peering_event.cc
  src/crimson/osd/osd_operations/recovery_subrequest.cc
  src/crimson/osd/osd_operations/replicated_request.cc
Labels: bug-fix, crimson, wip-matan-testing, needs-crimson-qa, crimson-replicated-recovery

#57941 squid: doc/glossary.rst: add "OpenStack Swift" and "Swift"
  doc/glossary.rst
Labels: documentation

#57937 reef: doc/src: add inline literals (``) to variables
  src/common/options/global.yaml.in
Labels: common

#57947 doc/start: remove "intro.rst"
  doc/start/index.rst
  doc/start/intro.rst
Labels: documentation

#57948 squid: doc/start: remove "intro.rst"
  doc/start/index.rst
  doc/start/intro.rst
Labels: documentation

#57949 reef: doc/start: remove "intro.rst"
  doc/start/index.rst
  doc/start/intro.rst
Labels: documentation

#57950 quincy: doc/start: remove "intro.rst"
  doc/start/index.rst
  doc/start/intro.rst
Labels: documentation

#57747 squid: mgr/dashboard: fix readonly landingpage
  src/pybind/mgr/dashboard/controllers/health.py
  src/pybind/mgr/dashboard/frontend/src/app/ceph/dashboard-v3/dashboard/dashboard-v3.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/health.service.ts
  src/pybind/mgr/dashboard/openapi.yaml
Labels: pybind, dashboard, api-change

#57279 crimson/osd/pg: trigger wait_for_active_blocker on replica osds when the activate event is committed
  src/crimson/osd/pg.h
Labels: bug-fix, crimson, wip-matan-testing, needs-crimson-qa, crimson-replicated-recovery

#57313 crimson/osd/ops_executor: calculation of clone_overlap shouldn't consider snap contexts
  src/crimson/osd/ops_executer.cc
Labels: bug-fix, crimson, wip-matan-testing, needs-crimson-qa, crimson-replicated-recovery

#57593 Crimson: Support basic deployments
  src/common/options/crimson.yaml.in
  src/crimson/os/alienstore/alien_store.cc
  src/crimson/osd/main_config_bootstrap_helpers.cc
  src/crimson/osd/osd.cc
Labels: common, crimson, TESTED, ready-to-merge, wip-matan-testing, needs-crimson-qa, crimson-perf

#57358 squid: ceph.spec.in: remove command-with-macro line
  ceph.spec.in
Labels: build/ops

#51171 osd/scrub: Change scrub cost to average object size
  src/osd/OSD.cc
  src/osd/OSD.h
  src/osd/scheduler/OpScheduler.h
  src/osd/scheduler/mClockScheduler.h
  src/osd/scrubber/pg_scrubber.cc
  src/osd/scrubber/pg_scrubber.h
Labels: core, needs-qa, common, wip-yuri8-testing

#53477 src/msg: fix high CPU consumption of msgr worker thread
  src/common/options/global.yaml.in
  src/msg/async/Event.cc
  src/msg/async/ProtocolV1.cc
  src/msg/async/ProtocolV2.cc
Labels: core, needs-qa, common, performance, wip-yuri8-testing

#56744 os/BlueStore: NCB fix for leaked space when bdev_async_discard is ena…
  src/blk/BlockDevice.h
  src/blk/kernel/KernelDevice.cc
  src/blk/kernel/KernelDevice.h
  src/os/bluestore/BlueStore.cc
Labels: core, needs-qa, bluestore, wip-yuri8-testing

#57957 doc/rados: improve leader/peon monitor explanation
  doc/rados/troubleshooting/troubleshooting-mon.rst
Labels: documentation, core

#57960 quincy: doc/rados: improve leader/peon monitor explanation
  doc/rados/troubleshooting/troubleshooting-mon.rst
Labels: documentation, core

#57959 reef: doc/rados: improve leader/peon monitor explanation
  doc/rados/troubleshooting/troubleshooting-mon.rst
Labels: documentation, core

#57958 squid: doc/rados: improve leader/peon monitor explanation
  doc/rados/troubleshooting/troubleshooting-mon.rst
Labels: documentation, core

#57319 src/rgw: Fixing event name
  src/rgw/rgw_lc.cc
  src/rgw/rgw_notify_event_type.cc
  src/rgw/rgw_notify_event_type.h
Labels: rgw, needs-qa

#57489 squid: qa/suites/rados/singleton: add POOL_APP_NOT_ENABLED to ignorelist
  qa/suites/rados/singleton/all/mon-config-keys.yaml
Labels: core, tests

#57180 mgr/smb: cluster linked join auth and users/groups resource types
  doc/mgr/smb.rst
  src/pybind/mgr/smb/enums.py
  src/pybind/mgr/smb/handler.py
  src/pybind/mgr/smb/internal.py
  src/pybind/mgr/smb/module.py
  src/pybind/mgr/smb/proto.py
  src/pybind/mgr/smb/resources.py
  src/pybind/mgr/smb/results.py
  src/pybind/mgr/smb/tests/test_enums.py
  src/pybind/mgr/smb/tests/test_handler.py
  src/pybind/mgr/smb/tests/test_resources.py
  src/pybind/mgr/smb/tests/test_smb.py
Labels: documentation, tests, build/ops, pybind, mgr, cephadm, wip-adk-testing

#57389 cephadm: CephExporter doesn't bind to IPv6 in dual stack
  src/cephadm/cephadmlib/daemons/ceph.py
Labels: cephadm, wip-adk-testing

#57292 mgr/cephadm: make SMB and NVMEoF upgrade last in staggered upgrade
  src/pybind/mgr/cephadm/upgrade.py
Labels: pybind, cephadm, wip-adk-testing

#57685 cephadm: use importlib.metadata for querying ceph_iscsi's version
  src/cephadm/cephadmlib/daemons/iscsi.py
Labels: cephadm, wip-adk-testing

#57829 cephadm: the user config is preferred during the bootstrap
  src/cephadm/cephadm.py
Labels: cephadm, wip-adk-testing

#57847 cephadm/services/ingress: configure security user in keepalived template
  src/pybind/mgr/cephadm/templates/services/ingress/keepalived.conf.j2
  src/pybind/mgr/cephadm/tests/test_services.py
Labels: pybind, cephadm, wip-adk-testing

#57106 mgr: do not require NOTIFY_TYPES in python modules
  src/mgr/PyModule.cc
Labels: core, mgr, wip-adk-testing

#57976 doc/glossary: Add "S3"
  doc/glossary.rst
Labels: documentation

#57982 squid: doc/glossary: Add "S3"
  doc/glossary.rst
Labels: documentation

#57983 reef: doc/glossary: Add "S3"
  doc/glossary.rst
Labels: documentation

#57984 quincy: doc/glossary: Add "S3"
  doc/glossary.rst
Labels: documentation

#57536 rgw/notification: Store the value of `persistent_queue` for existing topics and continue commiting events for all topics subscribed to given bucket
  src/rgw/driver/rados/rgw_notify.cc
  src/rgw/rgw_rest_pubsub.cc
  src/test/rgw/bucket_notification/test_bn.py
Labels: rgw, needs-qa, tests, wip-cbodley-testing

#57979 test/ smb: modify source_type to fix run-tox-mgr failed
  src/pybind/mgr/smb/tests/test_smb.py
Labels: pybind

#57759 rbd: add group info command to output group id
  src/include/rbd/librbd.h
  src/include/rbd/librbd.hpp
  src/librbd/api/Group.cc
  src/librbd/api/Group.h
  src/librbd/librbd.cc
  src/pybind/rbd/c_rbd.pxd
  src/pybind/rbd/mock_rbd.pxi
  src/pybind/rbd/rbd.pyx
  src/test/cli/rbd/help.t
  src/test/librbd/test_Groups.cc
  src/test/pybind/test_rbd.py
  src/tools/rbd/action/Group.cc
Labels: feature, rbd, tests, pybind, wip-dis-testing

#57889 pybind/rbd: parse access and modify timestamps in UTC
  PendingReleaseNotes
  src/pybind/rbd/rbd.pyx
  src/test/pybind/test_rbd.py
Labels: documentation, rbd, tests, pybind, wip-dis-testing

#57116 squid: mds: fix the description for inotable testing only options
  PendingReleaseNotes
  doc/cephfs/mds-config-ref.rst
  qa/tasks/cephfs/test_misc.py
  src/common/options/mds.yaml.in
  src/mds/Server.cc
Labels: documentation, cephfs, tests, common, wip-lusov-bp-2

#56952 squid: qa: test test_kill_mdstable for all mount types
  qa/tasks/cephfs/test_snapshots.py
Labels: cephfs, tests

#56950 squid: qa: ignore human-friendly POOL_APP_NOT_ENABLED in clog
  qa/cephfs/overrides/ignorelist_health.yaml
Labels: tests, wip-lusov-bp-2

#56896 squid: mds: Add fragment to scrub
  qa/tasks/cephfs/test_scrub_checks.py
  src/mds/MDCache.cc
  src/mds/MDCache.h
  src/mds/ScrubStack.cc
Labels: cephfs, needs-qa, tests

#56910 squid: qa: fixing tests in test_cephfs_shell.TestShellOpts
  qa/tasks/cephfs/test_cephfs_shell.py
Labels: cephfs, tests

#56700 squid: cephfs-mirror: use monotonic clock
  src/tools/cephfs_mirror/FSMirror.h
  src/tools/cephfs_mirror/InstanceWatcher.cc
  src/tools/cephfs_mirror/InstanceWatcher.h
  src/tools/cephfs_mirror/Mirror.cc
  src/tools/cephfs_mirror/MirrorWatcher.cc
  src/tools/cephfs_mirror/MirrorWatcher.h
  src/tools/cephfs_mirror/PeerReplayer.cc
  src/tools/cephfs_mirror/PeerReplayer.h
  src/tools/cephfs_mirror/Types.h
Labels: cephfs, wip-lusov-bp-2

#57807 ceph-volume: do source devices zapping if they're detached.
  src/ceph-volume/ceph_volume/devices/lvm/migrate.py
Labels: ceph-volume

#57601 cephadm: _extract_host_info_from_*() refactor
  src/cephadm/cephadm.py
  src/cephadm/cephadmlib/data_utils.py
Labels: cephadm, wip-guits-main

#56906 RGW - Remove potential string overflow in POSIXDriver
  src/rgw/driver/posix/rgw_sal_posix.cc
Labels: rgw

#57963 ceph-backports: add redmine ticket's JSON to debug output
  src/script/ceph-backport.sh
Labels: needs-review

#57934 qa/suites/rados/thrash-old-clients: update supported releases and distro
  qa/suites/rados/thrash-old-clients/0-distro$/centos_8.stream_container_tools.yaml
  qa/suites/rados/thrash-old-clients/0-distro$/centos_9.stream.yaml
  qa/suites/rados/thrash-old-clients/1-install/nautilus-v1only.yaml
  qa/suites/rados/thrash-old-clients/1-install/nautilus-v2only.yaml
  qa/suites/rados/thrash-old-clients/1-install/nautilus.yaml
  qa/suites/rados/thrash-old-clients/1-install/pacific.yaml
  qa/suites/rados/thrash-old-clients/1-install/squid.yaml
Labels: core, tests

#57856 test/librados: fix LibRadosIoECPP.CrcZeroWrite
  src/test/librados/io_cxx.cc
  src/test/librados/testcase_cxx.cc
  src/test/librados/testcase_cxx.h
Labels: core, tests

#57566 squid: qa: add a YAML to ignore MGR_DOWN warning
  qa/suites/fs/nfs/overrides/ignore_mgr_down.yaml
Labels: cephfs

#57556 squid: qa/fsx: use a specified sha1 to build the xfstest-dev
  qa/workunits/suites/fsx.sh
Labels: tests, wip-lusov-bp-2

#57523 squid: mds: remove superfluous debug message
  src/mds/MDSRank.cc
Labels: cephfs, wip-lusov-bp-2

#57447 squid: mgr/snap_schedule: restore yearly spec to lowercase y
  doc/cephfs/snap-schedule.rst
  qa/tasks/cephfs/test_snap_schedules.py
  src/pybind/mgr/snap_schedule/fs/schedule.py
  src/pybind/mgr/snap_schedule/fs/schedule_client.py
Labels: documentation, core, cephfs, tests, pybind, wip-lusov-bp-2

#57486 test/neorados: remove depreciated RemoteReads cls test
  src/test/neorados/cls.cc
Labels: core, needs-qa, tests, wip-lflores-testing

#57341 squid: qa: ignore variation of PG_DEGRADED health warning
  qa/cephfs/overrides/pg_health.yaml
Labels: tests

#57117 squid: qa/cephfs: fix root_squash check failure bug
  qa/tasks/cephfs/caps_helper.py
  qa/tasks/cephfs/test_admin.py
Labels: cephfs, tests, wip-lusov-bp-2

#57449 squid: cephfs_mirror: fix crash in update_fs_mirrors()
  src/tools/cephfs_mirror/FSMirror.h
Labels: bug-fix, cephfs

#57925 ceph-volume: fix set_dmcrypt_no_workqueue()
  src/ceph-volume/ceph_volume/util/encryption.py
Labels: ceph-volume, wip-guits-main

#57440 squid: mgr/stats: initialize mx_last_updated in FSPerfStats
  src/pybind/mgr/stats/fs/perf_stats.py
Labels: bug-fix, cephfs, pybind

#57436 squid: cephfs_mirror: increment sync_failures when sync_perms() and sync_snaps() fails
  src/tools/cephfs_mirror/PeerReplayer.cc
  src/tools/cephfs_mirror/PeerReplayer.h
Labels: bug-fix, cephfs, wip-lusov-bp-2

#57992 mgr/dashboard: Fix login and notification e2e tests
  src/pybind/mgr/dashboard/frontend/cypress/e2e/cluster/logs.e2e-spec.ts
  src/pybind/mgr/dashboard/frontend/cypress/e2e/ui/notification.e2e-spec.ts
Labels: pybind, dashboard

#58007 doc/rados: add pg-states and pg-concepts to tree
  doc/rados/operations/index.rst
Labels: documentation, core

#57855 qa/rados: don't pass --max_attr_len to ceph_test_rados unconditionally
  qa/tasks/rados.py
Labels: bug-fix, needs-qa, tests, wip-lflores-testing

#57954 librbd: allow cloning from non-user snapshots
  PendingReleaseNotes
  qa/tasks/mgr/dashboard/test_rbd.py
  qa/workunits/rbd/cli_generic.sh
  qa/workunits/rbd/rbd_mirror_helpers.sh
  src/include/rbd/librbd.h
  src/include/rbd/librbd.hpp
  src/librbd/api/Snapshot.cc
  src/librbd/api/Snapshot.h
  src/librbd/image/CloneRequest.cc
  src/librbd/internal.cc
  src/librbd/internal.h
  src/librbd/librbd.cc
  src/pybind/rbd/c_rbd.pxd
  src/pybind/rbd/mock_rbd.pxi
  src/pybind/rbd/rbd.pyx
  src/test/cli/rbd/help.t
  src/test/pybind/test_rbd.py
  src/test/rbd_mirror/test_ImageDeleter.cc
  src/tools/rbd/ArgumentTypes.cc
  src/tools/rbd/ArgumentTypes.h
  src/tools/rbd/action/Children.cc
  src/tools/rbd/action/Clone.cc
  src/tools/rbd/action/Device.cc
  src/tools/rbd/action/Snap.cc
  src/tracing/librbd.tp
Labels: feature, documentation, rbd, tests, pybind, dashboard, wip-dis-testing

#54159 qa: add export thrashing to fs:thrash
  qa/suites/fs/thrash/workloads/ranks/1.yaml
  qa/suites/fs/thrash/workloads/tasks/1-thrash/exports.yaml
Labels: cephfs, tests, needs-review, wip-pdonnell-testing

#57801 mgr/dashboard: Configure NVMe/TCP
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-form/rbd-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/services/service-form/service-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/services/service-form/service-form.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/services/service-form/service-form.component.ts
Labels: pybind, dashboard

#57713 mgr/dashboard: apply replication policy for a bucket
  src/pybind/mgr/dashboard/controllers/rgw.py
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/models/rgw-daemon.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-bucket-form/rgw-bucket-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-bucket-form/rgw-bucket-form.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-bucket-form/rgw-bucket-form.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-daemon-list/rgw-daemon-list.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-overview-dashboard/rgw-overview-dashboard.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/rgw-bucket.service.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/rgw-bucket.service.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/rgw-multisite.service.ts
  src/pybind/mgr/dashboard/openapi.yaml
  src/pybind/mgr/dashboard/services/rgw_client.py
  src/pybind/mgr/dashboard/tests/test_rgw.py
Labels: pybind, dashboard, api-change

#57698 mgr/dashboard: add dueTime to rgw bucket validator
  src/pybind/mgr/dashboard/frontend/cypress/e2e/rgw/buckets.po.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-bucket-form/rgw-bucket-form.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-user-form/rgw-user-form.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/forms/cd-validators.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/forms/cd-validators.ts
Labels: pybind, dashboard
