Repository ceph/ceph, pull requests merged in 2024-03, with the labels that each got.

#55834 doc/dev: edit internals.rst
  doc/dev/internals.rst
Labels: documentation

#55853 quincy: doc/dev: edit internals.rst
  doc/dev/internals.rst
Labels: documentation

#55852 reef: doc/dev: edit internals.rst
  doc/dev/internals.rst
Labels: documentation

#55851 squid: doc/dev: edit internals.rst
  doc/dev/internals.rst
Labels: documentation

#55826 squid: mgr/dashboard: fix roles page for roles without policies
  src/pybind/mgr/dashboard/frontend/src/app/shared/datatable/crud-table/crud-table.component.ts
  src/pybind/mgr/dashboard/services/rgw_client.py
Labels: pybind, dashboard

#55827 reef: mgr/dashboard: fix roles page for roles without policies
  src/pybind/mgr/dashboard/frontend/src/app/shared/datatable/crud-table/crud-table.component.ts
  src/pybind/mgr/dashboard/services/rgw_client.py
Labels: pybind, dashboard

#55855 crimson/os/seastore: adjust SeaStore::_omap_set_kvs() params
  src/crimson/os/seastore/seastore.cc
  src/crimson/os/seastore/seastore.h
Labels: crimson

#55727 rgw/auth: do_aws4_auth_completion() catches exceptions
  src/rgw/rgw_op.cc
Labels: rgw, needs-qa, wip-cbodley-testing

#55817 src/test/common/test_hobject: remove constexpr
  src/test/common/test_hobject.cc
Labels: tests

#55719 qa/tasks/cephadm: add generic templating where subst_vip was used
  qa/tasks/cephadm.py
  qa/tasks/vip.py
Labels: tests, cephadm, wip-adk-testing

#54767 src/rgw: fix for the multipart interface in the WORM function
  src/rgw/driver/rados/rgw_sal_rados.cc
  src/rgw/driver/rados/rgw_sal_rados.h
  src/rgw/rgw_common.h
  src/rgw/rgw_op.cc
  src/rgw/rgw_op.h
  src/rgw/rgw_rest_s3.cc
  src/rgw/rgw_sal.h
Labels: rgw, ready-to-merge

#55869 doc/install: add manual RADOSGW install procedure
  doc/install/manual-deployment.rst
Labels: documentation

#55856 .github/workflows/create-backport-trackers.yml: update actions
  .github/workflows/create-backport-trackers.yml
Labels: CI

#54122 reef: cmake: use or turn off liburing for rocksdb
  CMakeLists.txt
  cmake/modules/BuildRocksDB.cmake
  cmake/modules/Builduring.cmake
  src/blk/CMakeLists.txt
Labels: core, needs-qa, build/ops, wip-yuri2-testing

#55879 squid: doc/install: add manual RADOSGW install procedure
  doc/install/manual-deployment.rst
Labels: documentation

#55880 reef: doc/install: add manual RADOSGW install procedure
  doc/install/manual-deployment.rst
Labels: documentation

#55881 quincy:doc/install: add manual RADOSGW install procedure
  doc/install/manual-deployment.rst
Labels: documentation

#54879 reef: pybind/mgr/devicehealth: replace SMART data if exists for same DATETIME
  src/pybind/mgr/devicehealth/module.py
Labels: needs-qa, pybind, wip-yuri2-testing

#55787 cmake: bump liburing from 0.7 to 2.5
  cmake/modules/Builduring.cmake
  make-dist
Labels: build/ops

#52540 rbd-wnbd: use a single daemon process per host
  qa/workunits/windows/test_rbd_wnbd.py
  src/tools/rbd_wnbd/CMakeLists.txt
  src/tools/rbd_wnbd/rados_client_cache.cc
  src/tools/rbd_wnbd/rados_client_cache.h
  src/tools/rbd_wnbd/rbd_mapping.cc
  src/tools/rbd_wnbd/rbd_mapping.h
  src/tools/rbd_wnbd/rbd_mapping_config.cc
  src/tools/rbd_wnbd/rbd_mapping_config.h
  src/tools/rbd_wnbd/rbd_wnbd.cc
  src/tools/rbd_wnbd/rbd_wnbd.h
  src/tools/rbd_wnbd/wnbd_handler.cc
  src/tools/rbd_wnbd/wnbd_handler.h
Labels: feature, rbd, tests, build/ops, win32

#55901 reef: doc/rados: remove PGcalc from docs
  doc/rados/operations/placement-groups.rst
  doc/rados/operations/pools.rst
  doc/radosgw/pools.rst
Labels: documentation, core

#55900 squid: doc/rados: remove PGcalc from docs
  doc/rados/operations/placement-groups.rst
  doc/rados/operations/pools.rst
  doc/radosgw/pools.rst
Labels: documentation, core

#55593 quincy: batch backport of #50743, #55342, #48557
  src/cephadm/cephadm
  src/cephadm/tests/fixtures.py
  src/cephadm/tox.ini
  src/mypy-constrains.txt
  src/pybind/ceph_daemon.py
  src/pybind/mgr/cephadm/services/nfs.py
  src/pybind/mgr/dashboard/controllers/_rest_controller.py
  src/pybind/mgr/dashboard/services/access_control.py
  src/pybind/mgr/dashboard/services/exception.py
  src/pybind/mgr/dashboard/services/rgw_client.py
  src/pybind/mgr/dashboard/services/sso.py
  src/pybind/mgr/mgr_module.py
  src/pybind/mgr/requirements.txt
  src/python-common/ceph/deployment/drive_selection/matchers.py
  src/python-common/tox.ini
Labels: needs-qa, pybind, mgr, wip-yuri4-testing, ceph-volume, dashboard, cephadm, nfs, backport: no-conflicts

#55659 client: log debug message when requesting unmount
  src/client/Client.cc
Labels: cephfs, wip-pdonnell-testing

#55924 doc/architecture: remove pleonasm
  doc/architecture.rst
Labels: documentation

#55694 doc: 16.2.15 Release Notes
  doc/releases/index.rst
  doc/releases/pacific.rst
  doc/releases/releases.yml
Labels: documentation

#55766 v16.2.15
  CMakeLists.txt
  debian/changelog
Labels: build/ops

#55587 mgr/cephadm: fix placement with label and host pattern
  src/pybind/mgr/cephadm/schedule.py
  src/pybind/mgr/cephadm/tests/test_scheduling.py
  src/python-common/ceph/deployment/service_spec.py
Labels: pybind, cephadm, wip-adk-testing

#55873 squid: unittest-seastar-socket: tolerate connection_reset in test_unexpected_down
  src/test/crimson/test_socket.cc
Labels: tests, crimson

#55893 squid: rbd-wnbd: use a single daemon process per host
  qa/workunits/windows/test_rbd_wnbd.py
  src/tools/rbd_wnbd/CMakeLists.txt
  src/tools/rbd_wnbd/rados_client_cache.cc
  src/tools/rbd_wnbd/rados_client_cache.h
  src/tools/rbd_wnbd/rbd_mapping.cc
  src/tools/rbd_wnbd/rbd_mapping.h
  src/tools/rbd_wnbd/rbd_mapping_config.cc
  src/tools/rbd_wnbd/rbd_mapping_config.h
  src/tools/rbd_wnbd/rbd_wnbd.cc
  src/tools/rbd_wnbd/rbd_wnbd.h
  src/tools/rbd_wnbd/wnbd_handler.cc
  src/tools/rbd_wnbd/wnbd_handler.h
Labels: rbd, tests, build/ops, win32

#55709 reef: debian/*.postinst: add adduser as a dependency and specify --home when adduser
  debian/ceph-common.postinst
  debian/cephadm.postinst
  debian/control
Labels: build/ops, wip-yuri11-testing

#54383 mgr/cephadm: Allow idmap overrides in nfs-ganesha configuration
  src/cephadm/cephadmlib/daemons/nfs.py
  src/cephadm/tests/test_deploy.py
  src/cephadm/tests/test_nfs.py
  src/pybind/mgr/cephadm/services/nfs.py
  src/pybind/mgr/cephadm/templates/services/nfs/ganesha.conf.j2
  src/pybind/mgr/cephadm/tests/test_services.py
  src/python-common/ceph/deployment/service_spec.py
  src/python-common/ceph/tests/test_service_spec.py
Labels: pybind, cephadm, nfs, wip-asm0deuz-testing

#54877 quincy: os/bluestore: get rid off resulting lba alignment in allocators
  src/os/bluestore/AvlAllocator.cc
  src/os/bluestore/BlueFS.cc
  src/os/bluestore/BtreeAllocator.cc
  src/os/bluestore/StupidAllocator.cc
  src/os/bluestore/StupidAllocator.h
  src/os/bluestore/fastbmap_allocator_impl.cc
  src/test/objectstore/Allocator_test.cc
  src/test/objectstore/fastbmap_allocator_test.cc
  src/test/objectstore/store_test.cc
Labels: core, needs-qa, tests, performance, bluestore, wip-yuri4-testing, backport

#55117 quincy: mon: add exception handling to ceph health mute
  src/mon/HealthMonitor.cc
Labels: core, needs-qa, mon, wip-yuri4-testing

#55134 quincy: osd: do not assert on fast shutdown timeout
  src/osd/OSD.cc
Labels: core, needs-qa, wip-yuri4-testing, backport

#55166 quincy: mon/ConnectionTracker.cc: disregard connection scores from mon_rank = -1
  src/mon/ConnectionTracker.cc
Labels: core, needs-qa, mon, wip-yuri4-testing, backport quincy

#55446 quincy: src/common/options: Correct typo in rgw.yaml.in
  src/common/options/rgw.yaml.in
Labels: common

#55918 doc/rados: link to pg setting commands
  doc/rados/operations/pools.rst
Labels: documentation, core

#55933 reef: doc/architecture: remove pleonasm
  doc/architecture.rst
Labels: documentation

#55934 quincy: doc/architecture: remove pleonasm
  doc/architecture.rst
Labels: documentation

#55932 squid: doc/architecture: remove pleonasm
  doc/architecture.rst
Labels: documentation

#55935 squid: doc/rados: link to pg setting commands
  doc/rados/operations/pools.rst
Labels: documentation, core

#55936 reef: doc/rados: link to pg setting commands
  doc/rados/operations/pools.rst
Labels: documentation, core

#55937 quincy: doc/rados: link to pg setting commands
  doc/rados/operations/pools.rst
Labels: documentation, core

#55890 cmake/modules/BuildRocksDB.cmake: inherit CMAKE_C_COMPILER from parent
  cmake/modules/BuildRocksDB.cmake
Labels: build/ops

#55559 ceph-exporter: cleanups
  src/exporter/util.cc
  src/exporter/util.h
Labels: cleanup

#55840 crimson/os/seastore/omap_manager: expand omap tree nodes
  src/crimson/os/seastore/omap_manager.h
Labels: crimson

#55889 crimson/os/seastore/async_cleaner: add comments to clarify what kind of extents would be considered dead by the cleaner
  src/crimson/os/seastore/async_cleaner.cc
Labels: crimson

#55887 crimson/os/seastore: omap_get_values with range [start, "infinite") should return all results from "start"
  src/crimson/os/seastore/seastore.cc
Labels: crimson

#55516 quincy: mgr/dashboard: fix error while accessing roles tab when policy attached
  src/pybind/mgr/dashboard/controllers/rgw.py
  src/pybind/mgr/dashboard/frontend/src/app/shared/datatable/crud-table/crud-table.component.html
  src/pybind/mgr/dashboard/frontend/src/app/shared/datatable/crud-table/crud-table.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/models/crud-table-metadata.ts
  src/pybind/mgr/dashboard/services/rgw_client.py
Labels: pybind, mgr, dashboard

#55464 mgr/dashboard: add hardware status summary
  src/pybind/mgr/dashboard/controllers/hardware.py
  src/pybind/mgr/dashboard/frontend/src/app/ceph/dashboard-v3/dashboard/dashboard-v3.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/dashboard-v3/dashboard/dashboard-v3.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/hardware.service.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/hardware.service.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/card-row/card-row.component.html
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/card-row/card-row.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/card-row/card-row.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/enum/hardware.enum.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/pipes/pipes.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/pipes/pluralize.pipe.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/pipes/pluralize.pipe.ts
  src/pybind/mgr/dashboard/openapi.yaml
  src/pybind/mgr/dashboard/services/hardware.py
  src/pybind/mgr/dashboard/services/orchestrator.py
Labels: pybind, dashboard, api-change

#55905 common: fix string creation from '0' in LogEntry
  src/common/LogEntry.cc
Labels: common

#55946 crimson/os/seastore: make less verbose log when testing performance on RBM
  src/crimson/os/seastore/async_cleaner.cc
  src/crimson/os/seastore/random_block_manager/avlallocator.cc
Labels: crimson

#55574 mgr/dashboard: introduce multi cluster management and monitoring in ceph dashboard
  monitoring/ceph-mixin/dashboards.libsonnet
  monitoring/ceph-mixin/dashboards/multi-cluster.libsonnet
  monitoring/ceph-mixin/dashboards/utils.libsonnet
  monitoring/ceph-mixin/dashboards_out/multi-cluster-overview.json
  src/pybind/mgr/dashboard/controllers/auth.py
  src/pybind/mgr/dashboard/controllers/multi_cluster.py
  src/pybind/mgr/dashboard/controllers/prometheus.py
  src/pybind/mgr/dashboard/frontend/cypress/e2e/ui/navigation.po.ts
  src/pybind/mgr/dashboard/frontend/src/app/app-routing.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/cluster.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/multi-cluster/multi-cluster-form/multi-cluster-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/multi-cluster/multi-cluster-form/multi-cluster-form.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/multi-cluster/multi-cluster-form/multi-cluster-form.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/multi-cluster/multi-cluster-form/multi-cluster-form.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/multi-cluster/multi-cluster-list/multi-cluster-list.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/multi-cluster/multi-cluster-list/multi-cluster-list.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/multi-cluster/multi-cluster-list/multi-cluster-list.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/multi-cluster/multi-cluster-list/multi-cluster-list.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/multi-cluster/multi-cluster.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/multi-cluster/multi-cluster.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/multi-cluster/multi-cluster.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/multi-cluster/multi-cluster.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/dashboard-v3/dashboard-area-chart/dashboard-area-chart.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/dashboard-v3/dashboard-area-chart/dashboard-area-chart.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/dashboard-v3/dashboard-v3.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/core/auth/login/login.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/core/layouts/workbench-layout/workbench-layout.component.html
  src/pybind/mgr/dashboard/frontend/src/app/core/layouts/workbench-layout/workbench-layout.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/core/navigation/navigation/navigation.component.html
  src/pybind/mgr/dashboard/frontend/src/app/core/navigation/navigation/navigation.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/core/navigation/navigation/navigation.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/multi-cluster.service.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/multi-cluster.service.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/prometheus.service.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/card-group/card-group.component.html
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/card-group/card-group.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/card-group/card-group.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/card-group/card-group.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/components.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/modal/modal.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/shared/constants/app.constants.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/enum/dashboard-promqls.enum.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/models/multi-cluster.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/services/api-interceptor.service.ts
  src/pybind/mgr/dashboard/module.py
  src/pybind/mgr/dashboard/openapi.yaml
  src/pybind/mgr/dashboard/settings.py
  src/pybind/mgr/dashboard/tests/test_auth.py
  src/pybind/mgr/dashboard/tools.py
Labels: pybind, DNM, dashboard, monitoring, api-change

#54964 mgr/dashboard: add prometheus federation config for mullti-cluster monitoring
  src/pybind/mgr/cephadm/module.py
  src/pybind/mgr/cephadm/services/monitoring.py
  src/pybind/mgr/cephadm/templates/services/prometheus/prometheus.yml.j2
  src/pybind/mgr/cephadm/tests/test_services.py
  src/pybind/mgr/orchestrator/_interface.py
  src/pybind/mgr/orchestrator/module.py
  src/python-common/ceph/deployment/service_spec.py
Labels: pybind, dashboard, orchestrator, monitoring, cephadm

#55954 mgr/dashboard: fixed cephfs mount command
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cephfs/cephfs-mount-details/cephfs-mount-details.component.ts
Labels: pybind, dashboard

#55619 client: fix leak of file handles
  src/client/Client.cc
  src/client/Client.h
Labels: cephfs, wip-vshankar-testing3

#55457 client: do not proceed with I/O if filehandle is invalid
  src/client/Client.cc
  src/client/Client.h
  src/test/client/nonblocking.cc
Labels: cephfs, tests, needs-review, wip-vshankar-testing3

#54202 mds: fix `dump dir` indicate dir is not cached
  src/mds/MDSRank.cc
Labels: cephfs, wip-vshankar-testing3

#55801 crimson/os/alienstore: use homebrew counting_semaphore
  src/crimson/os/alienstore/thread_pool.h
Labels: crimson, wip-matan-testing, needs-crimson-qa

#55910 osd/SnapManager: Crimson - fix std::string constructed from 0
  src/osd/SnapMapper.cc
Labels: core, crimson, wip-matan-testing, needs-crimson-qa

#55982 doc/dev: edit teuthology workflow
  doc/dev/developer_guide/testing_integration_tests/tests-integration-testing-teuthology-workflow.rst
Labels: documentation

#55955 mgr/node-proxy: handle 'None' statuses returned by RedFish
  src/ceph-node-proxy/ceph_node_proxy/util.py
  src/pybind/mgr/cephadm/inventory.py
Labels: pybind, cephadm

#54467 reef: mds: fix issuing redundant reintegrate/migrate_stray requests
  src/mds/CDentry.h
  src/mds/MDSMetaRequest.h
  src/mds/MDSRank.cc
  src/mds/MDSRank.h
  src/mds/Server.cc
  src/mds/Server.h
  src/mds/StrayManager.cc
  src/mds/StrayManager.h
Labels: cephfs, wip-vshankar-testing1-reef

#55300 reef: src/mount: kernel mount command returning misleading error message
  src/mount/mount.ceph.c
Labels: cephfs, needs-qa, wip-vshankar-testing1-reef

#55943 reef: qa: remove error string checks and check w/ return value
  qa/tasks/cephfs/test_multifs_auth.py
Labels: cephfs, tests, wip-vshankar-testing1-reef

#55836 reef: use raw_cluster_cmd instead of run_ceph_cmd
  qa/tasks/cephfs/filesystem.py
Labels: cephfs, tests, wip-vshankar-testing1-reef

#56002 reef: doc/dev: edit teuthology workflow
  doc/dev/developer_guide/testing_integration_tests/tests-integration-testing-teuthology-workflow.rst
Labels: documentation

#56000 rpm: disable system_qat for non-x86_64 arch
  ceph.spec.in
Labels: build/ops

#56001 squid: doc/dev: edit teuthology workflow
  doc/dev/developer_guide/testing_integration_tests/tests-integration-testing-teuthology-workflow.rst
Labels: documentation

#55639 mds: relax certain asserts in mdlog replay thread
  src/mds/MDLog.cc
Labels: cephfs, wip-vshankar-testing3

#55908 qa: ignore container checkpoint/restore related selinux denials for centos9
  qa/distros/all/centos_7.6.yaml
  qa/distros/all/centos_8.0.yaml
  qa/distros/all/centos_8.1.yaml
  qa/distros/all/centos_8.2.yaml
  qa/distros/all/centos_8.3.yaml
  qa/distros/all/centos_8.stream.yaml
  qa/distros/all/centos_9.stream.yaml
  qa/distros/all/rhel_7.6.yaml
  qa/distros/all/rhel_7.7.yaml
  qa/distros/all/rhel_8.0.yaml
  qa/distros/all/rhel_8.1.yaml
  qa/distros/all/rhel_8.3.yaml
  qa/distros/all/rhel_8.4.yaml
  qa/distros/all/rhel_8.5.yaml
  qa/distros/all/rhel_8.6.yaml
  qa/distros/container-hosts/centos_8.stream_container_tools.yaml
  qa/distros/container-hosts/centos_8.stream_container_tools_crun.yaml
  qa/distros/container-hosts/centos_9.stream.yaml
  qa/distros/container-hosts/centos_9.stream_runc.yaml
  qa/distros/podman/centos_8.stream_container_tools.yaml
  qa/distros/podman/centos_9.stream.yaml
Labels: cephfs, wip-vshankar-testing3

#55909 qa/cephfs: add more ignorelist entries
  qa/cephfs/overrides/ignorelist_health.yaml
  qa/cephfs/overrides/ignorelist_wrongly_marked_down.yaml
Labels: cephfs, wip-vshankar-testing3

#55977 crimson/os/seastore: allow to remap the dirty extent
  src/crimson/os/seastore/transaction_manager.h
Labels: crimson

#55885 rgw: make rgw-restore-bucket-index more robust
  doc/man/8/rgw-restore-bucket-index.rst
  src/rgw/rgw-restore-bucket-index
Labels: feature, documentation, rgw, needs-qa, wip-eric-testing-1

#55895 rgw_sigv4: handle '0;' as trailer-chunk boundary
  src/rgw/rgw_auth_s3.cc
Labels: rgw, needs-qa, wip-eric-testing-1

#55967 rgw/beast: Enable SSL session-id reuse speedup mechanism
  src/rgw/rgw_asio_frontend.cc
Labels: rgw, needs-qa, wip-eric-testing-1

#55995 doc/architecture: correct typo
  doc/architecture.rst
Labels: documentation

#55992 squid: mgr/dashboard: fixed cephfs mount command
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cephfs/cephfs-mount-details/cephfs-mount-details.component.ts
Labels: pybind, dashboard

#55993 reef: mgr/dashboard: fixed cephfs mount command
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cephfs/cephfs-mount-details/cephfs-mount-details.component.ts
Labels: pybind, dashboard

#54538 reef: mgr/dashboard: Show the OSDs Out and Down panels as red whenever an OSD is in Out or Down state in Ceph Cluster grafana dashboard
  monitoring/ceph-mixin/dashboards_out/ceph-cluster.json
Labels: dashboard, monitoring

#55804 mgr/dashboard: listener addr is always none
  src/pybind/mgr/dashboard/controllers/nvmeof.py
  src/pybind/mgr/dashboard/openapi.yaml
  src/pybind/mgr/dashboard/services/nvmeof_client.py
  src/pybind/mgr/dashboard/services/proto/gateway_pb2_grpc.py
Labels: pybind, dashboard, api-change

#55302 reef: qa: fix rank_asok() to handle errors from asok commands
  qa/tasks/cephfs/filesystem.py
Labels: cephfs, needs-qa, tests, wip-vshankar-testing1-reef

#55395 reef: mgr/(object_format && nfs/export): enhance nfs export update failure response
  qa/tasks/cephfs/test_nfs.py
  src/pybind/mgr/nfs/export.py
  src/pybind/mgr/object_format.py
  src/pybind/mgr/tests/test_object_format.py
Labels: cephfs, tests, pybind, mgr, nfs, wip-vshankar-testing1-reef

#55640 reef: mds,cephfs_mirror: add labelled per-client and replication metrics
  qa/tasks/cephfs/test_admin.py
  qa/tasks/cephfs/test_mirroring.py
  src/common/options/cephfs-mirror.yaml.in
  src/mds/MDSRank.h
  src/mds/MetricAggregator.cc
  src/mds/MetricAggregator.h
  src/pybind/mgr/mgr_module.py
  src/tools/cephfs_mirror/FSMirror.cc
  src/tools/cephfs_mirror/FSMirror.h
  src/tools/cephfs_mirror/Mirror.cc
  src/tools/cephfs_mirror/Mirror.h
  src/tools/cephfs_mirror/PeerReplayer.cc
  src/tools/cephfs_mirror/PeerReplayer.h
Labels: documentation, core, cephfs, tests, common, pybind, mgr, wip-vshankar-testing1-reef

#55226 mgr/dashboard: Allow the user to add the access/secret key on zone edit and not on zone creation
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-multisite-zone-form/rgw-multisite-zone-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-multisite-zone-form/rgw-multisite-zone-form.component.ts
Labels: pybind, dashboard

#56027 doc/dev/crimson: add Code Walkthroughs
  doc/dev/crimson/crimson.rst
Labels: documentation, crimson

#56010 doc/start: add Slack invite link
  doc/start/get-involved.rst
Labels: documentation

#56011 squid: doc/architecture: correct typo
  doc/architecture.rst
Labels: documentation

#56013 quincy: doc/architecture: correct typo
  doc/architecture.rst
Labels: documentation

#55652 rgw: compatibility issues on BucketPublicAccessBlock
  src/rgw/rgw_common.cc
  src/rgw/rgw_common.h
  src/rgw/rgw_op.cc
  src/rgw/rgw_public_access.cc
Labels: bug-fix, rgw, needs-qa, wip-cbodley-testing

#55888 crimson/os/seastore: cleanup and use LBAMapping::is_stable()
  src/crimson/os/seastore/object_data_handler.cc
  src/crimson/os/seastore/transaction_manager.h
  src/test/crimson/seastore/test_object_data_handler.cc
Labels: tests, crimson

#55981 crimson/os/seastore/collection_manager: allow empty-delta-buffer collection nodes
  src/crimson/os/seastore/collection_manager/collection_flat_node.h
Labels: crimson

#56045 doc/rados: restore PGcalc tool
  doc/_static/js/pgcalc.js
  doc/rados/operations/index.rst
  doc/rados/operations/pgcalc/index.rst
  doc/rados/operations/placement-groups.rst
Labels: documentation, core

#55984 test/cls_rbd/test_cls_rbd: change to check for 4KB-aligned sparse read
  src/test/cls_rbd/test_cls_rbd.cc
Labels: tests

#56006 mgr/dashboard: handle infinite values for pools
  src/pybind/mgr/dashboard/controllers/pool.py
Labels: pybind, dashboard

#56056 squid: doc/rados: restore PGcalc tool
  doc/_static/js/pgcalc.js
  doc/rados/operations/index.rst
  doc/rados/operations/pgcalc/index.rst
  doc/rados/operations/placement-groups.rst
Labels: documentation, core

#56057 reef: doc/rados: restore PGcalc tool
  doc/_static/js/pgcalc.js
  doc/rados/operations/index.rst
  doc/rados/operations/pgcalc/index.rst
  doc/rados/operations/placement-groups.rst
Labels: documentation, core

#56058 quincy: doc/rados: restore PGcalc tool
  doc/_static/js/pgcalc.js
  doc/rados/operations/index.rst
  doc/rados/operations/pgcalc/index.rst
  doc/rados/operations/placement-groups.rst
Labels: documentation, core

#55657 rgw: replicate v2 topic/notification metadata
  qa/tasks/notification_tests.py
  src/rgw/CMakeLists.txt
  src/rgw/driver/rados/rgw_bucket.cc
  src/rgw/driver/rados/rgw_cr_rados.cc
  src/rgw/driver/rados/rgw_metadata_lister.h
  src/rgw/driver/rados/rgw_notify.cc
  src/rgw/driver/rados/rgw_notify.h
  src/rgw/driver/rados/rgw_rados.cc
  src/rgw/driver/rados/rgw_rados.h
  src/rgw/driver/rados/rgw_sal_rados.cc
  src/rgw/driver/rados/rgw_sal_rados.h
  src/rgw/driver/rados/rgw_service.cc
  src/rgw/driver/rados/rgw_service.h
  src/rgw/driver/rados/rgw_sync.cc
  src/rgw/driver/rados/rgw_zone.cc
  src/rgw/driver/rados/rgw_zone.h
  src/rgw/driver/rados/topic.cc
  src/rgw/driver/rados/topic.h
  src/rgw/rgw_admin.cc
  src/rgw/rgw_common.cc
  src/rgw/rgw_common.h
  src/rgw/rgw_pubsub.cc
  src/rgw/rgw_pubsub.h
  src/rgw/rgw_rest_pubsub.cc
  src/rgw/rgw_rest_pubsub.h
  src/rgw/rgw_rest_s3.cc
  src/rgw/rgw_sal.cc
  src/rgw/rgw_sal.h
  src/rgw/rgw_sal_filter.h
  src/rgw/rgw_sal_store.h
  src/rgw/rgw_zone.cc
  src/rgw/rgw_zone_features.h
  src/rgw/services/svc_mdlog.cc
  src/rgw/services/svc_mdlog.h
  src/test/rgw/bucket_notification/README.rst
  src/test/rgw/bucket_notification/__init__.py
  src/test/rgw/bucket_notification/api.py
  src/test/rgw/bucket_notification/bntests.conf.SAMPLE
  src/test/rgw/bucket_notification/test_bn.py
  src/test/rgw/rgw_multi/conn.py
  src/test/rgw/rgw_multi/multisite.py
  src/test/rgw/rgw_multi/tests.py
  src/test/rgw/rgw_multi/zone_cloud.py
  src/test/rgw/rgw_multi/zone_es.py
  src/test/rgw/rgw_multi/zone_rados.py
  src/test/rgw/test_rgw_iam_policy.cc
  src/test/rgw/test_rgw_lua.cc
Labels: documentation, rgw, needs-qa, tests, build/ops, needs-review, wip-cbodley-testing

#55998 squid: mgr/node-proxy: handle 'None' statuses returned by RedFish
  src/ceph-node-proxy/ceph_node_proxy/util.py
  src/pybind/mgr/cephadm/inventory.py
Labels: core, pybind, cephadm

#55999 reef: mgr/node-proxy: handle 'None' statuses returned by RedFish
  src/ceph-node-proxy/ceph_node_proxy/util.py
  src/pybind/mgr/cephadm/inventory.py
Labels: core, pybind, cephadm, wip-guits-testing-5

#56071 qa: fix syntax bug with invalid 60 minute specification
  qa/crontab/teuthology-cronjobs
Labels: tests

#56042 quincy: doc/start: add Slack invite link
  doc/start/get-involved.rst
Labels: documentation

#56041 reef: doc/start: add Slack invite link
  doc/start/get-involved.rst
Labels: documentation

#56039 squid: doc/start: add Slack invite link
  doc/start/get-involved.rst
Labels: documentation

#56068 doc/glossary: add "Crimson" entry
  doc/dev/crimson/index.rst
  doc/glossary.rst
Labels: documentation, crimson

#56072 squid: doc/glossary: add "Crimson" entry
  doc/dev/crimson/index.rst
  doc/glossary.rst
Labels: documentation, crimson

#56073 reef: doc/glossary: add "Crimson" entry
  doc/dev/crimson/index.rst
  doc/glossary.rst
Labels: documentation, crimson

#56074 quincy: doc/glossary: add "Crimson" entry
  doc/dev/crimson/index.rst
  doc/glossary.rst
Labels: documentation, crimson

#56076 doc/glossary: improve "Crimson" entry
  doc/glossary.rst
Labels: documentation

#55958 quincy: qa/cephadm: testing for extra daemon/container features
  qa/suites/orch/cephadm/workunits/task/test_extra_daemon_features.yaml
  src/python-common/ceph/deployment/service_spec.py
Labels: tests, pybind, cephadm, wip-adk2-testing

#55959 quincy: cephadm: Adding support to configure public_network cfg section
  src/cephadm/cephadm
Labels: cephadm, wip-adk2-testing

#55961 quincy: python-common/drive_selection: lower log level of limit policy message
  src/python-common/ceph/deployment/drive_selection/selector.py
Labels: common, pybind, ceph-volume, cephadm, wip-adk2-testing

#55962 quincy: python-common/drive_group: handle fields outside of 'spec' even when 'spec' is provided
  src/python-common/ceph/deployment/drive_group.py
  src/python-common/ceph/tests/test_drive_group.py
Labels: common, pybind, ceph-volume, cephadm, wip-adk2-testing

#55964 quincy: mgr/cephadm: add is_host_<status> functions to HostCache
  src/pybind/mgr/cephadm/agent.py
  src/pybind/mgr/cephadm/inventory.py
  src/pybind/mgr/cephadm/module.py
  src/pybind/mgr/cephadm/serve.py
  src/pybind/mgr/cephadm/tests/test_cephadm.py
  src/pybind/mgr/cephadm/tests/test_tuned_profiles.py
  src/pybind/mgr/cephadm/tuned_profiles.py
Labels: pybind, cephadm, wip-adk2-testing

#55965 quincy: cephadm: support for CA signed keys
  doc/cephadm/host-management.rst
  doc/cephadm/install.rst
  qa/suites/orch/cephadm/workunits/task/test_ca_signed_key.yaml
  qa/tasks/cephadm.py
  src/cephadm/cephadm
  src/pybind/mgr/cephadm/module.py
  src/pybind/mgr/cephadm/ssh.py
Labels: documentation, tests, pybind, cephadm, wip-adk2-testing

#55966 quincy: cephadm: add tcmu-runner to logrotate config
  src/cephadm/cephadm
Labels: cephadm, wip-adk2-testing

#55974 quincy: mgr/cephadm: don't use image tag in orch upgrade ls
  src/pybind/mgr/cephadm/upgrade.py
Labels: pybind, cephadm, wip-adk2-testing

#55975 quincy: cephadm: run tcmu-runner through script to do restart on failure
  qa/workunits/cephadm/test_iscsi_pids_limit.sh
  src/cephadm/cephadm
  src/cephadm/tests/test_cephadm.py
Labels: tests, cephadm, wip-adk2-testing

#56091 doc/cephadm: improve host-management.rst
  doc/cephadm/host-management.rst
Labels: documentation, cephadm

#56110 squid: doc/cephadm: improve host-management.rst
  doc/cephadm/host-management.rst
Labels: documentation, cephadm

#56111 reef: doc/cephadm: improve host-management.rst
  doc/cephadm/host-management.rst
Labels: documentation, cephadm

#56063 mgr/dashboard: fix snap schedule list toggle cols
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cephfs/cephfs-snapshotschedule-list/cephfs-snapshotschedule-list.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/datatable/table/table.component.html
  src/pybind/mgr/dashboard/frontend/src/app/shared/models/cd-table-column.ts
Labels: pybind, dashboard

#55920 mgr/dashboard: debugging make check failure
  src/pybind/mgr/dashboard/requirements.txt
Labels: pybind, dashboard

#56059 reef: mgr/dashboard: add snap schedule M, Y frequencies
  src/pybind/mgr/dashboard/frontend/src/app/shared/enum/repeat-frequency.enum.ts
Labels: pybind, dashboard

#55866 mgr/dashboard: Locking improvements in bucket create form
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-bucket-form/rgw-bucket-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-bucket-form/rgw-bucket-form.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-bucket-form/rgw-bucket-form.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/components.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/help-text/help-text.component.html
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/help-text/help-text.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/help-text/help-text.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/help-text/help-text.component.ts
Labels: pybind, dashboard, improvements

#55708 crimson/osd/main: Enable multicore cluster messenger
  src/crimson/osd/main.cc
  src/crimson/osd/osd.cc
Labels: crimson, TESTED, ready-to-merge, wip-matan-testing, crimson-perf

#55972 doc: reef 18.2.2 release notes
  doc/releases/index.rst
  doc/releases/reef.rst
  doc/releases/releases.yml
Labels: documentation

#55425 quincy: msg: update MOSDOp() to use ceph_tid_t instead of long
  src/messages/MOSDOp.h
Labels: bug-fix, core, needs-qa, wip-yuri5-testing, win32, quincy-batch-1

#56003 RGW - Swift retarget needs bucket set on object
  src/rgw/rgw_rest_swift.cc
Labels: rgw, needs-qa, wip-cbodley-testing

#56113 doc/cephadm: Improve multiple files
  doc/cephadm/adoption.rst
  doc/cephadm/client-setup.rst
  doc/cephadm/compatibility.rst
  doc/cephadm/install.rst
  doc/cephadm/operations.rst
  doc/cephadm/troubleshooting.rst
  doc/cephadm/upgrade.rst
Labels: documentation, cephadm

#56077 qa/workunits/rbd: switch rbd-mirror workunits to bash
  qa/workunits/rbd/compare_mirror_image_alternate_primary.sh
  qa/workunits/rbd/compare_mirror_images.sh
  qa/workunits/rbd/rbd_mirror.sh
  qa/workunits/rbd/rbd_mirror_bootstrap.sh
  qa/workunits/rbd/rbd_mirror_fsx_compare.sh
  qa/workunits/rbd/rbd_mirror_fsx_prepare.sh
  qa/workunits/rbd/rbd_mirror_ha.sh
  qa/workunits/rbd/rbd_mirror_helpers.sh
  qa/workunits/rbd/rbd_mirror_stress.sh
Labels: rbd, tests

#55842 squid: rgw: add new `object manifest` sub-command
  doc/man/8/radosgw-admin.rst
  src/rgw/rgw_admin.cc
  src/rgw/rgw_obj_types.h
Labels: feature, rgw, needs-qa, wip-cbodley-testing

#54866 reef: [rgw][lc][rgw_lifecycle_work_time] adjust timing if the configured end time is less than the start time
  src/common/options/rgw.yaml.in
  src/rgw/rgw_lc.cc
  src/test/rgw/test_rgw_lc.cc
Labels: rgw, needs-qa, tests, common, wip-yuri7-testing

#55061 reef: radosgw-admin: 'zone set' won't overwrite existing default-placement
  src/rgw/driver/rados/rgw_zone.cc
Labels: rgw, needs-qa, needs-review, wip-yuri7-testing

#55094 reef: rgw: add headers to guide cache update in 304 response
  src/rgw/driver/rados/rgw_rados.cc
  src/rgw/rgw_op.cc
  src/rgw/rgw_rest_s3.cc
Labels: rgw, needs-qa, wip-yuri7-testing

#55289 reef: rgw/lc: do not add datalog/bilog for some lc actions
  src/rgw/driver/rados/rgw_bucket.cc
  src/rgw/driver/rados/rgw_cr_rados.cc
  src/rgw/driver/rados/rgw_object_expirer_core.cc
  src/rgw/driver/rados/rgw_putobj_processor.cc
  src/rgw/driver/rados/rgw_putobj_processor.h
  src/rgw/driver/rados/rgw_rados.cc
  src/rgw/driver/rados/rgw_rados.h
  src/rgw/driver/rados/rgw_sal_rados.cc
  src/rgw/driver/rados/rgw_sal_rados.h
  src/rgw/driver/rados/rgw_tools.cc
  src/rgw/rgw_file.cc
  src/rgw/rgw_lc.cc
  src/rgw/rgw_op.cc
  src/rgw/rgw_sal.h
  src/rgw/rgw_sal_daos.cc
  src/rgw/rgw_sal_daos.h
  src/rgw/rgw_sal_dbstore.cc
  src/rgw/rgw_sal_dbstore.h
  src/rgw/rgw_sal_filter.cc
  src/rgw/rgw_sal_filter.h
  src/rgw/rgw_sal_motr.cc
  src/rgw/rgw_sal_motr.h
Labels: rgw, needs-qa, wip-yuri7-testing

#55606 reef: rgw: do not copy olh attributes in versioning suspended bucket
  src/rgw/driver/rados/rgw_rados.cc
Labels: rgw, needs-qa, wip-yuri7-testing

#55621 reef: rgw/putobj: RadosWriter uses part head object for multipart parts
  src/rgw/driver/rados/rgw_putobj_processor.cc
  src/rgw/driver/rados/rgw_putobj_processor.h
Labels: rgw, needs-qa, wip-yuri7-testing

#55655 reef: rgw/datalog: RGWDataChangesLog::add_entry() uses null_yield
  src/rgw/driver/rados/rgw_datalog.cc
  src/test/rgw/rgw_multi/tests.py
Labels: rgw, needs-qa, tests, wip-yuri7-testing

#55790 reef: test/rgw: increase timeouts in unittest_rgw_dmclock_scheduler
  src/test/rgw/test_rgw_dmclock_scheduler.cc
Labels: rgw, needs-qa, tests, wip-yuri7-testing

#56005 qa/rgw: teach rgw.py to create an optional realm
  qa/suites/rgw/notifications/overrides.yaml
  qa/tasks/rgw.py
Labels: rgw, tests, wip-cbodley-testing

#56129 squid: doc/cephadm: Improve multiple files
  doc/cephadm/adoption.rst
  doc/cephadm/client-setup.rst
  doc/cephadm/compatibility.rst
  doc/cephadm/install.rst
  doc/cephadm/operations.rst
  doc/cephadm/troubleshooting.rst
  doc/cephadm/upgrade.rst
Labels: documentation, cephadm

#56130 reef: doc/cephadm: Improve multiple files
  doc/cephadm/adoption.rst
  doc/cephadm/client-setup.rst
  doc/cephadm/compatibility.rst
  doc/cephadm/install.rst
  doc/cephadm/operations.rst
  doc/cephadm/troubleshooting.rst
  doc/cephadm/upgrade.rst
Labels: documentation, cephadm

#56126 squid: mgr/dashboard: debugging make check failure
  src/pybind/mgr/dashboard/requirements.txt
Labels: pybind, dashboard

#56127 reef: mgr/dashboard: debugging make check failure
  src/pybind/mgr/dashboard/requirements.txt
Labels: pybind, dashboard

#55785 squid: mgr/dashboard: fix volume creation with multiple hosts
  src/pybind/mgr/dashboard/controllers/cephfs.py
Labels: dashboard, backport: no-conflicts

#55816 squid: mgr/dashboard: fix snap schedule date format
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cephfs/cephfs-snapshotschedule-form/cephfs-snapshotschedule-form.component.ts
Labels: pybind, dashboard

#55815 reef: mgr/dashboard: fix snap schedule date format
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cephfs/cephfs-snapshotschedule-form/cephfs-snapshotschedule-form.component.ts
Labels: pybind, dashboard
