Repository ceph/ceph, pull requests merged in 2025-01, with the labels that each got.

#61103 test/rgw/noitifications: fix test names
  src/test/rgw/bucket_notification/test_bn.py
Labels: rgw, needs-qa, tests, wip-yuval-testing

#60411 client: Fix a deadlock when osd is full
  src/client/Client.cc
Labels: cephfs, tests, pybind, nfs, wip-vshankar-testing1

#57452 quincy: cephfs_mirror: fix crash in update_fs_mirrors()
  src/tools/cephfs_mirror/FSMirror.h
Labels: bug-fix, cephfs, wip-lxb-testing-quincy1

#56954 quincy: client: log debug message when requesting unmount
  src/client/Client.cc
Labels: cephfs, wip-lxb-testing-quincy1

#56399 quincy: mds: ensure snapclient is synced before corruption check
  src/mds/CDentry.cc
Labels: cephfs, wip-lxb-testing-quincy1

#61181 Squid: mgr/dashboard: Administration > Configuration > Some of the config options are not updatable at runtime
  qa/tasks/mgr/dashboard/test_rbd.py
  src/pybind/mgr/dashboard/controllers/cluster_configuration.py
  src/pybind/mgr/dashboard/frontend/cypress/e2e/cluster/configuration.e2e-spec.ts
  src/pybind/mgr/dashboard/frontend/cypress/e2e/cluster/configuration.po.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/configuration/configuration-form/configuration-form-create-request.model.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/configuration/configuration-form/configuration-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/configuration/configuration-form/configuration-form.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/configuration/configuration.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/config-option/config-option.model.ts
  src/pybind/mgr/dashboard/openapi.yaml
Labels: tests, pybind, dashboard, api-change

#60218 squid: client: contiguous read fails for non-contiguous write (in async I/O api)
  src/client/Client.cc
  src/test/client/nonblocking.cc
Labels: cephfs, tests, wip-vshankar-testing1-squid

#60181 squid: qa: fix test failure test_cephfs_mirror_cancel_mirroring_and_readd
  qa/tasks/cephfs/test_mirroring.py
Labels: cephfs, tests, wip-vshankar-testing1-squid

#59899 squid: cephfs-top: fix exceptions on small/large sized windows
  src/tools/cephfs/top/cephfs-top
Labels: cephfs, wip-vshankar-testing1-squid

#59866 squid: mds: drop client metrics during recovery
  src/mds/MDSRank.cc
  src/mds/MDSRank.h
  src/mds/MetricsHandler.cc
Labels: cephfs, wip-vshankar-testing1-squid

#59685 squid: qa: wait for file creation before changing mode
  qa/workunits/fs/snaps/snaptest-double-null.sh
Labels: tests, wip-vshankar-testing1-squid

#60694 squid: client: fixed a bug that read operation hung
  src/client/Client.cc
Labels: cephfs, wip-vshankar-testing3-squid

#60691 squid: mds: getattr just waits the xlock to be released by the previous client
  src/mds/Server.cc
Labels: cephfs, wip-vshankar-testing3-squid

#60688 squid: mds: batch backtrace updates by pool-id when expiring a log segment
  qa/tasks/cephfs/test_backtrace.py
  src/mds/CInode.cc
  src/mds/CInode.h
  src/mds/LogSegment.h
  src/mds/MDLog.cc
  src/mds/journal.cc
Labels: cephfs, tests, wip-vshankar-testing3-squid

#60687 squid: tools/rados: Fix extra NL in getxattr
  src/tools/rados/rados.cc
Labels: core, tools, wip-vshankar-testing3-squid

#60059 squid: mds: invalid id for client eviction is to be treated as success
  qa/tasks/cephfs/test_misc.py
  src/mds/MDSRank.cc
Labels: cephfs, tests, wip-vshankar-testing3-squid

#59704 squid: mon: fix `fs set down` to adjust max_mds only when cluster is not down
  qa/workunits/cephtool/test.sh
  src/mon/FSCommands.cc
Labels: core, cephfs, tests, mon, wip-vshankar-testing3-squid

#59518 squid: mds: cephx path restriction incorrectly rejects snapshots of deleted directory
  qa/tasks/cephfs/test_snapshots.py
  src/mds/Server.cc
  src/mds/SessionMap.cc
Labels: cephfs, tests, wip-vshankar-testing3-squid

#59395 squid: client: flush the caps release in filesystem sync
  src/client/Client.cc
Labels: cephfs, wip-vshankar-testing3-squid

#59631 radosgw-admin: create user without creds cli
  doc/man/8/radosgw-admin.rst
  doc/radosgw/admin.rst
  src/bash_completion/radosgw-admin
  src/rgw/rgw_admin.cc
  src/test/cli/radosgw-admin/help.t
Labels: documentation, rgw, needs-qa, tests, wip-eric-testing-1

#60430 rgw: fix empty storage class on display of multipart uploads
  src/cls/rgw/cls_rgw_types.cc
Labels: bug-fix, rgw, needs-qa, wip-eric-testing-1

#59980 rgw/notification: Forward Topic & Notification creation request to master when notification_v2 enabled
  src/rgw/rgw_rest_pubsub.cc
Labels: rgw, needs-qa, wip-eric-testing-1

#60455 reef: rgw/auth: ignoring signatures for HTTP OPTIONS calls
  src/rgw/rgw_auth_keystone.cc
  src/rgw/rgw_auth_keystone.h
  src/rgw/rgw_rest_s3.cc
Labels: rgw, needs-qa, wip-yuri8-testing

#60165 reef: cls/user: reset stats only returns marker when truncated
  src/cls/user/cls_user.cc
Labels: rgw, needs-qa, wip-yuri5-testing

#60849 [reef] qa/rgw: the rgw/verify suite runs java tests last
  qa/suites/rgw/verify/tasks/zzz-s3tests-java.yaml
Labels: needs-qa, wip-yuri5-testing

#59919 squid: qa: failfast mount for better performance and unblock `fs volume ls`
  qa/cephfs/conf/mgr.yaml
  qa/suites/fs/functional/tasks/snap-schedule.yaml
Labels: cephfs, tests, wip-vshankar-testing3-squid

#60752 squid: mds: Implement remove for ceph vxattrs
  PendingReleaseNotes
  doc/cephfs/quota.rst
  qa/tasks/cephfs/mount.py
  qa/tasks/cephfs/test_subvolume.py
  qa/workunits/fs/misc/general_vxattrs.sh
  qa/workunits/fs/misc/layout_vxattrs.sh
  src/mds/Server.cc
  src/mds/Server.h
Labels: documentation, cephfs, tests, wip-vshankar-testing3-squid

#61217 mgr/cephadm/nvmeof: Add key verification field to NVMeOF configuration
  src/pybind/mgr/cephadm/templates/services/nvmeof/ceph-nvmeof.conf.j2
  src/pybind/mgr/cephadm/tests/test_services.py
  src/python-common/ceph/deployment/service_spec.py
Labels: pybind, cephadm, nvmeof

#60685 rgw: respect policies in data sync in user mode
  src/rgw/driver/rados/rgw_data_sync.cc
  src/rgw/rgw_auth.cc
  src/rgw/rgw_auth.h
  src/rgw/rgw_common.cc
  src/rgw/rgw_common.h
  src/rgw/rgw_op.cc
Labels: rgw, needs-qa, wip-eric-testing-2

#60832 rgw: consider multi zonegroup for is_syncing_bucket_meta
  src/rgw/driver/rados/rgw_datalog.cc
  src/rgw/driver/rados/rgw_rados.cc
  src/rgw/services/svc_zone.cc
  src/rgw/services/svc_zone.h
Labels: rgw, needs-qa, wip-eric-testing-2

#61221 doc: README.md - format "Tips and Tricks"
  README.md
Labels: documentation

#61086 crimson: allow replica side write commits to pipeline
  src/crimson/osd/osd_operation.h
  src/crimson/osd/osd_operation_external_tracking.h
  src/crimson/osd/osd_operations/replicated_request.cc
  src/crimson/osd/osd_operations/replicated_request.h
  src/crimson/osd/pg.cc
  src/crimson/osd/pg.h
Labels: documentation, tests, common, performance, crimson

#60701 reef: qa/rgw/crypt: disable failing kmip testing
  qa/suites/rgw/crypt/2-kms/kmip.yaml
Labels: rgw, needs-qa, tests, wip-yuri5-testing

#60741 reef: rgw: fix the Content-Length in response header of static website
  src/rgw/rgw_rest.cc
Labels: bug-fix, rgw, needs-qa, wip-yuri5-testing, backport: no-conflicts, backport, backport reef

#61226 doc: README.md - format "Troubleshooting"
  README.md
Labels: documentation

#61227 doc: README.md - improve "Tshooting" and "Tips & Tricks"
  README.md
Labels: documentation

#61216 qa/suites/crimson-rados: enable short_pg_log
  qa/suites/crimson-rados/thrash/1-pg-log-overrides/short_pg_log.yaml
  qa/suites/crimson-rados/thrash_simple/1-pg-log-overrides/short_pg_log.yaml
Labels: tests, crimson

#60041 crimson/osd/pg_shard_manager: discard outdated operations when the corresponding pgs are already removed
  src/crimson/osd/osd_operation.h
  src/crimson/osd/osd_operations/client_request.h
  src/crimson/osd/osd_operations/logmissing_request.h
  src/crimson/osd/osd_operations/logmissing_request_reply.h
  src/crimson/osd/osd_operations/peering_event.h
  src/crimson/osd/osd_operations/pg_advance_map.h
  src/crimson/osd/osd_operations/recovery_subrequest.h
  src/crimson/osd/osd_operations/replicated_request.h
  src/crimson/osd/osd_operations/scrub_events.h
  src/crimson/osd/pg_shard_manager.h
  src/crimson/osd/shard_services.cc
  src/crimson/osd/shard_services.h
Labels: bug-fix, crimson, wip-matan-testing, needs-crimson-qa, crimson-replicated-recovery

#60597 crimson/osd/replicated_recovery_backend: call on_global_recover() only when all replicas and the primary have been recovered
  src/crimson/osd/replicated_recovery_backend.cc
Labels: bug-fix, crimson, wip-matan-testing, needs-crimson-qa, crimson-replicated-recovery

#59593 crimson/osd/backfill_state: treat `Cancelled` as a pause of the ongoing backfilling
  src/crimson/osd/backfill_facades.h
  src/crimson/osd/backfill_state.cc
  src/crimson/osd/backfill_state.h
  src/test/crimson/test_backfill.cc
Labels: bug-fix, core, tests, crimson, TESTED, ready-to-merge, wip-matan-testing, crimson-replicated-recovery

#60720 qa: write out ESubtreeMap more frequently to find large events
  qa/tasks/cephfs/test_exports.py
  src/common/options/mds.yaml.in
Labels: cephfs, needs-qa, tests, common, wip-vshankar-testing1

#61243 doc/radosgw/s3: correct eTag op match tables
  doc/radosgw/s3/objectops.rst
Labels: documentation

#61240 doc: add snapshots under cephfs concepts
  doc/cephfs/index.rst
  doc/cephfs/snapshots.rst
Labels: documentation, cephfs

#61118 squid: qa/standalone/scrub: fix TEST_periodic_scrub_replicated
  qa/standalone/scrub/osd-scrub-repair.sh
Labels: bug-fix, core, tests, backport

#61241 ceph-volume: fix Zap.ensure_associated_raw()
  src/ceph-volume/ceph_volume/devices/lvm/zap.py
  src/ceph-volume/ceph_volume/tests/devices/lvm/data_zap.py
Labels: ceph-volume, wip-guits-main

#60118 script/run-make: stop args duplication
  src/script/run-make.sh
Labels: script

#60666 debian packaging: fix overly broad lua dependency declaration for librgw2 package
  debian/control
Labels: build/ops

#61023 squid: qa/rgw: bump keystone/barbican from 2023.1 to 2024.1
  qa/suites/rgw/crypt/2-kms/barbican.yaml
  qa/suites/rgw/tempest/0-install.yaml
Labels: rgw, needs-qa, tests

#60487 squid: ceph-volume: support zapping by osd-id for RAW OSDs
  src/ceph-volume/ceph_volume/devices/lvm/zap.py
  src/ceph-volume/ceph_volume/devices/raw/list.py
  src/ceph-volume/ceph_volume/tests/devices/lvm/data_zap.py
  src/ceph-volume/ceph_volume/tests/devices/lvm/test_zap.py
  src/ceph-volume/ceph_volume/tests/devices/raw/data_list.py
  src/ceph-volume/ceph_volume/tests/devices/raw/test_list.py
  src/ceph-volume/ceph_volume/tests/test_inventory.py
  src/ceph-volume/ceph_volume/util/device.py
  src/ceph-volume/ceph_volume/util/disk.py
Labels: ceph-volume, wip-guits-squid

#61252 ceph-volume: add python hints to util.prepare.create_id()
  src/ceph-volume/ceph_volume/util/prepare.py
Labels: ceph-volume

#61251 ceph-volume: fix loop devices support
  src/ceph-volume/ceph_volume/util/disk.py
Labels: ceph-volume, wip-guits-main

#61260 ceph-volume: fix Zap.ensure_associated_raw()
  src/ceph-volume/ceph_volume/devices/lvm/zap.py
  src/ceph-volume/ceph_volume/tests/devices/lvm/data_zap.py
Labels: ceph-volume, wip-guits-squid

#59270 reef: mon: Remove any pg_upmap_primary mapping during remove a pool
  src/mon/OSDMonitor.cc
Labels: core, needs-qa, mon, wip-bharath4-testing

#61136 rgw: don't use merge_and_store_attrs() when recreating a bucket
  src/rgw/rgw_op.cc
Labels: bug-fix, rgw, needs-qa, wip-cbodley-testing

#61127 mon/NVMeofGwMap: add healthcheck warning NVMEOF_GATEWAY_DELETING
  doc/rados/operations/health-checks.rst
  src/common/options/mon.yaml.in
  src/mon/NVMeofGwMap.cc
  src/mon/NVMeofGwMap.h
  src/mon/NVMeofGwMon.h
Labels: documentation, core, common, mon, nvmeof

#60379 librados/asio: forward asio cancellations to AioCompletion::cancel()
  PendingReleaseNotes
  src/include/rados/librados.hpp
  src/librados/librados_asio.h
  src/librados/librados_cxx.cc
  src/test/librados/aio.cc
  src/test/librados/aio_cxx.cc
  src/test/librados/asio.cc
Labels: documentation, core, needs-qa, tests, wip-bharath2-testing

#60848 docs/rgw: deprecate tenant-based IAM in favor of accounts
  PendingReleaseNotes
Labels: documentation, rgw

#60891 crimson/os/seastore: add fadvise support to SeaStore and prevent recovery/backfill from polluting the cache of SeaStore
  src/crimson/os/alienstore/alien_store.cc
  src/crimson/os/alienstore/alien_store.h
  src/crimson/os/cyanstore/cyan_store.cc
  src/crimson/os/cyanstore/cyan_store.h
  src/crimson/os/futurized_store.h
  src/crimson/os/seastore/async_cleaner.cc
  src/crimson/os/seastore/async_cleaner.h
  src/crimson/os/seastore/cache.cc
  src/crimson/os/seastore/cache.h
  src/crimson/os/seastore/seastore.cc
  src/crimson/os/seastore/seastore.h
  src/crimson/os/seastore/seastore_types.h
  src/crimson/os/seastore/transaction.h
  src/crimson/os/seastore/transaction_manager.cc
  src/crimson/os/seastore/transaction_manager.h
  src/crimson/osd/pg_backend.cc
  src/crimson/osd/pg_backend.h
  src/crimson/osd/replicated_recovery_backend.cc
  src/crimson/tools/store_nbd/tm_driver.cc
  src/test/crimson/seastore/test_btree_lba_manager.cc
  src/test/crimson/seastore/test_seastore_cache.cc
Labels: tests, crimson, TESTED, seastore, ready-to-merge, crimson-perf

#59499 reef: os/bluestore: allow use BtreeAllocator
  src/common/options/global.yaml.in
Labels: needs-qa, common, wip-yuri-testing

#56139 reef: os/store_test: Retune tests to current code
  src/os/bluestore/BlueStore.cc
  src/test/objectstore/store_test.cc
Labels: needs-qa, tests, wip-yuri-testing, bluestore, backport

#60623 vstart: add ceph-exporter support
  src/vstart.sh
Labels: documentation, core, rgw, rbd, cephfs, tests, common, build/ops, pybind, bluestore, mgr, mon, ceph-volume, dashboard, crimson, orchestrator, monitoring, CI, cephadm, telemetry, nfs, api-change, script, nvmeof

#61262 qa/workunits/nvmeof/basic_tests.sh: fix nvme list assert
  qa/tasks/nvmeof.py
  qa/workunits/nvmeof/basic_tests.sh
  qa/workunits/nvmeof/fio_test.sh
Labels: tests, nvmeof

#60883 crimson/osd/pg_recovery: throttle backfills together with pglog based recoveries
  src/crimson/osd/backfill_state.cc
  src/crimson/osd/backfill_state.h
  src/crimson/osd/osd_operation.h
  src/crimson/osd/pg_recovery.cc
  src/crimson/osd/pg_recovery.h
  src/crimson/osd/shard_services.h
Labels: common, crimson, TESTED, ready-to-merge, wip-matan-testing, crimson-replicated-recovery

#60987 doc: fixes in doc building
  doc/_ext/ceph_commands.py
  doc/conf.py
Labels: documentation

#60881 common/pick_address: Add IPv6 support to is_addr_in_subnet
  src/common/pick_address.cc
  src/common/pick_address.h
  src/osd/OSDMap.cc
  src/test/test_ipaddr.cc
Labels: core, needs-qa, tests, common, wip-bharath2-testing

#59960 rgw/multisite: include request body when CreateBucket op is forwarded to master
  src/rgw/rgw_op.cc
  src/rgw/rgw_op.h
  src/rgw/rgw_rest_s3.cc
Labels: rgw, tests, wip-cbodley-testing

#52791 rgw: check for location constraint on master zonegroup
  qa/tasks/rgw_multisite.py
  src/rgw/driver/daos/rgw_sal_daos.cc
  src/rgw/driver/daos/rgw_sal_daos.h
  src/rgw/driver/motr/rgw_sal_motr.cc
  src/rgw/driver/motr/rgw_sal_motr.h
  src/rgw/driver/rados/rgw_period.cc
  src/rgw/driver/rados/rgw_sal_rados.cc
  src/rgw/driver/rados/rgw_sal_rados.h
  src/rgw/driver/rados/rgw_zone.h
  src/rgw/rgw_common.cc
  src/rgw/rgw_common.h
  src/rgw/rgw_op.cc
  src/rgw/rgw_sal.h
  src/rgw/rgw_sal_dbstore.cc
  src/rgw/rgw_sal_dbstore.h
  src/rgw/rgw_sal_filter.h
  src/rgw/services/svc_zone.cc
  src/rgw/services/svc_zone.h
  src/test/rgw/rgw_multi/tests.py
Labels: rgw, tests, wip-cbodley-testing

#60330 common/io_exerciser: Add support to ceph_test_rados_io_sequence injecting errors for testing how erasure coding deals with error scenarios
  src/common/CMakeLists.txt
  src/common/io_exerciser/CMakeLists.txt
  src/common/io_exerciser/DataGenerator.cc
  src/common/io_exerciser/DataGenerator.h
  src/common/io_exerciser/EcIoSequence.cc
  src/common/io_exerciser/EcIoSequence.h
  src/common/io_exerciser/IoOp.cc
  src/common/io_exerciser/IoOp.h
  src/common/io_exerciser/IoSequence.cc
  src/common/io_exerciser/IoSequence.h
  src/common/io_exerciser/Model.cc
  src/common/io_exerciser/Model.h
  src/common/io_exerciser/ObjectModel.cc
  src/common/io_exerciser/ObjectModel.h
  src/common/io_exerciser/OpType.h
  src/common/io_exerciser/RadosIo.cc
  src/common/io_exerciser/RadosIo.h
  src/common/json/BalancerStructures.cc
  src/common/json/BalancerStructures.h
  src/common/json/CMakeLists.txt
  src/common/json/ConfigStructures.cc
  src/common/json/ConfigStructures.h
  src/common/json/OSDStructures.cc
  src/common/json/OSDStructures.h
  src/osd/ECBackend.cc
  src/osd/ECCommon.cc
  src/osd/ECCommon.h
  src/osd/OSD.cc
  src/osd/PGBackend.h
  src/osd/PrimaryLogPG.cc
  src/osd/PrimaryLogPG.h
  src/test/osd/CMakeLists.txt
  src/test/osd/ceph_test_rados_io_sequence.cc
  src/test/osd/ceph_test_rados_io_sequence.h
Labels: core, tests, common, build/ops

#61288 rgw: Don't crash on exceptions from pool listing
  src/rgw/driver/rados/rgw_tools.cc
Labels: bug-fix, rgw, wip-aemerson-testing

#61254 doc/rados/operations/stretch-mode: Improve doc
  doc/rados/operations/stretch-mode.rst
Labels: documentation, core

#61306 squid: rgw: Don't crash on exceptions from pool listing
  src/rgw/driver/rados/rgw_tools.cc
Labels: bug-fix, rgw

#61164 ops_replayer: fix signed/unsigned warning and add parameter range checking.
  src/test/objectstore/allocsim/ops_replayer.cc
Labels: tests

#59371 reef: mgr/rest: Trim requests array and limit size
  PendingReleaseNotes
  doc/mgr/restful.rst
  src/pybind/mgr/restful/module.py
Labels: documentation, core, needs-qa, pybind, wip-yuri2-testing, mgr

#59404 reef: mon/OSDMonitor: Add force-remove-snap mon command
  src/mon/MonCommands.h
  src/mon/OSDMonitor.cc
Labels: core, needs-qa, wip-yuri2-testing, mon

#59444 reef: src/pybind/mgr/pg_autoscaler/module.py: fix 'pg_autoscale_mode' output
  src/pybind/mgr/pg_autoscaler/module.py
Labels: needs-qa, pybind, wip-yuri2-testing, backport reef

#57067 reef: osd/OSDMonitor: check svc is writeable before changing pending
  src/mon/AuthMonitor.cc
  src/mon/AuthMonitor.h
  src/mon/KVMonitor.cc
  src/mon/OSDMonitor.cc
  src/mon/OSDMonitor.h
Labels: core, needs-qa, wip-yuri-testing, mon

#59280 reef: common/TrackedOp: rename and raise prio of slow op perfcounter
  src/common/TrackedOp.cc
  src/common/TrackedOp.h
Labels: needs-qa, common, wip-yuri-testing

#60612 reef: os: remove unused btrfs_ioctl.h and tests
  COPYING
  qa/Makefile
  qa/btrfs/.gitignore
  qa/btrfs/Makefile
  qa/btrfs/clone_range.c
  qa/btrfs/create_async_snap.c
  qa/btrfs/test_async_snap.c
  qa/btrfs/test_rmdir_async_snap.c
  src/btrfs_ioc_test.c
  src/common/sync_filesystem.h
  src/os/fs/btrfs_ioctl.h
Labels: documentation, core, needs-qa, tests, common, wip-yuri-testing

#60081 src/exporter: improve usage message
  src/exporter/ceph_exporter.cc
Labels: documentation, needs-review, exporter

#60969 qa/suites/upgrade/reef-x: sync log-ignorelist with quincy-x
  qa/suites/upgrade/quincy-x/parallel/0-start.yaml
  qa/suites/upgrade/quincy-x/parallel/1-tasks.yaml
  qa/suites/upgrade/quincy-x/stress-split/1-start.yaml
  qa/suites/upgrade/reef-x/parallel/0-start.yaml
  qa/suites/upgrade/reef-x/parallel/1-tasks.yaml
  qa/suites/upgrade/reef-x/parallel/overrides/ignorelist_health.yaml
  qa/suites/upgrade/reef-x/stress-split/1-start.yaml
  qa/suites/upgrade/reef-x/stress-split/overrides/ignorelist_health.yaml
Labels: core, needs-qa, tests, wip-bharath9-testing

#55259 rgw: implement GetObjectAttributes
  src/rgw/driver/posix/rgw_sal_posix.cc
  src/rgw/driver/posix/rgw_sal_posix.h
  src/rgw/driver/rados/rgw_rados.cc
  src/rgw/driver/rados/rgw_rados.h
  src/rgw/driver/rados/rgw_sal_rados.cc
  src/rgw/driver/rados/rgw_sal_rados.h
  src/rgw/rgw_cksum_pipe.cc
  src/rgw/rgw_cksum_pipe.h
  src/rgw/rgw_iam_policy.cc
  src/rgw/rgw_iam_policy.h
  src/rgw/rgw_op.cc
  src/rgw/rgw_op.h
  src/rgw/rgw_op_type.h
  src/rgw/rgw_rest.h
  src/rgw/rgw_rest_s3.cc
  src/rgw/rgw_rest_s3.h
  src/rgw/rgw_sal.h
  src/rgw/rgw_sal_dbstore.cc
  src/rgw/rgw_sal_dbstore.h
  src/rgw/rgw_sal_filter.cc
  src/rgw/rgw_sal_filter.h
  src/test/rgw/test_rgw_iam_policy.cc
Labels: feature, bug-fix, rgw, tests, build/ops, passed-qa

#61291 doc/rgw: document UserName requirements for account migration
  doc/radosgw/account.rst
Labels: documentation

#61313 doc: improve tests-integration-testing-teuthology-workflow.rst
  doc/dev/developer_guide/testing_integration_tests/tests-integration-testing-teuthology-workflow.rst
  doc/dev/developer_guide/testing_integration_tests/workflow.png
Labels: documentation

#59245 squid: qa/suites/upgrade: ignore PG_AVAILABILITY and MON_DOWN for quincy-x and reef-x upgrade suites
  qa/suites/upgrade/quincy-x/parallel/1-tasks.yaml
  qa/suites/upgrade/quincy-x/stress-split/1-start.yaml
  qa/suites/upgrade/reef-x/parallel/1-tasks.yaml
  qa/suites/upgrade/reef-x/stress-split/1-start.yaml
Labels: core, tests

#60795 osd: optimize extent comparison in PrimaryLogPG
  src/osd/PrimaryLogPG.cc
Labels: core, needs-qa, performance, wip-dis-testing, wip-bharath2-testing

#60618 squid: qa: Add ignorelist entries for reef-x tests
  qa/suites/upgrade/reef-x/parallel/overrides/ignorelist_health.yaml
  qa/suites/upgrade/reef-x/stress-split/overrides/ignorelist_health.yaml
Labels: needs-qa, tests

#60803 crimson/osd/replicate_backend: add standalone delete to the push queue if the object is deleted while it's being backfilled
  src/crimson/osd/backfill_state.cc
  src/crimson/osd/backfill_state.h
  src/crimson/osd/pg.cc
  src/crimson/osd/pg.h
  src/crimson/osd/replicated_backend.cc
  src/crimson/osd/replicated_recovery_backend.cc
Labels: bug-fix, crimson, TESTED, wip-matan-testing, crimson-replicated-recovery

#60958 crimson/osd/backfill_state: recheck whether needs to scan the primary at the end of Enqueuing::Enqueuing
  src/crimson/osd/backfill_state.cc
Labels: bug-fix, crimson, TESTED, ready-to-merge, wip-matan-testing, crimson-replicated-recovery

#61088 squid: test/scrub: only instruct clean PGs to scrub
  qa/standalone/ceph-helpers.sh
Labels: bug-fix, core, needs-qa, tests, backport, wip-bharath6-testing

#60261 mgr/PyModule: do not lock in get_name(), get_error_string()
  src/mgr/PyModule.h
Labels: core, needs-qa, mgr, wip-bharath9-testing

#59625 squid: test: test_rados_tools compare output without trimming newline
  qa/workunits/rados/test_rados_tool.sh
Labels: core, needs-qa, tests, tools, wip-bharath6-testing

#60629 squid: mon [stretch mode]: support disable_stretch_mode
  doc/rados/operations/stretch-mode.rst
  qa/suites/rados/singleton/all/stretch-mode-5-mons-8-osds.yaml
  qa/tasks/ceph_manager.py
  qa/tasks/stretch_mode_disable_enable.py
  qa/workunits/mon/mon-stretch-mode-5-mons-8-osds.sh
  src/mon/MonCommands.h
  src/mon/MonMap.cc
  src/mon/Monitor.cc
  src/mon/Monitor.h
  src/mon/MonmapMonitor.cc
  src/mon/OSDMonitor.cc
  src/mon/OSDMonitor.h
Labels: documentation, core, needs-qa, tests, mon, wip-bharath6-testing

#60762 qa/suites/rados/verify/validater: ignore OSD_DOWN
  qa/suites/rados/verify/validater/valgrind.yaml
Labels: core, needs-qa, tests, wip-bharath2-testing

#60278 os, osd: bring the lightweight OMAP iteration
  src/common/ceph_time.h
  src/crimson/os/alienstore/alien_store.cc
  src/kv/KeyValueDB.h
  src/kv/RocksDBStore.cc
  src/kv/RocksDBStore.h
  src/os/DBObjectMap.cc
  src/os/DBObjectMap.h
  src/os/ObjectStore.h
  src/os/bluestore/BlueStore.cc
  src/os/bluestore/BlueStore.h
  src/os/kstore/KStore.cc
  src/os/kstore/KStore.h
  src/os/memstore/MemStore.cc
  src/os/memstore/MemStore.h
  src/osd/PrimaryLogPG.cc
  src/test/ObjectMap/KeyValueDBMemory.cc
  src/test/objectstore/ObjectStoreImitator.h
Labels: core, needs-qa, tests, common, performance, bluestore, crimson, wip-yuri6-testing

#57617 test/pybind/test_rados.py: fix warnings
  src/test/pybind/pytest.ini
  src/test/pybind/test_rados.py
Labels: tests, TESTED, ready-to-merge, wip-bharath10-testing

#58924 os/bluestore: record omapiter init latency
  src/os/bluestore/BlueStore.cc
Labels: core, needs-qa, bluestore, TESTED, ready-to-merge

#61272 doc/radosgw/config-ref: fix lc worker thread tuning
  doc/radosgw/config-ref.rst
Labels: documentation, pending-discussion

#61344 quincy: doc: improve tests-integration-testing-teuthology-workflow.rst
  doc/dev/developer_guide/testing_integration_tests/tests-integration-testing-teuthology-workflow.rst
  doc/dev/developer_guide/testing_integration_tests/workflow.png
Labels: documentation

#61343 reef: doc: improve tests-integration-testing-teuthology-workflow.rst
  doc/dev/developer_guide/testing_integration_tests/tests-integration-testing-teuthology-workflow.rst
  doc/dev/developer_guide/testing_integration_tests/workflow.png
Labels: documentation

#61292 reef: mgr/diskprediction_local: avoid mypy error
  src/pybind/mgr/diskprediction_local/predictor.py
Labels: pybind

#58604 mgr/cephadm: allow disabling rgw_run_sync_thread through spec
  doc/cephadm/services/rgw.rst
  src/pybind/mgr/cephadm/services/cephadmservice.py
  src/pybind/mgr/cephadm/tests/test_services.py
  src/python-common/ceph/deployment/service_spec.py
Labels: documentation, pybind, cephadm, wip-adk-testing

#60690 mgr/cephadm: ceph orch <start/stop/restart> commands should work for service name osd and command to updated service name for osd
  doc/cephadm/services/osd.rst
  doc/man/8/cephadm.rst
  src/cephadm/cephadm.py
  src/cephadm/cephadmlib/file_utils.py
  src/pybind/mgr/cephadm/module.py
  src/pybind/mgr/orchestrator/_interface.py
  src/pybind/mgr/orchestrator/module.py
Labels: documentation, pybind, orchestrator, cephadm, wip-adk-testing

#60828 mgr/cephadm: fixing config files for prometheus and alertmanager
  src/pybind/mgr/cephadm/templates/services/alertmanager/alertmanager.yml.j2
  src/pybind/mgr/cephadm/templates/services/mgmt-gateway/nginx.conf.j2
  src/pybind/mgr/cephadm/templates/services/prometheus/prometheus.yml.j2
  src/pybind/mgr/cephadm/tests/test_services.py
Labels: pybind, monitoring, cephadm, wip-adk-testing

#60888 mgr/cephadm: Add only_bind_ports_on_network spec parameter for Alertmanager
  src/cephadm/cephadmlib/daemons/monitoring.py
  src/cephadm/cephadmlib/net_utils.py
  src/cephadm/tests/test_deploy.py
  src/pybind/mgr/cephadm/schedule.py
  src/pybind/mgr/cephadm/services/monitoring.py
  src/pybind/mgr/cephadm/tests/test_services.py
  src/python-common/ceph/deployment/service_spec.py
Labels: pybind, monitoring, cephadm, wip-adk-testing

#61035 mgr/cephadm: mgr orchestrator module raise exception if there is trailing tab in yaml file
  src/pybind/mgr/orchestrator/module.py
Labels: pybind, orchestrator, wip-adk-testing

#61099 mgr/cephadm: fixing logic in cert-store save_cert method
  src/pybind/mgr/cephadm/inventory.py
  src/pybind/mgr/cephadm/tests/test_cephadm.py
Labels: pybind, cephadm, wip-adk-testing

#61208 mgr/cephadm: Restore client file(s) default SELinux context type
  src/pybind/mgr/cephadm/ssh.py
Labels: pybind, cephadm, wip-adk-testing

#61311 doc/releases: remove Quincy from "Active"
  doc/releases/index.rst
  qa/crontab/teuthology-cronjobs
Labels: documentation, tests

#61284 rados/monthrash: add PG_DEGRADED to ignorelist
  qa/suites/rados/monthrash/workloads/rados_mon_osdmap_prune.yaml
Labels: core, tests

#61312 {mgr, rbd, tests/os}: Fixes for Boost 1.86
  src/librbd/migration/HttpClient.cc
  src/librbd/migration/HttpClient.h
  src/mgr/PyModule.cc
  src/test/librbd/migration/test_mock_HttpClient.cc
Labels: core, rbd, tests, mgr, wip-dis-testing

#61069 squid: mon/LogMonitor: Use generic cluster log level config
  PendingReleaseNotes
  qa/standalone/ceph-helpers.sh
  qa/standalone/mon/mon-cluster-log.sh
  src/common/options/mon.yaml.in
  src/mon/LogMonitor.cc
  src/mon/LogMonitor.h
Labels: documentation, core, needs-qa, tests, common, mon, wip-bharath6-testing

#60215 OSD: Small optimizations
  src/osd/ExtentCache.h
  src/osd/Session.h
  src/osd/osd_types.h
  src/osdc/Objecter.cc
Labels: core, needs-qa, performance, needs-review, wip-bharath9-testing

#61261 crimson/os/seastore: refactor LBAMapping
  src/crimson/os/seastore/CMakeLists.txt
  src/crimson/os/seastore/async_cleaner.h
  src/crimson/os/seastore/backref/btree_backref_manager.h
  src/crimson/os/seastore/backref_manager.h
  src/crimson/os/seastore/backref_mapping.h
  src/crimson/os/seastore/btree/btree_range_pin.cc
  src/crimson/os/seastore/btree/btree_range_pin.h
  src/crimson/os/seastore/cached_extent.cc
  src/crimson/os/seastore/cached_extent.h
  src/crimson/os/seastore/lba_manager.h
  src/crimson/os/seastore/lba_manager/btree/btree_lba_manager.cc
  src/crimson/os/seastore/lba_manager/btree/btree_lba_manager.h
  src/crimson/os/seastore/lba_mapping.cc
  src/crimson/os/seastore/lba_mapping.h
Labels: cleanup, build/ops, crimson, seastore, ready-to-merge

#61314 os/bluestore: Fix BlueFS::truncate()
  src/os/bluestore/BlueFS.cc
  src/os/bluestore/bluefs_types.cc
  src/os/bluestore/bluefs_types.h
  src/test/objectstore/test_bluefs.cc
Labels: core, tests, bluestore

#61352 doc/releases: add actual_eol for quincy
  doc/releases/releases.yml
Labels: documentation

#60073 rgw: fix user rate limit is not enforced w/ global rate limit set
  src/rgw/rgw_auth.cc
  src/rgw/rgw_auth.h
  src/rgw/rgw_auth_filters.h
  src/rgw/rgw_auth_s3.h
  src/rgw/rgw_rest_s3.cc
  src/rgw/rgw_swift_auth.cc
  src/rgw/rgw_swift_auth.h
Labels: bug-fix, rgw, needs-qa, performance, wip-mkogan-testing

#59739 [ceph-volume] fix importlib.metadata compat
  src/ceph-volume/ceph_volume/main.py
Labels: ceph-volume, wip-adk-testing

#61072 Doc and test fixes
  src/pybind/mgr/dashboard/HACKING.rst
  src/test/pybind/test_ceph_argparse.py
  src/tools/cephfs/top/cephfs-top
Labels: documentation, cephfs, tests, pybind, dashboard

#61289 common: fix md_config_cacher_t
  qa/standalone/scrub/osd-recovery-scrub.sh
  qa/standalone/scrub/osd-scrub-test.sh
  qa/standalone/scrub/scrub-helpers.sh
  src/common/config_cacher.h
Labels: bug-fix, core, needs-qa, tests, common, needs-quincy-backport, needs-reef-backport, needs-squid-backport

#61373 AsyncMessenger.cc : improve error messages
  src/msg/async/AsyncMessenger.cc
Labels: core

#61211 rgw/logging: add more validations to conf, cross tenant support and cleanup
  doc/radosgw/bucket_logging.rst
  src/rgw/driver/rados/rgw_sal_rados.cc
  src/rgw/driver/rados/rgw_sal_rados.h
  src/rgw/radosgw-admin/radosgw-admin.cc
  src/rgw/rgw_bucket_logging.cc
  src/rgw/rgw_bucket_logging.h
  src/rgw/rgw_common.h
  src/rgw/rgw_rest_bucket_logging.cc
  src/rgw/rgw_s3_filter.h
  src/rgw/rgw_sal.h
  src/rgw/rgw_sal_filter.h
  src/rgw/rgw_sal_store.h
  src/test/cli/radosgw-admin/help.t
Labels: documentation, rgw, tests, needs-review

#60847 examples/rgw: register boto extension for HeadBucket stats
  examples/rgw/boto3/head_bucket_stats.py
  examples/rgw/boto3/service-2.sdk-extras.json
Labels: rgw

#61218 container/Containerfile: replace CEPH_VERSION label for backward compat
  container/Containerfile
Labels: build/ops

#60780 reef: qa/standalone/mon/mon_cluster_log.sh: retry check for log line
  qa/standalone/mon/mon-cluster-log.sh
Labels: core, needs-qa, tests, TESTED, ready-to-merge, wip-bharath4-testing

#61349 mon: do not show nvmeof in 'ceph versions' output
  src/mon/Monitor.cc
Labels: core, mon

#60543 squid: os/bluestore/ceph-bluestore-tool: Modify show-label for many devs
  src/os/bluestore/bluestore_tool.cc
Labels: core, bluestore, aclamk-testing-ganymede

#48539 qa/tasks: Include stderr on tasks badness check.
  qa/tasks/ceph.py
  qa/tasks/cephadm.py
  qa/tasks/rook.py
Labels: tests, cephadm, rook, wip-adk5-testing

#60265 msg/async: round timeouts up (fix busy loops)
  src/msg/async/EventEpoll.cc
  src/msg/async/EventPoll.cc
  src/msg/async/Timeout.h
Labels: core, needs-qa, performance, wip-yuri3-testing

#61412 mgr/cephadm/nvmeof: Add SPDK iobuf options field to NVMeOF configuration
  src/pybind/mgr/cephadm/services/nvmeof.py
  src/pybind/mgr/cephadm/templates/services/nvmeof/ceph-nvmeof.conf.j2
  src/python-common/ceph/deployment/service_spec.py
Labels: pybind, cephadm, nvmeof

#59389 squid: common: Leverage a better CRC32C implementation
  src/common/CMakeLists.txt
  src/common/crc32c.cc
  src/common/crc32c_intel_fast.c
  src/common/crc32c_intel_fast.h
Labels: core, needs-qa, common, build/ops, TESTED, ready-to-merge

#61369 doc/radosgw/config-ref: fix lifecycle workload tuning description
  doc/radosgw/config-ref.rst
Labels: documentation

#60981 reef: osd: adding 'reef' to pending_require_osd_release
  src/osd/OSDMap.cc
Labels: core, needs-qa, TESTED, ready-to-merge, wip-bharath4-testing

#60363 os/bluestore: Create additional bdev labels when expanding block device.
  qa/standalone/osd/osd-bluefs-volume-ops.sh
  src/os/bluestore/BlueStore.cc
Labels: core, needs-qa, tests, bluestore, aclamk-testing-nauvoo, wip-bharath3-testing

#60556 os/bluestore: Make truncate() drop unused allocations - addendum
  src/os/bluestore/BlueFS.cc
  src/test/objectstore/test_bluefs.cc
Labels: core, tests, bluestore, aclamk-testing-nauvoo

#59266 reef: CephContext: acquire _fork_watchers_lock in notify_post_fork()
  src/common/ceph_context.cc
Labels: needs-qa, common, TESTED, ready-to-merge

#61182 reef: mgr/dashboard: Administration > Configuration > Some of the config options are not updatable at runtime
  qa/tasks/mgr/dashboard/test_rbd.py
  src/pybind/mgr/dashboard/controllers/__init__.py
  src/pybind/mgr/dashboard/controllers/_docs.py
  src/pybind/mgr/dashboard/controllers/cluster_configuration.py
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/configuration/configuration-form/configuration-form-create-request.model.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/configuration/configuration-form/configuration-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/configuration/configuration-form/configuration-form.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/configuration/configuration.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/config-option/config-option.model.ts
  src/pybind/mgr/dashboard/openapi.yaml
Labels: tests, pybind, dashboard, api-change

#61094 reef: librbd/migration/HttpClient: avoid reusing ssl_stream after shut down
  qa/suites/rbd/migration/6-prepare/qcow2-https.yaml
  src/librbd/migration/HttpClient.cc
Labels: rbd, needs-qa, tests, TESTED, ready-to-merge

#61167 reef: librbd: avoid data corruption on flatten when object map is inconsistent
  src/librbd/ObjectMap.cc
  src/librbd/ObjectMap.h
  src/librbd/operation/FlattenRequest.cc
  src/test/librbd/test_internal.cc
Labels: rbd, needs-qa, tests, TESTED, ready-to-merge

#61171 reef: rbd: handle --{group,image}-namespace in "rbd group image {add,rm}"
  qa/workunits/rbd/cli_generic.sh
  src/test/cli/rbd/help.t
  src/tools/rbd/Utils.cc
  src/tools/rbd/Utils.h
  src/tools/rbd/action/Group.cc
Labels: rbd, needs-qa, tests, TESTED, ready-to-merge

#61259 reef: test/librbd/fsx: switch to netlink interface for rbd-nbd
  src/test/librbd/fsx.cc
Labels: rbd, tests, TESTED, ready-to-merge

#59285 reef: osd: Add memstore to unsupported objstores for QoS
  src/osd/OSD.cc
  src/osd/OSD.h
Labels: core, needs-qa, TESTED, ready-to-merge

#59155 qa/suites: Make fixed-4 an option for verify tests
  qa/suites/rados/verify/clusters/fixed-4.yaml
Labels: core, tests, TESTED

#61411 doc/cephfs: edit disaster-recovery-experts
  doc/cephfs/disaster-recovery-experts.rst
Labels: documentation, cephfs

#60240 squid: os/bluestore: Make truncate() drop unused allocations
  src/os/bluestore/BlueFS.cc
  src/os/bluestore/BlueRocksEnv.cc
  src/os/bluestore/BlueStore.cc
  src/os/bluestore/BlueStore.h
  src/os/bluestore/bluefs_types.cc
  src/os/bluestore/bluefs_types.h
  src/test/objectstore/store_test.cc
  src/test/objectstore/test_bluefs.cc
Labels: core, tests, bluestore, aclamk-testing-ganymede

#61244 rgw: fix radosgw-admin use after free in bucket sync status
  src/rgw/radosgw-admin/radosgw-admin.cc
Labels: rgw, needs-qa, wip-eric-testing-1

#61285 rgw: /admin/user api dumps account-related user info
  src/rgw/driver/rados/rgw_user.cc
Labels: rgw, needs-qa, wip-eric-testing-1

#61370 rgw: RGWRados::get_olh() needs to use the correct attr
  src/rgw/driver/rados/rgw_rados.cc
Labels: bug-fix, rgw, TESTED

#61384 rgw: S3 Delete Bucket Policy should return 204 on success
  src/rgw/rgw_op.cc
Labels: rgw, needs-qa, wip-eric-testing-1

#58920 reef: test: Create ParallelPGMapper object before start threadpool
  src/test/osd/TestOSDMap.cc
Labels: core, needs-qa, tests, TESTED, ready-to-merge

#61157 rgw: add missing last_modified field to swift api
  src/rgw/rgw_common.h
  src/rgw/rgw_rest_swift.cc
  src/rgw/services/svc_bucket_sobj.cc
Labels: rgw, needs-qa, wip-eric-testing-2
