Repository ceph/ceph, pull requests merged in 2025-03, with the labels that each got.

#61993 test/test_not_before_queue: fix Signed-vs-Unsigned warnings
  src/test/test_not_before_queue.cc
Labels: bug-fix, core, tests, skip-teuthology

#61541 mgr/vol: add a helpful comment in async_job.py
  src/pybind/mgr/volumes/fs/async_job.py
Labels: cephfs, pybind, needs-review, ready-to-merge

#61403 reef: common: fix md_config_cacher_t
  src/common/config_cacher.h
Labels: bug-fix, needs-qa, wip-yuri4-testing, backport

#62010 osd/scrub: tolerate non-monotonic scrub queue cutoff updates
  src/common/not_before_queue.h
  src/osd/scrubber/osd_scrub_sched.cc
  src/test/test_not_before_queue.cc
Labels: bug-fix, core, needs-qa, tests, common

#61441 rgw: allow per-bucket minimum number of shards
  doc/radosgw/dynamicresharding.rst
  src/rgw/driver/rados/rgw_bucket.cc
  src/rgw/driver/rados/rgw_rados.cc
  src/rgw/driver/rados/rgw_rados.h
  src/rgw/driver/rados/rgw_reshard.cc
  src/rgw/driver/rados/rgw_reshard.h
  src/rgw/radosgw-admin/radosgw-admin.cc
  src/rgw/rgw_bucket_layout.cc
  src/rgw/rgw_bucket_layout.h
  src/rgw/rgw_common.h
  src/rgw/rgw_sal.h
  src/test/cli/radosgw-admin/help.t
  src/test/rgw/test_rgw_reshard.cc
Labels: feature, documentation, rgw, tests, needs-doc, TESTED

#61643 mgr/dashboard: nvmeof trash rbd image on namespace rm
  src/pybind/mgr/dashboard/controllers/nvmeof.py
  src/pybind/mgr/dashboard/model/nvmeof.py
  src/pybind/mgr/dashboard/openapi.yaml
Labels: pybind, dashboard, api-change

#62076 doc/rados/operations: Clarify stretch mode vs device class
  doc/rados/operations/stretch-mode.rst
Labels: documentation, core

#62077 squid: doc/rados/operations: Clarify stretch mode vs device class
  doc/rados/operations/stretch-mode.rst
Labels: documentation, core

#61866 crimson/os/seastore/omap_manager: do binary search on omap nodes
  src/crimson/os/seastore/omap_manager/btree/omap_btree_node_impl.cc
  src/crimson/os/seastore/omap_manager/btree/string_kv_node_layout.h
Labels: crimson, TESTED, seastore, ready-to-merge, crimson-perf

#61874 mgr/dashboard: RGW - Edit Storage Class
  src/pybind/mgr/dashboard/controllers/rgw.py
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/models/rgw-storage-class.model.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-storage-class-form/rgw-storage-class-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-storage-class-form/rgw-storage-class-form.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-storage-class-form/rgw-storage-class-form.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-storage-class-list/rgw-storage-class-list.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-storage-class-list/rgw-storage-class-list.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/rgw-storage-class.service.ts
  src/pybind/mgr/dashboard/openapi.yaml
  src/pybind/mgr/dashboard/services/rgw_client.py
Labels: pybind, dashboard, api-change, ui-tested

#61973 reef: mgr/dashboard: disable deleting bucket with objects
  src/pybind/mgr/dashboard/controllers/rgw.py
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-bucket-list/rgw-bucket-list.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/rgw-bucket.service.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/rgw-bucket.service.ts
  src/pybind/mgr/dashboard/openapi.yaml
Labels: pybind, dashboard, api-change

#61972 squid: mgr/dashboard: disable deleting bucket with objects
  src/pybind/mgr/dashboard/controllers/rgw.py
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-bucket-list/rgw-bucket-list.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/rgw-bucket.service.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/rgw-bucket.service.ts
  src/pybind/mgr/dashboard/openapi.yaml
Labels: pybind, dashboard, api-change

#61494 crimson: Provide an options to configure several seastar parameters
  src/common/options/crimson.yaml.in
  src/crimson/osd/main_config_bootstrap_helpers.cc
Labels: common, crimson, needs-crimson-qa

#61983 mgr/cephadm: don't block matching group for identical nvmeof services
  src/pybind/mgr/cephadm/module.py
Labels: pybind, cephadm

#61650 rgw/rados: enable object deletion at rados pool quota
  qa/suites/rgw/verify/tasks/rados-pool-quota.yaml
  qa/workunits/rgw/run-rados-pool-quota.sh
  qa/workunits/rgw/test_rgw_rados_pool_quota.py
  src/rgw/driver/rados/rgw_gc.cc
  src/rgw/driver/rados/rgw_rados.cc
Labels: rgw, tests, TESTED, ready-to-merge

#61595 reef: rgw/test/kafka: let consumer read events from the beginning
  src/test/rgw/bucket_notification/test_bn.py
Labels: rgw, needs-qa, tests, TESTED, ready-to-merge

#62043 reef: rbd-mirror: fix possible recursive lock of ImageReplayer::m_lock
  src/tools/rbd_mirror/ImageReplayer.cc
Labels: rbd, needs-qa, wip-yuri6-testing

#60990 rgw/rgw_zone : fixing inline-data default value
  src/rgw/rgw_zone.cc
Labels: rgw, needs-qa, wip-eric-testing-1

#61421 rgw: handle destination bucket as an ARN in ReplicationConfiguration
  src/rgw/rgw_rest_s3.cc
Labels: rgw, needs-qa, wip-eric-testing-1

#61433 rgw/multisite: fix forwarded requests for tenanted buckets
  src/rgw/rgw_auth_filters.h
  src/test/rgw/rgw_multi/tests.py
Labels: rgw, needs-qa, tests, wip-eric-testing-1

#62045 reef: librbd: fix a crash in get_rollback_snap_id
  qa/workunits/rbd/rbd_mirror_helpers.sh
  qa/workunits/rbd/rbd_mirror_journal.sh
  qa/workunits/rbd/rbd_mirror_snapshot.sh
  src/librbd/mirror/snapshot/Utils.cc
Labels: rbd, needs-qa, tests, wip-yuri6-testing

#62046 reef: rgw/sts: fix to disallow unsupported JWT algorithms
  src/rgw/rgw_rest_sts.cc
Labels: rgw, needs-qa, wip-yuri6-testing

#59497 squid: os/bluestore: allow use BtreeAllocator
  src/common/options/global.yaml.in
Labels: needs-qa, common, wip-yuri13-testing

#59327 squid: qa: barbican: restrict python packages with upper-constraints
  qa/tasks/barbican.py
Labels: needs-qa, tests, wip-yuri13-testing

#56408 reef: mon: do not log MON_DOWN if monitor uptime is less than threshold
  qa/cephfs/conf/mon.yaml
  qa/tasks/mgr/dashboard/test_health.py
  src/common/options/mon.yaml.in
  src/mon/HealthMonitor.cc
  src/mon/Monitor.cc
  src/mon/Monitor.h
Labels: core, needs-qa, tests, common, mon, dashboard, wip-bharath10-testing

#58732 squid: tools/objectstore: check for wrong coll open_collection #58353
  src/tools/ceph_objectstore_tool.cc
Labels: core, needs-qa, wip-yuri11-testing, wip-bharath2-testing, wip-bharath11-testing

#61111 squid: os/bluestore: Fix BlueRocksEnv attempts to use POSIX
  src/os/bluestore/BlueRocksEnv.h
Labels: core, needs-qa, bluestore, wip-yuri11-testing, wip-bharath11-testing

#61671 squid: os/bluestore: Create additional bdev labels when expanding block device.
  qa/standalone/osd/osd-bluefs-volume-ops.sh
  src/os/bluestore/BlueStore.cc
Labels: core, needs-qa, tests, bluestore, wip-yuri11-testing, wip-bharath11-testing

#61574 squid: doc/cephadm: simplify confusing math proposition
  doc/cephadm/services/osd.rst
Labels: documentation, cephadm

#61575 reef: doc/cephadm: simplify confusing math proposition
  doc/cephadm/services/osd.rst
Labels: documentation, cephadm

#61076 qa: fix test_cephfs_mirror_stats failure
  qa/tasks/cephfs/test_mirroring.py
Labels: bug-fix, cephfs, needs-qa, tests, wip-vshankar-testing3

#61073 qa/suites/fs/upgrade/mds_upgrade_sequence/tasks: set require-osd-release
  qa/suites/fs/upgrade/mds_upgrade_sequence/tasks/6-verify.yaml
Labels: cephfs, needs-qa, tests

#60938 cephfs_mirror: do not log the previous error
  src/tools/cephfs_mirror/PeerReplayer.cc
Labels: cleanup, cephfs, needs-qa, wip-vshankar-testing3

#60726 cephfs-journal-tool: fix segfault during 'journal import' from invalid dump file
  qa/tasks/cephfs/test_journal_repair.py
  src/tools/cephfs/Dumper.cc
Labels: bug-fix, cephfs, needs-qa, tests, wip-vshankar-testing3

#61596 qa/rgw: fix user cleanup in s3tests task
  qa/tasks/s3tests.py
  src/rgw/radosgw-admin/radosgw-admin.cc
  src/rgw/rgw_account.cc
  src/rgw/rgw_account.h
Labels: rgw, tests, TESTED, ready-to-merge

#61502 os/bluestore : Refactoring Allocator Class
  src/crimson/os/alienstore/CMakeLists.txt
  src/os/CMakeLists.txt
  src/os/bluestore/Allocator.cc
  src/os/bluestore/Allocator.h
  src/os/bluestore/AllocatorBase.cc
  src/os/bluestore/AllocatorBase.h
  src/os/bluestore/AvlAllocator.cc
  src/os/bluestore/AvlAllocator.h
  src/os/bluestore/BitmapAllocator.cc
  src/os/bluestore/BitmapAllocator.h
  src/os/bluestore/Btree2Allocator.cc
  src/os/bluestore/Btree2Allocator.h
  src/os/bluestore/BtreeAllocator.cc
  src/os/bluestore/BtreeAllocator.h
  src/os/bluestore/StupidAllocator.cc
  src/os/bluestore/StupidAllocator.h
  src/test/objectstore/Allocator_bench.cc
  src/test/objectstore/allocator_replay_test.cc
Labels: core, needs-qa, tests, build/ops, bluestore, crimson, aclamk-testing-ganymede, wip-bharath4-testing

#61843 os/bluestore: fix bdev expansion and more
  doc/man/8/ceph-bluestore-tool.rst
  src/os/bluestore/BlueFS.cc
  src/os/bluestore/BlueStore.cc
  src/os/bluestore/BlueStore.h
  src/os/bluestore/bluestore_tool.cc
  src/test/objectstore/store_test.cc
Labels: bug-fix, documentation, core, tests, bluestore, aclamk-testing-ganymede

#61882 os/bluestore: fix fault_range for _do_write_v2
  src/os/bluestore/BlueStore.cc
Labels: core, bluestore, aclamk-testing-ganymede

#61908 os/bluestore : Assigning a named variable to ceph::time_guard to prevent immediate destruction
  src/os/bluestore/BlueStore.cc
Labels: core, needs-qa, bluestore, needs-squid-backport, aclamk-testing-ganymede, wip-bharath13-testing

#61364 os/bluestore: do cache locally compressor engines ever used.
  src/os/bluestore/BlueStore.cc
  src/os/bluestore/BlueStore.h
  src/test/objectstore/store_test.cc
Labels: core, tests, performance, bluestore, aclamk-testing-ganymede

#62072 librbd: fix a deadlock on image_lock caused by Mirror::image_disable()
  src/librbd/api/Mirror.cc
Labels: bug-fix, rbd, wip-dis-testing

#60844 librbd: add rbd_diff_iterate3() API to take source snapshot by ID
  src/include/rbd/librbd.h
  src/include/rbd/librbd.hpp
  src/librbd/api/DiffIterate.cc
  src/librbd/api/DiffIterate.h
  src/librbd/api/Trash.cc
  src/librbd/librbd.cc
  src/pybind/rbd/c_rbd.pxd
  src/pybind/rbd/mock_rbd.pxi
  src/pybind/rbd/rbd.pyx
  src/test/librbd/test_internal.cc
  src/test/pybind/test_rbd.py
Labels: feature, rbd, tests, pybind, wip-dis-testing

#61158 cephadm: fence old ranks for SMB service
  qa/suites/orch/cephadm/smb/tasks/deploy_smb_ctdb_node_gone_state.yaml
  src/pybind/mgr/cephadm/services/smb.py
Labels: tests, pybind, cephadm, wip-athakkar-testing

#62104 reef: qa/rgw: avoid 'user rm' of keystone users
  qa/tasks/s3tests.py
Labels: rgw, needs-qa, tests, TESTED

#61907 rgw: /admin/account APIs accept negative values
  src/rgw/rgw_rest_account.cc
Labels: rgw, needs-qa, wip-eric-testing-1

#62018 radosgw-admin: lower default thread pool size
  src/rgw/radosgw-admin/radosgw-admin.cc
Labels: rgw, needs-qa, wip-eric-testing-1

#61944 rgw/log: Fix crash during shutdown with ops-log enable.
  src/rgw/rgw_appmain.cc
  src/rgw/rgw_lib.cc
  src/rgw/rgw_main.h
  src/rgw/rgw_process.cc
  src/rgw/rgw_process_env.h
Labels: bug-fix, rgw, needs-qa, wip-eric-testing-1

#61942 rgw: add parameter for clients to time out incase they hit wrong url
  src/rgw/driver/rados/rgw_pubsub_push.cc
  src/rgw/rgw_http_client.cc
  src/rgw/rgw_http_client.h
Labels: rgw, needs-qa, wip-eric-testing-1

#61533 rgw: remove unused log op info from prepare_op
  src/cls/rgw/cls_rgw_client.cc
  src/cls/rgw/cls_rgw_client.h
  src/cls/rgw/cls_rgw_ops.cc
  src/cls/rgw/cls_rgw_ops.h
  src/rgw/driver/rados/rgw_rados.cc
  src/rgw/driver/rados/rgw_rados.h
  src/test/cls_rgw/test_cls_rgw.cc
  src/test/cls_rgw/test_cls_rgw_stats.cc
Labels: cleanup, rgw, needs-qa, tests, wip-eric-testing-1

#61969 squid: mgr/dashboard: (refactor)fix image size in nvmeof namespace create/update api
  src/pybind/mgr/dashboard/controllers/nvmeof.py
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/nvmeof-namespaces-form/nvmeof-namespaces-form.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/nvmeof-namespaces-form/nvmeof-namespaces-form.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/nvmeof.service.ts
  src/pybind/mgr/dashboard/openapi.yaml
Labels: pybind, dashboard, api-change, backport: conflicts

#61744 qa/tests: retry the api call after making the request
  qa/tasks/mgr/dashboard/helper.py
  qa/tasks/mgr/dashboard/test_mgr_module.py
Labels: tests, dashboard

#62009 blk/kernel : skip AIO thread for zero-sized devices
  src/blk/kernel/KernelDevice.cc
Labels: core, aclamk-testing-nauvoo

#62075 bluestore, librados, msg: replace obsolete get_tracked_conf_keys()
  src/librados/RadosClient.cc
  src/librados/RadosClient.h
  src/msg/compressor_registry.cc
  src/msg/compressor_registry.h
  src/os/bluestore/BlueStore.cc
  src/os/bluestore/BlueStore.h
Labels: core, needs-qa, bluestore, wip-yuri7-testing

#57361 squid: common/StackStringStream: update pointer to newly allocated memory in overflow()
  src/common/StackStringStream.h
Labels: core, cephfs, needs-qa, common, wip-yuri5-testing

#61956 squid: crush: use std::vector instead of variable length arrays
  src/crush/CrushWrapper.h
Labels: core, needs-qa, wip-yuri5-testing

#61771 test: Add new sequences to the IO sequencer.
  src/common/io_exerciser/DataGenerator.cc
  src/common/io_exerciser/DataGenerator.h
  src/common/io_exerciser/EcIoSequence.cc
  src/common/io_exerciser/IoOp.cc
  src/common/io_exerciser/IoOp.h
  src/common/io_exerciser/IoSequence.cc
  src/common/io_exerciser/IoSequence.h
  src/common/io_exerciser/ObjectModel.cc
  src/common/io_exerciser/OpType.h
  src/common/io_exerciser/RadosIo.cc
  src/test/osd/ceph_test_rados_io_sequence.cc
  src/test/osd/ceph_test_rados_io_sequence.h
Labels: core, tests, common

#61910 squid: os/bluestore: Add health warning for bluestore fragmentation
  src/common/options/global.yaml.in
  src/os/CMakeLists.txt
  src/os/bluestore/BlueStore.cc
  src/os/bluestore/BlueStore.h
Labels: core, needs-qa, common, build/ops, wip-yuri2-testing, bluestore

#55431 reef: qa/tasks/cephadm: enable mon_cluster_log_to_file
  qa/tasks/cephadm.conf
Labels: needs-qa, tests, wip-yuri4-testing, cephadm

#61939 build-with-container: fixes and enhancements
  ContainerBuild.md
  Dockerfile.build
  README.md
  src/script/build-with-container.py
  src/script/buildcontainer-setup.sh
Labels: documentation, script

#61335 squid: qa/suites/upgrade/reef-x: sync log-ignorelist with quincy-x
  qa/suites/upgrade/quincy-x/parallel/0-start.yaml
  qa/suites/upgrade/quincy-x/parallel/1-tasks.yaml
  qa/suites/upgrade/quincy-x/stress-split/1-start.yaml
  qa/suites/upgrade/reef-x/parallel/0-start.yaml
  qa/suites/upgrade/reef-x/parallel/1-tasks.yaml
  qa/suites/upgrade/reef-x/parallel/overrides/ignorelist_health.yaml
  qa/suites/upgrade/reef-x/stress-split/1-start.yaml
  qa/suites/upgrade/reef-x/stress-split/overrides/ignorelist_health.yaml
Labels: needs-qa, tests, wip-yuri2-testing

#61864 squid: qa/tasks: improve ignorelist for thrashing OSDs
  qa/tasks/thrashosds-health.yaml
Labels: core, needs-qa, tests, wip-yuri2-testing

#61435 squid: qa/tasks: Include stderr on tasks badness check.
  qa/tasks/ceph.py
  qa/tasks/cephadm.py
  qa/tasks/rook.py
Labels: needs-qa, tests, wip-yuri2-testing, cephadm, rook

#62020 rgw: use object ARN for InitMultipart permissions
  src/rgw/rgw_op.cc
Labels: bug-fix, rgw, TESTED, ready-to-merge

#61531 reef: rgw: Fix LC process stuck issue
  src/rgw/rgw_lc.cc
Labels: rgw, TESTED, ready-to-merge

#62012 monitoring: fix NVMeoFSubsystemNamespaceLimit
  monitoring/ceph-mixin/prometheus_alerts.libsonnet
  monitoring/ceph-mixin/prometheus_alerts.yml
Labels: dashboard, monitoring

#62026 ceph-volume: Refactor LVM object handling
  src/ceph-volume/ceph_volume/api/lvm.py
  src/ceph-volume/ceph_volume/tests/api/test_lvm.py
  src/ceph-volume/ceph_volume/tests/util/test_device.py
Labels: ceph-volume, CI, wip-guits-main

#61647 crimson: Trigger a wake operation via acquire_throttle
  src/crimson/osd/osd_operation.cc
Labels: crimson, wip-matan-testing, needs-crimson-qa

#62028 crimson/mgr/client: fix _send_report empty conn usage
  src/crimson/mgr/client.cc
  src/crimson/mgr/client.h
Labels: crimson, TESTED, ready-to-merge, wip-matan-testing

#62107 pybind/cephfs: use legacy noexcept for cdefs for cython 3.Y.Z
  src/pybind/cephfs/c_cephfs.pxd
  src/pybind/cephfs/cephfs.pyx
Labels: cephfs, pybind, wip-pdonnell-testing

#61659 crimson/CMakeLists: cleanup BOOST_ASIO_DISABLE_CONCEPTS
  src/crimson/CMakeLists.txt
Labels: build/ops, crimson, TESTED, ready-to-merge, wip-matan-testing, needs-crimson-qa

#61348 qa/tasks/thrashosds-health: whitelist PG_BACKFILL_FULL
  qa/tasks/thrashosds-health.yaml
Labels: core, needs-qa, tests, wip-bharath4-testing

#61404 common/io_exerciser: ceph_test_rados_io_sequence plugin/profile support
  src/common/io_exerciser/EcIoSequence.cc
  src/common/io_exerciser/EcIoSequence.h
  src/common/json/OSDStructures.cc
  src/common/json/OSDStructures.h
  src/erasure-code/ErasureCodeInterface.h
  src/erasure-code/clay/ErasureCodeClay.cc
  src/erasure-code/clay/ErasureCodeClay.h
  src/erasure-code/isa/ErasureCodeIsa.h
  src/erasure-code/jerasure/ErasureCodeJerasure.h
  src/erasure-code/lrc/ErasureCodeLrc.cc
  src/erasure-code/lrc/ErasureCodeLrc.h
  src/erasure-code/shec/ErasureCodeShec.h
  src/test/erasure-code/ErasureCodeExample.h
  src/test/erasure-code/TestErasureCode.cc
  src/test/osd/CMakeLists.txt
  src/test/osd/ceph_test_rados_io_sequence.h
  src/test/osd/ceph_test_rados_io_sequence/ProgramOptionReader.h
  src/test/osd/ceph_test_rados_io_sequence/ceph_test_rados_io_sequence.cc
  src/test/osd/ceph_test_rados_io_sequence/ceph_test_rados_io_sequence.h
Labels: core, needs-qa, tests, common, build/ops, wip-bharath4-testing

#61933 LogMonitor: set no_reply for forward MLog commands
  src/mon/LogMonitor.cc
Labels: core, needs-qa, mon, wip-bharath4-testing

#61651 doc/radosgw: Improve layout.rst
  doc/radosgw/layout.rst
Labels: documentation

#62035 Links to Jenkins jobs in PR comment commands / Remove deprecated commands
  .github/pull_request_template.md
Labels: CI

#62037 Links to Jenkins jobs in PR comment commands / Remove deprecated commands
  .github/pull_request_template.md
Labels: CI

#62127 reef: librbd: fix a deadlock on image_lock caused by Mirror::image_disable()
  src/librbd/api/Mirror.cc
Labels: rbd, wip-yuri5-testing

#62129 reef: librbd: add rbd_diff_iterate3() API to take source snapshot by ID
  src/include/rbd/librbd.h
  src/include/rbd/librbd.hpp
  src/librbd/api/DiffIterate.cc
  src/librbd/api/DiffIterate.h
  src/librbd/api/Trash.cc
  src/librbd/librbd.cc
  src/pybind/rbd/c_rbd.pxd
  src/pybind/rbd/mock_rbd.pxi
  src/pybind/rbd/rbd.pyx
  src/test/librbd/test_internal.cc
  src/test/pybind/test_rbd.py
Labels: rbd, tests, pybind, wip-yuri5-testing

#62150 blk/kerneldevice: count ops not bytes in discard_op perf counter
  src/blk/kernel/KernelDevice.cc
Labels: core

#61624 mon: Add nvmeof group/gateway name in "ceph -s"
  src/mon/Monitor.cc
  src/mon/NVMeofGwMon.h
Labels: core, needs-qa, mon, nvmeof, wip-bharath8-testing

#62173 ceph-volume: allow zapping partitions on multipath devices
  src/ceph-volume/ceph_volume/devices/lvm/zap.py
  src/ceph-volume/ceph_volume/tests/devices/test_zap.py
Labels: ceph-volume, wip-guits-main

#62133 tests: replace obsolete get_tracked_conf_keys()
  src/test/librados_test_stub/TestRadosClient.cc
  src/test/librados_test_stub/TestRadosClient.h
  src/test/msgr/test_async_networkstack.cc
Labels: cleanup, needs-qa, tests

#62074 mon,mgr,auth,client: replace obsolete get_tracked_conf_keys()
  src/auth/AuthRegistry.cc
  src/auth/AuthRegistry.h
  src/client/Client.cc
  src/client/Client.h
  src/mgr/DaemonServer.cc
  src/mgr/DaemonServer.h
  src/mgr/MgrStandby.cc
  src/mgr/MgrStandby.h
  src/mon/LogMonitor.cc
  src/mon/LogMonitor.h
  src/mon/Monitor.cc
  src/mon/Monitor.h
  src/mon/NVMeofGwMon.cc
  src/mon/NVMeofGwMon.h
  src/mon/OSDMonitor.cc
  src/mon/OSDMonitor.h
Labels: cleanup, core, cephfs, mgr, mon, nvmeof, wip-bharath13-testing

#61753 common: Introduce efficient map and set structure useful for EC.
  src/common/bitset_set.h
  src/common/mini_flat_map.h
  src/test/common/CMakeLists.txt
  src/test/common/test_bitset_set.cc
  src/test/common/test_mini_flat_map.cc
Labels: tests, common, build/ops, performance

#62176 doc/releases: Add ordering comment to releases.yml
  doc/releases/releases.yml
Labels: documentation

#62192 squid: doc/releases: Add ordering comment to releases.yml
  doc/releases/releases.yml
Labels: documentation

#62193 reef: doc/releases: Add ordering comment to releases.yml
  doc/releases/releases.yml
Labels: documentation

#62118 mgr/dashboard: update dashboard nvmeof proto files
  src/pybind/mgr/dashboard/services/proto/gateway.proto
  src/pybind/mgr/dashboard/services/proto/gateway_pb2.py
  src/pybind/mgr/dashboard/services/proto/gateway_pb2_grpc.py
Labels: pybind, dashboard

#62146 crimson: Handle peer replies handling once received
  src/crimson/osd/ec_backend.cc
  src/crimson/osd/osd_operations/client_request.h
  src/crimson/osd/pg.cc
  src/crimson/osd/pg.h
  src/crimson/osd/pg_backend.h
  src/crimson/osd/replicated_backend.cc
  src/crimson/osd/replicated_backend.h
Labels: crimson, wip-matan-testing, needs-crimson-qa

#60753 os/bluestore: Fix problem with deferred writes replay
  src/os/bluestore/BlueStore.cc
  src/os/bluestore/BlueStore.h
  src/test/objectstore/test_deferred.cc
Labels: core, tests, bluestore

#61379 reef: client: disallow unprivileged users to escalate root privileges
  src/client/Client.cc
  src/test/libcephfs/suidsgid.cc
Labels: cephfs, tests

#62175 reef: rbd-nbd: use netlink interface by default
  PendingReleaseNotes
  qa/workunits/rbd/rbd-nbd.sh
  src/test/librbd/fsx.cc
  src/tools/rbd_nbd/rbd-nbd.cc
Labels: documentation, rbd, tests, wip-yuri5-testing

#62013 crimson: revert coroutine workarounds
  src/crimson/osd/ops_executer.cc
  src/crimson/osd/osd_operations/client_request.cc
  src/crimson/osd/osd_operations/replicated_request.cc
  src/test/crimson/test_interruptible_future.cc
Labels: tests, crimson, wip-matan-testing, needs-crimson-qa

#62189 qa/workunits/rbd: wait for resize to be applied in rbd-nbd
  qa/workunits/rbd/luks-encryption.sh
  qa/workunits/rbd/rbd-nbd.sh
Labels: rbd, tests

#61887 mgr/cephadm: Open port 4721 while deployling cephadm agent
  src/pybind/mgr/cephadm/services/cephadmservice.py
  src/pybind/mgr/cephadm/tests/test_services.py
Labels: pybind, cephadm, wip-adk-testing

#61783 mgr/cephadm: block deploying nvmeof daemons of different groups on same host
  src/pybind/mgr/cephadm/schedule.py
  src/pybind/mgr/cephadm/serve.py
  src/pybind/mgr/cephadm/services/cephadmservice.py
  src/pybind/mgr/cephadm/services/nvmeof.py
  src/pybind/mgr/cephadm/tests/test_cephadm.py
  src/pybind/mgr/cephadm/tests/test_scheduling.py
Labels: pybind, cephadm, wip-adk-testing, nvmeof

#61963 crimson/os/seastore: add QA test for seastore with RBM under rados_simple
  qa/config/crimson_seastore_rbm.yaml
  qa/config/crimson_seastore_segmented.yaml
  qa/suites/crimson-rados-experimental/thrash/objectstore/seastore-segmented.yaml
  qa/suites/crimson-rados-experimental/thrash/objectstore/seastore.yaml
  qa/suites/crimson-rados/basic/objectstore/seastore-segmented.yaml
  qa/suites/crimson-rados/basic/objectstore/seastore.yaml
  qa/suites/crimson-rados/perf/objectstore/seastore-segmented.yaml
  qa/suites/crimson-rados/perf/objectstore/seastore.yaml
  qa/suites/crimson-rados/rbd/objectstore/seastore-segmented.yaml
  qa/suites/crimson-rados/rbd/objectstore/seastore.yaml
  qa/suites/crimson-rados/singleton/objectstore/seastore-segmented.yaml
  qa/suites/crimson-rados/singleton/objectstore/seastore.yaml
  qa/suites/crimson-rados/thrash/objectstore/seastore-segmented.yaml.disabled
  qa/suites/crimson-rados/thrash/objectstore/seastore.yaml.disabled
  qa/suites/crimson-rados/thrash_simple/objectstore/seastore.yaml
  qa/suites/crimson-rados/thrash_simple/objectstore/seastore/seastore-rbm.yaml
  qa/suites/crimson-rados/thrash_simple/objectstore/seastore/seastore-segmented.yaml
  src/crimson/os/seastore/device.cc
  src/crimson/os/seastore/device.h
  src/crimson/os/seastore/random_block_manager/nvme_block_device.h
  src/crimson/os/seastore/random_block_manager/rbm_device.cc
  src/crimson/os/seastore/segment_manager/block.cc
Labels: tests, crimson, TESTED, seastore

#62128 squid: librbd: fix a deadlock on image_lock caused by Mirror::image_disable()
  src/librbd/api/Mirror.cc
Labels: rbd, needs-qa, wip-sangadi-testing

#62044 squid: librbd: fix a crash in get_rollback_snap_id
  qa/workunits/rbd/rbd_mirror.sh
  qa/workunits/rbd/rbd_mirror_helpers.sh
  src/librbd/mirror/snapshot/Utils.cc
Labels: rbd, needs-qa, tests, wip-sangadi-testing

#62042 squid: rbd-mirror: fix possible recursive lock of ImageReplayer::m_lock
  src/tools/rbd_mirror/ImageReplayer.cc
Labels: rbd, needs-qa, wip-sangadi-testing

#62208 squid: mgr/dashboard: Fix variable capitalization in embedded rbd-details panel
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-details/rbd-details.component.ts
Labels: pybind, dashboard

#62126 mds: include deleted file dentry in snapdiff readdir result
  src/mds/Server.cc
  src/test/libcephfs/snapdiff.cc
Labels: cephfs, tests, wip-vshankar-testing1

#61210 mgr/dashboard: Changing SimpleGraphPanel to TimeSeries Panel in cephfs.libsonnet to fix inconsistency in Line Graphs
  monitoring/ceph-mixin/dashboards/cephfs.libsonnet
  monitoring/ceph-mixin/dashboards/timeseries_panel.libsonnet
  monitoring/ceph-mixin/dashboards_out/cephfs-overview.json
Labels: dashboard, monitoring

#61463 mgr/dashboard: Changing SimpleGraphPanel to TimeSeries Panel in host.libsonnet to fix inconsistency in Line Graphs
  monitoring/ceph-mixin/dashboards/host.libsonnet
  monitoring/ceph-mixin/dashboards_out/host-details.json
  monitoring/ceph-mixin/dashboards_out/hosts-overview.json
Labels: dashboard, monitoring

#61474 mgr/dashboard: Changing SimpleGraphPanel to TimeSeries Panel in osd.libsonnet to fix inconsistency in Line Graphs
  monitoring/ceph-mixin/dashboards/osd.libsonnet
  monitoring/ceph-mixin/dashboards_out/osd-device-details.json
  monitoring/ceph-mixin/dashboards_out/osds-overview.json
Labels: dashboard, monitoring

#61476 mgr/dashboard: Changing SimpleGraphPanel to TimeSeries Panel in pool.libsonnet to fix inconsistency in Line Graphs
  monitoring/ceph-mixin/dashboards/pool.libsonnet
  monitoring/ceph-mixin/dashboards_out/pool-detail.json
  monitoring/ceph-mixin/dashboards_out/pool-overview.json
Labels: dashboard, monitoring

#62214 Revert "os/bluestore: Fix problem with deferred writes replay"
  src/os/bluestore/BlueStore.cc
  src/os/bluestore/BlueStore.h
  src/test/objectstore/test_deferred.cc
Labels: core, tests, bluestore

#60530 os/bluestore: Disable invoking unittest_deferred
  src/test/objectstore/CMakeLists.txt
  src/test/objectstore/run_test_deferred.sh
Labels: tests, build/ops

#62085 mgr/dashboard: Improve sso role mapping
  ceph.spec.in
  debian/control
  src/pybind/mgr/dashboard/requirements.txt
  src/pybind/mgr/dashboard/services/access_control.py
  src/pybind/mgr/dashboard/services/auth/oauth2.py
  src/pybind/mgr/dashboard/services/sso.py
  src/pybind/mgr/tox.ini
Labels: build/ops, pybind, mgr, dashboard, ui-tested, wip-afreen23-testing

#61829 mgr/cephadm: Add virtual_ip as a param for mgmt-gateway apply cmd
  doc/cephadm/services/mgmt-gateway.rst
  src/pybind/mgr/orchestrator/module.py
  src/python-common/ceph/deployment/service_spec.py
Labels: documentation, pybind, orchestrator, cephadm, wip-adk-testing

#61900 os/bluestore: implemented bluestore_blob_t::get_unused_mask
  src/os/bluestore/Writer.cc
  src/os/bluestore/Writer.h
  src/os/bluestore/bluestore_types.h
  src/test/objectstore/test_bluestore_types.cc
Labels: core, tests, bluestore, aclamk-testing-nauvoo

#61810 os/bluestore : Fill onode test instances with sample data
  src/os/bluestore/bluestore_types.cc
Labels: core, bluestore, aclamk-testing-nauvoo

#61892 reef: os/bluestore: fix the problem that _estimate_log_size_N calculates the log size incorrectly
  src/os/bluestore/BlueFS.cc
Labels: core, bluestore

#61828 rgw: prevent data sync from replicating to buckets not owned by the user
  qa/tasks/rgw_multisite_tests.py
  src/rgw/driver/rados/rgw_data_sync.cc
  src/test/rgw/rgw_multi/conn.py
  src/test/rgw/rgw_multi/tests.py
  src/test/rgw/test_multi.py
Labels: rgw, tests, wip-cbodley-testing

#62217 common: Remove unnecessary assert checking unsigned number is 0 or greater in bitset_set.h
  src/common/bitset_set.h
Labels: common

#60784 squid: rgw/notification: add rgw notification specific debug log subsystem
  doc/rados/troubleshooting/log-and-debug.rst
  qa/suites/crimson-rados/perf/settings/optimized.yaml
  qa/suites/perf-basic/settings/optimized.yaml
  qa/suites/rados/perf/settings/optimized.yaml
  qa/suites/rgw/multisite/overrides.yaml
  qa/suites/rgw/notifications/overrides.yaml
  qa/suites/rgw/verify/overrides.yaml
  src/common/subsys.h
  src/rgw/driver/rados/rgw_notify.cc
  src/rgw/rgw_amqp.cc
  src/rgw/rgw_common.cc
  src/rgw/rgw_kafka.cc
  src/test/rgw/test-rgw-common.sh
  src/vstart.sh
Labels: documentation, core, rgw, needs-qa, tests, common, crimson, wip-bharath2-testing

#61475 squid: qa/standalone/mon/mon_cluster_log.sh: retry check for log line
  qa/standalone/mon/mon-cluster-log.sh
Labels: core, needs-qa, tests, wip-bharath2-testing

#62209 reef: mgr/dashboard: Fix variable capitalization in embedded rbd-details panel
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-details/rbd-details.component.ts
Labels: pybind, dashboard

#62226 common: fmt support for bitset_set & mini_flat_map
  src/common/bitset_set.h
  src/common/mini_flat_map.h
  src/test/common/test_bitset_set.cc
  src/test/common/test_mini_flat_map.cc
Labels: needs-qa, tests, common

#61536 crimson/osd/recovery_backend: scan_for_backfill to use obc_manager
  src/crimson/osd/recovery_backend.cc
  src/crimson/osd/recovery_backend.h
  src/crimson/osd/replicated_recovery_backend.cc
  src/test/crimson/test_crimson_coroutine.cc
Labels: tests, crimson, wip-matan-testing, needs-crimson-qa

#62124 reef: tool/ceph-bluestore-tool: fix wrong keyword for 'free-fragmentation' …
  src/os/bluestore/bluestore_tool.cc
Labels: core, bluestore

#62125 squid: tool/ceph-bluestore-tool: fix wrong keyword for 'free-fragmentation' command
  src/os/bluestore/bluestore_tool.cc
Labels: core, bluestore

#57590 reef: common/pick_address: check if address in subnet all public address
  src/common/pick_address.cc
Labels: common, wip-yuri5-testing

#62062 qa/cephfs: avoid unnecessary importing in test_volumes.py
  qa/tasks/cephfs/test_volumes.py
Labels: cleanup, cephfs, needs-qa, tests, wip-pdonnell-testing2

#62188 mds,nvmeof,rbd: replace obsolete get_tracked_conf_keys()
  src/librbd/ConfigWatcher.cc
  src/mds/MDSRank.cc
  src/mds/MDSRank.h
  src/nvmeof/NVMeofGwMonitorClient.cc
  src/nvmeof/NVMeofGwMonitorClient.h
  src/tools/rbd_mirror/Throttler.cc
  src/tools/rbd_mirror/Throttler.h
Labels: rbd, cephfs, needs-qa, wip-pdonnell-testing2, nvmeof, wip-bharath3-testing

#62177 squid: ceph-volume: allow zapping partitions on multipath devices
  src/ceph-volume/ceph_volume/devices/lvm/zap.py
  src/ceph-volume/ceph_volume/tests/devices/test_zap.py
Labels: ceph-volume, wip-guits-squid

#59516 OSD: Split osd_recovery_sleep into settings applied to degraded or clean PGs
  doc/rados/configuration/mclock-config-ref.rst
  doc/rados/configuration/osd-config-ref.rst
  src/common/options/osd.yaml.in
  src/osd/OSD.cc
  src/osd/OSD.h
  src/osd/PG.h
Labels: documentation, core, needs-qa, common, TESTED, ready-to-merge

#62257 squid: mgr/dashboard: pin lxml to fix run-dashboard-tox-make-check failure
  src/pybind/mgr/dashboard/requirements.txt
Labels: pybind, dashboard

#62249 doc/monitoring: Improve index.rst
  doc/monitoring/index.rst
Labels: documentation

#62256 reef: mgr/dashboard: pin lxml to fix run-dashboard-tox-make-check failure
  src/pybind/mgr/dashboard/requirements.txt
Labels: pybind, dashboard

#62245 mgr/dashboard: Disable MFA test
  qa/tasks/mgr/dashboard/test_rgw.py
Labels: tests, dashboard

#62086 squid: mgr: fix subuser creation via dashboard
  qa/tasks/mgr/dashboard/test_rgw.py
  src/pybind/mgr/dashboard/controllers/rgw.py
Labels: core, tests, pybind, dashboard, backport: no-conflicts

#60014 mgr/dashboard: fix cephadm dashboard e2e and a combobox issue
  src/pybind/mgr/dashboard/ci/cephadm/run-cephadm-e2e-tests.sh
  src/pybind/mgr/dashboard/frontend/cypress.config.ts
  src/pybind/mgr/dashboard/frontend/cypress/e2e/block/images.e2e-spec.ts
  src/pybind/mgr/dashboard/frontend/cypress/e2e/block/mirroring.e2e-spec.ts
  src/pybind/mgr/dashboard/frontend/cypress/e2e/cluster/hosts.po.ts
  src/pybind/mgr/dashboard/frontend/cypress/e2e/cluster/logs.e2e-spec.ts
  src/pybind/mgr/dashboard/frontend/cypress/e2e/cluster/osds.po.ts
  src/pybind/mgr/dashboard/frontend/cypress/e2e/common/create-cluster/create-cluster.feature.po.ts
  src/pybind/mgr/dashboard/frontend/cypress/e2e/common/forms-helper.feature.po.ts
  src/pybind/mgr/dashboard/frontend/cypress/e2e/filesystems/filesystems.e2e-spec.feature
  src/pybind/mgr/dashboard/frontend/cypress/e2e/filesystems/snapshots.e2e-spec.feature
  src/pybind/mgr/dashboard/frontend/cypress/e2e/filesystems/subvolume-groups.e2e-spec.feature
  src/pybind/mgr/dashboard/frontend/cypress/e2e/filesystems/subvolumes.e2e-spec.feature
  src/pybind/mgr/dashboard/frontend/cypress/e2e/orchestrator/workflow/02-create-cluster-add-host.feature
  src/pybind/mgr/dashboard/frontend/cypress/e2e/orchestrator/workflow/03-create-cluster-create-services.e2e-spec.ts
  src/pybind/mgr/dashboard/frontend/cypress/e2e/orchestrator/workflow/04-create-cluster-create-osds.e2e-spec.ts
  src/pybind/mgr/dashboard/frontend/cypress/e2e/orchestrator/workflow/05-create-cluster-review.e2e-spec.ts
  src/pybind/mgr/dashboard/frontend/cypress/e2e/orchestrator/workflow/06-cluster-check.e2e-spec.ts
  src/pybind/mgr/dashboard/frontend/cypress/e2e/orchestrator/workflow/09-services.e2e-spec.ts
  src/pybind/mgr/dashboard/frontend/cypress/e2e/orchestrator/workflow/10-nfs-exports.e2e-spec.ts
  src/pybind/mgr/dashboard/frontend/cypress/e2e/page-helper.po.ts
  src/pybind/mgr/dashboard/frontend/cypress/e2e/pools/pools.e2e-spec.ts
  src/pybind/mgr/dashboard/frontend/cypress/e2e/rgw/buckets.e2e-spec.ts
  src/pybind/mgr/dashboard/frontend/cypress/e2e/rgw/buckets.po.ts
  src/pybind/mgr/dashboard/frontend/cypress/e2e/rgw/configuration.e2e-spec.ts
  src/pybind/mgr/dashboard/frontend/cypress/e2e/rgw/configuration.po.ts
  src/pybind/mgr/dashboard/frontend/cypress/e2e/rgw/users.e2e-spec.ts
  src/pybind/mgr/dashboard/frontend/cypress/e2e/rgw/users.po.ts
  src/pybind/mgr/dashboard/frontend/cypress/e2e/ui/notification.e2e-spec.ts
  src/pybind/mgr/dashboard/frontend/cypress/e2e/ui/user-mgmt.e2e-spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/rbd-list/rbd-list.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cephfs/cephfs-form/cephfs-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cephfs/cephfs-tabs/cephfs-tabs.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/hosts/host-form/host-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/hosts/host-form/host-form.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/hosts/hosts.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/osd/osd-list/osd-list.component.html
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/delete-confirmation-modal/delete-confirmation-modal.component.html
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/form-modal/form-modal.component.html
  src/pybind/mgr/dashboard/frontend/src/app/shared/directives/directives.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/directives/dynamic-input-combobox.directive.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/directives/dynamic-input-combobox.directive.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/models/combo-box.model.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/services/combo-box.service.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/services/combo-box.service.ts
  src/pybind/mgr/dashboard/services/_paginate.py
Labels: pybind, dashboard

#59697 reef: qa/mgr/dashboard: fix test race condition
  qa/tasks/mgr/dashboard/helper.py
  qa/tasks/mgr/dashboard/test_mgr_module.py
  qa/tasks/mgr/dashboard/test_osd.py
  qa/tasks/mgr/mgr_test_case.py
  src/pybind/mgr/dashboard/run-backend-api-tests.sh
Labels: tests, pybind, dashboard, stale

#61945 mds: snapshot referent inodes feature
  qa/suites/fs/functional/tasks/referent.yaml
  qa/tasks/cephfs/cephfs_test_case.py
  qa/tasks/cephfs/filesystem.py
  qa/tasks/cephfs/test_backtrace.py
  qa/tasks/cephfs/test_data_scan.py
  qa/tasks/cephfs/test_referent.py
  qa/tasks/cephfs/test_strays.py
  qa/tasks/mgr/dashboard/test_health.py
  src/cls/cephfs/cls_cephfs_client.cc
  src/cls/cephfs/cls_cephfs_client.h
  src/include/ceph_fs.h
  src/include/cephfs/types.h
  src/mds/CDentry.cc
  src/mds/CDentry.h
  src/mds/CDir.cc
  src/mds/CDir.h
  src/mds/CInode.cc
  src/mds/CInode.h
  src/mds/Locker.cc
  src/mds/MDCache.cc
  src/mds/MDSDaemon.h
  src/mds/MDSMap.cc
  src/mds/MDSMap.h
  src/mds/Migrator.cc
  src/mds/Mutation.h
  src/mds/ScrubStack.cc
  src/mds/Server.cc
  src/mds/Server.h
  src/mds/StrayManager.cc
  src/mds/events/EMetaBlob.h
  src/mds/events/EPeerUpdate.h
  src/mds/journal.cc
  src/messages/MMDSCacheRejoin.h
  src/messages/MMDSPeerRequest.h
  src/mon/FSCommands.cc
  src/mon/MonCommands.h
  src/tools/ceph-dencoder/ceph_dencoder.cc
  src/tools/ceph-dencoder/common_types.h
  src/tools/ceph-dencoder/denc_registry.h
  src/tools/ceph-dencoder/mds_types.h
  src/tools/cephfs/DataScan.cc
  src/tools/cephfs/DataScan.h
  src/tools/cephfs/JournalTool.cc
  src/tools/cephfs/JournalTool.h
Labels: core, cephfs, tests, mon, dashboard, wip-vshankar-testing5, wip-hemanth10-testing

#62265 squid: doc/monitoring: Improve index.rst
  doc/monitoring/index.rst
Labels: documentation

#62266 reef: doc/monitoring: Improve index.rst
  doc/monitoring/index.rst
Labels: documentation

#62160 qa/vault: create_secrets() cleanup checks for orphaned keys
  qa/suites/rgw/crypt/2-kms/vault_kv.yaml
  qa/tasks/vault.py
Labels: rgw, needs-qa, tests, wip-cbodley-testing

#59698 squid: qa/mgr/dashboard: fix test race condition
  qa/tasks/mgr/dashboard/helper.py
  qa/tasks/mgr/dashboard/test_mgr_module.py
  qa/tasks/mgr/dashboard/test_osd.py
  qa/tasks/mgr/mgr_test_case.py
  src/pybind/mgr/dashboard/run-backend-api-tests.sh
Labels: tests, pybind, dashboard, stale

#61791 common: add missing includes
  src/common/Finisher.h
  src/common/Formatter.h
  src/common/PriorityCache.cc
  src/common/SloppyCRCMap.h
  src/common/TrackedOp.h
  src/common/ceph_time.h
  src/common/cmdparse.cc
  src/common/cmdparse.h
  src/common/convenience.h
  src/common/fair_mutex.h
  src/common/obj_bencher.cc
  src/common/obj_bencher.h
  src/common/perf_counters.cc
  src/common/perf_counters.h
  src/common/perf_counters_cache.h
  src/include/denc.h
  src/include/types.h
Labels: core, common, needs-review

#59780 Add Asok Command: Dump Messenger Status (Connections, TCP stats, ..)
  PendingReleaseNotes
  doc/rados/operations/monitoring.rst
  qa/workunits/cephtool/test.sh
  src/common/CMakeLists.txt
  src/common/ceph_context.cc
  src/common/ceph_context.h
  src/common/tcp_info.cc
  src/common/tcp_info.h
  src/msg/Messenger.h
  src/msg/async/AsyncConnection.cc
  src/msg/async/AsyncConnection.h
  src/msg/async/AsyncMessenger.cc
  src/msg/async/AsyncMessenger.h
  src/msg/async/Protocol.h
  src/msg/async/ProtocolV1.cc
  src/msg/async/ProtocolV1.h
  src/msg/async/ProtocolV2.cc
  src/msg/async/ProtocolV2.h
  src/msg/async/compression_onwire.cc
  src/msg/async/compression_onwire.h
  src/msg/async/crypto_onwire.cc
  src/msg/async/crypto_onwire.h
  src/test/msgr/test_msgr.cc
Labels: documentation, core, cephfs, needs-qa, tests, common, build/ops, performance, mgr, mon, TESTED, ready-to-merge

#62200 common/include: Add map type selection to interval_map
  src/common/interval_map.h
  src/include/interval_set.h
  src/test/common/test_interval_map.cc
  src/test/common/test_interval_set.cc
Labels: cephfs, needs-qa, tests, common, wip-pdonnell-testing2

#62240 qa/cephfs: require-osd-release should now be tentacle
  qa/suites/fs/upgrade/mds_upgrade_sequence/tasks/6-verify.yaml
Labels: cephfs, needs-qa, tests, wip-pdonnell-testing2

#57675 squid: common,ceph: add output file switch to dump json to
  PendingReleaseNotes
  doc/man/8/ceph.rst
  doc/rados/configuration/common.rst
  qa/workunits/cephtool/test.sh
  src/ceph.in
  src/common/Formatter.h
  src/common/admin_socket.cc
  src/common/config.cc
  src/common/options/global.yaml.in
  src/test/cli/ceph-conf/show-config.t
Labels: documentation, core, needs-qa, tests, common, wip-bharath2-testing

#54396 mgr/volumes: allow disabling async job threads
  PendingReleaseNotes
  doc/cephfs/fs-volumes.rst
  doc/cephfs/troubleshooting.rst
  qa/suites/fs/volumes/tasks/volumes/test/async.yaml
  qa/tasks/cephfs/mount.py
  qa/tasks/cephfs/test_volumes.py
  src/pybind/mgr/volumes/fs/async_job.py
  src/pybind/mgr/volumes/module.py
Labels: documentation, cephfs, needs-qa, tests, pybind, needs-review, wip-vshankar-testing3, wip-vshankar-testing4

#62252 librbd/ConfigWatcher: fix a missing 'override'
  src/librbd/ConfigWatcher.cc
Labels: cleanup, rbd

#62274 build-with-container: two small fixes
  src/script/build-with-container.py
  src/script/buildcontainer-setup.sh
Labels: script

#62232 include/cephfs: dump optmetadata
  src/include/cephfs/types.h
Labels: cleanup, cephfs, needs-review, wip-pdonnell-testing2

#62258 doc/rados/configuration/bluestore-config-ref: Fix lowercase typos
  doc/rados/configuration/bluestore-config-ref.rst
Labels: documentation, core

#62119 doc/radosgw: Improve bucketpolicy.rst #58689 - document SSE-C IAM condition key
  doc/radosgw/bucketpolicy.rst
Labels: documentation
