Repository ceph/ceph, pull requests merged in 2025-06, with the labels that each got.

#63624 tentacle: doc/mgr: Small improvements in rgw.rst
  doc/mgr/rgw.rst
Labels: documentation, mgr

#63625 squid: doc/mgr: Small improvements in rgw.rst
  doc/mgr/rgw.rst
Labels: documentation, mgr

#63626 reef: doc/mgr: Small improvements in rgw.rst
  doc/mgr/rgw.rst
Labels: documentation, mgr

#63633 doc/mgr: edit progress.rst
  doc/mgr/progress.rst
Labels: documentation, mgr

#63618 doc/rados/operations: Improve placement-groups.rst
  doc/rados/operations/placement-groups.rst
Labels: documentation, core

#63644 doc/rados/operations: Additional improvements to placement-groups.rst
  doc/rados/operations/placement-groups.rst
Labels: documentation, core

#63643 Add PRE_BUILD to breakpad command (fix for CMake > 3.30)
  src/CMakeLists.txt
Labels: build/ops

#63632 doc/dev/cephfs-mirroring: edit file 4 of x
  doc/dev/cephfs-mirroring.rst
Labels: documentation

#63630 doc/mgr: edit modules.rst
  doc/mgr/modules.rst
Labels: documentation, mgr

#63640 tentacle: mgr/dashboard: Creating CephFS dashboard for Grafana
  monitoring/ceph-mixin/dashboards.libsonnet
  monitoring/ceph-mixin/dashboards/cephfsdashboard.libsonnet
  monitoring/ceph-mixin/dashboards/timeseries_panel.libsonnet
  monitoring/ceph-mixin/dashboards/utils.libsonnet
  monitoring/ceph-mixin/dashboards_out/cephfsdashboard.json
Labels: dashboard, monitoring

#63666 squid: doc/mgr: edit modules.rst
  doc/mgr/modules.rst
Labels: documentation, mgr

#63662 tentacle: doc/mgr: edit nfs.rst
  doc/mgr/nfs.rst
Labels: documentation, mgr, nfs

#63663 squid: doc/mgr: edit nfs.rst
  doc/mgr/nfs.rst
Labels: documentation, mgr, nfs

#63659 tentacle: doc/dev/cephfs-mirroring: edit file 4 of x
  doc/dev/cephfs-mirroring.rst
Labels: documentation

#63660 squid: doc/dev/cephfs-mirroring: edit file 4 of x
  doc/dev/cephfs-mirroring.rst
Labels: documentation

#63661 reef: doc/dev/cephfs-mirroring: edit file 4 of x
  doc/dev/cephfs-mirroring.rst
Labels: documentation

#63556 node-proxy: address `ceph orch hardware status` cmd
  src/pybind/mgr/cephadm/inventory.py
Labels: pybind, cephadm, wip-adk-testing, wip-guits-main

#63195 doc/mgr: edit cli_api.rst
  doc/mgr/cli_api.rst
Labels: documentation, mgr

#62893 doc/radosgw: edit sentence in metrics.rst
  doc/radosgw/metrics.rst
Labels: documentation

#63681 reef: doc/mgr: edit iostat.rst
  doc/mgr/iostat.rst
Labels: documentation, mgr

#63680 squid: doc/mgr: edit iostat.rst
  doc/mgr/iostat.rst
Labels: documentation, mgr

#63490 reef: src/common/options: Clarify scope of scrub intervals in osd.yaml.in
  doc/cephadm/services/snmp-gateway.rst
  doc/rados/configuration/osd-config-ref.rst
  src/common/options/osd.yaml.in
Labels: documentation, core, common, cephadm

#63699 tentacle: doc/radosgw: edit sentence in metrics.rst
  doc/radosgw/metrics.rst
Labels: documentation

#63650 reef: doc/rados/operations: Additional improvements to placement-groups.rst
  doc/rados/operations/placement-groups.rst
Labels: documentation, core, needs-rebase

#63694 tentacle: doc/rados/operations: edit cache-tiering.rst
  doc/rados/operations/cache-tiering.rst
Labels: documentation, core

#63692 squid: doc/mgr: edit telemetry.rst
  doc/mgr/telemetry.rst
Labels: documentation, mgr, telemetry

#63693 reef: doc/mgr: edit telemetry.rst
  doc/mgr/telemetry.rst
Labels: documentation, mgr, telemetry

#63688 tentacle: doc/mgr: edit cli_api.rst
  doc/mgr/cli_api.rst
Labels: documentation, mgr

#63689 squid: doc/mgr: edit cli_api.rst
  doc/mgr/cli_api.rst
Labels: documentation, mgr

#63690 reef: doc/mgr: edit cli_api.rst
  doc/mgr/cli_api.rst
Labels: documentation, mgr

#63676 Fix Breakpad Builds on Newer Distros
  src/CMakeLists.txt
Labels: build/ops

#63218 crimson/os/seastore/transaction_manager: Cache::retire_absent_extent_addr should be called immediately after TransactionManager::get_extent_if_linked if necessary
  src/crimson/os/seastore/btree/fixed_kv_btree.h
  src/crimson/os/seastore/cache.cc
  src/crimson/os/seastore/cache.h
  src/crimson/os/seastore/cached_extent.h
  src/crimson/os/seastore/lba/btree_lba_manager.cc
  src/crimson/os/seastore/linked_tree_node.h
  src/crimson/os/seastore/omap_manager/btree/omap_btree_node_impl.cc
  src/crimson/os/seastore/transaction.h
  src/crimson/os/seastore/transaction_manager.h
Labels: bug-fix, tests, crimson, TESTED, seastore, crimson backport tentacle

#63447 tentacle: doc/radosgw: Cosmetic improvements in cloud-transition.rst
  doc/radosgw/cloud-transition.rst
Labels: documentation

#63422 tentacle: doc/mgr: edit diskpredictor.rst
  doc/mgr/diskprediction.rst
Labels: documentation, mgr

#63424 reef: doc/mgr: edit diskpredictor.rst
  doc/mgr/diskprediction.rst
Labels: documentation, mgr

#62574 reef: doc/rados/operations: Improve erasure-code.rst
  doc/rados/operations/erasure-code.rst
Labels: documentation, core

#63458 squid: client: disallow unprivileged users to escalate root privileges
  src/client/Client.cc
  src/test/libcephfs/suidsgid.cc
Labels: cephfs, tests, wip-vshankar-squid-testing

#63708 reef: doc/start: edit documenting-ceph.rst
  doc/start/documenting-ceph.rst
Labels: documentation

#62648 ceph-volume: refactor LvmBlueStore.setup_device()
  src/ceph-volume/ceph_volume/objectstore/lvmbluestore.py
  src/ceph-volume/ceph_volume/tests/devices/lvm/test_prepare.py
  src/ceph-volume/ceph_volume/tests/objectstore/test_lvmbluestore.py
Labels: ceph-volume, wip-guits-main

#63136 script: add configuration diff tool
  .github/labeler.yml
  .github/workflows/diff-ceph-config.yml
  .github/workflows/scripts/config-diff-post-comment.js
  src/script/config-diff/README.md
  src/script/config-diff/config_diff.py
  src/script/config-diff/requirements.txt
Labels: documentation, CI, script

#62865 test/libcephfs: copy DT_NEEDED entries from input libraries
  src/test/client/CMakeLists.txt
  src/test/fs/CMakeLists.txt
  src/test/libcephfs/CMakeLists.txt
Labels: core, cephfs, tests, common, build/ops, needs-review

#63702 debian: radosgw: add media-types packages as alternative for mime-support
  debian/control
Labels: build/ops

#63361 github: add rgw label for changes in doc/radosgw
  .github/labeler.yml
Labels: CI

#63596 github: add tentacle milestone
  .github/milestone.yml
  doc/dev/release-checklists.rst
Labels: documentation, CI

#62935 cephadm: don't collect image ids for daemons with no container info
  src/cephadm/cephadmlib/container_lookup.py
Labels: cephadm, wip-adk-testing

#63737 squid: doc/glossary: s/OMAP/omap/
  doc/glossary.rst
Labels: documentation

#63743 squid: doc/mgr: edit cli_api
  doc/mgr/cli_api.rst
Labels: documentation, mgr

#63744 reef: doc/mgr: edit cli_api
  doc/mgr/cli_api.rst
Labels: documentation, mgr

#63713 libcephfs: Bump API major version
  src/include/cephfs/libcephfs.h
Labels: cephfs

#63730 tentacle: github: add tentacle milestone
  .github/milestone.yml
  doc/dev/release-checklists.rst
Labels: documentation, CI

#63621 mon/FSCommands: avoid unreachable code triggering compiler warning
  src/mon/FSCommands.cc
Labels: core, cephfs, needs-qa, mon, wip-pdonnell-testing

#62723 reef: rgw: fix bug with rgw-gap-list
  src/rgw/rgw-gap-list
Labels: rgw, TESTED, ready-to-merge

#63085 doc/src/common/options: mgr.yaml.in edit
  src/common/options/mgr.yaml.in
Labels: common

#63648 tentacle: doc/rados/operations: Additional improvements to placement-groups.rst
  doc/rados/operations/placement-groups.rst
Labels: documentation, core

#63651 tentacle: doc/start: edit documenting-ceph.rst
  doc/start/documenting-ceph.rst
Labels: documentation

#63704 squid: doc/mgr/dashboard_plugins: edit feature_toggles.inc.rst
  doc/mgr/dashboard_plugins/feature_toggles.inc.rst
Labels: documentation, mgr

#63705 reef: doc/mgr/dashboard_plugins: edit feature_toggles.inc.rst
  doc/mgr/dashboard_plugins/feature_toggles.inc.rst
Labels: documentation, mgr

#63735 doc/mgr: edit telemetry (1 of x)
  doc/mgr/telemetry.rst
Labels: documentation, mgr, telemetry

#63739 doc/mgr: edit telemetry (2 of x)
  doc/mgr/telemetry.rst
Labels: documentation, mgr, telemetry

#63741 doc/mgr: edit telemetry (4 of x)
  doc/mgr/telemetry.rst
Labels: documentation, mgr, telemetry

#63620 cls/CMakeLists.txt: find_package Lua for cls_lua
  src/cls/CMakeLists.txt
Labels: build/ops

#63758 osd/scrub: make m_session_started_at at Session state ctor
  src/osd/scrubber/pg_scrubber.cc
  src/osd/scrubber/scrub_machine.cc
  src/osd/scrubber/scrub_machine.h
Labels: bug-fix, core

#63655 cmake: enable out-of-source build of breakpad
  src/CMakeLists.txt
  src/common/CMakeLists.txt
  src/common/ceph_context.cc
  src/common/ceph_context.h
  src/crimson/CMakeLists.txt
  src/crimson/os/alienstore/CMakeLists.txt
  src/global/CMakeLists.txt
  src/global/global_init.cc
  src/rgw/CMakeLists.txt
  src/test/CMakeLists.txt
Labels: cleanup, rgw, tests, common, build/ops, crimson

#63350 src/CMakeLists: Crimson - enable libhwloc
  src/CMakeLists.txt
Labels: build/ops, performance, wip-matan-testing, needs-crimson-qa, crimson backport tentacle

#63781 doc/mgr: edit telemetry.rst
  doc/mgr/telemetry.rst
Labels: documentation, mgr, telemetry

#62714 doc/rados/operations: Improve stretch-mode.rst
  doc/rados/operations/stretch-mode.rst
Labels: documentation, core

#62852 squid: common: CephContext::_refresh_perf_values() checks for null _mempool_perf
  src/common/ceph_context.cc
Labels: needs-qa, common, wip-yuri4-testing

#63750 rgw/logging: log only object ACls in journal mode
  src/rgw/rgw_op.cc
Labels: rgw, needs-qa, wip-cbodley-testing

#63599 rgw/dbstore: free objectmap in DB::Destroy()
  src/rgw/driver/dbstore/common/dbstore.cc
Labels: rgw, needs-qa, wip-cbodley-testing

#62502 squid: src/common: add guidance for deep-scrubbing ratio warning
  src/common/options/global.yaml.in
Labels: common

#62909 squid: doc/radosgw: Improve and more consistent formatting
  doc/radosgw/admin.rst
  doc/radosgw/cloud-sync-module.rst
  doc/radosgw/metrics.rst
  doc/radosgw/multisite-sync-policy.rst
  doc/radosgw/multisite.rst
Labels: documentation

#59989 reef: ceph-volume: do not convert LVs's symlink to real path
  src/ceph-volume/ceph_volume/tests/devices/lvm/test_migrate.py
  src/ceph-volume/ceph_volume/tests/util/test_device.py
  src/ceph-volume/ceph_volume/util/device.py
  src/ceph-volume/ceph_volume/util/disk.py
Labels: ceph-volume, wip-guits-reef

#63819 rgw/rgw_lua_utils: fix memory leak in luaL_error() formatting
  src/rgw/rgw_lua_utils.cc
Labels: rgw

#63836 doc/rados/operations: Address suggestions for stretch-mode.rst
  doc/rados/operations/stretch-mode.rst
Labels: documentation, core

#63846 squid: doc/rbd: add mirroring troubleshooting info
  doc/rados/operations/pools.rst
  doc/rbd/rbd-mirroring.rst
Labels: documentation, core, rbd

#63845 tentacle: doc/rbd: add mirroring troubleshooting info
  doc/rados/operations/pools.rst
  doc/rbd/rbd-mirroring.rst
Labels: documentation, core, rbd

#63842 doc/rados: enhance "pools.rst"
  doc/rados/operations/pools.rst
Labels: documentation, core

#63826 doc/mgr: edit telemetry.rst
  doc/mgr/telemetry.rst
Labels: documentation, mgr, telemetry

#63827 doc/mgr: edit telemetry.rst (lines 300-400)
  doc/mgr/telemetry.rst
Labels: documentation, mgr, telemetry

#63828 doc/rados: edit ops/user-management.rst
  doc/rados/operations/user-management.rst
Labels: documentation, core

#63784 mgr/dashboard: fix alignment of log action buttons
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/logs/logs.component.scss
Labels: pybind, dashboard

#63785 tentacle: mgr/dashboard: fix KeyError exception in HardwareService.get_summary()
  src/pybind/mgr/dashboard/services/hardware.py
Labels: pybind, dashboard, wip-guits-tentacle

#63875 doc/mgr: edit telemetry.rst
  doc/mgr/telemetry.rst
Labels: documentation, mgr, telemetry

#63003 fix duplicated entity addr in the map during reboot of several GWs
  src/common/options/mon.yaml.in
  src/mon/NVMeofGwMap.cc
  src/mon/NVMeofGwMap.h
  src/mon/NVMeofGwMon.cc
  src/nvmeof/NVMeofGwMonitorClient.cc
  src/nvmeof/NVMeofGwMonitorClient.h
Labels: core, needs-qa, common, mon, nvmeof, wip-bharath1-testing

#58236 reef: mon/AuthMonitor: provide command to rotate the key for a user credential
  PendingReleaseNotes
  doc/rados/operations/user-management.rst
  qa/workunits/cephtool/test.sh
  src/mon/AuthMonitor.cc
  src/mon/MonCommands.h
Labels: documentation, core, needs-qa, tests, mon, wip-bharath4-testing

#63877 doc/rados/ops: edit cache-tiering.rst
  doc/rados/operations/cache-tiering.rst
Labels: documentation, core

#63876 doc/radosgw: edit cloud-transition.rst
  doc/radosgw/cloud-transition.rst
Labels: documentation

#63868 reef: doc/mgr: edit telemetry.rst (lines 300-400)
  doc/mgr/telemetry.rst
Labels: documentation, mgr, telemetry

#63867 squid: doc/mgr: edit telemetry.rst (lines 300-400)
  doc/mgr/telemetry.rst
Labels: documentation, mgr, telemetry

#63866 tentacle: doc/mgr: edit telemetry.rst (lines 300-400)
  doc/mgr/telemetry.rst
Labels: documentation, mgr, telemetry

#63864 squid: doc/mgr: edit telemetry.rst
  doc/mgr/telemetry.rst
Labels: documentation, mgr, telemetry

#63863 tentacle: doc/mgr: edit telemetry.rst
  doc/mgr/telemetry.rst
Labels: documentation, mgr, telemetry

#63714 .github/workflow/diff-ceph-config.yml: only detect the configuration changes that were made in the PR
  .github/workflows/diff-ceph-config.yml
  .github/workflows/scripts/config-diff-post-comment.js
  src/script/config-diff/README.md
  src/script/config-diff/config_diff.py
Labels: documentation, CI, script

#63000 reef: doc/radosgw: Improve formatting in layout.rst
  doc/radosgw/layout.rst
Labels: documentation

#63830 squid: doc/rados/ops: edit cache-tiering.rst
  doc/rados/operations/cache-tiering.rst
Labels: documentation, core

#63860 tentacle: doc/rados: enhance "pools.rst"
  doc/rados/operations/pools.rst
Labels: documentation, core

#63861 squid: doc/rados: enhance "pools.rst"
  doc/rados/operations/pools.rst
Labels: documentation, core

#63862 reef: doc/rados: enhance "pools.rst"
  doc/rados/operations/pools.rst
Labels: documentation, core

#63771 squid: doc/mgr: edit telemetry (2 of x)
  doc/mgr/telemetry.rst
Labels: documentation, mgr, telemetry

#63776 tentacle: doc/mgr: edit telemetry (4 of x)
  doc/mgr/telemetry.rst
Labels: documentation, mgr, telemetry

#63778 reef: doc/mgr: edit telemetry (4 of x)
  doc/mgr/telemetry.rst
Labels: documentation, mgr, needs-rebase, telemetry

#63849 squid: doc/rados/operations: Address suggestions for stretch-mode.rst
  doc/rados/operations/stretch-mode.rst
Labels: documentation, core

#63892 tentacle: doc/rados: edit ops/user-management.rst
  doc/rados/operations/user-management.rst
Labels: documentation, core

#63893 reef: doc/rados: edit ops/user-management.rst
  doc/rados/operations/user-management.rst
Labels: documentation, core

#63160 rgw/logging: send flushed object name in API reply
  doc/radosgw/s3/bucketops.rst
  examples/rgw/boto3/service-2.sdk-extras.json
  src/rgw/driver/rados/rgw_sal_rados.cc
  src/rgw/driver/rados/rgw_sal_rados.h
  src/rgw/radosgw-admin/radosgw-admin.cc
  src/rgw/rgw_bucket_logging.cc
  src/rgw/rgw_bucket_logging.h
  src/rgw/rgw_rest_bucket_logging.cc
  src/rgw/rgw_sal.h
  src/rgw/rgw_sal_filter.h
  src/rgw/rgw_sal_store.h
Labels: documentation, rgw, needs-qa, needs-review, wip-yuval-testing

#63005 doc/radosgw: Promptify CLI commands and fix formatting in layout.rst
  doc/radosgw/layout.rst
Labels: documentation

#63904 tentacle: doc/mgr: edit telemetry.rst
  doc/mgr/telemetry.rst
Labels: documentation, mgr, telemetry

#63906 reef: doc/mgr: edit telemetry.rst
  doc/mgr/telemetry.rst
Labels: documentation, mgr, telemetry

#63682 tentacle: doc/rados: edit balancer.rst
  doc/rados/operations/balancer.rst
Labels: documentation, core

#63684 reef: doc/rados: edit balancer.rst
  doc/rados/operations/balancer.rst
Labels: documentation, core

#63652 squid: doc/start: edit documenting-ceph.rst
  doc/start/documenting-ceph.rst
Labels: documentation

#63605 rgw/driver/posix: closedir() to free dir handle
  src/rgw/driver/posix/rgw_sal_posix.cc
Labels: rgw

#63557 qa/crontab/teuthology-cronjobs: Use Crimson flavors
  qa/crontab/teuthology-cronjobs
Labels: tests, crimson, ready-to-merge

#63774 squid: doc/mgr: edit telemetry (3 of x)
  doc/mgr/telemetry.rst
Labels: documentation, mgr, telemetry

#63922 src: typo in radosgw-admin.cc
  src/rgw/radosgw-admin/radosgw-admin.cc
Labels: rgw, ready-to-merge

#63913 script/build-with-container: add workarounds for older python versions
  src/script/build-with-container.py
Labels: script

#63920 doc: Fix sphinx warnings and one error
  doc/cephadm/services/snmp-gateway.rst
  doc/dev/cephfs-mirroring.rst
  doc/mgr/telemetry.rst
Labels: documentation, mgr, cephadm, telemetry

#63918 doc/cephfs: Update deprecation notice in experimental-features.rst
  doc/cephfs/experimental-features.rst
Labels: documentation, cephfs

#63915 squid: doc/radosgw: Promptify CLI commands and fix formatting in layout.rst
  doc/radosgw/layout.rst
Labels: documentation

#63793 qa/rgw: bump maven version in hadoop task to resolve 404 Not Found
  qa/tasks/s3a_hadoop.py
Labels: rgw, tests, TESTED

#62435 squid: rgw/iam: add policy evaluation for Arn-based Conditions
  PendingReleaseNotes
  src/rgw/rgw_arn.cc
  src/rgw/rgw_common.cc
  src/rgw/rgw_common.h
  src/rgw/rgw_iam_policy.cc
  src/test/rgw/test_rgw_iam_policy.cc
Labels: documentation, rgw, needs-qa, tests, TESTED, ready-to-merge

#63675 mgr/dashboard: Fix capitalization in SMB
  src/pybind/mgr/dashboard/frontend/src/app/app-routing.module.ts
Labels: pybind, dashboard

#63833 qa/suites/crimson-rados: Accommodate to new crimson flavors
  container/Containerfile
  container/build.sh
  qa/config/crimson_qa_overrides.yaml
  qa/suites/crimson-rados-experimental/thrash/deploy/ceph.yaml
  qa/suites/crimson-rados/basic/deploy/ceph.yaml
  qa/suites/crimson-rados/perf/deploy/ceph.yaml
  qa/suites/crimson-rados/rbd/deploy/ceph.yaml
  qa/suites/crimson-rados/singleton/all/osd-backfill.yaml
  qa/suites/crimson-rados/singleton/all/osd-pg-splitting.yaml
  qa/suites/crimson-rados/thrash/deploy/ceph.yaml
  qa/suites/crimson-rados/thrash_seastore_radosbench/deploy/ceph.yaml
  qa/suites/crimson-rados/thrash_simple/deploy/ceph.yaml
  qa/tasks/ceph.py
  qa/tasks/cephadm.py
  qa/tasks/rook.py
Labels: tests, build/ops, crimson, cephadm, rook, ready-to-merge

#63558 reef: scrub: use a generic interface for scheduling timer based events
  qa/standalone/scrub/osd-scrub-test.sh
  src/osd/scrubber/osd_scrub_sched.cc
  src/osd/scrubber/osd_scrub_sched.h
  src/osd/scrubber/pg_scrubber.cc
  src/osd/scrubber/pg_scrubber.h
  src/osd/scrubber/scrub_machine.cc
  src/osd/scrubber/scrub_machine.h
  src/osd/scrubber/scrub_machine_lstnr.h
Labels: core, needs-qa, tests, wip-bharath4-testing

#63934 doc/rados/configuration: Improve ceph-conf.rst
  doc/rados/configuration/ceph-conf.rst
Labels: documentation, core

#63767 tentacle: doc/mgr: edit telemetry (1 of x)
  doc/mgr/telemetry.rst
Labels: documentation, mgr, telemetry

#63943 reef: doc/rados/configuration: Improve ceph-conf.rst
  doc/rados/configuration/ceph-conf.rst
Labels: documentation, core

#63941 tentacle: doc/rados/configuration: Improve ceph-conf.rst
  doc/rados/configuration/ceph-conf.rst
Labels: documentation, core

#63152 reef: osd_types: Restore new_object marking for delete missing entries
  src/osd/osd_types.h
Labels: core, needs-qa, wip-bharath4-testing

#63034 rgw/cloud-restore: allow copy of temporary object
  src/rgw/rgw_op.cc
Labels: rgw

#63291 qa: reduce nvmeof thrasher fio to 32 devices from 200
  qa/suites/nvmeof/basic/workloads/nvmeof_initiator.yaml
  qa/suites/nvmeof/basic/workloads/nvmeof_mtls.yaml
  qa/suites/nvmeof/basic/workloads/nvmeof_namespaces.yaml
  qa/suites/nvmeof/basic/workloads/nvmeof_scalability.yaml
  qa/suites/nvmeof/thrash/gateway-initiator-setup/10-subsys-90-namespace-no_huge_pages.yaml
  qa/suites/nvmeof/thrash/gateway-initiator-setup/120-subsys-8-namespace.yaml
  qa/suites/nvmeof/thrash/gateway-initiator-setup/16-subsys-4-namespace.yaml
  qa/suites/nvmeof/thrash/gateway-initiator-setup/2-subsys-8-namespace.yaml
  qa/suites/nvmeof/thrash/thrashers/nvmeof_mon_thrash.yaml
  qa/suites/nvmeof/thrash/thrashers/nvmeof_thrash.yaml
  qa/suites/nvmeof/thrash/workloads/fio.yaml
  qa/tasks/nvmeof.py
  qa/workunits/nvmeof/basic_tests.sh
  qa/workunits/nvmeof/fio_test.sh
  qa/workunits/nvmeof/mtls_test.sh
  qa/workunits/nvmeof/scalability_test.sh
Labels: tests, nvmeof

#63821 doc/src: edit osd.yaml.in (osd_deep_scrub_interval_cv)
  src/common/options/osd.yaml.in
Labels: common, config-change

#62197 mgr: PyModule memory leaks fix
  src/mgr/PyModule.cc
Labels: core, needs-qa, mgr, mon, wip-bharath5-testing

#63177 test/librados/aio_cxx: skip EIO boundary assertion when no in-flight I/Os
  src/test/librados/aio_cxx.cc
Labels: core, needs-qa, tests, wip-bharath5-testing

#63192 tentacle: rgw: prefetch data from versioned object instance head
  src/rgw/driver/daos/rgw_sal_daos.cc
  src/rgw/driver/motr/rgw_sal_motr.cc
  src/rgw/driver/rados/rgw_cr_rados.cc
  src/rgw/driver/rados/rgw_lc_tier.cc
  src/rgw/driver/rados/rgw_putobj_processor.cc
  src/rgw/driver/rados/rgw_rados.cc
  src/rgw/driver/rados/rgw_rados.h
  src/rgw/driver/rados/rgw_sal_rados.cc
  src/rgw/driver/rados/rgw_sal_rados.h
  src/rgw/rgw_op.cc
  src/rgw/rgw_rest_s3.cc
  src/rgw/rgw_rest_swift.cc
  src/rgw/rgw_sal.h
  src/rgw/rgw_sal_dbstore.cc
  src/rgw/rgw_sal_filter.h
  src/rgw/rgw_sal_store.h
Labels: rgw, needs-qa, wip-yuri3-testing, wip-yuri6-testing

#63243 tentacle: rgw/d3n: store cached objects using hash digest
  qa/workunits/rgw/test_rgw_datacache.py
  src/rgw/driver/rados/rgw_d3n_datacache.cc
  src/rgw/rgw_d3n_cacherequest.h
Labels: rgw, needs-qa, tests, wip-yuri6-testing, backport: no-conflicts, backport

#63940 reef: osd/scrub: allow longer waits for replicas to respond
  src/common/options/osd.yaml.in
  src/osd/scrubber/scrub_machine.cc
Labels: bug-fix, core, common

#63958 squid: doc/rados/operations: Fix unordered list in health-checks.rst
  doc/rados/operations/health-checks.rst
Labels: documentation, core

#63947 tentacle: doc/cephfs: Update deprecation notice in experimental-features.rst
  doc/cephfs/experimental-features.rst
Labels: documentation, cephfs

#63948 squid: doc/cephfs: Update deprecation notice in experimental-features.rst
  doc/cephfs/experimental-features.rst
Labels: documentation, cephfs, common

#63949 reef: doc/cephfs: Update deprecation notice in experimental-features.rst
  doc/cephfs/experimental-features.rst
Labels: documentation, cephfs

#62722 squid: rgw: fix bug with rgw-gap-list
  src/rgw/rgw-gap-list
Labels: rgw, needs-review, wip-yuri4-testing

#61996 reef: rgw: fix to correctly store updated attrs in backend store after erasing an attr/attrs for delete ops on a bucket.
  src/rgw/driver/rados/rgw_sal_rados.cc
  src/rgw/rgw_op.cc
  src/rgw/rgw_sal_dbstore.cc
Labels: rgw, needs-qa, TESTED, ready-to-merge

#62434 reef: rgw/iam: add policy evaluation for Arn-based Conditions
  PendingReleaseNotes
  src/rgw/rgw_arn.cc
  src/rgw/rgw_common.cc
  src/rgw/rgw_common.h
  src/rgw/rgw_iam_policy.cc
  src/test/rgw/test_rgw_iam_policy.cc
Labels: documentation, rgw, needs-qa, tests, TESTED, ready-to-merge

#63598 reef: rgw: trigger resharding of versioned buckets sooner
  src/rgw/driver/rados/rgw_rados.cc
  src/rgw/rgw_quota.cc
  src/rgw/rgw_quota.h
Labels: bug-fix, rgw, needs-review, TESTED

#62094 reef: rgw/rados: enable object deletion at rados pool quota
  qa/suites/rgw/verify/tasks/rados-pool-quota.yaml
  qa/workunits/rgw/run-rados-pool-quota.sh
  qa/workunits/rgw/test_rgw_rados_pool_quota.py
  src/rgw/driver/rados/rgw_cr_rados.cc
  src/rgw/driver/rados/rgw_gc.cc
  src/rgw/driver/rados/rgw_rados.cc
  src/rgw/driver/rados/rgw_tools.cc
  src/rgw/rgw_common.cc
  src/rgw/rgw_rest.cc
Labels: rgw, needs-qa, tests, TESTED, ready-to-merge

#63065 squid: rgw/sts: correcting authentication in case s3 ops are directed to a primary from secondary after assumerole.
  qa/suites/rgw/multisite/overrides.yaml
  src/rgw/rgw_auth.cc
  src/rgw/rgw_auth.h
  src/rgw/rgw_auth_s3.h
  src/rgw/rgw_rest_s3.cc
  src/test/rgw/rgw_multi/conn.py
  src/test/rgw/rgw_multi/multisite.py
  src/test/rgw/rgw_multi/tests.py
  src/test/rgw/rgw_multi/zone_cloud.py
  src/test/rgw/rgw_multi/zone_es.py
  src/test/rgw/rgw_multi/zone_rados.py
Labels: rgw, needs-qa, tests, TESTED, ready-to-merge

#63135 tentacle: rgw-admin: report correct error code for non-existent bucket on deletion
  qa/tasks/radosgw_admin_rest.py
  src/rgw/driver/rados/rgw_rest_bucket.cc
Labels: rgw, needs-qa, tests, wip-yuri3-testing

#63303 rgw/multisite: change HTTP error handling from EIO to ERR_INTERNAL_ERROR
  src/rgw/driver/rados/rgw_data_sync.cc
  src/rgw/driver/rados/rgw_rados.cc
  src/rgw/driver/rados/rgw_sync.cc
  src/rgw/rgw_coroutine.cc
  src/rgw/rgw_rest_conn.h
Labels: bug-fix, rgw, TESTED, ready-to-merge

#63710 squid: rgw: Changed discard buffer size
  src/rgw/rgw_asio_frontend.cc
Labels: rgw, needs-qa, wip-yuri4-testing
