Repository ceph/ceph, pull requests merged in 2025-10, with the labels that each got.

#65737 tentacle: mgr/dashboard : Hide suppressed alert on landing page
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/prometheus/active-alert-list/active-alert-list.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/prometheus/active-alert-list/active-alert-list.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/prometheus/silence-form/silence-form.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/cluster/prometheus/silence-form/silence-form.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/dashboard-v3/dashboard/dashboard-v3.component.html
  src/pybind/mgr/dashboard/frontend/src/app/shared/models/prometheus-alerts.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/services/prometheus-alert.service.ts
Labels: pybind, dashboard

#65696 tentacle: cephadm: support custom distros by falling back to ID_LIKE
  src/cephadm/cephadmlib/packagers.py
  src/cephadm/tests/test_util_funcs.py
Labels: cephadm, wip-adk5-testing

#65720 .github: pin GH Actions to SHA-1 commit
  .github/workflows/qa-symlink.yml
  src/script/pin-gh-workflow-deps.sh
Labels: CI, script

#65748 RGW - Posix Test - initialize "existed" bools
  src/test/rgw/test_rgw_posix_driver.cc
Labels: rgw, tests

#65721 qa: Add new task module template.py
  qa/suites/nvmeof/thrash/gateway-initiator-setup/10-subsys-90-namespace-no_huge_pages.yaml
  qa/suites/orch/cephadm/mgr-nfs-upgrade/2-nfs.yaml
  qa/suites/orch/cephadm/mgr-nfs-upgrade/4-final.yaml
  qa/suites/orch/cephadm/smb/tasks/deploy_smb_basic.yaml
  qa/suites/orch/cephadm/smb/tasks/deploy_smb_ctdb_node_gone_state.yaml
  qa/suites/orch/cephadm/smb/tasks/deploy_smb_domain.yaml
  qa/suites/orch/cephadm/smb/tasks/deploy_smb_mgr_basic.yaml
  qa/suites/orch/cephadm/smb/tasks/deploy_smb_mgr_clustering_ips.yaml
  qa/suites/orch/cephadm/smb/tasks/deploy_smb_mgr_ctdb_res_basic.yaml
  qa/suites/orch/cephadm/smb/tasks/deploy_smb_mgr_ctdb_res_dom.yaml
  qa/suites/orch/cephadm/smb/tasks/deploy_smb_mgr_ctdb_res_ips.yaml
  qa/suites/orch/cephadm/smb/tasks/deploy_smb_mgr_ctdb_res_ports2c.yaml
  qa/suites/orch/cephadm/smb/tasks/deploy_smb_mgr_domain.yaml
  qa/suites/orch/cephadm/smb/tasks/deploy_smb_mgr_res_basic.yaml
  qa/suites/orch/cephadm/smb/tasks/deploy_smb_mgr_res_dom.yaml
  qa/suites/orch/cephadm/smb/tasks/deploy_smb_mgr_res_ports.yaml
  qa/suites/orch/cephadm/smb/tasks/deploy_smb_proxy_disabled.yaml
  qa/suites/orch/cephadm/smb/tasks/deploy_smb_proxy_enabled.yaml
  qa/suites/orch/cephadm/smoke-roleless/2-services/nfs-haproxy-proto.yaml
  qa/suites/orch/cephadm/smoke-roleless/2-services/nfs-ingress-rgw-bucket.yaml
  qa/suites/orch/cephadm/smoke-roleless/2-services/nfs-ingress-rgw-user.yaml
  qa/suites/orch/cephadm/smoke-roleless/2-services/nfs-ingress.yaml
  qa/suites/orch/cephadm/smoke-roleless/2-services/nfs-ingress2.yaml
  qa/suites/orch/cephadm/smoke-roleless/2-services/nfs-keepalive-only.yaml
  qa/suites/orch/cephadm/smoke-roleless/2-services/nfs.yaml
  qa/suites/orch/cephadm/smoke-roleless/2-services/nfs2.yaml
  qa/tasks/cephadm.py
  qa/tasks/python.py
  qa/tasks/template.py
  qa/tasks/vip.py
Labels: tests, cephadm, wip-adk-testing, nvmeof

#65640 mds/FSMap: fix join_fscid being incorrectly reset for active MDS during filesystem removal
  src/mds/FSMap.cc
Labels: cephfs, needs-qa, wip-rishabh-testing

#65104 mds: Return ceph.dir.subvolume vxattr
  qa/tasks/cephfs/test_subvolume.py
  src/mds/Server.cc
  src/mds/Server.h
Labels: cephfs, needs-qa, tests, wip-rishabh-testing

#65645 qa/tests: added messages to the whitelist
  qa/suites/upgrade/reef-x/parallel/0-start.yaml
  qa/suites/upgrade/reef-x/stress-split/1-start.yaml
  qa/suites/upgrade/squid-x/parallel/0-start.yaml
  qa/suites/upgrade/squid-x/parallel/overrides/ignorelist_health.yaml
  qa/suites/upgrade/squid-x/stress-split/1-start.yaml
  qa/suites/upgrade/squid-x/stress-split/overrides/ignorelist_health.yaml
Labels: tests

#65336 tentacle: auth: msgr2 can return incorrect allowed_modes through AuthBadMethodFrame
  src/auth/AuthServer.h
  src/crimson/auth/AuthServer.h
  src/crimson/auth/DummyAuth.h
  src/crimson/mon/MonClient.cc
  src/crimson/mon/MonClient.h
  src/crimson/net/ProtocolV2.cc
  src/msg/async/ProtocolV2.cc
Labels: core, needs-qa, crimson, wip-bharath1-testing

#65005 tentacle: mgr: avoid explicit dropping of ref
  src/mgr/MgrOpRequest.h
Labels: core, needs-qa, mgr, wip-bharath1-testing

#64971 rgw/s3select: Disable stringop truncation warning for s3select.h
  src/CMakeLists.txt
  src/rgw/rgw_s3select_private.h
Labels: rgw, needs-qa, build/ops, TESTED, ready-to-merge

#65606 rgw/iam: fix NotEquals handling for multiple values
  src/rgw/rgw_iam_policy.cc
  src/rgw/rgw_iam_policy.h
  src/test/rgw/test_rgw_iam_policy.cc
Labels: rgw, needs-qa, tests, TESTED, ready-to-merge

#65662 docs: Split Reads design (EC Direct Reads and Replica splits)
  doc/dev/osd_internals/erasure_coding.rst
  doc/dev/osd_internals/erasure_coding/direct_reads.rst
Labels: documentation

#65545 options/mon: disable availability tracking by default
  PendingReleaseNotes
  qa/standalone/mon/availability.sh
  src/common/options/mon.yaml.in
Labels: documentation, core, tests, common, TESTED, config-change

#65627 mgr/dashboard: fix prometheus API error when not configured
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/prometheus.service.ts
Labels: pybind, dashboard

#65214 squid: blk/kernel: improve DiscardThread life cycle.
  src/blk/kernel/KernelDevice.cc
  src/blk/kernel/KernelDevice.h
Labels: core, needs-qa, wip-yuri10-testing

#65462 squid: mgr/DaemonState: Minimise time we hold the DaemonStateIndex lock
  src/mgr/DaemonState.h
Labels: core, needs-qa, mgr, wip-yuri10-testing

#65676 mgr/dashboard: raise exception if both size and rbd_image_size are being passed in ns add
  src/pybind/mgr/dashboard/controllers/nvmeof.py
  src/pybind/mgr/dashboard/openapi.yaml
Labels: pybind, dashboard, api-change

#63917 pybind/cephfs, mgr/volumes: introduce non-recurisve rmtree(), refactor purge() to use it and add MDS optimizations
  qa/workunits/fs/test_python.sh
  src/client/Client.cc
  src/client/Client.h
  src/common/strescape.h
  src/include/filepath.cc
  src/include/filepath.h
  src/mds/CDentry.cc
  src/mds/CDentry.h
  src/mds/CDir.cc
  src/mds/CDir.h
  src/mds/CInode.cc
  src/mds/CInode.h
  src/mds/MDSAuthCaps.cc
  src/mds/MDSAuthCaps.h
  src/mds/ScrubStack.cc
  src/mds/Server.cc
  src/mds/SessionMap.cc
  src/pybind/cephfs/cephfs.pyx
  src/pybind/mgr/volumes/fs/operations/trash.py
  src/test/mds/TestMDSAuthCaps.cc
  src/test/pybind/test_cephfs.py
Labels: cephfs, tests, common, pybind, needs-review, wip-rishabh-testing3

#65819 doc/dev: Fix typo in release-process.rst
  doc/dev/release-process.rst
Labels: documentation

#65699 pybind/mgr: add default set of cmake/ctest labels to tests
  cmake/modules/AddCephTest.cmake
Labels: build/ops, orchestrator, python

#65811 doc/cephfs: Add missing labels in cache-configuration.rst
  doc/cephfs/cache-configuration.rst
Labels: documentation, cephfs

#65809 doc/cephfs: Typos and small improvements in scrub.rst
  doc/cephfs/scrub.rst
Labels: documentation, cephfs

#65364 reef: mds: fix snapdiff result fragmentation
  src/mds/CDir.h
  src/mds/Server.cc
  src/test/libcephfs/snapdiff.cc
Labels: cephfs, tests, backport, wip-jcollin-testing-reef4

#65348 reef: mds: Fix readdir when osd is full.
  qa/cephfs/clusters/1-node-4-mds-1-osd.yaml
  qa/suites/fs/full/clusters/1-node-1-mds-1-osd.yaml
  qa/suites/fs/full/clusters/1-node-4-mds-1-osd.yaml
  qa/suites/fs/full/overrides.yaml
  qa/suites/fs/full/tasks/mgr-osd-full.yaml
  qa/workunits/fs/full/subvolume_ls.sh
  src/mds/Server.cc
Labels: cephfs, tests, wip-jcollin-testing-reef4

#65295 reef: mgr/snap_schedule: fix typo in error message during retention add
  qa/tasks/cephfs/test_snap_schedules.py
  src/pybind/mgr/snap_schedule/fs/schedule.py
Labels: core, cephfs, tests, pybind, wip-jcollin-testing-reef4

#65644 mgr/cephadm: Cephadm support for NFS-Ganesha TLS configuration
  doc/cephadm/services/nfs.rst
  doc/mgr/nfs.rst
  src/cephadm/cephadmlib/daemons/nfs.py
  src/pybind/mgr/cephadm/agent.py
  src/pybind/mgr/cephadm/cert_mgr.py
  src/pybind/mgr/cephadm/module.py
  src/pybind/mgr/cephadm/serve.py
  src/pybind/mgr/cephadm/services/cephadmservice.py
  src/pybind/mgr/cephadm/services/ingress.py
  src/pybind/mgr/cephadm/services/mgmt_gateway.py
  src/pybind/mgr/cephadm/services/monitoring.py
  src/pybind/mgr/cephadm/services/nfs.py
  src/pybind/mgr/cephadm/services/nvmeof.py
  src/pybind/mgr/cephadm/templates/services/nfs/ganesha.conf.j2
  src/pybind/mgr/cephadm/tests/test_certmgr.py
  src/pybind/mgr/cephadm/tests/test_services.py
  src/pybind/mgr/cephadm/tlsobject_types.py
  src/pybind/mgr/nfs/cluster.py
  src/pybind/mgr/nfs/ganesha_conf.py
  src/pybind/mgr/nfs/module.py
  src/pybind/mgr/nfs/tests/test_nfs.py
  src/python-common/ceph/deployment/service_spec.py
Labels: documentation, cephfs, tests, pybind, mgr, monitoring, cephadm, nfs, nvmeof, wip-shweta-testing
