Repository ceph/ceph, pull requests merged in 2025-04, with the labels that each got.

#62565 cmake: do not pass PRE_BUILD to add_custom_command(OUTPUT)
  CMakeLists.txt
  src/common/options/CMakeLists.txt
Labels: cleanup, common, build/ops

#62564 cmake: Allow building with fmt <= 11.1.4
  src/CMakeLists.txt
Labels: build/ops

#62374 dmclock: migrate from boost::variant to std::variant
  src/dmclock/sim/src/ssched/ssched_server.h
  src/dmclock/src/dmclock_recs.h
  src/dmclock/src/dmclock_server.h
  src/dmclock/test/test_dmclock_server.cc
Labels: cleanup

#61362 mgr/dashboard: Link rgw user with account
  src/pybind/mgr/dashboard/controllers/rgw.py
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/models/rgw-user.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-user-details/rgw-user-details.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-user-form/rgw-user-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-user-form/rgw-user-form.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-user-form/rgw-user-form.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-user-list/rgw-user-list.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-user-list/rgw-user-list.component.ts
  src/pybind/mgr/dashboard/openapi.yaml
Labels: pybind, dashboard, api-change, ui-tested

#62557 osd/scrub: improve PgScrubber testability
  src/osd/scrubber/pg_scrubber.cc
  src/osd/scrubber/pg_scrubber.h
  src/osd/scrubber/scrub_machine.h
  src/osd/scrubber/scrub_machine_if.h
Labels: core

#60786 mgr/snap_schedule: fix typo in timestamp format exception
  src/pybind/mgr/snap_schedule/fs/schedule.py
Labels: pybind

#60611 ceph.spec.in,debian/rules: aio-max-nr for Crimson
  ceph.spec.in
  etc/sysctl/90-crimson-osd.conf.in
  etc/sysctl/CMakeLists.txt
Labels: build/ops, crimson, wip-matan-testing

#62288 crimson: take read lock on replica during final push commit
  src/crimson/osd/object_context.h
  src/crimson/osd/object_context_loader.cc
  src/crimson/osd/object_context_loader.h
  src/crimson/osd/pg.cc
  src/crimson/osd/recovery_backend.cc
  src/crimson/osd/recovery_backend.h
  src/crimson/osd/replicated_recovery_backend.cc
  src/crimson/osd/replicated_recovery_backend.h
Labels: crimson, needs-crimson-qa

#61431 squid: rgw: S3 Delete Bucket Policy should return 204 on success
  src/rgw/rgw_op.cc
Labels: rgw, needs-qa, wip-yuri-testing

#61430 squid: rgw: /admin/user api dumps account-related user info
  src/rgw/driver/rados/rgw_user.cc
Labels: rgw, needs-qa, wip-yuri-testing

#61330 squid: rgw/multisite: Fix use-after-move in retry logic in logbacking
  src/rgw/driver/rados/rgw_log_backing.cc
Labels: bug-fix, rgw, needs-qa, wip-yuri-testing

#62610 doc/dev/release-process.rst: document new Jenkins job for containers
  doc/dev/release-process.rst
Labels: documentation

#62615 doc/dev/release-process: followup on PR#62610
  doc/dev/release-process.rst
Labels: documentation

#62617 doc/rados/configuration: Correct admonition in ceph-conf.rst
  doc/rados/configuration/ceph-conf.rst
Labels: documentation, core

#62598 mgr/dashboard: enable ha by default on subsystem POST API
  src/pybind/mgr/dashboard/controllers/nvmeof.py
  src/pybind/mgr/dashboard/openapi.yaml
Labels: pybind, dashboard, api-change

#62047 monitoring: Fix OSDs panel in host-details grafana dashboard
  monitoring/ceph-mixin/dashboards/host.libsonnet
  monitoring/ceph-mixin/dashboards_out/host-details.json
Labels: dashboard, monitoring

#62541 mgr/dashboard: fix domain settings modal scrollable
  src/pybind/mgr/dashboard/frontend/src/app/ceph/smb/smb-domain-setting-modal/smb-domain-setting-modal.component.html
Labels: pybind, dashboard, ui-tested

#62542 mgr/dashboard: add separation for service section in smb cluster form
  src/pybind/mgr/dashboard/frontend/src/app/ceph/smb/smb-cluster-form/smb-cluster-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/form-advanced-fieldset/form-advanced-fieldset.component.html
  src/pybind/mgr/dashboard/frontend/src/app/shared/components/form-advanced-fieldset/form-advanced-fieldset.component.ts
Labels: pybind, dashboard, ui-tested

#61696 osd: include cleanup
  src/include/object.h
  src/osd/ECBackend.cc
  src/osd/ECCommon.cc
  src/osd/ECCommon.h
  src/osd/ECUtil.cc
  src/osd/ECUtil.h
  src/osd/OSD.cc
  src/osd/OSDMap.cc
  src/osd/OSDMap.h
  src/osd/OSDMapMapping.cc
  src/osd/PG.cc
  src/osd/PGBackend.cc
  src/osd/PGLog.h
  src/osd/PGPeeringEvent.cc
  src/osd/PGPeeringEvent.h
  src/osd/PGStateUtils.h
  src/osd/PeeringState.cc
  src/osd/PeeringState.h
  src/osd/PrimaryLogPG.cc
  src/osd/ReplicatedBackend.cc
  src/osd/SnapMapper.cc
  src/osd/SnapMapper.h
  src/osd/Watch.cc
  src/osd/osd_internal_types.h
  src/osd/osd_types.cc
  src/osd/osd_types.h
  src/osd/scheduler/mClockScheduler.cc
  src/osd/scrubber/PrimaryLogScrub.cc
  src/osd/scrubber/ScrubStore.cc
  src/osd/scrubber/ScrubStore.h
  src/osd/scrubber/osd_scrub.cc
  src/osd/scrubber/osd_scrub_sched.cc
  src/osd/scrubber/pg_scrubber.cc
  src/osd/scrubber/scrub_backend.cc
  src/osd/scrubber/scrub_backend.h
  src/osd/scrubber/scrub_job.cc
  src/osd/scrubber/scrub_machine.cc
  src/osd/scrubber/scrub_reservations.cc
  src/osd/scrubber_common.h
Labels: core, rbd, cephfs, needs-qa, common, mon, libcephsqlite

#62457 mgr/dashboard: upgrading nvmeof doesn't update configuration
  src/pybind/mgr/cephadm/services/nvmeof.py
  src/pybind/mgr/dashboard/services/nvmeof_conf.py
  src/pybind/mgr/dashboard/tests/__init__.py
  src/pybind/mgr/dashboard/tests/test_nvmeof_cli.py
Labels: pybind, dashboard, cephadm, nvmeof

#62246 os/bluestore/write-v2: Tune down usage of 'unused'
  src/os/bluestore/Writer.cc
Labels: core, bluestore, aclamk-testing-nauvoo

#62420 squid: rgw: bucket creation fixes for multi-zonegroup scenario
  qa/tasks/rgw_multisite.py
  src/rgw/driver/daos/rgw_sal_daos.cc
  src/rgw/driver/daos/rgw_sal_daos.h
  src/rgw/driver/motr/rgw_sal_motr.cc
  src/rgw/driver/motr/rgw_sal_motr.h
  src/rgw/driver/rados/rgw_period.cc
  src/rgw/driver/rados/rgw_sal_rados.cc
  src/rgw/driver/rados/rgw_sal_rados.h
  src/rgw/driver/rados/rgw_zone.h
  src/rgw/rgw_common.cc
  src/rgw/rgw_common.h
  src/rgw/rgw_op.cc
  src/rgw/rgw_op.h
  src/rgw/rgw_rest_s3.cc
  src/rgw/rgw_sal.h
  src/rgw/rgw_sal_dbstore.cc
  src/rgw/rgw_sal_dbstore.h
  src/rgw/rgw_sal_filter.h
  src/rgw/services/svc_zone.cc
  src/rgw/services/svc_zone.h
  src/test/rgw/rgw_multi/tests.py
Labels: rgw, needs-qa, tests, wip-tejas-testing

#62606 reef: cephfs-top, qa: Remove unnecessary global statements in tests
  qa/tasks/radosgw_admin.py
  qa/workunits/dencoder/test_readable.py
  src/tools/cephfs/top/cephfs-top
Labels: cephfs, tests

#62605 squid: cephfs-top, qa: Remove unnecessary global statements in tests
  qa/tasks/radosgw_admin.py
  qa/workunits/dencoder/test_readable.py
  src/tools/cephfs/top/cephfs-top
Labels: cephfs, tests

#62620 squid: doc/rados/configuration: Correct admonition in ceph-conf.rst
  doc/rados/configuration/ceph-conf.rst
Labels: documentation, core

#62621 reef: doc/rados/configuration: Correct admonition in ceph-conf.rst
  doc/rados/configuration/ceph-conf.rst
Labels: documentation, core

#60614 mgr/cephadm: trigger host metadata refresh when taking host out of maintenance
  src/pybind/mgr/cephadm/module.py
Labels: pybind, cephadm, wip-adk-testing

#62611 mgr/dashboard: add enhancements for pool rulest
  src/pybind/mgr/dashboard/frontend/src/app/ceph/pool/crush-rule-form-modal/crush-rule-form-modal.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/pool/crush-rule-form-modal/crush-rule-form-modal.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/pool/erasure-code-profile-form/erasure-code-profile-form-modal.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/pool/erasure-code-profile-form/erasure-code-profile-form-modal.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/classes/crush.node.selection.class.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/models/erasure-code-profile.ts
Labels: pybind, dashboard, ui-tested

#58652 mgr/rgw: add ability for rgw realm bootstrap to create pools
  src/pybind/mgr/rgw/module.py
  src/python-common/ceph/deployment/service_spec.py
Labels: pybind, cephadm, wip-adk-testing

#62294 common, *: make the abort() in ceph_assert() bypassable
  src/common/assert.cc
  src/common/options/global.yaml.in
  src/common/perf_histogram.cc
  src/crimson/os/alienstore/alien_store.cc
  src/crimson/osd/scheduler/mclock_scheduler.cc
  src/include/ceph_assert.h
  src/librbd/crypto/CryptoContextPool.h
  src/mon/Monitor.cc
  src/os/bluestore/BlueStore.cc
  src/os/bluestore/bluestore_types.h
  src/osd/scheduler/OpScheduler.cc
  src/test/CMakeLists.txt
  src/test/ceph_assert.cc
  src/test/crimson/seastore/test_extent_allocator.cc
  src/tools/immutable_object_cache/ObjectCacheStore.cc
Labels: core, rbd, needs-qa, tests, common, build/ops, bluestore, mon, crimson, TESTED, ready-to-merge

#62543 mgr/dashboard: carbonize smb tabs
  src/pybind/mgr/dashboard/frontend/src/app/ceph/smb/smb-cluster-list/smb-cluster-list.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/smb/smb-cluster-tabs/smb-cluster-tabs.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/smb/smb-cluster-tabs/smb-cluster-tabs.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/smb/smb-join-auth-list/smb-join-auth-list.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/smb/smb-share-list/smb-share-list.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/smb/smb-tabs/smb-tabs.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/smb/smb-usersgroups-list/smb-usersgroups-list.component.html
  src/pybind/mgr/dashboard/frontend/src/app/shared/datatable/table/table.component.html
  src/pybind/mgr/dashboard/frontend/src/app/shared/datatable/table/table.component.ts
  src/pybind/mgr/dashboard/frontend/src/styles/_carbon-defaults.scss
Labels: pybind, dashboard, ui-tested

#61638 PendingReleaseNotes: add note to change default EC plugin from Jerasure to ISA-L
  PendingReleaseNotes
Labels: documentation, core

#61461 erasure-code: clay wrong d calculation
  qa/workunits/rados/test-clay-profiles.sh
  src/erasure-code/clay/ErasureCodeClay.cc
Labels: core, needs-qa, tests, wip-bharath10-testing

#62362 mgr/smb: additional input and output controls
  doc/mgr/smb.rst
  src/pybind/mgr/smb/enums.py
  src/pybind/mgr/smb/module.py
  src/pybind/mgr/smb/resources.py
  src/pybind/mgr/smb/results.py
  src/pybind/mgr/smb/tests/test_smb.py
Labels: documentation, pybind, mgr, wip-adk-testing

#62592 mgr/cephadm: add only_bind_port_on_networks support for rgw
  src/pybind/mgr/cephadm/services/cephadmservice.py
  src/python-common/ceph/deployment/service_spec.py
Labels: pybind, cephadm, wip-adk-testing

#62504 squid: mgr: add status command
  qa/suites/rados/mgr/tasks/3-mgrmodules.yaml
  src/mgr/MgrStandby.cc
  src/mgr/MgrStandby.h
Labels: core, needs-qa, tests, mgr, wip-yuri11-testing

#62643 doc/cephadm: s/confg/config/
  doc/cephadm/upgrade.rst
Labels: documentation, cephadm

#62644 squid: doc/cephadm: s/confg/config/
  doc/cephadm/upgrade.rst
Labels: documentation, cephadm

#62645 reef: doc/cephadm: s/confg/config/
  doc/cephadm/upgrade.rst
Labels: documentation, cephadm

#62629 mgr/dashboard: add prometheus read permission to cluster_mgr role
  src/pybind/mgr/dashboard/services/access_control.py
Labels: pybind, dashboard

#62569 reef: osd/scrub: discard repair_oinfo_oid()
  src/osd/scrubber/pg_scrubber.cc
  src/osd/scrubber/pg_scrubber.h
  src/osd/scrubber/scrub_backend.cc
Labels: cleanup, core, needs-qa, performance, backport, backport reef

#62641 cmake: Fix warning suppression for googletest build
  src/CMakeLists.txt
Labels: build/ops, regression

#62223 osd: Add ability to switch EC optimizations on
  src/common/io_exerciser/RadosIo.cc
  src/common/io_exerciser/RadosIo.h
  src/mon/MonCommands.h
  src/mon/OSDMonitor.cc
  src/osd/ECSwitch.h
  src/osd/osd_types.cc
  src/osd/osd_types.h
  src/osdc/Objecter.cc
  src/osdc/Objecter.h
  src/test/osd/ceph_test_rados_io_sequence/ceph_test_rados_io_sequence.cc
  src/test/osd/ceph_test_rados_io_sequence/ceph_test_rados_io_sequence.h
Labels: core, needs-qa, tests, common, performance, needs-doc, mon, wip-bharath10-testing

#62205 nvmeofgw* :do not allow failover for gws during redeploy (fast-reboot)
  src/common/options/mon.yaml.in
  src/mon/NVMeofGwMap.cc
  src/mon/NVMeofGwMap.h
  src/mon/NVMeofGwMon.cc
  src/mon/NVMeofGwMon.h
  src/mon/NVMeofGwTypes.h
Labels: core, needs-qa, common, mon, nvmeof, wip-bharath15-testing

#57806 osdc/ObjectCacher: avoid io blocking for bufferheads exceed limit
  qa/suites/rados/objectstore/backends/objectcacher-stress.yaml
  qa/workunits/osdc/object_cacher_misc.sh
  src/osdc/ObjectCacher.cc
  src/osdc/ObjectCacher.h
  src/test/osdc/CMakeLists.txt
  src/test/osdc/object_cacher_misc.cc
Labels: core, rbd, cephfs, needs-qa, tests, build/ops, needs-review, wip-bharath15-testing

#61804 osd: Modify erasure code plugins ready for new EC
  src/erasure-code/ErasureCode.cc
  src/erasure-code/ErasureCode.h
  src/erasure-code/ErasureCodeInterface.h
  src/erasure-code/clay/ErasureCodeClay.cc
  src/erasure-code/clay/ErasureCodeClay.h
  src/erasure-code/isa/ErasureCodeIsa.cc
  src/erasure-code/isa/ErasureCodeIsa.h
  src/erasure-code/jerasure/ErasureCodeJerasure.cc
  src/erasure-code/jerasure/ErasureCodeJerasure.h
  src/erasure-code/lrc/ErasureCodeLrc.cc
  src/erasure-code/lrc/ErasureCodeLrc.h
  src/erasure-code/shec/ErasureCodeShec.cc
  src/erasure-code/shec/ErasureCodeShec.h
  src/osd/ECBackend.cc
  src/osd/ECBackend.h
  src/osd/ECBackendL.h
  src/osd/ECCommon.cc
  src/osd/ECCommonL.cc
  src/osd/ECTypes.h
  src/osd/ECUtil.cc
  src/osd/ECUtil.h
  src/osd/ECUtilL.cc
  src/osd/ECUtilL.h
  src/osd/osd_types.h
  src/test/erasure-code/CMakeLists.txt
  src/test/erasure-code/ErasureCodeExample.h
  src/test/erasure-code/TestErasureCode.cc
  src/test/erasure-code/TestErasureCodeClay.cc
  src/test/erasure-code/TestErasureCodeExample.cc
  src/test/erasure-code/TestErasureCodeIsa.cc
  src/test/erasure-code/TestErasureCodeJerasure.cc
  src/test/erasure-code/TestErasureCodeLrc.cc
  src/test/erasure-code/TestErasureCodePlugins.cc
  src/test/erasure-code/TestErasureCodeShec.cc
  src/test/erasure-code/TestErasureCodeShec_all.cc
  src/test/erasure-code/TestErasureCodeShec_arguments.cc
  src/test/erasure-code/TestErasureCodeShec_thread.cc
  src/test/erasure-code/ceph_erasure_code_benchmark.cc
  src/test/erasure-code/ceph_erasure_code_benchmark.h
  src/test/erasure-code/ceph_erasure_code_non_regression.cc
  src/tools/erasure-code/ceph-erasure-code-tool.cc
Labels: core, needs-qa, tests, common, build/ops, performance, crimson, wip-bharath15-testing

#62639 doc/mgr: add a warning about the smb clustering option & placement
  doc/mgr/smb.rst
Labels: documentation, mgr

#62583 qa/cephadm/smb: run setsebool with sudo
  qa/suites/orch/cephadm/smb/tasks/deploy_smb_ctdb_node_gone_state.yaml
  qa/suites/orch/cephadm/smb/tasks/deploy_smb_mgr_clustering_ips.yaml
  qa/suites/orch/cephadm/smb/tasks/deploy_smb_mgr_ctdb_res_basic.yaml
  qa/suites/orch/cephadm/smb/tasks/deploy_smb_mgr_ctdb_res_dom.yaml
  qa/suites/orch/cephadm/smb/tasks/deploy_smb_mgr_ctdb_res_ips.yaml
Labels: tests, cephadm, wip-adk-testing

#62524 rgw: fix bug with rgw-gap-list
  src/rgw/rgw-gap-list
Labels: bug-fix, rgw, needs-qa

#62597 rgw: Updating doc for cloud-restore feature
  doc/radosgw/cloud-restore.rst
  doc/radosgw/cloud-transition.rst
  doc/radosgw/index.rst
Labels: documentation

#62661 doc/radosgw: Improve cloud-restore and cloud-transition
  doc/radosgw/cloud-restore.rst
  doc/radosgw/cloud-transition.rst
Labels: documentation

#62666 squid: doc/radosgw: Improve cloud-restore and cloud-transition
  doc/radosgw/cloud-restore.rst
  doc/radosgw/cloud-transition.rst
Labels: documentation

#62667 reef: doc/radosgw: Improve cloud-restore and cloud-transition
  doc/radosgw/cloud-restore.rst
  doc/radosgw/cloud-transition.rst
Labels: documentation

#61751 monitoring: add grafana nvmeof dashboard
  monitoring/ceph-mixin/dashboards.libsonnet
  monitoring/ceph-mixin/dashboards/ceph-nvmeof-performance.libsonnet
  monitoring/ceph-mixin/dashboards/ceph-nvmeof.libsonnet
  monitoring/ceph-mixin/dashboards/timeseries_panel.libsonnet
  monitoring/ceph-mixin/dashboards/utils.libsonnet
  monitoring/ceph-mixin/dashboards_out/ceph-nvmeof-performance.json
  monitoring/ceph-mixin/dashboards_out/ceph-nvmeof.json
Labels: dashboard, monitoring

#62511 test/ObjectMap: Remove unused CONTROL_PREFIX variable
  src/test/ObjectMap/test_keyvaluedb_atomicity.cc
Labels: cleanup, needs-qa, tests

#62053 squid: os/bluestore: Fix ExtentDecoderPartial::_consume_new_blob
  src/os/bluestore/BlueStore.cc
Labels: core, needs-qa, bluestore, wip-bharath11-testing

#62123 squid: tools/ceph-objectstore-tool: tricks to tolerate disk errors for "pg export" command
  src/os/ObjectStore.h
  src/os/bluestore/BlueStore.cc
  src/os/bluestore/BlueStore.h
  src/os/bluestore/bluestore_tool.cc
  src/test/objectstore/store_test.cc
  src/tools/ceph_kvstore_tool.cc
  src/tools/ceph_objectstore_tool.cc
  src/tools/ceph_objectstore_tool.h
  src/tools/kvstore_tool.cc
  src/tools/kvstore_tool.h
Labels: core, needs-qa, tests, bluestore, backport, wip-bharath11-testing

#62680 cmake: Fix googletest deprecated warnings by using target_compile_options()
  src/CMakeLists.txt
Labels: build/ops

#62637 rgw/multisite: revert pr 62323
  src/rgw/driver/rados/rgw_data_sync.cc
  src/rgw/rgw_rest_s3.cc
  src/test/rgw/rgw_multi/tests.py
Labels: rgw, tests, TESTED, ready-to-merge

#62656 reef: rgw: keep the tails when copying object to itself
  qa/workunits/rgw/test_rgw_orphan_list.sh
  src/rgw/driver/dbstore/common/dbstore.h
  src/rgw/driver/rados/rgw_putobj_processor.cc
  src/rgw/driver/rados/rgw_putobj_processor.h
  src/rgw/driver/rados/rgw_rados.cc
  src/rgw/driver/rados/rgw_rados.h
  src/rgw/rgw_sal.cc
  src/rgw/rgw_sal.h
Labels: rgw, tests, wip-yuri2-testing

#53799 rgw/multisite: bucket instance cleanup after deletion
  PendingReleaseNotes
  src/rgw/driver/rados/rgw_bucket.cc
  src/rgw/driver/rados/rgw_bucket.h
  src/rgw/driver/rados/rgw_cr_rados.cc
  src/rgw/driver/rados/rgw_cr_rados.h
  src/rgw/driver/rados/rgw_data_sync.cc
  src/rgw/driver/rados/rgw_data_sync.h
  src/rgw/driver/rados/rgw_rados.cc
  src/rgw/driver/rados/rgw_rados.h
  src/rgw/driver/rados/rgw_sal_rados.cc
  src/rgw/driver/rados/rgw_service.cc
  src/rgw/driver/rados/rgw_sync_module.cc
  src/rgw/driver/rados/rgw_sync_module.h
  src/rgw/driver/rados/rgw_sync_module_aws.h
  src/rgw/driver/rados/rgw_sync_module_es.cc
  src/rgw/driver/rados/rgw_trim_bilog.cc
  src/rgw/rgw_bucket_layout.cc
  src/rgw/rgw_bucket_layout.h
  src/rgw/rgw_common.cc
  src/rgw/rgw_common.h
  src/rgw/rgw_sync_policy.cc
  src/rgw/rgw_sync_policy.h
  src/rgw/services/svc_bucket_sobj.cc
  src/test/rgw/rgw_multi/tests.py
Labels: documentation, rgw, tests

#62664 reef: mgr/dashboard: Dashboard not showing Object/Overview correctly.
  src/pybind/mgr/dashboard/frontend/src/app/ceph/dashboard-v3/dashboard-area-chart/dashboard-area-chart.component.ts
Labels: pybind, dashboard

#62213 squid: LogMonitor: set no_reply for forward MLog commands
  src/mon/LogMonitor.cc
Labels: core, needs-qa, mon, wip-bharath11-testing

#62688 reef: test/librbd/test_notify.py: conditionally ignore some errors
  src/test/librbd/test_notify.py
Labels: rbd, tests

#62687 doc/cephadm/services: improve rgw.rst and snmp-gateway.rst
  doc/cephadm/services/rgw.rst
Labels: documentation, cephadm

#62694 squid: doc/cephadm/services: improve rgw.rst and snmp-gateway.rst
  doc/cephadm/services/rgw.rst
Labels: documentation, cephadm

#62695 reef: doc/cephadm/services: improve rgw.rst and snmp-gateway.rst
  doc/cephadm/services/rgw.rst
Labels: documentation, cephadm

#62625 squid: monitoring: Fix OSDs panel in host-details grafana dashboard
  monitoring/ceph-mixin/dashboards/host.libsonnet
  monitoring/ceph-mixin/dashboards_out/host-details.json
Labels: monitoring, backport: no-conflicts

#62080 crimson/osd/pg_recovery: use OperationThrottler to throttle object pushes/pulls
  src/crimson/osd/backfill_state.cc
  src/crimson/osd/backfill_state.h
  src/crimson/osd/osd_operation.cc
  src/crimson/osd/osd_operation.h
  src/crimson/osd/osd_operations/background_recovery.cc
  src/crimson/osd/osd_operations/background_recovery.h
  src/crimson/osd/pg_recovery.cc
  src/crimson/osd/pg_recovery.h
  src/crimson/osd/shard_services.h
Labels: common, crimson, wip-matan-testing, needs-crimson-qa

#62649 test/crimson/test_crimson_coroutines: showcase errorator examples
  src/test/crimson/test_crimson_coroutine.cc
Labels: tests, crimson

#62596 mgr/dashboard: introduce dashboard setting to resolve rgw hostname
  doc/mgr/dashboard.rst
  src/pybind/mgr/dashboard/module.py
  src/pybind/mgr/dashboard/services/rgw_client.py
  src/pybind/mgr/dashboard/services/service.py
  src/pybind/mgr/dashboard/settings.py
  src/pybind/mgr/dashboard/tests/test_rgw_client.py
Labels: documentation, pybind, mgr, dashboard, ui-tested

#60890 osd, os: drop the OmapIterator in favor of omap_iterate. Remove ObjectMap
  ceph.spec.in
  debian/ceph-osd.install
  src/os/CMakeLists.txt
  src/os/DBObjectMap.cc
  src/os/DBObjectMap.h
  src/os/ObjectMap.h
  src/os/ObjectStore.h
  src/os/bluestore/BlueStore.cc
  src/os/bluestore/BlueStore.h
  src/os/kstore/KStore.cc
  src/os/kstore/KStore.h
  src/os/memstore/MemStore.cc
  src/os/memstore/MemStore.h
  src/osd/OSD.cc
  src/osd/PGLog.h
  src/osd/PrimaryLogPG.cc
  src/osd/ReplicatedBackend.cc
  src/osd/SnapMapper.cc
  src/osd/SnapMapper.h
  src/osd/osd_types.h
  src/test/ObjectMap/CMakeLists.txt
  src/test/ObjectMap/test_object_map.cc
  src/test/objectstore/ObjectStoreImitator.h
  src/test/objectstore/store_test.cc
  src/test/test_snap_mapper.cc
  src/tools/CMakeLists.txt
  src/tools/ceph-dencoder/osd_types.h
  src/tools/ceph_objectstore_tool.cc
  src/tools/ceph_osdomap_tool.cc
Labels: core, needs-qa, tests, common, build/ops, performance, bluestore, crimson, wip-bharath10-testing

#62038 cephadm: update and improve container image infer function
  src/cephadm/cephadm.py
  src/cephadm/cephadmlib/container_engines.py
  src/cephadm/cephadmlib/container_lookup.py
  src/cephadm/cephadmlib/listing.py
  src/cephadm/tests/fixtures.py
  src/cephadm/tests/test_cephadm.py
Labels: cephadm, wip-adk-testing

#62563 osd: replace deprecated atomic_store with std::atomic<shared_ptr>
  src/osd/OSD.h
Labels: cleanup, core

#62679 mgr/dashboard: add nvmeof performance and overview grafana dashboard to Block -> Nvme/TCP tab in dashboard
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/block.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/nvmeof-gateway/nvmeof-gateway.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/nvmeof-gateway/nvmeof-gateway.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/nvmeof-subsystems-details/nvmeof-subsystems-details.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/nvmeof-subsystems-details/nvmeof-subsystems-details.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/nvmeof-subsystems-details/nvmeof-subsystems-details.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/nvmeof-subsystems/nvmeof-subsystems.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/block/nvmeof-subsystems/nvmeof-subsystems.component.ts
Labels: pybind, dashboard

#62640 rgw: add force option to `radosgw-admin object rm ...`
  doc/man/8/radosgw-admin.rst
  src/cls/rgw/cls_rgw.cc
  src/rgw/driver/rados/rgw_bucket.cc
  src/rgw/driver/rados/rgw_bucket.h
  src/rgw/driver/rados/rgw_rados.cc
  src/rgw/driver/rados/rgw_rados.h
  src/rgw/driver/rados/rgw_sal_rados.cc
  src/rgw/radosgw-admin/radosgw-admin.cc
  src/rgw/rgw_sal.h
  src/test/cli/radosgw-admin/help.t
Labels: feature, documentation, rgw, needs-qa, tests, wip-eric-testing-1

#62535 osd/../client_request: Fix clone replicated reads
  src/crimson/osd/ops_executer.cc
  src/crimson/osd/osd_operations/client_request.cc
  src/crimson/osd/pg.cc
  src/crimson/osd/pg.h
  src/osd/PeeringState.h
  src/osd/osd_types.h
  src/test/osd/types.cc
Labels: core, tests, crimson, ready-to-merge, wip-matan-testing

#62691 qa/crontab: Update Crimson's Cron Jobs
  qa/crontab/teuthology-cronjobs
Labels: tests

#62635 test/crimson/test_errorator: showcase assert_all/handle/pass_furhter
  src/test/crimson/test_errorator.cc
Labels: tests, crimson

#62571 rgw: BucketTrimShardCollectCR expect ENODATA as empty
  src/rgw/driver/rados/rgw_cr_rados.cc
  src/rgw/driver/rados/rgw_trim_bilog.cc
Labels: cleanup, rgw, needs-qa, wip-eric-testing-2

#61496 squid: qa/workunits/mon: ensure election strategy is "connectivity" for stretch mode
  qa/suites/rados/singleton/all/stretch-mode-5-mons-8-osds.yaml
  qa/workunits/mon/mon-stretch-mode-5-mons-8-osds.sh
Labels: core, tests, mon, backport: no-conflicts

#62270 squid: debian: add ceph-exporter package
  ceph.spec.in
  debian/ceph-exporter.install
  debian/control
  debian/rules
  systemd/CMakeLists.txt
  systemd/ceph-exporter.service.in
Labels: needs-qa, build/ops, wip-yuri8-testing

#62720 mailmap: update affiliation for Kefu Chai
  .githubmap
  .mailmap
Labels: build/ops

#60670 rgw/rados: add async algorithms for concurrent index operations
  src/cls/rgw/cls_rgw_client.cc
  src/cls/rgw/cls_rgw_client.h
  src/cls/rgw/cls_rgw_ops.h
  src/rgw/driver/posix/rgw_sal_posix.cc
  src/rgw/driver/posix/rgw_sal_posix.h
  src/rgw/driver/rados/rgw_bucket.cc
  src/rgw/driver/rados/rgw_bucket.h
  src/rgw/driver/rados/rgw_rados.cc
  src/rgw/driver/rados/rgw_rados.h
  src/rgw/driver/rados/rgw_reshard.cc
  src/rgw/driver/rados/rgw_reshard.h
  src/rgw/driver/rados/rgw_rest_log.cc
  src/rgw/driver/rados/rgw_sal_rados.cc
  src/rgw/driver/rados/rgw_sal_rados.h
  src/rgw/driver/rados/rgw_trim_bilog.cc
  src/rgw/driver/rados/rgw_trim_bilog.h
  src/rgw/driver/rados/shard_io.h
  src/rgw/radosgw-admin/radosgw-admin.cc
  src/rgw/rgw_op.cc
  src/rgw/rgw_quota.cc
  src/rgw/rgw_sal.h
  src/rgw/rgw_sal_dbstore.cc
  src/rgw/rgw_sal_dbstore.h
  src/rgw/rgw_sal_filter.cc
  src/rgw/rgw_sal_filter.h
  src/rgw/rgw_sal_store.h
  src/rgw/services/svc_bi.h
  src/rgw/services/svc_bi_rados.cc
  src/rgw/services/svc_bi_rados.h
  src/rgw/services/svc_bilog_rados.cc
  src/rgw/services/svc_bilog_rados.h
  src/test/cls_rgw/test_cls_rgw.cc
  src/test/cls_rgw/test_cls_rgw_stats.cc
  src/test/rgw/CMakeLists.txt
  src/test/rgw/test_rgw_shard_io.cc
Labels: rgw, tests, build/ops, TESTED

#61909 include,dpdk: fix two usages of std::iterator (deprecated)
  src/include/rangeset.h
  src/msg/async/dpdk/circular_buffer.h
Labels: cleanup, core, needs-qa, wip-bharath15-testing

#62216 reef: os/bluestore: fix bdev expansion and more
  src/os/bluestore/BlueFS.cc
  src/os/bluestore/BlueStore.cc
  src/os/bluestore/BlueStore.h
Labels: core, needs-qa, bluestore, backport, wip-bharath13-testing

#60562 squid: mgr: allow disabling always-on modules
  PendingReleaseNotes
  qa/cephfs/overrides/ignorelist_health.yaml
  qa/tasks/cephfs/test_admin.py
  src/mgr/PyModuleRegistry.cc
  src/mon/MgrMap.h
  src/mon/MgrMonitor.cc
  src/mon/MonCommands.h
Labels: documentation, core, cephfs, needs-qa, tests, needs-review, mgr, mon, wip-bharath3-testing

#62221 squid: blk/KernelDevice: Introduce a cap on the number of pending discards
  src/blk/kernel/KernelDevice.cc
  src/blk/kernel/KernelDevice.h
  src/common/options/global.yaml.in
Labels: core, needs-qa, common, backport, wip-bharath14-testing

#61854 squid: pybind/mgr/mgr_module: turn off all automatic transactions
  src/pybind/mgr/mgr_module.py
Labels: core, needs-qa, pybind, mgr, libcephsqlite, wip-bharath14-testing

#62143 squid: os/bluestore: do cache locally compressor engines ever used
  src/os/bluestore/BlueStore.cc
  src/os/bluestore/BlueStore.h
  src/test/objectstore/store_test.cc
Labels: core, needs-qa, tests, bluestore, backport, wip-bharath14-testing

#62588 os/bluestore: Fix race in BlueFS truncate / remove
  src/os/bluestore/BlueFS.cc
  src/os/bluestore/BlueFS.h
  src/test/objectstore/store_test.cc
Labels: core, tests, bluestore, aclamk-testing-ganymede

#62224 os/bluestore: Fast WAL for RocksDB
  doc/man/8/ceph-bluestore-tool.rst
  src/common/options/global.yaml.in
  src/include/buffer.h
  src/include/denc.h
  src/os/bluestore/BlueFS.cc
  src/os/bluestore/BlueFS.h
  src/os/bluestore/BlueRocksEnv.cc
  src/os/bluestore/BlueStore.cc
  src/os/bluestore/BlueStore.h
  src/os/bluestore/bluefs_types.cc
  src/os/bluestore/bluefs_types.h
  src/os/bluestore/bluestore_tool.cc
  src/test/objectstore/test_bluefs.cc
Labels: documentation, core, tests, common, build/ops, performance, bluestore, aclamk-testing-ganymede

#62727 test/librbd/test_notify.py: force line-buffered output
  src/test/librbd/test_notify.py
Labels: rbd, tests

#62730 reef: mgr/dashboard: Fix empty ceph version in GET api/hosts
  src/pybind/mgr/dashboard/controllers/host.py
  src/pybind/mgr/dashboard/tests/test_host.py
Labels: pybind, dashboard

#62054 reef: os/bluestore: Fix ExtentDecoderPartial::_consume_new_blob
  src/os/bluestore/BlueStore.cc
Labels: core, needs-qa, bluestore, wip-yuri5-testing

#62122 reef: tools/ceph-objectstore-tool: tricks to tolerate disk errors for "pg export" command
  src/os/ObjectStore.h
  src/os/bluestore/BlueStore.cc
  src/os/bluestore/BlueStore.h
  src/os/bluestore/bluestore_tool.cc
  src/test/objectstore/store_test.cc
  src/test/objectstore/store_test_fixture.h
  src/tools/ceph_kvstore_tool.cc
  src/tools/ceph_objectstore_tool.cc
  src/tools/ceph_objectstore_tool.h
  src/tools/kvstore_tool.cc
  src/tools/kvstore_tool.h
Labels: core, needs-qa, tests, bluestore, wip-yuri5-testing, backport

#62540 squid: Backport the hybrid_btree2 allocator and prereqs
  src/common/options/global.yaml.in
  src/crimson/os/alienstore/CMakeLists.txt
  src/include/intarith.h
  src/os/CMakeLists.txt
  src/os/bluestore/Allocator.cc
  src/os/bluestore/Allocator.h
  src/os/bluestore/AvlAllocator.cc
  src/os/bluestore/AvlAllocator.h
  src/os/bluestore/BlueFS.cc
  src/os/bluestore/BlueStore.cc
  src/os/bluestore/Btree2Allocator.cc
  src/os/bluestore/Btree2Allocator.h
  src/os/bluestore/BtreeAllocator.h
  src/os/bluestore/HybridAllocator.cc
  src/os/bluestore/HybridAllocator.h
  src/os/bluestore/HybridAllocator_impl.h
  src/test/objectstore/Allocator_bench.cc
  src/test/objectstore/Allocator_test.cc
  src/test/objectstore/allocator_replay_test.cc
  src/test/objectstore/hybrid_allocator_test.cc
  src/test/objectstore/store_test.cc
Labels: core, needs-qa, tests, common, build/ops, bluestore, crimson, wip-bharath16-testing

#62706 test/rgw/multisite: fix parsing of 'topic list' output
  src/test/rgw/rgw_multi/tests.py
Labels: rgw, needs-qa, tests, wip-cbodley-testing

#62159 qa/rgw: use storage classes for rgw/crypt
  qa/suites/rgw/bucket-logging/overrides.yaml
  qa/suites/rgw/cloud-transition/overrides.yaml
  qa/suites/rgw/cloud-transition/tasks/restore/cloud_restore_s3tests.yaml
  qa/suites/rgw/cloud-transition/tasks/transition/cloud_transition_s3tests.yaml
  qa/suites/rgw/crypt/overrides.yaml
  qa/suites/rgw/lifecycle/overrides.yaml
  qa/suites/rgw/lua/overrides.yaml
  qa/suites/rgw/multifs/overrides.yaml
  qa/suites/rgw/notifications/overrides.yaml
  qa/suites/rgw/sts/overrides.yaml
  qa/suites/rgw/verify/overrides.yaml
  qa/tasks/rgw.py
Labels: rgw, tests, wip-cbodley-testing

#62538 rgw: send concurrent watch/unwatch operations
  src/common/async/detail/spawn_throttle_impl.h
  src/common/options/rgw.yaml.in
  src/librados/librados_asio.h
  src/rgw/driver/rados/rgw_tools.cc
  src/rgw/driver/rados/rgw_tools.h
  src/rgw/services/svc_notify.cc
  src/rgw/services/svc_notify.h
Labels: rgw, needs-qa, common, wip-cbodley-testing

#57206 rgw: implement RestrictPublicBuckets from PublicAccessBlock
  PendingReleaseNotes
  src/rgw/rgw_common.cc
Labels: documentation, rgw, TESTED, ready-to-merge

#61652 os/bluestore: print the first RocksDB level which doesn't fit into fast
  src/os/bluestore/BlueStore.cc
  src/os/bluestore/BlueStore.h
Labels: core, needs-qa, performance, bluestore, wip-yuri13-testing

#62451 osd: EC optimizations: new types and additions to data structures
  src/osd/ECTypes.h
  src/osd/osd_types.cc
  src/osd/osd_types.h
Labels: documentation, core, needs-qa, performance, pybind, mgr, dashboard, wip-yuri13-testing

#61986 squid: doc/rgw: clarify path-style vs virtual-hosted-style access
  doc/radosgw/s3/commons.rst
Labels: documentation, wip-yuri8-testing

#62402 squid: rgw: Try to handle unwatch errors sensibly
  src/rgw/services/svc_notify.cc
Labels: bug-fix, needs-qa, wip-yuri8-testing, backport

#62580 cmake/modules/FindBoost.cmake: fix Boost_NO_WARN_NEW_VERSIONS
  cmake/modules/FindBoost.cmake
Labels: build/ops, ready-to-merge

#62662 rgw: Fix deprecated amqp includes
  src/rgw/rgw_amqp.cc
  src/test/rgw/amqp_mock.cc
  src/test/rgw/amqp_url.c
Labels: cleanup, rgw, tests

#62395 squid: rados/test_crash.sh: add PG_DEGRADED to ignorelist
  qa/suites/rados/singleton/all/test-crash.yaml
Labels: core, needs-qa, wip-bharath16-testing

#62326 reef: OSDMonitor: exclude destroyed OSDs from "ceph node ls" output
  src/mon/OSDMonitor.cc
Labels: core, needs-qa, mon, TESTED, ready-to-merge

#62633 crimson/os/seastore: cleanups related to lba and cache
  src/crimson/os/seastore/btree/btree_range_pin.h
  src/crimson/os/seastore/cache.cc
  src/crimson/os/seastore/cache.h
  src/crimson/os/seastore/cached_extent.h
  src/crimson/os/seastore/lba_manager.cc
  src/crimson/os/seastore/lba_manager.h
  src/crimson/os/seastore/lba_manager/btree/btree_lba_manager.cc
  src/crimson/os/seastore/lba_manager/btree/btree_lba_manager.h
  src/crimson/os/seastore/transaction.h
  src/crimson/os/seastore/transaction_manager.cc
  src/crimson/os/seastore/transaction_manager.h
Labels: cleanup, crimson, TESTED, seastore

#62751 reef: test/librbd/test_notify.py: force line-buffered output
  src/test/librbd/test_notify.py
Labels: rbd, tests

#62721 reef: os/bluestore: make BlueFS an exclusive selector for volume reserved
  src/os/bluestore/BlueFS.cc
  src/os/bluestore/BlueFS.h
  src/os/bluestore/BlueStore.cc
  src/os/bluestore/bluestore_common.h
  src/test/objectstore/test_bluefs.cc
Labels: core, needs-qa, tests, bluestore

#62762 doc/cephfs: Fix double prompts in commands in multimds.rst
  doc/cephfs/multimds.rst
Labels: documentation, cephfs

#62753 mgr/cephadm/nvmeof: Add OMAP read lock parameters to NVMEoF configuration
  src/pybind/mgr/cephadm/templates/services/nvmeof/ceph-nvmeof.conf.j2
  src/pybind/mgr/cephadm/tests/test_services.py
  src/python-common/ceph/deployment/service_spec.py
Labels: pybind, cephadm, wip-adk-testing, nvmeof

#60785 squid: rgw: implement x-amz-replication-status for PENDING & COMPLETED
  src/rgw/driver/d4n/rgw_sal_d4n.cc
  src/rgw/driver/d4n/rgw_sal_d4n.h
  src/rgw/driver/daos/rgw_sal_daos.cc
  src/rgw/driver/daos/rgw_sal_daos.h
  src/rgw/driver/motr/rgw_sal_motr.cc
  src/rgw/driver/motr/rgw_sal_motr.h
  src/rgw/driver/posix/rgw_sal_posix.cc
  src/rgw/driver/posix/rgw_sal_posix.h
  src/rgw/driver/rados/rgw_bucket_sync.cc
  src/rgw/driver/rados/rgw_bucket_sync.h
  src/rgw/driver/rados/rgw_rados.cc
  src/rgw/driver/rados/rgw_rados.h
  src/rgw/driver/rados/rgw_sal_rados.cc
  src/rgw/driver/rados/rgw_sal_rados.h
  src/rgw/rgw_op.cc
  src/rgw/rgw_op.h
  src/rgw/rgw_rest_s3.cc
  src/rgw/rgw_sal.h
  src/rgw/rgw_sal_dbstore.cc
  src/rgw/rgw_sal_dbstore.h
  src/rgw/rgw_sal_filter.cc
  src/rgw/rgw_sal_filter.h
  src/rgw/rgw_sal_store.h
  src/rgw/rgw_sync_policy.cc
  src/rgw/rgw_sync_policy.h
  src/test/rgw/rgw_multi/tests.py
  src/test/rgw/rgw_multi/zone_rados.py
  src/test/rgw/test_d4n_filter.cc
Labels: rgw, needs-qa, tests, wip-yuri11-testing

#62307 squid: rgw/multisite: handle errors properly in RGWDataFullSyncSingleEntryCR()
  src/rgw/driver/rados/rgw_data_sync.cc
Labels: bug-fix, rgw, needs-qa, wip-yuri11-testing, backport

#62311 squid: test/cls_2pc_queue: fix multi-threaded access to non-atomic variables
  src/test/cls_2pc_queue/test_cls_2pc_queue.cc
Labels: bug-fix, needs-qa, tests, wip-yuri11-testing, backport

#62663 build: Pull TBB into `$EXTRALIBS` if it is available
  src/common/io_exerciser/CMakeLists.txt
Labels: cleanup, common, build/ops

#62759 doc/ceph-volume: Promptify commands and fix formatting
  doc/ceph-volume/drive-group.rst
  doc/ceph-volume/lvm/list.rst
  doc/ceph-volume/lvm/prepare.rst
Labels: documentation, ceph-volume

#62734 doc: squid 19.2.2 release notes
  doc/releases/index.rst
  doc/releases/releases.yml
  doc/releases/squid.rst
Labels: documentation

#62739 v19.2.2
  CMakeLists.txt
  debian/changelog
  qa/workunits/rgw/test_rgw_orphan_list.sh
  src/rgw/driver/dbstore/common/dbstore.h
  src/rgw/driver/rados/rgw_putobj_processor.cc
  src/rgw/driver/rados/rgw_putobj_processor.h
  src/rgw/driver/rados/rgw_rados.cc
  src/rgw/driver/rados/rgw_rados.h
  src/rgw/rgw_sal.cc
  src/rgw/rgw_sal.h
Labels: rgw, tests, build/ops

#62589 doc: reef 18.2.5 release notes
  doc/releases/index.rst
  doc/releases/reef.rst
  doc/releases/releases.yml
Labels: documentation

#62163 Enabling containerized debian pipeline builds
  debian/rules
  make-debs.sh
  src/script/build-with-container.py
  src/script/buildcontainer-setup.sh
Labels: build/ops, script

#62527 mgr/dashboard: add file uploader for smb usersandgroups
  src/pybind/mgr/dashboard/frontend/package-lock.json
  src/pybind/mgr/dashboard/frontend/package.json
  src/pybind/mgr/dashboard/frontend/src/app/ceph/smb/smb-usersgroups-form/smb-usersgroups-form.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/smb/smb-usersgroups-form/smb-usersgroups-form.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/smb/smb.model.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/smb.service.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/smb.service.ts
Labels: pybind, dashboard, ui-tested

#62697 mgr/dashboard: fix subsystems list api response
  src/pybind/mgr/dashboard/controllers/nvmeof.py
Labels: pybind, dashboard

#62601 mgr/dashboard: make smb tabs routable
  src/pybind/mgr/dashboard/frontend/src/app/app-routing.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/smb/smb-cluster-list/smb-cluster-list.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/smb/smb-cluster-list/smb-cluster-list.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/smb/smb-join-auth-list/smb-join-auth-list.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/smb/smb-join-auth-list/smb-join-auth-list.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/smb/smb-overview/smb-overview.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/smb/smb-tabs/smb-tabs.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/smb/smb-tabs/smb-tabs.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/smb/smb-usersgroups-list/smb-usersgroups-list.component.html
Labels: pybind, dashboard, ui-tested

#62771 cls/rbd: drop overzealous CLS_ERR message in mirror_remote_namespace_get()
  src/cls/rbd/cls_rbd.cc
Labels: bug-fix, rbd

#62780 rgw: Fix compilation issue with clang on centos
  src/rgw/services/svc_notify.cc
Labels: rgw, ready-to-merge

#62749 rgw/doc: add man documentation for the rgw-gap-list tool
  doc/man/8/CMakeLists.txt
  doc/man/8/rgw-gap-list.rst
Labels: documentation, rgw, build/ops, needs-review

#62704 osd/scheduler/OpSchedulerItem: Fix calculation of recovery latency counters
  src/osd/scheduler/OpSchedulerItem.cc
Labels: core, needs-qa, wip-bharath17-testing

#62757 mgr/dashboard: add description for default Pool Application select options
  src/pybind/mgr/dashboard/frontend/src/app/ceph/pool/pool-form/pool-form-data.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/pool/pool-form/pool-form.component.ts
Labels: pybind, dashboard

#62490 osd: Restrict choice of primary shard for ec_optimizations pools
  src/mon/OSDMonitor.cc
  src/osd/OSDMap.cc
  src/osd/OSDMap.h
  src/osd/PeeringState.cc
  src/test/osd/TestOSDMap.cc
Labels: core, needs-qa, tests, common, performance, mon, crimson, wip-bharath17-testing

#62786 doc: minor additions based on the latest mods
  doc/dev/release-process.rst
Labels: documentation

#62732 mgr/dashboard: allow selecting target gw in nvmeof cli/api endpoints
  src/pybind/mgr/dashboard/controllers/nvmeof.py
  src/pybind/mgr/dashboard/openapi.yaml
Labels: pybind, dashboard, api-change

#62784 doc/cephadm: Add admonition re restarting an OSD service
  doc/cephadm/operations.rst
  doc/cephadm/services/osd.rst
Labels: documentation, cephadm

#62796 squid: doc/cephadm: Add admonition re restarting an OSD service
  doc/cephadm/operations.rst
  doc/cephadm/services/osd.rst
Labels: documentation, cephadm

#62797 reef: doc/cephadm: Add admonition re restarting an OSD service
  doc/cephadm/operations.rst
  doc/cephadm/services/osd.rst
Labels: documentation, cephadm

#62776 mgr/dashboard: RGW - Tiering form - secret key fix
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-storage-class-form/rgw-storage-class-form.component.ts
Labels: pybind, dashboard

#61273 mgr/dashboard: Add RGW topic listing in dashboard
  src/pybind/mgr/dashboard/controllers/rgw.py
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-topic-details/rgw-topic-details.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-topic-details/rgw-topic-details.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-topic-details/rgw-topic-details.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-topic-details/rgw-topic-details.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-topic-list/rgw-topic-list.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-topic-list/rgw-topic-list.component.scss
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-topic-list/rgw-topic-list.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-topic-list/rgw-topic-list.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw.module.ts
  src/pybind/mgr/dashboard/frontend/src/app/core/navigation/navigation/navigation.component.html
  src/pybind/mgr/dashboard/frontend/src/app/core/navigation/navigation/navigation.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/rgw-topic.service.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/api/rgw-topic.service.ts
  src/pybind/mgr/dashboard/frontend/src/app/shared/models/topic.model.ts
  src/pybind/mgr/dashboard/tests/test_rgw.py
Labels: pybind, dashboard, api-change, ui-tested

#62761 mgr/dashboard: RGW - Reatin Head Object Fix
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/models/rgw-storage-class.model.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-storage-class-details/rgw-storage-class-details.component.html
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-storage-class-details/rgw-storage-class-details.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-storage-class-details/rgw-storage-class-details.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-storage-class-form/rgw-storage-class-form.component.spec.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/rgw-storage-class-form/rgw-storage-class-form.component.ts
  src/pybind/mgr/dashboard/frontend/src/app/ceph/rgw/utils/rgw-bucket-tiering.ts
  src/pybind/mgr/dashboard/services/rgw_client.py
Labels: pybind, dashboard, ui-tested

#62692 osd/scrub: additional configuration parameters to trigger scrub reschedule
  src/osd/OSD.cc
Labels: bug-fix, core, TESTED, backport squid

#61323 squid: common/pick_address: Add IPv6 support to is_addr_in_subnet
  src/common/pick_address.cc
  src/common/pick_address.h
  src/osd/OSDMap.cc
  src/test/test_ipaddr.cc
Labels: core, needs-qa, tests, common, TESTED, ready-to-merge

#62804 ceph.spec.in: package man/rgw-gap-list
  ceph.spec.in
Labels: build/ops, ready-to-merge

#61610 test/bufferlist: turn the old last_p fix verification on
  src/test/bufferlist.cc
Labels: tests, skip-teuthology

#62799 doc/cephadm/services: Fix formatting in osd.rst
  doc/cephadm/services/osd.rst
Labels: documentation, cephadm

#61786 mgr/dashboard: Ns create size fix
  src/pybind/ceph_argparse.py
  src/pybind/mgr/dashboard/controllers/nvmeof.py
  src/pybind/mgr/dashboard/openapi.yaml
  src/pybind/mgr/tests/test_ceph_argtypes.py
  src/pybind/mgr/tests/test_cli_command.py
Labels: pybind, wip-yuri2-testing, mgr, dashboard, api-change, nvmeof

#62810 squid: doc/cephadm/services: Fix formatting in osd.rst
  doc/cephadm/services/osd.rst
Labels: documentation, cephadm

#62811 reef: doc/cephadm/services: Fix formatting in osd.rst
  doc/cephadm/services/osd.rst
Labels: documentation, cephadm

#62807 doc: changed refs from quincy to squid
  doc/dev/release-process.rst
Labels: documentation

#62576 squid: blk/kerneldevice: fix invalid iterator usage after erase in discard_q…
  src/blk/kernel/KernelDevice.cc
  src/include/interval_set.h
Labels: bug-fix, core, needs-qa, wip-bharath16-testing
